---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>Barnabism</title>
<h2>Barnabism</h2>
<p class="line"></p>
<p style="font-size: 180%;">Worked on:</p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/d1/mn"><u>Magnitude Negative</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/d1/dst">&nbsp<u>Looking Back 1</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/d1/dst"><u>Q&A 1</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/d2/d2st"><u>Looking Back 2</u></a></p> 
<p class ="menu" style="font-size: 180%;"><a href="/stories/d2/d2st"><u>Q&A 2</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/d3/d1.3"><u>Drakengard 1.3</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/misc"><u>Character Exchange Roundtable</u></a></p>
<p class="line"></p>
<p style="font-size: 180%;">Socials:</p>
<p class ="menu" style="font-size: 180%;"><a href="https://barnabisms.straw.page/"><u>Strawpage</u></a></p>
<p class="line"></p>
<p class="menu"><a href="/credits">Back</a></p>
<!--Fuck all this shit -Sanic "Ace Detective" Kiske -->
