---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<p class="title">Help?</p>
<p class="para">These are the people whose content I have on the site, but can't find a way to contact them to ask for permission. If anyone knows a way to contact them, please let me know.</p>
<p class="line"></p>
<title>Help</title>
<a href="/credits/help/unknown"><p class="menu">Unknown</p></a>
<p class="line"></p>
<a href="/credits/help/kho-dazat"><p class="menu">kho-dazat</p></a>
<p class="line"></p>
<a href="/credits/help/emily"><p class="menu">Emily</p></a>
<p class="line"></p>
<p class="menu">Defade</p>
<p class="line"></p>
<p class="menu">Dr_Mint</p>
<p class="line"></p>
<p class="menu">RaizinMonk</p>
<p class="line"></p>
<p class="menu">mintychu</p>
<p class="line"></p>

<p class="menu"><a href="/credits">Back</a></p>