---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>Kestrel</title>
<h2>Kestrel</h2>
<p class="line"></p>
<p style="font-size: 180%;">Worked on:</p>
<p class ="menu" style="font-size:180%;"><a href=/stories/d1/cnov><u>D1 Character Novellas</u></a></p>
<p class="line"></p>
<p style="font-size: 180%;">Socials:</p>
<p class ="menu" style="font-size: 180%;"><a href="https://rikoren.dreamwidth.org/profile"><u>Dreamwidth</u></a></p>
<p class="line"></p>
<p class="menu"><a href="/credits">Back</a></p>