---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>MrKusabi</title>
<h2>MrKusabi</h2>
<p class="line"></p>
<p style="font-size: 180%;">Worked on:</p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/d3/ss"><u>D3 Story Side</u></a></p>
<p class="line"></p>
<p style="font-size: 180%;">Socials:</p> 
<p class ="menu" style="font-size: 180%;"><a href="https://mrkusabi.wordpress.com/"><u>Wordpress</u></a></p>
<p class="line"></p>
<p class="menu"><a href="/credits">Back</a></p>