---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Lars's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Lars's Character Story</p>
<p class="title"><a href="https://www.youtube.com/watch?v=JOKWJZiYo44"><u>Video</u></a></p>
<p class="title">Chapter 1</p>
<p class="para">I inhale a lungful of battlefield air, rich with a mix of gunsmoke and blood. Our operation
was a smashing success, but while my fellow soldiers are content going back to base and
celebrating our victory, I'm heading out on a new mission. Because the only time I feel alive
now is when I fight. Revenge drove me. It's all that ever drove me. But then I ended up killing
my own father. And on top of that, it turns out the people I called my family were actually my
enemies. What a goddamn joke, right? Anybody else laughing here?</p>
<p class="para">When I return to reality, I see piles of corpses everywhere. It's all my doing, this carnage,
but instead of rage or sorrow, I just feel a strange sense of calm. Honestly, killing is the only
thing that brings me peace anymore. Suddenly, an explosion shakes the ground—a close one.
The sky turns red as flames arc up toward the heavens. As I stare at this crimson sky, my heart
begins to race. I set out in search of someone to fight, hoping to calm my jangled nerves.</p>
<p class="title">Chapter 2</p>
<p class="para">The war has turned in our favor. The enemies we don't kill we send running into the night...
<br>But it still isn't enough. I find myself picking my way across a viscera-strewn battlefield just in
case we missed a straggler. After a bit, I sense someone hiding behind a collapsed house.
<br>Battle fever floods my senses. I raise my sword and leap out of hiding, prepared to strike down
my terrible foe. But there, crouching on the ground, is a little girl.</p>
<p class="para"><i>Goddammit</i>, I think. <i>We're under orders to protect civilians, which means I gotta drag
this kid around with me until I find a place to dump her off. What a pain in the ass.</i>
I extend a bloody hand and grab the girl by the arm. She screams. I don't care. I give her a
good yank and start walking. She responds by pinwheeling her other arm and toppling face-down
into the mud. That's when I realize the kid is blind.</p>
<p class="title">Chapter 3</p>
<p class="para">The girl, still sitting on the ground, grabs my hand and says,
<br>"Oh no, mister! You're bleeding. Are you okay?"
<br>The question hits me wrong, and I smack her hand away. After that, we wait in a long,
uncomfortable silence.</p>
<p class="para">"It's not my blood," I say finally, as much to break the silence as anything else. I wipe my hand
on my pants to clear off as much gore as I can, then help the kid up. Her hands are so damn <i>soft</i>.
<br>I'd forgotten hands could be soft. The only thing mine are good for any more is murder;
it's hard to believe her hands and mine are the same thing.</p>
<p class="para">With no other choice, I throw her across my back and start working my way back to base.
<br>I can feel the kid's warmth against me. And there, in the strange silence you always get on a
battlefield after a fight... The only thing I can hear is the beating of my own heart.</p>
<p class="title">Chapter 4</p>
<p class="para">Eventually, we make it to a field hospital. It's a nice place, actually, with sunlight coming
through the windows and wind rustling the trees. The kid seems okay with it, at least. She lies
on a bed, her gaze trained on the window to her side.</p>
<p class="para">
"Hey, kid," I ask her.
<br>"What were you doing on the ground back there?"</p>
<p class="para">She pauses for a second, then speaks. She tells me how she'd been neglected by her parents
her whole life before they finally abandoned her once the war came home.</p>
<p class="para">When her story is done, she turns her head in my direction and asks:
<br>"What color is the sky right now, mister?" I take a look out the window.
</p>
<p class="para">"Blue," I say.
<br>"A nice, deep blue."</p>
<p class="para">She closes her eyes—I have no idea why—and begins to try and imagine what <i>blue</i> might look
like. I don't know why I feel uneasy here, but I do. Something about being near this kid puts
me on edge. My heart is racing again—but in a different way than the discomfort I've felt for
my entire life. And as I try to identify what this strange feeling is, I picture the color of the sky
in the girl's imagination.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/lars">Back</a></p>