---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>The Garden of Light</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
</style>
<p style="margin-top: 1cm; font-size: 300%;"><strong>The Garden of Light</strong></p>
<img src="https://files.catbox.moe/t081rp.jpg">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: kho-dazat</p>   
<p class="para">When was the last time I dreamt? Since when had my sleep become dreamless? All sleeping consisted of now was closing my eyes and waiting for my consciousness to fade into a deep, dark chasm…</p>
<p class="para">Eris turned over to avoid the morning light that was pouring onto her face. She had purposefully had her bed moved to the corner where the sun hit the most, for she feared that if not for it she might never awake. Her body’s fatigue was not the sort that could be alleviated by a single night’s rest, after all.</p>
<p class="para">Sighing, she began concentrating on lifting herself up. Her body was stiff in the mornings and creaked in resistance to every movement, her backbone giving an audible crack. Ignoring the compulsion to fall back into bed, Eris gingerly placed her feet on the floor. Slowly but surely she went through her morning routine, including brushing her hair and putting on her clothes. Sadly, these things made her well out of breath.</p>
<p class="para"><i>(It can’t be helped… after all, this body doesn’t belong to me anymore.)</i></p>
<p class="para">Eris was the Goddess, who carried on her the Seal which kept the world from reverting to its original chaotic state. In other words, she was the pillar that upheld the world as humanity knew it. As such, from the moment she took on the role, Eris believed that her body and life were no longer hers alone… even if the pain of the Seal was.</p>
<p class="para">Rising, she began to walk while holding onto the wall. Her every step was heavy. It reminded her of how she used to cross rivers outfitted in heavy armors as part of her training with the Knights of Seal, back when it was still under the command of General Oror. She supposed she was about twelve at the time… maybe slightly younger, since she and Nowe were still squires. By that time Nowe had learned enough of human speech to communicate mostly normally, but he would still sometimes make mistakes. Eris always took care to correct him. It all seemed so nostalgic, now… For a moment, her warm memories flooded out the pain in her chest, but as if in retaliation, it came back more fiercer than ever. Stopping in her tracks, hand still on the wall, she struggled to support her body which was on the verge of collapse.</p>
<p class="para">The Seal manifests itself as a brand upon the Goddess’ body that sends continuous currents of pain coursing through it. However, the amount of pain the Seal caused Eris was never constant. It ebbed and flowed, and occasionally she would find herself in the throes of an agony much more intense than usual. Such was the case now. But Eris, thanks to her having been in the service of the Knights since the age of nine and a veteran warrior, knew how to handle pain. There had been many times in her past in which she had to work her way through it to continue brandishing her spear despite injury when battling monsters or quelling civil strife. And while the pain of the Seal was of a different order than that of a mere bodily injury, the methods of coping were about the same. Fear and alarm only worsened things. It was of the utmost importance not to become panicked, and to keep a strong sense of focus in order to concentrate on regulating your breathing. This did not make the pain go away, but made it much easier to endure.</p>
<p class="para">When the convulsions had alleviated a bit and she became able to move, Eris continued walking. If she was too late in getting to the dining room, it would be an inconvenience to those responsible for preparing her meals. Originally the servants wished to bring her food to her room, but Eris would not have it. If she didn’t try to walk at least a little, her body would weaken which would make the pain worse. And if she didn’t expend any energy, she would lose her appetite entirely; it was already poor as it was. Walking on her own two feet and eating three proper meals… these were the two most important tasks of Eris’ day. If she became unable to do even them, she’d know death was near.  </p>
<p class="para"><i>(But no. I shall not die.)</i></p>
<p class="para">Holding her head high, Eris continued putting one foot ahead of the other. Her long day had only just begun…</p>
<p class="para">The Hierarch Seere came to visit her at a little past noon. As the Goddess was largely forbidden from interacting with others, it fell to the Hierarch to see to most of her needs. This was the commandment of old, but as the Hierarch had taken on many more responsibilities since the formation of the Knights of the Seal, Eris was allowed a few servants to look after her. Still, they were not to engage her any more than was necessary, and so the current Hierarch’s role had become that of the Goddess’ confidante; someone to talk to and help ease her sense of isolation.</p>
<p class="para">“Good afternoon, Eris.”</p>
<p class="para">Hierarch Seere child-like body had not grown at all in the past nine years, but in truth, he was six years Eris’ senior.</p>
<p class="para">“How are you feeling today?” He asked.</p>
<p class="para">“Very well, thanks to you visit.” Eris replied.</p>
<p class="para">“You’re not tired? Is it all right for you to be sitting up?”</p>
<p class="para">His actions reminded her of a little boy fretting over his mother, which made Eris smile. While Seere’s unchanging form was surely a source of consternation to himself, it put Eris greatly at ease.</p>
<p class="para">“Yes. Actually, I was planning on taking a stroll once I’d finished reading these prayers.”</p>
<p class="para">“Eris… you are amazing.”</p>
<p class="para">“I am?”</p>
<p class="para">“You are! You always walk with perfect posture, your head held high. No one would know you were in pain just to look at you. Come to think of it, it was the same back then… when you shrugged off that near fatal wound as if it were nothing.”</p>
<p class="para">Seere was speaking of the time Eris had been dealt a serious injury by the former head of the Knights, General Gismor. The cowardly Gismor had used Eris’ body as a shield against her friend Nowe’s sword. It had been nearly a decade now, but his devastated expression remained fresh in her mind. Seere felt the moment exemplified Eris’ hardiness and strength.</p>
<p class="para">“Lord Hierarch, it was thanks to your healing magic that I recovered.”</p>
<p class="para">“I don’t think so. The wound was deep enough that my magic might very well have had no effect on it. It was because of your vitality and determination were so extraordinary that I was able to save you.”</p>
<p class="para">“Yes, well… it would take more than that to do me in!”</p>
<p class="para">Eris said jokingly. That she could still laugh meant the world to her.</p>
<p class="para">“This might sound all wrong… but in a way, I’m glad it was you who became the Goddess. I can think of no one else who could bear the burden of the Seal, now so much heavier than it was for Goddesses past…”</p>
<p class="para">At one time there had been three additional Seals which served to lighten the Goddess’ load. However, the Empire had destroyed them, making it so the Goddess had to carry the weight of the world on her own. The cruelness of the act upset Eris deeply, and had been the reason she’d decided to start training in the case she might have to take on this role.</p>
<p class="para">“Say, how about we walk through the garden? The weather is nice out today.”</p>
<p class="para"><i>(The garden? Oh… that’s right. Today is…)</i></p>
<p class="para">“That sounds lovely.”</p>
<p class="para">Closing her prayer book, Eris rose.</p>
<p class="para">Nine years since the world was pulled back from the edge of destruction. The Key System which had required the sacrifice of so many was dismantled, and the Knights of Seal were formed anew. Even the Goddess’ Castle had been rebuilt and was full of people. The trees in the inner garden, which had been just saplings when they were planted, now extended high above Eris’ head. The carefully tended to flower bed bloomed with a variety of flowers for each season, and was surrounded by fluttering butterflies. So beautiful was the scenery that no one would believed that there had been two who had lost their lives here, vanishing in a haze of flame…</p>
<p class="para">“Eris, would you like to rest?”</p>
<p class="para">For her aching body, the journey to the garden was an arduous one. Perhaps noticing her shortness of breath, Seere inquired of Eris, concerned.</p>
<p class="para">“Yes… for a bit.”</p>
<p class="para">“I’ll call someone to bring you a chair.”</p>
<p class="para">“That’s all right.”</p>
<p class="para">Smiling, Eris shook her head before settling down on the ground beneath a tree. The afternoon sun filtering through the leaves was warm and pleasant.</p>
<p class="para">“This reminds me of my days with the Knights…”</p>
<p class="para">“Come to think of it, you and Nowe were always training out in the garden.”</p>
<p class="para">“Yes. We’d train until we were out of breath, then fall flat on our backs until we were rested. Then we’d go straight back to sparring.”</p>
<p class="para">The dazzling sunlight, the sounds of the leaves rustling in the wind, the smell of the grass… while the place she was in and the person she was with differed, these things alone had not changed.</p>
<p class="para">“It’s been nine years… since the Red Dragon died in this garden.”</p>
<p class="para">While a proud member of the dragon race, the Red Dragon had entered into a pact with a human and then saw fit to sacrifice herself for mankind. Normally the role would have fallen to Eris, but she was but a newborn at the time. The strain of the Seal would have killed her. So it was that the former Hierarch, Verdelet, accepted the Red Dragon’s offer and performed the sealing ceremony on her.</p>
<p class="para">Exactly how Goddesses were selected and how the Seal was transferred to them was shrouded in much mystery. There had been women who had no choice in the matter but also those who had elected themselves by choice. The last human Goddess, Furiae, had lost her life to the Empire. If not for that, she may have lived long enough for Eris to reach a suitable age to inherit the duty. If she had, then perhaps Verelet would have refused the Dragon’s offer, and the tragedy created by having an inhuman Goddess might have been avoided. Surely the man had not been fool enough not to consider the risks… And so Eris had determined to live as long as she could to make sure the next Goddess would be an adult and not a child. Although since the Goddess selection process was so largely incomprehensible, she was not sure how much her resolve would pan out…</p>
<p class="para">“It was also nine years after the Red Dragon became the Goddess that you first joined the Knights.”</p>
<p class="para">Seere said. Now that he mentioned it, that was true. Eris had parted with her parents, abandoned her status as a noble and left her home all at the tender age of nine.</p>
<p class="para">“I remember passing by you in the hall that day.”</p>
<p class="para">“Oh?” Eris didn’t recall. She didn’t remember anything about that day except for her last look at her mother’s face and the long corridor she had been led down which she feared might never end.</p>
<p class="para">“You didn’t notice me. You were too busy glaring at the back of the knight who was escorting you, biting your lip.”</p>
<p class="para">“How rude of me…”</p>
<p class="para">“Not at all. I’d heard of your circumstances from Verdelet, so I understood what you were going through. I was struck by how mature you seemed for nine years old. When I made my pact with Golem, I didn’t understand a thing.”</p>
<p class="para">Eris had heard that Seere had entered a pact at only six years of age, following the death of his mother. “Well, there’s a world of difference between six and nine…”</p>
<p class="para">“But my sister Manah had always been more mature than me, and we’re twins.”</p>
<p class="para">When Eris heard the name Manah, a dull pain shot through her breast.</p>
<p class="para">“Ah, yes, your… sister. Is she well?”</p>
<p class="para">Eris had to struggle to keep her voice even. Luckily Seere did not notice this.</p>
<p class="para">“She is! After all that happened, she left on a journey… but it seems she settled down about three years ago.”</p>
<p class="para">Eris’ heart skipped a beat. She wasn’t sure she wanted to hear the rest.</p>
<p class="para">“She’s running an orphanage now, taking care of little children.”</p>
<p class="para">“What…?”</p>
<p class="para">“She writes me letters from time to time.”</p>
<p class="para">Seere mentioned that she was living in a city in a different country.</p>
<p class="para">“Does she ever plan on coming back…?”</p>
<p class="para">“I’ve asked her that, but she says she couldn’t, since the children would get lonely without her.”</p>
<p class="para">“I’ve asked her that, but she says she couldn’t, since the children would get lonely without her.”</p>
<p class="para">“All Manah writes about in her letters are her children! This one said this, this one did that… this child worries me, this child needs so much attention… and so on. It’s as if she’s their real mother! I never imagined Manah could be so nurturing.”</p>
<p class="para">Eris had also heard that Manah had been abused by her mother, in stark contrast to Seere who had been bathed in her love. She probably saw herself in those children with no parents to love them, and wished to provide them with the same love she’d longed for herself as a babe. Eris had felt similarly when looking after Nowe. Although they were both so young, she took care of him in the way she’d wished her mother was around to do so for her. Seeing Nowe happy made her feel happy as well.</p>
<p class="para">“At first I wondered whether letting her leave on a journey was wise… but now I’m glad, since she seems so happy.”</p>
<p class="para">“That’s… good to hear.”</p>
<p class="para">If Manah was in a distant land, yet to return… that meant she had not been with Nowe. Of course, he could visit her himself, but Eris had heard tell that Nowe was so busy since becoming the new leader of the Knights of Seal that he had no time to himself. And he had lost the set of wings that could have quickly flown him there…</p>
<p class="para"><i>(Look at me. Hearing the two of them are apart has made me feel such relief.)</i></p>
<p class="para">“Eris, may I ask you something personal?” Said Seere.</p>
<p class="para">“W-why yes. What is it?” Eris stammered.</p>
<p class="para">For a moment she thought he might have been able to tell what she had been thinking. But no… it was his sister who had the knack for reading people, she remembered with a bitter smile. Eris remembered Seere saying she had developed that skill as a direct result of her mother’s neglect.</p>
<p class="para">“Why won’t you meet with Nowe? You haven’t seen him once in these past nine years, even though you’re practically family.”</p>
<p class="para">“Family…? Yes… he thought of me as… family…”</p>
<p class="para">From the day she had met him, Nowe had been precious to her. It was thanks to him that she had recovered her forgotten smile. If he was by her side, she felt she could take on any challenge. Suffice it to say that her feelings toward him extended far beyond the familial… but to him, she was but a sister.</p>
<p class="para">“I must obey the commandment that dictates that the Goddess of the Seal not be in contact with anyone from the outside world… not even her family.”</p>
<p class="para">Nowe occasionally sent Eris letters describing what was going on in his life and the world at large. His childish hand-writing hadn’t changed a bit, which made her happy. She had read those dozen or so letters so many times, running her hands over the pages, that she could probably recite them from memory, if prompted.</p>
<p class="para">However, she had not once replied to any of them. Of course, she had Seere thank Nowe for writing them. But that was all.</p>
<p class="para">“It is best that I not interact with anyone more than the commandment permits.” She answered to form, but in her heart she felt the pangs of her conscience.</p>
<p class="para">“You know…” Seere began a little hesitantly. “Eris, that commandment is not as strict as you seem to think.”</p>
<p class="para">“It’s not…?”</p>
<p class="para">“It’s more of a general guideline. While not allowed to associate with too many people, a Goddess’ family would never actually be turned away if they came to see her, and if she really wished it, she would be allowed to venture outdoors, albeit with heavy surveillance.”</p>
<p class="para">“…”</p>
<p class="para">“I bet you just thought to yourself that a rule that isn’t kept to is as good as meaningless, didn’t you? Honestly, you’re so serious…”</p>
<p class="para">Eris thought Seere was about to laugh, but he didn’t. The smile on his face was a dark one. An adult expression that did not suit his cherubic face.</p>
<p class="para">“Letting you see your family, or go outside… the Hierarchs would classify these things as special exceptions to reward you for your hard work.”</p>
<p class="para">“Special exceptions? But Lord Hierarch, you just said…”</p>
<p class="para">Eris began, but she closed her mouth as understanding dawned on her.</p>
<p class="para">It is said that all Goddesses are doomed to live short lives. That is how heavy the burden of the Seal is. On top of that, there is the despair of the knowledge that the pain will not let up until the exact moment of one’s death. It was little wonder that so many Goddesses in the past had chosen suicide as a means of escape. The reason they were so strictly monitored, then, was to make sure they didn’t try anything, Eris thought. And the reason they were kept from seeing anyone was to make sure they didn’t try to run away with a lover or friend…</p>
<p class="para">However, if nothing else, humans are adept at living. If they have even the merest glimmer of hope, they can keep on going. That was the real meaning behind those ‘rewards’. Even the smallest of things would seem like godsends to one living the stark lifestyle of a Goddess.</p>
<p class="para">“The rewards bear the message that if you want more, you must continue to endure.”</p>
<p class="para">In truth these rewards just served to better keep the Goddesses under control.</p>
<p class="para">“They are some of the ways the Hierarchs have manipulated the Goddesses into staying in line. A dirty method.”</p>
<p class="para">“But a smart one, too.”</p>
<p class="para">She did not know who had first thought of it, but he understood the human psyche well. What wretched, selfish creatures humans were in the end… myself included, thought Eris.</p>
<p class="para">“They only worked on human Goddesses, though. A dragon cannot be cajoled in the same way.”</p>
<p class="para">“Is that why the former Hierarch did what he did?”</p>
<p class="para">Verdelet had strengthened the seal on the Red Dragon by creating five Keys which served to completely rob her of her freedom and which required the sacrifice of many lives.</p>
<p class="para">“That was the only way he could think of to ensure the Seal’s protection. But he was badly mistaken…”</p>
<p class="para">The Red Dragon lost her sanity and the world fell yet again into peril. Again, tragedy had been wrought by human selfishness…</p>
<p class="para">“Lord Hierarch, was it all right for you to tell me all that? You can no longer use those methods to persuade me, now.”</p>
<p class="para">“I couldn’t have in any case, thanks to your devotion to the rules.”</p>
<p class="para">Seere was right. But he did not know the real reason behind Eris’ strict adherence to them.</p>
<p class="para">“Do you see now, then? That’s the truth behind that commandment. You don’t have to force yourself not to see Nowe.”</p>
<p class="para">“No… even knowing the truth, still I cannot see him.”</p>
<p class="para">Seere’s expression was that of confusion.</p>
<p class="para">“It is due to my knowledge of the last moments between the Red Dragon and her pact partner.”</p>
<p class="para">Eris had not been there to witness them herself, but Nowe had described them to her as they rode atop Legna to the Promised Land.</p>
<p class="para">“I understand that one of the reasons the Red Dragon went mad was because she lost the ability to see or communicate with her beloved.”</p>
<p class="para">Ironically, it was Seere’s sister Manah who had destroyed the Keys sealing the Red Dragon’s five senses along with Nowe who had sympathized with her cause. However, having already plunged into the depths of madness, the Red Dragon thought only of burning the world she cursed so into ashes.</p>
<p class="para">Each of her screams pierced Nowe’s heart, as he was capable of understanding the words of dragons. He said he would never forget her sorrowful voice as she called over and over again for her other half, the man named Caim…</p>
<p class="para">“Unable to even comprehend that the person she most wanted to see was right beside her, by the time she regained her sanity she was at death’s door…”</p>
<p class="para">The reunion between the two, one they had endured eighteen years of suffering for, ended in mere seconds. That was all the time the Red Dragon had left before the light left her eyes.</p>
<p class="para">“Now I know her anguish, for it is my own. It makes me shudder to think that, since she was not human, she had to endure even worse than I…”</p>
<p class="para">Unable to see or hear, or even feel her own limbs… she had been jailed in a prison cruel beyond imagining. The only sensation she had was that of the intense pain of the Seal. And all because the humans had felt anxiety over not being able to manipulate her, because they had not trusted her… just for that, they cast the Red Dragon into a living hell.</p>
<p class="para">“When I think of her pain… of her not being able to be with the man she loved… there is no way I could allow myself to meet with Nowe.”</p>
<p class="para"><i>(No, that’s just me prettying it up. In truth I am little different from those Hierarchs. I am selfish, unfair… and weak.)</i></p>
<p class="para">“Eris. Verdelet was the one who created the Key System, and I was the one who let it continue. The people responsible for Angelus’ suffering are he and I. Why must you suffer?”</p>
<p class="para">“Because I wished for the Red Dragon to stay the Goddess forever. If she had, I could lead the ordinary life of a human women. That was all that mattered to me. I thought not once of her pain. That is my sin.”</p>
<p class="para">Perhaps it was divine punishment that the woman named Manah stole Nowe away.</p>
<p class="para">“Did you think you could have him? You, who’s never been allowed anything?”</p>
<p class="para">Eris had felt Manah’s red eyes saying these things to her each time she looked within them. They had enraged her, stirred up her hatred… to the point she was ready to kill her.</p>
<p class="para"><i>(Ah… in the end, I’m still jealous. Jealous of Manah who took Nowe’s heart. Even after becoming the Goddess, my heart is no purer than before…)  </i></p>
<p class="para">“Even if Nowe came to see you… would you still refuse to meet with him?”</p>
<p class="para">“If Nowe came to see me…?”</p>
<p class="para">“He told me to keep it a secret, but in truth Nowe has come to this castle every year on the same day. The anniversary of the day you became the Goddess.”</p>
<p class="para">Eris had believed that if they did not meet, Nowe would come to forget about her. That he would stop writing her letters and settle down with Manah. She had been mistaken. Manah had left for another land, and not only was he still sending her letters, Nowe came here every year…</p>
<p class="para">“Today is that day. The day the Red Dragon died and you became the Goddess.”</p>
<p class="para">How could she forget? It had been nine years since the ceremony ended and Eris had parted from Nowe.</p>
<p class="para">“Don’t be sad, Nowe. I’m merely returning to the duty that was originally mine.”</p>
<p class="para">She had told him, but she was putting on a strong front. It was taking all she had to keep from crying, and she knew if she saw Nowe’s face she would, so she kept her eyes lowered. Afterwards she would regret not taking one good last look at him.</p>
<p class="para">“If you’re willing… you could meet with him today.”</p>
<p class="para">Nowe… she longed to see him. Eris knew she had not much longer to live. The day they would be eternally parted was fast approaching. She knew this. She knew this, and yet…</p>
<p class="para">“No! No, Lord Hierarch, I cannot!”</p>
<p class="para">“Eris?”</p>
<p class="para">Even she was surprised by the emotion in her voice.</p>
<p class="para">“I… I swore an oath. That I would not die until the day I could meet with Nowe again.”</p>
<p class="para">She swore that oath despite… no, because… she thought they would never see each other again. It was because of it that she had been able to keep resisting, to keep desperately trying to live, if only a day longer.</p>
<p class="para">“Until the day we meet again, I will live. That thought gave me enormous strength. It’s not an exaggeration to say that it has kept me alive. Far more than the weight of my duty to keep the world safe…”</p>
<p class="para">Before she had become the Goddess, she thought she could sustain herself on her sense of duty alone. But she couldn’t. It just wasn’t enough.</p>
<p class="para">“If the oath were to be fulfilled… if I met with him now… then surely my will shall break. And then I would have no choice but to let death take me. Even though that’s not proper of me… as the… Goddess…”</p>
<p class="para">She felt the tears rolling down her face. No matter how she reprimanded herself, there was no end to them.</p>
<p class="para">“Eris, don’t cry. I’m sorry… truly sorry…”</p>
<p class="para">Seere brushed her cheeks with his little hands.</p>
<p class="para">“I did a cruel thing, not understanding how you felt…”</p>
<p class="para">His words were those of an adult, though the fingers wiping away her tears were a child’s.</p>
<p class="para">“No… now I know that Nowe has never truly forgotten me. I will always be grateful to you for telling me that.”</p>
<p class="para">Eris felt certain Nowe was the same as ever. Surely his eyes were just as honest and gentle… and maddeningly pure. She knew if she saw them, she’d end up saying this: To not worry about her and go be happy with Manah. Then she would regret having done so from the bottom of her heart. She would wonder why she had added to her already considerable suffering. She was terrified of weaving these words she did not truly mean, and so had avoided answering his letters. Her adherence to the commandment was a mere excuse. An escape from Nowe and the truth in her heart. But things couldn’t go on this way. Her time was almost at an end.</p>
<p class="para">“Lord Hierarch, please tell Nowe this: I will meet him here in three years time.”</p>
<p class="para">In three years she would be approaching the end of her life, if she was not dead already. Seere, too, must have understood this.</p>
<p class="para">“Three years…?”</p>
<p class="para">“Three.”</p>
<p class="para"><i>(I’m a mean one, aren’t I? Making Nowe wait even longer than he already had. But…)</i></p>
<p class="para">“If I carry out my duties as the Goddess for over a decade, then surely even the Red Dragon can forgive me.”</p>
<p class="para">And by then Nowe will have surely have awakened to his true feelings, to his desire to be with Manah.</p>
<p class="para">Next year was too soon. Neither Nowe or Manah could yet forgive themselves for exposing all the world to danger in the name of their shallow justice. That was why they chose to separate. She could only guess Manah’s feelings, but she Nowe’s better than he did. Both him becoming the new head of the Knights and sacrificing every moment in service to it, and Manah leaving to care for orphans in another land… both were acts of repentance. But in three years time, things might change within them. After having lived more than a decade as sinners, they may allow themselves to take each other’s hands. They may think of a different way to repent. So Eris believed.</p>
<p class="para">“On this day, three years from now. That will be our day of promise.”</p>
<p class="para">Even if, by the time that day came, Eris was no longer among the living. No… perhaps she hoped she would not be, to keep from saying the words she dearly wished not to. To not have to use her own lips to tell Nowe to forget her and go find happiness with someone else…</p>
<p class="para">“I should return to my room now.”</p>
<p class="para">Eris stood up slowly. Her body ached as badly as ever, but she was full of a peculiar calmness.</p>
<p class="para">“I’ll leave you here, Lord Hierarch. Please return to Nowe. I’m sure he’s not far?”</p>
<p class="para">He was likely close enough that, should Eris have agreed to see him, he’d have appeared before her in just a few seconds. She was certain Seere would have arranged it that way.</p>
<p class="para">“Will you be all right going back on your own?”</p>
<p class="para">“Of course.”</p>
<p class="para">Watching Seere dash off like the child he appeared to be, Eris turned around. It occurred to her that this may very well be the last time she walked through this garden on her own two feet. Wanting to burn the view into her mind, she paused. Looking around she was witness to a flood of color and light. Flowers blooming bright red and yellow, the vivid green of the trees, the deep brown of the soil. The singing birds, fluttering butterflies, even the insects crawling in the earth… the garden was teeming with life.</p>
<p class="para">“It’s so beautiful…”</p>
<p class="para">This is the world. The world that you revived, Nowe. And now, the world that I protect. This light belongs to you and I alone. As long as this world goes on existing, then you and I will always be linked.</p>
<p class="para">“Nowe… this is the proof that I existed.”</p>
<p class="para">And I will live. As long as I can.</p>
<p class="para">So thought Eris as she walked through the garden of light. ​</p>
<p class="para"></p>
<p class="line"></p>
<p class="menu"><a href="/stories/d2/d2st">Back</a></p>
<p class="line"></p>

