---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Questions and Answers 2  </title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }
</style>
<p style="margin-top: 1cm; font-size: 300%;"><strong>Questions and Answers 2</strong></p>
<img src="https://i.imgur.com/m2YJie9.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/barnabism">Barnabism</a></p>   
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Little curiosities and questions</strong></p>   
<p class="para">A few question addressed to Yasui Akira, director of Drakengard 2 ​</p>
<p class="para" style="font-weight:600">Q. Why did Legna not make a pact with the New Breed, Nowe, and devoted himself to being the foster parent of the “Weapon of the true human race” instead?</p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Yasui</strong></p>
<p class="para">Nowe is a being born from Inuart and Furiae after they entered the Seed of Resurrection. So, he’s actually carrying on off the Pact between Inuart and the Black Dragon. Another thing, the reason that Nowe didn’t die alongside Legna even with his death is because he became the “New Breed” and had grown into an entirely new existence.</p>
<p class="para" style="font-weight:600">Q. It can be inferred that Manah definitely has the “Sullied heart” needed to form a pact, but didn’t the Monster (Watchers) catch wind of that?</p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Yasui</strong></p>
<p class="para">After losing her memory, there was a moment in time when her “Sullied heart” was in a lull. After seeing Seere, though, he was someone who reminded her of her own past mistakes, so she really didn’t take kindly to seeing him. Before when she had amnesia, she had literally forgotten everything, so she would have thought of him as a stranger then.</p>
<p class="para" style="font-weight:600">Q. It seems that Urick made his pact when he was 24 years old (During the attack on the seal where Oror was killed), and formed it thinking “I don’t want to die”, but this changed the Pact-Price to him being unable to die. Why?</p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Yasui</strong></p>
<p class="para">It can both be said that people live to die = People live precisely for the reason of dying. Since it can be inferred that Urick was selfishly craving to survive more than anyone else, so “The ability to die = Death” was his price. At first glance, it may seem that he’s lucky not to be able to die, but the transiency of being unable to die is immeasurable. On another note, when Urick is about to die, it’s an “Unimaginable feeling”, like replaying the feeling of dying in reverse. He’s probably even tried suicide. Let’s say the number of times he’s died is 471 (Not dead). (Of course, I’m only joking. Laughs).</p>
<p class="para" style="font-weight:600">Q. Gismor was 37 years old when he formed a pact with the Shades, but what led him to do that?</p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Yasui ​</strong></p>
<p class="para">Gismor was persuaded by Verdelet, “Wouldn’t you like to gain great power and status as a Pact-Partner and be able to look down on Oror?” He wanted to have it all, so the price was to lose all of himself… That is, all of his body. He usually is covered by his uniform, but in reality, he’s nothing but a shade from the neck down. If you say that his outline is composed of a coat of arms and the inside is just a black haze, can you imagine it? Since his body was lost as the price of his pact, there is no need to eat, no physical fatigue, and no other physiological phenomenons holding him back. But he does get mentally exhausted, so he needs sleep.</p>
<p class="para" style="font-weight:600">Q. Please tell us what happened when Hanch formed her pact.</p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Yasui ​</strong></p>
<p class="para">Hanch had an accident when she went out to the lake with her friends, and they all drowned. At the time this happened, the Kelpie had already had its eye on Hanch for about a year. When it saw her a year ago, Hanch was on land, not water, so it figured it would be difficult to give her a sense of fear strong enough that would lead her to a pact. Besides, her older sister, Alm, was standing very protectively at her side, so it wanted to wait to cause something to get her out of the way. A year might be a long time for humans, but since the Kelpie is a monster, it doesn’t matter. By the way, Hanch’s older sister, Alm, is also known to be attractive. But as for if she’s more attractive than Hanch… Think of it as a different type of charm. Like Alm being a more beautiful type, and Hanch is more cute.</p>
<p class="para" style="font-weight:600">Q. Please tell us more about how Yaha came to form a pact with the Gnomes and his relationship with Urick.</p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Yasui ​</strong></p>
<p class="para">Counting backwards, Yaha was around 16 when he joined the Knights of the Seal, and so he would be around 17~19 years old when he made his pact. It was during the time they were investigating the veins of the land in order to establish a governing District, and Yaha was a member of that investigation team. As for his relationship with Urick, Yaha had liked him since they were in the orphanage together. I think there was definitely “Something” between them before Yaha left the orphanage. The powers of his pact didn’t reach Urick because he already knew how to deal with it; Urick was also once mesmerised by Yaha’s charm.</p>
<p class="para" style="font-weight:600">Q. Why did Zhangpo join the Knights of the Seal if he doesn’t seem to be suited for them? Also, what does his pact entail with him being unable to eat?</p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Yasui ​</strong></p>
<p class="para">Generally, it was considered an honour to have joined the Knights of the Seal. So in his parent’s vanity, he was brought to join the Knights of the Seal against his own will. It’s established that Zhangpo can no longer eat anything as the price of his pact. That means that whatever he tries to devour, the Ifrit will immediately burn it. So even if he eats something, his stomach will never fill up. Laughs Even so, his life is still maintained through the power of his pact, so he can live on just fine. Zhangpo, who loves to eat, is blind to the many benefits of his pact. He must think to himself, “Damn, I never should have listened! Why do I have to be the one to go through this!?”</p>
<p class="para" style="font-weight:600">Q. Please share a special trivia fact about everyone.</p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Yasui ​</strong></p>
<p class="para">Nowe… He has a comedy routine he can do in dragon-tongue. It seems to be a big hit among dragons.</p>
<p class="para">Legna… He’s good at comforting children. He warms up to them especially if a great tragedy has occurred.</p>
<p class="para">Manah… She can still walk straight even after spinning like a bat thrown on sports day.</p>
<p class="para">Eris… She’s good at starting fires. A great person to have around for campfires, barbeques, and even execution by fire.</p>
<p class="para">Urick… Playing dead. He already puts on a realistic performance.</p>
<p class="para">Zhangpo… Imitation and song. The Regimental Commander’s Medley is a sure winner.</p>
<p class="para">Hanch… She can fantasise and create a couple out of everything.</p>
<p class="para">Yaha… He can tell what people are into at a glance. Including men.</p>
<p class="para">Gismor… He’s actually a rather dashing older man who’s good at smooth talk. “How do you find the taste of fresh water?” is a killer.</p>
<p class="para">Oror… He’s capable of taming any wild beast, even if he gets hurt sometimes.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/d2/d2st">Back</a></p>
