---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>


<title>NieR:Automata Stage Plays</title>
<p class="title">Stage Play Information:</p>
<p class="para">YoRHa Ver1.0<sup><a href="#editor" style="color:rgb(190, 247, 255);">[1]</a></sup> was the first stage play, lasting from October 1st, 2014 to October 5th, 2014. It ties into NieR:Automata's story, yet predates the release.</p>
<p class="para">YoRha Ver1.1 was the second stage play lasting from May 23rd, 2015 to May 31st, 2015. It never released commerically.</p>
<p class="para">YoRHa Ver1.2 Was the third stage play, lasting from February 9th, 2018 to February 13t, 2018. Notably, after NieR:Automata's release. Notably, it had a higher budget.<br>They Removed the characters Sonia, Erica, Shion, Kalmia, Clematis, and Seed. They also added the character Daisy.</p>
<p class="para">YoRHa Ver1.3a/aa had some significant changes to the story, notably making the cast all male. Between the two versions, 1.3aa removed Anemone and added Jackass.</p>
<p class="line"></p>
<p class="para">YoRha Boys Ver1.0 is a different story, telling the tale of an all male YoRHa squadron. It ran from January 31st, 2018 to February 4th, 2018.</p>
<p class="para">YoRHa Girls Ver1.1a is a genderbent version of YoRHa Boys, and a different setting. It ran from December 3rd, 2020 to December 6th, 2020.</p>
<p class="line"></p>

<p class="para" id="editor"><sup style="color:rgb(190, 247, 255);">[1]</sup>Subtitled by <u><a href="/credits/people/mint" style="color:rgb(190, 247, 255);">Mint</a></u>, and video sourced from <a href="https://archive.org/details/yo-rha-ver-1.0engsubs" style="color:rgb(190, 247, 255);"><u>archive.org</u></a>.</p>

<p class="line"></p>

<p class="menu"><a href="/stories/nier-automata/stage-plays">Back</a></p>