---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Sarafa's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Sarafa's Character Story</p>
<p class="title">Chapter 1</p>
<p class="para">I have been bound for all of my days.<br>Bound to a dazzling prison others name a palace.<br>My elegant fetters are contained in the title of princess.<br>Only once, in my youth, did I comprehend freedom.<br>When I was young, I grew tired of my stuffy life<br>in the palace and impulsively fled.<br>For the first time, I walked the nighttime streets of the city,<br>where a fantastical atmosphere welcomed me with open arms.<br>I walked and walked until I no longer knew where I was.<br>I couldn't see the palace, or even the mighty spire atop it.<br>Loneliness overcame me then, causing tears<br>to tremble in the corners of my eyes.<br>"Is something troubling you, young lady?" said the<br>voice of an old woman from somewhere behind me.<br>Relieved that help had finally arrived, I suddenly burst out weeping.<br>So loud was my wailing that all those walking the streets stopped to look.<br>But the old woman gently took my hand and led me away.<br>She led me to her home—a small domicile<br>where she told the fortunes of others.<br>Crystals glowed faintly. Exotic rugs tickled my feet.<br>I cannot remember the fortune she scried for me...<br>But I will never forget the shock that pierced my heart in that moment.</p>
<p class="title">Chapter 2</p>
<p class="para">I eventually came to love the night.<br>One reason—perhaps the most important—was that I<br>could escape the palace and find new sides of myself.<br>The day I met the old woman, I made of her a request:<br>"Please make me your apprentice and teach me to divine futures."<br>Though she agreed, her teachings were harsh.<br>"People place their lives in the hands of fortunes," she would say.<br>Under her strict tutelage, I gleaned the secrets of divination.<br>Eventually, I began to perform readings for others under her watchful eye.<br>I was cautious: If ever I saw a bad result,<br>I worded it in a way that sounded positive.<br>In the palace, I yearned for night. In the old<br>woman's house, I divined futures.<br>For a time, this was my life.<br>One day, when the old woman was away,<br>a redheaded couple came to have their fortunes told.<br>I was overconfident by then, and thought I could do it without her help.<br>As the crystal ball sparked to life, I witnessed a catastrophic future.<br>And I found I did not have the words to change it.</p>
<p class="title">Chapter 3</p>
<p class="para">A rumor drew a crowd to the bay.<br>A man and woman fought over the end of their relationship,<br>and the woman ended up drowning the man.<br>The woman had short, striking red hair.<br>Red hair was unusual in this nation.<br>I realized at once she was the same woman whose fortune I had told.<br>That was when I knew:<br>I had the power to manipulate the lives of others through divination.<br>To that point, I had nothing in my life save the title of "princess."<br>But now? Now I had a secret power.<br>All that awaited me, however, was the old woman's rage.<br>She blamed me for warping the fates of others through my inexperience.<br>All my excuses fell on deaf ears, and she threw me from her home.<br>The last thing she said to me was this:<br>"You have no right to tell the fortune of another."</p>
<p class="title">Chapter 4</p>
<p class="para">Days later, as the sun dawned on the city, another crowd gathered.<br>They were a mob, and they ripped the old<br>woman's house down with their own hands.<br>They screamed and trampled the remains, destroying everything.<br>The old woman's prized divination tools were buried beneath the rubble.<br>And I watched. And I smiled.<br>I struggled to keep back the laughter bubbling in my throat.<br>I had used my powers selfishly to unleash the mob.<br>For even after she sent me away, I continued to foretell the future.<br>I could not find the strength to stop.<br>I worked quietly, propped up alone in a dark back alley.<br>I told fortunes. I turned people into my playthings.<br>I could never go back.<br>Because the day I ripped that couple apart, I felt something new.<br>That realization? That I could change someone's fate?<br>It was deep. Powerful. Distorted.<br>It was <i>bliss</i>.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/sarafa">Back</a></p>