---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>One Sun</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">One Sun</p>
<p class="title"><a href="https://www.youtube.com/watch?v=zOvTzaYzN_4&list=PLcY8I1_IgLN5K-3j2fs3H3opvdd8JigHj"><u>Video</u></a></p>
<img src="https://i.imgur.com/m7ZJypD.png">
<p class="title">Chapter 1</p>
<p class="para">In a kingdom wreathed by sea and sand,<br>the queen issues a notice stating that the<br>princess has lost her smile, and that any man who returns it to her may have her.<br>Hearing this, suitors gather from far and wide, forming great lines with the palace<br>courtyard. The princess gazes upon the men with not even the faintest hint of<br>a smile as she hears them out one by one.<br>She can tell from their words that they<br>only see the princess for her station, and as<br>a prize to be won. As she lets out a sigh,<br>a sailor boy appears before her and begins<br>to speak. The princess finds herself enraptured<br>with the wild tale he spins, but before<br>long, he is escorted away by the guards.<br>It is not just the men who do not see the woman for who she is. There is not a<br>single soul who sees her as more than the role of the demure princess that she<br>was born into. Unable to bear this curse, she eventually lost the will to smile.<br>The only places she can find peace are in her private chambers, and in a secret<br>she keeps close to her chest. The woman stares at herself in the mirror.<br>Dressed in the guise of a fortune teller,<br>she slips from the palace and heads for the<br>nighttime city of danger and vice that lies<br>beyond its walls in search of amusement.</p>
<p class="title">Chapter 2</p>
<p class="para">The woman is in a dim and dingy alleyway a short<br>distance from the hustle and bustle of the city.<br>She awaits customers beneath a small tent,<br>for she is a fortune teller of great repute, and rumors claim<br>her words can change even fate itself. Even as a child, the<br>princess possessed a gift for such fortunes.<br>A couple appears before her to have their fortunes scried,<br>and she divines their fates from her crystal ball.<br>She then imparts words that tear the couple's<br>relationship apart at the seams, for watching the bonds of seemingly<br>happy couples disintegrate before her very<br>eyes eases the melancholy that plagues her.<br>However, deep in her heart, she knows that whether<br>she assumes the role of princess<br>or fortune teller, salvation will never come for her.<br><br>As she ponders her current situation,<br>a familiar boy passes before her tent. It is the young<br>sailor boy—the same one who captured her attention<br>with his wild tales of adventure. <i>Perhaps he sees the real me,</i><br>she thinks with a faint glimmer of hope as she decides<br>to test his motives. She says to him,<br>"Death awaits if you continue to see the princess,"<br>but the boy just responds with loud, innocent laughter.<br>As the woman makes her way back<br>to the palace, she finds her steps to be lighter than usual.</p>
<p class="title">Chapter 3</p>
<p class="para">Despite being warned of his fate, the sailor boy continues to frequent<br>the palace so he might meet with the princess.<br>Day after day, he flashes a daring grin as he fabricates tales of adventure.<br>Though the woman cannot know if his words are true,<br>she finds herself taken with the desperate<br>dedication to making her smile. She wonders if he,<br>and perhaps only he, sees her for who she is.<br>But no matter how much she wants to believe in this possibility,<br>she cannot shake her doubts, and decides to test the boy yet again.<br>"Take me from this place," she whispers into his ear.<br>Elated, the boy leaves the palace, thinking to have won the princess's heart.<br>When they next meet, it will be clear if he truly sees her or not.<br>The princess dresses her lady-in-waiting in her own<br>clothes and awaits the boy's arrival. If the boy sees through the ruse<br>and realizes it is the lady-in-waiting wearing the princess's clothes,<br>perhaps her doubts will finally be laid to rest.<br>Concealing herself, she waits...and prays. But<br>after the boy's arrives, the scene that unfolds<br>before her transforms her prayers into despair<br>incarnate. Unable to see through the lady-in-waiting's guise,<br>he takes her from the palace.<br>Left behind, the princess curses herself for permitting<br>her heart to feel joy, however short-lived.</p>
<img src="https://i.imgur.com/UX7ucZv.png">
<p class="title">Chapter 4</p>
<p class="para">In fortune teller's garb, the princess follows the boy, while also ordering<br>her guards to kill him on sight. Until just moments ago,<br>the boy was the one who had set her soul aflame,<br>and was meant to rescue her from her cage.<br>If he can no longer play that role, what meaning<br>has his life anymore? As she reaches the beach,<br>the sand is darkened with blood. The boy<br>is putting his life on the line, fighting to protect<br>her disguised lady-in-waiting. "I will not let<br>anyone have the princess's smile," he says,<br>and in the princess's heart of hearts she lets<br>fly a silent scream, "I am in the princess!"<br>At the end of a long battle, the sailor boy falls unconscious.<br>Though the princess finds her will to live fading,<br>she decides to set to sea with the boy.<br>Yielding the position of princess to her lady-in-waiting,<br>she boards a boat and makes for the open sea,<br>where there are no kingdoms or titles.<br>When the boy awakens, the princess says to him,<br>"It all unfolded just as I predicted." Then she pierces the boy<br>with her spear, and he slashes her with his blade.<br>Tangled in an ironic embrace, they sink into the sunless depths.<br>As the boy stares at her with hate in his eyes,<br>she smiles...for he is finally looking at her, and only her.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/sarafa">Back</a></p>