---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>10H's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">10H's Character Story</p>
<p class="title">Chapter 1</p>
<p class="para">Another meaningless day dawns. I remain confined to a distant<br>base in anticipation of an emergency that will never happen.<br>Almost 365 days have passed since I was stationed here. In a futile<br>attempt to stave off my boredom, I fiddle with the fake red flowers<br>Pod gave me to celebrate the occasion.<br>I'm sick to death of being bored. Isn't there anything fun to do?<br>I grumble, drowning in my excess of time.<br>Pod then makes an irritated gesture and reluctantly shows me some data.<br>It's data I've never seen before in my work.<br>Rather than rows of numbers, it's packets of natural speech.<br>As I debate internally on whether or not to read into the data,<br>Pod begins to slowly read the data aloud in a gentle voice.<br>To my surprise, it's a tale of the human world.<br>A story of a young boy and his clockwork attendant.<br>Together, amidst the fires of war,<br>they travel to meet those who have been harmed.<br>So humans weren't born solely to wage war.<br>It's the first time I feel any interest in learning about humanity,<br>and it was enough to bring color to my dull life.</p>
<p class="title">Chapter 2</p>
<p class="para">My days in this distant base were meaningless and dull,<br>but Pod's stories transformed that boredom into elation.<br>My appetite for stories whetted, I ask for more.<br>But Pod says to me, "Maybe another day." <i>Well</i>,<br>I think to myself, <i>time to take matters into my own hands</i>.<br>Making sure Pod doesn't notice, I search for the source of these<br>stories and hack into the server where information on humanity is kept.<br>Just as I expected, I find a number of stories.<br>Bingo! Stingy little Pod... I mutter as I lose myself in the data.<br>Before long, I find myself going back to the story about the boy.<br>I want to read it for myself.<br>However... I find that quite a bit<br>differs from what was read to me.<br>Or rather, the story itself is...<br>The words are...changing... Dancing.<br>If I sound the alarm, Pod will find out my secret.<br>But I want to save the boy's story.<br>Without further hesitation, I call Pod over.<br>If it's angry with me, then so be it.</p>
<p class="title">Chapter 3</p>
<p class="para">Let's quit our traveling. We'll never stop this war...<br>The boy huddles in a shed. His attendant pats his back to comfort him.<br>Pod and I jump into the overwritten story and gaze<br>at the changed boy and his attendant.<br>Is this really him? He seems like a different person...<br>The boy gave up on his journey. The story data is corrupted.<br>A little black bird sits perched on his shoulder.<br>We conclude that the bird is the source of the corruption.<br>We quietly approach the boy from behind and shoo the bird away.<br>But the boy remains withdrawn. Contrary to our expectations,<br>nothing changes.<br>Analysis: We...may have been too late, Pod says.<br>The story may be contaminated to its very core.<br>I ask how we can fix it, but Pod says there's nothing we can do.<br>It's a hopeless situation. But I refuse to give up.</p>
<p class="title">Chapter 4</p>
<p class="para">The tale of a sweet, but short-lived boy...<br>The first story Pod ever read to me.<br>It's impossible to repair the corrupted story data,<br>and so I decide...that simply means I'll<br>have to rewrite it myself from scratch.<br>I rely on my memory alone to manually repair the story.<br>Along with Pod's assistance, I slowly but surely rebuild the boy's life.<br>And at last...the story is complete.<br>All that's left is overwriting the old story with the new, completed one.<br>With a sigh of relief, a question comes to me: why would a mere<br>story be saved so deep, under so many layers? It's<br>almost as though humanity's memories<br>themselves are being carefully protected...<br>A thought akin to fantasy crosses my mind. "Pod?"<br>But in that moment, a bright red flower bursts a hole through my chest.<br>I'm s※○△y—I did not want you to r□○□○ze the tr□□□. I<br>will be fighting the black ※※※※※ on my own ※○w.<br>I turn around to see P※□ in the ○△※ with its weapon.<br>From the □□□□ in my chest s※○lls my □※△○※ies of Pod,<br>all of the stories... I must...gather them...</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s3/10h">Back</a></p>