---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Cherished Memories</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Cherished Memories</p>
<img src="https://i.imgur.com/KaDLeep.png">
<p class="title">Chapter 1</p>
<p class="para">Having been tasked with repairing a satellite that connects<br>Earth and the moon, a brother and sister descend into a relay server.<br>There, they find many paintings adorning the walls—it's like a museum.<br>Among them is a painting of a dragon impaled upon Tokyo Tower.<br>The plaque says that this happened in 2003,<br>but neither brother nor sister remembers it.<br>But they both know it is no ordinary painting.<br>And so, they press on to solve the mystery.<br><br>Suddenly, a white substance begins to fall and builds up on the floor.<br>It is not snow but fine pieces of salt.<br>The footprints pressed into the salt are not human.<br>The siblings follow the footsteps, only to be attacked by a monster<br>with red eyes. Brother and sister, who once hated each<br>other to the point of killing each other, now protect one another,<br>parrying the monsters clumsily with their swords and press onward.<br><br>The salt comes to a stop, and the two find a new painting.<br>It shows how the salt-borne disease wrought by the dragon's<br>death turned regular people into red-eyed monsters.<br>They recognize that this story is one of a world very<br>similar to their own. Several different worlds exist,<br>split like a branch upon possibilities.<br>The world they see is one that lived through a nightmarish history.</p>
<p class="title">Chapter 2</p>
<p class="para">Brother and sister come to an old-fashioned gallery where<br>they encounter a pale aberration. It speaks like a broken machine,<br>but it shows them no malice; it's almost as though it's there to greet them.<br><br>The aberration guides them through the facility, and they<br>witness the history of the world in which the dragon appeared.<br><br>"The Soldiers Who Fight the Monsters" showed that those<br>who fought against the red-eyed monsters formed a military<br>organization called the Crusades and sent an endless<br>stream of young people into battle. Among these children,<br>they find a brother and sister who look exactly like them.<br>They fought, ran themselves ragged, and countless many died.<br><br>"Humanity Revival Project" showed those who desperately<br>searched for a way to escape the salt-borne disease.<br>There, technology to split the human body and soul<br> then preserve both until the right time came,<br>all to stop the progression of the disease, was born.<br><br>"The Extinction of Humanity" showed the end of all things.<br>No matter how many monsters they fought, no matter<br>what technology they developed, humanity understood<br>there was no escaping their demise.<br>And so, they turned to their final option.<br>They left the key to humanity's revival for the far distant future.<br><br>They locked away the human genome and all of humanity's culture,<br>history, and memory into The Cage.<br>But now, the enemy is destroying The Cage.</p>
<p class="title">Chapter 3</p>
<p class="para">The girl stands in the Bunker's command room.<br>This was the androids' base for their fight against the machine<br>lifeforms that encroached on the Earth—weapons unleashed by the aliens<br>when they landed in the year 10,000.<br>The girl herself was once among them.<br>But with the end of the war comes a machine attack on their base.<br>Elite soldiers infected with a virus appear before her.<br>This virus, built to destroy androids, spreads in an instant.<br>The girl avoids her old android friends as they brandish their<br>weapons and yell at her, welcoming her back to her home.<br>She makes her way through the base to see if any are safe.<br><br>The girl finds a single sword in the corridor.<br>A voice floods her mind the moment she lays her hand on it.<br>She learns that its old wielder, too, lost her life due to the virus.<br>There are no more sane androids; the base has been annihilated.<br><br>Her home gone and missing her friends, she has no choice but to endure by<br>tricking herself into thinking she is used to being alone. Her heart, too,<br>has lost its home. "Maybe I should...join everyone..."<br>she murmurs as she listlessly walks the corridors.<br>Black birds appear from thin air and gather around the weakened girl,<br>forming a black sphere. The sphere shoots into the air, leaving this world.</p>
<img src="https://i.imgur.com/cU22SWI.png">
<p class="title">Chapter 4</p>
<p class="para">The siblings stand in an inky black darkness.<br>If they manage to restore this last access point,<br>then the path to Earth will be opened.<br><br>As their eyes adjust, they proceed upwards<br>around the outside of the tower. There, they find an old, run-down<br>device resembling a projector. They activate it,<br>and it displays hologram data. It is a record of the war<br>between the androids and the machine lifeforms.<br>It is a long history—one that will lead to the machines'<br>eventual rule over every city... The completion of their kingdom.<br><br>The top of this tower is familiar. It is the altar at which the two of them<br>restored the broken sun and moon. But what comes to mind for both<br>are memories of destruction. They invited the enemy into<br>The Cage to make their wishes come true.<br>Even as they fight the enemy, their hearts are tainted with despair.<br>But the encouraging words of the friend who sent them here flash<br>through their minds, and that alone is enough to make their hearts one.<br><br>Sun and moon meet to form an eclipse—the true gate that links<br>Earth and The Cage. But at the same time,<br>the enemy attacks to close the gate.<br><br>Behind all of those who rush toward the gate, the android girl<br>stops to keep the sun and moon from separating.<br>She knows she is breaking due to the infection,<br>and so she has thrown her own life away for the<br>sake of the friends who saved her from loneliness.<br><br>"We didn't have much time together, but I had a lot of fun,"<br>she says, her words skipping and glitching,<br>despite knowing they will never hear her.<br><br>And so she leaves the fate of The Cage and Earth to all her friends.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s3/10h">Back</a></p>