---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Caim's Profile</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }

</style>
<p class="title">Caim's Profile</p>
<img src="https://i.imgur.com/PO3fkkT.png" width="60%" height="60%">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/kestrel">Kestrel</a></p>
<p class="title">Characteristics</p>   
<p class="para">Sex: Male</p>
<p class="para">Age: 24</p>
<p class="para">Blood Type: AB</p>
<p class="para">Pact Partner: Red Dragon</p>
<p class="para">Pact Price: Speech</p>
<p class="para">Seal Location: Tongue</p>
<p class="title">Parents Slaughtered Before His Eyes</p>
<p class="para">Caim was born into the royal family of the small country of Caerleon. His father, King Gaap was loved by the people for his open nature; but when Caim was 18, tragedy occurred. In the midst of their pleasant harmony, the black dragon attacked the Gaap family. Caim's parents were slaughtered before his eyes. Having lost their exalted king, Caerleon could no longer keep up the appearance of a nation, and it was not long before the country collapsed.   </p>
<p class="title">Close friend Inuart and younger sister Furiae</p>
<p class="para">Inuart, son of a noble named Ibris, as both a close friend and a rival in fencing, was closely associated with the family. However, Inuart and his sister Furiae fell in love, and after the two became engaged, the relationship between the three began to sour. Hidden within Furiae's heart, her changing feelings pained Inuart. The pure white thread the three had spun now twisted, would soon be dyed in blood.</p>
<p class="title">Gaining an unparalleled sword technique</p>
<p class="para">Caim's father, Gaap, was known as one of a long line of sword masters descended from the royal family. Having shown extraordinary ability with the sword at a young age, he trained under his father's guidance, and quickly mastered his swordsmanship abilities. But, after his father's death and the "mark"'s appearance on Furiae, for the now isolated Caim, it was as if some dark and evil karma had lodged itself in his sword. With that strict fighting style, relentlessly slaughtering his opponents, he was exactly like a demon of battle. His smile was reflected on the surface of the bloody sword.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/rd1/rcnov/01caimstory">Caim's Novella</a></p>
<p class="menu"><a href="/stories/d1/cnov">Back</a></p>
