---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Caim's Novella</title>
<p class="title">Burning in the flames of revenge, he becomes a demon of battle</p>
<p style="margin-top: 0.2cm; font-size: 130%;"><i>When did the gears first deviate from their course......?</i></p>
<p class="para">It was not something Caim could ask himself. Surrounded by his strict yet caring father, his kind mother, and his sweet and lovely younger sister, he lead a happy life in those days. His childhood friend and swordfighting rival, Inuart, eventually became his brother-in-law. Someday he would succeed his father in governance of the kingdom of Caerleon, and he'd appoint Inuart onto his staff—he held dreams such as this.</p>
<p class="para">However, for the Caim of today, there is nothing.</p>
<p class="para">In retrospect, the incident that occurred the day before that terrible tragedy could very well have been an omen. During their usual sword practice, Inuart accidentally managed to injure Caim. Fortunately it was a shallow wound, and Caim laughed it off as his friend's enthusiasm for their training.</p>
<p class="para">However, Furiae did not. She scolded Inuart with a surprisingly threatening attitude, and the defeated Inuart, with an unpleasant look on his face, took his leave of the place.　Although glad, Furiae's brother was inwardly troubled.Well, maybe I should talk with her about it later—so thinking, Caim led his younger sister - who was so worried it seemed she would burst into tears any moment - back into the castle. However, the complex look he'd seen in Inuart's eyes as he left, was something that the Caim of this moment had no reason to understand.</p>
<p class="para">And the next day, the tragedy occurred.</p>
<p class="para">That spectacle was something he would probably never be able to forget. His father's body being slowly crunched between the ugly teeth of the black dragon that had suddenly attacked the castle, his mother's body easily pierced by its gigantic claws— All of this happened in the blink of an eye. Having accomplished its goal, the black dragon glanced at Caim and his sister, before calmly flying away from that place.</p>
<p class="para">Caim howled. And he continued to raise his voice as he howled to the point his lungs would surely give out. How long he stayed like this is unknown. Suddenly coming back to himself, Caim saw by his side, overwhelmed with surprise and despair, Furiae was standing in a daze, having forgotten how to scream or to cry. Caim pulled her into an embrace. He noticed then that Furiae was trembling all over, and hugged her even tighter―</p>
<p class="para">Six years have passed since then. Family, friends, and home, no longer exist. Caim has nothing now but daily combat. With unaffected determination, he kills his opponents. The thrill of battle helps him forget reality. Now, "revenge" has for Caim become an excuse with which to kill his opponents. Anger flows throw his body. And always, his heart is empty as the void. ​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/rd1/rcnov/01caimnov">Back</a></p>
<p class="line"></p>
