---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Inuart's Novella</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
</style>
<p class="title">Inuart's Novella</p>
<img src="https://i.imgur.com/20GfdpW.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/kestrel">Kestrel</a></p>   
<p class="title">Characteristics</p>   
<p class="para">Sex: Male</p>
<p class="para">Age: 20</p>
<p class="para">Blood Type: A</p>
<p class="para">Pact Partner: Black Dragon</p>
<p class="para">Pact Price: Song</p>
<p class="para">Seal Location: Neck</p>
<p class="title">Story</p>   
<p class="title">Caim, close friend since childhood</p>
<p class="para">His father Ibris, coming and going from the country of Caerleon, gained great trust from King Gaap. As his son, Inuart had the privilege of being brought up from childhood as if he and Caim were brothers, to the extent that he even had sword training under Gaap himself. However, when it came to inherent skill, he was not once able to beat Caim with a sword. He made friends with Caim's sister Furiae as well, and before they knew it the two had fallen in love.</p>
<p class="title">Former fiancee Furiae</p>
<p class="para">Once the king learned that they'd fallen in love, the two became engaged. But from that moment on, the bonds of their friendship began to fray. Inuart desired to monopolize Furiae for himself, while Furiae, who adored her brother, refused to be parted from Caim. After Gaap's death, when she chose on her own volition to leave on a journey with Caim, Inuart's sense of loss became stronger than ever before.</p>
<p class="title">Harpist famed for his beautiful voice</p>
<p class="para">Inuart's swordsmanship was no match for Caim's, but there was one thing he could be proud of. The facility with which he performed on his harp, and his singing. His songs were soothing to hear, charming Furiae's heart. However, when it seemed Caim and Furiae had fallen into poverty with Gaap's death, instead of songs and the like, he began to wish for power with which to support the two. Before he knew it, that thought began to weigh on him deep down inside.</p>
<p class="title">Novella: Single-minded desire begins to devour him unawares—</p>
<p class="para">In the moonlight shining through the window of his room, a solitary young man was lost in thought. The young man, with his lean and well-trained body, good looks and longish red hair, was a great man who could certainly arrest the eyes of all the women he passed by in town. However, contrary to his awe-inspiring, manly appearance, his thoughts were sunk into a dark depression.</p>
<p class="para">—He wanted to go back to that time. Caim treated him with affection, without an atom of regard for the difference in social statuses. And Furiae was always beside the two, smiling softly at the two. Hampered by the weight of his furiously beating heart, he stumbled over his words countless times in an attempt to confess his love, and when Furiae responded with a blush, he felt as if he had risen to heaven. Everything shone, in those days.</p>
<p class="para">However—something began to change after that horrific tragedy. With Caim having closed off his heart after his parents were killed before his eyes, Furiae worried over her brother, to the point that whenever she and Inuart were together her mind was in another place entirely......Inuart, in order to be helpful to them where he could, helped his father Ibris - who had taken over administrative duties - in his work. Despite this, a year after Gaap's death, Ibris died of illness. The three people he had left behind in adversity thus decided to leave the country.</p>
<p class="para">The grief at the loss of his father was great, but within Inuart's heart was the secretively joyful thought "This way I can finally be together with Furiae" - but his expectations failed when the hard reality was thrust before him. Rather than being Inuart's fiancee, Furiae chose to stay with her brother Caim. While he accepted this with apparent calmness, Inuart was inwardly shaken and discouraged to an immeasurable degree. "Why must she choose Caim over me!" Inuart's heart was filled with whirling jealousy, and as he cursed himself for his inability to support them, he sat alone in the now-empty palace, playing his harp. Having lost Furiae whom he'd loved, the man had nothing left to his name but his songs. And, immediately afterwards, when the "mark" appeared on Furiae, his fiancee went somewhere his hands could never reach. Inuart's dreams of a brilliant future had been lost for all eternity.</p>
<p class="para">Several years after that. In this disturbed age, Inuart spent his days fighting as a member of the Union Army. The sword skills he'd once forged together with Caim now served more useful than ever in this environment. However, his heart was constantly troubled by his thoughts. "If I had even more power, then Furiae would—- I wish for power!"</p>
<p class="para">—A dog's howl could be heard from somewhere, snapping the young man out of his thoughts. Inuart slowly raised his body from the bed, taking his harp from where it lay against the wall, and quietly began to play. That melancholy tune did not cease until dawn.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/cnov">Back</a></p>
