---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Inuart's Novella</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>
<p class="title">Inuart's Novella</p>
<img src="https://i.imgur.com/jxRTHXQ.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/kestrel">Kestrel</a></p>   
<p class="title">Characteristics</p>   
<p class="para">Sex: Male</p>
<p class="para">Age: 20</p>
<p class="para">Blood Type: A</p>
<p class="para">Pact Partner: Black Dragon</p>
<p class="para">Pact Price: Song</p>
<p class="para">Seal Location: Neck</p> 
<p class="title">Caim, close friend since childhood</p>
<p class="para">His father Ibris, coming and going from the country of Caerleon, gained great trust from King Gaap. As his son, Inuart had the privilege of being brought up from childhood as if he and Caim were brothers, to the extent that he even had sword training under Gaap himself. However, when it came to inherent skill, he was not once able to beat Caim with a sword. He made friends with Caim's sister Furiae as well, and before they knew it the two had fallen in love.</p>
<p class="title">Former fiancee Furiae</p>
<p class="para">Once the king learned that they'd fallen in love, the two became engaged. But from that moment on, the bonds of their friendship began to fray. Inuart desired to monopolize Furiae for himself, while Furiae, who adored her brother, refused to be parted from Caim. After Gaap's death, when she chose on her own volition to leave on a journey with Caim, Inuart's sense of loss became stronger than ever before.</p>
<p class="title">Harpist famed for his beautiful voice</p>
<p class="para">Inuart's swordsmanship was no match for Caim's, but there was one thing he could be proud of. The facility with which he performed on his harp, and his singing. His songs were soothing to hear, charming Furiae's heart. However, when it seemed Caim and Furiae had fallen into poverty with Gaap's death, instead of songs and the like, he began to wish for power with which to support the two. Before he knew it, that thought began to weigh on him deep down inside.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/rd1/rcnov/03inuartstory">Inuart's Novella</a></p>
<p class="menu"><a href="/stories/d1/cnov">Back</a></p>
