---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Verdelet's Novella</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
</style>
<p style="margin-top: 1cm; font-size: 300%;"><strong>Verdelet's Novella</strong></p>
<img src="https://i.imgur.com/690V1UV.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/kestrel">Kestrel</a></p>   
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Characteristics</strong></p>   
<p style="text-align:left;text-indent:1in;margin-top: 0.1cm; font-size: 130%">Sex: Male</p>
<p style="text-align:left;text-indent:1in;margin-top: 0.1cm; font-size: 130%">Age: 72</p>
<p style="text-align:left;text-indent:1in;margin-top: 0.1cm; font-size: 130%">Pact Partner: Petrified Dragon</p>
<p style="text-align:left;text-indent:1in;margin-top: 0.1cm; font-size: 130%">Pact Price: Hair</p>
<p style="text-align:left;text-indent:1in;margin-top: 0.1cm; font-size: 130%">Seal Location: Head</p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Story</strong></p>   
<p style="margin-top: 0.4cm; font-size: 170%;"><strong>The position called Hierarch</strong></p>
<p class="para">In Verdelet's position as hierarch, the greatest duty of his office was to ensure the safety of the goddess. He was the only being permitted to come in contact with the goddess, and took care of her daily necessities. Due to the nature of his office, the hierarch rarely appeared before the public. Coincidentally, he was also the supreme commander of the Union Army, though as head of the army he never did any actual commanding. This was because to the very end, he put the protection of the goddess as his first priority.</p>
<p style="margin-top: 0.4cm; font-size: 170%;"><strong>Wielder of sealing powers</strong></p>
<p class="para">As might be expected from one who stood at the head of all priests, the hierarch possessed all sorts of mysterious powers. The most important of these, was the power to seal. For any sort of situation in which a seal was broken, the only one in the world who could mend it was the hierarch. Furthermore, in such situations he used nothing but a single talisman and incantation. Though Verdelet had occasional moments of emotional weakness, as a priest his abilities were first-class.</p>
<p style="margin-top: 0.4cm; font-size: 170%;"><strong>Pact partner—-petrified dragon</strong></p>
<p class="para">When Verdelet was young, he made a pact with a dragon. He lost his hair as the price, and a crest appeared upon his head. He does not speak of the details of the pact, but we cannot be mistaken in assuming that the great power he gained from the dragon was the main cause of his rise to the position of hierarch. Furthermore, the dragon he had made a pact with was already petrified. Still, having formed a pact similar to that of Caim's, he could hear the red dragon's "voice".</p>
<p style="margin-top: 0.4cm; margin-left:3%; margin-right:3%; font-size: 170%;"><strong>Novella: The man of god who hides inner conflict within his heart</strong></p>
<p class="para">Verdelet was worried. While he had the title of hierarch, sometimes, he lost his understanding of God's true motives. Of course, even if he was hierarch he was still no more than a single human being, and could not expect to foresee everything God willed. However, recent incidents had far surpassed Verdelet's understanding. The Angel's Church, the Imperial Army, and―the goddess Furiae. What in the world was God hoping for―?</p>
<p class="para">Verdelet gazed at the adjoining room as he took a break from his writings. Beyond the single wall that separated them, was the present goddess Furiae's living room. Thinking of her, Verdelet felt an ache in his chest. At the tender age of 13, having still to recover from the trauma of seeing her parents slaughtered before her eyes, the girl had been separated from her brother and fiance―Verdelet could not help but think that God had dealt her far too cruel a blow. When he first met Furiae, there had been an emptiness in her eyes not at all typical of a 14-year-old girl, the mere memory of which sent a shiver through his spine. She certainly appeared to be a pitiful girl on the outside, but the air she gave was entirely like that of an old woman on the verge of death. Furiae was―a hollow shell.</p>
<p class="para">As hierarch, Verdelet's duty was to ensure the safety of the goddess. Until now, the goddesses he had worked with would be obstinate at first, but many of them would open up towards him over time. However, Furiae was different. It had already been several years since she became the goddess, and yet he could count the number of times she had spoken to him on one hand. Of course, when he spoke to her she never failed to reply. But her tone stayed quiet, and not once could a sign of emotion be felt from her. Verdelet had now given up on all attempts to open her heart.</p>
<p class="para">At a time like this, if the dragon were here―His thoughts always found themselves wandering towards this conclusion. He had immense power, and had gained respect from a great many people as hierarch, but in truth, this was a dreadfully lonely existence. If Verdelet gave a single command, tens of thousands of people would lay down their lives to carry it out, no matter how trivial. But more than that, what he really wanted was a single companion with which he could converse as an equal. Before, the one to carry that role had been the dragon that was his pact partner. But the dragon had fossilized long ago, and fallen into eternal sleep―A long sigh escaped from Verdelet's mouth.</p>
<p class="para">News of the war seemed to be coming in every day, notifying them that danger was approaching the castle they currently resided in. It seemed the day was not far away that he and the goddess would be living a live of vagrancy together. I wonder if I will be able to protect the goddess when that time comes― "Oh God, give me strength!" He let out an involuntary prayer, but there was no response―.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/cnov">Back</a></p>
