---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Verdelet's Profile</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>
<p class="title">Verdelet's Profile</p>
<img src="https://i.imgur.com/qtz6N1J.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/kestrel">Kestrel</a></p>
<p class="title">Characteristics</p>   
<p class="para">Sex: Male</p>
<p class="para">Age: 72</p>
<p class="para">Pact Partner: Petrified Dragon</p>
<p class="para">Pact Price: Hair</p>
<p class="para">Seal Location: Head</p>
<p class="title">The position called Hierarch</p>
<p class="para">In Verdelet's position as hierarch, the greatest duty of his office was to ensure the safety of the goddess. He was the only being permitted to come in contact with the goddess, and took care of her daily necessities. Due to the nature of his office, the hierarch rarely appeared before the public. Coincidentally, he was also the supreme commander of the Union Army, though as head of the army he never did any actual commanding. This was because to the very end, he put the protection of the goddess as his first priority.</p>
<p class="title">Wielder of sealing powers</p>
<p class="para">As might be expected from one who stood at the head of all priests, the hierarch possessed all sorts of mysterious powers. The most important of these, was the power to seal. For any sort of situation in which a seal was broken, the only one in the world who could mend it was the hierarch. Furthermore, in such situations he used nothing but a single talisman and incantation. Though Verdelet had occasional moments of emotional weakness, as a priest his abilities were first-class.</p>
<p class="title">Pact partner—petrified dragon</p>
<p class="para">When Verdelet was young, he made a pact with a dragon. He lost his hair as the price, and a crest appeared upon his head. He does not speak of the details of the pact, but we cannot be mistaken in assuming that the great power he gained from the dragon was the main cause of his rise to the position of hierarch. Furthermore, the dragon he had made a pact with was already petrified. Still, having formed a pact similar to that of Caim's, he could hear the red dragon's "voice".</p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/rd1/rcnov/04verdeletstory">Verdelet's Novella</a></p>
<p class="menu"><a href="/stories/d1/cnov">Back</a></p>