---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Leonard's Novella</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
</style>
<p style="margin-top: 1cm; font-size: 300%;"><strong>Leonard's Novella</strong></p>
<img src="https://i.imgur.com/m5LE76N.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/kestrel">Kestrel</a></p>   
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Characteristics</strong></p>   
<p class="para">Sex: Male</p>
<p class="para">Age: 32</p>
<p class="para">Pact Partner: Fairy</p>
<p class="para">Pact Price: Sight</p>
<p class="para">Seal Location: Eyeball</p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Story</strong></p>   
<p style="margin-top: 0.4cm; font-size: 170%;"><strong>Living quietly as a hermit to avoid conflict</strong></p>
<p class="para">In the past, due to a certain reason, Leonard left his family to live in the forest, away from the public eye. Then one day, because the Imperial Army was chasing his family, he sheltered his younger brothers and they all lived together. Why he came to live in the forest, even his family did not know. However, surely just as that reason was about to come to light, Leonard lost his brothers—- He would bear a much too heavy cross upon his shoulders.</p>
<p style="margin-top: 0.4cm; font-size: 170%;"><strong>Tortured by his own unique inclinations</strong></p>
<p class="para">His reason for leaving his family was—-because he was ashamed of his unique inclinations. With his fastidious personality, choosing the hermit's path seemed the obvious answer to confronting his shame at his perverted disposition, but he was unable to abandon it. Then, the final scandal occurred. While he was in the forest drowning in lust, the Imperial Army came on a raid, and his three younger brothers were slaughtered—-</p>
<p style="margin-top: 0.4cm; font-size: 170%;"><strong>His fairy knows all</strong></p>
<p class="para">With the magnitude of the crime he had committed, Leonard once tried to take his own life, but could not ultimately do it through fear of death. There, Fairy appeared after out his strong "negative emotions" and offered him a pact, arbitrarily forcing the completion of the contract. From that point forward, he was daily abused by the all-knowing Fairy over every little thing, and had to abide with his own committed sins.</p>
<p style="margin-top: 0.4cm; margin-left:3%; margin-right:3%; font-size: 170%;"><strong>Novella: His unique inclinations torment the fastidious hermit</strong></p>
<p class="para">It happened shortly before Leonard went through puberty. His friends had already gone through the change in voice themselves, and little by little Leonard went through that change from boy to adult as well. When the boys around that age gathered together, talk would naturally turn to "gossip" about the opposite sex. Which girl is cute, no I think that girl's nice—- In the midst of his friends' excitement in their childish arguments, Leonard alone had no interest in such tedious chatter. If they were to talk about the girls they liked, it was a single boy's profile that filled his gaze.</p>
<p class="para">This flaxen-haired boy stood out among his friends as having particularly handsome features. When Leonard gazed at him, a mysteriously warm feeling rose up in his chest. What a beautiful face that is—- At that moment, having felt his gaze, the boy suddenly turned and spoke to Leonard.</p>
<p class="para">"Come to think of it, how about you, Leonard?"</p>
<p class="para">Taken off-guard as he was, Leonard could say nothing at the moment, blushing as he turned his gaze downwards. Seeing him like that, his friends laughed at the strange guy, then turned back to their talk of the opposite sex. While Leonard mentally breathed a sigh of relief, it became clear to him then that he was different from his friends.
<p class="para">Nearly 20 years have passed since then. This unique disposition—-this love of boys continued to torment Leonard, and he began living in the forest as a hermit. At first he had separated from his family and lived alone, but because of their being chased by the Imperial Army, he now gave shelter to his three younger brothers. Of course, not a single person in his family knew about his leanings. However, he could no longer restrain the desire that had heaped upon itself over the years, and would sneak into the woods behind the house to pleasure himself outside his brothers' notice—-thus he passed the days. "I cannot do this forever!" Coming home from the woods, he would think this each time he saw his brothers' faces, but ultimately he succumbed to the weakness of his own heart. Then the fated day came—-</p>
<p class="para">That day as usual, when it got dark, Leonard quietly snuck out of the house. With the pain of corruption stinging in his chest, and filled with expectations of pleasure, he quickened his pace as he headed towards the forest. Then, when Leonard's figure had completely vanished into the woods, soldiers with eerily glowing red eyes gathered before his house. His brothers, who noticed them outside the window, each called out for their brother to help them. But those voices would never reach Leonard's ears—-</p>
<p class="para">Leonard thought: That time, I should have been the one to die. But he had survived. Unable to even find a place to die, the blind hermit continues to wander aimlessly—</p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/cnov">Back</a></p>
