---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Arioch's Profile</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>
<p class="title">Arioch's Profile</p>
<img src="https://i.imgur.com/pl30mCB.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/kestrel">Kestrel</a></p>
<p class="title">Characteristics</p>   
<p class="para">Sex: Female</p>
<p class="para">Age: 24</p>
<p class="para">Pact Partner: Undine, Salamander</p>
<p class="para">Pact Price: Womb</p>
<p class="para">Seal Location: Abdomen</p>
<p class="title">Decaying mind at the murder of her family</p>
<p class="para">Arioch was originally an ordinary housewife, living in Niflheim. However, one day her beloved husband and son were slaughtered by the Imperial Army, the shock of which completely shattered her heart. She has the tall stature and beautiful features peculiar to the elf village, but madness dwells in those eyes, so that others do not dare to even speak with her. Still, the way she bursts into sudden laughter in the middle of her screams, as if remembering something, is an act so strange as to stand out from even the most eccentric of normal people.</p>
<p class="title">Murdering only the weak</p>
<p class="para">Having been overcome by insanity, Arioch's change into a terrible murderer shocked Niflheim. Only very young children became her targets. Moreover, of the children that were killed, they all without exception were found with traces of one of their body parts having been eaten. After these bloody incidents had come up many times, Arioch was captured by the Imperial Army, and taken into custody.</p>
<p class="title">Contract partners are two superior spirits</p>
<p class="para">Left in the custody of the Imperial Army's prison, Arioch could do nothing but wait for the day of her execution. However, her fate had yet to come to an end. Upon the prison's destruction by a surprise attack from the Allied Army, having taken notice of the woman's insanity, Salamander and Undine appeared before her, and proposed a contract. According to the contract, she would be exchanging her womb in order to prolong her life. However, whether or not she understood the meaning of this contract was questionable at this time.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/rd1/rcnov/06ariochstory">Arioch's Novella</a></p>
<p class="menu"><a href="/stories/d1/cnov">Back</a></p>