---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Seere's Novella</title>
<p class="title">The boy with eternal youth becomes owner of a pure spirit</p>
<p style="margin-top: 0.2cm; font-size: 150%;"><i>I loved only you...</i></p>
<p class="para">Seere opened his eyes when he felt his mother's presence.</p>
<p class="para">"Mother! Mother where are you? If you're here then answer me!" But of course instead of his mother's figure, the boy's worried gaze found only Golem there. Seere, crestfallen, lowered his head, and mumbled to himself with a great sigh.</p>
<p class="para">"A dream again......"</p>
<p class="para">Ever since that day, his mother would always appear in his dreams without fail when he slept. Kind and beautiful Mother, Mother who loved only me― But that mother wasn't here anymore. His father as well had died. Seere was all alone.</p>
<p class="para">"Seere, alone, wrong."</p>
<p class="para">Having read his thoughts, Golem humbly protested. Seere floated a smile, holding onto the craggy body, and pressed his cheek to his only friend in the world as he replied.</p>
<p class="para">"That's right, isn't it. Thank you, Golem."</p>
<p class="para">So saying, he extended his tiny arms as far as he could and embraced Golem's gigantic leg, staying like that for a short moment. Mother used to always embrace Seere like this. Mother's breast was warm, and soft, and smelled very nice. Since I'm tiny I can't do it like that, but Golem is an important friend. So I want to give him a hug, just the way Mother used to—-. And so, like that, before he knew it Seere had fallen asleep.</p>
<p class="para">Having noticed the faint breathing that signified sleep, Golem's great hand moved slowly, gently placing Seere's little body on the soft meadowland beneath the shade of a rock. That movement seemed very much in appearance like that of a mother towards her own child, filled with a deep affection.</p>
<p class="para">―The next morning, when Seere opened his eyes, Golem's figure was not by his side as he had expected.</p>
<p class="para">"Golem......? Golem!"</p>
<p class="para">At his involuntary shout, Golem's figure slowly appeared from the shade of the rocks a short ways off. Seere was relieved, but also wondered what Golem had been doing.</p>
<p class="para">"Found, same smell, as Seere."</p>
<p class="para">Seere was taken aback by those words. Right now, the two of them were near the valley that his long-lost sister Manah had been abandoned in. Golem, with its monster's sense of smell, must have caught his sister's scent. Manah, who had received not one bit of Mother's love. Seere, living in a haze of love from his mother, had forgotten about his sister. And finally Manah was—-</p>
<p class="para">"I have to find Manah. And then, I have to apologize―"</p>
<p class="para">Seere slowly stood up. Within his eyes shone the strong light of determination.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/rd1/rcnov/07seerenov">Back</a></p>
