---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>NieR Re[in]carnation</title>
<p class="title"><a href="/stories/reincarnation/main-story/read-through/his-body-rust">
    His Body, Rust<img class="art" src="https://i.imgur.com/Pl1Cboq.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/main-story/read-through/what-was-lost">
    What Was Lost<img class="art" src="https://i.imgur.com/PKv8ACG.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/main-story/read-through/determined-hearts">
    Determined Hearts<img class="art" src="https://i.imgur.com/mqPWjt0.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/main-story/read-through/this-violent-fleeting-world">
    This Violent, Fleeting World<img class="art" src="https://i.imgur.com/xir84xH.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/main-story/read-through/the-distant-peak">
    The Distant Peak<img class="art" src="https://i.imgur.com/fGliHxq.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/main-story/read-through/redemption-black">
    Redemption: Black<img class="art" src="https://i.imgur.com/9XLxVhS.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/main-story/read-through/priSOner">
    priSOner<img class="art" src="https://i.imgur.com/pda2nxa.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/main-story/read-through/liberator">
    Liberator<img class="art" src="https://i.imgur.com/M67M63p.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/main-story/read-through/a-cold-and-hollow-silence">
    A Cold and Hollow Silence<img class="art" src="https://i.imgur.com/TDUyOdp.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/main-story/read-through/the-reluctant-hero">
    The Reluctant Hero<img class="art" src="https://i.imgur.com/dolkq05.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/main-story/read-through/echoes-in-the-heart">
    Echoes in the Heart<img class="art" src="https://i.imgur.com/msUDdLy.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/main-story/read-through/redemption-white">
    Redemption: White<img class="art" src="https://i.imgur.com/DT7y2v0.png"></a></p>
    <p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/main-story">Back</a></p>
