---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Looking Back 2</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }
</style>
<p style="margin-top: 1cm; font-size: 300%;"><strong>Looking Back 2</strong></p>
<img src="https://i.imgur.com/9nat83p.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/barnabism">Barnabism</a></p>
<p class="para">Hello, this is Yasui, the director for Drakengard 2. They had told me they would like me to write something about 2 for World Inside, but as expected for a game that came out 7 years ago, my memory had completely consigned itself into oblivion on a variety of things. Not only that, but I had already spoken about it in the past, so I was at a loss on what to write. For this, however, I would like to look back on the draft for Drakengard 2 that was made immediately after the start of the project and what was lost.</p>
<p class="para">To start, Drakengard 2 was actually the first idea that was proposed as a way to fix the parts of Drakengard 1 that many had found unsatisfying and as a method of expanding the playerbase, rather than the story.</p>
<p class="para">Some keywords were:</p>
<p class="para">“A feeling of a story that’s sweet and concise”</p>
<p class="para">“Build on the RPG feeling”</p>
<p class="para">“Make it easier to understand”</p>
<p class="para">“Suitable evolution of the gameplay”</p>
<p class="para">… In other words, the premise of Drakengard 2 was to touch around the edges of the first game, and deliver the content and atmosphere in a way that was suitable for everyone. From the start, Drakengard is an insane piece of work in the sense of the off-the-wall scenarios from Mr. Yoko and Ms. Natori. The dark outlook on its world players saw as they looked further between the lines had caught their curiosity, so to make something like that for everyone… We had no choice but to chase behind Mr. Yoko, otherwise it would be a project destined to struggle under that weight.</p>
<p class="para">As a result of this struggle, what I aimed for was to evolve “Alien” into “Alien 2”. That is to say, I wanted to make a story of dragons, the seals, and the people involved, but improve on the entertainment value and polish the game in a way that would bring satisfaction to the people playing it. I wanted to create something that would bring me that same kind of satisfaction, so I decided to work on it.</p>
<p class="para">To begin with making it feel “Sweet and concise” in differentiating from Drakengard 1, we introduced bright and colourful visuals, featured antagonists that were easy to understand, and brought in characters from the first Drakengard. We proposed an idea for the story being focused on the growth of the main character in a “Boy Meets Girl” scenario, with a storyline featuring content that was easy to understand.</p>
<p class="para">On that note, Drakengard 2 features the double heroines of Manah and Eris. I was thinking about introducing a likability parameter and branching the story in accordance with the frequency of use between the two characters and the player’s behaviour. In the early stages of its development, it was not possible to create a branching scenario of that kind, so the idea was rejected. However, the remnants of the idea remain present in the different ending branches.</p>
<p class="para">Next was to “Build on the RPG feeling”, and the initial thought was to make a huge map that you would traverse through on a dragon, as it was common when speaking of RPGs to think of encounters on an open map. I had spent my time fantasising about something like an RPG in its purest form, where you encounter and battle with enemies and earn experience points. However, the movement was awkward (It costs money to implement the specifications needed to resolve those issues), and from a technical standpoint, it was difficult to display such a vast map. We decided to scrap it, and go on a mission system instead. Though I had given up on the map, I added an RPGness to the game by putting in various other elements such as being able to level up, use items, and make purchases.</p>
<p class="para">“Make it easier to understand” was a point connected with making it feel sweet and concise, but since it was required to widen the scope in Drakengard 2 in order to bring in more players, I took special care to include easy-to-understand settings, dialogue, explanatory events, tutorials, etc. during development.</p>
<p class="para">By the way, by the day Drakengard 2 had been released, it’s content was bright! It was easy to understand! Having been under the assumption a director should do what he wants, and taking that wording to stupidly serious levels, this was the result:</p>
<p class="para">“Our main character, a young boy, sets out on an adventurous journey together with Angelus, who had been transformed into a young girl, in order to find the missing Caim. Finally they board the “Dragoon Spaceship” and fight against dragons from another planet”</p>
<p class="para">...I had a wild idea about something called “Tondemo<sup style="color:rgb(190, 247, 255);"><a href="#editor">[1]</a></sup> Dragoon”... But, I didn’t have the guts to follow through…</p>
<p class="para">But in regards to the final point of making “Suitable evolution of the gameplay”, we sought out the requests of fans and took the parts we on the team were dissatisfied with, and thought to hold in check the following points:</p>
<p class="para">Increase the need to switch between weapons</p>
<p class="para">Strengthen the feeling of fighting together with your companions</p>
<p class="para">Intensify the “Action-feel” of the game</p>
<p class="para">Strengthen the RPG feeling</p>
<p class="para">Add on the feeling of being a knight on a dragon</p>
<p class="para">Add more variety to the map composition</p>
<p class="para">The addition and enhancement of boss battles</p>
<p class="para">Etc…</p>
<p class="para">Yes, that was the plan. But anyways, I carefully followed up on the more unfortunate parts of Drakengard 1 and the places I wanted to strengthen as well. Early on in the plan it had been proposed that it could follow in the steps of a certain Dynasty Warriors game in which your companion characters exist on the field all at the same time and fight alongside you, but we realised that between the costs and technical barriers that had to be overcome that we couldn’t reach it.</p>
<p class="para">At the beginning of the project, the Dragon Overdrive feature hadn’t been included yet. In the middle of development, I had wanted a system with a visual impact that was unique to Drakengard 2, so after some consideration, I put it in. There were a variety of other such features, but in the end, keeping the gameplay in regard, I think it was possible to stay well within the budget while sticking to the improved features of the existing gameplay by making it something like a Drakengard 1.5.</p>
<p class="para">Briefly looking back on it, what I had learned in my time as a director was the difficulty and importance that came with deciding. Not just limited to the stories of your companion characters, but I had hit a barrier many times with issues like how I had to choose what to keep and what to reject while staying within cost and time limits, or whether I could carry through with making a choice without blaming others for my decision. In the time I spent working on Drakengard 2, the team’s staff was reliable.</p>
<p class="para">Every time they gave me advice, such as helping me with what to decide on first, what was pointless to do, and whether or not something had made sense to do. It was often said that half of the game was built with a very kind feeling in mind. The team at Cavia I had with me at that time is already disbanded, but I am still very grateful to them for supporting me as a new director.</p>
<p class="para">And… Looking back now, I wonder if I should have done more of what I liked then. What kind of branches would have been waiting for us then? I hope I can look forward to the improvements that have been made with Drakengard 3. Thank you.</p>
<p class="line"></p>
<p class="para"><sup id="editor" style="color:rgb(190, 247, 255);">[1]</sup>Tondemo: Unthinkable, outrageous, unexpected</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-2/stories">Back</a></p>