---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Drag-on Dragoon History</title>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/dod-history-portrait.avif?updatedAt=1755425286101");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/dod-history-landscape.avif?updatedAt=1755425286091");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/drag-on-dragoon-history-portrait.avif?updatedAt=1755054118027");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/drag-on-dragoon-history-landscape.avif?updatedAt=1755054117829");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
    }
</style>

<p class=title><a href="https://youtu.be/Juk-v2efxFg">
    DOD History<img class="art" src="https://i.imgur.com/ZH3e7sd.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://youtu.be/l9bAxD7iIEM">
    8-Bit DOD<img class="art" src="https://i.imgur.com/DRc9mBi.png"></a></p>
    <p class="line"></p>
    <p class="menu"><a href="/stories/drag-on-dragoon-history/dod-1">DOD1 Promotions</a></p>
    <p class="line"></p>
    <p class="menu"><a href="/stories/drag-on-dragoon-history/dod-2">DOD2 Promotions</a></p>
    <p class="line"></p>
    <p class="menu"><a href="/stories/drag-on-dragoon-history/nier">NieR Promotions</a></p>
    <p class="line"></p>
    <p class="menu"><a href="/stories/drakengard-all">Back</a></p>
<link rel="preload" href="https://i.imgur.com/h0zwems.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/1efeKed.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/eYkpmnF.png" as="image" type="image/png" />
<!--Above is for dod-1 preloading-->
<link rel="preload" href="https://i.imgur.com/9yS8PE3.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/v6Hd7Tz.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ZmHJUaY.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/DubqTjw.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/zdfaob7.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/kikjjpT.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/WLPWJau.png" as="image" type="image/png" />
<!--Above is for dod-2 preloading-->
<link rel="preload" href="https://i.imgur.com/pPAirD8.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/SVoxB87.png" as="image" type="image/png" />
<!--Above is for nier preloading-->