---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>DODHIST DOD1</title>

<h1><a href="https://www.youtube.com/watch?v=lUnsjK6tr9I&feature=youtu.be">
    Promotional 01<img class="art" src="https://i.imgur.com/h0zwems.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://youtu.be/lnd7Dp3VAJE">
    Promotional 02<img class="art" src="https://i.imgur.com/1efeKed.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://youtu.be/XRPpEhkiIG0">
    Promotional 03<img class="art" src="https://i.imgur.com/eYkpmnF.png"></a></h1>
    <p class="line"></p>
<p class="menu"><a href="/stories/drag-on-dragoon-history/dod-history">Back</a></p>
