---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>

<h1><a href="https://www.youtube.com/watch?v=Dmo448koIQE">
    Promotional 01<img class="art" src="https://i.imgur.com/pPAirD8.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://www.youtube.com/watch?v=NLYx89M7XBM">
    Promotional 02<img class="art" src="https://i.imgur.com/SVoxB87.png"></a></h1>
    <p class="line"></p>
<p class="menu"><a href="/stories/drag-on-dragoon-history/dod-history">Back</a></p>
