---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/karist.css'
---

<BaseLayout>
</BaseLayout>
<title>Character Novella's</title>
<h1><a href="https://drive.google.com/file/d/1N1LN-KQO6JA_l7xjODuOm8sbCfZww7C7/view">
    Caim's Novella<img src="https://i.imgur.com/eUfowBv.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1CRfBJad34ts_5KwW3E2a7vM9a7vIpbQB/view">
    Furiae's Novella<img src="https://i.imgur.com/6v1ffqh.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/17EbJCbHyubgovW9ZwuX43pArEKgvbrZF/view">
    Inuart's Novella<img src="https://i.imgur.com/lv3X8Si.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1lW8DHxirKJXpsX0iWbJAc32aGAEHU-SE/view">
   Verdelet's Novella<img src="https://i.imgur.com/Tal5Z4H.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1BQOhHJ43IP2Mi3RbKQ00cwQpzcry4Ct-/view">
    Leonard's Novella<img src="https://i.imgur.com/uBhHGfD.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1UMhReYsSMgLy5GygLdN0OP8JkL7rmVul/view">
    Arioch's Novella<img src="https://i.imgur.com/sYJhIJ6.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1OyLxVVMiiItt7Zi-N0L0sm5gnieI_sNY/view">
    Seere's Novella<img src="https://i.imgur.com/odEA2ZV.png"></a></h1>
<p><a href="/stories/dr1">Back</a><a href="/ths">&nbsp&nbspHome</a></p>
