---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>Character Novella's</title>
<h1><a href="https://drive.google.com/file/d/1N985ZtcyZ0Dkpq0qhGkfUwsHtg_sN7_N/view?usp=sharing">
    Caim's Novella<img class="art" src="https://i.imgur.com/eUfowBv.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1hIZKA4vkzuAzm2OlU6m7litM4Bj5F-AL/view?usp=sharing">
    Furiae's Novella<img class="art" src="https://i.imgur.com/6v1ffqh.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1Lmnyep1xAqqpARmA-Mb_yhINAHEsXt1o/view?usp=sharing">
    Inuart's Novella<img class="art" src="https://i.imgur.com/lv3X8Si.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1TDFFq83rLGPhA0xZnY0QrFbbwX3eT0vP/view?usp=sharing">
   Verdelet's Novella<img class="art" src="https://i.imgur.com/Tal5Z4H.png"></a></h1>
   <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1hGFVtQn0KJRSrUBdER_FdauGNVDRHE1d/view?usp=sharing">
    Leonard's Novella<img class="art" src="https://i.imgur.com/uBhHGfD.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1l1q5UdLjPII2lVpUW7idYIbN8TBcII1F/view?usp=sharing">
    Arioch's Novella<img class="art" src="https://i.imgur.com/sYJhIJ6.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1QQPbi-VRT2Wt-QvqZ94xs_n9V0S-kjRF/view?usp=sharing">
    Seere's Novella<img class="art" src="https://i.imgur.com/odEA2ZV.png"></a></h1>
    <p class="line"></p>
    <p class="menu"><a href="/stories/dr1">Back</a></p>
