---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
</BaseLayout>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1N1LN-KQO6JA_l7xjODuOm8sbCfZww7C7/preview">Caim's Novella</a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1CRfBJad34ts_5KwW3E2a7vM9a7vIpbQB/preview">Furiae's Novella</a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/17EbJCbHyubgovW9ZwuX43pArEKgvbrZF/preview">Inuart's Novella</a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1lW8DHxirKJXpsX0iWbJAc32aGAEHU-SE/preview">Verdelet's Novella</a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1BQOhHJ43IP2Mi3RbKQ00cwQpzcry4Ct-/preview">Leonard's Novella</a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1UMhReYsSMgLy5GygLdN0OP8JkL7rmVul/preview">Arioch's Novella</a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1OyLxVVMiiItt7Zi-N0L0sm5gnieI_sNY/preview">Seere's Novella</a></strong></h1>
<p style="font-size: 38px;text-align: center;letter-spacing: 1px;" ><a href="/stories/dr1">Back</a><a href="/ths">&nbsp&nbspHome</a></p>
