---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>D1 Character Novella's</title>
<h1><a href="/stories/d1/rd1/rcnov/01caimnov">
    Caim's Novella<img class="art" src="https://i.imgur.com/eUfowBv.png"></a></h1>
    <p class="line"></p>
<h1><a href="/stories/d1/rd1/rcnov/02furiaenov">
    Furiae's Novella<img class="art" src="https://i.imgur.com/6v1ffqh.png"></a></h1>
    <p class="line"></p>
<h1><a href="/stories/d1/rd1/rcnov/03inuartnov">
    Inuart's Novella<img class="art" src="https://i.imgur.com/lv3X8Si.png"></a></h1>
    <p class="line"></p>
<h1><a href="/stories/d1/rd1/rcnov/04verdeletnov">
   Verdelet's Novella<img class="art" src="https://i.imgur.com/Tal5Z4H.png"></a></h1>
   <p class="line"></p>
<h1><a href="/stories/d1/rd1/rcnov/05leonardnov">
    Leonard's Novella<img class="art" src="https://i.imgur.com/uBhHGfD.png"></a></h1>
    <p class="line"></p>
<h1><a href="/stories/d1/rd1/rcnov/06ariochnov">
    Arioch's Novella<img class="art" src="https://i.imgur.com/sYJhIJ6.png"></a></h1>
    <p class="line"></p>
<h1><a href="/stories/d1/rd1/rcnov/07seerenov">
    Seere's Novella<img class="art" src="https://i.imgur.com/odEA2ZV.png"></a></h1>
    <p class="line"></p>
    <p class="menu"><a href="/stories/dr1">Back</a></p>
