---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---
<BaseLayout>
</BaseLayout>
<title>D1 Story Side</title>
<style>
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }


    </style>
<div id="sidenav">
    <a href="/ths"><img class="slogo" src="https://i.imgur.com/AJWylNV.png"></a>
    <p class="line"></p>
    <a href="/stb">
        <p class="menu">Stories</p>
    </a>
    <p class="line"></p>
    <a href="/credits">
        <p class="menu">Credits</p>
    </a>
    <p class="line"></p>
    <a href="https://k.closesttopurple.org/post/list/-karis/1">
        <p class="menu">Gallery</p>
    </a>
    </div>
<h1><strong><a href="/stories/d1/rd1/rd1ss/rd1ssch1">
    Chapter One<img class="art" src="https://i.imgur.com/XNJOnLR.png"></a></strong></h1>
<h1><strong><a href="https://docs.google.com/document/d/13GbvLDRKHV57VWiZe6P33MLlt1GHBqlE-vTjiv0eju4/edit?tab=t.0#heading=h.n1qgr05ty6s6">
    Chapter Two<img class="art" src="https://i.imgur.com/lRqyRGV.png"></a></strong></h1>
<h1><strong><a href="https://docs.google.com/document/d/13GbvLDRKHV57VWiZe6P33MLlt1GHBqlE-vTjiv0eju4/edit?tab=t.0#heading=h.1gztmfltuhgi">
    Chapter Three<img class="art" src="https://i.imgur.com/pMrObnd.png"></a></strong></h1>
<h1><strong><a href="https://docs.google.com/document/d/13GbvLDRKHV57VWiZe6P33MLlt1GHBqlE-vTjiv0eju4/edit?tab=t.0#heading=h.6u91xu5lq9ij">
    Chapter Four<img class="art" src="https://i.imgur.com/aQYtAy2.png"></a></strong></h1>
<h1><strong><a href="https://docs.google.com/document/d/13GbvLDRKHV57VWiZe6P33MLlt1GHBqlE-vTjiv0eju4/edit?tab=t.0#heading=h.mkbxvo33z0qt">
    Chapter Five<img class="art" src="https://i.imgur.com/tO8W5zp.png"></a></strong></h1>
<p class="line"></p>
<p class="menu"><a href="/stories/dr1">Back</a></p>
