---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
</BaseLayout>
<style>
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0.5cm;
  }
</style>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1igPN3I0t2UB1gwHtkusJojw6BQc1ynJK/view">
    The Song of Fourteen Years<img src="https://i.imgur.com/MUh3zXD.png" alt="The Song of Fourteen Years" class="Left"width="100%" height="100%"></a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1QiqyKVryoR2a_-PDRw-EI5miLx5_JeLe/view">
    Magnitude Negative - Prologue<img src="https://i.imgur.com/PzVIKfv.png" alt="Magnitude Negative - Prologue" class="center"width="100%" height="100%"></a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1lTsTOiTBZULh3UZ6X1sjve-39Vkx11_2/view">
    Magnitude Negative - Woman<img src="https://i.imgur.com/8pd4YuJ.png" alt="Magnitude Negative - Woman" class="center"width="100%" height="100%"></a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1J9R-FIar5J-143ZA3oLfM3XG55kPrpm3/view">
    Magnitude Negative - Earth<img src="https://i.imgur.com/l7DEGh4.png" alt="Magnitude Negative - Earth" class="center"width="100%" height="100%"></a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/16wc27sjVVGAm-myHAgC1ySoOo_vzW4JP/view">
    Magnitude Negative - Heaven<img src="https://i.imgur.com/6jkQZyl.png" alt="Magnitude Negative - Heaven" class="center"width="100%" height="100%"></a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1jISajZZ76CQJyg2ljm6H6nFnMPYruDnb/view">
    Magnitude Negative - Time<img src="https://i.imgur.com/qdjT7Qi.png" alt="Magnitude Negative - Time" class="center"width="100%" height="100%"></a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1xgS2tsPQjXFaELvz4lPpZqdQESKY9r4k/view">
    Magnitude Negative - Epilogue<img src="https://i.imgur.com/eOYzH94.png" alt="Magnitude Negative - Epilogue" class="center"width="100%" height="100%"></a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1mBVeiEcDCZQcdKYYIzr7W6L0oUoFGUQq/view">
    Magnitude Negative - Afterword<img src="https://i.imgur.com/VAfuXRi.png" alt="Magnitude Negative - Afterword" class="center"width="100%" height="100%"></a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1guzUTlO1PCHMTeoWUsFD1_8qUfsu0kHE/view">
    Magnitude Negative - About the Author/Illustrator<img src="https://i.imgur.com/FeB8ZzI.png" alt="Magnitude Negative - About" class="center"width="100%" height="100%"</a><!-- this makes no sense ! too bad !--></a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1oKohNVcIDYD-pnkq5alsScYB8tCQy2OE/view">
    Looking Back<img src="https://i.imgur.com/OSxdGkN.png" alt="Looking Back" class="center"width="100%" height="100%"></a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1wLG5RuMGSjgEhFr_wwawq74xlhJY-gUw/view">
    Questions & Answers<img src="https://i.imgur.com/i6O3Iub.png" alt="Q&A" class="center"width="100%" height="100%"></a></strong></h1>
<p style="font-size: 42px;text-align: center;letter-spacing: 1px;"><a href="/stories/dr1">Back</a><a href="/ths">&nbsp&nbspHome</a></p>
