---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
</BaseLayout>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1igPN3I0t2UB1gwHtkusJojw6BQc1ynJK/preview">The Song of Fourteen Years</a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1QiqyKVryoR2a_-PDRw-EI5miLx5_JeLe/preview">Magnitude Negative - Prologue</a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1lTsTOiTBZULh3UZ6X1sjve-39Vkx11_2/preview">Magnitude Negative - Woman</a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1J9R-FIar5J-143ZA3oLfM3XG55kPrpm3/preview">Magnitude Negative - Earth</a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/16wc27sjVVGAm-myHAgC1ySoOo_vzW4JP/preview">Magnitude Negative - Heaven</a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1jISajZZ76CQJyg2ljm6H6nFnMPYruDnb/preview">Magnitude Negative - Time</a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1xgS2tsPQjXFaELvz4lPpZqdQESKY9r4k/preview">Magnitude Negative - Epilogue</a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="hhttps://drive.google.com/file/d/1mBVeiEcDCZQcdKYYIzr7W6L0oUoFGUQq/preview">Magnitude Negative - Afterword </a></strong></h1>
<h1 style="text-align: center;font-size:200%; letter-spacing: 3px;"><strong><a href="https://drive.google.com/file/d/1guzUTlO1PCHMTeoWUsFD1_8qUfsu0kHE/view?usp=sharing">Magnitude Negative - About the Author/Illustrator</a></strong></h1>
<p style="font-size: 38px;text-align: center;letter-spacing: 1px;" ><a href="/stories/dr1">Back</a><a href="/ths">&nbsp&nbspHome</a></p>