---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/karist.css'
---
<BaseLayout>
</BaseLayout>
<title>Stories</title>
<h1><strong><a href="https://drive.google.com/file/d/1Hup1aE_zU7jlViyftkWetE0mGrIL_JNl/view?usp=sharing">
    The Garden of Light<img src="https://i.imgur.com/icJHFDI.png"></a></strong></h1>
<h1><strong><a href="https://drive.google.com/file/d/1oKohNVcIDYD-pnkq5alsScYB8tCQy2OE/view">
    Looking Back<img src="https://i.imgur.com/OSxdGkN.png"></a></strong></h1>
<h1><strong><a href="https://drive.google.com/file/d/1wLG5RuMGSjgEhFr_wwawq74xlhJY-gUw/view">
    Questions & Answers<img src="https://i.imgur.com/i6O3Iub.png"></a></strong></h1>
<h1><strong><a href="https://drive.google.com/file/d/1ToaVkD4gFWZ3AJP9DPP89fUBDiJFOwXw/view">
   Judgement Ch. 1<img src="https://i.imgur.com/q97Hp3v.png"></a></strong></h1>
<h1><strong><a href="https://drive.google.com/file/d/1tPCHAO0alIT01zgE3Cg-cL6d1EKKofk1/view">
   Judgement Ch. 2<img src="https://i.imgur.com/0Ac7o2t.png"></a></strong></h1>
<p><a href="/stories/dr1">Back</a><a href="/ths">&nbsp&nbspHome</a></p>
