---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>逃</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/D2s6LyC.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/SO5y9nS.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/3vlNFLq.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/f9vM51X.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
}
</style>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/lordpopo">Lord Popo</a></p>
<p class="title">Original link: <a href="https://www.jp.square-enix.com/nier-anniversary/15th-novel/"><u>NieR [U]ndecided Option</u></a></p>
<p class="line"></p>
<p class="para">Living by looking only forward.
    <br>That had become my way of life, something I had acquired over time. To look back at the past was synonymous with tearing open wounds and letting blood flow.
    <br>I repeated it. Over and over. Over and over again.
    <br>I had believed that if I kept resisting fate, a future would unfold where Yonah would be happy.
</p>
<p class="para">But was I wrong?
    <br>If so, where did I go wrong?
    <br>If, no matter how hard I struggled, I kept repeating an unwanted fate,
    <br>If each time, I ended up making Yonah suffer…
    <br>"Let’s… confront our sin."
    </p>
<p class="para">Even if that means the future generations will be lost.</p>
<p class="para">If the suffering of the people living in that distorted world also disappears along with it, then can we not call it salvation?</p>
<p class="para">At my words, the boy—the Shadowlord—nodded.
    <br>He was me, and I was him. The mirror image of us shared but one wish.</p>
<p class="para">"Beyond this point, there’s a turning point to end our cycle of reincarnation."</p>
<p class="para">In the space once more shrouded in darkness, the Shadowlord pointed forward, where there was neither sky nor earth— only a deep, impenetrable black.</p>
<p class="para">I nodded too.
    <br>Beyond that darkness, our original sin must lie.
    <br>The Shadowlord and I join hands and, side by side, begin walking into the void.</p>
<p class="para">Perhaps I had asked for too much.
    <br>Perhaps it had been a wish beyond my reach.
    <br>I only ever wanted…to protect Yonah.</p>
<p class="para">I will live, as if burning through the life left to us.
    <br>That was enough.
    <br>Could you watch over me, so that I don’t make any more mistakes?</p>
<p class="para">What lies beyond this darkness is the truth I finally found—
    <br>This was the right choice, wasn’t it…Yonah?</p>
<p class="para">[INFO] : Loading NieR Replicant — EID_0050_a0010…</p>
<p class="para">[NOTICE] : Final sequence initiated...</p>
<p class="para">[INFO] : Process running.</p>
<p class="para">日本語音声収録台本　＜メインA（少年期）-1＞　Page 2</p>
<p class="para">EID_0050_a0010</p>
<p class="para">※ニーア（オリジナル）が雪の東京で凍える。</p>
<p class="menu"><a href="/nier-anniversary/15th-novel/e99baa/sister">Back to the Past</a></p>
<p class="menu"><a href="/nier-anniversary/e98193/sin">Back</a></p>