---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Mikhail's Diary</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Mikhail's Diary</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<p class="line"></p>
<p class="title">The Land of Animals — January 12 — Sunny</p>
<p class="para">Today, I went to the Land of Animals and it was GREAT! There was a big cat with fluffy hair, and an elephant with a short trunk, and a horse with a big long neck, and another horse that was covered in stripes!</p>
<p class="para">We all played in the mud and chased each other around and it was a ton of fun, but the sun was dumb and hot and I got tired really fast. Boooooo!</p>
<p class="line"></p>
<p class="title">The Land of Fish — February 17 — Rain</p>
<p class="para">I've been on this island for a week. There's lots of fish everywhere! Big fish, and pretty fish, and flatfish, and fish with feathers, and arms, and legs, and stuff! Oh, and mackerel. I like mackerel. I want to go to the other islands but, I don't know how. Since it started raining, it's just been water all over the place.</p>
<p class="line"></p>
<p class="title">The Land of Songs — April 19 — Cloudy</p>
<p class="para">I saw some humans today! They all really like songs and sing pretty much all day long, even though everything kinda sucks for them at the moment. I even sang for a while too.</p>
<p class="para">Their singing reminded me of Zero. It's funny—even though I forget a lot of stuff, I always remember her. I think it's because she was angry with me all the time. I wish she would have sung with me instead. I'm lonely, Zero.</p>
<p class="line"></p>
<p class="title">The Land of Machines — May 1 — Clear</p>
<p class="para">There are more humans here lately, and they're taking up more and more of the land. They broke up the forests and mountains and oceans, and now they just move these big metal boxes and dolls all over the place. The animals that used to live here are in trouble because they have nowhere to live now, but do they deserve the land more than others? I think about a lot now.</p>
<p class="line"></p>
<p class="title">The Land of Wars — July 1 — Rain</p>
<p class="para">The girl who fed me this morning says her nation is in a state of constant war. They kill each other from dawn until dusk, then sleep for a bit before starting all over again. Apparently it's been going on like this for decades.</p>
<p class="para">Later, I brought mackerel to the girl's house to thank her for breakfast, but she'd been blown to pieces by a bomb. Why couldn't I save her? Where did I go wrong?</p>
<p class="line"></p>
<p class="title">The Land of Destinies — September 30 — Cloudy, with Scattered Showers</p>
<p class="para">Another day of nothing but mechanical children. There used to be so many humans and now I can't find them without a long and painstaking search. There was an earthquake yesterday, accompanied by a bright light in the east—probably more explosions. Contaminated ash rained down, no doubt killing more people and animals. I just slept through it. It's not like I can do anything.</p>
<p class="line"></p>
<p class="title">The Land of People — November 4 — Cloudy, with Occasional Snow</p>
<p class="para">I came across my first human village in a long time. It was small—maybe a hundred all told—but they seemed hardworking and honest. When they saw me, they began to call me their "divine guardian," which mostly meant listening to them complain all day. It seems having someone to talk to is a big deal for them. I can empathize. I look back fondly on some of my conversations with Zero—they helped me feel like I wasn't quite so alone in this world.</p>
<p class="line"></p>
<p class="title">The Land of Darkness — December 28 — Snow</p>
<p class="para">For a long time, I experienced only failure.</p>
<p class="para">But I will not quit. No matter how much injustice is in the world, I will not permit myself to surrender to it.</p>
<p class="para">I’m not like Zero. I don’t believe the world can be changed by destroying things or getting angry, but if this world can improve, no matter how insignificantly, then I must do whatever I can to help.</p>
<p class="line"></p>
<p class="title">The Land of Light — January 21 — Fire</p>
<p class="para">My body is very broken now. I can feel the holes in my memory increasing in number. But I don't need to fight anymore either... so it's okay. Are you proud of me, Zero? Did I do well?</p>
<p class="para">Or would you yell at me like always? Ze... ro... I'll... see you ... soon.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/short-stories">Back</a></p>