---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>My Memories</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">My Memories</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<p class="line"></p>
<p class="title">Sad and Unemployed</p>
<p class="para">My border guard unit got word today that the lord is dead. It's not a surprise—we all heard about how powerful these Intoners we're fighting are, although our little frontier patrol hasn't had to meet one yet (thank goodness). To be honest, none of us care that the lord is gone. We're worried about where our next meal will come from, of course, but to be honest, he was kind of an asshole.</p>
<p class="para">Hopefully, our next lord will be better.</p>
<p class="line"></p>
<p class="title">Falling in Love</p>
<p class="para">Today we met our new lord. Well, "lord" isn't quite the word. I don't know what is, actually. It's complicated.</p>
<p class="para">We soldiers gathered in a clearing, and our new lord (?), Lady Three, came to us. We were all sweating bullets! She's younger than I expected, and smaller, and also... cuter? Hard to imagine this girl leading us, but there it is.</p>
<p class="para">Most of the men were smitten with her immediately, and I was no exception. She really is quite lovely.</p>
<p class="line"></p>
<p class="title">A Total Riot</p>
<p class="para">To say Lady Three is popular is an understatement. Soldiers are falling all over themselves to be her bodyguard, her valet, her whatever. The old vets don't much like it, but screw them. Hell, it's GOOD to have a charismatic leader—it makes all of us fight that much harder.</p>
<p class="para">I will say, though, Lady Three is a bit...odd. She takes our leftover food, saves beard and hair trimmings from the men, and spends all day counting insects. Maybe she realizes such things make her all the more appealing.</p>
<p class="line"></p>
<p class="title">Sincere Devotion</p>
<p class="para">The unit's on edge—rumors are flying that Lady Three is "experimenting" on human subjects.</p>
<p class="para">Apparently our lady is fighting a woman named Zero, and it isn't going well. That's just what I've heard from the men, but it feels right somehow. Anyway, this Zero is a really bad character, so Lady Three is enhancing soldiers to try and even the odds. Folks seem pretty upset by it, but not me—I'll do whatever it takes to see Lady Three to victory. It's not like I have anything else to live for...</p>
<p class="line"></p>
<p class="title">In Love</p>
<p class="para">Today I saw Lady Three stagger out of her tent dressed only in her night clothes. I called out to see if she was all right, and she leaned close and whispered, "Go ahead."</p>
<p class="para">I don't... I don't remember much after that. Her hands were cold as she led me into her tent, but her lily-white skin was like porcelain. She smelled of ripe fruit and summer, and... No. I must stop. My words only do it a disservice.</p>
<p class="para">My lady. Ah, my lady. Why me, of all people?</p>
<p class="line"></p>
<p class="title">A Mature Cranial Nerve</p>
<p class="para">Lady Three has ignored me since that day. I finally mustered my courage and begged her to enhance me next, but she stared right through me and said, "Your cranial nerve isn't mature enough."</p>
<p class="para">What does that MEAN!? What's WRONG with me!?</p>
<p class="para">Soldiers disappear from our unit by the hour, taken away to become enhanced soldiers for our lady. When I think about it, I get so jealous, I vomit.</p>
<p class="line"></p>
<p class="title">Days of Depression</p>
<p class="para">I'm the only one she won't touch. The only one she won't enhance. Some of the men she chooses actually flee in terror, which only deepens my rage. They fear pain? They fear torture? I LIVE it every day she rejects me.</p>
<p class="para">I wish you had never blessed me with your love, my lady. I wish this pain in my chest would end. I wish I was dead. Zero. Three. Someone. Anyone. Just make it stop.</p>
<p class="line"></p>
<p class="title">The Greatest Day Ever</p>
<p class="para">Finally, my day has come! The power of Lady Three's song will make me a better man! A stronger man! A perfect man! My body seems ready to explode with happiness, so it's a good thing she's prepared an enormous new body for me. I was special. I was CHOSEN! She chose me to be what she is calling "Cyclops." Just hearing it gives me chills! Lady Three says it comes from a giant of legend. Cyclops. The name has a sublime and ominous tone, and I only pray that my new body does it proud. I shall serve her forever!</p>
<p class="line"></p>
<p class="title">me three think</p>
<p class="para">don't know how much time passed
    <br>no sense of time
    <br>all in toner country destroyed
    <br>they talk of empire or federation or don't care
</p>
<p class="para">lady three not see lately but fine i am fine i
    <br>swear faith to her forever so see look
    <br>feel la dy three near
    <br>me soul
</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/short-stories">Back</a></p>