---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Let Me Tell You</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Let Me Tell You</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<p class="line"></p>
<p class="title">1.00 sec</p>
<p class="para">Okay. There's a lot I want to tell you all, but how 'bout I start with Zero. Let's talk about that flower in your eye. You did that on purpose, didn't you? It's all like, "Oh, I'm the oldest sister, I'm soooooo special! I have to be all different!" It looks terrible on you, you know? Like you're trying way too hard. Also, I'm tired of you treating us like our heads are full of poo. Because they're not! In fact, the way you swing that sword all day, I bet it's YOUR head that's full of poo! 'Cause you never use it</p>
<p class="line"></p>
<p class="title">0.81 sec</p>
<p class="para">Your turn, Five. You're the only little sister I have, but you act like this bitter old lady. Oops! Soorry! Did that sound harsh? ...It's totally what everyone thinks, though. And seriously, the way you throw those oversexed fat globules of yours around? Dis. Gusting. You have NO self-control, and you're ALWAYS chasing after some carnal pleasure like it's the most important thing in the freaking world. Oh, and your clothes are ugly and your makeup is reeeally sad. It's too bad money can't buy class, it's really too bad.</p>
<p class="line"></p>
<p class="title">0.72 sec</p>
<p class="para">Oh, Three. Where to begin? You try to act mysterious and alluring, but I know it's just an act. Guys always go for "project" girls like you, thinking they can "fix" them or whatever, when there are so many nice girls that would treat them better. Am I wrong? No, I'm not, and you know it. You try SO hard to pretend you don't care that it becomes painfully obvious just how much you do! Why don't you just try attracting someone with your natural charm instead? ...Oh, that's right. You don't HAVE ANY! Ha ha ha ha!</p>
<p class="line"></p>
<p class="title">0.61 sec</p>
<p class="para">It's funny; I can see what you did, Two. People can get pretty stupid when they fall in love. That's why you say things like "I want us to be together forever!" and "I want world peace!" and stuff. But really, loving your DISCIPLE? The one guy who HAS to hang out with you all the time? How convenient! Look, I admit, Cent's handsome, but that's really it. He's just an accessory, like Five's skanky clothes. Oh, and your cooking? He's totally pretending to like it.</p>
<p class="line"></p>
<p class="title">0.50 sec</p>
<p class="para">And now for you, One. I've been dying to tell you this... Pffft! Hee hee! Get it? "DYING!?" Gosh, you must hate me so much. After all, you're so right, and perfect, and smart, and I'm just some dumb little sister. But what happened once we took over, huh? I'll tell you what happened—everything went to heck! Our forces were decimated, our people lost morale, and Zero and her song KICKED THE CRAP OUT OF US! You lost that bet big-time, Sis. Too bad your fancy-pants attitude can't help you now! Hee hee! I love it! Ha ha ha!</p>
<p class="line"></p>
<p class="title">0.35 sec</p>
<p class="para">Oh! I also need to talk about all the idiots we rule over. You guys seriously suck. You rely on us for EVERYTHING, and you're all "Oh, Lady Four! Lady Four!" But you're really just greedy, lazy, good-for-nothings who can't do anything for yourselves. Is it my JOB to make you happy? Because I don't remember anything about that on the application! Yeah, I pretended to care so One wouldn't have a conniption, but I actually think we should've ground you all under our boot. Instead, you have just enough freedom to hang yourselves with.</p>
<p class="line"></p>
<p class="title">0.18 sec</p>
<p class="para">Um... what else? Oh, right! God! I've got a problem with YOU! I mean, what is UP with this world, am I right? It takes an entire DAY to go from town to town, it's too hot in summer, too cold in winter, and it either rain too much or else there's some drought going on! Oh, and why do we have to EAT if we want to live, huh? So stupid. I guess that's what you get when you crap out a world in a week. Maybe spend more than ONE SINGLE DAY on all the people next time—god! ...See that? I'm not even going to CAPITALIZE YOUR NAME!</p>
<p class="line"></p>
<p class="title">0.04 sec</p>
<p class="para">Is this STILL going on? I've already complained about everything I wanted to! This is a waste of my time. Okay, fiiine. Um... I guess... Oh, hey! Decadus! ...Actually, I don't have much to say about him. It's not like I actually always wanted him to come into my bed at night, or that I actually was really interested in sexual talk, or that I wanted him to act more forward and take charge or anything. He could have tried to be normal... In fact, I could sum up everything I want to tell him like this: "YOU ARE AN ASSHOLE!"</p>
<p class="line"></p>
<p class="title">0.00 sec</p>
<p class="para">Ahhh... About time the tip of Zero's sword reached my brain. I guess it's true—you DO get to see your whole life flash before your eyes. Geez, it takes forever! Now I had to think about all this crap I wanted to forget. Meh. Oh well. So long, One, you stubborn old bitch! So long, Two, you lovey-dovey bitch! So long, Three, you crazy weirdo bitch! So long, Five, you oversexed bitch! And so long, Zero, the bitch who's killing me right now! Oh, and the biggest bitch of all, which is, of course, me. I'll see you all in hell! ​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/short-stories">Back</a></p>