---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>A Repeating Prayer</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
        @media screen and (orientation: landscape)
{
  #over1{
  margin: 0px auto;
  max-width: fit-content;
}
}
    @media screen and (orientation: portrait)
{
  #over1{
  margin: 0px auto;
}
}

</style>

<p style="margin-top: 1cm; font-size: 300%;">A Repeating Prayer</p>
<img src="https://i.imgur.com/up1b2JD.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<div id="over1"><p class="title" style=" font-size: 300%;">Zinnia</p>
<p class="title">No.9 (narration):</p>
<p class="para"></p>