---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>A Much Too Silent Sea</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">A Much Too Silent Sea</p>
<img src="https://i.imgur.com/UTdp74R.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<p class="line"></p>
<p class="title">[7:30] Wake up ~ Breakfast</p>
<p class="para">Her consciousness rose from the depths rapidly.</p>
<p class="para">She could see something through her eyelids. It must be bright. She was irritated, and tried to pull her blanket over her head. “10H,” she heard.</p>
<p class="para">“Report: It’s time to wake up.”</p>
<p class="para">“Sleepy.”</p>
<p class="para">“Recommendation: Wake up.”</p>
<p class="para">“No …”</p>
<p class="para">“Warning: Wake up.”</p>
<p class="para">“Five more minutes.”</p>
<p class="para">Her body suddenly felt cold. Her blanket had been torn off her. Pod 006, the support unit of 10H, was as ruthless as ever.</p>
<p class="para">“Ahhh. So annoying.”</p>
<p class="para">10H gave up and righted her body. She needed to stop resisting and just give in before 006 resorted to even more ruthless methods.</p>
<p class="para">Pod used its four arms to deftly fold the blanket, and placed it on the edge of the bed. It put the pillow on top of that. It clarified how determined Pod was to not let her sleep again. 10H sighed as she looked along.</p>
<p class="para">White sheets and a white blanket, along with a white pillow. The walls were white, the floor was white, and the ceiling was white. It was white all over. The only objects that had other colors in this room were herself and Pod—her black uniform and Pod’s red body. No, perhaps one more: the room’s display, depending on what it was displaying.</p>
<p class="para">A voice from the monitor notified 10H that the water temperature and water pressure were at normal levels. This facility was buried deep in the sea, 10,000 meters below the surface of the ocean. Even slight changes in the environment could bring about disastrous results, which was why the surroundings were constantly being monitored.</p>
<p class="para">“Report: It’s breakfast.”</p>
<p class="para">Pod had already brought in a cart with her breakfast on it. That’s white too, she thought. A white plate and a white cup. The cart that carried them was white as well.</p>
<p class="para">“Recommendation: Eat it before it gets cold.”</p>
<p class="para">10H reached for the bread that was on the plate. It was square and flat, with some brown char marks on its surface. When she bit into it, her mouth felt dry. It was hard to swallow, so she washed it down with the liquid in the cup.</p>
<p class="para">“Question: Is the toast crispy enough? Was the coffee a bit strong?”</p>
<p class="para">“Not really …”</p>
<p class="para">Pod could faithfully re-create human breakfast menus every day, but 10H never thought much of it.</p>
<p class="para">“I mean, whatever. We can live without eating.”</p>
<p class="para">“Negative: Health comes from a healthy lifestyle. You must sleep well and eat well. Breakfast is an important source of vitality.”</p>
<p class="para">Vitality? What was that again? Ah, it was “The state of having energy sufficient to accomplish things.” Pod often used ancient words from human civilization.</p>
<p class="para">“It’s such a chore. I have to excrete the energy surplus too.”</p>
<p class="para">If she didn’t eat she wouldn’t have to excrete. 10H thought it was a waste of time, but not according to Pod. “Good eating leads to good excretion,” it said, which apparently gave way to a better mental state.</p>
<p class="para">Of course, androids like herself could break down most foods. In other words, “excreting” was a rare last resort for them.</p>
<p class="para">“Oh …”</p>
<p class="para">The toast she was carrying to her mouth fell onto her plate. Looking closely, she realized that her fingers were injured. She had thought it was difficult to hold her cup because she was sleepy, but her hands were damaged.</p>
<p class="para">“When did this happen?”</p>
<p class="para">“Answer: That is the aftermath of moving goods.”</p>
<p class="para">“Is that … right?”</p>
<p class="para">Yesterday some goods had arrived to resupply their stores. She did remember helping the Pods move them into storage, but had she worked that vigorously?</p>
<p class="para">“Recommendation: Don’t overwork yourself.”</p>
<p class="para">“Yeah, I’ll keep that in mind.”</p>
<p class="para">Maybe her mental state was keeping her from remembering what had happened yesterday. Pod was right, she should probably eat proper meals.</p>
<p class="line"></p>
<p class="title">[08:00] Scheduled patrol</p>
<p class="para">It wasn’t just 10H’s room that was all white. This facility’s walls, floors, and ceilings were all white as well.</p>
<p class="para">It was hard enough to bring materials 1,000 meters underwater, so having an intricately decorated interior was out of the question. 10H had come here after the facility had already been made, so it wasn’t like she knew this firsthand. It was only a hypothesis.</p>
<p class="para">This facility, which was placed deep in the ocean where the water pressure was 1,001 hectopascals, was constructed there because it needed to be a secret from the Machines.</p>
<p class="para">The emergency backup servers were located here. They contained data about the human board on the moon and every member of the YoRHa squadron. Human data was the most precious thing in the world.</p>
<p class="para">“Server room 27, all clear.”</p>
<p class="para">Pod scolded 10H, who was eager to close the door.</p>
<p class="para">“Warning: Check carefully.”</p>
<p class="para">“Well, I don’t really understand anything that’s going on.”</p>
<p class="para">Apparently there had to be sophisticated technology, and architectural modifications, to maintain a server this deep in the ocean. As a result, the whole operation was a jumble of components. A Type S might’ve figured it out, but a Type H, which specialized in healing and maintenance, had limited capacity to understand the environment.</p>
<p class="para">And even if she didn’t understand everything, Pod did. In server room 27 alone there were fifteen Pod 006s flying about.</p>
<p class="para">Fifteen red Pods. Since the walls and ceiling were white, they stood out. It was a bit overwhelming. Their back-and-forth conversations filled the air.</p>
<p class="para">“Suggestion: Since today is a bad day, can we reorganize the data another time?”</p>
<p class="para">“Objection: We can’t change the procedure at our convenience.”</p>
<p class="para">“Answer: I was just clarifying our options.”</p>
<p class="para">“Report: Anyway, today’s lucky number is nine, apparently.”</p>
<p class="para">“Suggestion: Then should we work upside down?”</p>
<p class="para">“Objection: No. Are you being serious?”</p>
<p class="para">“Negative: Of course I’m joking.”</p>
<p class="para">What was this conversation? 10H’s head hurt. It had no substance at all.</p>
<p class="para">“Whatever.”</p>
<p class="para">Her thoughts were pretty meaningless too. There was nothing to do here, so she didn’t have anything to think about. 10H’s job was to maintain the Pods. If there was any damage or problems with the Pods, it was her job to immediately fix it. That’s why a Type H was the resident assigned.</p>
<p class="para">But the Pods hardly ever had any issues. And Pods would fix any slight issues themselves. Since first aid was part of their support role, they had simple recovery programs embedded in them. In other words, 10H had nothing to do.</p>
<p class="para">She forgot how many months had passed since she was assigned here. She got a report every morning that noted how many days had passed and how many hours she had worked, but she had gotten tired of it and stopped listening.</p>
<p class="para">“There’s no red lights, so that means it’s okay, right?”</p>
<p class="para">“Roger: Yes, something like that.”</p>
<p class="para">“Okay, let’s go to the next one.”</p>
<p class="para">She went out into the hallway, and climbed the stairs. Since the server rooms were interconnected like a web, this hallway had a lot of turns and slopes, as well as staircases.</p>
<p class="para">“Ugh! Walking is so tiring!”</p>
<p class="para">“Negative: Walking is exercise.”</p>
<p class="para">“I know that. But these shoes don’t help …”</p>
<p class="para">The soles of her shoes had magnets in them, which purposefully made it more difficult to walk. It did provide her with enough exercise just walking around the facility, but it made walking a burden.</p>
<p class="para">“Recommendation: Don’t complain, and just walk!”</p>
<p class="para">“Ugh …”</p>
<p class="para">“Recommendation: Where’s your reply?”</p>
<p class="para">“Yesss.”</p>
<p class="para">Once she climbed the stairs, she saw that the on the air sign was lit up. That was the broadcasting room. Apparently all the messages from the human board were gathered here before being broadcast to other locations. It was 10H’s prediction that this was to keep the whereabouts of the human board a secret, but she wasn’t sure.</p>
<p class="para">She probably could have found out if she asked Pod, but she didn’t particularly want to know. She had no interest in the subject of the broadcast either. She couldn’t care less.</p>
<p class="para">“Was today a broadcasting day?”</p>
<p class="para">“Affirmative: There are 972 seconds left in the broadcast.”</p>
<p class="para">Today’s my lucky day, she said in her head. She wasn’t allowed in the room during broadcasts, so she could skip it. It wasn’t good to skip the room in and of itself, but it just gave her a bit more free time.</p>
<p class="line"></p>
<p class="title">[10:30] Free time</p>
<p class="para">“I’m so bored …”</p>
<p class="para">10H yawned as she moved a chess piece. After her morning rounds, there was nothing to do until lunchtime. And after she ate lunch, there was nothing to do until dinner. 10H’s day was mostly free time.</p>
<p class="para">“Recommendation: Cover your mouth when you yawn.”</p>
<p class="para">“What? Who cares.”</p>
<p class="para">“Objection: No. That’s bad manners.”</p>
<p class="para">Pod 006 was being nettlesome. Other Pods were more perfunctory and talked less. Just like how 10H was the only android assigned here, Pod 006, the annoying and chatty Pod, was the only pod that was assigned here.</p>
<p class="para">Usually Pods were manufactured in sets of three, but Pod 006 was a special model and a few hundred were manufactured. That’s just how many of them were needed to take care of this facility.</p>
<p class="para">Only one of them at a time orbited 10H. But since all the Pods looked identical, 10H wasn’t sure if the Pod next to her now was the same Pod that had stayed with her yesterday.</p>
<p class="para">Either way, since 006 only had one consciousness, it didn’t make a difference. There were a few hundred units, but only one 006. That was hard for 10H to comprehend.</p>
<p class="para">“Hey. Wait. Let me redo that!”</p>
<p class="para">She had been carried away by her thinking, and failed to notice that she could’ve taken a piece.</p>
<p class="para">“Objection: That’s the third time. I told you I wouldn’t let you after the last one.”</p>
<p class="para">“Only this time! It’s only the third time today!”</p>
<p class="para">“Objection: You said the same thing yesterday. How many times did I let you do that?”</p>
<p class="para">“Uh … ten times?”</p>
<p class="para">“Negative: Thirteen times. Don’t act like you didn’t know.”</p>
<p class="para">The number was too small to feign forgetfulness. Information of this scale would be preserved unless it was intentionally purged. This was the case for both 10H and 006.</p>
<p class="para">“But my AI isn’t specific to chess. A small correction shouldn’t hurt …”</p>
<p class="para">“Objection: No!”</p>
<p class="para">Small sparks crackled from the end of Pod’s arm.</p>
<p class="para">“Okay, okay! No need for violence!”</p>
<p class="para">“Roger: As long as you understand.”</p>
<p class="para">Pod used the now-sparkless arm to move the knight. 10H suppressed a smile with all her might.</p>
<p class="para">“It’s my turn, right?”</p>
<p class="para">“Affirmative: Go ahead.”</p>
<p class="para">“This bishop is mine!”</p>
<p class="para">“Suggestion: Wait! Let me redo that!”</p>
<p class="para">“Nope!”</p>
<p class="para">Just like 10H, 006 didn’t have a chess-specific AI. Pods weren’t made to think deeply to begin with, since it wasn’t required for their mission tasks.</p>
<p class="para">Even though they had good memory, what happened when an android and a Pod, who lacked chess-specific operations, played a game against each other? It became a silly matter of trying to distract their opponent with irrelevant talk, to lure them into making a mistake.</p>
<p class="para">“I feel like at this point we’re playing a different game.”</p>
<p class="para">10H pointed to the board with a chess piece. The bottom of the chess pieces used the same magnetic material that her shoe sole was made of, so a simple nudge wouldn’t move the piece. The idea of having a metal board and magnetic pieces probably came from humans, so they could play in moving vehicles. Just like the coffee and toast, this facility was filled with references to human civilization.</p>
<p class="para">“What’s the point of two AIs playing a game they aren’t specialized in?”</p>
<p class="para">“Hypothesis: Because we’re bored?”</p>
<p class="para">“Well, that’s true, but do we have to play a meaningless game to kill time?”</p>
<p class="para">“Answer: An idle mind is the devil’s workshop.”</p>
<p class="para">“What?”</p>
<p class="para">“Answer: When you’re bored you will occupy your mind with evil thoughts. That’s why killing time is crucial. It’s a proverb from ancient human texts.”</p>
<p class="para">10H was very skeptical that a human proverb would apply to her, but she didn’t have any reason to deny killing time.</p>
<p class="para">“Then, let’s continue.”</p>
<p class="para">“Agreement: Then …”</p>
<p class="para">“It’s my turn!”</p>
<p class="para">10H quickly moved her piece. Of course, she kept the bishop. A tiny spark flashed momentarily on the tip of Pod’s arm. Perhaps it wanted to simulate clicking a tongue.</p>
<p class="para">“But why are we so bored?”</p>
<p class="para">“Answer: Being bored is a sign of peace. It’s not a bad thing, is it?”</p>
<p class="para">“I guess. That means the Machines haven’t found out about this place.”</p>
<p class="para">If they were ambushed 10,000 feet underwater, it would be over. There was nowhere to run.</p>
<p class="para">“Just in case, they should have assigned a Type B. No, since it’ll probably be a defensive battle maybe a Type D?”</p>
<p class="para">While this facility only stored backup data, it was important data nonetheless. Defending this was a tall order for a Type H.</p>
<p class="para">“Negative: A Type B and Type D wouldn’t be able to perform maintenance and repairs.”</p>
<p class="para">“Then maybe a Type S?”</p>
<p class="para">“Negative: A Type S is easily bored. She wouldn’t be able to deal with all the free time.”</p>
<p class="para">“Ah. I kind of understand now.”</p>
<p class="para">When it was needed, she would repair the Pods, and she never complained about the free time. In that respect, a Type H was most compatible with the role.</p>
<p class="para">“But can you fight, Pod? I can’t fight at all, you know?”</p>
<p class="para">“Answer: I have a considerable amount of weaponry installed. I just don’t use it regularly.”</p>
<p class="para">“I see. Then we’re pretty safe.”</p>
<p class="para">There were hundreds of Pods, so they could just fight for her.</p>
<p class="para">“Uhmm. Next is …”</p>
<p class="para">She tried to move her rook, but it slipped from her fingers. The rook fell onto a pawn, and rolled onto the floor. She tried to pick it up, but couldn’t.</p>
<p class="para">“Hmm … my fingers aren’t working very well.”</p>
<p class="para">They had been like this all morning. At first glance it was just a scratch, but perhaps there was deeper damage somewhere.</p>
<p class="para">“I’m going to go repair myself.”</p>
<p class="para">“Objection: There are no spare digits in inventory. You’ll have to wait until the next shipment.”</p>
<p class="para">“That’s not for a while, right?”</p>
<p class="para">She had helped with reshipment just yesterday after all. She didn’t expect to injure herself while helping.</p>
<p class="para">“I guess it can’t be helped. I’ll try recalibrating my program.”</p>
<p class="para">If she adjusted her grip strength and range of motion, she could probably at least reduce the amount of times she dropped things.</p>
<p class="para">“I’ve had enough of chess today.”</p>
<p class="para">Leaving Pod to clean up the chessboard, 10H returned to her room.</p>
<p class="line"></p>
<p class="title">[11:30] Investigation (Bedroom)</p>
<p class="para">She dove into her own circuits, and inspected the program that controlled her fingers. She checked the defective areas and assigned the nerve-propagating algorithm to perform the calibration. It’s been a while since I’ve done Type H work, she thought.</p>
<p class="para">“I hope this’ll do until the next shipment.”</p>
<p class="para">By recalibrating her fingers to keep ahold of chess pieces, her other functions would suffer.</p>
<p class="para">For example, the strength she used to crush something between her fingers, and movements similar to that, would be compromised. If she wanted to crush a bug on a window, she would end up blasting a hole through the glass, and she would certainly destroy any touch panel or board she touched. The keyboard was in danger as well.</p>
<p class="para">But she only needed to stay away from a touch panel until the next shipment, which wasn’t too much of an inconvenience. She rarely used touch panels in the first place, and when she had to she could just make Pod do it. Fortunately, the facility had no machinery with keyboards, and had no bugs. In other words, this would hardly be a problem.</p>
<p class="para">“Well, I’m bored anyway.”</p>
<p class="para">It was good that a slight defect wouldn’t put her life in danger.</p>
<p class="para">“Okay! Guess I’ll finish. Hm?”</p>
<p class="para">A strange thing in a strange place. Just like humans, androids didn’t use their brains to their fullest extent at all times. There was always a part that was rarely used. It was necessary for emergencies, and it acted as a buffer in times of stress.</p>
<p class="para">There was some odd encoded data in this usually empty part of her brain.</p>
<p class="para">“What? Who did this?”</p>
<p class="para">It would have taken a Type S or a Type H to do this. But 10H was the only android in the facility. Of course Pods were capable of doing this too, but they would have surely left a trace. Reading and writing onto a blank part of an android brain involved a difficult set of procedures. There was security in place so that only the individual could access it.</p>
<p class="para">“I did this myself, right?”</p>
<p class="para">She didn’t remember at all. Had she used an operation that erased her memory after the task? And if so, why?</p>
<p class="para">“Hmmm. Am I so bored that I actually forgot?”</p>
<p class="para">She decided to decode the data. It was an encoding algorithm that needed the processing power of a Type S so she thought it would be particularly troublesome, but she ended up needing only two minutes to decode it.</p>
<p class="para">“Ah. Yeah this was definitely me.”</p>
<p class="para">Knowing her own personality, she knew she wouldn’t normally use such a difficult encoding. She was correct. The encoding algorithm wasn’t simple, but seemed haphazard and almost rushed.</p>
<p class="para">“But why?”</p>
<p class="para">She wasn’t sure. The encoded data contained coordinate data of the facility. And it pointed toward an area that was usually restricted.</p>
<p class="para">“I don’t understand …”</p>
<p class="para">Turning her head to the side, 10H headed toward the location to which the coordinate data referred.</p>
<p class="line"></p>
<p class="title">[11:50] Investigation (Hatch room)</p>
<p class="para">The coordinate data pointed to the hatch room. The one room that connected the facility to the outside world. As a result, it was only used when they were restocking supplies.</p>
<p class="para">The hatch was split into two sections, never open at the same time. There were many steps in place to stop ocean water from flooding the facility, given that it was constructed deep underwater.</p>
<p class="para">“Such a chore …”</p>
<p class="para">The first section was securely locked. Though she was rather incompetent, she was still the overseer of the facility, so she had permission to unlock the first section. If anything, the fact that she needed a password and black box authorization was more annoying.</p>
<p class="para">Even though it was annoying, she didn’t consider turning back. Something bothered her.</p>
<p class="para">The door opened. At the same time, the whole first section was instantly illuminated. The walls, floor, and ceiling were pure white, and hurt her head.</p>
<p class="para">“Question: What’s wrong? Is there a problem?”</p>
<p class="para">All of a sudden, Pod appeared. It seemed like it was worried, and was peering at 10H’s face.</p>
<p class="para">“It’s okay. Nothing’s wrong. I just have something I need to check.”</p>
<p class="para">She walked straight toward the door on the other side of the room. Section One was very large.</p>
<p class="para">“Why is it so big? There’s so much dead space.”</p>
<p class="para">“Answer: It’s necessary to adjust the water pressure when there’s water.”</p>
<p class="para">“I know that. I just think it’s a waste to use it only for restocking.”</p>
<p class="para">10H put her hand on the door to Section Two. The encoded coordinate data was pointing up ahead.</p>
<p class="para">“Objection: Don’t. Access to Section Two is restricted.”</p>
<p class="para">She ignored Pod and opened the door. The lights came on, just like in Section One, and she saw a sea of white.</p>
<p class="para">“There’s nothing … ?”</p>
<p class="para">She thought there would be something here. A treasure chest, a bomb, or something that warranted leaving a message in the unused part of her brain. But there was nothing in the room. Nothing on the floor, the walls, or the ceiling.</p>
<p class="para">“Warning: Danger ahead.”</p>
<p class="para">“Okay. I won’t open the next door.”</p>
<p class="para">The other door in Section Two, which led outside, had a spindle-shaped door handle. If she opened it without adjusting the water pressure first, seawater would come rushing in with alarming force. She didn’t want to imagine what would happen if water rushed in at 10,000 meters below sea level. At the very least, she and Pod would be crushed in an instant.</p>
<p class="para">She walked to the location referenced by the coordinate data. Maybe whatever the coordinate data pointed to was not an object, but an event.</p>
<p class="para">“Report: Withdraw immediately.”</p>
<p class="para">“I know.”</p>
<p class="para">Why this place? She slowly looked around as she walked. The floor and walls and ceiling were all white. The door from Section One to Section Two, and the door from Section Two to outside, were also white.</p>
<p class="para">“Hm?”</p>
<p class="para">She saw another color on the white door. There was a streak of black across the spindle-shaped door handle. It looked like something had been peeled off, or perhaps it was a scratch.</p>
<p class="para">“I wonder what that is …”</p>
<p class="para">She leaned in closer to get a better look. Suddenly, her vision was filled with stars. She felt a delayed pain to the back of her head. Pod 006 had hit her.</p>
<p class="para">“What? Do you know your arm is freaking hard?” 10H complained as she turned around, and almost jumped out of her skin. She was looking down the barrel of a gun. Pod had transitioned to long-range attack mode.</p>
<p class="para">“Wait! Stop!”</p>
<p class="para">The first shot provided the answer. She thought she had barely dodged it, but she hadn’t completely. An excruciating pain overwhelmed her upper arm. A red stain appeared on the floor.</p>
<p class="para">She flung her shoes off. The magnets in the soles would only limit her ability to dodge. The second shot came. This time she was able to leap up. A laser struck the spot where 10H had been a moment ago. But it didn’t leave a mark on the floor or the walls. She learned for the first time that this facility’s walls and floors were heat-resistant.</p>
<p class="para">There was nowhere to hide in the big room. She could only keep dodging. She kicked off of the floors and walls as she yelled.</p>
<p class="para">“Hey! What are you doing? Explain yourself!”</p>
<p class="para">Pod stayed in attack mode. It fired a third shot instead of giving an answer. She ran, but Pod predicted her escape route. Just as 10H dodged the laser, Pod struck her in the back with its limb. A moan escaped her.</p>
<p class="para">She realized that Pod was seriously trying to kill her. Perhaps there was some kind of bug in its program.</p>
<p class="para">She had to destroy Pod, some way or another. But how? Type H’s were not built for combat. They realized their potential when they were with a Type B, which specialized in offense, and a Type D, which specialized in defense. Moreover, her enemy was a support unit. It was Type E’s job to execute their comrades, not hers …</p>
<p class="para">She didn’t have time to think any further. The long-range lasers and short-range arm strikes flew at her relentlessly.</p>
<p class="para">She felt a pain shoot through her side, and smelled burning flesh. She wouldn’t be able to dodge the attacks completely much longer. But she had no weapon with which to retaliate. Regardless of whether she was fit to handle situations like this or not, she never carried weapons inside the facility.</p>
<p class="para">Does that mean I have to fight with my bare hands? No way! I’m not a Type B, and my arm strength … arm strength?</p>
<p class="para">What had she been doing just minutes before? She was calibrating her program so she wouldn’t drop her chess pieces.</p>
<p class="para">She quickly whipped around in a clockwise fashion. It hurt her damaged left leg, but she ran straight toward Pod.</p>
<p class="para">Pod was in the middle of its firing sequence. 10H grabbed the barrel and twisted it up with her fingers. It crumpled softly beneath her fingers. She flicked Pod away with the fingers on her right hand. She curled her body to prepare for the impact. She heard an explosion above her.</p>
<p class="para">It was a close call. She was able to bend the barrel because her fingers had been calibrated to a higher power output than normal. It was a victory by brute force. 10H sighed in relief, and felt a sharp pain. But she was so injured that she didn’t know which specific injury hurt. She hadn’t expected such an unfortunate event. What had happened—</p>
<p class="para">But yet again her thoughts were interrupted. The emergency alarm alerting the whole facility to an enemy presence started to ring. Why? 10H thought. Why did the system think there was an intruder in section two? Pod and her were the only ones here.</p>
<p class="para">She was confused, but she knew why in the back of her mind. 10H ran to lock the door separating Section Two from Section One.</p>
<p class="para">The hundreds of Pods in this facility shared the same consciousness. They were different units from the one that had just attacked her, but their programming was identical. That meant that any Pod that came in here would attack 10H. The alarm wasn’t a mistake.</p>
<p class="para">She heard pounding from the other side of the now-locked door. The pods were probably throwing themselves against it. The jarring noise hurt her wounds. 10H grimaced and cowered in fear.</p>
<p class="para">Now, there was no turning back inside the facility. The other door opened into the ocean. Ocean water 10,000 meters deep, at that. She had two choices. To be crushed by 1,001 hectopascals of pressure, or be burnt by the lasers from hundreds of Pods …</p>
<p class="para">“I don’t want either.”</p>
<p class="para">But it wasn’t like she could stay still. She held her charred side, and started to walk toward the door leading into the ocean.</p>
<p class="para">Pod was hiding something. And that something lay on the other side of this door. If she was going to die, she wanted to at least know what it was. She wanted to burn the image of it into her cornea before she died.</p>
<p class="para">Although she might get crushed by water before that happened.</p>
<p class="para">The moment she touched the spindle-shaped door handle, her fingers bounced off with a zap.</p>
<p class="para">“Why?”</p>
<p class="para">She looked back and forth between her fingers, which were burnt by an electric current, and the spindle-shaped door handle.</p>
<p class="para">“That’s weird. That’s definitely weird.”</p>
<p class="para">Why was there a trap like this on the inside of the door? It would make sense if it was on the outside of the door, to deter enemies. But this made it seem like …</p>
<p class="para">10H grabbed the handle again. Her hand burned. But she still spun the handle. The pain and heat made her vision go red. Her lips trembled. She didn’t know what she was screaming.</p>
<p class="para">The lever opened. She finally understood why the black mark was there. Someone had tried to open the door before, and kept on going as it burned their hand. The mark was the residue from that.</p>
<p class="para">The lock was off. All she had to do was press a button to open the door. One push would … be the end of her.</p>
<p class="para">She didn’t have time to hesitate. The door to Section One was about to be compromised. 10H pressed the button. The door opened.</p>
<p class="para">She didn’t feel the sensation of being crushed. In fact, just the opposite. She felt a strong pull sucking her outside.</p>
<p class="para">The sound of rushing wind only lasted for a second. Tranquility took its place immediately.</p>
<p class="para">Her momentum sent her rolling on the ground. Grimacing in pain, she stood up. Rising sand obscured her vision.</p>
<p class="para">“Sand? What? What’s this?”</p>
<p class="para">Her voice sounded strangely muffled. She must’ve damaged her vocal or auditory mechanisms when she fell. Her visual mechanisms seemed like they were defective as well.</p>
<p class="para">Everywhere she looked, there was not a drop of water. Looking up, she saw a black sky, and the occasional stars that dotted it.</p>
<p class="para">“No way …”</p>
<p class="para">She couldn’t believe her eyes. In front of her, in the black sky, was a floating blue sphere. It was Earth. Which meant that …</p>
<p class="para">“Is this the moon?”</p>
<p class="para">The moment she said those words it all made sense. There had been many tricks to make sure she never noticed the obviously weaker lunar gravity, which was a sixth of Earth’s. YoRHa androids weighed about 150 kilograms, and ambulated thanks to extremely strong artificial muscles. Her control programs must have been rewritten.</p>
<p class="para">The cups with lids, and magnets affixed to the soles of her shoes as well as the bottoms of the chess pieces— they were all to prevent 10H from realizing the difference between the gravity she expected and the gravity she experienced.</p>
<p class="para">This wasn’t 10,000 meters below sea level. The facility wasn’t underwater at all. It was surrounded by sand and a soundless darkness.</p>
<p class="para">What was I doing? What was I being forced to do?</p>
<p class="para">She thought quicker than she had ever thought before. The pointlessly large hatch room, and complicated layout of the facility. The server room and broadcasting room. The on the air sign came to mind.</p>
<p class="para">While that sign was lit, she was prohibited from entering the broadcasting room. Thinking back, that was strange. If it was just a broadcast, it wouldn’t matter who was in the room. Yet 10H was prohibited.</p>
<p class="para">This facility wasn’t an intermediary station to keep the location of the original transmission a secret, this was actually where the transmissions were created. Everything fell into place.</p>
<p class="para">Here, they didn’t manage backup data, but instead the data of the human board. That was the secret that the Pods were keeping from her. And inside this white facility, there were only hundreds of Pods and her, so …</p>
<p class="para">The human board doesn’t exist. That means … humans don’t exist anymore? Is that what it means? That is what it means.</p>
<p class="para">Her legs gave out. 10H sat down right there. Sand rose silently around her. She was in danger of being crushed by a pain that wasn’t coming from her wounds.</p>
<p class="para">She felt the presence of Pods. Hundreds of Pods chased her.</p>
<p class="para">Type B’s were skilled at combat. If a Type D were to initiate a defensive battle, it would be problematic. A Type S would sniff out the truth. That was the reason. That’s why she, a Type H, was selected to be the supervisor of this facility.</p>
<p class="para">Even still, after a long time, 10H uncovered the truth. She was able to make it outside, sustaining damage to her hands in the process. She was quickly caught, and had her memory erased. That’s why she had to resort to leaving a message in a normally unused part of her brain, which could only be accessed by herself.</p>
<p class="para">The Pods surrounded 10H. This was it, but she wasn’t scared. Her memories would be erased, and she would return to performing the same monotonous tasks every day. Her shock and sadness from realizing the extinction of humans would surely be erased without a trace.</p>
<p class="para">“It’s my loss. I give up. I won’t give you any trouble.”</p>
<p class="para">She raised her hands. She let herself be restrained, and closed her eyes.</p>
<p class="para">Just before her consciousness was sucked into darkness, 10H heard Pod’s words.</p>
<p class="para">“How unfortunate. This is the forty-sixth time.” ​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/novellas">Back</a></p>