---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Memory Thorn</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Memory Thorn</p>
<img src="https://i.imgur.com/hIMelNp.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<p class="line"></p>
<p class="title"><em>The
close-combat weapon flashed, slicing through the sandstorm.</em></p>
<p class="line">
<p class="para">A
Type-40 combat sword. A state-of-the-art weapon issued only to the
elite forces on the front lines. The blade, crackling with
electricity, burst and sent a semispherical object flying through the
air in an arc.</p>

<p class="para">A
now-decapitated machine stopped moving. A few seconds later, its
cylindrical body fell on its side in the sand and exploded,
shrapnel showering two previously destroyed bodies in the vicinity.</p>

<p class="para">After
the explosion and shock wave, all that was left was the unique sound
of the sirocco, the desert wind.</p>

<p class="para">The dust
eventually lifted, revealing a human silhouette. From the smooth
outline of the shoulders, the tight waist, and the alluring legs that
emerged from a short skirt, the silhouette clearly belonged to
that of an adult woman.</p>
<p class="para">All she
could hear was the dry howl of wind. She couldn’t hear any
Machines, animals, or voices of humans. Well, to be precise, not the
voices of humans, but of androids. In fact, she would never hear the
voices of humans on Earth.</p>

<p class="para">Humanity
had pretty much left Earth. Due to the alien invasion, they had to
flee to the moon. The Earth was at this point a war zone between
the Machines, which were the minions of aliens, and the androids, who
were sent to destroy them.</p>

<p class="para">2B
sheathed her sword as she called out behind her.</p>

<p class="para">“Was
that all?”</p>

<p class="para">Responding
to her question, Pod 042, which had been floating about ten feet in
the air, lowered closer to the ground.</p>

<p class="para">“Affirmative:
No enemy responses detected within a five-kilometer radius.”</p>

<p class="para">“I
see,” 2B mumbled, as she approached the access point. Such points
were disguised as human artifacts that were once called “vending
machines,” and provided transmission capabilities.</p>

<p class="para">2B had
come here to read some mail. But before that she had to go through
the procedures, which was to destroy the Machines that gathered
around the access point.</p>

<p class="para">Even
if the access point was disguised as a rusty artifact, Machines
somehow knew that it was an important apparatus. Whether it be in the
corner of a ruin or in the middle of a desert, the Machines gathered
around it as if they were trying to prevent transmissions and intel
collection. They didn’t have a shred of intelligence, but they were
crafty in strange ways. They were cunning to an annoying extent.</p>

<p class="para">On top
of that, no matter how many times they were destroyed, they just kept
coming back. That tenacity was irritating. YoRHa squadron members
were prohibited from having emotions, but she was still irritated.
Especially when there was an important message to read, like today.</p>

<p class="para">Either
way, 2B could finally attend to her original errand. She opened her
mail inbox on the display, and opened a newly received email.
She had read the sender, the classification of top secret, and some
of the message, when—</p>

<p class="para">“2B!”</p>

<p class="para">Suddenly
appearing out of nowhere was Type S No. 9, aka 9S. While he was a
YoRHa android, he wasn’t modeled after an adult woman like 2B, but
instead a teenage boy.</p>

<p class="para">“Is
that mail from Command?”</p>

<p class="para">“No,”
2B replied, trying to act casually.</p>

<p class="para">“Anyway,
why?”</p>

<p class="para">“What?
What are you talking about, 2B?”</p>

<p class="para">“There
should still be time before our mission begins.”</p>

<p class="para">2B had
headed to the access point early because she’d received a mail
notification from Pod. Even though it took her some time to clear the
Machines, she had planned on reading through the message before 9S
arrived.</p>

<p class="para">“Well,
I heard from the operator that 2B was in battle, so I thought
I’d come in as support.”</p>

<p class="para">“No
need to worry about me.”</p>

<p class="para">2B
lightly shook her head, wanting to get rid of either irritation or
panic.</p>

<p class="para">“I
guess.”</p>

<p class="para">9S
dropped his shoulders with an exaggerated motion. Now she realized
what feeling she wanted to get rid of. Their past conversations and
experiences—she wanted to get rid of her memories of them.</p>

<p class="para">“Well,
since we were able to meet up, let’s head toward the
destination.”</p>

<p class="para">It was a
déjà vu.</p>
<p class="line">
 <p class="para">“Ugh.
More sand got in.”</p>

<p class="para">He
couldn’t learn to like the desert. It was the sand. If the wind
blew it obstructed his vision and annoyed him, and if he walked it
got in his shoes. It was kind of fun sliding down dunes, but
otherwise the footing was poor and made it hard to walk. 9S
scowled and looked at 2B, who was next to him. She was walking
normally, without raising a brow.</p>

<p class="para">“Doesn’t
it bother you, 2B?”</p>

<p class="para">“What?”</p>

<p class="para">“Aren’t
your shoes full of sand as well?”</p>

<p class="para">“While
it’s uncomfortable, it doesn’t disturb my walking, so …”</p>

<p class="para">“Having
sand in your shoes feels disgusting, doesn’t it? It doesn’t
disturb my walking, but it’s a matter of sanity.”</p>

<p class="para">“We
are prohibited from having emotion.”</p>

<p class="para">“Roooger.”</p>

<p class="para">Although
he agreed, he carried on the argument in his head. 2B should be
the last person to say that, he thought.</p>

<p class="para">2B
didn’t control her emotions as well as she thought. At least,
that’s what 9S thought. Her catchphrase of “we are prohibited
from having emotion” was probably more directed at herself than 9S.
By saying that out loud, she was scolding herself. It was
something the solemn 2B would do.</p>

<p class="para">She
doesn’t have to try that hard, thought 9S. She could say it and
still disagree with it at heart. Besides, how many YoRHa squadron
members actually adhered to the rule?</p>

<p class="para">But even
if 9S said all of this, 2B wouldn’t change her ways. 2B didn’t
have the dexterity to separate what she said and what she felt.</p>

<p class="para">9S
looked over at 2B’s profile again. He saw a glimpse of
something on her taut lips. 2B was also bad at hiding secrets.</p>

<p class="para">“Nines?”</p>

<p class="para">2B
looked puzzled. She was probably caught off guard by his incessant
staring.</p>

<p class="para">“Uh.
Nothing … just thinking since it’s so dusty and hot it would
be nice to take a bath.”</p>

<p class="para">That
wasn’t it. He wanted to say something else.</p>

<p class="para">“We
don’t need to bathe.”</p>

<p class="para">“Right …”</p>

<p class="para">What are
you hiding? Recently you seem a bit down? Are you worried, or?</p>

<p class="para">Even if
he asked she probably wouldn’t answer. He already knew that, after
operating with her for a few months. Instead of his questions, 9S
tried exclaiming, “Oh!”</p>

<p class="para">“Could
that be our mission subject this time?”</p>

<p class="para">A giant
shadow of what looked like a building loomed beyond the sandstorm.
The end of the desert was near.</p>

<p class="para">“Affirmative: That
massive building is the main subject of this research mission.”</p>

<p class="para">Pod
answered from the side. It was 9S’s support unit, Pod 153. 2B’s
support unit, Pod 042, was silently floating behind her.</p>

<p class="para">“Apparently
it’s called a temple. It’s official name was “The Stone
Temple,” I think? People brought a statue of a god or something,
and it started to be used as a temple.”</p>

<p class="para">There
was a silence. 2B’s mouth was stuck in a half-open position.</p>

<p class="para">“2B?
Is something wrong?”</p>

<p class="para">Her
mouth moved as if she wanted to say something, but 2B changed her
mind and stopped. Her lips started to move again.</p>

<p class="para">“No,
it’s nothing.”</p>

<p class="para">There
was no way it was nothing. She’d hesitated too long. Of course, 2B
had no intention of telling 9S why. Even though she’d started
calling him Nines, it didn’t feel like they’d gotten any
closer.</p>

<p class="para">“Let’s
get going, 2B.”</p>

<p class="para">9S
intentionally used a bright tone, and started to run, as if he was
excited to see the subject.</p>

<p class="para">No
matter how he asked, 2B probably wouldn’t answer. He knew before he
asked. That was unbearable for 9S.</p>
<p class="line">


<p class="para">The
stone temple was built in a deep chasm. Since there were
cliffs surrounding it, it took a long time to get into the
temple.</p>

<p class="para">“They
didn’t have to build it so deep in the chasm—I don’t
understand.”</p>

<p class="para">After
finally climbing down the cliffs and walking along the bottom of the
chasm, they had to climb again to get to the temple’s entrance—a
treacherous path to get inside. It was hard not to complain.</p>

<p class="para">“Hypothesis:
The ruin surroundings were once a lake or a man-made moat, and
humans used boats or a bridge to access it.”</p>

<p class="para">I see,
9S thought after hearing 153’s response. Surrounding something with
water was usually a technique that was used to protect someone or
something important from outsiders. The temple was most likely built
in the shape of a long cylinder to increase the floor area ratio.</p>

<p class="para">“But I
don’t understand this …”</p>

<p class="para">9S
looked up at a giant tree. It seemed like it had died recently,
and its black trunk leaned on the spiral staircase.</p>

<p class="para">“Why
would they plant such a big tree inside of their building?”</p>

<p class="para">The
cylindrical building had an atrium at its center, and the spiral
staircase that started on the first floor cut off near the top floor.
Perhaps before it had extended all the way to the top floor, but it
was cut off now, and 9S couldn’t tell what it had looked like
in ancient times.</p>

<p class="para">“What
do you think, 2B?”</p>

<p class="para">No
response. She didn’t realize 9S was talking to her. She finally
realized 9S had turned around and was staring at her, at which point
she asked a hurried, “What?”</p>

<p class="para">“The
spiral staircase.”</p>

<p class="para">He
intentionally said something different.</p>

<p class="para">“Um, I
don’t think much of it …”</p>

<p class="para">She
wasn’t listening at all, just as he expected. If she had been
listening, even just a little, she would have realized that he was
talking about something else before.</p>

<p class="para">“Let’s
go to the top floor.”</p>

<p class="para">Without
mentioning that their conversation was broken, 9S turned toward the
spiral staircase. 2B followed without a word. This isn’t like
2B, he thought to himself.</p>
<p class="para">Why was
2B acting like this even though she had a task to accomplish? Or
was it because she had a task? 9S didn’t say anything
because 2B had been acting strange recently, and he had a hunch about
why that was. He acted like nothing was wrong, and interacted with 2B
the same way he had before. In contrast to 2B, who was bad at hiding
secrets, it was a piece of cake for 9S. Otherwise, he wouldn’t have
tried to illegally access the server—and multiple times at
that.</p>

<p class="para">No, this
wasn’t about him. After all, he was about to be killed. He already
knew. He even knew that 2B was tasked to carry out the deed.</p>

<p class="para">He knew
the moment this mission was assigned. That the research mission was
just a front, and that 2B had a different responsibility.</p>

<p class="para">Command
ordered 9S’s—or in this case my—assassination. Isn’t
that right, 2B?</p>

<p class="para">But
still, there was something wrong with how 2B was acting. She was too
distracted. 2B wouldn’t perform a top secret mission with this kind
of halfhearted attitude. Even if Type S’s were less suited for
battle, they could counterattack and still assign Pod to assist in
attacks.</p>

<p class="para">Which
meant that 2B was distracted not by 9S’s unauthorized access to the
server, but something else.</p>

<p class="para">Suddenly,
2B, who was walking in front of him, swayed.</p>

<p class="para">9S
quickly extended both hands and caught 2B as she fell back.</p>

<p class="para">“What
happened? You never trip on stairs.”</p>

<p class="para">The
spiral staircase was quite steep, and years of use and neglect had
left various protrusions and holes. But with 2B’s maneuverability,
it shouldn’t have been a problem.</p>

<p class="para">“Are
you okay?”</p>

<p class="para">“Oh …
yeah,” she said in a distraught tone.</p>

<p class="para">“There’s
fortunately no enemy signals, but if we were ambushed by Machines
right now you would die.”</p>
<p class="para">“D-die …
?”</p>

<p class="para">9S
didn’t believe his eyes. 2B was smiling. Her lips were twisted
unnaturally. This smile was strange, obviously abnormal.</p>

<p class="para">“You’ve
been acting weirdly. Are you feeling okay?”</p>

<p class="para">“No …
I’m … okay …”</p>

<p class="para">2B’s
shoulders started shaking. Her muscles were going berserk.</p>

<p class="para">“What
are you saying? You’re not okay at all!”</p>

<p class="para">Why
hadn’t he seen this coming? No, he’d checked her before the
mission and she was all clear. Since 9S handled maintenance for 2B;
he would’ve requested a mission cancellation as soon as he saw a
small defect.</p>

<p class="para">“Let’s
call it a day.”</p>

<p class="para">But 2B
ignored 9S, and kept heading toward the top floor.</p>

<p class="para">“2B!”
he said harshly as he grabbed her arm.</p>

<p class="para">“Warning:
Enemy signals above.”</p>

<p class="para">“Warning:
Multiple signals at two o’clock.”</p>

<p class="para">The two
Pods warned simultaneously. According to Command’s research, the
probability of running into Machines during this mission was supposed
to be zero.</p>

<p class="para">But
heading from that direction were six flying types. They were what 9S
would call “small fry,” but they had signal-jamming capabilities.
Which meant they couldn’t be detected until they were in sight …</p>

<p class="para">“This
is terrible.”</p>
<p class="para">To think
they would attack when 2B wasn’t feeling well. Even if they chose
to flee, they were in an atrium. They would just get attacked from
above.</p>

<p class="para">“Nines!
Get back!”</p>

<p class="para">He heard
a sharp voice. 2B ran up the stairs with newly acquired vigor. She
was moving more smoothly than before. She was back to the usual
2B.</p>

<p class="para">“I’ll
support!”</p>

<p class="para">Then he
should support 2B, as usual.</p>

<p class="para">“Pod!
Analyze the enemies’ flight patterns!”</p>

<p class="para">He
instructed 153, careful not to get in the way of 2B’s Pod, 042.
Each type of Machine had a unique movement pattern. If the androids
could predict the movements, they could keep the damage sustained at
a minimum while maximizing the damage they dealt.</p>

<p class="para">Pod 153
shot down an enemy that was approaching 2B from behind. They didn’t
move that quickly.</p>

<p class="para">9S saw
light at the end of the tunnel, when the two Pods warned again.</p>

<p class="para">“Warning:
Enemy signal in the hallway of the top floor.”</p>

<p class="para">“Hypothesis:
Multiple walking types. Specific types and number undetermined.”</p>

<p class="para">Because
of the flying types’ signal jamming, it was hard to tell what
the situation was like. They needed to do something about that
first.</p>

<p class="para">“2B!
Go! I’ll handle the flying types!”</p>

<p class="para">Type B’s
who specialized in close combat were more effective against walking
types.</p>

<p class="para">“Okay.
I’ll leave this to you.”</p>
<p class="para">2B
jumped over the stair railing and ran. She grabbed onto 042’s arm
in midair, and glided into the hallway. There wasn’t an ounce of
hesitation in her actions.</p>

<p class="para">“Pod!
Take over the enemies by hacking!”</p>

<p class="para">“Roger:
Initiating support.”</p>

<p class="para">9S ran
up the stairs and closed the distance between the flying types.
Fortunately they were one of the types that were sluggish. It wasn’t
hard to infiltrate their cyberbrain dimensions.</p>

<p class="para">Once he
was inside, the Machines were powerless. They knew various ways to
counter physical attacks, but hadn’t adapted to handle
internal attacks.</p>

<p class="para">He found
the control unit and wrote over the system. Even taking over one
enemy would make things a lot easier.</p>

<p class="para">He
attacked the remaining five units with the one he took over. Perhaps
they didn’t have the resolve to attack an ally, as none of them
retaliated. Even when 9S’s unit attacked, they didn’t evade and
were obediently shot down.</p>

<p class="para">After
shooting down all five, 9S made the one he was controlling
self-destruct, and left the digital dimensions. He raced up the
stairs and headed to the hallway that 2B was in. He thought he would
run in as support, but there was no need.</p>

<p class="para">“It
looks like you’re done here.”</p>

<p class="para">There
were a great number of metal fragments on the ground around 2B. They
were the remains of walking types. There might be more on the
top floor so they couldn’t let their guard down, but it looked like
the vicinity was clear of enemies.</p>

<p class="para">“Are
you hurt?”</p>

<p class="para">“Not
at all.”</p>

<p class="para">He felt
relieved to hear that. All of a sudden, 2B’s military sword dropped
to the floor. 9S ran toward 2B. He had a bad feeling.</p>
<p class="para">“2B!”</p>

<p class="para">“It’s
okay. My hand just sl1pped, that’s all …”</p>

<p class="para">There
was a strange noise mixed into 2B’s voice. Her hands clawed at
her throat.</p>

<p class="para">“Logic
virus?”</p>
<p class="para"></p>
<p class="para">2B fell
to her knees with a thud. 9S quickly tore off 2B’s goggles. 2B’s
eyes were glowing red. There was no mistake. She was infected by the
enemy.</p>

<p class="para">“I’m
going to eliminate it by hacking!”</p>

<p class="para">“Wait …
no …”</p>

<p class="para">2B shook
her head with great anguish.</p>

<p class="para">“What
are you saying? We need to get rid of it quick!”</p>

<p class="para">It was a
race against time. If infection of the personal data progressed,
there was no saving her. 9S initiated hacking while 2B lay on the
floor, still shaking her head.</p>
<p class="line">


<p class="para">Various
areas in the hacking dimension started to turn black. It was a
typical logic virus infection.</p>

<p class="para">The
logic virus would take over the memory block and processing circuits,
seizing control of the victim. Sometimes the victim would begin
to indiscriminately attack their surroundings and comrades. I’m
okay if Command has me executed, but I don’t want to die at the
hands of a berserk 2B, thought 9S.</p>

<p class="para">“I
need to hurry …”</p>
<p class="para"></p>
<p style="line-height: 100%"><font face="Aptos, sans-serif">Fortunately,
he’d seen this type of virus. He’d succeeded in eliminating this
one before.</p>
<p class="para">“But
it’s progressed so far. And …”</p>

<p class="para">An
orange ball of light whizzed past 9S’s personal data. It was
an attack from the virus.</p>

<p class="para">“This
makes it tricky.”</p>

<p class="para">But the
virus didn’t look like it had evolved since last time, so its
attack patterns were probably still the same. Which meant that he
could carry on his task of eliminating the virus while dodging the
attacks.</p>

<p class="para">It
didn’t take too long for him to eliminate the virus. All that was
left was for him to check for any other dormant viruses in the
logic circuit. It was a simple task of running a high-speed search.</p>

<p class="para">“Hm?
That’s weird.”</p>

<p class="para">He
realized as he was searching that 2B’s personal data was filled
with blemishes. Usually the hacking dimension was perceived as a
flawless white room. But this one looked rather shoddy, like one of
the rooms in the ruins. He hadn’t noticed until now because it
had been covered in black because of the virus.</p>

<p class="para">“Symptoms
from the virus?”</p>

<p class="para">He
needed to go in deeper to investigate. Just then, he heard the sound
of blowing wind and several words filled the space in front of him.</p>

<p class="para">“We
order you to assassinate 9S.”</p>

<p class="para">It was a
fragment of 2B’s memory. This was probably a line from an email.
The sound of blowing wind was probably because she was in a
desert. 9S pictured 2B receiving the email at the access point. This
happened recently.</p>

<p class="para">9S
halted the search operation, and accessed the memory. His name had
come up. Even if he wanted to forget that this ever happened, it was
probably a good idea to see for himself.</p>
<p class="para"></p>
<p class="para">“There
were several attempts at unauthorized access into the main server.
The other day traces of him were discovered in the memory blocks
we use to keep top secret information.”</p>

<p class="para">The
words were distorting. The sound of wind had disappeared. 2B had most
likely been shocked in the moment.</p>

<p class="para">“As
such, we order you to assassinate 9S.”</p>

<p class="para">2B
probably didn’t want him to eliminate the virus because she was
trying to hide this memory from him.</p>

<p class="para">“You
didn’t have to worry about that. I knew already—that you
were sent by Command as an assassin.”</p>

<p class="para">The only
thing he didn’t know was when she was going to kill him. That’s
why he had a suspicion the time had come when they met up at the
access point in the desert. As he watched 2B read the message from
behind, he sensed it was grave news. To top it off, 2B didn’t
notice him approaching from behind until he called out to her.</p>

<p class="para">“Head destroyed.”</p>

<p class="para">He was
caught off guard. There was a random memory fragment stuck inside
this one of 2B reading the message. It was a low voice with no
inflection. But it sounded so much like 2B’s, he had to clarify.</p>

<p class="para">“This
is 2B. The task has been completed.”</p>

<p class="para">It was
the same voice. If those were 2B’s words, whose head had she
destroyed?</p>

<p class="para">He moved
toward a mess of memory fragments.</p>

<p class="para">“What’s
this?”</p>

<p class="para">The
memories looked disheveled at first glance, but upon further
inspection they twisted and entwined in an unnatural way. Every
fragment had thorns sticking out of it. He had never seen memory data
that looked like this.</p>
<p class="para">Thorny,
twisted, and entwined—memories of 2B.</p>

<p class="para">Maybe he
shouldn’t look. Maybe he shouldn’t know. But he couldn’t stop
himself. He was a little spiteful toward the tremendous
curiosity that Type S’s had.</p>

<p class="para">The
moment he touched a fragment, an immense pain cut through him. That
pain ironically cleared 9S of any doubt. He had to go on.</p>

<p class="para">“But a
Type S could never beat a Type B.”</p>

<p class="para">This
voice. This was 9S’s own voice. This was from 2B’s memory, so he
must have said this in 2B’s presence. But he couldn’t remember at
all. It seemed his memory had been erased.</p>

<p class="para">Who?
Why?</p>

<p class="para">9S
accessed another memory to find the answers.</p>

<p class="para">“Bye,
2B.”</p>

<p class="para">This was
his own voice too. 2B was desperately trying to keep calm as she
heard his faint voice. There probably wasn’t any visual data
because 2B had shut her eyes.</p>

<p class="para">“Bye,
2B.”</p>

<p class="para">“Bye,
2B.”</p>
<p class="para"></p>
<p class="para">“Bye,
2B.”</p>

<p class="para">The same
words over and over. Apparently these words had been going through
2B’s head ever since she received the message from the commander in
the desert.</p>

<p class="para">When and
where had he said these words?</p>

<p class="para">The
memory switched. He could see scenes from their mission at the Sand
Temple. This was a memory from the first time 2B killed 9S. It was a
plan to trap 9S in her own cyberbrain dimension and destroy him after
trapping him in with a self-shutdown algorithm.</p>

<p class="para">The
words were what 9S had said to 2B right before he was deleted in the
cyberbrain dimension.</p>

<p class="para">“2B
had killed me before.”</p>

<p class="para">He
understood. This was the reason why 2B seemed so distracted.</p>

<p class="para">He
accessed the other fragments. He felt more pain, but had no intention
of stopping.</p>

<p class="para">This
execution happened in space. 2B destroyed 9S while they were heading
to Earth. The next happened once again in the Sand Temple.
Perhaps she had learned from the last execution, because this time 2B
slashed 9S as soon as they stepped into the temple. There were a few
times in the Stone Temple as well.</p>

<p class="para">There
were times when 9S was killed after they had gone on a few missions
together, and times when he was killed before he really knew who 2B
was.</p>

<p class="para">No
matter how many times he was killed and his memory was erased,
9S always eventually reached the conclusion that Command was hiding
something. And he would stop at nothing to uncover the truth, even if
that meant trying to access the main server without authorization.</p>

<p class="para">2B tried
to stop him many times. If she operated with 9S, she did her best to
convince him that there was nothing suspicious about Command. When
she killed him without getting to know him, she always erased
more of his memory than necessary to make sure it was rid of any
inklings of doubt.</p>

<p class="para">But all
of 2B’s efforts were in vain. No matter how hard she tried the
result was always the same. If she was warm or cold to 9S, if she
called him Nines or didn’t, the assassination order always came.</p>

<p class="para">“So
that’s what happened …”</p>

<p class="para">It had
bothered him ever since he met 2B. There were times when they
were alone, but it seemed like 2B was talking with another Type S. At
the time, he concluded that she must’ve worked with Type S’s in
the past.</p>

<p class="para">His
hypothesis was correct, in a way. She had been working with 9S the
whole time. Just different versions of him.</p>

<p class="para">“If we
were ambushed by Machines right now you would die.”</p>

<p class="para">He
understood why 2B had started acting strangely after he said
that. 9S had said the exact same line in the exact same situation
before, and 2B had killed him right after that. Hearing him say that
hurt 2B.</p>

<p class="para">It
wasn’t just this one either. All of 2B’s memories of him hurt
her. So much that her personal data had started to deteriorate.</p>

<p class="para">“I
won’t apologize. It was a mission. She had no guilt. Never.”</p>

<p class="para">9S looked
around at 2B’s personal data once again. It was white, but full of
scratches and on the verge of falling apart …</p>
<p class="line">


<p class="para">She
awakened from the darkness. After one blink, she saw 9S’s face in
front of her. But was it just her imagination? He had a sort of dark
expression. 2B blinked once more, and stared back at 9S.</p>

<p class="para">“Nines …
?</p>

<p class="para">That’s right,
she was ambushed by Machines, fought them, and was infected by a
logic virus. The last memory she had was of her trying to adamantly
refuse 9S’s hacking.</p>

<p class="para">“I
eliminated the virus.”</p>

<p class="para">She
wasn’t able to stop him. 9S had forcefully hacked her, and entered
her memory block.</p>
<p class="para">“So …
you saw everything?”</p>

<p class="para">9S gave
a silent nod.</p>

<p class="para">“I
see …”</p>

<p class="para">She
wasn’t surprised. She knew this day would come. Type S’s
were sharp. He had even seen through her top secret missions a few
times in the past.</p>

<p class="para">“So 2B
wasn’t your real name, was it?”</p>

<p class="para">Well,
this is a new turn of events, she thought.</p>

<p class="para">“2E.”</p>
<p class="para"></p>
<p class="para">It was
the first time 9S had called her by her real name. Type E No. 2. Her
YoRHa model specialized in executing deserters and traitors, or
putting an end to wounded comrades on the battlefield—that
kind of dirty work.</p>

<p class="para">2B drew
her sword. 9S’s shoulders twitched. This 9S knew that she’d
killed him many times in the past.</p>

<p class="para">“I
have no intention of killing you anymore.”</p>

<p class="para">She
pointed her sword at herself, and pushed the hilt into 9S’s hands.</p>

<p class="para">“Kill
me.”</p>

<p class="para">The
mission had failed. She was disqualified as a Type E. She was a
defective product unworthy of even her operational costs.</p>

<p class="para">“At
least at your hands …”</p>

<p class="para">There
was no way this would completely make up for her past actions, but if
it even atoned for one ten-thousandth of the pain she had caused 9S,
that’s what she wanted. This was the only thing she could do.</p>
<p class="para">She saw
9S grip the hilt. 2B smiled and waited for her death.</p>

<p class="para">The
sword flashed. But it didn’t head toward 2B.</p>

<p class="para">“Nines?”</p>

<p class="para">2B’s
eyes widened as she was showered by red liquid. 9S slowly fell after
tearing his own throat open. She held him. “Why?” Her voice
sounded distant.</p>

<p class="para">“Because
it was … fun.”</p>

<p class="para">She
couldn’t believe her ears. It was fun? Impossible. There was no
way.</p>

<p class="para">“It
was fun to be with you. My past selves probably would have said so
too.”</p>

<p class="para">“Nines …”</p>
<p class="para"></p>
<p class="para">She
tried to say sorry, but 9S interrupted her.</p>
<p class="para"></p>
<p class="para">“Don’t
apologize. Instead …”</p>

<p class="para">9S
heaved, as a smile flashed across his face.</p>

<p class="para">“Next
time … don’t hesitate, and just kill me. We’ll see each
other … again.”</p>

<p class="para">She
could meet 9S again if she deleted his entire memory block and
reinstalled his personal data. Even if it wasn’t the current 9S.</p>

<p class="para">“Because …
I … want to … see you … again …”</p>

<p class="para">Even if
their next meeting was for an execution.</p>

<p class="para">“Okay.”</p>

<p class="para">She
couldn’t tell what kind of face 9S made, because her vision was
blurry.</p>

<p class="para">His body
became limp. The sword dropped from his hand, which had been on 2B’s
cheek. His black-box signal weakened further and further. It would be
vile to let this last any longer.</p>

<p class="para">9S laid
his body down, and stuck the sword through his chest. The black-box
signal completely diminished.</p>

<p class="para">“I
promise.”</p>

<p class="para">She was
going to kill him, without hesitation. The next time, and the one
after that. Not because it was her mission, but because it was 9S’s
wish. To honor his wish of seeing each other again—she would kill
him.</p>

<p class="para">2B
quietly slid the sword out of 9S’s chest. ​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/novellas">Back</a></p>