---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Memory Cage</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Memory Cage</p>
<img src="https://i.imgur.com/WaIe4Nv.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<p class="line"></p>
</p>
<p class="title"><em>The
close-combat weapon flashed, slicing through the sandstorm.</em>
​</p>

<p class="para">A
Type-40 combat sword. A state-of-the-art weapon issued only to the
elite forces on the front lines. The blade, crackling with
electricity, burst and sent a semispherical object flying through the
air in an arc.</p>

<p class="para">A
now-decapitated machine stopped moving. A few seconds later, it
cylindrical&nbsp;body fell on its side in the sand, and explode,
shrapnel showering two previously destroyed bodies in the vicinity.</p>

<p class="para">After
the explosion and shock wave, all that was left was the unique sound
of the sirocco, the desert wind.</p>

<p class="para">The dust
eventually lifted, revealing a human silhouette. From the smooth
outline of the shoulders, the tight waist, and alluring legs that
emerged from a short skirt,&nbsp;the silhouette clearly belonged to
an adult woman.</p>

<p class="para">Though
technically, the individual wasn’t an adult, or a woman. The
silhouette didn’t belong to a human, or an organism with innate
gender. It was YoRHa android Type B No. 2, code name 2B. A unit built
for battle.</p>

<p class="para">It had
already been a long time since humans had left the Earth. Humanity
was forced to flee to the moon because of the alien&nbsp;invasion. As
of now, Earth was only occupied by the Machines, which were the
aliens’ minions, and the human-created androids, who were assigned
to destroy the Machines.</p>

<p class="para">2B
sheathed her sword as she called out behind her.</p>

<p class="para">“Was
that all?”</p>

<p class="para">Responding
to her question, a support unit, called Pod, that had been floating
several feet over her lowered itself closer to the ground. It had&nbsp;a
cuboid head with four variously sized arms. While it generally
traveled through air, it could also propel itself through water. It
had multifarious support functions, including long-range attacks,
situational analysis, transmission capabilities, and emergency
battlefield first aid.</p>

<p class="para">“Affirmative:
No enemy responses detected within a five-kilometer radius of the
access point.”</p>

<p class="para">“I
see,”&nbsp;2B mumbled as she approached a metal box slightly taller
than she was. Access points were disguised as ancient human vending
machines, but they were valuable apparatuses that enabled
transmissions with Command and collected intel on their surroundings.</p>

<p class="para">Whether
they were aware of it or not, the Machines always gathered around
these access points. Whether it be in the corner of a ruin or in&nbsp;the
middle of a desert, without fail they collected around the vending
machines as if they were insects swarming to a fallen fruit.</p>

<p class="para">Inevitably,
YoRHa squadron members needing to send a transmission or check the
terrain data of the surroundings had to clear out the Machines around
an access point. It was just standard operating procedure.</p>

<p class="para">After
completing this step 2B could finally attend&nbsp;to her original
errand. She opened her mail inbox on the display, and retrieved a
newly received email. She read the sender, the classification of top
secret, and some of the message, when—</p>

<p class="para">“2B!”</p>

<p class="para">Suddenly
appearing out of nowhere was Type S No. 9, a.k.a. 9S. While he was a
YoRHa android, he wasn’t modeled after an adult woman like 2B, but
instead a teenage boy.</p>

<p class="para">“Is
that mail from&nbsp;Command?”</p>

<p class="para">It
wasn’t as though he had looked, but scanner types like him that
specialized in research had exceptional observational skills and
intuition. It wasn’t time for the regular report from the human
board on the moon to come, and she surely wouldn’t have engaged
many Machines just to open a personal message. He had probably taken
those factors into account, and instantaneously arrived&nbsp;at the
conclusion that it was mail from Command.</p>

<p class="para">“It
has nothing to do with this research mission. It’s some directives
for another mission.”</p>

<p class="para">“Anyway,”
2B changed the subject. “This isn’t the rendezvous point.”</p>

<p class="para">The
assigned rendezvous point with 9S was closer to their mission
destination.</p>

<p class="para">“I
know, but it seemed like you were in battle, so I thought I’d come
in as support.”</p>

<p class="para">“No
need to worry about me.”</p>

<p class="para">If she
hadn’t been able to take care of those Machines, she would be a
dysfunctional Type B.</p>

<p class="para">“I
guess.” 9S dropped his shoulders with an exaggerated motion. “Well,
since we were able to meet up, let’s continue on together.”</p>

<p class="para">After
consulting their map data, 2B and 9S started to head toward their
mission destination.</p>

<p class="para">“Ugh.
More sand got in.”</p>

<p class="para"></p>
<p class="para">It would
have been remarkable had water gotten into their shoes as they walked
the desert. But sand was to be expected, and 2B thought it was
nothing to make a fuss about. On the other hand, 9S would scowl every
few meters, walk a short distance, groan in frustration, and go
through the same cycle over and over.</p>

<p class="para">“Doesn’t
it bother you, 2B?”</p>

<p class="para">“What?”</p>

<p class="para">“Aren’t
your shoes full of sand as&nbsp;well?”</p>

<p class="para">“While
it’s uncomfortable, it doesn’t disturb my walking, so&nbsp;…”</p>

<p class="para">Sandstorms
in the air obstructed vision, but sand in their shoes was no problem.
“Just don’t worry about it,” said 2B, at which 9S dropped his
shoulders yet again.</p>

<p class="para">“Having
sand in your shoes feels disgusting, doesn’t it? It doesn’t
disturb my walking, but it’s a matter of sanity.”</p>

<p class="para">“We
are prohibited from experiencing&nbsp;emotion.”</p>

<p class="para">How many
times had she said the same thing to 9S? This wasn’t the first time
she had gone on a mission with him.</p>

<p class="para">“Roger.”</p>

<p class="para">9S’s
reply was the same every time, made with a slightly sour tone and
expression. Well, of course the first time he had been apologetic and
said “Sorry,” but still.</p>

<p class="para">She had
heard that YoRHa androids were prohibited from experiencing emotion
ever&nbsp;since a squadron member had jeopardized a mission because
of them. Indeed, emotion impaired judgment and action. 2B thought
that emotion was unnecessary for androids.</p>

<p class="para">Especially
for herself.</p>

<p class="para">“Oh!
Is that it?”</p>

<p class="para">Ahead,
in the direction 9S was pointing, a building jutted out of the
horizon. The building had been displayed on the map data all along,
but the topological variation of the&nbsp;terrain and sandstorms had
concealed it until now.</p>

<p class="para">“Affirmative:
The main subject of this research mission. A massive building,
remnant of human civilization.”</p>

<p class="para">Pod
answered from the side. It wasn’t 2B’s particular model, Pod 042,
but 9S’s, Pod 153. A Pod would usually only interact with its
support targets, unless it was specifically called upon or in a tough
situation.</p>

<p class="para">The
wind&nbsp;suddenly weakened, and the field of vision became clear.
They could see an arched entrance on the face of the building. They
could tell that the building was dug into a mountain. But looking at
the map data, not all of the building was built into the mountain.
Some parts of it faced out into the valley. Overall, it was built
very strangely.</p>

<p class="para">“It
was apparently a religious facility called a&nbsp;temple. Its
official name was ‘The Sand Temple,’ I think? Humans used to live
here a long time ago, and after that it was used as a temple&nbsp;…
I heard.”</p>

<p class="para">Perhaps
she was imagining things, but 9S sounded excited. Since the role of
Type S was to perform research and gather data, they had the trait of
being exceptionally curious.</p>

<p class="para">“Let’s
get going, 2B,” 9S said impatiently, and started running&nbsp;as he
kicked up sand. That must’ve gotten more sand in his shoes than
before, but he didn’t seem to care. It had evidently been a matter
of mind. 2B felt a smile creeping onto her lips, and quickly
suppressed the urge.</p>

<p class="para">“Emotion
is prohibited&nbsp;…”</p>

<p class="para">She had
planned to say it internally, but ended up accidentally saying it out
loud.</p>

<p class="para">9S
looked back and shouted, “Did you say something?!”</p>

<p class="para">“Nothing,”
2B answered, as she hurried toward the the Sand Temple.</p>
<p class="line">

<p class="para">There’s
no sound, she thought. That’s how quiet the interior of the temple
was. She realized with a delay that it was because the thick walls of
the temple blocked out the sound of the desert winds, which outside
still persisted.</p>

<p class="para">“I
didn’t expect this place to have&nbsp;air conditioning!”</p>

<p class="para">Pod 153
responded to 9S. “Negative: There is no air-conditioning unit near
the entrance of the building. The body is perceiving a lower
temperature because of the temperature differential between the
desert and the interior of the building.”</p>

<p class="para">“Boo.
It feels like it.” 9S sulked as he trotted along the hallway. 2B
was wary of the surroundings as she followed.</p>

<p class="para">Their&nbsp;footsteps
and the low humming of the Pods overlapped. A part of the ceiling had
collapsed, and rays of natural light poured down. The light let them
see the stairs and floor, which was packed with rows of square blocks
of stone.</p>

<p class="para">“There’s
even sand in the building.”</p>

<p class="para">9S put
his hand on the stair railing and looked down over it. The stairway
was completely coated with sand. Sand not only&nbsp;filled the
hallways, but there were small piles of sand next to the walls as
well.</p>

<p class="para">“Hypothesis:
The sand in the hallways and near the walls was intentionally
circulated by humans. However, the date of occurrence and motive are
unknown.”</p>

<p class="para">“Intentionally
circulated? You mean they poured the sand into the temple? Like a
river?”</p>

<p class="para">“Affirmative:
For convenience sake, we will call it artificial&nbsp;quicksand.”</p>

<p class="para">“Why
would they do something like that? Oh, did you say the motive was
unknown?”</p>

<p class="para">“Affirmative.”</p>
<p class="para">There
were many mysteries from ancient civilization. While humans had fled
to the moon, they hadn’t taken all their belongings. That’s why
androids performed research and kept records.</p>

<p class="para">“Are
there any Machines nearby?”</p>

<p class="para">She
didn’t see any enemy responses on her goggles,&nbsp;but 2B asked
Pod 042 just in case. It was better to be safe than sorry.</p>

<p class="para">“Answer:
There is no enemy presence in the temple.”</p>

<p class="para">That
meant that even if 9S, a ball of curiosity, did something sporadic,
they wouldn’t be in immediate danger. Of course, there were some
Machines that could jam their sensors, so they weren’t completely
off the hook.</p>

<p class="para">“Warning:
The stairs and a part of the floor&nbsp;ahead are damaged.”</p>

<p class="para">9S
laughed in response to 153’s warning. “I know. You don’t have
to tell me. Right 2B?”</p>

<p class="para">2B
nodded.</p>

<p class="para">She
could see a huge boulder blocking the descending staircase by the
entrance.</p>

<p class="para">“This
boulder used to be a part of the ceiling. The surface is worn down,
but I can see some patterns on it.” 9S, who was kneeling on one
knee inspecting the boulder, glanced up at&nbsp;the ceiling. Seeing
that, 2B also looked up. She could see the sky through a gaping hole.</p>

<p class="para">“I
wonder why it collapsed&nbsp;…”</p>

<p class="para">At the
very least, it wasn’t the aftermath of a Machine battle. The
androids were created to return Earth to its rightful&nbsp;human
owners. So when they fought, they tried to use methods that wouldn’t
put human artifacts in danger.</p>

<p class="para">That’s
why it was hard to believe&nbsp;that a battle would take place so
close to such a large artifact as this building. If, hypothetically,
androids had encountered Machines, they would have lured them to a
different place before engaging in battle.</p>

<p class="para">“Answer:
The collapse is estimated to have happened thousands of years ago.
Therefore, the cause is indeterminate.”</p>

<p class="para">“Thousands
of years ago, huh. Amazing.”</p>

<p class="para">“Amazing?”</p>

<p class="para">“Well,
if the ceiling collapsed thousands of years ago, that must mean this
temple was built even earlier than that? It’s amazing that this
building is in such good condition. Since the desert winds are so
harsh, I would’ve expected more erosion to take place, especially
for a stone structure like this.” 9S, who had said all of that in
one breath, suddenly stood up. As if he were being sucked in,&nbsp;he
quickly headed toward the room next to the staircase.</p>

<p class="para">“What
next?” 2B asked, a little irritated. 9S was inspecting the open
door.</p>

<p class="para">“I
wonder how they opened and closed this door. It’s stone, you know?
This thickness and size. It’s not something humans would be able to
easily move.”</p>

<p class="para">The
sliding door consisted of two panels, but neither would budge no
matter how much they pushed or&nbsp;pulled. 9S tilted his head to the
side as he stared at the partition.</p>

<p class="para">“Maybe
there’s a power source somewhere?”</p>

<p class="para">9S
peered inside the room. But in contrast to the hallway, which was lit
by natural light from above, the room was pitch-black and seemed to
extend forever. Pod 153 blocked 9S as he attempted to enter the dark
room.</p>

<p class="para">“Recommendation:
Illumination area.”</p>

<p class="para">“Okay,
that’s&nbsp;perfect.”</p>

<p class="para">“Roger.”</p>

<p class="para">What lay
illuminated in 153’s light was surprisingly a large space. 9S ran
after 153 toward the middle of the room. The entrance grew dark
again. After instructing 042 to illuminate the way, 2B also stepped
into the room.</p>

<p class="para">9S
inspected the ceiling and the walls. As he moved, his shoes made
squeaks that echoed throughout the room. Then he suddenly crouched
down to&nbsp;inspect the tiles on the floor. Just watching 9S made 2B
dizzy.</p>

<p class="para">“The
floor, walls, and ceiling were all made by stacking stones. They cut
them uniformly, laid them out—this architectural style is different
from any other one I’ve seen. I wonder what kind of equipment they
used? How did they carry that much heavy material? How does such a
thin pillar support a room this tall and wide?”</p>

<p class="para">9S
rushed toward a portion of the wall, talking with fascination in his
voice. “Did there used to be a light here? On this thin table?”</p>

<p class="para">“Affirmative:
There is evidence that torches, a type of illumination, used to be
placed here.”</p>

<p class="para">One,
two, three, four—there’s eight of them. I wonder what they used
this room for? It doesn’t seem like it served a ritualistic
purpose.”</p>

<p class="para">After
running&nbsp;around excessively, 9S headed toward a door in the back.
The door at the entrance was open, but this door was closed.</p>

<p class="para">“I
doubt it but&nbsp;…” 9S placed his hand on the handle. “What if
this door easily opens—yeah right,” 9S said, drowned out by a
creaking sound. The door&nbsp;slid open from both sides.</p>

<p class="para">“It
opened?”</p>

<p class="para">9S
looked surprised as he looked at the open door. Pod 153 kept the
light&nbsp;on as it went in through the door and then came back.
Checking the surroundings for any danger was also a duty of a support
unit.</p>

<p class="para">“Warning:
The hallway is significantly below the door’s height.”</p>

<p class="para">But
153’s warning could not deter the Type S’s curiosity.</p>

<p class="para">“I’m
going to go look a little. I’ll be back right away!”</p>

<p class="para">After 9S
let go, the door closed behind him.</p>
<p class="para">2B
sighed after 9S&nbsp;and 153 disappeared from sight. This was her
chance.</p>

<p class="para">“Pod
program, activate close-combat support and weaponry.”</p>

<p class="para">“Roger:
Electronic signal camouflage activated, close-combat attacks
activated.”</p>

<p class="para">Pod 042
went through the procedures.</p>

<p class="para">“Combat
mode changed to anti-YoRHa. Personal identification signal erased.”</p>

<p class="para">Her
heart was heavy as she thought of what she had to do. In order
to&nbsp;settle herself down, 2B stood still as she drew her sword.</p>

<p class="para">It was
part of her assignment. It was a mission, in the category of top
secret. She’d received a notification for new mail right after she
exited her flight unit. Not on the Bunker in orbit, or after they had
entered the stratosphere. Pod 042 notified her right as they landed
in the desert.</p>

<p class="para">She knew
right away what the subject&nbsp;matter was. A message directly from
the commander, not sent through an operator. Sent when it was least
likely to be intercepted. Above top secret.</p>

<p class="para">No. She
knew far before she received the message. She knew when she was
assigned to a human civilization research mission with 9S. She was
sure she would have to assassinate 9S in the near future. Her
prediction had unfortunately now come true.</p>

<p class="para">“Pod.
Give me 9S’s location and a route to approach him through this
hallway.”</p>

<p class="para">“Roger:
9S’s black box response targeted, calculating best route.”</p>

<p class="para">2B stood
with her back to the door that 9S and 153 had gone through. It was
better to hunt him using a different route. It would be easier to run
into him than chase him.</p>

<p class="para">Furthermore,
the target was a Type S, a new model that specialized&nbsp;in
research and data collection. She had to be cautious, or else she
might lose the element of surprise.</p>

<p class="para">Of
course, she had much higher battle capabilities. The result would be
the same, regardless of whether or not she surprised him. But she
wanted to be done with her task as quick as possible, before 9S
realized he was being attacked. That way she could spare him some
fear and pain&nbsp;…</p>
<p class="para">“Calculation
complete,” 042 said, as 2B retraced her steps through the hallway
she had passed. She leapt onto the boulder that was blocking the
staircase, and jumped. 9S’s black box response was much closer now.</p>

<p class="para">This
time she carefully crept down the stairs, trying not to make a sound.
The black box response was coming from the next room. She quietly
drew her sword and approached the door.</p>

<p class="para">Just
like the first room, these&nbsp;double doors were wide open as well.
But she couldn’t see 9S.</p>

<p class="para">She got
closer to the door, and quickly scanned around. The room was empty.
Which meant there was nowhere to hide as well. She wondered if she
should enter&nbsp;…</p>

<p class="para">2B felt
a presence behind her. She quickly dove to the side and evaded a
shower of bullets that rained down right where she had been&nbsp;standing.
She recognized it as a long-range attack from a Pod program.</p>

<p class="para">She
tried to right herself, but saw a blade coming toward her. 9S had
come up behind her and was swinging his close-combat long sword.</p>

<p class="para">2B
didn’t expect to be attacked by 9S himself. To think she’d tried
to ambush him, but had been ambushed herself.</p>

<p class="para">Right as
she was about to kick 9S’s sword hand, she realized&nbsp;something.</p>

<p class="para">Why was
9S holding his close-combat weapon? 9S never gripped his sword by the
handle like this&nbsp;…</p>

<p class="para">She
quickly created some distance between them. She saw the sword, now
molten, leave drippings like wax on the ground. Had she kicked his
hand a moment ago, her right leg would have suffered a lot of damage.
9S must have predicted what a Type B close-combat specialist would
do&nbsp;in that situation, and set a trap for her.</p>

<p class="para">It was
better to go elsewhere. She was at a disadvantage in the hallway,
because she’d come in after 9S and didn’t know what lay ahead.</p>

<p class="para">Taking a
big leap backward, she created even more distance between her and 9S
and jumped through a door. This was another room, not the one in
which 9S’s black box response was detected. He probably
wouldn’t&nbsp;have had the time to set a trap in this room.</p>

<p class="para">9S
chased after 2B. There was nowhere to hide, but 9S went after her
with no hesitation. Pod 153 fired long-range attacks while he
attacked from close range. 2B was shocked at 9S’s relentless style
of fighting. She had never seen him like this.</p>

<p class="para">Dodging
153’s gunfire and heat beams, 2B swung her sword at 9S. But 9S was
more nimble than she&nbsp;had expected, and she couldn’t deal a
decisive blow. No, it was Pod’s long-range attacks that were
hindering her. She needed to deal with 153 somehow, so she called out
to 042. “Pod! Set your attack target to 153!”</p>

<p class="para">Support
units had no “relentless attack” mode. If they were dealt damage,
they always chose to evade further attacks, which meant that 153
would temporarily suspend long-range attacks&nbsp;while it was
evading. It gave 2B one or two seconds, which was enough.</p>

<p class="para">The
barrage of gunshots paused for a moment. 2B immediately closed the
distance between her and 9S. Perhaps he had not expected 153 to be
attacked, because he just stood still. She pointed her sword at 9S
and stepped forward. Just when she thought it was over, she felt a
bad feeling run through her body. Her sword dropped&nbsp;from her
hands.</p>

<p class="para">2B’s
eyes widened in surprise—or they tried to, but couldn’t even
muster that. Her arms, legs, and the rest of her body were all
unresponsive.</p>

<p class="para">She
could see the floor tiling approaching her. No, she was just falling
forward. Right before she hit the ground, she heard 9S say, “I’m
sorry.”</p>

<p class="para">“So it
wasn’t just me,” 9S mumbled. But it wasn’t vocalized. In the
hacking dimension&nbsp;“talking” was just recorded on 9S’s
personal data. The white walls and floor were also only things that
9S’s personal data perceived, since they didn’t actually exist.</p>

<p class="para">He’d
hoped it wasn’t true. That 2B was plotting to kill him. But he saw
evidence in her word selection, fleeting expressions, and her tone
that supported his suspicion. Eventually that suspicion turned into
certainty, and certainty&nbsp;into reality.</p>

<p class="para">“I
didn’t really want to do this&nbsp;…”</p>
<p class="para">It
wasn’t a lie. He was telling the truth. He just couldn’t think of
any other way. He had tried to think of an alternative ever since he
realized that 2B was an overseer sent by Command. But he couldn’t
think of a realistic plan.</p>

<p class="para">“But a
Type S could never beat a Type B.”</p>

<p class="para">He was
well aware of 2B’s battle capabilities, given all&nbsp;the times
they had been assigned together. If he couldn’t hack her chassis
and take control, he would be killed without a doubt.</p>

<p class="para">Since 2B
rarely let her guard down, he had to wait for the moment 2B would
finish him off in a close-combat battle. A predator was most
vulnerable when it was capturing its prey. It was something 9S had
learned by observing the animals on Earth.</p>

<p class="para">On the
other&nbsp;hand, his plan only worked because 2B was seriously trying
to kill him. If she hadn’t intended on killing him, she would not
have been provoked into entering hacking range, no matter the
ferocity of 9S’s attacks. The fact that 9S was still alive was
proof of 2B’s murderous intent.</p>

<p class="para">“Either
way, it’s a bad excuse isn’t it?”</p>

<p class="para">He knew
that he was doing something worse than murder. He was
infiltrating&nbsp;2B’s mind, rummaging through it, and on top of
that planned to kill her afterward. He knew. But still.</p>

<p class="para">“There’s
something I needed to know.”</p>

<p class="para">9S
carefully proceeded through 2B’s memory block. He hadn’t hacked
her just to take control of her chassis and kill her. He wanted some
information.</p>

<p class="para">“As
such, we order you to assassinate 9S.”</p>

<p class="para">One of
the newer memories in the memory block&nbsp;was something that looked
like part of an email. It was most likely the mail she had received
previously at the access point.&nbsp;Incomplete memories were stored
in order of impact, instead of being stored sequentially.</p>

<p class="para">When 2B
had opened the email, the words “As such, we order you to
assassinate 9S.” were the first words she saw. Which meant that 2B
had expected to receive the order. She must’ve&nbsp;read those
words first, because she had been expecting them all along.</p>

<p class="para">“We
have evidence”</p>

<p class="para">“Attempted
to”</p>

<p class="para">“The
subject matter,”</p>

<p class="para">“Access
the main server”</p>

<p class="para">“An
unresolved problem for some time”</p>

<p class="para">“Several
times”</p>

<p class="para">“It is
prohibited”</p>

<p class="para">“9S
is”</p>

<p class="para">The
shards of the memory were all over the place. The order of the words
was out of place, because 2B had been rattled by the&nbsp;message.
Furthermore, 9S had appeared while she was reading it. She hadn’t
had time to organize all the information in the message&nbsp;…</p>

<p class="para">9S moved
further into the memory block, looking for the information he needed.</p>

<p class="para">“Is
this it? A confidential meeting between 2B and the commander.”</p>

<p class="para">It
consisted of the commander standing with her back to 2B, as 2B looked
on. Apparently this didn’t take&nbsp;place through a transmission,
but somewhere within the Bunker.</p>

<p class="para">“But
isn’t a Type S on-site research mission usually completed solo?”</p>

<p class="para">“It’s
just a formality. There can be exceptions. What if the area is
infested with large numbers of Machines? There needs to be someone to
support the Type S, who’s unsuited for battle.”</p>
<p class="para">“Roger
that. Then I’ll proceed as you wish.”</p>

<p class="para">“For
now, just&nbsp;supervision is fine. I’ll tell you what further
actions to take later.”</p>

<p class="para">This was
a memory from before 2B started accompanying 9S on his missions. But
at this point, he shouldn’t have done anything “prohibited.”
But the commander thought supervision was necessary. Why?</p>

<p class="para">Then,
all of a sudden, another memory concerning 9S interrupted this one.</p>

<p class="para">“For
us scanner types, solo missions are&nbsp;the norm. That’s why I
think it’s really exciting to have someone with me.”</p>

<p class="para">Ah, he
remembered this. He had said this on their first mission together. 2B
had probably thought about the meeting as he was talking to her then.</p>

<p class="para">Back
then, he hadn’t realized 2B was supervising him, let alone known
that there would be “further actions” taken against him.</p>

<p class="para">Brushing
his bitter feelings aside,&nbsp;he moved on to the next memory. It
seemed like it was a transmission, and he heard the commander’s
voice with static mixed in.</p>

<p class="para">“&nbsp;…
Type S’s are specialized in research and data collection. Because
of their proficiency, they always end up knowing too much. I guess
you could say it’s fate for a Type S&nbsp;…”</p>

<p class="para">What’s
wrong with knowing too much?&nbsp;9S thought. Was there something
Command needed&nbsp;to hide?</p>

<p class="para">“9S
will eventually commit a prohibited action. Perhaps he’s already
crossed the line.”</p>

<p class="para">He
couldn’t disagree with this. He had attempted to access the
prohibited main server.</p>

<p class="para">“There’s
no evidence yet. But it seems like there was an unauthorized attempt
to access the server. This time whoever it was failed, but next
time&nbsp;…”</p>

<p class="para">That was
right, he had failed at first. He’d&nbsp;fled from an aggressive
firewall. He had escaped quickly, so he shouldn’t have left any
traces. The next time he gave up after passing one firewall. The next
time he passed several firewalls. The more firewalls he passed, the
more time it took for him to escape. There was greater risk of
getting caught.</p>

<p class="para">It might
have been only a matter of time before he was caught. But he still
wanted to&nbsp;know. The closer he got, the more he wanted it. If
there was something he didn’t know, he&nbsp;had&nbsp;to know.</p>

<p class="para">Indeed,
this was a Type S’s fate. The commander was right in saying that,
and continuing to supervise him. Even her order to assassinate him
might’ve been justified.</p>

<p class="para">The next
memory was of yet another room of the Bunker. This time it captured
the commander from the front, rather than&nbsp;the back.</p>

<p class="para">“Type
S’s are unsuited for battle. I doubt I’ll have trouble dealing
with him.”</p>

<p class="para">“They
are unsuited for close combat, but it’s not like they can’t
fight. And Type S’s are sharp. There’s a high possibility that
he’s already aware that Command has sent someone to supervise him.”</p>

<p class="para">“It
doesn’t seem that he’s aware&nbsp;…”</p>

<p class="para">“You
aren’t suited for observation. Just like how Type S’s&nbsp;are
unsuited for battle.”</p>

<p class="para">The
commander was also correct here. 2B hadn’t realized that 9S knew
about her real role.</p>

<p class="para">At
first, he thought 2B was just pretending not to have realized. But
that doubt soon escaped him. 2B was not that shrewd. In fact, she was
quite inept. The glimpses of kindness and concern—maybe 2B thought
she was hiding them well, but they were easy for a Type S to discern.</p>

<p class="para">“Either
way, if we attack him, 9S will undoubtedly counterattack. Using
hacking, which is a Type S’s specialty.”</p>

<p class="para">How
sharp. 9S wanted to applaud her. The commander’s prediction had
come precisely true.</p>
<p class="para">Now he
had half of his answers. 2B needed to kill him because he knew too
much. Now, where could he find the other half?</p>

<p class="para">“Let
9S go ahead and activate my weaponry then. I’ll try&nbsp;to ambush
him when we run into each other.”</p>

<p class="para">A random
memory shard interrupted the conversation between the commander and
2B.</p>

<p class="para">“If
it’s over quickly&nbsp;…”</p>

<p class="para">This was
clearly an older memory compared to the conversation. 2B had been
thinking of how to kill 9S long before the order came to do so.</p>

<p class="para">“Don’t
let 9S realize what happened to him&nbsp;… That way, I’ll spare
him some fear and pain.”</p>

<p class="para">Now he
had all the answers.&nbsp;I see, he thought, as the random memory
disappeared.</p>

<p class="para">“Even
you, a close-combat specialist, would not stand a chance if 9S hacked
and took control of your chassis. That’s why.”</p>

<p class="para">What?
What did she make 2B do? The ambush was not an order from the
commander. What did the commander make her do?</p>

<p class="para">“I
want you to set a trap in the hacking dimension.”</p>

<p class="para">He
felt&nbsp;uneasy. Suddenly, black walls appeared in the previously
white hacking dimension. Orange and purple balls of light chased 9S
as he turned. It was a trap-style logic virus.</p>

<p class="para">They
could effectively attack 9S’s personal data if they set up some
viruses in the memory block. However, the virus would affect 2B as
well. 9S hadn’t expected them to go this far.</p>

<p class="para">“Shit!
I underestimated them!”</p>

<p class="para">It had
been more of a desire for 9S, not a prediction. The commander had
mercilessly chosen to put 2B in danger.</p>

<p class="para">He
needed to escape before his personal data was infected.</p>

<p class="para">“But
logic virus attacks might not be enough. That’s why we’re going
to set one more trap.”</p>

<p class="para">Where
was the escape route?! He had made sure there was a way out?!</p>

<p class="para">“We’ll
block everything off, and trap him in&nbsp;the logic circuit.”</p>

<p class="para">All of a
sudden he couldn’t move. Spheres kept multiplying within the
dimension. It was a firewall created by a self-shutdown algorithm.</p>

<p class="para">“Pod!
Create a new escape route!”</p>

<p class="para">But Pod
did not reply. Not only had the logic virus attacked 9S’s personal
data, it had also cut off any communication with the outside world.</p>

<p class="para">His
escape route was gone. In a few seconds&nbsp;his current personal
data would be purged and cease to exist. 9S looked on as the white
hacking dimension’s environment became a sea of black.</p>

<p class="para">“I
guess it’s over&nbsp;…”</p>

<p class="para">2B had
received the assassination order at the desert access point. Since
then, she’d had countless chances to assassinate 9S. The desert,
which had no places to hide and bad footing, put 2B at an advantage.
But 2B didn’t&nbsp;make her move until they were inside the temple.
Looking inside her memories, he understood why. 2B was very adept
after all.</p>

<p class="para">It was
to end it as quickly as possible, so 9S could die without realizing
what had happened.</p>
<p class="para"></p>
<p class="para">The
spheres filled in his surroundings. But he strangely felt at peace.
He didn’t feel fear or pain.</p>

<p class="para">“Bye,
2B.”</p>

<p class="para">Then,
darkness overtook him.</p>

<p class="para">Control
of&nbsp;her body came back just as fast as it had been taken from
her.</p>

<p class="para">“Self-shutdown
activated. Logic circuit blocked off. Quarantined.”</p>

<p class="para">After
blinking a few times to check for control of her body, she slowly sat
up. There were no problems with her motor capabilities either.</p>

<p class="para">“&nbsp;…
Delete.”</p>

<p class="para">She
hadn’t felt anything, not even a slight pain, like the prick of a
needle. She just knew that&nbsp;the command had been executed.</p>

<p class="para">She
looked down at her side, at the chassis of 9S. While his black box
response was still active, deleting his personal data had left his
chassis non-functional.</p>

<p class="para">It would
have been fine had she finished him off in combat; even if she failed
to do so the rigged logic virus would attack his personal data. Even
if 9S succeeded in eliminating the logic virus,&nbsp;the
self-shutdown sequence would trap him in the logic circuit. Then the
whole circuit could be disposed of. The whole ploy had been
constructed by the commander.</p>

<p class="para">9S had
thought two steps ahead by hacking 2B after close combat, but the
commander had thought three steps ahead. It was her win.</p>

<p class="para">2B held
her sword with a backhand grip, and swung once.</p>

<p class="para">“Head
destroyed.”</p>

<p class="para">She felt
a&nbsp;strange sensation in her arm. She had never experienced this
before. Even though this wasn’t the first time she had killed a
comrade, she had never felt something like this when she had
“relieved” her comrades on the battlefield countless times
before. Was her assassination not thorough enough?</p>

<p class="para">“Chest
destroyed.”</p>

<p class="para">She
thrust her sword one more time. This was strange. The sensation was
spreading.&nbsp;At first it had only affected her arm. Now the
pressure had spread to her whole upper body. She wasn’t being
physically suppressed. But it was hard for her to breathe.</p>

<p class="para">“Black
box response confirmed to be unresponsive.”</p>

<p class="para">She had
completely destroyed the chassis. His personal data was erased as
well. 9S was dead. Her task was complete. But she felt like she had
missed something. A nagging&nbsp;feeling of helplessness. Perhaps her
breathing mechanism was experiencing some sort of issue.</p>

<p class="para">“Bye
2B.”</p>

<p class="para">She
replayed 9S’s parting words in her head. His last words, stored in
her memories. She realized what had been bothering her, what had been
nagging at her in the back of her mind.</p>

<p class="para">“I
see. So this is&nbsp;…”</p>

<p class="para">It was
an emotion called guilt. Or perhaps self-condemnation. Either
way,&nbsp;emotions were prohibited.</p>

<p class="para">Something
resurfaced when she tried to kill her emotions. They were memories of
9S.</p>

<p class="para">“2B,”
he called. “It’s exciting to operate alongside someone else,”
She remembered the bashful smile as he had told her that. What
mission was that, when he sounded irritated and had said, “2B, you
can be surprisingly careless sometimes&nbsp;…”</p>

<p class="para">She felt
a lump in the back of her&nbsp;throat. She felt her chest tighten
like she was being strangled. She just kept gritting her teeth. She
understood for the first time what it felt like for the living to be
tormented by memories of the dead.</p>

<p class="para">This was
her fault. She had accumulated more memories than was necessary&nbsp;…</p>

<p class="para">“Bye,
2B.”</p>

<p class="para">Again.
The same voice, again.</p>

<p class="para">She
vigorously shook her head and brushed away 9S’s thoughts.</p>

<p class="para">“I
won’t apologize.”</p>

<p class="para">It was a
mission. She had no guilt. Never. If she got the same order, she
would do it again.</p>

<p class="para">That’s
my job, she told herself, and raised her head.</p>

<p class="para">“Pod,
a transmission to Command.”</p>

<p class="para">“Roger.”</p>

<p class="para">Pod
brought up the transmission display.</p>

<p class="para">She was
going to do the same thing again, that was for sure. But the next
time she was going to keep unnecessary&nbsp;interactions to a
minimum.</p>

<p class="para">She was
going to minimize their time spent together, and their conversations,
so she wouldn’t accumulate unnecessary memories. So she wouldn’t
have any prohibited emotions.</p>

<p class="para">“This
is Command.”</p>

<p class="para">She took
a deep breath one more time, and exhaled, clearing her chest of all
the pain.</p>

<p class="para">“This
is 2B. The mission is complete.”</p>

<p class="para">Traces
of something like grains&nbsp;of sand were sprinkled in her otherwise
indifferent tone. ​</p>

<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/novellas">Back</a></p>