---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Orbital Bunker Observational Diary</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Orbital Bunker Observational Diary</p>
<img src="https://i.imgur.com/M1BaKFw.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<p class="line"></p>

<p class="title"><b>[TB13:30]</b></p>

<p class="para">It’s
like I’m climbing a mountain of boulders, thought 2B.</p>

 <p class="para">Her left
leg felt heavier than lead, and stepping forward made her breathe
heavily. When she finally put her left foot forward, her right leg
joints complained with a loud creak.</p>

 <p class="para">She
half-rolled out of the flight unit, left the hangar, and
stumbled a few meters into the hallway. The time it took to do all
that was appalling. The Research and Development department was just
past the hallway. Thinking of how long it would take made her dizzy.</p>

 <p class="para">The
orbital Bunker was a camp for the YoRHa squadron on the front lines.
It carried all the equipment and facilities necessary to deploy
troops to Earth, and contained living quarters, but it wasn’t
grand by any meaning of the word. Yet she felt like her destination
was eons away. The hallway had a gentle slope so there were no steps
along the way. Someone could walk through with their eyes closed.</p>

 <p class="para">Put
simply, the damage to her motor capabilities was grave. She
desperately needed to have R&amp;D recalibrate her, and attempted to
quicken her steps.</p>

 <p class="para">The commander
approached her from ahead. She tried to use her left arm to salute
her, but she wasn’t able to raise the limb all the way. 2B scowled.
Apparently it wasn’t just her legs that were damaged.</p>

 <p class="para">“Ah,
make yourself comfortable.”</p>

 <p class="para">The
commander had probably deduced 2B’s condition from her awkward
salute. She made a motion for 2B to put her arm down.</p>

 <p class="para">“Your
condition seems pretty bad.”</p>

 <p class="para">“Since
I wasn’t able to get repairs on Earth, I was forced to come back
here. I’m terribly sorry.”</p>
 <p class="para"></p>
 <p class="para">“No,
you don’t have to apologize. Were there any other wounded?”</p>

 <p class="para">“Due
to a battle with Machines that appeared at dawn today, 1D’s upper
right arm as well as her right shoulder and 4B’s left thigh
sustained light injuries. Both were able to recover, due to 12H’s
efforts, to the point where they would not hinder to the
mission.”</p>

 <p class="para">“I
see.”</p>

 <p class="para">The
commander averted her eyes to the side. This hallway, which connected
the hangar to the R&amp;D department and command room, faced
“outside”—that is, outer space. They could see a black expanse
dotted with stars, as well as Earth, the erstwhile home of the human
race.</p>
 <p class="para">On that
blue, beautiful planet, androids led by the YoRHa squadron were
in a constant battle with Machines. No matter how many times they
were crushed, the Machines kept spawning like the litter critters
they were.</p>

 <p class="para">“Compared
to enemy forces the YoRHa squadron is lacking in personnel, even
though we pass it off nicely as a group of the select few.”</p>

 <p class="para">Up until
now, they had made up for the obvious disparity in numbers by using
strategy and skill. But it wasn’t enough to completely erase
their disadvantage, and the battle had become drawn out. That’s why
2B expected the commander to tell her to work harder, but she was
wrong.</p>

 <p class="para">“So,
don’t force yourself, all right?” The commander smiled. At times,
the commander would smile so gently it stumped 2B, even though her
orders were as strict as any military leader’s and her
decision-making was as cool and collected as a freshly sharpened
knife.</p>

 <p class="para">Behind
this occasional smile, there was most likely an immeasurable amount
of struggle and conflict.</p>

 <p class="para">“Commander …”
she started, and stopped. That’s my problem, 2B thought to
herself. “No, never mind.”</p>

 <p class="para">The
commander’s smile disappeared. Her lips strung together a few quiet
words.</p>

 <p class="para">“No
matter how harsh, we need to finish our job. The YoRHa squadron,
that is.”</p>

 <p class="para">The
YoRHa squadron, 2B repeated in her mind. She had struggled in the
past. She had felt unbearable pain … that was certain. But
she’d never complained about a mission.</p>

 <p class="para">“But
whatever mission that may be, the responsibility falls to me. Don’t
forget that,” Commander said.</p>

 <p class="para">It was
as if the commander had read her mind. 2B had thought that the
baggage she accumulated after each and every mission was
something she needed to shoulder herself. No, she still thought that
way. But the commander’s words resonated with her.</p>

 <p class="para">“Glory
to humans.” This time, 2B could properly place her left arm over
her chest.</p>

 <p class="para">“Glory
to humans,” the commander repeated. She would fight under this
person. In the future as well. Until they could return Earth to
humans.</p>

 <p class="para">Listening
to the orderly footsteps that receded farther and farther behind her,
2B hurried to the R&amp;D department.</p>

<p class="para">&lt;What
was that?&gt;</code></p>

<p class="para">&lt;What
was that, just n0w?&gt;</code></p>

<p class="para">&lt;Sh0uld
we f0ll0w?&gt;</code></p>

<p class="para">&lt;Let’s
f0ll0w!&gt;</code></p>

<p class="title"><b>[TB13:40]</b></p>

<p class="para">From
the moment she entered the command room, the commander was
surrounded. A few operators had run toward her and blocked the path.</p>

 <p class="para">“Commander!
It’s about the Bunker’s material storage—”</p>

 <p class="para">“Please
allow me to report about the battle taking place in the City Ruins.”</p>

 <p class="para">“Please
approve the materials we’re sending to the moon.”</p>

 <p class="para">“There
seem to be some technical problems with the transmission area in the
third ward of the F sector.”</p>

 <p class="para">Apparently
the operators thought that just being the commander boosted her
processing power.</p>

 <p class="para">“For
the materials, talk to the representative of each and narrow
down the storage plans to three options. Give them to me and I’ll
discuss it with you.”</p>

 <p class="para">“Roger
that.”</p>

 <p class="para">“I’ll
listen to the battle status in 330 seconds.”</p>

 <p class="para">“Roger
that.”</p>

 <p class="para">“I
approve the materials.”</p>

 <p class="para">“Thank
you.”</p>

 <p class="para">“Have
all members in the F sector visit the access point, and investigate
what’s wrong.”</p>

 <p class="para">“Roger.”</p>

 <p class="para">Phew,
that’s all of them … Or so she thought, but the
operators didn’t budge. It seemed like they still had something on
their minds.</p>

 <p class="para">“And?”</p>

 <p class="para">“Yes,”
the operators replied in unison.</p>

 <p class="para">“Commander!
Please accept this!”</p>

 <p class="para">She was
suddenly surrounded by outstretched packages, some of them gold and
some of them silver.</p>

 <p class="para">“What?
What’s this?”</p>

 <p class="para">“Today
is February 14. It’s called Valentine’s Day, and you’re
supposed to give brown things to people you respect.”</p>

 <p class="para">“Valentine’s?
Is it an ancient tradition?”</p>

 <p class="para">“Yes!
Apparently both the giver and receiver were able to experience
happiness. The brown things were often wrapped in gold or silver
paper.”</p>
 <p class="para">Figures,
she thought. While the shape and size varied, all the packages were
sparkling. So humans handed each other such things in ancient times.</p>

 <p class="para">She
opened one of the packages. It was a brown ribbon. What am I
supposed to do with this? was her first thought, but she said
thank you anyway.</p>

 <p class="para">There
were many mysterious ancient traditions. Since humans created the
androids, it was disrespectful to even try to understand their
traditions, and mimicking an action without understanding wasn’t
very commendable. Mimicking this “Valentine’s” tradition
was something she shouldn’t allow as a superior, but …</p>

 <p class="para">But I
probably shouldn’t be so strict, she thought to herself. Operators
faced a different kind of struggle than the members that fought on
the front lines.</p>

 <p class="para">“Commander,
um … is now a good time?”</p>

 <p class="para">It was
Operator 6O, who managed communications with 2B.</p>

 <p class="para">“What
is it?”</p>

 <p class="para">“I’d
like your approval to test the new flight unit equipment in the
field.”</p>

 <p class="para">She had
been getting updates about the new equipment from the R&amp;D
department. If they were going to test it in the field, there would
need to be communication between the operators and squadron members.
Operator 6O had been in charge of those matters.</p>

 <p class="para">“Ah
yes, that. For the recon mission. The person that was assigned to
that was—”</p>

 <p class="para">“9S.
If there’s no problem with the recon mission, it’ll be the
last test involving the descent squadron.”</p>

 <p class="para">Hearing
that, the commander suddenly thought of 2B’s expression from
earlier.</p>

 <p class="para">“I
see, 9S … that’s right.”</p>

 <p class="para">All the
responsibility falls to me. She told herself the line she had
said over and over in the past.</p>
 <p class="para">“Roger.”</p>

 <p class="para">“Thank
you very much.”</p>

 <p class="para">Operator
6O bowed and left the command room. “Okay,” the commander
said as she turned around. That was exactly 330 seconds.</p>

 <p class="para">“Let
me hear the battle status.”</p>

<p class="para">&lt;Battles
0n Earth? Battle status?&gt;</code></p>

<p class="para">&lt;Fighting
0n Earth? 1sn’t that about how the battles are g0ing?&gt;</code></p>

<p class="para">&lt;I
see. I w0nder what they mean by new equ1pment.&gt;</code></p>

<p class="para">&lt;I
d0n’t kn0w.&gt;</code></p>

<p class="para">&lt;Sh0uld
we g0 see?&gt;</code></p>

<p class="para">&lt;Let’s
g0 see.&gt;</code></p>

<p class="title"><b>[TB14:00]</b></p>

<p class="para">Operator
6O rushed to the hangar. She didn’t want to miss her. Though,
even if she missed her, all she had to do was send a transmission.</p>

 <p class="para">She
squeezed her body through the partially opened door. The door opened
at a dreadfully slow speed. Swift action required responsive
equipment, and she made a mental note to request faster doors later.</p>
 <p class="para"></p>
 <p class="para">“21O,
are you here?”</p>

 <p class="para">Operator
21O popped her head out from beneath a flight unit that was
locked into the catapult. She was in the middle of a checkup. It was
good timing. Operator 6O went straight to the point.</p>

 <p class="para">“In-field
testing of the new equipment got approved!”</p>

 <p class="para">But
21O looked confused. Did she forget about the experiment?</p>

 <p class="para">“The
new equipment? For the flight unit!”</p>

 <p class="para">Operator
21O, whose eyebrows were furrowed in confusion, suddenly looked
irritated.</p>

 <p class="para">“Is
that all?”</p>

 <p class="para">“What
do you mean, is that all … ?”</p>

 <p class="para">This
time it was 6O that looked puzzled. What was 21O so irritated about?</p>

 <p class="para">“Something
like that, you could have just used a transmission. There was no
reason for you to come here.”</p>

 <p class="para">“That’s
true, but …” 6O searched for an excuse to satisfy the
disgruntled 21O. “But, but! I’m always using transmissions, so I
needed some exercise!”</p>

 <p class="para">One of
21O’s eyebrows moved. So what, her expression said.</p>

 <p class="para">“And
don’t you think it’s important to do final equipment checks
visually? Um, you know. We are? Prepared? What was the line?”</p>

 <p class="para">“Being
prepared for anything is our job as operators.”</p>

 <p class="para">“Yeah!”</p>

 <p class="para">21O
finally shook her head after hearing 6O’s enthusiastic outburst.</p>

 <p class="para">“You’re
probably right. We don’t know what he’ll do with new
equipment. 9S is a ball of curiosity after all.”</p>

 <p class="para">Contrary
to how 21O said this with her shoulders shrugged, her tone was
caring. She was always like this when she talked about 9S, the unit
she supported.</p>

 <p class="para">“You’re
right,” 6O said as she bent over. Although their support units were
different, she could agree as a fellow operator.</p>

 <p class="para">“Ms.
2B is also a troublemaker sometimes.”</p>

 <p class="para">Just
like how Type S’s were governed by their curiosity, Type B’s
were troublesome because they never hesitated to sacrifice
themselves. That’s probably why they were able to fight on the
front lines, in the midst of whizzing bullets.</p>

 <p class="para">“I get
nervous just watching.”</p>

 <p class="para">“Even
though I know it’s because of our personality traits.”</p>

 <p class="para">“I
wouldn’t mind if she was just a bit more prudent.”</p>

 <p class="para">“But
even if we tell her, would it make a difference?”</p>

 <p class="para">“There’s
nothing we can do!”</p>

 <p class="para">“That’s
why,” Operator 6O and 21O said together, “it’s vital to be
prepared!”</p>

 <p class="para">And it
was also vital for the operators to exchange information. Even a
casual conversation was a form of information exchange. The trivial
amounts of data could one day accumulate into something that dictated
a big decision, or an indication of coming danger. In other
words, every aspect of an operator’s life was relevant to their
job. They lived for their job.</p>

 <p class="para">6O and
21O checked the new and important features of the equipment, and
talked for a little while. Of course, 21O never stopped working.</p>

 <p class="para">“Okay,
sorry for the wait.”</p>
 <p class="para">21O
finished her inspection, and returned the flight unit to its
designated space, making way for 6O. Since the catapult could
hold only one flight unit at a time, they also had to carry out their
inspections one at a time.</p>

 <p class="para">“Well,
I’ll contact 9S then.”</p>

 <p class="para">“All
right. Thanks!”</p>

 <p class="para">6O
positioned the flight unit in the open space, and began her
inspection.</p>

<p class="para">&lt;That
mach1ne is b1g, 1sn’t 1t?&gt;</code></p>

<p class="para">&lt;1s
that the new equ1pment?&gt;</code></p>

<p class="para">&lt;Where
sh0uld we g0 next?&gt;</code></p>

<p class="title"><b>[TB14:30]</b></p>

 <p class="para">It
was easy for Operator 21O to determine 9S’s location.
</p>

 <p class="para">On
Earth, there were times that his location could not be determined due
to the orbital video resolution or bad transmission conditions. But
on the Bunker, she always knew where he would be. 9S must be
here, she thought as she arrived at the door.</p>

 <p class="para">The
server maintenance room. It was the room with the Bunker’s main
terminal. 9S was always here, analyzing enemy defenses and
studying new hacking patterns. 9S loved that kind of meticulous work.</p>

 <p class="para">Unless
he was deployed, he was always, always, always in here doing work.
His focus was so intense that he often could not hear the door open
behind him.</p>

 <p class="para">See,
just what I expected, 21O affirmed in her head. 9S was intently
staring at the terminal, and hadn’t noticed 21O enter the
room. They were hidden behind the goggles, but his eyes were
probably twinkling with fascination while he was immersed in his
work.</p>
 <p class="para">Apparently
during childhood, humans would “play with toys” and be completely
immersed in the activity. She imagined it looked something like what
9S was doing now.</p>

 <p class="para">Technically,
she had come here before she went to the hangar. She hadn’t talked
to him because he looked so busy, but it had been three hours
since then.</p>

 <p class="para">She
needed to tell him to take a break. But all of a sudden 9S’s
shoulder tensed up, as if he were surprised from behind.</p>

 <p class="para">“Ah,
it’s just you, Operator.”</p>

 <p class="para">9S
relaxed his shoulder and looked over toward 21O.</p>

 <p class="para">“What
do you mean, ‘Ah’—I’ve told you that working so long without
breaks is bad for you …”</p>

 <p class="para">“Yes.
Yes!”</p>

 <p class="para">“Just one
yes is fine.”</p>
 <p class="para"></p>
 <p class="para">“Yeah,”
he replied gloomily.</p>

 <p class="para">“Please
disconnect from the terminal. I’m going to explain your next
mission.”</p>

 <p class="para">“What?
I can’t listen to you like this?”</p>

 <p class="para">“No.
You need some exercise.”</p>

 <p class="para">To think
she would use the same line that 6O had used a few moments ago. But
9S needed more exercise than 6O.</p>

 <p class="para">“Let’s
walk a little.”</p>

 <p class="para">9S
somberly stepped away from the terminal.</p>

 <p class="para">“Where’s
the next mission gonna be?”</p>

 <p class="para">“The
Abandoned Factory. Research of the facility and surrounding areas.”</p>

 <p class="para">“Which
means I’m alone again. That’s so sad.”</p>

 <p class="para">9S
drooped his shoulders. But quickly raised his head and looked at 21O.</p>

 <p class="para">“Will
you come with me, Operator?”</p>
 <p class="para"></p>
 <p class="para">21O knew
he wasn’t being serious. He was definitely sad, but an operator
accompanying him on a mission was out of the question.</p>

 <p class="para">“No.
It’s my job. Stop whining, and do the mission by yourself.”</p>

 <p class="para">“I
know!”</p>

 <p class="para">9S
pouted. But he sounded a little dejected. I guess I can be a
little nice to him, she thought.</p>

 <p class="para">“I
hear the next mission includes field testing of new equipment.”</p>

 <p class="para">“Really?”
9S asked eagerly. Just as expected, the word “new” got his
attention.</p>

 <p class="para">“I’ll
give you the details in the hangar. I’ll go over them as I get
you acquainted with the new features.”</p>

 <p class="para">“Yes!”</p>

 <p class="para">Suddenly,
9S flashed a look of concern.</p>

 <p class="para">“Is
something wrong?”</p>

 <p class="para">Now that
she thought about it, his behavior earlier had been a bit odd. She
thought he was surprised by her entering the room, but 9S had looked
in a different direction. 9S had reacted to something else.</p>

 <p class="para">“Something’s …
on my mind.”</p>

 <p class="para">“What?”</p>

 <p class="para">9S
surveyed the room, feeling like he was being watched. But 9S quickly
shook his head.</p>

 <p class="para">“There’s
no way. It’s probably just my imagination. Maybe I’m tired?”</p>

 <p class="para">“That’s
why I keep telling you to take frequent breaks …”</p>

 <p class="para">“Yes!
Yesss!”</p>

 <p class="para">“One
yes!”</p>

 <p class="para">She
needed to force him to take a rest after she explained the details of
the mission. Otherwise, his ability to perform tasks would
suffer from the accumulated fatigue.</p>

 <p class="para">21O,
thinking about such things, stepped out of the server maintenance
room and urged 9S to do the same. He looked back into at the
room one more time before he left, but again saw nobody there.</p>

<p class="para">&lt;That
was cl0se.&gt;</code></p>

<p class="para">&lt;He
alm0st f0und us.&gt;</code></p>

<p class="para">&lt;I
wonder what “sad” means.&gt;</code></p>

<p class="para">&lt;I
d0n’t kn0w e1ther.&gt;</code></p>

<p class="para">&lt;Andr01ds
are myster10us, aren’t they.&gt;</code></p>
<p class="para">&lt;Yeah.
Myster10us and … fasc1nat1ng.&gt;</code></p>

<p class="para">&lt;Let’s
play, a b1t m0re.&gt;</code></p>

<p class="para">&lt;Yeah.
Let’s play … a b1t m0re.&gt;</code></p>

 <p class="para">In the
empty server room, the terminal displayed two words.</p>

<p class="para">TRANSMISSION
ENDED.</code><font face="Aptos, sans-serif"> ​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/novellas">Back</a></p>