---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Recollections of Emil</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Recollections of Emil</p>
<img src="https://i.imgur.com/FhTSdXr.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<p class="line"></p>
<p class="title"><em>I
move through the dim factory, keeping my footsteps as quiet as
possible.</em></p>
<p class="line"></p>

<p class="para">Well,
they aren’t footsteps. Right now I am nothing but a head. The other
day I was trying to get home when I fell off a ledge and destroyed my
body.</p>

<p class="para">My head
is harder than a rock but my body breaks really easily. It would be
nice if I could make a body that was as strong as my head, but
that’s probably impossible.</p>

<p class="para">Besides,
a body has to be not only strong but practical. I’ve made a
“self-defense force armored vehicle” before, but for its size it
didn’t carry much luggage.</p>

<p class="para">I’ve
tried using a “pickup truck” that specialized in mobility, but it
broke down in a day. If it broke from falling off a cliff, it
wouldn’t hold up when I do business in the city ruins.</p>
<p class="para">Oh, I
run a shop. A portable shop. I started it because … um …
I’m pretty sure there was a good reason. I forgot, it was a long
time ago.</p>

<p class="para">Anyway,
I really need to remake my body, so I infiltrated this factory. I can
get a lot of materials here.</p>

<p class="para">I’m
thinking of using a three-wheeled body instead of a four-wheeled one
this time. I fortunately found some remains of a three-wheeled truck.
The body was rusted and the tires were flat, but with some magic
it’ll be no problem!</p>

<p class="para">According
to some ancient documents this truck was a best seller in areas with
muddy or bumpy roads. There’s some video data, so I’ll be able to
perfectly re-create it!</p>

<p class="para">Now, on
to the materials. First, natural rubber. I need to do something about
those tires.</p>

<p class="para">But this
area is full of dangerous Machines. It used to be called “Robot
Mountain,” so maybe they feel comfortable here. I need to make sure
I don’t run into them.</p>

<p class="para">Hm? I
can smell some natural rubber! Is it this way? Yep, it is. This is
the smell of high-quality material!</p>

<p class="para">Excited,
I move toward the direction of the smell.</p>

<p class="para">“Wowowow!”</p>

<p class="para">I
suddenly have steam billowing over me, and I can’t see anything.</p>

<p class="para">“Hm?
I’m moving?”</p>

<p class="para">I feel
my head being carried away. Is this what they call a conveyor belt?</p>

<p class="para">“Woah!
What’s this?!”</p>

<p class="para">There’s
a line of robot parts. They’re being carried away somewhere in one
straight line.</p>

<p class="para">“I
need to run … wait, what?!”</p>

<p class="para">An arm
extends from above and grabs my head. Two half-spheres approach me
from the sides.</p>

<p class="para">“Stop!”</p>

<p class="para">Clop it
goes as I am enveloped in darkness.</p>

<p class="para">“No!
Let me out!”</p>

<p class="para">No
matter how much I yell or struggle, I am trapped in darkness. And
exhausted from screaming so much, I fall unconscious …</p>

<p class="para">“Huh?
Where’s this?”</p>

<p class="para">It is
suddenly bright, and standing in front of me are a woman and boy I’ve
never seen. “What is this …” they say, as they tilt their
heads. But my head is tilted too!</p>

<p class="para">“Ummm.
Who are you?”</p>

<p class="para">I know
they are androids, but …</p>

<p class="para">“It
looks suspicious. Let’s destroy it, 2B.”</p>

<p class="para">What?!</p>

<p class="para">“Wow
no! Wait!”</p>

<p class="para">I’m
not suspicious! If anything you two are the suspicious ones! You’re
wearing all black! And wearing black blindfolds!</p>

<p class="para">“I’m
going to destroy it.”</p>

<p class="para">“Ahh!
Stop!”</p>
<p class="para">I escape
at my top speed. I think I bumped into something, or broke something,
but I didn’t have time to check.</p>

<p class="para"> …
Did I lose them?</p>

<p class="para">I slow
down and look back. Then feel something weird.</p>

<p class="para">“Boing?”
Was that the word for it?</p>

<p class="para">It seems
I bumped into something and was bounced back.</p>

<p class="para">“Hm?
Feels furry?”</p>

<p class="para">I felt
warm wind from above …</p>
<p class="para"></p>
<p class="para">“Uh,
um …”</p>

<p class="para">Looking
up, I see two tusks. What I thought was wind was the breath …
of a boar. Which meant I bumped into the side of a boar. I slowed
down right before, so it wasn’t a life-threatening impact, but
it must’ve hurt him to be hit by my rock-hard head.</p>

<p class="para">Which
means that … you must be really mad right?</p>

<p class="para">“I’m
so sorry!”</p>

<p class="para">Oh no!
It’s running after me! I hate boars! I’m always being chased by
them! When they hit me it hurts!</p>

<p class="para">“Don’t
come near meeee!”</p>

<p class="para">It’s
hard to run away right now! There’s tons of leaves in my face! I
hear branches snapping right beneath me! But the boar is
still coming after me!</p>

<p class="para">Ah!! I’m
going to hit it I’m going to hit it! I’m going to crash into that
big tree!</p>
<p class="para">I just
managed to swerve out of the way. I must’ve lost the boar …
wait, it’s still coming after me! It seems like this boar has
drifting capabilities. There’s always a few of them. The
high-functioning boars.</p>
<p class="para"></p>
<p class="para">Why am I
thinking of something like this—hm? Where’s the ground?</p>
<p class="para"></p>
<p class="para">“Aaaah!”</p>

<p class="para">It seems
I rolled off a hill. It hurts. It feels like I’m dying. It feels
like I’m getting beaten with sticks. Well, I’m actually just
bouncing off boulders here and there.</p>

<p class="para">I wonder
how long I rolled about. Before I knew it I was at the bottom of a
dim valley, feeling dizzy.</p>

<p class="para">Sigh.
That was terrible. Well, at least I lost the boar.</p>

<p class="para">“Hm? I
smell some iron here?”</p>
<p class="para"></p>
<p class="para">Iron ore
is an essential material to make a body as strong as my head!</p>

<p class="para">After
being chased by a boar, I thought I was unlucky to roll all the way
down into a valley. But I think I’ll be able to turn misfortune
into fortune. Let’s go pick some iron ore!</p>

<p class="para">Yes, yes
it’s here! There’s some high-quality iron ore! I can take as much
as I want! This is fun!</p>

<p class="para">“Heave-ho!
Pick this up pick this up and pick this up! Pick that up and pick
this up! Phew!”</p>

<p class="para">As I am
singing playfully like so, I suddenly hear the sound of grinding
metal behind me. As if some Machine is walking around …</p>

<p class="para">“It
wasn’t my imagination!”</p>

<p class="para">There’s
Machines! And lots of them! I thought I’d turned misfortune into
fortune, but I was unlucky after all …</p>
<p class="para">I use
magic to absorb iron ore as I roll around, and manage to
narrowly escape the valley. I go home and visit the factory ruins
again to get natural rubber. I finally have all the materials.</p>

<p class="para">Time to
go to work. First I use the natural rubber to re-create the tires.
Three spanking-new tires. Reliable tires that can travel over rubble
without a problem!</p>

<p class="para">Next I
have to clean the rusty truck. I line up all the iron ore I
collected and …</p>

<p class="para">“Emil
Beaaaaaaaaam!”</p>

<p class="para">The iron
ore is turning into a puddle. According to the data, the ideal
temperature for manufacturing iron is 2,000 degrees Celsius. This
way, you can separate the impurities and pig iron. Of course, I won’t
throw away the impurities. They can be divided and cooled for later
use. I’ll need them for something … probably.</p>

<p class="para">Okay!
Now this part is a race against time. Strike while the iron is
hot! That’s what some ancient texts said.</p>

<p class="para">“Yeahhhh!”</p>

<p class="para">It’s
done! I coated the truck in iron, and now it looks brand-new!</p>

<p class="para">Now we
just have to attach the tires, and we’re done.</p>

<p class="para">Then I
screw my head on the body so it won’t roll off. There’s better
ventilation when I use screws instead of gluing myself on.</p>

<p class="para">I make
sure to display my products on the truck bed instead of just
throwing them on. This advice was in the texts too. “Pay attention
to the layout of your booth to increase sales!” it said. Another
tip was to “Make sure customers can see it from far away!”</p>

<p class="para">So I
decorate the truck bed, and put up a shop flag, and add a
loudspeaker. I hope I get a lot of customers …</p>

<p class="para">Oh
right, this time I did a full model change, so I have to record
my thoughts on its durability and usability.</p>
<p class="para">So
starting tomorrow, Emil’s shop will be open!</p>
<p class="title"><b>[Day
One]</b></p>

<p class="para">My
new body is working really well. It rides smoothly on rocky hills and
grassy plains! I understand why it was a top seller in areas with
bumpy roads.</p>

<p class="para">But I noticed the texts were right
when they explained that a three-wheeled car topples easily
navigating sharp turns. There’s a certain nuance to balancing
this body. I have to be careful.</p>

<p class="para">The amplifier cracks a little bit,
so maybe it needs some adjustment. I hope the volume doesn’t bother
anyone.</p>

<p class="para">I hope customers come. I’ll work
hard tomorrow too.</p>
 <p class="title"><b>[Day
Two]</b></p>

<p class="para">The
new body is great, but my sales aren’t. I need customers. I’ll
work even harder tomorrow!</p>
<p class="title"><b>[Day
Three]</b></p>

<p class="para">Today
the weather is really nice. I’m in a good mood, so I’m
hopping around from one building to another.</p>

<p class="para">“Recommendation: Force
interruption with long-range attack from Pod.”</p>

<p class="para">I hear somebody’s voice, I
think. I hear a gunshot, and start to spin around as my gears
shudder … my engine stalls. So that’s what they meant by a
forced interruption …</p>

<p class="para">“Ow ow ow.”</p>

<p class="para">I slowly get up as I hear
footsteps heading toward me. I look up, and am surprised.</p>
<p class="para">“Oh, it’s you, from the other
day!”</p>

<p class="para">The Androids in black. The other
day they had decided to destroy me right away, so I guess they’re
more violent than other Androids. I remember it now. This is just
like … just like … wait? Who does that remind me of?</p>

<p class="para">Oh well. Business, business.
They’re my customers too.</p>

<p class="para">“My name is Emil. As you can
see, I run a shop. Would you like to purchase anything today?”</p>

<p class="para">Since my reopening, they’re my
first customers. I hope they buy a lot of stuff!</p>

<p class="para">“Would you like a rusty clump?
And I would recommend a rusty clump? Also just so you know, the rusty
clump is a good deal!”</p>

<p class="para">Apparently the woman in black is
named Ms. 2B and the boy in black is named Mr. 9S. The two buy the
titanium alloy. Even though I recommended the rusty clump …</p>

<p class="para">“Thank you very much! I’m
looking forward to your next visit!”</p>

<p class="para">I hope they start coming
regularly. Oh, I have business to do!</p>

<p class="para">“What? Where do I live?”</p>

<p class="para">“We didn’t ask.”</p>

<p class="para">This is business. Answering a
question they didn’t ask, that’s what a good salesman does!</p>

<p class="para">“Um, I live deep underground …
deeper than the deepest part. Come play with me anytime.”</p>

<p class="para">After watching Ms. 2B and Mr. 9S
walk off, I decide to call it a day. I need to tidy up my home if
they are going to come visit.</p>
<p class="title"><b>[Day
Four]</b></p>

<p class="para">Today
I’ve been doing repairs since morning. Yesterday the “long-range
Pod attack” knocked me off my wheels and gave my body a small dent.</p>

<p class="para">Well, it’s not too bad. I’ll
be able to finish repairs before breakfast. Well, I already ate
breakfast, but …</p>

<p class="para">Anyway, first I have to inspect
the damaged part. Hmmm … it looks like the sides need to be
more durable. After all, in the city ruins where there’s tons of
rubble, tumbling around is a normal occurrence. I should probably use
some spare material to reinforce the sides.</p>

<p class="para">Time to work. I lined up the iron
ore and …</p>

<p class="para">“Emil Beaaaaaaaaam!”</p>

<p class="para">Take out the impurities, and …
ah! I’ll try adding some titanium alloy. And some memory alloy too.</p>

<p class="para">“Emil Cyclone!”</p>

<p class="para">The iron ore, titanium alloy, and
memory alloy start mixing together. Now I have to coat this with
magic.</p>

<p class="para">“Yeah!”</p>

<p class="para">Okay. All right. It looks good.
Repairs and reinforcement are complete. Now, maybe I’ll eat.</p>

<p class="para">“Hm? Huh? Did I already …
eat breakfast? It seems I did, but maybe I didn’t. Which one
was it again?”</p>
<p class="para">I can’t remember. Every time I
repair my body I lose some memories.</p>

<p class="para">“Oh well.”</p>

<p class="para">I’ll eat breakfast.</p>
<p class="title"><b>[Day
Five]</b></p>

<p class="para">Today
I’m restocking my shop. Yesterday I cleaned up a weapon I found,
and it turned out better than expected! It’s a masterpiece!</p>

<p class="para">I need to go sell it right away.
Someone will be happy to have it!</p>

<p class="para">I quickly leave my home. I blow
by familiar-looking areas in the city ruins. I’m gunning it,
at high speed, because I want somebody to buy it as soon as possible.</p>

<p class="para">Am I going too fast? I hear a
gunshot, and start to spin around as my gears shudder—yes, it’s
Ms. 2B and Mr. 9S.</p>

<p class="para">Ms. 2B is relatively quiet, but it
seems like Mr. 9S talks a lot. He seems really curious too, and
always has a look of fascination as he talks.</p>

<p class="para">“Hm? Why do I run my business in
this form? Well I could talk about that for days …”</p>

<p class="para">I think we should talk about that
when you come over for some tea. It really is a long story. Because a
long long time ago … a long … hm? What was it again?</p>

<p class="para">No, now’s not the time to think
about that. It’s all about business.</p>

<p class="para">“Anyway, won’t you buy
something today? I have some incredible weapons in stock today.
Like Angel’s Folly and Type-3 Fists. Angel’s Folly and Type-3
Fists.”</p>

<p class="para">I repeat myself because they were
my top recommendations. As a result, Ms. 2B and Mr. 9S bought both of
them. They looked happy. I’m glad, I’m glad.</p>

<p class="para">After I come home it’s time to
inspect my body. Since I reinforced the sides, I don’t see any
dents today. Although there are a few scratches.</p>

<p class="para">On the other hand, my brakes
are starting to wear out. Speeding doesn’t seem like the best idea.</p>
<p class="title"><b>[Day
Six]</b></p>

<p class="para">I
went off my usual route and tried business around the steel tower.
Doing the same thing every day just leads to fatigue. It’s
important to try new things.</p>

<p class="para">There’s a lot of weeds growing
near the steel tower, so it’s a bit hard to ride around. But only
an amateur salesman would be discouraged by that! A true
professional goes to the customer, wherever they are! It’s my duty
to transport goods!</p>

<p class="para">That’s right, because I’m …
um. Hm? What was it again? I was about to remember something …</p>

<p class="para">“Oh! That’s!”</p>

<p class="para">Somebody’s crossing the bridge
over the valley. Those black clothes definitely belong to Ms. 2B and
Mr. 9S. They cross the bridge and head toward the shopping
center. That’s where I’d met Ms. 2B and Mr. 9S for the first
time. What a glorious moment. Even though it was a little scary.</p>

<p class="para">Hmm, maybe I’ll ask them how
they like the weapons they bought last time. I wonder if they’re
useful. I wonder if Ms. 2B and Mr. 9S would be happy to hear I’ll
do maintenance for them.</p>

<p class="para">And so I decide to cross the
bridge and follow the two of them … but the bridge is creaking
a lot. Is it going to fall under my weight?</p>

<p class="para">Oh, I just have to use some magic!
This is the perfect time for magic! I don’t know if I can fly very
well in this form, but …</p>

<p class="para">“Whoo!”</p>

<p class="para">I’m able to float. I only get
off a couple feet off the ground because my body is so heavy. But
this is good enough for crossing the bridge.</p>

<p class="para">I quickly head to the other side.
The entrance to the shopping center is littered with boulders
and rubble, so I just float over them.</p>

<p class="para">“What a strange flower.”</p>

<p class="para">I can hear Mr. 9S. The floating
box next to him—I think it’s called a Pod, right?—say, “Answer:
It’s a type of plant known as a lunar tear”</p>

<p class="para">I widen my eyes when I hear what
the Pod said. Lunar tear? I feel like I’ve heard the name “lunar
tear.” Looking closely I can see a white flower near Mr. 9S
and Ms. 2B’s feet. It looks familiar.</p>

<p class="para">“Lunar tear …”</p>

<p class="para">“Ah! Since when have you been
here?!”</p>

<p class="para">Mr. 9S looked back in surprise.</p>

<p class="para">“This flower is called a lunar
tear, right?”</p>

<p class="para">Where? Where have I seen this
flower before? I really want to remember, but I can’t …</p>

<p class="para">“Looking at this flower brings
back a lot of memories. I don’t know why, but I remember
being chased by a huge boar a bunch of times …”</p>
<p class="para">That’s probably why I’m so
afraid of boars. But I feel like there was always someone next to me
when I was being chased by boars. I try my hardest to remember who
that person was. Was it just my imagination?</p>

<p class="para">“My body was always broken, and
I had to try different replacement parts …”</p>

<p class="para">“That sounds pretty intense.”</p>

<p class="para">My body wasn’t nearly as strong
as my head. Even now, I’m testing a new body after my model change.</p>

<p class="para">But I feel like back then I was
making a different type of body. That’s weird … what I need
is a body that specializes in transporting goods.</p>

<p class="para">“And … when I look at
this flower I’m filled with this weird feeling. My chest feels
tight.”</p>

<p class="para">What is this feeling? It’s sad
and lonely. But then again it’s warm and painful. As if
someone mixed all the metals into one alloy but it somehow ended up
becoming an entirely new metal.</p>

<p class="para">“Um. I want to ask you a favor,
is that okay?”</p>

<p class="para">It might be rude to ask a customer
for a favor. But I can’t help myself. I need to find out.</p>

<p class="para">“Please let me know if you ever
find lunar tears growing in other places. I want to find out why I’m
feeling this way.”</p>

<p class="para">Where is this feeling coming
from? What is this feeling for?</p>

<p class="para">“So please. If you find any
lunar tears, please send a transmission to this frequency.”</p>

<p class="para">“Okay.”</p>

<p class="para">Ms. 2B’s answer was short, but
kind, and so similar to someone …</p>
<p class="title"><b>[Day
Twelve]</b></p>

<p class="para">Mr.
9S’s transmission comes in as I am riding around a building that
had started leaning.</p>

<p class="para">“Yes, what is it?” I answer a
bit nervously. It is definitely about the lunar tears.</p>

<p class="para">“I found a lunar tear. The
location is …”</p>

<p class="para">The location data is pointing
toward the desert. I’m at the entrance of the desert right now. How
lucky!</p>
<p class="para"></p>
<p class="para">“I’m coming right away! Please
stay right there!”</p>

<p class="para">I need to go as quickly as
possible! The faster the better! Faster, faster!</p>

<p class="para"> … Yeah!</p>

<p class="para">“Sorry to make you wait!”</p>

<p class="para">“Wow?!” Mr. 9S yelled. There
is no reason to be that surprised. Anyway, about the lunar tear.
I look down near Ms. 2B’s and Mr. 9S’s feet.</p>

<p class="para">There is a white flower growing
from the sand, waving in the wind. These colors—sand and white
petals. I’ve seen this. These colors.</p>

<p class="para">“That’s right, this place …”</p>

<p class="para">“Did you remember something?”</p>

<p class="para">“A long time ago, I remember
taking care of this flower.”</p>

<p class="para">It took a lot of care to grow this
flower. It needed to be in the right temperature, humidity, and had
to be watered at specific times …</p>

<p class="para">“But the sand slowly ate away
the plant, and the flower started to die …”</p>

<p class="para">I didn’t want it to die. I
wasn’t allowed to let it die. But the sand and dry air had no
mercy.</p>

<p class="para">“That’s right, I stopped
seeing humans around that time.”</p>

<p class="para">“Humans?”</p>

<p class="para">Wolves filled the desert
and humans disappeared from the surrounding cities … I
was all alone. Hm? That’s weird. I feel like I wasn’t alone yet?
But why? My memories are getting all mixed up.</p>

<p class="para">“Thank you for finding it. If
you find any more, please tell me.”</p>

<p class="para">I might remember more if I see
other lunar tears in other places. My memories are probably all over
the place because there’s some missing parts.</p>

<p class="para">“I’m … going to
stay here for a bit …”</p>

<p class="para">I’ll keep watching this flower a
little longer.</p>
<p class="title"><b>[Day
Sixteen]</b></p>

<p class="para">The
next time Mr. 9S contacts me, my tires are stuck in some rubble and I
am stranded.</p>

<p class="para">“Yes, what is it?”</p>
<p class="para">But I kind of know what Mr. 9S is
going to say. Probably something along the lines of, “I found a
lunar tear …”</p>

<p class="para">“I found a lunar tear. The
location is …”</p>
<p class="para"></p>
<p class="para">Just as I thought. I was
right.</p>
<p class="para">	</p>
<p class="para">“I’ll go right away! Please
stay there!”</p>

<p class="para">I can’t stay stranded. The path
from here, the crater zone, to the amusement park is pretty
complicated.</p>

<p class="para">I need to hurry. I need to get
there quickly. The faster the better! Faster, faster!</p>

<p class="para"> … Yeah!</p>

<p class="para">“Sorry to make you wait!”</p>

<p class="para">“You always get here so fast!”</p>

<p class="para">Mr. 9S is really shocked. There’s
really no reason to be that surprised.</p>

<p class="para">Anyway, the lunar tear. I look
down near Ms. 2B’s and Mr. 9S’s feet.</p>

<p class="para">Right below an emergency exit
sign, almost hidden by rubble, is a white flower.</p>

<p class="para">The sound of fireworks,
interrupting the music played by the robots. Low, but erratic and
sharp sounds.</p>

<p class="para">“That’s right. This place
is …”</p>

<p class="para">The sound of gunfire. Heat and the
smell of something burning.</p>

<p class="para">“A long time ago, aliens
invaded Earth. I fought desperately to protect Earth, right in this
very spot.”</p>

<p class="para">I need to vanquish the aliens. I
need to drive them away from Earth.</p>

<p class="para">That is the new fragment of a
memory I recalled. A memory of a battle so stressful it made me
anxious just thinking about it.</p>

<p class="para">“You did, Emil?”</p>

<p class="para">“Yes. I probably had something I
needed to protect. But I don’t remember what that something
was …”</p>

<p class="para">There’s no memory of that
something in my vague recollection. I know it was important and
something I didn’t want to forget, but I don’t remember.</p>

<p class="para">“Thank you for finding it. If
you find any more, please tell me. I’m going to stay here for a
bit.”</p>

<p class="para">I want to keep watching this
flower … but the more I watch it, the more pain I feel. That’s
what I feel.</p>
<p class="title"><b>[Day
Nineteen]</b></p>

<p class="para">I
am searching for materials in the Abandoned Factory when Mr. 9S sends
me the third transmission.</p>

<p class="para">“Yes, what is it?”</p>

<p class="para">This is probably about a lunar
tear as well. I need to check Mr. 9S’s location data.</p>

<p class="para">“I found a lunar tear …”</p>

<p class="para">“I’ll come right away!”</p>

<p class="para">It is quite a way to the Flooded
City, where Mr. 9S was. I panic.</p>

<p class="para">I need to hurry. I need to
get there quickly. Faster, faster, the faster the better!</p>
<p class="para"></p>
<p class="para"> … Yeah!</p>

<p class="para">“Sorry to make you wait!”</p>

<p class="para">“As always … you’re
fast.”</p>

<p class="para">Mr. 9S seems more amazed than
surprised. Anyway, the lunar tear! I look behind Ms. 2B and Mr. 9S.</p>
<p class="para"></p>
<p class="para">There is a white flower growing
from a crack in a boulder. It looks like it is holding on for dear
life in the sea breeze. The sound of waves is harsh.</p>

<p class="para">“Ah, that’s right.”</p>

<p class="para">This beach. The flooded city, and
the sound of seagulls.</p>

<p class="para">“What happened here?”</p>

<p class="para">“The battle against the aliens,”
I replied. It happened here. I was responsible for this area around
the beach.</p>

<p class="para">“The battle conditions only got
worse with each passing day. I cloned myself so I could win in
battle.”</p>

<p class="para">Since the enemy fought with
numbers, we needed to fight with numbers too.</p>

<p class="para">“But the number of enemies kept
growing. And I lost many of my friends.”</p>

<p class="para">I had no time to mourn the death
of my friends. I kept cloning myself, and increasing the number of
casualties. It was just a repetition of that cycle.</p>

<p class="para">“This happened a long time ago.”</p>

<p class="para">“I see,” replies 9S. He
suddenly looks up.</p>

<p class="para">“Emil, how long have you been
alive?”</p>

<p class="para">“I don’t really know.”</p>

<p class="para">I feel like I’ve been alive so
long I forgot, but I also feel like I’ve only been alive for a
short time. I don’t know anything for sure.</p>

<p class="para">“I didn’t need to know to
fight.”</p>

<p class="para">We only had to worry about how to
get rid of the aliens. That was all.</p>

<p class="para">“Thank you for finding it. If
you find any more, please tell me. I’m going to stay here a bit.”</p>
<p class="para"></p>
<p class="para">I want to keep watching this
flower forever. But I also want to stop remembering. I’m
scared to remember more.</p>
<p class="title"><b>[Day
Twenty-Three]</b></p>

<p class="para">I am already checking Mr. 9S’s
location data when he contacts me. I already know I have to be there.</p>
<p class="para"> … Yeah!</p>

<p class="para">“Sorry to make you wait!”</p>
<p class="para"></p>
<p class="para">“I haven’t even contacted you
yet …”</p>

<p class="para">The moment Ms. 2B and Mr. 9S
appear right in front of me, I realize I have been using
teleportation this whole time. That’s how important the lunar
tears are. Flowers so important I would do anything to see them.</p>

<p class="para">So I have been using magic this
whole time. Powerful magic, but I hadn’t noticed one bit.</p>

<p class="para">That’s right. This powerful
magic originally belonged to … and this flower was …</p>

<p class="para">“Emil? Are you okay?”</p>
<p class="para"></p>
<p class="para">Mr. 9S’s worried voice snaps me
back to reality.</p>

<p class="para">“I remembered right now. I’m …”</p>

<p class="para">“Huh?”</p>

<p class="para">“No, thank you very much.
Because of you I was able to remember something very important to
me.”</p>

<p class="para">“Something important?”</p>

<p class="para">“Yes. A place that was very
important to him.”</p>

<p class="para">He had treasured these white
flowers and his memories associated with them. I had forgotten all
about him.</p>
<p class="para">“To show my gratitude, I’ll
take you to that place.”</p>

<p class="para">I take out an old key. I forgot
about this too, but I didn’t lose it. I kept it with me even
though I didn’t know what it opened.</p>

<p class="para">“This is a key to an elevator in
the shopping center.”</p>

<p class="para">Maybe it wasn’t a coincidence
that I met Ms. 2B and Mr. 9S there, or that they had found a lunar
tear there.</p>

<p class="para">“I’m sorry, please go on
without me. I want to stay here a bit longer.”</p>

<p class="para">I am still in shock. I remembered
so many things at once that I am confused. I need time to calm
down and organize my thoughts.</p>

<p class="para">It doesn’t take too long for me
to organize my thoughts. Maybe I had already prepared myself for when
I remembered, so I’d be able to do what I have to do.</p>

<p class="para">The shopping center elevator runs
just like it used to. The sound the compressor makes when the doors
close and open, the erratic shaking, everything is the same.</p>

<p class="para">Right as the doors open on the
bottom floor, I hear Mr. 9S’s voice. Apparently the two of them had
just arrived as well.</p>

<p class="para">“Wow! There’s so many lunar
tears!”</p>

<p class="para">“What is this place?”</p>

<p class="para">The two look around in shock. They
probably hadn’t imagined a sea of white flowers blooming deep
underneath the shopping mall.</p>

<p class="para">“Thank you for coming here.”</p>

<p class="para">Ms. 2B looks puzzled and
says, “Emil, what is this place?”</p>

<p class="para">“This was the place I wanted to
protect. Well, to be more precise, the place the person I used to be
wanted to protect.”</p>

<p class="para">Mr. 9S tilted his head. “I don’t
understand.”</p>

<p class="para">They want to know more, so I start
to talk. A story I thought I would never tell, the story of “us.”</p>

<p class="para">“A long time ago, I was
originally constructed as a weapon.”</p>

<p class="para">“A weapon …”</p>

<p class="para">Long before the aliens invaded
Earth. Back when there were lots of humans. I, the person I was, was
just a normal human child. Until I was modified into an experimental
weapon.</p>

<p class="para">“When the war against the aliens
began, I cloned myself to increase our numbers.”</p>

<p class="para">“Cloned yourself?”</p>

<p class="para">“Yes, I’m one of the many
Emils that were created at the time.”</p>

<p class="para">That’s why the one that cloned
himself was not me, but the person I used to be—the original
Emil. He wanted to protect the Earth, no matter the sacrifice. He
felt that way because it was where his friends, who were more
important to him than his own self, lived.</p>

<p class="para">“After cloning, I, or rather we,
cooperated with one another to maintain our defense on the front
lines. But as we multiplied into hundreds and even thousands, our
memories grew faint.”</p>

<p class="para">I hardly remember the time when
the original Emil was human. I’ve just heard from the other Emils
that he had existed in a different body. But the other Emil that told
me that didn’t know about this place.</p>

<p class="para">The original memories were
scattered amongst us.</p>

<p class="para">“The original Emil liked this
place.”</p>

<p class="para">This was where everything that was
important to him existed. He re-created his friend’s cottage,
planted flowers that were dear to his beloved, and relived his
memories of the past …</p>

<p class="para">“There were tough times and sad
times, but memories of that journey were really treasured
by the original.”</p>

<p class="para">I didn’t experience it myself,
but his memories—though faint and almost nonexistent now—live
inside me now.</p>

<p class="para">“And that original, where is he
now?”</p>

<p class="para">“I don’t know. There were
too many of us to keep track.”</p>

<p class="para">“I see …”</p>

<p class="para">There were thousands and even tens
of thousands of us, but most of us died in battle in order to protect
the world that the original Emil had cherished and lived in with his
friends.</p>

<p class="para">“Thank you very much. Because of
you I was able to remember something very important to me.”</p>

<p class="para">I was scared to remember before,
but now I’m glad I remember.</p>

<p class="para">“If I have this memory, I’ll
be able endure alone.”</p>
<p class="para">Even if I’m alone, I’ll keep
fighting my own battles. As long as I have this memory. That’s what
I think.</p>
<p class="title"><b>[Day
Thirty-Three]</b></p>

<p class="para">I
spend the day after meeting Ms. 2B and Mr. 9S, and the day after
that, just holed up in my home. I have some things I need to think
through, alone.</p>

<p class="para">After that, I spend some time
running around the City Ruins and waiting for customers to
arrive. But unfortunately, no one comes. Not even Ms. 2B and Mr. 9S.</p>

<p class="para">I go to the shopping center too,
but the two aren’t there.</p>

<p class="para">A few days ago, I heard there was
a big battle in the Flooded City. I hope nothing happened to them—no,
I’m probably worrying too much. I haven’t known them long, but
even during that short time I could see that they were growing
ever stronger.</p>

<p class="para">Maybe they moved far away. I want
them to come visit me one time.</p>

<p class="para">I want to say goodbye …</p>
<p class="title"><b>[Day
Fifty-Four]</b></p>

<p class="para">Today,
for the first time in a while, I run into Ms. 2B and Mr. 9S. I want
to call out to them, but they are in battle, so I stop myself.</p>

<p class="para">There are a few small types, and
two four-legged types. There are a lot of enemies, but the two of
them are fighting without a problem. If I helped I would
probably be deadweight. That’s how magnificently they are fighting.</p>

<p class="para">I leave that area and cross the
bridge. I want to see the lunar tear one last time.</p>

<p class="para">A flower that’s said to grant
you any wish. Would it grant me mine?</p>

<p class="para">To be honest, that myth sounds a
bit suspicious. Because the original Emil grew as many lunar tears as
he could, but he couldn’t cure his little sister’s disease.</p>

<p class="para">And as I expected, that other
person, who received the hair ornament made of lunar tears, her wish
was—no, that’s just what I, or the person I used to be,
thought.</p>

<p class="para">There was no way my wish was going
to be granted. I knew that. On the other hand, I didn’t expect
anything. I knew it wasn’t going to work, but I wanted to make a
wish too.</p>

<p class="para">“Emil!”</p>

<p class="para">Ms. 2B calls to me, and I turn
around. Apparently the two of them had finished off the horde of
enemies. There isn’t even a single scratch on either of them.</p>

<p class="para">“You’ve gotten strong.”</p>

<p class="para">I have no intention of boasting
that it was because of my weapons. Even without my weapons, these two
would still be strong.</p>

<p class="para">“You don’t need my help
anymore, right?”</p>

<p class="para">“What do you mean?”</p>

<p class="para">“No, it’s nothing.”</p>
<p class="para"></p>
<p class="para">I’m glad I’ve run into them
here. This way I can properly say my goodbyes.</p>

<p class="para">“All the best.”</p>

<p class="para">I quickly leave the area. I need
to hurry. I need to stop them before it’s too late.</p>
<p class="line"></p>
<p class="para">My
responsibility in that battle was support from the rear. I carried
supplies and replenished the Emils that were fighting on the
front lines. I was running back and forth the whole time.</p>

<p class="para">My body was this size so I would
be able to nimbly run across the battlefield, and I had this form
because I specialized in transporting supplies.</p>

<p class="para">We were assigned sizes and bodies
based on our responsibilities. The Emils on the front lines had high
attack power, while the Emils that held up the solid defense were
equipped with hard exoskeletons.</p>

<p class="para">The original Emil apparently
believed that diversity was the key to beat an enemy that fought with
numbers. Just like how humans diversified their lifestyles and
cultures to survive for so long.</p>

<p class="para">Every day, I ran alone. From the
Flooded City to that beach, day after day, I carried supplies. I
brought recovery materials for my injured friends, and
replenishment materials for my friends that used up all their
magic.</p>

<p class="para">They became less and less
talkative as the days passed. We had always encouraged each other and
fought together. But I noticed that conversation had started to
disappear right around the time our numbers decreased drastically.</p>

<p class="para">At the same time, my memories
started to fade. Apparently exchanging old parts for new parts
diluted memories. Which meant the fewer parts of original Emil I
had, the fewer memories of the past I had.</p>

<p class="para">I didn’t have a hard exoskeleton
like the attack-specialized Emils. I was pretty small and light. If
an enemy missile landed near me, the shock wave was enough to send me
flying. Since I was always running around the battlefield delivering
supplies, I was always covered in scratches. And as a result, I
had to exchange parts every day, and every time my memories of the
original faded bit by bit.</p>

<p class="para">But there was a silver lining. His
memories had restricted me in a way. Those memories were of the
original Emil, and not my own. Even if I had them, they were fake.</p>
<p class="para">One by one, as the memories faded,
somewhere in my mind I felt relief. Eventually I learned how to
contain my emotions. I ran from my memories of struggle and
sadness.</p>

<p class="para">At that point all our defenses had
crumbled. No matter how often we cloned ourselves, the number of
enemies increased at a faster rate. The aliens mass-produced
Machines, and bolstered their forces. Just like us, they were made to
be adapt to any situation.</p>

<p class="para">But the aliens didn’t end up
victorious. Tons of androids came down to Earth and took the
edge in the battle against the aliens. Of course it wasn’t easy.
They seemed to have struggled as well …</p>

<p class="para">Once my friends and I were
scattered, we lost the majority of the original Emil’s memories. We
lived in the City Ruins, running shops for the androids. It was
strange—our bodies still remembered that we had to deliver goods.</p>

<p class="para">I would probably still be running
around the City Ruins, unaware of who I am, if I hadn’t met
Ms. 2B and Mr. 9S, who helped me get my memories back …
without realizing that my old friends were in danger.</p>

<p class="para">I’ve been hearing their cries
for help for a while now, but I had no idea what they meant. All I
knew is that I heard strange noises in the desert, and that I was
scared of them.</p>

<p class="para">I need to go quickly. To where
everyone is.</p>

<p class="para">I use the teleportation magic
that I remembered recently. The cluster of collapsing buildings
disappear, and I am suddenly in the desert. And looking up I can see
giant spheres in the air. They are attack-specialized Emils.</p>

<p class="para">It brings back memories of days
when I used to deliver them supplies. Everyone was so nice. They were
always worn-out, but still had the patience to give me words of
gratitude like “Thank you” and “Good work.”</p>

<p class="para">We all fought together during
desperate times. The Emils on the battlefield really cared for each
other. They were like family. I was a teeny bit envious of that.
Supporting models like me, who worked from behind the front lines,
rarely saw each other, and usually operated alone.</p>

<p class="para">But on the other hand, caring for
each other must’ve made it hard to lose friends one after the
other. The fact that they were like family must’ve made it harder
to watch the dying breaths of their friends.</p>

<p class="para">“Everyone …”</p>

<p class="para">It seems they don’t remember me.
Their groaning sounds like a wild animal’s. They are Emils that
lost their minds.</p>

<p class="para">“1t hurts, 1t hurts,” they
say. I can hear cries for help too.“Etern1ty, 1t hurts …
hurts …”</p>

<p class="para">It’s been thousands of years
since the alien ambush. The whole time these Emils have been
fighting on the front lines. A mind-bogglingly long time.</p>

<p class="para">“Why … us …”</p>

<p class="para">An infinite amount of
self-cloning. Which meant that they lost an infinite number of
friends.</p>

<p class="para">“I’m … I’m g01ng t0
destr0y everyth1ng!”</p>

<p class="para">“No you can’t!”</p>

<p class="para">“Th1s world … 1t’s
useless!”</p>

<p class="para">“Stop! Don’t do it!”</p>

<p class="para">But my voice doesn’t reach them.
I don’t have words to persuade them. No matter what I say,
their suffering won’t end … I know that.</p>

<p class="para">“Everyone stop!”</p>

<p class="para">I am instantly repulsed by their
attack. I stand no chance, when they have power that could
compete with aliens. But I have to stop them.</p>

<p class="para">I face them many times. But every
time I am batted away. My body is bent, and loses its tires …
I end up sideways on the sand, unable to move.</p>

<p class="para">“Emil!”</p>

<p class="para">I hear Ms. 2B’s voice.</p>

<p class="para">“Are you okay?”</p>
<p class="para"></p>
<p class="para">I see a worried Mr. 9S staring
into my face. They probably noticed I was acting strangely and
followed me here.</p>

<p class="para">“Emil, what is that?”</p>

<p class="para">“Those are … the products
of my cloning. After several iterations of cloning and years of
battle, they’ve lost their minds …”</p>

<p class="para">My friends have great power but no
sanity. There is no way I am going to let them be.</p>

<p class="para">“I need to … put an end
to this.”</p>

<p class="para">“It’s okay! You should rest,
Emil!”</p>

<p class="para">The two of them leave me there and
go to face the giant Emils. I don’t have the strength to stop them
anymore. Eventually my hearing fades and I am on the verge of losing
consciousness. I wonder if this is what dying feels like, I
think aimlessly.</p>

<p class="para">I can hear voices. The voices of
my friends.</p>

<p class="para">“We did our best. On rainy days,
windy days, and stormy days.”</p>

<p class="para">La la la, la la la, I hear
singing.</p>

<p class="para">“We kept fighting, even when our
friends died.”</p>

<p class="para">I gradually start to remember what
the later, quieter Emils were like. They kept their mouths shut,
because as soon as they started talking nothing but pent-up
resentment would come out, and only worsened their situation …</p>

<p class="para">“But this eternal war, this
eternal pain, this eternal struggle, it screams at us! That there’s
nothing in this world worth protecting! That this world has no
meaning! That’s what we hear!”</p>

<p class="para">A piercing laugh echoes around us.
“Warning: Large amounts of incoming magic,” I hear Pod say.</p>

<p class="para">“You … do you! Know! This
pain! This sadness! This despair! Can you feel it?”</p>

<p class="para">It is clear what they are going
to do—release a giant amount of magic in one immense explosion and
self-destruct, taking this cruel world along for the ride.</p>

<p class="para">World? What about the world? What
about this cruel world?</p>

<p class="para">I suddenly remember someone’s
voice. It was a cold and blunt voice, but kind—that person’s
voice was very similar to Ms. 2B’s. I hear a calculated voice of a
wise man too. A kind and mellow voice as well.</p>

<p class="para">The original Emil’s memories are
starting to resurface. His treasured memories. Memories of that
journey.</p>

<p class="para">“Still, this is wrong!” I
scream. Even if my friends had lost their sanity, the very same
memories must be buried deep inside them.</p>

<p class="para">“No matter how much pain or
agony that person had, he never gave up. She fought believing that
one day she would overcome all of that! You have to keep going,
even if it’s in vain! Isn’t that right, Kainé?”</p>
<p class="para"></p>
<p class="para">I can’t attack or defend for my
life, but I have to do this. I can’t give up.</p>

<p class="para">“This is the world that person
tried to protect!”</p>

<p class="para">I feel my friends come to. Our
memories are scattered, and faded, but there’s still some traces
of … that person.</p>

<p class="para">I gather all the magic within me
to stop my friends from self-destructing. So I can make an
effort until the very end.</p>

<p class="para">It’s quiet. I only hear the
sound of wind. It seems I’m still alive.</p>

<p class="para">“I’m no … good. I
remembered something that important at the … very last
second.”</p>

<p class="para">They are fake memories, but the
pain of losing someone dear to me is real. I was running away from
that this whole time. I tried to shut away my memories and forget
them. But that made me forget things I wasn’t supposed to
forget.</p>

<p class="para">I can’t hear my friends anymore.
It seems I was able to stop the explosion. Ms. 2B and Mr. 9S probably
lent a hand as well.</p>

<p class="para">“Ms. 2B and Mr. 9S … yu
helped me until the very end …”</p>

<p class="para">I see Ms. 2B shake her head in
silence. Mr. 9S tells me, “You’ll get better if we fix you up.”
They’re very kind people.</p>
<p class="para">They lived through harsh and
cruel battles almost every day. But you couldn’t tell. Why
were people that lived through terrible battles so kind? That’s
right, that person was kind too …</p>

<p class="para">I can feel my consciousness slowly
fading. My memories—or rather, memories that weren’t
mine—gradually disappear.</p>

<p class="para">It’s okay. This is fine. I am
about to let everything go.</p>

<p class="para">“Emil,” I hear a voice call
out. It isn’t Ms. 2B or Mr. 9S, but a nostalgic voice. I look
up in surprise. This was, this was …</p>

<p class="para">Though my vision is hazy, I see a
smiling person waving their hand. A floating book as well.</p>

<p class="para">I see him … I actually see
him again. The lunar tears have actually granted me my wish.</p>

<p class="para">“Welcome back, Emil. Good work.”</p>

<p class="para">I stand up, and head toward the
person I yearned to see the most. All the while repeating the name I
loved to say. ​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/novellas">Back</a></p>