---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Binding Magick</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Binding Magick</p>
<p class="title"><a href="https://www.youtube.com/watch?v=vJe6TSZKQuQ&list=PLcY8I1_IgLN7Rv6geZzmI-Hd4C9S2TCYW"><u>Video</u></a></p>
<img src="https://i.imgur.com/I49W8Oc.png">
<p class="title">Chapter 1</p>
<p class="para">A wavy-haired girl is brought to a school for magicians. That day, she meets a bespectacled girl in <br>a dining hall. Hearing her bread was stolen by mean boys, she puts on a strong front and <br>goes to reclaim it, but her magic is not sufficient to <br>finish the job. She is saved by a spiky-haired boy who made impressive use of <br>magic to thwart the mean boys. She tells the boy she could have handled it herself, <br>but he changes the subject and urges everyone to eat.<br><br>The three break bread together and become friends. Having been peeled from their families and <br>brought together in this place, each one feels parts of something larger than <br>themselves—almost as if they were starting a new family.</p>
<p class="title">Chapter 2</p>
<p class="para">Time passes, and after growing slightly closer to adulthood, <br>the girls learn of the Day of Pledging—a long-held ritual for magicians in <br>which two who are close exchange Avowal Rings. Hearing the explanation from <br>their professor, the students surrender to the butterflies in <br>their stomachs and start attempting to form pairs.<br><br>The wavy-haired girl is approached by a number of boys, but rejects them to the last. <br>The spiky-haired boy teases the girl for being cold, <br>and the bespectacled girl chuckles as she watches on. <br>From that day they met in the hall as children, the three were the best of friends. <br>Before the next class begins, the wavy-haired girl asks her <br>bespectacled friend what she thinks of <br>their spiky-haired best friend, but receives a noncommittal response.</p>
<p class="title">Chapter 3</p>
<p class="para">The Day of Pledging draws nearer, and a festival is taking place in town. <br>The wavy-haired girl, unable to control her excitement, <br>takes her best friends to see the festival, but her bespectacled friend <br>returns home under weak pretenses, leaving the wavy-haired girl and <br>the spiky-haired boy in each other's company. The girl soldiers on, <br>uncomfortably visiting festival stalls with the boy she holds feelings for. <br>As they make to leave the festival, she confesses her feelings to the boy, <br>only to be rejected—he has feelings for their bespectacled friend.<br><br>Her heart broken, the wavy-haired girl is alone. <br>The bespectacled girl appears before her. <br>The wavy-haired girl lashes out at the bespectacled girl, <br>angry that she kept her plans to make a pledge with the boy secret from her. <br>In response, the bespectacled girl sets the record straight—she doesn't <br>love the boy. She loves the wavy-haired girl.</p>
<img src="https://i.imgur.com/FxG3lCS.png">
<p class="title">Chapter 4</p>
<p class="para">The feelings the three held were all knotted up. <br>Unable to accept the truth of things, the wavy-haired girl lashes out at her friend. <br>"I wish you would both just disappear forever!"<br><br>The Day of Pledging arrives. <br>The names of students who will be paired are called out, one after another. <br>However, no matter how much time passes the girl's friends are nowhere to <br>be found, so she starts searching the school for them.<br><br>In time, she comes across the boy's corpse. <br>The bespectacled girl has disappeared without a trace. <br>During the boy's funeral, the girl feels intense regret that <br>her words of anger had become reality.<br><br>"I must find her."</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/saryu">Back</a></p>