---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Saryu's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Saryu's Character Story</p>
<p class="title">Chapter 1</p>
<p class="para">After years in school, all of my hard work has finally paid off. I'm now researching magical <br>pharmacology with my best friend—the slightly scatterbrained girl in glasses.<br><br>Everyone in our class approaches their research carefully. <br>That's because each month, the teachers look over our work and evaluate its merits. <br>Knowing this, I dive into my studies with gusto.<br><br>I'm good at focusing on the tiny kinds of details others tend to miss. <br>After a while, the others take notice of this talent, <br>and I'm eventually chosen to be our class representative.<br><br>But while I usually try to do everything myself, <br>my best friend is always reminding me to try and work with the others. <br>So I decide to give it a shot—for her.</p>
<p class="title">Chapter 2</p>
<p class="para">At first, everyone in the class seems to be enjoying themselves. But as the days go by, <br>the others start to get more and more worn down.<br><br>I find this terrifically disappointing, <br>because it's not a lack of talent that holds them back—it's a lack of effort. <br>But they soon begin to drop out of class. <br>One...after the other...after the other.<br><br>Eventually, the only students left are me and my best friend. <br>I can tell this stresses her out, but the harder she works, <br>the more nervous she gets—and her work soon begins to suffer.<br><br>One day, I turn to her and put a calming hand on her shoulder. <br>"Hey," I say. "You're going to be all right. We're almost through this, <br>so just stay focused."</p>
<p class="title">Chapter 3</p>
<p class="para">I can tell the lack of students disturbs my friend, but it doesn't bother me at all. <br>I've never needed outside sources for motivation, <br>and I won't ever give up on a task before seeing it through to the bitter end.<br><br>That's not to say this is easy, because it's not. <br>It's hard.<br>A task of this size split between two people is <i>laughably</i> hard. <br>But my friend and I put our heads down and keep going, <br>and somehow we come to the moment of the final experiment.<br><br>It all comes down to this: The two of us have to pour separate compounds into <br>our beaker at the same time. If we're off by so much as a drop, <br>all of our work will have been for nothing.<br><br>The moment of truth. My hands are slick with sweat. <br>Slowly, <i>so</i> slowly, we begin pouring our compounds. <br>But then my friend makes a sound—a tiny, almost imperceptible gasp—and our <br>potion immediately turns from a bright blue to a dark, muddy brown.</p>
<p class="title">Chapter 4</p>
<p class="para">Later that night, I knock on my best friend's door. <br>And while I know she's in there, she refuses to answer. <br>"Hey," I say finally. "Come on. We have to try again.<br><br>"Why?" she responds in a trembling voice.<br> "You're so good and I just... I don't understand any of this. <br>You'd be better off without me."<br><br>"You're right," I say bluntly. <br>"But me being so good means that no matter how many times you blow it, <br>I'll be there to pick you up. Now let's go."<br><br>The door creaks open and my friend's face appears.<br> She wipes absently at tears with one hand and puts her glasses back on.<br>Then, grasping her other hand, I drag her back to the lab.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/saryu">Back</a></p>