---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Saryu's Frozen Heart</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Saryu's Frozen Heart</p>
<p style="font-size: 265%;">The Blessing</p>

<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/closesttopurple">closesttopurple</a></p>
<p class="title">THIS IS A WORK IN PROGRESS TRANSLATION</p>
<p class="title">Chapter 1</p>
<p class="para">She awoke to pain that felt like it was ripping her apart.<br>She couldn't open her eyes,  move her body, nor muster the strength to speak. It was as if she was an inanimate object.<br><i>How long have I been like this?</i><br>Slowly, her pain began to subside. As she began to look around, tears started to dribble down her face as she tried to wipe them away.<br>She noticed that the room around her was entirely barren.</p>
<p class="para"></p>
<p class="title">Chapter 2</p>
<p class="para"></p>
<p class="title">Chapter 3</p>
<p class="para"></p>
<p class="title">Chapter 4</p>
<p class="para"></p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/saryu">Back</a></p>