---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Griff's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Griff's Character Story</p>
<p class="title"><a href="https://www.youtube.com/watch?v=qZDvNbLupGI"><u>Video</u></a></p>
<p class="title">Chapter 1</p>
<p class="para">"What should I do...?" I sit in the briefing room, continuing to turn the problem over and
over in my mind. I've been up all night thinking about it and am now beyond exhausted. See,
<br>I have to write a telegram to my family back home, but I can't think of a single thing to say. My
squad came back victorious from battle a few days ago, at which point everyone sat down and
wrote their parents just like always. I joined the army eight years ago... And I haven't contacted
my family a single time. It would be strange to send them something now. Crazy. And every time
<br>I think back on my time with them, I come up with more excuses not to do it.</p>

<p class="title">Chapter 2</p>
<p class="para">My fellow soldiers are loud and boisterous, like always. I begin to wonder what kinds
of messages they send. I sit still and listen in, hoping it will give me a better idea of what to
write.</p>
<p class="para">
One man says he sent his parents a telegram about being promoted to captain. It's not true—he
made it up—but his parents love hearing stories about how successful he is, so he figures
it's okay to stretch the truth a little.</p>
<p class="para">Another man's telegrams always focus on memories he and his parents made together.
<br>Today's letter is all about how they used to play ball with each other; he claims it will distract
them from how lonely they are now that he's gone.</p>
<p class="para">Everyone speaks so cheerfully about the thought they put into telegrams home. And though
they are my comrades—and my friends—I can't help but feel the gulf between our lives.
<br>The worlds we grew up in were too different.</p>

<p class="title">Chapter 3</p>
<p class="para">Here's the thing: Ours is a country that values military might above all else, but my
parents? They're both anti-war activists. Needless to say, their beliefs earned me more than
my share of dirty looks and unkind whispers when I was a kid.</p>
<p class="para">One day, the army shot and killed my father. What a joke, right? He's spent his entire
life preaching peace, then died without accomplishing a single damn thing. I took a lesson
from that: Give your life some meaning. Make it <i>matter</i>. Later, I decided to join the army and
climb the ranks—but when I told Mom about my plan, she said I was insane. The moment she
spoke those words, I knew I had to get out of that house. So I slammed the door and stormed
off, then spent years trying and failing to forget the empty look in her eyes as I departed.</p>
<p class="para">In an ironic twist, I never did climb the ladder the way I swore I would. But today, after
eight years spent trying to bury every last memory of my family, I finally figure out the telegram
<br>I want to send: It's an apology.</p>
<p class="title">Chapter 4</p>
<p class="para">I'm nervous after I send the telegram. What if she doesn't respond? Hell, what if she
disowns me? I couldn't blame her for that. But before I can think too hard about it, I get her response:</p>
<p class="para"><i>Honey, I'm just so glad you're alive.</i></p>
<p class="para">Why was my father an anti-war activist, anyway? Why did my joining the army weigh so heavily
on my mother? I don't have a clue, because I've spent my whole life actively avoiding a search for
those answers. The mistakes I made in the past will never go away. But as I think of my military
companions and their families, another thought comes to me: I risked my life for these people.
<br>Gave everything for them. And I'm more proud of that fact than anything else. But while I salute
them, I doubt it will convey these feelings that well up within me.</p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/griff">Back</a></p>