---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>The Reluctant Hero</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">The Reluctant Hero</p>
<p class="title"><a href="https://www.youtube.com/watch?v=K0muk598atY"><u>Video</u></a></p>
<img src="https://i.imgur.com/068gzfZ.png">
<p class="title">Chapter 1</p>
<p class="para">A timid military captain lives in a nation where wars rage without pause.
<br>His frequent orders for retreat, combined with his spineless demeanor,
cause his men to nickname him "Captain Craven."</p>
<p class="para">On this morning, before an operation, he looks across the base and orders
his men to prepare for combat. Though the soldiers often argue over frivolous
matters, he quells their fighting and treats them all as trusted fellows.
<br>After finishing his rounds, a man reports that the young boy who had
aggressively volunteered for combat the previous day is missing. Concerned,
the captain begins to wonder if he has gone ahead without the rest of them.</p>
<p class="title">Chapter 2</p>
<p class="para">When the operation begins, the boy has still not returned, so they adjust their
goals to both annihilate the enemy and find the missing solider. As they move,
the captain does his utmost to maintain the safety of his men, and when they
arrive at the enemy camp, he begins a frantic search.</p>
<p class="para">Eventually, he finds the corpse of the enemy captain with a familiar sword
protruding from his chest—the same sword that had been pointed at him in the
briefing a day earlier. He cannot imagine the boy could have escaped in one
piece after sneaking into enemy territory alone, and the thought makes him
wonder if he has made yet another terrible error.</p>
<p class="title">Chapter 3</p>
<p class="para">Back when he was a fresh recruit, the captain was arrogant and often butted
heads with his commanders. In one battle, he grew overconfident in his abilities,
ignored orders, and acted on his own—and the result of this action was the
destruction of his entire platoon. He eventually found his commanding officer
struggling for breath among the scattered corpses of the rest of his comrades.
<br>The officer said to him, "I'm glad you survived," before expiring.</p>
<p class="para">That day made the captain dreadfully afraid of ever losing another squadmate.
<br>It warped his personality so much that others called him a coward, but he
remained in the military so he might be able to save as many people as possible
and perhaps redeem himself in the process.</p>
<p class="para">These memories resurface as he continues his search. And when he finally finds
the injured boy, he takes his hand and vows to do everything he can to save him.</p>
<img src="https://i.imgur.com/1c31jHa.png">
<p class="title">Chapter 4</p>
<p class="para">With the boy on his back, the captain makes for home while ordering his men
to retreat. And while he hears the voices of dead comrades screaming at him,
he fights back by reminding himself that he is no longer the man he once was.
</p>
<p class="para">
Eventually, he finds his way blocked by an enemy party, and resolves to die if
necessary to keep the boy safe. But just as he is preparing a final stand, his
men appear and put the enemy to rout. Not only did they return to save their
captain, they all somehow managed to make it out alive. When he realizes this,
the captain turns to the boy and says, "I'm glad you survived."</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/lars">Back</a></p>