---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>Rion</title>
<h1><a href="https://drive.google.com/file/d/1A4PaAb-8CT9sbVdd172zRd9C5Z97qvo-/view?usp=sharing">
    His Body, Rust<img class="art" src="https://i.imgur.com/x694XNe.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1gvzFnnGd-pyvH5lu_-ss17TdN2XjQ_WF/view?usp=sharing">
    Character Story<img class="art" src="https://i.imgur.com/fBBtPq9.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1gxv2-SAJtcpdGxpIRBbVa9w5Oz1gJaJW/view?usp=sharing">
    Hidden Stories<img class="art" src="https://i.imgur.com/faMAe1Z.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/16bY7PbCAqqOS9ghrWCzNt7ua1f-ZFy-Q/view?usp=sharing">
    Dark Memory<img class="art" src="https://i.imgur.com/ZcdgM8t.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1nz7rwGNSwwu_fnb-eO01Y1aOSk1kiX8Z/view?usp=sharing">
    Frozen Heart<img class="art" src="https://i.imgur.com/UH3r8gP.png"></a></h1>
<p class="menu"><a href="/stories/nierrein/char">Back</a></p>
<p class="line"></p>
