---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Fio's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Fio's Character Story</p>
<p class="title"><a href="https://www.youtube.com/watch?v=nOhbF2paZoI"><u>Video</u></a></p>
<p class="title">Chapter 1</p>
<p class="para">This is where I play: An old ruin a little ways from my house. It's my special place, and
<br>I don't wanna tell anyone about it. I always come here when I want to be alone.</p>
<p class="para">But one day, there was someone else here, which had never happened before. It was an
older girl reading a book in the shade—I remember she looked kinda sad. I could tell right away
she was a Noble: Her clothes were beautiful... And she was the prettiest person I'd ever seen in
my life! After a second, she saw me staring and gave me a weird smile.
</p>
<p class="para">"You want this book?" she asked me.
<br>"I'm done with it."</p>
<p class="para">I took it from her, but I was really nervous the whole time; I'd never actually talked to a Noble before!</p>
<p class="title">Chapter 2</p>
<p class="para">The book she gave me was a collection of children's stories. It had tons of pretty
pictures, and I've read it every single day since. Each story was about a princess who fell in
love with a prince. It was so different from my own life, and it helped me forget how sad
everything was for me, if just for a little while.</p>
<p class="para">But the book was also weird: All the pictures of the princesses had been scratched over
with black ink... And the last page of every story was torn out. While I was certain all the
princesses would live happily ever after... I also wanted to know how the stories ended, which
meant I needed to find the Noble girl.</p>
<p class="title">Chapter 3</p>
<p class="para">Eventually, I decided to go into town and look for her. It's not just that I wanted to know
how the stories ended—I also wanted to see her again. Because even though I knew we were
worlds apart, I still thought I might be able to be her friend. There was a lively wedding taking
place in town that day. And while the pretty bride in her white dress was surrounded by crowds
of people, she looked so very lonely. I recognized the bride right away. It was the Noble girl.
<br>Part of me wanted to run up and congratulate her, but I hesitated. Because even though everyone
around her was smiling big, she looked like...she was screaming on the inside.</p>
<p class="title">Chapter 4</p>
<p class="para">I had a dream. In it, the Noble girl in her white dress was trying to tell me something.
<br>"Don't lose ■■ ■■," she said. As she talked, red started to spread out from her chest, staining
her nice white dress. The color was far too sad for the nice Noble girl, and I woke up from the
dream in a panic.</p>
<p class="para">I went back to playing alone in the ruins. But one day, I noticed something stuck between
a couple of stones. It was one of the missing story endings. It showed the prince and princess at
their happy wedding. Later, I started hearing rumors in town:</p>
<p class="para"><i>Didja hear that Noble lady ran away barefoot?
<br>Didja hear she was cackling madly?
<br>Didja hear she killed herself?
</i></p>
<p class="para">But I know they're not talking about the nice Noble girl, because all princesses get to live happily
ever after.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/fio">Back</a></p>