---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Fio's Costumes</title><style>    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}                                               
@media (prefers-color-scheme: light)
{
    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
}
</style><nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img style="width: 100%; height: 100%;" src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/media">
          Media
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>
    .img-special{
        -webkit-filter: brightness(100%);
        padding: 0%;
        max-width: 144px;
        max-height: 144px;
    }
    img:hover{
        -webkit-filter: brightness(70%);
        transform: scale(98%);
    }
  .para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
.Guide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

@media screen and (orientation: portrait){
.Guide > .title { 
  font-size: 0.75rem;
  letter-spacing: 2px;
}
}
@media screen and (min-width: 320px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (min-width: 769px) {
  .Guide {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1201px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1919px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1921px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
}
</style>  
<p style="margin-top: 1cm; font-size: 300%;">Fio's Costumes</p>

<div class="over">
<div class="Guide">
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/the-girl-of-light"><img class="img-special" src="https://i.imgur.com/BkYUlLW.png" loading="lazy"><p class="title">The Girl of Light</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/dissenting-girl"><img class="img-special" src="https://i.imgur.com/8vfNbkC.png" loading="lazy"><p class="title">Dissenting Girl</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/guardian-girl"><img class="img-special" src="https://i.imgur.com/R0lckI5.png" loading="lazy"><p class="title">Guardian Girl</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/festive-girl"><img class="img-special" src="https://i.imgur.com/pZfp7yo.png" loading="lazy"><p class="title">Festive Girl</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/abstract-girl"><img class="img-special" src="https://i.imgur.com/AVQ8vsK.png" loading="lazy"><p class="title">Abstract Girl</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/yuletide-girl"><img class="img-special" src="https://i.imgur.com/P9CZyI1.png" loading="lazy"><p class="title">Yuletide Girl</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/new-years-girl"><img class="img-special" src="https://i.imgur.com/Z1jytfN.png" loading="lazy"><p class="title">New Year's Girl</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/summer-girl"><img class="img-special" src="https://i.imgur.com/YyJQOmQ.png" loading="lazy"><p class="title">Summer Girl</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/divine-girl"><img class="img-special" src="https://i.imgur.com/jKLAZk8.png" loading="lazy"><p class="title">Divine Girl</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/mechanical-girl"><img class="img-special" src="https://i.imgur.com/4KXrg6X.png" loading="lazy"><p class="title">Mechanical Girl</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/intoner-girl"><img class="img-special" src="https://i.imgur.com/WOHasQu.png" loading="lazy"><p class="title">Intoner Girl</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/simulacrum-girl"><img class="img-special" src="https://i.imgur.com/vbNcyyk.png" loading="lazy"><p class="title">Simulacrum Girl</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/abyssal-girl"><img class="img-special" src="https://i.imgur.com/KC4anWv.png" loading="lazy"><p class="title">Abyssal Girl</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/celebratory-girl"><img class="img-special" src="https://i.imgur.com/hOPHqvP.png" loading="lazy"><p class="title">Celebratory Girl</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/lacrima-girl"><img class="img-special" src="https://i.imgur.com/LmoWzIW.png" loading="lazy"><p class="title">Lacrima Girl</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/reborn-princess"><img class="img-special" src="https://i.imgur.com/EvtuC1t.png" loading="lazy"><p class="title">Reborn Princess</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/fio/costumes/f-h-princess"><img class="img-special" src="https://i.imgur.com/4AY9dgx.png" loading="lazy"><p class="title">Frozen Heart Princess</p></a></div>

</div>
<br><br><br><br>
<p class="line"></p>
<p class="menu" id="backButton"><a href="/stories/reincarnation/characters/s1/fio">Back</a></p>