---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Echoes in the Heart</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Echoes in the Heart</p>
<p class="title"><a href="https://www.youtube.com/watch?v=VR-2it3CdzI"><u>Video</u></a></p>
<img src="https://i.imgur.com/k7CjXDK.png">
<p class="title">Chapter 1</p>
<p class="para">In a far-off country, a poor girl lives on the outskirts of a small town.
<br>The inside of her house is constantly filled with the noise of her parents
fighting, and whenever it starts up, she flees the house and wanders aimlessly.</p>
<p class="para">Her country's ruling class maintains a strict order of laws and social mobility,
and her father lost his job when he was demoted to a newly created caste known
as the "Goat People." Goat People were lower even than Commoners, and were
created by Nobles in an attempt to focus the Commoners' discontent on a
new class with no rights.</p>
<p class="para">
All the girl wants is for her parents to be happy, so she enters the assembly hall
and begs those in charge to let her father work again. But when the assembly
members see her collar and manacles, they immediately chase her out, for such
things serve as proof that she is one of the Goat People.</p>
<p class="title">Chapter 2</p>
<p class="para">One day, the girl's father leaves home and never returns. Worried, the girl
makes her way to the barracks where he used to work, guessing he may have
gone there in hopes his former co-workers would at least grant him menial work.
<br>But when she arrives, she sees a group of men mercilessly flogging his
already-dead corpse. The girl immediately runs back home only to find her mother
in the arms of a strange man—and when she informs her of her father's death,
her mother only smiles with delight.</p>
<p class="para">The next day, the girl wakes up to find the house empty. And though she waits
and waits for her mother to come back, she never does.</p>
<p class="title">Chapter 3</p>
<p class="para">The girl wanders around town in a daze; she knows in her heart that she has
been abandoned and no one will help her, but does not know what to do with
that information. At one point, a stall keeper steps on a piece of fruit and
tells her it is the only food that suits her. Later, she encounters an old
friend. Overwhelmed by desperation and disgrace, yet wishing her friend
would help her all the same, the girl is seized by inaction. Finally,
the friend claims not to know her and walks away without a second glance.</p>
<p class="para">
Unable to take it anymore, the poor girl bursts into tears. She has learned
this arbitrary label can rob people of so much—their fathers, their mothers,
their friends, even their dignity.</p>
<img src="https://i.imgur.com/nGlGJQm.png">
<p class="title">Chapter 4</p>
<p class="para">Her stomach howling, the girl stays largely motionless, alone in her house.
<br>A few days later, she hears workers talking outside. When they notice the girl,
they inform her they are tearing down her home to construct a garbage dump.
<br>Before she can even think to protest, the workers chase her off.</p>
<p class="para">Weakened, she wanders in the wilderness until she finds a dirty, abandoned ruin
that still offers a bit of shelter from the elements. Entering its weathered
walls, she thinks about the looks she gets from everyone else.
<br>The anger. The scorn.
<br><i>Why do people take so much pleasure in seeing others beneath them? she wonders.
<br>And why are their expressions so vile?</i></p>
<p class="para">Finally, she collapses within the ruin; there is truly no one left who
will care for her.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/fio">Back</a></p>