---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>Saryu</title>
<p class="title"><a href="/stories/reincarnation/characters/s2/saryu/binding-magick">
    Binding Magick<img class="art" src="https://i.imgur.com/JH89ZGc.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/characters/s2/saryu/character-story">
    Character Story<img class="art" src="https://i.imgur.com/Nhvnd8I.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/characters/s2/saryu/">
    Hidden Stories<img class="art" src="https://i.imgur.com/1BdXqtD.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/characters/s2/saryu/">
    Dark Memory<img class="art" src="https://i.imgur.com/CjflKRs.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/characters/s2/saryu/">
    Frozen Heart<img class="art" src="https://i.imgur.com/cJDSnem.png"></a></p>
    <p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters">Back</a></p>
