---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>Yurie</title>
<p class="title"><a href="/stories/reincarnation/characters/s2/yurie/proof-of-zero">
    Proof of Zero<img class="art" src="https://i.imgur.com/pKWtstx.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/characters/s2/yurie/character-story">
    Character Story<img class="art" src="https://i.imgur.com/GMVYmLo.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/characters/s2/yurie/hidden-stories">
    Hidden Stories<img class="art" src="https://i.imgur.com/qNf1BlT.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/characters/s2/yurie/dark-memory">
    Dark Memory<img class="art" src="https://i.imgur.com/Zyu1Qi2.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/reincarnation/characters/s2/yurie/frozen-heart">
    Frozen Heart<img class="art" src="https://i.imgur.com/8m3IymX.png"></a></p>
    <p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters">Back</a></p>