---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>NieR:Automata Stories</title>
<style>
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }


    </style>
<div id="sidenav">
    <a href="/ths"><img class="slogo" src="https://i.imgur.com/AJWylNV.png"></a>
    <p class="line"></p>
    <a href="/stb">
        <p class="menu">Stories</p>
    </a>
    <p class="line"></p>
    <a href="/credits">
        <p class="menu">Credits</p>
    </a>
    <p class="line"></p>
    <a href="https://k.closesttopurple.org/post/list/-karis/1">
        <p class="menu">Gallery</p>
    </a>
    </div>
<h1><a href="https://reader.closesttopurple.org/read.html?title=yorha-boys&volume=1&page=1">
    YoRHa Boys 1.05 <img class="art" src="https://i.imgur.com/TXyjmOt.png"></a></h1>
<p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1j2RvXg9jDUIWc81UYA6s3DhS736iWtT0/view?usp=sharing">
    A Much Too Silent Sea<img class="art" src="https://i.imgur.com/cZykhD1.png"></a></h1>
<p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1KWiBXQjk5_lB-mv-o5YGivqzbp9C-9hH/view?usp=sharing">
    Memory Cage<img class="art" src="https://i.imgur.com/5lmcf0z.png"></a></h1>
<p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1PGt6HUgJdSQ1YQH2VgvJ91yfs_8Dud71/view?usp=sharing">
    Memory Thorn<img class="art" src="https://i.imgur.com/CcTObKM.png"></a></h1>
<p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1svsvTTBqAxH6ZzGwVP9hb5UmVsLVd9Vw/view?usp=sharing">
    Orbital Bunker Observational Diary<img class="art" src="https://i.imgur.com/f8zv6Oh.png"></a></h1>
<p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1XnWgTKyVr97Dc7Oh708H29jqIGZ0lVuA/view?usp=sharing">
    Recollections of Emil<img class="art" src="https://i.imgur.com/GJMfw6t.png"></a></h1>
<p class="line"></p>     
<p class="menu"><a href="/stories/nierauto">Back</a></p>