---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>


<title>Information</title>
<p class="title">Stage Play Information:</p>
<p class="para">Thou Shalt Not DIE ZERO_Kai (I got it wrong on the pic) is the first stage play released, and it's a prequel to the manga by 3 years.</p>
<p class="line"></p>
<p class="para">Thou Shalt Not DIE ZERO_Kai "Red End" and "Black End" are alternate endings to the prior stage play, with it being based on which one you went to.</p>
<p class="line"></p>

<p class="menu"><a href="/stories/thou-shalt-not-die/stage-plays">Back</a></p>
