---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Misc NieR Lore]</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
.title{
    font-weight: 465;
}
    @media screen and (orientation: landscape)
{
  #over1{
  margin: 0px auto;
  max-width: fit-content;
}
}
    @media screen and (orientation: portrait)
{
  #over1{
  margin: 0px auto;
}
}
</style>

<p style="margin-top: 1cm; font-size: 300%;">Misc NieR Lore</p>
<p class="title">NieR Orchestral Arrangement Special Box Celestial Text - Beepy’s Message</p>
<p class="title">Decoded by <a href="/credits/people/seviryn"><u>Seviryn</u></a> and discord user '<u>firenhawk</u>'<p>
<p class="para">Original:</p>
<img src="https://i.imgur.com/OhOaMlj.png">
<p class="title">Decoded:<p>
<p class="para">だが  私は  あなたに 言う<br>
肉の  体  を  捨てて<br>
夜を  照らす  魂  が<br>
全ての  祝福  を与えん<br>
私は  あなたに  言う続ける<br>
破壊  の  炎  に  焼かれる  まで
ピーちゃん  より</p>
<p class="title">Translated by: <u>closesttopurple</u><p>
<p class="para">But I tell you...
<br>Discard your form,
<br>for a soul that illuminates the night,
<br>blesses you with everything.
<br>I'll tell you,
<br>until you are burned away.
</p>
<p class="title">Square Enix Cafe x NieR Replicant ver.1.22474487139... W.I.P.</p>
<p class="title">From discord user '<u>firenhawk</u>'<p>
    <img src="https://i.imgur.com/nNstKvn.png">
    <p class="title">Original:<p>
<div class="over"><div class="Guide"><p class="para"><b>エミールの独白</b>
<br><br>北平原の風が僕の身体を吹き抜けています。
<br><br>でも、骨になった体では寒さや心地よさは感じることができまさん。
<br><br>感覚や感情すらも、少し壊れて薄くなっているみたいで、
<br><br>自分が『化物』になってしまったのだと実感します。
<br><br>でも、隣で眠るカイネさんを見て、僕は強く思うんです。
<br><br>この力を手にしたことも、化物になったことも後悔はない、と。
<br><br>この五年間、僕は罪悪感に心を蝕まれていました。
<br><br>カイネさんに会いに行っては、後悔の言葉を紡ぐ毎日。
<br><br>もうあんな思いは、絶対にしたくない。
<br><br>病に侵された世界であとどれだけみんなと過ごせるのでしょうか。
<br><br>残された時間の中で、自分に何が出来るかはわかりません。
<br><br>でも、どんなことがあっても次は、僕が皆さんを守ってみせます。</p><p class="para"><br><b>主人公の独白</b>
<br><br>久しぶりに村人の頼みを引き受けた。
<br><br>報酬として差し出されたのは、二種類の花。
<br><br>藍色の花と橙色の花、どちらを選ぶべきか。
<br><br>前なら迷わなかった……妹のヨナが喜ぶほうを選ぶだけ。
<br><br>それが俺にとって絶対だった。
<br><br>しかし、その絶対は五年前に奪われてしまった。
<br><br>花は自分の帰りを待ってくれている、カイネとエミールに渡そう。
<br><br>すこしでも感謝の気持ちを伝えられたらいい。
<br><br>しかし、よく考えてみると、二人の好みを全く知らなかった。
<br><br>帰ったら聞いてみよう、どうな花が好きなのか。
<br><br>いや、それ以外のことも沢山話そう。
<br><br>俺は、それぞれに似合いそうな色の花を一輪ずつ選んだ。</p></div></div>
<div class="over"><div class="Guide"><p class="para"><br><b>仮面の王の独白</b>
<br><br>俺は今、砂漠の神殿にある、王の墓所にいる。
<br><br>『王は結婚に際し、先代の王達へ誓いを立てること』
<br><br>ここに来た理由は、この面倒な『掟』のせいだった。
<br><br>明日……俺はフィーアと結婚する。
<br><br>幼い頃から、あいつの優しさと強さに何度も支えられ、
<br><br>いつの間にか、僕にとって無くてはならない存在になっていた。
<br><br>俺は仮面の人を統べる、仮面の王。先代の王達に誓おう。
<br><br>自分より他人を優先してしまうあのお人好しを、
<br><br>この世界の誰よりも……幸せにしてみせると。
<br><br>それが許されるくらい、あいつは苦労してきたのだから。
<br><br>誓いを立て終わり、ふと思い出す。明日の結婚式に向けて、
<br><br>『掟』をあと何十個もこなさなくてはならないことを……</p><p class="para"><br><b>ルイーゼの独白</b>
<br><br>次は　いつ　あの人に会えるんだろう。
<br><br>あしたかな　あさってかな　それともずっと先なのかな。
<br><br>はやく　会いたい。
<br><br>会えたら　何をしようかな。
<br><br>歌を歌って　手遊びして　ごはんを食べて……
<br><br>いっぱい　いっぱい　おしゃべりしたいな。
<br><br>わたしに　名前をくれた　優しさをくれた。
<br><br>わたしもあの人に　何かあげたい。
<br><br>せめて　ありがとう　って伝えられたらいいのに、
<br><br>わたしの声は　醜いから　聞かせられない……
<br><br>そうだ　この前もらった紙に　ありがとう　って書こう。
<br><br>いっぱい　いっぱい　ありがとう　って伝えよう！</p></div></div>
<div class="over"><div class="Guide"><p class="para"><br><b>ポポルの独白</b>
<br><br>もうすぐ、彼がやってくる。
<br><br>妹を救うため、戦い続けてきた彼が。
<br><br>幼い頃から面倒をみつづけてきたかれが。
<br><br>もう迷いは…………ない。
<br><br>私達には「管理者」という使命がある。
<br><br>私達の全ては人類のために作られたのだから。
<br><br>遥か昔、創造主に言われたことをふと思い出した。
<br><br>「せめてもの代償に、同伴者を用意した」
<br><br>その言葉の意味を、数千年経ったいまなら理解できる気がする。
<br><br>デポルの手を強く握る。私はこの手を決して離さない。
<br><br>傲慢な人間が作った、不完全な計画に震えながら。
<br><br>どんなに悲惨な結末が待っていたとしても。</p><p class="para"><br><b>カイネの独白</b>
<br><br>……アイツを殺せなかった。
<br><br>おばあちゃんの仇を討つ機会を、また無駄にしてしまった。
<br><br>自分の不甲斐なさに、ふつふつと怒りがこみあげてくる。
<br><br>「クソッ……クソッ……クソクソ、クソッッ！」
<br><br>身体が熱い、全身の血が沸騰して今にも燃え上がりそうだ。
<br><br>昂ぶった感情に共鳴するように、左手に黒い文様が広がる。
<br><br>『カカカカッ！いいぞカイネ！もっと怒れ、もっと憎め！』
<br><br>私の中に憑いたバケモノが、興奮した様子で語りかけでくる。
<br><br>言われなくても、この呪われた力でアイツを殺す。
<br><br>この身体に巢食ってるお前も殺す。
<br><br>そして最後は、この穢れた私も……
<br><br>無情な未来を迎える為に、静かにゆっくりと、笑った。</p></div></div>
<p class="title">Translated by: <u>closesttopurple</u><p>
<div class="over"><div class="Guide"><p class="para">Emil's Recollections:<br><br>The wind of the northern plains blows through my body.<br><br>But, this body can't feel anything...<br><br>Even my senses and emotions have dulled a bit.<br><br>I feel like I've become a monster.<br><br>But, sleeping next to Kainé makes me feel even more like a monster.<br><br>But, I have no regrets about it.<br><br>For the last five years, I've been consumed with guilt.<br><br>Every time I see Kainé, my thoughts are filled with regret.<br><br>I don't want these emotions anymore.<br><br>In this world riddled with illness, how long can we spend together?<br><br>I don't know how to spend my time.<br><br>But, no matter what, I will protect them next time.</p></div></div>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="title"><p>
<p class="title"><p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/blu-ray">Back</a></p>