---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Time</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }


</style>

<p style="margin-top: 1cm; font-size: 300%;"><strong>Magnitude Negative: Time</strong></p>
<img src="https://i.imgur.com/O5ygosb.jpeg">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator:  <a href="/credits/people/barnabism"><u>Barnabism and Bri</u></a></p>
<p class="para"><i>A weakling in an eternal solitude will eventually halt a jumping minute hand</i></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>1</strong></p>
<p class="line"></p>
<p class="para">Verdelet’s body swayed powerlessly atop his saddle.</p>
<p class="para">The empty sleeve on his left arm hung down heavily, and his right hand that held the reins within it was loose. A greenish-grey cliff composed of all different sorts of substance and material towered from his right. On his left, the maw of a bottomless, dark valley opened wide. The width expanded out to somewhere about two-hundred metres. Ahead of him lay cliffs, all of the same colour and made from the same run of rock, stretching so far that if Verdelet looked up, they would have risen far enough to block his view from the sky completely. The road that stretched along was rugged and inaccessible, a long and narrow road that ran straight through the whole of his journey…</p>
<p class="para">…If he had to keep looking at this same scenery for even an hour longer, he swore he would go mad. The thoughts of insanity had already begun to haunt Verdelet’s mind.</p>
<p class="para">He was sure of it, now—he <i>had</i> to have been travelling through the digestive system of some giant beast. The sweat that dripped from his body was truly no more than digestive fluids, and he melted as he moved forward; he was certain that by the time he reached the Imperial Capital he would have been fully digested, living in this world having lost all characteristics of a human being. Turned into waste, rolling and steaming…</p>
<p class="para">It was terribly hot, with no wind there to cool the sweat on his body. The heat that clung to his body clumped and gathered in its valleys, to the point it was nigh impossible to even breathe. He wondered how many days had passed since that day when that light had rained down upon the Blue Mountains… He could only imagine.</p>
<p class="para">…It hadn’t been a day ago.</p>
<p class="para">…It hadn’t even been three days ago.</p>
<p class="para">He was sure it had been much longer. Black clouds filled the sky, with nothing but bright red left to peer through the cracks. Immediately following <i>that</i>, that strange and ominous sky hadn’t changed in the slightest. There was no sun to be seen. Ever. The world had become a place without either day or night, and for some reason, only the temperature had risen to an abnormal degree.</p>
<p class="para">None in that group felt very hungry. The soldiers who received only the scarcest of rations no longer found joy in eating. Instead, it had only become a duty of nourishment needed to reach their intended destination.</p>
<p class="para"><i>Perhaps, he thought, time may have stopped, and the world is frozen.</i> The sun did not set. The wind did not move.</p>
<p class="para">The world had stopped.</p>
<p class="para">Just like his head, it had grown into a place of unending stagnation; a stagnation so deep, not even the vaguest spiral could be seen lurking within it. It was a dead stillness, a loathsome heat of death, the world left behind in the mud of tediousness.</p>
<p class="para">There was not a single noise among the soldiers who marched along in their single file line. Every last one of the soldiers that remained had already reached the limits of their exhaustion and fatigue. Every last one of the soldiers that remained had long since fallen into the bottomless pits of despair.</p>
<p class="para">When their will to what drove them forward at all was exchanged in conversation, the most they could come up with was “Ah, that man over there is just the same as I am” with their remaining thoughts, and so it was left at that.</p>
<p class="para">They knew as much since the beginning.</p>
<p class="para">The only ones who could bear any semblance of “Hope” in a situation such as they were in now were the completely and utterly lost and insane. Only Arioch, who hadn’t changed much at all from before, participated in this march with a smile on her face.</p>
<p class="para">Following the damage done by the Light of Destruction, the numbers of the same Union that had completely done away with the Empire’s forces in the Blue Mountains had been reduced to just under thirty-thousand.</p>
<p class="para">…More than three-hundred thousand people had lost their lives that day.</p>
<p class="para">When he looked back on it, Verdelet hadn’t felt anything then. How many humans still existed within the world? He could only imagine that, perhaps <i>they</i> were the only humans left in the world—left to survive like they were. But even when he thought about it like that, they were still an unusual sight to behold.</p>
<p class="para">…The humans have perished.</p>
<p class="para">They’ve all perished, haven’t they?</p>
<p class="para">These thirty-thousand people, possibly the last surviving remnants of humanity, were currently marching towards the hotbed of the Empire which lay within the easternmost part of Midgard: The Imperial Capital.</p>
<p class="para">As for why… They didn’t even know why. They had no other choice than to follow the desire that sprung from the deepest depths within them.</p>
<p class="para">That day, a voice had resounded from over the heads of the soldiers that stood upon the burned and ashen-coloured grasslands of the Blue Mountains:<br>
<i>‘Now, go. Make way to the Imperial Capital, O, sons of man! Go, and bear witness!’</i></p>
<p class="para">Verdelet turned to Leonard, who walked close behind him.</p>
<p class="para">“...Do you truly intend to accompany the Union till the end? To that hell…”</p>
<p class="para">“If I were to depart from our march now, and head towards wherever the wind may blow, what meaning could it bear? No matter how far I may go, this state of the world shall remain. If there ever may come a change… I wish to feel it. Even if it may be only that of hopeless ruin…”</p>
<p class="para"><i>‘Ahah! Isn’t that just your nature~? Always feeling for his dear little Seere! Talking such doom and gloom so late in the game would be cheating, dear Leonard. What a shame! Such a good-looking man, but still an idiot deep down, hm~? Kyaha!’</i> The faerie sat on the shoulder of Leonard’s cloak, its legs dangling with boredom.
<br>Verdelet was weak. He couldn’t even offer as much as a wry smile.
<br>“It is enviable indeed that there exists such lingering affections held within others in such a time. Somewhere in my heart I hope, for example, that this horse will go mad and think to leap into this valley while I still ride upon its back.”</p>
<p class="para"><i>‘Ugh! You’re just as ugly on the outside as you are the inside, you hairless git! If that’s what you want, then you should just kill yourself! Go on! Are you still scared? Hah! Your kind is nothing but a bunch of idiots, always going from wanting to live, to wanting to die! Some fools just never make a choice, they misunderstand and die all by themselves! You shouldn’t have to rely on that horse if you want to kill yourself so badly, egghead.’</i> The unpleasant, scornful laughter of the faerie rang within his ears.</p>
<p class="para">“....Do you think the voice that day… Could have been that of the dragon’s?” Verdelet said.
    <i>“I believe it is so. If so, then…” Leonard swallowed, “It would mean the child still lives. I’m certain of it. He must be…”</i>
</p>
<p class="para">There hadn’t been any word of Caim and the dragon since they had flown to the Sky Fortress. But that voice… It <i>certainly</i> sounded as if it were from the dragon. If that boy was with them, he may have still been alive.</p>
<p class="para">Either way, Verdelet held little interest in them now. The greenish-grey mountain path continued on. Endlessly…</p>
<p class="para">Another hour passes… Verdelet nonsensically thought to himself—<i>if the scenery continues like this for much longer, I’ll go mad.</i></p>
<p class="para">He was sure enough that hour would come to pass, too. <i>If</i> he hadn’t already gone mad long ago.</p>
<p class="para">He wondered how far they had come at all since then.</p>
<p class="para">A sudden excitement buzzed among the soldiers in the vanguard; and, driven by that sense of premonition, Verdelet was quick to get off his horse and run. Eagerly he pushed his way through the crowd of soldiers.</p>
<p class="para">“Move, out of my way!”</p>
<p class="para">The soldiers were filled with glee as well. <i>Finally, change is coming.</i> The crowd grew dense as everyone struggled to move forward and see what lay ahead. Twisting his body through the crowd, Verdelet pushed aside the worn and rugged bodies of the soldiers with his hands and burst forward.</p>
<p class="para">A commotion rose among the crowd.
    <br>The scenery beyond the valley expanded far before Verdelet’s eyes.
</p>
<p class="para">There, a large terrace laid open atop the mountainside. The sight of such scenery, overwhelming to their souls, spread out wide before them.
    <br>Standing atop the greyish-green soil where not a single weed had grown, the soldiers, dressed in their silver armour, stayed frozen.
</p>
<p class="para">Beyond them lay the Imperial Capital, illuminated by the red light that shone dimly through the cracks of the clouds. It was a city of grey, filled with the sight of half destroyed buildings… A vast ruin, spread out as far as the eye could see.</p>
<p class="para">The large, circular city of ruins stretched itself far across the orange basin.
    <br>A myriad of buildings lay overlapping each other, like grey candles illuminated with the vibrant yellow hue of the fire. Though their circumstances had likely taken a turn for the worst, the city was beautiful in a way that stole their hearts and souls.
</p>
<p class="para"><i>This</i> was the homeland of the Empire? They couldn’t believe their eyes. The thought that people could actually live there was beyond them.</p>
<p class="para">“Don’t tell me… Was the Empire… <i>Something that had never existed after all…</i>?”</p>
<p class="para">Verdelet staggered back after being pushed away by a soldier who came up from behind him.</p>
<p class="para"><i>(The Empire, a force which bore magnitude negative to the minds of humankind from the start… It was only after it became faced against we humans that magnitude, the <strong>being</strong> of their existence, had grown and bore weight… A force of positive magnitude upon this earth. Was the Empire truly no more than a fictional enemy that we humans have created for ourselves?)</i></p>
<p class="para">Before he knew it, Leonard had stepped up beside him.</p>
<p class="para">“Whatever this Imperial Capital may be… It is beyond my eyes to see.” He said.</p>
<p class="line"></p>
<p class="para">The thirty-thousand troops who had arrived at the Imperial Capital lost sight of their intentions as they wandered aimlessly through the maze-like streets of the city.</p>
<p class="para">The large metropolis was truly a land left uninhabited, ruins left within ruins. Not even a breeze was as kind to waft through as the soldiers stumbled and looked around aimlessly. There was no sign of humans having ever inhabited the worn buildings for a long time.</p>
<p class="para">The streets were so full with grey rocks and rubble, that when they walked, it went up to their knees. Occasionally, the small pieces of stone that came from the rectangular, tower-like buildings would fall and clatter onto the gravel. The ruins were still crumbling; and, perhaps, they would continue to do so until the day it became nothing but a field filled with completely flat, grey rubble.</p>
<p class="para"><i>…So, time hasn’t stopped,</i> thought Verdelet.</p>
<p class="para">If he could assume this much, then it must have been safe enough for him to assume that the barriers between the worlds had not yet been destroyed… <i>Something else was happening.</i> He had a hunch, and couldn’t let the feeling go. <i>(What is this… Madness that we witness here? Could that voice really have been that of the dragon’s?)</i></p>
<p class="para">As they walked through the ruins, the army grew completely scattered.
    <br>Now, Verdelet was with Arioch, who stayed subject under his watchful eye.
    <br>Avoiding the skewed pieces of debris, Arioch sat with her knees in her arms atop some broken, stone base within the street. In the past, he wondered, could there have been a statue that sat atop of this?
</p>
<p class="para">Arioch and Verdelet stood surrounded by seven bodyguards. Given as far as they had come, the idea of wearing armour was troublesome to some, so instead they wore pants of leather, the top halves of their bodies covered in cotton undergarments. While he had spent his time walking about, Verdelet had often seen the shells of armour left discarded by the soldiers.
    <br>And, having finally succumbed to their own exhaustion, the soldiers of the Union laid back in their usual fierce advance and now only carried with them their traditional weapons. Right now, the bodyguards surrounding him held swords on their waists, and were agile enough that they could carry loads of whatever it is they may have needed on their backs. Verdelet, half exhausted himself, half buried himself within the rubble and sat with his head down.
</p>
<p class="para">…It was as if they were all delicious sweets, their bodies sprinkled with powder. Verdelet laughed emptily, muttering to himself his far-gone thoughts. He was sure someone would come to eat them soon.</p>
<p class="para">The only one who was left completely unaffected by this was Arioch. As usual, she wore her typical vague expression with unfocused eyes, yet at the same time, somehow, exuded a lively type of atmosphere that was never there before.
    <br>Arioch steadied herself against a nearby pillar, her body rocking back and forth.
</p>
<p class="para">“Arioch, how is it that you can feel such joy in a time like this? What causes you to smile so?”</p>
<p class="para">“I smell it. So nice… It smells… Like my <i>children</i>.” Arioch tilted her head upwards. “Up there… In the sky.”</p>
<p class="para">Verdelet followed her gaze with a dubious expression. There in the sky, red cracks ran clear through the thick, grey sea of clouds, like bloodshot veins in the whites of one’s eyes.</p>
<p class="para">“Is it something <i>above</i> the clouds, Arioch?”
<br>Arioch shook her head and went back to rocking back and forth again.
<br>“Hurry…. Yes, come…! Why don’t you come down and hurry here to me..?”</p>
<p class="para">Verdelet stared silently at that mysterious smile.</p>
<p class="para">From the other side of the street, he could hear the commotion of several different soldiers. They were saying something amongst themselves out loud. Some were walking towards him, with Leonard standing at their lead.
    <br>“Hierarch…? Are you there?”
    <br>“Ah, Leonard. Yes, I’m right here.”
    <br>Leonard came closer, his nose wrinkled with concern.
</p>
<p class="para">“You have our deepest thanks for coming to assist us in this cause.”
    <br>“By what do you-? Ah, please… There is no need to stand on ceremony here. What is it that I can help you with, Leonard?”
</p>
<p class="para">With a nod in understanding, Leonard motioned to the soldiers behind him.
    <br>“There is a group of soldiers here that have reported seeing a dragon’s figure in the clouds… Or perhaps, <i>similar</i> to a dragon’s.”
</p>
<p class="para">The soldiers in question had already removed their armour. With hair that was left wildly dishevelled, and faces smeared black with soot, Verdelet began to worry that he hadn’t looked much different himself, and wiped his ageing, waxy skin with his right hand.</p>
<p class="para">“You soldiers saw a dragon…? Are you sure?”
    <br>“Yes. We lot are all hunters, so we know a bird in the distance when we see it. There’s no mistaking it—that was a dragon up there.” One soldier stepped out from the group.
    <br>“A red dragon?” Verdelet asked.
    <br>“Yes. It was drifting through the air straight, like this. But, it looked different…”
    <br>“Different…? Could it not be the same red dragon that had formed a pact with Caim?”
    <br>“Yes, that could be it… The sight of that beast was a strange one, it was.
    <br>That red dragon was scary enough, but <i>this…</i> Was something a lot more than just that.”
</p>
<p class="para">The man turned to his companions.<br>
    “It was plain ominous!” Someone said.<br>
    “Mm, right he is. Ominous, strange… It was such an indescribable kind of feeling.”
</p>
<p class="para">Verdelet lifted a hand to his chin in thought.</p>
<p class="para">…A dragon had finally made itself seen. But, a <i>different</i> dragon?</p>
<p class="para">“What should we do, Hierarch? Though we have come so far, the capital of the Empire is dead. There are no Imperial troops to be found here… All of it was a mere conjuring of our own devices. …The Union’s forces have been left fatigued as well. Perhaps… The threat of the Empire truly <i>is</i> no more.
<br>But our rations are limited in number. If we leave now, it will be too late. What shall we do…? Is it in your will that we turn back and see what has become of the rest of Midgard?”</p>
<p class="para">“I understand your worry, Leonard. But instead, let us move only after finding the identity of this dragon. I am curious to know if it truly <i>is</i> another—but, if it is Caim, then it is in best interests that he join the side of the Union once again. Would it not serve your interests, too, Leonard? You have worried yourself greatly for that boy’s sake, after all.”</p>
<p class="para">Leonard turned red, and took a step back.
    <br>“...How much time has passed since that day? …If only I knew.”
</p>
<p class="para">“One week.”
    <br>The two turned to look at Arioch. With her usual vacant expression, she stared up at the sky. A fond smile began to drift over her face.
    <br>“Come, my sweet little children…”
    <br>Enticed, everyone turned their heads up towards the sky.
</p>
<p class="para">In the middle of the vast expanse of clouds stood a great hole.</p>
<p class="para">“That hole… What could it be?”</p>
<p class="para">When had that opened up there? Within the hole, only the rim was pulled back up and sucked into the black expanse of sky overhead.</p>
<p class="para">In Verdelet’s eyes, it was as if the space itself had some kind of hole in it. It was darker than normal black—a damp, cold black that looked as if it had been varnished.</p>
<p class="para">With a loud roar, the black hole was sucking in the clouds that seemed as if they had blanketed over the whole world. The hole grew larger—soon it would envelop the entire sky, it seemed.</p>
<p class="para">Verdelet shuddered as he felt the stagnant temperatures around him suddenly disappear. <i>It truly didn’t matter what happened now.</i> Even when the Empire had emerged and humankind was thrown into those days of fierce battle, they still lived what seemed their ordinary life with their feet on the ground.</p>
<p class="para">A strange stench began to waft in with the air that cooled as the black hole grew and expanded even further. It was a smell like rotting flesh, and even more horrifying, as impossible as it may have been, like flesh that had decayed twice over. Tears entered into Verdelet’s eyes, paired alongside a sweltering headache.</p>
<p class="para"><i>…Gods. Dragons. What manner of hell are we, the children of man, to witness?</i></p>
<p class="para">Verdelet continued to stare up at the empty void that floated in the air. No matter what happens, they would see it through to the end—Such a resolve gradually weakened, and the Hierarch found himself trembling with no end in sight.</p>
<p class="para"><i>Humans shouldn’t have come here.</i></p>
<p class="para">But who could say that such an event was solely unique to their kind alone?</p>
<p class="para">“What the hell is that thing…!?” Muttered one of the soldiers. Something grey protruded out from the centre of the black hole. Verdelet squinted his eyes at the sight of the object floating in the sky⸻</p>
<p class="para">It descended slowly from above.</p>
<p class="para">From what they could tell off the balance of its limbs, it was a small, grey humanoid figure—an infant, slowly floating downwards. Verdelet was unable to tear his gaze away, only shaking his head which ached horribly from the stench of the falling creatures. If anything could be called disturbing, it was this—why were these… <i>Infants</i> grey? Why were they falling from the sky?</p>
<p class="para">One after another, the grey beings descended from the hole. A herd of countless, grey infants. The way the sky was covered with them was as if it were snowing. Swaying side to side in a pendulum-like lull, the babies slowly made way upon the Imperial Capital.</p>
<p class="para">All thoughts seemed to freeze in that moment. Something in his head had grown paralysed. <i>This was madness. This was <strong>impossible</strong>.</i> And yet, Verdelet couldn’t even muster a scream.</p>
<p class="para">…The creatures, these <i>grotesqueries</i>, were large. How large exactly was beyond their knowledge, but the fact that it was possible to see them from such a distance… Verdelet’s eyes grew wide. His face twisted into an expression of fear.</p>
<p class="para">From the bottom of his heart, he knew—the fundamental law that governed the world, “The Great Time”, had been broken… And it was the humans who were responsible.</p>
<p class="para"><i>What could they have done?</i> Would it simply have been better if they had allowed themselves to die quietly at the hands of the Empire? Attempting to quell the disarray of his heart, Verdelet could only stand in numbed shock, allowing the uncontrollable tears and runny nose to overflow down his cheeks. These “Grotesqueries”, numbering in the hundreds or perhaps even thousands, were huge. They looked completely alien. It was an oddity overwhelming, unable to be matched even by the likes of a dragon.</p>
<p class="para">In a cloud of sand and rubble, the grey Grotesqueries landed on the grounds of the Imperial Capital, one after another. At the same time, the throat-tightening stench permeated the ruins surrounding, revealing its source. A number of the creatures still floated in the sky—he couldn’t even count how many there were.</p>
<p class="para">The Grotesqueries, with much joy and enthusiasm, caught notice of Verdelet and the others staring at them, and rushed forward on all fours as if crawling. Covered in the grey dust from the ruins, it felt as if they had already become part of the Imperial Capital. With skin the colour of an inorganic grey, it was impossible to tell whether it was soft or hard; the sight akin to smooth sculptures of carved and polished stone… Yet, at the same time, there came a certain dynamism unique to living, breathing creatures.</p>
<p class="para">Even seeing the Grotesqueries approaching, Verdelet’s body did not move. The events couldn’t be processed any further beyond his current understanding—Verdelet was unable to feel even a sense of danger, and his muscles found themselves completely unable to move. As the Grotesqueries crawled forth with unexpectedly fast movements, the first one was quick to arrive before them.</p>
<p class="para">The sight up close struck fear further into their heart’s at the sight of its true enormity. The plump arms alone were thicker than the entirety of an adult’s torso.</p>
<p class="para">Verdelet only then caught wind of the croak of terror that snuck out from his throat.
    <br>The Grotesquery, with its expressionless grey features, hung its head in curiosity and drew closer to the group of people staring at it. The Hierarch noticed a stain on the tip of its nose—a small stain, the size of a person’s head.
</p>
<p class="para">One soldier let out an uncontrolled scream.</p>
<p class="para">The Grotesquery’s arm shot out towards the soldier, grabbing them in its hand as if they were nothing more than a toy—and Verdelet watched as the soldier’s face froze in intense pain and fear.</p>
<p class="para">That expression was short-lived, however, and in an instant, the huge hand held them firmly with their limbs left dangling like a ragdoll. The Grotesquery held them over its mouth. The soldier was dropped in — The sound of a crunch followed. With its mouth held open wide, blood dripped from the Grotesquery’s lips, making visible the teeth that seemed to have begun to grow in. Its head tilted, the soldier’s remains were cast away, and the mangled wreckage fell directly before him.</p>
<p class="para">Verdelet screamed. More Grotesqueries crawled over the rubble.
    <br>“<i>Help!</i> Someone, please help me! What is this…!?” With a loud thump, Verdelet ran off in the opposite direction.
</p>
<p class="para">…And that was all the signal they needed.</p>
<p class="para">The infant-like monsters filled and crammed each crevice of the street, clouds of dust flying into the air as they approached all at once. The soldiers all screamed and fled after the Hierarch.</p>
<p class="para">With a look of unbridled terror on his face, Verdelet turned a corner and continued to flee in the opposite direction—until he spotted a figure from the corner of his eye. Verdelet stopped and called out to it.
    <br>“Arioch! What are you doing!?”
</p>
<p class="para">For a moment, the elf woman had looked back towards him. Her face wore the gentle expression it once had—the face she wore before her family had been slaughtered by the Empire. At the same time, her eyes were filled with all the madness of a carnivorous elf. Verdelet was about to say something, but faltered—he had no words to say.</p>
<p class="para">A compassionate mother? Or a vicious murderer?
    <br>Not even he could say for sure which one was the true Arioch.
</p>
<p class="para">Now, the elf had gambled the whole of her existence towards the Grotesqueries. No matter whether that love she possessed for the creatures was one rooted in hopelessness or some odd disturbedness, Verdelet no longer possessed any will to stop her.</p>
<p class="para">Arioch grinned, staring at the herd of Grotesqueries.
    <br>“My children……”
</p>
<p class="para">Gradually increasing in her speed, the maddened elf woman dashed towards the infant-like beasts before her. The soldiers, stunned, could only stand frozen with their widened eyes chasing after the back of the gut-churning spectacle that played out in front of them.</p>
<p class="para">It was that final whisper that remained in Verdelet’s ears:</p>
<p class="para"><i>“Sweet children…”</i></p>
<p class="para">A feeling he had never felt before welled up within his chest.
    <br>“Arioch! Get back from there, hurry!”
</p>
<p class="para">However, it seemed that those desperate cries had fallen only on deaf ears.
    <br>Verdelet could muster only a single step forward before ceasing in his pursuit.
</p>
<p class="para">It was as if she had been searching for them, the way Arioch stretched out her arms as she ran up to the group of Grotesqueries. At once they rushed upon her, a grey-coloured mountain rising over the streets and enveloping the elf woman. For a moment, he spotted a brief flash of red and blue light. That was it.</p>
<p class="para">There came the noise of chewing, and the presence of Arioch’s life that Verdelet had felt was gone in an instant. The grey Grotesqueries that had all mobbed upon her snatched away her corpse amongst themselves with a quiet rumble.</p>
<p class="para"><i>…They were playing with it.</i></p>
<p class="para">With a heartrending cry, Verdelet spun on his heel, and <i>sprinted</i> as fast as his legs would carry him.</p>
<p class="para">One soldier that overtook Verdelet in the lead was grabbed from behind by a Grotesquery that had rolled over from the side. With no more than a glance at the dust-covered figure, Verdelet turned to the left and continued running without even a moment’s hesitation. The soldier kept wailing something from behind him, but he had no time to figure out what they were saying.</p>
<p class="para">Turning right, and then left, he couldn’t tell whether he was successfully escaping, or if he was merely going around in circles.
    <br>“Over this way…”
</p>
<p class="para">Suddenly, a strong hand grabbed onto Verdelet’s arm and dragged him into a sidestreet. Verdelet let out a terrified cry, swinging his right hand and even his missing left arm in attempt to strike at his opponent, yet…</p>
<p class="para"><i>‘Oh, shut up! If you’re that desperate to get us caught and killed, then go and do it alone. Old coot!’</i></p>
<p class="para">The sidestreet was narrow, only about two metres wide, with buildings that stood on either side. The screams of the soldiers could be heard from all over the ruins of the Imperial Capital. One after another, Verdelet could see the clouds of sand and rubble rising up from beyond the buildings. The grey infants continued to float and swoop down on the city like snow.</p>
<p class="para">“I was saved by Arioch…! I.. Those monsters, they—!!” Verdelet’s cry was interrupted with terrified weeping.</p>
<p class="para">Leonard, who sat down beside him, was also visibly trembling with fear.</p>
<p class="para">“Our world… Has our world been broken?”
    <br>“Leonard… Could these be—could <i>these</i> be the Watchers spoken of by the Empire…?”
    <br>“...Could they truly be—? Such an abominable display of power… It is too much…”
</p>
<p class="para">Verdelet curled up, hands over his head. More than half his body was covered with dust and sand.</p>
<p class="para">“This is the beginning of the new world… Ye Gods……”</p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>2</strong></p>
<p class="para">Both Caim and Seere rode on the dragon as they circled around towards the Imperial Capital. A large, black hole visible from overhead sucked in the surrounding black clouds with a roar; even the sky’s red light seemed to vanish within the dark expanse. Looming over the ruined city was a twilight that looked not too different from the evening.</p>
<p class="para">A strong wind blew, and the dragon had found itself trapped within a constant fight against the headwind that threatened to pull it inside the hole at any moment. Caim and Seere’s eyes were both forced wide open in the fight against the rampaging wind.</p>
<p class="para">At first, they had thought that the countless grey infants were made out of stone or its likes, though, as they watched the movements of those fatty limbs, they were quick to realise that it was instead no more than lifeless, stone-coloured flesh. Body after body, ones much larger than the dragon’s, crowded around it, and with each collision, the Grotesqueries let out an earth-shaking growl that seemed powerful enough to crush something by voice alone.</p>
<p class="para">It had been a week since they had made their departure from the Sky Fortress. At last, that long-awaited change had arrived—but even Caim shuddered at the incomprehensible sight before him. The dragon had felt it as well, a mysterious sort of fear that had transcended all concepts of “Right” and “Wrong” at the sight of those Grotesqueries.</p>
<p class="para"><i>‘A world whose life has known only famine and ill-fortunes now struggles once more to remain. It is a sight that disturbs even the depths of my own being. Caim… We may have done something irreversible. In attempt to <strong>save</strong> the human race, we have wrought our vengeance against <strong>all</strong> life on this world!’</i></p>
<p class="para">From the sky, they could see the almost circular structure of the Imperial Capital. At its centre stood two twin towers, which boasted the tallest height of any building in the Imperial Capital, and the almost concentric streets below looked jumbled in certain spots, forming a labyrinth. The buildings, all different sizes, looked almost piled on top of each other in such a way that made the ruin’s streets even more complicated to traverse—from above, the city looked like an ancient labyrinth that would be impossible to escape upon getting lost.</p>
<p class="para">A number of Grotesqueries had landed on the streets of this Imperial city, chasing the soldiers around like children with their toys. A cloud of dust rose. The silent ruins were filled with the screams of humans.</p>
<p class="para">‘This sensation, do you feel it…!? One of your allies has lost their life.’
    <br>Caim couldn’t clearly make it out. All he could feel was a faint tingling sensation from deep inside his chest.
    <br>“...It’s Arioch! Caim, Arioch is dead!” Seere cried out in the wind.
</p>
<p class="para">A conflicted expression crossed over Seere’s face. She had been someone who more than likely had a constant appetite for him… But even so, now that she was dead—he somehow felt sorry for Arioch.</p>
<p class="para">The dragon headed towards the centre of the Imperial Capital in order to get a better look at the situation below. A grey Grotesquery roughly grazed against its wings.</p>
<p class="para">The density of the floating Grotesqueries in the sky was only increasing.
    <br>There were some who followed in pursuit after the dragon, some interested, some not — but as it stood, the thirty-thousand soldiers attempting to flee the Imperial Capital seemed to take the majority of interest. For now, the dragon had no intentions of dealing with these mysterious creatures. Even if it would eventually come down to a fight, it would only be after their situation had been completely understood.
</p>
<p class="para">Before long, Caim, Seere, and the dragon had reached the vicinity of the tallest building of the Imperial Capital. Its surface was that of a dull, greyish white. The body was slender, and split into two branches straight down the middle—a tower formed which soared into the sky. In days long past, this white, shining figure must have shone throughout the entirety of the Capital.</p>
<p class="para">But now, all that hung over the city was the smell of rotting flesh; the chapel’s spire looked like nothing more than an ominous tombstone. From its view, they could clearly behold the sight of the soldiers being devoured by the Grotesqueries.</p>
<p class="para">The chapel was a tombstone.
    <br>A tombstone for the Union.
</p>
<p class="para"><i>‘Caim. How will we go on from here? We have no more reason to fight other than for the sake of battle itself. Or, perhaps, you will save those humans left tarnished to cling to the ruins of this broken city. They have nothing left to them but to run in misery. Do you plan to save them?’</i></p>
<p class="para">Since the incident that had occurred in that fortress, Caim had lost the only other person that believed in him. Now, all that was left to him was the dragon and his own life. The lonely soul of Caim, who had continuously and so <i>desperately</i> sought out some connection with others, had reached the depths of despair. All that remained to move him was that power, a power that turned that deep-seated despair into unbridled rage. He would <i><u>live</u></i>.</p>
<p class="para">Caim’s will to cut down those grey beasts asserted itself with fierce vigour.</p>
<p class="para">Half astonished and half impressed with that answer, the dragon ascended to the sky once more and realigned its altitude downwards. Three Grotesqueries rushed in for attack just as the winds knocked it off course, and the dragon turned its head to avoid them. The distant, infantish cries of the Grotesqueries having missed their would-be prey could be heard from behind the dragon’s back.</p>
<p class="para">...That man truly wouldn’t hesitate to fight those things, would he?</p>
<p class="para"><i>‘Then this is our chance. Let us go forth and save the soldiers of the Union!’</i></p>
<p class="para">Once again, it realigned itself down towards the grounds of the Imperial Capital. A group of Union soldiers were densely packed into a centre square where four streets had converged. About fifty to sixty different soldiers had gathered, five Grotesqueries surrounding them from the sides.</p>
<p class="para"><i>‘The Hierarch and that hermit are also trapped in a similar position. We must hurry!’</i></p>
<p class="para">The dragon swooped back up and hurried across the Imperial city, yet was taken with unpleasant surprise as it spewed flames towards the two or three Grotesqueries that approached—the flames merely fell null and extinguished with a light stroke against the grey skin.</p>
<p class="para"><i>‘My flames, they are to no avail! Are these creatures not of this world!?’
    <br>“What could they be made of…!? Are… Are they not alive like we are?”
    <br>Seere cried.
    <br>‘Such a thing is beyond even my own knowledge. Theirs may be an existence powerful enough that the mere definition of ‘living’ and ‘dead’ are not enough!’</i></p>
<p class="para">The dragon was quick to abandon the fight with the grey creatures, slipping between them like a gust of wind, and continued its flight at a lower altitude.</p>
<p class="para">Caim’s body was shaking with excitement. The stench, the gust of wind that batted against his skin and hair, the grey infants that could devour him the moment he let his guard down… The Grotesqueries were still increasing in number. As the situation grew all the more dire, the madman within Caim was caught aflame.</p>
<p class="para">In the meantime, a sense of unease had washed itself over the dragon.
    <br>Whenever that sense of bloodlust burst within him, they always found themselves landed in a critical situation. The mentality of the humans who had formed a pact, or rather, the alignment with that mentality — the fact that the dragon itself found the urge to fight them welling up within it, as well—caused it to get lost with unease. The dragon, who should have remained completely oblivious to such meaningless expressions of things like “Passion”, now felt itself possessed within its sweetness.
</p>
<p class="para">As the debris-filled streets approached, a powerful roar left the dragon. It dug into one of the Grotesqueries with its claws bared. At the same time, Caim held onto Seere and jumped down onto the street. Both cheers and screams rose from the soldiers, and immediately they all rushed towards the two.</p>
<p class="para">Meanwhile, the dragon tangled with a Grotesquery in the sky; twisting and turning within their grapple in an uneven, ball-like state. The back of the dragon crashed into a nearby building, crushing the wall behind it—the three-story building was left nearly half destroyed. Chalky debris fell down below, crushing the head of a soldier unable to escape. Blood splattered as the body was ground into the earth.</p>
<p class="para">The fight continued, the dragon’s bones smashed further into the crumbling building. Each push brought more rubble and debris left flying out, leaving the soldiers below to scream and flee. A Grotesquery below reached out to the soldier’s half-buried body and quickly threw it in its mouth, blood and entrails dripping from the sides. The dragon attempted once again to attack with its flames, but just as before, it vanished against the same grey skin.</p>
<p class="para">Caim lowered Seere onto the ground and drew his sword, looking with bloodshot fury around the surrounding grey infants.</p>
<p class="para">And without hesitation, he charged.</p>
<p class="para">For a moment, a glow came from his left hand. A magic flame exploded against the infant’s skin, but just like the dragon’s flames, it disappeared in vain. The Grotesquery tilted its head, sniffing around its surroundings as if nothing had even happened.</p>
<p class="para">A look of impatience twisted his expression. Caim jumped, and slashed his sword at the centre of its face. Instead, the blow only bounced off the elastic skin, causing him to fall down on his back in the street. Pupiless eyes stared blankly at Caim, and abruptly it slammed down on him with its right hand.
    <br>Caim’s body was blown sideways and rolled roughly against the ground, leaving marks across the road. The sound of a dragon’s roar met his ears.
</p>
<p class="para">Everyone’s head shot over at once—the grey Grotesquery, clinging to the dragon's shoulder, bit cruelly down on the base of its wing.</p>
<p class="para"><i>‘Hear me well, all of you! Not even I can stand against these beasts. Run away from here! Take refuge wherever you can!’</i></p>
<p class="para">All faces turned pale hearing the dragon’s declaration of defeat.
    <br>Their only hope.
</p>
<p class="para">More and more Grotesqueries flew in and swarmed around as the soldiers, no longer clothed in their armour and gripping their swords with trembling hands, looked on helplessly. Seere pushed his way through the shaken and perturbed crowd in search of Leonard.</p>
<p class="para">“Leonard!” Seere called, “It’s me! I’m still alive, just like I promised! Where are you…? Leonard!!”
    <br>Among all the chaos, he caught sight of a familiar beige cloak.
</p>
<p class="para">“Leonard!” Cried Seere.
    <br>“Seere…!” Leonard answered.
    <br>The two approached each other and shared a tight hug.
</p>
<p class="para">“Seere, you have returned alive and well… Well done…” Leonard placed his hand on Seere’s head. Seere clasped onto the large hand with both of his own.
    <br>“I tried my best, Leonard. I tried as hard as I could… But Manah, I couldn’t save her. It’s my fault that she… It’s all my fault…” Seere’s voice softened.
    <br>“What is…?” Leonard asked. “...By the Gods. The cause of this situation… It was your sister?”
    <br>“...I… Had asked Golem to kill Manah.” Seere clung to Leonard’s waist. “I won’t ever be forgiven, Leonard. Even if Aadah said I was, I’m no good. It’s all my fault that the world is destroyed… But, I don’t want to live through this forever and not grow old!”
    <br>“Seere…” Leonard shook his head. “Whatever may have occurred between you and your sister, I cannot know. But, what must be forgiven and what must not be is not in our hands to decide. It unmistakably only lies on how you choose to live your life from here. I am <i>happy</i> to see you again. That alone is what truly matters. Please… Do not ever forget that.”
</p>
<p class="para">With a hum of agreement, Seere buried his face into Leonard’s waist.
    <br>Leonard stiffened. His face was visibly dyed red.
    <br><i>‘Yoohoo~! Hey, you two! Everyone is dying and fighting with their lives out here, and you’re getting hard in all the wrong places! You’re both living in a completely different world! Helloooo~! Seriously! Oi! The situation! What the hell do you think you’re doing!? Hey! Old bastard!’</i> The faerie zipped around the two at tremendous speed.
</p>
<p class="para">“Caim! You must hurry here at once, mere swords are not enough!”
    <br>Verdelet cried. From some fair distance away, Caim was surrounded by the floating Grotesqueries. Seere could see Caim glaring at Verdelet, his eyes filled with a boiling hatred.
</p>
<p class="para">The large hand that had been holding Seere pulled away.
    <br>“Hierarch…” Leonard began, “It is thanks to you that I have been able to see Seere again. Thank you.”
    <br>“I see... For that I am glad, Leonard. But if we do not soon escape from this land of death, everything will be…”
    <br><i>“That</i> is why I have decided. Here is where I will—” A smile grew across Leonard’s face. It was a deep-seated, lascivious smile that Seere had never seen worn on such a stern and fierce man.
</p>
<p class="para">“What…?” Seere stepped away. “W… What is it? Leonard…?”
    <br>“More… Seere...” Leonard rubbed his thumb over his face. “More of your voice. So that I may carry that sound with me to the afterlife.” Leonard smiled once more and spoke to Seere, “Be safe, Seere. Please, make certain that you will survive… I am glad to have met you. Without even a moment’s hesitation, I would gladly give up my life for you.”
</p>
<p class="para">Many of the Grotesqueries no longer crawled on all fours. With toddling steps, they rushed over on two legs instead.
    <br>“A… A-Are they… Are they growing…!?” Verdelet yelled out in terror. “The image of the creeping Grotesqueries will haunt my mind forever!”
    <br><i>‘What are you fools doing!? Hurry and run away from here!’ When the dragon finally shook off the Grotesquery, it remained low on the ground and let out a cry.</i>
</p>
<p class="para">“Seere, you mustn’t be afraid. Go. Use me in your path.” Leonard said, his cheeks flushed the colour of a rose. “Use me- Ah… Please, go!”
    <br>“No⸺!!” Seere stuttered.
    <br>“Go now, and do not complain! You all must go! I shall keep them at bay here.” Leonard turned away as he yelled, holding his iron whip at the ready.
</p>
<p class="para"><i>‘Idiot! What do you think you’re doing staying by yourself, you ogling old brother!? Did your masochistic instincts catch fire~? You don’t really plan to die here, do you?’</i> The faerie asked, an unusually anxious look crossing it’s features. Leonard didn’t answer.</p>
<p class="para"><i>“Waaaaaaaaah!”
    <br>“Help meeeeee!”</i>
</p>
<p class="para">The sound of screams pierced the air from the distance. A group of three soldiers snatched by the Grotesqueries were tossed violently through the air. Verdelet began to slowly back away.</p>
<p class="para">“Everyone, everyone, everyone…!” He gasped, “Quickly, follow me!”
    <br>Verdelet hurried to the nearest point that the enemies had thinned, the panicking soldiers all the more eager to follow.
</p>
<p class="para"><i>‘Hey, are you really stopping to think this through!? Seere said so too! This isn’t really the place to start thinking about ending it now, don’t you think?’</i></p>
<p class="para">Caim picked up Seere, who stood frozen in place, and started to run.</p>
<p class="para">“Caim! Leonard is going to die! <i>He’s going to die!!</i>” Seere’s limbs thrashed as he shouted desperately upwards.
<br>“Caim, Seere, please!” Leonard lowered his head. Without a word, Caim nodded, and with Seere under his arm, began to run once more.</p>
<p class="para">Leonard slammed the iron whip into the grey legs of the Grotesquery that attempted to chase in pursuit of Caim’s movements.
    <br>“Huagh!” The weapon is easily knocked back—
    <br>“Hahh!” Leonard yelled as he hit another of the Grotesqueries.
    <br>“Kgh-!” The weapon was knocked back once again.
<i>    <br>‘See? You don’t stand a chance against those monsters! Not one! I don’t see why you don’t just pull back now while you still have your skin—
    <br>helloooo!? Don’t you see? You’re attracting their attention!!’</i>
</p>
<p class="para">Dodging the Grotesqueries’ side-striking arms and rolling over the gravel and discarded rubble, Leonard got back up. A faint smile floated across his features.</p>
<p class="para">“They are gathering here... Before long, there should be enough. Please, there is a final task which I have for you—in consideration of our cursed ends.” Leonard suddenly snatched the hovering faerie. “Now, soon…!”
    <br><i>‘Wah-! What the hell has gotten into you!? You always looked upon your enemies with fear!’</i>
    <br>Leonard’s response of a laugh was mellow.
    <br>“I have been awakened. Now is the time that I die along with my hunger.
    <br>With this desire as my testimony, I have become my one, true self⸺”
</p>
<p class="para">With the sight of the man and his faerie before them, the Grotesqueries began to surround Leonard in examination of the happening spectacle.
    <br>Over ten had already gathered. Leonard opened the blind eyes marked by his pact. One of the Grotesqueries kicked him away, blowing him back five, <i>six</i> metres rolling in the street. The iron whip flew carelessly beyond the enemies’ encirclement.
</p>
<p class="para">Yet, the hand which held the faerie never let go.</p>
<p class="para"><i>‘You’ve gone mad! Ugh! Let me go! Damn you, let me go!!’</i>
<br>With both hands, Leonard grabbed onto the faerie and knelt into a praying position. The blow had crushed his entire face, leaving one marked eye nearly gouged out from its socket. His shoulders were left broken and disjointed, the white broken bones protruding from the skin.</p>
<p class="para">“Your… Magic… We shall take them with us to the afterlife. By using the power of all of my desire, you…”</p>
<p class="para">The faerie continued to struggle in reluctance, but Leonard’s power continued to flow into its body. Leonard’s dark desires poured down like a waterfall, and the faerie’s small body began to swell as if on the verge of exploding. All the grey Grotesqueries leapt in for attack.</p>
<p class="line"></p>
<p class="para">A loud explosion was heard in the distance.
    <br>From Seere’s heart, all sign of Leonard had suddenly cut off.
</p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>3</strong></p>
<p class="para">Caim, Seere, Verdelet, and the remaining soldiers that followed had managed to escape into a five-story building, barricading themselves on the top floor. The entrance stood guarded by Seere’s Golem. The gloomy room shook violently from the Grotesqueries that surged from outside.
    <br>Originally, it started with a faint earthquake. But, gradually, the very earth itself began to rumble and crack, their room as well starting to drop rubble and dust here and there.
</p>
<p class="para">Verdelet let out a cry with a panicked look.
    <br>“After all this… After all this, can there be anything more!?”
</p>
<p class="para">As he turned to look out the window, his expression froze, twitched, and then fell as blank and frozen as a mask’s.</p>
<p class="para">The intricately crafted mosaic tiles on the wall flew off, scattering mercilessly across the floor. Everyone’s gaze was frozen on the window.</p>
<p class="para">The black hole in the sky had completely swallowed up all the black clouds, and so the world had become filled with the faint light of dawn all the way to its horizon. The red light, once visible from the cracks of those dark clouds, had disappeared completely. In their stead, the black hole looked to be swallowing even itself, its size growing smaller and smaller.
    <br>What happened instead was a change of great nature.
</p>
<p class="para">Because of the earthquake, the mountains that surrounded the Imperial city had all changed shape—but they were no ordinary movements. The terrain wriggled and writhed as if it were a living creature. A large, grey mountain began to rise from the greyish-green earth surrounding the Imperial Capital. That… <i>thing</i> was as large as a mountain itself. And no small mountain, either. <i>Huge</i>. More mountains grew up from the ground.
<br>Grey mountains. Mountains the same colour as the Grotesqueries that filled the Imperial city.</p>
<p class="para">The giant mountain-<i>like</i> form had heads and limbs.
<br>Though the grey babies had been of an indeterminate sex, it was in something facing upwards that pointed clearly to this… Being a woman.
<br>Those giant peaks—they were it’s womb. The giant before them looked almost exactly like a pregnant woman lying on her back, except now, it’s stomach had been bloated to an incredible height.</p>
<p class="para">The surviving soldiers who had packed the room were already left in a state of shock following the constant cataclysms, and could only stiffly stare at the sight of the gigantic, grey pregnant woman as if they were statues.
    <br>“......That monster over there… It looks so <i>scary…</i>” Seere said, both sorrow and contempt lining his tone.
    <br>“There’s a lot of time filling up inside it. It’s… It’s sucking up all our time!
    <br>That scary monster is trying to give birth to something.”
</p>
<p class="para">Verdelet approached Seere and Caim with a strained expression.
    <br>“Ohh… Seere, this ‘Time’ you speak of—could it be ‘The Great Time’?”
    <br>Caim shot him a dubious look.
</p>
<p class="para">“It is said that ‘The Great Time’ is the eternal force that governs all time, space, and dimensions that exist within this world. All existence as we know it stems from The Great Time—for it was the Goddess seal that kept it protected. The Goddess seal, it is our sole means of tethering this world to our dimension and time… So, could it be that our world still has yet to fall into collapse? If that is true, then… <i>Is the magnitude of chaos we’ve seen so far nothing more than an omen of what’s yet to come?”</i>
<br>“It really is devouring all of time… I know it is. That big scary monster is just like me!”</p>
<p class="para">“...What will happen to the world when it will begin to give birth!? All our time.. All the different times of our world converging together as one…!
    <br><i>What will become of our world then…!?</i>” The last of his words disappeared into a quiet mutter.
</p>
<p class="para"><i>The dragon, who was waiting on the roof, suddenly spoke.‘It would be not only the times of our own world, but <strong>all</strong> times. All of space, all dimensions… Everything connected as one and destroyed as one. This is not the end of Midgard; but all worlds headed towards their end in a miserable blaze.’</i></p>
<p class="para">Seere’s head tilted downwards towards the ladybug-sized mole on his wrist.
    <br>“...It’s because of me that Manah died. That Leonard died, too… Even Aadah. I… I don’t want it to be my fault anymore! That everyone dies… I have to make things right!”
    <br>“What are you saying…?” Verdelet’s voice came out a quiet croak.
    <br>Seere gave a firm nod.
    <br>“Yes, I can do it. If my own time is frozen in place, then I should be able to catch the flow of time! …Miss dragon, I want to ask you something.
    <br>Please. My last request… Please, take me over there!”
    <br><i>‘Do you know what that means, child? You alone will stand as the dam that blocks the torrent of The Great Time. If you should take on this task, you will be forced to fight alone for all eternity!’</i>
</p>
<p class="para">Seere patted the bag that hung from around his neck.
    <br>“I’ll be alright. I’ll try my best!”
    <br>“Foolishness! There is nothing that can be done with a child alone!”
    <br>Verdelet exclaimed. He held his head in his hands. “Ahh, Ye Gods… What are we to do……”
</p>
<p class="para"><i>‘Verdelet… It is unwise to make prayers with words filled with mould. We have come far to save you, and come further yet to ensure the survival of all species. From here on exists a world where only those who live by their own power will be permitted to survive. If all you can do is speak meaningless nonsense and cry out towards the heavens, then it is better that you leave now and be devoured by the Grotesqueries.’</i> “But, I…! We, as humans, are powerless! We cannot do anything, we do know know anything… But a child, speaking such things… He mustn’t continue any further! His mind is still young, and does not understand. An eternity, forever trapped alone…! Even more, is it <i>truly</i> possible for a lone child to act as the sole barrier for The Great Time?”
<br><i>‘And was it not a lone woman who was forced to carry its burden all this time? Is there truly no other choice but to sit in idle disturbance when comes the death of a Goddess? …Hmph. Is your place as Hierarch truly nothing more than that of the Goddess’ caretaker?’</i> The dragon spoke sarcastically.</p>
<p class="para">As if unable to stand it anymore, Caim leapt out from the crowd and flung his fist towards Verdelet, kicking his staggering form in the stomach even more. Yellow bile overflowed from the Hierarch’s mouth. Between coughs, Verdelet struggled to speak.</p>
<p class="para">“C… Caim… Do you resent me… Because of Furiae… Cough! … The Goddess? I was merely trying to fulfil my duties… Please… If you plan to use that child as a substitute for that barrier… Then you, too, are no different than we priests…! …No. To use a child, with no true grasp of this situation…
    <br>It is something far more malicious indeed…”
    <br>Rage flared within Caim’s eyes. Verdelet was grabbed by the collar. With no energy left to stop them, the soldiers merely watched on with tired eyes.
</p>
<p class="para"><i>‘The Goddess had never wished to become the Goddess. Yet now, this child has made the decision for himself. The scale of what is being dealt with here is no matter of age! Compared to me, you, Hierarch, are nothing more than a child yourself.’</i>
<br>Verdelet curled up on the floor and didn’t move. Before long, his body began to tremble and burst into laughter.
<br>“But what would you know…? If I had not met all of you, then the Goddess would not have ended her life by her own hands! That you dragons are the most powerful breed in the world is indeed laughable. You are no more than a superficial craft of parchment when set before the tides of fate!”</p>
<p class="para">The dragon’s response was cold in the face of Verdelet’s cries.
    <br><i>‘No matter what cries may come of such a pathetic human being, it is no concern of mine. Caim, hurry and take the child. We must try with all our might. Let us make our way past this simpering dog.’</i>
</p>
<p class="para">The earth began to shake again, and cracks ran up through the walls. Seere nodded.
<i>    <br>“Right! Let’s go, quickly! If we don’t hurry, that monster will give birth.”
    <br>‘I will clear the path before us. Hurry! Go out onto the roof!’</i>
</p>
<p class="para">Caim sprinted up the stairs. Verdelet was left in the care of the soldiers, foam dripping from his mouth as he stared up at Seere as if in a daze.</p>
<p class="para">Seere gave a single nod, and followed behind Caim up the stairs. By the time they had reached the roof, the wind had picked up. The rumbling of the Earth became more and more violent; a great number of cracks ran through the roof to the extent that it seemed that if they stepped in the wrong place, they would fall to the floor below. Seere, Caim, and the red dragon could see the grey, stone-like woman in the distance. Her stomach swelled like a balloon from her lower abdomen to the top of her stomach, and there was something odd about the silhouette of the pregnant woman. Though the large, grey body lay completely still, the rumbling and shaking of the Earth spread out completely from where she laid.</p>
<p class="para">The dragon hovered near the roof, drawing closer and lowering itself so it was easier to get on. Seere could hear Golem fighting desperately from down below.
    <br><i>‘Jump on!</i> The Queen Beast lies ahead.’
    <br>“Wait!”
</p>
<p class="para">Seere ran frantically to the edge of the roof, grabbed onto its railing, and peered down to where the half-destroyed Golem was fighting against the Grotesqueries. With each attack of the giant, grey infants, large pieces of debris broke and fell from the Golem’s large husk of a body.</p>
<p class="para">“Golem, thank you!” Seere called. “I’m going to be going away now… For everything until now… Thank you.”</p>
<p class="para"><i>‘Grooooah… Se… ere…’</i></p>
<p class="para">Golem’s emerald eyes looked up towards Seere as it began to mutter something, but it was struck once more by the Grotesqueries’ body and crashed into the building. It shook violently, now beginning to stilt off to the side.</p>
<p class="para"><i>‘Hurry, child! The building will soon collapse!’</i>
<br>Swallowing the lump in his throat, Seere turned and parted ways from the railing. He ran towards the dragon, picked up by Caim from behind seated atop its back. After gaining altitude, the dragon sped up at once towards the grey woman.</p>
<p class="para"><i>‘Seere… Is it because you feel responsible for your sister’s death that you do this now?’</i>
<br>“This… <i>All</i> of this… Is my fault. If I had done better at protecting Manah, the world wouldn’t have become like this.” Seere shook his head, tears welling up within his eyes.
<br><i>‘The inner workings of the Empire run deep. Even if you had not stood out in the eyes of the Gods, there would have come a different Chosen Child, and fate would have borne you and your sister into a different home. Indeed, it is only by looking after their own selves that the strong-willed can survive. Among all, young children as yourself. Let your mind rest at ease.’</i>
<br>“But—if I could even have saved Manah……”</p>
<p class="para">The dragon said nothing more. The hole in the sky continued to expand, and the world below grew enveloped in a darkness like night. Within its depths lay thousands of writhing Grotesqueries.</p>
<p class="para">The dragon spread its wings into the darkness, and glided further into the night towards the Queen Beast.</p>
<p class="para"><i>‘What a deplorable being. That figure worn by the beast is no different than that of a human being’s!’</i></p>
<p class="para">The Grotesqueries charged one after another, the dragon swerving and dodging their teeth in its continued flight onwards. A foul stench, like a heap of rotted meat, assaulted their senses. Both Caim and Seere grimaced. A set of teeth grazed its wings, and flames spewed from the dragon’s throat. Directly hit by the fire, a Grotesquery let out a soft cry and retreated back.</p>
<p class="para">“Wow! It was only a while ago that your flames did no good, miss dragon, but you’ve already gotten so much stronger!” Seere let out an excited cheer as if it were means to clap his hands in applause.
    <br><i>‘Even if my flames have grown strong, there is another threat we must deal with. It is the possibility that my magic may no longer be welcome within this realm. If the dimensional barrier between worlds has truly already begun to break, then there lies the chance that the very substance of these creatures is already invading our own world. We must hurry!’</i>
    <br>The stone grey woman approaches. Above her stomach floated a suffocating number of smaller Grotesqueries. Slipping through bared claws and teeth, the dragon aimed straight for the monster’s stomach. Gradually, the large, circular mass of stretched skin drew near.
</p>
<p class="para">A roar of pain suddenly left the dragon. On each of its strong legs, a Grotesquery clung and bit into them with gaping mouths. With the dragon now slowed, a flock began to swarm around it as it twisted it’s body left and right, more pained roaring escaping into the air. With an exertion of sheer psychical strength, both of the dragon’s legs were twisted and broken apart, and for a moment, it could only fight through the unimaginable pain with a drop in altitude.</p>
<p class="para"><i>‘I am unable to land in my current state. Caim, you and I must continue on in the skies until we meet our end.’</i></p>
<p class="para">The dragon aimed straight for the woman’s stomach, the hard-looking grey skin littered with pattern-like cracks. Pale vessels of blood could be seen pulsating from their current distance. Just as the timeless torrent was about to push it back, the dragon soared strong and pushed back against the overwhelming dimensional shift. Two streaks of blood flowed like a string from the dragon as it struggled through the air. Just as it reached above its stomach, the dragon’s wings spread wide.</p>
<p class="para"><i>‘Now! Jump!!’</i></p>
<p class="para">Seere struggled to bite back the sudden rush of fear as he looked down at the sight of the woman’s vast, cracked stomach. While staring down at that rounded stomach, he was brought back to his last sight of Aadah—that dream the tapir ate that it shouldn’t have. That dream that very well may have belonged to this woman. Seere trembled. Beyond the air that swirled with its foul stench, the sight of that stomach, like a barren land, stretched before him. Frightened, he clutched onto his shoes…</p>
<p class="title"><strong>...And so, the world became filled with life once more.</strong></p>
<p class="para">Seere smiled.</p>
<p class="para">The hand of Caim gently placed itself upon his back. Words spoken without sound.</p>
<p class="para">With a small, quaint look up at him from over his shoulder, Seere gave a tiny nod. His feet kicked hard off the back of the dragon, his body aimed towards the grey belly beneath him. Cutting through the wind, Seere fell, his body met with the tremendous torrent of time flowing into him.
</p>
<p class="para">The inside of his head became a pure white. The faces of Aadah, of Leonard, of that Arioch flashed through his mind — All were people who had been conscripted into a pact. People who loved him in different ways.</p>
<p class="para">In his mind, he held the image that they all jumped off together alongside him.</p>
<p class="para">It seemed as if forever had passed itself by. At the same time, it felt like it had lasted only a moment. As he passed through that time, Seere landed slowly, without any shock as he met the stomach of the Queen Beast.</p>
<p class="para">For reasons unknown to him, Seere had suddenly felt ready to fall asleep. A deep, inexplicable tiredness had brought itself down upon his body, as if there was something that weighed itself down on his eyelids. Seere looked up towards the sky, where the sight of the dragon being attacked by the grey Grotesqueries played out before him.</p>
<p class="para"><i>…Goodbye.</i>
<br>The mutter had melted in his mouth before the word could even be spoken.
<br>And laying upon the vast bed of the grey stomach beneath him, Seere’s eyes shut closed.</p>
<p class="line"></p>
<p class="para">The smell of a thicket carried by the west wind hit his nose. With each breath, it filled his chest. Seere pulled up the cuffs of his trousers, and dipped his bare, pure white feet into the spring water before him. A parade just for him — A group of koi fish swam in the reflection of his own face, swimming left and right in a disorganised clutter, and eventually scattering.
    <br>Even so, he lightly tapped with his foot the lazy koi that wouldn’t swim away. As the soft heel dug into its scaly body, the fish hurried away from the white-coloured weapon of murder that suddenly attacked it. Before he could even take a few steps into the spring, the mud that had accumulated in the bottom of the spring filled up between his toes; a great feeling — the perfect fit.
</p>
<p class="para">The sun overhead shone with an invincible air, touting its strength to its own content as the heat licked, pressed and rubbed the raised tip of his nose below it. Seere was left worn and scorched from the sun’s merciless assault down on all left within its reach. He continued on anyway.</p>
<p class="para">Taking a deep breath, all perception of time had left him.
    <br>Manah stood before the thicket. She went on to speak to Seere.
</p>
<p class="para">“...Seere, you can’t. Mother told us not to go too far.”
    <br>“It’s alright! Today is our birthday. We are older now! That means we can go a little farther than usual!”
</p>
<p class="para">Manah hung her head down low.
    <br>“We can’t… Seere, she’ll hit me.”
</p>
<p class="para">Bruises covered her skin. Hesitantly, Seere extended his hand a bit—but even so, Manah still danced in the sun. A single flower petal caught itself within her sleeve. It had fallen in Manah’s shadow, while she herself had stayed entwined with the rays of light.</p>
<p class="para">Seere stood, watching from afar. While his heart remained full, he stayed at a loss for words. No one—not even he, himself—had noticed it, but on that day, for the first time a single, soft hair had grown from his rounded chin. From it quivered a small, tiny drop of water.</p>
<p class="para">Cold corpses surrounded Manah from where she woke up. The area around her was pitch black. Pushing aside the piled-up bodies of Imperial soldiers, she stood. The night had been so cold, there was no other choice for her but to sleep under those bodies.</p>
<p class="para">She felt extremely hungry. Her head hurt, so much.</p>
<p class="para"><i>Mother finally stopped wanting me. I am not loved. What was the difference between me and Seere? Why am I so sad…?</i></p>
<p class="para"><i>I should have known. I should have known that this would happen someday.</i></p>
<p class="para">A voice echoed from within Manah’s head. It felt as if it were burning.
    <br>Unable to stop the hot feeling that endlessly tormented her mind, Manah smiled as she stood.
</p>
<p class="para">The voice said to her, “Draw not the Watchers.”</p>
<p class="para"><i>Ah, he understood now!</i>
</p>
<p class="para">The realisation dawned on Seere. <i>This</i> is what it meant to become one with ‘The Great Time’. He had become one with all of it. It felt as if he were dreaming.</p>
<p class="para">Seere was Manah, he was Caim, the Goddess, the dragon, he was a ladybug as big as the mole on his wrist, impersonating a golden sandal, sucking it in and spitting it out; like breathing, it all changed from big to small. All things, all objects, creatures, and concepts, were a distortion in space, and space itself eternally shook and trembled, as if preparing to burst at any moment. Each trembling wave, if distinguished from anything else, was called “Time”. Just as an eternity in time was the same as an object that was eternal in itself, all of time became all of everything.</p>
<p class="para">He could see the shadows of crowds, coming and going. It was loud, all indifferent to all around them, and full of different interests. There were tall buildings whose likes he had never seen before, and vehicular machines that ran faster than horses.</p>
<p class="para">…
<br>Caim is crying, clinging to the dragon. <i>‘I have never seen you weep before.’</i>
<br>…
<br>The dragon states its name. <i>‘Angelus. My name is Angelus.’</i>
<br>…
<br>Caim and the dragon are going to kill each other. <i>‘Caim. Our pact ends here.’</i>
<br>...
<br><i>‘Miracles cannot be asked for.’</i> The Goddess, revived with the Seed of Resurrection, is destroying humanity.
<br>…
<br>Seere rests within a giant womb. In a strange place, but rather familiar all the same, the dragon fights against a song.</p>
<p class="para">If he stayed here, with The Great Time, he could go anywhere, anytime—at least, such was the illusion. What sort of illusion could that have been?</p>
<p class="para">The sound of a harpsichord plays. Time ticks away, slowly. It begins to roll.
    <br>It moves, now, gathering in a rush, enclosing around the surroundings, and soaring high into the sky. Hundreds of millions of people ride this dragon called time and gradually, heavily roll around within the empty space.
</p>
<p class="para">“Will you forgive me now?"
    <br>Embraced in the silence of the pitch black darkness, where there lay neither affirmation nor denial, Seere spoke those words and went to sleep for a long, long time.
</p>
<p class="line"></p>
<p class="para">A black substance began to gather around the woman. Before long, it completely enveloped the giant, forming a giant, funnel-shaped black tower that extended upwards to the sky. One by one, it drew in the grey Grotesqueries and gradually sucked them into it.</p>
<p class="para">The dragon raged desperately. The flesh of its abdomen had been gouged out, and from their base, both legs had been ripped off. The left wing seemed to be torn in half and fell off. Caim, whose life had been tied with the dragon’s, was short on breath—death grew more and more imminent with each passing moment.</p>
<p class="para">Both had lost themselves completely in the pain and excitement.</p>
<p class="para"><i>‘Burn them all to ash!’</i>
</p>
<p class="para">The dragon exploded with fury and flew about, spewing violet flames. They engulfed everyone in the Imperial Capital—not only the Grotesqueries, but the humans who were trying to escape. The flame grew large and scorched even the simpering dog of a priest.</p>
<p class="para">A violet flame, burning even the stones that couldn’t have. They could see the humans as they fled through the labyrinthine streets of the burning Imperial city. The twin towers in the city’s centre had turned into large, violently burning torches. It wasn’t only the buildings of the Imperial Capital that burned—even the Grotesqueries had been enveloped in crimson flames, and stagnant black smoke billowed up from the bodies. The dragon spewed its flames up into the shapeless sky, and shot them out towards distant mountains that it couldn’t have reached.</p>
<p class="para">They hadn’t even realised it until that moment.</p>
<p class="para">At that time, the surviving soldiers from the Blue Mountains might have had their calling to this place in search of relief, pleasure, and the sweetness of revenge.</p>
<p class="para">The remnants of this world were burned together with those humans.
    <br>Whether it was mere instinct on behalf of the dragon or Caim’s intense desire for revenge, it didn’t matter—at this point, they had both become one and the same. Fire met fire again, tearing and encircling pathways alongside the circled form of the ruined city and spreading even further beyond. In their heart, an embryo of fire raged on in rapture.
</p>
<p class="para">Unseen, unheard, unsmelled, and unknowable to all, at ten thousand years past, the proud and haughty dragon had grown into the indiscriminate embodiment of pure rage.</p>
<p class="para">…But how long would it last?</p>
<p class="para">Eventually, the exhausted dragon hovered idly in the air and looked down upon the burning Imperial Capital. The Grotesqueries that had not been absorbed within the growing black substance were already closing in from a distance. <i>‘Yours truly is a cursed soul. Even I have been completely sullied with such wretchedness, cruelty and stupidity. But it is no matter now… This is our true end. I have breathed the last of my flames.’</i></p>
<p class="para">The readings of the dragon’s heart could not be made clear.
    <br><i>‘What is man… The answer shall never be made known. Their time has been too short to know the nature of such questions now…’</i>
    <br>Caim gently caressed his hand over the dragon’s head.
</p>
<p class="para"><i>‘...Caim. Your soul, made dulled and muted by the world… There is a final question that I must ask you. A person who one wishes to stay beside. That one wishes to protect. To feel their warmth. If for their sake, burning one’s life away to the very core of their soul is made unimportant… Who one desires to become one with down to the very marrow of their bones. In human words, how would you describe such feelings?’</i></p>
<p class="para">Caim answered the dragon’s question with his heart.</p>
<p class="para"><i>‘...Then I am that to you. Caim… For as vexing as it may be, you have my deepest gratitude; this is the first that I have experienced such feelings. Now, we face what is the true and final death knell…’</i></p>
<p class="para">With its wings spread and its head extended high in the air, the dragon let out a roar. Hundreds of Grotesqueries crowded together.</p>
<p class="para"><i>‘Farewell. I wonder… Could I have possibly thought wrong about you? Are you truly no more… Than just a fool…?’</i></p>
<p class="para">All at once the Grotesqueries leapt in on Caim and the dragon. They were reduced to no more than a huge, grey sphere that floated in the middle of the air, wriggling eerily.</p>
<p class="para">And so the giant mass flowed slowly towards the black tower of time, created by a weakling in an eternal solitude. ​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-1/magnitude-negative/heaven">Previous Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-1/magnitude-negative/epilogue">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-1/magnitude-negative">Back</a></p>
