---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Woman</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }


</style>

<p style="margin-top: 1cm; font-size: 300%;"><strong>Magnitude Negative: Woman</strong></p>
<img src="https://i.imgur.com/5HoskKm.jpeg">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/barnabism"><u>Barnabism and Bri</u></a></p>
<p class="para"><i>Once the iron in the middle is changed, two things will entrust each other eternal</i></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>1</strong></p>
<p class="line"></p>
<p class="para">The sound of war drums shook the frame of the window, and an earth-shaking war cry was heard throughout the room. As the window opened, a distant explosion sounded in time with the wind. A thin, lace curtain touched the tip of her nose, swaying chestnut-coloured hair — the pleasant scent of burning incense mixed together with the odoured stench of the battlefield, and the mysterious smell drifted faintly through the windowsill.</p>
<p class="para"><i>Furiae — “The Goddess of the Seal”.</i></p>
<p class="para">Her hand had disappeared for a moment, swallowed by the light. Furiae looked away and glanced back over to her dimly lit room. Her room — an isolated, stone-built room, was boasted at the pinnacle of the tallest spire of the Castle of the Goddess. Inside the room sat a table with scripture laid upon it, a modest wardrobe riddled with cracks, and a bed with smooth, stretched sheets. Aside from the few chairs which sat in scattered disarray, the near-circular room with a radius of no more than four metres had no other furniture or personality. Aside from Furiae, there were three other people inside it.</p>
<p class="para">Beside Furiae, a warrior-like young man pulled out a chair and sat down by the window. In the room alongside them, there were also the two unfortunate ladies-in-waiting who happened to be caught up in the conflict as well. One, a fifteen year-old girl covered in freckles, and the other, a middle-aged woman with a plump body that reminded Furiae of a nanny in her royal palace days. Once she became the Goddess of the Seal, she was prohibited from entering into any personal relationship with another person — these maids were merely a one-week employment contract. Furiae didn't know how they happened to be hired by the priests, nor what kind of personality they had.</p>
<p class="para">Even given their circumstances, the two continued to take care of Furiae. Still — neither seemed to have had the time to think about their appearance. Both wore a white uniform given to all maids of the Goddess, and their collars were somewhat darkened. On the skin around their necks, the makeup powder that they failed to remove had hardened, cracked, and created a labyrinth upon their skin.</p>
<p class="para">It seemed that the younger woman was listening to her elder. A story about her lover in her hometown. Worries about getting sick. Worries about getting hurt. Worries about the future. Worries about cheating. A castle made of worries. Furiae carved a smile into her kind face. She looked down at the cobbled floor, scratching it with the toes of her shoes.</p>
<p class="para">Someone placed a hand to her back — the young man sitting beside her was looking up at Furiae. His eyes dazzled as the light shone down on his one cheek, the vivid, beautiful red of his hair brushed back with the teeth of a comb. Because it was a battlefield, a few strands fell down from his forehead, and his body, clad in rugged armour, smelled distinctly like that of a man’s.</p>
<p class="para">"It will be alright, Furiae. No matter what, I will protect you."</p>
<p class="para">Inuart.</p>
<p class="para">It was a natural instinctive reaction between lovers that had been engaged for so many years. Without any particular sentiment, Furiae's hand reflexively picked up that hand and wrapped her own around it. When she touched it, the touch of the fingertips of the man who was once her fiancé until a few years ago felt especially nostalgic.</p>
<p class="para">Inuart's beautiful voice once captivated every woman in the royal court; the tenor accompanied by the exquisite tone of the harp played by those delicate fingers. It was as if the tune had some mysterious hold over its listeners… One that made the listener's hips quiver. There was one time that Furiae had seen her cousin's body drenched in sweat as she listened to Inuart's song, and the next day, she had pleaded to Inuart not to sing in public — much to the embarrassment of her fiancé.</p>
<p class="para">But now, such feelings as those were all in the past. Any woman who had been chosen by the Mark was duty-bound to fulfil her role as the Goddess of the Seal, the order of the world. There remained one thing that was certain, though: The world no longer had the mind nor the body to so cruelly separate a man and a woman.</p>
<p class="para">Even so, the Mark had appeared in a sad part that caused her to both weep and laugh. In response to the lust of the body, the genital mark emitted severe pain. Where did emotion end and sexual impulse begin? There were no clearly defined boundaries when it came to love. Furiae was in pain, constant but dull — even now it would pierce the inside of her body.</p>
<p class="para">Her homeland, the Kingdom of Caerleon, was attacked by the Empire. The king and his wife were killed. It was around the time when her older brother Caim, the crown prince, ran away from the devastated country for revenge, and Furiae left to follow him that this feeling of oscillation began to occur.</p>
<p class="para">Furiae couldn't believe that this was the stigmata everyone was talking about. She felt, without a doubt, that it was a punishment for some crime she had committed. She had left her fiancé behind. She had abandoned her nation. Furiae followed her brother at her own will. In return, she lost her being a human and being a living creature. Her abdomen rang with pain.</p>
<p class="para">Realising that Inuart's fingers were crawling up to her wrists, Furiae slowly untangled her hands from his. It might have been he who really wanted comfort. Having had nowhere to go, Inuart’s fingers swam in the air for a while, found the harp on his waist, and started plucking.</p>
<p class="para">With the tone of the harp set to her back, Furiae once again looked out the window. For generations of Goddesses of the Seal, the world seen from this decorative window was, in other words, their only world. They had seen soaring mountain ranges and the splashes of dark green rivers all through that eye. But now, the familiar scenery was littered with a countless number of Imperial soldiers. Like ants made of metal, full of iron, gunpowder, blood, and other such things.</p>
<p class="para">From that window, they could only be seen as lumps of silver crawling on the ground, but it seemed to Furiae that she could even see the red blinks of their eyes. Against the leaden sky, the ravens flying from the mountains to the east were circling calmly.</p>
<p class="para">The Goddess' Castle was built on a half-grassland-like plateau bordered on the east by a dense mountain range and the rest by a river. Befitting the rainy season, the rivers were rising and the soil was dark and loose due to the incessant rain. From afar, she had even witnessed a party of Empire soldiers being swallowed up by the muddy water along with the riverbanks collapsing.</p>
<p class="para">…But the soldiers paid it little mind. They only fought, they only killed.</p>
<p class="para">It was an existence that acted according to completely different laws from conventional life. At first, it was thought that they were bandit-style ruffians. An armed group that adhered to some kind of fanatical religion, suddenly appearing and causing destruction. Strange for bandits, looting from these types was rare. They just killed, burned, and abducted others. All that they had in common was their shining red eyes.</p>
<p class="para">Though each lord was forced to deal with it, for each and every one, the destruction of these “Bandits” was nothing more than a fire from an opposite bank and misfortune for others that didn’t concern them.</p>
<p class="para">It was over the last few years, however, that the situation had significantly changed. The Empire’s army had rapidly expanded its power and invented a civilization that no one could have imagined until then, with such technology as flying weapons and huge buildings. Not only that, but they brought with them odd kinds of troops, like sub-humans and sub-dragons, with power that surpassed even that of the humans.</p>
<p class="para">There were also disturbing reports of soldiers seeing former colleagues in the ranks. By these means the Empire's army was rapidly expanding, swallowing the countries that were slow to respond to the fires of war. The kingdom of Caerleon, Furiae's home, was one such case. Furiae never forgot the sight of the black dragon that slaughtered its sovereigns.</p>
<p class="para">It was her brother Caim's birthday. Everything surrounding Furiae was shattered into pieces, and it all started on that bloody celebration. Her beloved brother, Caim, went mad with revenge, and as a mercenary now he covered himself with blood and entrails throughout that silvery sea. It wasn't long after that people started referring to him with awe. And the Empire...</p>
<p class="para">Furiae shuddered. She remembered her brother banging his head on the pavement, covered in blood and cursing the Gods.</p>
<p class="para">The voices of the maids raised from the corner of the room.</p>
<p class="para">Furiae turned to look — the maids, clasping each other's hands, looked away as if they were going to sink into the wall. Furiae followed their frightened gaze to the doorway, her heart pounding.</p>
<p class="para">Through the open window, she heard another explosion, the noise of clamour and sword fighting. A man stood in the dark doorway. Steam seemed to rise from his body. The man, whose whole body was red with blood and viscera, still held the blood-stained sword and spear in his hand. Strange patterns began to form on the stone floor from the blood that dripped from his body.</p>
<p class="para">Even though he was far away, she could feel the heat of his body's temperature. Darkness hung over the doorway, and the man’s expression could not be seen.</p>
<p class="para">"My brother—"</p>
<p class="para">The man steps into the room with a strangely damp, terrifying sound. The smell of blood hit her nose.</p>
<p class="para">"This is the Goddess' chamber. You can’t simply come in here like that..." Inuart groaned as he rose from his chair.</p>
<p class="para">Caim stared at the spear in his hand as if he had noticed it for the first time, and promptly dropped it on the stone floor, as if he had suddenly lost all power. The sound resounded loudly in the small, empty stone room.</p>
<p class="para">Furiae's eyes were locked onto the sword, the spear… Two or three puddles of dark red liquid spread out from both weapons, stained with blood up to the hilt.</p>
<p class="para">"...My apologies."</p>
<p class="para">"Caim—" Furiae staggered over. "Are you hurt?"</p>
<p class="para">Caim shrugged.</p>
<p class="para">"Hurt? My injuries are not serious. This is mostly their blood," he said, lacking any expression. Caim passed by Furiae and walked towards the window. The maids pressed their backs against the wall, gradually increasing their distance. Caim didn't seem to notice, and stared out at the battlefield in silence. Inuart stood up from his chair and stood next to him.</p>
<p class="para">"How are you, Caim? Have any reinforcements come?"</p>
<p class="para">"Nowhere to be seen. It took a week to reach the central unit with the Hierarch from where we are here. They’ve only begun to advance back now. But even if they were to turn back, by what time would they reach this place? I've closed the castle gates completely for now, but it is only a matter of time. This castle is dead. It will fall."</p>
<p class="para">Furiae, left in the middle of the room, stared at their backs. Inuart suddenly turned around to met her eyes — a worried expression grew on his face.</p>
<p class="para">Furiae understood; it wasn’t that Inuart was afraid of losing his own life. For Inuart, the thought of losing her a second time was terrifying. Furiae avoided her fiancé's line of sight and looked away at the distant sky.</p>
<p class="para">"The Union's forces are a mess, after all. I can't imagine what would happen if I met Hierarch Verdelet," said Caim.</p>
<p class="para">The Hierarch Verdelet — he was the only man Furiae was allowed to see until these two came.</p>
<p class="para"><i>(But if such a person as he can be thought of as a human being… He is dead and alive, just like the Goddess Furiae. A bloody stone statue swore to protect a living temple.)</i></p>
<p class="para">Furiae thought back to Verdelet's white wax-coloured expressionless face.</p>
<p class="para">"...The Seal of the Desert…? …Damn Empire, how persistent!" Inuart spat out.</p>
<p class="para">In order to protect the Seal of the Desert from the imperial army's onslaught, Verdelet had taken the Union’s Central Axis Army with him and headed for relief. Taking advantage of their current occupation, the Imperial Army went on to attack the Goddess.</p>
<p class="para">Inuart spoke. "Caim — what are you going to do, then? Are you just waiting here to die?" His voice was mixed with impatience. Caim looked down at the battlefield and remained silent for a while.</p>
<p class="para">"Furiae," Caim said. "Castles are often designed with secret passages to allow their masters to escape." Caim's face twisted with irony. "Since you, too, were there on that day, you should know this well. Surely there must be a way out in this castle too? Of course you heard about such a passage from Verdelet, haven’t you?”</p>
<p class="para">Furiae couldn't answer. She knew what her brother was talking about. She bit her lip. Her throat felt as if it got smaller. She knew.</p>
<p class="para">The older brother stared at his sister.</p>
<p class="para">"You both should run away from here." They couldn't see his face in the backlight. Furiae's throat rang again. “Does a path here exist or does it not…!?”</p>
<p class="para">Inuart's fierce cries could be heard fending off Empire soldiers a distance away. Furiae stared down at the floor and nodded.</p>
<p class="para">"Then you must go there and run! Furiae, get ready now!"</p>
<p class="para">The somewhat resentful glances of the maids were heartbreaking.</p>
<p class="para">……If there was such a thing, why didn't she bring it up sooner?</p>
<p class="para"><i>(I wonder… How long am I fated to keep repeating it all the same? It is just as when I had left the kingdom. Even now, I only continue to weigh my surroundings with a scale. I keep betraying others.)</i></p>
<p class="para">The realisation finally struck. Furiae bit her lip and closed her eyes.</p>
<p class="para">"...I cannot… Just leave everyone behind."</p>
<p class="para">No one heard the small voice that spilled out from those lips.</p>
<p class="para">The maids put their heads together and began to discuss the threat at hand, and the two men talked of matters that had nothing to do with Furiae's own heart.</p>
<p class="para">"Inuart, you're going too. I know you'll put your heart into protecting Furiae in my stead."</p>
<p class="para">"You... Aren't you going, Caim?"</p>
<p class="para">"We cannot leave the other mercenaries behind. I can leave you some time to escape. I will remain."</p>
<p class="para">…It will not be so bad. It is not that he decided we will not see each other again.</p>
<p class="para">Her will to speak was distant. She understood. Her brother would surely come to the same conclusion. Those eyes that stared out at the battlefield would surely shine bright with the joy of revenge.</p>
<p class="para">……Because I am the Goddess of the Seal. I cannot die on my own. No one can live unless I remain to guard the world with this body. What could I have been waiting for? What more could I expect?</p>
<p class="para">Furiae walked towards the window, the sight of Caim's bloodied back striking a chord within her. Like a small hole cracking open the wedge that blocked it, a sharp pain ran through her whole body from her lower abdomen. Kill this woman’s desire. The Mark's spell activates. A voice echoed through her head.</p>
<p class="para">Come, run dry, run dry, turn to a woman made of stone.</p>
<p class="para">It slammed her lower abdomen several times like a clenched fist. Clawing at the air with a struggle, Furiae made way back over to her brother.</p>
<p class="para">"Cai—"</p>
<p class="para">Caim turned around. She fell and clung to his neck.</p>
<p class="para">"Furiae!" cried Inuart. She felt the sweat running down her forehead. Furiae looked into her brother's eyes. She stared at his bloodied face. She felt his rough back on her hands.</p>
<p class="para">"It's alright..." Furiae nodded at her brother's voice. "It is good that Inuart will protect you."</p>
<p class="para">Furiae nodded. A tiny purr left her and she tried to say something, but no words came. Furiae was placed down on a nearby chair so that she could be held. The front of the white, uniform dress worn by the Goddess of the Seal was stained red with blood. Inuart brang over the sheets from the bed, and expressionless, Furiae wrapped them around her. A thin circle of blood rose to the surface. In the background, the maids readied frantically to depart.</p>
<p class="para">Inuart's hands rested on her shoulders. Caim leaned against one wall, folded his arms and closed his eyes.</p>
<p class="para">“The Union’s Central Axis Army led by the Hierarch Verdelet should be heading this way. You should join them," Caim said.</p>
<p class="para">"Another battalion... Just to get caught up in the next battle? I've an idea, Caim: the Elf Village. An area sworn to eternal neutrality. Even the Empire shouldn't be able to get their hands on it."</p>
<p class="para">Caim smiled sardonically. "Neutral zone? Do you really think that the Empire would care of those who follow man-made rules? They are not human."</p>
<p class="para">"They are human, Caim. You have all the understanding of a child. No matter how you look at it, they are human. Make no mistake, there are sub-humans among them. But I believe that I will eventually be able to have a dialogue with them. The Empire would never initiate an attack on an Elf Village. To do so would threaten the lives of all creatures living in Midgard, even the sub-humans."</p>
<p class="para">Caim only shrugged at Inuart's serious tone.</p>
<p class="para">"If a dialogue with them is what you wish, I think you have no choice but to use steel as a language and have a thorough discussion."</p>
<p class="para">"Are you truly asking me to leave Furiae with the army? If I do that, she will only be dragged from battlefield to battlefield. Furiae is weak in both mind and body. I can't stand her having to live like that. I want to give Furiae a quiet life again. I want to make her remember the days when she lived as a woman before she was enshrined as Goddess. That is why I dare to say this to you: Furiae must remain your dear younger sister!"</p>
<p class="para">Caim said nothing and looked over at Furiae. For a moment, she looked back, only to immediately drop her gaze and stare down towards the blood stains on the sheets. Inuart's grasp upon Furiae's shoulder grew stronger. Furiae vaguely looked up at him.</p>
<p class="para">"The truth is, Caim, that I don't care whether Furiae is the Goddess or not. I want her to stay healthy. I just want her to smile. That is all. If she can live peacefully in the Elf Village hidden within the depths of the forest, even her heart will be at peace."</p>
<p class="para">"Inuart..."</p>
<p class="para">Caim was staring up at the ceiling. His expression was slightly contorted.</p>
<p class="para">"Her heart is happy. I truly believe so. But Furiae is the Goddess of the Seal. For us, no matter if she was a younger sister, a childhood friend, or an irreplaceable fiancée for you, it doesn't matter. She is the Goddess of the Seal. You know that very well."</p>
<p class="para">Furiae's heart filled with sorrow. Even if she understood it herself, the meaning of being sentenced like this by her brother was completely different.</p>
<p class="para">"I am—"</p>
<p class="para">"I—"</p>
<p class="para">Inuart and Furiae spoke at the same time and fell silent at the same time.</p>
<p class="para">Caim only shook his head.</p>
<p class="para">"As long as you accept that, do as you please."</p>
<p class="para">"I know. But for me..." Inuart stammered. Caim nodded.</p>
<p class="para">"I know that you think of Furiae first. Furiae doesn't mind it either."</p>
<p class="para">"I...it doesn't matter. I'll leave it to you."</p>
<img src="https://i.imgur.com/5HoskKm.jpeg">
<p class="para">Furiae's words disappeared at the end of his own.</p>
<p class="para">"What are you going to do, Caim?” Inuart asked, “You really don't want to die, do you?"</p>
<p class="para">"In this situation, I don't plan on dying or coming close to anything like it. I'll give my all to survive, no matter what. I should be fine, I won't be killed by those rats. In fact, I will kill every one of them.”</p>
<p class="para">Caim laughed at the reddish-black figure that hadn't even wiped off the blood.</p>
<p class="para">The maids clung to Furiae and began to prepare her for the trip. The faster they left, the more likely they were to survive. Furiae was immobilised, her hands were pulled, her legs were lifted, and she was left to their mercy. It must have been that way from the beginning. Union guards began to gather at the door.</p>
<p class="para">Caim went to address Inuart. "Once it's over, will you let me hear your song?"</p>
<p class="para">"Over... "</p>
<p class="para">"Pay it no mind," Caim waved his hand in annoyance.</p>
<p class="para">"You only had to ask," Inuart smiled. He dragged a chair from the corner of the room and sat down in the centre. His eyes were hollow.</p>
<p class="para">The room filled with silence. He held the harp back on his knees, gently put his hands together and flicked his nails along the strings.</p>
<p class="para">The intro was passionate.</p>
<p class="para"><i>Joiye tristese karmeil dukus, kuam saboil tu bessoin eist ahmor…</i></p>
<p class="para">It was a sonorous tenor, one that echoed throughout the stomachs of everyone in the room.</p>
<p class="para">The eyes of the maids moistened.</p>
<p class="para">Caim leaned against the wall and smiled.</p>
<p class="para">The traces of blood Caim had brought into the room were glossy.</p>
<p class="para">Before he knew it, the spear that was propped up was dripping a streak of blood onto the stone wall.</p>
<p class="para">After finishing her preparations for travel, Furiae slipped out of her golden sandals and stared at the sight before her. She thought about the first time she saw Caim.</p>
<p class="para">She had visited Caim's room, where he was working on his lessons with his tutor — she must have been only four years old at the time. It was the oldest memory in her mind; how her older brother smiled as if he was embarrassed to see his younger sister for the first time</p>
<p class="para">A bee that had entered through the window with her was buzzing around Furiae as she stood by its side with white, bare feet.</p>
<p class="para">From the decorative opening, she looked down at the Castle of the Goddess.</p>
<p class="para">A stone-built Goddess.</p>
<p class="para">Furiae placed her golden sandals on the sill, placing the heels of the sandals firmly together on their sides so that they wouldn't fall. A small good luck charm. With that, when a future Goddess ran dry of her heart and one day wished to end her life, those sandals would jump down from there and take her place instead.</p>
<p class="para">The weather around the castle was very unpredictable, partly because it was at the foot of the mountain. Before the castle gate, the sun broke through the clouds and began to shine down on the soldiers who had set up their places to die. They too were fascinated by Inuart's song and looked up at them with awe.</p>
<p class="para">Like them, the golden sandals too were illuminated by fleeting sunlight.</p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>2</strong></p>
<p class="line"></p>
<p class="para">The ramparts of the Goddess Castle held out for two full days after that. But once it began to crumble, it fell at once.</p>
<p class="para">The remaining soldiers still fought on — locked in the rooms of the castle, all numbers of the Union struggled to put up a last desperate stand. Already the castle had fallen into the hands of the Empire’s soldiers. Emotionlessly they stalked through the castle halls, mopping up the surviving mercenaries as if they were nothing more than dirt.</p>
<p class="para">While Caim and his fellow mercenaries had set up a base in a room on the third floor of the castle for themselves, there were still many other platoons within its walls that continued their fight with no escape. Once he went to their rescue, Caim found himself surrounded by a horde from the Empire; a connecting corridor with a width of about two metres that touched the atrium that continued to the first floor.</p>
<p class="para">"Damn it! Retreat! We’ve reached our limit. Escape to the nearest room!" The soldiers' voices echoed through the atrium.</p>
<p class="para">But even as they spoke, the fire within Caim's heart wasn’t near as quick to die out. On impulse, two more soldiers were cut down, and with a hazy head, he finally processed the words of the earlier voice by the time he had defeated the next.</p>
<p class="para">Caim turned around, grabbed the helmet of the Empire soldier nearby, and thrust his sword into the visor. Though the blood that gushed across his face and clothes was heavy, Caim didn't even care enough to blink. With the fallen soldier grabbed by the arm, Caim began to drag him along as he began his reluctant retreat.</p>
<p class="para">His fellow Union soldiers, turned into shields by Caim, were left exhausted by their desperate defence against the Empire’s relentless assault, and were soon left as nothing more than a pile of unrecognisable corpses scattered across the floor. Even so, Caim felt a near drunken pleasure at the feeling of the flesh trembling through his arms with the lingering scent of life.</p>
<p class="para">Beneath blood-stained eyelids, the gloomy, pleasure-filled eyes laughed more and more. Once the room came into view, Caim casually threw the enemy soldier down to the first floor, kicked down the pursuing soldiers, and ran towards the room where the soldiers were barricading themselves.</p>
<p class="para">"No matter what, we must take to that room if we wish to live!"</p>
<p class="para">A voice cried out from behind the Empire soldiers — a stranded band of mercenaries, fighting with all their remaining strength. The group was struggling to break through from the swarm of Empire soldiers with a desperate charge.</p>
<p class="para">Caim clicked his tongue. He called out to the soldiers in the room.</p>
<p class="para">"Wait a moment longer before closing this place off. I'll get the others now."</p>
<p class="para">As soon as the words had left him, Caim threw himself into the horde of the enemy army.</p>
<p class="para">In a rage did he scatter the enemy soldiers to clear a path. However, the soldiers of the Empire never once felt any fear or exhaustion, and instead, only relentlessly repeated its attacks without expression. Caim’s wounds began to grow, his blood-soaked blade smashing through the Empire’s soldiers from tip to hilt like a saw.</p>
<p class="para">Caim was delirious, brandishing the now blunt sword with both hands and striking at the imperial soldiers that surged in one after another. He entwined the sword with the opposing blade that was swung down and parried it away, kicking down the pursuing soldiers.</p>
<p class="para">"Lord Caim! The strength of the Empire is inhuman!" The mercenaries shouted loudly.</p>
<p class="para">"Don't waste your time shouting! Run! Get into the room!" Caim yelled back.</p>
<p class="para">The mercenaries outside the castle let out a cry. They ran — their retreating backs only met with the cold metals of sword and spear.</p>
<p class="para">Caim swung his sword around and ran after them. The Empire soldiers, like a muddied river, rushed to drive them further back. Even if they had already lost both of their arms, they didn't feel any pain at all, and some even attacked with the limbless torsos of their bodies.</p>
<p class="para">Caim grappled with one soldier of the Empire. During the struggle, the helmet flew off, revealing dark brown hair and red eyes.</p>
<p class="para">"Goddess. Woman. Gods. Goddess of the Seal. Kill," he vaguely muttered.</p>
<p class="para">Caim grabbed the soldier’s hair with one hand, bit off his ear, and drove the steel hilt of his sword into the unflinching man's face.</p>
<p class="para">The ear left in his mouth was spat into the hall.</p>
<p class="para">The lips of the soldier continued to idly open and close, as if continuing to speak, and then slowly, he leaned back and fell down.</p>
<p class="para">In the next moment, Caim was left staggering from a powerful slash into his back. The head of the Empire soldier responsible was crushed as soon as Caim turned to greet him.</p>
<p class="para">But with a loud, sudden noise, his sword snapped in two, leaving the hilt in Caim's hand and the other half flying away. Tossing away the hilt of his now-broken sword, Caim picked up the sword from the fallen Empire soldier's hand and continued his search for more enemies. His bangs drooped low due to the coagulation of blood. A small stream of blood dripped and pulled at the tips.</p>
<p class="para">"Lord Caim! Hurry and take shelter!" He heard a cry and for a moment, lost consciousness.</p>
<p class="para">Somehow, however, Caim managed to pull himself together and quickly burst into the room. The heavy metal door was quickly closed and bolted with a steel bar.</p>
<p class="para">It was a dark room he had found himself in, about seven metres square, and crowded with soldiers. Could it have been the monks’ quarters in the past? Wounded soldiers laid across the bunks, groaning with pain. A third were already dead. The faces of those who survived looked as much.</p>
<p class="para">From outside, the soldiers of the Empire could be heard banging at and trying to break down the iron door. Caim crouched with his sword in his hand, looking up at the ventilation window near the ceiling. Hail rained with the sound of a roar.   </p>
<p class="para">Caim couldn’t feel the wall from behind him as he leaned against it. He couldn't even feel the sword in his hand. Blood was thrown up on the floor as he coughed.</p>
<p class="para"><i>(What am I doing, just sitting there? Stand up. Mutilate them. Crush them. Crush them...)</i></p>
<p class="para">A dark impulse welled up within him. Caim gripped the hilt of his sword, suppressing the inner voice from inside him.</p>
<p class="para">"Thank you very much, Lord Caim. Thanks to you, our lives have been saved."</p>
<p class="para">Caim looked up at the bloody old man with vacant eyes.</p>
<p class="para"><i>Caim looked up at the bloody old man with vacant eyes.</i>Caim nodded, annoyed, and looked down again.<i>(Everyone will die at any rate...)</i></p>
<p class="para">"Lord Caim, I have good news. Reinforcements. Lord Fauny, the neighbouring feudal lord, is having them sent over at once."</p>
<p class="para">"...Their numbers?"</p>
<p class="para">"...About a thousand."</p>
<p class="para">From the inside, Caim laughed. "That's too few. It will just be more needless deaths..."</p>
<p class="para">"But with them, we can plan a retreat! We can gather other surviving soldiers, join reinforcements, and escape. There's no reason to stay here anymore."</p>
<p class="para">"Reason......" Caim closes his eyes. <i>(Kill them, kill them, kill them, kill...)</i></p>
<p class="para">"Lord Caim……"</p>
<p class="para">"Take the others and get out of here. Go live your pathetic lives."</p>
<p class="para">From somewhere, he heard a familiar roar. A wounded soldier from the bunk bed screamed.</p>
<p class="para">"Lord Caim! W-What is that thing…!? There's… Some monster near the castle!"</p>
<p class="para">Caim's eyes narrowed.</p>
<p class="para">He stood up quietly, using his sword to keep him steady. Caim could see the sky through the ventilation window — the giant, crimson creature that glided through it.</p>
<p class="para">Beating its wings helplessly, the dying dragon slowly descended down onto the castle grounds. The gunshots that followed it could be heard from where they stood through the sky of freezing hail and storm. The dragon's cry of pain followed the sound of gunshots, and then, it disappeared from sight.</p>
<p class="para">"Lord Caim, your wounds are—!"The platoon leader looked at Caim's back with a horrified gasp.</p>
<p class="para">A long laceration cracked his armour and ran from his shoulder to his lower hips. His back was dyed a bright red, as if the skin of his body had been turned inside out. Caim gave no answers, merely shaking his head in annoyance.</p>
<p class="para">A wicked smile gradually grew on Caim's lips, and spread wide across his face — from the direction of the castle courtyard came the wail of the dying dragon. Sadness overflowed from the faces of the soldiers who had shut themselves up in the room. But it was only one person, Caim, who’s body continued to fidget with a cruel smile stuck upon him.</p>
<p class="para"><i>……Why did it come to this place?</i></p>
<p class="para">"The lot of you...try to survive in this dead end..." Caim remained staring out the window. He laughed. "I have something to do."</p>
<p class="para">Both the platoon leader and the soldiers were stunned and stiffened in place. Caim pushed them aside, shoving and mowing down the imperial soldiers that crowded behind the unbarred iron door.</p>
<p class="para">He jumped out into the hallway and ran.</p>
<p class="para">He heard screams behind him, but he didn't stop.</p>
<p class="para">He couldn't see anything anymore.</p>
<p class="para">The Dragon...</p>
<p class="para">They would finally meet.</p>
<p class="para">On the brink of death, too, no less.</p>
<p class="para">What luck.</p>
<p class="para">He remembered the sight of the black dragon that slaughtered his parents. The image of it chewing his father to pieces and clawing at his mother. The image burned into his heart. He wanted to thrust his sword into the world’s “Pinnacle of life”, that overwhelming life.</p>
<p class="para"><i>(Where, which one...)</i>This was insane. South. It fell in the southern courtyard.</p>
<p class="para">He could see the Empire’s soldiers swarming in front of him. Caim lowered himself, and with a roar he attacked them. Immediately it turned to a desperate assault. A flame that burned for the moments at the end of one’s life. A flame that burned beneath the skin of one’s own corpse. The cacophony of war could be heard all around. Fauny and his forces must have cleared the way. It didn't matter anymore.</p>
<p class="para">Caim, who was determined to (kill the dragon), ran through the corridors of the ruined Castle of the Goddess that had lost its prior grace to the dirtied hands of the Empire.</p>
<p class="para">He cut down the swarming Empire soldiers and single-mindedly headed on for the dragon, bleeding profusely from the laceration on his back. Arrows stuck out all over his body. There were a countless number of small cuts and bruises, but he felt no pain at all. His life was about to end.</p>
<p class="para">Caim burst out into the courtyard. He couldn't even move his feet anymore. The world trembled around him.</p>
<p class="para">There, in the middle of the courtyard, laid a red dragon.</p>
<p class="para">The dragon that had been shot down was already on the verge of death, and had already lost the overwhelming glow of life it had from when it had struck the castle that day. The blood that flowed from the red giant had become a crimson pond. It looked as if it were melting and turning to liquid. The red drenched against the smoky courtyard of pale green; against the icy rain.</p>
<p class="para">The strength had been drained from the whole of Caim's body. He couldn't regain focus while the world was blurry to double exposure, and walked frustrated through the world that swayed like a pendulum.</p>
<p class="para"><i>…Break the chain. This journey of death is my travelling companion.</i></p>
<p class="para">A pair of petal-shaped horns.</p>
<p class="para">The dragon slightly opened its fang-lined jaws and let out a low growl.</p>
<p class="para">It moved its yellow eyes, and looked up at Caim.</p>
<p class="para">The breath alone was hot. Heat blasted into Caim's face.</p>
<p class="para">His eyes dried up, and he blinked away the tears that had begun to well within them.</p>
<p class="para">……This wasn't the dragon that killed his parents.</p>
<p class="para">But, even so, the dragon race was an enemy unacceptable to take to the skies — There was no changing that.</p>
<p class="para">Caim raised his sword high. But the dragon only gave a slight raise to its head.</p>
<p class="para"><i>‘How a dying human could be the one to take my life... Very well. Kill me if you desire. This neck may be cut by your hands, but that scrap of iron will never be enough to crush my soul.’</i></p>
<p class="para">The heart of the dragon flowed within his head. Caim's blood and flesh stirred violently within him.</p>
<p class="para"><i>‘……Do it, quickly!’</i></p>
<p class="para">With his sword raised, Caim looked up at the sky.</p>
<p class="para">He was dizzy and exhausted.</p>
<p class="para">Freezing, rough hail fell against his skin.</p>
<p class="para">His body was terribly cold, and the sound of sword fighting that he heard was terribly distant.</p>
<p class="para"><i>……I am going to die. Twenty-four years of a meaningless life ends here.</i></p>
<p class="para">Even so, he couldn't think of a fragment of his life that appeared in his final moments.</p>
<p class="para">Confused, he squinted his tear-filled eyes at the sky.</p>
<p class="para">Not tears of sadness, tears as a physiological reaction.</p>
<p class="para">The ether of life flows out of his body.</p>
<p class="para">Bodily fluids overflowed from outside him. The world was quiet, as if only the dragon and he were left behind.</p>
<p class="para">A dark, cold darkness slowly crawled up from his legs to his belly and suddenly grabbed his spleen.</p>
<p class="para">Suddenly, Caim found himself overwhelmed with fear. Fear, and unreasonable anger.</p>
<p class="para">……Am I going to become no more than a lump of the earth? Like <strong>this?</strong></p>
<p class="para">His revenge was not yet finished.</p>
<p class="para">Finally, a ripple of memory washed over his mind. In the torrent, the figures of all the people of his life to that moment appeared and disappeared.</p>
<p class="para">He felt that he had realised why his memories overflowed while he was about to die. It was easy — because he didn't want to die. He didn't want to die, so desperately he searched for a way out in his memories. No memory was a messenger from the past, but a rhetoric that grew from the present.</p>
<p class="para">And it was then that Caim remembered.</p>
<p class="para">It was the story of “Pact-partners”, humans connected with non-human beings. A pact made in a struggle for one last escape, a small light that only a dying person could find.</p>
<p class="para">“…Dragon. Red dragon. Do you still have the will to live?”</p>
<p class="para">‘……?’</p>
<p class="para">The dragon tilted its head and let out another hot breath. Ice rain melted with a steaming sound through the air. Caim still looked to the sky.</p>
<p class="para">…No, his eyes were already unable to see anything solidly. Behind him was the figure of an Empire soldier who was holding tightly his spear and creeping towards him without a sound.</p>
<p class="para">"Is there a blue sky that lies beyond those black clouds? I want to see it." He thrust his sword into the mud with all his might. He pulled out the arrow stuck in his neck. He threw it aside, a bit of his flesh still attached to it. His eyes rolled for a moment, but again, he managed to regain consciousness. The Imperial soldier readied their spear.</p>
<p class="para">"...Forge a pact with me, Dragon. If you and I combine our strength, we can take back our lives. We can go again. Above the sky, to the ends of the earth." The dragon's roar echoed through his head.</p>
<p class="para">‘A pact with me? What makes you dare think you are worthy?’</p>
<p class="para">"Worthy? There's no such thing… I've nothing left anymore. Should I try to bargain, there is truly nothing to offer… Even now, what remains of my life is about to leave this body. But if it is enough, you can have it… What's left of my soul."</p>
<p class="para"><i>‘Hmph. And why should a petty human be worth my bother? The life of you sons of man, even if left only to burn for a few moments, would soon become a lump of unmoving flesh like that of a small fish washed up on the share. Even those miserable people who are without their own souls… They too will return to their duties, and find their entertainment among the words of crows and other lowly animals. I have lived ten thousand years. I have no intention of mingling with one trifle of life at the last minute. Would you make a ‘pact’ with a mouse in order to live?’</i></p>
<p class="para">With a staggering beat, he dodged the spears of the Empire soldiers who jumped at him and picked up the sword stuck in the mud.</p>
<p class="para">The white light that bounced off the ground cut the middle of the Empire soldier's abdomen and stopped. This must have been the last bit of strength left in Caim's body. The Empire soldier unleashed another blow from their spear as he fell. It was a discrete blow, one that had hit even as he was already exhausted, but it was enough to finish Caim off.</p>
<p class="para">He opened his eyes, stared at the spear in his chest, stared at the dragon, and crumpled down into the mud. It was at the same time that the Empire soldier silently fell.</p>
<p class="para">"...If this is what you choose… Then it cannot be helped. For me, I will choose my pride until I've no choice but to throw away my hand at life. I never asked for such fragile vitality... Ten thousand years? What a laugh." A wide smile appeared on his face. "Dragon-! There is no light in my life. But even as I've been torn and cracked... cut down and smashed... broken and destroyed… I've crawled through it all, covered in blood, flesh, and soot. I am not clouded by even a single regret. Dragon, red dragon… Paint yourself with your anger… Boil those bags of blood with your flames… A pact or death? Until I die, I will wait here..."</p>
<p class="para">With both arms bent in a strange direction, Caim closed his eyes. He didn’t move in the slightest.</p>
<p class="line"></p>
<p class="para">……His former homeland.</p>
<p class="para">A royal couple of good character. Childhood friends he often played with, Inuart and Furiae. The nannies, one after another. The servants. Faces of various people who came and went and disappeared. A crowd of cheers greeted him; dressed up in his finest clothes. The highlight of the harvest festival: The morning viewing ceremony of the royal family.</p>
<p class="para">"The Crown Prince Caim!"</p>
<p class="para">Hearing the voice announcing out his name to the crowds, Caim waved his hand with a fake smile. Furiae, who hadn't even shown any signs of the Mark yet, was wearing a neat dress and smiling next to him.</p>
<p class="para">The people's hands were waving all over the square. He'd seen something very similar to this, in a bird's nest full of white downy chicks. The plaza is full of chicks, waiting for the parent birds to return the food they swallowed.</p>
<p class="para">Yes. Even the royal family must wave their hands back with smiles directed to the highest grade.</p>
<p class="para">After all, these people were the foundation of their country — royal mercy was an important part of policy. Between the palms of each other's hands, the balcony and the plaza, the sense of complicity between the actors and the audience writhed between the two.</p>
<p class="para">Vanity, laziness, and fear — respectively, triplets.</p>
<p class="para">"Long live the king and queen! Long live Caerleon! <i>Lalalalalala!"</i></p>
<p class="para">The Good Prince, popular with the soldiers. The refreshing prince, knowing how to smile to the parade. His demeanour was elegant and impeccable, yet smiling and reassuring.</p>
<p class="para">……Well, as Inuart had said, he was perfect. However, another child, one coloured with flame, lived within his heart. By this time, Caim had distinguished himself with his swordsmanship, and no one at court or among his soldiers could match him. Was that why? Why he trembled at the urge to kill that welled up inside him?</p>
<p class="para">On the balcony, the prince's soul was already smeared with blood as he waved his hand in response to the crowd.</p>
<p class="para">Inside his body, the infant of fire continued to scream.</p>
<p class="para"><i>Do you know what it feels like to cut these people down? These passive, dull, kind people? Those many hands that rustle like the autumn leaves on a mountain? Cut them down, burn them to death? Can you imagine, Caim?</i></p>
<p class="para"><i>You want to carve them. You want to break them. You want to burn them. You want to crush them. You want to hit them. You want to kill, violate, and trample them. You want them to explode. It is alright, Caim. You should do it. Let us do it.</i></p>
<p class="para">Caim's right hand, which had waved gracefully out towards the crowd, suddenly began to tremble.</p>
<p class="para">He hurriedly grabbed it with his left hand, but without stopping, Caim hurriedly left the balcony.</p>
<p class="para">Furiae gave chase.</p>
<p class="para">Seeing him off, King Gaap made a playful gesture and exaggerated his shoulders, causing the populace to burst into laughter.</p>
<p class="para">……But in the blink of an eye, he lost his parents and his country due to the invasion of the Empire. And every day since then, he fought their army as a mercenary. <i>Finally, it was time he was set free.</i> The world allowed him to kill. The weight of the rugged steel armour was more comfortable than the feather-light formal dress made by even the best tailors in the capital. Against those unfamiliar, he slept better under the nauseating smell of the battlefield than in any feather bed that swallowed him whole. The time he spent cutting the flesh of the enemy soldiers and crushing their bones… He prayed that time would last forever.</p>
<p class="para">An unspeakable pity spread throughout the dragon's heart.</p>
<p class="para"><i>‘A cursed life, a cursed soul…’</i></p>
<p class="para">A berserker, a murderer. A dulled heart. Could this person feel anything if not covered in the carnage of others?</p>
<p class="para">Once that feeling had been peeled back, it turned out to be nothing more than an empty dilemma rather than a burning desire. In order to cover it up, this human simply built himself a castle of desire, created so secretly that even he himself hadn’t noticed. Afraid of loneliness, the castle looped in on itself through a number of connecting corridors.</p>
<p class="para">Compared to the life it had lived as a dragon, this one’s was a weak, small, fragile, and pathetic soul. Why was this person so obsessed with such a little life?</p>
<p class="para">And why was it so attracted to it?</p>
<p class="para"><i>‘Human. Son of man.’</i></p>
<p class="para">Caim opened his eyes wide. He stared sideways at the dragon.</p>
<p class="para"><i>‘Do you wish to fly over those black clouds…?’</i></p>
<p class="para">"...You pity me. Then..." Caim mouth grew contorted with displeasure.</p>
<p class="para"><i>‘That is not it. I, too, wish to live. You could say that I am interested in you. That soul, that life. How strange... That not in ten thousand years that I have ever held any interest in man. What is man? I feel that yours is a cursed life. Life beyond this... Think of it as a long death knell. Yet together shall we live.’</i></p>
<p class="para">"Then I shall represent of what it means… To be human…" Caim smiled wryly. "……How should I do it?"</p>
<p class="para"><i>‘Is there not a hole in your chest plate? Remove your life from there... You have nothing to worry over. If you possess the will, that light will never go out.’</i></p>
<p class="para">Caim pulled out the pierced spear with all his might. His face contorted with pain, dripping sweat mixed with blood that fell into the mud. Caim stuck one hand into the hole in his chest. A pained scream erupted from his mouth.</p>
<p class="para">In the depths of his chest, he twisted and scraped, and pulled out something deadly. And in that hand he grasped a dark mass of flesh.</p>
<p class="para">A waterfall of black blood dripped down from between his fingers.</p>
<p class="para">It was already steaming.</p>
<p class="para">"Kuhahaha! So this is my life, dragon!"</p>
<p class="para">There laid an iridescent orb of light in the dragon's jaw. Caim, half of his body already crumbled down, laid the mass atop of the ball of light.</p>
<p class="para">The light spread, enveloping the dragon and Caim.</p>
<p class="para"><i>‘Our lives as one. We make a pact, son of man.’</i></p>
<p class="para">Instantly, crimson flames evaporated the rain of ice all at once. The dragon soared high into the sky. Caim was floating in the air. He felt the rough texture of the dragon's neck between his arms; a burning sense of life… Just touching it made his arms and chest feel as if they were on fire. A new life began to pulse within him; his body filled with a wondrous power.</p>
<p class="para">Explosive flames funnel from the dragon's mouth, turning the Empire’s balloon batteries in the sky into nothing more than burning torches that fell one after another. This time, the dragon ran a streak through the sky with Caim on top, closing in on the Empire corps that had encamped on the plateau. The dragon mercilessly attacked the Imperial soldiers who looked up. Seeing the crimson flames enveloping the enemy camp and spreading endlessly, Caim was ecstatic.</p>
<p class="para"><i>‘Humans are such foolish and despicable creatures…’</i></p>
<p class="para"><i>……Kill, kill them, maim, maim them.</i></p>
<p class="para"><i>Among the fleeing enemy soldiers, the mercenaries and the unfamiliar armed forces were probably Lord Fauny's army — he could see it. Caim simply looked up in amazement, unaware of the rage that had suddenly bared its fangs against the empire. Enveloped in fire and smoke, the Empire’s Army was left in complete disarray. The Empire, which should have been unable to ever feel fear, was driven by fear and fled. Caim's voiceless mockery glided across the battlefield.</i></p>
<img src="https://i.imgur.com/dGzna3B.jpeg">
<p class="para">Beneath the freezing black clouds, the dragon spread its wings wide and hit the wind to stay in the air. As it looked down upon the massif on the left, it watched as the fierce fire that broke out on the endless black plateau engulfed a large number of Empire soldiers, blazing up to the vicinity of the swirling river.</p>
<p class="para">The dragon turned around, cutting through the wind, and aimed above the clouds. The roar that followed proclaimed the joy of its restored life.</p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>3</strong></p>
<p class="line"></p>
<p class="para">…In the dark forest, a horse fell forward with its hooves caught in the green moss covering the rocks. Aadah, who was holding the reins, let go of them at the last minute to avoid being caught in the large fall. Upon examination, both front legs were broken — having been carrying out forced marches, fully loaded with food and other goods… No wonder.</p>
<p class="para">The horse fell down on its side and began to convulse on the ground. From a mouth that flowed with blood, a faint sigh escaped it.</p>
<p class="para">Seere, who had been recently lessening his complaints like "I'm hungry", "My leg hurts", "I'm tired", looked down at the situation with an unreadable expression. It had been about ten days since the “Dream Eater” had lost most of the children she had gathered on this journey and fled for her life in the grassland of cattails.</p>
<p class="para">While she had taken a detour and got some rations from a farmer, half with money, half with brute force and coercion, more than half of it ended up going to the horse. With a sigh, Aadah spoke to Seere.</p>
<p class="para">"Ah, I suppose it can't be helped… This leaves me with no choice but to borrow the power of your Golem, boy. It is following us, isn’t it?" Seere shook his head.</p>
<p class="para">"I don’t think he’d like that. Golem really doesn't like other people riding him. He's angry, being underneath the ground all the time… It’s because you bully me, Aadah."</p>
<p class="para">"Huh? I'm not bullying you. I'm just teaching a naive boy how the world works. For instance, consider this: I'm the one with the money, I'm the one with the money and I'm the one with the money."</p>
<p class="para">"I know that." As expected, Seere sighed as he kicked his foot over the moss. "So, if that’s the case, you really don’t have a choice." Aadah looked around.</p>
<p class="para">It was the second day in this forest. It was noon, but it was dim. It had all there was for a forest, having gone beyond the cycle of nature. It was filled with the atmosphere of human rejection. While low grass and shrubs remained scarce, wet moss glistened all around. A thick white mist floated in the air, and because of that, she couldn't even see the tips of the tall evergreen trees. And these trees didn't even rustle in the wind.</p>
<p class="para">It didn't feel good. She felt as if the thick fog that was drifting in the grassland of cattail tips was following them. Nothing moved, nothing except the slowly changing shape of the mist.</p>
<p class="para">To the forest, humans were nothing but noisy outsiders.</p>
<p class="para">On the surrounding moss, there were traces of being trampled by military boots, but new moss was already covering the top of the indented footprints.</p>
<p class="para">“We have to take as much food as we can and hurry to reach the Elf Village somehow.” Approaching the dying horse and unloading it, Aadah paused. Her voice was tense as she spoke.</p>
<p class="para">"Seere, get over here. Something is coming."</p>
<p class="para">Young Seere didn't seem to have fully mastered it yet, but pact-makers had a basic sense to pick up on the presence of others. And this was unmistakable — It felt like a pact-maker was nearby. A man appeared through the mist, not seeming to be making any clear effort to try and hide. A big, strong man — his whole body was covered with a light brown cloak… But strangely, his eyes were always closed. Even with both eyes shut, he moved confidently over the moss-covered soil.</p>
<p class="para">The man stretched out his hands and called out towards the pair.</p>
<p class="para">"Lukhege! Is that you? I smell you. You are alive!"</p>
<p class="para">A small, green light flitted around his head. When Aadah looked closely, she saw it was shaped like a human. Feathers of thin light glowed from its back. Could it have been a faerie? Suddenly, the small green light spoke out in a terribly harsh, high-pitched voice.</p>
<p class="para"><i>‘Gyahahaha! What happened, gone mad? You followed them like a puppet on strings! Someone’s here, do you know who? It’s… The stupidest blond brat I’ve ever seen! Next is, ohoh! What I presume to be <strong>one</strong> woman wearing a bag over her head! Hey, hey, by the way, did you know? The little one looks like someone you could really sink your teeth into, just your type!’</i></p>
<p class="para">"You've brought quite the bothersome insect along." Aadah was already in a bad mood, moving Seere behind her protectively, "Who are you?"</p>
<p class="para"><i>‘Bothersome? Hmph! The only bothersome one here is you, baghead! You’re a giant! Shut up!! Actually, wait, please — I have a request. After you finish fermenting in ten years and reach a normal size, why don’t you tell us what planet you’re from?’</i></p>
<p class="para">"Please, forgive its rudeness—" A little embarrassed, the man got down on his knees. He kept both eyes closed. "I am Leonard. A forester from further back."</p>
<p class="para">"...Aadah, a travelling merchant. This child here is Seere. Well… He's a travelling commodity." Leonard tilted his head in confusion. "You can't see with those eyes, can you?" Aadah decided to question out of curiosity.</p>
<p class="para">"...Because of my foolishness, I was led to form a pact with this creature. My eyes were the price."</p>
<p class="para"><i>‘And I'm at my wits end with this pervert. While he was indulging in his delusional, idiotic games, his three younger brothers were all killed by the Empire. Yes yes! I saw it all from his memory! He tried to stab himself in the neck, and just when he was about to succeed, Ta-da! I appeared~ Forming a pact? I can help! No matter what, I'm already pleased with the flood of runny noses so far, yes yes yes~’ </i></p>
<p class="para">"You've been taken advantage of—" Aadah closed her eyes. She didn't remember what it was like for herself then… One night, the tapir came to her, and some time later, her mistress suddenly died. For one reason or another, it was her who became the heir to the property.</p>
<p class="para">“Even with my blind eyes, there are other things that I still sense—” Struck with realisation, Leonard raised his head. "Could it be that both of you have also entered into a pact? I feel some power; it had come as a great shock to me. It is the first that I have seen such a thing."</p>
<p class="para">“It’s been said enough as of late, but our world is finally at its end.” Aadah shrugged in response. Seere swung his hands around and frantically swatted at the faerie that flew around him.</p>
<p class="para">"If you are familiar with this forest, I have a question to ask you. The two of us are headed to the Elf Village. I accompanied the Union's forces on their rescue. But… Well, we're far from them. Which direction should I go?"</p>
<p class="para">"Is that so……" Leonard let out a breath. "It is unfortunate, but you have come too late."</p>
<p class="para">"What…!?" Aadah knocked down the faerie instead of Seere, and the green light bounced across the moss to Leonard. "What do you mean?"</p>
<p class="para">"The Elf Village had been attacked by the Empire. As an area bound to neutrality, they made no armaments. There was no way for them to resist the sudden attack. Whether there were any survivors… I-If I could have seen it, it would have been a terrifying sight. Women and children, mercilessly slaughtered." Leonard shook his head. "I had heard the horrible screams coming from my house. I—"</p>
<p class="para">‘He went pale and ran away! Ahah!’</p>
<p class="para">“Does that mean the Union didn’t make it in time?”</p>
<p class="para">"...I do not know. A considerable number of the Empire’s army had gathered there. It is also said that it was destroyed in the attack. It may be that I have lost myself in this forest… Shall we both go to see what has become of the Elf Village?"</p>
<p class="para">Aadah thought for a moment. If the Elf Village had been destroyed, her original plan of wanting to obtain an elf child would have failed <i>spectacularly</i>. On top of that, she wouldn’t dare run the risk of jumping into danger by siding with the Union. After risking her life, spending her money, and going through all sorts of hardships, she wound up losing most of the children she obtained, leaving only this blond child.</p>
<p class="para">Moreover, she had made a strange promise with this child that she had vowed to keep. Aadah looked intently at Seere.</p>
<p class="para"><i>(All of this… Because I plan to sell him at a high price.)</i></p>
<p class="para">Those were what those eyes said, but Seere just returned to her an innocent look.</p>
<p class="para">"It looks like we should give up on the Union. So, Leonard, what do you think you’re going to do from here?”</p>
<p class="para">"I plan to go to the Castle of the Goddess to report this matter. That is all I can do."</p>
<p class="para">"Hmph. Castle of the Goddess, huh……" Aadah tilted her head. That was the castle where the Goddess of the Seal, the one responsible for upholding the order of the world, resided. While she had heard of it, this was only the second time in her life that she really thought about it.</p>
<p class="para">"I see… So that's how it is," she muttered. “Let me accompany you until we hit the main road. After that… I have to help this one find his sister.”</p>
<p class="para">And so, the three began to head through the dark forest. Aadah only explained the situation so far as Leonard asked; he was as quiet a man as he appeared to be. Besides the fussy Faerie's chatter, it was mostly Aadah and Seere who kept talking — about the fact that she was travelling as a slave trader, that she met Seere on her journey and made a deal that if his sister was found, they would be sold together as slaves, that there were many other children with them, but that for some strange reason, a dragon suddenly fell from the sky and she lost them all.</p>
<p class="para">"Ever since then, I've been frightened of the open sky. Being in a forest like this makes me feel at ease." Contrary to her words, the same scenery no matter where she went in this forest made her feel ill at ease, and she didn’t hesitate in following Leonard’s path. Aadah thanked her fortune in meeting this man, and inwardly rejoiced that things had finally turned for the better. She hoped everything would be fine until they hit the main road, but as the sun went down and the dark forest became even darker, Leonard suddenly stopped.</p>
<p class="para">"I hear a human’s voice."</p>
<p class="para">Aadah also stopped, listened carefully, and just the same, she could definitely hear a voice. The lights of a nearby campfire flickered through the haze.</p>
<p class="para">"That’s no Empire. But to light a bonfire… Don't they know that they’ve come to this forest? They might as well start calling for them."</p>
<p class="para">A bad feeling grew in Aadah's heart. Without stopping, Leonard said "Do not leave by yourselves,” and walked towards the bonfire. On the road up to this point, Seere, who had become strangely attached to this soft-spoken man, followed after him. Aadah reluctantly trailed after the two.</p>
<p class="para">Surrounding the bonfire were about ten men and a woman. There were some rugged soldiers, but most of them had an elegant atmosphere, like courtiers. It gave the impression of a princess from some royal court and her party. Leonard straightened his hair and posture, and cleared his throat.</p>
<p class="para">“Ahem—" He called the other’s attention.</p>
<p class="para">The others' reactions were excessive and violent. As soon as they were seen, the woman shrieked and the soldiers all drew their swords and rushed towards them. In only a few moments, Aadah and the others were completely surrounded by white, shining blades. The group all raised their hands without resistance.</p>
<p class="para">A red-haired man, who seemed to be the leader of the camp, thrust his sword towards Leonard's throat. Despite his good looks, he seemed a little too ambitious. The tip of the sword slightly trembled at his throat.</p>
<p class="para">"Inuart?" They watched as the young woman stood up on the other side of the bonfire. She had a graceful appearance, wearing light, white robes. The princess of the line.</p>
<p class="para">"It's dangerous, Furiae! Stay there!" The red-haired man yelled. "Who are you!? Are you with the Empire!?"</p>
<p class="para">"Is that how it looks?" Aadah scratched her doodle-littered sack.</p>
<p class="para">"We are headed to the Castle of the Goddess for an important task. We will not harm you." Leonard voiced, flusterment lining his tone.</p>
<p class="para">"What do you want from the Castle of the Goddess?" The redhead frowned.</p>
<p class="para">"There is something I must tell the Goddess. It is a dire matter," Leonard said. "Please sheath your sword. It is difficult to speak like this."</p>
<p class="para">"Inuart, I think it is best that we listen to them," said the girl in the white clothes. The redhead hesitated for a while, but after a moment, reluctantly sheathed his sword.</p>
<p class="para">"Fine then. Come over here and tell us the tale."</p>
<p class="para">"Before we speak, please put out your bonfire first." Leonard said, both hands still raised. "The Empire has come to this forest."</p>
<p class="para">"What!?" Inuart's complexion changed.</p>
<p class="para">"We wish to tell the Goddess. The Elf Village has been attacked."</p>
<p class="para">The princess placed her hand to her chest.</p>
<p class="para">"Please, tell me more. I am that Goddess."</p>
<p class="para">Aadah and Seere looked at each other. Leonard's business of reporting to the Goddess about the Elf Village had been easily accomplished without even a need to go to the castle… But it was not all so fortunate. What an ironic coincidence, each report telling of the loss of each destination.</p>
<p class="para">"Can they be so foolish? The Elf Village is bound to neutrality... How could they attack such a place!? What will happen to the world…?"</p>
<p class="para">It seemed that Inuart's astonishment and disappointment were great. They were at a loss. The Goddess' party could not go to the Elf Village, but they could not return to the Castle of the Goddess either./p>
<p class="para">"Maybe everyone who went to the Elf Village drove the Empire away! Why don’t we go there and see…?"</p>
<p class="para">No one agreed with the yawning proposal by the sleepy Seere. The terror of the Empire was felt deep in everyone's bones.</p>
<p class="para">“Let us go out to the main road and wait for the army led by the Hierarch Verdelet. If the army is still as large as the one in their report, then I am certain it will come to pass there."</p>
<p class="para">Leonard's opinion was eventually adopted.</p>
<p class="line">That night, Aadah had a series of strange nightmares.</p>
<p class="para">Inuart had tumbled into Aadah's stomach, drenched in a stricken, richly coloured, miserable envy. A circle of spectators burst out in excitement.</p>
<p class="para">His arm hurt so much. His hands were numb and they could not move. He hit his back hard when he fell. As he tried to get up, he'd fallen back onto his buttocks on the ground.</p>
<p class="para">A corner of the castle. A sparring match… As usual. It always happened like this.</p>
<p class="para">Inuart looked up. A falcon spins in the distance. Its calm and powerful appearance was beautiful. A dark-haired man peers in, a wooden sword in one hand. No longer could he see the falcon, having become invisible from the blockage.</p>
<p class="para"><i>(Are you alright, Inuart?)</i></p>
<p class="para">He reaches out his hand. An innocent smile. That prince everyone loved so. That smile that never ceased to attract soldiers.</p>
<p class="para">…However, in the depths of it laid a deceitful nature, an impulse.</p>
<p class="para">Why did no one care? Even though he liked this young man… Even though he really liked him… It was terrifying. He was jealous. Why did God give this man, a man with such a ferocious soul, such a natural talent?</p>
<p class="para">No matter how much Inuart put his all into his sword, he couldn’t even win against a single swing from his best friend's strength.</p>
<p class="para">Furiae's face was in the crowd. She looked at him with worry written on her face. She was watching. The appearances of those around her varied.</p>
<p class="para">Furiae's gaze pierced through him...</p>
<p class="para">A pent-up impulse shoots up his spine. A shout escapes his mouth. Inuart jumps up and strikes the man sideways in the stomach, and then, another blow to the parietal area when the body had bent. Despite being a wooden sword, this unexpected attack causes his opponent to stagger, the whites of his eyes to open wide, and for him to fall on his back.</p>
<p class="para">The crowd screams and runs up to him. Inuart, his body limp, is grabbed and bullied with no resistance. The wooden sword has long since fallen and been trampled into the ground.</p>
<p class="para"><i>Don't look at me like that, Furiae. I am for you. For you?</i></p>
<p class="para">……That was the intention.</p>
<p class="para">Inuart looks up at the sky. The falcon was still there, dancing through the blue. Looking down, he saw the man, still bleeding from his head, collapsed in the centre of the circle of people and smiling at Inuart.</p>
<p class="para"><i>(Inuart, that's why I told you. The Elf Village is―)</i></p>
<p class="para">...</p>
<p class="para">In the dream, Furiae was just a piece of meat. A floppy, smooth, flawless pink hunk of meat on a round table. A group of pale-faced men gather around the table, watching it intently. They put their hands on their chins and make commentary, neither this nor that.</p>
<p class="para"><i>Are there any wrinkles over there?</i></p>
<p class="para"><i>Oh, that place must be exceptionally soft.</i></p>
<p class="para"><i>Look at that pretty pink thing over there.</i></p>
<p class="para">But no one can touch it. It is an unspoken rule among these men. The men's palms follow the smooth bun shape of the piece of meat at an exquisite distance where they try to touch it but do not. Furiae trembles with a premonition of joy. She’s waiting for that moment.</p>
<p class="para">One of the men finally puts his hand up.</p>
<p class="para"><i>I shall serve it.</i></p>
<p class="para">With an unpleasant sound, his fingertips crack the surface of the piece of meat.</p>
<p class="para">...</p>
<p class="para">A large empty place of worship. The walls are carved with intricate reliefs. Illuminated by the light of countless candles, the sculptures ripple all over. As usual, the twins have a slightly different atmosphere, standing on the altar with a red rug. Two people with pale faces. Barefoot in a clean white ceremonial dress. They have two white fans on their back, probably meant to be wings.</p>
<p class="para">They (<i>They?</i> He didn't know.) were standing shoulder to shoulder, yelling a sudden, out-of-tune aria. Gradually they became one, but only their faces did not overlap perfectly.</p>
<p class="para">They had three eyes, two noses, one mouth, and so on. From one of those mouths comes the aria. The voice is like that of a girl's.</p>
<p class="para">…No, like a middle-aged man's voice. No fuss, no snobbishness.</p>
<p class="para"><i>‘Speak not the Watchers.</i></p>
<p class="para"><i>Draw not the Watchers.</i></p>
<p class="para"><i>Write not the Watchers.</i></p>
<p class="para"><i>Sculpt not the Watchers.</i></p>
<p class="para"><i>Sing not the Watchers.</i></p>
<p class="para"><i>Call not the Watchers’ name.’</i></p>
<p class="para">The conjoined twins leap and spin, the long shadows lit with a thousand candles dancing on the walls of the chapel. Perhaps they were only held up by frail adhesive; something round and fan-shaped peeling off and fluttering down to the carpet. Only the remaining yellow strips fell and fluttered miserably on their backs.</p>
<p class="para">Aadah remembered just then. Those words… Those were none other than the doctrine spoken by the “Cult of the Watchers,”she had heard it before. According to grammarians, that doctrine so believed by the Empire was contradictory in and of itself — they speak that they shouldn’t speak. They write that they shouldn’t write. They sing that they shouldn’t sing.</p>
<p class="para">A Watcher made from negatives.</p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>4</strong></p>
<p class="line"></p>
<p class="para">By the next morning, when everyone had woken up, Inuart had disappeared. As would be expected, the disappearance had left the camp in complete disarray.</p>
<p class="para">Aadah, who had been sleeping up until that point, shook her head awake to the sight of the commotion. The surrounding cold air of the forest permeated around her body.</p>
<p class="para">The forest was enveloped with morning mist, filled with a refreshing atmosphere different from that of the daytime’s. The moss that covered both the soil and rocks, as well as the leaves of the countless trees all glittered with morning dew. Traditionally, those who lived among the forest had given such a sight its own name — a morning spent in chainmail.</p>
<p class="para">Seere, wrapped up in a cloak, went to approach Aadah. The cloak hadn’t been that he was searching for affection or something given to quell his own fears, but rather, he was simply cold.</p>
<p class="para">“It is no use. It seems that Lord Inuart is nowhere to be found here.”</p>
<p class="para">Leonard, who must have gone in search around the surrounding area, walked out from the fog alongside two guards. The guards could be seen tilting and shaking their heads in puzzlement. Though both had taken turns on night watch, it had seemed that one of the two had gone completely unaware of the disappearance.</p>
<p class="para">“What shall we do…? I fear that if we disturb the area too much, it may draw the attention of the Empire...”</p>
<p class="para">The Goddess, Furiae, seemed unable to give an answer to his question. Restlessly she glanced around the forest, bit her lip, and looked up at Leonard. Yet, unable to see her expression, and having been given no answer, Leonard merely stood in silence and gazed both restlessly and fruitlessly into the depths of the forest.</p>
<p class="para">Aadah looked at the moss around her. There were no traces of it having been trampled upon… All that she could fathom was that he must have left of his own will.</p>
<p class="para">“...By the way, Goddess. Would you happen to know of a man with black hair? He was like this: He has a slightly dignified feeling, a refreshing smile… Ah — he also had a remarkable amount of strength, and I believe he carried a sword with him as well.”</p>
<p class="para">Those who existed within dreams were often not real people. In most cases, they were various others combined and reconfigured to reflect a particular personality… Or so was the basic gist. Of course, real people could find themselves invited into the mind’s realm just as easily, whether it was as a result of strong feelings or only as fleeting impressions.</p>
<p class="para">Furiae’s eyes widened.</p>
<p class="para">“Can it be… Do you mean Caim? My brother…?”</p>
<p class="para">“Ohhhh, so he was the brother of the Goddess, was he now? Must make him a god or such.” A slow, eerie simmer of a laugh left Aadah. “Well, I suppose no matter what you do, you just can’t win.”</p>
<p class="para">“...My brother and I are both <i>human.</i>” Responded the Goddess, dejectedly.</p>
<p class="para">“Well, human or not, you’re still nothing more than a slab of flesh. You poor, poor thing… As passion vanishes, so it will return. The never-ending cycle of Ouroboros, where the whole remains unchanged. Humans are left captives forever… Is even the Goddess incapable of change?”</p>
<p class="para">While a faint blush had burned itself across Furiae’s cheeks, the blank look of puzzlement on her face had given away that she still hadn’t understood the meaning of what was being said. It seemed she hadn’t remembered her dream from last night.</p>
<p class="para">Aadah felt a hint of both sympathy and familiarity to be found within the girl. She was no more Goddess than she was a woman. A girl caught and crushed beneath the shape of an inverted triangle, unable to anything but grasp fruitlessly at its bottom apex.</p>
<p class="para">She remembered the terrible sculpted atlas that her mistress had — a giant that held up all the heavens forever. As a child, Aadah was both sympathetic and terrified of that giant. It had, more than anything else, been left burdened with horrible torture; the entirety of the world weighed down upon its shoulders.</p>
<p class="para">This frail, young girl… A both pure-blooded, and yet lascivious girl. Replacing direct action with the whims of swelling delusions, and replacing man with the burden of the boundless world on her body. Aadah couldn’t even imagine what unspeakable pain she must have been in. One day, when that girl couldn’t take it anymore and broke down, would the world really end? She didn’t feel as if it would actually happen. It all felt as if everyone else was simply playing pretend. And was this girl not the type to always take the brunt of such children’s games?</p>
<p class="para">One of the guards who had gone out in search returned in a panic. In his hands he held a beautifully designed harp.</p>
<p class="para">“I found this, fallen on the road ahead…”</p>
<p class="para">“Lord Inuart’s harp…!?” A commotion rose among the soldiers.</p>
<p class="para">From inside the bag, Aadah let out a big yawn.</p>
<p class="para">The group walked over to the area where the harp had fallen — the soldier hammered his dagger into the exact mark.</p>
<p class="para">The moss surrounding the area had been trampled underfoot by a large number of people.</p>
<p class="para">…Could it have been that he had walked up to this point by himself and was abducted by the Empire afterwards? No matter how hard she may have tried, she couldn’t come up with a satisfying enough explanation. If anything, it seemed to Aadah that the Empire’s assault on the Elf Village had brought upon some grave impacts on the redhead’s inner ego.</p>
<p class="para">Furiae was left so shaken that she was barely able to stand, being held steady by the maids.</p>
<p class="para">“What could have happened to Inuart…?” Furiae held her face in her hands, speaking out to no one in particular. Though everyone shared glances with each other, not a soul could give an answer.</p>
<p class="para">“Perhaps dead. Or, at best, captured.” Aadah said.</p>
<p class="para">“No…!” Furiae closed her eyes. “...Why...?”</p>
<p class="para">“Oh? Was he a lover of yours?”</p>
<p class="para">“He… Was my betrothed, once. But it had been broken off… Once I had become the Goddess, we were unable to marry anymore…” Her dainty nose screwed up into a faint grimace. “Even so, he has always remained by my side. Inuart……” Furiae’s arms wrapped tenderly around the harp handed to her by the soldier.</p>
<p class="para">“Then what should we do from here, Goddess?”</p>
<p class="para">Aadah interjected on behalf of Furiae, who hadn’t given an answer and only stared down at her feet.</p>
<p class="para">“Alright. Our first and most important order of business right now is finding and joining up with the Union. If we can do that much, we’ll be able to head to the Castle of the Goddess for assistance. Perhaps that brother of yours will be able to join us as well?”</p>
<p class="para">Aadah gazed around her surroundings. She didn’t like the forest — as a matter of fact, she hated it. Her “first and most important order of business”, if anything, was to leave as soon as possible.</p>
<p class="para">“Soldiers, your highest priority in this mission is assuring the safety of the Goddess, that is all. Goddess, your own task is in protecting yourself before anything else, is that not correct? I’m certain that redheaded man of yours would say as much. Even as a woman as well, if you find a man’s body and must step over it, stomp on it, stomp on it, <i>stomp on it.</i> Understood? If you wish to pray, then you can do as much as you would like later.”</p>
<p class="para">The group made their way through the dark forest and towards the main road. The dozen or so people, though they had walked as quietly as possible, were still quite noisy. The maids all screamed at the sight of the snakes and strange birds that began to appear as they made their approach. Each scream and little shriek brought frustration and anxiety upon the guards, but fortunately, there came no attacks from Empire soldiers.</p>
<p class="para">After finally arriving at the main road, their unit was left to wander aimlessly. Because the sun had become completely covered with clouds, they had grown unaware of their exact direction. Even more so, they were pressed under the constant weight of caution as not to be found by the Imperial Army.</p>
<p class="para">By the time evening had come, when the sun began to peek through the clouds and they were finally able to pinpoint what direction they had been headed in, an approaching army unit, headed from the east, was spotted from afar. The glare of sunlight reflected off the tips of the bristling spearheads.</p>
<p class="para">Immediately, the group hid themselves in the tall grass beside the roadside.</p>
<p class="para">The army drew closer.</p>
<p class="para">Aadah breathed a sigh of relief at the sight of the Union’s blue banner. One of the guards left from their hiding place in the bushes, and returned shortly after.</p>
<p class="para">“Be at joy! This is the main unit of the Hierarch Verdelet.”</p>
<p class="para">As soon as the words met her ears, Furiae started running. She stumbled and staggered over herself, yet still kept on in strenuous effort. Two others who saw ran after her. Aadah, who merely shrugged her shoulders and saw them all off, was among the last to arrive.</p>
<p class="para">“We must hurry to the Castle of the Goddess, please…! My brother, Caim, he—!” Furiae was clinging to a monk-like man. A man of unknown age with skin whiter than bone, and a bald head marked with the crest of a pact… None other than the Hierarch Verdelet himself.</p>
<p class="para">Verdelet offered a warm smile to Furiae. “Our swiftest horses have arrived from the castle this morning. Goddess, you may rest at ease... The Castle of the Goddess was successfully guarded. Your brother lives still.”</p>
<p class="para">Furiae slumped as if she was about to fall, and was held in support by a nearby soldier. It was, perhaps, that she had become overwhelmed with relief — or perhaps, she had merely reached the limits of her fatigue.</p>
<p class="para">“But, how…!? How could the Empire have been defeated with such power as ours…!?” The soldiers roared.</p>
<p class="para">“It was by the hands of a mercenary by the name of Caim, the older brother of the Goddess, that our victory had been assured — For he has formed a pact with a dragon. With such power at his hands, he has managed to overwhelm even the likes of the Empire.”</p>
<p class="para">“Caim, my brother…!?” Furiae turned pale.</p>
<p class="para">“A dragon—?”</p>
<p class="para">The terror felt from that time replayed itself vividly within Aadah’s mind, and she could feel the hairs raise up on her back. The visage of a tuba player who had become meshed within his own instrument; the visage of death, meshed with silver and red.</p>
<p class="para">“For a dragon to form a pact with a human being… I can’t even begin to imagine.”</p>
<p class="para">“......Such a thing is a rare occurrence indeed. Years ago, I myself had once formed a pact with a dragon.” Verdelet let out a sigh.</p>
<p class="para">“You?” Aadah rolled her eyes from inside the bag. “Then what happened to it? A pact doesn’t just simply disappear.”</p>
<p class="para">“It now remains petrified in a distant land.” Verdelet said, a far-away look in his eyes. “......There are far more important matters at hand here. We must discuss what path we take from here, Goddess.”</p>
<p class="para">The army planned to head to the Castle of the Goddess at once, convene with Caim and the others there, and afterwards work out a strategy for the future. From where they stood now, even if the march of such a large army was slow, it would take about four days to reach the Castle of the Goddess.</p>
<p class="para">“Even if it lies no more as a single speck on the parchment of history, it is nothing short of a blessing from the Gods to have gained the power of a dragon here.” …So were Verdelet’s words.</p>
<p class="para">Truly, if there was any hope to be had in taking a stand against the seemingly inexhaustible power of the Empire, the power of a dragon would be invaluable. But, as for Aadah, she honestly didn’t care. She herself had no intention whatsoever to begin taking arms against the mysterious force known as the Empire, and she had a strong feeling that she wouldn’t be caring to see dragons anytime soon.</p>
<p class="para">All she wanted and desired so deeply at this point was just to return to her happy, idyllic manor far, far away and keep on as usual.</p>
<p class="para">But, even there, the world was nowhere near safe. Her trip up until this point had made her deeply aware of this fact. Besides that, she had also made a promise with Seere. While there sat the devil upon her shoulder heckling her to sell him quickly, it was one of Aadah’s few upheld values that she would never break a promise made in business. She <i>hated</i> it, but…</p>
<p class="para">…She didn’t have a choice.</p>
<p class="para">And for that, Aadah decided to accompany them.</p>
<p class="para">Unaware of the danger to his own life that crept towards them on their trip, Seere was in high spirits when he was permitted to ride in the elegant cart that had been prepared for the Goddess. From atop the cart, he spoke sociably with the soldiers here and there.</p>
<p class="para">Leonard rode on horseback, navigating his horse with such skill one would not believe he was blind. From start to finish he was completely silent as if lost in thought, the complete opposite of Seere.</p>
<p class="para">Aadah had her own means of horseback-riding. With its saddle gone, she lay face down on the horse’s back, her chin resting on its head and her arms swaying around its neck. The bloodshot eyes of the horse, with its neck lowered down and great strain placed in each and every step, looked <i>quite</i> resentful. Verdelet, who rode next to her, watched with wary eyes — there was no telling when it would start to get violent.</p>
<p class="para">“This man, Caim, who formed a pact with a dragon, he’s the older brother of the Goddess?”</p>
<p class="para">Aadah tried to remember the face of the dark-haired man from the dream, but the impression had long since faded. He held with him a radiant smile. But at the same time, the redhead seemed frightened inside.</p>
<p class="para">“Yes. They are the son and daughter of King Gaap of the Kingdom of Caerleon, a land destroyed in the conquest of the Empire.” Answered Verdelet.</p>
<p class="para">“Oh, so <i>I</i> see. Heh heh.” Aadah smiled eerily to herself, all while wondering what had her so smug to begin with. “Either way, the Goddess is an unnatural creature of sorts. What is this ‘Mark’? It goes against the natural instinct of all living things. It is that very curse that causes the Goddess such terrible agony, that greed and avarice welling within her. Surely, I don’t think at all that pure blood cannot be required for the power of the Goddess Seal. Don’t you think?”</p>
<p class="para">“……You know of Furiae’s Mark of the Goddess…?” Verdelet’s voice raised with slight surprise.</p>
<p class="para">“Mm? I never said I knew.” Aadah’s stomach churned. “If you lay with a man, your body revolts in agony and pain. Still… Sometimes, well, a Goddess just goes loony. They overcome that pain, and cross that line. It’s only natural, after all — they are human, just as we are. That a woman plays herself as someone who is devout, and chaste, and tries to hide away anything unseemly is just foolishness. They are riddled with holes. A widow in possession of a veil — one of men’s favourite things. It’s rare to find a chaste woman without it being all staged. But… If she gets exposed, it’s all over. So, they take all those scandals of theirs and try and hide them. A Goddess… Heh, a ‘Goddess’ is nothing more than an imprisoned woman. Whether the daughter of King Gaap, a Goddess… Whatever she may be.”</p>
<p class="para">Verdelet’s face twisted into an unpleasant expression.</p>
<p class="para">“I know not where you may have heard it from, but this is no such thing to treat so carelessly.”</p>
<p class="para">“I do no hearing from my ears, I do it from my stomach. Surely you’ve heard of the slaver trader “The Dream Eater” haven’t you?”</p>
<p class="para">“Have… Have you been devouring my dreams…?” Verdelet held a hand to his stomach, astonished.</p>
<p class="para">“Guilt is one of the essential ingredients of dreams. People live by flushing it away. Priests such as you are… Hah! Ironically, merchants and traders yourselves of such fleetings factors as guilt and the need for repentance.”</p>
<p class="para">“So I see now, ‘Dream Eater’...” Verdelet spoke as if mocking himself, and smiled. “To grow conscious of the sins one has committed in their past… I had once thought that such notions were to be left far behind in my path. Yet, you mustn't act so quickly as to return to others the dreams which you have eaten. It is best, for your own sake that you do this…”</p>
<p class="para">“Impossible. Those dreams are full of only secrets; and for me… I’m in the disposition of being unable to distinguish between what it is that’s meant to be hidden, and what’s not.”</p>
<p class="para">“Then perhaps it is in your best interests that you choose not to speak at all.”</p>
<p class="para">“And there lies yet another issue: The dreams I see make me want to show them off. No matter what flaws one person may have, I personally think speaking them is even somewhat better than what people may do to try and hide them.”</p>
<p class="para">Aadah squirmed her large body restlessly on horseback. The horse snorted unbearingly under her stomach, and Verdelet, in a similar fashion, huffed and fell silent. Verdelet’s horse seemed to be in a good mood as it rode on, its body rocking up and down as if to match the steady rhythm of its own footsteps. The mood of the rider, however, seemed to be exceptionally bad.</p>
<p class="para">“Heh heh… Well, how about this? It was you priests who were responsible for the deaths of generation upon generation of Goddesses.”</p>
<p class="para">“That is enough, Dream Eater!” Verdelet interrupted without even a moment’s delay.</p>
<p class="para">“Oh, so sorry. Did I bother you?” Aadah chuckled. “Gods, what a lot of <i>idiots</i>. You cross bridges on the verge of falling, banging it on and on. All it does is make it fall faster. No one is going to come to the aid of a bald-headed old priest being preached to by a slave trader.”</p>
<p class="para">Verdelet no longer gave any response, and for a while, the two rode silent with their horses lined up side-by-side.</p>
<p class="para"><i>(...Still. Such a structure is far too complicated for its own good. The likes of a Goddess is more that of a wedge driven between humans and seeds than a holy protector of the Seal. Some say that our world of humans will only be forgiven of its crimes so long as the ritual is performed without fail... The Goddess herself does not exist as a shield. The true form, the <strong>meaning</strong> of this war is one that lay only in the darkness, far beyond…)</i></p>
<p class="para">Aadah quietly stifled a yawn, gazing off at the cart a distance away. She couldn’t see the girl, Furiae, from her current position. But Seere, who had climbed onto the coachman’s stand, sent a wave her way.</p>
<p class="para">“Is that young pactmaker your slave?” Asked Verdelet.</p>
<p class="para">“My best product. I have a rather troublesome promise to fulfil, however, and so plan to sell him once it meets its end. Of course, as long as he is satisfied with its turnout — otherwise…”</p>
<p class="para">“Hmm, to buy and sell other people as mere products…” He said. “Now that I think about it, I wonder if you know of the frequent Ark Riots that have been happening across the world…”</p>
<p class="para">“I don’t want to remember,” replied Aadah in a sleepy voice.</p>
<p class="para">“Among those analysing the occurrence, there are some who say that this Ark is the supply source from where the Empire gathers its troops. Could it be the sole source…? No longer is it possible to gather slaves by yourself. If you truly do go in search of greater feelings of guilt to devour, then perhaps you may like to consider working under our own banner. Within us all, is……” Verdelet drifted off, staring at Aadah’s back.</p>
<p class="para">Aadah sat hunched over on her horse, snoring. Her jaw, which rested atop the horse’s head, slumped off to the side. The poor horse gradually began to slow down from the painful posture it had been stuck with, and grew further and further away from Verdelet’s own horse. For a while he followed the ever-slowing thing with his gaze, and then gave up and held fast onto the reins once more.</p>
<p class="para">Aadah took a deep breath from within her bag.</p>
<p class="para"><i>(The truly terrifying thing about humans is their weakness; that hairless, spectre of a person that rests within the depths of one’s heart.)</i></p>
<p class="line"></p>
<p class="para">Exactly four days later, having successfully protected the Goddess, the central unit led by Verdelet arrived back at the Castle of the Goddess. By that time, Aadah was confident in the thought that she would have enough seeds of nightmares to live off of for the next ten years.</p>
<p class="para">That dragon they had spoken about — it was <i>that</i>dragon.</p>
<p class="para">The plateau, which had become little more than a stage for a fierce battle, was littered with the corpses of countless Empire soldiers that had yet to be cleaned, a horrible stench rising from the bodies. Yet, there was not a single raven to be seen. This place was home to none other than the “King of the Skies” itself — all the corpses had been charred black, their bodies twisted, and somehow, even still seemed to be hot.</p>
<p class="para">The Castle of the Goddess, dyed in the orange of the evening, had been left in a terrible state. It had been left no more an empty jumble of bones from where it was before. They could see to the other side of the castle through the exposed framework, half the delicate towers had crumbled completely away. The main body was somewhere between half and total dilapidation, and it seemed that even so much as a strong wind would have rolled it over to the latter at once.</p>
<p class="para">Jumping down from her horse, Aadah looked towards the mountains towards the east and listened to the roaring tide of the river. A terrified feeling had overcome her, and she hurried to suppress the tapir that rolled excitedly around in her stomach.</p>
<p class="para">Just then, there came a roar that tore the very heavens in two.</p>
<p class="para">A crimson dragon, having become no more than a distant black shadow, glided across the orange sky.</p>
<p class="para"><i>‘Soldiers of the army of man! I am the dragon, one who resides upon the most ancient of races. By decree of the pact formed with the human Caim, I shall aid your numbers.’</i></p>
<p class="para">All those who stood that day would surely never forget the voice that spoke directly to their heads — a voice that shook the very core of their souls. A voice that tore them apart.</p>
<p class="para">The entire Union army, built up of over ten-thousand men, stood and trembled.</p>
<p class="para">The dragon gracefully swooped down to perch itself upon the few remains of the southernmost gate. With its large wings spread wide, and its head tilted arrogantly downwards, it glared down upon the crowd of tiny soldiers that stood upon the plateau. The scars it had received in the marshlands from that day had completely disappeared. Could this have been the power of its pact?</p>
<p class="para">A man jumped down beside it.</p>
<p class="para">His face and expression was difficult to make out from where he stood — dark hair played in the wind, and the man said nothing; merely looking coldly down upon the humans who had crowded together on the plateau.</p>
<p class="para">Furiae, who got off from the cart, froze in her tracks. Seere, who bumped into her back, let out a small “Wow”, at a loss for words.</p>
<p class="para">“Revered dragon, Lord Caim…!” The soldiers muttered amongst themselves, put their swords aside, and fell to their knees in unison. Verdelet as well jumped from his horse and knelt in the mud.</p>
<p class="para">Even Aadah crouched to kneel in the still-bloodied mud, trembling with humiliation. ​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-1/magnitude-negative/prologue">Previous Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-1/magnitude-negative/earth">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-1/magnitude-negative">Back</a></p>
