---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>死</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/D2s6LyC.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/SO5y9nS.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/3vlNFLq.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/f9vM51X.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
}
</style>
<p class="title">Original link: <a href="https://www.jp.square-enix.com/nier-anniversary/15th-novel/"><u>NieR [U]ndecided Option</u></a></p>
<p class="title"><a href="https://youtu.be/F0f66H3ljmc?si=snSE7UJV1d6jdl7m"><u>Video (Part 1) (English Translation)</u></a></p>
<p class="title"><a href="https://youtu.be/bhmRBjLUmEA?si=7saKAOHqIP_UAJLC"><u>Video (Part 2) (English Translation)</u></a></p>
<p class="title"><a href="https://youtu.be/D5Lk1QXzrgM?si=g6h-2n3qk6vOgz6x"><u>Video (Part 3) (English Translation)</u></a></p>
<p class="title">Watch Part 3 until 8:42 to preserve some interactivity.</p>
<details><summary><p class="title">Need a hint? Click me.</p></summary>
<ul>
    <li>
        <p class="title">Remove the word "light" in the URL.</p>
    </li>
</ul></details>
<p id="menumaybe">Next?</p>
<p class="menu"><a href="/nier-anniversary/15th-novel">Back</a></p>
