---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<style>

.para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/AJWylNV.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits" target="_blank" rel="noopener noreferrer">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>THS's Guide</title>

<p style="margin-top: 1cm; font-size: 250%;">Miscallaneous</p>
<p id="title1">These are less important, or have little progress in their translations.</p>
<div class="over">
<div class="Guide">
<div><img src="https://i.imgur.com/onFrgFE.png" loading="lazy"><p class="para">Drakengard Judgement</p><br><p class="para"><u><a href="/series-guide/ths-guide/drakengard-judgement">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/53tnhK2.png" loading="lazy"><p class="para">Drakengard Java</p><br><p class="para"><u><a href="/series-guide/ths-guide/drakengard-java">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/CqROUXl.png" loading="lazy"><p class="para">NieR Gestalt Comic</p><br><p class="para"><u><a href="/series-guide/ths-guide/nier-gestalt-comic">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/8kv1leL.png" loading="lazy"><p class="para">YoRHa CD Booklet</p><br><p class="para"><u><a href="/series-guide/ths-guide/yorha-cd-booklet">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/0V733jp.png" loading="lazy"><p class="para">Long Story Short</p><br><p class="para"><u><a href="/series-guide/ths-guide/nier-automata-long-story-short">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/tzaVjd6.png" loading="lazy"><p class="para">The Dark Fable</p><br><p class="para"><u><a href="/series-guide/ths-guide/sinoalice-the-dark-fable">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/M5XREKi.png" loading="lazy"><p class="para">SINoALICE Music Concert</p><br><p class="para"><u><a href="/series-guide/ths-guide/parrah-noya-music-jamboree">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/qE4zLkJ.png" loading="lazy"><p class="para">True Biography of Game Creators</p><br><p class="para"><u><a href="/series-guide/ths-guide/true-biography-of-game-creators">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/57UDGOQ.png" loading="lazy"><p class="para">The Girl and the Monster Novel</p><br><p class="para"><u><a href="/series-guide/ths-guide/the-girl-and-the-monster-novel">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/FKfbYyv.png" loading="lazy"><p class="para">SINoALICE Scrap Book</p><br><p class="para"><u><a href="/series-guide/ths-guide/sinoalice-scrap-book">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/UC4FRXj.png" loading="lazy"><p class="para">SINoALICE Financial Report</p><br><p class="para"><u><a href="/series-guide/ths-guide/sinoalice-financial-report">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/j2XEn7D.png" loading="lazy"><p class="para">Project Gestalt Recollections</p><br><p class="para"><u><a href="/series-guide/ths-guide/project-gestalt-recollections">More information.</a></u></p></div>
</div>
</div>
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide">Back</a></p>