---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<style>

.title{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
  font-size: 110%;

}

@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.title u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
}
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/AJWylNV.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits" target="_blank" rel="noopener noreferrer">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>THS's Guide</title>
<p style="margin-top: 1cm; font-size: 250%;">Karis's Guide to DrakeNieR</p>
<p id="title1">Updated on September 5th, 2025.</p>
<p id="title1">I AM CAIM's guide used as a template.</p>
<p id="title2">Read from left to right, and resume as so on the next line when you get to the far right.</p>
<p id="title3">Read from top to bottom.</p>
<p id="title1">Start here:</p>
<p class="line"></p>
<p style="margin-top: 1cm; font-size: 250%;">Play / Read Order</p>
<p id="title1">Ordered in release date.</p>
<div class="over">
<div class="Guide">
<div><img src="https://i.imgur.com/WXDVAhd.png" loading="lazy"><p class="title">Drakengard</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/ATesuKc.png" loading="lazy"><p class="title">Character Profiles</p><br><p class="title"><u><a href="/series-guide/ths-guide/character-profiles">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/dBFTXhP.png" loading="lazy"><p class="title">The Song of Fourteen Years</p><br><p class="title"><u><a href="/series-guide/ths-guide/the-song-of-fourteen-years">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/O6Smlsm.png" loading="lazy"><p class="title">Magnitude Negative</p><br><p class="title"><u><a href="/series-guide/ths-guide/magnitude-negative">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/8MlY0rG.png" loading="lazy"><p class="title">Drakengard Story Side</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-story-side">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/s2l7QI9.png" loading="lazy"><p class="title">Drakengard 2</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-2">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/W5lvAKv.png" loading="lazy"><p class="title">The Garden of Light</p><br><p class="title"><u><a href="/series-guide/ths-guide/the-garden-of-light">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/Spb7R5A.png" loading="lazy"><p class="title">Drakengard 2 Story Side</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-2-story-side">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/4HbrMUO.png" loading="lazy"><p class="title">NieR Replicant/Gestalt</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/24T6mbN.png" loading="lazy"><p class="title">NieR Replicant ver.1.22...</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-122">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/PWJZqiA.png" loading="lazy"><p class="title">NieR Replicant Novellas</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-replicant-novellas">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/ASrClWX.png" loading="lazy"><p class="title">NieR Replicant Drama CD</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-drama-cd">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/WmMxqtd.png" loading="lazy"><p class="title">The Fire of Prometheus</p><br><p class="title"><u><a href="/series-guide/ths-guide/the-fire-of-prometheus">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/kPL2QV3.png" loading="lazy"><p class="title">Drakengard 3</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-3">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/DNbsL1y.png" loading="lazy"><p class="title">Drakengard 3 Short Stories</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-3-short-stories">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/0Lvf1Pm.png" loading="lazy"><p class="title">Drakengard 3 Prelude Novellas</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-3-prelude-novellas">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/wrpScmg.png" loading="lazy"><p class="title">Drakengard 3 Story Side</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-3-story-side">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/7svrG1S.png" loading="lazy"><p class="title">Utahime Five</p><br><p class="title"><u><a href="/series-guide/ths-guide/utahime-five">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/5f4hRIF.png" loading="lazy"><p class="title">Shi Ni Itaru Aka</p><br><p class="title"><u><a href="/series-guide/ths-guide/shi-ni-itaru-aka">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/GnZpvsm.png" loading="lazy"><p class="title">Drakengard 1.3</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-1.3">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/kian8Hc.png" loading="lazy"><p class="title">YoRHa Stage Play</p><br><p class="title"><u><a href="/series-guide/ths-guide/yorha-stage-play">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/JxaaNWY.png" loading="lazy"><p class="title">NieR:Automata</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-automata">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/dy51iN4.png" loading="lazy"><p class="title">NieR:Automata Novellas</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-automata-novellas">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/7OeBC0Y.png" loading="lazy"><p class="title">The Memories of Puppets</p><br><p class="title"><u><a href="/series-guide/ths-guide/the-memories-of-puppets">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/WLwDdcW.png" loading="lazy"><p class="title">YoRHa Boys</p><br><p class="title"><u><a href="/series-guide/ths-guide/yorha-boys">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/oAIpEXC.png" loading="lazy"><p class="title">YoRHa Dark Apocalypse</p><br><p class="title"><u><a href="/series-guide/ths-guide/yorha-dark-apocalypse">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/vErBgsa.png" loading="lazy"><p class="title">NieR 12018</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-12018">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/Zumw9WV.png" loading="lazy"><p class="title">NieR 12020</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-12020">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/4iEJEkJ.png" loading="lazy"><p class="title">YoRHa Ver1.3a/aa</p><br><p class="title"><u><a href="/series-guide/ths-guide/yorha-1.3a">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/PN0GFGN.png" loading="lazy"><p class="title">Pearl Harbor Descent Record</p><br><p class="title"><u><a href="/series-guide/ths-guide/pearl-harbor-descent-record">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/T0r31xc.png" loading="lazy"><p class="title">SINoALICE</p><br><p class="title"><u><a href="/series-guide/ths-guide/sinoalice">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/Rw31o1y.png" loading="lazy"><p class="title">SINoALICE Manga</p><br><p class="title"><u><a href="/series-guide/ths-guide/sinoalice-manga">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/X09hTyi.png" loading="lazy"><p class="title">SINoALICE The Last Story</p><br><p class="title"><u><a href="/series-guide/ths-guide/sinoalice-the-last-story">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/hsB33Et.png" loading="lazy"><p class="title">NieR Re[in]carnation</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-reincarnation">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/QyqpBpb.png" loading="lazy"><p class="title">Voices From the Verge</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-12022">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/rIdPzVy.png" loading="lazy"><p class="title">NieR PC Cases</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-pc-cases">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/gJry4AR.png" loading="lazy"><p class="title">NieR:Automata Ver1.1a</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-automata-ver1.1a">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/Uo0yTft.png" loading="lazy"><p class="title">Amazarashi's Puppet Show</p><br><p class="title"><u><a href="/series-guide/ths-guide/amazarashi-puppet-show">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/Rz0UB47.png" loading="lazy"><p class="title">The End of Data</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-12024">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/vPlTn0g.png" loading="lazy"><p class="title">NieR:Automata Ver1.1a Blu-ray</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-automata-blu-ray">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/lBvrbgJ.png" loading="lazy"><p class="title">NieR Web Novel</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-web-novel">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/NeQYrrz.png" loading="lazy"><p class="title">NieR re:12024</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-re-12024">More information.</a></u></p></div>
</div>
</div>
<p class="line"></p>
<p style="margin-top: 1cm; font-size: 250%;">Others</p>
<p id="title1">These are less important, or have little progress in their translations.</p>
<div class="over">
<div class="Guide">
<div><img src="https://i.imgur.com/onFrgFE.png" loading="lazy"><p class="title">Drakengard Judgement</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-judgement">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/53tnhK2.png" loading="lazy"><p class="title">Drakengard Java</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-java">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/CqROUXl.png" loading="lazy"><p class="title">NieR Gestalt Comic</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-gestalt-comic">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/8kv1leL.png" loading="lazy"><p class="title">YoRHa CD Booklet</p><br><p class="title"><u><a href="/series-guide/ths-guide/yorha-cd-booklet">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/0V733jp.png" loading="lazy"><p class="title">Long Story Short</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-automata-long-story-short">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/tzaVjd6.png" loading="lazy"><p class="title">The Dark Fable</p><br><p class="title"><u><a href="/series-guide/ths-guide/sinoalice-the-dark-fable">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/M5XREKi.png" loading="lazy"><p class="title">SINoALICE Music Concert</p><br><p class="title"><u><a href="/series-guide/ths-guide/parrah-noya-music-jamboree">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/qE4zLkJ.png" loading="lazy"><p class="title">True Biography of Game Creators</p><br><p class="title"><u><a href="/series-guide/ths-guide/true-biography-of-game-creators">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/57UDGOQ.png" loading="lazy"><p class="title">The Girl and the Monster Novel</p><br><p class="title"><u><a href="/series-guide/ths-guide/the-girl-and-the-monster-novel">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/j2XEn7D.png" loading="lazy"><p class="title">Project Gestalt Recollections</p><br><p class="title"><u><a href="/series-guide/ths-guide/project-gestalt-recollections">More information.</a></u></p></div>

</div>
<p class="line"></p>
<p style="margin-top: 1cm; font-size: 250%;">Other Yoko Taro Works</p>
<p id="title1">Possibly related to Drakengard and NieR.</p>
<div class="over">
<div class="Guide">
<div><img src="https://i.imgur.com/zhi7JtM.png" loading="lazy"><p class="title">Thou Shalt Not Die</p><br><p class="title"><u><a href="/series-guide/ths-guide/thou-shalt-not-die">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/fZWoGSJ.png" loading="lazy"><p class="title">Thou Shalt Not Die Zero_KAI</p><br><p class="title"><u><a href="/series-guide/ths-guide/thou-shalt-not-die-zero-kai">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/GdPFyqd.png" loading="lazy"><p class="title">Bakuken</p><br><p class="title"><u><a href="/series-guide/ths-guide/bakuken">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/5nqFaYr.png" loading="lazy"><p class="title">Voice of Cards</p><br><p class="title"><u><a href="/series-guide/ths-guide/voice-of-cards">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/97og8IF.png" loading="lazy"><p class="title">404 GAME RE:SET</p><br><p class="title"><u><a href="/series-guide/ths-guide/404-game-reset">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/eYET1sA.png" loading="lazy"><p class="title">KamiErabi GOD.app</p><br><p class="title"><u><a href="/series-guide/ths-guide/kamierabi-godapp">More information.</a></u></p></div>
</div>
</div>
<p class="line"></p>
<p style="margin-top: 1cm; font-size: 250%;">Official Books</p>
<div class="over">
<div class="Guide">
<div><img src="https://i.imgur.com/juC1j9s.png" loading="lazy"><p class="title">Official Guide Book First Edition</p><br><p class="title"><u><a href="/series-guide/ths-guide/dod-1-first-edition">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/JkpAtJZ.png" loading="lazy"><p class="title">Official Guide Book Complete Edition</p><br><p class="title"><u><a href="/series-guide/ths-guide/dod-1-complete-edition">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/6hFJEmd.png" loading="lazy"><p class="title">The Materials</p><br><p class="title"><u><a href="/series-guide/ths-guide/dod-1-the-materials">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/Z1ws11N.png" loading="lazy"><p class="title">Perfect Guide</p><br><p class="title"><u><a href="/series-guide/ths-guide/dod-1-perfect-guide">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/rKjyEn5.png" loading="lazy"><p class="title">The Master Guide</p><br><p class="title"><u><a href="/series-guide/ths-guide/dod-1-the-master-guide">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/sfC2OM1.png" loading="lazy"><p class="title">Memory of Blood</p><br><p class="title"><u><a href="/series-guide/ths-guide/dod-2-memory-of-blood">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/cmFDJC5.png" loading="lazy"><p class="title">Official Guide Book First Edition</p><br><p class="title"><u><a href="/series-guide/ths-guide/dod-2-first-edition">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/85Baxcb.png" loading="lazy"><p class="title">Official Guide Book Complete Edition</p><br><p class="title"><u><a href="/series-guide/ths-guide/dod-2-complete-edition">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/TjmEq9r.png" loading="lazy"><p class="title">Perfect Guide</p><br><p class="title"><u><a href="/series-guide/ths-guide/dod-2-perfect-guide">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/SHXaL7q.png" loading="lazy"><p class="title">Strategy Guidebook</p><br><p class="title"><u><a href="/series-guide/ths-guide/dod-2-strategy-guidebook">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/QyQMlF9.png" loading="lazy"><p class="title">Grimoire NieR / Revised Edition</p><br><p class="title"><u><a href="/series-guide/ths-guide/grimoire-nier">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/K4lUnQW.png" loading="lazy"><p class="title">Official Guide Book First Edition</p><br><p class="title"><u><a href="/series-guide/ths-guide/dod-3-first-edition">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/X0ZFQja.png" loading="lazy"><p class="title">Official Guide Book Complete Edition</p><br><p class="title"><u><a href="/series-guide/ths-guide/dod-3-complete-edition">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/tOO1CCo.png" loading="lazy"><p class="title">10th Anniversary Box</p><br><p class="title"><u><a href="/series-guide/ths-guide/dod-10th-box">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/QQLmBVk.png" loading="lazy"><p class="title">World Guide Volumes 1 & 2</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-automata-world-guide">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/WzxTej9.png" loading="lazy"><p class="title">Koda Kazuma Art Book</p><br><p class="title"><u><a href="/series-guide/ths-guide/koda-kazuma-art-book">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/eAWNPjh.png" loading="lazy"><p class="title">Black Box Edition Art Book</p><br><p class="title"><u><a href="/series-guide/ths-guide/black-box-art-book">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/pVrh54U.png" loading="lazy"><p class="title">Illustrations & Story Works</p><br><p class="title"><u><a href="/series-guide/ths-guide/sinoalice-insw">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/jVaSEsY.png" loading="lazy"><p class="title">White Snow Edition</p><br><p class="title"><u><a href="/series-guide/ths-guide/white-snow-edition">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/iPPashR.png" loading="lazy"><p class="title">The Story of the Cage</p><br><p class="title"><u><a href="/series-guide/ths-guide/the-story-of-the-cage">More information.</a></u></p></div>
</div>
</div>

<p class="line"></p>
<p class="menu"><a href="/series-guide">Back</a></p>