---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<style>

.para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/AJWylNV.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits" target="_blank" rel="noopener noreferrer">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>THS's Guide</title>
<p style="margin-top: 1cm; font-size: 250%;">Official Books</p>
<div class="over">
<div class="Guide">
<div><img src="https://i.imgur.com/juC1j9s.png" loading="lazy"><p class="para">Official Guide Book First Edition</p><br><p class="para"><u><a href="/series-guide/ths-guide/dod-1-first-edition">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/JkpAtJZ.png" loading="lazy"><p class="para">Official Guide Book Complete Edition</p><br><p class="para"><u><a href="/series-guide/ths-guide/dod-1-complete-edition">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/6hFJEmd.png" loading="lazy"><p class="para">The Materials</p><br><p class="para"><u><a href="/series-guide/ths-guide/dod-1-the-materials">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/Z1ws11N.png" loading="lazy"><p class="para">Perfect Guide</p><br><p class="para"><u><a href="/series-guide/ths-guide/dod-1-perfect-guide">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/rKjyEn5.png" loading="lazy"><p class="para">The Master Guide</p><br><p class="para"><u><a href="/series-guide/ths-guide/dod-1-the-master-guide">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/sfC2OM1.png" loading="lazy"><p class="para">Memory of Blood</p><br><p class="para"><u><a href="/series-guide/ths-guide/dod-2-memory-of-blood">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/cmFDJC5.png" loading="lazy"><p class="para">Official Guide Book First Edition</p><br><p class="para"><u><a href="/series-guide/ths-guide/dod-2-first-edition">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/85Baxcb.png" loading="lazy"><p class="para">Official Guide Book Complete Edition</p><br><p class="para"><u><a href="/series-guide/ths-guide/dod-2-complete-edition">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/TjmEq9r.png" loading="lazy"><p class="para">Perfect Guide</p><br><p class="para"><u><a href="/series-guide/ths-guide/dod-2-perfect-guide">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/SHXaL7q.png" loading="lazy"><p class="para">Strategy Guidebook</p><br><p class="para"><u><a href="/series-guide/ths-guide/dod-2-strategy-guidebook">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/QyQMlF9.png" loading="lazy"><p class="para">Grimoire NieR / Revised Edition</p><br><p class="para"><u><a href="/series-guide/ths-guide/grimoire-nier">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/K4lUnQW.png" loading="lazy"><p class="para">Official Guide Book First Edition</p><br><p class="para"><u><a href="/series-guide/ths-guide/dod-3-first-edition">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/X0ZFQja.png" loading="lazy"><p class="para">Official Guide Book Complete Edition</p><br><p class="para"><u><a href="/series-guide/ths-guide/dod-3-complete-edition">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/tOO1CCo.png" loading="lazy"><p class="para">10th Anniversary Box</p><br><p class="para"><u><a href="/series-guide/ths-guide/dod-10th-box">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/QQLmBVk.png" loading="lazy"><p class="para">World Guide Volumes 1 & 2</p><br><p class="para"><u><a href="/series-guide/ths-guide/nier-automata-world-guide">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/WzxTej9.png" loading="lazy"><p class="para">Koda Kazuma Art Book</p><br><p class="para"><u><a href="/series-guide/ths-guide/koda-kazuma-art-book">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/eAWNPjh.png" loading="lazy"><p class="para">Black Box Edition Art Book</p><br><p class="para"><u><a href="/series-guide/ths-guide/black-box-art-book">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/pVrh54U.png" loading="lazy"><p class="para">Illustrations & Story Works</p><br><p class="para"><u><a href="/series-guide/ths-guide/sinoalice-insw">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/jVaSEsY.png" loading="lazy"><p class="para">White Snow Edition</p><br><p class="para"><u><a href="/series-guide/ths-guide/white-snow-edition">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/iPPashR.png" loading="lazy"><p class="para">The Story of the Cage</p><br><p class="para"><u><a href="/series-guide/ths-guide/the-story-of-the-cage">More information.</a></u></p></div>
</div>
</div>
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide">Back</a></p>