---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<style>

.para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/AJWylNV.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits" target="_blank" rel="noopener noreferrer">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>THS's Guide</title>
<p style="margin-top: 1cm; font-size: 250%;">Karis's Guide to DrakeNieR</p>
<p id="title1">Updated on January 28th, 2026.</p>
<p id="title1">I AM CAIM's guide used as a template.</p>
<p id="title2">Read from left to right, and resume as so on the next line when you get to the far right.</p>
<p id="title3">Read from top to bottom.</p>
<p id="title1">Start here:</p>
<p class="line"></p>
<p style="margin-top: 1cm; font-size: 250%;">Play / Read Order</p>
<p id="title1">Ordered in release date.</p>
<div class="over">
<div class="Guide">
<div><img src="https://i.imgur.com/hUSFVQr.png" loading="lazy"><p class="para">Main Guide</p><br><p class="para"><u><a href="/series-guide/ths-guide-main">Enter.</a></u></p></div>
<div><img src="https://i.imgur.com/889FJGj.png" loading="lazy"><p class="para">Misc Guide</p><br><p class="para"><u><a href="/series-guide/ths-guide-misc">Enter.</a></u></p></div>
<div><img src="https://i.imgur.com/cGJBwEt.png" loading="lazy"><p class="para">Other Taro Works</p><br><p class="para"><u><a href="/series-guide/ths-guide-other-yt-works">Enter.</a></u></p></div>
<div><img src="https://i.imgur.com/lJRCgXy.png" loading="lazy"><p class="para">Guidebooks</p><br><p class="para"><u><a href="/series-guide/ths-guide-guidebooks">Enter.</a></u></p></div>
</div>
</div>
<p class="line"></p>
<p class="menu"><a href="/series-guide">Back</a></p>