---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout><style>    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}                                               
@media (prefers-color-scheme: light)
{
    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
}
</style>
<style>

.para{
  display: inline-block;
  height:auto;    text-indent: 0em;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;
  text-align: center;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;    text-indent: 0em;
}
}
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img style="width: 100%; height: 100%;" src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/media">
          Media
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>THS's Guide</title>
<p style="margin-top: 1cm; font-size: 250%;">Official Books</p>
<div class="over">
<div class="Guide">
<div class="media-card"><a href="/series-guide/ths-guide/dod-1-first-edition"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/dod-official-first-guide.avif?updatedAt=1781783692764" loading="lazy"><p class="title">Official Guide Book First Edition</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/dod-1-complete-edition"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/dod-official-complete-guide.avif?updatedAt=1781783692565" loading="lazy"><p class="title">Official Guide Book Complete Edition</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/dod-1-the-materials"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/dod-the-materials.avif?updatedAt=1781783692751" loading="lazy"><p class="title">The Materials</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/dod-1-perfect-guide"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/dod-perfect-guide.avif?updatedAt=1781783692690" loading="lazy"><p class="title">Perfect Guide</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/dod-1-the-master-guide"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/dod-the-master-guide.avif?updatedAt=1781783692647" loading="lazy"><p class="title">The Master Guide</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/dod-2-memory-of-blood"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/dod-2-memory-of-blood.avif?updatedAt=1781783692616" loading="lazy"><p class="title">Memory of Blood</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/dod-2-first-edition"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/dod-2-first-edition.avif?updatedAt=1781783692533" loading="lazy"><p class="title">Official Guide Book First Edition</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/dod-2-complete-edition"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/dod-2-complete-edition.avif?updatedAt=1781783692623" loading="lazy"><p class="title">Official Guide Book Complete Edition</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/dod-2-perfect-guide"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/dod-2-perfect-guide.avif?updatedAt=1781783692638" loading="lazy"><p class="title">Perfect Guide</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/dod-2-strategy-guidebook"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/dod-2-strategy-guide.avif?updatedAt=1781783692621" loading="lazy"><p class="title">Strategy Guidebook</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/grimoire-nier"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/grimoire-nier-revised-edition.avif?updatedAt=1781783692789" loading="lazy"><p class="title">Grimoire NieR / Revised Edition</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/dod-3-first-edition"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/dod-3-first-edition.avif?updatedAt=1781783692465" loading="lazy"><p class="title">Official Guide Book First Edition</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/dod-3-complete-edition""><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/dod-3-complete-edition.avif?updatedAt=1781783692717" loading="lazy"><p class="title">Official Guide Book Complete Edition</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/dod-10th-box"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/dod-10th.avif?updatedAt=1781783692601" loading="lazy"><p class="title">10th Anniversary Box</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/nier-automata-world-guide"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/nier-automata-world-guide.avif?updatedAt=1781783693112" loading="lazy"><p class="title">World Guide Volumes 1 & 2</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/koda-kazuma-art-book"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/koda-kazuma-art-book.avif?updatedAt=1781783692729" loading="lazy"><p class="title">Koda Kazuma Art Book</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/black-box-art-book"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/nier-automata-black-box.avif?updatedAt=1781783692787" loading="lazy"><p class="title">Black Box Edition Art Book</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/sinoalice-insw"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/sinoalice-illustrations.avif?updatedAt=1781783693078" loading="lazy"><p class="title">Illustrations & Story Works</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/white-snow-edition"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/white-snow-edition.avif?updatedAt=1781783693367" loading="lazy"><p class="title">White Snow Edition</p></a></div>
<div class="media-card"><a href="/series-guide/ths-guide/the-story-of-the-cage"><img class="img-special" src="https://ik.imagekit.io/closesttopurple/avif/nier-rein-book.avif?updatedAt=1781783692976" loading="lazy"><p class="title">The Story of the Cage</p></a></div>
</div>
</div>
<p class="line"></p>
<p class="menu" id="backButton"><a href="/series-guide/ths-guide">Back</a></p>