---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<style>
.over{
  margin-left: auto;
  margin: 0px auto;
  max-width: fit-content;
}
.Guide > div {
  padding: 20px;
  text-align: center;
}
.Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  aspect-ratio: 16/9;
}
@media screen and (orientation: portrait) {
  .Guide{
    display: inline-grid;
    grid-template-columns: auto;
  }
  div{
    margin-bottom: -5%;
  }
  #title2{
    display:none;
  }
}
@media screen and (orientation: landscape){
  #title3{
    display:none;
  }
}
.title{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-top: -1%;
  font-size: 110%;
}
#title1{
  height:auto;
  text-size-adjust: auto;
  font-size: 130%;
}
#title2{
  height:auto;
  text-size-adjust: auto;
  font-size: 130%;
}
#title3{
  height:auto;
  text-size-adjust: auto;
  font-size: 130%;
}
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/AJWylNV.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits" target="_blank" rel="noopener noreferrer">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>THS's Guide</title>
<p style="margin-top: 1cm; font-size: 300%;">Karis's Guide to DrakeNieR (W.I.P.)</p>
<p id="title1">Updated on August 7th, 2025.</p>
<p id="title2">Read from left to right, and resume as so on the next line when you get to the far right.</p>
<p id="title3">Read from top to bottom.</p>
<p id="title1">Start here:</p>
<p class="line"></p>
<div class="over">
<div class="Guide">
<div><img src="https://i.imgur.com/WXDVAhd.png" loading="lazy"><p class="title">Drakengard</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/ATesuKc.png" loading="lazy"><p class="title">Character Profiles</p><br><p class="title"><u><a href="/series-guide/ths-guide/character-profiles">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/dBFTXhP.png" loading="lazy"><p class="title">The Song of Fourteen Years</p><br><p class="title"><u><a href="/series-guide/ths-guide/the-song-of-fourteen-years">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/O6Smlsm.png" loading="lazy"><p class="title">Magnitude Negative</p><br><p class="title"><u><a href="/series-guide/ths-guide/magnitude-negative">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/8MlY0rG.png" loading="lazy"><p class="title">Drakengard Story Side</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-story-side">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/s2l7QI9.png" loading="lazy"><p class="title">Drakengard 2</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-2">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/W5lvAKv.png" loading="lazy"><p class="title">The Garden of Light</p><br><p class="title"><u><a href="/series-guide/ths-guide/the-garden-of-light">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/Spb7R5A.png" loading="lazy"><p class="title">Drakengard 2 Story Side</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-2-story-side">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/4HbrMUO.png" loading="lazy"><p class="title">NieR Replicant/Gestalt</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/24T6mbN.png" loading="lazy"><p class="title">NieR Replicant ver.1.22...</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-122">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/IE2smkw.png" loading="lazy"><p class="title">Grimoire NieR</p><br><p class="title"><u><a href="/series-guide/ths-guide/grimoire-nier">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/ASrClWX.png" loading="lazy"><p class="title">NieR Replicant Drama CD</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-drama-cd">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/WmMxqtd.png" loading="lazy"><p class="title">The Fire of Prometheus</p><br><p class="title"><u><a href="/series-guide/ths-guide/the-fire-of-prometheus">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/kPL2QV3.png" loading="lazy"><p class="title">Drakengard 3</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-3">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/DNbsL1y.png" loading="lazy"><p class="title">Drakengard 3 Short Stories</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-3-short-stories">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/0Lvf1Pm.png" loading="lazy"><p class="title">Drakengard 3 Prelude Novellas</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-3-prelude-novellas">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/wrpScmg.png" loading="lazy"><p class="title">Drakengard 3 Story Side</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-3-story-side">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/7svrG1S.png" loading="lazy"><p class="title">Utahime Five</p><br><p class="title"><u><a href="/series-guide/ths-guide/utahime-five">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/5f4hRIF.png" loading="lazy"><p class="title">Shi Ni Itaru Aka</p><br><p class="title"><u><a href="/series-guide/ths-guide/shi-ni-itaru-aka">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/GnZpvsm.png" loading="lazy"><p class="title">Drakengard 1.3</p><br><p class="title"><u><a href="/series-guide/ths-guide/drakengard-1.3">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/kian8Hc.png" loading="lazy"><p class="title">YoRHa Stage Play</p><br><p class="title"><u><a href="/series-guide/ths-guide/yorha-stage-play">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/JxaaNWY.png" loading="lazy"><p class="title">NieR:Automata</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-automata">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/dy51iN4.png" loading="lazy"><p class="title">NieR:Automata Novellas</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-automata-novellas">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/7OeBC0Y.png" loading="lazy"><p class="title">The Memories of Puppets</p><br><p class="title"><u><a href="/series-guide/ths-guide/the-memories-of-puppets">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/WLwDdcW.png" loading="lazy"><p class="title">YoRHa Boys</p><br><p class="title"><u><a href="/series-guide/ths-guide/yorha-boys">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/oAIpEXC.png" loading="lazy"><p class="title">YoRHa Dark Apocalypse</p><br><p class="title"><u><a href="/series-guide/ths-guide/yorha-dark-apocalypse">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/vErBgsa.png" loading="lazy"><p class="title">NieR 12018</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-12018">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/Zumw9WV.png" loading="lazy"><p class="title">NieR 12020</p><br><p class="title"><u><a href="/series-guide/ths-guide/nier-12020">More information.</a></u></p></div>

</div>
</div>
<p class="line"></p>
<p class="menu"><a href="/series-guide">Back</a></p>