---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<style>

.para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;    text-indent: 0em;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;    text-indent: 0em;
}
}
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>THS's Guide</title>
<p style="margin-top: 1cm; font-size: 250%;">Timeline</p>
<p class="title-special title-box">Simplified Flowchart</p>
<p class="title">If the embed doesn't work, click <u><a href="https://miro.com/app/board/uXjVG5Wtpbw=/?moveToWidget=3458764661862959470&cot=14">here</a></u> or <u><a href="https://x.com/Maruisalone/status/2040086705412214792?s=20">here (the creators' post.).</a></u></p>
<p class="title">Contributors:<br><a href="/credits/people/AbstractSavior"><u>AbstractSavior</u></a>, <a href="/credits/people/accordstome"><u>accordstome</u></a>, <a href="/credits/people/Maruisalone"><u>maru</u></a>, <a href="/credits/people/r3incarnationan"><u>r3incarnationan</u></a>, and <a href="/credits/people/seviryn"><u>Seviryn</u></a></p>
<p class="line"></p>
<div>
  <iframe 
style="width: 80vw; height: 80vh; border: none;"
   src="https://miro.com/app/live-embed/uXjVG5Wtpbw=/?focusWidget=3458764666392918385&embedMode=view_only_without_ui&embedId=822964271366" 

   allowfullscreen
   style="display: block;">
  </iframe>
</div>
<p class="line"></p>
<p class="title-special title-box">Full Flowchart</p>
<p class="line"></p>
<div>
<iframe  style="width: 80vw; height: 80vh; border: none;" src="https://miro.com/app/live-embed/uXjVG5Wtpbw=/?focusWidget=3458764661774022477&embedMode=view_only_without_ui&embedId=621821777162" allow="fullscreen; clipboard-read; clipboard-write" allowfullscreen></iframe>
</div>
<p class="line"></p>
<p class="title-special title-box">Timeline Charts (W.I.P.)</p>
<p id="title1">From various guidebooks.</p>
<div class="over">
<div class="Guide">
<div><img src="https://i.imgur.com/Xrhz5FG.png" loading="lazy"><p class="para">Grimoire NieR Timeline Chart</p><br><p class="para"><u><a href="/series-guide/ths-guide/grimoire-nier/timeline">More information.</a></u></p></div>
<div><img src="https://i.imgur.com/2SjfGDH.png" loading="lazy"><p class="para">Drakengard World Inside Timeline Chart</p><br><p class="para"><u><a href="/series-guide/ths-guide/world-inside-timeline-chart">More information.</a></u></p></div>
</div>
</div>
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide">Back</a></p>