---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Argo's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Argo's Character Story</p>
<p class="title"><a href="https://www.youtube.com/watch?v=kOqPX5853Mc"><u>Video</u></a></p>
<p class="title">Chapter 1</p>
<p class="para">My life's mission is to explore the entire world, for only great hardships can make me
feel alive. Everything besides adventuring is merely a footnote. I wager I'll feel this way until
the day I die.</p>
<p class="para">I've faced the challenge of many unexplored regions in my life: Mountains untrodden by
man, scorched deserts, frozen islands, pitch-black forests, caves that lead to an endless abyss...
<br>So many adventures I can't even remember them all.</p>
<p class="para">Just the other day, my wife and I learned that our long-awaited first child was in her belly!
<br>Of course, I wanted to help however I could. Which is why I left our snug house in the snowy
mountains and began the long climb down. My destination is a small nearby town. How long has
it been since I've made this trip? My wife is usually the one who does the shopping. In any case,
<br>I don't mind doing what I must to help out during this time.</p>
<p class="title">Chapter 2</p>
<p class="para">I haven't tasted the bustle of civilization in a long while, but I pay it little mind as I search
for the shops my wife told me about. Heh. It's funny how quickly I get turned around in the streets—
if only I was navigating a mountain path instead!</p>
<p class="para">As I wander about, a merchant calls me over. He recognizes me as a renowned adventurer, 
and he says he has items he wants me to look at. He has a keen eye, this shopkeeper! Ha ha ha!
<br>The shopkeep lays out several items across his display: flint to create bonfires, a talisman that
wards off illness, and ice that never melts, even under the hottest of suns. All extremely useful
items on any adventure! He claims these items are all in high demand, so I buy them on the spot.
<br>Lady luck is really smiling on me today!</p>
<p class="title">Chapter 3</p>
<p class="para">The moment I leave the stall, reality smacks me in the face: I spent all our money and
didn't get a thing my wife wanted! Ah, well. Nothing to be done about it now. So I sell my coat
and use the money to buy what I came for. Not the smartest thing to go coatless in the dead of
winter, but I'm hearty—I'll find a way to survive. Mine is a body forged in the fires of countless
journeys. It'd take more than this to do me in!</p>
<p class="para">As I make my way back up the mountain, a blizzard suddenly comes upon me.
I'm cold—<i>really cold</i>—but I spy a nearby rocky shelter and decide to hunker down. As I settle in,
I try to start a bonfire with my new flint. But the moment I strike it, the damn thing shatters into
pieces. It's a dud—talk about unlucky.</p>
<p class="title">Chapter 4</p>
<p class="para">Somehow, I manage to make it home through the wind and snow. When my wife sees me,
she demands to know why I was wandering around without my coat on, so I tell her the whole
crazy story. Still, I'm pretty excited about my two remaining treasures!</p>
<p class="para">That night, I am plagued by a high fever. You expect this kind of thing when you walk around 
in a blizzard without a coat, but it means my talisman that wards off illness is <i>also</i> a bust! Another
dud! Can you believe it? Trying to kill the fever dead, I put my never-melt ice in a sack and set it
on my forehead. I bet you can guess how this goes... I take the bag of lukewarm water off my head
and toss it aside in disgust. That damn shopkeep took me for all I had! Still, it's not all a loss;
I live on a snowy mountain... So if it's ice I need, I just have to walk outside! Ha ha ha ha ha!</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/argo">Back</a></p>