---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Argo's Dark Memory</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Argo's Dark Memory</p>
<p class="title"><a href="https://www.youtube.com/watch?v=o8cz7cceZi8"><u>Video</u></a></p>
<img src="https://i.imgur.com/TK23ghx.png">
<p class="title">Chapter 1</p>
<p class="para">Icicles hang from the eaves. The world outside is enrobed in white. The snow here is deep
and cold. The trees, bushes, and grasses all lie buried, silently waiting for the arrival of spring.</p>
<p class="para">
A girl of tender age gazes out the window. "Here you go, honey."
<br>The girl turns to face the speaker and finds her mother offering her a cup with steam furling from
the top. It's filled with warm goat milk. Her mother swears by it, claiming it's the best thing for
warding off winter's chill. But the girl doesn't feel strongly about it one way or the other.</p>
<p class="para">"Uh, thanks," she says.
<br>She accepts the cup from her mother and returns her attention to the outside world, taking small
sips now and then.</p>
<p class="para">"I wonder when your father will come home," murmurs her mother.
<br>Without waiting for a response, she quietly retreats back to the kitchen. The girl exhales on the
<br>window, her breath warm from the milk. It clouds over in white. She runs her finger across the spot,
sketching idle patterns. She is not allowed to play outside during the winter, so boredom is her
constant companion. During such times, even a window can make a decent playmate. The girl lets
her attention drift as she looks out the window at the piles of snow beyond.</p>
<p class="para">Her small house sits halfway up a snowy mountain. The girl and her mother are usually the
only occupants. Her father is rarely home. According to her mother, he is an adventurer of sorts
who is always off traveling the world. The girl isn't sure what kind of job an "adventurer" is,
exactly—all she knows is that her father is very busy. But her mother has a litany of complaints
about him, and she is never shy to make her opinions known.</p>
<p class="para">
"Your father never listens! He's stubborn as a mule, drunk as a skunk, and he never, ever, EVER
thinks about his family! He only cares about his damn adventures!"</p>
<p class="para">
And she always finishes her rant with the same exasperated phrase:
<br>"I honestly don't know what to do with that man."</p>
<p class="para">The girl is too young to speak with her mother as an equal. But as her mother has no one else to
talk to, she grumbles away—as much to herself as her daughter most days.</p>
<p class="para">Recently, her mother told the girl a story. Four years ago, when the girl was born, her father
had apparently been off on one of his adventures.</p>
<p class="para">"Wait," said the girl when she first learned of this.
<br>"So you gave birth to me <i>alone</i>?"
</p>
<p class="para">Her mother replied with a chuckle.
<br>"Oh, I knew he wouldn't come home, so I made sure to call a midwife up from town ahead of time."
<br>The girl nodded as though she understood and said,
<br>"Gee, Mom. That's pretty crazy."
<br>When the father finally returned from that freewheeling adventure, his daughter could already hold
her head up on her own. After that, her mother raised her almost entirely alone. The girl would
always gaze in bewilderment at her father during his rare visits home, and figured that perhaps his
behavior was normal, and that's just what fathers are. But she could not help but feel concern by
the dark look that often fell upon her mother's face. She doesn't hate her father. Not really, anyway.
<br>But once she became old enough to understand some things, she started to resent the way he
treated her mother. One year, her father came home before the arrival of spring.
</p>
<p class="para">
That was the night it happened. It led to one of the worst moments of her life. The three of
them sat around the table enjoying a meal. Suddenly, her father—drunk as usual—leaned over to
her and said:
"Y'know, if you were a boy, I'd take ya on an adventure with me."</p>
<p class="para">Before she knew it, her eyes were filled with tears. <i>Why am I crying about this</i>? she wondered.
<br>For a moment, her mind was a blazing whirl of emotion. Her father had laughed the whole thing off,
claiming it was a joke and ruffling her hair. But it was no joke to her; as far as she was concerned,
her father had denied her very existence. As the days passed, another emotion began to bud within
the girl, one far different from her usual sadness and isolation. It was a spirit of defiance toward
her father.</p>
<img src="https://i.imgur.com/3WSN3lN.png">
<p class="para">"Y'know, if you were a boy, I'd take ya on an adventure with me."
<br>Two years have passed since her father hollowed out her heart. Though she is older now, she still
lives alone with her mother. Her father continues to live his life of freedom, stumbling home whenever
the mood strikes.</p>
<p class="para">
<i>Why does Dad like adventures so much?
<br>Why does Dad think they're more important than Mom?
<br>Why does Dad hate me?</i></p>
<p class="para">
These questions often enter the girl's mind before she falls asleep. But one of her lean years can
never find the answer.</p>
<p class="para">Eventually, as always, her father wanders home. When he crashes through the door, he
hands over all sorts of random articles to her mother. They're a mix of strange statues, odd flowers,
and a dozen other useless trinkets—but he refers to them proudly as his "spoils."
<br>"Sell 'em for money!" her father says proudly.</p>
<p class="para">But the girl knows from her mother that his "spoils" are near to worthless. In the end, her mother
always paid their living expenses by knitting clothes and gloves and selling them in town. But of
course, her father has no idea. She asked her mother once why she didn't tell her father this, and
she just shook her head.</p>
<p class="para">
"Those spoils are important to him. If he ever realized they were junk, it would make him terribly upset."
<br>After handing over his most recent spoils, her father gulps down strong alcohol with dinner.
<br>Though he is usually silent on his first night back, this time he gleefully spins tales of his adventures.
Ever since the incident of two years ago, the girl had avoided her father when he drank.
<br>She couldn't bear having him say something so cruel again. That's why she rarely hears his
adventuring tales directly. But his booming voice is impossible to avoid in the small house, and it
reaches her as she lies in bed. He raves about fighting a ferocious beast in a scorching volcano,
claims to have discovered ancient ruins in a deep wood, and weaves a tale of a titan's mirage in a
land of illusion.</p>
<p class="para">"Bet I would love these stories if I was a BOY," mutters the girl.
<br>Annoyed, she closes her eyes and waits for sleep. She occasionally hears her mother make indistinct
noises to indicate she's following along—either because she's used to such stories after all the years,
or because she's simply tired of hearing them. Soon, her parents start to argue. This is another part
of his coming-home "routine."
<br>The cause of their argument is always some trivial matter, mostly involving a supposed hurt suffered
by her father.</p>
<p class="para">"Are you even listening to me!?"
<br>"This is important!"</p>
<p class="para">Things like that. Yet to a child, every argument is a new round of pain. Whenever he starts yelling,
she feels such empathy for her mother that her entire soul is plunged into a whirlpool of fear and
unease. She pulls her blanket over her head and wraps it tight around her ears in an attempt to
block out his drunken howls. <i>I wish he'd never come home.</i></p>
<p class="para">Soon, she hears her father yell, "Adventuring is my life, woman!" followed by the familiar
slam of a door. The argument had ended as it always did. With sleep miles away, the girl slips out
of bed and makes her way to her mother, who is sitting silently at the kitchen table.</p>
<p class="para">"I'm okay, honey," she says with a slight smile.
<br>"Go back to bed."</p>
<p class="para">
Relieved, the girl returns to her bedroom and quickly falls asleep. She thought her father might stick
around for a bit this time, but he sets off again in the middle of the night. And she knows that when
he returns, he'll cheerfully drink his favorite drinks, wolf down some food, and argue with her mother.
<br>The same pathetic pattern; an endless, worthless cycle. Why did he do the same thing over and over?
<br>And why did her mother put up with it? She did not understand at first. One day, the mother said to
the girl, "That's just who your father is."</p>
<p class="para">
To the girl, it looked as though her mother was forcing a smile. The girl eventually summed it up in
a single thought:
<br>"I guess that's just what it's like to be married."</p>
<img src="https://i.imgur.com/qjFO8gh.png">
<p class="para">Days pass. Months pass. How many winters has it been now? As always, she drinks her
warm goat milk and stares out the window at nothing of particular importance. Giant trees. Mysterious
animals. Colorful flowers. Creepy insects. From spring to autumn, the whole outdoors surrounding
their home is her special place. She spends her days covered in mud as she runs through
the mountains, following her curiosity wherever it leads. But winter? Well, winter is different. Deep
banks of snow confine the girl to her house; her world shrinks down to a single fogged-over window.
<br>She hates winter. She hates it with all that she is.</p>
<p class="para">
This winter, her mother is nearing full term with her second child. But her father is off
wandering the world again, so the two of them are home alone. Despite her pregnancy, her mother
stays busy with housework and knitting. The girl understands this is what supports them both, and
does her best to play alone and out of the way. But the house is so very <i>boring</i>. Lately, she's been
<br>whittling herself small toys out of wood, but that can only pass the time for so long. Today, the girl
simply sits and waits for the day to end.</p>
<p class="para">Eventually, her gaze leaves the window and wanders about. This room, with the large table
and fireplace, is where she and her mother—and occasionally her father—take their meals. Bottles of
her father's drinks sit in a row on the mantle. They almost seem lonely, as if wondering why no one
has yet popped their corks to enjoy the wonders within. In the kitchen, something bubbles merrily
away. Her mother is preparing dinner. Though there is still milk in her cup, she sets it on the table
and wanders off to find a different room to play in. Sadly, the house is not very large. She arrives at
her destination within seconds. A tired wooden door stands before her. And on the other side...is a
mystery. Boredom has made the girl bold. This is the only room in the house she has never seen.
<br>It is her father's room. He has forbidden anyone else from entering it.</p>
<p class="para">Eventually, her gaze leaves the window and wanders about. This room, with the large table
and fireplace, is where she and her mother—and occasionally her father—take their meals. Bottles of
her father's drinks sit in a row on the mantle. They almost seem lonely, as if wondering why no one
has yet popped their corks to enjoy the wonders within. In the kitchen, something bubbles merrily
away. Her mother is preparing dinner. Though there is still milk in her cup, she sets it on the table
and wanders off to find a different room to play in. Sadly, the house is not very large. She arrives at
her destination within seconds. A tired wooden door stands before her. And on the other side...is a
mystery. Boredom has made the girl bold. This is the only room in the house she has never seen.
<br>It is her father's room. He has forbidden anyone else from entering it.</p>
<p class="para">
"I have important things in there," he often said,
<br>"and I don't need you fiddling around."
<br>"He is <i>definitely</i> hiding something," says the girl to no one.</p>
<p class="para">She feels years of defiance and resentment boiling up, and suddenly wants to open that door more
than anything. But if her mother catches her, she will be very upset. Her mother takes promises with
her father seriously, after all. That was why she snuck past her mother in the kitchen and approached
the door on feet as quiet as a cat. Before her, a door. Behind it, a space for her father alone.
<br>She can hear her own heartbeat. Sweat glistens on her palms. She is nervous about disobeying
her father, but also about learning his secrets.</p>
<p class="para">Finally, the girl pushes the ill-fitted wooden door ajar, slips through the gap, and closes it
behind her. The room is silent in the absence of its owner. It is also exceedingly plain, with only a bed,
a desk, and a small assortment of adventuring tools. She begins her exploration at the desk. It is
covered with a messy stack of papers. There is a date scrawled on each. The girl flips through the
papers idly. They are records of his adventures. The rough handwriting belies the fact he wrote them
all himself. Each story tells of dangers faced on his travels; of moments that mark the line between
life and death. They tell what he thought, what he did, and how he felt. They also speak of all the
marvelous sights he has seen. They're so detailed, it's like the girl is there with him. She digs deeper
and deeper into the pile before finally reaching the bottom, where she finds a paper from one year in
particular: The year she was born. She opens the record and begins to read—and as she does, her
heart leaps into her throat.</p>
<img src="https://i.imgur.com/q51YcCa.png">
<p class="para">I was very young when I first snuck into Dad's room. He had a pile of writings there, but one
in particular spoke to me. The date on the cover was from the year I was born. My name was written
at the top, and below that was paragraph after paragraph of kind words for his beloved child. I'd often
doubted he even remembered me at all, so I held it tight and read furiously.</p>
<p class="para"><i>
I want to show my beloved daughter all the secrets that slumber in this wide, wide world. I want to
prove to her that I have lived. And I want her to know how so very beautiful the world can be.
<br>That's why I'm writing down my adventures starting today: So that someday she can know all this for
herself. My only wish is that her life be filled with joy and wonder. I would give anything for that.
</i></p>
<p class="para">Dad was a large, loud, awkward man. And he was terrible at expressing his feelings—especially love.
<br>But in that moment... I suddenly understood him. The date on that entry was three months after my birthday.</p>
<p class="para">Mom told me he was off adventuring the day I was born. He must have written it when he
came back. That's just the kind of man he was. After that, my impression of him changed. Once I
knew he loved me—really knew it—my feelings of defiance and revulsion slowly began to change.
<br>A few days after I snuck into his room, he came home. Like always, he got hammered, fought with Mom,
and stomped off to his room. I was still young, and though I understood him a little bit better, I hadn't
had time to process everything yet, so I was still annoyed. It was hard to hear them fight—especially
because I knew how much it hurt Mom. And like I said, I was still processing everything. But somehow
<br>I mustered up the courage to give him a present.</p>
<p class="para">It was the next morning, just as he was heading out. The snow was heavy that day. I woke
up early, walked outside, and handed him a letter and a good-luck charm I'd carved out of wood.
<br>It was the first present I'd ever given him, and he looked a little shocked to receive it. But then he
smiled at me, muttered an awkward thank-you, and tucked them both away in one of his pockets.
<br>That smile made me feel like my heart was going to burst. Then he walked over the horizon and
disappeared. I was euphoric, flying, so I ran back inside and asked Mom to teach me how to knit.
<br>I wanted to make him a pair of mittens for when he got back. I'd never given a damn about knitting
before, but now making something nice for Dad was all I could think about. Maybe I thought it would
make up for all the coldness I'd shown him over the years. Unfortunately... I was never able to give
him those mittens. Because after he left that day, he never came back.</p>
<p class="para">I've been waiting for ten years now.
<br>"You're back! You're back! Tell me a story! An ADVENTURE story!"
<br>When I open the door and enter the house, my little brother runs up and attaches himself to my leg.
<br>He's far happier than I ever was at that age—and why not? He's healthy and loved and has the whole
outdoors as his playground. But unlike me, all he knows about Dad are his stories.</p>
<p class="para">"I'm gonna be an adventurer just like you, Sis!"
<br>I now travel the world as a fledgling adventurer. And on the occasions I make it home, I always make
sure to spin my brother a tale or three. The records my father left behind are my most precious treasures.
<br>Mom was beside herself when I told her I was going to be an adventurer, but she eventually came
around; you can only fight what's in your blood for so long, you know?</p>
<p class="para">I still remember what Dad said that night:
<br>"Y'know, if you were a boy, I'd take ya on an adventure with me."
<br>I hated him in that moment—and it took a long, long time for that hate to finally drain away. And while
<br>I couldn't express what I felt when I was a kid, I can put it into words now. He was wrong. I <i>knew</i> he
was wrong. And I wanted him to admit it. So I'm going to prove to him that a woman can be just as
skilled an adventurer as any man....Heh. I guess I really am his daughter, huh? Anyway, if I ever find
him out there in this great, wide world, I'll do what Mom would do and give him holy hell. And each
time I set out for some new and unseen land, I pray this is the time where it will finally happen. And
of course, I always carry the mittens.
</p>
<p class="para">...You know. Just in case.</p>

<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/argo">Back</a></p>