---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Argo's Hidden Stories</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Argo's Hidden Stories</p>
<img src="https://i.imgur.com/pzY6ZXP.png">
<p class="title">Chapter 1: An Adventurer's Final Diary: Part 1 (No.01)</p>
<p class="para">&nbsp;&nbsp;――FOREWORD――</p>
<p class="para">To date, I have published several biographies based on
the diaries of adventurers, but this one is quite special;
it is the final tale of the man I most admire. The reason
<br>I never touched on this story was because I always knew
it would be the final entry. </p>
<p class="para">As you know, I myself am a practicing adventurer.
<br>As I pen this foreword, I am planning the greatest challenge
of my life. It is likely this book will be published in a world
where I no longer exist. But as I prepare to venture into
a dangerous and unexplored land, I must free myself from
the anxieties of the future so I can place my life on the line.</p>
<p class="para">This <i>book</i> must be published, for I firmly believe
an adventurer's soul lives on through those who read their
tales. In fact, I consider this to be the record of a soul that
can <i>only</i> exist within adventurers. As such, I hope
you read every word about this lofty man, and take his tale
as deep into your heart as I have.
</p>
<p class="line"></p>
<p class="para">
"Adventures are surprise and discovery.
This is a universal truth—and why I cannot stop."</p>
<p class="para">I guess you'd call that my catchphrase. At the very least,
I've repeated the words so much I often feel a sense
of exhaustion in them.</p>
<p class="para">Why do I adventure? What <i>is</i> an adventure? </p>
<p class="para">This is the answer I always give the rabble who do not
understand adventuring—the ones who view me as
a simple and shallow man:</p>
<p class="para">
"Surprise and discovery," I say. I have crossed the world
and conquered unexplored lands in search of these
things alone. </p>
<p class="para">I have found deep lakes that slumber in the desert.
<br>I have traversed mountain ranges so tall they kiss
the very sky. I could go on and on—my accomplishments
are many, and I have ventured from the haunted depths
of caves to the abyssal black of the sea. There is no
adventurer who does not know my name. </p>
<p class="para">
But though I have no interest in over-the-top fame and
nominal awards, I take some small pleasure from inspiring
a younger generation. </p>
<p class="para">On that day, I ventured into unseen lands. I sought the
Shimmering Falls—a waterfall of legend whose rapids were
said to flow the color of gold. But when I arrived at the place
said to be its origin, I found not golden falls, but a golden city.</p>
<p class="para">As I climbed a sheer cliff to get a better view of
the captivating sight, I heard a scream below me.
<br>My gaze snapped down to see a younger man who
had missed his footing and was dangerously close
to tumbling o'er the cliff.</p>
<p class="para">His youth had made him bold, but now his face was warped
by fear. Sweat covered his body, brought on by the panic
of his impeding fall. Were I to move on, his hand would
eventually slip, plunging him into the unfathomable ravine.
</p>
<p class="para">An adventurer who dies by accident has only themselves
to blame. I consider this a universal truth, yet felt ill at
the prospect of leaving a valiant youngster to his
imminent demise.
</p>
<p class="para">"Stay calm," I called to him. His attention immediately
snapped to me, his eyes wavering with dangerous hope.</p>
<p class="para">"Do not panic. I will come to you," </p>
<p class="para">He replied with a bite of his lip and a slight nod.
<br>Careful not to spook the young man with bits of falling rubble,
I descended and extended a hand. I was met immediately
by his own—one with a sense of desperation in the grip.
<br>The softness of his palm told me he did not yet know
the full joy and pain that adventuring could offer.</p>
<img src="https://i.imgur.com/PcFTgYA.png">
<p class="title">Chapter 2: An Adventurer's Final Diary: Part 2 (No.02)</p><p class="para"></p>
<p class="para">The wind is cold, and dry enough to crack my skin. </p>
<p class="para">Having reached out to the young man who was in danger
of falling, I found a nearby ledge where the two of us
could take our rest.</p>
<p class="para">His face was stunned and bloodless; staring death in the
face will do that to a man. Yet he made no word of
acknowledgement. No word of thanks. In fact, he seemed
to be willfully ignoring me—and after a minute of silence,
he reached for the cliff in front of us once more. </p>
<p class="para">How interesting.</p>
<p class="para">
More emotional weaklings might have taken offense, but the
adventurer's spirit inside me appreciated his recklessness. </p>
<p class="para">
Encounters between people in unexplored lands are rare—
and usually fleeting. Even if we forge a kind of friendship
in that moment, we never know what happens to the other
once we part ways. But I sensed great potential from the
young man—so much, in fact, that I feel a burning desire to
know where his life might take him. Still, an adventurer
needs more than calm presence of mind; they must be
willing to risk all if they are to open the way to new lands.</p>
<p class="para">"Let me show you the secret to rock climbing," I said as
I pushed past him. The boy, who had been disinterested only
moments before, began to follow me in silence. I took that
as a good sign; he had pride, true, but was also flexible
enough to accept advice. Still, I saw annoyance on his face
that he was in this situation, and found it almost charming.</p>
<p class="para">I'd generally taken on new challenges alone; solitude was
how I found my satisfaction. But this is a hard life,
and sometimes a lonely one. Perhaps, deep down, I'd
been searching for a kind of apprentice all my life. If I could
teach what I knew to the young man—like pouring water
from one vase to another—it might give greater significance
to the rest of my accomplishments. </p>
<p class="para">With that thought, I felt a new zeal for what little remained of my life. </p>
<p class="para">I patiently taught the boy tricks to climbing. He absorbed
them earnestly, and immediately began putting them into
practice. Courage <i>and</i> skill? Yes, he was a rare find
indeed. I wondered if I would even have anything to teach
him by the time we made it up the mountain and down again.</p>
<p class="para">Once he had a plethora of skills under his belt, we reached
the top of the cliff and hauled ourselves over the edge—
and what awaited us there was a sight more beautiful than
my meager words can possibly describe:</p>
<p class="para">The Golden Falls.</p>
<p class="para">They shone with a brilliant light the color of treasure.
<br>It was intense enough as to blind a man if he stared at it
for more than a few moments. But the boy cared not for the
sight before him. Instead, he just looked around briefly
before turning to me and asking a single question:</p>
<p class="para">
"So where's the gold?"</p>
<p class="para">I burst out laughing before informing the boy there was no
actual gold to be found here—the color of the falls came
from how sunlight reflected off the water. He looked
genuinely disappointed; he'd apparently heard a rumor
that real gold had been buried at the source of the falls.
<br>After learning he couldn't reach them on his own, he'd
been planning to split the treasure with me instead.
</p>
<p class="para">
His greed made me burst out laughing again. But not in
anger or disgust. Oh no. This was no chance meeting,
you see—for greed is a lifeline to the survival instinct.</p>
<p class="para">I knew then and there my instincts about the boy
had been correct.</p>
<p class="para">He gave me the evil eye as I guffawed, no bothering to
hide his dissatisfaction. Then, sparing not even a single
moment to appreciate the sight before him, he hurriedly
turned to leave.</p>
<p class="para">
But I stopped him. </p>
<p class="para">Few places within the entirety of nature are so grand as
the Golden Falls, and the men who gain the chance to see
them are even fewer. The true treasure there was not gold
or wealth, but <i>the view itself</i>.</p>
<p class="para">The boy scoffed when I told him as much, but his
expression finally loosened just a bit.</p>
<p class="para">"You're a real idiot, aren't you?" he said. </p>
<p class="para">And he was right. Because I would do anything—
<i>anything</i>—in the name of adventure.</p>
<img src="https://i.imgur.com/RfDs8wU.png">
<p class="title">Chapter 3: An Adventurer's Final Diary: Part 3 (No.03)</p><p class="para"></p><p class="para"></p>
<p class="para">Things took a bad turn in this part of my tale, and I
found myself in a predicament more distressing than
any I'd encountered in all my years of adventuring.  </p>
<p class="para">
Years had passed since I traveled to the Golden Falls,
and I now had my heart sent on conquering a jungle teeming
with large serpents, deadly insects, and ferocious beasts.
<br>It had been easy going at first—so much so that I let my
guard down. But the moment I did, I brushed up against
some brambles and scratched the back of my hand,
drawing a single bead of blood.</p>
<p class="para">That faint smell was invitation enough.</p>
<p class="para">
The next thing I knew, I was face-to-face with a starving,
ferocious tiger. It bore its fangs and claws, eyeing me like
a hunk of meat on the dinner table. Then, as a chill ran up
my spine, it leapt toward me with murder on its mind.</p>
<p class="para">I could not block it. I could not even move.</p>
<p class="para">Claws rent clothes and skin. Blood poured from wounds on
my chest. Though it hit no vitals, the intense pain was
enough to steal away all rational thought.
</p>
<p class="para">I should have run, you see. That would have been rational.
<br>Instead, I grabbed my weapon and readied for battle.</p>
<p class="para">A single wounded person against a mighty tiger?
<br>It was absurd. I had a one in a million chance
of victory, if even that. The thought of death passed
through my mind like a chilly breeze in the early morning
dawn, and I felt my eyes close in spite of myself. </p>
<p class="para">To the tiger, this was an invitation; there is no easier
prey than one who has surrendered, and the beast saw
straight through my despair. Before I knew what was
happening, it leapt upon me a second time.
</p>
<p class="para"><i>If you're going to eat me, make it fast. </i></p>
<p class="para">I thought those would be my last words before oblivion.
<br>But no matter how long I waited for death, it never came.</p>
<p class="para">I slowly opened my eyes and beheld the tiger lying on the
ground, its life stolen away. Standing on the hillock above
was the boy I'd met all those years ago on the cliff.</p>
<p class="para">I was shocked. My mind reeled. It took agonizing seconds
to recognize who he was, and even longer to realize he'd
saved my life. The gallant young lad had ended the tiger
in a skilled ambush, keeping me and my frozen resignation
ever in the corner of his eye. </p>
<p class="para">He was larger than I remembered—thicker and more stalwart.
<br>Countless ordeals had hardened him as a forge tempers iron,
turning his once-weak body into the ideal physique of an
adventurer. To be honest, I was more impressed by this than
the fact he'd saved my life.</p>
<p class="para">
"We're even," he said curtly. Clearly he'd not forgotten
the day I reached for him on the cliff. More to the point,
he remembered it so well that he'd been searching for a
chance to repay his debt for all of these many years,
following me in my journeys while simultaneously honing
both body and mind.</p>
<p class="para">
Perhaps some of you—perhaps many—would find such a
thing unsettling. But all I saw was an earnest, focused
lad who wanted to do what was right.</p>
<p class="para">
A great feeling of fondness for the boy passed through
me in that moment, and before he could turn to leave,
<br>I mustered all my remaining energy to give him both my
earnest thanks and my praise.</p>
<p class="para">
Sadly, these words only caused his cheeks to redden
and his eyes to drop. It seemed as though he'd spent
his entire life without ever receiving a word of thanks,
and had no idea how to take mine.</p>
<p class="para">Gods, but it was <i>so</i> like him.</p>
<p class="para">I laughed then. I couldn't help it. I roared with laughter,
and his expression quickly moved from shame to rage. </p>
<p class="para">"I saved you!" he snapped. "Stop laughing!" </p>
<p class="para">Of course, this only caused me to laugh all the more.
<br>And after a few moments, a smile slowly crossed his face.</p>
<p class="para">From that point on, we traveled together at my request.
<br>It took a while to convince him; he was crabby, bashful,
and reluctant to trust. But his fate was sealed the moment
he started taking to me.</p>
<p class="para">I knew that together, we would face ever more challenging
and fascinating adventures. We would find surprises and
make discoveries that set any previously untrodden areas
to shame. We would find miracles not begotten by God,
but created by <i>us</i>.</p>
<p class="para">My life—and my future—was now filled with light.</p>
<img src="https://i.imgur.com/6ni8WUJ.png">
<p class="title">Chapter 4: An Adventurer's Final Diary: Part 4 (No.04)</p><p class="para"></p><p class="para"></p><p class="para"></p>
<p class="para">The young man and I conquered numerous lands after that.
<br>Though his logical mind was a bit lacking at times, he was
able to overcome even the worst of predicaments by way of
his superior physical strength. And as I watched him grow
into a strong and dependable companion, I found myself
harboring more fondness for him than I ever expected.</p>
<p class="para">Ah, but it's true. This proud woman finally fell in love.</p>
<p class="para">The boy—no, a man now—seemed to favor me as well. He
told me he'd suffered greatly after we'd parted ways at the
Golden Falls, and couldn't dismiss my face from his mind.
<br>I wasn't sure how to respond to that—I've never been much
for compliments, and my speech is hardly what you'd call
elegant. Thankfully we each saw through the others' faults
and pursed a relationship with single-minded stubbornness.</p>
<p class="para">We eventually married, and soon thereafter were blessed
with a child. To ready for the birth and my subsequent
motherhood, I abandoned the adventuring life. But though
<br>I was no longer climbing mountains or tromping through
woods, I somehow felt more adventurous than ever. </p>
<p class="para">Adventure is wanderlust, you see. And to my great surprise
being a mother satisfied that itch. I found that raising
a child was a journey filled with more surprise and
discovery than any I had ever before undertaken.</p>
<p class="para">I am satisfied with my new life.</p>
<p class="para">As I write these words, my husband is out on another
adventure. I while I wish he would spend more time at home,
I gave up trying to convince him long ago. Whenever I ask,
he what he always says to anyone who questions him:</p>
<p class="para">"That's just how I am." </p>
<p class="para">
Oh, but he can be an infuriating man! And yet, I know
the passion that drives him, so I always forgive him.
<br>I was the adventuring idiot who invited him on a journey
and asked him to be my husband, after all. I was the one
who changed his life. </p>
<p class="para">And I must also be the one to send him off.</p>
<p class="para">
That's why I want to end my diary here. I want to enjoy the
present instead of reminiscing endlessly about the past.
<br>My present <i>is</i> my future now, and it is filled with light.
<br>So together, my daughter, husband, and myself will venture
down the crooked, wonderful path that is a life. </p>
<p class="para">&nbsp;&nbsp;――AFTERWORD――</p>
<p class="para">There's no adventurer I look up to more than my mother,
so I modeled this record after her diary.
</p>
<p class="para">
Mom's diary does indeed end there. Despite how much she
complains about Dad being stubborn, she's the exact same—
she never changes course once she's made up her mind. </p>
<p class="para">People experience all sorts of meetings, but I believe my
parents' union was inevitable—maybe even a kind of fate.
<br>Even so, I still find being the daughter mentioned in the
diary to be a bit embarrassing. </p>
<p class="para">But even though the diary ended where it did, there's more
to the story. There's a second diary, you see. But it isn't
very good, and the handwriting is so bad that it's almost
impossible to read.</p>
<p class="para">It's Dad's.</p>
<p class="para">I inherited the habit of writing in diaries from both of my
parents. And even as I write this afterword, I find my
thoughts changing. I thought this would be the last chapter,
but now I think I should write Dad's biography too—both for
the sake of little brother, and for my parents. I mean,
it's sad to think his story might never survive, right?</p>
<p class="para">All right. It's decided. I'm going to write a sequel. </p>
<p class="para">My next work won't be about an adventurer I look up to,
but an adventurer who deserves love—the same love that
pushed me to adventure myself. It might be a bit more
slipshod than the work you just read, but I promise to
make it enjoyable nonetheless. </p>
<p class="para">And to do so, I will cross the threshold into that land.</p>
<p class="para">Surprise and discovery.</p>
<p class="para">I survive so I might keep these things alive.</p>
<p class="para">So please. Wait for me.</p>
<p class="para">So please. Pray for me.</p>
<p class="para">Let's continue our adventure together.</p>
<img src="https://i.imgur.com/kyioPtK.png">
<p class="title">Chapter 5: The Obstinate One (No.05)</p>
<p class="para">Hee hee! Are we gossiping
here? I hope you don't mind if
I join in, because Mama has a
juicy little morsel to share.</p>
<p class="para">So when I went to check on
that adventurer the other day,
I found him moaning and
groaning as he hung from a
cliff by one hand. His arm is
as thick as my entire body,
and yet there it was, just
slip, slip, slipping away!</p>
<p class="para">Well, I was so shocked,
I yelped in surprise! And I
<i>knew</i> his record didn't end
there, so it was all quite
embarrassing, let me tell you.
</p>
<p class="para">...Hmm? What happened next?
<br>Well, just as he was about to
fall, I heard his wife yell.
<br>She was cradling their little
girl and staring at him with
THAT look, so I knew he was in
real trouble. Then she demanded
that he stop training and come
play with his daughter!</p>
<p class="para">
Can you believe it? The man
was just <i>training</i>! And right
after she yelled at him, he
switched hands and started
humming to himself! I swear,
some people...</p>
<img src="https://i.imgur.com/CwZGpIr.png">
<p class="title">Chapter 6: Mountain Folk’s Ballad (No.06)</p>
<p class="para"><u>Mother's Ballad</u></p>
<p class="para">Sturdy scoundrels descend
<br>from mountain peaks.
</p>
<p class="para">Screams startle from sleep.
<br>Hide all the swaddled babes
<br>in the house, quick quick.</p>
<p class="para">I was born by the sea.
<br>Raised on the blue.
<br>If I stay on the mountain,
<br>I'm naught but a cosset's dam.</p>
<p class="para">Blustery snow.
<br>Swelling courage.
<br>All who protect, embrace rage.</p>
<p class="para">They are coming, quick quick.</p>
<p class="para">They are coming.</p>
<p class="para">
They are <i>here</i>.</p>
<p class="para">
All who protect, stand ready.</p>
<p class="para"><u>Father's Ballad</u></p>
<p class="para">
When home I drink. I brood.
<br>I gaze out windows and wish
<br>for cliff and ash and bone.
</p>
<p class="para">I thank mother earth.
<br>How she battles for me.</p>
<p class="para">I was born at the foot and
<br>raised at the peak, and if
<br>I descend I'm just another
<br>worthless old man.</p>
<p class="para">A lion's fate.</p>
<p class="para">Unknown stars.</p>
<p class="para">All who are valiant,
<br>rise, rise to the zenith.</p>
<p class="para">I must go quickly.</p>
<p class="para">I must go <i>now</i>.</p>
<p class="para">All who are valiant,
<br>rise, rise to the sun.</p>
<img src="https://i.imgur.com/DXo00zH.png">
<p class="title">Chapter 7: Notes on a Lovable Adventurer (1) (No.07)</p>
<p class="title"><strong>How did you two meet?</strong></p>
<p class="para">
In the mountains, naturally.
<br>We met when I attacked him.</p>
<p class="title"><strong>Sorry. You <i>attacked</i> him?</strong></p>
<p class="para">Yes. I was a bandit then.
What, I don't look like it?
<br>I was abandoned by my
parents at a young age,
so I had to do what was
necessary to survive. It was
so easy to take things from
climbers; they never think a
woman could do them harm.</p>
<p class="title"><strong>Was he one such climber?</strong></p>
<p class="para">
Yep—and I don't think I
worried him for a second,
either. I approached while
he was in the middle of a
climb, pretending to be a
frail little girl before
trying to stab him, but it
didn't work. He just sort
of...slid out of the way.</p>
<p class="title"><strong>Did he know how to fight?</strong></p>
<p class="para">
Who knows? I had the same
question, but he just laughed
and said: "I fight mountains.
<br>Of course I can handle at
least this much." He then said
to me, "Quit banditry and try
adventure instead!" ...Heh.
<br>He laughed, too. He had this
big, infectious laugh, and it
started <i>me</i> laughing as well.
<br>It's such a nice memory for
me now.
</p>
<p class="para">Anyway, I stopped attacking
climbers on the mountains
after that, and we had two
kids together. I'm really
thankful for all he did.</p>
<p class="title">
<strong>I'm so glad you're happy.
<br>Thank you for your time.</strong></p>
<img src="https://i.imgur.com/Dv1SIIh.png">
<p class="title">Chapter 8: Notes on a Lovable Adventurer (2) (No.08)</p>
<p class="title"><strong>Where did you meet him?</strong></p>
<p class="para">I ran an inn out of my house in the harbor, and he showed
up one night looking for a room. He was so filthy, I could
barely tell he was human at first</p>
<p class="title"><strong>You ran an inn?</strong></p>
<p class="para">Yes. It's closed now. There was a little island nearby that
was impossible  to access due to the tides, but various
foolhardy folk kept showing up to try their hand at the
challenge anyway. They kept me in the black for a few
years, but then...</p>
<p class="title"><strong>But then?</strong></p>
<p class="para">He reached the island. Can you believe it? Well, once that
happened, the shine was off the whole idea, and our stream
of adventuring guests dried up. I had no one to take over
the business, so I just shut it down and walked away.
<br>Still can't believe someone like him pulled it off...</p>
<p class="title"><strong>Did he leave a bad impression on you?</strong></p>
<p class="para">Oh, the worst. The <i>worst</i>! He came in covered in mud—the
only thing you could see were these two beady little eyes
shining in the dark. Like a child's. My brother and sister
were adventurers, you see, and I recognized those eyes right
away. I hate adventurers—the whole lot of them. To think
we'd end up as family! I still can't believe my rotten luck.</p>
<p class="title"><strong>Ha ha! Well, thank you for your time today.</strong></p>
<img src="https://i.imgur.com/Wq7ToQx.png">
<p class="title">Chapter 9: Notes on a Lovable Adventurer (3) (No.09)</p>
<p class="title"><strong>So where did you two meet?</strong></p>
<p class="para">In the tavern where I worked. One of our more inebriated
patrons was bothering me, so he stepped in to save me.</p>
<p class="title"><strong>He saved you?</strong></p>
<p class="para">Oh yeah. He picked up the drunk with one hand and tossed
his ass right out the door! I remember noticing how the
muscles in his arms flexed, and also how he didn't seem
phased by any of it. He just went back to his seat without
a word and continued as before. It was... Well, it was hot,
I guess. And gallant. I couldn't stop thinking about how
wonderful he was, so I—</p>
<p class="title"><strong>
Um...</strong></p>
<p class="para">So I gave him a pint to thank him, and he threw it back in
a single gulp. But he was already a few ales in, and that
put him over the top. His went all red, then put his face
down on the table and started to snore, so—</p>
<p class="title"><strong>Hello?</strong></p>
<p class="para">So at that point, I thought about how wonderful <i>and</i> cute
he was! He had a charm about him, you know? The kind of
thing you wouldn't expect from looking at him, but that—</p>
<p class="title"><strong>
Excuse me! Sorry, but I think we're good here. Thank—</strong></p>
<p class="para">No! I'm not finished! I can talk about him all night!</p>
<img src="https://i.imgur.com/Wq7ToQx.png">
<p class="title">Chapter 10: Notes on a Lovable Adventurer (0) (No.10)</p>
<p class="para"><i>Where did you meet Dad?</i>
<br>Hmm... I forget.</p>
<p class="para"><i>You're kidding.</i>
<br>Heh. I'll let you read my diary once you're older.
<br>It's all in there.</p>
<p class="para">
<i>But I want to read it NOW!</i>
<br>We all want things, kiddo.</p>
<p class="para"><i>Okay, fine. Why did you marry Dad?</i>
<br>Oh, I think I treated it like a little adventure. I wanted
to conquer someone who only ever thought about adventuring,
you know? Your aunt didn't approve at all, but it's kind
of exciting to have an obstacle to work through.
</p>
<p class="para"><i>You sound like him.</i>
<br>Do I?</p>
<p class="para"><i>Are you happy you married him?</i>
<br>Of course I am. Because that's how I got to meet you.</p>
<p class="para"><i>Hee hee!</i></p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/argo">Back</a></p>