---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Nirvana Dagger</title>
<style>
    @media screen and (orientation: landscape) {
        .container {
display: grid;
grid-template-areas:
    "header header"
    "content content"
    "footer footer";

grid-template-columns: 0.5fr 0.5fr;
margin: 0px auto;
margin-bottom: 2.5%;
float:center;

}
    }

    @media screen and (orientation: portrait) {
.container {
display: grid;
grid-template-areas:
    "header header"
    "content content";
grid-template-columns: 1fr 1fr;
margin: 0px auto;
margin-top: 3%;
margin-bottom: 45%;
gap: 2.5%;
}
    }
    #icon{
display:inline-block;
    }
.title{
        margin-top: 0.1cm;
    margin-bottom: 0.1cm;
    font-size: 85%;
}
.title-1{
  font-size: 130%;
}
#title-sub{
  margin-top: 0%;
  margin-bottom: 0.1cm;
    font-size: 50%;
    margin-top: -0.5cm;
}

#top-right{
    font-size: 65%;
    margin-top: 0%;
}
.container > div {
width: 100%;
  padding: 10px;
}
.container > div.header {
  grid-area: header;
  text-align: center;
}
.container > div.content {
  grid-area: content;
background-color: rgba(65, 65, 65, 0.8);
}

.para{
    font-size: 65%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  border: thick solid rgb(58, 58, 58);
  background-color:rgb(70, 70, 70);
  padding: 10px;

}
    @media screen and (orientation: landscape)
{
  .para-1{
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-right: 25%;
    margin-left: 25%;
    text-align:left;
    font-size: 110%;
    margin-top: 0.6cm;
      border: thick solid rgb(58, 58, 58);
  background-color:rgb(70, 70, 70);
  padding: 10px;
}
}


    @media screen and (orientation: portrait)
{
  .para-1{
    margin-right: 8%;
    margin-left: 8%;
    text-align:left;
    font-size: 130%;
    margin-top: 0.2cm;
    border: thick solid rgb(58, 58, 58);
    background-color:rgb(70, 70, 70);
    padding: 10px;
    letter-spacing: 1.5px;

}
}
  @media screen and (prefers-color-scheme: light){
    .para-1{
  border: thick solid rgb(165, 164, 164);
  background-color:rgb(224, 224, 224);
    }
      .para{
  border: thick solid rgb(165, 164, 164);
  background-color:rgb(224, 224, 224);
    }
    .container > div.content {
  background-color: rgba(207, 207, 207, 0.8);
}
  }
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" id="character">
<div class="header"><h1>Nirvana Dagger</h1></div>

<div class="content"><h1>Design</h1><img src="https://i.imgur.com/F7f80GH.png"><img src="https://i.imgur.com/8wzfv1y.png"><img src="https://i.imgur.com/76BP335.png"></div>
</div>
<h1>Weapon Story</h1><h2>Level 1</h2><p class="para-1">The girl had been betrothed to a local lord on the day of her birth.<br>
<br>As she grew, her days were taken up studying proper bridal technique, while her evenings were spent staring out her bedroom window and offering prayers for her betrothed to the night sky.
<br><br>
"Oh, my lord. If only you would come to me but a single day sooner."</p>
<h2>Level 2</h2><p class="para-1">Her home was occupied by several other girls her age. Each one shared the same betrothed, and spent her days studying bridal techniques and her evenings praying to the night sky.
<br><br>
"Oh, my lord, if only you would come to me but a single day sooner."</p>
<h2>Level 3</h2><p class="para-1">One day, a quarrel broke out as the girls argued that only the greatest among them could become their lord's betrothed. None would yield an inch, each asserting only they alone could possibly satisfy him.
<br><br>
Seeing this, their caretaker said in a kind voice, "Worry not, girls! Each and every one of you shall surely become bride to our lord!" Hearing this, every face lit up in an expression of pure joy.</p>
<h2>Level 4</h2><p class="para-1">    On the day they were to be married, the girls were brought to a place of cobbled stone they could see from the windows of their home.
<br><br>
A single dagger was then placed before them, and the girls were told they needed to end their life here and now if they wished to meet their betrothed. Upon hearing this news, the girls scrambled to seize the dagger from one another, plunging it into their chest the moment they held it.
<br><br>
Years later, a temple named "The Betrothed" was built on the spot where the girls took their own lives.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier/weapons">Back</a></p>