---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Furiae's Novella</title>
<p class="title">Having severed relations with earthly life, the goddess lives in suffering</p>
<p class="line"></p>
<p class="para">The goddess's daily life is filled with tedium.</p>
<p class="para">Mornings, she wakes up in the ever-gloomy house, and together with Verdelet lifts up prayers to God. As day breaks, she finishes a frugal meal, after which there is nothing particular for her to do. When she'd just become the goddess, scriptures and theology books and the like were placed in her room, and she'd looked through them out of idle curiosity. However, as the contents of each and every one of them was nothing but stiff and formal text, she quickly lost interest. The furnishings were extremely modest, the stiffness of the bed surprising her more than anything. The room was equipped with all the necessities of daily life, but there was not one object that could possibly be considered good for amusement. As a princess who had been raised in an environment devoid of discomfort, life as the goddess was akin to torture. But the fact of the matter is that I chose this life myself―So Furiae bit back her complaints.</p>
<p class="para">She didn't want to remember it ever again—and yet, even now when she closed her eyes the scene of that tragic day would rise unbidden to her mind, the scene that had changed everything. Her kind and cheerful brother had become someone who brooded most of the day, and rarely ever smiled. She sometimes heard screams coming from his room in the dead of night. The next day, if asked about it, Caim would answer only with―I had a bad dream. Furiae could not give her aid to such a brother.</p>
<p class="para">Inuart, Furiae's fiancee, worried over them as well, and came to visit countless times. However, even the sound of his harp-playing could no longer move her heart to the degree that it once had. Before she knew it, she too had begun to close the doors of her heart, just like her brother Caim.</p>
<p class="para">A year after the tragedy, the siblings were separated from their country. Inuart had invited her to go with him, but Furiae was worried, having seeing Caim's condition up-close, and could not afford to leave him alone. However, that may have been an excuse of her own making. Her true feelings spoke thus, though she was not entirely aware of it herself. "I don't want to be separated from Brother!"</p>
<p class="para">However, immediately upon starting their journey away from the country, something unusual arose within Furiae's body. Pain wracked the girl's body, and the "mark" of the goddess appeared—. Becoming the goddess meant isolation from the world. If this were to happen, she would never be able to meet her brother or Inuart again. For Furiae, this was a fate too cruel to bear. "Why must I be the only one caught in such a―"</p>
<p class="para">Several days after the "mark" had appeared, Furiae decided to become the goddess. She told her brother this in her usual peaceful tone, with her mouth even shaped into a smile. However, those eyes were terrifyingly empty. That was only natural. At the age of only 14, the girl was forced to give up everything—</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-1/reading/character-profiles/furiae">Back</a></p>