---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Furiae's Profile</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>
<p class="title">Furiae's Profile</p>
<img src="https://i.imgur.com/Tqb9dqY.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/kestrel">Kestrel</a></p>
<p class="title">Characteristics</p>   
<p class="para">Sex: Female</p>
<p class="para">Age: 19</p>
<p class="para">Blood Type: B</p>
<p class="title">A heavy burden as a goddess</p>
<p class="para">After the sudden death of Furiae and Caim's father, Gaap, the two were forced to leave the country. However, shortly afterwards the "mark" of the Goddess appeared on Furiae. Furiae was 14 at the time. She accepted her becoming a goddess, parting from Caim into a life of imprisonment. Having seen her parents killed before her eyes, going on to be separated from both her brother and her fiancee—-a fate much too cruel, for a single young girl to have all of her hopes snatched away.</p>
<p class="title">Hidden feelings for her brother Caim</p>
<p class="para">With a 6 year age difference between her and her brother Caim, they have held a good relationship since childhood. Caim felt that his younger sister was adorable; Furiae grew to be emotionally attached to her kind and caring brother. However, it soon came to pass that Furiae fell in love with Inuart. Her brother was happy for her, but deep within Furiae's heart, she still held strong feelings towards him. Perhaps it was because after her father's death, when they had to leave their country, she did not want Caim to leave her if she chose him over Inuart.</p>
<p class="title">Ex-fiancee Inuart</p>
<p class="para">Since childhood, Furiae's family and that of the Ibris House have held close connections; therefore she and Inuart, the son of that family, had many chances to meet. Furiae loved Inuart's harp playing, and would often badger him into performing, a fact which took its toll on Inuart. Before long the two were mutually attracted to each other, and became engaged. But after the tragedy, and the appearance of the "mark" on Furiae's person, a deep and eternally impassible rift was quickly formed between them.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-1/reading/character-profiles/furiae-novella">Furiae's Novella</a></p>
<p class="menu"><a href="/stories/drakengard-1/character-profiles">Back</a></p>