---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<style>    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}                                               
@media (prefers-color-scheme: light)
{
    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
}
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img style="width: 100%; height: 100%;" src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/media">
          Media
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>

<title>THS's Guide</title>

<p style="margin-top: 1cm; font-size: 250%;">Karis's DrakeNieR Timeline</p>
<p id="title1">Updated on June 3rd, 2026.</p>
<p id="title2">All sources will be listed per entry.</p>
<p id="title3">Note: A large portion of this timeline is translated from <i>Accord's Library</i>, and a select amount of re-translations done by me.</p>


<style>
div {
  text-align: left;
}
.para{
  margin-left: 10%;
  margin-right: 10%;
}
@media screen and (orientation: portrait) {
  .line {
    margin-top: 6.5%;
  }
  .para u a {
    margin-top: 5%;
    margin-bottom: 30px;
  }
  .para {
    font-size: 135%;
    text-indent: 0em;
}
}
@media (prefers-color-scheme: dark) {
  .special-color {
    border: thick solid rgb(58, 58, 58);
    background-color: rgb(70, 70, 70);
  }
}
@media (prefers-color-scheme: light) {
  .special-color {
    width: fit-content;
    margin-right: auto;
    border: thick solid rgb(201, 201, 201);
    background-color: rgb(253, 253, 253);
    padding: 10px;
    margin: 0 auto;
  }
  #timeline-meta{
    font-weight: 1.25rem;
    color: rgb(42, 42, 42);
}
}
#no-indent {
  text-indent: 0em;
}
#title-small {
  font-size: 15%;
}
#timeline-meta{
    font-weight: 1.25rem;
    color: rgb(156, 156, 156);
}
.timeline-container{
    display: grid
}
.Guide {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}
</style>
<div class="over">
<div class="Guide">

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>1</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Birth of Christ</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>4</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Outbreak of the Second Germanic War</p>
</div>


<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>30</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Death of Christ</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>64</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Great Fire of Rome</p>
<p class="para">Persecution of Christians by the tyrannic Emperor Nero.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>100</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">The Roman Empire prospers</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>165</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Sixteenth Germania War, pestilence from West Asia spreads over imperial territory</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>250</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">The Decian persecution of Christians</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>311</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Edict of Serdica and enactment of the crossed flag</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>313</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Edict of Milan</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>379</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Birth of Theodosius the Great</p>
</div>


<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>395</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">With the death of Theodosius the Great, the Roman Empire is divided into East and West</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>440</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Birth of Pope Leo the Great in the Roman Church.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>449</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">The Anglo-Saxons invade Britannia, marking the beginning of the era of the Seven Kingdoms (Heptarchy)</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>476</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Fall of the Western Roman Empire</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>585</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title"><i>Migration of Slavs begins</i></p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>610</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Muhammad receives a revelation from heaven and establishes Islam</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>726</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Prohibition of holy images issued by the Roman Church</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>731</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Roman Church censures opponents of holy images</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>732</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Battle of Tours/Poitiers</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>747</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">The plague spreads in the Eastern Roman Empire</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>756</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Islamic Empire split into East and West</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>800</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Normans begin to ravage various parts of Europe</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>843</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">The Treaty of Verdun divides the Frankish Empire into three kingdoms</p>
</div>
</div>
</div>

<p class="line"></p>
<p class="title-special title-box"><b>The Cataclysm</b></p>
<p class="para"><i>Note: This is where actual historical events stop, and we get to the fiction.</i></p>
<p class="line"></p>

<div class="over">
<div class="Guide">

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>856</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Earthquake in Corinth, Tunisia, Iran, and Kyoto</p>
<h3 class="title">The Cataclysm. Overnight, a city appears in the Iberian Peninsula</p>
  <p class="para">Looting and crime by refugees and rioters has increased dramatically.<br>
Sightings of unidentified creatures are frequent. More incidents of people being attacked.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>858</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Fall of the Eastern Roman Empire</p>
  <p class="para">There is a popular rumor that giant dragons flew in swarms and reduced the Imperial Capital to ashes overnight.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>862</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">West Frankish, Middle Frankish, and Bundes Frankish monarchies collapse one after the other</p>
  <p class="para">Starting with the murder of Lodovico II of the Middle Frankish Kingdom by a mob, the riots spread to other countries.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>865</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">The concept of Midgard is born. Rumors of a "Cathedral City" spread among the people</p>
  <p class="para">Midgard is the name given to the area of Europe that has lost a nation-like state since the Great Disaster</p><p class="para">The name "Cathedral City" permeated the cities that appeared after the Great Calamity. People settled in and a self-governing system began.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>867</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Establishment of the Pythagoras Institute</p>
  <p class="para">The Pythagoras Institute, a research organization for the causes of the frequent disasters, calamities, and anomalies in the world, is established by former kingdom nobles and intellectuals who fell into the Cathedral City.</p>
  <p class="para">The Pythagoras Institute is established. The Pythagoras Institute begins to function.<br>Refugees from all over the world begin to migrate to church cities in search of relief.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>868</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Construction of the Chaldea Gate. The Ten Days of Tragedy occurs</p>
  <p class="para">Due to serious food shortages, Cathedral City cannot take any more refugees. The Chaldean Gate is built in three nights to limit the influx of refugees, followed by seven nights of violent conflicts between the rioting refugees and the city's self-defense forces. The event is later named "The Tragedy of Ten Nights."</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>869</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
  <p class="para">One after another, individuals appear among the people with the ability to perform "Miracles" such as destruction that surpasses human power and detecting water veins.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>870</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
  <p class="para">The existence of "Magic" is affirmed by the Pythagoras Institute.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>872</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
  <p class="para">Those who perform "Miracles" bring strict order and social functions to the Cathedral City.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>875</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
  <p class="para">The Pythagorean Institute establishes a system of recognition and affiliation for those who perform Miracles. Pythagoras institution, thus establishing its social status.</p>
  <p class="para">Order and social functions will be brought about within the city by those who perform Miracles: the Users.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>878</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">The Chaldea Gate is opened</p>
  <p class="para">The Chaldea Gate is opened for the first time in ten years, and the city functions are expanded. Local governance by the Users begins, and the beliefs and religions of the past are transformed.</p>
  <p class="para">A new concept of faith spreads among the people: the Users and Miracles of the Pythagorean Institute (later known as simply "The Church").</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>882</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">The Council of Chaldea</p>
  <p class="para">The first council of the Church and the Pythagorean Organization, which has held power since before the Great Disaster. Proclaims the establishment of a new "Church" as an organization to bring peace to a world in turmoil. The Pythagoras Institute is incorporated as a secret organization under the direct control of the Church, and the name of the Pythagoras Institute disappears from historical records.</p>
  <p class="para">The Church strengthens the registration system to prevent rebellions by "wielders," and calls them "sorcerers. At the same time, research on "sealing magic" to control magic power is actively conducted.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>885</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Runaway Magic Accident</p>
  <p class="para">An incident in which a third of a city is lost due to a sorcerer's magical outburst. The Church announced that it would suppress it with the results of its research on sealing magic. (In reality, the experiment of sealing magic failed, causing the body to bloat, and the sorcerer, who became only a giant foot, trampled down the slums, killing over 2,000 people in one night, but the official announcement by the church is as above.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>888</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Execution of the Fourth Cathedral City Expansion Plan</p>
  <p class="para">City Expansions Underway.</p>
  <p class="para">The Church aims to further expand its territory with the eternal peace of Midgard brought about by prayer and magic.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>890</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Formation of the Church Research Group</p>
  <p class="para">Volunteers are recruited from the people, and the Church's Birth Investigation Team is formed to take control of the surrounding autonomous territories.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>892</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
  <p class="para">The Church Survey Group is allowed to be accompanied by sorcerers who are armed with large weapons and control offensive magic, and they take control of the autonomous territories around the city one after another. It functions as a real army.</p>
</div>


<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>895</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
  <p class="para">The power of the Church expands in various areas.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>904</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">The Church takes over the entire Iberian Peninsula</p>
  <p class="para">It becomes customary for church survey teams to go on expeditions, subdue cities, and then remain in the area to assume autonomous functions. Lords" are born in various regions to govern vast areas.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>907</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">The Tang Dynasty comes to an end in East Asia</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>910</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Magic Academy established</p>
  <p class="para">Churches and magic power research are aggressively promoted. Magisteriums are established in each region, and full-scale research is further advanced.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>912</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Accidental outburst of magic power</p>
  <p class="para">In the middle of construction, an accident occurs again at a Magic Academy. However, due to the use of sealing magic, the only damage is the death of two people, the runaway and the person exercising sealing magic.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>930</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
  <p class="para">The Magic Academy completed the foundation of magic. Thereafter, magic spread among the people as a common technology.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>938</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
  <p class="para">In order to further expand and stabilize its power, the Church begins to cooperate with Lords who own vast lands and power in various regions by sharing profits.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>951</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
  <p class="para">Bribery of Church authorities by local Lords became customary. Conflicts between Lords broke out frequently in various regions. Regions ruled by lords who had expanded their territories began to be referred to as "forest country" or "mountain country.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>960</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Song Dynasty established in East Asia. Church collusion problems surface.</p>
  <p class="para">The first Magic Director" was elected by the lords. Since he was a person who was not familiar with magic at all, the issue of collusion between the upper echelons of the church and the lord came to the surface.</p>
  <p class="para">The anxiety of the magic words belonging to the Magic Academy begins to pile up.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>971</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">The White Rebellion occurs</p>
  <p class="para">Some young mages are fiercely opposed to the current situation where it continues to be customary for the lord to elect the head of the Magic Academy. A mob of mages surrounds the central graveyard in the Cathedral City and presses for the removal of the head of the graveyard, but it is suppressed overnight. The White Rebellion</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>985</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Famine strikes</p>
  <p class="para">A large-scale famine occurs. The supply of food from the provinces to Cathedral City is severely disrupted for several years. It becomes customary to see money, weapons, women and children being exchanged for food by the city authorities, including political circles and the upper echelons of the Church.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>986</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Formation of the Blue Clan</p>
  <p class="para">The poor are dissatisfied with the political situation due to food shortages, and the mages are frustrated with the corruption within the Academy of Magicians. This unrest leads to the formation of an underground group of citizens who are planning a revolution. The group is known as the "Blue Clan".</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>990</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">The Blue Clan becomes more active. Many young sorcerers begin to support the group and even some Lords who are dissatisfied with the church itself. Cathedral City, lacking in both military and human resources due to the years of food shortages and bribery, is revealed to be weak.</p>
  <p class="para"></p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>991</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Blue Revolt occurs. Cathedral City announces a major waterway renovation project and construction begins</p>
  <p class="para">A large-scale rebellion by the Blue Clan breaks out in the Cathedral City (Blue Revolt). However, the Blue Clan is destroyed overnight by the government and the Church's massive use of sealing magic throughout the city, at the cost of many sacrifices: 80% of the citizens living in the two sections of the city that were dedicated as catalysts for the sealing magic died. Those who survived also suffered from ego collapse and delirium, and all of them were buried alive.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>993</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
  <p class="para">After the Blue Rebellion, the number of applicants for full-time mages who are approved by the Academy of Magic has plummeted. They became more dependent on the government, the Church, and the lords with their armies.</p>
  <p class="para">Independent magic research, funded by the lords, spread rapidly. The position of the Academy of Magic and the Church became even more unstable.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>994</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
  <p class="para">Finally, there are no more heads of witchcraft academies from the lords in various regions. Although they were able to achieve independence, they lost all support from their lords, and ironically, they continued to decline. Research in the field of magic became active. As a result, the balance of magic power in Europe as a whole became unstable.</p>
</div>

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>995</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Cathedral City is ruined</p>
  <p class="para">An unprecedented large-scale accident occurs at the Central Magic Institute in a Cathedral City. It is said that it was a chanting mistake by a female mage during the activation of secret magic, but the details of the accident are unknown. It was later discovered that the dust from the explosion looked like a giant flower covering the night sky. The impact of the accident on the entire city was so severe that only people disappeared from the Cathedral City and it was abandoned overnight. No major damage was done to the buildings.</p>
</div>

</div>
</div>
<p class="line"></p>
<p class="title-special title-box"><b>Drakengard3</b></p>
<p class="para"><i>Note: This is where Drakengard 3's timeline starts.</i></p>
<p class="line"></p>

<div class="over">
<div class="Guide">

<div class="timeline-div">
<p class="title-special title-box" style="font-size: 1.5rem;"><b>gleep</b></p>
<p class="title" id="timeline-meta">World Inside - Chronology</p>
<h3 class="title">Eggggggao</p>
<h3 class="title">gggg</p>
  <p class="para">wwaawwwwww</p>
</div>


</div>
</div>
<p class="line"></p>
<p class="menu" id="backButton"><a href="/series-guide/ths-guide-main">Back</a></p>