---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>More Information</title>
<style>
        @media screen and (orientation: portrait)
{
img{
    width: 80%;
    height: 80%;
    }
    .title{
        text-align:left;
    }
}

@media screen and (orientation: landscape)
{
img{
    width: 375px;
    height: 250px;
}
}
#cen{
    text-align: center;
}
</style>
<img src="https://i.imgur.com/Uo0yTft.png">
<p class="title" id="cen">Where to find it?</p>
<p class="line"></p>
<p class="title">Watch it <a href="https://www.youtube.com/watch?v=PsQko0cn8qU&embeds_referring_euri=https%3A%2F%2Fwww.polygon.com%2F&source_ve_path=MjM4NTE"><u>here</u></a>.</p>
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide">Back</a></p>
