---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>More Information</title>
<style>
        @media screen and (orientation: portrait)
{
img{
    width: 80%;
    height: 80%;
    }
    .title{
        text-align:left;
    }
}

@media screen and (orientation: landscape)
{

#cool{
    transform: scale(0.2)
}
}
#cen{
    text-align: center;
}
</style>
<img src="https://i.imgur.com/tOO1CCo.png">
<p class="title" id="cen">Where to find it?</p>
<p class="line"></p>
<p class="title">Japanese Only.</p>
<p class="title">The collector's edition of Drag-On Dragoon 3</p>
<p class="line"></p>
<p style="margin-top: 1cm; font-size: 250%;">Items Contained</p>
<p class="title">Drag-on Dragoon 3</p>
<p class="title">Chiptune Music & <a href="/stories/drag-on-dragoon-history/dod-history"><u>History films.</u></a></p>
<p class="title">DLC Code</p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas"><u>Novel Prelude</u></a></p>
<p class="title">Visual Artbook</p>
<p class="title">World Inside</p>
<p class="title">Drag-On Dragoon (1) Scenario Recording Script</p>
<p class="title">Drag-On Dragoon (1) Window Recording Script</p>
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide">Back</a></p>


