---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>More Information</title>
<style>
        @media screen and (orientation: portrait)
{
img{
    width: 80%;
    height: 80%;
    }
    .title{
        text-align:left;
    }
}

@media screen and (orientation: landscape)
{
img{
    width: 375px;
    height: 250px;
}
}
#cen{
    text-align: center;
}
</style>
<img src="https://i.imgur.com/kPL2QV3.png">
<p class="title" id="cen">Where to find it?</p>
<p class="line"></p>
<p class="para">Drakengard 3 is available to play on PS3, or an emulator.</p>
<p class="para">There are DLC that contain story content, but are available in written form as the 'Short Stories'.</p>
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide">Back</a></p>
