---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>More Information</title>
<style>
        @media screen and (orientation: portrait)
{
img{
    width: 80%;
    height: 80%;
    }
    .title{
        text-align:left;
    }
}

@media screen and (orientation: landscape)
{
img{
    width: 375px;
    height: 250px;
}
}
#cen{
    text-align: center;
}
</style>
<img src="https://i.imgur.com/IE2smkw.png">
<p class="title" id="cen">Where to find it?</p>
<p class="line"></p>
<p class="title">You can buy it at most bookstores, in person or online. Alternatively, you can read only the novellas<a href="/stories/nier/novellas"><u>here.</u></a></p>
<p class="title">There are several more interesting additions in the book, and it is worth the price.</p>
    <p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide">Back</a></p>