---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>More Information</title>
<style>
        @media screen and (orientation: portrait)
{
img{
    width: 80%;
    height: 80%;
    }
    .title{
        text-align:left;
    }
}

@media screen and (orientation: landscape)
{
img{
    width: 375px;
    height: 250px;
}
}
#cen{
    text-align: center;
}
</style>
<img src="https://i.imgur.com/4HbrMUO.png">
<p class="title" id="cen">Where to find it?</p>
<p class="line"></p>
<p class="title">NieR Gestalt is available in English and Japanese on PS3 and Xbox 360, but localised as <i>NieR</i> in English.</p>
<p class="title">NieR Replicant is available only in Japanese on PS3.</p>
<p class="title">You can play either of them on PS3. The main difference between the two is their protagonist.</p>
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide">Back</a></p>

