---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>More Information</title>
<style>
        @media screen and (orientation: portrait)
{
img{
    width: 80%;
    height: 80%;
    }
    .title{
        text-align:left;
    }
}

@media screen and (orientation: landscape)
{
img{
    width: 375px;
    height: 250px;
}
}
#cen{
    text-align: center;
}
</style>
<img src="https://i.imgur.com/Rz0UB47.png">
<p class="title" id="cen">Where to find it?</p>
<p class="line"></p>
<p class="title">Not currently on the site, and there's no blu-ray to transcribe ! I might add a summary of it later.</p>
<p class="title">There's a Japanese exclusive script book available <a href="https://store.jp.square-enix.com/item/4988601503853.html"><u>here.</u></a></p>
<p class="title">I'm going to see about acquiring it so I can translate it.</p>
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide">Back</a></p>
