---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>More Information</title>
<style>
        @media screen and (orientation: portrait)
{
img{
    width: 80%;
    height: 80%;
    }
    .title{
        text-align:left;
    }
}

@media screen and (orientation: landscape)
{
img{
    width: 375px;
    height: 250px;
}
}
#cen{
    text-align: center;
}
.para{
    margin-bottom: 2%;
}
.title{
    margin-bottom: 2%;
}
</style>
<img src=https://i.imgur.com/rIdPzVy.png">
<p class="title" id="cen">Where to find it?</p>
<p class="line"></p>
<p class="title">There were transcriptions on the cases, containing lore.</p>
<p class="title">NieR Replicant PC Case:</p>
<p class="para"><strong>2021 A.D.</strong> A certain manufacturer releases a high-spec personal computer. This model of PC, designed to receive perpetual updates via the network, is soon adopted across the globe.</p>
<p class="para"><strong>2025 A.D.</strong> These PCs, now spread the world over, begin to link up and share data as part of a neural-networking experiment conducted by the manufacturer without the knowledge of its users.</p>
<p class="para"><strong>2032 A.D.</strong> Large-scale data breaches and acts of cyberterrorism are carried out over the network, during which time information regarding Replicant technology is leaked. The experiment is soon halted, and the computers stop receiving updates.</p>
<p class="para"><strong>3021 A.D.</strong> A thousand years after the experiment, consciousness data from these computers is detected on the network. The Collection and merging of this data is performed by the quantum server located in the Forest of Myth.</p>
<p class="title">NieR:Automata PC Case:</p>
<p class="para"><strong>4198 A.D.</strong> Humanity’s extinction is confirmed. All records relating to humans are moved to maximum-pirority folders, and backups are sent to regional quantum servers for safekeeping.</p>
<p class="para"><strong>5012 A.D.</strong> An Attack by aliens from outer space is recorded. Numerous buildings and androids are destroyed, and some quantum servers are catastrophically damaged.</p>
<p class="para"><strong>5155 A.D.</strong> Machine lifeforms created by these unidentified alien visitors launch an ark into space, resulting in a new divergence. An attempt is then made to sync up with servers from the past.</p>
<p class="para"><strong>2021 A.D.</strong> Synchronization with past server is successful. As the original network was small and designed for personal use, expansion will be required. – Accord</p>
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide">Back</a></p>
