---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>More Information</title>
<style>
        @media screen and (orientation: portrait)
{
img{
    width: 80%;
    height: 80%;
    }
    .title{
        text-align:left;
    }
    .para{
    text-indent: 0em;
}
}

@media screen and (orientation: landscape)
{
img{
    width: 375px;
    height: 250px;
}
}
#cen{
    text-align: center;
}
.para{
    text-indent: 0em;
}
</style>
<img src="https://i.imgur.com/4HbrMUO.png">
<p class="title" id="cen">Where to find it?</p>
<p class="line"></p>
<p class="para">NieR Gestalt is available in English and Japanese on PS3 and Xbox 360, but localised as <i>NieR</i> in English.</p>
<p class="para">NieR Replicant is available only in Japanese on PS3.</p>
<p class="para">You can play either of them on PS3. The main difference between the two is their protagonist.</p>
        <p class="title" id="cen">Read after finishing the game.</p>
<p class="line"></p>
<div class="over">
    <div class="Guide">

<div><a href="/series-guide/ths-guide/nier/timeline"><img class="art" src="https://i.imgur.com/Xrhz5FG.png" loading="lazy"></a></div>
</div>
</div>
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide-main">Back</a></p>
