---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>More Information</title>
<style>
        @media screen and (orientation: portrait)
{
img{
    width: 80%;
    height: 80%;
    }
    .title{
        text-align:left;
    }
}

@media screen and (orientation: landscape)
{
img{
    width: 375px;
    height: 250px;
}
}
#cen{
    text-align: center;
}
</style>
<img src="https://i.imgur.com/j2XEn7D.png">
<p class="title" id="cen">Where to find it?</p>
<p class="line"></p>
<p class="para">A novelisation of NieR:Replicant ver.1.22... A recommended read, I'll probably add it later.</p>
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide">Back</a></p>
