---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>More Information</title>
<style>
        @media screen and (orientation: portrait)
{
img{
    width: 80%;
    height: 80%;
    }
    .title{
        text-align:left;
    }
}

@media screen and (orientation: landscape)
{
img{
    width: 375px;
    height: 250px;
}
}
#cen{
    text-align: center;
}
</style>
<img src="https://i.imgur.com/T0r31xc.png">
<p class="title" id="cen">Where to find it?</p>
<p class="line"></p>
<p class="para">The game was shutdown, but you can watch a few of the acts <a href="/stories/sinoalice"><u>here.</u></a></p>
<p class="para">I AM CAIM is working on uploading the other acts.</p>
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide">Back</a></p>