---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>More Information</title>
<style>
        @media screen and (orientation: portrait)
{
img{
    width: 80%;
    height: 80%;
    }
    .title{
        text-align:left;
    }
}

@media screen and (orientation: landscape)
{
img{
    width: 375px;
    height: 250px;
}
}
#cen{
    text-align: center;
}
</style>
<img src="https://i.imgur.com/oAIpEXC.png">
<p class="title" id="cen">Where to find it?</p>
<p class="line"></p>
<p class="title">YoRHa Dark Apocalypse is a canon crossover event with Final Fantasy XIV.</p>
<p class="para">To get to the lore parts in FFXIV, you would have to play several hundred hours worth of content.</p>
<p class="para">It's okay if you don't want to do that...</p>
<p class="para">You can watch the raid <a href="https://www.youtube.com/watch?v=WNg5HGvBfZs"><u>here.</u></a></p>
<p class="title">There are also various lore entries from it:</p>
<p class="title-special title-box">The Copied Factory</p>
<p class="para"><b>Unidentified Expedition Log 1</b><br>Survey of local terrain continues. Ecosystem in this area appears to have adapted to extended drought─dry climate conditions must have been present for some time. Investigation of a murky spring did reveal aquatic life, though of an unusual sort. </p>
<p class="para"><b>Unidentified Expedition Log 2</b><br>Survey of local terrain continues. Current location is particularly verdant, likely owing to the plethora of freshwater springs. Peculiar that two so markedly distinct biomes should exist in such proximity.</p>
<p class="para"><b>Unidentified Expedition Log 3</b><br>Survey of local terrain still continues, though with no discoveries of particular note. Or perhaps I've grown tired of searching. Still, it's better to be stuck in the middle of nowhere than on the front lines.</p>
<p class="para"><b>Memory of a Damaged Machine</b><br>Oh brother, where art thou? It's dark. I'm alone. All alone and lonely. I want friends. Don't stop me. I'll kill you. I need friends...</p>
<p class="para"><b>Machine Research Report 1</b><br>The machines' primary objective seems to be nothing more than “kill enemy.” What's troubling, though, is that their auto-evolution systems have begun to build a private network.</p>
<p class="para"><b>Machine Research Report 2</b><br>The machines' network has evolved to the point where paradoxes no longer present an obstacle, allowing for diversity among individuals. They may continue to incorporate whatever data is within reach─someday, the world in its entirety.</p>
<p class="para"><b>Weapon Fragment Data 1</b><br>The blade is in motion, once-gleaming white drenched red. A blow to halt the twin gears life and death, its impetus long forgotten.</p>
<p class="para"><b>Weapon Fragment Data 2</b><br>Our world never doubted. Only closed its eyes, the better to turn unburdened.</p>
<p class="para"><b>Weapon Fragment Data 3</b><br>In that world we once knew, sharp and shattered, a single spark of memory grows to a flame. It shines upon the lost, and at last we understand.</p>
<p class="para"><b>Weapon Fragment Data 4</b><br>Rue not what has come to be, nor lay down your arms while life still rises amidst ruin. The blade demands this vow, this virtue.</p>
<p class="para"><b>Tattered Flyer</b><br>Thanks for [...] by! [...]'s is a thriving chain of [... ...]cluding swords that match the regional features and squads of [...]</p>
<p class="title-special title-box">The Puppets' Bunker</p>
<p class="para"><b>On the Operation of YoRHa Units</b><br>YoRHa units are produced in a variety of models. Each model is distinguished by an alphabetical abbreviation indicating its area of specialization─such as “B” for combat-optimized Battle models, or “S” for the analytical Scanner models, operating as strategists.</p>
<p class="para"><b>On the Purpose of the Bunker</b><br>The Bunker was designed as a base for exclusive use by YoRHa's forces. As such, it serves as the organization's maintenance facility, as well as a site for the research and development of anti-machine lifeform weaponry.</p>
<p class="para"><b>YoRHa Unit Report 1</b><br>I encountered a strangely evolved machine lifeform in expedition territory. Not only were its constituent parts markedly distinct, it overall bore a greater resemblance to humanity than to its brethren.</p>
<p class="para"><b>YoRHa Unit Report 2</b><br>It is possible that the machine lifeforms can evolve in response to their circumstances. If so, we must immediately revise our combat strategy to include appropriate precautions when engaging. And we will need to probe deeper─there is still far too much about the machines that we do not know.</p>
<p class="para"><b>Saved Machine Lifeform Data 1</b><br>Life in the factory is boring. Not just for me. I see more and more of the other machines skipping shifts. We spend the time watching the combat training, though it is not our job.<br><br>Is this what humanity refers to as “fun”?</p>
<p class="para"><b>Saved Machine Lifeform Data 2</b><br>Those of us who learned to have fun are trying more and more things. Some are even learning to reconstruct their own bodies. Strange.<br><br>Recently I have been enjoying fishing discarded data from computers.</p>
<p class="para"><b>Saved Machine Lifeform Data 3</b><br>I found an interesting file when I was fishing for data the other day. It described “the reproductive act.”<br><br>Our bodies do not require these functions. What does humanity gain from them?</p>
<p class="para"><b>Saved Machine Lifeform Data 4</b><br>Maybe the act of giving birth is in some way special. Maybe it is not the same as when we build more of ourselves.<br><br>Do we have the capacity to “give birth” to anything? If we did, would it change something for us?</p>
<p class="para"><b>White-garbed YoRHa Unit's Data Log</b><br>The self-consciousness data for YoRHa unit 21O was discovered on a Bunker server─the Operator presumably uploaded it as an emergency backup due to imminent danger. With this data, it may be possible to simulate 21O's consciousness to take control of defense systems and peripherals. This file will be shared with all currently deployed units.</p>
<p class="para"><b>Saved Message History</b><br>Regarding the laundering of standard-issue attire:<br><br>All clothing issued by YoRHa must be turned in for washing on the appropriate day, as detailed below. Late laundry will not be accepted.<br><br>Combat attire: Upon return from deployment (accepted through the following morning)<br><br>Civilian attire: Every Sunday<br><br>LEAVING ONE'S CLOTHES ON THE FLOOR WILL RESULT IN A REPRIMAND.</p>
<p class="para"><b>Longing</b><br>Suffering is born of something. Sadness is born of something. Joy is born of something. Yet I, who was born to give birth, have never known suffering, nor sadness, nor joy. From what is a soul─a true soul, not a synthetic one─really born?</p>
<p class="title-special title-box">Konogg's Messages</p>
<p class="para"><b>Message from Konogg 1</b><br>Dear Player,<br><br>I hope this message finds you. I'm going on a journey─to learn the secrets of the white spheres for myself. Maybe some of them will be of use to you... I'll keep a record, just in case.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Konogg</p>
<p class="para"><b>Message from Konogg 2</b><br>Dear Player,<br><br>I forgot to mention─I brought a pod with me. It assures me that the spheres came from a different world, and their purpose is to invade others by duplicating the machine lifeforms.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Konogg</p>
<p class="para"><b>Message from Konogg 3</b><br>Dear Player,<br><br>I found out that 2B and 9S accessed the spheres before this all started, which is why they knew about the machine lifeforms' plans to take over our world. They added their own data to that of the machine lifeforms when copies were being made─like some sort of technological virus, apparently─so that they could come here and stop the machines.<br><br>They were our allies, from beginning to end...<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Konogg</p>
<p class="para"><b>Message from Konogg 4</b><br>Dear Player,<br><br>The white spheres have ties to 2B and 9S's world, which is almost inconceivably advanced. I've found that data there is stored by machines bearing the names of gods, and even the tiniest glimpse of the smallest portion of it reveals memories by the hundreds─people's memories.<br><br>What does it <b>mean</b>? I need to know.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Konogg</p>
<p class="para"><b>Message from Konogg 5</b><br>Dear Player,<br><br>I knew all along, really.<br><br>  knew that Anogg was dead, and that <b>thing</b> with me only looked like her. But being with her, whatever she was... It kept me alive. It made me want to go on living.<br><br>If the spheres can create anything─rebuild it in our world─then surely they can grant me this.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Konogg</p>
<p class="para"><b>Message from Konogg 6</b><br>Dear Player,<br><br>For as long as I can remember, it's been just the two of us. Hardly anyone even bothered to be kind to us. But we always had each other. When I was with Anogg, there was nothing to fear.<br><br>What my sister wanted most was to get revenge on the world that had done this to us. I can't accept that the world got her first.<br><br>I won't.<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- Konogg</p>
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide-main">Back</a></p>