---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>More Information</title>
<style>
        @media screen and (orientation: portrait)
{
img{
    width: 80%;
    height: 80%;
    }
    .title{
        text-align:left;
    }
}

@media screen and (orientation: landscape)
{
img{
    width: 375px;
    height: 250px;
}
}
#cen{
    text-align: center;
}
</style>
<img src="https://i.imgur.com/oAIpEXC.png">
<p class="title" id="cen">Where to find it?</p>
<p class="line"></p>
<p class="title">YoRHa Dark Apocalypse is a canon crossover event with Final Fantasy XIV.</p>
<p class="para">To get to the lore parts in FFXIV, you would have to play several hundred hours worth of content.</p>
<p class="para">It's okay if you don't want to do that...</p>
<p class="para">You can watch the raid <a href="https://www.youtube.com/watch?v=WNg5HGvBfZs"><u>here.</u></a></p>
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide">Back</a></p>

