---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>NieR Novellas (2010)</title>

<p class="title"><a href="https://drive.google.com/file/d/19qErGOhiwZvD6JJsB8dcro3Ccp64B5mc/view?usp=sharing">
    And Then There Were None<img class="art" src="https://i.imgur.com/ECKT2RO.png"></a></p>
<p class="title"><a href="https://drive.google.com/file/d/1Qr40Gv5qyWhYh4z_eICFHemG0DdP1lDu/view?usp=sharing">
    The Stone Flower<img class="art" src="https://i.imgur.com/IUYiGV6.png"></a></p>
<p class="title"><a href="https://drive.google.com/file/d/1xXPFdN8mNm_Rl20x_2yOxc-e6sBFDm0v/view?usp=sharing">
    The Red and the Black<img class="art" src="https://i.imgur.com/xgVjHEU.png"></a></p>
<p class="title"><a href="https://drive.google.com/file/d/1Atox1R5Xogh9CGA2guIex7aC1uTtjPPY/view?usp=sharing">
    A Little Princess<img class="art" src="https://i.imgur.com/UXBmtaS.png"></a></p>
<p class="title"><a href="https://drive.google.com/file/d/1Npw5gBHjezFbCXjgfNrUnmosnLZ0Idgg/view?usp=sharing">
    The Magic Mountain<img class="art" src="https://i.imgur.com/iAou8KK.png"></a></p>
<p class="title"><a href="https://drive.google.com/file/d/1jPdDeuN1Yvobt6Fz2aGOvme38JZYkAj9/view?usp=sharing">
    Witches' Sabbath<img class="art" src="https://i.imgur.com/1YI7uZZ.png"></a></p>
<p class="title"><a href="https://drive.google.com/file/d/1MtN13O2BHSBf4ZKpgyvHl20CZeiBfG4n/view?usp=sharing">
    The Little Mermaid<img class="art" src="https://i.imgur.com/rgVhECk.png"></a></p>
<p class="title"><a href="https://drive.google.com/file/d/1wgtTaisJFmvUnQKxTDeVJEpwuwRJs0ku/view?usp=sharing">
    Strait is the Gate<img class="art" src="https://i.imgur.com/m4sE4tu.png"></a></p>
<p class="title"><a href="https://drive.google.com/file/d/1lauqVAjZt07ToYg66jCH6uQUbK4hOJeC/view?usp=sharing">
    Around the World in 80 Days<img class="art" src="https://i.imgur.com/QiaPVVd.png"></a></p>
<p class="title"><a href="https://drive.google.com/file/d/13E2W6bfsRT9ApmIR3MMkjavsX51nTbtD/view?usp=sharing">
    The Lost World<img class="art" src="https://i.imgur.com/AyFYspq.png"></a></p>
<p class="title"><a href="https://drive.google.com/file/d/1w0tsH4Eij3Fn7HbShejOYYbLWT8cqYYH/view?usp=sharing">
    The Lost World Appendix ver.<img class="art" src="https://i.imgur.com/m5Zuo5T.png"></a></p>
<p class="title"><a href="/stories/nier/reading/novellas/the-fire-of-prometheus">
  The Fire of Prometheus<img class="art" src="https://i.imgur.com/NI1Yl5w.png"></a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier">Back</a></p>
