---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>Music</title>

    <p class="title">Recommended music to listen to while you read.</p>
<p class="line"></p>
<p class="title">YouTube Music</p>
<p class="para"><a href="https://music.youtube.com/playlist?list=OLAK5uy_mHFYLgtn-xOszI1LUkL8FvKWyebowGp8o&si=FxVNWiikk-CL3OYX"><u>NieR Gestalt & NieR Replicant Original Soundtrack</u></a></p>
<p class="para"><a href="https://music.youtube.com/playlist?list=OLAK5uy_mJE7pgIgW1ltft7TH0jSAife6q2-vjRsg&si=Kx3tLvkfZ1M24OTy"><u>NieR Gestalt & Replicant 15 Nightmares & Arrange Tracks</u></a></p>
<p class="para"><a href="https://music.youtube.com/playlist?list=OLAK5uy_mbLLUdyBvrQv1E671eJIazqH27TNDHX6Q&si=YT5FX6NihZSXhny1"><u>Nier Gestalt & Replicant Piano Collections </u></a></p>
<p class="line"></p>
<p class="title">Spotify</p>
<p class="para"><a href="https://open.spotify.com/album/5EvfMZYvdWB2XPZT0IvcyI?si=QrDB-5tXSr2x8k2PfPi-uQ"><u>NieR Gestalt & NieR Replicant Original Soundtrack</u></a></p>
<p class="para"><a href="https://open.spotify.com/album/1jlsHsn21rwt7lErsuDIgW?si=84lQcLnMQt-A7Jxt1mZfCQ"><u>NieR Gestalt & Replicant 15 Nightmares & Arrange Tracks</u></a></p>
<p class="para"><a href="https://open.spotify.com/album/1wMSQYLmTQs3BsIs9MUr6x?si=Cwchcg1dRgaT6Qs4rRnIxw"><u>Nier Gestalt & Replicant Piano Collections </u></a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier">Back</a></p>
