---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>NieR Weapons</title>
<style>
    img{
        -webkit-filter: brightness(70%);
        padding: 0%;
        height: 218.75px;
        width: 243.75px;
    }
    img:hover{
        -webkit-filter: brightness(100%);
          transform: scale(0.98);
    }
  .para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}


  @media screen and (orientation: landscape)
{

  .title{
    padding: 0%;
    line-height: normal;
      overflow: hidden;
      font-size: 108%;
}
  .table{
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-right: 25%;
    margin-left: 25%;
    text-align:left;
    font-size: 130%;
    margin-top: 0.6cm;
}
}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
  
}
  .table{
    margin-right: 8%;
    margin-left: 8%;
    text-align:left;
    font-size: 130%;
    margin-top: 0.2cm;
    letter-spacing: 1.5px;
  }
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
  
.para{
    font-size: 135%;
}
}
.fading{
    height: 218.75px;
    width: 243.75px;
    padding: 0%;
    margin: 0 auto;
}
.fading img {
  position: absolute;
  animation-name: fader;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
}
.fake-fade{
    height: 218.75px;
    width: 243.75px;
    padding: 0%;
    margin: 0 auto;
}
.fake-fade img {
  position: absolute;
}

@keyframes fader {
  0% {
    opacity:1;
  }
  17% {
    opacity:1;
  }
  25% {
    opacity:0;
  }
  92% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.fading img:nth-of-type(1) {
  animation-delay: 6s;
}
.fading img:nth-of-type(2) {
  animation-delay: 4s;
}
.fading img:nth-of-type(3) {
  animation-delay: 2s;
}
.fading img:nth-of-type(4) {
  animation-delay: 0;
}

</style>
<p style="margin-top: 1cm; font-size: 300%;">W.I.P.</p>
<p style="margin-top: 1cm; font-size: 300%;">Jump to:</p>
<p class="table"><a href="#one"><u>One-Handed Swords:</u></a></p>
<p class="table"><a href="#two"><u>Two-Handed Swords:</u></a></p>
<p class="table"><a href="#three"><u>Spears:</u></a></p>
<p style="margin-top: 1cm; font-size: 300%;" id="one">One-Handed Swords</p>

<div class="over">
<div class="Guide">
<div><p class="title">Nameless Blade</p><div class="fake-fade"><a href="/stories/nier/weapons/nameless-blade"><img src="https://i.imgur.com/fDMcZUh.png"></a></div></div>
<div><p class="title">Lily-Leaf Sword</p><div class="fading"><a href="/stories/nier/weapons/lily-leaf-sword"><img src="https://i.imgur.com/eBhAFgh.png"><img src="https://i.imgur.com/7Ny6u8W.png"><img src="https://i.imgur.com/j8Fxzdx.png"><img src="https://i.imgur.com/k8rjKJJ.png"></a></div></div>
<div><p class="title">Beastbain</p><div class="fake-fade"><a href="/stories/nier/weapons/beastbain"><img src="https://i.imgur.com/3ejzb7W.png"></a></div></div>
<div><p class="title">Nirvana Dagger</p><div class="fading"><a href="/stories/nier/weapons/nirvana-dagger"><img src="https://i.imgur.com/MiTFHRF.png"><img src="https://i.imgur.com/AaSNMcI.png"><img src="https://i.imgur.com/2aYIyI1.png"><img src="https://i.imgur.com/zI5wXkg.png"></a></div></div>
<div><p class="title">Moonrise</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/RGjtnvI.png"><img src="https://i.imgur.com/Yxkrcn5.png"><img src="https://i.imgur.com/FYRsmlk.png"><img src="https://i.imgur.com/1JJeICB.png"></a></div></div>
<div><p class="title">Rebirth</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/Jat0Lyk.png"><img src="https://i.imgur.com/Te5FbSU.png"><img src="https://i.imgur.com/d8smD5N.png"><img src="https://i.imgur.com/A69KPC8.png"></a></div></div>
<div><p class="title">Earth Wyrm's Claw</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/kyxzV0J.png"><img src="https://i.imgur.com/FDWRiHo.png"><img src="https://i.imgur.com/9lMbWsn.png"><img src="https://i.imgur.com/P4NbqK9.png"></a></div></div>
<div><p class="title">Blade of Treachery</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/KY5Y6T8.png"><img src="https://i.imgur.com/3MdjeC1.png"><img src="https://i.imgur.com/gNrxRbb.png"><img src="https://i.imgur.com/sLJxhds.png"></a></div></div>
<div><p class="title">Faith</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/hLCVD5H.png"><img src="https://i.imgur.com/MevC3KB.png"><img src="https://i.imgur.com/25MOZJM.png"><img src="https://i.imgur.com/lxwlbUQ.png"></a></div></div>
<div><p class="title">Phoenix Dagger</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/ZcIEIko.png"></a></div></div>
<div><p class="title">Labyrinth's Whisper</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/SIpbqVf.png"></a></div></div>
<div><p class="title">Iron Pipe</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/XEAVA8F.png"></a></div></div>
<div><p class="title">Ancient Overlord</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/SAQSXfW.png"><img src="https://i.imgur.com/AvvK6An.png"><img src="https://i.imgur.com/OJumQPo.png"><img src="https://i.imgur.com/aM9QqQV.png"></a></div></div>
<div><p class="title">Fool's Embrace</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/qWPitvd.png"></a></div></div>
<div><p class="title">Virtuous Contract</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/dgZb1oD.png"></a></div></div>
<div><p class="title">Cruel Oath</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/t4h17KX.png"></a></div></div>
</div>
</div>
<p style="margin-top: 1cm; font-size: 300%;" id="two">Two-Handed Swords</p>

<div class="over">
<div class="Guide">
<div><p class="title">Kusanagi</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/sickly-exile"><img src="https://i.imgur.com/SHkD5vK.png"></a></div></div>
<div><p class="title">Axe of Beheading</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/CkYxaaa.png"><img src="https://i.imgur.com/NJf65gw.png"><img src="https://i.imgur.com/Wd5C3s5.png"><img src="https://i.imgur.com/qLWkCY3.png"></a></div></div>
<div><p class="title">Fang of the Twins</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/MiTFHRF.png"><img src="https://i.imgur.com/AaSNMcI.png"><img src="https://i.imgur.com/2aYIyI1.png"><img src="https://i.imgur.com/zI5wXkg.png"></a></div></div>
<div><p class="title">Vile Axe</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/WnIEDsF.png"><img src="https://i.imgur.com/KSXxMcP.png"><img src="https://i.imgur.com/qCyJ2yH.png"><img src="https://i.imgur.com/TJKkr5H.png"></a></div></div>
<div><p class="title">Beastlord</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/sickly-exile"><img src="https://i.imgur.com/6moZJWx.png"></a></div></div>
<div><p class="title">Iron Will</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/7sDPUg6.png"><img src="https://i.imgur.com/1AVLhYU.png"><img src="https://i.imgur.com/Op0erwj.png"><img src="https://i.imgur.com/4CAvKxh.png"></a></div></div>
<div><p class="title">Phoenix Sword</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/yyurr6b.png"></a></div></div>
<div><p class="title">Labyrinth's Song</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/GALdyvv.png"></a></div></div>
<div><p class="title">Fool's Lament</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/bXwbgea.png"></a></div></div>
<div><p class="title">Virtuous Treaty</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/aQed5B9.png"></a></div></div>
</div>
</div>
<p style="margin-top: 1cm; font-size: 300%;" id="three">Spears</p>

<div class="over">
<div class="Guide">
<div><p class="title">Transience</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/sickly-exile"><img src="https://i.imgur.com/FjwXz32.png"></a></div></div>
<div><p class="title">Spear of the Usurper</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/hRPQHki.png"><img src="https://i.imgur.com/kAAlX7q.png"><img src="https://i.imgur.com/e16z6fS.png"><img src="https://i.imgur.com/CNSL2m3.png"></a></div></div>
<div><p class="title">The Devil Queen</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/hZWAhSy.png"><img src="https://i.imgur.com/CLQl1Fg.png"><img src="https://i.imgur.com/JNTPhBa.png"><img src="https://i.imgur.com/cMfjaSe.png"></a></div></div>
<div><p class="title">Sunrise</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/typKCBd.png"><img src="https://i.imgur.com/5jLcDGH.png"><img src="https://i.imgur.com/7vM4PgC.png"><img src="https://i.imgur.com/oLwWeYA.png"></a></div></div>
<div><p class="title">Beastcurse</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/Wkfh0BY.png"></a></div></div>
<div><p class="title">Captain's Holy Spear</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/YRfk4NL.png"><img src="https://i.imgur.com/rAD22Sb.png"><img src="https://i.imgur.com/HA1Be6V.png"><img src="https://i.imgur.com/cjCHDIl.png"></a></div></div>
<div><p class="title">Blade of Treachery</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/KY5Y6T8.png"><img src="https://i.imgur.com/3MdjeC1.png"><img src="https://i.imgur.com/WtOO03W.png"><img src="https://i.imgur.com/ZtqWwZ1.png"></a></div></div>
<div><p class="title">Dragoon Spear</p><div class="fading"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://i.imgur.com/KI8RMt9.png"><img src="https://i.imgur.com/ULKQNX2.png"><img src="https://i.imgur.com/25MOZJM.png"><img src="https://i.imgur.com/lxwlbUQ.png"></a></div></div>
<div><p class="title">Phoenix Spear</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/uKSn17Y.png"></a></div></div>
<div><p class="title">Labyrinth's Shout</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/CoV3o4A.png"></a></div></div>
<div><p class="title">Fool's Accord</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/i5lp6KT.png"></a></div></div>
<div><p class="title">Virtuous Dignity</p><div class="fake-fade"><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://i.imgur.com/ryadBDt.png"></a></div></div>
</div>
</div>
<p class="line"></p>
<p class="menu"><a href="/stories/nier">Back</a></p>