---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Noelle's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Noelle's Character Story</p>
<p class="title"><a href="https://www.youtube.com/watch?v=6V-xugqY7ew"><u>Video</u></a></p>
<p class="title">Chapter 1</p>
<p class="para">When I open my eyes, a strange sensation lingers in my mind. It appears I have been
dreaming. In my dream, I was flying before I fell from the sky. It is the same dream I always
have. I hear dreams are what humans experience while undergoing memory reorganization.
<br>But if this is true, why do I have <i>this</i> dream? I have never flown; I have no memories of it.
<br>Maybe I only <i>wish</i> I could fly. Or maybe it's an influence from my older sister—the original.</p>
<p class="title">Chapter 2</p>
<p class="para">I didn't dream today—or maybe I did and I just don't remember. I hear that's possible as
well, though you'd think I would know, considering that I'm dealing with my own body. We
constructs are not supposed to need sleep. Not to say that we could perpetually act autonomously—
just that it was planned that we'd undergo regular maintenance instead. But I'm different. I'm the
only one who sleeps. Who dreams. I dream of memories that do not belong to me, memories that
intermingle with my own feelings. I do not know why I am the only one to do so. But my dreams
are indispensable to me. I <i>need</i> them.</p>
<p class="title">Chapter 3</p>
<p class="para">I dreamed again today—or rather, I remember my dream. I dreamed I met someone living
in a small forest hut. I concentrate on the sensations I felt while sleeping, and I am overcome by
the sense I am unable to breathe. This memory most certainly belonged to my elder sister.
<br>I cannot easily reach my elder sister's memories; it is like trying to navigate a path covered in
fog. Perhaps this is an effect of her losing control. But my dreams are so far removed from reality.
<br>After all, I have never seen a human before.</p>
<p class="title">Chapter 4</p>
<p class="para">When I finally exit the facility and make my way outside,
<br>I find more lush nature—and ruined cities—than in my memories. And I also find hordes of
machines. But I see no humans anywhere. Not a single one. The sight is so different from
my elder sister's memories when she used to live on the surface. How long have I been asleep?
<br>How long did I dream? There is no way for me to know the answer. Will I ever reach the
place from my sister's memory? The only clues I have come to me as I dream.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/noelle">Back</a></p>