---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>The Song of Fourteen Years</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
</style>
<p style="margin-top: 1cm; font-size: 300%;">The Song of Fourteen Years</p>
<img src="https://files.catbox.moe/ohs9d3.png" width="60%" height="60%">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: kho-dazat</p>   
<p class="title">“You are the light. The light that illuminates my world. A capricious wavering prism. ”— From "Promises & Light"</p>
<p class="para">Inuart brought his sword down from overhead with every last ounce of his might, but Caim deflected it easily. They were childhood friends only four years apart, Caim being on the cusp of eighteen and Inuart having just turned fourteen, yet the gulf between them enormous and could be seen clearly in the differences between their heights, builds and most of all, strength. This, along with Caim’s uncanny skill with the sword, made it impossible for Inuart to ever beat him. His breathing ragged, Inuart spied Furiae out of the corner of his eye. Caim’s younger sister, she was observing their match from where she stood a little deeper into the garden.</p>
<p class="para"><i>(I’m going to lose to Caim in front of Furiae again…!)</i></p>
<p class="para"></p>
<p class="para">Soaked with sweat beneath his chain mail, the voice of Inuart’s father rang in his ears:</p>
<p class="para">“Rejoice, my son! His Majesty wishes you and Princess Furiae to be wed!”</p>
<p class="para">This was the news Inuart’s father, Ipris, had stopped to tell him as he was on his way to meet Caim that morning. Ipris had long enjoyed a relationship with King Gaap that was far more intimate than that between a monarch and his vassal. You might have called them best friends. Thanks to that, Inuart had the privilege of growing up alongside Caim and Furiae as if they were family. But even so, for the eighth in the line of the great kings of Caerleon to express so plainly his desire for Ipris’ son to marry his daughter… there could be no greater honor. It was no wonder Ipris’ face was positively beaming.</p>
<p class="para"><i>(But Father… what if Furiae doesn’t want to be wed to a weakling like me?)</i></p>
<p class="para">Inuart’s doubts clouded his focus and created a great many openings in his training session with Caim. The prince’s sharp eyes did not let the trembling of his opponent’s sword go unnoticed, and in a moment Caim’s sword was at Inuart’s throat. Surprised, Inuart’s gauntleted hands shot up and knocked again Caim’s hilt. While the impact was light, it was enough to cause Inuart to drop his weapon completely. He watched in a daze as the broadsword he had begged his father to buy him pierced the ground.</p>
<p class="para"><i>(I am weak.)</i></p>
<p class="para">“Are you unhurt?” Caim asked concernedly. Inuart ignored both him and the equally concerned Furiae who had come rushing over to check on them. Pulling his sword out of the earth, he hurried out of the garden, as if to escape. The only thing he was grateful for was that King Gaap, who had been the one to teach the sword to both he and Caim, was away touring neighboring countries and not been there to witness what had happened.</p>
<p class="para">Returning to his family’s mansion, Inuart wished to be alone in his room and so dismissed all the servants nearby. After he had made sure their footsteps were far enough away, he began removing his clothes. Fully naked, he felt the gentle wind blowing in from the stone window on his bare skin. The faint rays of sunlight softened the shadows, and while listening to the chirping of the birds in the tree outside, Inuart began to scrutinize his whole body, from the top of his head to the tips of his toes.</p>
<p class="para"><i>(My hair… I hate how curly and red it is.)</i></p>
<p class="para">Inuart clicked his tongue at the thought of Caim’s black hair which, no matter how much of a sweat he’d build up during training, soon went back to being silky and straight.</p>
<p class="para"><i>(And my skin… why have I been so slow in growing body and facial hair?)</i></p>
<p class="para">Wanting to at least become a little less pale, Inuart had tried sunbathing in the garden as Caim often did. All he’d ended up with was a bad sunburn, and once the skin had come peeling off, he saw that underneath he was as white as ever.</p>
<p class="para"><i>(My arms and legs… they’re so stupidly skinny. Why can’t I build more muscle? I swing my sword a thousand times every morning just as Caim does, and yet my chest is not a fraction as broad…)</i></p>
<p class="para">Imagining Caim’s body, slim but perfectly sculpted, Inuart felt pangs of jealousy.</p>
<p class="para"><i>(And why am I not getting any taller? At this rate, forget about catching up to Caim… I’m in danger of being outgrown by Furiae!)</i></p>
<p class="para">Inuart hated his body which bore little difference to that of the girl one year his junior.</p>
<p class="para"><i>(Aren’t I a man? I’m supposed to be a man! I want to be a man…)</i></p>
<p class="para">Caim and Furiae had both comforted him, saying he’d become an adult by the end of the summer, but he took their words as meaning they still considered him a child now.</p>
<p class="para"><i>(At least my voice finally changed…)</i></p>
<p class="para">Inuart thought as he gingerly stroked his throat.</p>
<p class="para"><i>(I want to hurry and become an adult… a man. A man worthy of Furiae.)</i></p>
<p class="para">Inuart cast his eyes down toward his nether regions. Of all the things that troubled him about his body, foremost among them was the fact that the appendage that signified him most as a man was still that of a boy’s.</p>
<p class="para">“You child!”</p>
<p class="para">He spat at himself before putting his clothes back on.</p>
<p class="para">All dressed, Inuart approached his desk, removing a small glass bottle full of amber liquid from one of its drawers. He held the bottle up to the light, carefully inspecting its contents before removing the cork and taking a sniff. Steeling himself, he downed it all in one go. Once he had, though, he began to cough furiously. Frantically he reached for the silver water pitcher as he continued to hack. Grasping the handle, he drank straight from the spout, water pouring all down his face and neck.</p>
<p class="para">“By Gods, that was bitter!”</p>
<p class="para">Inuart twisted his mouth, tears running down his eyes and snot pouring from his nose.</p>
<p class="para">“But with this…”</p>
<p class="para">Chuckling, Inuart took out a sheet of sturdy parchment paper and placed in on the surface of his desk. Preparing ink and a quill, he focused intently on the blank page. After giving his face a rough rub, he hunched over and began writing breathlessly. The ink splashed on his clothing and face, but this did not slow his hand.</p>
<p class="line"></p>
<p class="title">“I want to become a man worthy of being at your side.</p>
<p class="title">I am a lost puppy, nipping at your heels.</p>
<p class="title">Show me the way home with your kiss. ”— From <i>"Labyrinth of Dreams"</i></p>
<p class="line"></p>
<p class="para">That evening, at the stroke of midnight, Inuart awoke to feelings of intense nausea. As soon as he’d sat up, he vomited that night’s dinner all over his bed.</p>
<p class="para">“Someone… help…”</p>
<p class="para">He called out in a strained voice. His vision was blurry, his trembling fingertips as cold as ice, and chills raced up and down his spine. Even after he had vacated the entirety of what was in his stomach, he continued retching yellowish bile.</p>
<p class="para">The servant who first found him in this state feared he may have been poisoned, which caused enough of a panic that soon Inuart’s father had appeared on the scene. Ignoring the acrid smell of vomit, he approached his son who lay crouched on all fours, immobile. Gently lowering him down to the ground, Ipris ordered the servants to change the bedsheets.</p>
<p class="para">“What happened? Did you eat something off the floor?”</p>
<p class="para">“I’m not a dog…!”</p>
<p class="para">Inuart protested weakly, burying his aching head in the knees he had gathered to his chest. Looking at the concerned and sleepy-looking faces of his servants, the family doctor and his father were worsening his sense of vertigo.</p>
<p class="para">“I… I drank some medicine.”</p>
<p class="para">As soon as he said this, a sharp-eyed servant discovered the small bottle in his desk which still had some amber liquid left in it. The doctor took it from him.</p>
<p class="para">“Master Inuart, what manner of medicine is this? I don’t remember prescribing you any.”</p>
<p class="para">“It’s… growth medicine.”</p>
<p class="para">“Growth medicine?”</p>
<p class="para">“Yes. It’s supposed to promote growth! It comes from the far east… I bought it from Jan’s shop.”</p>
<p class="para">“Did you say Jan? You can’t trust anything you buy from that charlatan!”</p>
<p class="para">The doctor chided Inuart as if he were simple. He then began to read the label of the bottle aloud:</p>
<p class="para">“Effects: Increased height, hair growth… lengthening of the male member…? Warnings: For use by men only… women are not to ingest… Ingredients:… ah, now I see. It’s no wonder you got sick. This is no medicine, Master Inuart. I’m afraid Jan pulled one over on you.”</p>
<p class="para">Sounds of laughter and scorn were mixed in the murmuring of the servants. Inuart’s face flushed red. Remembering how he had donned a fake beard and big hat to sneak out to Jan’s shop, he thought himself a sorry fool. In the end he was still a child, one who knew nothing of the world. Seeing his son’s shoulders slump, Ipris ordered everyone to leave. After thanking them for their help, he had the sense of press a few coins into their hands to insure their silence.</p>
<p class="para">Returning to the room, Ipris folded his arms and firmed his expression.</p>
<p class="para">“Inuart. It is true that for a lad of fourteen, you are on the small side. But puberty has only just begun for you. Even Lord Caim, at fifteen, still looked very much a child. There is no need for you to be so harried.”</p>
<p class="para">Inuart was expecting to be scolded for embarrassing both himself and his father, so was taken off-guard by Ipris’ gentle words. All the more so when the man kneeled down beside him and placed a hand on his back.</p>
<p class="para">“Are you feeling better? You have a bit of a fever. Take a break from sword training tomorrow… well, I should say today, as it’s past midnight. I’ll inform Lord Caim that you’re feeling under the weather.”</p>
<p class="para">“Take a break…?” Inuart whispered, and began shaking his head frantically. “No! I can’t! If I miss a single day, Caim will be that much further ahead of me! The distance between us is already so large! I couldn’t bear to give him more of an advantage! I couldn’t bear it!”</p>
<p class="para">Ipris watched, exasperated, as his son through a tantrum. Suddenly, though, he got an idea.</p>
<p class="para">“Wait here.”</p>
<p class="para">He said before ducking out of the room. Soon he had returned with an unfamiliar instrument in tow. Before Inuart could ask what they were, Ipris was pressing it into his hands.</p>
<p class="para">“This is a harp. In my youth, I used it to win your mother’s hand.”</p>
<p class="para">“You got mother to marry you by playing music?!” Inuart exclaimed. He could hardly believe it, but Ipris nodded.</p>
<p class="para">“Listen well, Inuart. It is not the sword that captures a woman’s heart. Nay, it is song.” Ipris gave one of the strings of the harp Inuart held a pluck with his finger. A sweet sound filled the air, and Inuart’s eyes widened as the delicateness of it. Soon he was running his fingers over the strings himself.</p>
<p class="para">“Amazing! Listen to how the notes follow after each other, as if in chase. Truly amazing!”</p>
<p class="para">Seeing the sparkle in his son’s eyes, Ipris smiled, satisfied.</p>
<p class="para">“Inuart, have confidence in yourself. I believe you have been blessed by the god of music.”</p>
<p class="para">“What do you mean…?”</p>
<p class="para">“Your voice can give wings to those notes, and if you add your poetry to them, they may reach deep into the hearts of those who listen. What I mean to say is, you may well have a natural gift.”</p>
<p class="para">“M-my poetry…? Father, you read them? Without even asking?”</p>
<p class="para">Inuart’s face was alternately turning blue and red, but Ipris only responded by handing him a book of instructions on how to play.</p>
<p class="para">“Take today off to rest and become better acquainted with your harp.” "But…” Inuart trailed off, his eyes on the instrument. “…no matter how good I get at playing this harp, it won’t help my sword work. It won’t help me beat Caim…”</p>
<p class="para">Ipris, who had been making to leave, stopped at the door. He turned his eyes on Inuart and his gaze was impassive, containing neither kindness nor anger.</p>
<p class="para">“Do not fight battles you cannot win.”</p>
<p class="para">“W-what…?”</p>
<p class="para">“Lord Caim wields his sword not for himself, but for his country. But at the moment, you brandish yours only for yourself. No matter how violently you swing such a selfish sword, it can never hope to defeat one that was drawn in the name of peace.”</p>
<p class="para">“I don’t… I don’t understand!”</p>
<p class="para">Ipris gave his stammering son a magnanimous smile.</p>
<p class="para">“I pray you never truly will. But commit my words to memory all the same, for they are true. Take it from your father, whose blade once thirsted only for blood…”</p>
<p class="para">Even Inuart could plainly tell the truth and conviction behind Ipris’ words were real. Yet he also felt that conviction was something his father had gained by virtue of being further along in life, of being in possession of many more experiences… and no longer in danger of having to feel the pains of adolescence ever again. As such, the his fourteen year old ears, they came off as being cavalier, and he found himself repulsed by them.</p>
<p class="para"><i>(Father, how do you expect me to understand any of that? I don’t want to!)</i></p>
<p class="para">After his father had left, Inuart dug his nails so hard into the skin of his balled fists, they drew blood. His heart seemed ready to burst, it was so full of emotions he could not express and dared not inspect too closely.</p>
<p class="para"><i>(It hurts… it hurts! How can I stop this pain? Should I scream? Break something? Swing my sword? No…)</i></p>
<p class="para">It did not take long for it to occur to Inuart that he could express his anger through song.</p>
<p class="line"></p>
<p class="title">“I despise adults! Yet I long to become one!</p>
<p class="title">In my hypocrisy alone do I resemble one.</p>
<p class="title">Down with grown-ups! ”— <i>From "How Long Will My Torture (Puberty) Go On?"</i></p>
<p class="line"></p>
<p class="para">Before Inuart had realized, the sun was high in the sky. Yet he was far too absorbed in playing to feel tired or hungry. At first he sang only to quell his raging heart, but the more he did sing the more the tension left his body. Inuart had already become able to play the harp adequately with just a flip through the instructional book. Soon he had completely memorized which strings made what sounds, and what sort of strokes produced the nicest sounds. It all came to him with an astounding naturalness. It was an experience entirely different compared to how he struggled to learn the sword, strategy and how to ride a horse. Despite the huge amount of effort he put into those things, in terms of natural ability he always found himself below Caim and this had left him quite bitter. Yet it was the opposite with song. For the first time in his life, Inuart felt a sense of superiority and pride which greatly excited him.</p>
<p class="para"><i>(This is fun! Singing is fun! I feel so alive!)</i></p>
<p class="para">Suddenly, the sound of soft clapping echoed throughout the room. Inuart stopped playing and turned to see the silent spectator who had been listening in on his performance for some time. In her hands she held a bouquet of fresh flowers, the scent of which tickled his nostrils.</p>
<p class="para">“Furiae?!”</p>
<p class="para">“I’m sorry if I surprised you. I came to visit, since I’d heard you were sick.”</p>
<p class="para">Furiae lowered her eyes shyly, sinking her face into the bouquet. Her glossy brown hair, so similar to Caim’s, cascaded down her face and neck.</p>
<p class="para">“You came by yourself?”</p>
<p class="para">“Yes. Brother had his sovereign studies to attend to, so…”</p>
<p class="para">Inuart often forgot it, but in truth the burden on Caim’s shoulders as prince was extremely heavy. Due to King Gaap’s generous nature, the three children had grown up like siblings, but in truth both Caim and Furiae were of much greater station.</p>
<p class="para">“How long were you standing there? Did you… hear me singing?”</p>
<p class="para">Inuart scratched his head awkwardly, cheeks red. Furiae gave a nod, her face blushing too.</p>
<p class="para">“I did. They were beautiful… really.”</p>
<p class="para">While Furiae’s praise was heartfelt, it pained Inuart to hear it. Among the songs he’d been singing, there had been those overflowing with raw desire for the innocent girl. To think they had reached her ears made him want to disappear on the spot.</p>
<p class="para">“Please… my songs, they are… dirty. Not fit to be heard…”</p>
<p class="para">After hearing his words, Furiae tilted her head slightly, as if in thought. Then she smiled a smile utterly unlike any Inuart had seen on her face before. It was that of an adult, and dangerously bewitching.</p>
<p class="para">“I don’t mind. I am rather dirtied, myself…” She whispered.</p>
<p class="para">Time froze. Inuart’s eyes were fixed on Furiae’s. Likewise, hers were set on Inuart’s. He saw in their reflection the sight of his own face, which looked worn due to lack of sleep. He also realized for the first time that he was still in his night clothes. Suddenly he became much more preoccupied with his appearance than with Furiae’s enigmatic words.</p>
<p class="para">Watching as he began to straighten his clothes self-consciously, the raw expression on Furiae’s face which had exposed the woman growing with her was painted over by her usual lovely smile. At the same time, the sudden intimacy that had sparked between them became less intense.</p>
<p class="para">Furiae handed Inuart the bouquet of flowers she had likely picked from the garden herself.</p>
<p class="para">“I enjoyed your songs. If you wouldn’t mind, I’d love to hear them again…” She said in a voice just barely audible.</p>
<p class="para">Inuart dared to look back into Furiae’s eyes and saw they were still reflecting him. They did not shine the same way as when she beheld her brother, but it was clear that she was regarding him differently than she had just moments before.</p>
<p class="para"><i>(Could it be that, in Furiae’s heart… I have become a man?)</i></p>
<p class="para">Gripping his harp, Inuart gave her a smile.</p>
<p class="para">“Of course I don’t mind. I will play for you… I will sing for your sake. Whenever you want, and for as long as you desire…”</p>
<p class="para">The next day, Inuart was again facing off against Caim in the garden. While still nimbly parrying his blows, Caim remarked:</p>
<p class="para">“You’re becoming more skilled!”</p>
<p class="para">“Truly? But I’m still no match for you!”</p>
<p class="para">Panting, Inuart managed to ward off Caim’s blade. On the sidelines were King Gaap, having returned from his tour, and Furiae, who was cheering him on while holding his harp.</p>
<p class="para"><i>(That won’t always be true, though, Caim. Soon, I’ll grow taller. I’ll put on lots of muscle, too. It won’t happen right away, I know. But soon…)</i></p>
<p class="para">Caim’s left flank was open. This was the first time Inuart had ever perceived any openings in Caim’s stance since they had started sparring.</p>
<p class="para">“Yaaah!”</p>
<p class="para">Still, even as he aimed for it, Caim’s reflexes won out in the end. His sword got batted back, and the strength of the blow sent Inuart flying backwards. He landed on his back, upon the grass. As he raised his head, he saw Furiae was running to his side. King Gaap had risen from his seat, and Caim was looking in his direction concernedly as he wiped the sweat from his brow.</p>
<p class="para">“I’m all right!” Inuart called out, his voice echoing throughout the wide blue sky. He then quickly jumped back to his feet.</p>
<p class="para">“I can go for another round!” Taking his sword back in hand, Inuart stared Caim down.</p>
<p class="para"><i>(Caim… one day, I’m sure to become stronger than you!)</i></p>
<p class="para">With a battle cry, Inuart rushed toward Caim. His broadsword, too large for his frame, caught the sunlight and shone brightly.</p>
<p class="line"></p>
<p class="title">“I won’t give up on what I believe in.</p>
<p class="title">That’s my motto. I swear on the precious memories I share with you…</p>
<p class="title">…that one day, I will know victory! ”— <i>From "In Praise of the Future"</i></p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/dst">Back</a></p>
