---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Looking Back 1</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
</style>
<p style="margin-top: 1cm; font-size: 300%;"><strong>Looking Back 1</strong></p>
<img src="https://i.imgur.com/gMApkTl.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/barnabism">Barnabism</a></p>   
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>The World of Drakengard</strong></p>   
<p class="para">Note: I was asked to write a retrospective on Drakengard, so I did, but ended up writing more than two times the amount of characters I was told. I had no other choice but to cut it out, but I hope this will be satisfactory enough that you can read and imagine what was lost. So now, without further ado…</p>
<p style="margin-top: 0.4cm; font-size: 180%;font-weight: 300;">— Yoko Taro (Director of Drakengard)</p>   
<p class="para">“Why didn’t you make a game together with Mr. Iwasaki?”</p>
<p class="para">That’s because I got a call from the producer, Mr. Iwasaki, in the middle of a ski trip.</p>
<p class="para">... Well, I don’t know that was really the start of everything. Let’s go back to a few days ago.</p>
<p class="para">A long time ago, I worked as a designer at SCE (Sony Computer Entertainment). However, I didn’t necessarily see eye to eye with the manager of the department that I belonged to, so one day he said “You have no work here anymore.” and pronounced me fired. To be told “You’re fired” firsthand from a large company that seemed to think of itself like a restaurant on opening day came as a great shock to me, but I had promised to go snowboarding with my friends the next day, so I went and snowb—</p>
<p class="para">(This has been omitted to reduce the number of characters.)</p>
<p class="para">Then, I got a call from Mr. Iwasaki, and went to work for a company called Cavia. During my time there he told me he wanted to make a game that was something like “Ace Combat” in sky battles and “Dynasty Warriors” on the ground, taking place in a fantasy setting! When a new game planner thinks “Let’s make our own hit game by using elements of various other hit games!” It’s usually shot down by seniors within the industry, and let me also take the chance to say that our budget was worth about as much as a stick of chalk. The newcomers are already dead, now we’re being killed. The one paying us for this is none other than Enix, the company famous for making Dragon Quest. The producer was a man called Mr. Shiba, who I only remembered as having a strange hairstyle.</p>
<p class="para">I was given a job as art director, but had never played “Dynasty Warriors” — In other words, I didn’t know much about it. I went to a bookstore thinking that if I didn’t understand the original source material, I wouldn’t understand it even if I played the game, but I had no idea if I should have even been reading the books related to Dynasty Warriors. I couldn’t tell which book was the original, and there was a huge abundance of the comics from Yokoyama Mitsuteru. I was starting to grow annoyed, picked up Motomiya Hiroshi’s “Tenchi wo Kurau”, and began to re-</p>
<p class="para">(This has been omitted to reduce the number of characters.)</p>
<p class="para">So, I became a director and began work with that, and one of Enix’s earliest requests was to “Give the game an RPG-like feeling”. So we added “RPG” onto the pile with “Ace Combat” and “Dynasty Warriors”. Of course, our budget was still worth as much as a stick of chalk. The pampas grass beat—</p>
<p class="para">(This has been omitted to reduce the number of characters.)</p>
<p class="para">Next, I had to decide on an appropriate atmosphere for the game. Enix had Dragon Quest, so I was thinking about trying to avoid that cutesy feeling. On the other hand, Square’s FF was also very glittery at that time, so I would be putting a stop to making a glittery and sparkling game. If you go into that zone, you can’t help but lose. So with that sort of thought in mind, I continued to run away from the other games, and after a long struggle of aimlessly wandering around and muttering to myself “This hasn’t been done…. This also hasn’t been done….” I finally arrived at a place that said to me: “Let’s make a game that’s just completely dark.”</p>
<p class="para">(This has been omitted to reduce the number of characters.)</p>
<p class="para">The actual scenario of the game was introduced by Mr. Iwasaki, and I decided to request Ms. Natori’s help as well. Ms. Natori is a former Namco employee who worked on the Tales series but I said to her “I don’t care about the story, the character’s emotions, the theme or anything else. If it’s crazy, it’s okay.” Which it seems like it was just that! It was hard work. (Speaking for everyone).</p>
<p class="para">At first, I had plans to somehow quickly kill off the heroine, Furiae, and Caim and Angelus very much followed the role of “Host and the supporting older woman”. The producer Mr. Iwasaki pointed to Inuart and Furiae and said “They’re Romeo and Juliet”, and it’s not completely off the mark to think those two are like—</p>
<p class="para">(This has been omitted to reduce the number of characters.)</p>
<p class="para">If I tried to make the graphics dark, I would get a command saying “Make the sky blue.” and if I ignored it, I would get fired—</p>
<p class="para">(This has been omitted to reduce the number of characters.)</p>
<p class="para">They told me to change the name of locations on the map to RPG-like, horizontal Katakana characters, but that was troublesome. So it’s all in Japane—</p>
<p class="para">(This has been omitted to reduce the number of characters.)</p>
<p class="para">They told me to make an original map, but I just took Europe and rotat—</p>
<p class="para">(This has been omitted to reduce the number of characters.)</p>
<p class="para">After so much of this and that, our time and budget were limited. At this time, they told me “Take out the branching routes and endings and cut down on the scale”. It’s a dream, just like the American dream, to think that adding more will give it that RPG-feel. ... No, this isn’t about America—At this time, my status as a director had risen, and I cut the card saying “I was making the branching routes and endings because I was wondering if something like this would happen.” Where would the main draw be if we did that? Where? That was the case there. It was just an unreasonable way of going about things. But after everything, the result of our tearful efforts(?) was—</p>
<p class="para">(This has been omitted to reduce the number of characters.)</p>
<p class="para">The truth is there is a theme in the Shinjuku ending, “As far as the player is concerned, it is absolutely essential to—”</p>
<p class="para">(This has been omitted to reduce the number of characters.)</p>
<p class="para">Locker—</p>
<p class="para">(This has been omitted to reduce the number of characters.)</p>
<p class="para">By no means is the host and the supporting older woman a couple to the extent that—</p>
<p class="para">(This has been omitted to reduce the number of characters.)</p>
<p class="para">I think the world is overflowing with situations and circumstances that can’t be controlled unconsciously.</p>
<p class="para">That is all. ​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/cnov">Back</a></p>
