---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Questions and Answers 1</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
</style>
<p style="margin-top: 1cm; font-size: 300%;">Questions and Answers 1</p>
<img src="https://i.imgur.com/m2YJie9.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/barnabism">Barnabism</a></p>   
<p class="title">The World of Drakengard</p>   
<p class="para">A few questions addressed to Yoko Taro, director of Drakengard, and Natori Sawako, main scenario writer of Drakengard.</p>
<p class="title">Q. Why was the price of Caim’s pact his voice? What was he feeling at the time he lost it? Finally, what did it mean for Caim to only be able to communicate with Angelus?</p>
<p class="title">Yoko</p>
<p class="para">I think the reason why he lost his voice was that communicating with words was something highly important for a man who was becoming a demon in his quest for revenge. How poetic it is for him to try to call out... I think Angelus prefers more “Heart-to-heart” conversations than idle chatter, like looking at one’s gaze or reading sign language. Early on, Angelus was nothing more than a vehicle for Caim, so he felt it was okay if they went “with or without” communication. I think that somehow, he grew to be on good terms with her as they travelled, and when she was finally sealed, he felt like “Oh, she was something important to me.” Another thing is that, personally, I think Caim really wanted to die. Not only had he killed so much, but he lost the world and the family he wanted to protect. And at the end, I think, the reason he could keep living was because of his friend Angelus who he had lost.</p>
<p class="title">Natori</p>
<p class="para">Because it was “A pact or death”, I think Caim was relieved that he was able to survive for the time being. I don’t think he had any regrets about losing his voice because he did it to save Furiae. Caim is a mass of his hatred—He would no longer need dialogue with others.    </p>
<p class="title">Q. Did Inuart realise that his ability to sing was so special to him?</p>
<p class="title">Yoko</p>
<p class="para">I think the reason he lost his ability to sing in the pact was because it was something irreplaceable that connected him to Furiae and Caim. He had gained the power of the Black Dragon in exchange for something he really shouldn’t have thrown away; What Inuart felt at the time was “No... I can’t sing, but because I have power I’ll be more popular with Furiae! No, I can’t even use my singing to one-up Caim anymore.”</p>
<p class="title">Natori</p>
<p class="para">I think he lost a lot of things then because he wasn’t aware of them. It was…. Foolish for him to throw away the songs Furiae needed most. What he probably regrets most is the moment when Fuarie commited suicide or when he gets devoured by her. I feel sorry for him.</p>
<p class="title">Q. Leonard’s pact-price was his eyes, why?</p>
<p class="title">Yoko</p>
<p class="para">When he lost his eyesight, I feel that was the biggest punishment for Leonard because he couldn’t Ahem while looking at shota. “Ah, this way the little boys will be kept from being violated by my dirty gaze...” (But afterwards he would think about ██████)</p>
<p class="title">Natori</p>
<p class="para">Leonard never acted on anything, even if he was crushing on shota. He was dealing with it exclusively through himself. At that time, what was most needed to have a sexual delusion was to keep a mental picture of something you saw, right? He thinks something like, “It’s not as totally inconvenient compared to losing things like your voice, song, or hair! What’s more, it’s too painful to keep the mental image of a new shota!” That’s why his sense of smell develops past the extent of his sight.</p>
<p class="title">Q. Did Arioch lose her womb because it is the organ for giving birth and raising children, the most important thing for her?</p>
<p class="title">Yoko</p>
<p class="para">Arioch’s theme covered the idea of “True madness”, and what was charming about it was that ordinary people can’t really comprehend it. So she’s not sure why her womb was lost, and she often says “My baby”, but we can’t tell if she really comprehends that. I think all the answers are “We don’t know because she’s crazy.”</p>
<p class="title">Q. Seere can no longer grow old, but is it “Immortality”? Also, did Seere want to grow up?</p>
<p class="title">Yoko</p>
<p class="para">He’s a perennial youth if I just leave the topic alone but, I don’t think he was particularly immortal. Seere’s loss of growth means that he can continue to be an eternal “Good boy”. By staying in that mindset, I think he will continue to live without the mature spirit he would get in other circumstances. Even so, his heart says “If it’s for the world, my price is really small!”</p>
<p class="title">Natori</p>
<p class="para">If he injures himself too badly, he will die. He won’t die when he reaches the end of a normal span of life, that’s what his immortality is like. To some extent though, he’s not immortal. Perhaps he wanted to grow up and be an adult as soon as possible, or be able to age so he could grow and be a normal person (Which is a little better). I wonder if Seere is pained about this? I think he was very envious and jealous because of this.</p>
<p class="title">Q. Does Verdelet not have hair only on his head, but also his whole body?</p>
<p class="title">Yoko</p>
<p class="para">His whole body has no hair. Hair was something that was very important to him. Of the many people engaged in a pact, he is the one who pays the most regrets. There’s no doubt he was thinking “Ohh! Have mercy! The women all flee and don’t even like me now!! This isn’t what you said!” The price of his pact being his hair was lighter than most because he formed one with a petrified and weakened dragon. Had he formed a pact with a more powerful creature, he would have lost his genitals or some other part.</p>
<p class="title">Natori</p>
<p class="para">When he was younger, Verdelet was a good-looking man with long hair. Having a happy trail would seem like something of great difficulty for him. Certainly, he must have been a man with plenty of male pheromones. Because of his pact, he lost all of that popular hair he was so proud of. “I want to be popular! I want to be popular again! I need to be popular!!” I would have cried into my pillow over and over again and spent all my nights turning in bed.</p>
<p class="title">Q. Please share a special skill about everyone that no one cares about.</p>
<p class="title">Natori</p>
<p class="para">They are as follows:</p>
<p class="para">Caim... He sleeps with his eyes open.</p>
<p class="para">Angelus... Her body is very soft. When she flies and is curled up like a shrimp in the air, she looks like another creature entirely.</p>
<p class="para">Furiae... Has very deep daydreams. She relieves stress in her dreams!</p>
<p class="para">Inuart... Can do impersonations of King Gaap. With the backing of Caim and Furiae!</p>
<p class="para">Leonard... Can stand on one leg for 24 hours. He has good patience and a good sense of balance.</p>
<p class="para">Arioch... Is good at cleaning ears. It was called “Jibo no Hizamakura1” or something...</p>
<p class="para">Seere... Low-quality ventriloquism. “My name is Seere! You can hear my voice coming late!”</p>
<p class="para">Verdelet... He can whistle 3 whole octaves.</p>
<p class="para">Manah... Can really do fortune telling with flowers! ... She’s not always right on the money with it.</p>
<p class="line"></p>
<p class="para">Jibo no Hizamakura: Laying your head on the lap of a loving mother.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/cnov">Back</a></p>
