---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Drakengard Judgement CH 1</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 75%%;
    height: 75%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 50%;
    height: 50%;
}
    }
</style>
<p class="title">Judgement Chapter 1</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Everything: Crimson Sky Scanlations</p>
<img src="https://files.catbox.moe/01ofg5.jpg">
<img src="https://files.catbox.moe/rn7ltk.jpg">
<img src="https://files.catbox.moe/lb34qj.jpg">
<img src="https://files.catbox.moe/y791er.jpg">
<img src="https://files.catbox.moe/qfxvav.jpg">
<img src="https://files.catbox.moe/uuvju0.jpg">
<img src="https://files.catbox.moe/z0tl9a.jpg">
<img src="https://files.catbox.moe/rwpr3c.jpg">
<img src="https://files.catbox.moe/7hw9gw.jpg">
<img src="https://files.catbox.moe/rhpf6j.jpg">
<img src="https://files.catbox.moe/zdll37.jpg">
<img src="https://files.catbox.moe/hh70md.jpg">
<img src="https://files.catbox.moe/6m186x.jpg">
<img src="https://files.catbox.moe/zg5yth.jpg">
<img src="https://files.catbox.moe/rbf5un.jpg">
<img src="https://files.catbox.moe/smz7bm.jpg">
<img src="https://files.catbox.moe/9tabo8.jpg">
<img src="https://files.catbox.moe/7btdsw.jpg">
<img src="https://files.catbox.moe/s0idrt.jpg">
<img src="https://files.catbox.moe/i1u88r.jpg">
<img src="https://files.catbox.moe/2yogrz.jpg">
<img src="https://files.catbox.moe/stpthw.jpg">
<img src="https://files.catbox.moe/7tdhvy.jpg">
<img src="https://files.catbox.moe/pgzhh0.jpg">
<img src="https://files.catbox.moe/drccdl.jpg">
<img src="https://files.catbox.moe/1zp314.jpg">
<img src="https://files.catbox.moe/u1o3z7.jpg">
<img src="https://files.catbox.moe/6c86e8.jpg">
<img src="https://files.catbox.moe/kosx1b.jpg">
<img src="https://files.catbox.moe/lg98aw.jpg">
<img src="https://files.catbox.moe/e5bs9d.jpg">
<img src="https://files.catbox.moe/0fvwn5.jpg">
<img src="https://files.catbox.moe/rsr6wn.jpg">
<img src="https://files.catbox.moe/i0d04f.jpg">
<img src="https://files.catbox.moe/ws19uk.jpg">
<img src="https://files.catbox.moe/o47rvu.jpg">
<img src="https://files.catbox.moe/wal4zz.jpg">
<img src="https://files.catbox.moe/lvfvmm.jpg">
<img src="https://files.catbox.moe/a6uzh4.jpg">
<img src="https://files.catbox.moe/q6edjo.jpg">
<p class="line"></p>
<p class="menu"><a href="/stories/d1/rd1/rdst/05judge2">Next Chapter</a></p>
<p class="menu"><a href="/stories/d1/d1manga">Back</a></p>
