---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Drakengard Judgement CH 2</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 75%%;
    height: 75%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 50%;
    height: 50%;
}
    }
</style>
<p class="title">Judgement Chapter 2</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: I don't know. Help me !</p>
<img src="https://files.catbox.moe/pauqj8.png">
<img src="https://files.catbox.moe/jq4p2b.png">
<img src="https://files.catbox.moe/ryky9c.png">
<img src="https://files.catbox.moe/jgvggr.png">
<img src="https://files.catbox.moe/caq5r1.png">
<img src="https://files.catbox.moe/jbgsry.png">
<img src="https://files.catbox.moe/g53zld.png">
<img src="https://files.catbox.moe/julikj.png">
<img src="https://files.catbox.moe/vmqi8t.png">
<img src="https://files.catbox.moe/yskycj.png">
<img src="https://files.catbox.moe/vw1cgw.png">
<img src="https://files.catbox.moe/q1fiqs.png">
<img src="https://files.catbox.moe/gbucnh.png">
<img src="https://files.catbox.moe/nf480b.png">
<img src="https://files.catbox.moe/v9up7b.png">
<img src="https://files.catbox.moe/1h8xx8.png">
<img src="https://files.catbox.moe/v9wi0l.png">
<img src="https://files.catbox.moe/20e796.png">
<img src="https://files.catbox.moe/hfr0fq.png">
<img src="https://files.catbox.moe/ritufx.png">
<img src="https://files.catbox.moe/xer1yd.png">
<img src="https://files.catbox.moe/xer1yd.png">
<img src="https://files.catbox.moe/tmki6g.png">
<img src="https://files.catbox.moe/zhduet.png">
<p class="line"></p>
<p class="menu"><a href="/stories/d1/rd1/rdst/04judge1">Previous Chapter</a></p>
<p class="menu"><a href="/stories/d1/d1manga">Back</a></p>
