---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Crossover Costumes</title>
<style>
    img{
        -webkit-filter: brightness(100%);
        padding: 0%;
        max-width: 192px;
        max-height: 192px;
        min-width: 192px;
        min-height: 192px;
    }
    img:hover{
        -webkit-filter: brightness(70%);
        transform: scale(98%);
    }

  .para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
@media screen and (min-width: 1921px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 3%;
}
}
</style>
<p style="margin-top: 1cm; font-size: 300%;">Crossover Costumes</p>

<div class="over">
<div class="Guide">
<p class="title"><a href="/stories/reincarnation/characters/crossovers/praying-battler"><img src="https://i.imgur.com/1fR83ZO.png">Praying Battler</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/shattered-battler"><img src="https://i.imgur.com/zHbK151.png">Shattered Battler</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/alternate-battler"><img src="https://i.imgur.com/sIU4lDB.png">Alternate Battler</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/divergent-battler"><img src="https://i.imgur.com/Fib26xO.png">Divergent Battler</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/mock-machine"><img src="https://i.imgur.com/eclwNmG.png">Mock Machine</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/isolated-scanner"><img src="https://i.imgur.com/mTr7Rkk.png">Isolated Scanner</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/divergent-scanner"><img src="https://i.imgur.com/YStYnTL.png">Divergent Scanner</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/vengeful-attacker"><img src="https://i.imgur.com/9SEfzZH.png">Vengeful Attacker</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/divergent-attacker"><img src="https://i.imgur.com/s8EdsPz.png">Divergent Attacker</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/soulful-lad"><img src="https://i.imgur.com/6mHRvR5.png">Soulful Lad</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/divergent-lad"><img src="https://i.imgur.com/egJQ4f6.png">Divergent Lad</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/alternate-lad"><img src="https://i.imgur.com/YuhKdQU.png">Alternate Lad</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/the-aerie-warrior"><img src="https://i.imgur.com/dBWX8sN.png">The Aerie Warrior</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/divergent-warrior"><img src="https://i.imgur.com/qtogRaO.png">Divergent Warrior</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/puzzling-oddity"><img src="https://i.imgur.com/sgwcpAq.png">Puzzling Oddity</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/divergent-oddity"><img src="https://i.imgur.com/o50tbbW.png">Divergent Oddity</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/progenitor-sister"><img src="https://i.imgur.com/3ny2G1r.png">Progenitor Sister</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/divergent-sister"><img src="https://i.imgur.com/gkLeijz.png">Divergent Sister</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/caged-rebel"><img src="https://i.imgur.com/oUNv6ml.png">Caged Rebel</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/scheming-justice"><img src="https://i.imgur.com/Z1r9IRG.png">Scheming Justice</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/insightful-emperor"><img src="https://i.imgur.com/T6sQ9U1.png">Insightful Emperor</a></p>
<p class="title"><a href="/stories/reincarnation/characters/crossovers/virtuous-priestess"><img src="https://i.imgur.com/Fa7zL3z.png">Virtuous Priestess</a></p>
</div>
</div>
<br><br><br><br>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters">Back</a></p>