---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>DrMint / AL Team</title>

<p class="title">DrMint</p>
<p class="line"></p>
<p style="font-size: 180%;">Worked on:</p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/drakengard-1/manga"><u>Drakengard Judgement Chapter 2 (random Japanese guy and AL Team, specifics unclear)</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/drakengard-3/short-stories"><u>Drakengard 3 Short Stories</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/drakengard-3/reading/prelude-novellas"><u>D3 Prelude Novellas</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/drakengard-3/story-side/chapter-one"><u>D3 Story Side Chapter One</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/nier/novellas"><u>NieR The Lost World & Appendix ver.1.22...</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/nier-automata/novellas"><u>NieR:Automata Novellas</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/nier-automata/memories-of-puppets"><u>The Memories of Puppets: A Repeating Prayer</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/nier-all/concerts/12018-pamphlet"><u>NieR 12018: The Two of Us</u></a></p>
<p class="line"></p>
<p style="font-size: 180%;">Socials:</p>
<p class ="menu" style="font-size: 180%;"><a href="https://github.com/DrMint"><u>GitHub</u></a></p>


<p class="line"></p>
<p class="menu"><a href="/credits/people">Back</a></p>
