---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>Seviryn</title>

<p class=title>Seviryn</p>
<p class="line"></p>
<p style="font-size: 180%;">Worked on:</p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/drakengard-3/reading/prelude-novellas/michael"><u>D3 Prelude Novella "The Gone Away"</u></a></p>
<p class="line"></p>
<p class ="menu" style="font-size: 180%;"><a href="https://drive.google.com/file/d/1s1bvvf0A2EMIDmTWlU5Qc0gNz9X4okRh/view"><u>D3 Prelude Novella "Mirror, Mirror"</u></a></p>
<p class="line"></p>
<p class ="menu" style="font-size: 180%;"><a href="https://drive.google.com/file/d/18lX8PSE4k63scb1VpSnYgJNXqMM4Jp-c/view"><u>D3 Prelude Novella "Weapon Tales"</u></a></p>
<p class="line"></p>
<p style="font-size: 180%;">Socials:</p> 
<p class ="menu" style="font-size: 180%;"><a href="https://x.com/Inmate7269"><u>Twitter</u></a></p>
<p class="line"></p>
<p class="menu"><a href="/credits/people">Back</a></p>