---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>Seviryn</title>

<p class=title>Seviryn</p>
<p class="line"></p>
<p style="font-size: 180%;">Worked on:</p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/drakengard-3/reading/prelude-novellas"><u>D3 Prelude Novellas</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/nier-automata/blu-ray"><u>NieR:Automata ver1.1a V1 & V2 Blu-ray Lore (Provided)</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/nier-automata/blu-ray"><u>NieR:Automata ver1.1a V2 Short Story (Provided)</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/nier-all/concerts/12018"><u>NieR Concert: 12018</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/nier-all/concerts/12020"><u>NieR Concert: 12020</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/nier-all/concerts/12022"><u>NieR Concert: 12022</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/nier-all/misc"><u>Various Lore Excerpts (Along with others, as noted)</u></a></p>
<p class="line"></p>
<p style="font-size: 180%;">Socials:</p> 
<p class ="menu" style="font-size: 180%;"><a href="https://x.com/Inmate7269"><u>Twitter</u></a></p>
<p class="line"></p>
<p class="menu"><a href="/credits/people">Back</a></p>