---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Gayle's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Gayle's Character Stories</p>
<p class="title"><a href="https://www.youtube.com/watch?v=vufGvqE3bLE"><u>Video</u></a></p>
<p class="title">Chapter 1</p>
<p class="para">I am on a journey of revenge. The kingdom razed my home, killed my sister, and took everything from me. But its lust for power fed an unsustainable hunger for war, and it eventually collapsed. Still, scattered remnants of its forces remain. And I won't stop until every last one of them is dead. I tarry for a while in a small village. Under the midday sun, I hear a voice call for help. I see a kingdom soldier raise a fist and bring it down on the head of a woman. He moves to deliver a second blow. I leap in the way and take it myself before swiftly ending his life. The woman begins thanking me profusely...
    <br>But I ignore her. I fight for revenge—not to save lives or spread justice. As I move to leave, the woman bars my path. Asking to see my prosthetic arm, she draws in close. She examines it carefully, looking it up and down. <br>It was damaged when I took the blow the soldier intended for her. Though I try to explain that I can repair my arm, she waves me off with a dismissive grunt.</p>
<p class="para">"We've a skilled engineer in the village," she says. "Come along." Before I can think to protest further, she takes my hand in hers and leads me off.</p>
<p class="title">Chapter 2</p>
<p class="para">I am guided to an engineer so that my arm might be repaired. The engineer is indeed skilled, but lacks the needed parts for repairs—and unfortunately, it will be some time before they're available. Still determined to show her thanks, the woman huffs loudly, grabs my good arm, and drags me off anew.</p>
<p class="para">We end up in the village pub. She gathers the drinkers around her and spins an epic tale of how I saved her from the kingdom brigand. Soon, I find myself regaled with food, drink, and song from all corners. I take a bite of something and nearly swoon; I can't remember the last time I enjoyed a hot meal. When the woman leans in and asks how it tastes, I feel an unfamiliar smile slowly make its way across my lips.</p>
<p class="para">How long has it been since I smiled? Weeks? Years? More?</p>
<p class="para">I thought I'd lost the ability to do such a thing long ago.</p>
<p class="title">Chapter 3</p>
<p class="para">Eventually, the parts arrive and my arm is finally repaired. The woman asks me how it feels, and I'm both surprised and delighted that it seems to move more smoothly than before. As I test it out, the engineer smiles at me and says, "Consider this my way of saying thanks for saving my wife."</p>
<p class="para">
It turns out the engineer and the woman are married. She turns red as he talks about everything he loves about her. I can only chuckle and show a wry smile as I listen. Finally, she can take no more attention and leads me out of the shop. As we walk, she tells me they have been married almost three years. She also thanks me again for my actions from before. This time, I manage to face the woman and thank her for the assistance. I tell her my work in the village is done and I will be on my way...... But that's not the entire truth. I'm also afraid of what might happen if I grow used to the warmth and kindness of others. The villagers all gather at the edge of town to see me off.</p>
<p class="para">"Come see us again real soon!" says the woman. As I walk away, the last thing I see is her small hand happily waving goodbye.</p>
<p class="title">Chapter 4</p>
<p class="para">It wasn't long after leaving the village that I heard the news: A soldier was attacking the village in revenge. Before I even know it, I am on my feet and running like the very wind itself.</p>
<p class="para">
I find the village in flames. The soldier is roaming about madly as he scours the village in search of every last person he can find. "That man was family!" he cries as he puts another house to the torch.</p>
<p class="para">"All of you will pay for his death with your lives!" My vision is fire.</p>
<p class="para">Before I even have the chance to feel my building rage, I engage the man in battle. My arm works even better than before. In a moment, I cut him down like a dog.</p>
<p class="para">When the deed is done, I walk around the village in search of survivors. In the very last house, I find the woman and the engineer with their arms wrapped around each other and their bodies still. I thought I had saved them—saved all of them—from a terrible fate that first night... But my actions had only been the impetus for an even greater tragedy. These innocent people had been caught in the cycle of revenge, and now their lifeless eyes stare accusingly up at me.</p>
<p class="para">Your power did this. Your hate. Your thirst for retribution.</p>
<p class="para">And you know what? They're right. I did this. It is all because of me. As I fight, I only add more links to the chain of revenge—but if I stop, the remaining soldiers will continue to commit their horrid atrocities. So I have to fight. I have no choice. But in so doing, will I, too, become an object of hatred in this world of neverending slaughter? All that lays before my eyes is a crimson world of blood and fire.​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/gayle">Back</a></p>