---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Gayle's Dark Memory</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Gayle's Dark Memory</p>
<p class="title"><a href="https://www.youtube.com/watch?v=8bCXU__2IKU"><u>Video</u></a></p>
<img src="https://i.imgur.com/WY6ANuU.png">
<p class="title">Chapter 1</p>
<p class="para">A blazing inferno reflects in a pair of eyes. The girl's empty expression betrays nothing.
<br>The sight of flames roaring in the darkness is etched upon her mind. Her heart speaks to her in a
dry tone. <i>You will never forget this night. Not for the rest of your life.</i>

</p>
<p class="para">
"Mom, come help with this!" The girl's bright voice rings through the kitchen. Lined across
the table are a colorful array of vegetables in hues of green, yellow, and red, as well as a large
piece of meat. Cradling the girl's younger sister, her mother turns to the sound of her older
child's pleas.</p>
<p class="para">"Well, someone's enthusiastic about their cooking."
    <br>The mother looks on as the girl continues bustling about the kitchen. She is learning to cook from her
mother.
</p>
<p class="para">"You need to add a little more seasoning, honey."
    <br>"Here, try it now."
</p>
<p class="para">The moment the girl brings the food to her mouth, her furrowed brow loosens and a smile breaks out.</p>
<p class="para">
"Oh, yummy!"</p>
<p class="para">The two chefs look at each other proudly, content in the knowledge the recipe is perfect. The girl sets
the steaming dishes down. The mother plops the little sister in her chair as the three of them gather
around the table.
</p>
<p class="para">The wood practically groans under the weight of the food, which is far too much for even
three hungry mouths. As the mother starts cutting meat into small pieces for her youngest daughter,
she looks at the elder with a wry smile.</p>
<p class="para">"It's good you got more practice in, but we clearly went overboard on our portion control."
    <br>Everyone chuckles as they dive into their meal.
    <br>"Dad's coming home soon, right?" asks the girl as she happily bounces up and down in her chair.
</p>
<p class="para">
The letter had arrived a few days ago. It was a notice their father would soon be returning
from his military service. The moment the girl read it, she ran into her mother's room and announced
her grand plan:</p>
<p class="para">"I'm going to make Dad's favorite dinner when he gets back!"</p>
<p class="para">She has been awaiting his return for so long. The last time she saw him was the morning he left for
the front. His expression betrayed mixed feelings, and the young girl had no way of knowing what sort
of emotions they were. But as he held her tight, he leaned into her ear and whispered,</p>
<p class="para">"I will come back to you. I promise."
    <br>That promise was everything to her—and now it is coming true. When she thinks of it, she can hardly
contain herself. Feelings she managed to keep suppressed all this time are now bubbling up like water
from an overfilled pot. But she manages to hold them back and keep her calm.
<br><i>I'm the older sister now,</i> she thinks.
<br><i>I have to hold it together.</i> Her younger sister was born after her father left, and word of her
birth had not been able to reach him on the battlefield.
<br><i>What will Dad think when he sees her? Will he love her like me? ...Will he love her more than me?</i>
<br>The girl shakes her head to clear the ugly thought away...
</p>
<p class="para">
As she rubs her swollen belly, she marvels at how well the cooking lessons have gone—aside
from her ability to judge proper quantities, of course. She leans back in her chair and indulges in
a brief flight of fancy. All of her father's favorite foods are lined across the table. As he takes
the first bite, a satisfied smile crosses his face. She sits at his side, no longer the young child he
once knew, but not yet a woman grown. <i>He'll be amazed to see how much I've changed.</i>
<br><i>It's going to make him so happy.</i> Her reverie is interrupted by the voice of her mother:
<br>"When you're done woolgathering, you can help clean up."</p>
<p class="para">The girl starts, nearly tipping her chair over in the process.
    <br>"You're the older sister now; you can't afford to be lazy."
</p>
<p class="para">The girl pouts a little at the scolding, but her mother pays this small rebellion no mind. Instead, she entrusts her to take care of the dishes and heads off to attend to her sister.
</p>
<p class="para">
<i>It must be so hard for Mom to take care of both of us alone.
<br>I need to work as hard as I can to support her. She's always put on a smile for us, no matter what.
<br>And that's why I've been able to keep going, even when I was sad or lonely or depressed.
<br>I'm too old to be having jealous fits or slinging snide remarks. So what if she doesn't pay much
attention to me anymore?</i></p>
<p class="para">She nods to herself as she reaches this conclusion, and proceeds to wash and put away the kitchenware.</p>
<p class="para">When night comes, the exhausted girl begins falling asleep the moment her head strikes the
pillow. As she drifts off, she feels her mother's hand on her head. </p>
<p class="para">"Thank you, honey. You are <i>always</i> appreciated."
    <br>With that, her mother stands and leaves the room. In her dreams,
her entire family sits happily around the table.
</p>
<img src="https://i.imgur.com/qy4k6gu.png">
<p class="title">Chapter 2</p>
<p class="para">The girl stares out the window. Whenever she hears a noise coming from the door, she bolts to
her feet. Her mother makes a comment about her being worse than a puppy, which causes her cheeks
to go pouty once more. With each ring of the doorbell, the girl rushes to the door, only to return each
time filled with disappointment. Finally, the moment she was waiting for arrives. The front door opens
to reveal her father in his military uniform. How long had they waited for this?
<br>How long had they <i>all</i> waited for this? Unable to help herself, the girl leaps up and runs to her father.</p>
<p class="para">But then... Something shocking happens. Her father shoves her aside. She crashes to the
ground, unable to process what just happened. A silence ill befitting a family reunion falls over
them. Sensing the heavy atmosphere, the youngest begins to cry. The father covers his ears at the
sound of her wails and rushes off to his room.</p>
<p class="para">"Don't worry, girls," says her mother as she helps her daughter up.
    <br>"Your father is just tired."
</p>
<p class="para">She smiles as she says this, but the expression does not carry over to her eyes. The girl remains
stunned. She can't fathom what just happened. Her sister's sobs echo around the entryway. She does
not see her father again until dinner. She is almost beside herself with worry; what if her actions
had caused her father's mood? As she bites her lower lip, her mother comes up behind her.</p>
<p class="para">"It's okay, honey. You didn't do anything wrong."</p>
<p class="para">Rather than comfort her, the words make tears spring to her eyes. But she manages to hold them back
and force a smile on her face.
<i><br>It will be better once he eats. He's going to love it.
<br>This is what you've been working so hard for, remember?</i>
<br>Thus determined, she begins helping her mother with the meal. The fragrance of grilling meat covered
in her mother's secret seasoning soon wafts through kitchen. A knife falls up and down on the cutting
board. As the ingredients take on new forms, the girl's heart leaps wildly between anticipation and
anxiousness. They put up the decorations they'd prepared around the room and pile the plates high
with steaming warm food in order to celebrate the day. And then, they await the guest of honor.</p>
<p class="para">Some time later, he enters the room and takes his seat. The whole family is finally together
again. But her father doesn't touch his food. Instead, he just...sits there. The daughter looks at him
out of the corner of her eye, noticing for the first time how gaunt he has become; how pale and sickly
he appears. Her dream has become reality, but there is no joy in it. She begin to wish it weren't real
after all, that she might wake up from it... As that thought crosses her mind... A crash rings out. She is
yanked back to reality by the sound of shattering porcelain. The carefully prepared dinner is now
scattered across the floor.</p>
<p class="para">"BUGS!" screams her father, his voice raw with terror.
    <br>"Oh god, they're EVERYWHERE!"
</p>
<p class="para">
Her panicked father leaps up and dances away from the table. He then begins stomping the food into
the floor with the heels of his heavy military boots. He is trying to squish the insects: the ones
only he can see. Her little sister begins to wail again. Even her normally composed mother stares on,
dumbfounded. She can't even pretend to understand what is happening. A few seconds later, her father
comes to his senses.</p>
<p class="para">"I'm... I'm sorry. I didn't mean..."</p>
<p class="para">He lets his words trail off as he sways unsteadily on his feet. Then he bends down and begins to slowly
scrape the food off the floor, moving as if in a trance.</p>
<p class="para">
"Dad, no! Let me do it!"
<br>The girl drops to her knees and begins a frantic cleaning. Her mother rushes to grab some rags, and
for a brief, insane moment, it almost feels like everything will be okay. But then...</p>
<p class="para">"Ow! Dangit..."
    <br>In her rush, the girl had cut her finger on a broken shard of plate, and now drops of blood spill down
to the floor. The moment her father sees it, he turns to the side and vomits. When her mother returns,
she finds a room filled with horrid smells, shrieking cries, and chaos. Her father stumbles from the
house and into the night without even bothering to clean himself. He does not return until the next day.
</p>
<img src="https://i.imgur.com/VoYYXBo.png">
<p class="title">Chapter 3</p>
<p class="para">Her father is unable to find work. Days pass. Then weeks. Nothing changes. With their
savings all but depleted, the mother is forced to find work outside the home. The job of watching over
the younger sister falls to the elder. But youth has a way of forgetting trouble, and the little sister is
constantly happy, vibrant, and full of life. Each time she begs her sister to play, it brings a bit of warmth
to her tense heart. But there is also much pain as well.</p>
<p class="para">
One day, she and her sister are playing with blocks. They build a small town with a strong
gate and a mighty castle, and populate it with the little sister's toy soldiers. The girl takes out a small
instrument and begins playing a jaunty march as her sister moves the soldiers to and fro.
<br>This game—which they call "Parade"—has been the little sister's favorite of late. Suddenly, her father
wanders by the room, his face clouded. The moment he sees the soldiers, he begins to scream:</p>
<p class="para">"No! NO! Stop that RIGHT NOW!"</p>
<p class="para">The girls freeze. He tears the soldiers out of the little sister's hands, rips their heads from their
bodies, and kicks over the blocks. The girl stares wordlessly. Her sister begins to cry. Her father
throws the ruined toys in the trash and backs out of the room with a terrified look on his face. He is
a different person now. She no longer knows him. And yet, he is still her father, whom she loves.
<i><br>He's just sick, she tells herself day after day.
<br>He'll get better. Things will go back to how they were.</i>
<br>Their father does seem to feel guilty about his condition. One day, he offers to help with the
housework. Mother and daughter both agree instantly, hoping that perhaps this smallest of steps will
be the push he needs to get well.</p>
<p class="para">The next day, he begins preparing a bath for the little sister. The girl is worried by her father's
slow, clumsy movements, and finds herself checking in on him every few minutes. But watching him
draw the bath just feels so very normal, and for a brief moment, she finds happiness in the scene.
<br>Expecting things to be ready soon, the girl peeks in and finds her father about to place her sister
into the bath. Her little sister is staring at the bath, eyes wide. Sensing something amiss, the girl
looks at the water and sees that it is boiling. She runs to her sister and quickly scoops her up.
</p>
<p class="para">"Dad, no! What are you DOING!?" Her father stares at her, confused.
    <br>"I was just...putting her in the bath..."
</p>
<p class="para">Her father's answer contains no acknowledgement of the situation's horror. She fumbles out a lame
excuse about her not being ready for a bath and flees the room with her sister in her arms. She is
glad her father wants to be involved with the family. She truly is. But his actions bring no joy.
<br>Mother and daughter find themselves more exhausted with each passing day.</p>
<p class="para">And one night...it all comes crashing down. Her patience gone, the girl's mother begins to
scream at her husband. Her furious cries penetrate the bedroom walls. The girl has never heard her
scream like this before. Within moments, her father begins to bellow back, and the sounds of their
rage fill the air. Suddenly, the girl feels a strange sensation, almost like her heart is splitting in two.
<br><i>What's going to happen to us?</i> She does not know. All she can do is close her eyes and pray.</p>
<img src="https://i.imgur.com/IHQbf7r.png">
<p class="title">Chapter 4</p>
<p class="para">A strange crackling sound stirs her from sleep. Then she begins to cough.
    <br><i>Smoke. That's...smoke? Oh my god, the house is on fire!</i>
    She wants to believe this is a nightmare; she wants to believe it with all that she is. But the heat will
not let her....!

</p>
<p class="para"><i>Dad...
<br>Mom...
<br>My sister!</i>
<br>A moment later, she dashes out of her bedroom. </p>
<p class="para">
"Dad!"</p>
<p class="para">Her father is standing in the living room. Flames lick up around him. Her mother's body lies still
at his feet. Her father slowly turns to look at her. His eyes are two empty pools. His mind is gone.
<br>The girl stares at him, unable to act. The flames grow stronger. A vibration shakes the room.
<br>Something falls. Glass shatters. Finally, the girl snaps back to reality. She is standing in the
middle of an inferno.
</p>
<p class="para">Suddenly, her vision goes black. She smells a familiar, comforting aroma, and realizes she is
wrapped in her father's coat. He lifts her in his arms and sprints out of the house. When he sets
her on the ground and unrolls the coat, her eyes are burned by the intensity of the flames. Her
consciousness a whirl, she manages to croak out:</p>
<p class="para">"M-my sister..."</p>
<p class="para">
She does not know if he hears her or not, but he turns around and runs back into the house.
<br>His silhouette is swallowed by fire.</p>
<p class="para">Time passes. A minute is an age. The girl can only stare and hope. Finally, a figure emerges
from the inferno. Her sister is in his arms, wrapped in a blanket. He reaches the girl and collapses
to the ground; the smoking blanket unfurls to reveal her sobbing sister. The girl runs her hands
over her sister to check for injuries, and is shocked to find she has none. But her father is a
different story. His skin is peeled and blackened. His remaining hair crumbles to ash when she
touches it. His clouded, bloody eyes stare unseeingly at nothing. After a moment, his mouth begins
to move. He repeats the same words over and over. It is an apology. But it is not meant for her—nor
for her sister or their mother. Instead, he is apologizing for actions during the war, his mind lost amidst
fields of battles long-since fought. His voice grows softer and weaker. In an increasingly faint voice,
he calls his daughter's name. However, she is unable to make out whatever words follow. By the time
she attempts a reply, he is gone</p>
<p class="para">..................
<br>............
<br>......
</p>
<p class="para">Some time later, she learns portions of what happened to him during the war. The orders he
was given. Young children clutching weapons. Blood. Gore. Screams of pain. Eyes staring up from the
dirt. The eyes of little girls. Girls much like his own daughter. Her father left the battlefield, but his
spirit never did.</p>
<p class="para"><i>
Why why why why why
<br>Why why why why why
<br>Why why why why why
<br>Why why why why why
<br>Why why why why why
<br>Why why why why why</i></p>
<p class="para">No matter how many times she asks... No one ever answers her. Perhaps there is no answer—or at
least, no answer that can roll the stone off her heart. The two girls stare at the smoking remains of
their home.</p>
<p class="para">"Sis? Where's Mom? Where's Dad?"</p>
<p class="para">Her little sister looks up at her quizzically. They are now alone in the world. The girl smiles gently
at her sister. Like her own question, hers has no answer. Yet she feels a resolve begin to build.
<br>I will make her happy. Whatever it takes. She will never have to feel the way I do right now.
<br>She squeezes her sister's hand as she makes this silent vow.
<br>A vow that is now her entire reason for living.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/gayle">Back</a></p>