---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Gayle's Hidden Stories</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Gayle's Hidden Stories</p>
<img src="https://i.imgur.com/2CEgeUF.png">
<p class="title">Chapter 1: Pessimism Blues (No.01)</p>
<p class="para">
Glasses clink. Men guffaw.
<br>The saloon is filled with chatter and lively as always. As I attempt to finish my drink in peace, a man who's so drunk he can barely hold up his head takes notice of me.</p>
<p class="para">"Hey! Hey, she's here!
    <br>It's the one-armed woman!"</p>
<p class="para">At his words, the doors fling wide and spill forth a group of familiar men.
    <br><i>Oh joy,</i> I think.
    <br>The collectors are back.
</p>
<p class="para">"Hey there, sweet thing! We haven't got your payment this week. Maybe we'll just take one of your legs instead."</p>
<p class="para">
The lively saloon suddenly falls silent, as if someone threw a damp blanket over the rowdy denizens. "Sorry," I say. "I'll pay at the end of the week."</p>
<p class="para">The collectors scoff.
    <br>"And how's the great kingdom-hunter gonna do that, huh? You know that horror show you call a body ain't no good for manual labor."
</p>
<p class="para">
<i>The kingdom.</i> They were the ones who put my home to the torch and turned my sister into a killing machine before deciding she was a failure and cutting her down. Twenty years ago that was, and I'd spent the long years in between killing every last soldier I could find. I've been good at my job—maybe even too good, because these days I don't find anyone who claims to have been part of that army.</p>
<p class="para">You'd think I'd be happy to have done such a thorough job, but I don't feel happiness anymore. I also don't feel satisfaction, or excitement, or joy. All I feel is an emptiness so deep it threatens to consume me every time I open my eyes in the morning. The only thing that drives me now is this saloon and the mind-numbing cure that awaits inside. If I have money, I drink. If I don't, I work. If I can't find work, I use my left arm as collateral and borrow—the same left arm that cut through so many soldiers of the former kingdom.</p>
<p class="para">"Try speakin' up for once!" growls one of the collectors as he grabs me by the collar and lifts me off my feet. The sudden movement causes the drink I was raising to my mouth to reverse course and splatter all over his  arm—a development he doesn't exactly take in stride.</p>
<p class="para">"Damn fool! I'll kill you!"</p>
<p class="para">He throws me aside, grabs a short metal rod from his belt, and begins slamming it into my side. I drop to the floor  and curl into a ball  as he keeps raining blows down upon me. If I had my left arm—and my wits—I could handle this wretch with ease. But in my current state, I'm a miserably weak and powerless thing.</p>
<p class="para">"Please...I'll...pay back..."</p>
<p class="para">I'm begging now, which some dark corner of my mind finds amusing. Despite my hollow days being filled with nothing but drink and self-loathing, I'm somehow still afraid to die. Life really is a comedy.</p>
<p class="para">"That's enough."</p>
<p class="para">The words come from a man in a cloak who is standing in the doorway. The setting sun behind him makes it impossible to see his face, but his voice stirs something deep in my chest.</p>
<p class="para">"Mind your business," spits my assailant. "This ain't got nothing to do with—"</p>
<p class="para">The cloaked man is a blur.
    <br>One moment he's standing in the doorway, the next he's holding a knife against the collector's throat.
</p>
<p class="para">"I said, that's enough."</p>
<p class="para">The collector's breath catches in fear. Unwilling to push the issue further, he lowers his weapon and slinks out of the saloon with his metaphorical tail tucked.</p>
<p class="para">"You good?" asks my rescuer.
    <br>He extends his hand down to help me up, and recognition suddenly floods over me. I know this man—and this is the second time he has saved my life.
</p>
<p class="para">The first time we met was the night my sister and I became orphans. We were cold and tired and so, <i>so</i> afraid, but he extended his hand to us and asked the same simple question: "You good?" From that day on, he taught me everything I needed to survive, from preparing game for eating to wheedling things from adults.</p>
<p class="para">"Been looking for you," he says.</p>
<p class="para">
Me? He's been looking for me?
<br>Why the hell would he do that?
<br>I'm a drunk useless lump with nothing to live for but lacks the guts to die. And yet, apparently my mentor decided I meant enough to track across all the miles and all the years.</p>
<p class="para">"Why?" I manage to say.</p>
<p class="para">"Got a request. Hear me out?"</p>
<p class="para">At that moment, I realize this is my last chance. If I let it go—if I tell him no and turn back to the bottle—I won't last another week.</p>
<p class="para">"Sure," I finally reply.
<br>"Let's hear it. And...thanks."</p>
<p class="para">It's a lousy reply, but the best I can do at the moment. And as I say it, I feel a tiny little something in my soul: A spark of hope that maybe, just maybe my life is going to change for the better.</p>
<img src="https://i.imgur.com/8idsyZT.png">
<p class="title">Chapter 2: A CRIMINAL'S GLOOM (No.02)</p>
<p class="para">I reonnect with the man who saved my life once before.</p>
<p class="para">He'd heard rumors about a woman with prosthetic limbs and sought me out for an important misson: to rescue his beloved, who had been kidnapped by a pack of former kingdom soldiers. Playing mercenary is part and parcel for me these days, but hearing I missed some soldiers makes my blood boil, so I'm happy to take the job for a whole number of reasons.</p>
<p class="para">"Hang on," I say to the man as we walk. "I know this road."</p>
<p class="para">"Course you do. Bastards took up residence in our old home."</p>
<p class="para">The reality of this hits me like a cannonball. I remember these trees—how my sister and I used to run through them without a care. I haven't been here in at least 20 years; maybe that's why the soldiers decided to hole up here.</p>
<p class="para">"How's the new arm?"</p>
<p class="para">I know he's changing the subject to lighten up the mood, so I go ahead and play along.
    <br>"Better than the last time I pawned it. Broker did a good job fixing it up."
</p>
<p class="para">The man brought the arm back as payment for my taking the job.
    <br>And now that it's a part of me again, the old bloodlust that came with it has returned as well. But as I turn it this way and that, my companion suddenly looks over at a nearby thicket.
</p>
<p class="para">"Come on out," he says in a voice casual as a spring day.</p>
<p class="para">Sensing an enemy, I raise my sword above my head and grit my teeth. This time, every last whisper of the kingdom will perish. This time, all of them will fall. This time--</p>
<p class="para">"GYaHAhahAHAHahaHA!"</p>
<p class="para">What leaps out at me is another modified human soldier with prosthetic limbs-- someone just like me.</p>
<p class="para">"It'S BIg siS!
    <br>EVEryONe cOOoooOoMe!!"
</p>
<p class="para">On this signal, prosthetic soldiers swarm like insects. I feel a gorge rising in my throat as they approach. My sword wavers. But it isn't fear that does this. Oh no.
    <br>Fear would be easy.
</p>
<p class="para">All of them look exactly like my little sister.</p>
<p class="para">The creatures don't share my hesitation, and the first one who reaches me kicks my leg out from under me, sending me to the ground.</p>
<p class="para">"WheEeeEEE hEeEE HEEeE!
    <br>ThiS Is FUn! THIs feeLS GOOd!"
</p>
<p class="para">She leaps on top of me and makes to plunge her sword into my chest, but I manage to knock her aside. As she tumbles, a small picture locket snaps away from her neck and sails into the sky.</p>
<p class="para"><i>She was once a girl. A normal girl with a normal life.</i></p>
<p class="para">"Come on!" yells the man as he pulls me to my feet. "RUN!"</p>
<p class="para">We race into the forest, speeding through the trees I once loved so much. When the giggling of the soldiers finally fades, we lean against a pair of tall oaks and try to catch our breath.</p>
<p class="para">"Lost 'em," says the man as he places a comforting hand on my shoulder. At his touch, I realize my entire body is trembling. I can tell he thinks it's because they looked like my sister, but he's wrong. That's not the reason I'm trembling at all.</p>
<p class="para">I'm just happy they're still alive.</p>
<p class="para">After losing my little sister, I lived only to destroy the kingdom-- and the day I thought that mission was over, my life lost all meaning. Yet because I wasn't strong enough to choose death, my life took on a weird sort of limbo, one where I woke up, drank myself into oblivion, then repeated the process all over again.
    <br>But now? Facing the kingdom again after so very long?
    <br>I feel...excited. My anger toward the kingdom is what kept me alive all these long years, my life bound to the object of my loathing.
</p>
<p class="para">And I hate myself for it.</p>
<p class="para">"Hey," says the man. "I know you think you can only live for revenge, but don't think that. It's too sad. Hell, I'm sure the life you're looking for is out there somewhere."</p>
<p class="para">His kind voice is a gentle warmth on my scars, and my small hand fits inside his gnarled one, as if it was meant to be there. "I'll help you when this is over, all right? We'll all find a new way of life. Together."</p>
<p class="para">When was the last time I felt such warmth?</p>
<p class="para">I want to tell him now--tell him everything. Because the walls I've spent so long constructing around my heart have finally begun to fall.</p>
<img src="https://i.imgur.com/fYx3gDH.png">
<p class="title">Chapter 3: Warped Echosed (No.03)</p>
<p class="para">Having accepted my one-time benefactor's request, I accompanied him to my hometown-a place where former kingdom soldiers were said to be hiding. Though I had twinges of doubt in my heart, I ignored them so I might bring his wish to life:</p>
<p class="para"><i>I want to save my beloved, who was kidnapped by men from what remains of the kingdom.</i></p>
<p class="para">We snuck toward town, deftly avoiding the soldiers who patrolled the area. But once inside, I could hardly believe my eyes. The town was brightly decorated as if for a festival-and amidst the glitter and pomp, augmented soldiers went about their regular lives.</p>
<p class="para">"WhAT aN AusPICIouS DaY!
<br>WHat AN auSPIcioUS daY!"</p>
<p class="para">Perhaps it's fairer to say they were trying to live regular lives. Some were giving morning greetings. Some were cleaning. Some were eating. But their every movement was stiff and unnatural, like old toys in need of repair.</p>
<p class="para">"The hell is going on here?"</p>
<p class="para">I did not mean to speak the words aloud, but the sight so shocked me that they simply slipped out. The movement my breath became sound, the augmented soldiers turned as one to look at me.</p>
<p class="para">"KIlL! KIlL! I wAnT to KiLL!"</p>
<p class="para">They swarmed like insects, and I barely managed to protect my companion from the initial assault.
    <br>"We're getting out of here NOW!"
<br>I cried, shoving him back.
<br>I didn't want to lose anyone important to me ever again—I <i>couldn't</i>. But then an electric shock coursed through my whole body, sending me crashing to the ground.</p>
<p class="para">"Seize her, but do not harm her."</p>
<p class="para">Just before my world faded to black. I realized the person giving the orders was the very same man I had been trying to protect.</p>
<p class="line"></p>
<p class="para">"Ah, good. You're awake."</p>
<p class="para">The man's voice pulled me from my unnatural sleep. I tried to move but I couldn't, and quickly realized one of the soldiers was holding me in place.</p>
<p class="para">"Are my toys not adorable?
    <br>Ah, I tried to get them to act human, but it didn't work out quite as I planned."
</p>
<p class="para">His expression was bright, his voice as gentle as ever.
    <br>It only made the experience all the more uncanny.
</p>
<p class="para">"Why!?" I cried. "Why are you working with the kingdom!?"</p>
<p class="para">
"Oh, there's no need to worry about <i>that</i>," he said, placing a hand on my shoulder.
"The kingdom is gone—consigned to the dustbin of history.
All I did was borrow a bit of their technology regarding human augmentation."</p>
<p class="para">He pulled out a locket and opened it, staring spellbound at the photo inside. "Do you recall my wife?" he murmured, almost to himself.</p>
<p class="para">Memories of a more peaceful time flooded over me. Though older than me, his wife was a tiny waif of a thing who resembled a little girl more than a grown man.</p>
<p class="para">"We ran when the kingdom attacked, but our journey only led to a different kind of hell."</p>
<p class="para">He stopped his story, pulled a newspaper clipping from his pocket, and tossed it at my feet. The headline read:
    <br>ROYAL MILITARY EXPANSION CAUSES CHEMICAL POLLUTION.
</p>
<p class="para">"The rot started in her lungs before spreading to the rest of her body. It was fast—<i>so</i> fast. Like a wind.
<br>The doctors had no idea how to help her, but rather than surrendering hope, I decided to replace her failing body with that of a machine."</p>
<p class="para">"You wanted to augment your own <i>wife</i>!?"</p>
<p class="para">"Yes. And if you wish to know how it ended, you need only remember the thing that jumped you in the forest."</p>
<p class="para">At that moment, I realized the face in his locket was the same as the soldier I encountered in the woods.
    <br>Even though the kingdom itself was gone, its horrid technology lived on to birth new pain—and those who weren't compatible with augmentation inevitably lost all control of themselves.
</p>
<p class="para">"Ah, yes," he said in response to the horror that moved across my face. "I fear she's been like that ever since the operation. I needed to know if there was a way to get her back, so I kidnapped people and experimented on them to further my research."</p>
<p class="para">The soldiers I had seen in the forest? The people I'd seen in the town? All victims of his cruel work.</p>
<p class="para">"Alas, I could never get the results I wanted. But then I found <i>you</i>."</p>
<p class="para">Me-someone who survived the operation. Even though I was deemed a failure, I still retained a sense of self.</p>
<p class="para">"I wanted you to see the pain of those who do not have the sweet release of death. With you helping me, I can <i>end</i> that! MY research will grow by leaps and bounds!" A flame lit in his eyes by then, one stoked by madness. "You endured the augmentation, so give me your mind! Give me your body! Do so for the sake of my wife, as well as for all who suffer in agony and pain!"
</p>
<p class="para">He had come down a road from which he could not turn back, all for the sake of one he loved. It was a truth I knew painfully well.</p>
<p class="para">Which is why I could not permit him to continue.</p>
<p class="para">I shook off the soldier holding me and readied myself for battle. This nightmare would end today.</p>
<img src="https://i.imgur.com/VeIlnV6.png">
<p class="title">Chapter 4: Final Brillaince (No.04)</p>
<p class="para">The man who once saved me had modified human bodies at the cost of countless lives. </p>
<p class="para">"AAaaAAHh Ha HA hA ha HA! LEt'S dANce, sIs!" </p>
<p class="para">I didn't want to hurt the augmented soldiers more than he already had, so instead I damaged their machine parts, rendering them inoperable. </p>
<p class="para">"Animal! You would destroy the fruits of my research!?" </p>
<p class="para">Realizing the tide had turned, he tried to slip away through crowds of augmented soldiers.
    <br>But I saw right through his ruse and chased him down.
</p>
<p class="para">"The kingdom's technology dies with you." I said as I stood over him, sword at the ready.</p>
<p class="para">"No, wait! This is good for you, I swear! I'm going to help you find a new way of life, just as I promised!"</p>
<p class="para">I could tell he was trying to curry favor, but instead of rage, the attempt created only a kind of emptiness inside me. </p>
<p class="para">"You think having me aid your experiments is a new life?"</p>
<p class="para">"Yes! You can <i>help</i> people!
<br>You can finally be a savior, not a murderer!"</p>
<p class="para">Oh, but he knew how to spin a pretty tale. Yet I was viscerally aware of how his technology brought about only misfortune and misery.</p>
<p class="para">"I bet she would be happy if you helped!" he continued frantically. "Your sister―"</p>
<p class="para">He spoke my sister's name.</p>
<p class="para">"You..."</p>
<p class="para">The tip of my blade shuddered.</p>
<p class="para">I saw a distant past, then.
    <br>Beheld forgotten memories—memories of the only time in my life that could hope to soothe me. And he destroyed them. He used my sister's name for his own ends.
</p>
<p class="para">"All I want is to perfect the technology!"</p>
<p class="para">As my memory fell apart, I destroyed him.</p>
<p class="para">"That's a shame."</p>
<p class="para">There was a flash as my blade struck flesh. Silence descended over the area. It was over quickly—far too quickly.</p>
<p class="para"><i>Enough is enough.</i></p>
<p class="para">I had my revenge, and lost my life's meaning in the process.
    <br>I know now that my days would run into each other one after the next, turning into a meaningless, insubstantial blur I could never escape.
</p>
<p class="para">"Time to join her." </p>
<p class="para">The ending of my own life would snuff out any lingering existence of the kingdom.
    <br>I brought the blade to my chest, felt the pressure.
    <br>But the moment I began to push, a soft thud from somewhere beyond the trees brought me to a halt.
    <br>If there were augmented soldiers left, I had a duty to dispatch them quickly and painlessly. But as I approached the sound...

</p>
<p class="para">"Who are you?" asked a little girl who could be no more than 10. "What are you doing here?" </p>
<p class="para">"Me? I, uh... What are <i>you</i> doing here?"</p>
<p class="para">"I live here with Papa and—<i>cough, cough!</i>" The hand to her mouth turned pale red.
<br>"Sorry. I can't stop coughing.
<br>Mama was like that too."</p>
<p class="para">"What happened to your mom?"
    <br>I asked.
</p>
<p class="para">Her eyes clouded. "Mama...stopped being Mama. But Papa's trying to fix her."</p>
<p class="para">"Is he now?"</p>
<p class="para">"Yes! And once Mama's fixed, he's gonna fix me, too!" </p>
<p class="para">The man had expressed his wish to save his beloved. That, at least, had not been a lie.</p>
<p class="para">"But Papa's been so busy with research that he...forgot me."</p>
<p class="para">It all started with a wish to save his wife, all well as his daughter. It started with a desire to keep his family safe.</p>
<p class="para">What did he say in the end?</p>
<p class="para"><i>I want to perfect the technology.</i></p>
<p class="para">The poor fool was so caught up in the journey that he forgot the destination.</p>
<p class="para">"Have you seen my papa?" </p>
<p class="para">There was only one thing to do. I can't say it was the correct thing, or that I even had the right to do it in the first place. But...</p>
<p class="para">"Your papa went on a journey.
    <br>He's trying to find a way to save you. You can stay with me until he comes back."
</p>
<p class="para"><i>I must be at her side.</i></p>
<p class="para">"Aw! I wanted to wave bye." </p>
<p class="para">The girl took my hand with her own. It was soft and warm as the sun.</p>
<p class="para">"He didn't want to see you sad," I whispered.</p>
<p class="para">"Papa's so nice," she said with a smile. As she did, I felt the evening breeze slowly push aside whatever remained of my hesitation.</p>
<img src="https://i.imgur.com/F0H462D.png">
<p class="title">Chapter 5: Half a Human's Life (No.05)</p>
<p class="para">"All right, let's leave our review there for today."</p>
<p class="para">"Okay."</p>
<p class="para">"Sure."</p>
<p class="para">"Good idea."</p>
<p class="para">"When's the next one?"</p>
<p class="para">"Not a problem." </p>
<p class="para">"Um, if I may?" </p>
<p class="para">"Yes? What is it?" </p>
<p class="para">"So I understand she gave her life for revenge, but that wasn't all it was about."</p>
<p class="para">"Go on. Please. I'd love to hear your thoughts." </p>
<p class="para">"Well, a lot of people passed through her life." </p>
<p class="para">"That's true. Her record is much longer than most, making analysis difficult." </p>
<p class="para">"And of course, she made mistakes along the way.
    <br>But she slowly grew  because of it."
</p>
<p class="para">"Precisely. But let's leave our judgments until we watch to the end of the record."</p>
<p class="para">"But we're the only ones who can watch over her journey."</p>
<p class="para">"Thank you for pointing this out. We need to take this seriously or ■■■■■■</p>
<p class="para">--ERROR: INSUFFICIENT MEMORY--</p>
<img src="https://i.imgur.com/0GSvovQ.png">
<p class="title">Chapter 6: BIG SISTER OBSERVATION DIARY (No.06)</p>
<p class="para">Today is my birthday and it's sunny! My big sister made me sooo much food!</p>
<p class="para">It's been a long time since we had so many vegetables and so much meat! The meat was kind of hard but it tasted great!
    <br>My sister is great!
</p>
<p class="para">She said Mom taught her a lot about how to cook food! I want Mom to teach me too so I am going to be on my best behavior all the time!</p>
<p class="para">So I helped clean up too!
    <br>My sister made a big mess while cooking, so the whole house was a mess! It was funny.
</p>
<p class="para">By the way the neighborhood dog went missing so we are all going to go looking for him.</p>
<p class="para">Maybe he just wants to play hide and seek?</p>
<img src="https://i.imgur.com/MBIPbua.png">
<p class="title">Chapter 7: FATHER'S TEACHINGS (No.07)</p>
<p class="para">After the repeated cries of exertion, the finishing blow arrives. The animal—which had been rushing at the speed of an arrow not moments earlier—crumples to the earth below the man. When that happens, a small girl less than half his size peeks out from behind a tree, her eyes glittering in wonder.</p>
<p class="para">"Footprints in the mud. Broken branches. The forest leaves many clues for us to find."</p>
<p class="para">The man does not know how to be a father: all he can teach her is hunting and survival. Though he knows logically that teaching a woman such skills will only make her life difficult in this day and age, it remains all he can do for her. But his daughter is blissfully unaware of his worries; she is only delighted to watch his gallantry.</p>
<p class="para">Soon, the man will be drafted and sent to war. He must return alive, lest his family starve. This fear kicks the cogs of his mind into gear, and he shakes his head to clear his musings.</p>
<p class="para">"While I am away, you must look after your mother and the new baby. Understand?"</p>
<p class="para">His words are casual, the meaning behind them lost on the little girl. But in her eyes, she clearly realizes this is what a family protector should look like.</p>
<p class="para">"I will come back to you," he says as he enfolds the girl in his massive arms.
    <br>"I will return. I promise."
</p>
<img src="https://i.imgur.com/DrzVuwS.png">
<p class="title">Chapter 8: MENTOR'S PRESENCE (No.08)</p>
<p class="para">"What do you think?"</p>
<p class="para">"Tasty." </p>
<p class="para">"This is what meat tastes like when the animal doesn't suffer and you dress it correctly." </p>
<p class="para">"I'm sorry." </p>
<p class="para">"Why did you kill that dog and steal those vegetables?" </p>
<p class="para">"The house burned up.
    <br>We had nothing left to eat."
</p>
<p class="para">"But you still know there are things you shouldn't do, right?"</p>
<p class="para">"I know. But I don't want to worry my sister any more."</p>
<p class="para">"She'll be okay.
    <br>You're doing a fine job."
</p>
<p class="para">"...She knows I cry when she's not looking."</p>
<p class="para">"And yet she doesn't seem upset about it. In fact, she's been having a great time writing in her diary."</p>
<p class="para">"She does that to make me feel better. She knows I'm hiding something." </p>
<p class="para">"Perhaps it's her way of showing you kindness." </p>
<p class="para">"I don't want to lie to anyone anymore. Not to myself—and definitely not to her." </p>
<p class="para">"That's why I'll teach you all you need to survive."</p>
<p class="para">"Thank you. I really want to hunt by myself next time." </p>
<p class="para">"You'll be doing that soon.
    <br>Hell, you're already good at stalking prey! Where'd you learn to do that, anyway?"
</p>
<p class="para">"...My dad."</p>
<img src="https://i.imgur.com/evQZHIj.png">
<p class="title">Chapter 9: A Sister's Resolve (No.09)</p>
<p class="para">Today's my sister's birthday! But it's raining. Boo.</p>
<p class="para">My sister is so nice! She lets me do almost anything I want!
    <br>She lets me study, cook, AND play. I love that about her.
</p>
<p class="para">But no matter how much I ask, she never lets me hunt.
<br>She says it's too dangerous. But things are hard with just the two of us, and I feel bad relying on her for stuff.
<br>I wish she'd teach me to hunt. Oh, and I also wish I knew how to ask her about it better.</p>
<p class="para">(Plus, if I was super good at hunting, she might even give me her hairpin! Hee!)</p>
<p class="para">So I'll say it to myself again: Happy birthday, Sis.</p>
<p class="para">—I'm sorry. I'll take you hunting next time.</p>
<img src="https://i.imgur.com/6CO2x8m.png">
<p class="title">Chapter 10: The Girl's Mother (No.10)</p>
<p class="para">The mother drew the bow taut and let it loose.
<br>The prey drinking water not far from them fell silently
<br>to the ground a moment later. </p>
<p class="para">"That was amazing!"</p>
<p class="para">The excited girl couldn't help but run to her mother,
<br>whose valiant form she had been closely studying.
<br>Her mother turned to look at her rounded eyes and said,
<br>"Next time, you will loose the string."</p>
<p class="para">
When she and her mother first met, the girl had lung
<br>trouble, but she was well enough now to begin hunting.
<br>Her medical procedures had their foundation in experiments
<br>the kingdom once carried out. "Such is life," thought the mother.</p>
<p class="para">She placed the bow in the girl's hands, supported her small
<br>frame, and leaned in to whisper, "A long time ago, reminding
<br>those I reviled that I'd never forgive them was the only thing
<br>keeping me going."
</p>
<p class="para">The girl turned to look into her mother's eyes, sensing pain
in her voice.</p>
<p class="para">"But I realized my error, and now I'm glad to live for
happiness—for your sake and hers."</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/gayle">Back</a></p>