---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>DODHIST DOD1</title>
<h1><a href="https://www.youtube.com/watch?v=lUnsjK6tr9I&feature=youtu.be">
    Promotional 01<img class="art" src="https://i.imgur.com/h0zwems.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://youtu.be/lnd7Dp3VAJE">
    Promotional 02<img class="art" src="https://i.imgur.com/1efeKed.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://youtu.be/XRPpEhkiIG0">
    Promotional 03<img class="art" src="https://i.imgur.com/eYkpmnF.png"></a></h1>
    <p class="line"></p>
<p class="menu"><a href="/stories/dhist">Back</a></p>