---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>DODHIST DOD2</title>
<h1><a href="https://drive.google.com/file/d/1ssCb5Z9EMgm1o1_lZWGkOW119vYkWFYr/view?usp=sharing">
    Promotional 01<img class="art" src="https://i.imgur.com/9yS8PE3.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1FLODR5OT-loCwnl47P-KsaRgP5m33-wb/view?usp=sharing">
    Promotional 02<img class="art" src="https://i.imgur.com/v6Hd7Tz.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1kxIwmn47u8bRshQFtvUPDJAC9fGNT__Q/view?usp=sharing">
    Promotional 03<img class="art" src="https://i.imgur.com/ZmHJUaY.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1ALKs8aTWfUT4mIceGb_M5cYFm4lMTpZg/view?usp=sharing">
    Promotional 04<img class="art" src="https://i.imgur.com/DubqTjw.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1782EKz5sXN5XtaQWJ-kS3P_CD3wvqaCk/view?usp=sharing">
    Game Intro<img class="art" src="https://i.imgur.com/zdfaob7.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/18QObDe92fJ5h0z00FjY9HBkY_pPSJRGd/view?usp=sharing">
    Opening Movie<img class="art" src="https://i.imgur.com/kikjjpT.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1YR3xpzZA6DnsPc5E8bxjTYYzYUaeAKRE/view?usp=sharing">
    Secret Movie<img class="art" src="https://i.imgur.com/WLPWJau.png"></a></h1>
    <p class="line"></p>
<p class="menu"><a href="/stories/dhist">Back</a></p>