@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0.3cm;
  }
  img.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1cm;
  }
  img.slogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1cm;
  }
  img.slogo:hover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: brightness(70%);
    transform: scale(0.98);
  }
  img.art:hover{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom:0.3cm;
      -webkit-filter: brightness(70%);
      transform: scale(0.98);
      
  }
  @media  (prefers-color-scheme: dark){ img.words {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0.3cm;
    content:url("https://i.imgur.com/lNOnTWA.png");
  }
}
  @media  (prefers-color-scheme: light){ img.words {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0.3cm;
    content:url("https://i.imgur.com/XbkAKW6.png");
  }
}
  p {
    font-size: 260%;
    text-align: center;
    margin-bottom: 0.6cm;
    letter-spacing: 3px;

  }
  p.credits:hover{ 
    font-size: 180%;
    text-align: center;
    margin-bottom: 0.6cm;
    letter-spacing: 3px;
    -webkit-filter: brightness(70%);
    transform: scale(0.98);
  }
  p.menu:hover{

    font-size: 260%;
    text-align: center;
    margin-bottom: 0.6cm;
    letter-spacing: 3px;
    -webkit-filter: brightness(70%);
    transform: scale(0.98);
  }
  p.line{
    width: 55%;
    margin: auto;
    margin-bottom: 0.4cm;
    margin-top: 0.4cm;
    letter-spacing: 3px;
    border-bottom: double solid;
    border-bottom-width: medium;
    border-bottom-length: 2px;
    border-radius: 7px;
  }
  @media  (prefers-color-scheme: light){
    p.line{
      width: 55%;
      margin: auto;
      margin-bottom: 0.4cm;
      margin-top: 0.4cm;
      letter-spacing: 3px;
      border-bottom: double solid;
      border-bottom-width: medium;
      border-bottom-length: 2px;
      border-radius: 7px;
      border-bottom-color: hsl(0, 6%, 10%);
    }
  }
  h1{
    text-align: center;
    font-size: 150%;
    letter-spacing: 2px;
    margin-bottom:1cm;
    font-weight: 750;
  }
  h2{
    text-align: center;
    font-size: 200%;
    letter-spacing: 6px;
    margin-bottom:1cm;
    font-weight: 800;
  }
  h3{
    text-align: center;
    font-size: 100%;
    letter-spacing: 1px;
    margin-bottom: 0.4cm;
  }
  p.para{
    @media screen and (orientation: landscape)
{
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-right: 25%;
    margin-left: 25%;
    text-align:left;
    font-size: 110%;
    margin-top: 0.4cm;
}

}
p.para{
    @media screen and (orientation: portrait)
{
    margin-right: 8%;
    margin-left: 8%;
    text-align:left;
    font-size: 130%;
    margin-top: 0.2cm;

}
}
p.title{
  @media screen and (orientation: landscape)
{
  margin-top: 0.4cm;
  font-size: 140%;
  font-family: "'Open Sans Variable','Montserrat Variable','Noto Sans Variable', sans-serif";
  margin-bottom: 0.2cm;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 525;
  leter-spacing: 0.2rem;
}
}
p.title{
  @media screen and (orientation: portrait)
{
  margin-top: 0.4cm;
  font-size: 130%;
  font-family: "'Open Sans Variable','Montserrat Variable','Noto Sans Variable', sans-serif";
  margin-bottom: 0.2cm;
  margin-left: 7%;
  margin-right: 7%;
  font-weight: 525;

}
}
p.disc{
  margin-top: 0.4cm;
  font-size: 100%;
  margin-bottom: 0.2cm;
  margin-left: 7%;
  margin-right: 7%;
  font-weight: 480;
  text-align: center;
  position: fixed;
  bottom: 0;

}
  body {
    background-color: light-dark(
      rgb(var(--light-mode-background)),
      rgb(var(--dark-mode-background))
    );
 
}
@media  (prefers-color-scheme: dark){
#sidenav {
  width: 12%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding: 25px;
  border-right: 4px solid #cccccc;
  border-bottom: 4px solid #cccccc;
  background-color: #383838;
  background-size: 0.6rem 0.6rem;
  background-image: -webkit-linear-gradient(left, rgba(48,48,48,255) 1px, rgba(51, 51, 51, 0) 1px), -webkit-linear-gradient(top, rgba(48,48,48,255) 1px, rgba(51, 51, 51, 0) 1px);
  background-image: -moz-linear-gradient(left, rgba(48,48,48,255), rgba(51, 51, 51, 0) 1px), -moz-linear-gradient(top, rgba(48,48,48,255) 1px, rgba(51, 51, 51, 0) 1px);
  background-image: -o-linear-gradient(left, rgba(48,48,48,255), rgba(51, 51, 51, 0) 1px), -o-linear-gradient(top, rgba(48,48,48,255) 1px, rgba(51, 51, 51, 0) 1px);
  background-image: -ms-linear-gradient(left, rgba(48,48,48,255), rgba(51, 51, 51, 0) 1px), -ms-linear-gradient(top, rgba(48,48,48,255) 1px, rgba(51, 51, 51, 0) 1px);
  background-image: linear-gradient(to right, rgba(48,48,48,255), rgba(51, 51, 51, 0) 1px), linear-gradient(to bottom, rgba(48,48,48,255) 1px, rgba(51, 51, 51, 0) 1px);
  }
}
@media  (prefers-color-scheme: light){
  #sidenav {
    width: 12%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 25px;
    border-right: 4px solid hsl(0, 6%, 10%);
    border-bottom: 4px solid hsl(0, 6%, 10%);
    background-color: rgb(216, 216, 216);
    background-size: 0.6rem 0.6rem;
    background-image: -webkit-linear-gradient(left, rgba(202, 202, 202,255) 1px, rgba(104, 104, 104,0) 1px), -webkit-linear-gradient(top, rgba(202, 202, 202,255) 1px, rgba(104, 104, 104,0) 1px);
    background-image: -moz-linear-gradient(left, rgba(202, 202, 202,255), rgba(104, 104, 104,0) 1px), -moz-linear-gradient(top, rgba(202, 202, 202,255) 1px, rgba(104, 104, 104,0) 1px);
    background-image: -o-linear-gradient(left, rgba(202, 202, 202,255), rgba(104, 104, 104,0) 1px), -o-linear-gradient(top, rgba(202, 202, 202,255) 1px, rgba(104, 104, 104,0) 1px);
    background-image: -ms-linear-gradient(left, rgba(202, 202, 202,255), rgba(104, 104, 104,0) 1px), -ms-linear-gradient(top, rgba(202, 202, 202,255) 1px, rgba(104, 104, 104,0) 1px);
    background-image: linear-gradient(to right, rgba(202, 202, 202,255), rgba(104, 104, 104,0) 1px), linear-gradient(to bottom, rgba(202, 202, 202,255) 1px, rgba(104, 104, 104,0) 1px);
    }
  }

}
