@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0.3cm;
  }
  img.art:hover{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom:0.3cm;
      -webkit-filter: brightness(70%);
      transform: scale(0.98);
  }
  p {
    font-size: 42px;
    text-align: center;
    margin-bottom: 0.6cm;
    letter-spacing: 3px;
  }
  p.menu:hover{
    font-size: 42px;
    text-align: center;
    margin-bottom: 0.6cm;
    letter-spacing: 3px;
    -webkit-filter: brightness(70%);
    transform: scale(0.98);
  }
  p.bnh:hover{
    font-size: 42px;
    margin-bottom: 0.6cm;
    letter-spacing: 3px;
    -webkit-filter: brightness(70%);
    transform: scale(0.98);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  h1{
    text-align: center;
    font-size: 150%;
    letter-spacing: 2px;
    margin-bottom:1cm;
    font-weight: 750;
  }
  h2{
    text-align: center;
    font-size: 200%;
    letter-spacing: 3px;
    margin-bottom:1cm;
    font-weight: 800;
  }
  h3{
    text-align: center;
    font-size: 100%;
    letter-spacing: 1px;
    margin-bottom: 0.4cm;
  }
  body {
    background-color: light-dark(
      rgb(var(--light-mode-background)),
      rgb(var(--dark-mode-background))
    );
  }
}