@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0.3cm;
    margin-top: 1.5%;
  }


  .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1cm;
  }
  .slogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1cm;
  }
  .slogo:hover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: brightness(70%);
    transform: scale(0.98);
  }
  .art:hover{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom:0.3cm;
      -webkit-filter: brightness(70%);
      transform: scale(0.98);
  }
  .art{
      object-fit: cover;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom:0.3cm;
      animation-name: art;
      animation-duration: 1.2s;
  }
       @keyframes art {
    from {opacity: 0};
    to {opacity: 1};

  }
   .bg{
    animation-name: bg;
    animation-duration: 1.5s;
   }
     @keyframes bg {
    from {opacity: 0};
    to {opacity: 1};

  }
  @media  (prefers-color-scheme: dark){
    .words {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0.3cm;
    content:url("https://i.imgur.com/lNOnTWA.png");
  }
}
  @media  (prefers-color-scheme: light){
    .words {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:0.3cm;
    content:url("https://i.imgur.com/XbkAKW6.png");
  }
    .light-link{

  }
}
@media screen and (orientation: landscape){
   #title3{
    display:none;
  }
}

#title1{
  height:auto;
  text-size-adjust: auto;
  font-size: 130%;
}
#title2{
  height:auto;
  text-size-adjust: auto;
  font-size: 130%;
}
#title3{
  height:auto;
  text-size-adjust: auto;
  font-size: 130%;
}
}
  p {
    text-align: center;
    letter-spacing: 4px;

  }
  .credits:hover{
    font-size: 180%;
    text-align: center;
    margin-bottom: 0.6cm;
    letter-spacing: 3px;
    -webkit-filter: brightness(70%);
    transform: scale(0.98);
  }
    .menutest{
  position: relative;
  align-items: center;
  margin-bottom: 5%;
  margin-top: 5%;
    }
    .menu{

    font-size: 260%;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 1%;
    margin-top: 1%;
    position: relative;
    align-items: center;
    display: block;
  }
  .menu:hover{

    font-size: 260%;
    text-align: center;
    letter-spacing: 3px;

}
    #menumaybe{

    font-size: 260%;

    text-align: center;
    margin-bottom: 0.6cm;
    letter-spacing: 3px;
    -webkit-filter: brightness(70%);
    transform: scale(0.98);
  }
  .line{
    width: 15%;
    margin: auto;
    margin-bottom: 0.4cm;
    margin-top: 0.4cm;
    letter-spacing: 3px;
    border-bottom: double solid;
    border-bottom-width: medium;
    border-bottom-length: 2px;
    border-radius: 7px;
  }
  @media screen and (orientation: portrait) {
  .line{
    width: 55%;
    margin: auto;
    margin-bottom: 0.4cm;
    margin-top: 0.4cm;
    letter-spacing: 3px;
    border-bottom: double solid;
    border-bottom-width: medium;
    border-bottom-length: 2px;
    border-radius: 7px;
  }

  div{
    margin-bottom: -5%;
  }
  #title2{
    display:none;
  }
  }
  @media screen and (prefers-color-scheme: light){
    .line{
      width: 15%;
      margin: auto;
      margin-bottom: 0.4cm;
      margin-top: 0.4cm;
      letter-spacing: 3px;
      border-bottom: double solid;
      border-bottom-width: medium;
      border-bottom-length: 2px;
      border-radius: 7px;
      border-bottom-color: hsl(0, 6%, 10%);
    }
  }
    @media screen and (prefers-color-scheme: light) and (orientation: portrait){
    p.line{
      width: 55%;
      margin: auto;
      margin-bottom: 0.4cm;
      margin-top: 0.4cm;
      letter-spacing: 3px;
      border-bottom: double solid;
      border-bottom-width: medium;
      border-bottom-length: 2px;
      border-radius: 7px;
      border-bottom-color: hsl(0, 6%, 10%);
    }
  }
  h1{
    text-align: center;
    font-size: 250%;
    letter-spacing: 2px;
    margin-bottom:1cm;
    font-weight: 750;
  }
  h2{
    text-align: center;
    font-size: 200%;
    letter-spacing: 6px;
    margin-bottom:1cm;
    font-weight: 800;
  }
  h3{
    text-align: center;
    font-size: 100%;
    letter-spacing: 1px;
    margin-bottom: 0.4cm;
  }

    @media screen and (orientation: landscape)
{
  .para{
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-right: 25%;
    margin-left: 25%;
    text-align:left;
    font-size: 110%;
    margin-top: 0.6cm;
}
}


    @media screen and (orientation: portrait)
{
  .para{
    margin-right: 8%;
    margin-left: 8%;
    text-align:left;
    font-size: 130%;
    margin-top: 0.2cm;
    letter-spacing: 1.5px;

}
}
p.title{
  @media screen and (orientation: landscape)
{
  margin-top: 0.6cm;
  font-size: 140%;
  font-family: "'Open Sans Variable','Montserrat Variable','Noto Sans Variable', sans-serif";
  margin-bottom: 0.1cm;
  margin-left: 8%;
  margin-right: 8%;
  font-weight: 525;
  letter-spacing: 0.17rem;
}
}
p.title{
  @media screen and (orientation: portrait)
{
  margin-top: 1cm;
  font-size: 130%;
  font-family: "'Open Sans Variable','Montserrat Variable','Noto Sans Variable', sans-serif";
  margin-left: 7%;
  margin-right: 7%;
  font-weight: 525;
  margin-bottom: 0.1cm;
}
}
p.disc{
  margin-top: 0.4cm;
  font-size: 100%;
  margin-bottom: 0.2cm;
  margin-left: 7%;
  margin-right: 7%;
  font-weight: 480;
  text-align: center;
  position: fixed;
  bottom: 0;

}
  body {
    background-color: light-dark(
      rgb(var(--light-mode-background)),
      rgb(var(--dark-mode-background))
    );


}


    form{
    @media screen and (orientation: portrait){
        margin-top: 2.5%;
        margin-bottom: 3%;
    }
        text-align: center;
    @media screen and (orientation: landscape) {
        margin-top: 1.5%;
        margin-bottom: 3.5%;
    }
    }
    textarea{
    @media screen and (orientation: portrait){
        width: 300px;
        height: 125px;
        margin-top: 2.5%;
        margin-bottom: 3%;
    }
    @media screen and (orientation: landscape) {
        width: 300px;
        height: 125px;
    }
    }
    input{
    @media screen and (orientation: portrait){
        width:70%;
        margin-top:2%;
        margin-bottom:2%;
    }
    @media screen and (orientation: landscape) {

    }
    }
    u{
    color:rgb(190, 247, 255);
    }
    button:hover{
    @media screen and (orientation: portrait){
        font-family: "'Open Sans Variable','Montserrat Variable','Noto Sans Variable', sans-serif";
        font-size: 200%;
        text-align: center;
        margin-bottom: 0.6cm;
        letter-spacing: 3px;
        -webkit-filter: brightness(70%);
        transform: scale(0.98);
    }
    @media screen and (orientation: landscape) {
        font-family: "'Open Sans Variable','Montserrat Variable','Noto Sans Variable', sans-serif";
        font-size: 200%;
        text-align: center;
        margin-bottom: 0.6cm;
        letter-spacing: 3px;
        -webkit-filter: brightness(70%);
        transform: scale(0.98);
    }
    }
    button{
    @media screen and (orientation: portrait){
        font-family: "'Open Sans Variable','Montserrat Variable','Noto Sans Variable', sans-serif";
        font-size: 200%;
        text-align: center;
        margin-bottom: 0.6cm;
        letter-spacing: 3px;
        }
    @media screen and (orientation: landscape) {
        font-family: "'Open Sans Variable','Montserrat Variable','Noto Sans Variable', sans-serif";
        font-size: 200%;
        text-align: center;
        margin-bottom: 0.6cm;
        letter-spacing: 3px;
    }
    }
    label{
        margin-top: 0.4cm;
        font-size: 140%;
        font-family: "'Open Sans Variable','Montserrat Variable','Noto Sans Variable', sans-serif";
        margin-bottom: 0.2cm;
        margin-left: 8%;
        margin-right: 8%;
        font-weight: 525;
        letter-spacing: 0.2rem;
    }
p a
{
  display: inline-block;
  padding: 0%;
}

p a:hover
{
  color: white;
  width:auto;
  display: inline-block;
  padding: 0%;
  -webkit-filter: brightness(70%);
  transform: scale(0.98);
}

@media screen and (prefers-color-scheme: dark) {
  .menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: rgba(31, 31, 31, 0.5);
  color: #efe7e7;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}
}
@media screen and (prefers-color-scheme: light) {
  .menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: rgba(177, 177, 177, 0.5);
  color: #efe7e7;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
}
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

.menu-logo img {
  max-height: 50px;
  max-width: 50px;
}
@media screen and (prefers-color-scheme: dark){
  .menu-container a {
  text-decoration: none;
  color: #3d3a3a;
  transition: color 0.3s ease;
}
}
@media screen and (prefers-color-scheme: light){
  .menu-container a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: color 0.3s ease;
}
}
@media screen and (prefers-color-scheme: dark){
.menu-container a:hover {
  color: #a3a8a7;
}
}

@media screen and (prefers-color-scheme: light){
  .menu-container a:hover {
  color: #292929;
}
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #efe7e7;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
@media screen and (prefers-color-scheme: light) {
  .menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
}
.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px,-1px);
  background: #3d3a3a;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px,11px);
}

.menubar ul {
  list-style: none;
}

.menubar li {
  padding: 10px 0;
  font-size: 28px;
}

/* mobile styles */
@media only screen and (max-width: 767px) {
  .menu-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-logo {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-40%);
  }

  .menu-logo img {
    max-height: 30px;
  }

  .menubar {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    left: -300px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 50px;
    background: #949494;
    border-radius: 10px;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menu-container input:checked ~ .menubar {
    transform: translateX(100%);
  }
}

/* desktop styles */
@media only screen and (min-width: 768px) {
  .menu-container {
    width: 100%;
  }

  .menu-container a {
    color: #efe7e7;
  }
  @media screen and (prefers-color-scheme: light) {
  .menu-container a {
    color: #000000;
  }
  }

  .menu-container input {
    display: none;
  }

  /* Burger menu */
  .menu-container span {
    display: none;
  }

  .menubar {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .menubar ul {
    display: flex;
    padding: 0;
  }

  .menubar li {
    padding: 0 20px;
  }
  .over{
  margin: 0px auto;
  max-width: fit-content;
  position: relative;
}
.Guide > div {
  padding: 10px;
  text-align: center;
  margin-left: 5%;

}


@media screen and (min-width: 320px ) {
  .Guide {
  display: inline-grid;
    grid-template-columns: auto;
}

}
@media screen and (min-width: 481px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto;
}
}
@media screen and (min-width: 769px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto;
}
}
@media screen and (min-width: 1025px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto ;
}
}
@media screen and (min-width: 1201px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto  ;
}
}
@media screen and (min-width: 1919px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto  auto;
}
}
@media screen and (min-width: 1921px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto  auto auto;
}
}
summary{
  margin: 0 auto;
     display:inline;
}
}
