---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>A Cold and Hollow Silence</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">A Cold and Hollow Silence</p>
<p class="title"><a href="https://www.youtube.com/watch?v=XJOq4VI61Tg"><u>Video</u></a></p>
<img src="https://i.imgur.com/MKLelod.png">
<p class="title">Chapter 1</p>
<p class="para">The boy lives in a nation beset by a long, drawn-out war. Not a day goes by
without the sound of gunfire, and his fellow countrymen live in fear. This makes
the boy too afraid to sleep, so every night his parents attempt to cheer him up.</p>
<p class="para">
This night begins like any other until there is a sound at the door,
at which point the boy's parents turn pale. They hide the boy in the closet while
they go to investigate, and in the dark he hears the sounds of an altercation,
his parents' screams, and the footsteps of people rushing throughout the house.</p>
<p class="para">Once the footsteps fade, the boy crawls out from the closet. When he finds
his parents' corpses skewered by a single sword, he breaks down in tears,
cursing his own cowardice and powerlessness.</p>
<p class="title">Chapter 2</p>
<p class="para">Years pass. The boy becomes a soldier. He does so for one reason: to find
the man who ruined his life and kill him. His only clue is the emblem engraved
on the sword he found in his parents' corpses.</p>
<p class="para">With his old, cowardly self abandoned, the boy throws himself into battle.
<br>But trouble follows wherever he goes; he is unsociable, grumpy, and hard to get
along with. The boy's captain makes sure that trouble never escalates, but the
boy never thanks him for it—indeed, when he looks at the weak and nervous
captain he becomes enraged, for it is like looking directly at his past self.
<br>The boy decided long ago to ignore the captain's orders and advice, instead
using him only to find out what his next mission will be.</p>
<p class="title">Chapter 3</p>
<p class="para">One day, the boy is given briefing material on an upcoming operation, and the
emblem on the page causes his blood to boil. His sworn enemy is close now—so
very close—but the boy's name is not on the list of soldiers who will be going
on the mission. When the captain refuses to include him no matter how much he
asks, the enraged boy draws his weapon and threatens him. But though his
captain quakes in fear, he does not rescind his previous order.
<br>The boy then hurls abuse at his superior as he storms out of the room.
</p>
<p class="para">That night, while everyone is sleeping, the boy quietly heads off to the enemy
camp alone. He does so not to achieve valor or win a war, but because exacting
revenge on his enemy is his sole reason for living.</p>
<img src="https://i.imgur.com/E1ZAUoR.png">
<p class="title">Chapter 4</p>
<p class="para">The boy infiltrates the enemy camp just before daybreak, but cannot find the man
he seeks. And though lights soon begin to come on in the nearby tents, the boy
will not back down. Finally, a group of enemies approach and he sees the man he
has been pursuing all these years among them. With a cry, the boys leaps into
battle and cuts them all down, permitting the curtain to finally fall on
his revenge.</p>
<p class="para">Though his sworn enemy lies dying, he manages to reveal the truth about the
boy's life: He was not an innocent child, but instead the victim of an infant
kidnapping scheme carried out by the home country of his supposed parents.
<br>His true parent—his father—is the man who now lies cold and still before him.
<br>The boy's entire life has been a lie.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/main-story/read-through">Back</a></p>
