---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Determined Hearts</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Determined Hearts</p>
<p class="title"><a href="https://www.youtube.com/watch?v=6wP2fmc1WRs"><u>Video</u></a></p>
<img src="https://i.imgur.com/L0oezCH.png">
<p class="title">Chapter 1</p>
<p class="para">Deep beneath a castle, a mechanical soldier sits amidst the detritus of a
storehouse. One day, a boy is brought to the room by soldiers and tossed to the
floor. As he stares at the boy, the man begins collecting junk to make
a bed; when he is finished, the two sit upon it and tell each other their tales.</p>
<p class="para">The name the man gives is that of the first model of machine soldiers. He explains
how he was unable to carry out orders and therefore discarded as defective.
<br>The name the boy gives is that of the kingdom's firstborn prince. After explaining
how he has been cast aside because of his disease, the boy gives a wry smile at
the similar circumstances they find themselves in.
Story 2 image</p>
<p class="title">Chapter 2</p>
<p class="para">The boy's condition worsens within the poor conditions of the storehouse, so the
man searches around and finds a medicine bottle. But the bottle is empty, which
causes the boy to chuckle. The man's concern gives him newfound energy,
however, so he places a candle in the bottle and turns it into a small lamp.</p>
<p class="para">In the soft glow of the lamp, the boy sings the tale of a hero who challenges
evil in order to save his people. As he listens to the beautiful melody, the man
feels something change in his chest, and words of gratitude begin to spill from
his lips—words clockwork men like him should not be able to say. Upon hearing
this, a joyful smile spreads across the face of the boy.</p>
<p class="title">Chapter 3</p>
<p class="para">They hear soldiers gossiping on the other side of the door; the start of another
war is upon them. The boy looks at the man and begins passionately speaking of
his resolve to stop the war for the sake of his people. After a moment's thought,
the man breaks down the door of the prison, beats back the guards,
and accompanies the boy to the throne room.</p>
<p class="para">Standing before the king like the bold hero of his song, the boy demands that
the war be ended. But the king deems this act to be treason and orders his own
son killed. The clockwork man cannot disobey his king's orders, and slowly aims
his gun. But then he summons forth something new—a will of his own—and
manages to defy the command. As soldiers rush into the room, the man seizes
the boy's hand and flees the castle with his new charge in tow.</p>
<img src="https://i.imgur.com/VwGWN24.png">
<p class="title">Chapter 4</p>
<p class="para">The pair runs through the village outside the castle with royal guards
in pursuit. Though the villagers are in uproar over the impending war,
they soon realize the boy is royalty and begin jeering at him, heaping their
outrage against the monarchy on his head alone. But despite the words, fists,
and more being hurled in their direction, the pair never stops running.</p>
<p class="para">Finally, impossibly, they escape. As they look back on their former home,
the boy swears to put an end to the war his father started. Upon hearing this,
the clockwork man makes his own oath to guard the prince until his dying breath.
<br>With determination in their hearts, they take their first steps on the long and
winding road to peace.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/main-story/read-through">Back</a></p>
