---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Echoes in the Heart</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Echoes in the Heart</p>
<p class="title"><a href="https://www.youtube.com/watch?v=VR-2it3CdzI"><u>Video</u></a></p>
<img src="https://i.imgur.com/MIj8do1.png">
<p class="title">Chapter 1</p>
<p class="para">She does not know where she is or who she is. Newly awakened, the girl follows
the voice echoing in her head as she moves through an empty facility.
<br>This voice, almost like a faint scream, tells her only "I must go there."
<br>It is her only guidance.</p>
<p class="para">Eventually she comes across a crystal in the shape of a person.
<br>When she presses her hand to it, memories flood her mind and she suddenly
understands that she was created to be a weapon. In the next moment, an eerie
white aberration of undefined form appears before her, causing her eyes to
glow red. She fights with almost impossible agility, dispatches the creature
in a blink of an eye, and continues down the hall as if nothing happened.</p>
<img src="https://i.imgur.com/zhdK30R.png">
<p class="title">Chapter 2</p>
<p class="para">Signs of battle decorate the facility. Rubble is scattered everywhere.
<br>The girl follows the light that pours in through the ceiling, climbs a pile of
detritus, and comes to a place lush with plants. Suddenly she is beset by a
terrible sense of vertigo—perhaps caused by the brightness of the light.
<br>Feeling like she's seen this place before, she looks around the room.
<br>She dispatches another white aberration and finds a new crystal, to which she
holds up her hand.
</p>
<p class="para">The crystals are the dead bodies of others like herself. Within this one's
memories she sees the white aberrations. She sees other girls fighting them,
and watches as they are annihilated. She suspects all of this might have
something to do with the voice in her head, and feels an urgent need to
understand everything. Once again, she begins to walk.</p>
<img src="https://i.imgur.com/DlzrB0B.png">
<p class="title">Chapter 3</p>
<p class="para">As the voice continues to echo in the girl's head, she hears a roar so powerful
that it shakes the facility. It came from the other side of a locked dividing wall.
<br>Her search for a key takes her to a crimson room that holds another crystal—and
when she holds her hand up to it, she finally learns what happened here.
</p>
<p class="para">She sees the first memory, one where the original living weapon—her eldest
sister—went on a violent rampage. She is the one who created the aberrations
and destroyed the facility. So with a key in her hand and rushing waves of her
sisters' emotions in her heart, the girl walks.</p>
<p class="para">Because she now understands that her eldest sister is still in pain.</p>
<img src="https://i.imgur.com/qM1EO4K.png">
<p class="title">Chapter 4</p>
<p class="para">The leader of the abominations is waiting in the entrance hall. All the notes,
letters, and memories from her sisters suddenly come together, and the girl
realizes that the thing in front of her is what has become of her sister.
<br>Her mind lost, the elder sister spreads a set of white wings, lets fly a cry of
heartbreaking pain, and leaps upon her sibling.</p>
<p class="para">
As the intense battle comes to an end, the abomination crumbles to the floor.
<br>When the girl accesses its memories, she learns the place she needs to go is
one that was special to her sister when she was still human. With this knowledge
fresh in her mind, she bids her sibling farewell and makes for the world outside,
where she swears to reach the place of which her sister dreamt.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/main-story/read-through">Back</a></p>
