---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>The Distant Peak</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">The Distant Peak</p>
<p class="title"><a href="https://www.youtube.com/watch?v=ns8TQYuxLTo"><u>Video</u></a></p>
<img src="https://i.imgur.com/xnN5xBD.png">
<p class="title">Chapter 1</p>
<p class="para">A man makes his way along a mountain path buried in snow.
<br>There is no movement. No sound. Only a perfect wall of unbroken white.
<br>Though the sun is starting to set, the man's pace does not falter. When he
encounters a crevice, he cuts down a tree to make a bridge. When the moon
rises high in the sky, his footsteps do not slow. This mountain holds a wondrous
charm for him, and no matter how dangerous it may be in the dark, he has absolute
trust in his experience. Even when he finds himself surrounded by starving wolves,
that trust does not waiver.</p>
<p class="para">
The man knows this to be a most precipitous mountain, one where no person has
ever reached the summit. But he is an adventurer who has conquered many peaks
in the past, and he eternally seeks the line between life and death within
the harshest environments. This pursuit is his entire reason for living.</p>
<p class="title">Chapter 2</p>
<p class="para">A blizzard sets in over the snowy mountain, as though attempting to refuse
the man passage. The freezing wind and snow sting him, making his steps heavy.
<br>Finally, he catches glimpse of a small cave in the rocks and takes shelter from
the elements. Once inside, he recalls the letter in his pocket. His daughter had
given it to him before his climb, along with a charm. The thought of his daughter
gives him renewed strength, and when the blizzard subsides,
he begins his climb anew.</p>
<p class="para">Halfway up the mountain, he comes across a lake with a corpse lying on its shore.
<br>There is no way to tell how long it has been there, but when he investigates
the body, he finds a note in the pocket. The handwriting is shaky—perhaps from
the cold, perhaps from grief—and it tells of the corpse's regret at having left
his family behind to attempt the climb.</p>
<p class="title">Chapter 3</p>
<p class="para">A tremendous cliff looms before the man—the final trial before the peak.
<br>If he can conquer this, the mountain will be his. He whispers encouraging words
to himself, and though death lurks with every handhold and footfall, he finally
reaches the top.
</p>
<p class="para">Though the mountain has supposedly never been climbed, he finds a ruined shrine
waiting for him. He does not know how long it has been here or how old it is,
but the sight of it stirs his adventurer's blood. But when he sets foot inside,
he finds, impossibly, that his wife is waiting for him.</p>
<p class="para">
<i>The baby is coming.</i> she says, her words an echo in his mind.
<br><i>Why did you leave us?</i></p>
<p class="para">He rubs at his eyes fiercely, and when he reopens them, he sees not his wife,
but the frozen corpse of a pregnant woman holding an all-too-familiar charm.
<br>The sight solidifies his resolution to return home to his family, and he turns
and departs without a second thought.</p>
<img src="https://i.imgur.com/0HJ8JiT.png">
<p class="title">Chapter 4</p>
<p class="para">A lonely house sits in a forest of deep snow. As a pregnant woman minds the
housework, a knock shudders the door. "It's Dad!" cries the woman's daughter
as she leaps toward the door. But when she flings it open, the stoop is bare.
<br>A trick of the wind, perhaps.</p>
<p class="para">
The two of them wait for the man to return home. They talk of how sad they are
not to be with him, what they will do when he returns, and how their family is
soon to be one member larger. Suddenly, the conversation is interrupted by
the woman clutching her stomach in pain; the new life they were just speaking
of is ready to be brought into the world.</p>
<p class="para">The man awakens in the darkness to find himself lying at the bottom of the cliff
just before the peak. <i>I am already gone</i>, he realizes with something
approaching wonder. He never conquered the cliff, never saw a shrine; it was
nothing but a fragment of a dream after he fell. Though he can no longer feel
his fingers, he fumbles in his pocket to pull out the charm from his daughter.
<br>And with its faint warmth moving through his body, he slowly closes his eyes.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/main-story/read-through">Back</a></p>
