---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Determined Hearts</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">This Violent, Fleeting World</p>
<p class="title"><a href="https://www.youtube.com/watch?v=7RAGcX-Bacs&t=181s"><u>Video</u></a></p>
<img src="https://i.imgur.com/Tlns9kk.png">
<p class="title">Chapter 1</p>
<p class="para">In the darkness, the woman quietly listens to her master speak. He is a feudal
lord, one to whom she has pledged fidelity. He praises her for her previous
assassination, and commands her to move on to the next. From beyond the wall,
she utters a single word:</p>
<p class="para">"Understood."</p>
<p class="para">As she walks through town, she is surrounded by the excited hum of life
and the smiles of random people. These are things she can never know,
and while she envies them, she usually pays them no mind—for she walks
a different path, one set in a darkness illuminated only by the glinting
of blades. Today, however, the bright smile of a child she passes refuses to
leave her mind. Even as she cuts down bandits on the road, the young one's
carefree expression stays with her.</p>
<p class="title">Chapter 2</p>
<p class="para">She recalls her days of training—training much too severe for a child.
    <br>Every morning, she would ignore the pain of her exhausted body and bring herself
to the flogging garden, where the adults would berate her for lateness
and whip her. She was instructed to be always at her lord's side, and to serve
him as a tool for eliminating his enemies. This had been the way of her family
for time immemorial, and as one of them, she was burdened with the assassin's
duty before she was even born.
</p>
<p class="para">But these are poor memories, and as she slips into the rainy forest, she banishes
them from her mind. Complaining will help nothing; all that matters is the mission.
<br>With her resolve restored, she kills a guard at the gate and enters the castle
that looms before her.</p>
<p class="title">Chapter 3</p>
<p class="para">Her target is the heir to an enemy territory. Killing this target within
the supposed safety of the castle will cause panic, at which point she will
to signal her lord's army to begin an all-out attack.</p>
<p class="para">
As she flies down the corridor and into the reception room, she discovers her
target to be a small boy. But even when she presses the tip of her sword to the
child's throat, he does not cry out. After studying his face for a moment,
she realizes the child is not a boy at all, but a girl. When asked about her
disguise, the girl replies "I wish this house would fall. I am naught but a puppet
who dances at my father's tune. I'm no child to him—merely a tool to be used."</p>
<p class="para">This resentment carries a familiar ring for the woman, who suddenly sees her
younger self in the face and fate of the girl who waits before her.
<br>As she struggles with her decision, the roar of the rain outside fades to a
distant whisper in her ears.</p>
<img src="https://i.imgur.com/xjbzQMk.png">
<p class="title">Chapter 4</p>
<p class="para">After an uncountable amount of time, woman sheathes her blade and asks,
"Did you mean it when you said you wish your house would fall?" The girl nods,
shaking from the strain of the moment, and the woman responds with a single
word once more:</p>
<p class="para">"Understood."</p>
<p class="para">Behind her, soldiers suddenly burst into the room. Minutes later, they all
lie dead on the floor—but the woman has sustained a fatal wound in the process.
<br>She does not know why she has done this, save that she understands what it is
like to suffer for the sake of one's family, but she does not regret her actions.
And though she knows saving one person is not enough to grant absolution,
she figures it will make a nice gift to take with her into hell.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/main-story/read-through">Back</a></p>
