---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>His Body, Rust</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">What Was Lost</p>
<p class="title"><a href="https://www.youtube.com/watch?v=g08Oh935u-Q&list=PL5G9xTXIAzpmoBIem-ENtUp0qIAjLospl"><u>Video</u></a></p>
<img src="https://i.imgur.com/wIihu8O.png">
<p class="title">Chapter 1</p>
<p class="para">In a lush and verdant land, two sisters hunt for their daily meals, ebon hair
<br>streaming behind them as they dash through the forest.
</p>
<p class="para">One day, as the elder sister is going about her usual routine, she hears her
<br>sister scream. Rushing to the sound, she finds the girl frozen in fear with
<br>a beast ready to attack. A single arrow from the woman's bow drives the creature
<br>away, causing the younger to spill tears of relief. After embracing the girl,
<br>the woman quickly offers up her silver hairpin, a keepsake of their mother her
<br>younger sister has long desired. As her tears dry, the girls swears she will be
<br>the one to do the protecting next time.</p>
<p class="title">Chapter 2</p>
<p class="para">Their hunting complete, the sisters make for home. But when they exit the forest,
<br>they see smoke and flame rising in the distance. The woman immediately thinks of
<br>the war that is raging in a neighboring nation, and after telling her sister to
<br>stay put, makes her way to town.</p>
<p class="para">When she arrives, she finds herself surrounded by the incessant crackle of flames.
<br>The town is a slaughterhouse, with corpses on every corner. As she takes in the
<br>scene, her younger sister suddenly rushes up to her. She immediately grabs her
<br>and attempts to flee, but they are quickly surrounded by enemy soldiers and cut
<br>down. As her consciousness fades away, she hears her sister scream, followed by
<br>the voice of a soldier uttering two words:
</p>
<p class="para">"Sort them."</p>
<p class="title">Chapter 3</p>
<p class="para">Thinking that she heard her sister, the woman opens her eyes and finds herself in
<br>a prison. Her body is now a stranger—one arm and one leg have been replaced by
<br>mechanical substitutes, and her ebon hair has turned white as new-fallen snow.</p>
<p class="para">After breaking out of her cell, she dispatches a guard with ease. He cackles as
<br>he dies, gleefully informing her that the captives in this place are all sorted,
<br>experimented on, and turned into killing machines. He then tells her that she is
<br>one of the failures.</p>
<p class="para">
Her mind is filled with a single thought: <i>Is my sister safe?</i> She dashes
<br>from the prison, running faster and faster in an attempt to escape the terrible
<br>thoughts in her head and feeling in her chest.</p>
<img src="https://i.imgur.com/N9xLdsh.png">
<p class="title">Chapter 4</p>
<p class="para">When the woman exits the prison, she finds herself in a strange land of flames
<br>and blood. As she picks her way through the battlefield, she hears a child's
<br>voice and begins to run. Suddenly, the owner of the voice appears before her; it
<br>is her sister, twisted and warped as a result of the sorting. The girl makes
<br>a sound—a desperate, terrible hiss that might be the woman's name—then chokes
<br>on her own blood as a soldier cuts her down like an animal.
<br>After this, her memory goes mercifully blank.</p>
<p class="para">When she comes to, she finds the cold corpse of her sister surrounded by chunks
<br>of what used to be enemy soldiers. She gently embraces the girl and closes
<br>her eyes. From this day onward, revenge would be her only reason to live.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/main-story/read-through">Back</a></p>
