---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>Creator Commentary</title>


<p class="title"><strong><a href="/stories/drakengard-1/reading/creator-commentary/looking-back-1">
    Looking Back<img class="art" src="https://i.imgur.com/OSxdGkN.png"></a></strong></h1>
    <p class="line"></p>
<p class="title"><strong><a href="/stories/drakengard-1/reading/creator-commentary/questions-and-answers-1">
    Questions & Answers<img class="art" src="https://i.imgur.com/i6O3Iub.png"></a></strong></h1>
   <p class="line"></p>
   <p class="menu"><a href="/stories/drakengard-1">Back</a></p>
