---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---
<BaseLayout>
</BaseLayout>
<title>D1 Magnitude Negative</title>
<style>
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }


    </style>
<div id="sidenav">
    <a href="/ths"><img class="slogo" src="https://i.imgur.com/AJWylNV.png"></a>
    <p class="line"></p>
        <a href="/stories">
        <p class="menu">Stories</p>
    </a>
    <p class="line"></p>
    <a href="/credits">
        <p class="menu">Credits</p>
    </a>
    <p class="line"></p>
    <a href="https://k.closesttopurple.org/post/list/-karis/1">
        <p class="menu">Gallery</p>
    </a>
    </div>
<h1><strong><a href="/stories/drakengard-1/reading/magnitude-negative/prologue">
    Magnitude Negative - Prologue<img class="art" src="https://i.imgur.com/PzVIKfv.png"></a></strong></h1>
    <p class="line"></p>
<h1><strong><a href="/stories/drakengard-1/reading/magnitude-negative/woman">
    Magnitude Negative - Woman<img class="art" src="https://i.imgur.com/8pd4YuJ.png"></a></strong></h1>
    <p class="line"></p>
<h1><strong><a href="/stories/drakengard-1/reading/magnitude-negative/earth">
    Magnitude Negative - Earth<img class="art" src="https://i.imgur.com/l7DEGh4.png"></a></strong></h1>
    <p class="line"></p>
<h1><strong><a href="/stories/drakengard-1/reading/magnitude-negative/heaven">
    Magnitude Negative - Heaven<img class="art" src="https://i.imgur.com/6jkQZyl.png"></a></strong></h1>
    <p class="line"></p>
<h1><strong><a href="https://drive.google.com/file/d/1jISajZZ76CQJyg2ljm6H6nFnMPYruDnb/view">
    Magnitude Negative - Time<img class="art" src="https://i.imgur.com/qdjT7Qi.png" ></a></strong></h1>
    <p class="line"></p>
<h1><strong><a href="/stories/drakengard-1/reading/magnitude-negative/epilogue">
    Magnitude Negative - Epilogue<img class="art" src="https://i.imgur.com/eOYzH94.png"></a></strong></h1>
    <p class="line"></p>
<h1><strong><a href="/stories/drakengard-1/reading/magnitude-negative/afterword">
    Magnitude Negative - Afterword<img class="art" src="https://i.imgur.com/VAfuXRi.png"></a></strong></h1>
    <p class="line"></p>
<h1><strong><a href="/stories/drakengard-1/reading/magnitude-negative/about">
    Magnitude Negative - About the Author/Illustrator<img class="art" src="https://i.imgur.com/FeB8ZzI.png"></a></strong></h1>
    <p class="line"></p>
    <p class="menu"><a href="/stories/drakengard-1">Back</a></p>
