---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>

<title>D1 Magnitude Negative</title>

<p class="title"><a href="/stories/drakengard-1/magnitude-negative/prologue">
    Magnitude Negative - Prologue<img class="art" src="https://i.imgur.com/PzVIKfv.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/drakengard-1/magnitude-negative/woman">
    Magnitude Negative - Woman<img class="art" src="https://i.imgur.com/8pd4YuJ.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/drakengard-1/magnitude-negative/earth">
    Magnitude Negative - Earth<img class="art" src="https://i.imgur.com/l7DEGh4.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/drakengard-1/magnitude-negative/heaven">
    Magnitude Negative - Heaven<img class="art" src="https://i.imgur.com/6jkQZyl.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/drakengard-1/magnitude-negative/time">
    Magnitude Negative - Time<img class="art" src="https://i.imgur.com/qdjT7Qi.png" ></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/drakengard-1/magnitude-negative/epilogue">
    Magnitude Negative - Epilogue<img class="art" src="https://i.imgur.com/eOYzH94.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/drakengard-1/magnitude-negative/afterword">
    Magnitude Negative - Afterword<img class="art" src="https://i.imgur.com/VAfuXRi.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/drakengard-1/magnitude-negative/about">
    Magnitude Negative - About the Author/Illustrator<img class="art" src="https://i.imgur.com/FeB8ZzI.png"></a></p>
    <p class="line"></p>
    <p class="menu"><a href="/stories/drakengard-1">Back</a></p>
