---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>

<title>D1 Manga</title>

<p class="title"><a href="https://reader.closesttopurple.org/read.html?title=drakengard-judgement&volume=1&page=1">
    Judgement Ch. 1<img class="art" src="https://i.imgur.com/q97Hp3v.png"></a></p>
<p class="line"></p>
<p class="title"><a href="https://reader.closesttopurple.org/read.html?title=drakengard-judgement&volume=1&page=41">
    Judgement Ch. 2<img class="art" src="https://i.imgur.com/0Ac7o2t.png"></a></p>
<p class="line"></p>        
<p class="menu"><a href="/stories/drakengard-1">Back</a></p>
