---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>NieR Re[in]carnation</title>
<p class="menu"><a href="/stories/nierrein/characters/s1/001rion">Rion</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s1/002gayle">Gayle</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s1/003dimos">Dimos</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s1/004akeha">Akeha</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s1/005argo">Argo</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s1/006levania">Levania</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s1/007_063y">063y</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s1/008f66x">f66x</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s1/009lars">Lars</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s1/010griff">Griff</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s1/011noelle">Noelle</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s1/012fio">Fio</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s2/001saryu">Saryu</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s2/002priyet">Priyet</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s2/003marie">Marie</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s2/004yurie">Yurie</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s2/005yudil">Yudil</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s2/006sarafa">Sarafa</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s2/007hina">Hina</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s2/008yuzuki">Yuzuki</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s3/00110h">10H</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/rest">Back</a></p>