---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>NieR Re[in]carnation</title>
<p class="menu"><a href="/stories/nierrein/mainstory">Main Story</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/char">Character Stories (Very W.I.P.)</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierre">Back</a></p>