---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Akeha's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Akeha's Character Story</p>
<p class="title"><a href="https://www.youtube.com/watch?v=cmY6TIClMXc"><u>Video</u></a></p>
<p class="title">Chapter 1</p>
<p class="para">Red spikes top the walls that surround my family's manor. They stand there proudly as
they stretch up to the sky, and the color reminds all who pass of blood. But these spikes are
not there to keep intruders at bay; our family has no need of such defenses. None ever approach
our house, which is known as The Demon's Den. And if some foolhardy brigand ever did so dare,
he would soon learn that a death on the spikes is much, much sweeter than what awaits behind
our doors. No, the spikes are not meant to keep people out; they are there to keep the demons in.</p>
<p class="title">Chapter 2</p>
<p class="para">Our training is harsh. Our work cruel. Our teachings inhumane. One might expect that
there would be those who are unable to stand it, and scheme to escape. And in fact, there have
been a few brave souls who attempted to cross the wall. But every single one of them was killed;
the crimson spikes serve to remind us of this fact.</p>
<p class="para">I personally knew one man who plotted escape. He was the elder brother of the lord in
power—my uncle. My uncle objected to an assassination demanded of him. But when he tried to
flee, he met the same fate as those who did so before him: his head put on display for all to see.
</p>
<p class="title">Chapter 3</p>
<p class="para">My family's teachings are impossibly strict—and as the daughter of the lord, I was not
exempt. If anything, my teachings were even more severe. It was only natural given my standing.
<br>There are no smiles in a house of assassins; we are showered with naught but shouting and demands.</p>
<p class="para">My uncle, however, always had time to spare a grin for me. He was the only one who ever
did. But on that grim day, his smile vanished. His younger brother cut him down to set an example,
and his face would forevermore be frozen in a rictus of pain. I learned many hard truths on that day:
I would never cross the spikes. Kindness has no meaning. My life is nothing but orders and blood.</p>
<p class="title">Chapter 4</p>
<p class="para">Time passed and I took over the household from my father. Now, I am able to freely
come and go as I please. Yet somehow, I remain an assassin. A thought came to me just now:
<br>Do I blame the spikes for my murderous ways?
<br>Am I a bloodthirsty ghoul who uses my job and those spikes as an excuse to kill?
<br>Do I willingly return because it is the only place where I will ever find acceptance?</p>
<p class="para">As I look up from outside the wall,  the familiar sky stings my eyes. Did I...make a mistake
somewhere? The same questions roll ever onward in my mind—yet all I can do is surrender myself
to my own dark thoughts.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/akeha">Back</a></p>