---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Akeha's Costumes</title>
<style>
    img{
        -webkit-filter: brightness(100%);
        padding: 0%;
        max-width: 192px;
        max-height: 192px;
        min-width: 192px;
        min-height: 192px;
    }
    img:hover{
        -webkit-filter: brightness(70%);
        transform: scale(98%);
    }

  .para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
@media screen and (min-width: 1921px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 3%;
}
}
</style>
<p style="margin-top: 1cm; font-size: 300%;">Akeha's Costumes</p>

<div class="over">
<div class="Guide">
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/twilight-assassin"><img src="">Twilight Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/dissenting-assassin"><img src="">Dissenting Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/guardian-assassin"><img src="">Guardian Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/false-guardian-assassin"><img src="">False Guardian Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/fractured-assassin"><img src="">Fractured Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/fabled-assassin"><img src="">Fabled Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/festive-assassin"><img src="">Festive Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/abstract-assassin"><img src="">Abstract Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/summer-assassin"><img src="">Summer Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/divine-assassin"><img src="">Divine Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/bloodless-assassin"><img src="">Bloodless Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/abyssal-assassin"><img src="">Abyssal Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/mechanical-assassin"><img src="">Mechanical Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/bloody-assassin"><img src="">Bloody Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/yuletide-assassin"><img src="">Yuletide Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/intoner-assassin"><img src="">Intoner Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/celebratory-assassin"><img src="">Celebratory Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/new-years-assassin"><img src="">New Year's Assassin</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/reborn-swordmaster"><img src="">Reborn Swordmaster</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/costumes/f-h-swordmaster"><img src="">F-H Swordmaster</a></p>

</div>
</div>
<br><br><br><br>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/akeha">Back</a></p>