---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Akeha's Costumes</title>
<style>
    img{
        -webkit-filter: brightness(100%);
        padding: 0%;
        max-width: 144px;
        max-height: 144px;
    }
    img:hover{
        -webkit-filter: brightness(70%);
        transform: scale(98%);
    }

  .para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
.Guide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

@media screen and (orientation: portrait){
.Guide > .title { 
  font-size: 0.75rem;
  letter-spacing: 2px;
}
}
@media screen and (min-width: 320px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (min-width: 769px) {
  .Guide {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1201px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1919px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1921px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
}
</style>  
<p style="margin-top: 1cm; font-size: 300%;">Akeha's Costumes</p>

<div class="over">
<div class="Guide">
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/twilight-assassin"><img class="img-special" src="https://i.imgur.com/8sUE97e.png" loading="lazy"><p class="title">Twilight Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/dissenting-assassin"><img class="img-special" src="https://i.imgur.com/KxfhtDw.png" loading="lazy"><p class="title">Dissenting Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/guardian-assassin"><img class="img-special" src="https://i.imgur.com/2giGOyR.png" loading="lazy"><p class="title">Guardian Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/false-guardian-assassin"><img class="img-special" src="https://i.imgur.com/kKUfr3x.png" loading="lazy"><p class="title">False Guardian Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/fractured-assassin"><img class="img-special" src="https://i.imgur.com/WpymHFk.png" loading="lazy"><p class="title">Fractured Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/fabled-assassin"><img class="img-special" src="https://i.imgur.com/ecnxjv3.png" loading="lazy"><p class="title">Fabled Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/festive-assassin"><img class="img-special" src="https://i.imgur.com/K1bSagO.png" loading="lazy"><p class="title">Festive Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/abstract-assassin"><img class="img-special" src="https://i.imgur.com/i0NEjND.png" loading="lazy"><p class="title">Abstract Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/summer-assassin"><img class="img-special" src="https://i.imgur.com/19WJQmh.png" loading="lazy"><p class="title">Summer Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/divine-assassin"><img class="img-special" src="https://i.imgur.com/qegrNB0.png" loading="lazy"><p class="title">Divine Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/bloodless-assassin"><img class="img-special" src="https://i.imgur.com/n7M4HIR.png" loading="lazy"><p class="title">Bloodless Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/abyssal-assassin"><img class="img-special" src="https://i.imgur.com/db75Zo5.png" loading="lazy"><p class="title">Abyssal Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/mechanical-assassin"><img class="img-special" src="https://i.imgur.com/SFqc8hq.png" loading="lazy"><p class="title">Mechanical Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/bloody-assassin"><img class="img-special" src="https://i.imgur.com/h4D0iLf.png" loading="lazy"><p class="title">Bloody Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/yuletide-assassin"><img class="img-special" src="https://i.imgur.com/5sdWMvG.png" loading="lazy"><p class="title">Yuletide Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/intoner-assassin"><img class="img-special" src="https://i.imgur.com/AnOj8B5.png" loading="lazy"><p class="title">Intoner Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/celebratory-assassin"><img class="img-special" src="https://i.imgur.com/igxyGoq.png" loading="lazy"><p class="title">Celebratory Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/new-years-assassin"><img class="img-special" src="https://i.imgur.com/DpqzRvX.png" loading="lazy"><p class="title">New Year's Assassin</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/reborn-swordmaster"><img class="img-special" src="https://i.imgur.com/jmbZgjF.png" loading="lazy"><p class="title">Reborn Swordmaster</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/akeha/costumes/f-h-swordmaster"><img class="img-special" src="https://i.imgur.com/rUwalBW.png" loading="lazy"><p class="title">F-H Swordmaster</p></a></div>
</div>
</div>
<br><br><br><br>
<p class="line"></p>
<p class="menu" id="backButton"><a href="/stories/reincarnation/characters/s1/akeha">Back</a></p>