---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Akeha's Dark Memory</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Akeha's Dark Memory</p>
<p class="title"><a href="https://www.youtube.com/watch?v=LAmWiItDJfw"><u>Video</u></a></p>
<img src="https://i.imgur.com/ik3mKv5.png">
<p class="title">Chapter 1</p>
<p class="para">A pale and bloody arm flails in the air.
<br>The hand can grab nothing. The hand will grab nothing.
<br>Even if it could, it is too fearful a thought.</p>
<p class="para">It longs for escape. Yearns for it.
<br>But if it is only going to break in the end, what is the purpose of obtaining it?
</p>
<p class="para">
—A Poem of Wayward Imprisonment</p>
<p class="para">The woman's bloody hand holds a knife. Her finger notes the light sensation of blade
against bone. It is so very familiar. This feeling—one honed to a science while taking countless lives—
is the sensation of death. Her life has been spent with a blade in her hands, and she does not intend
to fail now. She puts pressure on her middle and ring fingers, while the rest curl tightly around the hilt.
<br>Almost as if they are drawing in the death she senses. The bones will separate. The head will fall.
<br>The—"Hang on." Woman and blade alike pause at the voice. The voice, high in tone like a ringing bell,
continued.</p>
<p class="para">
"Leave the head. With mackerel, you don't take the head off until you're ready to
remove the rest of the guts."</p>
<p class="para">The woman with the knife replies with a question:</p>
<p class="para">"And what of the bones?"
<br>"It's okay to cut those, but don't separate it entirely."
<br>"Cooking is very different from killing," muses the woman.
<br>"Yeah, I suppose it would be," replies the speaker.</p>
<p class="para">They giggle slightly while imparting this bit of wisdom. The setting sun floods the room with persimmon
light. It is a small interval between the sweltering summer and the coolness of autumn. The sun flees
the world earlier each day. And as the day takes its leave, night stretches out greedy fingers to reclaim
what was stolen in the dawn. The speaker continues.</p>
<p class="para">"Once you've taken out the innards, you can move on to the bloodline."
<br>"Bloodline?"
</p>
<p class="para">The woman stands, knife in hand, and awaits an answer. She typically wielded her blade on a
battlefield, not in a kitchen, and is unable to find a comfortable grip on the paring knife.
</p>
<p class="para">
"Apparently it's muscle. See the dark red parts there?"
<br>"The bloodline... An apt name."</p>
<p class="para">A girl of about sixteen—the speaker—peers over the shoulder of the woman with the knife and smiles,
her long hair fluttering.</p>
<p class="para">"Does my cooking amuse you?" asks the woman.
<br>She stares at the cooking board as she says it, but her annoyance is clear.
</p>
<p class="para">"Heh heh. It <i>is</i> cute to see someone who's so cool in a fight have trouble with a mackerel."
<br>The girl grins as she says this, lighting up the room. Ashamed, the woman looks away. This only
serves to delight the girl all the more.</p>
<p class="para">"I'm obviously no expert," says the woman.
<br>"I did not grow up doing such things."
<br>"Yeah, well, I'd never done it either until that day."
<br>"......"
</p>
<p class="para">The woman knows this well. With nothing to say in return, she falls to silence.</p>
<p class="para"><i>That day.</i></p>
<p class="para">
The two of them know exactly what this means.</p>
<p class="para">
Five years ago. Early summer.
<br>Heavy rain blanketed the sky. It was the day the assassin met the girl—her target. She was going to
take her life as she had countless others. The girl was ready to die; perhaps she even sought it.
<br>But the woman did not kill her. Call it a whim. But that day—that whim—had brought them to where
they are now. Theirs is a relationship forged in checkered fate. They had both cast aside their own
lives to form this new one, where each day stretches out in quiet solitude. In the distance, a cricket
begins to stir.</p>
<p class="para">"Hey, I'm sorry," says the girl.
<br>"I shouldn't have teased you."
<br>"You're the only one who actually works around here anyway, so thank you. I really appreciate it."
</p>
<p class="para">
The woman turns to look over her shoulder at her young companion.</p>
<p class="para">"Flattery will get you nowhere..."
<br>Turning away once more, she utters a weak protest. But the girl knows this action is an admittance
of defeat, and her radiant smile lights up anew.</p>
<p class="para">"Enough foolishness. Tell me what to do with this creature."
<br>"Well, you took the bloodline out, so now you have to wash it."</p>
<p class="para">The woman nods, picks the fish up off the cutting board, and dips it into a pail of cool water.
<br>Blood seeps out of the mackerel, staining the water a faint red.</p>
<img src="https://i.imgur.com/Tre11es.png">
<p class="title">Chapter 2</p><p class="para"></p>
<p class="para">The flower reaches to the heavens above,
gazing at the brilliant sun and indulging in fantasy.
<br>It will do so until the time comes that it blackens and withers,
finally learning that it will never reach the sky.
</p>
<p class="para">Petals unfurl. Grasping. Delicate fingers.</p>
<p class="para">
People fear such honest desire.
<br>We are scared to even desire at all.</p>
<p class="para">—A Poem of Forgotten Imprisonment</p>
<p class="para">The woman looks at the fillet in her hand.
<br>"Making cuts and inserting salt seems like a method of torture."</p>
<p class="para">
There are no deep feelings or regrets behind the words;
she says them as simply as someone passing the time of day. The girl, however, is taken aback.</p>
<p class="para">"Uh... Well, sure? But mackerel's a bluefish, so you have to get the smell out..."</p>
<p class="para">
She is attempting to teach the woman a dish called mackerel miso. It is not a particularly difficult dish
to make, and perfect for teaching someone how to handle fish. This is why the girl selected it.</p>
<p class="para">"Now we let it rest, correct?"</p>
<p class="para">
She confirms each step of the process with the girl. They had divided responsibilities since they
began living together. The woman has learned well her young charge's skill in the kitchen.
<br>"Yep! Once the salt gets in there, it'll draw out the moisture."</p>
<p class="para">But the girl has not always been skilled at cooking. It was a task she threw herself into after meeting
the woman, and her first few years were littered with failed attempts. But now, five years later, she
has acquired much culinary skill;
this is both a testament to her hard work and proof of the time the two of them have spent together.
</p>
<p class="para">
"Then removing the moisture also takes away the smell?"
<br>"You got it! Oh, and we're also going to parboil it,
so might as well get the water ready in the meantime."
</p>
<p class="para">
The girl pauses and knits her fingers together, looking at the woman shyly.
<br>"So, um...have you ever actually done that?"</p>
<p class="para">
The woman's earlier comment is clearly still weighing on her.</p>
<p class="para">"Torture, you mean? Hmm, not really."
<br>"Oh! Oh. Well, um... That's good?"
<br>"Killing was my job."
<br>"Torture would be the domain of another."</p>
<p class="para">The conversation takes the girl back once more to that day. She remembers how the woman
saved her life by taking out an entire battalion of samurai. Afterward, the young girl somehow managed
to drag her unconscious savior out of the castle. She grabbed all the gold coin she could carry from
her house, and hurried in search of a doctor. Soaked from heavy rain and the woman's blood, her
legs threatening to snap under her burden, she screamed for help until her throat was raw.  As the
woman lay bleeding on a tatami mat, she had said four words to the girl: "Live as you please."</p>
<p class="para">
No one had ever said such a thing to her. She did not even know it was an option.
<br>That was why she sought so desperately to save the woman:
because she wanted to. But what the girl knows of the woman is only what she saw on that day,
and on the days since. How much pain and hardship had she truly experienced? The girl had felt
a sudden awareness of the distance between them.</p>
<p class="para">
A flock of birds flies off into the late summer sunset. Dark shadows bleed across the
kitchen like spilled ink.</p>
<p class="para">"Sorry," says the girl.
<br>"That was a weird question."
<br>"I probably shouldn't ask about... You know. That stuff."
</p>
<p class="para">The woman does not think fondly of her past. The girl is very aware of this. But this night, it does
not seem to bother her overmuch.</p>
<p class="para">"It's all right. I don't mind the question." The girl hesitates.
<br>"Yeah, but..." She does not like being placated.</p>
<p class="para">If someone wants to tell her no, it's far better for them to simply do so instead of pretending.
<br>But the woman is smiling, and the girl slowly realizes she actually does mean it after all.
</p>
<p class="para">"I may hide my past, but that doesn't make it go away." The girl listens intently.
<br>"Besides, the two of us have few secrets from each other at this point, wouldn't you say?"</p>
<p class="para">The woman's eyes form a pair of crescent moons as she smiles. Her answer—and her smile—fill
the hole in the girl's heart.</p>
<p class="para">"Thanks."
<br>"Of course."
</p>
<p class="para">Satisfied, the woman turns away. The girl stares at her back and mutters: "...You're too good at that."</p>
<img src="https://i.imgur.com/84RqZhX.png">
<p class="title">Chapter 3</p><p class="para"></p><p class="para"></p>
<p class="para">Some say a flower is most beautiful when its petals begin to fall.
<br>Yet death is inevitable, and holds no value in itself.
</p>
<p class="para">We reach out our hands, seeking beauty.
<br>But obtaining it can be a difficult thing,
and the quest often shows us our limits.
<br>It is naught but delusion to recall failures to reach beauty as having
been beautiful themselves.
</p>
<p class="para">Thus does humanity continue to err in order to console itself.</p>
<p class="para">—A Poem of Melded Imprisonment</p>
<p class="para">
<br>As the sun sinks below the horizon, hints of night begin to draw over the land. More
crickets strike up a chorus in anticipation of the moon. Soon, another sound joins them in
harmony. The girl cocks her head as she stirs the pot.</p>
<p class="para">
"Those are giant katydids."
<br>"You certainly know this land," replies the woman.
</p>
<p class="para">She is busy rubbing the sliced skin of the mackerel to remove the oil.</p>
<p class="para">"Yeah, I just read about them in a book."
<br>"Ah, yes. You've acquired quite a collection of used books."</p>
<p class="para">The two of them live near a forest that is some distance from the closest town. Both due to lack of
other diversions, and because of her own passion for reading, the girl was often seen passing the
time with book in hand.</p>
<p class="para">"Just doing some studying. I've been thinking it's about time I looked for work." The girl smiles brightly.
<br>"Hmm. That's how it usually goes, is it?"</p>
<p class="para">There is a tinge of sadness to the woman's response. The woman had been "working" from before
the age the girl is now. She killed her first man when she was not even ten. But murder is the only
work she knows—the mundane worries of a normal, day-to-day job are unknown to her.</p>
<p class="para">"Okay, I think the mackerel should be ready now."</p>
<p class="para">
The girl pulls her ladle from the pot, which is bubbling merrily away. The woman stands beside her,
holding a towel.
</p>
<p class="para">"Go ahead and put it in there and let's give it a boil."
<br>"Got it."</p>
<p class="para">The woman's voice has a tinge of excitement, which causes the girl to smile. Wielding a large pair of
cooking chopsticks even more uncomfortably than she did the knife, she manages to transfer the
fillet to the pot.
</p>
<p class="para">
"Make sure to put the skin face-up."
<br>"Like this?"
<br>"Yep! Now throw some ginger in there and put the lid on."
</p>
<p class="para">
The woman follows the girl's instructions with awkward movements. But the dexterity of her fingers
is cause for wonder. Perhaps it comes from her horrifying past.
</p>
<p class="para">
"So how is work, anyway?"
<br>The girl watches the pot while she asks the question.
<br>"Much easier than my old job. I may end up losing my edge."</p>
<p class="para">
The woman flexes her hands as she speaks.</p>
<p class="para">
There was only one thing she could mean: the martial arts. She is a master of weapons
large and small, and her technique and experience made her a formidable foe. And now, she uses
those skills to make her living. She takes on occasional work as a bodyguard, or teaches young
royals in the way of the sword. At times, she faces down death once again. It makes her feel that
she is still the same killer she always was, but in these times in which they live, it is difficult to avoid.
<br>And compared to her past, at least, working as a mercenary is much less taxing. Theirs is an era of
turbulence and upheaval where people rarely stay put for long, yet they had managed to build a home.</p>
<p class="para">"I'm glad it's going well," says the girl. The girl smiles at the woman.
<br>"So when you say you're going to look for work," begins the woman,
<br>"is it because..."</p>
<p class="para">Something about the girl's words and smiles doesn't sit right with the woman. It's almost as if her
young companion feels indebted.</p>
<p class="para">"Listen," she says,
"you don't have to feel guilty. You've lived a hard life. You deserve to take it easy for a while."</p>
<p class="para">Before she can finish her thought—which was going to be "it's not as if we're struggling" —the
girl cuts her off.</p>
<p class="para">"I could say the same for you."
<br>"But you don't need to worry about—"
<br>"Stop. You don't understand."</p>
<p class="para">The girl places her hand on the woman's wrist. Their eyes meet. The girl holds her gaze, looking
right into the woman's eyes.</p>
<p class="para">"I just want us to be a team."
<br>She was smiling as she said it. So the woman said no more.</p>
<img src="https://i.imgur.com/Ta0dCzj.png">
<p class="title">Chapter 4</p><p class="para"></p><p class="para"></p><p class="para"></p>
<p class="para">One earns many scars over a long life.
<br>There is much we learn and much we regret—
and none of us emerge unscathed.
<br>So long as we live, our scars continue to grow.</p>
<p class="para">
<br>Those who surrender to this truth eventually find themselves merely
going through the motions of reaching out their arms.
<br>For the hand of an empty husk has no will to grasp anything.
</p>
<p class="para">The reason flowers look so beautiful in our eyes—</p>
<p class="para">"Sorry. Is this done?" The woman's voice breaks the silence as the girl dishes up spoonfuls
of rice into bowls. Black night mingles with shades of azure, light purple, and crimson. The clouds
in the west are dark; those in the east, light. The sky is a complicated palette waiting for the
upcoming darkness to sort itself. The setting sun turns mountains and trees into silhouettes.</p>
<p class="para">
"It sure is! Time to chow down."
<br>The girl answers the question in a firm voice, as if to emphasize they have finished.
</p>
<p class="para">
"Nice. It looks delicious."
<br>Though she did have the girl's help, this was her first time having cooked a meal herself. Her eyes
sparkled just as much as the girl's. The girl takes up some tableware and passes it to the woman.</p>
<p class="para">"Well? You're the chef here—time to serve up your creation!"
<br>"Is there a particular way it should be served?"
<br>"It's just a single dish of one type of food, and we're the only ones eating, so I guess it doesn't
really matter."</p>
<p class="para">
Using the ladle, she gently scoops up a portion of the well-boiled mackerel and places it onto the
plates. She pours more of the broth over them, and sprinkles chopped green onion on top. The dish
is complete. The woman gazes at her plate as if truly moved. The scent of miso and ginger causes
her stomach to rumble.
</p>
<p class="para">
"It's getting pretty dark, so let's hurry up and eat. I've already set up the rest."
<br>As she talks, the girl carries the rice bowls and her plate to the living room. The woman follows,
carrying her own plate. They arrange themselves on cushions and press their palms together in thanks.</p>
<p class="para">"Time to eat!" cries the girl.
<br>"Time to eat indeed," replies the woman. Rice bowl in hand, the girl asks the woman a question.</p>
<p class="para">
"Hey, so what made you want to cook today?"
<br>Though she had chosen the dish and provided instruction, it had been the woman's idea for them to
do so. While she had helped in the kitchen over the past five years, she had never once mentioned
wanting to cook herself.</p>
<p class="para">"Oh, I don't know," says the woman as she nibbles her rice.
<br>"Work just finished up early today."
<br>"Well... That, and..."</p>
<p class="para">The rice seems to stick in her throat, but she forces it down.
<br>"This was something I used to see a lot."</p>
<p class="para">It was something she experienced back when she was an assassin.
<br>"I would see families talking about what to have for dinner, or parents cooking with their children, or..."</p>
<p class="para">She trails off, lost in thought. She had witnessed these scenes as she passed to missions or from them,
peering at happy families behind lamp-lit windows. And for a child who had never seen her own
parents smile, it seemed a world almost impossibly out of reach.</p>
<p class="para">"I thought I would never have a life like that."
<br>The woman sighs softly.The girl sits quietly and listens.</p>
<p class="para">"So I suppose I wanted to see what it was like."</p>
<p class="para">Once she says this, the woman cast her eyes down, seemingly at a loss for words. Silence spreads
across the room. If not for the cries of insects, time would have no meaning. More silence. Finally,
the woman breaks it.</p>
<p class="para">"I just wanted to stand in a kitchen with someone like we did today."
<br>She smiles to hide her embarrassment—something the girl has never seen her do before.</p>
<p class="para">"I see," says the girl.
Her reaction is neutral, expressing neither sympathy nor empathy. She then asks a single question:
<br>"So... How's the food you made yourself?"
<br>It is enough. They share a smile.</p>
<p class="para">"Sweet, actually. More so than I thought it would be."</p>
<p class="para">
The reason flowers look so beautiful in our eyes
is because they do not know of surrender.</p>
<p class="para">Even with broken stems, they carry on.
<br>The look fearlessly toward the heavens, full of childlike wonder,
until the moment their lives are snuffed out.
<br>And we are so envious of this, we find we must look away.</p>
<p class="para">—A Poem of Eternal Imprisonment</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/akeha">Back</a></p>