---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Akeha's Frozen Heart</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Akeha's Frozen Heart</p>
<p class="title"><a href="https://www.youtube.com/watch?v=6hnazkcO3vU"><u>Video</u></a></p>
<p class="title">Chapter 1</p>
<img src="https://i.imgur.com/Hikw4nn.png">
<p class="para">A dry wind blows across the pallid, twilit sky.</p>
<p class="para">
At a quiet teahouse away from the thoroughfare sits a lone woman clad in an elegant kimono, eating dango.</p>
<p class="para">Her movements are graceful, and the air around her smells sweetly of flowers.</p>
<p class="para">The way she licks her lips would lead anyone to believe that the unassuming mugwort dango are made
of the most sensual nectar.
<br>In truth, the woman is a skilled assassin working in the name of a great lord.</p>
<p class="para">
She has felled countless wretched villains who hoped to take her lord's life—insignificant characters
her lord loathed.</p>
<p class="para">
The number of lives she has severed from this world would dwarf the population of the average town.
<br>To her, human lives are little more than a commodity. To her, the notion that life is precious and
irreplaceable is pure fantasy.</p>
<p class="para">The act of taking lives is hardly different from pulling weeds.</p>
<p class="para">
And today, she is tasked with such gardening duties.</p>
<p class="para">
Her targets: a pair of sisters who have recently moved to the town's outskirts.
<br>She asks the long-time owner of the teahouse what sort of people these sisters might be.</p>
<p class="para">Do they come here often?</p>
<p class="para">Every now and then, he says casually.
<br>The two seem to come to drink tea a few times a month.</p>
<p class="para">
They always walk together, just the two of them, to avoid the watchful eyes of others,
and they never attempt to deepen relationships with anyone else.</p>
<p class="para">It's not that they conduct themselves poorly—they do nothing to cause trouble,
so the townsfolk have no reason to shut them out.
<br>Everybody knows them, but nobody knows them <i>well</i>.
<br>They're like the midday haze—there, but only barely.</p>
<p class="para">The teahouse owner's voice has a jesting tone, but the woman senses no malice behind it.
<br>He continues.
</p>
<p class="para">Though their actions don't stand out, their appearance is almost otherworldly.</p>
<p class="para">The elder sister acts with such grace that even when sipping the cheapest barley tea,
she would hardly look out of place in a masterwork portrait.
<br>She reminds me of you, come to think of it, he says.</p>
<p class="para">The woman sighs, glazing over the compliment.</p>
<p class="para">I have no such gaudy appeal.</p>
<p class="para">She is not humbling herself—that is her genuine opinion.
<br>But the teahouse owner insists she's alike, to the point that she stands out in town.
<br>He goes on to note that the younger sister has an otherworldly nobility about her as well.</p>
<p class="para">It is in the way she drinks tea, eats dango, stands, walks.</p>
<p class="para">
He likens her to an angel given mortal form for the very first time.</p>
<p class="para">His choice of words does not suit the owner of a run-down teahouse.
<br>Though the sisters do not cause problems,
it seems their actions can turn the lowliest commoners into poets.</p>
<p class="para">That positive influence on others turns the woman's heart cold and dark.</p>
<p class="para">She already knows the truth behind the sisters.</p>
<p class="para">
They are not truly sisters.
<br>The elder "sister" was once a woman who walked the path of slaughter, just like her.</p>
<p class="para">
She was born a daughter of the woman's lord and made her living off murder.</p>
<p class="para">Over countless jobs, she mercilessly slew her lord's political enemies.</p>
<p class="para">The woman was her student and learned the art of killing directly from her.
<br>Indeed, it was as though she was an older sister.
<br>The younger "sister" was a girl who was fated to die at the hands of the assassin elder sister.</p>
<p class="para">
It's said she was raised as a boy.</p>
<p class="para">
All so that the family she was born into would survive.</p>
<p class="para">
She was brought into this world against her will, given a life against her wishes.</p>
<p class="para">Her sole purpose was to fulfill her duty. She was little more than a puppet.
<br><i>A duty in and of itself,</i> the woman thinks.</p>
<p class="para">
Learning of this, the elder chose not to kill the younger.
<br>Instead, she took her away and the two ran.</p>
<p class="para">That was said to have happened during torrential rainfall strong enough to wash away all the blood.
<br><i>She must be punished,</i> the woman thinks.</p>
<p class="para">She considers both the girl and the woman who saved her.
</p>
<p class="para">They had both thrown away the reasons they were given to live.</p>
<p class="para">She despises that they chose freedom at the cost of their duties.
<br>I thought you were living an unsightly life, dear sister.</p>
<p class="para">Such is the duty the woman was given—she lives for her duties and rules.</p>
<p class="para">She is to perform the last rites for the woman who was once like her sister.</p>
<p class="para">She finishes her dango and stands decisively. As she stares into space, words spill from her lips.
<br>My sister is <i>mine alone</i>.</p>
<p class="title">Chapter 2</p>
<img src="https://i.imgur.com/ihYi2eP.png">
<p class="para">
There was once a girl born to a family that wished for a boy.</p>
<p class="para">And so she was raised as a boy.</p>
<p class="para">Both lived only to fulfill their duties like puppets. But fate brought together the slaughterer and slaughtered.
<br>They joined hands, cast away their duties, and chose to live freely.</p>
<p class="para">That night coincided with torrential rain that washed away blood and tears both.</p>
<p class="para">......
<br>............
<br>..................</p>
<p class="para">The late autumn twilight was as quiet as the underworld.</p>
<p class="para">Though she appreciates the stillness, the lack of life only serves to amplify her unease.</p>
<p class="para">She is the former assassin who once lived to kill but turned her back on her orders.</p>
<p class="para">The crimson tranquility is the same as that which heralds the coming of battle.</p>
<p class="para">Or the coming of a typhoon.
<br>The house sits far from town at the edge of the forest.</p>
<p class="para">Her life with the girl is a solitary one, but peaceful.</p>
<p class="para">She is more than content with her life.</p>
<p class="para">Certainly, there's room for improvement—she is clearly inferior to the girl in many aspects,
including cooking and looks.</p>
<p class="para">Though she occasionally works as a bodyguard or mercenary,
she seldom strays far from what society considers acceptable.</p>
<p class="para">Her life is that of an ordinary human, one that does not shed much blood.
<br>She never expected this.</p>
<p class="para">Never did she think such a life was attainable.</p>
<p class="para">And yet, she finds herself living an honest life.</p>
<p class="para">Sometimes, she wonders if this life is but foam on the waves, a fleeting dream.</p>
<p class="para">She ponders this whenever she watches the girl sleep so soundly.
<br>And so she has grown especially sensitive to the air of impending danger.</p>
<p class="para">An unease lingers deep in her chest throughout the day.
<br>The sun hides away, and the early evening stars begin to twinkle in the sky.</p>
<p class="para">
A familiar young woman approaches.
<br>But no—she is more than familiar.</p>
<p class="para">She is a fellow assassin, a killer who had once taught the techniques she had mastered over a lifetime.
<br>It's been quite some time, dear sister.</p>
<p class="para">She speaks in a calm, low voice nothing like how the other woman remembered.</p>
<p class="para">Quite some time indeed...</p>
<p class="para">The woman replies in an unaffected manner.</p>
<p class="para">How long has it been since she'd been referred to as "dear sister"?
<br>It brings back memories from long ago.</p>
<p class="para">Her former student had once laughed with joy, cried often, and even hesitated to kill bugs.</p>
<p class="para">And yet, the woman taught her to strike a person's weak point in a single breath.</p>
<p class="para">She doesn't recall giving her special treatment, but she does recall that she grew to be a superb assassin.</p>
<p class="para">
The woman knows immediately that she has not simply dropped
by to say hello while passing through—she is here to kill her.
<br>The assassin speaks with delight for reasons unknown.</p>
<p class="para">
Kill the girl now and your betrayal will be forgiven.</p>
<p class="para">
It is a message from the lord the woman once served.</p>
<p class="para">The suggestion is as abrupt as it is merciless.
<br>The assassin stares, running her tongue over lips,
as the woman's brow knits and faint panic washes over her face.</p>
<p class="para">You would not have hesitated back when I knew you.</p>
<p class="para">
The woman looks to the exhilarated assassin.</p>
<p class="para">I will not go back.</p>
<p class="para">
She gives her response and returns to the house.</p>
<p class="para">She then takes the hand of the girl who had awoken at some point and rushes out of the house.
<br>The assassin simply watches as the pair runs.</p>
<p class="para">But she was prepared for this.</p>
<p class="para">In the following moments, countless silhouettes swarm around the fleeing duo.
<br>The lord's assassins had laid in wait around the woman's house.</p>
<p class="para">Kill them, the assassin orders with cold indifference. The silhouettes leap at the woman.
<br>From a pocket emerges a knife, and from a mouth a single breath.</p>
<p class="para">
The woman's blade shines in the moonlight, soaring through the night sky like a firefly.</p>
<p class="para">She fights valiantly to protect the girl,
but it is hardly the manner of one who takes lives without mercy or thought.</p>
<p class="para">This girl will live.</p>
<p class="para">She is graceful yet brutal, her eyes kind but intense.
<br>Beholding her elegance and integrity, all emotion vanishes from the assassin's face.</p>
<p class="para">
Pathetic. You truly have changed, dear sister.</p>
<p class="para">She spits and heaves a sigh.</p>
<p class="para">In stark contrast to the woman who fights to protect,
the assassin brandishes her blade, her eyes filled with twisted glee.
<br>Shall I remind you of the sweet taste of blood? The bitter taste of steel?</p>
<p class="para">The assassin dashes forth with ferocious vigor.</p>
<p class="para">The woman greets the assassin's blade with her own.
<br>She parries her back as she cuts down the other assailants.
</p>
<p class="para">Her former colleague breaks the silence with muted cries.</p>
<p class="para">One falls, and then another.
<br>The woman and the girl reel as the hot blood of the nameless killers splatters over them.
</p>
<p class="para">The girl does not make a sound—it is as though she was prepared for this.
<br>The assassin brings down her blade once more.</p>
<p class="para">The woman roots herself to the ground and focuses.</p>
<p class="para">
She concentrates her intent on the here and now.</p>
<p class="para">But as she fights to protect the girl, her body...</p>
<p class="para">Her <i>heart</i>...</p>
<p class="para">Recalls the sensation of fighting another skilled combatant to the death.
<br>Her body trembles with excitement.
<br>She derives no enjoyment from this act.</p>
<p class="para">Quite the contrary.</p>
<p class="para">But in her former life when killing was her duty, she lived by the rule of kill-or-be-killed.
<br>She lived with a cold heart fit only for murder.
<br>This shameful instinct is once again being rekindled in her, forcefully.</p>
<p class="para">Perhaps it is penance for never denying that part of her.</p>
<p class="para">The woman and the assassin exchange clashes of metal in their dance of blades.
<br>A hand grasps the back of the woman's neck, pulling her away from the assassin's blade.</p>
<p class="para">
It is as though a guardian angel intervened.</p>
<p class="para">The girl steps forward.</p>
<p class="para">
And just as her elder sister once taught her,
the assassin slashes at the girl's artery in a single elegant motion.
<br>Thus does the girl whom the woman fought so hard to protect find her life cut short.
<br>But she does not complain.</p>
<p class="para">She does not curse the woman.</p>
<p class="para">She simply looks to the heavens like a newborn child.</p>
<p class="para">It's exactly the same way she did when they cooked together.</p>
<p class="para">
With a kind smile to the woman, she departs this world.</p>
<p class="title">Chapter 3</p>
<img src="https://i.imgur.com/lzw57RJ.png">
<p class="para">They ran through the rain together, abandoning a duty-bound life.</p>
<p class="para">Their life of freedom was a lonely one, but peaceful.
<br>An honest living was far from easy, but brought with it its own joys.</p>
<p class="para">
How easily such a delicate lifestyle crumbles.
<br>Though the woman had cleaned her hands of a life of killing and instead filled them with normalcy,
she now watches as the girl's fleeting life fades before her.
</p>
<p class="para">
Blood spurts from the girl's neck, covering her face and limbs in bright, vivid red.</p>
<p class="para">Like wild mountain camellia blooming, buds broken with a fallen splendor.</p>
<p class="para">And yet, she wears a clear, carefree smile upon her face.
<br>As the woman recalls that sight, the area around her has become a sea of blood.</p>
<p class="para">
The moment she sees the girl's smile—the face she wears in death—the woman loses the last remnants of her rationality.
<br>Now, there stands a killer who once existed between the boundaries of life and death.</p>
<p class="para">The exceptional assassin that the ambitious killer so treasured.</p>
<p class="para">In her frenzy and despair, the woman's heart arrives at an understanding, and she finds acceptance.
<br>She was born to kill. She was raised to kill.</p>
<p class="para">
She killed to steal away the ordinary. She killed to overthrow the ordinary.
<br>That is her nature.
</p>
<p class="para">A wicked woman who never walked the path of the righteous.</p>
<p class="para">How could she ever lead an upstanding, normal life?</p>
<p class="para">
The impartial heavens would have never allowed her such convenience.
<br>She gazes down at the assassins she killed with her own two hands,
and then turns her eyes to the still body of the girl.</p>
<p class="para">She slowly drops her head and twists in remorse.</p>
<p class="para">
Back when she met the girl, the girl had called herself a puppet.</p>
<p class="para">The woman saw herself in the girl and absconded with her.</p>
<p class="para">
She had so frivolously assumed that they would somehow manage so long as they could escape.
<br>She would figure things out afterward.
<br>So long as the girl was happy, she would manage.</p>
<p class="para">So long as the girl lived an unassuming life in the ordinary world,
became an ordinary adult, dreamed ordinary dreams.</p>
<p class="para">The woman thought she had worked hard enough to make that wish come true.</p>
<p class="para">
It was she who had dreamed of a peaceful life.</p>
<p class="para">
And ultimately, it was she who stole the girl's future away from her.</p>
<p class="para">It was because the girl was with her that she ended up dead.
<br>Sinking to the depths of self-reproach, she digs her teeth into her lip.</p>
<p class="para">Blood oozes out and spills down her chin.</p>
<p class="para">She resembles a ghoul tearing into human flesh.</p>
<p class="para">It is not the sadness of loss that is strongest in the woman's heart, but intense resentment and anger.</p>
<p class="para">
Her face twists like it never did when she was an elite assassin.
<br>Perhaps there is nothing concealing her wicked devilishness now.</p>
<p class="para">Or perhaps it is simply the face of a demon who has become a living revenant.</p>
<p class="para">She had found tranquility in search of a happiness that never suited her, and now it was gone.</p>
<p class="para">Her white breath rose against the cold, late autumn sky like a miasma that cursed all living things.
<br>The assassin survives, clinging to a delighted consciousness with that excess power.</p>
<p class="para">Dark red blood spills from her lips,
and despite the bitterly metallic taste spreading through her mouth, she smiles.</p>
<p class="para">She gazes at the peerless demon woman that is her sister.</p>
<p class="para">She always yearned to be like her, but she always stood beyond a threshold just outside of her reach.
<br>Yes, <i>yes</i>, that's it. This is who you truly— Before she can finish, a cold white blade descends on her head.</p>
<p class="para">It happens in an instant. With precision. Without mercy.</p>
<p class="para">It is infinitely easier than preparing mackerel.</p>
<p class="para">The assassin's skull, her spirit's domicile, is cut cleanly in two.
<br>Not once, even when they spent time together, did the woman ever pull her punches.</p>
<p class="para">Not once did she ever find someone she wanted to go easy on.
<br>I have nothing left.</p>
<p class="para">Her empty emotions spill from her mouth, and slowly she begins to walk.</p>
<p class="para">In her arms, she holds the smiling corpse of the girl.</p>
<p class="para">She ventures into the mountains by the light of the moon.
<br>She buries the girl in a thicket no one will ever find, and clasps her hands together.
<br>I'm sorry.</p>
<p class="para"><i>
I'm sorry I ever tried to make a life with you.</i></p>
<p class="para">The last thing she says is a croaked apology.</p>
<p class="para">And so, she begins to walk again, alone, and vanishes.</p>
<p class="title">Chapter 4</p>
<img src="https://i.imgur.com/4fjppt1.png">
<p class="para">Several nights pass since the former assassin lost the girl she sought to protect.</p>
<p class="para">Now, the woman stages a lone assault on a castle.
<br>She has thrown everything away.</p>
<p class="para">Her faith. Her dignity. Her future. Her past.</p>
<p class="para">She exists now as an unparalleled demon of the blade.</p>
<p class="para">She is clad in black in her mourning, and she stains it with the blood of others.
<br>The samurai stationed in the castle were skilled masters adept in the art of battle.
</p>
<p class="para">Yet she cuts them all down with ease.</p>
<p class="para">They swarm her like moths to a flame, only to be engulfed in her fury.
<br>The satisfying rhythm of death resembles a carefully choreographed dance.
<br>Everyone in the castle is an object of her vengeance.
</p>
<p class="para">She shows mercy to no one, be it head servant or the lowliest maid.</p>
<p class="para">Whether they scream and beg forgiveness, turn tail and run,
it matters not—her expression remains blank, and she cuts them all down.
<br>She will kill every living thing in this castle.
</p>
<p class="para">She will sever all fates leading to this castle.</p>
<p class="para">That is her only wish.</p>
<p class="para">She kills every last family member.</p>
<p class="para">She kills every last fellow assassin.</p>
<p class="para">
She is the only survivor.
<br>She has already cut down all of her previous lord's closest confidants.
</p>
<p class="para">She does not let a single member of her clan live.</p>
<p class="para">That leaves only her master, the great lord himself.
<br>At last, she arrives at the castle keep where the lord took refuge.
<br>Assassins and the lord's personal retainers attempt to stop her,
to which she simply spits, "Bothersome flies."</p>
<p class="para">She cuts them all down.</p>
<p class="para">Valiant though they may have been, they were no match for the woman now.
<br>She steps forward across the tatami and throws open the door.</p>
<p class="para">There she finds her former master, cowering and terrified.</p>
<p class="para">The man who toyed with her fate, the one she hates more than any.</p>
<p class="para">A cruel man without a shred of decency,
willing to sacrifice his entire family if it meant more power
<br>...now curled into a trembling ball as the looming demon stands over him.</p>
<p class="para">No matter how pathetic he looks, she will never forgive him for robbing the girl of her life.
<br>For the first time in her life, the woman lends herself wholly to her wrath.</p>
<p class="para">
You can apologize from the depths of hell.</p>
<p class="para">She brings down her weapon with all her might, all her hatred.</p>
<p class="para"><i>Slice.</i></p>
<p class="para">The cold steel of her blade sinks into the lord's heart like a beast's fang.</p>
<p class="para">And thus the lord's sinful life comes to an end. He makes no sound, leaves nothing behind.
    <br>And yet the woman's rage does not abate.
</p>
<p class="para">Not once does she flee from those seeking vengeance for the slain lord.
<br>She slashes, skewers, dismembers, beheads, crushes, and mangles every last one of them.</p>
<p class="para">She kills, and kills, and kills.</p>
<p class="para">This hellscape of viscera and blood brought on by the girl's death brings the woman nothing but pain.
<br>It is as though she is an infinite font of hatred in a cruel and uncaring world.
<br>It is then that she understands.</p>
<p class="para">She is looking for a place to die.</p>
<p class="para">Her hatred is unending.</p>
<p class="para">She could destroy the entire world and still her hatred would live on.</p>
<p class="para">She hates her pathetic self for being unable to protect the girl she held so dear.</p>
<p class="para">
She hates herself more than anyone else, anything else.</p>
<p class="para">One needs an appropriate punishment for their sins.
<br>Please, she begs, why won't someone punish me?</p>
<p class="para">It does not matter if her punisher is man, beast, or demon.</p>
<p class="para">She wants to die in the most cruel manner, in gruesome agony, and savagely pulverized into the dirt.</p>
<p class="para">Only then, she believes, will her soul be saved.
<br>However...</p>
<p class="para">
Her true sin is not losing the girl.</p>
<p class="para">And she has yet to realize the truth.</p>
<p class="para">Why did the girl not leave this world with any last words?</p>
<p class="para">Only the girl knew in that moment that she was happy till her very last moments.
<br>She was happy since the day the woman took her hand.</p>
<p class="para">
She was happy to live a mundane, inconsequential life.</p>
<p class="para">She was happy she found a life in which she was free to make her own decisions.</p>
<p class="para">
She did not feel a speck of hatred for this world.</p>
<p class="para">And that is why she smiled.</p>
<p class="para">She prayed the rest of the woman's life would be happy, and she died with a heart free of hatred.
<br>The woman, who has submit wholly to her anger, cannot possibly realize this truth.</p>
<p class="para">
To the very end, the woman could never understand the girl's heart.
<br>That is the woman's gravest, most abominable sin.</p>
<p class="para">Death will not be visited upon her until she understands this sin.</p>
<p class="para">And she will never realize that to live not knowing is her greatest punishment.
<br>The demon woman roams in a purgatory of her own making.
<br>Today, tomorrow, and the next day, in a space of agony manifest by meaningless guilt,
she takes the lives of others with an inerrant heart.
<br>I will kill as much as I have to. So please, someone...kill me.
<br>She begs at the empty precipice, turning her eyes away from her only salvation.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/akeha">Back</a></p>