---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Hidden Stories</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Hidden Stories</p>
<img src="https://i.imgur.com/V7JwcPm.png">
<p class="title">Chapter 1: Life (No.01)</p>
<p class="para">Fallen leaves swirl in the
wind, kicking up dust devils
in the courtyard. Though they
steal my attention, the bright
sunlight causes me to shut my
eyes. When I open them again,
I find the leaves have drifted
to the children's feet. They
pay them no mind. Perhaps they
do not even notice.</p>
<p class="para">I watch them dance.
It is hypnotic.</p>
<p class="para">I watch them dance.
<br>It is hypnotic.</p>
<p class="para">Beneath the open sky, behind
a wall topped by ominous red
spikes, children yell as they
scamper to and fro. Their
movements are clumsy due
to their immature limbs and
musculature, but their energetic
voices still echo across the sky.
<br>Passers-by outside the wall
hear them and smile,
remembering the halcyon days
of their own childhoods.</p>
<p class="para">But the passers-by do not see
what they are holding.
</p>
<p class="para">
Each child carries a deadly
steel blade in one hand.
<br>They stand in a triangular
formation so they might better
observe one another. It is the
custom of this family for even
the youngest child to wield
true steel at all times, save
when sparring one another.
<br>This is because we must think
of our weapons as an extension
of our own bodies.</p>
<p class="para">All for the sake of our lord.</p>
<p class="para">
I sigh and look away. A man
who had been standing separate
from the children meets my
gaze and bows—their teacher,
most likely. I respond with a
brief wave of my hand. </p>
<p class="para">The family I now lead is an
organization of killers.
<br>We are killers who support
our lord's rule from the
shadows, having polished our
skills for decades so we
might ensure that his rule is
absolute. We are comprised of
many generations of blood
relatives, as well as
supporting staff. Though I
hear tell the family was not
always so large, it has now
grown in size for various
reasons: the expansion of
territory, securing power for
wartime, family feuds,
preserving secrets, and so on. </p>
<p class="para">The head of the household
receives direct orders from
our lord, while day-to-day
management of the organization
falls upon the previous lord—
my father. But his work is not
unrelated to my own; indeed,
I hold a position where I
have great sway over the
futures of our young charges.</p>
<p class="para">The children are training in
assassination. The daggers at
their belts and in their hands
are common things found
throughout the world, and
nowhere near as suited for our
work as a concealed weapon.
<br>But there are times when an
assassin cannot choose their
weapon. Perhaps they are not
yet skilled in stealth,
or perhaps their preferred
weapon breaks during a
mission. This lesson teaches
them how to act in such
unfortunate situations.
</p>
<p class="para">We have no choice in this.</p>
<p class="para">
Children will give their all
to the cruelest regiments
precisely because they are
young and innocent. Their eyes
do not yet perceive the weight
of life, and this leads them
down a path most dark. </p>
<p class="para">It reminds me of my own past.
    <br>Of the day I first took the
life of another. And if I
close my eyes, I can still
see my blood-soaked hands.
</p>
<img src="https://i.imgur.com/vlU6Rb2.png">
<p class="title">Chapter 2: Orders (No.02)</p>
<p class="para"><i>The horizon blurred, almost
as if I was viewing it after
a long and restless night.
<br>I stood in place, staring down
at a pair of hands slick with
scarlet. I had just killed
someone, and this act would
be a part of me forever.</i></p>
<p class="para">I remember the day I came of
age. Even though I would one
day inherit our house, I was
given a wooden sword and told
to drill with one of my
father's many subordinates,
no different than any other
child in a samurai family.</p>
<p class="para">My training was merciless,
and I endured it day and night
without pause. All that time,
I pretended not to notice the
cheerful sounds of children
playing beyond the walls.
<br>In hindsight, I realize my
instructor's irritable
demeanor and harsh methods
were not because he wished to
see me succeed, but because
he hated my being heir to
our house.</p>
<p class="para">
In one particularly brutal
session, I watched the man's
swordsmanship closely before
slipping through a gap in his
swing. But a child's meager
strength and short limbs are
no match for an adult—only
after we quash our fundamental
disadvantages can we first
stand on equal footing.</p>
<p class="para">The nearness of my tutor
invited a mistake in judgment.
<br></p>
<p class="para">No one in our family flounders
when another enters their
circle, and my instructor
quickly shifted his pivot foot
and continued to swipe at my
legs. Frantic, I struck his
kneecap with the handle of my
wooden sword in an attempt to
halt his momentum. My plan was
to slip past him to the left,
then send the blade into his
side. But as I readied my next
move, I saw him adjust the
grip on his sword out of the
corner of my eye.</p>
<p class="para">It was too early to step out
of the way, but too late to
dodge. Almost without
realizing it, I grabbed the
man's clothing and attempted
to body slam him. But a
child's grapple means nothing
without momentum; all the
move did was bring my physical
disadvantage to the fore. </p>
<p class="para">Instantly regretting my
mistake, I prepared myself for
pain. But rather than deliver
a blow, my instructor froze.
<br>I followed his widened eyes
and turned to see the former
head of the family: my father.
<br>He greeted my instructor,
who sheathed his wooden sword
and kneeled, then turned his
attention to me.</p>
<p class="para">"We must speak. Come."</p>
<p class="para">My father brought me to the
parlor and told me I was to
be given a mission. While the
news came as a shock, the
cold weight in his tone said
all I needed to know about
the nature of the task.</p>
<p class="para">
"I wish to acknowledge my
daughter's maturity," he said.
<br>"Before the week is out, you
will choose a target and
bring me their head. But know
this: the value of the target
determines your own worth."</p>
<p class="para">These words caused me to lift
my head; while I had expected
many possible missions, that
had never been one of my
considerations. Yet now I had
five days to eliminate someone
whose death might prove
beneficial to my father and
our house.</p>
<p class="para">My mind reeled. Unable to
reply, I bowed deeply and
exited the room. The question
of which life was the correct
one to take held me tight,
almost as if I had been seized
and bound in a great and
weighty chain.</p>
<img src="https://i.imgur.com/RQJ3m3o.png">
<p class="title">Chapter 3: Fate (No.03)</p>
<p class="para">If it was ever acceptable to
measure the worth of another's
life, who would have the right
to do so? Even if it is not
acceptable, people still seek
their own worth.</p>
<p class="para">It is as though the value
of one's life is fixed.</p>
<p class="para">I was given my first order to
kill when I was yet young.
<br>The trial would serve as a
display of our abilities,
and involved us killing a
target of our choosing.</p>
<p class="para">I was allowed to venture into
the city under supervision of
people from the family in
order to search for a target.
<br>While I sometimes left the
house for espionage missions,
such instances had been rare.
<br>This was the first time I was
able to act and search of my
own accord.</p>
<p class="para">As I moved through the city,
I recalled something my
instructor said to me before
I left on my mission:</p>
<p class="para"><i>Anyone can be killed if they
are considered weak. Even you.</i></p>
<p class="para">His meaning was clear: If I
did not put my life on the
line to satisfy my father,
he would take it without
any hesitation.</p>
<p class="para">
But I was so young, and the
hesitation of taking a life
combined with the pressure I
felt in the face of my trial
was enough to drive me into
the proverbial corner.</p>
<p class="para">And that fear bound my shadow
to my house. How ironic.
</p>
<p class="para">As I searched for my target,
I did my best to hide my
trembling fingers in my fists.
<br>I wandered the boundary
between light and dark,
weaving the narrow alleyways
between buildings as I tried
to make my decision. It was as
far from true freedom as one
could be, yet I mistook it for
such in those early days.</p>
<p class="para"><i>
Removing this samurai will
be more than enough to display
my strength.</i></p>
<p class="para"><i>But I have never killed
before. Can I do it?</i></p>
<p class="para"><i>
That man drowns in unearned
riches. His death will be easy
and beneficial.</i></p>
<p class="para"><i>But is that enough to
satisfy my father?</i></p>
<p class="para"><i>
That merchant has earned
great ire from the townsfolk.<br>Many would want him dead.</i></p>
<p class="para"><i>Is it my place to make
such a judgment?
</i></p>
<p class="para">
My thoughts came to a dead
end. I repeated the same
actions over and over until
the very last day, staring for
hours at the boundary between
light and dark.</p>
<p class="para">When that last day came,
I grew impatient. Where did
I even go? I know I pursued
my target with fevered
desperation and a kind of
awkwardness, and eventually
my hesitation led me back
home, where I stared at the
weapons along the wall of
my room and shivered.</p>
<p class="para">Who can I kill?
<br>Who is the right candidate?
<br>Who is all right to kill?
<br>How should I kill?
<br>When should I kill?
<br>Where should I kill?</p>
<p class="para">In the end, perhaps the answer
is for me to kill...<i>me</i>.</p>
<p class="para">My family made children
determine the value of a life,
putting their very selves at
risk in the process. Indeed,
that was likely the purpose
of the exercise. Will their
sensibilities break under the
weight? Will their spirits
shatter under the pressure?
<br>Can they still bring profit
to the family? </p>
<p class="para">In the end, it taught me that
hesitation in the face of a
kill was unnecessary to those
of my household. Perhaps it
even served the purpose of
destroying any worthless
hopes and dreams.</p>
<p class="para">I greeted the dawn of the
final day with exhaustion
and anguish. I had forgotten
what it meant to be alive.</p>
<p class="para">When I finally looked down,
I realized my hands were
soaked with blood. My eyes
clouded, and I found myself
unable to hide my irritation.
<br>As such, I did not notice my
fingertips relax and begin to
draw slow patterns in the
soft earth below.</p>
<p class="para">Almost as if this was the way
things were meant to be.</p>
<p class="para"></p><img src="https://i.imgur.com/qFaCG4y.png">
<p class="title">Chapter 4: The End (No.04)</p><p class="para"></p>
<p class="para">The bodies lay at my feet.
<br>Their eyes lifeless. Waxy. </p>
<p class="para">A blossom of brilliant
crimson bloomed. Its wretched
vermillion petals scattered.
<br>As I looked down at my palm
and saw a dim reflection
of glimmering light, memory
finally returned. </p>
<p class="para">I'd always wondered what was
so different between the life
I led within the walls and the lives
of the children who lived outside it.
<br>But when I finally asked the
question, it was far too late.</p>
<p class="para">That was the moment I killed
a part of myself.</p>
<p class="para">My father gave me the mission
and allowed me to choose my
companions, so I selected my
instructor and his younger brother.
<br>They had long been dissatisfied
with our family and current lord,
and since I would one day
assume that position, I saw the
mission as a chance to solve
that most tired of problems.</p>
<p class="para">Perhaps I let my guard down
in the process.</p>
<p class="para">
I knew they schemed to use me
to depose the current lord,
and when I snuck into their
manor under the curtain and
shadows of night, the were so
engaged in their plans they
did not notice me. But as
they continued to converse,
I felt time growing short.</p>
<p class="para"><i>Father will be pleased that
I am ridding him of traitors. </i></p>
<p class="para">Alas, I did not bother think
of <i>how</i> I would kill them.
<br>Soon, thick sprays of blood
flew through the moonlight.
</p>
<p class="para">
My father praised me when I
returned with their heads.
<br>Though I took their lives in
a cowardly ambush, he was
pleased I had the backbone to
kill people I knew personally.
<br>Thinking back, I'm sure it
was a test—my father knew full
well who the traitors were.
<br>Though I was now free from
the trial, my life as a killer
had only just begun. </p>
<p class="para">Afterward, I meticulously
washed the blood from my
cold hands and let them rest,
folded as though in prayer,
on my lap. But it was a
fool's errand; those hands
would be soaked in blood
countless times after that.
<br>No matter how I scrubbed and
scrubbed and scrubbed and
scrubbed and scrubbed,
I could never cleanse
the stains of murder.</p>
<p class="para">I could never walk a
different path.
</p>
<p class="para">And so, I began to plan. </p>
<p class="para">I watch as the children devote
themselves to their training.
They have yet to learn of the
outside world, and know
nothing of the circumstances
of their existence. I lead
this family now, and much as
my father before me, I will
likely shake them free of
their reverie with a trial of
blood and death.</p>
<p class="para">This is wrong. I know it to
be so. But I have walked the
path of a killer. Even if I
were to cast it all aside and
free them from this house,
I know not if I could protect
them from whatever the future
holds. Perhaps they would only
end up lifeless on the ground,
just like those who plotted
betrayal and met death by
my own hands.</p>
<p class="para">
Birds freed from their cage.
<br>Dolls obtaining sentience.
<br>Where would they go?
<br>Would they travel?
<br>Do they even know such
a thing is possible?</p>
<p class="para">And what of me? </p>
<p class="para">The past steals freedom.
Responsibilities steal
freedom.
<br>The future steals
freedom.
<br>The fetters of
unending reincarnation have
returned to me once again,
and though I now have the
power to choose, I have no
solution at the ready.
</p>
<p class="para">It is a riddle with no
solution, and I hate it
with all that I am.</p>
<p class="para"></p><img src="https://i.imgur.com/Ato0coZ.png">
<p class="title">Chapter 5: Regret (No.05)</p><p class="para"></p>
<p class="para">Home is a place for kin
to gather.</p>
<p class="para">Kin is a concept created by
people for the sake of others.
<br>They do not have wills of
their own. They are but words—
or so they are meant to be.
<br>Yet it seems those who never
intended to find a home now
find themselves amongst kin.</p>
<p class="para">
Those who have abandoned a
sense of individuality to come
together under a singular
belief and roof have formed a
bond more powerful than
anything—and are more feared
than anything.</p>
<p class="para">But she alone is different.
<br>She is the only one who stares
off into the distance. </p>
<p class="para">
She gazes beyond the walls
that encircle the manor. From
within the prison that is her
home, she looks to a world
somewhere beyond.</p>
<p class="para"></p><img src="https://i.imgur.com/5pqyIQi.png">
<p class="title">Chapter 6: The Regular (No.06)</p><p class="para"></p>
<p class="para">There's one regular who often
comes to my shop for a cup of
tea and a plate of dango.
<br>She's always alone, and always
carries a katana, which tells
me she must be of some
significant standing. I'm not
certain what she sees in my
humble little establishment,
but I appreciate the business.</p>
<p class="para">
At first, I was terrified of
her, for the crest on her
clothing belongs to the manor
known as the Den of Demons.
<br>It's an eerie place that
normal citizens all steer
clear of—but when I thought
about it more, I realized the
reputation came from nothing
but hearsay. I felt shame at
having judged someone based on
rumors, and more ashamed still
since she was a regular.</p>
<p class="para">So today I made her more
dangos than usual. </p>
<p class="para">"This is my thanks for you
being a frequent customer,"
I say as I hand her two plates
piled high with dangos.
</p>
<p class="para">She looks at me in shock and
murmurs a brief thanks.</p>
<p class="para"></p><img src="https://i.imgur.com/bmmJngN.png">
<p class="title">Chapter 7: Indigo (No.07)</p><p class="para"></p>
<p class="para">"I'm home!"</p>
<p class="para">
"Welcome back. ...Hmm?
What's with the pot?" </p>
<p class="para">
"I got these flowers after
helping at the temple today.
<br>I was admiring them, and they
said they had way more than
they needed, so they let me
take some back."</p>
<p class="para">"Well, how nice of them.
You'll have to return and
thank them later."</p>
<p class="para">"It was nice, right?
<br>Anyway,I figured since they're
letting me have some, I should
get blossoms as close to red
and blue as possible."
</p>
<p class="para">"What? Why?"</p>
<p class="para">"Because then they match
our names, silly!"</p>
<p class="para">"Not sure I'd call that color
Scarlet, but I suppose the
blue one could be Indigo if
you squint real hard."</p>
<p class="para">
"Oh, don't be a downer!
It's the thought that counts!"</p>
<p class="para"></p><img src="https://i.imgur.com/sDUVuNs.png">
<p class="title">Chapter 8: The Poison from the Cure (No.08)</p><p class="para"></p>
<p class="para">A peculiar air settled over the house known
as The Demon's Den. Stalwart fighters who
were the eyes and ears of the dreadful
undefeated hound—and who at times acted
as her fangs—gathered in the hall for
a somber discussion.</p>
<p class="para">
Though they had successfully vanished
the successor of the opposing lord,
the body had yet to be found.
<br>But more importantly, the woman
who served as head of their house
had gotten into a skirmish and cut
down countless enemy samurai.
<br>She then dragged her injured self away
and vanished like smoke,
leaving only a bloodstain behind.</p>
<p class="para">If she were dead, well and good.
<br>But if she yet lived, it meant trouble.
<br>For she was their lord, the one who knew
every secret of the house. She was a cure
to all problems while within their walls,
yet would be poison if ever she
turned her back.</p>
<p class="para">"We cannot permit her to live. Find her. End her."</p>
<p class="para">The metallic sound of blades loosening
in scabbards echoed throughout
the room in reply.</p>
<p class="para"></p><img src="https://i.imgur.com/ZNp2dvA.png">
<p class="title">Chapter 9: Stupor (No.09)</p><p class="para"></p>
<p class="para">Twilight. Fading sun shines through the smallest gap in the
woman's eyelids. Her vision is crimson. Vaguely, she hears
the faint drumming of a heartbeat.
</p>
<p class="para">When viewed through a curtain of blood, everything looks the
same. The woman stares at palms and footprints stained the same deep shade of red. She thinks back on that day,
a dim one drowned in rain, when she met the girl. The girl who bore the selfsame scars. The girl she attempted to save
in exchange for her own life.</p>
<p class="para"><i>But, the woman thinks, have I not been using her life
to save my own?
</i></p>
<p class="para">And it's true: The life she thought she saved, she had
merely claimed for herself. </p>
<p class="para">
Alone, the woman is ashamed. She scolds herself. For she
knows that when she sees the girl smile, she will forget
the blood staining her own hands.</p>
<p class="para"></p><img src="https://i.imgur.com/P7AjWm1.png">
<p class="title">Chapter 10: The Beautiful Scarlet Devil (No.10)</p><p class="para"></p>
<p class="para">One fateful day, the head of our house vanished.
<br>It was she who taught me how to live—and how
to kill—in this cruel world of ours.
</p>
<p class="para">Despite not being related by blood I admired her
as one might an older sister and referred to her
as such, and it is she who made me into the
devil I am today.</p>
<p class="para">The sudden absence of the one most skilled
among us with a blade bettered my own status
within our house, but plunged us into chaos
and petty rivalries at the same time. There are
even feuds regarding whether or not it is
appropriate for those not of our head's bloodline
to accept missions from our lord.</p>
<p class="para">How foolish it all is. I've no interest in authority
or power. For neither did she, you see, and that
it was allowed her to grasp the peerless strength
she wielded.</p>
<p class="para">I search for her even now; her beautiful pale skin
stained with the blood of her enemies, her gaze
as cold and dark as night turned upon the corpses
of her felled foes.</p>
<p class="para">"Oh, my dear sister... Where have you gone?"</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/akeha">Back</a></p>