---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>063y's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">063y's Character Story</p>
<p class="title"><a href="https://www.youtube.com/watch?v=dPT0V-fo3Kg"><u>Video</u></a></p>
<p class="title">Chapter 1</p>
<p class="para">The wife's in a terrible mood... It's because I forgot her birthday which, yeah, was a mistake.
<br>But does she need to be <i>this</i> angry? She's not being reasonable—and I'm going to tell her so!</p>
<p class="para">Uh oh. The moment I open my mouth, she launches into a rant about all of her woes:
<br>I don't understand women. I'm crude. I'm insensitive. She starts unloading all sorts of stuff on
me. Blah blah blah. Well, I'm sure as hell not going to just lie back and take all that!</p>
<p class="para">
"You know, this is what I hate about you!" I snarl.
<br>"You're always bringing up these stupid unrelated issues!"
</p>
<p class="para">The moment the words leave my mouth, I know I've gone too far; one look at her face is all I need
to realize that. She points to the door—and I know what <i>that</i> means. And while part of me is
annoyed as hell at all of this... I decide to get out while the getting's good.</p>
<p class="title">Chapter 2</p>
<p class="para">I escape to the mess hall. My friends come up to me and ask what's the matter—
guess I look a little pale. But when I tell them how I just had a blow-up with the wife, their
concern dissolves into peals of laughter. After they have their fun, they tell me I'm the one at
fault. Each one has a different strategy I can use to make amends. As they talk, I realize
they're pretty good pals, all in all.</p>
<p class="para">I decide to put their plan into motion. I return to the room and pick my wife up off her
feet. She seems perplexed, but intrigued—which is good. I then start spinning her around the
room in a dance, showing off my strength as well as my moves. But of course, I take it too far.
<br>By the time I realize it, her face has progressed from confusion to downright fury. So before
<br>I can wreck it more, I dash out of the room.</p>
<p class="title">Chapter 3</p>
<p class="para">As I think about what to do, the unit commander appears. Word of our marital squabble
has spread throughout the base. He warns me it will be a hindrance to our operations. Since
he seems to care, I tell him what happened and ask for his advice. He chuckles a little. He then
tells me he doesn't have any ideas—and doesn't care enough to think of any. But then he gives
me a piece of "paper"—something people apparently used long, long ago in order to make
amends. I don't know what he's thinking, but he's not the kind of man to act without purpose.
<br>I decide his words must have <i>some</i> meaning. Apparently "paper" is a relic of the past used for
writing. That's when it comes to me:</p>
<p class="para">Since I usually say too much, I'll write a "letter" to my wife instead.</p>
<p class="title">Chapter 4</p>
<p class="para">But I'm not sure what usually goes into a letter. Maybe I should start with thanks for
everything she does for me every day? No, wait. An apology is probably better. I write letter after
letter as I think of my wife. I write, then erase. Write, then erase.</p>
<p class="para">Write, then erase. After ten or so attempts, the letter is finally complete. I go home
and hand it to my wife, whose eyes go wide. This could just be because a letter is so unfamiliar,
but more likely it's because I'm genuinely apologizing. Once she reads the letter, she smiles and
looks at me.Then she wraps me up in a hug... It would seem all is forgiven. My messy writing on
the crumpled paper was simple: "I will protect and love you with all of my life. This I swear..."
<br>No matter what the future may hold.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/063y">Back</a></p>