---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>063y's Costumes</title>
<style>
    img{
        -webkit-filter: brightness(100%);
        padding: 0%;
        max-width: 144px;
        max-height: 144px;
    }
    img:hover{
        -webkit-filter: brightness(70%);
        transform: scale(98%);
    }

  .para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
.Guide {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

@media screen and (orientation: portrait){
.Guide > .title { 
  font-size: 0.75rem;
  letter-spacing: 2px;
}
}
@media screen and (min-width: 320px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (min-width: 769px) {
  .Guide {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1025px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1201px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1919px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (min-width: 1921px) {
  .Guide {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
}
</style>  
<p style="margin-top: 1cm; font-size: 300%;">063y's Costumes</p>

<div class="over">
<div class="Guide">
<div class="media-card"><a href="/stories/reincarnation/characters/s1/063y/costumes/stalwart-prisoner"><img class="img-special" src="https://i.imgur.com/mgR5aXt.png" loading="lazy"><p class="title">Stalwart Prisoner</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/063y/costumes/guardian-prisoner"><img class="img-special" src="https://i.imgur.com/wwsdn2W.png" loading="lazy"><p class="title">Guardian Prisoner</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/063y/costumes/dissenting-prisoner"><img class="img-special" src="https://i.imgur.com/sUfvhvj.png" loading="lazy"><p class="title">Dissenting Prisoner</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/063y/costumes/fractured-prisoner"><img class="img-special" src="https://i.imgur.com/gSmwvrv.png" loading="lazy"><p class="title">Fractured Prisoner</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/063y/costumes/summer-prisoner"><img class="img-special" src="https://i.imgur.com/0lWDdzo.png" loading="lazy"><p class="title">Summer Prisoner</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/063y/costumes/new-years-prisoner"><img class="img-special" src="https://i.imgur.com/glxwY9F.png" loading="lazy"><p class="title">New Year's Prisoner</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/063y/costumes/abyssal-prisoner"><img class="img-special" src="https://i.imgur.com/qnLcwfB.png" loading="lazy"><p class="title">Abyssal Prisoner</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/063y/costumes/yuletide-prisoner"><img class="img-special" src="https://i.imgur.com/zA4orCU.png" loading="lazy"><p class="title">Yuletide Prisoner</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/063y/costumes/celebratory-prisoner"><img class="img-special" src="https://i.imgur.com/aTUYhxx.png" loading="lazy"><p class="title">Celebratory Prisoner</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/063y/costumes/divine-prisoner"><img class="img-special" src="https://i.imgur.com/aQhh7NE.png" loading="lazy"><p class="title">Divine Prisoner</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/063y/costumes/abstract-prisoner"><img class="img-special" src="https://i.imgur.com/tQmngpo.png" loading="lazy"><p class="title">Abstract Prisoner</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/063y/costumes/phantasmal-prisoner"><img class="img-special" src="https://i.imgur.com/IgQfZoq.png" loading="lazy"><p class="title">Phantasmal Prisoner</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/063y/costumes/reborn-convict"><img class="img-special" src="https://i.imgur.com/nFXUQYq.png" loading="lazy"><p class="title">Reborn Convict</p></a></div>
<div class="media-card"><a href="/stories/reincarnation/characters/s1/063y/costumes/f-h-convict"><img class="img-special" src="https://i.imgur.com/PIvvJpf.png" loading="lazy"><p class="title">Frozen Heart Convict</p></a></div>




</div>
</div>
<br><br><br><br>
<p class="line"></p>
<p class="menu" id="backButton"><a href="/stories/reincarnation/characters/s1/063y">Back</a></p>