---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>priSOner</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">priSOner</p>
<p class="title"><a href="https://www.youtube.com/watch?v=NvPdn91VD-E"><u>Video</u></a></p>
<img src="https://i.imgur.com/JDrdzxw.png">
<p class="title">Chapter 1</p>
<p class="para">On his child's birthday, a husband and his family visit the shopping mall.
<br>The child frolics with delight at his new robot toy, while his beloved wife
watches with a smile. It is just the sort of mundane, yet special, day he was
hoping for.</p>
<p class="para">But everything comes crashing down with a rumble of the earth. The floor of
the mall cracks open and disgorges an army of slithering tentacles and giant
plants—the first appearance of the monsters that would come to be
known as Flowers.</p>
<p class="para">The couple lost their child that day, and now live in a military establishment
where prisoners like them are forced to battle the Flowers. They are enslaved
both by their desire for revenge and their own government, and they know the
past will never return to them.</p>
<p class="title">Chapter 2</p>
<p class="para">Though they are soldiers, they are also prisoners. The facility is so
strictly managed, they are not even free to choose their mealtimes.
<br>Instead, they must undergo a security check before entering the feeding hall,
then wait in line for sustenance.</p>
<p class="para">As the man waits patiently on this day, a shrill alarm suddenly rings out.
<br>It is one he recognizes: a fellow prisoner is attempting to escape. But the
event holds little interest for him, for he knows their commander will simply
hold a hand up to the defective subject and force them to instantly behave.
<br>This power has something to do with the clothing they wear, but the man has
no interest in these details either. Instead, he goes through his security check
and takes his meal back to a table. But as he raises the food to his mouth,
another alarm rings out—one that drains the blood from his face. He knows the
meaning of this one as well: The Flowers have appeared.</p>
<p class="title">Chapter 3</p>
<p class="para">Once the government recognized the Flowers' threat, it began drafting citizen
soldiers. Those so chosen were given clothes that prevented escape, stripped of
their names, and transported into battle.</p>
<p class="para">But when the prisoners enter the battlefield this day, they discover a larger,
more sinister Flower than any they have yet seen. Person after person falls, until
only the man and his wife remain. But just as the man is about to turn and flee,
reinforcements arrive and turn the tide of the fight.</p>
<p class="para">When it is over, the couple thanks their fellow prisoners profusely.
<br>Though their names, freedom, and dignity have all been taken, this feeling of
solidarity is a new and precious gift. But then, their rejoicing allies suddenly
freeze in place, halting like machines with a set of faulty gears.</p>
<img src="https://i.imgur.com/queXGon.png">
<p class="title">Chapter 4</p>
<p class="para">The couple stares on, bewildered, as their new allies march toward a cliff and
begin throwing themselves off it. After this, the commander appears and explains
everything. The government has been working to create perfect soldiers who will
obey without question, disposing of any who do not meet their exacting
standards—and since the couple refused the order to jump, they are now
considered defective.</p>
<p class="para">His speech finished, the commander stabs the wife and turns on the husband,
but before he can finish the job, she saves his life by shoving him off the cliff.
<br>He lands on the broken bodies of his former comrades and begins to howl with
misery, for at that moment he realizes the Flowers are not his only enemy.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/063y">Back</a></p>