---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Woman</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
</style>
<p style="margin-top: 1cm; font-size: 300%;"><strong>Magnitude Negative: Heaven</strong></p>
<img src="https://i.imgur.com/XHuviQJ.jpeg">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/barnabism">Barnabism and Bri</a></p>   
<p class="para"><i>A prayer of a woman turned into a stake will flow a path of blood to the end ​ ​</i></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>1</strong></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>
<p class ="para"></p>

<p class="line"></p>
<p class="menu"><a href="/stories/d1/rd1/rmn/03earth">Previous Chapter</a></p>
<p class="menu"><a href="/stories/d1/rd1/rmn/04heaven">Next Chapter</a></p>
<p class="menu"><a href="/stories/d1/mn">Back</a></p>