---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Heaven</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
</style>
<p style="margin-top: 1cm; font-size: 300%;"><strong>Magnitude Negative: Heaven</strong></p>
<img src="https://i.imgur.com/XHuviQJ.jpeg">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/barnabism">Barnabism and Bri</a></p>
<p class="para"><i>A prayer of a woman turned into a stake will flow a path of blood to the end ​ ​</i></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>1</strong></p>
<p class="para">The Blue Mountains… An area of vast, grassy plains with rolling hills that sat to the East of Midgard. The sky may have been covered with clouds, but the grass still retained its brilliant vibrant green. The vivid colours the soldiers held in their eyes were soon enough filled with the colour of worn and rugged armour.</p>
<p class="para">Blue flags scattered across the plains, and a countless number of silver spearheads shone.</p>
<p class="para">All different people had gathered from all parts of Midgard, and so the Union’s numbers had swelled to about three-hundred and fifty thousand. <i>This</i>was humanity’s last act of revolt against the Empire. The rallying shouts of soldiers could be heard expanding across the plains.</p>
<p class="para">With their shields refurbished, and their swords sharpened, they were prepared for the battle that was ready at any moment to begin.</p>
<p class="para">The Empire’s army had concentrated itself on the east side of the hill. From where the Union soldiers had stood, it looked like a moving array of silver clouds — It didn’t seem like their numbers had decreased any less here.</p>
<p class="para">Behind them, lay none other than the Imperial Capital itself.</p>
<p class="para">Verdelet stood in front of a tent built on the hillside. Behind him stood Leonard. Both listened intently to the clamour of military boots coming and going; as the leader of the Union, the Hierarch Verdelet’s worries ran deep. The whereabouts of the Goddess were still unknown. On the other hand, there was fortune to be found in the midst of all the turmoil that rested in that there were still no signs that the seal had been broken. There were still yet to be any reports of the emergence of the Seeds of Resurrection that would descend upon the coming of the endtimes of the human world.</p>
<p class="para">That, and since there was no one who could say they had experienced the end of the world for themselves, he couldn’t say for sure he thought that “The end of the world” was a concept that everyone there could process <i>clearly</i> in that moment. Perhaps…… If the Empire was aware of the nature of the “Mark of the Goddess”, even if for a little while longer, no harm would come to her. Whether such would be the case or not, though, they knew that it was nothing that could be left alone forever.</p>
<p class="para">If the Empire was as strong as they had imagined them to be, however…… Then, it was only inevitable that the seal would be broken no matter what they did.</p>
<p class="para">…There was no time to spend miring himself in such trouble. Verdelet hurried and busied himself in preparation for battle. The various princes and aristocrats who had arrived at the battlefield frequently came to greet him in the meanwhile. While the deployment itself was left in the hands of the respective generals, they still went in order to confirm that the armaments and proper numbers of soldiers were all in order. Among the various lords and aristocrats, even then there were many who couldn’t put aside their rivalries, causing all manner of troubles between both themselves and each other. Even more so, managing the distribution of food and weapons needed to support the swelled numbers of the army was nothing short of a headache. After all, it was a great united force where all nations, for the first time in history, gathered and mingled together in solidarity.</p>
<p class="para">The numbers proved promising even with all and every type of citizen being thrown into the pot, equally as one.</p>
<p class="para">Leonard muttered something to Verdelet as he arrived next to his side.</p>
<p class="para">“...To think that the long generations of territorial disputes have been settled in only a short number of years. Of all the destruction and pain left by the Empire… This, perhaps, is the only good that has come of it.”</p>
<p class="para">Verdelet adamantly shook his head. “Such disputes have not been banished for good, Leonard. For a moment’s time, they have merely been shelved. We are simply not so wise... How many troubles do you think have been brought before me on this day?”</p>
<p class="para">“No matter what it may be… It is a dark conclusion that humans may only be brought together by fear…”</p>
<p class="para">From the front of them, food was being supplied.</p>
<p class="para">The soldiers lined up and chatted amongst one another — This very well may have been their last meal. With all each other’s thoughts resting within their hearts, they receive their bowls.</p>
<p class="para">Laughter erupted among one particular circle of soldiers; Seere stood at the centre, and laughed alongside them. He made a big, circular motion with his arms and walked around with large, long strides, seeming to be explaining something. A smile engraved itself across Leonard’s face as well.</p>
<p class="para">But, something heavy had weighed itself down on Verdelet’s mind just then.</p>
<p class="para"><i>…To think that such a child would be used as a tool for war.</i></p>
<p class="para">Even so, the power of one who had been consigned into a pact was nothing short of <i>invaluable</i> for such a time as this. Seere’s power, the power of Leonard, who stood next to him, and the other one — That elf woman, Arioch. As of now, she was sleeping peacefully inside Verdelet’s tent. With his magic, her heart had been made calm again — She wouldn’t be wracked with such cravings for a while, now. It was also a thought that the use of such magic would serve <i>detrimental</i> to the power she gained in her pact. Yet, if she were to attack Seere… The consequences would be irreversible. There had always been such a particular sort of glint within her eyes as she looked at the child.</p>
<p class="para">“Leonard, do you feel rage? Do you feel anger towards me that such a child will be sent out into the field of battle against the Empire?”</p>
<p class="para">Leonard’s expression was sorrowful. His eyes were tightly shut and his lips had drawn themselves into a thin line. After a while, he let go.</p>
<p class="para">“I, as well, am beyond any change…” The thought was shaken from his head. “I stand against sending young Seere to the battlefield. But… There is something else which he desires. What could I possibly have to say to him?”</p>
<p class="para"><i>'Yes yes! No matter what you say, you aren’t the gentle giant you play yourself as at all! The more blind they grow, the greedier you become, just dirty to the core! Isn’t that right, Leonard? Hahah!’ </i>The rays of light flashed around wildly.</p>
<p class="para">“Leonard… Even if we fear what will become, we must only hold this child and pray he survives. As shameful as it may be…”</p>
<p class="para">“No man may ever truly forget their own fear of death. They merely close their eyes… They leave something left to cover them, for as long as it may be.”</p>
<p class="para">Verdelet lifted his head towards the sky. Was there anyone who truly knew the nature of their own death? Normally, no one died <i>immediately</i> after understanding that they would. People lived carelessly in spite of themselves and all that was around them, and then they died. That was it. Most people just died of completely unavoidable causes, nothing more. There was no point in struggling.</p>
<p class="para">‘Well isn’t that rich? You might as well confess it right now! Fornication and death for you smelly humans is a joke! A joke! What poor work, really. Just terrible! Ugly!! Go on, say some more, will you? ‘I want to live!! I don’t want to die. I want to protect these three, even if it costs me my life!’ Ahahahahaha! No one needs to worry themselves about such a simple-headed creature, or, wait wait! Maybe I should put it like this: Why don’t you go ahead and just <strong>try</strong> to kill yourself? Ahaha!’</p>
<p class="para">Verdelet fell silent hearing the words of that repulsive little creature. His mind traced back to his pact-beast, petrified in a distant land. The cold, sculpted form of an ancient wyrm.</p>
<p class="para">……What kind of judgement did it have about humans? What made it turn to stone?</p>
<p class="para">Could it have been against the will of the Gods for they, the children of man, to resist against the Empire? Merely covering their eyes to their fear of death.</p>
<p class="para"><i>(Indeed, our human race has been deceived, and will be deceived, has been manipulated, and so it will be… That is how we are made. All those who have been consigned into a pact — I, too — clash to no end with such hearts left unambiguous to each other… Caim’s vengeance, Leonard’s desire, Arioch’s hunger, the self-contradiction of that boy, the emptiness within that slave-trader… Even Inuart’s love, all are far too naive. Perhaps it is this innocence that is the standard of the beasts who form these pacts with we humans.)</i></p>
<p class="para">So were the thoughts of the former pact-partner. Had he lost his innocence being smeared by the blight of the Gods? Whether that in itself was a good or bad thing could never be judged.</p>
<p class="para">“Whether good or evil, if taken too far, you will end as something which cannot clearly be defined in either nature… <i>Will we?</i>” Verdelet muttered in a low voice.</p>
<p class="para">Once he had drawn himself out from his mire of thoughts, he had noticed a soldier in front of him.</p>
<p class="para">A man in his mid-thirties. Though his face was small, his cheekbones were extremely high. With narrow eyes and a thick beard, he didn’t have an exactly childish face, but all the same, it somehow reminded the Hierarch of that of a baby’s. His limbs were long like a mantis… This man was one of the commanders of the patrol which guarded the camp.</p>
<p class="para">“What is it?”</p>
<p class="para">“There’s… A mysterious cart has been found on the outskirts of the battlefield, sir!” The commander stood still, his voice pronounced.</p>
<p class="para">“A cart…? Could that cart be that of a civilian’s?”</p>
<p class="para">Verdelet’s expression was clouded with confusion. Even if it had come to issue a report from those ends, it would be far too difficult to move at all.</p>
<p class="para">The commander bowed his head and continued to speak loudly.</p>
<p class="para">“It may be that it was the same slave-trader who had protected Lady Furiae!”</p>
<p class="para">“Could it be…? That ‘Dream Eater’?”</p>
<p class="para">“So I believe!” As he answered, the commander’s face grew pale.</p>
<p class="para">“...Aadah?” Leonard muttered to himself.</p>
<p class="para">Verdelet’s head turned in confusion as well.</p>
<p class="para">……How strange. She had gotten the money for selling Seere — She certainly seemed to be in high spirits at finally being able to return home.</p>
<p class="para">“It could be… No, Hierarch, I am certain! It must be her!”</p>
<p class="para">“Then let us hurry,” Leonard said, “Seere!”</p>
<p class="para">Seere raised his head hearing Leonard’s voice, a smile still on his face. The soldiers surrounding him all turned their dirtied faces at once. Verdelet spoke.</p>
<p class="para">“It seems that your former master has returned. But… At such a time like this?”</p>
<p class="para">Seere raised his brows and made a confused face, walking through the circle of soldiers.</p>
<p class="para">“Aadah…?” He asked.</p>
<p class="para">“So it would seem!” The commander loudly replied.</p>
<p class="para">“But… Why…?”</p>
<p class="para">Seere scraped the toe of his shoe against the ground. In Verdelet’s eyes, he thought that Seere looked to be somewhat resentful. Leonard gently tapped his hand against his shoulder.</p>
<p class="para">“Perhaps we will come to know more, if we go.”And so, under the guidance of the commander, the three headed off towards the edge of the camp.</p>
<p class="para">Before the decisive battle, the general mood among the soldiers was ridiculously bright. They gathered and flocked around the lavishly saddled white horses and carriages that the lords had rode in on and commented to each other on their designs. They passed around and drank from a water flask, though it likely held alcohol instead, and smiled.</p>
<p class="para">As Leonard has put it, such trivial actions may have very well just have been their “Hiding their fear of death”. Still, whenever the hermit had noticed Verdelet’s gaze, his face always grew tense with gratitude all the same. Swords, spears, and all different weapons were raised to the sky—even if they were met with the setting of the sun halfway through their celebrations, they paid it no mind. It was only reasonable courtesy for all those who stood among them.</p>
<p class="para">After a fair distance had passed from all the hustle and bustle, the soldiers became sparse. There stood a thicket, withered, and without a single leaf to be seen. The four-wheeled cart had stopped off to its side. It looked like any regular cart, though it was covered with a hood that prevented them from being able to see the inside. The coachman’s stand was empty.</p>
<p class="para">The horse tack had been removed. Near the cart grazed the three horses that presumably belonged to it, five or six soldiers standing around them—all wore a dark expression. They peered, cautiously, into the cart, and immediately backed away.</p>
<p class="para">……The commander. Those soldiers there. Something was <i>wrong</i>.</p>
<p class="para">A bad feeling began to well up within Verdelet’s chest.</p>
<p class="para">As Verdelet, Seere, Leonard, and the unit commander approached, the small group of soldiers who were hanging around the area finally began to show signs of relief.</p>
<p class="para">“Over there…!”</p>
<p class="para">The commander’s voice cracked slightly.</p>
<p class="para">Stepping through the grass and avoiding the horses, Verdelet stopped before the backside of the cart.</p>
<p class="para">He peeked inside the canopy.</p>
<p class="para">And lost all will to speak.</p>
<p class="para"><i>…Was that a human being…?</i></p>
<p class="para">The cargo bed was filled with bloated chunks of flesh; the skin coloured closer to <i>snow</i> than actual skin. The veins were made completely visible from underneath.</p>
<p class="para">In the centre of the swelling he could see something like a navel, and there was also something that looked like a breast. Those were the only ways he could tell that this was… <i>At one point</i> a human being. The head, limbs, and everything was swallowed beneath the bloated torso; it wasn’t even clear whether there was anything there at <i>all</i> or not.</p>
<p class="para">The tattered wreckage of clothing, torn from the bloating, laid miserably scattered across the cart. A gut-churning stench like vomit and excrement combined in assault against his senses. Leonard grimaced at the smell and listened.</p>
<p class="para">“What has happened here…? Is this Aadah?”</p>
<p class="para">The already wax-white colour of Verdelet’s face progressed one step further, unable to bring himself to give any platitudes of gratitude for his blindness. Seere, who had been hiding behind Verdelet’s back, whispered over to the lump of flesh.</p>
<p class="para">“Aadah…?”</p>
<p class="para">“...Oh. Se… ere…?”</p>
<p class="para">Nearly everyone jumped in unison. Not a soul could have even <i>fathomed</i> the thought that someone could still be alive in such a state as that. The soldiers looked stunned, fallen back against the ground as if they had lost their very backs. It was only Leonard, unable to see the visage of Aadah, who stood dumbfounded without a single change in expression. The one who held the most courage of the group was Seere — The one she knew the most. Regaining his composure, Seere walked up to and jumped into the flesh-filled cart.</p>
<p class="para">“That’s right, Aadah. It’s me, Seere. …What could have happened to you?”</p>
<p class="para">“......It did it. That damned tapir… It devoured what shouldn’t have been eaten. I… Can’t do it, anymore. My head is so clouded……”</p>
<p class="para">“Why did you come all this way? Why??”</p>
<p class="para">“That night… The tapir had caught the scent of your twin sister. And then… I thought I would be able to get away. …I was lured.”</p>
<p class="para">Verdelet cleared his throat, adjusting his voice, and slowly approached.</p>
<p class="para">“Dream Eater, can you hear my voice? It is the Hierarch Verdelet. What is this? Is there anything I can do…?”</p>
<p class="para">The body may have lifted itself up. The cart shook violently. Seere let out a startled cry and hurried to cling to the canopy. Verdelet staggered back, falling against the grass.</p>
<p class="para">“Verdelet… I have no more business with you. This is it for me.”</p>
<p class="para">“Aadah? What’s wrong…!?” Leonard called.</p>
<p class="para">“What the hell… Even you… Came all this way for me…?” The flesh said.</p>
<p class="para">“...It’s coming. A fortress, in the sky… There, <i>there</i> is the person that you’ve been searching for… Tch. What a bother even <i>speaking’s</i> become… Seere. You… Come here for… For a while.”</p>
<p class="para">Seere gave Verdelet a nod, and entered the cart. Verdelet sat back against the grass and gazed behind himself without a word. He held no sympathy for Aadah — The actions of slave traders such as herself were actions punishable by the Gods. They say without hesitation that there <i>were</i> no Gods. Divine punishment had fallen.</p>
<p class="para">…Regardless, to see someone he knew undergo such an inhuman transformation had left him deeply shocked. He had no strength left in him—he couldn’t get up. Seere poked his head out from the canopy.</p>
<p class="para">“Seere! Are you alright?” Came Leonard's voice.</p>
<p class="para">Seere gave his reassurances in a small hum and jumped out from the cart.</p>
<p class="para">“What did Aadah have to say?”</p>
<p class="para">“Don’t worry, Leonard! She just wanted to share something small. It was about my sister…” Seere fell silent after that.</p>
<p class="para">“There must be <i>someone</i> to stay alone. Is there anyone willing to watch over this woman…?” Hearing Verdelet’s words, the soldiers' faces turned unanimously pale as they looked about each other.</p>
<p class="para">In the end, it was decided they’d pull blades of grass and draw their lots for the task. It was the commander who had lost his test of luck.</p>
<p class="para">“I… I am the commanding officer, after all! This is my duty…!” The man said before letting out a sorrowful cry. The other soldiers merely looked at each other and shook their heads.</p>
<p class="para">The soldier wearing the deputy commander’s armband slapped it with force and gave a firm nod, the commotion causing Aadah’s cart to shake violently in response. <i>“Gwaah-!”</i> The soldiers jumped.</p>
<p class="para">A voice barely leaked out from the cargo hold.</p>
<p class="para">“That… Goddamned… Dragon has… Some nerve. It’s the beginning… An omen.”</p>
<p class="para">Verdelet instinctively looked up at the sky as he felt a terrifying sensation wrack through his whole body. A roar passed over the sky, the sight of a red tail crossing under the clouds. Cheers erupted from the troops’ stronghold.</p>
<p class="para">…Verdelet ran a hand over his chest in relief. They had made it just in time for the decisive battle. Following the ominous break in dealing with the slave trader, they were finally ready.</p>
<p class="para"><i>‘Are both you and your dragon’s injuries healed, Caim?’</i></p>
<p class="para">He called out to the sky with his mind, though there came no reply. Verdelet stared up in amazement.</p>
<p class="para">Once more, the cart began to shake violently. Aadah’s voice had already lost the ability for words, going low, and then high again, going off in syncopated tones. Before long, a cacophony of inhuman noise shook the surrounding air.</p>
<p class="para">At that moment, the sky had grown clouded, and something had crossed Verdelet’s vision that not even he could believe.</p>
<p class="para">A noise of amazement resounded among the soldiers.</p>
<p class="para">In the distance, an object was floating in the sky. To have measured its size was an impossibility, yet, even from such a distance it was clear how gigantic such a structure was that it couldn’t even be comparable to other small castles.</p>
<p class="para">“...What could it be…?” Verdelet said to Leonard, “I cannot truly believe my own eyes, but… A fortress is flying in the sky.”</p>
<p class="para">Leonard turned his head toward the fortress.</p>
<p class="para">“...No, that is no trick of the eyes. This feeling is certainly that of the Empire’s…” His throat clutched. <i>“What…!?</i> … I can feel it! The Goddess is imprisoned within that fortress!”</p>
<p class="para">“...Is what you say… The truth? Is she <i>truly</i>imprisoned up there!?”</p>
<p class="para">Verdelet was at a loss for words. Humans didn’t have the technology to fly—if she was trapped up there, what could they do to get her back?</p>
<p class="para">…<i>No</i>, there was only one way: The dragon and its rider.</p>
<p class="para">Seere clung to Leonard’s arm.</p>
<p class="para">“That big fortress… It’s just like Aadah told me! That means my sister must be up there too! They must both be captured by the Empire. Don’t you feel it? Don’t you, Leonard?”</p>
<p class="para">“...I cannot say.” Leonard’s face shifted unpleasantly. “But… I feel some great power, a great evil, a presence so great unlike anything before…”</p>
<p class="para">‘Caim, hurry down here at once! It is urgent that we must discuss what actions to take from here, please!’ Verdelet called out once again to the sky. The dragon, which was circling below the fortress, let out a distant roar and slowly changed its trajectory. “We must turn back and hold our council meeting at once. We have to return the Goddess, at any cost!” Verdelet turned around and began walking with long strides. The soldiers followed after Leonard and Seere, leaving the lone commander left stranded by the side of the cart to let out a lonely wail. All thought of him and the former slave trader had been left completely forgotten.</p>
<p class="para">“What shall we do about the battle?” Leonard took a deep breath.</p>
<p class="para">“I do not yet know. All depends on the actions of the Empire… But if any harm were to come to the Goddess, then even our victory will be made meaningless. If the seal is allowed to be broken, then our world as we know it will come to its end!” The skin of Verdelet’s cheeks grew taut with worry at the thought. Trying to ward the thought away, he waved at the air with his nonexistent left hand.</p>
<p class="para">“Trouble upon trouble… Gods damn that flying fortress!”</p>
<p class="para">The soldiers stared up at the sky with their mouths agape, stunned at the bizarre object that had made its home in the heavens. Making their way through the numerous tents, Verdelet and the others soon arrived at the base camp, his cane held up to stop the generals that rushed their way.</p>
<p class="para">The dragon swooped down with a loud roar. The soldiers stumbled under the gust of wind, holding a hand over their wildly swaying hair. Slowly, Caim leapt down from the dragon’s neck to the earth — Though the white bandages worn wrapped around his abdomen were clear to the eye, he advanced forward undisturbed.</p>
<p class="para">“Caim! It is a blessing indeed to see you are safe. Your injuries—”</p>
<p class="para">Verdelet was grabbed roughly by the chin. The violent impulses he had accumulated in his period of rest were unable to be controlled.</p>
<p class="para">“Caim, what are you doing!?” Leonard shouted and rushed over to the two, but the dragon’s voice intervened.</p>
<p class="para">‘Verdelet… What is that fortress?’ Verdelet rubbed his chin once he was finally let free.</p>
<p class="para">“I have only the same knowledge as you… But it was Leonard that had managed to find some understanding. There resides the Goddess.”</p>
<p class="para">Caim’s eyes narrowed. A faint grin spread over his lips. Pushing himself away from Verdelet, Caim turned on his heel and returned to the dragon.</p>
<p class="para">‘If what he says is true, then there is no time left to spare! We shall go. Prepare the army; if he is provoked anymore, then you shall be attacked at once.’</p>
<p class="para">“Wait…!” A high-pitched voice rang out. From Leonard’s side, a small shadow came running out.</p>
<p class="para">Seere ran towards Caim.</p>
<p class="para">Leonard tried to stop him, but it was too late. Caim stopped dead in his tracks and tilted his head questioningly over his back as the young boy jumped onto his waist.</p>
<p class="para">“Please! Me too, you have to take me with you!”</p>
<p class="para">“Seere, you fool…!” Leonard cried. He began to approach Caim with an unusually timid expression.</p>
<p class="para">“P…Please, listen to Leonard! Do you know what it means to approach a well of the Empire?” The shocked Verdelet stopped as he approached—his jaw still somewhat hurt.</p>
<p class="para">“Leonard, you have to listen to me! Manah must be over there… I know she is!”</p>
<p class="para">Caim pushed Seere away. Seere staggered two or three steps back and stopped.</p>
<p class="para">“Caim… Please! I have to find my sister! You have to find yours too, don’t you, Caim…? See? We’re just the same!”</p>
<p class="para">‘Child… Is your sister truly over there?’</p>
<p class="para">Seere nodded. “I know she is, because… Because Aadah told me! She ate a dream that belonged to Manah. It was a dream of a castle, floating in the sky… She told me…!”</p>
<p class="para">‘A peculiarity indeed. You say it was a dream…?’ The dragon took on a contemptuous tone. ‘And what truth would mere dreams prove to hold?’</p>
<p class="para">Seere was in tears. Caim looked between him and the dragon with a confused expression.</p>
<p class="para">Leonard gently placed his hand on Seere’s shoulder. “Seere… You mustn’t go.”</p>
<p class="para">Desperately Seere shook his shoulder away, and Leonard pulled his hand away.</p>
<p class="para">“Only this once… Please. I promise, I won’t get in your way. Aadah… She has a pact, that’s why she has that kind of power! She can tell the truth in people’s dreams! Even I know… Manah, she’s been calling for me, all this time!” Seere frantically waved around his arms and cried out incoherently to the adults surrounding him.</p>
<p class="para">“The dragon, too. I have a message from Aadah!”</p>
<p class="para">‘Ohoh?’ The dragon narrowed its yellow eyes. ‘And what would this message be?’“Well… If you give me a ride…” Seere began.</p>
<p class="para">‘No child makes deals with me!’</p>
<p class="para">A tremendous amount of pressure spread around them, the humans surrounding the dragon stumbling back in the shock. Seere’s cheeks were stained with tears.</p>
<p class="para">“......The Goddess… Isn’t going to be killed.”</p>
<p class="para">Verdelet’s heart skipped a beat. His head turned downwards, his face furrowed with some emotion.</p>
<p class="para">‘What do you mean?’ The dragon tilted its head.</p>
<p class="para">“I… I don’t know. But… Aadah said so… Hic… ‘The Goddess can’t be killed’, she said. It will be something more difficult than that. Something with… Manah. I… I have to go! So, please, take me with you!”</p>
<p class="para">The dragon couldn’t help but shake its head with amazement at the sway the crying child had over it in that moment.</p>
<p class="para">‘...Very well, child. I do not know why, but it seems your roots run deep with this cause. Caim?’</p>
<p class="para">Caim shrugged and straddled the dragon’s neck.</p>
<p class="para">‘Do as you will. Well, then… Go, and prepare yourself for the expedition ahead.’</p>
<p class="para">A smile slowly stretched across Seere’s face, and once again, it became full and bright.</p>
<p class="para">“Th-Thank you!”</p>
<p class="para">Seere scampered off to the nearby tent. Immediately he ran out, clutching his favourite shoes and dagger close to his chest.</p>
<p class="para">“Seere… Please don’t go.”</p>
<p class="para">Leonard’s voice was lined with despair.</p>
<p class="para">Drawing trails of light around his head, the faerie gave a boisterous laugh.</p>
<p class="para">‘Ahahahaha! Look who just got themselves dumped by the hypocritical brat! Whining won’t make it better, why don’t we just cry it out and get something strong to drink it away? Yes yes, now isn’t that better??’</p>
<p class="para">Seere wrapped both hands around Leonard’s waist, who’s head hung sadly down.</p>
<p class="para">“Don’t worry, Leonard! I will be back safely. So… You have to promise not to die either, okay?”</p>
<p class="para">“I…” Leonard’s breathing was heavy. “I— I…”</p>
<p class="para">Seere stepped away.</p>
<p class="para">“If I go, I’ll be living by my own heart, isn’t that right? Leonard… Thank you.”</p>
<p class="para">Seere smiled as he walked three steps back, still looking at Leonard. Spinning on his heel, he turned around and started running—as he saw him off, the usually broad back of Leonard seemed to look awfully small.</p>
<p class="para">Verdelet frowned. Finally, he called out to the trio with his mind.</p>
<p class="para">‘Lord Caim, we of the people of Midgard and the world beg of you… Please, return safe with the Goddess.’</p>
<p class="para">‘Hmph. Verdelet… There seems to be something like pride hidden deep within your heart. Your words hold no bearing nor understanding to we. And now, I suppose it is our fate that we will never know…’</p>
<p class="para">The dragon looked up to the floating fortress.</p>
<p class="para">‘It is for the sake of revenge that we go. <strong>They</strong> are over there… The smell of rotted bodies grows and spreads. A dragon of waste and poison…’</p>
<p class="para">With its fangs bared, the dragon roared powerfully up into the sky.</p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>2</strong></p>
<p class="para">Furiae awoke to a sharp pain creeping up from her lower abdomen. At first, she could see nothing but a pure, white light. Rolling over, she found that she had been asleep on an iron bed. The mattress was stiff, making for a difficult rest. Furiae’s breath was short as she raised herself up from the bed. The pain of the seal shot through her entire body.</p>
<p class="para">Inuart sat by her side, seated firmly in a nearby armchair without even the slightest movement. As Furiae inspected him further, she found that his red eyes weren’t even looking at her — Rather, they seemed absentmindedly fixed on something in the air.</p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>

<p class="line"></p>
<p class="menu"><a href="/stories/d1/rd1/rmn/03earth">Previous Chapter</a></p>
<p class="menu"><a href="/stories/d1/rd1/rmn/05time">Next Chapter</a></p>
<p class="menu"><a href="/stories/d1/mn">Back</a></p>
