---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Time</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }


</style>

<p style="margin-top: 1cm; font-size: 300%;"><strong>Magnitude Negative: Time</strong></p>
<img src="https://i.imgur.com/O5ygosb.jpeg">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator:  <a href="/credits/people/barnabism">Barnabism and Bri</a></p>
<p class="para"><i>A weakling in an eternal solitude will eventually halt a jumping minute hand</i></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>1</strong></p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/rd1/rmn/04heaven">Previous Chapter</a></p>
<p class="menu"><a href="/stories/d1/rd1/rmn/06epilogue">Next Chapter</a></p>
<p class="menu"><a href="/stories/d1/mn">Back</a></p>
