---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Epilogue</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }


</style>
<div id="sidenav">
    <a href="/ths"><img class="slogo" src="https://i.imgur.com/AJWylNV.png"></a>
    <p class="line"></p>
    <a href="/stb">
        <p class="menu">Stories</p>
    </a>
    <p class="line"></p>
    <a href="/credits">
        <p class="menu">Credits</p>
    </a>
    <p class="line"></p>
    <a href="https://k.closesttopurple.org/post/list/-karis/1">
        <p class="menu">Gallery</p>
    </a>
    </div>
<p style="margin-top: 1cm; font-size: 300%;"><strong>Magnitude Negative: Epilogue</strong></p>
<img src="https://i.imgur.com/4nqovmT.jpeg">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/barnabism">Barnabism and Bri</a></p>   
<p class="para"><i>Hands of the lord will be sworn by the apples on the other side of the Styx</i></p>
<p class="line"></p>
<p class="para">A heavy rain had fallen over the Imperial Capital since that day.</p>
<p class="para">Hiding in the rubble of fallen buildings, running from building to building, the few humans who had been unable to avoid the dragon’s flames, yet had still been left to survive, hid in what ruins were left to them while continuing to be struck by the downpour that had enveloped the city. In an instant, their eyes rose to stare in silence at the black tower that had suddenly appeared in the Imperial Capital. The pebbled road turned black as it was struck by the rain, and soon it had become a thick marshland that spread across the road.</p>
<p class="para">The next morning, a man had awoken with the sound of a harpsichord echoing somewhere in the distance. The rain had stopped, and the puddles that had formed around the ruined Imperial Capital held the reflection of the sky like a blackened mirror. The fire had dissipated, and the Grotesqueries had gone with it before they could have even been aware. Aimlessly the man walked through the ruins of the former Empire.</p>
<p class="para">The surviving soldiers, like the rider of the crimson dragon, remain silent. Some stumbled over the rubble like the man, others sat down and stared up at the sky.</p>
<p class="para">With the soldiers at his side, the man stepped on a puddle and continued walking.</p>
<p class="para">Eventually, he stumbled across something shining; a sword tilted diagonally from where it had stood embedded within the ground. Though he wasn’t certain, something within him had recognised it as the weapon the dragon rider was using. A sort of feeling deep inside. The surface of the sword, which should have been stained with blood and worn with the rain, was instead a beautiful silver colour that, for some reason, had almost appeared as if it had been polished, and the man’s face shone clearly in its reflection.</p>
<p class="para">The face the slave trader had called old. The face with sagging skin worn on a bald head. The man’s clouded eyes restlessly glanced around. He thought he could practically see himself ageing the more he looked at his reflection held in that sword, but he wasn’t sure.</p>
<p class="para">…He didn’t know. He didn’t know how quickly his own body had aged.</p>
<p class="para">Standing straight, he looked back to the black tower in the distance. The tower had been in the shape of a funnel, growing thinner and thinner still as it pierced through the sky and even the heavens beyond. It had stretched so high up, he couldn’t see the end. The tower was black as pitch, absorbing the light and looking like a black plane against its surroundings. With no lustre or texture to be seen, the man wondered if it was even truly there. From it droned a consistent, particular sort of noise, like the keys of a harpsichord being pushed one by one.</p>
<p class="para">He didn’t know what it was, or what it had meant so far as other people were concerned, and the man felt as if that in itself didn’t matter at all. The tower soared into the heavens; the small life of a young boy seized in eternity as the safeguard to stability. Would he remain there forever? Or one day, would he disappear?</p>
<p class="para">The man just looked away.</p>
<img src="https://i.imgur.com/4nqovmT.jpeg">
<p class="para">A piercing roar; the heavens burst apart. The magnitude of blood spilled by the goddess and the people of Midgard soaked and resonated within the Earth, and everything began to shake. From the dark tower sounded the strings of a harpsichord, eventually disrupted in its play, the fallen notes scattering through the air and penetrating the bodies around it at near-incomprehensible speed.</p>
<p class="para">Verdelet’s head spun. His legs staggered. All thoughts disappeared, and all the days he had lived up to that very moment had passed through his head in an instant. Standing paralysed, the Hierarch could hear only the cool breeze of wind passing him by. Light, muddled grey clouds floated gently through the sky like pulled cotton, the light blue of the sky between them laying clear so far as the eye could see.</p>
<p class="para">Several soldiers passed by before him. With his head turned down, Verdelet listened to the lighthearted chatter of two men as they went by, their voices gradually disappearing with the passing figures. The staff fell from his hands. Verdelet fell to his knees, a puddle forming around them. His right hand, still in good health, and his left hand—or rather, the illusion of it—clasped together in front of his chest. Though it no longer existed, there still remained the feeling of that left hand clutching tightly against the palm of his right.</p>
<p class="para">Verdelet whimpered up to the heavens.</p>
<p class="para"><i>“...Is it your will that we should live on?” ​</i></p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/rd1/rmn/05time">Previous Chapter</a></p>
<p class="menu"><a href="/stories/d1/rd1/rmn/07afterward">Next Chapter</a></p>
<p class="menu"><a href="/stories/d1/mn">Back</a></p>