---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Afterward</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }


</style>

<p style="margin-top: 1cm; font-size: 300%;"><strong>Magnitude Negative: Afterward</strong></p>
<img src="https://i.imgur.com/oQeOnuk.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator:  <a href="/credits/people/barnabism">Barnabism and Bri</a></p>
<p class="para">Cuban writer Reinaldo Arenas’ autobiography “Before Night Falls”: A work of children engaging in sexual play with reckless abandon. A work of children (That is to say, monsters), with their affectationless innocence by their side as they rush enthusiastically into life. No matter how many times I read it, it’s just too amazing.</p>
<p class="para">According to the categorisation of sexual perversions sorted by Foucault in the 1960’s, the types of “Sexual deviants” in European society can be roughly divided into the three following categories:</p>
<p class="para">“Monster People” (From around the Renaissance era, intersex, androgyny, etc.)</p>
<p class="para">“People in need of correction” (From around the 18th/19th centuries, those in violation of certain rules or regulations)</p>
<p class="para">“People guilty of self consolation” (From the 18th century; incest, homosexuality, children who masturbate, etc.)</p>
<p class="para">He goes on to say that with these, early modern Europe created a “Negative image” of certain sexual behaviours and drew a line of psychical constraint between the ideas of “Healthy” and “Abnormal”. It became a full-scale manifestation of “Sex = Bad idea”.</p>
<p class="para">Because this story takes place in a fictional, mediaeval Europe, the inhabitants of this anguished world, who carry with them various “Deviancies”, are hundreds of years short behind real history. In this world, the “Deviant pact-partners”, with darkness set in their hearts, continue to move through life with the sadness and burdens that have been placed on their shoulders, and unlike the children of Arenas, do not lose their course in all different ways and directions. That is to say, they are a collection — A chimaera — Of the three categories.</p>
<p class="para">Even through the struggles and bad luck of characters like Caim, Furiae, Seere, and Leonard in their twisted lives that fly far beyond the ordinary in this dark comedy of a story, a small, faint tinge of life remains. In my own belief, this fact is what ties them to the great march and journey of those children.</p>
<p class="para">I would like to add one more thing.</p>
<p class="para">Among those who have formed a pact, only the new pact-bearer who appears in this book — Aadah Cabrera — Does not have the name of a demon. It is an anagram of the incantation “Abracadabra”1. In the Gnostic faith, there is a small group called the Basilides that searches for the secrets of God, and the term “Abracadabra” was heavily used as a mysterious name for the sacraments of God (Known as Abraxas in Greek.)</p>
<p class="para">The iconography of Abraxas as an angel is that of a rooster’s head and a human’s body with the legs of a snake. It carries with it a whip and rides in a carriage. The depiction sounds like a monster, but I think this particular depiction may be symbolism for the term, rather than the angel, even if I do end up being wrong in this regard.</p>
<p class="para">An angel tied between two wings. A stewardess of guidance leading the way through a stormy flight. That’s the image I get from that word.</p>
<p class="para">…To everyone at Square Enix, everyone at Cavia, to the illustrator TASA and my editor Mr. Gushiken, thank you. You have my respect and deepest gratitude.</p>
<p class="para">And, to everyone reading this. This is neither a thrilling story nor a moving one. But even so, it is a story that will speak to your soul.</p>
<p class="para">Holding high spirits, taking toddling steps, beginning at a brisk pace, skipping along, growing into a gallop, making long and confident strides, starting to stagger, drawing back, and ending everything with an abrupt thud.</p>
<p class="para" style="text-alignment: right;">— Aizawa Tadashi</p>
<p class="line"></p>
<p class="para">1: アブラカダブラ → アーダカブレラ</p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/rd1/rmn/06epilogue">Previous Chapter</a></p>
<p class="menu"><a href="/stories/d1/rd1/rmn/08about">Next Chapter</a></p>
<p class="menu"><a href="/stories/d1/mn">Back</a></p>
