---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>About</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 45%;
    height: 45%;
}
    }
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }


</style>
<div id="sidenav">
    <a href="/ths"><img class="slogo" src="https://i.imgur.com/AJWylNV.png"></a>
    <p class="line"></p>
    <a href="/stb">
        <p class="menu">Stories</p>
    </a>
    <p class="line"></p>
    <a href="/credits">
        <p class="menu">Credits</p>
    </a>
    <p class="line"></p>
    <a href="https://k.closesttopurple.org/post/list/-karis/1">
        <p class="menu">Gallery</p>
    </a>
    </div>
<p style="margin-top: 1cm; font-size: 300%;"><strong>Magnitude Negative: About</strong></p>
<img src="https://i.imgur.com/oQeOnuk.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/barnabism">Barnabism and Bri</a></p>   
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Tadashi Aizawa</strong></p>
<p class="para">Born in 1976, and resides in Tokyo. In 2002, Aizawa made his writing debut after winning a gold medal at the “Resident Evil Novel Awards Ceremony”. He majored in Latin-American Literature in University, and his hobbies are playing and collecting percussion instruments.</p>
<p class="para">Nowadays, in the midst of his on-and-off career of novel-writing, he is also active(?) as an editor and designer. His works are written and created using QuarkXPress.</p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>Tadashi Aizawa</strong></p>
<p class="para">Born in Hiroshima, 1976. After leaving a gaming company, he now works as a freelance illustrator. In addition to doing character designs for games and illustrations for magazines, he is also in charge of the overall artwork for the “Ragnarok” series (Sneaker Publishing). <a href="https://web.archive.org/web/20081028103239/http:/www.f8.dion.ne.jp/~hikuta/gallerytop.htm">http://www.f8.dion.ne.jp/~hikuta/gallerytop.html</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/d1/rd1/rmn/07afterward">Previous Chapter</a></p>
<p class="menu"><a href="/stories/d1/mn">Back</a></p>
