---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Rion's Character Stories</title>
<style>
    @media screen and (orientation: landscape) {
        .container {
display: grid;
grid-template-areas:
    "header header"
    "menu content"
    "footer footer";

grid-template-columns: 1fr 2fr;
margin: 0px auto;
margin-bottom: 2.5%;
float:center;

}
    }

    @media screen and (orientation: portrait) {
.container {
display: grid;
grid-template-areas:
    "header header"
    "content content"
    "menu menu";
grid-template-columns: 1fr 1fr;
margin: 0px auto;
margin-top: 3%;
margin-bottom: 45%;
gap: 2.5%;
}
    }
    #icon{
display:inline-block;
    }
.title{
    margin-bottom: 0.1cm;
    font-size: 85%;
}
.title-1{
  font-size: 130%;
}
#title-sub{
  margin-top: 0%;
  margin-bottom: 0.1cm;
    font-size: 50%;
    margin-top: -0.5cm;
}

#top-right{
    font-size: 65%;
    margin-top: 0%;
}
.container > div {
width: 100%;
  padding: 10px;
}
.container > div.header {
  grid-area: header;
  text-align: center;
}
.container > div.menu {
grid-area: menu;
}
.container > div.content {
  grid-area: content;
background-color: rgba(65, 65, 65, 0.8);
}
.menu{
  margin-top: 2.5%;
}
.para{
    font-size: 65%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  border: thick solid rgb(58, 58, 58);
  background-color:rgb(70, 70, 70);
  padding: 10px;

}
    @media screen and (orientation: landscape)
{
  .para-1{
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-right: 25%;
    margin-left: 25%;
    text-align:left;
    font-size: 110%;
    margin-top: 0.6cm;
      border: thick solid rgb(58, 58, 58);
  background-color:rgb(70, 70, 70);
  padding: 10px;
}
}


    @media screen and (orientation: portrait)
{
  .para-1{
    margin-right: 8%;
    margin-left: 8%;
    text-align:left;
    font-size: 130%;
    margin-top: 0.2cm;
    border: thick solid rgb(58, 58, 58);
    background-color:rgb(70, 70, 70);
    padding: 10px;
    letter-spacing: 1.5px;

}
}
  @media screen and (prefers-color-scheme: light){
    .para-1{
  border: thick solid rgb(165, 164, 164);
  background-color:rgb(224, 224, 224);
    }
      .para{
  border: thick solid rgb(165, 164, 164);
  background-color:rgb(224, 224, 224);
    }
    .container > div.content {
  background-color: rgba(207, 207, 207, 0.8);
}
  }
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container" id="character">
<div class="header"><h1>Guardian Exile</h1></div>
<div class="menu"><p style="margin-top: 5%;"><img id="icon" src="https://i.imgur.com/SktR3TD.png"> <img id="icon" src="https://i.imgur.com/hW0Ad7x.png"></p>
<p class="line"></p><p class="h1">Skill</p><p class="line"></p><p class="title">Firm Pride</p><p class="title" id="top-right">Level 15/15</p><p class="para">Deal 100% damage to one enemy 4 times.<br>(Critical damage increased by 40%).</p><p class="line"></p>
<p class="h1">Abilities</p><p class="line"></p><p class="title">Ambush</p><p class="title" id="top-right">Level 4/4</p><p class="para">Critical rate up by 16%.</p>
<p class="title">Fleetfoot<br><p class="title">Level 4/4</p></p><p class="para">Agility up by 16%.</p><p class="line"></p>
<p class="h1">Awakening</p><p class="line"></p><p class="title">Fatal</p><p class="title" id="top-right">Level 3</p><p class="para">Critical hit damage up by 12%.</p>
<p class="title">Debris:<br>Fleetfoot Clump</p><p class="title" id="top-right">Level 5</p><p class="para">Agility up by 5%.</p>
<p class="line">
</div>

<div class="content"><h1>Design</h1><img src="https://i.imgur.com/Ax28uA7.png"></div>
</div>
<h1>Costume Story</h1><p class="para-1">Ri5:30 - Philosophical Guardian
<br>If god existed, it would mourn this world of endless war and blood.
<br>If god existed, it would send messengers to those who await salvation.
<br>If god existed, it would use people to save the world.
<br>But what is salvation to a god? If war is born in the differences
between people's beliefs, how can salvation deny the very paths we
walked—especially when we mistake our own justice as divine?</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/rion/costumes">Back</a></p>