---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Looking Back 2</title>
<style>
        @media screen and (orientation: portrait)
{
        img{
    width: 80%;
    height: 80%;
        }
}

        @media screen and (orientation: landscape)
{
        img{
    width: 45%;
    height: 45%;
        }
        #smaller{
            width: 10%;
            height: 10%;
        }
}


    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }

    
</style>

<p style="margin-top: 1cm; font-size: 300%;"><strong>Complete Guide Interview:</strong></p>
<p class="title">Hiya, Karis here! This translation is A W.I.P., I'm going to update it here when I'm finished. Sorry about that!</p>
<p class="menu"><a href="/stories/drakengard-2/creator-commentary">Back</a></p>