---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Looking Back 2</title>
<style>
        @media screen and (orientation: portrait)
{
        img{
    width: 80%;
    height: 80%;
        }
}

        @media screen and (orientation: landscape)
{
        img{
    width: 45%;
    height: 45%;
        }
        #smaller{
            width: 10%;
            height: 10%;
        }
}


    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }
    #push{
        margin-left: 4.5%;
        margin-right: 4.5%;
    }
    
</style>
<p style="margin-top: 1cm; font-size: 300%;"><strong>Complete Guide Interview:</strong></p>
<p class="title"></p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: closesttopurple<br>Source: <a href="/series-guide/ths-guide/dod-2-complete-edition"><u>here.</u></a></p>
<img src="https://i.imgur.com/ea726ZR.png">
<p class="title">Pictured: Akira Yasui, Kimihiko Fujisaka, Taro Hasegawa, and Takamasa Shiba.<br>Photographer: Jun Nakasuji, Interview text by Kumiko Wakamatsu.</p>
<p class="para">"Drag-on Dragoon 2" has a unique worldview.<br>How was this masterpiece, which was announced in less than two years after the prior game, made?<br>The comments here will help players more deeply understand and compliment the nuances of the world of "Drag-on Dragoon 2".<br>We hope this helps you the next time you play.</p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 200%;" id="push">What is the basic concept for "Drag-on Dragoon 2" (henceforth known as "2"), which prioritises accessibility and further refinement?</p>
<p class="title"><br>The previous game, "Drag-on Dragoon" (henceforth known as "1"), was released on the 11th of September, 2003. But, when did the planning for a sequel begin?<br><br></p>
<p class="para"><b>Takamasa Shiba</b> - It was surprisingly fast. It was actually shortly after the release of "1".<br>I think it was around September 15th that we got approval for a sequel from the publisher.</p>
<p class="title"><br>That's a rather fast development time.<br><br></p>
<p class="para"><b>Takamasa Shiba</b> - That's right. I already spoke with the developers who worked on "1" before September. I always wanted to make "2", as I thought it was definitely needed to complete "1".</p>
<p class="para"><b>Tako Hasegawa</b> - I found a proposal for what seemed to be "2" related, so I was secretly happy (laughs).</p>
<p class="para"><b>Takamasa Shiba</b> - I spoke to the CG Director early on, and I convinced him at the launch party for "1".</p>
<p class="title"><br>The gameplay feels faster than the previous game.<br><br></p>
<p class="line"></p>
<img id="smaller" src="https://i.imgur.com/ebHU2eQ.png">
<p class="para">Pictured: Akira Yasui, Cavia inc. director of "Drag-on Dragoon 2". Worked as chief director for "1". He also worked as CG designer for "Gun Survivor 4: Biohazard - Heroes Never Die"
(localised Resident Evil: Dead Aim for NTSC/PAL regions).</p>
<p style="margin-top: 1cm; font-size: 300%;"><strong>W.I.P. after this.</strong></p>

<p class="para"><b>Takamasa Shiba</b> - </p>
<p style="margin-top: 0.4cm; font-size: 200%;" id="push"><b>Takamasa Shiba</b> - </p>
<p class="menu"><a href="/stories/drakengard-2/creator-commentary">Back</a></p>