---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Looking Back 2</title>
<style>
        @media screen and (orientation: portrait)
{
        img.particular{
    width: 80%;
    height: 80%;
        }
}

        @media screen and (orientation: landscape)
{
        img.particular{
    width: 45%;
    height: 45%;
        }
        #smaller{
            width: 10%;
            height: 10%;
        }
}


    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }

    
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
<p style="margin-top: 1cm; font-size: 300%;"><strong>Complete Guide Interview:</strong></p>
<p class="title-special title-box">This interview was released 2005/08/26.</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: closesttopurple<br>Source: <a href="/series-guide/ths-guide/dod-2-complete-edition"><u>here.</u></a><br>Note: American spellings used, for general audiences (regrettably).</p>
<div class="why-is-this-a-problem">
<img class="particular" src="https://i.imgur.com/ea726ZR.png">
<p class="title-special title-box">Pictured: Akira Yasui, Kimihiko Fujisaka, Taro Hasegawa, and Takamasa Shiba.<br>Photographer: Jun Nakasuji, Interview text by Kumiko Wakamatsu.</p>
<p class="para">"Drag-on Dragoon 2" has a unique worldview.<br>How was this masterpiece, which was announced in less than two years after the prior game, made?<br>The comments here will help players more deeply understand and compliment the nuances of the world of "Drag-on Dragoon 2".<br>We hope this helps you the next time you play.</p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 165%;">What is the basic concept for "Drag-on Dragoon 2" (henceforth known as "2"), which prioritises accessibility and further refinement?</p>
<p class="title-special title-box"><br>The previous game, "Drag-on Dragoon" (henceforth known as "1"), was released on the 11th of September, 2003. But, when did the planning for a sequel begin?<br><br></p>
<p class="para"><b>Takamasa Shiba</b> - It was surprisingly fast. It was actually shortly after the release of "1".<br>I think it was around September 15th that we got approval for a sequel from the publisher.</p>
<p class="title-special title-box"><br>That's a rather fast development time.<br><br></p>
<p class="para"><b>Takamasa Shiba</b> - That's right. I already spoke with the developers who worked on "1" before September. I always wanted to make "2", as I thought it was definitely needed to complete "1".</p>
<p class="para"><b>Taro Hasegawa</b> - I found a proposal for what seemed to be "2" related, so I was secretly happy (laughs).</p>
<p class="para"><b>Takamasa Shiba</b> - I spoke to the CG Director early on, and I convinced him at the launch party for "1".</p>
<p class="title-special title-box"><br>The gameplay feels faster than the previous game.<br><br></p>
<p class="line"></p>
<img id="smaller" src="https://i.imgur.com/ebHU2eQ.png">
<p class="para">Pictured: Akira Yasui, Cavia inc. director of "Drag-on Dragoon 2". Worked as chief director for "1". He also worked as CG designer for "Gun Survivor 4: Biohazard - Heroes Never Die"
(localised Resident Evil: Dead Aim for NTSC/PAL regions).</p>
<p class="para"><b>Takamasa Shiba</b> - The previous game was made with how to kill someone realistically in mind, but this time we paid particular attention to the current trends in gaming.</p>
<p class="para"><b>Akira Yasui</b> - For example, we looked at the speed of popular games, the methods used to create excitement, and other various parts to try to adopt them and change the feel of the series.</p>
<p class="title-special title-box"><br>&#8212;Comparatively to the first game, I feel like various aspects were easier to understand, such as how the story was conveyed or the action parts.<br><br></p>
<p class="para"><b>Akira Yasui</b> - The main theme of the development was making it easier to understand. Especially the button combinations, making sure the tutorial worked well, and meticulously designing the maps so as to reduce the player's stress.</p>
<p class="para"><b>Takamasa Shiba</b> - I've been saying that the entire time. We didn't simplify the content, though. The difficulty of "Dragons" remains.</p>
<p class="para"><b>Akira Yasui</b> - That's right. Regarding the air combat, it's faster than the previous game. But, extreme speed made it too hard to manage, so we toned it down.</p>
<p class="para"><b>Takamasa Shiba</b> - That's right. That being said, it's supposed to be "fun", so that was a difficult part. "Drag-on Dragoon", especially, has been touted as a dark world by the players. But, as I said just now, I think the previous game had pushed away the players. That was the developers concept, however. So for this game, we kept the world dark, but we also made it easier to understand. Having said that, I wanted to convey it with as many words as possible. As a result, I've heard some people dislike that it feels lighter than the previous game. But, I think it was made to be accessible for new players.</p>
<p class="title-special title-box"><br>&#8212;How did the new system, "Dragon Overdrive", come to be?<br><br></p>
<p class="para"><b>Takamasa Shiba</b> - Following a player survey for "1", "I want to attack directly with the dragon" was a common sentiment amongst the players. So, the "Dragon Overdrive" system was born. I wanted to listen to the voices of our precious players (laughs). Moreover, we came up with a way for people to view the dragon from several angles.<br><br></p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 165%;">Core concepts from the world of "DOD2", set 18 years later.</p>
<p class="title-special title-box">Now, 18 years later, previous characters re-appear with various twists.</p>
<p class="para"><b>Akira Yasui</b> - From the beginning, we thought that "2" was a justifiable sequel. So, "18 years later" was the time period we chose to make both old and new characters appearing feel natural. It had to be set when a protagonist who was born at the end of "1" wouldn't know about the previous events. And I wanted to include Manah in the first place, so I thought we had to age her up for that.</p>
<img id="smaller" src="https://i.imgur.com/DwtEVxM.png">
<p class="para">Pictured: Takamasa Shiba, Square Enix Co., Ltd General Producer for the "Drag-on Dragoon" series. He's also the outline planner, and is in charge of promotional works.</p>
<p style="margin-top: 0.4cm; font-size: 165%;" id="push">The concept for this world is dark, but easy to understand (Takamasa Shiba).</p>
<p class="para"><b>Takamasa Shiba</b> - I think it was a good idea to make the protagonist an adult. <br><br></p>
<p class="title-special title-box">Was Manah decided as the heroine during the planning phase?</p>
<p class="para"><b>Takamasa Shiba</b> - Not at all, during the planning phase it was either Manah or Angelus, and I was thinking about what kind of heroine to make her. And so, I think I wanted to make her the elder sister type. Maetel from "Galaxy Express 999" was a big inspiration. I wanted the protagonist to be raised and mature under Angelus or Manah, but eventually surprass them.<br><br></p>
<p class="para"><b>Akira Yasui</b> - We also had the idea of Angelus reincarnating into a human child, and then raising her. But, we wanted to use the same system as the previous game so we continued with the current direction.</p>
<p class="title-special title-box">As this is a sequel, how much attention did you pay to the story?</p>
<p class="para"><b>Takamasa Shiba</b> - This time, it takes place after the previous game's ending A. It doesn't follow the rest of the endings, because we thought the most people would have seen ending A. And, in the other endings, Angelus and Caim can't be used, among other reasons... But, the previous game's ending B is also intertwined...<br><br></p>
<p class="title-special title-box">What is the core concept behind "2"?</p>
<p class="para"><b>Takamasa Shiba</b> - My development concept was to support "1", but why? (laughs).<br><br></p>
<p class="para"><b>Akira Yasui</b> - I think the core concepts have various meanings, but "surpassing" in particular. I think one of the main concepts was Nowe surpassing Legna, and Manah overcoming her past.</p>
<p class="para"><b>Takamasa Shiba</b> - "1" is a story about "sealing" the world. This time, the story is about "destroying" the "seal".<br><br></p>
<p class="title-special title-box">The theme of love can be felt within the core concepts. (continues)</p>
<img id="smaller" src="https://i.imgur.com/VazOXWk.png">
<p class="para">Pictured: Kimihiko Fujisaka, Cavia Inc. general designer. Responsible for the character design of the previous game, he also designed the FMVs. Along with that, most of the game's illustrations are his work.
</p>
<p class="title-special title-box">(continued) And that's because...</p>
<p class="para"><b>Akira Yasui</b> - That's right. I think "Love" is a vital theme, likewise to the previous game. But, what kind of "love" is it? The love between a parent and child, the love between siblings, or the love between childhood friends? I tried to think of various forms of "love". I also wanted to express the "hatred" part of "love and hate", which contrast each other.</p>
<p class="para"><b>Takamasa Shiba</b> - That's right. I think the biggest cause of characters acting impulsively is "love".</p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 165%;">The making of great characters.</p>
<p class="title-special title-box">Please tell us about the protagonist, and other unique characters.</p>
<p class="para"><b>Takamasa Shiba</b> - To be honest, when making Nowe, there were parts that I thought everyone would dislike.</p>
<p class="para"><b>Akira Yasui</b> - Even so, as the protagonist, there are still stome parts that are difficult to understand.</p>
<p class="para"><b>Takamasa Shiba</b> - That's right. I think he's a pretty modern protagonist. Because of that, when he entered the world of "DoD"<sup id="editor-1a"><a href="#editor-1b" style="color:rgb(190, 247, 255);"><small>[1]</small></a></sup>, he seemed very strange. Everyone says he's self-centered a lot, and that's exactly right. Out of everyone, Nowe is probably the worst guy (laughs). But, that's what the goal was...</p>
<p class="title-special title-box">Nowe feels like a character who suffers a lot. That, and he's always worried and searching for answers...</p>
<p class="para"><b>Takamasa Shiba</b> - In a way, Nowe is an empty character. He's just physically strong. If Legna says something, you do what he says. If you're with the Knights of the Seal, you do what they do. If Manah appears, you stick to her...</p>
<p class="para"><b>Taro Hasegawa</b> - He is a "New Breed"<sup id="editor-2a"><a href="#editor-2b"a style="color:rgb(190, 247, 255);"><small>[2]</small></a></sup>, after all (laughs).</p>
<p class="para"><b>Takamasa Shiba</b> - If everyone dislikes that part, then that was the goal (laughs).</p>
<p class="title-special title-box">Is his "emptiness" the reason he doesn't speak for himself? </p>
<p class="para"><b>Akira Yasui</b> - That's right. In this story, to the normal people, Nowe and Manah are seen as "evil, world destroyers". From their point of view, they don't know whether what they're doing is right or wrong.</p>
<p class="para"><b>Takamasa Shiba</b> - Another point of view is that Manah is on God's side, whilst Nowe represents the Dragons, destroying the world. As such, that's why language falls flat. It's "empty".</p>
<p class="title-special title-box">Then, Manah and Nowe exist just to be used.</p>
<p class="para"><b>Takamasa Shiba</b> - Frankly, Manah is "empty" too. There are two empty main characters (laughs).</p>
<p class="para"><b>Akira Yasui</b> - It's strange that they stay together (laughs).</p>
<p class="title-special title-box">Besides Nowe and Manah, the other characters seem fascinating...</p>
<p class="para"><b>Takamasa Shiba</b> - That's right. There's Zhangpo, Hanch, Urick... They're all interesting. We also like them. There's Gismore as well, he's great. It's easy to understand, being faithful to your desires.</p>
</div>
<p class="line"></p>

<p style="margin-top: 0.4cm; font-size: 165%;"><br>The unique character design.<br><br></p>
<p class="title-special title-box">What did you specifically want for the visuals of each character?</p>
<p class="para"><b>Akira Yasui</b> - I talked about each character's personalities, and then he was at liberty to design them as he pleased.</p>
<p class="para"><b>Kimihiko Fujisaka</b> - The boss of the army was going to be evil, while Oror was was a good guy among them. At first, we just worked with the rough concepts and refinded it later on with more detail.</p>
<p class="title-special title-box">Hanch's design feels pathetic.</p>
<p class="para"><b>Kimihiko Fujisaka</b> - That side fits the DoD feel. I had to ask Shiba *(Takamasa Shiba) for the OK on that one... By the way, the idea for her to always be wet came from Hasegawa *(Taro Hasegawa) (laughs).</p>
<p class="para"><b>Takamasa Shiba</b> - That's right. We gave her that design to show her characterization.</p>
<p class="title-special title-box">In truth, Hanch is a beautiful woman.</p>
<p class="para"><b>Kimihiko Fujisaka</b> - She has no strength. Her personality is twisted, and her inner self is coming to the surface. Her exterior is cute, but the inside is still charming.</p>
<p class="title-special title-box">Yaha's design is very similar to a prince.</p>
<p class="para"><b>Takamasa Shiba</b> - He's good-looking, right? Although, he's misunderstood.</p>
<p class="para"><b>Kimihiko Fujisaka</b> - That's right. I've thought of it many times, and he really does look like someone that everyone would like. I tried to make him look like what someone would imagine when they thought of a prince from a Shōjo manga. The first rough draft was actually pretty close to the finished design, too.</p>
<p class="title-special title-box">Zhangpo's design matches his voice actor, Tatsuya Gashuin.</p>
<p class="para"><b>Takamasa Shiba</b> - It really is a coincidence, but the promotional photos we received do look similar... The character came first, I promise (laughs).</p>
<p class="title-special title-box">Why does Urick have a helmet?</p>
<p class="para"><b>Akira Yasui</b> - If I remember correctly, I think they wanted to give him a unique trait?</p>
<p class="para"><b>Takamasa Shiba</b> - Yeah, that's right. From the beginning, I always thought "a helmet is good". And so, I requested it. They're fashionable.</p>
<p class="para"><b>Kimihiko Fujisaka</b> - In the beginning, I was designing the sorts of masks you would see being sold in South-East Asian countries, like Thailand or India.</p>
<p class="para"><b>Takamasa Shiba</b> - That was the biggest issue we had with his design. In a few versions, we had what looked like a melon stem springing up out of his head. It looked awkward.</p>
<p class="para"><b>Kimihiko Fujisaka</b> - That's right. And, we all discussed his pact with the grim reaper, and how it's like having it's head (laughs). So, I suggested that (laughs).</p>
<img id="smaller" src="https://i.imgur.com/aKgxnBE.png">
<p class="para">Pictured: Taro Hasegawa, Cavia inc. designer of "Drag-on Dragoon 2". Like with the previous game, he's in charge of monster design, the pact beasts, and a few of the weapon graphics.</p>
<p class="para"><b>Taro Hasegawa</b> - I tried to do the opposite of what I usually do. That, and use the colors that I usually don't.</p>
<p class="title-special title-box">Was there any intent behind Eris's design?</p>
<p class="para"><b>Akira Yasui</b> - From the start, she was meant to portray the "childhood friend" archetype. Her design gives off a charming appeal, rather than just being a beautiful woman.</p>
<p class="title-special title-box">How did you decide on the price and mark for pacts?</p>
<p class="para"><b>Akira Yasui</b> - When thinking about what the cost for a human would be, "appetite" and "lust" came to mind. We had a conversation about "losing your desire to eat", and went from there. For example, Urick's pact price was "death", being unable to die. But, would being able to die normally give you actual happiness? </p>
<p class="para"><b>Takamasa Shiba</b> - That's right. In the previous game, it was just a body part. Like the eyes, or your tongue. But, I wanted to make the price something that would be terrible to lose in daily life. So, this time, it's not just a body part.</p>
<p class="para"><b>Kimihiko Fujisaka</b> - For Yaha, where is it? I don't know where it is. I drew the marks based on Hasegawa's pact beast sketches. Then, I filtered them through my imagination as I sketched it. You could say it that way (laughs). For where I put the marks, it's based on location and meaning. I just put the outline of the mark on any part.</p>
<p class="title-special title-box">Nowe has a mark, but is he in a pact?</p>
<p class="para"><b>Akira Yasui</b> - We talked about how Nowe was born, and truthfully, it was Inuart and Furiae fusing in the bone casket... So, Inuart's pact mark with the black dragon had become Nowe's mark, inside the egg. So, Nowe isn't actually in a pact. The mark on his back are his wings, which are moreso like an organ.</p>
<p class="para"><b>Kimihiko Fujisaka</b> - It's the same as any other part, like your internal organs or arm. Nowe isn't human, so it's just a "New Breed" thing. That, and the mark looks like a pact mark but isn't.</p>
<p class="title-special title-box">There's a lot of mystery regarding Gismor's pact and his price...</p>
<p class="para"><b>Akira Yasui</b> - His pact beast is called a "Shade", and it's a dark spirit<sup id="editor-3a"><a href="#editor-1b" style="color:rgb(190, 247, 255);"><small>[3]</small></a></sup>. And for that, his pact price was his human body. Frankly, when his armor comes off, he has a gaseous body. He's someone with a strong ego. Because he felt like the strongest and most important person, his body became the pact price. And, Gismor's entirely black because all of his skin is the pact mark. Despite having no body, the gaseous pact mark retains his human shape. In everyday life, he covers his skin to hide the gas. So, that's why he always has a poor complexion (laughs).</p>
<p class="title-special title-box">How did you decide on Caim's design?</p>
<p class="para"><b>Kimihiko Fujisaka</b> - in "2", Caim would be around 40 years old. To avoid being unrecognisable, we just gave him longer hair. </p>
<p class="title-special title-box">Which characters are everyone attached to?</p>
<p class="para"><b>Takamasa Shiba</b> - I'm attached to everyone... But I like Gismor. Tachiki (voice actor) did a good job. The moment his voice came on, I went "Aha! This game is complete!". Suddenly, his strong voice came in and it intruged me.</p>
<p class="para"><b>Akira Yasui</b> - My favourite character is Gismor, but I'm the most attached to Nowe... He's pretty indecisive, which is quite similar to me.</p>
<p class="para"><b>Taro Hasegawa</b> - Taking everything into consideration, does it have to be a human? What about the guy that hold a fork? One of the modellers brought up that they wanted more goblins, so I got my pen and started drawing. Before I knew it, I was done! (laughs)</p>
<p class="para"><b>Kimihiko Fujisaka</b> - Human-wise, I like Gismor. That's including his personality, but I especially like his third form. Monster-wise, though, it's definitely the Kelpie. I quite like its design, as it's unique.</p>
<img class="particular" src="https://i.imgur.com/ZdPSlJh.png">
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 165%;"><br>The making of a unique setting.<br>The visuals of dragons and monsters.<br><br></p>
<p class="title-special title-box">Hasegawa, the dragons you design and sketch are amazing.</p>
<p class="para"><b>Taro Hasegawa</b> - Because I heard it was going to be more masculine this time, the original concept was for there be to much more spikes. I thought boys would like it more.</p>
<p class="para"><b>Akira Yasui</b> - His sideburns looks like they're from the 1800s (laughs).</p>
<p class="para"><b>Taro Hasegawa</b> - I put them on the edge of his jaw, so that it would feel satisfying when in motion. You could also see the spine moving evey time the tail does, right? I thought it would make the skeletal workings easier to see.</p>
<p class="para"><b>Akira Yasui</b> - The best part of Hasegawa's dragons are the tails, aren't they? It's probably the part you see the most. Even in the previous game, Angelus's tail had a crack at the end that sprayed flames. I love how his dragons have unique tails.</p>
<p class="title-special title-box">How did the pact beasts come to be?</p>
<p class="para"><b>Taro Hasegawa</b> - For the start, I was drawing a "Gnome", which was really just because I liked them. The gnomes are earth spirits, and because I wanted to use gems, I made that their eyes. Next, I gave them pickaxes to hold... This is my hobby (laughs). That was the first thing I drew, and because I thought it might be "bad", I drew the Keplie next.</p>
<p class="para"><b>Kimihiko Fujisaka</b> - I love the Kelpie!</p>
<p class="para"><b>Taro Hasegawa</b> - The Kelpie... I don't usually draw things like that (laughs).</p>
<p class="para"><b>Kimihiko Fujisaka</b> - I was surprised you made it. I've been aware of Hasegawa's works for a while, which I'm a fan of, and the Gnomes are definitely his style. From what I knew of him, it really shocked me that he came up with it.</p>
<p class="para"><b>Taro Hasegawa</b> - I tried to do the opposite as much as I could. Like, using the color's I usually leave out. I'm sure you have favorite colors too, Fujisaka. And so, when you need enough characters to make a game, they start to look alike. Luckily, we had a positive reception.</p>
<p class="title-special title-box">What particulars do you think about when designing the monsters?</p>
<p class="para"><b>Taro Hasegawa</b> - When drawing, I always make sure to put something silly in. Without it, killing them would feel too realistic and tragic. A lot of "hobgoblins" appear, and I purposefully made their butts hairless, like a monkey. So, when they run away, you end up seeing their butt. It makes you want to hit it (laughs).</p>
<p class="title-special title-box">What about the weapon designs?</p>
<p class="para"><b>Kimihiko Fujisaka</b> - I drew all of the main characters' weapons. Hasegawa did about 30% of the other weapons, whilst people who worked on the previous game did about 70% of them. But, all of the "<a href="https://wiki.thehumanserver.org/index.php/Drakengard_2/Weapons">seal</a>" weapons were drawn by Hasegawa.</p>
<p class="para"><b>Taro Hasegawa</b> - That's right, I drew the "seal" weapons. There was more background information in the beginning.</p>
<p class="para"><b>Akira Yasui</b> - I remember asking you to sketch something the "Goddess" motif. Each weapon had something valuable put into them. And so, each of us wanted to make them based on the characters. For a spear, it would be based on Eris, and this one was based on Angelus.</p>
<p style="margin-top: 0.4cm; font-size: 165%;"><br>The World of "DOD2's" 2D Illustrations, by Kimihiko Fujisaka<br><br></p>
<img class="particular" src="https://i.imgur.com/cmxWLUk.png">
<p class="line"></p>
<p class="title-special title-box">Compared to the previous game, there's a lot more artwork. Out of everything, doesn't the contrast of red and blue stand out?</p>
<p class="para"><b>Kimihiko Fujisaka</b> - They were made to follow the game's title (sub-title, Sealed Red, Immoral Black). Red and black, along with other contrasting elements, fit the "DoD" feel very well. I use colors that suit the characters, but also tend to commonly draw with "red and black", or "red and blue". I drew a lot this time, huh? I wanted to use my illustrations to convey what I wasn't able to within the game.</p>
<p class="title-special title-box">2 years have passed since the previous title, how has your art-style changed during that period?</p>
<p class="para"><b>Kimihiko Fujisaka</b> - People have said that I've improved (laughs). For facial expressions, they already have a certain characteristics. And so, I don't draw them with anything special. I was more specific in the previous game. Although, I'm not good at drawing girls' expressions... Rather, you could say that I don't like it.</p>
<p class="title-special title-box">Really? Which characters in particular?</p>
<p class="para"><b>Kimihiko Fujisaka</b> - Nowe, Manah, and Eris, even though they're the main characters (laughs).</p>
<p class="title-special title-box">Did you use any references while drawing?</p>
<p class="para"><b>Kimihiko Fujisaka</b> - I studied how real people moved. I had our game designer, Kodake, pose, It was so I could take photos of it for reference (laughs). I got my ideas from magazine clippings, and opinions of all of the staff.</p>
<p style="margin-top: 0.4cm; font-size: 165%;" id="push">I wanted to use my illustrations to convey what I wasn't able to within the game (Kimihiko Fujisaka).</p>
<p style="margin-top: 0.4cm; font-size: 165%;"><br>The extravagant voice actors & their performances.<br><br></p>
<p class="title-special title-box">As with the previous game, we have an amazing cast of voice actors.</p>
<p class="para"><b>Takamasa Shiba</b> - From the planning phase, I had always wanted certain voice actors to appear. Specifically, I wanted ROLLY (Rolly Teranishi), Tatsuya Gashûin, and Yoshio Harada.</p>
<p class="title-special title-box">A lot of the characters look like their actors.</p>
<p class="para"><b>Takamasa Shiba</b> - Right! Tatsuya Gashûin and ROLLY look just like Zhangpo and Yaha.</p>
<p class="para"><b>Kimihiko Fujisaka</b> - Like I said earlier, the characters were designed first. I was a little surprised.</p>
<p class="para"><b>Takamasa Shiba</b> - Aibu Saki (Eris's voice actor) gave it her all. She wasn't very good at it in the beginning, but gradually completely became Eris.</p>
<p class="title-special title-box">What are your thoughts on appointing actress Koyuki Matsuyama as Manah, and actor Ryo Katsuji as Nowe?</p>
<p class="para"><b>Takamasa Shiba</b> - Manah is a calm-spirited character, so I thought the actress would portray her well.</p>
<p class="para"><b>Akira Yasui</b> - In that way, Ryo Katsuji fits Nowe as a character as well.</p>
<p class="para"><b>Takamasa Shiba</b> - Right. Nowe is a low-spirited character, so I imagine it would have been hard to play. Although, he did it skillfully. Although, it makes me wonder if having two low-spiriting protagonists was a good idea (laughs).</p>

<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 165%;"><br>The special music of "DOD2".<br><br></p>
<p class="title-special title-box">I feel like there was a lot of work put into the music this time.</p>
<p class="para"><b>Takamasa Shiba</b> - From the start, we had asked a non game-developer to handle the music. I was wondering about who would make it, and then I thought about how if someone was able to make good pop music, they could make good game music. I thought of Ryoki Matsumoto, who composed for Nakashima Mika's "Yuki no Hana", and how he would do a great job. And so, while collecting information about Matsuomoto on the web, I found his email address. I immediately sent him a greeting. AFter around an hour, I got a phone call. They wanted to hear the story, so we met up.</p>
<p class="title-special title-box">Do you have anything to say about the main theme, Hitori?<sup id="editor-4a"><a href="#editor-4b" style="color:rgb(190, 247, 255);"><small>[4]</small></a></sup></p>
<p class="para"><b>Takamasa Shiba</b> - I commissioned the piece. I asked Satomi, the lyricist behind "Hitori" and the previous song, "Yuki no Hana". And, I told Matsumoto everything about the game and it's story. The finished lyrics included words that relate to the game, such as "red" or "black". And so, "Hitori" can be about Nowe or Caim.</p>
<p class="title-special title-box">The scene with Caim and Angelus was very moving, right?</p>
<p class="para"><b>Takamasa Shiba</b> - Everyone was making comments comments about how it made them cry, it made me very happy... All went according to plan (laughs).</p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 165%;"><br>A message to everyone who played "DOD2".<br><br></p>
<p class="title-special title-box">For the end, would you please leave a few comments for our players?</p>
<p class="para"><b>Kimihiko Fujisaka</b> - There are things you can't see until the 2nd and 3rd endings. For the sake of seeing everything, please strike your (many) enemies down. Please look at the drawings!!</p>
<p class="para"><b>Taro Hasegawa</b> - A lot of people worked on the monsters, so please chase them and kill them or shoot them down. Please enjoy their movements and modelling.</p>
<p class="para"><b>Akira Yasui</b> - As "2" is a sequel, we wanted to perfect the game as much as we could. We thought about the good and bad of the previous game a lot. If everyone thinks this game is interesting, then it was worth making. Please continue to play until the end!</p>
<p class="para"><b>Takamasa Shiba</b> - While "2" exists because of "1", we made it so that you can enjoy "2" without playing "1".<sup id="editor-5a"><a href="#editor-5b" style="color:rgb(190, 247, 255);"><small>[5]</small></a></sup>For "2", we wanted to refine the previous game. For example, on the gameplay side of things, it was definitely rough. We also wanted to reign in the story, which was very wild. Naturally, we can't offer everything, but we think the price is worth it. I'm unsure about whether or not there'll be a sequel, but I personally want it. A potential sequel is dependent on everyone playing the game. So, everyone, please play "2"!</p>
<p class="title-special title-box">Thank you all for taking the time out of your day to join us.</p>

<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 165%;" id="push">Notes:<br><br></p>
    <p class="para"><sup id="editor-1b" style="color:rgb(190, 247, 255);"><a href="#editor-1a">[1]</a></sup>In Japanese, the series can be shortened as "ドラッグ", which is the equivalent of western fans saying DoD. It translates to drugs, but is pronounced as dough-rag-oo. This is in reference to the Japanese title, ドラッグオンドラグーン, pronounced as dough-rag-oo-own dough-rag(silent g)-goon.
</p>
<p class="para"><sup id="editor-2b" style="color:rgb(190, 247, 255);"><a href="#editor-2a">[2]</a></sup>In Japanese, they use the term "真人類". This literally translates to "True Human", but I'm fairly certain "New Breed" is the official localisation, so...<br><br>Anyway, it's just interesting to note.</p>
<p class="para"><sup id="editor-3b" style="color:rgb(190, 247, 255);"><a href="#editor-3a">[3]</a></sup>In Japanese, the term "精霊" is used. It means something along the lines of a spirit, a soul, or a ghost. I just thought it was worth noting based on interpretation because of what "Shade" means in relation to other lore terms...</p>
<p class="para"><sup id="editor-4b" style="color:rgb(190, 247, 255);"><a href="#editor-4a">[4]</a></sup>In Japanese, it's called "ひとり" and by "中島美嘉". For English fans (the only ones on this site lol), it will be easier to search it up that way. I didn't want to search that hard, but I was able to find this <a href="https://www.youtube.com/watch?v=iCItH8Z4eh4"><u>link.</u></a> It's quite a good song.</p>
<p class="para"><sup id="editor-5b" style="color:rgb(190, 247, 255);"><a href="#editor-5a">[5]</a></sup>It's nothing important, I just felt this sentence was worded in a funny way. I didn't add the strange amount of "1"s and "2"s, I swear! Look!<img class="particular" src="https://i.imgur.com/9KjQNL4.png"></p>
<p class="Line"></p>
<p class="menu"><a href="/stories/drakengard-2/creator-commentary">Back</a></p>