---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>A Repeating Prayer</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
        @media screen and (orientation: landscape)
{
  #over1{
  margin: 0px auto;
  max-width: fit-content;
}
}
    @media screen and (orientation: portrait)
{
  #over1{
  margin: 0px auto;
}
}

</style>

<p style="margin-top: 1cm; font-size: 300%;">A Repeating Prayer</p>
<img src="https://i.imgur.com/up1b2JD.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<p class="title" style=" font-size: 300%;">December 29th</p>
<p class="title"><span class="title-box">2B (narration):</p>
<p class="para"><br>Everything that lives is designed to end.
<br>We are perpetually trapped...
in a never-ending spiral of life and death.
<br>Is this a curse?
<br>Or some kind of punishment?
<br>I often think about the god who blessed us with this cryptic puzzle...
and wonder if we'll ever have the chance to kill him.</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">Agh! Damn... 2B... Wh-why?</p>
<p class="title"><span class="title-box">Pod 153 (narration):</p>
<p class="para">A broad white blade has pierced 9S through the abdomen.
Delicate red drops fall from its tip.</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">You tried to access forbidden secrets...</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">But...I...trusted you...</p>
<p class="title"><span class="title-box">Pod 153 (narration):</p>
<p class="para">9S's vital signs begin to fall.
<br>Pulse weakening. Core temperature dropping. Motor functions failing. Pupils dilating.
<br>As his systems continue to fail, two final words escape the boy's lips.
</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para"> ​

It...it hurts...</p>
<p class="title"><span class="title-box">Pod 153:</p>
<p class="para">Pod 153 to 2E.
<br>Proposal: Delete 9S's current consciousness data and reinstall the default settings.</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">I can't do this anymore...</p>
<p class="title"><span class="title-box">Pod 153:</p>
<p class="para">YoRHa unit Number 2 Type E.
<br>9S's unauthorized accessing of Bunker data was predicted behavior.
<br>It is the duty of the 2E model to execute said target for such behavior.
<br>As such, unit 2E should have anticipated this event.
<br><br>Query: Please explain why 2E would fail to execute
a duty in spite of it being a predicted event.
</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">Shut up.</p>
<p class="title"><span class="title-box">Pod 153:</p>
<p class="para">Furthermore, emotions are forbidden for YoRHa units.
<br>Proposal: Immediately cease all emotional expression, delete 9S's current consciousness data, and reinstall the def—</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">Shut up!<br><br>9...S...</p><p class="line"></p>
<p class="title" style=" font-size: 300%;">April 6th</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">My name's 9S. I'm a Number 9 Type S YoRHa model.
We're scanners. We scout mission locations and determine the capabilities of our enemies—the machine lifeforms.
<br><br>Oh, and sometimes we hack enemy systems, although we're not particularly good at combat.
<br>We spend most of our time alone—working behind the scenes, I guess you'd say.
<br>It's not glamorous, but I like to think we're supporting YoRHa in our own way.
</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">My name is 2B. I am a YoRHa model, designation Number 2 Type B. Type B models specialize in combat. We're designed to be utilized in heavy fighting situations along the front lines.
<br>I don't feel emotion at the prospect of giving up my life.
<br>That's how I was designed. So I wouldn't hesitate to sacrifice myself if the need arose.
<br><br>But 9S...after meeting you...</p>
</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">After teaming up with 2B, I found myself engaged in combat more often.
<br>She was always charging off into dangerous situations.
<br>Just watching her makes me nervous.
<br>I mean, I'm a scanner, you know?
<br>I can't even equip more than one weapon at a time.
<br>Still, it made me happy to go on missions with her.
<br>It was nice not being alone anymore.
<br><br>It was like I'd gained...a family.</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">I was aware of 9S's advanced investigative capabilities from the moment he was designed.
<br>It was predicted that this ability would cause him
to access forbidden data related to Project YoRHa.
<br>My true name is 2E. Number 2 Type E.
<br>It is my duty to execute 9S the moment
he gains unauthorized access to Bunker data.
<br><br>It is a duty I will carry out over...and over...and over.
</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">I won't deny that I have special feelings toward 2B.
<br>That kind of thing isn't allowed for us YoRHa units.
</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">I kill 9S again and again.
<br>Every time, it leaves a great emptiness inside me.
<br><br>Do I have the right...
</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">to wish</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">to wish</p>
<p class="title"><span class="title-box">2B & 9S:</p>
<p class="para">for the day when my sins are forgiven?</p>
<p class="title"><span class="title-box">Pod-153</p>
<p class="para">Deletion of current 9S consciousness data confirmed.
<br>Commencing full format of memory area, followed by default data installation.</p><p class="line"></p>
<p class="title" style=" font-size: 300%;">January 18th</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">Let's see… This appears to have been a commercial facility.</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">Hmm.</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">Ancient humans purchased all kinds of stuff here.
<br>Some even enjoyed just looking at products without actually buying anything.
<br>According to the records, that was called "window shopping."
<br>Humans sure did some fascinating things, huh?
<br>Hey, how about we try it sometime, 2B?
<br>The "window shopping" thing, I mean.
</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">We're soldiers created for battle. There's no point in us engaging in senseless activities like shopping in a ruin.</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">Oh, not right now! I'm talking about after we retake Earth and the humans rebuild their cities.
<br>If there's no more war, then us combat androids won't have to fight anymore. Besides, I bet window shopping is fun!
</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">...I'll think about it once the war is over.</p>
<p class="title"><span class="title-box">9S (narration):</p>
<p class="para">Saying that, 2B turned and walked away.
<br><br>There was an air of shame in her movements,
a hint of sadness in her voice.
<br><br>We spent a day fishing together in the flooded city.
<br><br>We were there to study marine resources,
but weren't able to catch the fish we needed.
<br><br>We didn't have anything to talk about,
so we just stared out over the sea as we worked.
<br><br>The breeze was warm, with a touch of salt.
<br><br>Sunlight danced over the surface of the water.
<br><br>I still remember those useless details.
<br><br>My favorite memory is from the incident in the city ruins.
<br><br>Right after we began our mission, I pissed off a boar.
<br><br>It ended up chasing us all day.
<br><br>We weren't aware that there were creatures
stronger than machine lifeforms.
<br><br>We finally had to run up a building to get away.
<br><br>As we climbed,
we debated whether we should stop our investigation
of machine lifeforms and focus on the boars instead.
<br><br>Once we reached the top, we took in the entire city.
<br><br>Crumbled buildings covered in green...
<br><br>Animals and plants more numerous than in the old world...
<br><br>The smell of wind and the sound of rain...
<br><br>It's one of my most treasured memories.
<br><br>The two of us visited many places together.
<br><br>Not for fun, of course, but on missions.
<br><br>We found areas where even walking was difficult,
and fought fierce battles against giant machines.
<br><br>But my memories of days spent doing nothing with 2B
stand out more than those of any battle.
<br><br>Soon, those memories will also disappear
along with my consciousness data.
<br><br>Still, I'm glad the me I am now was able to be with you.
<br><br>Goodbye...2B.
</p>
<p class="title"><span class="title-box">Pod-153:</p>
<p class="para">Deletion of current 9S consciousness data confirmed.
<br>Commencing full format of memory area, followed by default data installation.</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">I see...</p>
<p class="title"><span class="title-box">Pod-153:</p>
<p class="para">YoRHa unit 9S has been repeatedly
executed for accessing confidential data.
<br>However, in this instance, little resistance was detected.
<br>Furthermore, according to data within 9S's memory area,
he was aware that YoRHa unit 2B was an executioner model.
<br><br>Query: Why did 9S not resist execution?
</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">9S...knew I was an executioner?
    <br><br>Hah ... hahahah …
<br>Oh, Pod 153.
<br>You don't understand 9S at all.
</p>
<p class="title"><span class="title-box">Pod-153:</p>
<p class="para">Negative. Pod 153 is YoRHa unit 9S's tactical support unit.
<br>This Pod is assigned to support the designated YoRHa unit at all times, and also to alert the YoRHa Type E model in the case of unauthorized Bunker access.
<br>As such, this Pod has knowledge of
all information pertaining to YoRHa unit 9S.
<br><br>Therefore, the assertion that this Pod does not
understand YoRHa unit 9S is incorrect.</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">You don't know the first thing about him.
<br>And...
<br><br>neither do I.
</p><p class="line"></p>
<p class="title" style=" font-size: 300%;">February 4th</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">I can't...do this anymore...</p>
<p class="title"><span class="title-box">Pod-153:</p>
<p class="para">Proposal: YoRHa unit 2B should carry out her duty.</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">I don't want to kill him anymore...</p>
<p class="title"><span class="title-box">Pod-153:</p>
<p class="para">Negative. The duty assigned to YoRHa unit 2B remains in effect. Command denied your submitted duty-relief request 60 hours ago.
</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">Why does it have to be me?</p>
<p class="title"><span class="title-box">Pod-153:</p>
<p class="para">YoRHa unit 2B is modeled after the sole surviving member of the experimental YoRHa squadron.
<br>2B was the most appropriate unit for this duty due to her excellent combat capabilities and ability to adapt to harsh conditions.</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">I'm not suited for this duty at all...</p>
<p class="title"><span class="title-box">Pod-153:</p>
<p class="para">Negative.</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">Someone...help me....</p>
<p class="title"><span class="title-box">Pod-153:</p>
<p class="para">Negative. Alert. Proposal. Destroy. Orders. Punish. Mankind. Moon. Fiction. Machines. Boy. Guilty.</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">Nines!</p>
<p class="title"><span class="title-box">9S (narration):</p>
<p class="para">We YoRHa were born to be killed.
<br>We repeatedly lose our lives and are reborn anew.
<br>Almost like the concept of reincarnated souls.
<br>But...why does my chest tighten like this?
<br>Each time I lose my life, why do I also lose something precious from my heart?
<br>Why does it make me feel so sad, 2B?
<br>The thought of the current me disappearing...
<br>The thought of never seeing you again...</p>
<p class="title"><span class="title-box">2B (narration):</p>
<p class="para">We YoRHa were created to kill.
<br>We readily lay down our lives in order to restore humanity and reclaim Earth.
<br>Even if it means destroying our own kind.
<br>But as I kill 9S over and over,
data accumulates in my heart like dirty blood.
<br>His words infiltrate every corner of my being.
<br>And no matter how I try, I can never make it clean.<br><br>
...
<br><br>......
<br><br>9S...
<br>Did we make the wrong choice?</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">Urk... Aaaah!</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">9S... Nines!</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">You...finally called me Nines...</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">The self-destruct program will delete
your consciousness data. Why did you run it?</p>
<p class="title"><span class="title-box">Pod-153 (narration):</p>
<p class="para">The physical virus administered to 9S had begun to destroy his body. Arms... Fingers... Hair...<br><br>All his parts began their final, painful collapse.</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">It's okay...2B... It's your duty...to kill me...
I knew you couldn't do it... I knew you were...suffering.</p>
<p class="title"><span class="title-box">Pod-153 (narration):</p>
<p class="para">9S attempted to pat her head, but he no longer had a hand.</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">I'm happy to cast aside my life for you.</p>
<p class="title"><span class="title-box">Pod-153 (narration):</p>
<p class="para">As his body fails, 9S expresses his wish.</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">Nines... No...</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">2B, I...I mean, I, YoRHa unit Number 9 Type S...
have been honored...to fight against the machine lifeforms with you, Number 2 Type B…
<br><br>May fortune favor you always...</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">Ni...</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">Say...2B? I have one last request...
<br>If I become this me again...
be sure you kill me...Promise?<br><br>You have a good heart, 2B...
</p>
<p class="title"><span class="title-box">Pod-153 (narration):</p>
<p class="para">9S's voice grew too faint to hear.</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para"> ​
I won't forget...the places we traveled. The city... The amusement park... The sea…</p>
<p class="title"><span class="title-box">Pod-153 (narration):</p>
<p class="para">The light left his eyes.</p>
<p class="title"><span class="title-box">9S:</p>
<p class="para">Thank you for being with me...2B.</p>
<p class="title"><span class="title-box">2B:</p>
<p class="para">Nines...
<br>I'm sorry... I'm so sorry...
</p>
<p class="title"><span class="title-box">Pod-153 (narration):</p>
<p class="para">Everything that lives is designed to end.
<br>They are perpetually trapped in a never-ending spiral of life and death.
</p>
<p class="title"><span class="title-box">2B (narration):</p>
<p class="para">Even if the sin of living means I must suffer killing 9S...</p>
<p class="title"><span class="title-box">9S (narration):</p>
<p class="para">If the joy of meeting 2B gives meaning to our lives...</p>
<p class="title"><span class="title-box">2B (narration):</p>
<p class="para">I will continue to struggle.</p>
<p class="title"><span class="title-box">9S (narration):</p>
<p class="para">I will continue to fight.</p>
<p class="title"><span class="title-box">2B & 9S (narration):</p>
<p class="para">Even if that means turning our weapons against a god...</p>
<p class="line">
<p class="menu"><a href="/stories/nier-automata/memories-of-puppets/">Back</a></p>