---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Farewell</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
        @media screen and (orientation: landscape)
{
  #over1{
  margin: 0px auto;
  max-width: fit-content;
}
}
    @media screen and (orientation: portrait)
{
  #over1{
  margin: 0px auto;
}
}

</style>

<p style="margin-top: 1cm; font-size: 300%;">Farewell</p>
<img src="https://i.imgur.com/up1b2JD.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href=/credits/help><u>mintychu</u></a></p>

<p class="title" style=" font-size: 300%;">September 5th</p>

<p class="title"><span class="title-box">Pod 153 (narration)
  ​</p><p class="para">Everything that lives is designed to end.
"We" are perpetually trapped ...
... in a never-ending spiral of life and death.
Is this a curse?
Or some kind of punishment?
I often think about the god who blessed us with this cryptic puzzle ...
... and wonder if "we'll" ever have the chance to kill him. </p><p class="para"><em>(September 5th)</em></p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Unit 2B's vital signs confirmed.
Memory storage, thought circuits, auxiliary motor functions, all confirmed to have been restarted.
Entering reboot sequence.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Ugh ...</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Good morning, 2B.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">I ...</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Report: Unit 2B was killed by unit A2 approximately 1718 hours ago.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">1718 hours ago ... So ... 72 days, then.</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Following that, us tactical support units reconstructed your parts.
The virus previously inside you deactivated along with the tower's collapse, and remains in suspension.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Tower ...? What happened ...?

<em>(2B suddenly realizes something.)</em>

Ah!! 9S ...!!</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Report: Unit 9S ceased activity approximately 740 hours ago.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Pod ... 153?</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Unit 9S was severely contaminated, however said virus deactivated along with the tower's collapse, and remains in suspension.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">So he's just ... asleep?</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Negative: An error occurred during unit 9S's reboot sequence.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">What do you mean, an error ...?</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Unknown: All checks were completed, however his personal data will not begin loading procedures, causing an inability to reboot.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">His personal data won't load ... Then in that case, run the monitoring sequence, and skip the check sequence ...</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Negative: This unit has already attempted 345 combinations 34,500 times, and all have ended in failure.
Unit 9S's current state suggests there is a possibility his personal data has been lost due to some unknown cause.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">His personal data is ... lost ...?</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Proposal: Unit 2B should consider disposing of unit 9S's body.</p><p class="para"><em>(2B speaks in a strong tone.)</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">There's no way I could ... just dispose of his body ...!</p><p class="para"><em>(There is a considerable pause.)</em></p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">... Understood.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">After being reconstructed, there wasn't even a hint of dirt on 9S's body ...
His face ... looked just like he was sleeping.
I took my weapon in hand, and packed the minimum necessary provisions, before standing up.
I had to go.
There had to be a way to get 9S to reboot properly.
That's what I believed.</p><p class="title" style=" font-size: 300%;">September 14th</p>

<p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">I received information on what happened while I was gone from the pods.
About A2 ... and 9S.
I also heard about how the two of them destroyed some huge "Tower" that had been created by the machine lifeforms.
The rubble from it is still scattered all throughout the city.
The City Ruins' landscape had been completely changed.</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Proposal: Unit 2B should gather information at the resistance camp.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">The resistance camp was able to miraculously avoid damage from the collapse of the tower ...
However Devola and Popola, and a few others in the resistance, lost their lives in the fight with the machines.
Even though Anemone was faced with such a difficult situation, she still remained level-headed.
I tried speaking to Anemone about the situation with 9S's rebooting, but she wasn't able to provide me with any helpful information.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Report: Relevant records within the Bunker have been lost.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">We YoRHa units are a special type.
We contain something other androids don't within us — a Black Box.
And due to that, we're capable of much higher functionality.
However, unlike general androids, our maintenance is only able to be done on the Bunker.
It's possible to make easy repairs with the small amount of materials and programs at access points, but detailed information about the insides of our bodies was lost along with the fall of the Bunker.
Even so, I was traveling from place to place looking for the information I needed.
No matter ... how long it took.</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Alert: Unit 2B is taking damage due to maintenance failure.
Proposal: Unit 2B should perform proper repair and replenish materials.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">With how tired I was, even doing simple first aid felt troublesome.
In the depths of my heart, I started to feel like ... everything I was doing was meaningless.
I don't ... care anymore.
I wonder if ... 9S will ever wake up.
That sort of dark thought process began to take over.
And I shook my head.
I couldn't give up. I couldn't give up. I couldn't give up.
Even if I was just deceiving myself, I couldn't admit that.
It caused my body to become heavy.
If I go further away from here, I may be able to find surviving YoRHa members.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Report: Mail notification received.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">... Check it.</p><p class="para"><em>(The pod reads out the mail's contents in its usual tone of voice.)</em></p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Sender: Jackass.
Subject: About 9S's Personal Data Reboot.
Yo, how's it going, 2B?
I know a little something about 9S's condition.
I've been looking into a lot of things since everything happened, and I came across some concerning information.
There were some logs remaining in the access port outside of 9S's memory storage.
They were a communication record from the "Ark" object those machine lifeforms made.
I don't know anything about that "Ark" thing, but it might be some sort of server.
I'll send you the time and coordinates that were written in that log right away.
There might be a hint somewhere in them.

<em>(There's a short pause.)</em>

This concludes the body of the email. Time and three-dimensional coordinate data is attached.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">Those coordinates ... were right in the area where the Tower collapsed.</p><p class="title" style=" font-size: 300%;">September 17th</p>

<p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">Mountains and mountains of white rubble, as far as I could see.
I'd arrived at the center of where the Tower collapsed.
And it was there, where I began digging.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Hypothesis: Origin point is 40 meters below the current point.</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Proposal: Search for a more efficient method for digging.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">That's right, the coordinates Jackass sent me pointed right to a location within the Tower's rubble.
I was digging through it so I could reach the position she gave me.
But the material was much more firm than I expected it to be, and my digging wasn't going particularly well.
My breath began to show, and before I'd realized it, it was snowing.
It seems the Tower's rubble was absorbing the surrounding area's heat and causing the area to cool.
According to the pods, it was made of materials derived from the bodies of machine lifeforms, which centered around silicon, among other things.
But that didn't matter.
I only cared about my digging.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Hypothesis: Origin point is 25 meters below the current point.</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Alert: Unit 2B is taking damage due to maintenance failure.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">The Tower's materials became increasingly firm the further down I went.
I was using my weapon to dig, but I had to stop using my one-handed sword to switch to something better suited, and I proceeded downward by practically crushing the materials.
I continued on, my mind devoid of any other thoughts, until I finished.
I could feel an ache run through my pain sensors.
But it was only thanks to that pain that I was able to keep my sanity.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Hypothesis: Origin point is 12 meters below the current point.</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Alert: Unit 2B is taking damage due to maintenance failure.
Alert: If no proper repair is performed, it will cause severe impact to the unit's body.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">As I continued to dig, I found out what that "Ark" really was.
It seemed to be a huge memory unit, made by combining complex crystals.
However, as it'd been shattered to pieces, I couldn't find a single "living" crystal.
Regardless, I continued digging in search of the Ark's crystals.
With each swing of my weapon, blood began to scatter.
I couldn't feel my fingertips anymore, and the sensors running from my wrists had died.
The bolts I'd used to forcibly fix it were starting to dig into my skin.
But that didn't matter.
Somewhere up ahead, the information I needed to save 9S was ...
Even if only a little remains of the Ark, I ... I have to ...!!</p><p class="para"><em>(An error sound pings.)</em></p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Alert: Unit 2B entered forced shutdown due to overload.</p><p class="title" style=" font-size: 300%;">September 19th</p>

<p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Emergency nanomachine removal complete.
Unit 2B's vital signs confirmed.
Entering reboot sequence.

<em>(A long "beeeeep" alert sounds.)</em>
<em>(Afterwards, a short three "beeps" sound.)</em>

Good morning, 2B.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Huh? I ...</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">You entered a forced shutdown due to severe continuous operation.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">When I hurriedly asked about the Ark, the pods showed me a small, orange sparkling crystal.
What they found seemed to be a remnant of the machine lifeforms' communication protocol.
If we use that protocol and its data, we could create a key, and open up 9S's memory storage.
Although I didn't understand the details, there was meaning in my continued digging.
The pods siphoned out the data and recombined it to create a repair vaccine.
Then, we could pull the cable from 9S's access port and create a wired connection.
With that, I'd be able to insert the repair vaccine.
After that, all I'd have to do is hope that 9S's memory storage data could be evacuated into his personal data.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Repair vaccine injected.

<em>(Three seconds later, the sound of a heartbeat stops and a flatline beeps.)</em>

No effect. Re-administering repair vaccine.

<em>(Three seconds later, the sound of a heartbeat stops and a flatline beeps.)</em>

No effect. Re-administering repair vaccine.

<em>(Three seconds later, the sound of a heartbeat stops and a flatline beeps.)</em>

No effect.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Why ... Why isn't it ...?!</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Hypothesis: Repair vaccine is a failure.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Negative: Repair vaccine's functions confirmed to be normal.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Try it again ... Administer it to him again!</p><p class="para"><em>(Three seconds later, the sound of a heartbeat stops and a flatline beeps.)</em></p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">No effect.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Try ... again ...</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Report: Traces detected indicating the memory region of unit 9S's contents have been erased.</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Negative: It is an effect of the repair vaccine.
Hypothesis: Unit 9S's personal data has been lost.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">His personal data ... is lost ...?</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">His personal data was wiped of his own accord, but there is the possibility it was moved to a different location.
According to unit A2's records, it is possible his data evacuated using the machine lifeforms' Ark.
Report: Possibility of recovering 9S's personal data extremely low.</p><p class="line"></p><p class="title" style=" font-size: 300%;">Script ending</p>
<p class="title"><span class="title-box">2B
  ​</p><p class="para">No ...</p><p class="para"><em>(Three beeps suddenly sound.)</em></p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Report: Memory components discovered within traces of personal data.
Partial playback possible of memory containing the reason behind his personal data's reparation failure.
Query: Does unit 2B feel it necessary to repair this memory component?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">... Repair it.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Understood.
Data repair complete.
Starting playback.</p><p class="para"><em>(9S's voice begins to play back with the sound quality of a radio.)</em>
<em>(He seems to be suffering.)</em></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">I didn't ... get on the Ark created by the machine lifeforms.
We YoRHa ... We don't deserve to be loved by this world ... We're just soldiers created to die ...
But I ... I think I'm glad ... that I was born as myself ...
My personal data, it ... it can't keep it's shape any longer.
I wonder if I'm about to disappear ...
But ... I'm okay with that ...</p><p class="para"><em>(2B begins crying, without making a sound.)</em></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Hey, 2B ... We're ... we're not immortal or anything.
Someday, we'll break down and return to the Earth.
But, my existence ... It wasn't meaningless ...
Meeting you ... gave meaning to my birth ...
Thank you ...
Thank you ...</p><p class="para"><em>(9S's voice becomes hidden behind static.)</em>
<em>(2B begins weeping.)</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Nines ...</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">2B didn't move from where she was.
She remained there, unmoving ... forever.
It was a completely irrational act.
However, "we" can now understand the reason behind it.
Why it was that 2B didn't move.
Why it was that she didn't speak.
Because "we" are now in that same place, feeling the same thing.</p><p class="para"><em>(There is a small pause.)</em></p><p class="title"><span class="title-box">Pod 153 (narration)
  ​</p><p class="para">Everything that lives is designed to end.
"They" are perpetually trapped ...
... in a never-ending spiral of life and death.
However ... life is all about the struggle within this cycle.
That is what "we" believe.</p><br>
<p class="line"></p>
<p class="para">This is how the original script book for the recital ended. It was given to people attending the concert as a
bonus for ordering tickets from Square Enix E-Store, and therefore, is extremely rare. Because the book
was given to people starting from the first Osaka concert and it contained scripts for not yet performed
recital dramas, there was a certain hype related to it being leaked.
<br><br>
However, what is surprising is that this final recital, Farewell, was performed differently during the
actual concert. Where the original script tells the events after 9S refused to board inside the ark, the
following script tells a different story, where the antidote is able to revive 9S.</p>


<p class="line"></p><p class="title" style=" font-size: 300%;">Concert ending</p>
<p class="title"><span class="title-box">2B
  ​</p><p class="para">No, 9S, this can't ...
We didn't even get to say goodbye, and yet ... why ... why am I the only one ...!</p><p class="para"><em>(Three beeps sound out.)</em></p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Abnormal signal detected from Black Box.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">I don't care anymore! I don't ...!</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Alert: Strange vibrations emanating from Black Box. Temperature rising.
Alert: Errors detected in unit's functionality. FFCS offline. NFCS offline. Initiating short-range radio-wave camouflage.
Unit 2B's vital signs are deteriorating. Alert: Immense damage to unit 2B's life preservation functionality.
Proposal: Body adjustment and maintenance in a safe location urgently required.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Report: Abnormal vibrations detected from Black Box. Temperature rising.</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">This unit has already reported on the abnormal situation.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para">Negative: The vibrations are not originating from unit 2B, but instead from unit 9S.</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para">Negative: Unit 9S's personal data has already been terminated. Reboot is realistically impossible.</p><p class="para"><em>(Warning beeps begin to chime out.)</em>
<em>(A heartbeat can be heard.)</em></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Nnngh ...</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">N-Nine ...s ...</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Where ... am I ...?
2B, what did I ...?</p><p class="para"><em>(2B speaks through tears.)</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">I'm so glad ... I'm so glad you're ...</p><p class="title"><span class="title-box">Pod 153 (narration)
  ​</p><p class="para">It is still unknown what happened that day. It is possible that 9S's Black Box had retrieved his memory's personal data.
At any rate, it may have been effected by some alien technology yet unknown to us.</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">Everything that lives is designed to end.</p><p class="title"><span class="title-box">Pod 153 (narration)
  ​</p><p class="para">"They" are perpetually trapped ...
... in a never-ending spiral of life and death.</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">However, we cannot give in.</p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">Even if this world is full of curses. Even if this world punishes us.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">We continue to resist everything within that spiral.</p><p class="title"><span class="title-box">2B / 9S (narration)
  ​</p><p class="para">While singing words of prayer.</p></div></div><p>  ​</p>
<p class="line">
<p class="menu"><a href="/stories/nier-automata/memories-of-puppets/">Back</a></p>