---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Lies</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
        @media screen and (orientation: landscape)
{
  #over1{
  margin: 0px auto;
  max-width: fit-content;
}
}
    @media screen and (orientation: portrait)
{
  #over1{
  margin: 0px auto;
}
}

</style>

<p style="margin-top: 1cm; font-size: 300%;">Lies</p>
<img src="https://i.imgur.com/up1b2JD.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href=https://theark.wiki/w/Welcome><u>theark.wiki</u></a></p>
<p class="title" style=" font-size: 300%;">Exchange Test</p>
<p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">Everything that lives is designed to end.
<br>We are perpetually trapped……
<br>In a neverending spiral of life and death.
<br>Is this a curse?
<br>Or some kind of punishment?
<br>I often think about the god who blessed us with this cryptic puzzle
<br>And wonder if we’ll ever have the chance to kill him.</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">Operator 6O to 2B. Can you hear me?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">I hear you.</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">Roger that.
<br>Now then, I think I’d like to initiate the scheduled tactical support unit exchange test.
<br>You normally use Pod model 042, but this time, we’ll be assigning 9S’ 153 to you for a few days.
<br>You were told this the other day, but this tactical support unit exchange is regularly used as a test to get information on the Pod; their usefulness, any problems they might have, that sort of thing.
<br>It’s called a “test,” but just go about as you normally do.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Understood.</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">Ah, looks like there’s a voice message from 9S, who’s already proceeding with the test. I’m playing it back for you now.</p><p class="para"><em>(The sound of data being played)</em></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Ummm……hellooo? Can you hear me, ma’am?
This is 9S. I’m doing my best on this exchange test with the unsociable Pod 042.</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para"><code>Negative: Tactical support units do not have emotions.
The expression “unsociable” is inappropriate.</code></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">…is what I’m dealing with. Well, I’ll try to enjoy it.
Ah, one more thing, ma’am. If you get tired of doing the test, please let me know right away.
I’ll do whatever I can to try suspending the te……</p><p class="para"><em>(The data replay is interrupted by a noise)</em></p><p class="title"><span class="title-box">6O
  ​</p><p class="para">Ah…..ahaha…..
Looks like the rest of it got erased by Command’s censors.
….W-Well, good luck with the exchange test!</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">Operator 6O ends the transmission, inviting silence.
Once the current task is confirmed, a nearby access point is displayed.
It looks like an investigation is necessary for a body transport function error.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Pod 153 to YorHa unit 2B.</code></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">What?</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>“Nice to meet you!”</code></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">......Huh?</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>“Nice to meet you!”</code></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">...What is that...?</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Report: a statement repeated in order to encourage a harmonious relationship between humans.
In accordance with YorHa unit 9S’ specifications, this is to be repeated until a similar response has been received.
“Nice to meet you!”</code></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">N…..Nice to…meet you….</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Understood.</code></p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">If the exchange test continues like this, it looks to be the cause of unnecessary stress.
At a loss, I switched focus to the designated access point…….</p><p class="para"><p class="title" style=" font-size: 300%;">Pascal</p>
<p class="title"><span class="title-box">2B
  ​</p><p class="para">On the way to the target access point, I passed a village of machines. It’s a village of pacifists led by a machine named “Pascal.” In the distance, the children seem to be having fun, singing songs. It has been confirmed many times that the machines here are strange individuals. There are those who imitate families, those who talk of love, and the children…..
Despite being weapons created by the aliens, they have personalities.
Almost like humanity…..

(Short pause)

…..It is not permitted for YorHa units to have emotions. We are models specialized for combat, after all. It is the most efficient, most correct choice. But, in doing so, I feel that something unseen in the heart is lost. Was our choice truly the correct one? Who would be considered a fitting existence in this world? Listening to the song of the children, I continued to walk the dark path alone…..</p><p class="title"><span class="title-box">Pascal
  ​</p><p class="para">Ahh……and there. I’ll be intruding for a bit……
Hello. My name is Pascal. I’m currently the chief of a village in which those who are tired of fighting have been gathered. What about all of you here, on these grounds?

(Pascal speaks as if he’s talking to everyone at the venue)

Are you not tired of fighting day in and day out? Being given orders by someone, overworking yourselves? ……If you work too hard, whether you’re a machine lifeform or a human, you’ll end up broken. Ah, that’s right. Why don’t I teach you something nice?
When times are hard, or you feel saddened, sing a song. If you do, you’ll feel better. What kind of song, you wonder? ……Hmm…….for example, a song like this.</p><p class="para"><p class="title" style=" font-size: 300%;">Access Point</p>
<p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Arrival at access point marked for investigation.</code></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Check the transmission status and body storage function along with the transport system.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Understood.</code></p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">The designated access point was located in the desert’s open area.
Amidst the sand-laden wind, the Pod’s transmission light is quietly flickering.
I was unable to see any signs of damage to the outer casing of the access point, so it must be an internal malfunction. If it’s the Pod, the problem should be resolved shortly.
The sand-laden winds become stronger, obscuring the sun’s rays.
In order to keep watch over the surrounding area, I climbed a nearby rocky area.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Body storage function and transmission status check complete.
Report: Malfunction in body reconstruction unit detected.</code></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Repair it.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Understood.</code></p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">My field of vision worsens as the wind becomes a sandstorm.
I can see the silhouettes of old world remains made of stone here and there.
A strong wind carries the sand.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Repairs on body reconstruction unit. 50% complete.</code></p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">Squinting my eyes at the occasional strong wind, <em>(light hitting noise)</em>, I felt something touch my feet.
It was a small flower that I recognized.
I remember sending a picture of this flower to Operator 6O before.</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">So this is a desert rose, huh? It seems almost…mystical.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">That’s what she’d said from the above orbit base, pleased.</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">There must just be a bountry of nature down there, huh?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">……Some, yes. I’ve seen lilies, cherry blossoms, daffodils, and even lunar tears.
I’ll try to send more if I can.</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">Thank you so much!
I’m going to treasure this picture forever!
Oh, and I’m going to send you a proper thank-you mail later, so keep an eye out for it. Bye!</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">……I didn’t know until later, but the “desert rose” is a crystal made of minerals, not a plant.
Still, Operator 6O’s smiling face on the transmission screen…..I remember it looked really happy.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Report: Repairs to malfunction in body storage unit complete.</code></p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">The foundational framework, the resinous material composing the body, even the small systems for weaponry production look to be in working order…….
I went to do a final check on the access point after receiving the work completion report from Pod.</p><p class="para"><em>(There’s a nuance of suspicion coloring her final words)</em>
<em>(As if to punctuate 2B’s words, Pod reports)</em></p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Report: Hostile machine lifeform signals detected.</code></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Understood. I’ll eliminate them.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Signal count increasing. 24, 26, 29.....</code></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">……With those numbers, just where have they been this whole time……!!</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Signal count once again increasing. 30, 31, 32, 33, 34.</code></p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">It wasn’t that such a large number of machine lifeforms was approaching.
From the start, they’d hidden in the sand, waiting in a suspended state to ambush us.
That could only mean one thing.

<em>(Pause for a bit)</em>

…..This was an orchestrated trap.</p><p class="para"><p class="title" style=" font-size: 300%;">Betrayal</p>
<p class="para"><em>(2B attacks the last enemy, her breathing ragged)</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">…….(heavy breathing noises)……</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Destruction of all enemy machine lifeforms confirmed.</code></p><p class="title"><span class="title-box">6O (narration)
  ​</p><p class="para">After fighting against 34 medium-sized machine lifeforms, 2B somehow managed to stand up without collapsing despite her lightheadedness.
Having lost two weapons and several of her sensors, she was restricted in how much she could self-repair.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Alert: Combat damage accumulation on YorHa unit 2B.
Proposal: Appropriate, repairs　　　　　　if　　　treatment,　　　　exhaustion　　　　quality　　　no　　exchange......</code></p><p class="title"><span class="title-box">6O (narration)
  ​</p><p class="para">Pod 153’s voice garbles with noise.
In the air, the Pod’s arms move in a disoriented fashion, like it’s convulsing.
The blinking of its light shows the irregular state of its internal systems.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">What…..Pod? What’s wrong?</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Appropriate, re&nbsp;&nbsp;&nbsp; pairs&nbsp;&nbsp;&nbsp;&nbsp;REpairs&nbsp;&nbsp;&nbsp; treatment to sy0 m0......h1......</code></p><p class="para"><em>(After 10 seconds of silence, suddenly, the Pod begins to speak at high speed)</em></p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Deploying long range weaponry. Activating FFCS.
YorHa unit 2B recognized as enemy android.
Proposal to suspend tactile support mission. Acknowledged.
Begin attack.</code></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Pod!!</p><p class="title"><span class="title-box">6O (narration)
  ​</p><p class="para">A high-speed energy bullet the weapon-deployed Pod fires.
2B just barely avoids the attack.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Pod 153! What are you doing!?</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Unable to confirm destruction of enemy android.
Begin construction of firing correction program. Construction complete.
Request: Application of gravity control sphere. Permission granted.</code></p><p class="title"><span class="title-box">6O (narration)
  ​</p><p class="para">Without permission from either a YorHa unit or Command, a Pod can’t use its weaponry.
However, Pod 153 has an internal bypass to its own recognition process applied.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Firing gravity control sphere.</code></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Ghh……!!!!</p><p class="title"><span class="title-box">6O (narration)
  ​</p><p class="para">2B avoids the Pod’s released gravity attack.
But her right leg is caught in the radius of the hemisphere.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Long range attack system. High output charge. Preparing concentrated laser attack.</code></p><p class="title"><span class="title-box">6O (narration)
  ​</p><p class="para">The Pod’s weapon deploys once more, turning and aiming at 2B, who can no longer move.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Uu…….aaaaaaahhhhhhhhhhh!!</p><p class="title"><span class="title-box">6O (narration)
  ​</p><p class="para">2B swings her sword down on her own right leg, intending to sever it.</p><p class="para"><em>(At the same time 2B cuts her leg off, Pod fires its laser)</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Gaaah!!!</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>Firing high output laser.</code></p><p class="para"><em>(2B tosses her sword at the Pod. It hits its mark, damaging 153)</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">……!!</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><em>(dying robot sounds)</em></p><p class="title"><span class="title-box">6O (narration)
  ​</p><p class="para">2B, who’d narrowly escaped the attack, tossed the sword she’d used to slice off her right leg as a counter attack on Pod 153.</p><p class="title"><span class="title-box">Pod 153
  ​</p><p class="para"><code>YoRHa unit 2Bi.......tactile...un...</code></p><p class="title"><span class="title-box">6O (narration)
  ​</p><p class="para">About 15 seconds after convulsions from the Pod, who’d taken a direct hit from the sword, it emitted a strange noise and stopped. That sound was…..a high-pitched laughter, like a child’s voice……</p><p class="title" style=" font-size: 300%;">Scene 4: Message</p>
<p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">After taking down the rampaging Pod, I was stuck there, unable to move.
There seemed to be no way to easily repair the heavily damaged leg.
As I made my way over to the fallen Pod in something akin to a crawl, the Pod’s speaker activated.</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">Operator 6O to 2B! 2B! Can you hear me? Are you okay!?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">……This is 2B. I hear you.</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">Aah, 2B. Thank goodness……
I was monitoring you from here, but Pod 153’s attack mode suddenly became impossible to control.
But the control program can only be rewritten with a code by the Pod’s original support target, 9S…….</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Operator 6O.</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">Could it be that 9S was trying to…..But, for 9S, of all people, to implant an attack order in the Pod and aim it at you is—</p><p class="para"><em>(2B shouts to interrupt her words)</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Operator 6O!!</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">…..Yes? What is it?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">How long…..</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">Come again?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">How long have you been there?</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">Um….I’m not sure what you mean….</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">The access point’s transmission functions have yet to be repaired.</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">……Huh?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">When I went in to do a final check on the body reconstruction unit, there was a small machine fragment remaining inside.
I immediately judged the rusted piece to be part of a machine lifeform.
It seemed odd, so I left the computer terminal’s final activation untouched.</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">……………..</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">A laser transmission would have also been impossible in the sandstorm.
In other words, you shouldn’t be capable of communicating with me from the above orbit satellite.</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">……………………….</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">The one in Pod 153 right now….who are you?</p><p class="para"><em>(8 seconds of silence)</em></p><p class="title"><span class="title-box">6O
  ​</p><p class="para">…..Fufu……fufufufufu.
Hey, she figured it out.
She sure did!
Ahh. And here I thought it’d be interesting to pin it all on 9S and watch them fall apart.
I thought it’d be interesting, you know?
What a bummer.
A real bummer.</p><p class="para"><em>(Operator 6O speaks as if there are two people)</em></p><p class="title"><span class="title-box">6O
  ​</p><p class="para">We are a unified body of thought.
We are numerous and singular.
But 2B, I wonder if it’s really our fault?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">What are you talking about……</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">This incident might’ve been 9S’ work, you know.
Maybe he really had decided to kill you.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">……………….</p><p class="para"><em>(2B shakes with anger, her breathing uneven)</em></p><p class="title"><span class="title-box">6O
  ​</p><p class="para">The likelihood of YorHa unit 9S accessing confidential information was high.
That’s why it was determined that an E model would deal out punishment.
He might’ve realized, you know?
That the 2B who’s killed 9S time and time again….is you, No. 2 Type E.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">….Ahh!!</p><p class="title"><span class="title-box">Pod 153 (narration)
  ​</p><p class="para">2B picks up her leg, which had fallen to the ground, and strikes the Pod with it.
The struck Pod, while rotating strangely, slowly falls to the sand, all functions ceased.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">……I……..I……..</p><p class="title"><span class="title-box">Pod 153 (narration)
  ​</p><p class="para">The sandstorm had subsided.
The desert was once again bathed in the sun’s light.</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">…….Hello? Hello, 2B, can you hear me? 2B!?
Are you okay!? 2B! Please answer!!</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">……This is 2B. I hear you.</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">Ah…..thank goodness…..I suddenly couldn’t contact you using the electromagnetic communications system, and due to the sandstorm, I couldn’t use laser transmissions either and I was thinking, “what if there’s an enemy attack?”……Then finally, laser communications came back up…..</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">……</p><p class="title"><span class="title-box">6O
  ​</p><p class="para">…..2B? Are you okay?</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">“…..I’m okay. It’s…nothing.”
That’s what I answered.</p><p class="para"><em>(Short pause)</em></p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">Was it because I didn’t want to worry Operator 6O? Or maybe……
I was afraid of seeing my own darkness?
I still don’t know.
If I look up, a white, bright, radiant sky would be stretched before me.
As if it’s looking down on me. *
As if it’s condemning me for continuing to kill 9S……</p><p class="title"><span class="title-box">Pod 153 (narration)
  ​</p><p class="para">Everything that lives is designed to end.
“They” are perpetually trapped…..
In a neverending spiral of life and death.</p><p class="title"><span class="title-box">6O (narration)
  ​</p><p class="para">But we were all born here.
That’s why, in this place, we continue to live.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">No matter what lies pile up
No matter what crimes are committed
Even if the moment we are forgiven never comes to pass……
We will continue to fight.</p><p class="title"><span class="title-box">All (narration)
  ​</p><p class="para">We will continue to fight.
We will continue to fight!
We will continue to fight!!</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">Until the day when punishment rains down……</p>
<p class="line">
<p class="menu"><a href="/stories/nier-automata/memories-of-puppets/">Back</a></p>