---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Precious Things</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
        @media screen and (orientation: landscape)
{
  #over1{
  margin: 0px auto;
  max-width: fit-content;
}
}
    @media screen and (orientation: portrait)
{
  #over1{
  margin: 0px auto;
}
}

</style>

<p style="margin-top: 1cm; font-size: 300%;">Precious Things</p>
<img src="https://i.imgur.com/up1b2JD.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href=/credits/help><u>mintychu</u></a></p>

<p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">Everything that lives is designed to end.
"They" are perpetually trapped ...
... in a never-ending spiral of life and death.
Is this a curse?
Or some kind of punishment?
"They" often think about the god who blessed "them" with this cryptic puzzle ...
... and wonder if "they'll" ever have the chance to kill him.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">When I met him "that time" ...
it was during our mission to destroy the Goliath-class weapon.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">You're 2B, right?
My name's 9S. I'm here to provide support.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">The No.9 Type S model is a high-end model.
And it's because of that there's a constant danger of them coming into contact with confidential information.
That's why I've been tasked with the duty of eliminating him ...
Over ... and over ...
But ... he was different this time.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Scanners like me mostly work alone. Scouting out enemy lines and all that?
I don't usually get a partner. It's kind of fun!</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">I simply ignored him when he'd speak.
If I were to grow close to him, it'd only become more difficult to kill him.
Even so, he wouldn't stop trying to make conversation with me.</p><p class="para"><em>(9S speaks with a bright tone.)</em></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Say, 2B? Don't you think this white flower would look good on you?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">I have no need for it.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Aw, are you sure?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Attaching a plant to my hair would do nothing for my combat abilities. Rather, it would more likely cause maintenance failure.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Hahah. Man, 2B, you're way too serious, you know that?</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">I made a promise with 9S in the past.
A promise that I'd continue to kill him, without fail.
The 9S from back then, and the 9S before me, are two different people.
That fact ... makes my chest tighten.</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para"><code>Pod 042 to YoRHa unit 2B.
Report: Detecting errors occurring within unit 2B's memory region, likely due to unstable psychological state. Proposal: Moderate rest should cause improvement.</code></p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">I've already been aware of that for a long time ...
But ... the day I'm freed from this pain ... will be the day I die.</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para"><code>Mail notification received from Command.</code></p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">I wonder if I was afraid.
Or perhaps I was wrong.
Even so, I continued on by his side, without even knowing the name of the emotion I'd been feeling.</p><p class="line">
<p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">2B and I first met in one of the hallways in the Bunker.
I'd received an announcement from the Commander that I'd be working with a partner this time.
I was ... a little uneasy about it.
Scanner models like me usually work alone. And ...
I'd always gotten the impression that No.2 models were somewhat cold.
So when she said those things to me in the hallway, I was ... kind of surprised.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">9S?</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Yeah?</p><p class="para"><em>(A short pause)</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Thank you.
For uploading my data to the Bunker.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">... Um, I did that? Sorry, I don't remember.
There wasn't a whole lot of bandwidth down there, you know?
I probably only had enough time to back up your memories.
Mine are only intact up to the point just before we rendezvoused.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">... I see.</p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">Things started out so awkward. At least, until that day ...
It happened after a battle.</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para"><code>Confirming the annihilation of all machine lifeforms in this area.</code></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Whew ...</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">So we've destroyed every machine lifeform here?</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para"><code>Affirmative: No responses from any machine lifeforms in this area.</code></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Understood.</p><p class="para"><em>(9S notices something.)</em></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Huh? Hey, 2B ... did something happen to your right hand?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">My right hand ...? Oh, this. I must've injured my finger during the previous battle.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Gah! You're — You're bleeding!

<em>(9S becomes panicked.)</em>

Pod! Get me staunching gel and logic-virus vaccines! Then — uh —</p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para"><code>Inadvisable. There is a high probability that excessive treatment will cause a decrease in movement efficiency to the unit ...</code></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Just shut up and do it already!</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">... 9S, don't you think you're overreacting?</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Huh? Not you too, 2B!</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Just leave it. The nano machines will heal it just fine on their own.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Er, I guess so ...</p><p class="para"><em>(9S looks a little disappointed.)</em></p><p class="title"><span class="title-box">Pod 042
  ​</p><p class="para"><code>Confirmation of mission completion by enemy annihilation.
Recommendation: Report results to Command.</code></p><p class="para"><em>(9S peers over at 2B.)</em></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Um ... 2B?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">What is it?</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">You think we could at least use the staunching gel?
If contaminants enter the blood stream they'll be difficult to remove, and if it's just staunching gel, then it shouldn't cause any problems to your motor functions, so, you know, just in case ...</p><p class="para"><em>(2B looks slightly amazed.)</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">... All right.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Got it! Then I'll go ahead and prepare it right away!
Now where's that case ...</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">9S.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Yeah, 2B?</p><p class="para"><em>(A small pause.)</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">... Thank you.</p><p class="para"><em>(2B seems a little happy.)</em></p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">I can't remember anymore what my response was when she said that.
Just that I was so happy to be useful to someone.
What was most important to me ... was being together with 2B.
... At least.
Until the day that YoRHa fell, along with the Bunker ...</p><p class="line">
<p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">Large-scale attack ended in failure. The Bunker has collapsed.
Black-box signal for YoRHa unit 2B offline. Death confirmed.
A large "tower" produced by machine lifeforms rose within the city ruins.
Having lost a place to return to, unit 9S aimed for nothing more than the top of that "tower".
In order to destroy the machine lifeforms which caused this nightmare.
And to end himself as well.</p><p class="para"><em>(9S is contaminated and is breathing roughly.)</em></p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">Haah ... Haah ...
I have to ... apply the vaccine ...</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">The virus corrodes his body.
His thought process breaks down.
Sound recordings found in the flooded city play back in his mind.</p><p class="para"><em>(2B is contaminated by the virus, muttering in pain.)</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">9S ... The time I was able to spend with you ...
It was like memories of pure light ...
Thank you ... Nine ... s ...</p><p class="para"><em>(9S begins crying upon hearing that.)</em></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Ngh ... Ghh ...</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">Those memories are his greatest treasure.
Living together, fighting together.
They were like a family.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">2B ...</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">9S holds that recording deep within his heart.
Treating it as if it were truly a treasure.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">2B ... I ... I'll be with you before long ...</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">Reality and fiction blend together.
With clouded consciousness, unit 9S carries himself forward, his legs heavy.
He'll defeat as many enemies as possible, even if he is alone.
As if in response to that wish, a new enemy appears.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Khh ...</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">Many enemies appear in front of him.
They're ... androids.
They're ... YoRHa units.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">2B models?</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">The person he treasures above all else.
Someone who resides in a location out of his reach.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Heh ... Heheheh ...
I'm glad I got to see you here. I truly am.

<em>(9S gives a distorted smile)</em>

I'll tear you apart ... Every last one of you!</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">9S draws his sword.
Is this an act of murderous intent? Or is it perhaps done out of love? It's no longer possible to tell.</p><p class="line">
<p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">Contamination from the logic virus is getting worse.
Nearly 80% of his memory is contaminated, and his thought circuits are severely damaged.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Dammit ... I can't ... remove ...
The vaccine ... it'll no longer ...</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">Unit 9S knows that there's only one solution left that could dispel the contamination.
To lock his personal data and reformat his entire system.
To throw away all of his current memories, and be reborn anew.</p><p class="para"><em>(9S speaks as if in response to the Pod's narration.)</em></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">No ... I can't do that ...
No matter how contaminated I become ... I can't lose this memory ...

<em>(9S screams out, suffering.)</em>

If that's my only choice ... then I'm better off dead!</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">9S is fighting with fear itself.
To have one's personal data contaminated means to lose one's ability to think for themself.
To androids, that is a fate worse than death.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">I am who I am ... because of 2B ...
I have a reason to live ... because of those memories ...
So ... please ... don't take them from me ...</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">To him,
calling her family feels too unreasonable.
But calling her a lover feels too distant.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Machines ... A2 ... It doesn't matter ... I'll kill every last one of you!
2B ... I ...</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">Within the corners of his eroding consciousness,
9S continues to protect his memories of 2B.
Even if ... his actions are completely meaningless in the eyes of the world.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">I am ... No.2 ... Type E.
I was created to execute my fellow YoRHa soldiers.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">I'd already ...
I'd already realized that ...</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">The mission I had been assigned over and over again.
Was to kill you, 9S.</p><p class="para"><em>(9S is crying.)</em></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Stop it ... Enough already ... 2B.
Even if you were trying to kill me, I ...
Being with you, it truly ...
It felt like I'd found a family.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Hey ... 9S?
I wonder ... Were the choices we made wrong?</p><p class="title"><span class="title-box">Pod 042 (narration)
  ​</p><p class="para">Within a pure white tower.
A small boy walks.
Suffering. Uneasy.
Holding within him many small, important memories.
They're of ... the time the two of them spent together.
His memories of those days ... were most precious to him.</p></div><p>  ​</p>
<p class="line">
<p class="menu"><a href="/stories/nier-automata/memories-of-puppets/">Back</a></p>