---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Project YoRHa</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
        @media screen and (orientation: landscape)
{
  #over1{
  margin: 0px auto;
  max-width: fit-content;
}
}
    @media screen and (orientation: portrait)
{
  #over1{
  margin: 0px auto;
}
}

</style>

<p style="margin-top: 1cm; font-size: 300%;">Project YoRHa</p>
<img src="https://i.imgur.com/up1b2JD.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href=/credits/help><u>mintychu</u></a></p>
<p class="title"><span class="title-box">A2 (narration)
  ​</p><p class="para">Everything that lives is designed to end.
I am perpetually trapped ...
... in a never-ending spiral of life and death.
Is this a curse?
Or some kind of punishment?
I often think about the god who blessed me with this cryptic puzzle ...
... and wonder if I'll ever have the chance to kill him.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">She is A2. Attacker No. 2.
A test model for YoRHa.</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">The first time I was deployed to the front lines was in the year 11941, on December 8th.
During the 14th Machine War, in the Pearl Harbor Descent Mission.
Decisive weapons created for the sole purpose of recapturing Earth from the machines.
That was us ... That was "YoRHa".</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">The target of destruction was a server created by the machine lifeforms on the island of Oahu.
The server was the backbone of the network encompassing the entire Pacific Ocean.
And the plan, if it succeeded, would greatly influence the battle.</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">However, due to an unexpected attack from the machines, our team suffered great losses.
We joined with the area's resistance members, but one ... by one ...
By the time I'd reached the server room, most of my companions had been killed.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">And within that server room, A2 came to know the truth behind their mission.
Every one of their battles ... had been predetermined by the Commander.
Their true purpose was the collection of experimental data in order to create a more finished product.
Within the experimental bodies of A2 and her comrades ... bombs had been placed.</p><p class="title"><span class="title-box">  ​</p><p class="para"><em>(A2, in despair.)</em></p><p class="title"><span class="title-box">A2
  ​</p><p class="para">Our bodies ... contain bombs ...
That'll explode ... when we stop showing signs of life ...?
N-No ...
This can't ...!</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">Every battle had been planned.
Every death had been planned.
And as A2 fell into despair, her friend called out to her.
"Number 2 ... I'll destroy this place, so ..."
"Please ... live on."</p><p class="title"><span class="title-box">  ​</p><p class="para"><em>(A2 screams out desperately while crying.)</em></p><p class="title"><span class="title-box">A2
  ​</p><p class="para">No! Number 4!</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">It was the final attack ... a suicide attack.
The server room was then enveloped in a bright flash.</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">Number 4!!</p><p class="title"><span class="title-box">  ​</p><p class="para"><em>(A2 hides her face.)</em></p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">... The enemy server was destroyed.
All enemies within a 250km radius went completely silent.
Their influence over the entire Pacific Ocean had been rewritten.
And ...</p><p class="title"><span class="title-box">  ​</p><p class="para"><em>(A2 slowly raises her head.)</em></p><p class="title"><span class="title-box">A2
  ​</p><p class="para">I ... survived.
I lost the goal I'd been fighting for, as well as betrayed the Commander I was supposed to believe in.
And yet ... my life still remained.
My comrades who lost their lives ... The YoRHa members who'd been shot down ... The resistance members ... Everyone ...
Number 21, Number 16 ... Number 4 ...
I ... I'll ...!</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">The black box belonging to the YoRHa member known as Number 2 was still online.
She was acknowledged as the holder of information for the most important, confidential YoRHa plan.
In order to prevent this information from leaking ... YoRHa test unit, Attacker No.2, was to be destroyed.
That was all.</p></div><h6 id="scene-break-1" class="group"><div class="ml-10 flex place-items-center gap-4"><div class="mb-12 mt-8 space-x-3 text-dark"><span class="material-symbols-rounded select-none [font-size:inherit] [line-height:inherit]" style="font-variation-settings: &quot;FILL&quot; 1, &quot;wght&quot; 500, &quot;GRAD&quot; -25, &quot;opsz&quot; 24;">emergency</span><span class="material-symbols-rounded select-none [font-size:inherit] [line-height:inherit]" style="font-variation-settings: &quot;FILL&quot; 1, &quot;wght&quot; 500, &quot;GRAD&quot; -25, &quot;opsz&quot; 24;">emergency</span><span class="material-symbols-rounded select-none [font-size:inherit] [line-height:inherit]" style="font-variation-settings: &quot;FILL&quot; 1, &quot;wght&quot; 500, &quot;GRAD&quot; -25, &quot;opsz&quot; 24;">emergency</span></div><div aria-expanded="false"><div aria-expanded="false"><span class="material-symbols-rounded select-none [font-size:inherit] [line-height:inherit] cursor-pointer transition-colors hover:text-dark opacity-0 transition-opacity group-hover:opacity-100" style="font-variation-settings: &quot;FILL&quot; 1, &quot;wght&quot; 500, &quot;GRAD&quot; -25, &quot;opsz&quot; 24;">link</span></div></div></div></h6><div class="grid gap-x-6 gap-y-2 grid-cols-[auto_1fr]">
<p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">Attacker No. 2. A2.
She actually had an obedient, kind personality.
She hated fighting more than anything else. She thought of her friends above anyone else.
Her type of thinking didn't fit a soldier at all.
</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">... However, during my first descent mission, I lost most of my comrades.
The Commander had planned those battles all along.
While praying to those who died ...
I lost who I was.</p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">For a deserter like A2, there was no where she could return to.
But she couldn't just throw away the life they'd given her.</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">I destroy more machine lifeforms each day.
I don't believe a day will ever come where we reach a victory over them.
But ... I can never forgive them for what they did to my comrades.
So I'll continue to fight ... for myself.</p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">She fought, she broke, she repaired herself ... and then she repeated it.
That pain ... and that pain alone ... was proof that she was alive.
But, one day.
She came face to face with an enemy she'd never imagined she would see.</p><p class="title"><span class="title-box">  ​</p><p class="para"><em>(2B speaks with a cold voice.)</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para">YoRHa test model, Attacker No.2. A2 ... right?</p><p class="title"><span class="title-box">  ​</p><p class="para"><em>(A2 looks astonished.)</em></p><p class="title"><span class="title-box">A2
  ​</p><p class="para">You're ...</p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">The opponent A2 had been met with was a new, state-of-the-art YoRHa model.
And her face ... was exactly the same as A2's.</p><p class="title"><span class="title-box">  ​</p><p class="para"><em>(A2 speaks, overcome with surprise.)</em></p><p class="title"><span class="title-box">A2
  ​</p><p class="para">The same face ... as me ... A No.2 model ...
They can't be ... Are they mass producing new YoRHa units based on my battle data ...?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">A2, I have orders from the Council of Humanity for your termination based on the leakage of confidential information and the failure to manage said information.</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">Orders ... for my termination?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">My name is ... 2E. No.2 Type E. I was dispatched from the Bunker to carry out your termination.
Kindly cease function and hand over control of your body immediately. Otherwise, I'll be forced to destroy you.</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">Hah .... Hahahahahaha ...

<em>(A2 begins laughing, with anger in her voice.)</em>

You were dispatched from the Bunker, were you?
To terminate me? You said you were an Execution model?
So they created a YoRHa unit with the same face as me, and then sent her to kill me ...
... just so they could cover up their sins?
Hah ... Hahahahaha!</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">A2. I don't have the time to listen to your ...</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">Shut up!

<em>(A2 suddenly becomes enraged.)</em>

If you people really are going to try to kill me ...
If you're truly going to hide the truth ...
Then so be it. I won't show any mercy either.
Machine lifeforms, the Bunker, the Commander, even the humans on the moon ... I'll kill them all.</p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">In her hand, she gripped a sword which was meant to kill machine lifeforms.
In her eyes, the light of her old self was gone.
Suffering from her loneliness, focused only on revenge ...
She gazed quietly at her new "enemy".</p></div><h6 id="scene-break-2" class="group"><div class="ml-10 flex place-items-center gap-4"><div class="mb-12 mt-8 space-x-3 text-dark"><span class="material-symbols-rounded select-none [font-size:inherit] [line-height:inherit]" style="font-variation-settings: &quot;FILL&quot; 1, &quot;wght&quot; 500, &quot;GRAD&quot; -25, &quot;opsz&quot; 24;">emergency</span><span class="material-symbols-rounded select-none [font-size:inherit] [line-height:inherit]" style="font-variation-settings: &quot;FILL&quot; 1, &quot;wght&quot; 500, &quot;GRAD&quot; -25, &quot;opsz&quot; 24;">emergency</span><span class="material-symbols-rounded select-none [font-size:inherit] [line-height:inherit]" style="font-variation-settings: &quot;FILL&quot; 1, &quot;wght&quot; 500, &quot;GRAD&quot; -25, &quot;opsz&quot; 24;">emergency</span></div><div aria-expanded="false"><div aria-expanded="false"><span class="material-symbols-rounded select-none [font-size:inherit] [line-height:inherit] cursor-pointer transition-colors hover:text-dark opacity-0 transition-opacity group-hover:opacity-100" style="font-variation-settings: &quot;FILL&quot; 1, &quot;wght&quot; 500, &quot;GRAD&quot; -25, &quot;opsz&quot; 24;">link</span></div></div></div></h6><div class="grid gap-x-6 gap-y-2 grid-cols-[auto_1fr]">
<p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">Fearing a leak of confidential YoRHa information, an order was issued to terminate A2.
However, she was able to shake off pursuers, and survive countless battles with machines.
To her, everything had become an enemy, and she truly had no where she could run.</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">Dammit! Sit still, would you!</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Hahah! Just throwing out random attacks like that isn't gonna work, you know.</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">Then fight me head-on like a man!</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Well what do you expect? I'm a Scanner! Combat was never meant to be my forte!</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">Geez, you talk way too much!</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">And if you keep getting distracted like that, you're gonna show your weak point!</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">Quit screwing around, dammit — auugh!</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">9S managed to hack into A2.
He broke through her logic barriers, and ended up in her personal data.
All around her was nothing but white walls, closing her in.</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">Th-This is ...?!</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Hacking space. I've sealed your personal data inside your head.
Okay then. Let's see here ... YoRHa test model A2. Attacker No.2 ...
Due to the possibility of confidential information being leaked, the Council of Humanity has ordered your termination.</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">Heh. So you're one of the Commander's little dogs, huh.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Man, you don't pull any punches.
But it doesn't matter how much you shout in here, you're not gonna run away from me.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">A black fog began to wind around A2.
It was a trap designed to restrict her personal data.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">That barrier's an installation type, but it faces inward.
So no matter how much you thrash about, you're not getting out.</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">Dammit ...!</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Don't you think you say that a little too much?</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">What the hell did the Commander tell you ...?</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">I just told you, didn't I? You deserted, so there's an order for your termination.
But playing rough's not really my thing, so I'm thinking I'll send you back like this.</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">That's all, huh ...</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Hm?</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">You couldn't get more information than just that? You Scanner models are always curious, after all.</p><p class="title"><span class="title-box">  ​</p><p class="para"><em>(9S's voice becomes cold.)</em></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Are you ... taunting me?
I prepared that barrier so I could detain you, but ...
I think I've changed my mind.
I'll be destroying your personal data here, like I was ordered.

<em>(9S holds his hand out.)</em>

I'm going to make you regret talking to me like that.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">9S issued a command for A2's erasure.
However, the black fog surrounding A2 wouldn't react beyond a certain point.
On the contrary, something began to happen to 9S's body instead.
He suddenly realized multiple black snake-like bits of data wrapping themselves around him.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">N-No way ... It can't be ...!
A counterattack-type logic barrier?!
H-How did you ...?!</p><p class="title"><span class="title-box">  ​</p><p class="para"><em>(A2 speaks, as she recovers from her damage.)</em></p><p class="title"><span class="title-box">A2
  ​</p><p class="para">To put it simply ...
I got it from you.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">From ... me?!</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">Those bits of data wrapped further around 9S, slowly eliminating any possible chances of escape.</p><p class="title"><span class="title-box">A2
  ​</p><p class="para">YoRHa No.9 Type S ...
This is the fourth time I've met that model.
You were rather difficult to fight in the beginning.
But ... after fighting you so many times, I became increasingly aware of a Scanner's habits.
The others before you were the same ... They fought with various patterns, but ...
You always end up trying to detain me with that damn hacking.
It was a pretty close call the first time, but after the second time, I learned to block it with a barrier.
This program was made just for you. A form of insurance.</p><p class="title"><span class="title-box">  ​</p><p class="para"><em>(9S speaks up as he suffers.)</em></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">No ... No! Dammit, I have to ... release the barrier ...</p><p class="title"><span class="title-box">  ​</p><p class="para"><em>(A2 responds coldly.)</em></p><p class="title"><span class="title-box">A2
  ​</p><p class="para">It's no use. That barrier was made in order to collapse your own personal data.
You're not getting out of that no matter what you do. That's how you made it to be, isn't it?</p><p class="title"><span class="title-box">  ​</p><p class="para"><em>(9S, still suffering, collapses.)</em></p><p class="title"><span class="title-box">9S
  ​</p><p class="para">G-Guaaaah ...!! Damn ... Dammit!!!
A2!!!!</p><p class="title"><span class="title-box">  ​</p><p class="para"><em>(Once his screams die out, A2 begins speaking quietly.)</em></p><p class="title"><span class="title-box">A2
  ​</p><p class="para">This is the fourth time ... I've heard you scream like that.
You should pray that we don't meet again.</p></div><h6 id="scene-break-3" class="group"><div class="ml-10 flex place-items-center gap-4"><div class="mb-12 mt-8 space-x-3 text-dark"><span class="material-symbols-rounded select-none [font-size:inherit] [line-height:inherit]" style="font-variation-settings: &quot;FILL&quot; 1, &quot;wght&quot; 500, &quot;GRAD&quot; -25, &quot;opsz&quot; 24;">emergency</span><span class="material-symbols-rounded select-none [font-size:inherit] [line-height:inherit]" style="font-variation-settings: &quot;FILL&quot; 1, &quot;wght&quot; 500, &quot;GRAD&quot; -25, &quot;opsz&quot; 24;">emergency</span><span class="material-symbols-rounded select-none [font-size:inherit] [line-height:inherit]" style="font-variation-settings: &quot;FILL&quot; 1, &quot;wght&quot; 500, &quot;GRAD&quot; -25, &quot;opsz&quot; 24;">emergency</span></div><div aria-expanded="false"><div aria-expanded="false"><span class="material-symbols-rounded select-none [font-size:inherit] [line-height:inherit] cursor-pointer transition-colors hover:text-dark opacity-0 transition-opacity group-hover:opacity-100" style="font-variation-settings: &quot;FILL&quot; 1, &quot;wght&quot; 500, &quot;GRAD&quot; -25, &quot;opsz&quot; 24;">link</span></div></div></div></h6><div class="grid gap-x-6 gap-y-2 grid-cols-[auto_1fr]">
<p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">We were wandering around a place known as the "Forest Kingdom".
Looking for the leader of the area's weirdly aggressive machine lifeforms, the "Forest King".
And we finally found it within a broken down castle. It was ...
It was almost like a baby, in appearance.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">We were caught off guard.
It couldn't even walk on its own, much less carry a weapon.
This thing ... was the Forest King?
And as if sensing our hesitation, <em>she</em> came ...</p><p class="title"><span class="title-box">A2 (narration)
  ​</p><p class="para">I was only there by chance.
I had been disposing of machine lifeforms in the area, and their leader only happened to be there.
The machine looked so small and weak.
But I didn't hesitate to run it through with my sword.
Its cries of death rang from its core to my sword.
This is the enemy. This is the enemy. This is ... the enemy.
I repeated that over and over to myself.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">The android that had just dropped down before us ... had the same face as me.
YoRHa model No.2.
Her eyes gazed in my direction.
With a look of utter resignation.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">2B! That's ... an android!
A YoRHa-type android!</p><p class="title"><span class="title-box">A2 (narration)
  ​</p><p class="para">I knew exactly who they were.
Because I'd already killed them countless times.
And just like always, I knew the order would once again be given to terminate me.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">I had no memories of ever encountering her before.
But for some reason ... I could feel a deep discomfort rise up from within me.</p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">Although she was a deserter, we were ordered to kill one of our own ... A YoRHa android.
Doubts began to sprout in my heart.
Was the YoRHa unit standing before us really our "enemy"?</p><p class="title"><span class="title-box">A2 (narration)
  ​</p><p class="para">No.9 Type S ... No. 2 Type B. The YoRHa units I should've already killed so many times before.
When I met them that time ... they were completely different from how they'd been in the past.
I don't know why, but ...
It seemed like they saw each other as old friends.
...
It could've been some kind of premonition.
That this was the end ... or maybe even the beginning of something.
Number 21, Number 16 ... Number 4.
If I die ... I'll be joining all of you.

<em>(A2 looks forward.)</em>

So just ... wait for me, okay?</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">We YoRHa are weapons created to fight.</p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">We YoRHa are a madness created to kill.</p><p class="title"><span class="title-box">A2 (narration)
  ​</p><p class="para">This world is full of curses.
And we are all links in a chain of killing one another.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">Even so, we have to keep fighting.</p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">That's why, we have to keep killing.</p><p class="title"><span class="title-box">A2 (narration)
  ​</p><p class="para">Even if our fates are wrong, we can't stop.</p><p class="title"><span class="title-box">All 3 (narration)
  ​</p><p class="para">Because that is the meaning of our existence.</p></div><p>  ​</p>
<p class="line">
<p class="menu"><a href="/stories/nier-automata/memories-of-puppets/">Back</a></p>