---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>NieR Web Novel</title>
<style>
@media screen and (orientation: portrait){
    #sidenav {
        display: none;
    }
}
body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/D2s6LyC.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/SO5y9nS.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/3vlNFLq.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/f9vM51X.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
}
</style>
    <img src="https://i.imgur.com/Ep37H48.png">
<p class="title"><a href="/nier-anniversary/15th-novel/e99787/wakeup">
    Chapter 1 - Cage of Nothingness<img class="art" src="https://i.imgur.com/bGSl0Cx.png"></a></p>
<p class="title"><a href="/nier-anniversary/15th-novel/e88ab1/peace">
    Chapter 2 - Record of Disposal<img class="art" src="https://i.imgur.com/0KwAMpg.png"></a></p>
<p class="title"><a href="/nier-anniversary/15th-novel/e8a3b8/costume">
    Chapter 3 - Garden of Flowers<img class="art" src="https://i.imgur.com/TfOLROu.png"></a>
<p class="title"><a href="/nier-anniversary/15th-novel/e58f8b/space">
    Chapter 4 - Record of Ascension<img class="art" src="https://i.imgur.com/HGLFmqq.png"></a></p>
<p class="title"><a href="/nier-anniversary/15th-novel/e99bb7/anxiety">
    Chapter 5 - Wind of Calamity<img class="art" src="https://i.imgur.com/Xr7Y0Sh.png"></a></p>
<p class="title"><a href="/nier-anniversary/15th-novel/e6adbb/light">
    Chapter 6 - Record of Transmigration<img class="art" src="https://i.imgur.com/hePA783.png"></a></p>
<p class="title">Writers</p>
<p class="title">原田香林　福嶋美久　土井裕斗　廣江聡太郎　和田侑樹 </p>
<p class="title">Supervision</p>
<p class="title"> ヨコオタロウ </p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-all">Back</a></p>

