---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Yudil's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Yudil's Character Story</p>
<p class="title">Chapter 1</p>
<p class="para">This country is not the only thing covered in sand.<br>Each day is exactly the same as the last, and I find myself in an ever-deepening rut.<br><i>What might add color to such a life</i>, I think, <i>is people</i>.<br>The traveler I pass wears a platinum ring.<br>The merchant before me proudly shows off a vase housing a beautiful flower.<br>Before I know it, both ring and vase are mine.<br>There are three rules to thievery.<br>One: Keep distance between yourself and fellow thieves.<br>Two: Touch your tools with your ring finger first.<br>Three: Let the shadows guide your escape.<br>Stick to these, and you will officially be a thief.<br>I say this to no one; I repeat it only to myself.<br>How long has this been my life?<br>I no longer even remember what bread bought with my own money tastes like.</p>
<p class="title">Chapter 2</p>
<p class="para">I feel a gaze on me as I sidle through the back alleys of the city.<br>A pair of eyes shine in the darkness, and a child steps into the light.<br>The starving child examines the bread in my hand with a stare powerful enough to kill.<br>I beckon him over.<br>I do not do this out of spite.<br>It's just a way to pass the time. A game.<br>I show the child some beans I've stolen.<br>I hide them in one of my fists and ask him to choose which of them holds the prize.<br>If he is correct, the beans will be his.<br>Once I see light return to his eyes, the game begins.</p>
<p class="title">Chapter 3</p>
<p class="para">First match. I win.<br>Second match. I win again.<br>Third match. Care to guess? ...Ah, right you are. I win.<br>Hunger dulls the child's thoughts.<br>I have given him every chance to see through my ruse.<br>For I'm cheating him, you see. There is no way he can win.<br>We play until the sun sets, and I never lose.<br>He does not realize what is happening. Not even at the very end.<br>The child cries and cries at his loss, but you know what they say:<br>Temporary charity does nothing for a person in need.<br>I leave the child with one parting thought:<br><i><span style="font-size: 40px;">Live. Even if it isn't right.</span></i></p>
<p class="title">Chapter 4</p>
<p class="para">Even the greatest of thieves make mistakes. Even me.<br>This day, a fruit I stole from a stall slips through my fingers.<br>How many years has it been since I was so exposed?<br>Ah, but the fault is not all mine, for the stallkeeper has gone to great lengths to safeguard his merchandise.<br>No sane person covers their products in oil—yet I curse myself all the same for not seeing it.<br>Alas, hunger dulls the thoughts.<br>As I rush through the market, I glance behind me.<br>Standing beside the bellowing stallkeeper is the child.<br>The very one who lost to my tricks.<br>Though his movements are clumsy, he uses the commotion I created to steal a good deal of fruit.<br>"Good for you."<br>That is all I say before melting into the shadows.<br>Time to separate myself from a fellow thief. For this is one of the rules, after all.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/yudil">Back</a></p>