---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>One Thousand Moons</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">One Thousand Moons</p>
<p class="title"><a href="https://www.youtube.com/watch?v=dl2Af0iBFpQ&list=PLcY8I1_IgLN5GFVKbFaWoe1nTvG2XZMFI"><u>Video</u></a></p>
<img src="https://i.imgur.com/e3y5JH3.png">
<p class="title">Chapter 1</p>
<p class="para">There once was a kingdom wreathed by sea and sand.<br>In this place made prosperous by abundant trade, its queen issues a notice:<br>"The princess had ceased to smile, and any man who returns her joy may have her."<br>Seeking to try his luck at this challenge, one sailor makes his way to the kingdom,<br>garbs himself in its finest clothes and jewelry, and heads for the palace.<br>He is confident that the princess and kingdom entire will soon be his, but then he encounters a ragged boy...<br>A boy who happens to be a thief. What he wants, he takes. This is the guiding principle of this boy's life.<br>He strips the sailor of his belongings and begins his journey to the palace so he<br>might make the princess smile and claim all this land has for himself.<br>But no matter how fantastic a tale he spins for her, she offers not even the hint of a smile.<br>His ambitions crushed to dust, the boy is removed from the premises by the palace guards.</p>
<p class="title">Chapter 2</p>
<p class="para">The boy didn't give up, visiting the princess time and again to regale her with stories of adventure.<br>He would tell of instruments which speak, or springs of gold within jars, but nothing made her smile.<br>One day, the princess asks why he goes to such lengths for her sake, and after finally hearing her speak,<br>the boy promises to make her smile on the morrow and takes his leave.<br>Though his original reasons to visit the palace had been devilish,<br>he now finds himself genuinely wishing to see the princess smile.<br>That night, he encounters a fortune teller.<br>Raising her hands to her crystal ball, she says to the boy,<br>"Death awaits if you continue to see the princess." The boy laughs in response, claiming<br>"A future is something I take for myself." He is a thief, after all.<br>He has spent his whole life stealing whatever he likes,<br>and the reason he wants the princess's smile...is because there was once a smile he was unable to reclaim.</p>
<p class="title">Chapter 3</p>
<p class="para">This is a tale of when the boy thief did not yet know his way of life.<br>At this time, he is a slave aboard a ship.<br>His only solace is this unending misery is a slave girl aboard the same ship.<br>The girl would read to him stories of adventure, granting him courage.<br>However, the girl gradually stopped smiling due to the abuse dealt out by the ship's captain,<br>and in the end day, the boy surrenders to his anger and takes the captain's life.<br>He was too late, however, for the poor girl's heart was already broken beyond repair,<br>and she would never smile again.<br>He learns that what is once lost can never be reclaimed<br> and in this moment,<br>he resolves to join the side of the takers so that nothing can ever be stolen from him again.<br>Returning to the present, the thief boy has begun thinking of the princess as the slave girl from his past.<br>She whispers to him, "Take me from this place." The boy responds, "I will. Tonight."<br>With this secret promise exchanged the boy leaves the palace,<br>wondering if can return her smile once and for all.</p>
<img src="https://i.imgur.com/3kv2rER.png">
<p class="title">Chapter 4</p>
<p class="para">A brilliant moon hanging heavy in the dark, the thief sneaks into the palace.<br>Seeking freedom,<br>the pair run through the midnight city and make for a boat the boy left waiting for them in a bay.<br>The princess wonders why the boy insists on doing so much for her and he replies,<br>"Because I wish to see you smile."<br>Though he cannot see her face clearly beneath her veil, he is sure he has found her smile.<br>Then, guards clad in black appear, and alongside them is the fortune teller who foretold the boy's doom.<br>The boy fights, unwilling to relinquish the princess,<br>and collects wound after poisoned wound in the process,<br>eventually losing consciousness. When he comes to, he awakes on a boat atop the sea.<br>He briefly wonders if he has attained freedom,<br>but quickly realizes the boat's only other passenger is not the princess, but the fortune teller.<br>With a laugh she thrusts her spear into him and with scorn he sinks his blade into her.<br>Entangled like lovers, they vanish into the depths.<br>As the boy's heart is consumed by an inky blackness,<br>he dwells on whether he was able to protect the princess's smile.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/yudil">Back</a></p>