---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Rion's Hidden Stories</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Rion's Hidden Stories</p>
<img src="https://i.imgur.com/Ga4hAwH.png">
<p class="title">Chapter 1: The Wolf's Gaze (No.01)</p>
<p class="para">Silver dashed through the
snow-powdered wood,
chasing down prey so she
might feed her hungry children.</p>
<p class="para"><i>How old was I when I first
read this book?</i></p>
<p class="para">I'm looking at a picture book<br>
about a wolf who takes in
abandoned human children,
giving a kind of home to the
otherwise helpless creatures.
I loved it as a child, and found
myself reading it over and
over again.</p>
<p class="para"><i>Why am I reading this book now?</i></p>
<p class="para">The wolf's skills grew sharper
with age. Her eyes were ice,
her claws razors. The rocky,
snowy terrain posed no
hazard for her, and within
moments, she had a single
rabbit wedged between her teeth.</p>
<p class="para"><i>Where does this book take place?</i></p>
<p class="para">Though the wolf was powerful,
she was also kind. In the
beginning, it troubled her how
the children wailed without
pause and refused the meat
she provided, but her spirit
never broke. She began to
skin the rabbits, cutting their
flesh into tiny pieces before
chewing it and presenting
the results to her changeling
pups. And after some time,
human and animal slowly
came to understand one
another.</p>
<p class="para">I keep reading the book,
but still don't understand

what's going on. Then a voice
from behind me, sudden.
I begin to turn around,
hoping to find the source,
when it dawns on me:</p>
<p class="para"><i>Oh. Right. I'm dreaming.</i></p>
<p class="para">My mother had departed
the world when I was young,
but at this moment, she's
talking to me. Looking at me
with her soft, kind eyes.</p>
<p class="para"><i>That's right. We read it together.</i></p>
<p class="para"><i>Why did it take me so long
to realize this was a dream?</i></p>
<p class="para">At the end of this book,
humans kill the wolf in an
attempt to protect the children.
The same creatures who
abandoned their own offspring
in the woods hunt down and
kill the beast that attempts
to care for them. They hold
the children at bay as they
reach for her, and sing
praises for justice as they
slaughter the passive animal.</p>
<p class="para">This part always bothered
me when I was young. I'd
been unable to accept it,
and remember asking my
mother why the wolf didn't fight

back when she had been in
the right. "I suppose that's
just how mothers are,” she
replied after a moment of
thought. I didn't understand
back then—in fact, her
response made me angry.
But when my mother saw
my reaction, she only smiled.</p>
<p class="para">I have been dreaming.</p>
<p class="para">I have been dreaming of
memories long past.</p>
<p class="title">Chapter 2: Eye and Steel (No.02)</p>
<img src="https://i.imgur.com/YqPkqmj.png">
<p class="para">I am dreaming.</p>
<p class="para">I am dreaming of the day my
mother and my younger self
were reading a book together,
and my heart quivers as I see
her for the first time in many,
many years.</p>
<p class="para"><i>I am dreaming of the day my
mother and my younger self
were reading a book together,
and my heart quivers as I see
her for the first time in many,
many years.</i></p>
<p class="para">When I was exiled, I had no
time to gather photographs

or keepsakes—there was
time only to run. But I
happened across the clipping
while making my escape and
snatched it up, and it has
never left my side since.</p>
<p class="para">The woman in the photograph,
however, is not the mother I
knew so well. I do not see her
gentle smile or her kind eyes—
I see only the regality of a
queen. Yet even knowing
this—and knowing I am in
a dream—I desire to speak
with her above all else. But
despite my fervent wish,
my mother's face shifts like
smoke in the dusk, and the
closer I tried to study her,
the hazier her visage becomes.</p>
<p class="para">The next thing I know, I am
standing in a different place:
a hallway filled with the acrid
tang of metal and cordite.</p>
<p class="para">There is something strange
about the way I am viewing
the world, and after a moment
I realize my eye level is
different than it had been.
I am taller now, viewing a
memory of a different time.</p>
<p class="para">I look around and take in my
surroundings. Before me stands

a great window filled with
massive panes of glass;
beyond are row upon row of
guns belonging to the clockwork
soldiers. They resemble human
arms, and the way they are
spaced equally apart disturbs me
in a way I cannot easily explain.</p>
<p class="para">Beside me, another figure
observes the laboratory.
It is none other than my father—
the king of our country.</p>
<p class="para"><i>Ah. I see now. This is the day
we visited the clockwork laboratory.</i></p>
<p class="para">One after the other, the metal
arms let fly a bullet. Each time,
the researchers write something
down, fiddle with this or that,
then reload and repeat the
experiment. It is what my father
calls "fire-control systems
research,” and I find it equal
parts fascinating and horrifying.</p>
<p class="para"><i>I spent more time with Father
after Mother passed. I wonder
what he had thought about that?</i></p>
<p class="para">My father was never much of
a talker, but I don't recall him
uttering a single word about
my mother's death. The
question of why this is sits
quietly in my mind as we

stand in the laboratory, but
eventually I find myself
inquiring about another matter:</p>
<p class="para">"Why did we start conducting
research into clockwork
soldiers, Father?"</p>
<p class="para">I don't really care about this
matter. I just want to talk about
something, <i>anything</i>. I want to
hear my father speak, because if
he does, maybe it will lessen
the gnawing fear of him that
sits eternally in my heart.
But his answer only stokes
the flame of my disconcert:</p>
<p class="para">"One's superiors do not often
give their answers,” he says.
"I am a superior to all—
including you—yet one day
this crown will lie upon your
brow. Perhaps I will hear
your thoughts of this
matter at some point.”</p>
<p class="para">Without waiting for a reply,
my father turns on a heel
and departs.</p>
<p class="para">But can I follow him?</p>
<p class="para">Do I even have the right?</p>
<p class="title">Chapter 3: Dark Eyes (No.03)</p>
<img src="https://i.imgur.com/aZbes71.png">
<p class="para">I dreamt of my past: memories
of my mother, recollections
of my father.</p>
<p class="para">Rarely did I dream after I left
on my journey; days of my
childhood, images that paid me
a visit for the first time in
many years, were enough
to fill me with nostalgia.
The sensation was so powerful,
the time back then so different
from now, that it almost caused
me to raise whines of misery.</p>
<p class="para">I wondered if what my mother
said to me back then was true.

I wondered what my father was
thinking about when he spoke
to me that day.</p>
<p class="para">As the questions from my
dream arose, the sight before
me warped once again.
Heaven and earth flipped;
light and shadow melded.</p>
<p class="para">Would these be memories
of another time?</p>
<p class="para">The next thing I know, I'm
standing in a run-down shack.
Before me I see someone's back,
one I am familiar with. I know
right away what this is—I am
in the process of repairing
his clockwork body.</p>
<p class="para">“I am sorry, my prince.”
There is a slight crackle to
the voice I hear from over his
shoulder—dust must have
gotten into his sound box.</p>
<p class="para">But it's my fault that he was
injured. My symptoms had
gotten worse, and he had taken
a blow meant for me instead.
I couldn't fault him for that.
I tell him that I should be the
one apologizing, but he shoots
me down. He is so kind to me,
and that's why...</p>
<p class="para">...That's why I'd been wondering
this whole time if I'm just
a burden to him.</p>
<p class="para">He supports me, and so is doing

all he can to help stop the war.
He is powerful, yet gentle—
I always wonder if there had been
a different, more effective path
that he could take to make my
vision a reality.</p>
<p class="para">All I can do for him is repair
his clockwork mechanisms.
And if I were ever to teach
someone else how to do it,
then he would have no more
use for me.</p>
<p class="para">The unease bubbles within me
and I give it voice: "Should you
really be accompanying me
on my journey, for the sake
of my dreams?"</p>
<p class="para">He falls silent, shocked.
Terrified of the quiet,
I immediately apologize,
but the silence still hangs
heavy over us.</p>
<p class="para">He says nothing. Nervous,
I lean over and peer at him...
to find that his eyes had gone
dark and still, his operations
ceased.</p>
<p class="para">My unusual question had caused
an error in his operations
that day.</p>
<p class="para">I reprimanded myself: I shouldn't
bring these sort of things up
during repairs, and frantically
returned to my work.</p>
<p class="para">And so, I never heard what his
answer had been to my question.</p>
<p class="title">Chapter 4: Closed Eyes (No.04)</p>
<img src="https://i.imgur.com/d8AVJHa.png">
<p class="para">Dreams come to me, one after
the next. I dream of life when
I was young, of things that
have recently happened—all of
them moments important to me.
And yet, why do I dream of
such things <i>now?</i></p>
<p class="para">Pain steals my consciousness,
wiping away my thoughts.
The sights before me slowly
fade away. Now I understand:
I'm waking up.</p>
<p class="para">I slowly lift my eyelids,
but can no longer I sit up.

In fact, I can scarcely move.
The pain is a weight that
shackles me to this place.
I had forgotten all about
these things in my dreams:
the ruined church, the illness
that prevents me from moving.
Ah, if only it was a dream.</p>
<p class="para">Though my eyes can barely
focus, I see a figure move.
The brim of his hat is wide
and round, and he peers at me
with worry. It is clear he has
been watching over me even as
I dreamed. I want to speak to
him, but my strained throat
can produce nothing but a
harsh rasp. It seems our days
of long, fulfilling chats are
now over.</p>
<p class="para">As I tense, he lifts me into
his arms and sets me down
atop an old, weathered pew.
My body relaxes as I sink
into it. It's much easier to
breathe here than when I'm
leaning against the wall,
and I'm so relaxed I have
trouble keeping myself awake.
Yet despite my newfound ease,
I am still unable to produce
any kind of sound.</p>
<p class="para">Suddenly, a thought enters my
mind, as true thing as I have
ever experienced: If I close
my eyes now, they will never
open again. And so I muster
all of my strength to force
out a sound. I have to speak
to him. I <i>must</i>.</p>
<p class="para">He has traveled with me
across land and time.</p>
<p class="para">He is my best friend.</p>
<p class="para">And this is the end.</p>
<p class="para">"Thank you"</p>
<p class="para">"I'm sorry."</p>
<p class="para">At last, I manage four meager
words. He initially tries stop
me as I desperately reach for
my voice, but then falls into
silent thought. Finally, after
a long pause, he says:</p>
<p class="para">"――――――――――――――"</p>
<p class="para">Alas, my ears can no longer
hear his words. But strangely,
I know his message regardless.</p>
<p class="para"><i>Thank you</i>, I say to myself.
<i>Thank you </i>I say, repeating
the words over and over in my
mind like a mantra until sleep

finally steals up and claims me.</p>
<p class="para">In the end, my dreams never
came true; I was not powerful
enough to end our endless wars.
And yet, there were people who
stood by my ideals. Not many,
of course, but some of them
eventually agreed to form a
third party that could act as
mediators for various warring
nations. They were small in
scope, and it would be a long
while before they had the pull
to bring negotiations to other
countries. But I had lit the
spark. And hopefully, that
spark would one day burn
brighter than any fire of war
and bring peace to the world.</p>
<p class="para">I want to believe this. For the
sake of all those days I spent
traveling with him, I want to
believe it more than anything.</p>
<p class="title">Chapter 5: Throne in the Sky (No.05)</p>
<img src="https://i.imgur.com/orzHkoY.png">
<p class="para">Oh, you want to know more
about him?
He was born the eldest son
and first prince of a royal
family. When he was young,
his father started a war, but
he was a kind boy who found
this hard to accept. I hear
he wanted to preserve peace
for the people, so he turned
his back on his country. Isn't
it nice he got to choose a
life for himself?</p>
<p class="para">Sadly, he took after his
sickly mother. His physical

condition—coupled with his
kind, pacifist disposition—
made him unpopular with
ministers, soldiers, and his
own father. Even the citizens
occasionally besmirched him,
asking him to stop blindly
believing in the good of
people's hearts.</p>
<p class="para">But even with all that, Mama
thinks his thoughts and words
saved a great many people.
If he ever became king... No.
It's because he never became
a king that he was who he was.</p>
<p class="title">Chapter 6: Kingship (No.06)</p>
<img src="https://i.imgur.com/nhXOue7.png">
<p class="para">My son was born today—our
first child. Under normal
circumstances, the emergence
of the nation's new prince
would have been welcome news.
But right after the birth,
both mother and boy were
taken to the medical facility.</p>
<p class="para">Knowing they are in danger of
losing their lives reminds me
how fortunate they are to even
draw breath, for the burden
birth places on the body has
claimed countless lives.
Yet she understood this, which is why she gave me the
throne that day.</p>
<p class="para">And yet, I cannot help but
think on how she paid a great
price for our child. How was
he going to live? What would
he bring to this country?</p>
<p class="para">I looked at his face before
they were taken away. The way
she smiled at me, in both pain
and joy, would not permit me
to dismiss such thoughts.</p>
<p class="title">Chapter 7: Voice Memo: ff7119 (No.07)</p>
<img src="https://i.imgur.com/a3m9iTl.png">
<p class="para">[Sounds of a campfire]</p>
<p class="para">"So whatcha think of that
prince?"</p>
<p class="para">"You mean the philanthropist
kid?"</p>
<p class="para">"Yeah. Him. Whenever he opens
his mouth, all these sweet
little ideas come pouring
out—ideas almost as sweet as
his face. A world without war?
Ha! Easy for him to say."</p>
<p class="para">[Sounds of silverware being

thrown]</p>
<p class="para">"Kid's heart's in the right
place, but he don't understand
<i>reality</i>. Got no interest in
risking my ass for a general
like that."</p>
<p class="para">"How hell are we supposed to
feed ourselves in a world
with no war, anyway?"</p>
<p class="para">"Right? Who's gonna hire a
couple'a old farts like us
what only know how to fight?"</p>
<p class="para">[Laughter]<br>
[END RECORDING]</p>
<p class="title">Chapter 8: Little Brother (No.08)</p>
<img src="https://i.imgur.com/0BtdZE3.png">
<p class="para">When I coughed at the ceremony this morning,
my younger brother gently rubbed my back.
Father didn't even try to hide his annoyance.</p>
<p class="para">That brother—the second prince—is the only
one who bothers to show me kindness.
Of all us brothers, I am the only one with
a different mother. Though the eldest,
I am sickly, which makes me seem terribly
unreliable. Yet here I am, next in line for
the throne—and I cannot imagine my younger
brothers being happy with the prospect.</p>
<p class="para">But I will not give up, for how can I hope to
eliminate war among nations if I cannot resolve
quarrels among brothers?</p>
<p class="para">My first task is to become closer to the second
prince— he who treats me most favorably.
I feel certain he will listen to my ideas.</p>
<p class="title">Chapter 9: To the Young Leader (No.09/10)</p>
<img src="https://i.imgur.com/YbS1wwf.png">
<p class="para">Forgive me for writing you a lousy goodbye letter on the
day you leave. I would've gone to see you off in person
if it weren't for this damn job.</p>
<p class="para">I wanted to talk to you about the formation of a neutral
organization to address international warfare. I'm sorry
my country couldn't work with you; what power I do have
holds little sway over people at the top of the food chain.</p>
<p class="para">I know this doesn't make up for things, but I pulled some
strings to secure the medicine enclosed in this letter.
It helps with coughs, heart palpitations, and chest pains,
and while it's not a cure, it should at least make things
a little easier for you. I'm sorry this is all I can do,
but I really hope it helps.</p>
<p class="para">On a side note, I want you to know how much you motivate me.
You're younger than I am, yet you work twice as hard—so I'm
going to take a page from that book and do what I can to
earn more power within my own parliament!</p>
<p class="para">I'm really looking forward to the day we can sit down
and talk about the future together. Until then.</p>
<p class="title">Chapter 10: Recording 93a6ab (No.10/10)</p>
<img src="https://i.imgur.com/6Qwbqvg.png">
<p class="para">"Yeah, that kid in the old church? I think he died."</p>
<p class="para">[BACKGROUND TAVERN CHATTER]</p>
<p class="para">"You mean that kid you went out to check on that one time?
I got a real kick outta that, by the way—look at you,
actin' like some kinda saint."</p>
<p class="para">"Yeah, that's the one. I haven't seen that dude who used
to bring him food every day, either. Considering the kid's
state, I'm betting he didn't just get better and move on."</p>
<p class="para">[ICE CLINKING AGAINST GLASS]</p>
<p class="para">"Rumors say he's the prince who was exiled from the kingdom."</p>
<p class="para">"Hard to know considering how gaunt his face was, but I guess
he looked similar—and if it <i>is</i> him, he'll likely be
carrying valuables. Probably wouldn't be hard to secure,
given his condition."</p>
<p class="para">"...Well, let's find out."</p>
<p class="para">[GLASS CLINKING AGAINST GLASS]</p>
<p class="para">[END OF RECORDING]</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierrein/characters/s1/001rion">Back</a></p>