---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>Akeha</title>
<p class="title"><a href="/stories/reincarnation/characters/s1/akeha/this-violent-fleeting-world">
    This Violent, Fleeting World<img class="art" src="https://i.imgur.com/xir84xH.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="">
    Character Story<img class="art" src="https://i.imgur.com/0fpu4c8.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="">
    Hidden Stories<img class="art" src="https://i.imgur.com/yjZ9wcW.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="">
    Dark Memory<img class="art" src="https://i.imgur.com/XvwerDw.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="">
    Frozen Heart<img class="art" src="https://i.imgur.com/GMq7heA.png"></a></p>
    <p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters">Back</a></p>
