---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>Gayle</title>

<h1><a href="/stories/reincarnation/characters/s1/reading/gayle/what-was-lost">
    What Was Lost<img class="art" src="https://i.imgur.com/PKv8ACG.png"></a></h1>
<h1><a href="/stories/reincarnation/characters/s1/reading/gayle/character-story">
    Character Story<img class="art" src="https://i.imgur.com/CFgmrMO.png"></a></h1>
    <p class="line"></p>
<h1><a href="/stories/reincarnation/characters/s1/reading/gayle/hidden-stories">
    Hidden Stories<img class="art" src="https://i.imgur.com/PVsVY67.png"></a></h1>
    <p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters">Back</a></p>
