---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>Rion</title>
<style>

.para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}

</style>
<title>Rion</title>
<div class="over">
<div class="Guide">
<div><p class="title"><a href="/stories/reincarnation/characters/s1/rion/his-body-rust">
    His Body, Rust<img class="art" src="https://i.imgur.com/Pl1Cboq.png"></a></p></div>
<div><p class="title"><a href="/stories/reincarnation/characters/s1/rion/character-story">
    Character Story<img class="art" src="https://i.imgur.com/fBBtPq9.png"></a></p></div>
<div><p class="title"><a href="/stories/reincarnation/characters/s1/rion/hidden-stories">
    Hidden Stories<img class="art" src="https://i.imgur.com/faMAe1Z.png"></a></p></div>
<div><p class="title"><a href="/stories/reincarnation/characters/s1/rion/dark-memory">
    Dark Memory<img class="art" src="https://i.imgur.com/ZcdgM8t.png"></a></p></div>
<div><p class="title"><a href="/stories/reincarnation/characters/s1/rion/frozen-heart">
    Frozen Heart<img class="art" src="https://i.imgur.com/UH3r8gP.png"></a></p></div>
<div><p class="title"><a href="/stories/reincarnation/characters/s1/rion/record-seat-of-shadow">
    Seat of Shadow<img class="art" src="https://i.imgur.com/HW1Ewvr.png"></a></p></div>
<div><p class="title"><a href="/stories/reincarnation/characters/s1/rion/record-bridge-of-supplication">
    Bridge of Supplication<img class="art" src="https://i.imgur.com/lmCXssz.png"></a></p></div>
<div><p class="title"><a href="/stories/reincarnation/characters/s1/rion/record-seat-of-shadow">
    The Cage of Rebirth<img class="art" src="https://i.imgur.com/HW1Ewvr.png"></a></p></div>
<div><p class="title"><a href="/stories/reincarnation/characters/s1/rion/costumes">
    Costumes<img class="art" src="https://i.imgur.com/ThKdF8L.png"></a></p></div>
</div>
    <p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters">Back</a></p>
