---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>NieR 12022</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
.title{
    font-weight: 465;
}

@media screen and (orientation: portrait) {

.title-box{
    background-color: transparent;
    border-color: transparent;
}
}

.title{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
</style>

<p style="margin-top: 1cm; font-size: 300%;">NieR 12022 Side: 9S</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: <a href="/credits/people/seviryn"><u>Seviryn</u></a></p>
<img src="https://i.imgur.com/sTxWPDL.jpeg">
<p class="title">Voices from
the Verge</b></p>
<p class="title">Side 9S
- Night</p>
<p class="line">
<br>
<p class="title"><span class="title-box">Operation 21O:
– </span></p><p class="para"></span></p><p class="para">There is a delay in our scheduled correspondence from the
Council of Humanity. All communication personnel should carry out
designated confirmation protocols.</p>
<br>
<p class="title"><span class="title-box">Operation 6O:
– </span></p><p class="para">Hmm... I feel like there's a lot of noise mixed in with this
data. I wonder what it is? ... Wait. This isn't noise.</p>
<br>
<p class="title"><span class="title-box">Operation 21O:
– </span></p><p class="para"></span></p><p class="para">Commencing scan. If you don't get anything after four seconds,
try a pattern comparison.</p>
<br>
<p class="title"><span class="title-box">Operation 6O:
– </span></p><p class="para">Hold on. This was in a message from the council...</p>
<br>
<p class="title"><span class="title-box">Operation 21O:
– </span></p><p class="para"></span></p><p class="para">The Commander... Contact the Commander! Hurry!</p>
<br>
<p class="title"><span class="title-box">Operation 6O:
– </span></p><p class="para">I can't! All the ports have been destroyed, and...</p>
<br>
<p class="para"><i>The
stage flashes red. The word Error appears on the screen while a siren
goes off.</i></p>
<br>
<p class="para">[Maniacal
laughter]</p>
<br>
<p class="title"><span class="title-box">Operation 21O:
– </span></p><p class="para"></span></p><p class="para">The infection is...</p>
<br>
<p class="title"><span class="title-box">Operation 6O:
– </span></p><p class="para">No... Noooooo!</p>
<p class="line">
<br>
<p class="para">-Crumbling
Lies-</p>
<br>
<p class="para">June
26, 11945 
</p>
<br>
<p class="para">1:12
AM: Logic virus outbreak occurs within the Bunker satellite base.</p>
<p class="para">1:23
AM: Virus spreads to the Information Control Team.</p>
<p class="para">1:25
AM: All external communication channels are cut off.</p>
<p class="para">1:47
AM: Firefights between maintenance workers break out in the hangar.</p>
<p class="para">1:49
AM: Nearly all YoRHa members are infected.</p>
<p class="para">2:05
AM: Infected YoRHa members wreak havoc in the command room.</p>
<p class="para">2:18
AM: Fires break out in multiple living quarters.</p>
<p class="para">2:20
AM: An explosion occurs near the Bunker's fusion reactor.</p>
<p class="para">2:28
AM: YoRHa units 2B and 9S escape the Bunker.</p>
<p class="para">2:30
AM: The Bunker falls. YoRHa is annihilated.</p>
<p class="line">
<br>
<p class="para">-A
Beautiful Song-</p>
<br>
<p class="title">The
Bunker that was our home fell. The council of Humanity we believed in
was a lie. Herein lies a record that has never been disclosed: A
record of sights witnessed by 2B and 9S within a memory. Sights seen
as they travelled a world mired in absurdity and deceit.</p>
<p class="line">
<br>
<p class="title"><span class="title-box">Mama (narration)
– </span></p><p class="para">The bunker, a satellite base suspended in orbit, has
fallen. With 9S having lost the only home he's ever known, one woman
represents his last ray of light.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Where the hell is 2B!?</p>
<br>
<p class="para"><p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Scanning. Black box signal located.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Put it on the map!</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Alert: Large-scale ground tremors detected. Underground soil
structure is no longer stable. Cause is likely a high-magnitude
earthquake. Proposal: Evacuate immediately.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">I'm not going anywhere!</p>
<br>
<p class="title"><span class="title-box">Mama (narration):</span></p><p class="para">Perhaps some part of him already knows. Perhaps he
should give up. But he continues to run, as though trying to escape a
curse that clings to him like mud.</p>
<br>
<p class="para">[Panting
as 9S runs]</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">2B... 2B...</p>
<br>
<p class="para">[Panting
as he runs, then stopping]</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">2B! Are you...Ah!</p>
<br>
<p class="title"><span class="title-box">Mama (narration):</span></p><p class="para">
The sight before him is so unbelievable, he wishes he
could avert his eyes. A scarlet-soaked blade pierces her body. He
denies it with his whole being. He denies the visual data captured by
his sensors. He denies the conclusions yielded by logical
consideration of the situation. He denies the very reality unfolding
before him.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Oh no... 2B... No...</p>
<br>
<p class="title"><span class="title-box">Mama (narration):</span></p><p class="para">She was his last ray of light. His precious
hope that must never be lost.</p>
<br>
<p class="para">[9S
wails. Groaning and screaming] 
</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">A2! I'll kill you!<br/>
<br/>

</p>
<p class="title">Act
1: A City Without Memories</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">2B! 2B! Where are we...? Pod, do a scan of the surrounding
terrain. ...Pod? Pod, do you copy!?</p>
<br>
<p class="title"><span class="title-box">Mama (narration):</span></p><p class="para">The spacious expanse where 9S finds himself is eerily
quiet. His voice scatters and disappears into the ether as he speaks.
He is surrounded by a vast city robbed of color. White buildings are
covered by an all-devouring canopy of pure white that blankets the
sky.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Scan complete. Target verified as YoRHa unit 9S,</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Pod 042, where is 2B!?</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Unknown. We were separated during the collapse.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Dammit... Scan for her black-box signal!</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Alert: Scanning impossible. Communications in the vicinity
have been jammed.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Because of the EMP blasts? I've gotta find 2B right away!</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Excessive activity detected in the thought-control node of
YoRHa unit 9S. Proposal: Cool system by way of short-term sleep.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Pass.</p>
<br>
<p class="title"><span class="title-box">Mama (narration):</span></p><p class="para">Red flashes through 9S's mind. It is the color of a
cold blade thrust into a soft stomach. The crimson liquid that seeps
from it. He sees the gentle look in 2B's eyes as she calls him Nines
in her last moments.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Use sensors to perform a scan of the periphery!</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Analysis: No organic heat signatures or movement detected.
However, the precision of this information is 39.1% lower than normal
as it is not possible to connect to the network.</p>
<br>
<p class="para">Mama
(narration)– Suppressing his urge to scream, 9S looks out over the
mysterious space before him.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">I'm going to look for 2B.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> That action is not recommended. There is a 98.254% chance
that YoRHa unit 2B has perished.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">I don't care what the odds are.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Proposal: YoRHa unit 9S should prioritize escaping this area.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">You can leave if you want. I'll look for her alone.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Tactical Support Units are not permitted to act independently
of their assigned YoRHa units. Furthermore, there is a small chance
additional information may be learned regarding YoRHa unit 2B. For
these reasons, this Pod will accompany YoRHa unit 9S.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Suit yourself.</p>
<br>
<p class="title"><span class="title-box">Mama (narration):</span></p><p class="para">He is caught in a cycle of despair. No prayer will be
answered. The future remains closed as time continues to flow. 9S
understands perfectly. He knows she does not exist within his reach.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Like I'd give up that easily...</p>
<br>
<p class="title"><span class="title-box">Mama (narration):</span></p><p class="para">Someone who has yet to mourn a loss could not
possibly say farewell. A black shadow dashes through the white
expanse. He must say farewell, even if it destroys his creaking
heart.</p>
<p class="line">
<br>
<p class="para">[A2
groaning]</p>
<br>
<p class="title"><span class="title-box">Pod 042 (narration):</span></p><p class="para">Despite being caught in the collapse of the city
ruins, A2 made it through intact.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Nnngh... god...dammit! Move, you piece of junk!</p>
<br>
<p class="title"><span class="title-box">Pod 042 (narration):</span></p><p class="para">She awakens to a body in great pain from head to
toe. A body that will not do as she commands. Spewing abuses in
disdain of this development, A2 manages to rise to her feet.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Where the hell am I?</p>
<br>
<p class="title"><span class="title-box">Pod 042 (narration):</span></p><p class="para">Cold white buildings are lined throughout the
space. Hollow light pours down from an impossibly clear sky. As A2
takes a step, something emerges from a nearby box.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">...A hologram?</p>
<br>
<p class="title"><span class="title-box">Pod 042 (narration):</span></p><p class="para">The three-dimensional image of a robot wearing a
hat bows in A2's direction. Then, as if on cue, machines in the area
awaken one after the other. Their speakers blare the same phrase
repeatedly, as if attempting to brainwash the listener. A light
attached to a building projects an image on the ground. It is what
was referred to in the old world as an “advertisement.”</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Buzz off, you freakin' scrapheaps!</p>
<br>
<p class="title"><span class="title-box">Pod 042 (narration):</span></p><p class="para">Without a second thought, A2 launches an
offensive, scattering fragments of destroyed machines across the
ground.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">That should shut things up around here... Huh?</p>
<br>
<p class="para">[Cheerful
humming - Emil's Shop song]</p>
<br>
<p class="title"><span class="title-box">Pod 042 (narration):</span></p><p class="para">A2 hears an easygoing song that fits poorly with
her surroundings, as well as the piercing sound of an engine. Though
far away, it gradually draws closer.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Seriously?</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Oh no, somebody's in the way! Better pump the brakes and stop on
the double!</p>
<br>
<p class="title"><span class="title-box">Pod 042 (narration):</span></p><p class="para">As A2 worries the shrill sound of braking may
have shattered her eardrums, the odor of burnt rubber assaults her
nasal passages.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">What a stench!</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">S-sorry...</p>
<br>
<p class="title"><span class="title-box">Pod 042 (narration):</span></p><p class="para">A bizarre face is attached to the body of an aged
car. Though its appearance is suspicious, A2 doesn't seem wary in the
slightest.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Emil. What are you doing here?</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">So the city suddenly collapsed, right? And then these big white
buildings shot straight up from the ground like BOOM! I tried to
escape by jumping across collapsing footholds, but I didn't have the
horsepower.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">I see.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">It was pretty crazy! ...Hey, where are you going?</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">I'm gonna blow this joint. Being surrounded by noisy-ass machines
isn't my thing.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Then let me tag along! I can't get any business done down here
anyway. You don't mind, right?</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Makes no difference to me. If you can't keep up, I'll just leave
you behind anyway.</p>
<br>
<p class="title"><span class="title-box">Pod 042 (narration):</span></p><p class="para">They are amidst a sea of perfectly white
buildings. In both shape and form, it is an exact replica of a human
city from the old world. Skyscrapers that stand among the clouds.
Highways which stretch in all directions. Deluges of light and
information. An uninhabited city filled with objects symbolizing
humanity's prosperity. And now, A2 and Emil wander this unfamiliar
place in search of a way out.</p>
<p class="line">
<br>
<p class="title">-Peaceful
Sleep- <br/>
<br/>

</p>
<br>
<p class="para">-City
Ruins-</p>
<br>
<p class="para">2003
– 12 – A strange disease of unknown origin emerges, one which
causes people to turn white and transform into salt. It begins to
spread like wildfire. 
</p>
<br>
<p class="para">2025
– 01 – A technology is discovered that enables the separation and
preservation of a human's body and soul.</p>
<br>
<p class="para">2061
– 12 – The process of separating humans is completed. It is
decided that humanity will wait until a treatment for the disease has
been found.</p>
<br>
<p class="para">5012
– 08 – Aliens from outer space invade and launch an attack across
the entire planet.</p>
<br>
<p class="para">11732
– 03 – A large-scale counteroffensive staged by the androids
managing Earth ends in failure.</p>
<br>
<p class="para">11940
– 12 – To bring an end to the deadlocked war, the newest models
of androids are assembled to form an organization called “YoRHa.”</p>
<p class="line">
<p class="title">Part
2: An Encounter Forgotten</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">No matter how far we go, all the buildings look the same.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">I'm sick of walking around like a chump. You've got gunpowder,
right? Let's blast our way through.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">How about we take a look in that direction this time? We might
find something,</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Did you not hear me? Where's the gunpowder at? Let's get
explode-y.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">What fantastic weather! Not a cloud in the sky.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Quit acting like you don't hear me, you rusty jalopy.</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> Footsteps and the sound of an engine echo through
the colorless, empty city. But while the strange sights may be eerie,
the city doesn't once bare its fangs at the pair. Yet A2 still moves
to grasp her weapon. She points the blade at the space Between two
buildings, towards an alley shrouded in shadow.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">All right. The hell are you following us around for?</p>
<br>
<p class="para">Emil
- ...A2?</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> A bundle of white cloth suspended in midair
emerges from the alley. The cloth has two black holes in the spots
that would normally contain eyes, but no emotion can be gleaned from
the openings. And then...the cloth speaks.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Wipe that sour look off your face. Mama's not your enemy.</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> A2's blade remains pointed at the white cloth,
still as a glacier.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">...Doesn't seem like a machine to me.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Sure is spooky though. Kinda looks like a ghost.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Goodness! If you ask Mama, you look quite odd yourself.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Wha--!? No way! My body's just been optimized for its purpose!
What's so weird about that!?</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Optimization and good looks can go hand in hand, child. Take me
for an example.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Hold still. You make even the slightest movement I don't like,
and I'll cut you down. Also, what's with this “Mama” crap? Whose
mom are you supposed to be?</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Everyone's! I'm everyone's Mama!</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Mess her up, A2! Even if she's not a machine, She's definitely up
to no good!</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Hold on now! Mama's not up to anything! Look, I'll put my hands
in the air for you. If you want, I'll even spin around three time and
yell “Mama!”</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Have you no shame? Shit.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Mama's fine doing what it takes to stay alive.</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> After a brief pause, an exasperated A2 lowers her
blade.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">You got a name?</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Just call me Mama, child.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">You live here?</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Oh no. Mama's come a long, long way to serve as your guide.</p>
<p class="line">
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> The city of pure white expands uninterrupted into
infinity, and 9S presses through it without a clear goal in mind. 
</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">2B! If you hear me, send out a signal...</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Signal detection impossible due to prolonged jamming of
communications. This Pod recommends securing an escape route.</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> 9S does not respond to the Pod. He just continues
on, chasing the shadow of the person he seeks.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Where the hell are we?</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> 9S see's half-broken fencing, as well as empty
boxes strewn across the floor. The bottles on the shelves have
fallen, causing many of them to break. Like the other buildings, this
one is colored entirely white. However, it looks different—almost
like a ruin.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> This area resembles what those in the old world called a
“supermarket.” Humans used it as a facility for purchasing daily
necessities.</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> There is something unusual about the ruins of a
commercial facility juxtaposed against the rest of the orderly city.
However, 9S immediately loses interest, for he has far more pressing
matters to attend to.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">What would 2B do in this situation?</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> Some possibilities could be derived from the data
accumulated in his memory area. But how valuable would they be in a
city as bizarre as this?</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">I'm useless without you...</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> He puts himself in 2B's place. He envisions her
in his mind. His body seized by a frigid loneliness, 9S stops in his
tracks. 
</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Alert: Movement detected on sensors.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">...!</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> As 9S quickly raises his head, a black mass
enters his field of vision. Its form is unusual to the point where it
defies visual processing. Seemingly squirming in agony in the depths
of the building, the creature gradually draws closer.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Pod, are you getting any machine lifeform readings!?</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Negative.</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> The black mass bends, warps, and heaves before
ultimately assuming human form. It appears to be male, and larger
than 9S. The creature's eyes shine with a golden glint, his gaze
fixed straight ahead.</p>
<br>
<p class="para">[Battle
cry]</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> 9S brings his weapon down on the man without
hesitation, deciding attack to be a better course of action than
dialogue. But the blow does not reach his opponent. To say he dodged
it would be incorrect. The way he moves is more like he was never
there to begin with.</p>
<br>
<p class="title"><span class="title-box">???:</span></p><p class="para">Who...are you?</p>
<br>
<p class="title"><span class="title-box">Pod 042 (narration):</span></p><p class="para"> 9S swings his sword in response, but the blade does
not make contact with the enemy.</p>
<br>
<p class="title"><span class="title-box">???:</span></p><p class="para">Where...am I? How did I...?</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Everything that falls from the man's lips is a question, and
such ignorance causes 9S to be overcome with irritation.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Damn you!</p>
<br>
<p class="title"><span class="title-box">???:</span></p><p class="para">Please, tell me everything you know.</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> In the next instant, a massive hand whose
approach he could not sense seizes 9S by the head. 9S seizes
violently as golden patterns appear across the man's body.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Urk..!?</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Alert: Some manner of attack is being carried out on YoRHa
unit 9S's thought circuity.</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> Dark thoughts infiltrate 9S's defenses and rush
through his memory area: The base on the moon. YoRHa. Machine
lifeforms. However, the invader ignores the data that occupies the
most space, instead latching onto a particular set of memories.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Cut it out!</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> Memories containing days cherished by 9S.
Memories possessing eternal value. Meanwhile which, while trivial,
has been gathered up and stored like the most precious of treasures.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Don't touch those!</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> Knocking the man's hand aside, 9S swings his
sword in a frenzy. He attacks again, and again, and again. Finally,
he lands a blow that slices the man diagonally from the shoulder. The
man is no longer attempting to dodge.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> A change has been detected in the hostile lifeform.</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> Cut wide from the shoulder to stomach, the man
tilts his head and whispers.</p>
<br>
<p class="title"><span class="title-box">???:</span></p><p class="para">It...hurts so much...</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">I'll kill you!</p>
<br>
<p class="title"><span class="title-box">???:</span></p><p class="para">To lose someone precious...</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Shut up! Don't talk about my memories!</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> The man's body is attempting to reclaim its
original shape with 9S's sword still lodged inside it. And like a
blade plunged deep into the earth, the sword will not budge.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Huh!? 
</p>
<br>
<p class="title"><span class="title-box">???:</span></p><p class="para">Yes. I know this pain as well... I also lost someone... Someone I
cherished more than the whole world...</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> The man's golden eyes show the briefest glimpse
of sadness before being consumed by rage.</p>
<br>
<p class="title"><span class="title-box">???:</span></p><p class="para">Yonah...If you're not in this world...then it might as well not
exist!</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> A beastly roar echos throughout the vacuous white
city. The man's shadow extends in all directions, as though
attempting to engulf the world entire.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Providing support.</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> The Pod unleashes an electric shock that makes
contact with the man. While it seems to have little effect, it
creates enough of an opening for 9S to retrieve his blade.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Proposal: Withdraw from current location.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Damnit!</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> Emerging outside through a hole in the ceiling,
they see the periphery being laid to waste by the man's shadow.
Colossal buildings bend and twist as the sounds of destruction echo
throughout the area.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">
Search for an escape route!</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Negative. The scale of this destruction is too great. Evasion
is impossible. Proposal: Brace for impact.</p>
<br>
<p class="para">[9S
Screaming]</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> 9S is violently battered by rubble that falls
like rain.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Alert: YoRHa unit 9S's body has sustained severe damage.
Signals lost from multiple sensors.</p>
<br>
<p class="title"><span class="title-box">Pod 153 (narration)
– </span></p><p class="para"> As the city is engulfed by the sound of its
collapse, 9S's vision is consumed by shadow.</p>
<p class="title"><br/>
<br/>

</p>
<p class="title"><br/>
-Forest
Kingdom-<br/>
<br/>
9S awakens to dull pain pulsing through his body.
His visual functions restored, he analyzes his surroundings. Ground
scarred with fissures. Massive buildings suspended in midair. The pit
of the abyss is a twisted nightmare. <br/>
<br/>

</p>
<p class="title"><br/>
-Possessed
by Disease-<br/>
<br/>
A voice rings out. A man wreathed in darkness
emerges from the shadows. His groans are tinged with regret and
despair. He holds a blade forged from machines. The man is crying.
They are not tears of grief, nor of fear. They are tears of a
thousand-year curse.<br/>
<br/>
9S relentlessly hacks away at the
man. But every wound is quickly filled with dark flesh that grows
back harder and stronger than before. With no clear reason to
continue to fight, 9S is driven solely by an overwhelming desire to
kill the man before him.<br/>
<br/>

</p>
<p class="title">Part
3: The Thousand-Year Curse</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Tch! There's no end to this!</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Hypothesis: The speed at which the enemy regenerates exceeds
the speed at which we can attack.</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">No matter how many strikes he endures from blade and
bullet, the man wreathed in shadow shows no signs of slowing. He is
propelled by hatred for the world around him, as well as the will to
destroy it.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Weapons won't take this thing down... Pod, deploy a virtual
canary and assemble a protocol based on its recorded comms patterns.
I'm going to try hacking this thing!</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Acknowledged.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">You accessed my memory area, which means I should be able to get
inside yours!</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">With communications jammed, it's impossible to
infiltrate the enemy through the network. But it CAN be done by way
of a direct connection at close distance.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Alert: Multiple enemy defense layers and attack-type security
systems detected.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Requesting sustained logic-vaccine deployment! Commencing attack!</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">9S leaps into an abyss of signals and information.
Diving ever deeper into that digital sea, he disables the dark
shadows that plague him, navigates the data, and heads for the core.
It is a space with no up or down. No left or right. And once there,
he discovers a place guarded by shadow.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Gotcha.</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">9S opens a hole in the squirming black mass, which
gradually shrinks as it's restored by automatically generated defense
layers. Passing through it, 9S finally arrives at the innermost
reaches. 
</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">This is that building from before... What's going on here?</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">It is a dark and dingy place. The fencing is
half-broken and empty boxes are strewn across the floor. The bottles
on the shelves have fallen, causing some of them to break. It
resembles the place the Pod had called “a supermarket” -- the
establishment where they encountered the shadowy man. The only
differences that it's stained a filthy, sooty shade of gray. In the
spot where the black mass had been squirming, there now floats a
white light so small it could fit in the palm of a hand.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Is this...memory data? Is this what that thing was trying to
protect?</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">The moment 9S touches the light, data flows through
him like a current.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">...!?</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">A time when humanity still walked the earth. An age
when people lived in cities that had yet to fall to ruin. A spreading
disease. A world bound for destruction. That which must be protected.
Family. A little sister. Yonah. And a solitude that lasted a
millennium.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">This memory... It's not from my time...</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">The memory is an unknown thing to 9S. The black
shadow is neither android nor machine, but something else entirely: A
tragedy wrought by humanity in an age long since past. 9S wonders how
such a thing could exist now, and can muster up only a handful of
possible explanations. 
</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Then this place is...</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">Having arrived at the truth, 9S's words escape him.</p>
<p class="line">
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Hurry up... and BREAK already! 
</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">A2's Devastating blow strikes one of the pillars
holding up a building. No longer able to support its own weight, the
structure collapses.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">[Wheezing] God...DAMMIT!</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Well, she's out of control.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Outta control indeed.</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">The pair looks at A2 as she hurls abuse at the pile
of rubble, then slowly turn to look at each another.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Let's take a break, A2. Smashing random buildings is only going
to tire you out.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> He's right, you know. When lost, the most important thing to do
is stay calm. That way, you can make the right call when faced with
big decisions.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">However true that may be, hearing it out of Ms. Mama's mouth
makes it harder to accept.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Goodness, you're an odd one. Nobody calls me “Ms. Mama.”</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Why are you even tagging along in the first place? You said you'd
guide us, but you haven't done a damn thing so far.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Patience, child. Mama's time in the spotlight will arrive soon
enough.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Will it, though?</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> In any case, let's all work together. You two want to get back to
where you came from, yes?</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Well, I dunno about that.</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">A2 remembers the faces of companions lost long, long
ago. Forsaken by her home on the moon, there is no place to which she
can return. Looking back, she thinks she may not have belonged
anywhere to begin with.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Well, it's not so much that I WANT to go back as that I HAVE to.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> What does that mean?</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">I lost a lot of memories while multiplying myself, and I'm sure a
bunch of them must have been really important... So I want to reclaim
what I've lost. It doesn't matter how long it takes, and I don't care
if I have to be alone for a really long time to make it happen.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> And you?</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">I...</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">A2 feels sensation return to life in her palms. She
feels cold steel in her hands as she plunges a sword into 2B's chest.
She vividly recalls the resolve housed deep within 2B's red eyes. The
event is stored clear as day in her memory banks.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Even if I've got nowhere to go back to, I still have to carry out
someone's wish.</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">As such, she must leave this place. For A2, it is the
only answer.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Say, A2? Do you see something under that rubble over there?</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">A faint ray of light penetrates the wreckage of A2's
making and reflects off an object resembling a small box.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">The hell's this?</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">A2 drags the square iron box out from beneath the
rubble.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Isn't this 9S's Pod?</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Oh no! Is this the kind that floats? Won't this make me
less...you know? Special?</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">That's hardly the issue here.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Hellooo? Wakey wakey! ...Looks like it's not turned on.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Then put it back where you found it.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">What!? We can't just throw it away like garbage!</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">We don't need junk weighing us down.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Fine, then. I'll just fix it up.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> You can do that? Goodness, you're handier than I thou--</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Emil Chop!</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">The hell!?</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">An unpleasant beeping rings out as the Pod's little
arms begin to rotate.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Heavens! That's a much more violent method of repair than I was
expecting.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Well, you turned it on, but the thing's totally busted now.</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">Defying gravity, the boxy machine rises into the air
and unsteadily flies about like a newly fledged bird.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Well, I'm stumped. A quick Emil Chop is usually all it takes to
fix most machines.</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Error. Error. Issuing error code. Proposal: Notify
development staff. Staff. Staff.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Bah. That's enough out of you!</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">A2 sends the pod flying with a magnificent roundhouse
kick. Its body hits the ground with a dull thud and falls silent.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">A2, no! You're gonna break it!</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">You're the one who laid hands on the thing in the first place.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> May the poor thing rest in peace... Hmm? Does anyone else hear
something?</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">The beeps that ring out this time are clearer in tone
than before. They gradually speed up before ending in a sequence of
high-pitched notes.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">D-do you think it's gonna blow up?</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Reactivation complete. No noise detected in thought centre.
Commencing optimization of logical-thought-analysis region.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Oh, yay! But what are you doing here anyway?</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">I am here to retrieve YoRHa unit 9S's consciousness data. The
data stored in the server on the orbital base has been lost, leaving
this as the sole location where it continues to exist.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">9S? Oh, you must mean that YoRHa boy who showed up when I killed
2B because of her infection.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> You've come with a purpose, then. Can I take that to mean you
know what this place is?</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Affirmative. This is a cyberspace created within an
underground server. It is modeled to resemble a city occupied by
humanity.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Cyberspace, huh? That explains why we haven't found an exit.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Um, since you were able to get in, does that mean you also know a
way out?</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Affirmative. An escape port exists within this space.
However, the withdrawal from this cyberspace is not scheduled to
occur until the retrieval of YoRHa unit 9S's consciousness data is
complete.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Why bother? The council's lies are out in the open now. There's
no Bunker, so there's no need for you to help YoRHa.</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Negative. I am a YoRHa Tactical Support Unit. Command's
existence has no impact on my purpose. Furthermore, this objective
was determined as a result of this pod's independent thought
processes.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> In simpler terms, you're saving him because you want to.</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Affirmative. If you accompany this Pod and assist in
searching for YoRHa unit 9S's consciousness data, I will guide you to
the escape port.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Sounds like you're not giving us much choice.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Oh, but it sure would help us out!</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Query: Why do you rejoice?</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Pardon?</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">You have been engaging in secured communication with this
server. Therefore, you should be aware this is a cyberspace within a
server.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">But Ms. Mama, you didn't mention anything like that at all...</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">The escape port's location is not concealed. Any individual
with authorization to access data on this server can instantaneously
provide said information. Query: Why did you withhold this
information?</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">The group is seized by feelings of hostility and
confusion. Noticing A2 has a hand on the hilt of her weapon, Mama
slowly opens her mouth.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> All right, you got me. I knew about the escape port all along.
There's just someone I wanted to take you to first.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">And who would that be?</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> The person who created this vast world. I want you to meet with
him...and save him from his endless solitude.</p>
<p class="line">
<p class="title"><br/>
-Kaine-<br/>
<br/>
The
scenery around them begins to change. What they witness is a world
falling into ruin... Like something from a person's memories. <br/>
<br/>

</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">We were born into a world that still had lots of humans.</p>
<br>
<p class="title"><span class="title-box">Nier:</span></p><p class="para">We had a warm place to call home—and to me, that was happiness
enough.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">But then a disease started to spread and no one knew what to do.</p>
<br>
<p class="title"><span class="title-box">Nier:</span></p><p class="para">To save humanity--no, to save my sister--I decided to help.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Sacrifices were necessary to make it a reality..</p>
<br>
<p class="title"><span class="title-box">Nier:</span></p><p class="para">It was all a lie. I was deceived for an entire millennium.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">So, please.</p>
<br>
<p class="title"><span class="title-box">Nier:</span></p><p class="para">That's why I'll destroy this world.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Please... Please save him.</p>
<p class="line">
<p class="title"><br/>
-Emil-<br/>
<br/>
A
sound rings out. The deceived man is crying. His body transforms.
Distorts. It takes on the shapes of ancient aberrations. <br/></p>
<br/>
<p class="para">
sadness 
                  regret             
      loneliness</p>
<p class="para">                   pain 
                    loneliness         
          sadness</p>
<p class="para">   regret 
                  sadness             
      pain</p>
<p class="para">           loneliness 
                  sadness             
      pain</p>
<br>
<p class="para">They
had names.</p>
<br>
<p class="para">Sacrifice</p>
<p class="para">The
Law of Robotics</p>
<p class="para">The
Memory Tree</p>
<p class="para">The
Stone Guardian</p>
<p class="para">Loyal
Cerberus</p>
<br>
<p class="title">Shades...
nightmares thought to have faded. 
</p>
<p class="line">
<p class="title">With
cursed fangs, the man seeks revenge.</p>
<p class="line">
<p class="title">Part
4: A Secret Weapon</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">I'm getting real sick of you guys!</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">Dark shadows fill the perfectly white space as the
man creates countless clones of himself.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">I don't think this is getting us anywhere!</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Alert: Colossal lifeform detected underground.</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">As the Pod's inorganic voice rings out, a large
shadow rises from the earth.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Is that this thing's real body!?</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Not sure, but I'll try accessing it! Hold the enemy back for me,
everyone!</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">Two arms extend from the bottom of the white Cloth
and begin fumbling about as though searching for something.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> There's no regularity to how the infiltration is sequenced. Is
this by design, or because he's gradually falling apart!?</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">I will provide decoding support in order to analyze the
hostile's data.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Thank you, I'd appreciate tha-- Eeek!</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Ms. Mama!</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">We were forcibly ejected by the attack-type defense layers.
198 seconds remain until reconnection.</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">The enemy can't be attacked from within or without.
With no way to fight it, the group finds themselves trapped in a city
from which there is no escape.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Emil! Take 'em and get out of here!</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">What about you!?</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">I'll figure something out!</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">A2 cuts down the shadows that well forth and attempts
to create an escape route.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Shit. They multiply too damn fast! I can't keep up!</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">The thought of self-destructing crosses A2's mind. As
she shakes the idea free, a flash bounds through her vision and
perforates the chest of a massive shadow.</p>
<br>
<p class="para">[9S
battle cry]</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">A dark blade plunges into the hole and tears the
shadow in two, reducing it to nothing.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">You!</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">A2! [Laughing] Imagine running into you here. Guess it must be my
lucky day. Time for you to die!</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Stop it, 9S!</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Back off. I'll kill anyone who gets in my way.</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Proposal: Cease hostilities and join forced with YoRHa unit
A2 to facilitate the securing and migration of YoRHa unit 9S's
consciousness data.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Join forces with HER!? 
</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">This is no time for us to be fighting each other!</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Affirmative. Large groups of hostile lifeforms detected. 98
seconds until contact.</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">The masses of black shadows rise up like a wave,
intent on consuming them along with the entire city.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Shit! Take shelter in a building!</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> No! It's going to swallow the buildings as well!</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">What the hell are YOU!?</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> I'm Mama!</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Proposal: Formulate a strategy by way of inter-Pod
communications.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Mama will also share what information she has. Hook me up!</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">they investigate thousands of possibilities in the
span of a mere 30 seconds, repeating tests to find the option with
the greatest chance of success.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Aren't you done yet!?</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Open up your data ports, everyone! I'll share our plan with you!</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">A mass containing all conceivable information is
directly fed into the minds of the group. Emil's automobile-body
shakes in response to the intensity of the experience.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Okay, get singing!</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">Here goes! Luvha dume!</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">Emil's song, amplified to its limit via the system,
echoes throughout the area. The enemies, previously stacked
vertically like a massive wave, fall to the ground like birds shot
from the sky.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Commending support fire using high-speed energy rounds.</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Affirmative.</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">Innumerable spheres of light scatter about. Any
shadowy bodies struck by them fade away like mist.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">So if we just slice that thing faster than it can regenerate,
it'll eventually go down? Easier said than done. Hey! You can kill me
later, but give me a hand for now!</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Who died and put you in charge!?</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">Suppressing his animosity, 9S continues to swing his
sword without pause.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">I need to see 2B again. No matter what!</p>
<br>
<p class="para">[A2
Battle cry]</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> 99% of hostile lifeform signals have vanished. Only one
remains.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Emil! Mind lending us a... Emil?</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> I think all the singing caused him to overheat! Let's help him
once we're done!</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Talk about shitty timing...</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">A large tear forms in the black shadow's head,
revealing its mouth. Its shape warps, emitting a series of sounds.
The sound changes into a voice: “oh, oh, oh... Oh... Why...”</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">[Panting] Huh? It's...talking?</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">[Panting] You lost something too, didn't you? Something you
wanted to protect.</p>
<br>
<p class="title"><span class="title-box">Nier:</span></p><p class="para">Lost...? No...! She was...stolen from me! They promised that if i
gave them my body...they would save Yonah!</p>
<br>
<p class="title"><span class="title-box">Emil (narration):</span></p><p class="para">With A2 and her group brought to their knees, the
man's shadow begins to swell.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Is it gonna make more clones of itself...!?</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> This might be the end... There's nothing we can do to fight
back...</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Negative. This Pod can be turned into a logic bomb as a last
resort.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Permission denied!</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Acknowledged.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Analysis: Pod 153's proposal is not a last resort.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Why not?</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Because this Pod can also be turned into a logic bomb.
Commencing countdown.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Hold on a goddamn second!</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Negative. This Pod is a Tactical Support Unit assigned to
YoRHa unit 2B, and is not obligated to carry out orders issued by
units A2 or 9S. 30 seconds remaining. Requesting Pod 153 salvage
YoRHa unit 9S's consciousness data prior to this Pod's detonation.</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Acknowledged.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Don't acknowledge that!</p>
<br>
<p class="title"><span class="title-box">Emil (narration):</span></p><p class="para">The Pod emits a warming sound, signalling the end. It
is the final song of one who has found purpose in sacrifice.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> It's really going to do it!</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Shit! Everyone take cover!</p>
<br>
<p class="title"><span class="title-box">Emil (narration):</span></p><p class="para">Seeing A2 force 9S down, Pod 042 heads directly
toward the enemy. For the Pod must keep its promise; the Pod has
those it must protect from the swirling shadows. A brief sound of
slashing is heard as dark shadows are carved to pieces.</p>
<br>
<p class="title"><span class="title-box">???:</span></p><p class="para">As the authorized user of the corresponding Tactical Support Unit,
I request its self-destruct sequence be aborted!</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">That voice...!</p>
<br>
<p class="title"><span class="title-box">???:</span></p><p class="para">You've done well, Pod. Thank you.</p>
<br>
<p class="title"><span class="title-box">Emil (narration):</span></p><p class="para">A pitch-black shadow descends upon the pure-white
city.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">2B!</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">What is she doing here?</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">Time to end this.</p>
<br>
<p class="title"><span class="title-box">Emil (narration):</span></p><p class="para">Wielding a blade of perfect white, 2B tears through
the battlefield like lightning. The swollen shadows are destroyed
instantly, leaving a single shadow the size of a small child.</p>
<br>
<p class="title"><span class="title-box">Nier:</span></p><p class="para">I'll make them pay... Humanity... The whole world...</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">Fine by me, but it's time to sleep now. For you and me both.</p>
<br>
<p class="title"><span class="title-box">Emil (narration):</span></p><p class="para">2B gently thrusts her sword into the shadow. The pain
stings like a lullaby beckoning the listener into peaceful repose.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> The shadow is disappearing...</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">Pod. While I did ask you to protect 9S, I never thought you'd try
something like that.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> That objective was assigned top priority. The chosen course
of action was necessary to complete the mission.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">2B! Is it really you? I'm not dreaming, am I?</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">I'm glad you're safe, 9S.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">I don't think there's time to celebrate.</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Analysis: This space has begun to collapse at the periphery.
The disappearance of its creator may be the cause.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Hey, Emil! Feel like waking up yet!?</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">[Groaning] Hmm? Ack! Good morning!</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Thank you for saving that poor soul. After being trapped by his
curse for so long, he can finally rest.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Proposal: Proceed to escape port. We must withdraw from this
space before it collapses.</p>
<br>
<p class="title"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Mama will show everyone the way. Follow me!<br/>
<br/>

</p>
<p class="title"><br/>
-Bipolar
nightmare-<br/>
<br/>
Feeling 2B's every breath, 9S prays. He feels
joy fighting at 2B's side. He holds hope for the future that awaits.
Even if it is a lie.<br/>
<br/>

</p>
<p class="title"><br/>
-Mourning-<br/>
<br/>
A
place to celebrate life and send off the deceased. A place of prayer.
The city's records can be gleaned from within the tranquil light. A
record of humanity's end. A history of machines copying a city. And
also... the hesitance they felt.<br/>
<br/>
9S thinks deeply on
humanity's history. Perhaps it is an eternity's worth of sin and
punishment. Amidst the falling dust and debris, 2B damns herself. She
curses her fate of being created solely to kill. Even though she
knows it's already too late... <br/>
<br/>

</p>
<p class="title">Part
5: The Never-Ending spiral of Life and Death</p>
<br>
<p class="title"><span class="title-box">A2 (narration):</span></p><p class="para">The city begins to collapse, as though following its
master into the abyss. Amidst the destruction, only a single
shrine-like structure retains its shape.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> This is where the escape port is. Inside, everyone!</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">No good! The door won't budge!</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">Out of the way, 9S. I'll handle this.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Alert: Maintaining distance from the door is advised.</p>
<br>
<p class="title"><span class="title-box">A2 (narration):</span></p><p class="para">Golden eyes shine in the shadows at 2B's feet. It is
the man they assumed defeated. He crawls out from beneath 2B and
attempts to reclaim a human form.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Don't you ever quit? This time I'll take you out myself!</p>
<br>
<p class="title"><span class="title-box">A2 (narration):</span></p><p class="para">9S grasps his weapon as the Pods charge energy. I
grab my sword and prepare to lunge at our opponent. Just as the
tension is reaching its peak, a bundle of white cloth floats out in
front of us.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> How about we all put away our weapons?</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">But...!</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> It's all right; this child can't fight any more. A soul that was
meant to have found rest is still just a bit lost, is all. You've
forgotten how to get home, haven't you? You've been away for an awful
long time...</p>
<br>
<p class="title"><span class="title-box">Nier:</span></p><p class="para">[Groaning]</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> It's okay now, dear. Mama will take you home.</p>
<br>
<p class="title"><span class="title-box">Nier:</span></p><p class="para">Home...? The place...I belong...</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> That's right. So let's open that door and send these nice people
home as well, okay? Their hearts can't be left in a city made from
curses. Plus, this will help us save your soul, too.</p>
<br>
<p class="title"><span class="title-box">A2 (narration):</span></p><p class="para">Moving like a flickering flame, the shadow quickly
adopts the form of a young child. Its eyes hold not anger, nor
hatred, no sadness, instead shining with a faint, innocent light.</p>
<br>
<p class="title"><span class="title-box">Nier:</span></p><p class="para">Oh, I see... Yonah... you've been right there...all along.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">The door flies open on its own, as though unleashing the souls
trapped behind it. A pane of stained glass deep within the shrine
shines warmly as it filters sunlight from the outside.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> That stained glass is the escape port.</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Based on how much time remains until this space collapses,
only our consciousness data can be sent.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> That's right. I'm afraid you'll have to leave the memories you
made here behind.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">You first, 2B.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Not waiting for an answer, 9S grabs 2B's hand and tries to take
her to the stained glass—but 2B gently shakes it off.</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">I'm sorry, 9S.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">What are you apologizing for?</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">You know whats going on, don't you? I died when the city
collapsed. What you see now is patched together from data fragments
on the network.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">So what? Even if you ARE just patched data, you're still 2B!</p>
<br>
<p class="title"><span class="title-box">A2 (narration):</span></p><p class="para">Were he capable of mourning the death of someone he
cherished. He could simply say farewell. But faced with the phantom
of what has been lost, his modest wish swells out of proportion. No
matter what she hears, 2B simple listens with a troubled smile. 9S
understands the situation perfectly, but that doesn't mean he's
capable of stopping himself.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">It's okay if you don't remember anything once we get out! We'll
start over from the beginning, just like you've always done for me!
And this time I'll... I'll be the one who saves you!</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">He offers prayers he knows will go unheard. For if he fails to do
even that, all will be swallowed by despair.</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">No, 9S. My body doesn't exist anymore. There's nowhere for my
data to go.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">We can't know what'll happen unless we try!</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">But I WANT to disappear here. If entering the port means
discarding my memories, I'd rather hold onto my time with you and-- 
</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">You think I feel any different!?</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Created to fight and existing only to die, the pair were joined
by a faint light in the most absurd of circumstances.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">I'm going to stay. If you're going to disappear, I want to stay
with you until the very end.</p>
<br>
<p class="title"><span class="title-box">2B:</span></p><p class="para">...Thank you, 9S.</p>
<br>
<p class="title"><span class="title-box">A2 (narration):</span></p><p class="para">The gentle smile on her lips is proof of her
rejection. It's a smile born of wanting to protect someone who they
had unexpectedly come to cherish more than anything in the world.</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">Pod.</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Acknowledged. Commencing entrapment of YoRHa unit 9S's
movement control routines.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Agh! When did...you...hack my body!?</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> When this Pod began accompanying YoRHa unit 9S. The action
was performed at YoRHa unit 2B's request in preparation for the
possibility YoRHa unit 9S would refuse to escape.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Ugh... M-my...voice...!</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">9S!?</p>
<br>
<p class="title"><span class="title-box">Pod 042:</span></p><p class="para"> Report: All controls placed on 9S are temporary. Suspension
of vocal function confirmed. Assuming command of his mobility region
and forcibly transferring authorization to operate his body to this
Pod.</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Preparing transfer to escape port.</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">Look after 9S, Pod 153.</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Affirmative. 
</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">You too, Emil. If something happens, I want you to help 9S.</p>
<br>
<p class="title"><span class="title-box">Emil:</span></p><p class="para">I'll do whatever I can.</p>
<br>
<p class="title"><span class="title-box">A2 (narration):</span></p><p class="para">Then 2B turns to me and, with a hint of smile on her
face, says:</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">And A2? 9S will be a thorn in your side, but try to keep your
chin up.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">...Seriously?</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Alert: Promises are meaningless. Memories made here will not
be saved.</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">In that case, A2, keep your head down and power through.</p>
<br>
<p class="title"><span class="title-box">A2:</span></p><p class="para">Heh. Can do.</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">A creaking sound is heard.</p>
<br>
<p class="para">[9S
groaning]</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">Despite having been robbed of all control, 9S
attempts to move his body through sheer force of will.</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Alert: Logic circuits are experiencing acute strain due to
unauthorized intervention. There may be some damage.</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">She is so close, he could touch her if he reached
out. But not only can he not touch her, he isn't even permitted to
speak to her. Tears fall from the eyes hidden beneath 9S's visor. 2B
extends a hand to his face and wipes them away.</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">This...is farewell.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">...!</p>
<br>
<p class="title"><span class="title-box">Pod 153:</span></p><p class="para">Commencing data transfer and withdrawal from this space.</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">With their consciousness rearranged as data. 9S and
the others are sent into the small port. As their bodies gradually
vanish, the warm shrine welcomes a new visitor: tranquility.</p>
<br>
<p class="para"><p class="title"><span class="title-box">Mama:</span></p><p class="para"> Right! Let's get going too, shall we?</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">Mama leads 2B and the Boy outside. The city's
collapse continues with ever-increasing intensity, yet strangely,
there is no sorrow here. All that exists is the clear, refreshing air
that surrounds them. 2B stops and gazes up at the white, cloudless
sky above. She recalls time spent together amidst days of conflict.
Memories possessing eternal value. Memories which, while trivial,
have been gathered up and stored like the most precious of treasures.</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">Thank you...</p>
<br>
<p class="title"><span class="title-box">Nier (narration):</span></p><p class="para">The words she whispers are absorbed by the open sky
as they quietly fade away.</p>
<p class="line">
<p class="para"><br/>
-The
Sound of the End-<br/>
<br/>
Final gate reached. Commencing data
transfer. 
</p>
<p class="line">
<p class="para"><br/>
-Song
of the Ancients-</p>
<p class="line">
<p class="title"><br/>
-Weight
of the World-<br/>
<br/>
The infection spreads though 2B's
consciousness. She prays. Before death's footsteps reach her, she
screams. Even if nobody hears me. 9S saved me.<br/>
<br/>
Within a
crumbling memory, she bids farewell to 9S's consciousness data.<br/>
<br/>
I
did feel a little bit lonely but now my h eart is filled with such
wa    rm      li    ght<br/>
<br/>
Th    a     
n    k      y            ou        Ni 
    ne<br/>
<br/>

</p>
<p class="line">
<br>
<p class="title"><span class="title-box">Operator 21O:</span></p><p class="para">Operator 21O here. 6O, do you copy?</p>
<br>
<p class="title"><span class="title-box">Operator 6O:</span></p><p class="para">Copy copy!</p>
<br>
<p class="title"><span class="title-box">Operator 21O:</span></p><p class="para">Just one copy is enough.</p>
<br>
<p class="title"><span class="title-box">Operator 6O:</span></p><p class="para">Copy!</p>
<br>
<p class="title"><span class="title-box">Operator 21O:</span></p><p class="para">Why do you think we're here?</p>
<br>
<p class="title"><span class="title-box">Operator 6O:</span></p><p class="para">The Bunker fell, we went berserk and died, and then we turned up
here. That about right?</p>
<br>
<p class="title"><span class="title-box">Operator 21O:</span></p><p class="para">Exactly. This is a cyberspace of someone's creation, and 2B's
consciousness data remains here in a damaged state.</p>
<br>
<p class="para">6O
- But it and us will disappear before long, right?</p>
<br>
<p class="title"><span class="title-box">Operator 21O:</span></p><p class="para">Riddle me this, Operator 6O: What exactly is it that operators
do?</p>
<br>
<p class="title"><span class="title-box">Operator 6O:</span></p><p class="para">Operators provide support to YoRHa units in the field and perform
backups of their... Oh.</p>
<br>
<p class="title"><span class="title-box">Operator 21O:</span></p><p class="para">Correct. Right before the virus got us, we tried to get the data
of the YoRHa units we support somewhere safe.</p>
<br>
<p class="title"><span class="title-box">Operator 6O:</span></p><p class="para">I remember now! That's why I tried to send 2B's backup data to a
server on the surface. Don't think I managed to finish, though.</p>
<br>
<p class="title"><span class="title-box">Operator 21O:</span></p><p class="para">How about you try mixing that incomplete data with the 2B data we
have here? 
</p>
<br>
<p class="para">6O
- ...So 2B's consciousness data can be repaired!? Oh, but wait. Where
should I save it to?</p>
<br>
<p class="title"><span class="title-box">Operator 21O:</span></p><p class="para">The human server on the moon. I figured this might happen, so I
made sure to leave an opening.</p>
<br>
<p class="title"><span class="title-box">Operator 6O:</span></p><p class="para">Dang, 21O! I can always count on you!</p>
<br>
<p class="title"><span class="title-box">Operator 21O:</span></p><p class="para">Let's get started, shall we?</p>
<br>
<p class="title"><span class="title-box">Mama (narration):</span></p><p class="para">And so the pair go about carefully linking 2B's data.
They work with a gentle touch, so as to not damage it further. It is
their final act of support for the units entrusted to them.</p>
<br>
<p class="title"><span class="title-box">Operator 6O:</span></p><p class="para">Don't give up, 2B!</p>
<br>
<p class="title"><span class="title-box">Operator 21O:</span></p><p class="para">The rest is up to you, 9S.</p>
<br>
<p class="title"><span class="title-box">Mama (narration):</span></p><p class="para">Even if 2B's data should be recovered, there is no
longer a body to which it can return. But...</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">We will meet again.</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">Someday. Somewhere.</p>
<br>
<p class="title"><span class="title-box">2B:
</span></p><p class="para">And so for now, we sing...</p>
<br>
<p class="title"><span class="title-box">9S:</span></p><p class="para">A song of prayer.<br/>
2B – A song of prayer.</p>
<p class="line">
<p class="title"><br/>
Encore
Medley: <br/>
-Prayer-<br/>
-Copied City-<br/>
-Amusement
Park-<br/>
-Alien Manifestation-<br/>
-Dependent Weakling-<br/>
-Voice
of no Return-<br/>
-Weight of the World-<br/>
<br/>

</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-all/concerts/12022">Back</a></p>