---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>NieR 12022</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
.title{
    font-weight: 465;
}

@media screen and (orientation: portrait) {

.title-box{
    background-color: transparent;
    border-color: transparent;
}
}

.title{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
</style>

<p style="margin-top: 1cm; font-size: 300%;">NieR 12022 Side: 2B</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: <a href="/credits/people/seviryn"><u>Seviryn</u></a></p>
<img src="https://i.imgur.com/sTxWPDL.jpeg">
<p class="title"><span class="title-box">Voices from
the Verge</b></p>
<p class="title"><span class="title-box">Side 2B</b></p>
<p class="title"><span class="title-box">Introduction</b></p>
<p class="title"><span class="title-box">Operator 21O </b>
<p class="para">There is a delay
in our scheduled correspondence from the Council of Humanity. All
communication personnel should carry out designated confirmation
protocols.</p>
<p class="title"><span class="title-box">Operator 6O </b>
<p class="para">Hmm... I feel
like there's a lot of noise mixed in with this data. I wonder what it
is? ... Wait. This isn't noise.</p>
<p class="title"><span class="title-box">Operator 21O </b>
<p class="para">Commencing scan.
If you don't get anything after four seconds, try a pattern
comparison.</p>
<p class="title"><span class="title-box">Operator 6O </b>
<p class="para">Hold on. This was
in a message from the council...</p>
<p class="title"><span class="title-box">Operator 21O </b>
<p class="para">The Commander...
Contact the Commander! Hurry!</p>
<p class="title"><span class="title-box">Operator 6O </b>
<p class="para">I can't! All the
ports have been destroyed, and...</p>
<p class="para">​</p>
<p class="para">(The stage
flashes red. The word Error appears on the screen while a siren goes
off.) (Maniacal laughter)</p>
<p class="title"><span class="title-box">Operator 21O </b>
<p class="para">The infection
is...</p>
<p class="title"><span class="title-box">Operator 6O </b>
<p class="para">No... Noooooo!</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">--</p>
<p class="para">— <b>Crumbling
Lies</b> —</p>
<p class="para">June 26, 11945</p>
<p class="para">1:12 AM: Logic
virus outbreak occurs within the Bunker satellite base.<br/>
1:23 AM:
Virus spreads to the Information Control Team.<br/>
1:25 AM: All
external communication channels are cut off.<br/>
1:47 AM: Firefights
between maintenance workers break out in the hangar.<br/>
1:49 AM:
Nearly all YoRHa members are infected.<br/>
2:05 AM: Infected YoRHa
members wreak havoc in the command room.<br/>
2:18 AM: Fires break
out in multiple living quarters.<br/>
2:20 AM: An explosion occurs
near the Bunker's fusion reactor.<br/>
2:28 AM: YoRHa units 2B and 9S
escape the Bunker.<br/>
2:30 AM: The Bunker falls. YoRHa is
annihilated.</p>
<p class="para">--</p>
<p class="para">— <b>A
Beautiful Song</b> —</p>
<p class="para">The Bunker that
was our home fell. The council of Humanity we believed in was a lie.
Herein lies a record that has never been disclosed: A record of
sights witnessed by 2B and 9S within a memory. Sights seen as they
travelled a world mired in absurdity and deceit.</p>
<p class="para">--</p>
<p class="para">​</p>
<p class="para">(2B Ragged
breathing)</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Guess...this is
it...</p>
<p class="para">​</p>
<p class="para">(Thrusting her
sword into a stone)</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">These are...my
memories. Take care of everyone for me... Take care...of the
future... A2...</p>
<p class="title"><span class="title-box">Act 1: A City
Without Memories</b></p>
<p class="title"><span class="title-box">2B </b>
<p class="para">What is this
place? Pod, perform a scan of the periphery. Pod, come in! Where are
you!?</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">The spacious
expanse where 2B find herself is eerily quiet. Her voice scatters and
disappears into the ether as she speaks. She is surrounded by a vast
city robbed of color. White buildings are covered by an all-devouring
canopy of pure white that blankets the sky.</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">YoRHa unit 2B
located.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Pod 153! Where's
9S!?</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Unknown. We were
separated while withdrawing from the front line.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Check for black
box signals.</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Negative. No such
check is possible due to communications in the area being jammed.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Then use your
sensors to perform a scan of the periphery.</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Analysis: No
lifeform signatures detected nearby. However, the precision of this
information is 39.1% lower than normal as it is not possible to
connect to the network.</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">It is a puzzling
situation in a puzzling space. 2B places her hand on her chest.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">This isn't right.
I should be dead.</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">She recalls the
feeling of cold steel being plunged into her chest. She recalls the
stillness in A2's eyes. The event is stored clear as day in her
memory banks.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">There's also no
sign of the virus that infected my body. Pod. What is the likelihood
we're in cyberspace?</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Hypothesis: There
is a 0.2987% chance of this being a cyberspace. Based on matter
present in the atmosphere and materials used in nearby buildings,
there is a 99.7013% chance of this space existing in the material
world. Alert: There is a widely held belief that pinching one's cheek
is an effective course of action in such situations. Do you require
your cheek pinched?</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">That won't be
necessary.</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">2B finds herself
at a loss. Is there truly still hope? Or is there simply more despair
to come?</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">9S...</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">No Prayer will be
answered. The future remains closed. But simply waiting around is not
an option.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">We're getting out
of here— and we're going to save 9S.</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Affirmative. This
Pod will commence support of YoRHa unit 2B.</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">A black shadow
dashes through the white expanse. She must put an end to this cycle
of tragedy, even if it is all without meaning.</p>
<p class="para">--</p>
<p class="para">(A2 Groaning)</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">Despite being
caught in the collapse of the city ruins, A2 made it through intact.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Nnngh...
god...damnnit! Move, you piece of junk!</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">She awakens to a
body in great pain from head to toe. A body that will not do as she
commands. Spewing abuses in disdain of this development, A2 managed
to rise to her feet.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Where the hell am
I?</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">Cold white
buildings are lined throughout the space. Hollow light pours down
from an impossibly clear sky. As A2 takes a step, something emerges
from a nearby box.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">...A hologram?</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">The
three-dimensional image of a robot wearing a hat bows in A2's
direction. Then, As if on cue, machines in the area awaken one after
the other. Their speakers blare the same phrase repeatedly, as if
attempting to brainwash the listener. A light attached to a building
projects an image on the ground. It is what was referred to in the
old world as an “advertisement.”</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Buzz off, you
freakin' scrapheaps!</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">Without a second
thought, A2 launches an offensive, scattering fragments of destroyed
machines across the ground.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">That should shut
things up around here... Huh?</p>
<p class="para">​</p>
<p class="para">(Emil Cheerful
Humming)</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">A2 hears an
easygoing song that fits poorly with her surroundings, as well as the
piercing sound of an engine. Though far away, it gradually draws
closer.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Seriously?</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Oh no, somebody's
in the way! Better pump the breaks and stop on the double!</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">As A2 worries the
shrill sound of braking may have shattered her eardrums, the odor of
burnt rubber assaults her nasal passages.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">What a stench!</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">S-sorry...</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">A bizarre face is
attached to the body of an aged car. Though its appearance is
suspicious, A2 doesn't seem wary in the slightest.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Emil. What are
you doing here?</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">So the city
suddenly collapsed, right? And then these big white buildings shot
straight up from the ground like BOOM! I tried to escape by jumping
across collapsing footholds, but I didn't have the horsepower.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">I see.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">It was pretty
crazy! ...Hey, where are you going?</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">I'm gonna blow
this joint. Being surrounded by noisy-ass machines isn't my thing.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Then let me tag
along! I can't get any business done down here anyways. You don't
mind, right?</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Makes no
difference to me. If you can't keep up, I'll just leave you behind
anyways.</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">They are amidst a
sea of perfectly white buildings. In both shape and form, it is an
exact replica of a human city from the old world. Skyscrapers that
stand among the clouds. Highways which stretch in all directions.
Deluges of light and information. An uninhabited city filled with
objects symbolizing humanity's prosperity.<font face="Arial, sans-serif"> </font>
<font face="Arial, sans-serif"> </font> And now, A2 and Emil wander
this unfamiliar place in search of a way out.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">--</p>
<p class="para">— <b>Peaceful
Sleep </b>—</p>
<p class="para">--</p>
<p class="para">— <b>City Ruins</b>
—</p>
<p class="title"><span class="title-box">2003 / 12 </b>
<p class="para">A strange disease
of unknown origin emerges, one which causes people to turn white and
transform into salt. It begins to spread like wildfire.</p>
<p class="title"><span class="title-box">2025 / 01 </b>
<p class="para">A technology is
discovered that enables the separation and preservation of a human's
body and soul.</p>
<p class="title"><span class="title-box">2061 / 12 </b>
<p class="para">The process of
separating humans is completed. It is decided that humanity will wait
until a treatment for the disease has been found.</p>
<p class="title"><span class="title-box">5012 / 08 </b>
<p class="para">Aliens from outer
space invade and launch an attack across the entire planet.</p>
<p class="title"><span class="title-box">11732 / 03 </b>
<p class="para">A large-scale
counteroffensive staged by the androids managing Earth ends in
failure.</p>
<p class="title"><span class="title-box">11940 / 12 </b>
<p class="para">To bring an end
to the deadlocked war, the newest models of androids are assembled to
form an organization called “YoRHa.”</p>
<p class="para"><br/>
<br/>

</p>
<p class="title"><span class="title-box">Act 2: An
Encounter Forgotten</b></p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">No matter how far
we go, all the buildings look same.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">I'm sick of
walking around like a chump. You've got gunpowder, right? Let's blast
our way through.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">How about we take
a look in that direction this time? We might find something.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Did you not hear
me? Where's the gunpowder at? Let's get explode-y.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">What fantastic
weather! Not a cloud in the sky.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Quit acting like
you don't hear me, you rusty jalopy.</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">Footsteps and the
sound of an engine echo throughout the colorless, empty city. But
while the strange sights may be eerie, the city doesn't once bare its
fangs at the pair. Yet A2 still moves to grasp her weapon. She points
the blade at the space between two buildings, towards an alley
shrouded in shadow.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">All right. The
hell are you following us around for?</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">...A2?</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">A girl clad in
white emerges from the alley. Her hands tremble slightly, perhaps in
fear of the weapon pointed at her.</p>
<p class="title"><span class="title-box">??? </b>
<p class="para">I'm sorry. It's
just... I've never seen people here before.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">A2, Wait! Please
put your weapon away!</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">A2 raises a
slight eyebrow at Emil's plea. She's never seen him show so much
emotion before.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">You know this
kid?</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">I'm not sure. I
lost a bunch of memories while multiplying myself, so there's a lot I
don't really remember very well. But if there's one thing I do know,
it's this: We absolutely must not hurt her!</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">It would be a
tall order for A2 to be convinced by Emil's entirely unreasonable
explanation. But while his face looks like little more than a strange
mask with a moving mouth, A2 somehow sees Emil's yearning for days
long past within his gaze. She puts away her weapon and turns to the
girl.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">You got a name?</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">After a moment's
hesitation, the girl's small lips begin to move.</p>
<p class="title"><span class="title-box">??? </b>
<p class="para">Yonah.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">What are you
doing here?</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">We live in this
city. Me and my brother.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">--</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">Though the space
extends without end, the methodically designed city holds no warmth.
And the sheer white buildings that scrape at the heavens look almost
like pillars of salt.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Yonah! Where are
you. Yonah!?</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">A young man pants
as he runs in search of his little sister—his only family. There is
nothing he wouldn't sacrifice to protect her.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Yonah!</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">Pain shoots
through his throat as he screams. He has not has a single drop of
water since the previous day. Ignoring his parched throat, he comes
to a stop. He sees a dark shadow move in the corner of his vision.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">...!</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">The shadow beings
to a woman in a black blindfold. To her side, a small iron box floats
in midair.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Pod. Scan for
machine lifeforms.</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Sufficient data
cannot be acquired due to jammed communications.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">What are people
doing here? Are you the ones who took Yonah!?</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">As the young man
tightens his grip on the iron pipe in his hand, the woman assumes a
combat stance in response.</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Proposal: Do not
engage. Due to the number of uncertainties in play, gathering
additional information is the most effective course of action.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">And eliminating
him would give us one less uncertainty to worry about.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">What!?</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">We are isolated
within a city of unknown location. Act of provocation are not
recommended. Proposal: Pursue cooperative relationships with
lifeforms capable of communication, rather than engaging in
hostilities.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">I've got no
obligation to help out complete strangers.</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Negative. The
matter at hand is not an obligation. Wanton combat reduces the
likelihood of returning alive. There are 38 additional demerits.
Which I shall now enumerate. Number one—</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Quiet, you.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">What the hell's
going on here?</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">Perhaps
succumbing to Pod's persuasion, The two combatants slowly lower their
arms.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">You alone?</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">I've got a
sister. We live together. How about you?</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Just me and that
pod there. We're looking for a way out of this city. You know
anything about that?</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Nope. This city's
so big, I haven't been able to see all of it. Never reached any kind
of dead end, either.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Fine. Tell me how
you got here.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">I don't know. My
sister and I just sort of showed up one day.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">How long have you
been here?</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Couldn't say. The
sun doesn't set here, so part of me thinks it's just been a few days,
but... There's another part that feels like I've been here for
months. Say, did you happen to see a little girl on your way here?</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">No. You're the
first person we've met.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">How about boxes
filled with food or water?</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Nothing like that
either. Do such goods even exist in this city?</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">You see them
every now and then. They're how we've been able to survive. But
lately you have to go pretty far afield if you want to find any.
Yonah—that's my sister— probably went out to look for food. I'd
been away from our house for a lot longer than usual, so...</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">.....</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Proposal: Assist
with the search.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Huh!? You'll help
me?</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Why, Pod?</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">We currently
possess no information regarding a way out. Refusing to assist will
have no impact on our likelihood of discovering an exit. However,
people who have been here longer than us likely possess more
information than we do. There is a high probability that assisting in
the search will yield information regarding a means of escape.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">If you help me
look for Yonah, I'll tell you everything I know.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Understood. Pod,
perform a scan of the periphery. Concentrate on detecting any
movement.</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Affirmative.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Let's get going.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Wait. I need to
ask something first.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Which is?</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Why do you have a
weapon if all you're doing is looking for your sister?</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Enemies tend to
pop up around here. I'm hoping you can take care of yourself. If you
can beat me like you said, protecting yourself should be easy.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">All right.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">--</p>
<p class="para">— <b>Forest
Kingdom</b> —</p>
<p class="para">The city
gradually begins to change. Fissures scar the ground. Massive
buildings float in midair. Feeling they're not welcome here, 2B and
Pod press on... accompanied by an unknown young man.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">--</p>
<p class="para">— <b>Possessed
by Disease</b> —</p>
<p class="para">A sound rings
out. The sound of groaning iron. A sound that rejects invaders. From
amongst the darkness, fangs appears to tear 2B's group to shreds.
What appeared from the abyss...were machine lifeforms shaped like
animals.</p>
<p class="para">Iron beasts
surround them. The young man's breath is ragged. Having entered
close-range combat mode, 2B has the slightest hint of a smile on her
face. As though fighting is her very reason for living.</p>
<p class="para"><br/>
<br/>
<br/>
<br/>
<br/>

</p>
<p class="title"><span class="title-box">Act 3: Past,
Present, Future</b></p>
<p class="para">​</p>
<p class="para">(2B Battle cry)</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">The dull, heavy
sounds of sword striking metal echoes through the ruins. The fighting
is intense—the kind where a fighter does not strike
vulnerabilities, but simply hacks their opponent into submission. As
their functions cease, light leaves the enemies' eyes and they limply
collapse to the ground.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">(Panting) You
hurt?</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">(Panting) I'm
fine.</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">All hostile
machine-lifeform readings have disappeared. The interior of this
building is now secure.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">I might've been
in real trouble without you two. Thanks.</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">The young man's
eyes no longer harbor any trace of hostility or caution. Saying
nothing. 2B responds with a quiet nod.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Those were the
enemies I mentioned. There are probably more skulking around in the
city— I think they're probably defense robots or something.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">No. They're not.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Hmm?</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Machine lifeforms
are independent combat units manufactured for the purpose of
invasion.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">You know what
these things are!?</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">You don't? There
shouldn't be anywhere on Earth without machine lifeforms.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">News to me. I'd
never seen anything like them until I got here. And what do you mean
“for the purposes of invasion”? Are they weapons? Like, for wars?</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Yes—for the war
between aliens and humanity. Combat androids like myself were also
created as part of that process.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Are you messing
with me?</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Query unclear.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Aliens? Machine
lifeforms? You sound like you're talking about some movie.</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Negative. What
she says is truth. The war against invaders from outer space began in
5012 A.D. and continues to the present day.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Five thousand...
And what year are you gonna say YOU came from?</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">What good would
knowing that do you?</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Just tell me!</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">It's currently
the year 11945. 6,933 years have passed since the aliens invaded.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">...!</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Proposal: Both
parties should disclose information, including the current year.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">It's 2053,
obviously! And in the time I'm from, there's no such thing as aliens
or machine lifeforms...</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">--</p>
<p class="para">(Yonah cheerfully
humming Emil's song)</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">Uh, so how does
it go after that?</p>
<p class="para">​</p>
<p class="para">(Emil cheerfully
humming)</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Like that.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">Your song is
tough. I don't know if I'll be able to remember it.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Just have fun
with it! There's no wrong way to sing it.</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">The song of the
boy and girl is absorbed into an endless sky. As if to destroy the
tranquil mood, a nearby building suddenly comes crashing down.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">(Wheezing)
Goddamnit.</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">A2 hurls abuses
before the pile of rubble that was a proper building just moments
ago. White dust falls from above, a thin layer of it accumulating on
her body.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Let's call it
quits, A2. Smashing random buildings is only going to tire you out.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Sure as hell
beats a leisurely search. You could stand to fire off a missile or
two of your own, you know.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Yeah, right. Like
I've got missiles installed.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">(Coughing)</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Yonah! Are you
okay?</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Er, sorry. You
inhale some smoke? I'll stop now.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">It's okay. I just
cough sometimes. I'm always like this—you don't need to worry about
it.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Are you sure you
don't want to head back to where your brother is?</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">No, I'm okay.
Really. My brother is always doing all sorts of things for me.
Whenever he finds food and water, he always says be doesn't need any
and gives it to me. So I want to try and help him for once. I'm going
to find lots of really tasty food and bring it back to him!</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">The girl's pure
eyes harbor an honest love and earnest devotion for the brother she
cherishes. Seeing those eyes, A2 lowers her sword. She then turns
away from Yonah and wipes the white powder from her body so it
doesn't fly in the girl's direction.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">You have people
waiting for you too, right? That's why you want to go home, isn't it?</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">I wonder about
that...</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">A2 recalls the
faces of her friends that passed long ago. Having been abandoned by
her home on the moon, she cannot go back there. Or perhaps she never
even had a home to which she could return.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">I don't know if
there's anyone waiting for me. Even though I must have some important
memories, I can't remember them at all.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">In that case, you
should come live with me and my brother! We have lots of space, so
there's plenty of room for the both of you!</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Thanks, Yonah.
That's really nice of you. But I want to keep looking for whatever it
is that's so important to me. I want to get it back, even if I have
to be alone for a really long time to make it happen. Which means I
need to leave this city, no matter what.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">Oh, Emil... Er,
so what about you, A2?</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">I...</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">A2 feels
sensation return to life in her palms. She feels cold steel in her
hands as she plunges a sword into 2B's chest. She vividly recalls the
resolve housed deep within 2B's red eyes. The event is stored clear
as day in her memory banks.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Even if I've got
nowhere to go back to, I still have to carry out someone's wish.</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">For A2, it is the
only answer.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Say, A2? Do you
see something under that rubble over there?</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">A faint ray of
light penetrates the wreckage of A2's making and reflects off an
object resembling a small box.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">The hell's this?</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">A2 drags the
square iron box out from beneath the rubble.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Isn't that 2B's
Pod!?</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Sure feels like
I've seen it before.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">Is this a toy
robot? Why isn't it working? Should I go look for some batteries?</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Nope. Best thing
to do in situations like this is... Emil chop!</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">The hell!?</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">An unpleasant
beeping rings out as the Pod's little arms begin to rotate. 
</p>
<p class="title"><span class="title-box">??? </b>
<p class="para">(Groaning) For
the love of all that is holy. Would you PLEASE stop pounding me!? My
very name brings kingdoms to their knees! Negative. This unit is Pod
042, which brings no one to their knees. Tactical...support...unit.
Assisting...YoRHa unit 2B...</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">Defying gravity,
the boxy machine rises into the air and unsteadily flies about like a
newly fledged bird.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Hey, I think
something's up with this thing.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">That's weird. A
quick Emil Chop is usually all it takes to fix most machines.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">Are you okay? Do
you want a cookie? It's just part of one I split with my brother,
but...</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Negative.
Unnecessary. Unnecessary. Sustenance is unnecessary. I am a Tactical
Support Unit and you will treat me with the proper respect.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Tch. Get it
together already!</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">A2 sends the Pod
flying with a punch. It hits the ground with a dull thud and falls
silent.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">A2! Now it's even
more broken than before!</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">If it's not gonna
work, it's just scrap anyway.</p>
<p class="title"><span class="title-box">Pod 042
(Narration) </b>
<p class="para">The beeps that
ring out this time are clearer than before. They gradually speed up
before ending on a high note similar to the cry of a newborn.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">Uh, Robotty?</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Reactivation
complete. No Noise Detected in thought center. Commencing
acceleration of thought-analysis region.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Finally awake,
huh?</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">So what should we
do?</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Good question.
Pod, tell us everything you know.</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">This Pod was
separated from YoRHa unit 2B during the collapse of the city ruins.
While searching for her, this Pod accessed this city's information
and was attacked by defensive systems, shorting this Pod's circuits.
All activities then ceased temporarily.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">What do you mean
by “accessing:? How do you access a city? And what even IS this
place?</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Hypothesis: Based
on past data, this space is likely a replica of a human city, copied
by machine lifeforms. Furthermore, the analysis of gathered
information establishes a high probability that this city is a
data-storage facility modeled after a brain.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Storage? What
would they be storing in a place as huge as this?</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">The entire
history of humanity as well as all associated information. Also
information regarding wars. Androids. Humanity's armies. YoRHa. YoRHa
unit 9S's consciousness data has also been saved in this storage
facility.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">9S... That's 2B's
partner, right?</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">You must mean
that YoRHa kid who showed up when I killed 2B because of her
infection. Any Idea where his data is?</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Negative.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">How about a way
out?</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Negative. It is
impossible to ascertain the entire situation with this Pod's current
access credentials. However, if the entire city is in fact a storage
facility, there is likely a control device presiding over it.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">So if we manage
to get there, we might be able to find an exit.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Easier said than
done, seeing as we have no idea where it is.</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">There is a high
probability that its exterior would would differ from regular
buildings. Furthermore, it is likely installed in a central location
for greater ease of maintenance and organization.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">'Scuse me!</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">What's up, Yonah?</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">I didn't
understand any of that!</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Okay, so, um,
we're looking for some information that's really important, right?
And if we go to the very middle of this city, we might find a control
device that... I just lost you again, didn't I?</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">Yep!</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Thought so.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">But, um... Hmm...
Oh! I saw a super pretty building once, but it was from far away. It
stood out from other buildings 'cause it has this kinda warm glow. It
was really nice. But my brother told me it was dangerous and that I
should stay away.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Do you think that
could be the place?</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">You remember
where it was?</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">I think so! It
shouldn't be too far from where we are now. Follow me.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">--</p>
<p class="para">— <b>Kainé</b>
—</p>
<p class="para">The scenery
around them begins to change. They witness a world falling into ruin.
Like something from a person's memories.</p>
<p class="para">--</p>
<p class="para"><br/>
<br/>

</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">A long time ago,
me and my brother lived a happy life together.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">I knew it from
the start. I knew they were lying when they said they'd cure my
sister's illness.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">We met in a place
ruled by dark Shades.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">I never meant to
get everyone wrapped up in a bloodbath. I took advantage of their
kindness.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">But you know
what? I was never scared. Because I had my brother there with me the
whole time.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">My memories of
that time shine so brightly.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">It's all because
of me. I'm sorry. I'm so sorry.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">It's okay.
Everything's okay.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">Thank you,
Brother...</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">--</p>
<p class="para">— <b>Emil /
Karma (Despair)</b> —</p>
<p class="para">— <b>Emil /
Karma (Despair)</b> —</p>
<p class="para">A sound rings
out. Machine lifeforms are crying. Their metal bodies transform.
Distort. Before taking on the shapes of ancient aberrations.</p>
<p class="para">sadness<font face="Aptos"><span lang="en-US"><font face="MS Gothic">　　　　</font></span></font>regret<font face="Aptos"><span lang="en-US"><font face="MS Gothic">　　　　</font></span></font>loneliness<br/>
<font face="Aptos"><span lang="en-US"><font face="MS Gothic">　　　　</font></span></font>pain<font face="Aptos"><span lang="en-US"><font face="MS Gothic">　　　　</font> </span></font>loneliness<font face="Aptos"><span lang="en-US"><font face="MS Gothic">　　　　</font></span></font>sadness<br/>
<font face="Arial, sans-serif"> </font><font face="Aptos"><span lang="en-US"><font face="MS Gothic">　</font></span></font>regret<font face="Aptos"><span lang="en-US"><font face="MS Gothic">　　　　</font></span></font>sadness<font face="Aptos"><span lang="en-US"><font face="MS Gothic">　　　　</font></span></font>pain<br/>
<font face="Aptos"><span lang="en-US"><font face="MS Gothic">　　　　　</font></span></font>loneliness<font face="Aptos"><span lang="en-US"><font face="MS Gothic">　　　　</font></span></font>sadness<font face="Aptos"><span lang="en-US"><font face="MS Gothic">　　　　</font></span></font>pain</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">They had names.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">Sacrifice<br/>
The
Law of Robotics<br/>
The Memory Tree<br/>
The Stone Guardian<br/>
Loyal
Cerberus</p>
<p class="para">There was once an
age where creatures called “Shades” existed.</p>
<p class="para">Those fangs of
old wish to be reborn.</p>
<p class="para"><br/>
<br/>
<br/>
<br/>
<br/>
<br/>

</p>
<p class="title"><span class="title-box">Act 4: Hopes
and Schemes</b></p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">(Panting) Ugh.</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">Coarse bodies
created for combat. Dim inorganic eyes. The group of mechanical
lifeforms quietly and dispassionately corners A2's group.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">A2!</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Get back, Yonah!</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Deploying
long-range attack systems at full power.</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">The Pod targets
the enemy with its high-power laser. Scorching beans of light tear
through the mechanical lifeforms, but it is not enough to halt their
advance.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">I can't die here,
dammit! Move! Move already!</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">A2's feet are
unsteady. The weapon in her hands feels terribly heavy. She falls to
her knees before the advancing enemy.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">I won't let
everything end here!</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">A2!</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">An overwhelming
number of mechanical lifeforms gather before A2's group. The machines
mass together, forming the face of an enormous beast. As the beast
opens its gaping maw and bares its fangs, A2's group can only look on
in shock.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Get up. It's not
over yet.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">You're...!</p>
<p class="para">​</p>
<p class="para">(2B battle cry)</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">A sharp blade
carves through the enemy armor, easily harvesting life from the
unliving. Pod 153 provides support by firing countless high-speed
energy rounds.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Yonah!</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">Brother!</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">In contrast to
2B, the young man's swordplay is dull and heavy, his will to protect
his only family harbored in each swing. The tables are turned in an
instant. Having lost many of their number, the machine lifeforms lose
their ability to coordinate, and are soon reduced to scrap.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Thank goodness
you're safe, Yonah. I was worried sick. Are you okay?</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">I'm so sorry. I
was just...</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">You don't need to
apologize. All that matters is that you're safe.</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">The young man
swoops up his sister in a tight embrace, as though attempting to make
sure it's truly her. Emil's gaze remains fixed upon the pair.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Emil? What are
you doing here?</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Oh, I won't bore
you with the details. Did you also end up here after getting caught
in the collapse?</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Yeah. I think so,
anyway.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Well, I'm real
glad to see you! With you around, we've got this in the bag—</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">Emil's words are
interrupted by A2 drawing her sword.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">A2!? What's going
on!?</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">What are you
doing here, 2B?</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">Oh no! Why are
you fighting?</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">She shouldn't
exist. The very fact she's here is wrong.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">You two aren't
friends, I take it?</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">That's not the
problem. I killed you, YoRHa unit 2B. Yet here you are, very much not
dead.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">You KILLED 2B?</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">The joy of their
reunion dissipates, giving way to caution and doubt. Amidst an
atmosphere so tense once would struggle to even draw breath, a small
burst of light suddenly takes flight.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Pod!?</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">Pod 042 fires an
energy round, destroying Pod 153.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Is it infected!?</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">Was the virus
physically injected into it during the fight? Or did it suffer a
countermeasure while accessing the enemy network? A2 knows she must
strike it down before the virus spreads, but Pod 042 floats into the
air and out of reach.</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Analysis: Upon
reuniting with Pod 153, this Pod issued 194 requests for inter-Pod
communication. All were denied. Scans yielded machine-lifeform
protocol signals, so its disposal was carried out.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">You expect me to
believe that!?</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">This Pod will
present evidence upon confirmation that YoRHa unit A2 has disarmed.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">A2!</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">At that moment, a
reactivation sound comes from the presumably destroyed Pod 153. Its
damage is such that movement should be impossible. And yet, the unit
floats in the air. The Pod's limp, feeble arms slowly begin to move.
With its gaze fixed on the group. The Pod stretches its arms to its
sides. Its visage is unto the very gods. The gods. Heh heh, ha ha ha.
If there truly are gods, how would they explain your plight?
Incredible to think all of you would end up in the same place at the
same time.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Who are you?</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Such a definition
would be exceedingly challenging. We are an informative concept that
bears no form—an electronically constructed being.</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Hypothesis: It is
a networked intelligence. A conceptual existence born from a new
network created by machine lifeforms. 
</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Are you what
brought me and Yonah here!?</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">We have beckoned
nothing and no one. This is a city of memories. It is a reflection of
what is, constructed as is—desires and distortions included.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Then send us back
where we came from!</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Ha ha. If only it
were so simple.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Then die.</p>
<p class="title"><span class="title-box">Pod 153 </b>
<p class="para">Come to the place
of prayer. Then perhaps your future...will...</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">Brother?</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Did it break?</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Doesn't look like
it can move anymore. Seemed to be saying something at the end,
though.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">the “place of
prayer...”</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">What do you think
it meant by that?</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Prayer. The act
of praying to a deity. An earnest request or wish.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Now we've got
talk of gods on top of everything else? What a load of bull.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Prayer...
Prayer... Maybe it meant a church? I've seen one here before. You
remember it, don't you, Yonah?</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">You mean the
pretty building that kinda glowed?</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">That's the one!
There were lots of enemies there, though.</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">The presence of
more stringent security suggests it is likely a facility of greater
importance than other areas. Hypothesis: The church in question bears
some relation to the data storage facility's control device. It may
provide information that leads to YoRHa unit 9S's consciousness data.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">9S is here in
this city!?</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Specifically,
what is stored here is YoRHa unit 9S's consciousness data. Not 9S
himself.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">YoRHa
consciousness data is...</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">When the Bunker
was infected, the server backup that would be used to assure the
consistency of his self was destroyed. If 9S's consciousness data is
here, we need to salvage it. Otherwise... Please, A2. Once this is
over, you can do whatever you want to me. But right now, please help
me.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">But...</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Think of it as a
favor to me, too!</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">Ooh, ooh! I'll
ask too! Please help!</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Stay out of this,
Yonah!</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">But isn't it more
fun if we're all friends?</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Ugh, fine.
Whatever. I'll tag along.</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">This Pod requests
that the earliest inhabitants of this space provide guidance to the
vicinity of the church.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">But I don't think
we can take Yonah...</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Hypothesis: The
escape route from this space is located in the church. Hypothesis:
You two seek to escape from this dangerous area. Conclusion:
Accompanying us is your optimal course of action.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">All right. Think
you can hang in there, Yonah?</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">You bet I can!</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Don't do anything
funny, 2B. I don't want to kill you a second time.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Understood, A2. I
hear you loud and clear.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">--</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Maybe there never
was a best choice to begin with. If all we can do is abandon hope and
make our choices while burdened by the weight of despair, what
purpose does the future even hold? But I...</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">--</p>
<p class="para">— <b>Bipolar
Nightmare</b> —</p>
<p class="para">Entrusting her
back to A2, 2B could feel it... The machine lifeforms' screams. The
sensation of sliding steel through them. There was dark joy in it
all.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">--</p>
<p class="para">— <b>Mourning</b>
—</p>
<p class="para">A place to
celebrate life and send off the deceased. A place of prayer. The
city's records can be gleaned from within the tranquil light. A
record of humanity's end. A history of machines copying a city. And
also... the hesitance they felt.</p>
<p class="para">This city is a
replica. A city built by machine lifeforms based on the siblings'
memories of where they lived. And even the very siblings themselves
were nothing but imitations born from memories.</p>
<p class="para"><br/>
<br/>
<br/>
<br/>
<br/>

</p>
<p class="title"><span class="title-box">Act 5: The
Resolve of the Manufactured</b></p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">It's a fake city
created by our memories?</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">So me and my
brother aren't real?</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">Truth leaves no
place for Mercy. Only falsehoods have the power to thaw hearts.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Imitations
created in a city of memories... I suppose that means me, too?</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Affirmative. It
can be hypothesized that the only being who exist outside of this
space are this Pod, A2, and Emil. YoRHa unit 2B and the siblings are—</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Don't say it.
Just don't. We get it.</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">In a world
without people, amidst those who copy people, fate continues to toy
with people-shaped puppets.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">I'm scared.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">It's okay, Yonah.
I'll always be by your side.</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">When this world's
true form is revealed, cracks run through its reality. They spread
without limit, covering the ground, buildings, and even the sky.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">The city is
collapsing!</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">The sweet
falsehoods that envelop the world slowly peel away—and a small rip
in the city of memories kicks off its collapse.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Pod, search for
an exit.</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Search complete.
Our current location is deep beneath the city ruins. The exit is over
12 kilometers away. There is a 99.9823% likelihood that we will be
caught in the collapse before escaping.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Then what the
hell should we do!?</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">It is recommended
that we transfer our data to our bodies on the surface. This would
provide a slightly higher probability of survival than attempting to
physically escape this space.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Then hurry up and
prepare the transfer!</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Negative.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Let me guess: You
can't send us imitations.</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Affirmative. The
Data assembled in this space is of a completely different structure.
Additionally, YoRHa unit 2B's body on the surface has already been
destroyed, making an upload impossible.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Them we've got to
just leave everyone here?</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">We won't know
unless we try! Pod, try to get them out—</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">It's all right.
It all seemed off to me. We wake up in an empty city that also has
just enough stuff lying around to keep us alive? Nothing checks out
if you think about it. But I ignored it because I wanted to protect
Yonah. ...I'm sorry, Yonah. If I were stronger, maybe I could have
protected you when it counted most.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">But... But you
ARE strong! I know it! Because when you're around, nothing can scare
me! It's okay if I'm not real! It's okay if I disappear! I'm not
scared of anything... I don't even care if I die so long as... we're
together...</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Yonah, I'm sorry.
I'm so sorry.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">I've got a plan!
My body's memory area has gone through so many multiplications and
separations that it should be able to carry an extra three people's
worth of consciousness data.</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Negative. In
practice it will be impossible to secure enough storage for four
times as much consciousness data.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">I'll do it
anyway!</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Emil...</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">I don't know
what'll happen. I don't. I've gone through so much fighting, and I've
forgotten so much, but I need to do this! That's why I'm here! When I
look at them, I just KNOW I'm meant to do this!</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Emil...</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Every time you
say my name... No, forget it. Let's do out best, okay?</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">Thank you.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Emil.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">You too, 2B—don't
you dare let go of my hand while we're in the data space.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Understood. And
thanks.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">If this is a city
made from our memories, we should be able to make an exit on our own.
Think you can do it, Yonah? I'll be right here with you.</p>
<p class="title"><span class="title-box">Yonah </b>
<p class="para">Yeah.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Sounds like we've
got a plan. To summarize, we're basically gonna find a way to force
it.</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Negative.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Would it kill you
to play along for once?</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Pod, about 9S...</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">The search for
YoRHa unit 9S's consciousness data has already commenced.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Think you'll find
it?</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Unknown. But it
must be found.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Thanks, Pod, And
Emil? A2? Look after 9S.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">All right.</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Alert: Promises
are meaningless. Only consciousness data will be uploaded as advanced
encryption will be applied to the transfer path.</p>
<p class="title"><span class="title-box">Emil </b>
<p class="para">Which means what,
exactly?</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Memories made
here will not be saved.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">In that case,
A2...find a way to force it.</p>
<p class="title"><span class="title-box">A2 </b>
<p class="para">Easy for you to
say... Well, I'll figure something out.</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Alert: The
central storage area's defensive layer has been breached. Executing
sustained vaccine deployment to counter viral readings in the hostile
defense layers. Commencing data salvage and verification. 20%...
40%... 80%...</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">Live, 9S. Not for
the world, but for yourself!</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">The fading city
of memories shakes as though in pain, unleashing countless foes. It
senses its end is near and marches down the path to oblivion, the
heavy footsteps of machine lifeforms echoing far and wide.</p>
<p class="title"><span class="title-box">Nier </b>
<p class="para">I'll take care of
this.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">The rest of you
should start your upload.</p>
<p class="title"><span class="title-box">Pod 042 </b>
<p class="para">Alert: Network
optimization and transfer-path encryption complete. 3... 2... 1...
Commencing data transfer. Now returning to the surface.</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">2B notices the
change that occurs within her as the ruins collapse.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">The virus
readings that has disappeared are reactivating. So I can't upload
myself with Emil...</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">Her eyes turn
red. Her body begins to tremble.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">But I still have
one last thing to do.</p>
<p class="title"><span class="title-box">Pod 153
(Narration) </b>
<p class="para">Amidst the
crumbling city, salvation reaches out for a heart that teeters on the
edge. It is an eternal prayer, one woven in hope and despair.</p>
<p class="title"><span class="title-box">2B </b>
<p class="para">I will save 9S.
No matter what.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">--</p>
<p class="para">— <b>The Sound
of the End</b> —</p>
<p class="para">Final gate
reached. Commencing data transfer.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">--</p>
<p class="para">— <b>Song of
the Ancients / Atonement</b> —</p>
<p class="para">--</p>
<p class="para">— <b>Weight of
the World</b> —</p>
<p class="para">The infection
spreads through 2B's consciousness. She prays. Before death's
footsteps reach her, she screams.</p>
<p class="para">Even if nobody
hears me. 9S saved me.</p>
<p class="para">Within a
crumbling memory, she bids farewell to 9S's consciousness data.</p>
<p class="para">I did feel a
little bit lonely but now my h eart is filled with such
wa<font face="Arial, sans-serif"> </font><font face="Aptos"><span lang="en-US"><font face="MS Gothic">　</font></span></font>rm<font face="Arial, sans-serif"> </font><font face="Aptos"><span lang="en-US"><font face="MS Gothic">　</font> </span></font>li<font face="Arial, sans-serif"> </font><font face="Aptos"><span lang="en-US"><font face="MS Gothic">　</font></span></font>ght</p>
<p class="para">Th<font face="Arial, sans-serif"> </font><font face="Aptos"><span lang="en-US"><font face="MS Gothic">　</font></span></font>a<font face="Arial, sans-serif"> </font><font face="Aptos"><span lang="en-US"><font face="MS Gothic">　</font> </span></font>n<font face="Arial, sans-serif"> </font><font face="Aptos"><span lang="en-US"><font face="MS Gothic">　</font></span></font>k<font face="Arial, sans-serif"> </font><font face="Aptos"><span lang="en-US"><font face="MS Gothic">　</font> </span></font>y<font face="Arial, sans-serif"> </font><font face="Aptos"><span lang="en-US"><font face="MS Gothic">　</font> <font face="MS Gothic">　</font> <font face="MS Gothic">　</font></span></font>ou<font face="Arial, sans-serif"> </font><font face="Aptos"><span lang="en-US"><font face="MS Gothic">　</font> <font face="MS Gothic">　</font></span></font>Ni<font face="Arial, sans-serif"> </font><font face="Aptos"><span lang="en-US"><font face="MS Gothic">　</font> </span></font>ne</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">--</p>
<p class="para">Encore Medley:</p>
<p class="para">— <b>Prayer</b>
—<br/>
— <b>Copied City</b> —<br/>
— <b>Amusement Park</b>
—<br/>
— <b>Alien Manifestation</b> —<br/>
— <b>Dependent
Weakling</b> —<br/>
— <b>Voice of no Return</b> —<br/>
—
<b>Weight of the World</b> —</p>
<p class="para"><br/>
<br/>

</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-all/concerts/12022">Back</a></p>