---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---


<TextLayout>
</TextLayout>
<title>Bug Report</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/lxlhzOw.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/afpjm6v.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/bOnuR0S.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/Q8yVoEl.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    }
</style>
    <form method="POST" action="https://api.web3forms.com/submit">
        <input type="hidden" name="access_key" value="a9aca6ce-cd51-437a-be88-4fff4add4489">
        <input type="hidden" name="redirect" value="https://closesttopurple.org/success">
    <label for="name">Name:</label>
    <br><input type="text" id="name" name="userName" required>
    <br><label for="email">Email:</label>
    <br><input type="email" id="email" name="userEmail" required>
    <br><label for="message">Additional Info:</label>
    <br><textarea id="message" name="userInfo"></textarea>
    <br><button type="submit">Send</button>
    </form>
    <p class="menu"><a href="/ths">Back</a></p>