---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>Credits</title>
<a href="credits/barnabism"><p class="menu">Barnabism</p></a>
<p class="line"></p>
<!-- -->
<a href="credits/mrkusabi"><p class="menu">MrKusabi</p></a>
<p class="line"></p>
<!-- -->
<a href="credits/kestrel"><p class="menu">Kestrel</p></a>
<p class="line"></p>
<!-- -->
<a href="credits/spffn"><p class="menu">spffn</p></a>
<p class="line"></p>
<!-- -->
<p style="font-size: 180%;">If I am missing any proper crediting, tell me. It's an error.</p>
<p class="line"></p>
<p class="menu"><a href="/ths">Back</a></p>