---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import { HoverPrefetch } from 'astro-hover-prefetch';
---
<BaseLayout>
</BaseLayout>
<title>THE HUMAN SERVER</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/ths-portrait.avif?updatedAt=1755052207102");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/ths-landscape.avif?updatedAt=1755052207068");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/ths-portrait.avif?updatedAt=1755052738377");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/ths-landscape.avif?updatedAt=1755052738266");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    #MenuB{
        width: 55%;
    }
    }

</style>
<head>
<img class="logo" src="https://i.imgur.com/AJWylNV.png" width="250" height="250" alt="The logo for The Human Server, a moon.">
<p class="menu"><a href="/stories" >Stories</a></p>
<p class="line"id="MenuB"></p>
<p class="menu"><a href="/series-guide" >Series Guide</a></p>
<p class="line"id="MenuB"></p>
<p class="menu"><a href="/credits">Credits</a></p>
<p class="line"id="MenuB"></p>
<p class="menu"><a href="https://archive.thehumanserver.org">Gallery</a></p>
<p class="line"id="MenuB"></p>
<p class="menu"><a href="https://reader.thehumanserver.org">Reader</a></p>
<p class="line"id="MenuB"></p>
<p class="menu"><a href="/bug-report" >Bug Report</a></p>
<p class="line"id="MenuB"></p>
<p class="title">The Human Server is designed to archive all of humanities data.</p>
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/stories-portrait.avif?updatedAt=1755425289656" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/stories-landscape.avif?updatedAt=175542528942" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/stories-portrait.avif?updatedAt=1755054121229" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/stories-landscape.avif?updatedAt=1755054120084" as="image" type="image/avif" />
<!--Above is for stories preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/bug-report-portrait.avif?updatedAt=1755425286323" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/bug-report-landscape.avif?updatedAt=1755425286569" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/bug-report-portrait.avif?updatedAt=1755054117834" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/bug-report-landscape.avif?updatedAt=1755054117890" as="image" type="image/avif" />
<!--Above is for bug-report preloading-->