---
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>

</html>
<title>DrakeNieR Media</title>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>

.media-card:hover{
    -webkit-filter: brightness(70%);
    transform: scale(0.98);

}

.img-special{
        max-width: 80%;
    max-height: 80%;
}
@media screen and (min-width: 320px ) {
  .Guide {
  display: inline-grid;
    grid-template-columns: auto auto;
    
    
}
.media-card{
margin-top: 3.5%;
margin-bottom: 3.5%;
}
}
@media screen and (min-width: 481px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
}
.media-card{
margin-top: 3.5%;
margin-bottom: 3.5%;
}
}
@media screen and (min-width: 769px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
}
}
@media screen and (min-width: 1025px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
}
}
@media screen and (min-width: 1201px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto  auto auto auto;
}
}
@media screen and (min-width: 1919px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto  auto auto auto auto;
}
}
@media screen and (min-width: 1921px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto  auto auto auto auto auto;
}
}

</style>
<p class="title-special title-box">Work in progress.</p>
<p class="line"></p>
<div class="over">
<div class="Guide">
<div class="media-card"><a href="https://wiki.thehumanserver.org/index.php/Drakengard_(Game)"><img class="img-special" src="https://wiki.thehumanserver.org/images/thumb/5/5f/Dod-eng-box-art-01.png/300px-Dod-eng-box-art-01.png" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="https://i.imgur.com/0V2mNU5.png" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="https://i.imgur.com/ZiYc3jl.png" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="https://i.imgur.com/YDN9NME.jpeg" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="https://i.imgur.com/MtsjCMh.jpeg" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="https://i.imgur.com/FTPemMH.jpeg" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="https://i.imgur.com/j5LuaZl.jpeg" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="https://i.imgur.com/CFfd1G5.jpeg" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="https://i.imgur.com/UxnWhsB.jpeg" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="https://i.imgur.com/43i3u0x.jpeg" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="https://i.imgur.com/NsAZs2Z.jpeg" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>
<div class="media-card"><a href=""><img class="img-special" src="" loading="lazy"></a></div>

</div>
</div>
<p class="line"></p>
<p class="title-special title-box">Simplified Flowchart</p>
<p class="para">If the embed doesn't work, click <u><a href="https://miro.com/app/board/uXjVG5Wtpbw=/?moveToWidget=3458764661862959470&cot=14">here.</a></u></p>
<p class="line"></p>
<div>
  <iframe 
   width="768" 
   height="640" 
   src="https://miro.com/app/live-embed/uXjVG5Wtpbw=/?focusWidget=3458764666392918385&embedMode=view_only_without_ui&embedId=822964271366" 

   allowfullscreen
   style="display: block;">
  </iframe>
</div>
<p class="line"></p>
<p class="title-special title-box">Full Flowchart</p>
<p class="line"></p>
<div>
<iframe width="768" height="640" src="https://miro.com/app/live-embed/uXjVG5Wtpbw=/?focusWidget=3458764661774022477&embedMode=view_only_without_ui&embedId=621821777162" allow="fullscreen; clipboard-read; clipboard-write" allowfullscreen></iframe>
</div>
<p class="line"></p>
<p class="menu"><a href="/">Back</a></p>
