---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/karist.css'
---
<BaseLayout>
</BaseLayout>
<title>News</title>
<p><a href="https://drive.google.com/file/d/1a_z28YadEtxL_4tpTRWX-6Z6CjQn2WAB/view">NieR 15th Anniversary Interview</a></p>
<p><a href="/ths">Back</a></p>