---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/karist.css'
---
<BaseLayout>
</BaseLayout>
<title>News</title>
<p><a href="https://drive.google.com/file/d/1ZSFA4gS22OHr_cEmQ1wjcDHlrKWO_M0u/view?usp=sharing">NieR 15th Anniversary Interview</a></p>
<p><a href="/ths">Back</a></p>