---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---
<BaseLayout>
</BaseLayout>
<title>Series Guide</title>
<p class="menu"><a href="https://i.imgur.com/R9CYJfs.jpeg">I AM CAIM's Guide</a></p>
<p class="line"></p>
<p class="menu"><a href="/ths">Back</a></p>