---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/karist.css'
---

<BaseLayout>
</BaseLayout>
<p><a href="https://i.imgur.com/R9CYJfs.jpeg">I AM CAIM's Guide</a></p>
<h1>I AM CAIM <a href="https://x.com/threeeyedgemini"><u>@threeeyedgemini</u></a>&nbspcreated this image.</h1>
<p style="font-size: 24px">You should also note that the information being available on <i>Accord's Library</i> is now outdated.</p>
<p><a href="/ths">Back</a></p>