---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
</BaseLayout>
<p style="font-size: 42px;text-align: center;letter-spacing: 2px;" ><a href="/stories/dr1">Drakengard 1</a></p>
<p style="font-size: 42px;text-align: center;letter-spacing: 1px;" ><a href="/ths">Back</a></p>
