---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/karist.css'
---

<BaseLayout>
</BaseLayout>
<p><a href="/stories/dr1">Drakengard 1</a></p>
<p><a href="/stories/dr3">Drakengard 3</a></p>
<p><a href="/ths">Back</a></p>
