---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---
<BaseLayout>
</BaseLayout>
<title>Stories</title>
<p class="menu"><a href="/stories/dr1">Drakengard 1</a></p>
<p class="menu"><a href="/stories/dr2">Drakengard 2</a></p>
<p class="menu"><a href="/stories/dr3">Drakengard 3</a></p>
<p class="menu"><a href="/ths">Back</a></p>
