---
import BaseLayout from "@/layouts/BaseLayout.astro"
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---
<TextLayout>
</TextLayout>

<title>Stories</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/stories-portrait.avif?updatedAt=1755425289656");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/stories-landscape.avif?updatedAt=175542528942");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/stories-portrait.avif?updatedAt=1755054121229");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/stories-landscape.avif?updatedAt=1755054120084");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    }

.para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 105%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 125%;
}
}
.menu{
  font-size: 135%;
}
img{
  width: 85%;
  height: 85%;
}
#back{
  font-size: 250%;
}
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="over">
<div class="Guide">
  <p class="menu"><a href="/stories/drakengard-1"><img src="https://i.imgur.com/WXDVAhd.png" loading="lazy">Drakengard 1</a></p>
<p class="menu"><a href="/stories/drakengard-2"><img src="https://i.imgur.com/s2l7QI9.png" loading="lazy">Drakengard 2</a></p>
<p class="menu"><a href="/stories/drakengard-3"><img src="https://i.imgur.com/kPL2QV3.png" loading="lazy">Drakengard 3</a></p>
<p class="menu"><a href="/stories/drakengard-all"><img src="https://i.imgur.com/lNmYMXr.png" loading="lazy">Drakengard (All)</a></p>
</div>
</div>
<div class="over">
<div class="Guide">
<p class="menu"><a href="/stories/nier"><img src="https://i.imgur.com/4HbrMUO.png" loading="lazy">NieR (W.I.P)</a></p>
<p class="menu"><a href="/stories/nier-automata"><img src="https://i.imgur.com/JxaaNWY.png" loading="lazy">NieR:Automata</a></p>
<p class="menu"><a href="/stories/reincarnation"><img src="https://i.imgur.com/hsB33Et.png" loading="lazy">NieR Re[in]carnation (W.I.P)</a></p>
<p class="menu"><a href="/stories/nier-all"><img src="https://i.imgur.com/nXdXoWQ.png" loading="lazy">NieR (All)</a></p>
</div>
</div>
<div class="over">
<div class="Guide">
  <p class="menu"><a href="/stories/sinoalice"><img src="https://i.imgur.com/T0r31xc.png" loading="lazy">SINoALICE (W.I.P)</a></p>
<p class="menu"><a href="/stories/bakuken"><img src="https://i.imgur.com/GdPFyqd.png" loading="lazy">Bakuken (W.I.P)</a></p>
<p class="menu"><a href="/stories/thou-shalt-not-die"><img src="https://i.imgur.com/zhi7JtM.png" loading="lazy">Thou Shalt Not Die</a></p>
<p class="menu"><a href="/stories/misc"><img src="https://i.imgur.com/889FJGj.png" loading="lazy">Misc</a></p>
</div>
</div>
<p class="line"></p>
<p class="menu" id="back"><a href="/">Back</a></p>
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/drakengard-1-portrait.avif?updatedAt=1755425286081" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/drakengard-1-landscape.avif?updatedAt=1755425286180" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/drakengard-1-portrait.avif?updatedAt=1755054117791" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/drakengard-1-landscape.avif?updatedAt=1755054117929" as="image" type="image/avif" />
<!--Above is for drakengard preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/drakengard-2-portrait.avif?updatedAt=1755425286439" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/drakengard-2-landscape.avif?updatedAt=1755425286399" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/drakengard-2-portrait.avif?updatedAt=1755054117902" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/drakengard-2-landscape.avif?updatedAt=1755054117888" as="image" type="image/avif" />
<!--Above is for drakengard-2 preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/drakengard-3-portrait.avif?updatedAt=1755425287746" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/drakengard-3-landscape.avif?updatedAt=1755425287711" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/drakengard-3-portrait.avif?updatedAt=1755054119757" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/drakengard-3-landscape.avif?updatedAt=1755054118255" as="image" type="image/avif" />
<!--Above is for drakengard-3 preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/nier-automata-portrait.avif?updatedAt=1755425288034" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/nier-automata-landscape.avif?updatedAt=1755425287952" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/nier-automata-portrait.avif?updatedAt=1755054120111" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/nier-automata-landscape.avif?updatedAt=1755054119893" as="image" type="image/avif" />
<link rel="preload" href="https://i.imgur.com/TXyjmOt.png" as="image" type="image/png" />
<!--Above is for nier-automata preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/nier-portrait.avif?updatedAt=1755425288262" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/nier-landscape.avif?updatedAt=1755425288065" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/nier-portrait.avif?updatedAt=1755054119901" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/nier-landscape.avif?updatedAt=175505411991" as="image" type="image/avif" />
<link rel="preload" href="https://i.imgur.com/JbPdF15.png" as="image" type="image/png" />
<!--Above is for nier preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/nier-reincarnation-portrait.avif?updatedAt=1755425288268" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/nier-reincarnation-landscape.avif?updatedAt=1755425288207" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/nier-reincarnatlion-landscape.avif?updatedAt=1755054120136" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/nier-reincarnation-landscape.avif?updatedAt=1755054120067" as="image" type="image/avif" />
<link rel="preload" href="https://i.imgur.com/sRKehaj.png" as="image" type="image/png" />
<!--Above is for nier-reincarnation preloading-->
<link rel="preload" href="https://i.imgur.com/IMs49sM.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/fbDPfhz.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/XclHQ3e.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ncI30q8.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/j4CR7SN.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/uhraAS8.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/sSj2tCr.png" as="image" type="image/png" />
<!--Above is for sinoalice preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/nier-reincarnation-portrait.avif?updatedAt=1755425288268" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/nier-reincarnation-landscape.avif?updatedAt=1755425288207" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/nier-reincarnatlion-landscape.avif?updatedAt=1755054120136" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/nier-reincarnation-landscape.avif?updatedAt=1755054120067" as="image" type="image/avif" />
<link rel="preload" href="https://i.imgur.com/sRKehaj.png" as="image" type="image/png" />
<!--Above is for sinoalice preloading-->
<link rel="preload" href="https://i.imgur.com/DLC6ZVj.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/cpBkszN.png" as="image" type="image/png" />
<!--Above is for misc preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/drakengard-all-portrait.avif?updatedAt=1755425287875" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-dark/drakengard-all-landscape.avif?updatedAt=1755425288061" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/drakengard-all-portrait.avif?updatedAt=1755054119856" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/bg-light/drakengard-all-landscape.avif?updatedAt=1755054120175" as="image" type="image/avif" />
<!--Above is for drakengard-all preloading-->