---
import BaseLayout from "@/layouts/BaseLayout.astro"
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---
<TextLayout>
</TextLayout>

<title>Stories</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/bp9rZUl.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/EqEJRGs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/5YFImHE.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/5CvXqhG.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    }

</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<p class="menu"><a href="/stories/drakengard-1">Drakengard 1</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-2">Drakengard 2</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3">Drakengard 3</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-all">Drakengard (All)</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier">NieR Replicant (W.I.P)</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata">NieR:Automata (W.I.P)</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation">NieR Re[in]carnation (W.I.P)</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/sinoalice">SINoALICE (W.I.P)</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/misc">Misc</a></p>
<p class="line"></p>
<p class="menu"><a href="/ths">Back</a></p>
