---
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>

</html>
<title>DrakeNieR Media</title>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>

            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>

<style>
.card {
   background-color: rgb(29, 29, 29);
   padding: 40px;
   margin-left: 1.5%;
   margin-right: 1.5%;
   margin-top: 20px;
}
.Guide {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 12px;
}
</style>
</head>
<div class="over"><div class="Guide">
  <div class="row">
    <div class="card">
      <p class="title"><b><i>THS Gallery - Closure</i></b></p>
      <p class="title">I shut down the gallery, 19/4/2026</p>
      <p class="para">Sorry.</p>
      <p class="para">Hiya! Karis here, Square Enix sent me a DMCA notice for specifically the gallery. It's my first DMCA (let's hope it stays that way), so I just took the subdomain down immediately. I was also notified that <i>Accord's Library</i>, a previous archival site, had their gallery DMCA'd before the main site. That's scary, huh?<br><br> Anyway, nice to meet you.</p>
    </div></div>
    </div></div>
<p class="line"></p>
<p class="menu" id="backButton"><a href="/">Back</a></p>
