---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
</BaseLayout>
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:1cm;
}
</style>
<h1 style="text-align: center;font-size:300%; letter-spacing: 3px; margin-bottom:1cm;"><strong>THE HUMAN SERVER</strong></h1>
<img src="https://i.imgur.com/AJWylNV.png" alt="The Moon" class="center"width="250" height="250" >
<p style="font-size: 38px;text-align: center; margin-bottom:1cm;" ><a href="/media">Media</a></p>
<p style="font-size: 38px;text-align: center; margin-bottom:1cm;" ><a href="/stories">Stories</a></p>
<p style="font-size: 38px;text-align: center; margin-bottom:1cm;" ><a href="/news">News</a></p>
<p style="font-size: 38px;text-align: center; margin-bottom:1cm;" ><a href="/events">Events</a></p>
<p style="font-size: 38px;text-align: center; margin-bottom:1cm;" ><a href="/">Back</a></p>
