---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/karist.css'
---

<BaseLayout>
</BaseLayout>
<style>
    img {
        margin-bottom: 1.5cm;
    }
</style>
<title>THE HUMAN SERVER</title>
<img src="https://i.imgur.com/AJWylNV.png" alt="The Moon" width="250" height="250">
<p><a href="/meb">Media</a></p>
<p><a href="/stb">Stories</a></p>
<p><a href="/neb">News</a></p>
<p><a href="/evb">Events</a></p>
<p style="margin-bottom: 1.5cm"><a href="/">Back</a></p>
<h1>If you find translations of yours you would like taken down, contact me and they will be taken down.</h1>
