---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<style>
    img {
        margin-bottom: 1.5cm;
    }
</style>
<title>THE HUMAN SERVER</title>
<img src="https://i.imgur.com/AJWylNV.png" width="250" height="250">
<p class="menu"><a href="/meb">Media</a></p>
<p class="menu"><a href="/stb">Stories</a></p>
<p class="menu"><a href="/sg">Series Guide</a></p>
<p class="menu" style="margin-bottom: 1.5cm"><a href="/">Back</a></p>
<h1>If you find translations of yours you would like taken down, contact me and they will be taken down.</h1>
