---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>THE HUMAN SERVER</title>
<style>
body {
    background-image: url("https://i.imgur.com/rM6KGsW.png");
    background-size: cover;
}
</style>
<img class="logo" src="https://i.imgur.com/AJWylNV.png" width="250" height="250">
<p class="menu"><a href="/meb">Media</a></p>
<p class="line"></p>
<p class="menu"><a href="/stb">Stories</a></p>
<p class="line"></p>
<p class="menu"><a href="/sg">Series Guide</a></p>
<p class="line"></p>
<p class="menu"><a href="/credits">Credits</a></p>
<p class="line"></p>
<p class="menu"><a href="https://k.closesttopurple.org/post/list/-karis/1">Gallery</a></p>
<p class="line"></p>
<h1 style="font-size: 140%; letter-spacing: 2px;">The Human Server is designed to archive all of humanities data.</h1>
