---
import BaseLayout from "@/layouts/BaseLayout.astro"
---

<BaseLayout>
THE HUMAN SERVER
</BaseLayout>

<p style=" position: relative; bottom: 2; left: 0; width: 100%; text-align: center;"><a href="/">Landing Page</a></p>