---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>NieR Novellas (2010)</title>
<h1><a href="https://drive.google.com/file/d/1bS6B6T0C_2Uc2LtCrgA__KBnnLk_GHyw/view?usp=sharing">
    And Then There Were None<img class="art" src="https://i.imgur.com/YYq4VjQ.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1_vxkGK8j_EeXw3kMyyElpp-DjtwXNjiN/view?usp=sharing">
    The Stone Flower<img class="art" src="https://i.imgur.com/noIrEWQ.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1DmYBW-26xc3j8gggS40xrEo-Stjyu-sI/view?usp=sharing">
    The Red and The Black<img class="art" src="https://i.imgur.com/6Y7XmV6.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1T4ftkJ60bdHqUH322eWvvlKwHg8rOBb6/view?usp=sharing">
    A Little Princess<img class="art" src="https://i.imgur.com/9dBN1iz.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1wyLSkz4Riq3YWEnYvJHG7QEnWYIcRanR/view?usp=sharing">
    The Magic Mountain<img class="art" src="https://i.imgur.com/H8XtFM4.png"></a></h1>
 <h1><a href="https://drive.google.com/file/d/1wkl3T4fuhYPpr1r6U0-YOwB9zH62zwuL/view?usp=sharing">
    Witches' Sabbath<img class="art" src="https://i.imgur.com/puQl2JQ.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1C3u3iFdaqIiQRKPgbGQRg16nNkwBFjVn/view?usp=sharing">
    The Little Mermaid<img class="art" src="https://i.imgur.com/fyBNL9J.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1fIeb6kOsGUpZsPKluOOzpWXfpbWht5Jq/view?usp=sharing">
    Strait is The Gate<img class="art" src="https://i.imgur.com/9LOYRhq.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1wq-TdbLBcJJMHSNfzqs0q9zInnt6NC2v/view?usp=sharing">
    Around The World in Eighty Days<img class="art" src="https://i.imgur.com/CosWXsP.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1PuFIdqmuzqMfn9ejtD0dqQywjOA9ziNA/view?usp=sharing">
    The Lost World<img class="art" src="https://i.imgur.com/8bqCKRY.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1UYOATD3_FhSZ84guvp7cyOd0U8FrJj0u/view?usp=sharing">
    The Lost World Appendix ver.<img class="art" src="https://i.imgur.com/8K5OLiZ.png"></a></h1>
<p class="line"></p>        
<p class="menu"><a href="/stories/nier">Back</a></p>
