---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>A Much Too Silent Sea</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">A Much Too Silent Sea</p>
<img src="https://i.imgur.com/h11tiZQ.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<p class="title">[7:30] Wake up ~ Breakfast</p>
<p class="line"></p>
<p class="para">Her consciousness rose from the depths rapidly.</p>
<p class="para">She could see something through her eyelids. It must be bright. She was irritated, and tried to pull her blanket over her head. “10H,” she heard.</p>
<p class="para">“Report: It’s time to wake up.”</p>
<p class="para">“Sleepy.”</p>
<p class="para">“Recommendation: Wake up.”</p>
<p class="para">“No …”</p>
<p class="para">“Warning: Wake up.”</p>
<p class="para">“Five more minutes.”</p>
<p class="para">Her body suddenly felt cold. Her blanket had been torn off her. Pod 006, the support unit of 10H, was as ruthless as ever.</p>
<p class="para">“Ahhh. So annoying.”</p>
<p class="para">10H gave up and righted her body. She needed to stop resisting and just give in before 006 resorted to even more ruthless methods.</p>
<p class="para">Pod used its four arms to deftly fold the blanket, and placed it on the edge of the bed. It put the pillow on top of that. It clarified how determined Pod was to not let her sleep again. 10H sighed as she looked along.</p>
<p class="para">White sheets and a white blanket, along with a white pillow. The walls were white, the floor was white, and the ceiling was white. It was white all over. The only objects that had other colors in this room were herself and Pod—her black uniform and Pod’s red body. No, perhaps one more: the room’s display, depending on what it was displaying.</p>
<p class="para">A voice from the monitor notified 10H that the water temperature and water pressure were at normal levels. This facility was buried deep in the sea, 10,000 meters below the surface of the ocean. Even slight changes in the environment could bring about disastrous results, which was why the surroundings were constantly being monitored.</p>
<p class="para">“Report: It’s breakfast.”</p>
<p class="para">Pod had already brought in a cart with her breakfast on it. That’s white too, she thought. A white plate and a white cup. The cart that carried them was white as well.</p>
<p class="para">“Recommendation: Eat it before it gets cold.”</p>
<p class="para">10H reached for the bread that was on the plate. It was square and flat, with some brown char marks on its surface. When she bit into it, her mouth felt dry. It was hard to swallow, so she washed it down with the liquid in the cup.</p>
<p class="para">“Question: Is the toast crispy enough? Was the coffee a bit strong?”</p>
<p class="para">“Not really …”</p>
<p class="para">Pod could faithfully re-create human breakfast menus every day, but 10H never thought much of it.</p>
<p class="para">“I mean, whatever. We can live without eating.”</p>
<p class="para">“Negative: Health comes from a healthy lifestyle. You must sleep well and eat well. Breakfast is an important source of vitality.”</p>
<p class="para">Vitality? What was that again? Ah, it was “The state of having energy sufficient to accomplish things.” Pod often used ancient words from human civilization.</p>
<p class="para">“It’s such a chore. I have to excrete the energy surplus too.”</p>
<p class="para">If she didn’t eat she wouldn’t have to excrete. 10H thought it was a waste of time, but not according to Pod. “Good eating leads to good excretion,” it said, which apparently gave way to a better mental state.</p>
<p class="para">Of course, androids like herself could break down most foods. In other words, “excreting” was a rare last resort for them.</p>
<p class="para">“Oh …”</p>
<p class="para">The toast she was carrying to her mouth fell onto her plate. Looking closely, she realized that her fingers were injured. She had thought it was difficult to hold her cup because she was sleepy, but her hands were damaged.</p>
<p class="para">“When did this happen?”</p>
<p class="para">“Answer: That is the aftermath of moving goods.”</p>
<p class="para">“Is that … right?”</p>
<p class="para">Yesterday some goods had arrived to resupply their stores. She did remember helping the Pods move them into storage, but had she worked that vigorously?</p>
<p class="para">“Recommendation: Don’t overwork yourself.”</p>
<p class="para">“Yeah, I’ll keep that in mind.”</p>
<p class="para">Maybe her mental state was keeping her from remembering what had happened yesterday. Pod was right, she should probably eat proper meals.</p>
<p class="title">[08:00] Scheduled patrol</p>
<p class="line"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
