---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Small Flowers</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Small Flowers</p>
<img src="https://i.imgur.com/QSIMY2H.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<p class="title"><i>The particles were small, like little grains of black sand.</i></p>
<p class="line"></p>
<p class="para">I found them inside of a human ruin.</p>
<p class="para">I discovered an Android hiding inside of the structure, and exterminated it in a battle that lasted 5 days and 20 hours. I had reduced the enemy to rubble after slamming it against the wall. I found the particles as I was cleaning the remains.</p>
<p class="para">There were several glass jars lined up on a crude shelf. Most of the jars were empty or broken, but one of them was still in good condition. I carefully lifted it, and saw inside a heap of tiny particles. Using the database, I was able to find that these particles were “seeds” of a “plant.” But I couldn’t find further information.</p>
<p class="para">After staring at the jar for quite some while, I decided to take it back as research material.</p>
<p class="line"></p>
<p class="para">It’s been several thousand years since the war began between the Androids and us Machines. Androids had impressive battle capabilities, and it wasn’t rare for a hundred of us to fall before the attacks of a single Android. But we would win. By repeated self-regeneration and multiplication, we would simply outnumber them. A thousand of us if one hundred wasn’t enough. Ten thousand if the thousand failed. We would repeat over and over, multiplying in the process. The most important resource in winning a war is time. Fight until we won. That was the greatest lesson in battle we had received from our creators.</p>
<p class="para">However, we were completely indifferent to anything outside of battle. Since we were programmed by our creators to not use weapons of mass destruction in fear that they would destroy the environment, there were many species of living organisms that roamed the Earth. But we rarely went out of our way to research those organisms.</p>
<p class="para">We gathered data about terrain and weather, solely because it would provide an advantage for battle. But living organisms were determined to be entirely unrelated to battle.</p>
<p class="para">But was that really true?</p>
<p class="para">It was a reach, but could these seeds contain the secret that would help rid us of the Androids forever?</p>
<p class="para">I was going to see.</p>
<p class="para">We had infinite time, after all.</p>
<p class="para">So much time …</p>
<p class="line"></p>
<p class="para">After consulting the network, it was determined that the individual that had discovered the seeds should carry out the research. In other words, me.</p>
<p class="para">I looked through research materials from the past, but all I could find was that seeds were the infancy stage of plants. I couldn’t find any information regarding how a seed transformed into a plant. So I had to start hacking the Android server.</p>
<p class="para">The Android server had no considerable data either, but after a few days of searching through the human archives I found a file that instructed to “sow the seeds when the temperature is warm.” Apparently it was a guideline to grow plants. But I didn’t know how “warm” the temperature was supposed to be. Or where to “sow” the seeds. Why was the enemy so haphazard? They wouldn’t be able to beat us like this …</p>
<p class="para">For the time being, I selected a reasonable time to sow based on all of the climatic data we had gathered. I decided to sow the seeds in several media. To be honest, I wanted to exhaust all the possibilities at once, but I only had a limited number of seeds. I narrowed down the media to three: sand, concrete, and dirt. Records indicated that all these media contained living organisms at one point. But if my predictions were correct, dirt seemed to have the highest possibility to be correct.</p>
<p class="para">Seven days later, I discovered the seeds had sprouted from the dirt. I reported to the internal network that my prediction had been correct.</p>
<p class="line"></p>
<p class="para">Twenty-four days after I sowed the seeds, I ran into a problem.</p>
<p class="para">The temperature had risen, and the plant had grown considerably. But several insects had attached themselves to the backs of the leaves. Upon further observation it seemed like they were stealing the plant’s vitality.</p>
<p class="para">The insects were small and I couldn’t pick them off individually. Sprinkling water on them wouldn’t shoo them away. I tried hitting them with a low-output laser, but it blew off the leaves of the sample as well. They were so irritating despite their small size—no, being small made them irritating. This concept was foreign to us Machines, as we strived to ever increase our mass and volume. Perhaps this was a good lesson. I chose to share it with the server as soon as I had all the data.</p>
<p class="line"></p>
<p class="para">Eighty-five days since I sowed the seeds. Rain.</p>
<p class="para">The insects had damaged the plant quite a bit. But the plant was still growing, and looked to have enough water to keep going. The intel I had gathered before had recommended that a weak to medium-strength alkaline water source be used, so I sprinkled some neutralizer in the water supply to maintain the alkalinity. But I wasn’t sure if this method was the proper way to nurture a plant. Outside, there were giant plants that wrapped around buildings like snakes. How were those able to grow so big? Had they acquired a resistance to acid rain by adapting to their environment?</p>
<p class="para">I looked down at the plant I grew.</p>
<p class="para">I saw a flash of white between the leaves.</p>
<p class="para">I carefully looked at the object.</p>
<p class="para">It was a tiny, tiny part of the plant.</p>
<p class="para">I searched through the data at hand.</p>
<p class="para">According to Android data, that appendage was called a “bud,” and it transformed into something called the “flower.” There were dozens of pictures of flowers in the data. Red ones, pink ones, blue ones, white ones … there were innumerable types, but there weren’t enough to determine what this plant would look like. That was okay. I would eventually find out.</p>
<p class="para">I once again sprinkled some neutralizer.</p>
<p class="para">This time, I only sprinkled just a little bit.</p>
<p class="line"></p>
<p class="para">One hundred and two days. Sunny.</p>
<p class="para">The rainy season had passed, and the plant’s flower blossomed.</p>
<p class="para">The flowers in the data had been large, but the plant I grew developed a large number of small flowers, all about five millimeters in diameter. The type of plant was most likely usually different, but I could’ve made a blunder while growing it.</p>
<p class="para">By the way, when looking at the plant recently, I felt an unexplainable feeling well up inside of me. I assumed that it was because the flower’s shape reminds me of the moment gunpowder explodes.</p>
<p class="para">Now that I thought about it, I hadn’t had occasion to use my weaponry in a while. This was rare, especially as we Machines were made to fight. But growing this plant was an important mission. No matter how much I wanted to fight, I would never leave this plant and succumb to my desires.</p>
<p class="para">The transmission suddenly came.</p>
<p class="para">It was a short message, encoded 200 times over, and it took me, who was operating alone, four days to decode it. I knew what the affair was before even opening it. I’ve only received a few messages with such heavy encoding.</p>
<p class="para">It was a strategic summary outlining the upcoming war with the Androids.</p>
<p class="line"></p>
<p class="para">One hundred twenty-four days. Rain.</p>
<p class="para">A part of my visual capabilities finally recovered on my twenty-fourth reboot. Scanning my body, I discovered that a third of my body was nonfunctional, and that half of my sensors were little more than scrap. I was lying on the ground.</p>
<p class="para">The war took place eighteen days prior. I’d been prohibited from leaving my assigned area. Or rather, there probably wasn’t enough time to give new orders to an experimental model like me. From the video footage I’d recorded, I had been ambushed by Android fire and rendered nonfunctional.</p>
<p class="para">I tried to move my body, but I heard only a horrid grinding noise, and couldn’t stand up. It seems I was considerably damaged. I was exasperated, since it would take about half a month for the self-recovery units I had on hand to repair me. With difficulty, I turned my head around to see a white blob. After focusing my camera, I realize it was the flowers I had grown.</p>
<p class="para">Most of the plant had been blown away by shock waves and such, but a small part of it had been sheltered from any damage. Judging from how the parts around it were burnt to a crisp, it was almost a miracle.</p>
<p class="para">A plant that doesn’t move and myself, who couldn’t move.</p>
<p class="para">After recording the plant with my camera for a while, I initiated my self-recovery process.</p>
<p class="para">My job was not over yet.</p>
<p class="para">My mission was to see what would happen to this plant.</p>
<p class="line"></p>
<p class="para">After that, the plant kept the flowers, unchanging.</p>
<p class="para">I kept recording the flower. It had been twenty-two days since I rebooted, and I had completely recovered all my functions. During the battle I was cut off from the Machine network, which was a problem, but that didn’t affect my horticultural mission.</p>
<p class="para">I had learned what was needed to maximize a plant’s growth potential from this experiment. What the right amount of water was, which temperature was appropriate, and what soil was optimal. Even in a downpour, or a storm, I dedicated myself to preserving the perfect environment for my plant.</p>
<p class="para">The plant had recovered from the battle, and had developed even more flowers.</p>
<p class="para">Now, when I looked at the flowers, I no longer felt anxious.</p>
<p class="line"></p>
<p class="para">Two hundred eighty days since I sowed the seeds.</p>
<p class="para">I discovered that a part of the plant had become brown.</p>
<p class="para">I didn’t think much of it since this had happened many times in the past, but this time the color spread day by day until it enveloped the whole plant.</p>
<p class="para">I felt a response from one of my sensors. When I looked up, there was falling snow.</p>
<p class="para">Detecting that the temperature had dropped, I placed a heater next to the plant and made sure to keep the temperature as close to constant as possible. I stayed that way for a few days, but the plant did not regain its typical green coloration. In fact, it looked like it was starting to fall apart.</p>
<p class="para">For the first time in a while, I retrieved the reference data, and tried to find a method to fix the plant. But there was nothing useful in the data. All the entries recorded information up until the flower bloomed, or the fruit prospered, but there was no data about what happened after.</p>
<p class="para">Several more days passed, and the temperature grew even colder. The frequency of days it snowed increased.</p>
<p class="para">I decided to protect the plant by covering it with my hands.</p>
<p class="para">I kept protecting the brown plant.</p>
<p class="para">My mission was not over.</p>
<p class="para">I needed to fix the plant.</p>
<p class="para">I needed to understand and learn.</p>
<p class="para">I will eventually fix this plant.</p>
<p class="para">After all, I have all the time in the world. ​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/stories">Back</a></p>