---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>D3 Manga</title>
<style>
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }


    </style>
<div id="sidenav">
    <a href="/ths"><img class="slogo" src="https://i.imgur.com/AJWylNV.png"></a>
    <p class="line"></p>
        <a href="/stories">
        <p class="menu">Stories</p>
    </a>
    <p class="line"></p>
    <a href="/credits">
        <p class="menu">Credits</p>
    </a>
    <p class="line"></p>
    <a href="https://k.closesttopurple.org/post/list/-karis/1">
        <p class="menu">Gallery</p>
    </a>
    </div>
<h1><a href="https://mangadex.org/title/6a3181bb-27e0-464a-932b-5c32d59c91e5/drag-on-dragoon-utahime-five">
    Utahime Five<img class="art" src="https://i.imgur.com/8RDqpsX.png"></a></h1>
<h1><a href="https://mangadex.org/title/5e6f5c76-e13f-47a7-826c-2a3d7b087dcf/drag-on-dragoon-shi-ni-itaru-aka">
    Shi Ni Itaru Aka<img class="art" src="https://i.imgur.com/2hYTb5c.png"></a></h1>
<p class="line"></p>        
    <p class="menu"><a href="/stories/drakengard-3">Back</a></p>
