---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>

<title>D3 Manga</title>

<p class="title"><a href="https://mangadex.org/title/6a3181bb-27e0-464a-932b-5c32d59c91e5/drag-on-dragoon-utahime-five">
    Utahime Five<img class="art" src="https://i.imgur.com/8RDqpsX.png"></a></p>
<p class="title"><a href="https://mangadex.org/title/5e6f5c76-e13f-47a7-826c-2a3d7b087dcf/drag-on-dragoon-shi-ni-itaru-aka">
    Shi Ni Itaru Aka<img class="art" src="https://i.imgur.com/2hYTb5c.png"></a></p>
<p class="line"></p>        
    <p class="menu"><a href="/stories/drakengard-3">Back</a></p>
