---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>

<title>D3 Prelude Novellas</title>

<p class="title"><a href="/stories/drakengard-3/prelude-novellas/zero">
    A Rain to End and a Flower to Begin<img class="art" src="https://i.imgur.com/LK5nDGe.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/michael">
   The Gone-Away<img class="art" src="https://i.imgur.com/uyhdLJV.png"></a></p>
   <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1VawUvGHA1cQ6_tr814_uGf86s73Ll1g6/view?usp=sharing">
    Our Mistake<img class="art" src="https://i.imgur.com/oIw7jLn.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1yp1uXJ5OVa_HTyfml67M_8GgbYoLN1PU/view?usp=sharing">
    Visitors<img class="art" src="https://i.imgur.com/i9TStrR.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1s1bvvf0A2EMIDmTWlU5Qc0gNz9X4okRh/view?usp=sharing">
    Mirror, Mirror<img class="art" src="https://i.imgur.com/fwl17CI.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1kMtD8FMg_rsYTv-JS5eN6ROVLHC1xrO_/view?usp=sharing">
    Today's Meal<img class="art" src="https://i.imgur.com/qXy2Y3f.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1_N0Ta5o6p_ClkXG95rkWeEAhViVasQdk/view?usp=sharing">
    The Jewel Within My Palm<img class="art" src="https://i.imgur.com/BQqyORq.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1ttXtDAO4gYDBUMYoQkwvhoR3Gx-7CEvf/view?usp=sharing">
    My Dear, Sweet Little Dolls<img class="art" src="https://i.imgur.com/1kDuvds.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1EobpoBNp6TQKMpMhUhCl0pu9_H5UWTbX/view?usp=sharing">
    The Joy of...<img class="art" src="https://i.imgur.com/6WKV5qQ.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1oZ8oaqSM6aBCB3e2St9Jm66-Q4KfVH4n/view?usp=sharing">
    Family Portrait<img class="art" src="https://i.imgur.com/1RTDYeR.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1Gpd9Cmmgt0YKYb-R3iKuM7m4IcKKDu0M/view?usp=sharing">
    Everything is For You<img class="art" src="https://i.imgur.com/esQ8gii.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1Fc4OQRdItv0MkQimWWr6vitF1v9VJPIa/view?usp=sharing">
    My Favourite Things<img class="art" src="https://i.imgur.com/oVSMKDl.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1cBV8IfFDLeg8DLQDbj0fSofFF7FG9Lvf/view?usp=sharing">
    This Ugly World<img class="art" src="https://i.imgur.com/y13URiv.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/18lX8PSE4k63scb1VpSnYgJNXqMM4Jp-c/view?usp=sharing">
    Weapon Tales<img class="art" src="https://i.imgur.com/SGapjwC.png"></a></p>
    <p class="line"></p>
    <p class="menu"><a href="/stories/drakengard-3">Back</a></p>
