---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>

<title>D3 Prelude Novellas</title>
<style>
  .para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}

</style>
<p class="title">Follow <a href="/series-guide/ths-guide-main"><u>the guide.</u></a></p>
<div class="over">
<div class="Guide">
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/zero">
    A Rain to End and a Flower to Begin<img class="art" src="https://i.imgur.com/LK5nDGe.png"></a></p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/michael">
   The Gone-Away<img class="art" src="https://i.imgur.com/uyhdLJV.png"></a></p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/mikhail">
    Our Mistake<img class="art" src="https://i.imgur.com/oIw7jLn.png"></a></p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/one">
    Visitors<img class="art" src="https://i.imgur.com/i9TStrR.png"></a></p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/one-brother">
    Mirror, Mirror<img class="art" src="https://i.imgur.com/fwl17CI.png"></a></p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/two">
    Today's Meal<img class="art" src="https://i.imgur.com/qXy2Y3f.png"></a></p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/cent">
    The Jewel Within My Palm<img class="art" src="https://i.imgur.com/BQqyORq.png"></a></p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/three">
    My Dear, Sweet Little Dolls<img class="art" src="https://i.imgur.com/1kDuvds.png"></a></p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/octa">
    The Joy of...<img class="art" src="https://i.imgur.com/6WKV5qQ.png"></a></p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/four">
    Family Portrait<img class="art" src="https://i.imgur.com/1RTDYeR.png"></a></p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/decadus">
    Everything is For You<img class="art" src="https://i.imgur.com/esQ8gii.png"></a></p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/five">
    My Favourite Things<img class="art" src="https://i.imgur.com/oVSMKDl.png"></a></p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/dito">
    This Ugly World<img class="art" src="https://i.imgur.com/y13URiv.png"></a></p>
<p class="title"><a href="/stories/drakengard-3/prelude-novellas/accord">
    Weapon Tales<img class="art" src="https://i.imgur.com/SGapjwC.png"></a></p>
</div>
</div>

    <p class="line"></p>
    <p class="menu"><a href="/stories/drakengard-3">Back</a></p>
