---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>Short Stories</title>
<style>
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }


    </style>
<div id="sidenav">
    <a href="/ths"><img class="slogo" src="https://i.imgur.com/AJWylNV.png"></a>
    <p class="line"></p>
        <a href="/stories">
        <p class="menu">Stories</p>
    </a>
    <p class="line"></p>
    <a href="/credits">
        <p class="menu">Credits</p>
    </a>
    <p class="line"></p>
    <a href="https://k.closesttopurple.org/post/list/-karis/1">
        <p class="menu">Gallery</p>
    </a>
    </div>
<h1><a href="/stories/drakengard-3/reading/short-stories/short-story-one">
    One<img class="art" src="https://i.imgur.com/OvYzAcO.png"></a></h1>
    <p class="line"></p>
<h1><a href="/stories/drakengard-3/reading/short-stories/short-story-two">
    Two<img class="art" src="https://i.imgur.com/OorNSxQ.png"></a></h1>
    <p class="line"></p>
<h1><a href="/stories/drakengard-3/reading/short-stories/short-story-three">
    Three<img class="art" src="https://i.imgur.com/FQOh6n2.png"></a></h1>
    <p class="line"></p>
<h1><a href="/stories/drakengard-3/reading/short-stories/short-story-four">
    Four<img class="art" src="https://i.imgur.com/erFODIv.png"></a></h1>
    <p class="line"></p>
<h1><a href="/stories/drakengard-3/reading/short-stories/short-story-five">
    Five<img class="art" src="https://i.imgur.com/bJ3AwFA.png"></a></h1>
    <p class="line"></p>
<h1><a href="/stories/drakengard-3/reading/short-stories/short-story-mikhail">
    Mikhail<img class="art" src="https://i.imgur.com/NiYLmjQ.png"></a></h1>
    <p class="line"></p>
    <p class="menu"><a href="/stories/drakengard-3">Back</a></p>
