---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>

<title>D3 Story Side</title>

<p class="title"><a href="https://drive.google.com/file/d/1k0npU4Y02S0P8VCs1p66Yf0S17D9fgFf/view?usp=sharing">
    World Map<img class="art" src="https://i.imgur.com/JKFV71f.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1xG3jDsul6iCEzvea61OjN5yPuWUfoyL2/view?usp=sharing">
    Character Introductions<img class="art" src="https://i.imgur.com/oTHCH47.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1m18qnJ0wG6nrAPIY2r2knb-ZEa0M2VQX/view?usp=sharing">
    Prologue<img class="art" src="https://i.imgur.com/EXlHgJJ.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1KZs9pkkhdRpmIw5f0juKfCo-cETKObQT/view?usp=sharing">
    Chapter 1<img class="art" src="https://i.imgur.com/4bimvZH.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1CwFACfws_iK1umyDfPX9h0yKpt4744I0/view?usp=sharing">
    Chapter 2<img class="art" src="https://i.imgur.com/aJaQGZd.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1wm8xHTds9kgrlyLO5y1-oNdoLeljC8WR/view?usp=sharing">
    Chapter 3<img class="art" src="https://i.imgur.com/1PEfLfT.png"></a></p>
    <p class="line"></p>
<p class="title"><a href="https://drive.google.com/file/d/1u4WF_QlGTk9x-txu7xe_2OBPQtKrFcEJ/view?usp=sharing">
    Chapter 4<img class="art" src="https://i.imgur.com/vguhJ70.png"></a></p>
    <p class="line"></p>
    <p class="menu"><a href="/stories/drakengard-3">Back</a></p>
