---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Inuart's Novella</title>
<p class="title">Single-minded desire begins to devour him unawares—</p>
<p class="line"></p>
<p class="para">In the moonlight shining through the window of his room, a solitary young man was lost in thought. The young man, with his lean and well-trained body, good looks and longish red hair, was a great man who could certainly arrest the eyes of all the women he passed by in town. However, contrary to his awe-inspiring, manly appearance, his thoughts were sunk into a dark depression.</p>
<p class="para">—He wanted to go back to that time. Caim treated him with affection, without an atom of regard for the difference in social statuses. And Furiae was always beside the two, smiling softly at the two. Hampered by the weight of his furiously beating heart, he stumbled over his words countless times in an attempt to confess his love, and when Furiae responded with a blush, he felt as if he had risen to heaven. Everything shone, in those days.</p>
<p class="para">However—something began to change after that horrific tragedy. With Caim having closed off his heart after his parents were killed before his eyes, Furiae worried over her brother, to the point that whenever she and Inuart were together her mind was in another place entirely......Inuart, in order to be helpful to them where he could, helped his father Ibris - who had taken over administrative duties - in his work. Despite this, a year after Gaap's death, Ibris died of illness. The three people he had left behind in adversity thus decided to leave the country.</p>
<p class="para">The grief at the loss of his father was great, but within Inuart's heart was the secretively joyful thought "This way I can finally be together with Furiae" - but his expectations failed when the hard reality was thrust before him. Rather than being Inuart's fiancee, Furiae chose to stay with her brother Caim. While he accepted this with apparent calmness, Inuart was inwardly shaken and discouraged to an immeasurable degree. "Why must she choose Caim over me!" Inuart's heart was filled with whirling jealousy, and as he cursed himself for his inability to support them, he sat alone in the now-empty palace, playing his harp. Having lost Furiae whom he'd loved, the man had nothing left to his name but his songs. And, immediately afterwards, when the "mark" appeared on Furiae, his fiancee went somewhere his hands could never reach. Inuart's dreams of a brilliant future had been lost for all eternity.</p>
<p class="para">Several years after that. In this disturbed age, Inuart spent his days fighting as a member of the Union Army. The sword skills he'd once forged together with Caim now served more useful than ever in this environment. However, his heart was constantly troubled by his thoughts. "If I had even more power, then Furiae would—- I wish for power!"</p>
<p class="para">—A dog's howl could be heard from somewhere, snapping the young man out of his thoughts. Inuart slowly raised his body from the bed, taking his harp from where it lay against the wall, and quietly began to play. That melancholy tune did not cease until dawn.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-1/reading/character-novellas/inuart">Back</a></p>