---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>Music</title>

    <p class="title">Recommended music to listen to while you read.</p>
<p class="line"></p>
<p class="title">YouTube Music</p>
<p class="para"><a href="https://music.youtube.com/playlist?list=OLAK5uy_lBpvInF6bvrq6_RwMpqRFY4rU-pRbsOR4&si=_akQg9hHBF8-ta-c"><u>NieR:Automata Original Soundtrack</u></a></p>
<p class="para"><a href="https://music.youtube.com/playlist?list=OLAK5uy_lmEt5buryPrkLo_Igzw0NpeHZpFJLEW0I&si=OYeySd3QsYMpSxaG"><u>NieR:Automata Arranged & Unreleased Tracks</u></a></p>
<p class="para"><a href="https://music.youtube.com/playlist?list=OLAK5uy_nlAebI0iZ2AygBu6Ij-olTYbQo1cdRQOE&si=xGaqY9zeaFd_KeM4"><u>NieR:Automata Piano Collections </u></a></p>
<p class="line"></p>
<p class="title">Spotify</p>
<p class="para"><a href="https://open.spotify.com/album/6Nws2NAPuxaHzB7MfD1lhg?si=E8RP27RiT72sW6Ne5K7amw"><u>NieR:Automata Original Soundtrack</u></a></p>
<p class="para"><a href="https://open.spotify.com/album/1IUr4hDWIQqX96W7AMQQ30?si=SrREZRypSSi4ky1LuoJwjA"><u>NieR:Automata Arranged & Unreleased Tracks</u></a></p>
<p class="para"><a href="https://open.spotify.com/album/1nZIYthE0D6Tc6bP0OkmV9?si=FaGvM5iWRaWvq_bofHDyoA"><u>NieR:Automata Piano Collections </u></a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata">Back</a></p>
