---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>NieR:Automata Stories</title>
<h1><a href="/stories/nier-automata/reading/novellas/a-much-too-silent-sea">
    A Much Too Silent Sea<img class="art" src="https://i.imgur.com/cZykhD1.png"></a></h1>
<p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1KWiBXQjk5_lB-mv-o5YGivqzbp9C-9hH/view?usp=sharing">
    Memory Cage<img class="art" src="https://i.imgur.com/5lmcf0z.png"></a></h1>
<p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1PGt6HUgJdSQ1YQH2VgvJ91yfs_8Dud71/view?usp=sharing">
    Memory Thorn<img class="art" src="https://i.imgur.com/CcTObKM.png"></a></h1>
<p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1svsvTTBqAxH6ZzGwVP9hb5UmVsLVd9Vw/view?usp=sharing">
    Orbital Bunker Observational Diary<img class="art" src="https://i.imgur.com/f8zv6Oh.png"></a></h1>
<p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1XnWgTKyVr97Dc7Oh708H29jqIGZ0lVuA/view?usp=sharing">
    Recollections of Emil<img class="art" src="https://i.imgur.com/GJMfw6t.png"></a></h1>
<p class="line"></p>
<h1><a href="/stories/nier-automata/reading/novellas/small-flowers">
    Small Flowers<img class="art" src="https://i.imgur.com/I2IrZTY.png"></a></h1>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata">Back</a></p>