---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/karist.css'
---

<BaseLayout>
</BaseLayout>
<title>Drakengard 1</title>
<p><a href="/stories/d1/cnov">Character Novellas</a></p>
<p><a href="/stories/d1/mn">Magnitue Negative</a></p>
<p><a href="/stories/d1/dst">Stories</a></p>
<p><a href="/stb">Back</a><a href="/ths">&nbsp&nbspHome</a></p>
