---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/karist.css'
---

<BaseLayout>
</BaseLayout>
<title>Drakengard 2</title>
<p><a href="/stories/d2/d2st">Stories</a></p>
<p><a href="/stb">Back</a><a href="/ths">&nbsp&nbspHome</a></p>