---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>Drakengard 2</title>
<p class="menu"><a href="/stories/d2/d2st">Stories</a></p>
<p class="menu"><a href="/stb">Back</a></p>