---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/karist.css'
---

<BaseLayout>
</BaseLayout>
<title>Drakengard 3</title>
<p><a href="/stories/d3/pre_nov">Prelude Novellas</a></p>
<p><a href="/stories/d3/ss">Story Side</a></p>
<p><a href="/stories/d3/d1.3">Drakengard 1.3</a></p>
<p><a href="/stb">Back</a><a href="/ths">&nbsp&nbspHome</a></p>
