---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>Drakengard 3</title>
<p class="menu"><a href="/stories/d3/pre_nov">Prelude Novellas</a></p>
<p class="menu"><a href="/stories/d3/d3st">Stories</a></p>
<p class="menu"><a href="/stories/d3/ss">Story Side</a></p>
<p class="menu"><a href="/stories/d3/d1.3">Drakengard 1.3</a></p>
<p class="menu"><a href="/stb">Back</a></p>
