---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img style="width: 100%; height: 100%;" src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/media">
          Media
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>Drakengard 1</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/drakengard-1-portrait.avif?updatedAt=1755425286081");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/drakengard-1-landscape.avif?updatedAt=1755425286180");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/drakengard-1-portrait.avif?updatedAt=1755054117791");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/drakengard-1-landscape.avif?updatedAt=1755054117929");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    }
    </style>
<p class="menu"><a href="/stories/drakengard-1/novellas">Novellas</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-1/character-profiles">Character Profiles</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-1/magnitude-negative">Magnitude Negative</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-1/manga">Manga</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-1/creator-commentary">Creator Commentary</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-1/3d-models">3D Models</a></p>
<p class="line"></p>
<p class="menu" id="backButton"><a href="/stories">Back</a></p>
<p class="titlesmall">Completely human translated :)</p>
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/the-song-of-fourteen-years.avif" as="image" type="image/png" />
<!--Above is for novellas preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/looking-back-1.avif" as="image" type="image/png" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/questions-and-answers.avif" as="image" type="image/png" />
<!--Above is for creator-commentary preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/prologue.avif " as="image" type="image/png" />
<link rel="preload" href=" https://ik.imagekit.io/closesttopurple/avif/650px/afterword.avif" as="image" type="image/png" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/epilogue.avif " as="image" type="image/png" />
<link rel="preload" href=" https://ik.imagekit.io/closesttopurple/avif/650px/time.avif" as="image" type="image/png" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/heaven.avif " as="image" type="image/png" />
<link rel="preload" href=" https://ik.imagekit.io/closesttopurple/avif/650px/earth.avif" as="image" type="image/png" />
<link rel="preload" href=" https://ik.imagekit.io/closesttopurple/avif/650px/woman.avif" as="image" type="image/png" />
<link rel="preload" href=" https://ik.imagekit.io/closesttopurple/avif/650px/prologue.avif" as="image" type="image/png" />
<!--Above is for magnitude-negative preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/chapter-2.avif" as="image" type="image/png" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/chapter-1.avif" as="image" type="image/png" />
<!--Above is for manga preloading-->
<link rel="preload" href=" https://ik.imagekit.io/closesttopurple/avif/650px/leonard.avif" as="image" type="image/png" />
<link rel="preload" href=" https://ik.imagekit.io/closesttopurple/avif/650px/caim.avif" as="image" type="image/png" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/seere.avif " as="image" type="image/png" />
<link rel="preload" href=" https://ik.imagekit.io/closesttopurple/avif/650px/inuart.avif" as="image" type="image/png" />
<link rel="preload" href=" https://ik.imagekit.io/closesttopurple/avif/650px/verdelet.avif" as="image" type="image/png" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/furiae.avif " as="image" type="image/png" />
<link rel="preload" href=" https://ik.imagekit.io/closesttopurple/avif/650px/arioch.avif" as="image" type="image/png" />
<!--Above is for character-profiles preloading-->