---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>Drakengard 3</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/drakengard-3-portrait.avif?updatedAt=1755425287746");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/drakengard-3-landscape.avif?updatedAt=1755425287711");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/drakengard-3-portrait.avif?updatedAt=1755054119757");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/drakengard-3-landscape.avif?updatedAt=1755054118255");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    }
    </style>

<p class="menu"><a href="/stories/drakengard-3/short-stories">Short Stories</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/prelude-novellas">Prelude Novellas</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/story-side">Story Side</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3">Drakengard 1.3</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/manga">Manga</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories">Back</a></p>
<p class="titlesmall">Completely human translated :)</p>
<link rel="preload" href="https://i.imgur.com/uA8cdIQ.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/QRYOwYU.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/9tQmlQI.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ifHIpy2.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/8Kcqy1H.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/WyMYOHl.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ntiT5sb.png" as="image" type="image/png" />
<!--Above is for drakengard-1.3 preloading-->
<link rel="preload" href="https://i.imgur.com/8RDqpsX.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/2hYTb5c.png" as="image" type="image/png" />
<!--Above is for manga preloading-->
<link rel="preload" href="https://i.imgur.com/LK5nDGe.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/uyhdLJV.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/oIw7jLn.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/i9TStrR.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/fwl17CI.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/qXy2Y3f.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/BQqyORq.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/1kDuvds.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/6WKV5qQ.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/1RTDYeR.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/esQ8gii.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/oVSMKDl.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/y13URiv.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/SGapjwC.png" as="image" type="image/png" />
<!--Above is for prelude-novellas preloading-->
<link rel="preload" href="https://i.imgur.com/JKFV71f.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/oTHCH47.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/EXlHgJJ.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/4bimvZH.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/aJaQGZd.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/1PEfLfT.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/vguhJ70.png" as="image" type="image/png" />
<!--Above is for manga preloading-->
<link rel="preload" href="https://i.imgur.com/OvYzAcO.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/OorNSxQ.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/FQOh6n2.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/erFODIv.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/bJ3AwFA.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/NiYLmjQ.png" as="image" type="image/png" />
<!--Above is for short-stories preloading-->