---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img style="width: 100%; height: 100%;" src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/media">
          Media
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>Drakengard 3</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/drakengard-3-portrait.avif?updatedAt=1755425287746");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/drakengard-3-landscape.avif?updatedAt=1755425287711");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/drakengard-3-portrait.avif?updatedAt=1755054119757");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/drakengard-3-landscape.avif?updatedAt=1755054118255");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    }
    </style>

<p class="menu"><a href="/stories/drakengard-3/short-stories">Short Stories</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/prelude-novellas">Prelude Novellas</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/story-side">Story Side</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3">Drakengard 1.3</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/manga">Manga</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/3d-models">3D Models</a></p>
<p class="line"></p>
<p class="menu" id="backButton"><a href="/stories">Back</a></p>
<p class="titlesmall">Completely human translated :)</p>
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/A_5040.avif?updatedAt=1782698154877" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/A_4030.avif?updatedAt=1782698154929" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/OUTLINE.avif?updatedAt=1782698154899" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/A_4010.avif?updatedAt=1782698154846" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/A_3010.avif?updatedAt=1782698154844" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/A_010.avif?updatedAt=1782698154830" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/Ending_A.avif?updatedAt=1782698154754" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/A_2040.avif?updatedAt=1782698154769" as="image" type="image/avif" />
<!--Above is for drakengard-1.3 preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/utahime-five.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/shi-ni-itaru-aka.avif" as="image" type="image/avif" />
<!--Above is for manga preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/v.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/tm.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/fp.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/tga.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/om.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/mm.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/tuw.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/mdsld.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/mft.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/arteaaftb.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/wt.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/tjo.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/tjwmp.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/eify.avif " as="image" type="image/avif" />
<!--Above is for prelude-novellas preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/chapter-2.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/chapter-3.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/chapter-4.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/character-introductions.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/prologue.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/world-map.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/chapter-1.avif" as="image" type="image/avif" />
<!--Above is for story side preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/one.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/three.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/two.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/five.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/four.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/mikhail.avif" as="image" type="image/avif" />
<!--Above is for short-stories preloading-->