---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>Misc</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/DbO0Sju.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/WfPmk1a.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/9mwDEC4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/7HJ0Z4u.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    }
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }
</style>
<div id="sidenav">
        <a href="/ths"><img class="slogo" src="https://i.imgur.com/AJWylNV.png"></a>
        <p class="line"></p>
        <a href="/stb">
            <p class="menu">Stories</p>
        </a>
        <p class="line"></p>
        <a href="/credits">
            <p class="menu">Credits</p>
        </a>
        <p class="line"></p>
        <a href="https://k.closesttopurple.org/post/list/-karis/1">
            <p class="menu">Gallery</p>
        </a>
        </div>
<h1><a href="https://drive.google.com/file/d/1k75kP6CWZnj4IqhzTGYiehiVFKTaHVVW/view?usp=sharing">
    Roundtable<img class="art" src="https://i.imgur.com/DLC6ZVj.png"></a></h1>
<h1><a href="/stories/rmisc/onore">
    The Weekly Onore!<img class="art" src="https://i.imgur.com/cpBkszN.png"></a></h1>
<p class="line"></p>
<p class="menu"><a href="/stb">Back</a></p>
