---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>NieR:Automata</title>
<p class="menu"><a href="/stories/nierautomata/nast">Stories</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nierautomata/namanga">Manga</a></p>
<p class="line"></p>
<p class="menu"><a href="/stb">Back</a></p>