---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>NieR Replicant</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/V7wASSt.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/0NzUPCY.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/CbIu5Xj.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/p1NlFJK.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    }
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }
</style>
<div id="sidenav">
        <a href="/ths"><img class="slogo" src="https://i.imgur.com/AJWylNV.png"></a>
        <p class="line"></p>
        <a href="/stories">
            <p class="menu">Stories</p>
        </a>
        <p class="line"></p>
        <a href="/credits">
            <p class="menu">Credits</p>
        </a>
        <p class="line"></p>
        <a href="https://k.closesttopurple.org/post/list/-karis/1">
            <p class="menu">Gallery</p>
        </a>
        </div>
<h1><a href="https://drive.google.com/file/d/1dTVkxCgr3A49-gDoRGQd0TM0733AtgMh/view?usp=sharing">
    Drama CD<img class="art" src="https://i.imgur.com/JbPdF15.png"></a></h1>
<p class="line"></p>
<p class="menu"><a href="/stories/nier/2010-novellas">Novellas (2010)</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier/1.22-novellas">Novellas (1.22...) W.I.P.</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier/creator-commentary">Creator Commentary</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier/music">Music</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories">Back</a></p>

