---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img style="width: 100%; height: 100%;" src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/media">
          Media
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>NieR:Automata</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/nier-automata-portrait.avif?updatedAt=1755425288034");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/nier-automata-landscape.avif?updatedAt=1755425287952");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/nier-automata-portrait.avif?updatedAt=1755054120111");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/nier-automata-landscape.avif?updatedAt=1755054119893");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    }
</style>
<p class="menu"><a href="/stories/nier-automata/stage-plays">Stage Plays</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/novellas">Novellas</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/manga">Manga</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/memories-of-puppets">Memories of Puppets</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/blu-ray">Ver1.1a Blu-ray</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/music">Music</a></p>
<p class="line"></p>
<p class="menu" id="backButton"><a href="/stories">Back</a></p>
<p class="titlesmall">Completely human translated :)</p>
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/pearl-harbor-descent-01.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/pearl-harbor-descent-02.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/pearl-harbor-descent-03.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/pearl-harbor-descent-04.avif" as="image" type="image/avif" />
<!--Above is for manga preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/beasts-of-slaughter.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/lies.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/precious-things.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/project-yorha.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/farewell.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/a-repeating-prayer.avif" as="image" type="image/avif" />
<!--Above is for manga preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/a-much-too-silent-sea.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/memory-thorn.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/memory-cage.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/orbital-bunker-observation-diary.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/recollections-of-emil.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/small-flowers.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/yorha-ver1.05.avif" as="image" type="image/avif" />
<!--Above is for novellas preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/yorha-boys-1.0.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/yorha-1.3aa..avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/yorha-1.3a.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/yorha-1.2.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/yorha-1.0.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/yorha-girls-1.1a.avif" as="image" type="image/avif" />
<!--Above is for stage-plays preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/vol-2.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/vol-1.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/to-you-with-a-smile-650x150.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/to-the-unseen-you.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/time-to-relax.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/fatal-error.avif" as="image" type="image/avif" />
<!--Above is for blu-ray preloading-->