---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img style="width: 100%; height: 100%;" src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/media">
          Media
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>NieR Replicant</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/nier-portrait.avif?updatedAt=1755425288262");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/nier-landscape.avif?updatedAt=1755425288065");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/nier-portrait.avif?updatedAt=1755054119901");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/nier-landscape.avif?updatedAt=1755054119919");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    }
</style>
<p class="title"><a href="/stories/nier/drama-cd">
    Drama CD<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/650px/d3/drama-cd.avif?updatedAt=1782711516187"></a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier/novellas">Novellas</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier/creator-commentary">Creator Commentary</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier/weapons">Weapons</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier/music">Music</a></p>
<p class="line"></p>

<p class="menu" id="backButton"><a href="/stories">Back</a></p>
<p class="titlesmall">Completely human translated :)</p>
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/around-the-world-in-80-days.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/and-then-there-were-none.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/a-little-princess.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/the-witch-banquet.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/the-narrow-gate.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/the-lost-world-122.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/the-lost-world.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/red-and-black.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/mountain-of-the-damned.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/the-stone-flower.avif?updatedAt=1782711909505" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/the-little-mermaid.avif?updatedAt=1782711909462" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/the-fire-of-prometheus.avif" as="image" type="image/avif" />
<!--Above is for novellas preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/questions-and-answers.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/d3/looking-back-3.avif" as="image" type="image/avif" />
<!--Above is for creator-commentary preloading-->
