---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>NieR (All)</title>


    <p class="menu"><a href="/nier-anniversary/15th-novel/">[U]ndecided Option (Web Novel)</a></p>
    <p class="line"></p>
<p class="menu"><a href="/stories">Back</a></p>
<link rel="preload" href="https://i.imgur.com/D2s6LyC.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/SO5y9nS.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/3vlNFLq.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/f9vM51X.png" as="image" type="image/png" />
<!--Above is for general preloading-->