---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>NieR:Automata</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/nier-automata-portrait.avif?updatedAt=1755425288034");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-dark/nier-automata-landscape.avif?updatedAt=1755425287952");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/nier-automata-portrait.avif?updatedAt=1755054120111");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://ik.imagekit.io/closesttopurple/bg-light/nier-automata-landscape.avif?updatedAt=1755054119893");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    }
</style>
<p class="title"><a href="https://reader.closesttopurple.org/read.html?title=yorha-boys&volume=1&page=1">
    YoRHa Boys 1.05 <img class="art" src="https://i.imgur.com/TXyjmOt.png"></a></p>
<p class="menu"><a href="/stories/nier-automata/stage-plays">Stage Plays</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/novellas">Novellas</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/manga">Manga</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/concert">Concert Novellas</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/blu-ray">Ver1.1a Blu-ray</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/music">Music</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories">Back</a></p>
<link rel="preload" href="https://i.imgur.com/iFe8lpH.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/mbyXvc0.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/urVfl9v.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/AgPuIkf.png" as="image" type="image/png" />
<!--Above is for manga preloading-->
<link rel="preload" href="https://i.imgur.com/cZykhD1.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/5lmcf0z.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/CcTObKM.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/f8zv6Oh.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/GJMfw6t.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/I2IrZTY.png" as="image" type="image/png" />
<!--Above is for novellas preloading-->
<link rel="preload" href="https://i.imgur.com/YrexThI.png" as="image" type="image/png" />
<!--Above is for stage-plays preloading-->
<link rel="preload" href="https://i.imgur.com/zJLBKdk.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/FimgJUT.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/2IKoQ3c.png" as="image" type="image/png" />
<!--Above is for blu-ray preloading-->