---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>NieR</title>
<p class="menu"><a href="/stories/nier2010/niervella">Novellas (ALB Translated)</a></p>
<p class="menu"><a href="/stories/nier2010/niervella2">Novellas (1.22...) W.I.P.</a></p>
<p class="menu"><a href="/stb">Back</a></p>