---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>NieR:Automata</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/XWWgXxZ.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/ySvpJN4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/SbWjxR4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/pJqqWm3.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
    }
</style>
<p class="title">YoRHa Boys information:</p>
<p class="para">YoRHa Boys Ver1.05 (the novel) is a novelisation of what was originally a stage play, although it's not currently on the site.</p>
<p class="line"></p>
<p class="title"><a href="https://reader.closesttopurple.org/read.html?title=yorha-boys&volume=1&page=1">
    YoRHa Boys 1.05 <img class="art" src="https://i.imgur.com/TXyjmOt.png"></a></p>
<p class="menu"><a href="/stories/nier-automata/stage-plays">Stage Plays</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/novellas">Novellas</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/manga">Manga</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/music">Music</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories">Back</a></p>
