---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>SINoALICE Stories</title>
<style>
  .para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
</style>
<div class="over">
<div class="Guide">
<p class="title"><a href="https://www.youtube.com/watch?v=nbbr18H3dhc&t=25s">
    Act 1: Impulse<img class="art" src="https://i.imgur.com/fbDPfhz.png"></a></p>
<p class="title"><a href="https://www.youtube.com/watch?v=ZKU9wr-TC7A">
    Act 2: Hatred<img class="art" src="https://i.imgur.com/XclHQ3e.png"></a></p>
<p class="title"><a href="https://www.youtube.com/watch?v=OtUuwYmS3VM">
    Act 3: Reality<img class="art" src="https://i.imgur.com/ncI30q8.png"></a></p>
<p class="title"><a href="https://www.youtube.com/watch?v=U84H2vyiqrw">
    Act 4: Fusion<img class="art" src="https://i.imgur.com/j4CR7SN.png"></a></p>
<p class="title"><a href="https://www.youtube.com/watch?v=YaSvk5wAYzQ">
    Act 5: Elimination<img class="art" src="https://i.imgur.com/uhraAS8.png"></a></p>
<p class="title"><a href="https://www.youtube.com/watch?v=ZwhmLKVec3c&t=103s">
    Act 6: Elimination II<img class="art" src="https://i.imgur.com/sSj2tCr.png"></a></p>
<p class="title"><a href="https://www.youtube.com/watch?v=bjwYh5LEtc4">
    Act 7: Author<img class="art" src="https://i.imgur.com/Hrv4DqF.png"></a></p>
<p class="title"><a href="https://www.youtube.com/watch?v=_n9rq1l9dGw">
    Act 8: SINoALICE<img class="art" src="https://i.imgur.com/jfgvGTy.png"></a></p>
<p class="title"><a href="https://www.youtube.com/watch?v=x_-Y-0IaSKc">
    Act 9: DESIRE<img class="art" src="https://i.imgur.com/yARBX0O.png"></a></p>
</div>
</div>

<div class="over">
  <div class="Guide">
    <p class="title"><a href="https://www.youtube.com/watch?v=nd5YH0YLKMo">
    The Last Story<img class="art" src="https://i.imgur.com/IMs49sM.png"></a></p>
<p class="title"><a href="https://www.youtube.com/watch?v=_yjxl7ONwLc">
    Parrah and Noya's Music Jamboree<img class="art" src="https://i.imgur.com/7D1qCEa.png"></a></p>
  </div>
</div>

<p class="line"></p>
<p class="menu"><a href="/stories">Back</a></p>
