---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>SINoALICE</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/JerjnCE.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/0p0HMFl.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/qjsfESK.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/vDlIrkX.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
    }
</style>
<p class="menu"><a href="/stories/sino/sinost">Stories</a></p>
<p class="line"></p>
<p class="menu"><a href="/stb">Back</a></p>
<p class="line"></p>
