---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>A Little Princess</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">A Little Princess</p>
<img src="https://i.imgur.com/6SDhvdz.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: <u>closesttopurple</u></p>
<p style="margin-top: 0.4cm; font-size: 200%;">Writer:
Jun Eishima <br>Concept by cavia/YOKO TARO <br>Translator: Jasmine Bernhardt</p>
<p class="title"><a href="https://drive.google.com/file/d/1Atox1R5Xogh9CGA2guIex7aC1uTtjPPY/view"><u>Old fan translation.</u></a></p>
<p class="line"></p>
<p class="title"><i>A heart shut from the world; a girl hidden away.<br>
Rules shared; friendship kindled.</i></p>
<p class="line"></p>
<p class="para">Fyra stared at the mask in her hands. It was a strange item, and
while she wasn't quite sure what it was meant to symbolize, it
held a definite warmth.<br><br>
"You will live with this mask on from now on," said the
man who escorted her to the city. "You must never take it off."
He turned and walked away after saying this, not bothering to
explain what meaning the item might hold.<br><br>
Gingerly, she reached up and touched the right side of her
face, feeling the pus-filled reddish-brown bumps. She had been
burned when she was young-too young even to remember it
happening-and it left her with striking scars on her face. She
knew others found her skin horrific to look at, much less consider
touching-but doing so brought Fyra a strange sort of comfort,
perhaps because she felt a desire to accept it as part of herself.<br><br>
Her parents, however, found the scars abhorrent. They
were a proud couple, affluent cloth wholesalers who lived their
lives using others and being treated with the respect their posi-
tion deserved. The prospect of having those same people pity
them-or worse, pay them undue attention because of their
daughter-was a humiliation they were not prepared to face.
Instead, they forbade her from going outside, claiming her
appearance would hurt their business. And on the night before
her eighth birthday, they compelled her to travel to a faraway
city and take up a life of servitude, finally ridding themselves of
their eyesore for good.<br><br>
This was how eight-year-old Fyra found herself following
an escort to a distant city across the desert. She doubted she
would ever return to her home, but she was ready to do what
she must to survive.<br><br>
Fyra determinedly set the mask on her face. The inside was
pleasantly dark, cool, and silent; the world she could see beyond
the eyeholes narrow. The moment it was in place, she noticed
a mask similar to her own approaching. She stepped backward
despite herself, but the owner grabbed her arm, talking quiekly
and endlessly as they dragged her away. Their deep voice and
impressive strength led Fyra to think it was an adult male, but
of course, she could not see beneath his mask. Adding to the
confusion, she did not recognize the language he was using.<br><br>
"Um, excuse me? Wait, please."<br><br>
The man heard her unwitting plea and froze. In the next
moment, he began screaming at her while raising his hands and
stamping his feet over and over. It was a vivid reminder of her
father's own tempers, and how he often blamed her for moments
when others dared to look down on him.<br><br>
<i>He's going to hit me,</i> thought Fyra. Her body tensed, her
arms shooting up in a sad attempt to protect her head. But
instead of blows, what came next was the sound of a younger,
dignified voice.<br><br>
"Rule 32: Those without a lot number may not speak."
The voice was halting and accented, but came in a language
Fyra was familiar with. As she looked around to find the source,
she spied a child hopping toward them from atop one of the
many staircases that formed the maze of a city.</p>
<p class="para"><i>We're the same age,</i> Fyra mused absently as the boy approached
her and began speaking again. Her new companion also wore a
mask; clearly living with one was a custom of the people.<br><br>
"You weren't born here, right?" said the masked boy. "You
don't have a lot number?"<br><br>
"What's a lot ...? " began Fyra before quickly remembering
Rule 32 and shutting her mouth again.<br><br>
"A lot number is a certificate that shows where in the city
you were born-so if you're an outsider, you obviously don't have
one. If you want to talk and sing and all that, you'll need to marry
a resident and get one. The rules of our city are absolute, so you
have to obey them if you want to live here."<br><br>
<i>Outsiders can't talk? Then bow in the world am I supposed to
survive here?</i><br><br>
Fyra began to sweat, her agitation palpable behind her mask.
But the boy just chuckled and leaned forward to whisper in
her ear.<br><br>
"Don't worry. I'll help you."<br><br>
The boy turned to the man and said something in their
language. The sound of the words and the gestures that accom-
panied it were so peculiar that Fyra couldn't even begin to guess
what they were speaking about. In the midst of their conversa-
tion, the child removed his mask to show his face to the older
man. It was a well-proportioned visage, with smooth, dark skin,
a shapely nose, and straight hair that rustled easily in the wind.<br><br>
<i>I bad no idea boys could be so beautiful,</i> Fyra thought as she
found herself unable to look away.<br><br>
The boy turned and called her over in a friendly voice. Then
he folded his arms, puffed out his chest, and looked up at the
man, making some sort of declaration in their language. When
the man gave a deep nod, the boy turned back to Fyra.<br><br>
"He says you are here to serve,"he began haltingly in Fyra's
language. "He is your employer now. He'll give you fruit to sell,
and you give the proceeds to him. You can sell fruit, right?"<br><br>
As Fyra nodded her assent, the man handed over a large
basket and told her to hold it tight. It seemed like she was going
to be allowed to make some kind of living for herself in this city,
and it was all thanks to the boy who stood up for her. Frustrated
that she couldn't thank him in words, she instead faced him and
bowed as deeply as she could manage.<br><br>
Fyra was so preoccupied with survival, she barely noticed
how quickly her first six months in the city flew by.<br><br>
Charisma was life in the street-vending world, and Fyra's
inability to speak proved a greater obstacle than she ever could
have imagined. But she never gave up. What time she didn't
use dealing with customers was spent memorizing the narrow
staircases that wound throughout the city. There were days she
was miserable. Days when she was buffeted by wind, sand, and
rain. And worst of all, days when other vendors attempted to
claim her territory with words, fists, and feet. Yet no matter how
bad the situation-no matter how her face swelled or her joints
ached-she always made sure the fruit in her basket remained
unharmed before crawling out of bed the next morning to begin
the process all over again.<br><br>
With her work forcing her to adapt or perish, she soon found
herself becoming proficient in the city's strange language.</p>
<p class="para">She also made an effort to memorize as many of their rules as she
could manage. It wasn't possible to learn them all, considering
the astronomical number they had, but she kept a booklet of
them on her at all times in the hopes of warding off trouble
before it started.<br><br>
Though there were times she failed to make any sales and
went hungry for the night, she mostly enjoyed life in the city.
At the very least, it was better than being shut up in her parents'
home like some shameful secret. Rules bound this city, yes-but
that meant <i>only</i> rules bound it. While she wasn't coddled because
she was a child or a girl, there was also no discrimination on those
fronts. Additionally, the masks kept everyone on a level playing
field in terms of appearance. Fyra's heart had long been wounded
by the careless glances and remarks she endured because of her
burns, but now she found those hurts dissolving like the rivers
of sand that flowed through the city.<br><br>
From time to time she saw the boy who had helped her.
Though her work took her all over the city, he seemed to be even
more mobile himself. She was able to recognize him because he
was always wearing his mask at a rakish tilt that exposed the
true face bencath<br><br>.
<i>Rule 2: Do not neglect your mask.</i><br><br>
This rule was the basis for the city's entire way of life, yet the
boy casually broke it wherever he went. Whenever he approached
Fyra as she lugged her heavy fruit up and down the city, he took
the time to speak with her and offer kind nuggets of advice.
"Why are you always looking down? You should carry your-
self proudly. Raise your head high! That'll make your fruit look
tastier too."<br><br>
"You keep a booklet of the rules? Ha ha! If you want my
advice, just try to take things as they come."<br><br>
Though the boy spoke Fyra's language in a halting fashion,
he was delighted to switch to his native tongue once she under-
stood enough of it for them to communicate-and Fyra found
his brisk, clear speech suited to a boy so bright and fearless.<br><br>
One night, after Fyra handed over the proceeds from the
day's sales and received her own share, the grave voice of her
employer stopped her cold: "You must sell every piece of fruit
in your basket tomorrow. If you fail, I am through with you."<br><br>
It was an impossible thing to ask; Fyra hadn't sold out of
her wares once in the past six months. But she had no choice.
She nodded at her employer, gritted her teeth, and prepared to
do what she must to be useful and survive.<br><br>
Before the sun had even kissed the horizon the following
morning, Fyra set out. Each time she saw someone, she would
rush to their side and follow them everywhere, desperately point-
ing at her basket the entire time. No matter how they tried to
turn her down or escape her haranguing, she refused to leave
them be. But such desperation only served to work against her,
and by the time the sun sat high in the sky, her basket was as
full as when she set out.<br><br>
The harsh midday sun meant fewer people passing through
the front-facing streets. As Fyra marched up and down the twist-
ing stairways of the city searching for customers, she eventually
made her way to the main plaza, only to find it abandoned. Sigh-
ing heavily, she turned to leave and caught her foot on a small
gap in the paving. At her limit from worry and exhaustion, the
misstep sent her crashing to the ground, causing her fruit to fly
in all directions.<br><br>
<i>I am done.</i></p>
<p class="para">It was not a question, nor a charged emotional reaction.
Merely a fact. Fyra saw her own fate clearly and knew it could
not be changed with willpower alone. So she simply lay where
she fell, lacking the will to get up again. She lay there for some
time until a cheerful voice interrupted her misery.<br><br>
"Rule 227! Obstructing public pathways is forbidden!"<br><br>
Before Fyra knew it, the boy was crouching at her side. She
scrambled to sit up, noticing how his mask was sitting askew
on his face as usual.<br><br>
"Eh, but no one's coming this way, so you're probably good,"
he continued. "Still, if you're looking to take a nap, you really
should pick a spot in the shade."<br><br>
Fyra shook her head and got to her feet. As she picked up her
fallen basket, the boy began energetically gathering the scattered
fruit. When they were piled neatly in the basket once more, she
looked at them and had to hold back tears; none of the dirty,
bruised things were fit to eat, much less sell.<br><br>
"What's wrong?" asked the boy. His eyes were perfectly clear,
causing Fyra's heart to skip a beat.<br><br>
<i>Nothing to do but tell the truth and get it over with,</i> she thought.
She began explaining her situation with hand and body gestures,
figuring it would take some time, but the boy picked up on her
plight right away.<br><br>
"Oh, is <i>that</i> all?" he said in a jovial tone. "Well, no need to
worry about it. I'll take everything you have!"<br><br>
Fyra felt rage build inside her at the idea he might joke
about so serious a thing. Forcing her anger down, she took out
her booklet of rules, opened to a page, and thrust it into his face.
<i>Rule 429: Buying a vendor's entire stock is forbidden.</i><br><br>
"You are <i>such</i> a stickler for the rules!"laughed the boy. "Look,
rules are made to be broken. I mean, you'd rather survive and
break them than obey and dic, right?"<br><br>
It was such an outrageous suggestion that Fyra's anger was
instantly replaced with bewilderment, which caused the boy to
laugh out loud.<br><br>
"Okay, okay. I see your stickler-ness is going to be a problem,
so here's the deal. I'll mark one of two sticks, then choose one of
them with that part hidden. If I pick the one I marked, I take the
fruit and give you some money. That way, it's just an exchange
of goods based on the rules of a game and not me actually, you
know, <i>buying</i> them. Sound fair?"<br><br>
When he noticed how she still hesitated, the boy puffed
out his chest in pride. "It'll be fine. I never lose a bet. Trust me."<br><br>
In the end, things went exactly as he predicted. He pulled
the marked stick, cradled all of her fruit in his arms, then pulled
out a heap of coins and poured them into Fyra's hands.<br><br>
"This should be enough," he said, stopping her as she
hurriedly attempted to hand him change. "<i>Let's play again
sometime, okay?</i>"<br><br>
Fyra watched him walk off, then knelt down to pick up the
sticks from the ground. With his mind on the fruit, he must have
dropped them. Both sticks were marked as the winner.</p>
<p class="para">When Fyra returned with her empty basket, her employer<br><br>
was visibly surprised. But when she told him the truth of what
occurred, his surprise grew to shock, which he punctuated with
a deep and troubled sigh.<br><br>
"The prince's whims certainly can trouble a man,"he said,
which caused Fyra to tilt her head in confusion.<br><br>
"You mean you didn't know? Yeah, that boy you occasionally
run into is none other than Facade's own prince. He sometimes
gets bored and sneaks out of the palace to wander the city. He's
a handful for all of us, what with his rule-breaking and how he
keeps roping people into his little games. Still, despite all the
trouble he puts us through, it's hard to hate the kid."<br><br>
There was an unusually kind glint in her employer's eye as
he spoke, and after a bit, he finally confessed he and the prince
had made a wager concerning Fyra.<br><br>
"We made a wager to see what kind of vendor a little outsider
like you could become. If you sold a whole basket of fruit after
six months, I won. And if you didn't, the prince won and you got
banished from the city-or at least that's how it was supposed to
go. Thing is, the prince always brags about how he never loses, so
I don't understand why he went and threw the bet."<br><br>
The final musings of her employer had not yet reached Fyra's
ears before she tossed her basket on the ground, spun on her
heel, and dashed away.<br><br>
Let's play again sometime, okay?<br><br>
The prince's words whirled around and around in her mind.<br><br>
For six miserable months, she had clung to survival like a drown-
ing woman holds fast to a raft, yet it had all been a game to him.<br><br>
She had been nothing but a plaything.<br><br>
Wind howled in her face as she ran. Blowing sand stung her
eyes. Tears made endless furrows down her cheeks. Oh, but she
was angry! Angry, but also ashamed and sorrowful that she had
permitted herself to bask in his kindness for even a moment.<br><br>
When Fyra arrived at the royal palace, she cast rules to the
wind and began screaming as loud as she could. Guards imme-
diately rushed over and tackled her to the ground, at which point
she saw a familiar set of long, slender legs approaching.<br><br>
"Let her go. She is my guest."<br><br>
Though she recognized his voice, it contained a gravity that
had not been there previously-a reminder that the owner was,
indeed, royalty. With her face still pressed to the ground, Fyra's
shoulders began to shake. The entire situation was so absurd, it
made her want to laugh and cry at the same time. This response
seemed to confuse the prince, who quickly sent the guards away
before extending a hand and helping Fyra to her feet.<br><br>
"So. It seems you finally found me out."<br><br>
He spoke with a shrug of shoulders and a complete lack of
remorse for his actions. This enraged Fyra even more, and before
she knew it, she had torn her mask from her face and locked on
to his eyes. If she was going to protest his actions, she would do
so with her true face-and her true self.<br><br>
"What's wrong?" asked the prince in a panicked tone when
he saw the tears streaming down her face.<br><br>
The words that came out of her mouth in response-the first
she had spoken in half a year-were not in the language of her
hometown, but her adopted city.
</p>
<p class="para">"I walk with my head down because I used to hide this face
from other people," she began. "And my booklet of rules? It kept
me going and gave me a way to survive in this unfamiliar city. To
you, I may just be a way to keep boredom at bay for a few days but this is my <i>life</i>. It's a hard one, and often miserable, but it's the
only one I have-and you're wrong to think you can play with
people's lives just because you're some prince! Now apologize to
me, and then never speak to me again!"<br><br>
Once Fyra had said her piece, she could feel the tension
leave her body, only to be replaced by a feeling of utter dread.<br><br>
<i>Oh no. What have I done? I shouted at the prince! I broke so
many rules! Oh, but I am a stupid girl. I thought I could survive this
place even if it ruined me, but now I'll clearly have to leave before
the day is out.</i><br><br>
Fyra dropped her head and prepared herself for what punish-
ment was to come, but instead, she heard three most unexpected
words: "I'm so sorry!"<br><br>
She slowly lifted her eyes and stared in disbelief as the prince
standing before her lowered his head.<br><br>
"You're right. I proposed the wager to your employer because
I thought it would be a delightful game-but after watching you
for a bit, I cast that notion aside. It was so beautiful seeing you
live and thrive, and I did what I did today because I wanted to
save you. If you were to leave this city now, I ... I do not know
if I could stand it."<br><br>
Though the prince had been staring at his own feet as he
spoke, he finally raised his eyes to Fyra and said, "Please believe
this much: I helped you not for amusement or charity, but for
friendship."<br><br>
<i>Friendship</i>!<br><br>
Unsure how to take his words, Fyra unconsciously reached
up and touched her scars. This didn't seem to bother the prince
at all; he kept his eyes on her the entire time as if her appearance
was the most normal thing in the world.<br><br>
"So, um, will you be my friend?"he asked finally. The desper-
ation in his voice was so amusing Fyra let out a small chuckle.<br><br>
Upon hearing it, the prince's expression immediately brightened.<br><br>
"That's a yes, right?"<br><br>
By way of response, Fyra pulled out her booklet of rules
and opened it to show him <i>Rule 12,030: A citizen cannot sever a
relationship sought by the royal family</i>.<br><br>
"Yeah, but you can break the rules. I mean, if you want."<br><br>
His pouting voice was so cute Fyra found herself smil-
ing. He had just broken another rule for her sake. <i>Rule 89: No
member of royalty may apologize to a commoner</i>. Yet as the prince
had acknowledged an outsider like herself, she decided to trust
him one more time-and not as a subject, but a friend.<br><br>
Sensing Fyra had forgiven him, the prince leaned forward
with a smile on his face. "Great! So what kind of game do you
want to play? Oh wait! I know! Starting tomorrow, you bring
fruit to the palace every day. If it's a kind I like, you win and I'll
pay double. If it's a kind I don't like, you lose and have to dance
to a song of my choice."<br><br>
As soon as the proposal was out, he realized Fyra was glaring
at him. "So, um, maybe no games, then?"he finished awkwardly.<br><br>
<i>What</i> am I going to do with this prince? thought Fyra. She had
been prepared to exist in a world of solitude, and knew she would
find a way to enjoy even a life spent alone. Yet living alongside
friends could bring a different kind of joy-and if such friends
were willing to see her for who she truly was, perhaps the colors
of her days might change for the better.<br><br>
<i>That is a wager I am willing to accept.</i><br><br>
Pleased, Fyra raised her head high and agreed to play.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier/novellas">Back</a></p>