---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>And Then There Were None</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">And Then There Were None</p>
<img src="https://i.imgur.com/RWp0kFq.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: <u>closesttopurple</u></p>
<p style="margin-top: 0.4cm; font-size: 200%;">Writer:
Jun Eishima <br>Concept by cavia/YOKO TARO <br>Translator: CaseyLoe</font></font></p>
<p class="title"><a href="https://drive.google.com/file/d/19qErGOhiwZvD6JJsB8dcro3Ccp64B5mc/view?usp=sharing"><u>Old fan translation.</u></a></p>
<p class="line"></p>
<p class="title"><i>The
curtain rises to the tune of the Pied Piper’s flute,<br><br>And
the fate of humanity plays out on a Hamelin stage.</i></p>
<br>
<p class="line"></p>
<p class="para">I’m
in a room with no windows and no doors.</p>

<p class="para">It’s
huge and brightly lit, despite there not being any visible
lights──somehow the ceiling seems to be functioning as a source
of illumination. The other people around me are all roughly the same
age and a variety of different races. I count nine men, including
myself, and four women. Some are still out cold, but others are on
their feet, readying themselves for what might come next. A single
book lies on the ground next to each of us.</p>

<p class="para">What
happened? What am I even doing here?</p>

<p class="para">I
feel dizzy. Drugged. It’s never a good idea to get up quickly in
situations like this, so I reach for my gun as I slowly study the
room. It’s gone, which is no real surprise──wouldn’t make
sense to kidnap someone and then leave them a weapon, after all. But
my abductors have done an unusually thorough job of it, removing
everything from the wire woven in the hem of my pants to the
explosives secreted in the sole of my shoe. They found everything I
had, which is how I belong.</p>
<p class="para">I’d
figured something like this was coming ever since they started
talking about a sketchy “secret mission” I was apparently free to
accept or refuse as I saw fit. But not only did they offer an
incredible sum of money, they also promised a full discharge when it
was over. They claimed I’d finally be able to kiss this whole
shitty lifestyle goodbye. You’d have to be a moron to refuse an
offer like that── or else some kind of deranged sociopath who
actually enjoys the killing.</p>

<p class="para">Anyway,
it was obvious the mission wasn’t on the up-and-up──not with
that kind of reward waiting at the finish line. I figured it’d be
the sort of thing where they send a hundred guys and maybe one comes
home. Or hell, maybe just one out of a thousand. Because you only
offer that level of compensation if you’re damn sure you end up
having to pay it. And yet, even having known all that, here I am.
Just thinking about it made me chuckle.</p>

<p class="para">A
voice calls out, interrupting my musing, and I turn to find a man who
looks to be a year or two my junior. But he’s unfortunately a man
from some other country, and I can only shake my head in response to
his words. That response seems to do the trick, because he doesn’t
try to talk to me again.</p>

<p class="para">The
group I belong to is a multinational organization, but most of the
members only know their mother tongue. There’s no time to study
foreign languages; as soon as our age hits double digits, we’re
pushed into round-the-clock training. Most of us can barely read and
write in our <i>own</i> language, much less a second one. And sure,
there are a few bilinguals in the org──folks with parents from
two different countries, a handful who were born in one place and
raised in another──but they’re the exceptions that prove the
rule.</p>

<p class="para">Because
I’m curious, I call out a greeting in my native tongue to the man
sitting across from me. He responds with a shake of the head, as does
the woman seated to his left. She looks groggy; I’m guessing her
sedative just wore off. Those things affect people differently, but
as a general rule, folks like her are usually the first to die. The
slow don’t tend to survive for long.</p>

<p class="para">Suddenly,
the woman locks her gaze on me, her eyes widening in surprise. Well,
this is interesting. Who the hell <i>is</i> she? She looks familiar
somehow, but I can’t place her. As I ponder, she struggles to stand
on a pair of unsteady legs, then immediately crashes back to the
floor with an epic thud. But her clumsy pratfall finally knocks loose
a memory.<br/>
<br/>

</p>
<p class="para">“You
survived, eh?”</p>
<p align="center" style="margin-bottom: 0in; line-height: 100%; font-weight: normal; font-style: normal">
<br/>

</p>
<p class="para">The
woman nods as she pulls herself to her feet once more. She’s one of
the rare polyglots in the organization. Her mother must hail from my
homeland; children always remember the language of their mothers.</p>

<p class="para">“I’m
glad to see yo survived as well.”</p>

<p class="para">“Course
I survived. But you? Now that’s a surprise.</p>



<p class="para">We’d
met three years ago. We were both in the 13<sup>th</sup> Crusade, a
large-scale offensive against the Legion. We’d been assigned to
different units, but once the fighting started, organization
collapsed and things like who was in what unit didn’t matter for
shit. And yeah, war’s always like that, but that one was especially
bad.</p>

<p class="para">I
was sixteen at the time──already a hardened veteran──and I’d
pegged my odds of survival at a respectable fifty-fifty. But then, in
the midst of all the chaos, I saw the dimwit standing in front of one
of the Legion, completely frozen. Not knowing what else to do, I
knocked her out of the way and torched the whole area. Not because I
was trying to be some kind of hero──it wasn’t anything so
high-minded. It’s just that soldiers are a valuable resource, so we
gotta take care of each other. Or to put it another way, we can’t
let each other go to waste.</p>

<p class="para">Anyway,
believe it or not, that dimwit was the same age as me──but unlike
me, she’d been thrown onto the battlefield without the benefit of
years of training, No wonder she went into shock the moment she had
to go toe to toe with one of the Legion.</p>

<p class="para">See,
the Legion look like people because that’s what they used to be.
White chlorination syndrome kills damn near everyone who contracts
it, and the few who survive turn into psychopathic monsters. But that
aggression isn’t even the main reason we’re so desperate to wipe
them out──the bigger issue is that they’re still contagious,
which means that even one of them could start a new outbreak. We’re
three years into this strange pandemic, and we still have no idea how
to cure it. I guess it all started with some white giant that isn’t
even from this world? I dunno. Something like that.</p>

<p class="para">But
while we don’t have a cure, we <i>do</i> have Luciferase, a
medicine with protective properties. Problem is, o one’s been able
to mass produce it. Plus, it seems to only work on kids──and the
younger they are, the more effective it is.</p>

<p class="para">Long
story short, that’s how we ended up here. The strongest kids are
drafted, given what little Luciferase there is to go around, and sent
to fight the Legion. The international group responsible for training
and  deploying these child warriors is called the Hamelin
organization. The name comes from that fairy tale that about a pied
piper who lures a bunch of kids away, which has always struck me as
being in poor taste.</p>

<p class="para">“So
what are you doing here?”</p>

<p class="para">“I
was told it was a top-secret mission.”</p>

<p class="para">“High
compensation, full discharge, completely free to accept or refuse,
right?”</p>

<p class="para">She
looks taken aback for a second, then immediately nods like she’s
just put the pieces together. She goes on to tell me how she’d been
attending school until that day three years ago──just kicking
along like everything in the world was perfectly normal. Guess it
stands to reason she’d be sharper than me, given that she got to go
to school.</p>



<p class="para">“I
imagine everyone here was given the same offer?”</p>

<p class="para">I
nod as I scan the room again. It’s a diverse group of participants,
most likely chosen to represent a wide variety of of nationalities.
Even at a glance, It’s clear this girl and I are the only ones
managing to communicate with each other.</p>

<p class="para">“I
suppose it was an offer no one could refuse.”</p>

<p class="para">Oh,
she’s right about that. Anyone who does what we do would leap at a
chance to escape this life. I mean, we’re mass murderers, plain and
simple. And sure, they tell us our enemies are monsters completely
devoid of intelligence but they still <i>look</i> like people──and
our job is to burn them alive.</p>

<p class="para">Yep.
We burn ‘em. See, the blood and saliva of white chlorination
syndrome victims are supposed to be contagious, so they don’t want
gunshots spattering fluids around. We’re actually ordered not to
fire guns unless it’s absolutely unnecessary──and since none of
us want to be inhaling anything that dangerous, it’s one order
we’re happy to obey. Still, it doesn’t feel good to see creatures
that look like human beings wreathed in flames and burning to death.
I was barely ten years old the first time I torched one of the
Legion, and nine years later, I’m still not used to it. Each time
is just as terrible as the first.</p>

<p class="para">“So
what do you think these things are?” asks the woman, pointing at
the tome next to her. “They look like books, but they don’t
open.”</p>

<p class="para">Said
books are thick, with covers tha are somewhere between black and dark
gray in color, and nothing written on them. After a moment, the woman
picks hers up and tries to pry it open.</p>

<p class="para">“Hey,
stop!” I cry. “Don’t touch that!”</p>

<p class="para">She
drops the book like it’s on fire, and I respond with a loud sigh.
In this respect, she hasn’t changed at all in the last three years.
See, we were struck together for a while after I saved
her──considering how green she was, I wasn’t about-to abandon
her. Luckily, she proved to be a quick learner. I gave her the
occasional pointer as we moved, and that was all she needed to keep
up. She was tough too. If she hadn’t been, she wouldn’t have been
drafted at sixteen, no matter how well she responded to the
Luciferase. But eventually we had to part ways, at which point I
figured she was done for. Once the battle was over, there was no way
for either of us to know if the other was still alive.</p>

<p class="para">Eventually,
the Legion surrounded us, and the only chance for survival was for us
to book it in different directions and hope one made it out. Since I
was both more likely to survive and had greater value in future
skirmishes, it made sense for me to run for safety──and yet, I
immediately took off right into the jaws of danger. It’s like Iw as
possessed by something; I can’t think of any other explanation. But
it makes me uncomfortable whenever I remember it, so I usually try
not to.</p>

<p class="para">“Can’t
believe you survived,” I say. “You got lucky.”</p>

<p class="para">She
shakes her head to indicate otherwise. “I’m alive because you
covered my escape.”</p>

<p class="para">“Wasn’t
trying to. Just made a bad choice, is all.”<br/>
	She opens her
mouth to speak again, but is interrupted when a man and woman start
raising their voices in the corner of the room. At first, I assume
they’ve also lucked into finding someone who speaks their language,
but it quickly becomes clear that isn’t the case. I don’t know
what they’re arguing about—some
trivial offense, most likely</span></span>—but
they’re going at it hard, spewing vitriol in languages the other
can’t comprehend.</span></span></p>

<p class="para">Finally,
the woman has enough and slaps the man across the face, and he grabs
her with an angry snarl. No one moves to intervene. We’ve all had
training in how to fight the Legion in hand-to-hand combat, and we
know how dangerous it would be to get between them,</p>

<p class="para">Just
then, the book at the arguing woman’s feet suddenly springs open.
She didn’t touch it, didn’t accidentally kick it</span></span>—it
just opens. The moment it does, a gigantic black hand explodes out
from its pages, grabs the man she’s been arguing with and crushes
him to death. He looks sort of confused when it happens, like he
can’t believe it, and the woman shares an equally dumb-founded
expression.</span></span></p>

<p class="para">A
second later, the man’s copy of the book starts to emit a brilliant
light. I figure there’s another hand on the way, but instead, the
book just sucks the man’s body into itself. As soon as the corpse
is gone, the light vanishes. The cover of the book changes from
blackish gray to a brilliant blue, and some sort of pattern emerges
on it── a pattern that looks uncomfortably like a human face.</p>

<p class="para">The
shocked silence that ensues is brief; the uproar that follows
immediate.</p>

<p class="para">“What
was that?!” cries the woman next to me.</p>

<p class="para">“How
the hell should I know?!” I reply as I reach for my copy of the
book. While I’d initially been hesitant to touch something I knew
so little about, things have changed, and I now feel like it’s
imperative to learn as much about it as possible.</p>

<p class="para">There
are no words or illustrations on the cover, not even a single scratch
or mark, and it also doesn’t feel like it’s made of any paper I’m
familiar with. Also, as my recent acquaintance had discovered, it’s
sealed up tight, almost like the pages have been glued together.</p>

<p class="para">“How
did she even get this thing open?” I muse.</p>

<p class="para">And
that’s when it happens. As if to answer my question──or maybe
to mock me for having asked it── an unseen speaker suddenly
begins to blare the same message in thirteen different languages
simultaneously. AT first it’s just a cacophony, but I finally
manage to locate the one speaking in my language. It’s an important
announcement, but hardly what I’d call helpful:</p>

<p style="margin-top: 1cm; font-size: 300%;"><i><b>EACH
OF YOU HAS BEEN GIVEN A MAGICAL GRIMOIRE. USE THEM TO KILL EACH
OTHER. ONLY TWO WILL SURVIVE.</b></i></p>
<br>
<p class="para">That’s
the entire message, looping over and over again. There’s no
explanation or anything. Just the message.</p>

<p class="para">“Top-secret
mission my ass…”</p>

<p class="para">As
I spit out the word, my eyes are already scanning the environment.
There are no windows or doors, no path of escape. If I want to
survive, I’ll have to fight. But starting a giant melee in a place
like this means it’ll be nearly impossible to ensure two people
survive. At best, you’ll probably have one survivor── and that
number could easily drop to zero. Still, I don’t want to be the one
to make the first move.</p>

<p class="para">The
woman in the corner reaches for her book, but a man beside her is
faster. He wraps his hands around her neck and twists it. There’s a
soft snap, and her limbs go limp. One down.</p>

<p class="para">I
figure her murderer will be the next to die; you’re the most
vulnerable when killing someone else. And just as expected. two men
are already coming at him from behind. They strike simultaneously,
and I can tell it’s not something they worked out in advance. They
just intuitively understood it’s the most effective tactic.</p>

<p class="para">But
the two attackers aren’t the ones who kill he man. As the woman’s
corpse is being sucked into her book, his face twists with anguish
and he collapses to the ground before being sucked into his own. Soon
the two grimoires are all htat remain: one with a jade-green cover,
the other the color of amber. As I watch, patterns in the shape of
strange faces emerge on both covers.</p>

<p class="para">“Use
the grimoire…” murmurs the woman at my side, and I understand
what she means. Apparently the lady who used the black hand from the
book hand been acknowledged as a victor. But the man who killed her
with his bare hands? Not so much.</p>

<p class="para">“So
that’s the deal, huh?”</p>

<p class="para">I’d
clearly been right not to make the first move, and she’d been right
to follow my lead. Now we understand the rules and have a better
grasp of the situation. But the problem is, I have no idea what to do
with the book. I mean, how the hell am I supposed to just start using
<i>magic</i>?</p>

<p class="para">I
feel my lips curl into a grin, even though there’s nothing remotely
amusing about the situation, and it finally hits me how shaken I
really am by all of this. Even the first time I had to face the
Legion, I managed to stay relatively calm. I knew if I just followed
my training, a solution would eventually present itself. But <i>this</i>?
I haven’t trained for this, and I have no idea if a solution is
going to present itself. Hell, I just watched three people die in
front of me because of <i>books</i>.</p>

<p class="para">Thinking
of that makes me want to slam my copy into the ground, but before I
can, someone grabs my arm. “I’m so glad there can be two
survivors,” says the woman. “That means you and I don’t have to
fight each other. We’re lucky! We can both survive!”</p>

<p class="para">Not
sure I’d call anything about this situation “lucky,” but she
smiles at me regardless. And not the weird half smile of someone
losing their shit like I am, but a true smile you can tell comes
straight from the heart.</p>

<p class="para">“So
relax,” she continues. “Everyone else is on their own, but we’re
a pair. If we work through this together, our two heads will figure
it out before anyone else.”</p>

<p class="para">She
might be right. Having an ally you can communicate with could be a
powerful weapon in a situation like this. “Okay, fair enough. Gotta
tell you, though, I ain’t exactly the brightest bulb in the lamp.”

</p>

<p class="para">She
chuckles before placing her hand on the cover of her book, but her
expression turns serious as she examines its stack of sealed pages.
“The woman before was angry. Also, she was moments away from being
killed. The black hand has to be connected to one of those two
factors.”</p>

<p class="para">Or
maybe both, but let’s set that aside for the moment. Still, having
to be at the brink of death to use this thing seems like a pretty
high hurdle. Maybe just being told to kill each other is enough to
satisfy the requirement?</p>

<p class="para">“So
in that case, perhaps…”</p>

<p class="para">She
lifts her head, as if an idea has occurred to her, but the excitement
on her face dissipates immediately. And I never get the chance to ask
what happened, because her body suddenly lunges forward as she
reaches out for me. 
</p>

<p class="para">I
feel the impact in my back and immediately understand I’m being
knocked away. Within my spinning field of vision, I see massive black
lances piercing her body, and all sound disappears. She must have
seen the incoming projectiles from over my shoulder and moved to
shove me aside. Maybe it was payback for what I’d done for her
three years earlier. Or maybe it was something else.</p>

<p class="para">The
book beside me lights up as I frantically scramble over to her. If I
don’t do something, she’ll be sucked into that book and disappear
forever──so I grab her hands tight and starting yanking as hard
as I can.</p>

<p class="para">“Don’t
disappear! Don’t you dare disappear on me!”</p>

<p class="para">Her
lips quiver. What is it? What is she trying to say? It’s in her
native tongue and I’m not bilingual like her, so I can’t
understand it. Hell, for that matter, I don’t even know her name.
We didn’t think we’d live to see each other again, so neither of
us had bothered with introductions.</p>

<p class="para">Suddenly
her weight slips from my arms. The hands ‘d been clutching so
tightly ar e gone, sliding through my fingers like water. All that
remains is a book with a deep red cover reminiscent of blood. The
face that appears on it doesn’t like hers at all.</p>

<p class="para">The
world fades. Goes white. I scream. I just…scream. Strange letters
in a script I’ve never seen before appear in front of my eyes,
blotting out my field of view. But I just keep screaming.</p>

<p class="para">Abruptly,
sound returns to the world. I hear shrieks, then moaning. Countless
sharp black spears protrude from the floor. As my hazy vision sweeps
the room, I see that everyone has been impaled simultaneously. The
strange script still envelops my field of vision, making the whole
spectacle feel somehow unreal, but when it finally clears, I see a
single man standing at the end of the room. He beams with pride as he
clutches his book in his hands, pleased with his apparent victory.
I’m guessing the spears came from him, just like I’m guessing
that strange script is the reason I’m alive right now.</p>

<p class="para">I
survived.</p>

<p class="para">The
thought brings me no joy. I have no impulse to grin victoriously like
the man across from me. Which is not to say I have any particular
desire to mourn the dead either. To be perfectly honest, none of it
matters to me.</p>

<p class="para">Suddenly,
I see bright lights out of the corner of my eye.</p>
<p class="para">Two
books have lit up──the one belonging to the man who is the
ostensible victor of this whole afraid, and the one given to me. The
other man is screaming something, his voice thick with dismay. I can
only imagine it’s something along the lines of “Hey, we’re the
last two! We’re supposed to get to leave here alive!” Thing is,
while the voice had promised that two could survive, it didn’t say
anything about letting us leave.</p>

<p class="para">Well,
I’d figured as much. The higher-ups at our organization aren’t
good people. In fact, I already know they’re lying when they claim
Luciferase will protect us from white chlorination syndrome. All it
does is delay the onset of symptoms──it doesn’t actually stop
anything. We’d all been deceived, and they were using us. They gave
us medicine that couldn’t protect us, then sent us into the heart
of the contagion. The children the pied piper had led away were all
going to get sick and die sooner or late──or else become monsters
and get killed. And this? This book thing? Probably just another one
of their human experiments. Our fates were sealed the moment they
gathered us here.</p>

<p class="para">The
man’s screams finally stop, and I see a face rise up on the
jet-black cover of his book. It doesn’t resemble his face any more
than the face on the red book resembles hers──or at least, I
don’t think it does. The reason I‘m not sure is because I’ve
already been sucked into a book myself. As to what color that one
becomes, I won’t be able to see it, but…</p>

<p class="para">Ah.
White. So I’m the white book: “Grimoire Weiss.”</p>

<p class="para">God,
what a stupid name. It’s all so ridiculous I can’t help but
laugh. So this is the beginning of some new farce? Now that we’ve
been given new faces, what part are we meant to play? I don’t know,
so I just keep laughing.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier/novellas">Back</a></p>