---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Mountain of The Damned</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}                                               
@media (prefers-color-scheme: light)
{
    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
}

</style><nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img style="width: 100%; height: 100%;" src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/media">
          Media
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>

<p style="margin-top: 1cm; font-size: 300%;">Mountain of The Damned</p>
<img src="https://i.imgur.com/DGWmQtn.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: <u>closesttopurple</u></p>
<p style="margin-top: 0.4cm; font-size: 200%;">Writer:
Jun Eishima <br>Concept by cavia/YOKO TARO <br>Translator: CaseyLoe</p>
<p class="title"><a href="https://drive.google.com/file/d/1Npw5gBHjezFbCXjgfNrUnmosnLZ0Idgg/view"><u>Old fan translation.</u></a></p>
<p class="line"></p>
<p class="title-special title-box"><i>Are humans doomed to struggle?<br>
Or do struggles make us human?</i></p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>1</strong></p>
<p class="para">When our mother left that night, she said the same thing she
always did: "I'll be back late. Don't wait up."</p><p class="para">
As I watched her disappear out the door, a sturdy bag slung
across her back, I said the same thing I always did: "Be careful."</p><p class="para">
A long time ago, the Junk Heap was a military base. After
the people who were stationed there abandoned the place, the
only things left were machines and robots filled with precious
metals—metals our mother started collecting to sell at the shop.</p><p class="para">
"Hey, Mom?" began Gideon. I knew my little brother wanted
to tell her to hurry home, but we weren't supposed to say things
like that, so I looked at him and shook my head before placing
my hands on his slumping shoulders. Despite my holding him
back, I could tell he still had half a mind to go racing after her,
and I soon began to feel uneasy. Even though this was the same
pattern we repeated day after day, I felt a sudden urge to do
something different.</p><p class="para">
"Mom?" I called out suddenly. Gideon looked up at me in
shock, but our mother didn't even turn around. Would she have
stopped if I had asked her to wait? Would she have stopped if
I'd yelled?</p><p class="para">
But I didn't do either of those things, and then she was gone.</p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>2</strong></p>
<p class="para">The first day after our mother left, Gideon asked me the same
question over and over again: "When's Mom going to be back?"</p><p class="para">
"I'm sure it'll be soon,"I told him. I understood his concern.</p><p class="para">
Our mother always came back in the afternoon of the following
day—and always in a terrible mood—but this was the first time
she hadn't returned home before nightfall.</p><p class="para">
"You said that same thing earlier, and she's still not here."</p><p class="para">
"Did I?"</p><p class="para">
"You're such a liar!" screamed Gideon as he burst into tears.</p><p class="para">
I'd kept myself busy preparing our meals and tidying up the
shop, but Gideon was still too young to help with that sort of
thing. He must have been bored out of his mind, which gave
him plenty of time to fret.</p><p class="para">
"She just went farther into the Heap than usual."</p><p class="para">
"Let's go meet her!"</p><p class="para">
"Absolutely not!"</p><p class="para">
My voice was louder than I meant it to be, and it made
Gideon flinch in surprise. "Remember what Mom said?" I
continued in a softer tone. "The Junk Heap is dangerous, so we
mustn't ever follow her. We promised her we wouldn't, and only
bad boys break their promises."</p><p class="para">
I don't know if Gideon agreed with that or not, but when
he started crying again, he did so quietly. He believed that when
Mom yelled at us or hit us it was because we were bad; he was
just too young to know anything else.</p>
<p class="para">Between tears, he pointed to his favorite picture book, and
we sat down to read.</p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>3</strong></p>
<p class="para">The second day after our mother left, I slipped out of bed in the
middle of the night—taking care not to wake Gideon—and
entered her room. It still smelled of her, probably from the last
time she stood in front of the mirror doing her makeup. It's a
thick, cloying scent I've never liked.</p><p class="para">
Her bed looked as it always did, but I had an ominous feeling
about her dresser and vanity. When I pulled open the drawers, I
saw that her best clothes were missing, as well as her travel bag.</p><p class="para">
Suddenly it made sense why the sack she had slung over her
shoulder as she left looked different: her travel bag was inside.</p><p class="para">
The vanity had also been emptied. All the pretty bottles were
missing, along with the can that contained her face powder. All
that was left was a curling iron and an old hairbrush she never
used anymore.</p><p class="para">
That's when I remembered the customer who'd come to our
shop the day before our mother left: a man from a distant town.</p><p class="para">
She had whispered to him for a really long time, then told me
and Gideon to go play outside. I don't know what they talked
about, but when he finally left, she seemed to be in an unusually
good mood. It was like her mind had already gone to live in that
same distant town, and she'd forgotten we existed. Really, she'd
been like that for a long time. She didn't care about us—we were
just things in the way.</p><p class="para">
The sound of her mirror shattering snapped me back to my
senses; I'd thrown her hairbrush at it without realizing. I was
worried the noise had woken Gideon, but the room next door
remained quiet. Sighing in relief, I set about picking up the
broken shards of glass.</p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>4</strong></p>
<p class="para">The third day after our mother left, Gideon alternated between
sobbing and throwing tantrums. I finally made him a crude toy
out of some leftover materials I found in the shop, which seemed
to calm him down.</p><p class="para">
Not to brag, but I'm pretty good with my hands. Even as a
kid, I used to work with materials our mother found in the Heap:
scraping off rust, polishing them, banging out dents. Eventually,
my skills were good enough that I could start strengthening
weapons. Our mother always hated dirtying herself with that
kind of work, so I taught myself to do it by playing with our
father's old tools.</p><p class="para">
As I tidied up the workshop, it hit me how few raw materials
we had left to sell. Whenever we ran low on stock, our mother
would gather more from the Junk Heap. But of course, now
she was...</p><p class="para">
At some point, I realized the issue of our mother's failure to
return had faded from the forefront of my mind. The materials
were a far greater concern, because without them, we had nothing
to sell and no way to make a living. We had a few days of food
left, but looking beyond that filled with me a deep sense of dread.</p><p class="para">
How were we going to get by? How would we feed ourselves a
month from now? Six months? Longer?</p><p class="para">
"Aren't you going to open the shop, Jakob?" asked Gideon
quietly. The concern in his voice was palpable; I must have had
a stern look on my face. I'd promised our mother to always keep
the shop open when she was away. Many of our customers didn't
come here strictly to purchase things. Instead, they were peddlers
like us who traded food and other household essentials for materials. But now...</p><p class="para">
"Shop's going to stay closed for a while," I replied.</p><p class="para">
"Why?"</p><p class="para">
"Because we don't have any stock."</p><p class="para">
"Oh. Well, when Mom gets back—"</p><p class="para">
"Everything is fine!" I announced loudly. Gideon flinched,
and I didn't blame him——my voice surprised even me.</p><p class="para">
"Look, your big brother's got things under control, okay?" I
said, giving him a gentle pat on the back. I had to keep cool. I
couldn't get angry for no reason. Whenever our mother was in
one of her moods, I always got flustered over my powerlessness,
and I didn't ever want him to feel that.</p><p class="para">
"You don't have to worry about a thing."</p><p class="para">
My words put a smile on Gideon's face. I marveled at how
easy it was to hold in my worry and fear and just be kind when
our mother could never be bothered to do even that much for us.</p><p class="para">
"Hey,"I continued, "how about I tweak that toy I gave you
earlier, see if I can't make it go a little faster?"</p><p class="para">
A smile bloomed across Gideon's face, and I could tell he'd
already forgotten about the shop and our mother. Such an effort
would have been far too much for <i>her</i>, but I'd become pretty good
at it. So even though our mother never did a damn thing for
us—and even if she really was gone for good—I knew I'd still be
able to keep Gideon smiling, which made me happy.</p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>5</strong></p>
<p class="para">On the fourth day after our mother left, Gideon disappeared. I
noticed he seemed unusually restless during breakfast, and after
I finished clearing the dishes and started cleaning the shop, I
realized he wasn't playing in the corner like usual. He also wasn't
in our room, our mother's room, or the kitchen. I searched every
corner of the house: the bureau, the closet, under the bed, and
any other place I could think of. Nothing.</p><p class="para">
Eventually I went outside, but he wasn't in front of the shop
or near the bridge to the plains. At that point, I finally started
to consider the unpleasant possibility that he'd gone to the Junk
Heap. As I stood there, I remembered how many times he'd told
me he wanted to go look for Mommy yesterday. I refused him
permission, but he might have decided to go anyway.</p><p class="para">
I ran, then. I ran as fast as I could. The Heap was forbidden,
the one place he must never go. Things happened there, you
see—things he must never experience.</p><p class="para">
Once, when Gideon was little and I was a child myself,
I disobeyed Mom and went inside the Junk Heap. Gideon
just wouldn't stop crying, and it made me want to cry, too, so I
decided to go after her. I heard her voice a short way past the
entrance, and was so relieved I started running after it. But my
feet froze an instant later when I heard a man's voice, along with
heavy breathing and low laughter. And when I finally convinced
my legs to move again, I witnessed something I never should
have seen.</p>
<p class="para">I don't remember what happened after that, but I know I never went after her again. In fact, I never so much as set foot
in the entrance to the Heap. So if Gideon had gone into that
forbidden ground, I had to bring him back—and fast. I rushed
through the narrow passages and scrambled up rusty ladders in
a blind panic until I finally heard him call my name, and the
emotion that welled up in that moment was more fury than relief.</p><p class="para">
"Look how much stuff I found!" he cried, as he ran toward
me with a happy smile on his face. I realized then he'd gone into
the Junk Heap in search of materials because we couldn't open
the shop without them. He probably thought I'd praise him for
it, just as I'd polished all those materials in the hopes our mother
would praise me, but the words that came out of my mouth were
anything but proud.</p><p class="para">
"I told you to never come in here!" I cried as I smacked the
materials out of his hand. Dented metal boards flew everywhere,
echoing as they clattered to the ground. The pride on Gideon's
face disappeared without a trace, and his eyes immediately filled
with tears.</p><p class="para">
"I'm sorry, Jakob ... "</p><p class="para">
I knew I'd done something awful to my little brother. I
couldn't stand to see the look of sorrow on his face, so I turned
around and started back, listening all the while to the sound of
little footsteps shuffling in the dust behind me.</p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>6</strong></p>
<p class="para">On the fifth day after our mother left, Gideon wouldn't stop
moaning about her. He behaved himself for a bit when we first
returned from the Heap, but he's not the sort of kid to suddenly
change his ways just because I got a little upset.</p><p class="para">
<i>When will Mommy be home?</p><p class="para">
Let's go look for Mommy!</p><p class="para">
Mommy, Mommy, Mommy, Mommy ...</p><p class="para"></i>
It's not like our mother was even nice to him. It was always
me who played with him, me who read to him. Sure, she cooked,
but even I could do that. When he needed comforting or wanted
to be tucked in? All me—which was why I couldn't understand
why he missed her so much. I mean, I knew I would have more
responsibilities with her gone, but it wasn't going to change
anything in his life. I found myself growing more and more
irritated as the day wore on, mostly because I couldn't afford to
take my eyes off him for even a second.</p><p class="para">
"I wanna go outside!" he said at one point. "I wanna go to
the Junk Heap!"</p><p class="para">
"No. I told you how dangerous that place is."</p><p class="para">
"Nuh—uh! It wasn't dangerous when I went there!"</p><p class="para">
"That's because you got lucky," I snapped. "You were lucky
none of them found you."</p><p class="para">
"None of who?"</p><p class="para">
"The killer robots," I replied. There were still functioning
machines and robots in the Heap, and they were said to be
extremely dangerous. "Dad was murdered by one of them. They
smashed him to pieces and ripped his arms and legs off."</p><p class="para">
That part about our father was a lie—I actually had no idea
how he died—but I said it anyway. I didn't feel great about lying
to Gideon, but if he wasn't scared, he'd keep going back there. So
I continued my tale, spinning a dramatic story about how our
father was attacked by a huge, violent robot. Gideon trembled
at the details and cried at the end, and as guilty as it made me
feel, there was also a sense of relief. If fear kept him safe, then
fear is what I would use.
"You don't need to worry,"I added as he sobbed. "I won't let
anything happen to you."</p><p class="para">
He ran to me then, clinging tight as tears rolled down his
face. As I held him close, I thought it was the greatest feeling
in the world.</p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>7</strong></p>
<p class="para">On the sixth day after our mother left, I woke up before Gideon
and nailed the back door of the house shut before doing the
same to anything that could pass for a window. That way, I'd
only need to keep my eye on the entrance. While I'd managed
to put the fear of robots into my brother, I knew I hadn't stifled
his curiosity about the Junk Heap or his childlike desire to play
outside. So even with my watching him around the clock, he'd
eventually try to make a break for it—and if that happened, I
wouldn't be able to protect him.</p><p class="para">
<i>Stay where I can see you, Gideon, I pleaded to myself. When
you woke up crying from nightmares, I stayed with you until you fell
asleep. When our mother got angry, I covered your ears so you couldn't
hear the cursing. When she wanted to punish us, I took your share of
it. So please just stay safe!</p><p class="para"></i>
Because I had never had anyone to protect me, I wanted
to safeguard him all the more. So that afternoon, I blocked the
Junk Heap entrance with a heavy crate I knew Gideon couldn't
move, then locked the chain—link door that leads to the bridge.
That bridge ran between our shop and the plains, and was the
only way for customers to reach us. By sealing the door, I could
keep Gideon shut up here forever—the one place I knew he
would be safe.</p><p class="para">
Of course, if customers couldn't come, we wouldn't be able
to get food or other supplies, and we were running low on every—
thing already. I didn't mind skipping a meal now and then, but
I couldn't allow Gideon to go hungry. I thought about going
down beneath the bridge and catching fish from the river, but
I didn't have the first clue how that worked. I then considered
making traps to catch the rats around our shop. It didn't seem
like it'd be too hard, but would that really work for food? Finally,
I decided that if worse came to worst, I'd cut off one of my own
limbs and feed it to him. Thankfully, the need for that solution
was still a little ways off yet.</p><p class="para">
I searched every last crevice of the kitchen and came up
empty. If only our mother had left us more food! But of course,
if she'd thought to do that, she wouldn't have been the sort of
person to abandon us in the first place. All that mattered to
her was makeup, fancy clothes, and the man who used to visit.
Nothing else meant anything at all.</p><p class="para">
That was enough thinking about our mother; I needed to
focus on what to do next. Food was important, of course, but so
was keeping Gideon placated. If only he were more docile, less
obsessed with our mother, and less interested in the Junk Heap.
Why couldn't he have been one of those sickly kids who never
got out of bed? Then he'd just read books and play with toys, and
I'd have a lot less to worry about.</p><p class="para">
If only Gideon weren't able to leave the house. If only he
were incapable of moving without my help. If only ...</p><p class="para">
That night, I quietly opened the door to our room and found
Gideon sound asleep. He moved around a lot when he slept, and
the blanket was now halfway off the bed. Tucking him back in
was another one of my jobs, one I did several times a night and
now needed to do again.
As I stood there, I again considered how much easier it
would be to protect him if he couldn't walk. My hand trembled
slightly at the thought, the knife it held heavy as a stone.</p><p class="para">
<i>It's not like there's anywhere he needs to go, right?</i></p><p class="para">
There was no reason for him to walk. If he wanted to visit
another part of the house, I'd happily carry him. I looked down
at his slim, naked legs. He didn't need those—in fact, he'd be
better off <i>without</i> them. Because if Gideon couldn't walk, I could
be his good big brother forever.</p><p class="para">
<i>Get it done quickly, before he wakes. Grit your teeth, get the knife
in there, and do it.</i></p><p class="para">
Would he cry? Probably. But if so, I'd just cradle him in my
arms. Read his favorite picture book. Make another toy.</p><p class="para">
<i>I promised to protect you and I will. I'd give my life to protect
you. Right here, in this house, I'll protect you forever. Forever until
I die. And in exchange, you just have to give me this one little thing.
Just give me that much.</i></p><p class="para">
But as I raised the knife ...</p><p class="para">
"Ja ... kob ... "</p><p class="para">
My hand froze. He was talking in his sleep, a smile spread
across his lips like he was having some wonderful dream. It was
as happy as I'd ever seen him, and I realized that joy was what
I'd wanted to protect—what I was <i>supposed</i> to protect.</p><p class="para">
The strength ebbed out of my hand as if something had
unraveled within me. What was it I'd come to do? Why was I
even in standing here? In a panic, I fled the room and ran outside.
I'd meant to put the knife back, but it was still in my hand, so
I ran to the chain—link door and hurled it with all my might,
sending it soaring past the bridge and down to the plains below.</p><p class="para">
When this was done, I unlocked the door and moved
the crate back so the Junk Heap was accessible again. Then,
exhausted, I dragged myself back to our room, straightened
Gideon's blanket, and fell into a dark and dreamless sleep.</p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 180%;"><strong>8</strong></p>
<p class="para">On the seventh day after our mother left, we ran out of food. We
also had nothing to sell, but I decided to open the shop anyway,
figuring we had to make a living somehow. I was thinking about
melting down our pots and pans for scrap when I heard the creak
of the chain-link door, followed by a pair of voices. It seemed we
had not one customer, but two.</p><p class="para">
<i>Did he just call someone "Weiss"? That's an unusual name. And
who is the other customer?</i></p><p class="para">
"Jakob! I'm huuuungry!"</p><p class="para">
"I know, hold on. I think there might be something left in
this cupboard ... "</p><p class="para">
As I searched for something to give him, a terrible thought
struck me: What if I killed these two and took their money?
Most of our customers carried cash and valuables on them, after
all. But as quickly as the idea came, it passed. How could I hope
to kill them when there were two of them and one of me, espe-
cially when I was still a child? Besides, even though most of our
customers were disreputable sorts, those two might be decent.
Finally, whoever they were, they'd be our first customers since our
mother left and the shop became mine, and I figured I should
treasure their business even if I didn't have anything to sell.</p><p class="para">
When the door to the shop finally opened, I called out a
welcome and greeted them with my brightest smile.</p>
<p class="line"></p>
<p class="menu" id="backButton"><a href="/stories/nier/novellas">Back</a></p>