---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Red and Black</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Red and Black</p>
<img src="https://i.imgur.com/JJo99OV.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: <u>closesttopurple</u></p>
<p style="margin-top: 0.4cm; font-size: 200%;">Writer:
Jun Eishima <br>Concept by cavia/YOKO TARO <br>Translator: Jasmine Bernhardt</p>
<p class="title"><a href="https://drive.google.com/file/d/1xXPFdN8mNm_Rl20x_2yOxc-e6sBFDm0v/view"><u>Old fan translation.</u></a></p>
<p class="line"></p>
<p class="title"><i>A
normal life comes at the cost of all. </i></font>
</p>
<p class="title"><i>Shadowy
hues are valiant, existing on the brink of madness.</i></font></p>

<p class="line">
<p class="para">As
Nier reached down to pluck an egg from the dew-soaked grass, birdsong
echoed in the distance, signaling a pleasant day ahead.<i> Looks like
this is the last one,</i><span style="font-style: normal"> he
thought.</span> C<i>an't leave any behind when they lay only one a
day.</i></font></p>

<p class="para">"That
all of 'em?"</font></p>

<p class="para">He
turned to see the owner of the chickens coming up a nearby rise. Nier
held out the basket to the other man, who took it from him and
quickly tallied up the count. "Nice work, boy," the man
said. "Oh, and the wife's fever broke, so I think she can go
back to collecting eggs after today. Can't thank you enough for
everything you've done for us."</font></p>

<p class="para">"Happy
to help," responded Nier.</font></p>

<p class="para">"I
got the payment you asked for, but are you sure don't want money or
food or nothing?"</font></p>

<p class="para">"No,
a baby chick is fine. Yonah will love it."</font></p>

<p class="para">"Well
then, pick whichever one you want from the basket."</font></p>

<p class="para">The
man gestured to a gaggle of chicks born the day prior. Nier had no
idea how to tell one from the other, so in the end he chose one that
seemed especially energetic. As he went to grab it, the chick began
running around the basket as if fearing the idea of being separated
from its fellow hatchings. But after a couple of stops and starts, he
was finally able to cup his hands gently around the animal and head
for home.</font></p>

<p class="para">When
Nier had gone to collect the eggs he had been the only villager
stirring, but now things were beginning to buzz with the morning
energy of merchants and shoppers. As he walked down the street
exchanging greetings with various merchants, the owner of a grocery
shop called out to him.</font></p>

<p class="para">"Nier!"
she cried. "Hey, hold up. I hear Popola asked you to pick
medicinal herbs today, and I'm hoping I can pile on and get you to
grab some mushrooms."</font></p>

<p class="para">Though
sudden, such a request was not abnormal. Wild beasts roamed the area
outside the village-as well as other, darker things that lurked in
the shadows-and people didn't like to stray far from the walls of the
town unless the sun was at its zenith. And with only a few hours a
day where that was the case, Nier was often the one they turned to
for morning or evening adventures.</font></p>

<p class="para">"Mushrooms?
You got it."</font></p>

<p class="para">"Oh,
you are just a delight! When you get back, I'll give you a pumpkin. I
just got a big one in that I know your Yonah will love!"</font></p>

<p class="para">"Sounds
great!" replied Nier as he dashed away. He quickly found himself
approaching the little brick house where he lived with his sister,
Yonah. It was all they had left of their parents, but along with the
kindness of the villagers, it had been enough to keep them healthy
and happy for some time now. After a second, he spied Yonah waving at
him from a window and picked up his pace.</font></p>

<p class="para">"You're
back!" cried Yonah, who burst out from inside the house before
Nier could even open the door. Her breath was ragged from having
rushed down the stairs.</font></p>

<p class="para">"I
sure am. Also, didn't I tell you not to run around before and after
bed?"</font></p>

<p class="para">"Oh...right."</font></p>


<p class="para"></font></p>
<p class="para">Yonah
was a sickly girl who fell ill when the seasons changed, became
feverish if she stayed up later than normal, and started coughing if
she moved around too much. She also wasn't much of an eater, and had
thrown up her dinners more times than Nier cared to remember.</font></p>

<p class="para">"I'm
sorry. Am I going to start coughing again?"</font></p>

<p class="para">"You'll
be fine so long as you eat your breakfast and behave.</font></p>

<p class="para">Now
let's get inside before we both freeze to death in the wind." As
Nier pulled the door shut behind him, he turned to Yonah and smiled.
"Oh, hey! I have a present for you."</font></p>

<p class="para">As
his sister squealed with delight, Nier brought his hands up to her
ear. The peeps of the chick inside were quiet, but they proved enough
to reveal the surprise.</font></p>

<p class="para">"It's
a chick!"</font></p>

<p class="para">"Yep.
Now hold out your hand." He gently placed the chick onto her
palm, where it huddled and shivered in shock from the sudden flood of
light.</font></p>

<p class="para">"It's
so warm and fluffy," whispered Yonah.</font></p>

<p class="para">"Yeah,
it's still pretty little, so we can keep it in the house until it
grows."</font></p>

<p class="para">"WE
CAN?!"</font></p>

<p class="para">"Sure
we can. We used to do that all the time back when Mom was still
alive."</font></p>

<p class="para">Saying
this caused Nier to think on the early days of his childhood, when it
had been his job to feed the chickens that lived in the garden. Their
mother was too busy managing the household to take care of animals,
and their father was often away on business in some faraway land-the
same place he died not long after Yonah was born.</font></p>

<p class="para">Nier
could barely recall his father's face, and the man's passing had had
little effect on the family's daily routine. Their mother raised
vegetables in the garden and sewed clothes for the villagers; so far
as Nier knew, his mother's hands didn't stop working until the day
she died five years ago.</font></p>

<p class="para">Nier
was ten and Yonah not even two when it happened. The evening had
begun like any other, with their mother stirring a pot of stew in the
kitchen. She turned to Nier and asked him to fetch some bowls from
the shelf, then collapsed to the floor with a heavy thud. Unable to
comprehend what was happening, he burst from the house and ran to
Popola in the library, figuring the woman in charge of all those
books would know what to do. But although respect for Popola's wisdom
was a sentiment shared by all who lived in the village, she proved
unable to help his mother, simply shaking her head when she finished
examining the body.</font></p>

<p class="para">Nier
found it hard to accept this most sudden of changes. It had seemed
less like life leaving a person and more like an object suddenly
breaking. And yet, when he saw the look on Popola's face, he knew
without a doubt that his mother was no more.</font></p>

<p class="para">When
Popola's older twin sister, Devola, helped put his mother's body in a
casket, Nier felt nothing. When the villagers began preparing for the
funeral, Nier felt nothing. It was as if his mind had gone numb. He
never even felt an urge to cry until a moment at the service when his
eyes began to well up. The pit of his throat began to squeeze shut
and his vision went blurry, but he pushed the emotions down because
Yonah had started crying herself. Though she wasn't old enough to
understand her mother's death, the fact her brother was ready to cry
was enough to upset her. But when he smiled down at her, her tears
immediately stopped and once he wiped the wetness and snot from her
face, she began to smile again.</font></p>

<p class="para"><i>	Both
of our parents are gone now, he thought in that moment. Which means
I'm the only one who can protect Yonah.</i></font></p>

<p class="line">
<p class="para">Once
they were done with breakfast-simple leftovers from the day
before-Nier began preparing to leave again.</font></p>

<p class="para">"Can
I come with you?" Yonah asked. "I want to help.”</font></p>

<p class="para">The
medicinal herbs he needed to collect were most common just outside
the eastern gate at this time of year, and he'd taken his sister
there before. But before he could answer, she was overcome by a
series of short, staccato coughs.</font></p>

<p class="para">Nier
had heard worse, and he felt no fever when he put his hand on her
forehead, but the answer was already</font></p>

<p class="para">"Sorry,
Yonah, but no. We can't take the risk of you getting worse
overnight."</font></p>

<p class="para">She
appeared dejected, but didn't push the issue as Nier looked on with
concern. A fever had left her bedridden just a week prior, and while
her temperature had gone down and her appetite was back, the
lingering cough still concerned him.</font></p>

<p class="para">"Look,
you can go outside for a bit if you want, okay?" he said in an
attempt to make amends. The moment the words escaped his lips, her
energy came roaring back.</font></p>

<p class="para">"Can
I go on an errand?!"</font></p>

<p class="para">"You
can buy one onion and one carrot. All right?"</font></p>

<p class="para">"Can
I buy the smallest carrot?”</font></p>

<p class="para">"What?
No. Remember how Popola said carrots are good for you?"</font></p>

<p class="para">"Fine,
I'll eat my carrots. That should cure my fever and my cough, too,
right?"</font></p>

<p class="para">By
way of an answer, Nier reached out and patted Yonah on the head
before placing a single bronze coin in her hand. Considering he would
be paid for the herbs that day, a single coin seemed a reasonable
price to make his sister happy. But as she grabbed her shopping
basket and dashed out of the house, thrilled to be leaving for the
first time in a long while, Nier caught up to her and took her hand.</font></p>

<p class="para">"I
thought you were going to the eastern gate," she said. "I'll
go with you to the fountain."</font></p>

<p class="para">The
gentle slope from the house to the fountain made running a tempting
option, but past that there were more people about, which made Yonah
less likely to bolt. At times like this, he often wondered if he was
being overprotective, but made his peace with the matter by reminding
himself he didn't want to see his sister in pain.</font></p>

<p class="para">"Nier,
look! Something splashed! Is it a fish?"</font></p>

<p class="para">As
Yonah pointed to the canal with gleaming eyes, Nier readjusted his
grip on her hand to ensure she was secure. "The fish in the
canals don't jump. Some of the ones in the sea do, but these guys are
pretty calm."</font></p>

<p class="para">"I
want to get some water," said Yonah after a second's pause.
"Nope. Sorry. Buckets get really heavy when they're filled with
water, and I don't want you falling into the canal.”</font></p>

<p class="para">As
said canal was a precious lifeline for the entire village, people
could only fish in certain areas and children were not permitted to
splash around. This was why the majority of the villagers including
Nier and Yonah-didn't know how to swim. If anyone ever fell in the
water, there would be no one coming to save them.</font></p>

<p class="para">"Aw,
boo," said Yonah. "I wish I could help you more."</font></p>

<p class="para">"Hey,
you're going on an errand, remember?" Nier reassured her. "That
means you are helping."</font></p>

<p class="para">As
Yonah nodded in delight, the soft plucking of strings came drifting
on the wind. Soon they saw Devola playing her beloved instrument and
singing softly as she sat next to the fountain. Nier couldn't imagine
the village without her voice in the background-it would be like
having the library without Popola.</font></p>

<p class="para">Yonah
let go of Nier's hand and ran to Devola, and this time he didn't stop
her. She looked up to Devola and Popola like they were her mothers or
perhaps older sisters and preventing that most innocent of meetings
seemed unnecessarily cruel.</font></p>

<p class="para">"Morning,
Yonah!" said Devola as she reached out to pinch the younger
girl's cheeks. "Is your fever gone?"</font></p>

<p class="para">"Yep!
And did you know I'm going on an erra—"</font></p>

<p class="para">Before
Yonah could finish, a dry cough exploded from her lungs. Devola
looked up at Nier as he approached a few moments later, concern
written across her face.</font></p>

<p class="para">"Her
fever went away three days ago, but the cough is still sticking
around," he explained.</font></p>

<p class="para">"Mm,
I see. Well, at least it doesn't seem like a bad cough." Devola
was right. It wasn't the phlegmy cough Yonah often got with a throat
ailment, nor was it the kind that left her wheezing whenever she
inhaled. It was a dry, almost weak thing but while his sister didn't
seem too bothered by it, the fact she'd never had this particular
sort of illness made Nier nervous.</font></p>

<p class="para">"You
should drop by and see Popola when you're done with your errands,"
Devola suggested. "Last night she made a cough suppressant for
the lady that runs the weapon shop, and I bet she has some left
over."</font></p>

<p class="para">Yonah
wrinkled her nose as she recalled Popola's bitter medicinal brews.
Her dismayed expression caused Devola to laugh. "You know, I bet
Popola would be happy to read to you if you drank the whole thing."</font></p>

<p class="para">"Will
she read me the book about the big tree?" "You bet."</font></p>

<p class="para">"Okay,
then I'll go see her. I don't like it, but I'll take her icky
medicine and then she has to read to me!" "<i>After</i>
your errands, yes?"</font></p>

<p class="para">"Oh
yeah!” cried Yonah. "I'll be right back!"</font></p>

<p class="para">Devola
grinned as the girl spun on a heel and took off for the shopping
district, and Nier gave a polite nod before setting off on his own
task. He retraced his steps to the house, climbed a steep hill, and
soon found himself standing before the eastern gate, where the usual
guard was stretching and trying to blink the sleepiness out of his
eyes.</font></p>

<p class="para">"Good
morning," said Nier.</font></p>

<p class="para">"Morning,"
replied the guard. "And hey, be careful out there today, all
right? Word's going 'round that one of the guys spotted a Shade just
outside town."</font></p>

<p class="para">Shades
were dark creatures that attacked people indiscriminately, and far
more dangerous than any wild beast. The terror they inspired was the
reason most people never wanted to leave the safety of the village
walls.</font></p>

<p class="para">"Nice
day out, though," the guard added. "So they'll probably
leave you be."</font></p>

<p class="para">Sunlight
damaged Shades, which meant they rarely showed themselves on warm,
bright days. However, that made dim nooks and thick brush all the
more dangerous during cloudy days or when the afternoon moved to
evening. Yet because their weakness was to the sun specifically and
not merely any light, even the brightest torch had no effect on them.
No one knew why this was and in fact, they all had far more questions
than answers about Shades. Were they alive? What did they cat? How
did they proliferate? Did they have any degree of intelligence? Even
these most basic facts were a mystery to all.</font></p>

<p class="para">Fortunately,
Nier had never heard of Shades appearing near the eastern gate.
Goats, on the other hand, did. Those grumpy critters were far more
temperamental than the sheep on the plains, and a careless approach
was likely to be met with both hooves and horns. So as Nier passed
through the gate and began gathering his herbs, he made sure to give
the grazing animals a wide berth. Someone once told him that people
long, long ago used to keep domesticated goats and sheep, but he
wasn't sure if that was true. He couldn't imagine raising such
creatures like you would a pig or chicken. In fact, he had no idea
how you'd keep them calm at all, unless it was through some kind of
magic.</font></p>

<p class="para">While
thinking on the past, he remembered how someone once told him the
night was pitch black in ages past. He could scarcely believe this,
either, but if true, it meant there hadn't been any Shades back
then-if the sky went dark after the sun vanished behind the horizon,
they would have wiped out humanity in no time. A shudder ran down his
spine as he imagined a world that ended in darkness every day, and
marveled at how people once went about their lives free from the
terror of Shades. He decided to stop his musing there, because there
was no point in imagining what things were like long ago; it wouldn't
make their lives easier, nor would it make Yonah healthier.</font></p>

<p class="para">Once
his bag was full of herbs and his basket overflowing with mushrooms,
he looked down at the shadow at his feet. He was done earlier than
expected, and there was still plenty of time before the weak gloam of
evening arrived. If he went a bit farther, he could reach the tree
that bore Yonah's favorite red fruit. But despite having the time, he
decided to head back to the village anyway. For a reason he couldn't
put his finger on, he just wanted to be with Yonah today.</font></p>

<p class="line">
<p class="para">"Yonah
came and left not too long ago," Popola said with a smile as she
took the bag of herbs from Nier. "You just missed her. Honestly,
I wish I could have read her another book-but when letters come in, I
have to read them. Duty calls and all that."</font></p>

<p class="para">"It's
all right, Popola. I'm sorry she was bothering you while you were
working."</font></p>

<p class="para">Popola's
job included a wide array of things. While most of their
responsibilities revolved around managing the library, she and Devola
were also in charge of all matters concerning life and death in the
village and surrounding area. They helped deliver every baby that was
born and arranged funerals for every person who died. That, combined
with Popola's seemingly endless supply of general knowledge, made her
a treasured resource. Whenever trouble visited a community, they
dropped everything to send letters and messengers in search of her
wisdom.</font></p>

<p class="para">"Her
cough is different this time, isn't it?" asked Popola in an
almost offhand way.</font></p>

<p class="para">Mixed
emotions immediately rose up in Nier: anxiety that he'd been right
about the oddness of her cough, as well as relief that Popola didn't
seem too worried about it.</font></p>

<p class="para">"I
didn't give her a suppressant," she continued. "I thought
it better to just keep an eye on her for now."</font></p>

<p class="para">"I'll
be sure she gets to bed early," replied Nier, his mind already
whirling with plans.<i> I'll need to feed her soon, then make sure
she has enough blankets. After that, I'll have to see she doesn't
leave the house tomorrow, and also-</i></font></p>

<p class="para">"Enough,"
chuckled Popola. "I see your gears turning. You're going to end
up sick yourself if you worry this much." "But-"</font></p>

<p class="para">"Seriously,
stop. You're doing fine."</font></p>

<p class="para">Hearing
those words brought Nier genuine relief, and he was again struck by
how the twins took such a personal interest in Yonah and himself.
After leaving the library, he delivered the mushrooms and received a
pumpkin in return before heading home. It was an especially sweet
variety of pumpkin, and he planned to boil it for dinner, which was
one of his sister's favorite meals.</font></p>

<p class="para">As
he approached the house and looked up at the second- floor window, he
noticed it was empty. Yonah was always glued to the glass when it was
time for him to come home, and seeing it bare caused a horrible
feeling to form in his stomach. Screaming her name, he ran to the
door and practically kicked it open, only to find her sitting on the
floor with a confused look on her face and the baby chick in her
hand. A wave of relief almost knocked him off his feet as he realized
she hadn't been upstairs because she was caring for the hatchling.</font></p>

<p class="para">"What's
wrong?" she asked.</font></p>

<p class="para">"Nothing,"
muttered Nier as he started to feel silly for picturing his sister
collapsed on the floor in the midst of some coughing fit.</font></p>

<p class="para">"Our
little chick ate so much!" Yonah announced as she happily ran a
finger over its head before gently placing it back in the basket.
"Oh, and Popola said I don't have to take any medicine! She just
wants me to stay warm, go to bed early, and..."</font></p>

<p class="para">As
usual, Yonah began rambling on about everything that happened that
day, almost as if she wanted to reclaim the time they'd been forced
to spend apart. Relieved, Nier let her talk as he set down his things
and began preparing a fire in the kitchen. But a moment later, her
monologue was interrupted by a dry cough and in an unexpected turn,
it didn't stop, but instead began to get worse.</font></p>

<p class="para">"Easy,
Yonah. You're talking too much. Try to stay quiet for a little bit,
okay?"</font></p>

<p class="para">Just
as he was about to turn back to his business, he heard a quiet splat
like she'd just coughed up her lunch. He whirled around, ready to run
over and help, then froze. Yonah's hands were pressed to her mouth,
and a thick black fluid was leaking through the fingers. A grim odor,
clearly not vomit, filled the air, and it took him a moment to
recognize the scent of blood.</font></p>

<p class="para">"It...hurts..."
moaned Yonah. She attempted to stand as tears filled her eyes, but
another coughing fit kept her planted on the ground. Globs of dark
red blood began to pour from her hands and puddle on the floor,
almost as if some creature inside her was attempting to burst out.</font></p>

<p class="para">As
he looked on, a thought forced its way into his mind-a thought of a
disease so horrible, it was nicknamed "the Reaper." The
Black Scrawl.</font></p>

<p class="line">
<p class="para">"That
should keep things calm for now."</font></p>

<p class="para">Popola's
eyes shifted to the door, silently urging Nier to leave the room.
Devola, who had stayed by Yonah's side until she finally fell asleep,
nodded.</font></p>

<p class="para">Nier
didn't remember exactly what happened after he thought about the
Black Scrawl. He knew he ran out of the house with Yonah in his arms,
he knew she cried about her back hurting, and he vaguely recalled
running into Devola and having her send him back to the house. His
first truly clear memory was cleaning up the blood on the floor with
Devola, then Popola arriving with medicine. But even though they were
the two people he trusted most in the world, their presence did
nothing to stop his anxiety.</font></p>

<p class="para"><i>	When
our father died, Mom was still around. And when Mom died, Yonab and I
bad each other. But what happens if</i> Yonah <i>dies?</i> He was
unable think beyond that, it was as if his thoughts were being
swallowed by a dark and bottomless abyss.</font></p>

<p class="para">"Why
Yonah?" Nier asked a little later when it was just him and
Popola alone on the first floor. "Is it because I didn't take
good enough care of her? Was my food bad?"</font></p>

<p class="para">"Of
course not. You take very good care of her, and you feed her quite
well</font></p>

<p class="para">"Then
is this...is this Mom's...?"</font></p>

<p class="para">His
voice quivered and the question died in the air, but his mind was
more than happy to finish it for him: I<i>s this Mom's fault?</i> The
Black Scrawl had killed their mother without warning five years
before, but it was a long time before Popola revealed this
information. Their mother apparently didn't think her children would
understand, so she'd kept her symptoms hidden and continued to push
herself without pause until the very end.</font></p>

<p class="para">"This
is no one's fault," Popola had said at the time. "While
it's true no one knows the cause of the Black Scrawl, it isn't a
genetic condition, nor is it contagious. There's also no relationship
between it and constitution or lifestyle, so it's not unusual for
perfectly healthy people to contract it."</font></p>

<p class="para">Nier
suddenly stopped musing on the past and stared at it?"</font></p>

<p class="para">Popola.
"Did you know?" he asked. "Did you know Yonah had He
suspected one of the sisters knew, especially since Devola was the
one who told them to visit Popola when she heard Yonah's cough. But
then Popola opted not to give her a suppressant, saying they would
keep an eye on her instead. So maybe she knew normal medicine
wouldn't help at all.</font></p>

<p class="para">"I
hoped I was wrong," she replied in a whisper. "But Devola
and I have seen so many cases of the Black Scrawl now that I...I
just..."</font></p>

<p class="para">"What's
going to happen to her?"</font></p>

<p class="para">Nier
couldn't bring himself to ask the real question on his mind: <i>How
long will she live?</i> He knew the Black Scrawl was fatal, and that
no drug or treatment could cure it. The Black Scrawl scared <i>everyone</i>,
which is why everyone knew a thing or two about it. After it claimed
his mother, he found himself listening carefully whenever adults
started talking about it.</font></p>

<p class="para">"It's
different for everyone," began Popola, "but the fevers,
cough, and pain will last for a while. Some people complain about
aching in their arms or legs, but since Yonah said her back is
hurting, that means her pain is coming from her bones."</font></p>

<p class="para">Popola
went on to explain how the pain would eventually spread through the
entire body, rendering Yonah bedridden. Even lying motionless would
not dull her agony, and each time she coughed up blood, the symptoms
would grow worse. The description made Nier's heart clench as he
thought about how their mother had managed to bear such agony while
still greeting them every day with a smile.</font></p>

<p class="para">"Once
you see black writing appear on the body, it means the end is close,"
finished Popola sadly. "I'm sorry. I truly am."</font></p>

<p class="para">"There
must be something we can do," said Nier. He knew it was a stupid
sentiment, but that was precisely why he felt the need to bring it
up.</font></p>

<p class="para">"We
can manage the pain somewhat with medicine, but as for a cure..."</font></p>

<p class="para">"Then
let's stop the pain. We'll worry about the rest later." He
couldn't stand the idea of his sister suffering, so if there was a
way to take that away, he was more than happy to pursue it. But
Popola quickly brought him back to earth with a small shake of the
head.</font></p>

<p class="para">"That
medicine isn't something we have on hand, nor is it a thing we can
make by scavenging materials that grow around the village like we do
with our cough and fever cures."</font></p>

<p class="para"><i>Which
means it's going to be expensive</i>, thought Nier. Since he was the
one who gathered materials for the village, Popola usually gave him
medication whenever he needed it. That clearly would not be the case
this time.</font></p>

<p class="para">"But
still...it's Yonah."</font></p>

<p class="para">Popola,
looking woeful, cast her eyes downward and said nothing more.</font></p>

<p class="line">
<p class="para"><i>This
is Yonah, and I'll do anything for her.</i></font></p>

<p class="para">Nier's
sentiment as Yonah's older brother was genuine, but reality was not
so forgiving.</font></p>

<p class="para">He
was able to purchase the first order of painkillers by draining their
savings. After their mother died, Nier found letters from their
father along with a small pile of coins. He never touched the money,
instead saving it for the day they absolutely needed it—which was
likely the reason their mother hadn't spent it either. Meager as they
were, having emergency funds around proved reassuring so much so that
when Popola first told him the painkillers were expensive, he knew he
would manage somehow.</font></p>

<p class="para">When
he finally got the first order, he was pleasantly surprised at how
well they worked. They did nothing for Yonah's low-grade fever or
cough, but those had been light to begin with. In fact, the cough
caused by the Black Scrawl wasn't as bad as the one she got when the
seasons changed, which often kept her up all night for days on end.
So as long as the pain of the Black Scrawl was held at bay, the
physical burden on her was practically absent.</font></p>

<p class="para">But
this was only a temporary reprieve; once they ran out of medication,
the pain would return with teeth and talons bared. Sadly, sooner than
he ever imagined possible, they had drained the last coin of their
savings.</font></p>

<p class="para">"Are
you going out already?" asked Yonah as she sat up in bed and
rubbed her eyes. Nier had done his best to get ready without making
any noise, but she had sensed his movement anyway.</font></p>

<p class="para">"I'm
picking royal ferns today, so I need to leave early. Now go back to
sleep."</font></p>

<p class="para">"Are
you going out to where the scary sheep are?" she demanded as her
face clouded over. She knew royal ferns were abundant in the northern
plains, along with Shades and the surprisingly terrifying wild sheep.</font></p>

<p class="para">"I'm
sorry," she continued. "This is all because I'm sick.
That's why you have to"</font></p>

<p class="para">"Don't
worry about me. No sheep could ever beat your big brother. Remember
when I brought home that mutton?" He left out the fact he'd been
with an adult from the village at the time, and that the sheep had
already been weakened from a trap. "Besides, I'm only going to
pick ferns today, but I promise to bring some mutton home soon."</font></p>

<p class="para">This
wasn't merely a lie to make her feel better-he truly was stronger and
faster than he had been a year ago. In fact, if he had a real weapon,
he could likely take down as many sheep as he wanted. Acquiring such
a thing, however, was a challenge currently beyond his means.</font></p>

<p class="para">"I'll
be back later," he said with a smile. Yonah raised her hand to
wave goodbye and wish him luck, but the gesture was stopped short by
another cough.</font></p>

<p class="para">Nier
quickly made his way to the southern gate. Most of the villagers were
still asleep at this hour, and the market street was nearly deserted.
For a long while, the only sounds were the echo of his own footsteps,
but then he made out the faint creak of the waterwheel and some
clucking hens. He figured the chicken keeper's wife was probably out
collecting eggs, and a moment later, his guess was rewarded by the
sight of a familiar face by the gate.</font></p>

<p class="para">"Good
morning!" he called from several paces away, making sure not to
accidentally crush any eggs hiding in the tall grass.</font></p>

<p class="para">"Heya,
Nier!" replied the chicken keeper's wife. "Another early
morning for you?"</font></p>

<p class="para">"Sure
is. Speaking of, I was wondering if you had any work for me?"
Nier needed as many jobs as he could handle in order to afford
Yonah's medicine, so he'd made a habit of asking any passing villager
if they could use a spare hand.</font></p>

<p class="para">"Sorry,
but we've got things sorted for now," said the woman in an
apologetic tone. She and her husband never raised more chickens than
they could handle between the two of them- not that the grasses and
bugs in the area could support a great number of chickens anyway. If
they got more, they'd have to go out of their way to buy feed, and
they didn't have the money for that kind of expense.</font></p>

<p class="para">"Actually,
you know what? If you ever get a job that takes you to Seafront, pick
up some seashells for me, okay?"</font></p>

<p class="para">Seafront
was a long way to go for a single errand, and not a place Nier was
very fond of. While he'd only been there once, the experience had
given him some very unpleasant memories.</font></p>

<p class="para">"Why
shells?" he asked in an attempt to hide his discomfort. "I
heard that feeding crushed shells to chickens helps 'em lay better
eggs."</font></p>

<p class="para">"Well,
I'll be sure to pick some up if I get a job out that way, but it will
probably be a little bit."</font></p>

<p class="para">"Oh,
sure, no rush. Just whenever you happen to be in the area."</font></p>

<p class="para">Their
chat complete, he continued down the empty market street to the
northern gate, where he discovered one of the two guards on duty. As
always, Nier asked if there was work available, but the guard only
gave a troubled shake of the head.</font></p>

<p class="para">"Sorry,
no," he said. "But I'll ask anyone who passes through for
you, so stop by on your way back."</font></p>

<p class="para">"Thank
you."</font></p>

<p class="para">"Sure
thing. Wouldn't expect too much, though."</font></p>

<p class="para">The
guard's warning was understandable, for while the villagers were all
kindhearted, theirs was a particularly destitute hamlet. The scrap
wheat and tiny river fish that served as chicken feed and bait in
other towns were precious sources of food in the town. In addition to
lacking food, most people didn't have the financial leeway to hire
workers, which meant jobs were in incredibly short supply. Even the
villagers who were comparatively better off had their hands full
paying for basic tailoring and mending fees. If you didn't run a
shop, work a farm, or guard a gate, your only option was to look
elsewhere-which is what sent Nier's father far afield.</font></p>

<p class="para">This
meant the jobs Nier took were essentially charitable errands that
could be completed in exchange for food or pocket change. While the
villagers knew how hard it was to make money based on such tasks,
they recognized a fifteen-year-old wasn't going to be hired on in a
larger town. Nier was painfully aware of all of this, and desperate
to grow up as fast as possible. Because at the rate things were
going, he wouldn't have money to eat tomorrow, much less pay for
medicine.</font></p>

<p class="para">He
spent half the day picking royal ferns before returning to the
village. As predicted, the guard who asked passersby about work
opportunities had come up empty. After thanking him, Nier decided to
speak with Devola, who spent a good deal of time singing in the
village tavern and chatting with folks who needed to blow off steam.
She wasn't the voice of wisdom her sister was, but she was always
willing to lend an ear and a shoulder-which made her keenly aware of
who was looking for help at any given time. When Nier asked about
work, however, Devola could only frown.</font></p>

<p class="para">"Sorry,
Nier, but I've got nothing. Oh, but I <i>did</i> just come across an
old lady looking to buy a house! She said her son and daughter-in-law
are coming home after being away for a while." Nier blinked.
"Devola, wait. Are you suggesting...?"</font></p>

<p class="para">"It
wouldn't be so bad! There are plenty of empty rooms in the library,
so the two of you would always have a place to sleep." Nier had
never considered selling the house. While it was old and small and
probably wouldn't command much of a price, it was still money that
would free him from the worry of not being able to afford Yonah's
medicine for a while.</font></p>

<p class="para">"At
least think about it?" Devola suggested.</font></p>

<p class="para">Considering
their savings were depleted, Nier knew the smart thing to do was nod
in affirmation, sell the house, then ask Popola to let them stay at
the library. But while he understood the logic, he still couldn't
bring himself to agree. Yonah spent nearly all her time in their
house because of how sickly she was, and it was special to her. It
was also the only connection she still had to their late mother,
seeing as they had sold her old clothes and personal effects to buy
medicine. The house was all they had left to remind them of her, and
he just couldn't bring himself to sell it.</font></p>

<p class="para">"Yeah,
I don't know if..."Unable to finish his sentence, Nier trailed
off and hung his head.</font></p>

<p class="para">"No,
of course not," replied Devola. "That's fine. Don't worry
about it."</font></p>

<p class="para">Nier
was happy he didn't need to explain himself at length, and pleased
that Devola and Popola understood his family better than anyone. "I'm
sorry. I know you brought it up because you were trying to help."</font></p>

<p class="para">"No,
<i>I'm</i> sorry! I had a feeling you were going to say no."
With no more work to do and nothing set for tomorrow, Nier felt his
heart growing heavy. Sighing, he pushed open the weighty tavern doors
and left. On his way home, he saw a young mother dragging a child
behind her and berating him, which only brought his mood lower. He
had a suspicion the local mothers forbade their children from playing
by Nier's house lest they catch Yonah's Black Scrawl.</font></p>

<p class="para">The
villagers all knew the disease couldn't be passed from one person to
another, so they treated Nier as they always had when Yonah was
diagnosed-but that didn't mean they weren't scared. For while they
were <i>told</i> the Black Scrawl wasn't contagious, everyone had
more questions than answers. What if it could be passed on in rare
instances? Why did it affect some people and not others? All the
uncertainty surrounding the Black Scrawl served to muddle what few
truths they had.</font></p>

<p class="para">It
was why their own mother chose to hide her condition— not only for
the sake of her children, but out of fear she would stop receiving
even the smallest of jobs. No matter how much the pain plagued her,
she decided it was better than not being able to support her family.</font></p>

<p class="para">Nier
wondered how things would have turned out if the villagers had
learned the true cause of her death. Would they have been as kind to
him and Yonah? Would that kindness remain now that Yonah had the very
same illness? And was a simple warning not to play by their house the
worst of it, or was there more to come?</font></p>

<p class="para">As
Nier pondered such things, another thought suddenly occurred to him:
<i>When was the last time I watered the garden?</i></font></p>

<p class="para">With
all their money going to medicine, they had nothing to spare for
food. He knew their yard had been a vegetable patch when their mother
was alive, so he'd weeded it, dug up fresh earth, and scattered what
few seeds he had-but how long ago had that been now?</font></p>

<p class="para"><i>Please
let there be time</i>, he prayed as he ran. When he reached their
house, he vaulted over the crumbling wall that protected the patch,
then fell to his knees when he saw how the few leaves that had
managed to emerge on the sprouts had all withered and died. As his
mind reeled, he remembered how obsessive his mother had been about
watering the garden. Though she was happy to leave the chickens to
Nier, she never let him near the garden, likely because she knew how
hard it was to grow things in poor soil. But his day had begun early
today, yesterday he had been running errands from morning to night,
and the day before that had been the same. With all the work, the
garden had simply slipped his mind.</font></p>

<p class="para">Maybe
it just wasn't possible for two children to live without support in a
poor village like this. Maybe his only choice was to sell the house.
After all, they had already sold off everything else they could.</font></p>

<p class="para"><i>	No.
Not everything.</i></font></p>
<p class="para"></font></p>
<p class="para">That's
right. He did have something else to sell-one last thing. As he
considered this, he found himself unable to stand, almost as if a
terrible weight had settled on his back. He needed to get inside,
feed Yonah, give her the medicine, and prepare for tomorrow. But
though his list of tasks cried out for attention, his body simply
would not obey.</font></p>

<p class="line"><p align="center" style="margin-bottom: 0in; line-height: 100%; font-style: normal">
<br/>

</p>
<p class="para">"Where
are you going today?" asked Yonah. She could tell he was going
somewhere far away based on his clothing, and the nervousness in her
voice was palpable.</font></p>

<p class="para">"I've
got an errand in Seafront," he said as Yonah clung to his coat
suspiciously. "The chicken lady said her birds lay better eggs
if she grinds shells into their feed, so she asked me to go get some.
Honestly, I'm still not convinced chickens can eat shells."</font></p>

<p class="para">It
wasn't a lie and secretly, he was glad he'd encountered the chicken
lady the day before. Regardless, Yonah refused to let go of his coat.</font></p>

<p class="para">"Is
that all?"</font></p>

<p class="para">"Huh?
No, I've got other jobs! Seafront's too far away to run over there
just for shells. You know the lady at the flower shop? She wanted me
to buy her some tulip bulbs they only sell out there."</font></p>

<p class="para">Now
<i>that</i> was a lie-no one else had asked him for anything. He knew
he was talking too much and too quickly, but he couldn't stop. He had
a feeling that if he didn't pile lie upon lie, Yonah would see right
through him.</font></p>

<p class="para">"Oh,
and then the man at the material shop asked for―" "It
sounds like you've got too many errands to come home tonight, huh?"</font></p>

<p class="para">Nier
felt a wave of relief when he saw her head drop. She hadn't seen
through his lies-she was just sad. She'd probably remembered the last
time she spent the night alone six months ago and felt uneasy. While
he hated to make her stay alone, Seafront was a long way away-not to
mention that the Southern Plains between there and here were home to
a fearsome Shade, making midday the only safe time to travel. No
matter how urgent his business, getting there and back in a day was
simply not possible.</font></p>

<p class="para">"You
stayed by yourself once before, remember?" he reminded her.
"You're a lot more grown up now than you were then. Besides,
staying here and making sure everything runs smoothly is an important
job."</font></p>

<p class="para">She
finally seemed to accept this and released her hold on his coat. He
turned away from her uneasy expression, closed the door behind him,
and began to run without looking back. He was afraid if he stopped he
wouldn't be able to push himself any further, so he ran and he ran
until his breath finally gave out. When he stopped, the village was
already out of sight, so he slowed his pace and began measuring each
breath.</font></p>

<p class="para">He
needed to conserve his energy in case he bumped into a Shade at some
point in his journey. The only way to survive an encounter with one
was to run as fast as you could the moment you saw it in the
distance.</font></p>

<p class="para">Soon
he found himself on the outskirts of the Southern Plains, home of the
massive Shade. Since he'd been here before, he knew just how much
distance he needed to keep and exactly which places were safe to stop
and rest. Despite that, he found himself much more nervous than he
was last time.</font></p>

<p class="para">Said
time was a mere six months ago, when he got his first job sending him
to Seafront. He was asked to deliver an urgent letter to someone in
the city, buy tulip bulbs, and pick up some natural rubber. He'd been
a bundle of nerves at the prospect of leaving Yonah by herself, and
when he saw the massive Shade in the distance, he started running
across the plains as fast as his legs would carry him.</font></p>

<p class="para">Upon
reaching the city, he saw the ocean for the first time in his life.
Though it was beautiful, the fishy odor that lay over the city proved
too much for him. His hair and skin grew sticky as he walked around,
making him feel disgusting. It was only after speaking to the woman
at the flower shop that he learned the sea breeze caused this
discomfort.</font></p>

<p class="para">Once
he had the bulbs and other materials, Nier ventured into a district
full of large houses to deliver the letter. The streets weaved around
like a maze while buildings blocked every sight line, making it hard
get his bearings. When he finally managed to make the delivery, he
realized he had no idea how to get back out again. And either due to
the time of day or because residents simply didn't like going
outside, there was no one to ask for directions. After a number of
exhausting dead ends, he finally sat down by the gate of a large
house.</font></p>

<p class="para">"Whatcha
doing there, kid?" came a man's sudden sharp voice from the
direction of the house.</font></p>

<p class="para">Thinking
he was being scolded, Nier scuttled away from the in a panic. "Not
from around here, are you?" continued the voice. "You
lost?" gate</font></p>

<p class="para">Relief
coursed through him as he realized he could finally ask someone for
directions, which is why his guard was lowered when the man stepped
through the gate, and why he answered honestly when the owner of the
voice asked if he was alone. A moment later, a wolfish grin flashed
across the man's face. Nier stumbled back, but the man grabbed his
arm-he was <i>so</i> strong threw a hand over his mouth, and began
dragging him into the house.</font></p>

<p class="para">"You
want some money? Huh, kid?"</font></p>

<p class="para">The
whisper in Nier's ear sent chills rocketing through his body. He used
every ounce of strength to shake himself free, and as he ran away, he
heard the man behind him laughing and laughing and laughing.</font></p>

<p class="para">"Come
back when you want money, kid!"</font></p>

<p class="para">His
desire to escape the voice was overwhelming, so he ran as fast and as
far as he could. And once he reached the shoreline, he still kept
running, because the voice seemed to follow him no matter how far
away he was.</font></p>

<p class="para">After
he returned home, the echo of the man's laughter gradually faded from
his mind. Nier had little cause to go to Seafront incidental errands
for the villagers if anything-and over the next six months the
unpleasant incident was forgotten.</font></p>

<p class="para">But
now, as Seafront slowly came into view, Nier's steps grew heavy.
<i>Maybe I'll get lost again,</i> he thought. <i>Maybe I won't be
able to find the house.</i> But in a terrible twist of fate, the
residence he was looking for sat right next to the town's main
entrance.</font></p>

<p class="para">He
stopped to consider the home. It was nice-quite nice, actually-which
meant the owner must be a man of some means. The moment that thought
crossed his mind, the sickening laugh replayed in his head and his
legs shook.</font></p>

<p class="para"><i>You
can't go back, you know.</i> <i>Once you step across the threshold...</i>
He realized he was looking for an excuse, any excuse, to turn back.
J<i>ust forget about everything,</i> he told himself. <i>We've had
enough you have had enough. You can't burden yourself like this
anymore. But if I turn back now, what happens to Yonah?</i></font></p>

<p class="para">Yonah
had been Nier's emotional support ever since their mother's passing.
When he thought about what to feed her tomorrow, it gave him an
excuse to ignore the distant, uncertain future. When he was busy
caring for her, he could forget their mother wasn't around anymore.
Though still a child himself, his younger sister gave him the
strength to work hard and carry on.</font></p>

<p class="para">"This
is for Yonah," he murmured as he slowly pushed the gate wide.</font></p>

<p class="line"><p align="center" style="margin-bottom: 0in; line-height: 100%; font-style: normal">
<br/>

</p>

<p class="para">Yonah
remained in a state of remission in the weeks after Nier returned
from Seafront. While she still had a cough, it was no longer
accompanied by blood-and with her pain gone, her appetite came back.
She even managed to feed their chicken outside and spend some time in
the library. Yonah only expressed loneliness and unease when Nier
made his trips to Seafront every few days, but she was all smiles the
rest of the time.</font></p>

<p class="para">It
was good. Everything was good. Nier had brought Yonah's joy back, and
now he was focused on keeping her safe. That was all he needed, even
if it did feel like more and more of him broke off and blew away
every time he got the money to buy her medicine.</font></p>

<p class="para">Nier
walked through his village as those thoughts swirled in his mind.
This always happened when he came home from Seafront, and he wished
more than anything that he could simply empty his mind like a sieve
and sleep. But somewhere, somehow, the road back home had become much
more painful than the journey there.</font></p>

<p class="para">Dazed,
he thought he heard someone call his name and turned around to find
Devola, who he hadn't realized was at the fountain.</font></p>

<p class="para">"Hey
there," she said. "You okay? You sick?"</font></p>

<p class="para">Nier
shook his head. He wasn't sick-only very, very tired. "Just
thinking," he said eventually.</font></p>

<p class="para">Devola
gave him her usual grin, but for some reason he found it utterly
stifling. "Hey, if you say so. Oh, and I meant to tell you that
I love how you're tying your hair up now!"</font></p>

<p class="para">"Yeah,
it was getting in the way," he said, leaving out the part about
how he'd started wearing it like this <i>since that time.</i></font></p>

<p class="para">"So
practical," said Devola as she reached out to pat him on the
head. It was a simple act, one she'd done hundreds of times since
they were little, and his rational mind understood this. But as her
hand landed on his hair, memories of the previous night came flooding
back and he smacked it away with all his strength.</font></p>

<p class="para">He'd
hated his hair ever since he started going to Seafront- and not just
having it touched, but having it touch <i>him</i>. It was such a
sickening sensation, and each time it happened, memories came
flooding of the man grabbing his hair, as well as what came after. No
matter how he tried to forget, the memories always returned, and with
them came a pain that was etched into every crevice of his being.
He'd considered shaving his head, but knew people would want to know
why, and he couldn't come up with a good answer. Not to mention that
every time it came up, the memories would rise with it. Eventually,
he just decided to tie it up so it wouldn't touch him, which was the
best solution he could come up with.</font></p>

<p class="para">"Sorry,"
said Nier in a voice so hoarse and dry he hardly recognized it as his
own. He knew he should say something, spout some explanation to ease
Devola's suspicion, but nothing would come.</font></p>

<p class="para">"Oh,
that's my fault!" she replied, cheerfully oblivious. "You
don't want me mussing up your new do, huh?"</font></p>

<p class="para">She
lifted her hand back to her instrument and prepared to play, but then
stopped. "Oh, right. Popola was asking for you, so swing by
before you go home... And, Nier?"</font></p>

<p class="para">"Yeah?"</font></p>

<p class="para">"Don't
push yourself too hard, okay?"</font></p>

<p class="para">Nier
gave a vague smile. He appreciated Devola's concern about how
exhausted he was, but he valued her ignorance even more. If she ever
found out, she wouldn't be this considerate. Instead, she would begin
to look at him with contempt, like he was an undesirable piece of
filth.</font></p>

<p class="para">When
he found Popola, he wondered if she would ask after his health as
well or remind him to take it easy. But instead, she simply said, "I
have a job for you."</font></p>

<p class="para">That
breezy, almost casual statement felt like salvation; right now, he
much preferred being treated with indifference over worry or
sympathy.</font></p>

<p class="para">"But
it's extremely dangerous," continued a hesitant Popola. "I'm
not even sure if I should be asking you to take it on, but..."
"What is it?"</font></p>

<p class="para">"Killing
Shades."</font></p>

<p class="para">An
image of the enormous black mass in the Southern Plains appeared in
his mind. It was folly to think a single person could keep that thing
contained, much less slay it-yet he agreed to the offer without
hesitation.</font></p>

<p class="para">"You
won't be alone, of course," Popola said. "There should be
three others joining you from other areas around here, which makes
you the fourth."</font></p>

<p class="para">She
went on to explain that the job was to exterminate one of the Shade
dens in the northern plains. Thankfully, the creatures involved were
all small, so even amateurs had a good chance of coming back
successful.</font></p>

<p class="para">"The
other hunters are adults, and I don't think these Shades are
particularly strong, but..."</font></p>

<p class="para">But
<i>we're still fighting Shades, </i>thought Nier. He would have to be
ready for a minor injury, or perhaps a major one. And of course,
there was always the possibility he wouldn't come back at all, which
was likely why Popola was so hesitant. Still, Nier knew exactly what
he wanted.</font></p>

<p class="para">"I'll
go, Popola. The more Shades there are in the northern plains, the
more danger for the village. Besides, I need money for Yonah's
medicine."</font></p>

<p class="para"><i>And
the job keeps me away from Seafront.</i></font></p>

<p class="para">"In
that case, you're hired. Oh, and I promise that the pay will more
than match the risk."</font></p>

<p class="para">When
she told him how much he'd be earning, Nier almost couldn't believe
his ears. How many times would he have to go to that man's house to
earn the same amount? How many times would he have to endure
humiliation?</font></p>

<p class="para">"The
risk is fine. I'll do it."</font></p>

<p class="para">"Just
please take care of yourself, all right?"</font></p>

<p class="para">There
was a dark cast to Popola's eyes as she said this. It wasn't sadness
or pain, nor was it sympathy or compassion. But the moment Nier saw
it, he realized that she <i>knew</i> and likely Devola as well. They
knew how he was getting money to pay for Yonah's medicine, and they
knew the true cost of such actions. And once they found out, they
arranged for a job with a salary that dwarfed his current earnings,
despite knowing the dangers that came with it.</font></p>

<p class="para">The
moment he realized this, his face went hot with shame. Yet at the
same time, he was thankful the two of them had continued to treat him
as they always did. Why did he think they would scorn him? They would
never do such a thing.</font></p>

<p class="para">"Thank
you, Popola," he said finally. But despite how much he meant it,
the darkness never left her eyes.</font></p>

<p class="line"><p align="center" style="margin-bottom: 0in; line-height: 100%; font-style: normal">
<br/>

</p>

<p class="para">Their
village was small and rarely visited by outsiders, so when Nier saw
two strange men standing by the northern gate, he knew they were his
companions on the job. But the newcomers had clearly not been told
they would be fighting with a young boy, and their brows furrowed as
he walked up to them.</font></p>

<p class="para">"Go
home, son," said one. "This is no game." "I know
that, but―"</font></p>

<p class="para">"I'm
serious. Get lost. I don't wanna lose sleep because some boy gets
torn apart in front of me."</font></p>

<p class="para">Nier
didn't want to lose this rare opportunity-he had to do something,
<i>anything</i>, to be part of the operation. But just when he was
about to defend himself, a familiar voice rang out behind him.</font></p>

<p class="para">"What's
all the fuss about, eh?"</font></p>

<p class="para">Nier
didn't even need to turn to know who was speaking-it was a voice he
would have recognized anywhere.</font></p>

<p class="para">"Well,
well, well! Look who's here. I forgot you're from this village, kid."</font></p>

<p class="para">It
was the Seafront man, and if Nier had any questions as to what he was
doing here, the blade hanging from his hip quickly dispelled them.
He'd seen a myriad of different swords in the man's house; he spared
no expense in his collection and often bragged about how each one
held a trace of murder. Of course a monster like him would have
equally monstrous hobbies.</font></p>

<p class="para">The
Seafront man already seemed acquainted with the other two. As they
talked among themselves, Nier learned the trio often worked together
on jobs like that-jobs where the Seafront man could put his
collection to practical use.</font></p>

<p class="para">"You
know this boy?" asked one of the other men.</font></p>

<p class="para">"Oh,
we know each other <i>real</i> well," the Seafront man said with
a leer. "Don't worry, he won't get in the way-he's got enough
strength to push a grown man around, and fast little legs too."</font></p>

<p class="para">He
was clearly speaking of the moment they first met. Nier looked away,
disturbed, which only amused the man further. He leaned in close,
trying hard to keep his face in view, and said, "He's got a face
like a girl, but he's fierce. And he's good at toughing things out."</font></p>

<p class="para">Nier's
arms and legs stiffened and refused to obey him. He couldn't even
shake off the hand resting on his shoulder in an overly familiar
fashion.</font></p>

<p class="para">"I
got a feeling he might end up being surprisingly useful. 'Course
personally, I wanna see him shake and cry the moment the first Shade
shows up."</font></p>

<p class="para">"Well,
if you say so," one of the other men said. "I guess we can
bring him along."</font></p>

<p class="para">The
man Nier couldn't hate enough had now enabled him to keep his job.
What could be more humiliating?</font></p>

<p class="para"><i>	This
is for Yonah. This is all to keep her safe.</i></font></p>

<p class="para">He
was repeating that mantra to himself and clenching his fists when he
felt a sudden grip on the back of his head.</font></p>

<p class="para">"What's
with that look, kid?"</font></p>

<p class="para">Grip
was the wrong word-it wasn't tight enough for that. Yet it froze Nier
in place all the same.</font></p>

<p class="para">"I
told you not to go tempting anyone else, remember?"</font></p>

<p class="para">His
voice was low enough that the others couldn't hear, his hot, sticky
breath clinging to Nier's ear like poison. He felt new strength come
into the fingers toying with his hair, and a moment later, it came
loose and fell to his shoulders as the man danced away with a laugh.
When Nier stooped down to pick up the fallen hair tie, he realized he
couldn't stop his hands from shaking.</font></p>

<p class="line"><p align="center" style="margin-bottom: 0in; line-height: 100%; font-style: normal">
<br/>

</p>

<p class="para">The
Shade den had been spotted along the mountain range facing the
plains. People had known for a long while about the cave at the end
of the narrow, winding path, and it made sense Shades would live
there, considering their hatred for sunlight.</font></p>

<p class="para">By
the time they pushed into the mountains, the tension in Nier's arms
and shoulders was constant. This was his first time holding a sword
since he went hunting with adults from his village-but while he'd
wielded a dull blade suitable for taking down small animals that
time, he now held an old, one-handed sword Popola found in the
library storeroom. He didn't know how to look for traces of homicide
on the blade, but the dark glint of the steel told him it had drawn
blood more than once. Yet despite the weapon's ominous air, it felt
perfectly comfortable in his hands, almost as if it had been waiting
for him.</font></p>

<p class="para">"The
wind is oddly damp," said the man leading the way. The moment he
did, Nier realized the air was indeed cool and heavy, much like how
it felt before a rain. Yet when he looked up, the sky was a
brilliant, cloudless blue.</font></p>

<p class="para">"Let's
get this business done and go home," the man continued. "Don't
wanna get caught in some downpour."</font></p>

<p class="para">With
some way to go before the cave, the group's pace quickened. Even
though there were no clouds in the sky, it wasn't unusual for the
weather to change without warning. A few minutes later, the group
realized the damp wind wasn't portend-ing rain, but fog, and they
soon found themselves unable to see the color of the sky anymore.</font></p>

<p class="para">"Should
we head back and try again later?" asked one. "Fog won't
matter once we reach the cave," said the other. "Let's just
hurry up and... Oh damn! Shades!"</font></p>

<p class="para">The
group screeched to a halt as several black silhouettes emerged from
the white mist. They whirled around to find several more approaching
from the rear. They were surrounded, and by far more Shades than any
of the men had expected to find. Suddenly it dawned on them: Shades
thrived not just in caves, but in any area without sun. The foggy,
narrow mountain paths were a perfect breeding ground for the
creatures.</font></p>

<p class="para">"These
Shades weren't just living in a cave..." breathed the man in
front. "This whole area belongs to them!" "Look sharp!
They're coming!"</font></p>

<p class="para">As
the dark silhouettes rushed at them, Nier swung his sword, letting
the weight carry his momentum forward. The impact raced through the
weapon and up to his hands, reminding him of what it was like when he
killed a sheep. A moment later, warm blood splashed across him-blood
with the same acrid scent as the liquid Yonah coughed up. It was
Nier's first time seeing a Shade bleed, and it caused him to
hesitate.</font></p>

<p class="para">While
Shades looked like shadows, they tore apart like flesh when attacked,
and bled the same red blood as any living creature. The only
difference was that they didn't leave a corpse behind upon death,
instead vanishing into a dark mist with just a small puddle of red
left to let the world know they had ever been there at all.</font></p>

<p class="para"><i>What</i>
are <i>these things?</i></font></p>

<p class="para">This
wasn't the time for questions, so Nier quickly shoved the thought
aside and focused. Though the Shades were indeed small and weak, they
were great in number, and he soon found himself falling into a kind
of trance where his only thoughts were swinging his sword and
watching the blood fly. Yet no matter how many he killed, they
continued to pour out of the mist. Things with heads. Hands. Feet.
Upright gaits. In fact, the more he slaughtered, the more they came
to resemble humans, and he soon lost track of whether he was cutting
down people or Shades. Were these members of his species? Was this
sticky red liquid actually human blood?</font></p>

<p class="para">When
conscious thought finally returned, he found himself standing beside
the Seafront man. So engrossed was he in testing his prized blade he
didn't notice Nier. There was a faint smile on his face, and the
blood that covered him head to foot made him look less a man than a
monster.</font></p>

<p class="para">Nier
stared at him, wondering if he'd been wearing the same expression
himself right until that moment. There was no question he had been
killing Shades with a smile on his face or that a secret piece of his
heart had reveled in the slaughter. He even felt a bit of pride that
he'd managed to take down so many of the creatures in succession. So
who were the real monsters here? The Shades? Or them?</font></p>

<p class="para">The
mist grew even thicker as they continued their grim work.</font></p>

<p class="line"><p align="center" style="margin-bottom: 0in; line-height: 100%; font-style: normal">
<br/>

</p>

<p class="para">Nier's
mind was numb. His thoughts a jumble. He'd lost count of how many
Shades he'd killed, but he knew that the area seemed to be cleaned
out. Exhaling loudly, he turned and began heading back the way he'd
come.</font></p>

<p class="para">While
he hadn't been seriously injured, he was covered in scrapes and
bruises, and there was a dull pain radiating across most of his body.
The blood on his arms and legs had dried, pulling his skin tight when
he moved. He was also certain he smelled terrible, but couldn't
confirm that as he'd long since grown accustomed to the odor. He
wanted to wash himself off as soon as possible, but lacking the
energy to run, he settled for walking as fast as he could.</font></p>

<p class="para">As
the mist finally melted away, he caught up to the men who'd tried to
send him away back at the gates. One was dragging his leg behind him,
and the other's left arm was twisted in an unnatural direction.
Seeing them, Nier couldn't help but think how lucky he was to escape
with the few injuries he had.</font></p>

<p class="para">When
the two men saw him approaching, their eyes widened in shock. "You're
alive!" cried one. "I honestly never expected to see you
again."</font></p>

<p class="para">As
Nier nodded in response, the man continued. “You were real
impressive out there, you know that? Weren't in the way at all, and
you practically had energy to spare. Our friend was right about you
for sure."</font></p>

<p class="para">Suddenly,
the expression on the man's face clouded. "Wait, where is our
buddy, anyway? Isn't he with you?"</font></p>

<p class="para">This
time, Nier shook his head, which caused the man to let out a grievous
sigh. "I was afraid of that. We had no idea there'd be that many
of 'em, so it's basically a small miracle any of us are
alive-especially you, seeing as you're still so young. I imagine it
was pretty rough out there for you, huh?"</font></p>

<p class="para">"It
was fine," said Nier. "I did it for my sister."</font></p>

<p class="para">It
was true. He did it for her, and he would continue to do anything for
her. No matter how dangerous the job or dirty the act, he would keep
doing what was necessary to keep her healthy and alive.</font></p>

<p class="para">“Well,
I'm just glad you're okay," said the man with the injured arm.
He gave Nier a friendly slap on the back, then offered a shoulder to
his friend as the three of them began the long journey home.</font></p>

<p class="para">Nier
remained silent as they walked through the mountain path and cut
across the plains. They moved carefully, knowing none of them were in
any shape to fight off even a single Shade, and grateful that luck
had decided to bless them with a bright, sunny afternoon.</font></p>

<p class="para">As
he walked, Nier suddenly though about the massive Shade he'd seen in
the Southern Plains. It had hands and feet, and it had walked
upright.</font></p>

<p class="para">"I
never knew Shades were so similar to people," he thought out
loud.</font></p>

<p class="para">He
used to call the creatures "shadow monsters" when he was
younger, since a shadow was exactly what it looked like when he saw
his first real Shade. But not for a moment had he ever made a
connection between them and actual people.</font></p>

<p class="para">The
two men tilted their heads in response to Nier's statement, so Nier
elaborated. "I mean, you cut them and they bleed. Plus, the way
it feels when you hit one...”</font></p>

<p class="para">"Heh,"
said one of the men. "You might as well point out that goats and
sheep bleed and all that when you cut 'em. Hacking apart Shades
didn't feel particularly different."</font></p>

<p class="para">The
two men laughed at Nier's odd thought, then one continued talking.
"Killing an actual person might feel different from doing it to
Shades and sheep, but that's not something you can just test out."</font></p>

<p class="para">"Well..."</font></p>

<p class="para">Nier
stopped to look down at the dried blood caked on his hands. The color
gave no indication of whether the source was human or Shade. The
Seafront man was dead, and he would never go to his house again.</font></p>

<p class="para">"You
okay there, son? Something hurt?"</font></p>

<p class="para">The
question snapped Nier back to reality. He looked up from his hands
and shook his head. "Just thinking about how I need to get
home."</font></p>

<p class="para">He
pictured Yonah at the second-floor window, waiting for him to return
and greeting him with a smile like always. There was nothing else he
needed to think about besides keeping her safe, which meant his life
would be an easy one now.</font></p>

<p class="para">He
felt a great weight lift from his shoulders as he looked up at the
sky. It was the same shade of blue it always had been, and as he
watched, a single fluffy cloud drifted slowly.</font></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier/novellas">Back</a></p>