---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>The Stone Flower</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">The Stone Flower</p>
<img src="https://i.imgur.com/07MMccf.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: <u>closesttopurple</u></p>
<p style="margin-top: 0.4cm; font-size: 200%;">Writer:
Jun Eishima <br>Concept by cavia/YOKO TARO <br>Translator: CaseyLoe</p>
<p class="title"><a href="https://drive.google.com/file/d/1Qr40Gv5qyWhYh4z_eICFHemG0DdP1lDu/view"><u>Old fan translation.</u></a></p>
<p class="line"></p>
<p class="title"><i>Humanity
hopes as its sacrifice despairs. </i>
</p>
<p class="title"><i>Crimson
blooms in absent eyes.</i></p>
<p class="line"></p>
<p class="para">My
afternoon dreams are always warm and bright.</font></p>
<br>
<p class="para">I
dream of holding my kitten. Playing tag on the lawn. I dream of Dad's
piggyback rides, Mom's fresh-baked sweets, and greenhouse planters
lined up in neat little rows. These dreams are nothing like the ones
I experience in the dead of night or before the first rays of dawn.
Whenever I sleep in the afternoon, I'm struck by how <i>strange</i>
it all is. I see things I never remember in my waking moments, dream
of things long since gone-and yet somehow, they're still so vivid.</p>
<p class="para">Two
years have passed since the days of which I now dream. Dad and Mom
are gone-killed in an accident. The kitten might be alive, but it
sure isn't a kitten anymore. And some other family is probably living
in the house with the neat rows of planters. All I have left is Emil,
the boy I played tag with on the lawn. He's my twin brother, and the
only one who stayed with me for these ten long years.</p>
<p class="para">"Are
you awake, Halua?"</font></p>
<p class="para">"Oh,
Teacher..." I respond as her words take my attention. The warm
memories have vanished, and I no longer have any idea what I've been
dreaming about.</p>
<p class="para">"Goodness,
you're covered in sweat! Maybe it's time we swapped that comforter
for a lighter summer blanket."</p>
<p class="para">Teacher
takes a handkerchief from her pocket and mops the perspiration from
my brow and neck. Then she reaches over and gently shakes Emil, who
is sleeping beside me. "Wake up, Emil. It's time for your
special treat."</p>
<p class="para">"What
is it today?" I ask.</p>
<p class="para">"Alphabet
cookies and cocoa," she replies. Again? It's <i>always</i>
either alphabet cookies, rice crackers, or sponge cake. But of
course, this is an institution; there's no mother here to cook up
some new surprise each day. It was stupid of me to ask in the first
place. I mean, kids love snacks, so just call it a "special
treat" and they'll be happy, right? The adults here think they
know us so well, and I learned long ago to just sit back and play my
role of the easily pleased child.</p>
<p class="para">But
unlike me, Emil still acts like a child. As always, he happily
arranges the cookies on his plate and puzzles over which one to eat
first. Finally, he selects one, pops it in his mouth, and chews
happily. They aren't exactly a taste sensation, but the way Emil
scarfs them down, you'd think they were every bit as delicious as the
ones Mom used to make. This irritates me more than usual for some
reason, and I decide to hit him with some bib──sister scolding. </font>
</p>
<br>
<p class="para">"Don't
play with your food, Emil."</p>
<p class="para">"Aw,
come on!"</p>
<p class="para">"Also,
you're spelling that word wrong. It has an<i> </i><i>E</i><i> </i>in
it."</p>
<p class="para">At
this facility, all the classes are in Japanese instead of our native
tongue. In fact, it's been over two years since we last had a lesson
in the language of our birth, so it's no surprise Emil's spelling is
beginning to suffer.</p>
<p class="para">"Here,
let me fix it, "I say as move an E-shaped cookie from my plate
to Emil's. His mouth curves into a wide smile as I do. "You're a
wonderful sister, Halua."</p>
<p class="para">Teacher
smiles at me from behind her mug. At snack time, she always sits and
chats with us as she drinks her coffee. She also eats meals with us,
reads us bedtime stories, and wakes us in the morning, just like a
real mother. "You know," she says suddenly, "I was an
only child, and I can't help but envy you two a little."</p>
<p class="para">Really?
Does she actually mean that? Every boring day in this institution is
exactly the same, and we haven't so much as set foot outside for two
years now. What could she possibly envy about a situation like that?</p>
<p class="para">I
mean, this place is just <i>strange</i>. I've always loved to read,
so I know from stories that kids without families are supposed to go
to orphanages and I also know what orphanages are supposed to be
like. They're big, school-like buildings that are so full of kids
they have rows of beds in each room, and everyone eats together in
noisy dining halls.</p>
<p class="para">Now,
the first building we were in actually was full of kids our age, and
we <i><span style="text-decoration: none">did</span></i> sleep six to
a room and eat together in a big dining hall. It probably was an
actual orphanage, even if the kids in our room were constantly
disappearing and being replaced with new ones. But eventually Emil
and I were moved to a different building and given private rooms. At
the time, they told us it was because we spoke a different language,
but looking back on it, that doesn't make much sense. I mean, we
already knew some Japanese, and it's not like the classes here are in
our native language anyway.</p>
<p class="para">Oh,
and the so-called classes? Also weird. They're not like the ones we
used to have at school. We just sit in front of a machine and answer
questions without any kind of lesson. Sometimes the classes are
actually more like games than tests, as if we're doing all of this
just for fun. We also don't ever see other kids here just a bunch of
grown-ups wearing the same white coats as Teacher. Honestly, the more
I think about this place, the less sense it makes.</p>
<p class="para">I
leap to my feet, and Teacher looks at me quizzically. I circle around
her and bury my face in her back.</p>
<p class="para">"Mommy,"
I say.</p>
<p class="para">I
sense her confusion giving way to a smile. She turns around, taking
her chair with her, and embraces me tightly. "What's gotten into
you, sweetheart?" she asks as she strokes my hair. In that
moment, she actually does remind of Mom, even if only a tiny bit.</p>
<p class="para">"Hey,
no fair!" cries Emil, who clearly wants in on the action.
Teacher beckons him over with a chuckle and folds us both into her
embrace.</p>
<p class="para"><i>	You're
on our side, right, Teacher? You're not like all the other grown-ups.
We can trust you. Right?</i></p>
<p class="para">I
bury my face deeper into her well-ironed lab coat, which smells
faintly of medicine. It's not how Mom used to smell at all, and I
wonder if that's the reason I don't trust her completely. </font>
</p>
<br>
<p class="para">Or
maybe I just suspect that on some level, she isn't different from the
other grown-ups at all.</p>
<p class="para">"Do
you love me, Teacher?" I ask.</p>
<p class="para">"Of
course, Halua. I love both you and Emil very much."<i> </i></font>
</p>
<br>
<p class="para"><i>	Then
be on our side. Never betray us. Protect us!</i></p>
<p class="para">As
I rub my forehead against her lab coat, I silently repeat those words
over and over in my mind until they disappear into a blur of endless
sound.</p>
<p class="para">After
our evening temperature check and a single chapter of a bedtime
story, another long, boring day comes to its uninspiring conclusion.
Unlike me, Emil really seems to enjoy life here. He counts the clouds
that float by the window, plunks random keys on the piano in the
corner of our room, and scribbles the same pictures over and over on
drawing paper. He has no concern this orphanage isn't like the ones
from our storybooks, and no fear that something bad might happen.
Instead, he's completely and beautifully innocent.</p>
<p class="para">This
is simultaneously a source of worry and a relief. While I want Emil
to be happy, I sometimes panic about how vulnerable it makes him,
which means the only choice is for me to remain vigilant for both of
us. Ideally, I'd like to keep track of what "class" we take
each day, what we eat and drink, who we talk to, and what we discuss.
Then I'd like to write all that stuff down so I don't forget──but
I can't, because I know they're watching us.</p>
<p class="para">Here's
how I know: One day, shortly after we arrived, I feigned an eye
injury as a kind of experiment. Whenever I was alone in my room, I'd
grimace in pain and rub at my left eye, but when I was with Emil or
Teacher, I left it alone. The next day, my left eye was given a
thorough examination, despite the fact I'd pretended it hurt only
when there was no else in the room with me.</p>
<p class="para">"Emil?
You awake?"</p>
<p class="para">He
mutters something vague in a half-asleep state, so I reach out my
hand to take his. When we were first transferred here, we were
assigned to different rooms. I told them we couldn't sleep without
each other, but they didn't believe me. Things only got better when I
sobbed through the night, at which point they finally let us share a
bed.</p>
<p class="para"><i>Be
careful, Emil. You can't trust the grown-ups.</i></p>
<p class="para">I
can't speak this aloud, because someone is probably listening. But I
think it as hard as I can while I squeeze Emil's hand, all the while
wishing I had the ability to say it telepathically.</p>
<p class="para">Today
feels uneasy from the moment I wake up, and when Teacher says we'll
be given a medical exam instead of our usual morning class, the
unease turns to dread. Nothing good ever comes from an exam; kids in
the other building disappeared after having them, and we got moved
here right after ours. Is that what's happening now? Are Emil and I
about to be torn away from Teacher?</p>
<p class="para">"What's
wrong, Halua? Are you not feeling well?"</p>
<p class="para">Teacher
is staring at me with a worried expression. She puts a hand on my
forehead to check for a fever, and it feels so good I want to burst
into tears.</p>
<p class="para">"Teacher,
I…"</p>
<p class="para">I
almost say I don't want to be sent anywhere or have anything done to
me, but I can't bring myself to finish the sentence. There's still
some small part of me that doesn't trust Teacher, even after calling
her Mommy and letting her comfort me. I'm just not sure I can confide
this to her.</font></p>
<p class="para">The
exam starts with a blood test, which isn't a big deal. It only hurts
a little, and you can tell exactly what's coming. When they stick
cold suction cups all over my body and hook me up to a machine,
however, I start to lose it and when they stuff me into a weird
mechanical box, all I can think about is how much I want to yank
everything off and run screaming from the building. Meanwhile, Emil
just keeps smiling and humming to himself like he's having the time
of his life.</p>
<p class="para">Just
when I don't think I can stand another second, the examination ends.
Usually this is the point where we're sent back to our room, but once
they get all the suction cups and wires off, they order me into the
room next door without even letting me change out of my gown. To make
things worse, I notice Emil is gone.</p>
<p class="para">I
stop moving because I don't like this at all, but a woman in a white
coat opens the door and shoos me inside. She's mean about it too──not
at all like Teacher──and before I know it, I'm standing in a
large room with weird patterns on the floor and walls. A single chair
lurks in the middle with a crowd of grown-ups gathered around it. One
of them tells me to sit down, and before I can even respond, another
one picks me up and lifts me onto it. It's metal and cold.</p>
<p class="para">"I
don't wish to alarm you," begins one of the adults, "but we
detected a serious illness during your medical examination."</p>
<p class="para">The
voice is gentle, but I can't tell which adult is speaking. At some
point during all this they put a blindfold on me, and when I try to
remove it, I find they've restrained my arms and legs as well.</p>
<p class="para">"We
must perform a surgical extraction before it's too late." That's
a lie. There's nothing wrong with me. I'm not in any pain. I don't
have a cough, or a fever, or a stomachache. <i>I'm fine</i>. 	</p>
<p class="para">"Where's
Emil?" I demand.</p>
<p class="para">"We
sent him back to your room to prevent the infection from spreading.
He's fine, I promise. No need to worry."</p>
<p class="para">Oh,
but infecting him is the last thing I'm worried about. I need to get
him out of here, and I need to do it now. I shout Emil's name at the
top of my lungs, but I immediately feel despair──the fact none of
them try to cover my mouth means my voice can't be heard outside this
room.</p>
<p class="para">I
smell antiseptic. I feel a cold touch on my arm, then a painful
prick. They've injected me with something. It's enough to make me
stop screaming for a moment, at which point I start paying attention
to what the grown-ups are saying.</p>
<p class="para">"What
is this, the sixth one? I'm getting tired of disposing of these test
subjects."</p>
<p class="para">"I'm
confident we'll get it right this time."</p>
<p class="para">"If
we can just preserve a bit of sentience…"</p>
<p class="para"><i>Wait,
I'm the sixth? The sixth what? And what is it they're trying to
preserve?</i></p>
<p class="para">"If
she doesn't pan out, we still have the brother. As a sibling, he
should prove a suitable substitute."</p>
<p class="para">At
that, the blood in my body goes from cold to freezing. They're going
to kill us they're going to kill Emil. </font>
</p>
<br>
<p class="para"><i>	Save
us, Teacher. Save Emil!</i></p>
<p class="para">As
I imagine this most empty of hopes, darkness comes up and swallows me
whole.</font></p>
<p class="para">I
hear a voice saying my name. It isn't Mom, or Dad, or Emil, or
Teacher, which means it has to be one of the other grown-ups. God,
I'm so tired of these stupid classes. Still, at least they're better
than the medical exams they…</p>
<p class="para">Wait.
Didn't I have a medical exam today? Right, and then I went back to my
room and... No, I didn't go back. I couldn't go back! I <i>couldn't</i>!</p>
<p class="para">My
memories come flooding back, and I wake with a gasp. I'm still in the
room with the weird patterns on the floor and walls, but there's
something different about it now.</p>
<p class="para">"Halua?
Can you hear me?"</p>
<p class="para">I
turn to the source of the voice, but no one's there. "Over
here."</p>
<p class="para">The
voice is coming from a different direction now, but when I turn,
there isn't anyone there either. Apparently I can hear their voices,
not see them. The moment I realize this, I also notice what's changed
about the room.</p>
<p class="para">"Incredible!
The procedure was a success!"</p>
<p class="para">Ignoring
the voices, I look down and see how far away the floor is. No wonder
the room seems strange! My first thought is that I've been set on
some tall object, but I quickly realize that isn't the case when my
eyes land on a pair of skeletal feet that look like something out of
an anatomy book. I see arms the color of withered wood, and a torso I
can't make out because something is wrapped around it.</p>
<p class="para"><i>What
am I looking at?</i></p>
<p class="para">I
reach out to remove the wrapping and immediately freeze, because the
moment I do so, the arms move. They move. I slowly raise my hands,
and the strange ones do the same. I open my palm and bend the fingers
one by one, watching as the hand copies my every movement.</p>
<p class="para"><i>No.
Oh no. This can't be happening.</i></p>
<p class="para"></p>
<p class="para">The
voice from nowhere is speaking again, saying things like
"Experimental Weapon Number 6," and "hope for
humanity," and other nonsense, but I ignore it. I then attempt
to pull myself to my feet and realize I can't move, which is when
everything finally hits home: the wrapping is encircling me, and this
thing is my body.</p>
<p class="para"><i>No!
It can't be true! It CAN'T!</i></p>
<p class="para">I
struggle wildly against my bonds, flailing arms and legs as hard as I
can. I want to escape from this place──from this body. The voice
from nowhere changes when I do that, taking on a more comforting
tone, but I couldn’t give less of a damn.</p>
<p class="para"><i>Shut
up! Shut up shut up SHUT UUUUP!</i></font></p>
<p class="para"><i>	</i></font></p>
<p class= "para">I
pound against the wall with all my strength, causing cracks to race
across its surface. “Stop that!” the panicked voice orders, but I
have no intention of obeying. I strike the wall again, and the pain
and reverberation dispel any last doubts from my mind. This is my
body. These monstrous arms and legs now belong to me.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">I
raise trembling hands to my face and probe it gently. I can tell
instantly that what awaits me there isn't the face I'm used to──and
in fact might not even be a face. All I know for sure is I'm no
longer human.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class="para"><i>	I
can never see Emil again. If he looks at me, he'll run away
screaming. He's always been such a scaredy-cat.</i></font></p>
<p class="para"><i>	</i></font></p>
<p class= "para">The
thought of Emil reminds me of the words I'd heard before the
procedure, the ones about how "a sibling could prove a suitable
substitute." The person in the white coat had also said I was
the sixth one, and the voice a moment ago called me Experimental
Weapon Number 6. All of which means they've done this to five other
kids already, maybe even the ones who disappeared from the other
building. In fact, I bet any kid they deem suitable for
experimentation is separated out and transferred to a different
building. But apparently, I'm special. I'm the first success. I'm
going to be the prototype for all future experimental weapons, and
since my twin brother is equally as suitable as I am, that means…</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">Emil's
face flashes before my eyes──his guileless, obedient face. I
realize then and there I have to save him, and the thought infuses me
with wild, uninhibited power.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">I
tear free of my restraints and rise to my feet. I kick open the door
in the corner of the room, but my body is too large to fit through a
human-size opening, so I pound at the wall around it. Alarms blare.
Metallic shutters begin sliding down the walls. When I instinctively
reach out to stop them, some unseen force pushes my hands away. They
must have some sort of special property that protects them, which
reminds me that I'm a weapon now a monster possessed of such power
that it can smash through walls of solid rock.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">No
one would be so stupid as to create such a thing without taking
precautions; wild animals must be kept chained and caged.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">Suddenly,
the room goes dark as they kill the lights. The alarms stop, leaving
the room bathed in silence. Convinced I've been successfully
contained, they cancelled the red alert. I reach for the shutters
again and see a burst of blue sparks as the repelling force surges
through my entire body. But I won't give up. I will protect Emil no
matter what. I won't let go!</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para"></font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">As
creaking sounds emanate from every part of my body, a sharp pain
surges through me. The world goes white, and I feel something swell
up and burst deep within my soul. But once it does, I'm suddenly
light as a cloud. The repelling force is gone, leaving me able to
move freely, and the world is no longer dark or blinding white, but
instead perfectly normal.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">Alarms
start clamoring again. My senses return. The wall has crumbled. I
lumber outside, but no one is waiting to stop me; likely they never
imagined I'd make it out of the room. They may not have even expected
I could tear off my bindings──I remember the panic in the
speaker's voice as he commanded me to stop.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">More
shutters await at the entrance to the passageway, but compared with
the last ones, they may as well have been made of paper. I send them
flying with a kick and continue on my way. I have to destroy this
facility and everything inside it. That's the only way to stop them
from turning Emil into a monster. I have to erase everything related
to the experimental weapon program.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">A
violent power wells up within me. When I release it, it manifests as
blades that hack apart everything in my way. Glaring at a wall
summons a ball of flame that burns it to ash. I can now simply wish
for a thing to be destroyed in the most fascinating of ways and it
happens. In losing myself, it seems I've gained an inhuman level of
power──but who exactly did they intend for me to use it <i>against</i>?
And did they think giving it to an obedient child would make that
power theirs to command?</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">White-coated
adults scramble through smoke and rubble seeking a means of escape,
but I permit none to find it. I grab every one I see, squeezing them
to pulp like a piece of overripe fruit. But where is Emil? And
Teacher? Could she have led him to safety? No, she wouldn't have done
that. Teacher knows what happens here; she's been raising us to be
turned into monsters. She's just another grown-up performing the role
of kindly caretaker to which she's been assigned.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">A
moment later, I turn a corner to find her standing before me in that
familiar white coat, and suddenly I remember how badly I wanted to
trust her. I remember how happy it made me to hear she loved me, and
how much I enjoyed the sound of her voice as she read to us.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">She
opens her mouth. Closes it. Opens it again. It sounds like she's
saying my name. It sounds like she's saying she's sorry. </font>
</p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">But
I do not accept.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">It
feels like I'm losing myself in my anger. Like I'm being pulled
apart. Like something is trying to blot me out. I unload with
everything I have, sending a brilliant white coat flying across the
room to a new life as a red stain against the wall.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class="para"><i>	Liar!
I hate you!</i></font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">I
cry. I scream. No sound emerges and no tears fall, but I continue all
the same. At some point in my rampage, I see my face reflected in a
piece of tempered glass. It's a sphere with red eyes, and every bit
the monster I expect to see. Yet strangely, it strikes not as sad,
but comical. This face is not the source of my sorrow, nor my tears.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para"><i>Run,
Emil. Run somewhere far away, somewhere there are no grown-ups in
white coats. Somewhere there's no Teacher. Run to a place where there
isn't anyone at all.</i></font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">How
much time has passed? In a way, it feels like it's been days since I
woke in this body, but it also feels like mere seconds. The facility
grounds are nothing but rubble as far as the eye can see. How much
more will I need to destroy? How much until it's enough?</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">"Halua."</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">The
voice is Emil's, and at first I think I must have imagined it, how
could he possibly use such a name on a monster? But when I turn to
look, it's unmistakably him. He's holding out his hand to me, a hint
of sadness on his face. And forgetting who I've become, I run to him
and begin sobbing, telling him that we need to run, that we need to
find a place where the two of us can be safe.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">Or
at least, that's what I intend to do. But my legs don't move.
Somehow, they've turned to stone. And not just my legs, but my entire
body. It's all turning to stone. I realize I can free myself from
this petrification if I want, it's not very powerful. But instead…</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">"Halua,
I…"</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">Emil
has been turned into a weapon just like me. His body may not have
changed, but he's been given terrible eyes that can turn whatever he
looks at to stone. I realize now I've failed to save him──failed
at the one task I wanted more than anything. This causes the feeling
to come surging back. Pull me apart. Blot me out. Is it anger?
Sadness? I'm not sure.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">"I'm
really sorry."</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para"><i>It's
okay. It doesn't matter now.</i></font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">I
smile, or at least I think I do but my face has already been turned
to stone, and I'm not sure if it's capable of smiling anyway. All
that matters is the knowledge my existence as a person is about to
end. I wonder what colors I'll dream in once I'm turned to stone.</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">"I'm
sorry, Halua. But everyone says you're too powerful. They say it's
too dangerous unless I seal you away."</font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para"><i>It
hurts to see you like this, Emil. So please do it. Don't let it wear
off. Don't ever let me wake up again.</i></font></p>
<p style="margin-bottom: 0in; line-height: 100%; font-style: normal"><br/>

</p>
<p class= "para">The
last thing I hear is the sound of Emil calling my name, and then that
too fades away as I give myself over to a cold and unforgiving
slumber.</font></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier/novellas">Back</a></p>