---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Rion's Costumes</title>
<style>
    img{
        -webkit-filter: brightness(70%);
        padding: 0%;
    }
    img:hover{
        -webkit-filter: brightness(100%);
    }
  .para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
</style>
<p style="margin-top: 1cm; font-size: 300%;">Rion's Costumes</p>

<div class="over">
<div class="Guide">
<div><a href="/stories/reincarnation/characters/s1/rion/costumes/sickly-exile"><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-001.png?updatedAt=1756124583022"></a><p class="title">Sickly Exile</p></div>
<div><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-002.png?updatedAt=1756124582644"><p class="title">Guardian Exile</p></a></div>
<div><a href="/stories/reincarnation/characters/s1/rion/costumes/dissenting-exile"><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-003.png?updatedAt=1756124582481"></a><p class="title">Dissenting Exile</p></div>
<div><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-004.png?updatedAt=1756124582891"><p class="title">Abyssal Exile</p></div>
<div><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-005.png?updatedAt=1756124581776"><p class="title">Celebratory Exile</p></div>
<div><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-006.png?updatedAt=1756124582912"><p class="title">Oathbound Exile</p></div>
<div><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-007.png?updatedAt=1756124582823"><p class="title">Abstract Exile</p></div>
<div><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-008.png?updatedAt=1756124582706"><p class="title">Summer Exile</p></div>
<div><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-009.png?updatedAt=1756124582940"><p class="title">New Year's Exile</p></div>
<div><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-010.png?updatedAt=1756124582981"><p class="title">Phantasmal Exile</p></div>
<div><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-011.png?updatedAt=1756124583175"><p class="title">Mechanical Exile</p></div>
<div><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-012.png?updatedAt=1756124583704"><p class="title">Yuletide Exile</p></div>
<div><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-013.png?updatedAt=1756124583715"><p class="title">Shadowbound Exile</p></div>
<div><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-014.png?updatedAt=1756124583633"><p class="title">Festive Exile</p></div>
<div><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-015.png?updatedAt=1756124584859"><p class="title">Reborn Revolutionary</p></div>
<div><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-016.png?updatedAt=1756124584856"><p class="title">F-H Revolutionary</p></div>
</div>
</div>

<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/rion">Back</a></p>