---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Rion's Costumes</title>
<style>
@media screen and (orientation: portrait)
{
img{
    width: 60%;
    height: 60%;
}
select{
    width: 75%;
}
.table-half{
    display:none;
    visibility: hidden;
}
}
@media screen and (orientation: landscape) {
#dnone{
    display: none;
}
.annoying{
    display:none;
}
}

    img{
        -webkit-filter: brightness(70%);
        padding: 0%;
        width: 50%;
        height: auto;
    }
    img:hover{
        -webkit-filter: brightness(100%);
        transform: scale(98%);
    }
    table{
        margin: 0px auto;

    }
    .table-half{
        width: 55%;
        aspect-ratio: 16 / 9;
    }
    td{
        padding: 0%;
    }
    title{
        font-size: 130%;
    }
    select{
        margin: 0px auto;
        align: center;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 35%;
        display: none;
    }
    option{
        align: center;
    }
    #dnone{
        -webkit-filter: brightness(90%);
    }



</style>

<p style="margin-top: 1cm; font-size: 300%;">Rion's Costumes</p>
<p class="title" id="dnone">Select Costume<br>
    <select>
<option value="/stories/reincarnation/characters/s1/rion/costumes/sickly-exile">Costume...</option>
    </select>
</p>
<table class="table-half">
<tr>
    <td>
        <p class="title">Sickly Exile</p>
            <a href="/stories/reincarnation/characters/s1/rion/costumes/sickly-exile"><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-001.png?updatedAt=1756124583022"></a>
    </td>
    <td>
        <p class="title">Guardian Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-002.png?updatedAt=1756124582644">
    </td>
    <td>
        <p class="title">Dissenting Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-003.png?updatedAt=1756124582481">
    </td>
    <td>
        <p class="title">Abyssal Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-004.png?updatedAt=1756124582891">
    </td>

</tr>
<tr>
    <td>
        <p class="title">Celebratory Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-005.png?updatedAt=1756124581776">
    </td>
    <td>
        <p class="title">Oathbound Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-006.png?updatedAt=1756124582912">
    </td>
    <td>
        <p class="title">Abstract Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-007.png?updatedAt=1756124582823">
    </td>
    <td>
        <p class="title">Summer Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-008.png?updatedAt=1756124582706">
    </td>


</tr>
    <td>
        <p class="title">New Year's Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-009.png?updatedAt=1756124582940">
    </td>
    <td>
        <p class="title">Phantasmal Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-010.png?updatedAt=1756124582981">
    </td>
<td>
        <p class="title">Mechanical Exile</p>
        <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-011.png?updatedAt=1756124583175">
    </td>
    <td>
        <p class="title">Yuletide Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-012.png?updatedAt=1756124583704">
    </td>
<tr>

</tr>
    <td>
        <p class="title">Shadowbound Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-013.png?updatedAt=1756124583715">
    </td>
    <td>
        <p class="title">Festive Exile</p>
        <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-014.png?updatedAt=1756124583633">
    </td>
    <td>
        <p class="title" style="font-size: 130%;">Reborn Revolutionary</p>
        <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-015.png?updatedAt=1756124584859">
    </td>
    <td>
        <p class="title">F-H Revolutionary</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-016.png?updatedAt=1756124584856">
    </td>
<tr>

</tr>
</table>
<div class="annoying"><table>
<tr>
    <td>
        <p class="title">Sickly Exile</p>
            <a href="/stories/reincarnation/characters/s1/rion/costumes/sickly-exile"><img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-001.png?updatedAt=1756124583022"></a>
    </td>
    <td>
        <p class="title">Guardian Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-002.png?updatedAt=1756124582644">
    </td>
    <td>
        <p class="title">Dissenting Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-003.png?updatedAt=1756124582481">
    </td>
    <td>
        <p class="title">Abyssal Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-004.png?updatedAt=1756124582891">
    </td>

</tr>
<tr>
    <td>
        <p class="title">Celebratory Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-005.png?updatedAt=1756124581776">
    </td>
    <td>
        <p class="title">Oathbound Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-006.png?updatedAt=1756124582912">
    </td>
    <td>
        <p class="title">Abstract Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-007.png?updatedAt=1756124582823">
    </td>
    <td>
        <p class="title">Summer Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-008.png?updatedAt=1756124582706">
    </td>


</tr>
    <td>
        <p class="title">New Year's Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-009.png?updatedAt=1756124582940">
    </td>
    <td>
        <p class="title">Phantasmal Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-010.png?updatedAt=1756124582981">
    </td>
<td>
        <p class="title">Mechanical Exile</p>
        <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-011.png?updatedAt=1756124583175">
    </td>
    <td>
        <p class="title">Yuletide Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-012.png?updatedAt=1756124583704">
    </td>
<tr>

</tr>
    <td>
        <p class="title">Shadowbound Exile</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-013.png?updatedAt=1756124583715">
    </td>
    <td>
        <p class="title">Festive Exile</p>
        <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-014.png?updatedAt=1756124583633">
    </td>
    <td>
        <p class="title" style="font-size: 130%;">Reborn Revolutionary</p>
        <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-015.png?updatedAt=1756124584859">
    </td>
    <td>
        <p class="title">F-H Revolutionary</p>
            <img src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-016.png?updatedAt=1756124584856">
    </td>
<tr>

</tr>
</table></div>

<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/rion">Back</a></p>