---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Rion's Recollection of Dusk</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Rion's Frozen Heart</p>
<p class="title"><a href="https://www.youtube.com/watch?v=TvCBggg33JI"><u>Video</u></a></p>
<p class="title">An Ashen Tomorrow</p>
<img src="https://i.imgur.com/RnMM3UK.png">
<p class="title">Chapter 1</p>
<p class="para">
<>The hush of night falls over the castle.
<br>Unsteady footsteps and scraping metal echo through marble corridors.
<br>A pallid face. A wheeze. Exhaustion.
<br>The guards offer to help their liege as he walks,
<br>but he waves them off and leans heavier on his aged metal staff.
<br>"I'm fine," he insists. A clear lie.
<br>More than anything, the boy simply wishes to be alone.</p>
<p class="para">
<>The illness which has long eaten away at his body has now begun to prey on his weakened heart.
<br>His vision wavers. He takes an unsteady step, then another,
<br>cursing heavy feet that seem unconnected to his legs.
<br>Every time he coughs, the scent of metal fills his head.
<br>Yet he continues to walk alone.
<br>He is the first prince of this nation.
<br>But that is not how people know him.
<br>The prince, kind to the point of simplicity, has long dreamed of seeing his land at peace.
<br>Yet now, even that compassion seems to have vanished from his dimming gray eyes.</p>
<p class="para"><>He finally arrives at his room. Lacking the strength to spark a lamp, he collapses in the dark.
<br>As breath leaks from his withered body, he leans against a wall and lets his thoughts spin.
<br>He thinks back on his day. On the battle.</p>
<p class="para">
<>As he was responsible for the spark that set off the war, he volunteered to lead on the front lines.
<br>Wracked with guilt, he sought to bring the conflict to a peaceable conclusion as quickly as possible.
<br>But the world does not turn on a child's dreams alone.
<br>War has taught him just how harsh reality can be—and just how soft he is.
<br>Though he once yearned for a world at peace, he now understands such
<br>things to be the gibbering dream of a madman.
</p>
<p class="para">
<>As he hangs his head in despair, he notices something on the floor.
<br>It is a folded piece of paper.
<br>Someone must have slipped it under the door.
<br>After a brief moment of fear, he reaches out to take it.
<br>It contains rows of numbers: dead and injured as a result of the most recent battle.
<br>The moment it registers, tears blur his vision.</p>
<p class="para">
<>The number is so much larger than usual.
<br>All those lives, gone. Vanished like smoke in the wind.
<br>He thought he understood the weight of his sins.
<br>Yet this new number causes his heart to creak anew.
<br>The deaths, the numbers; they had always been something apart from himself.
<br>Something vague. But this piece of paper makes them terribly real.
<br>Thus, he blames himself.
</p>
<p class="para">
<>His gaze rests sadly on the paper in his hands.
<br>And then, a realization.
<br>Someone wrote this for him.
<br>In today's battle, his brother attempted to take the prince's life and put himself next in line for the throne.
<br>In much the same manner, someone wrote this note to amplify his guilt—
<br>to point out how his hypocrisy comes at the greatest of costs.
<br>And whoever believes this lurks in the shadows of the very castle he calls home.</p>
<p class="para">"Perhaps wishing for peace is a mistake.
    <br>Perhaps his life is a mistake."
</p>
<p class="para"><>His naivety led only to tragedy; every action he took and every belief he held dear has all been for naught.
<br>As he sits alone in the dark, he hears the sounds of conversation from the corridor,
<br>and soon his shoulders begin to shake with quiet, maniacal laughter.</p>
<p class="para"><>He can never return to the light again.
<br>He locks the door and drags his heavy body to his desk.
<br>He tears open the top drawer, causing his most precious possessions to clatter to the ground.
<br>Among them is a knife with a wicked edge.
<br>His clouded eyes gaze upon it. His hand hovers above it.</p>
<p class="para">
<>There is no point in any of this.
<br>No point in his body. In his dreams.
<br>They are things utterly without worth.
<br>Perhaps the world would be better off without them.</p>
<p class="para">
<>A cold sensation settles over him, one that makes him feel not himself.
<br>It is as if the warmth he once felt from his arm is now a thing separate from his body.
<br>Or more accurately, one could say it felt as though its warmth was flowing out of him.
<br>From some distant place, he ponders his own actions.
<br>Drops fall from his arm, causing red splotches to slowly spread across the rug below.
<br>It looks so much like what he saw that day.
<br>The dreadful sight that set the entire affair in motion.
<br>It is a memory that haunts him, and will continue to do so for the rest of his days.
<br>He sits there throughout the long night, recalling the face of the girl who
<br>lost her life amidst the crimson smudges.
</p>
<p class="para"><>When the dawn's light finally streams through a gap in the curtains,
<br>it finds the boy hunched over his desk, staring at his arm.
<br>With a new day arrived, there is no choice but to carry on.
<br>But in his red and muddled blackness, the brilliance of the day feels like pain.</p>
<img src="https://i.imgur.com/OLNbvvm.png">
<p class="title">Chapter 2</p>
<p class="para">
<>Peace is nothing more than a simple wish. A simple kindness.
<br>Yet the price for that wish had been dear, with a great many lives lost in its name.</p>
<p class="para"><>There will always be sacrifices in times of war. That is simply the way of things.
<br>The boy remembers hearing those words, and they cut straight to the core of him.
<br>Perhaps they were right, he thinks to himself. Perhaps I will never escape the horror of my sins.
<br>He spent the entire night on the floor, wrapped in his pain.
<br>As though he sought to punish himself.</p>
<p class="para">
<>The brilliant morning sun pouring through the window brings no light to his heart.
<br>His body is still caked with blood and earth from the battlefield.
<br>His bleary eyes reflect white curtains dancing in the wind.
<br>He does not know why the window has been left open when he yearns only for darkness and respite.
<br>When he approaches the window, the fluttering curtains agitate his spirit. But as he grasps them,
<br>he hears the sounds of argument from outside.
</p>
<p class="para"><>He cannot make out the words.
<br>But in the tone he senses anger, as well as a deep sadness.
<br>He peeks through the curtains in search of the speakers.
<br>They are somewhere beyond the gate, out of sight.</p>
<p class="para">
<>The voices rise and fall, agitated. Someone is clearly in trouble.
<br>Can he help? He forcibly clears the weight from his mind and begins moving to action, but then...
<br>He hears an impossible voice.
<br>A sound that should no longer exist in this world.</p>
<p class="para">
"You? Help? What a joke! You'll only kill them like you do every time."</p>
<p class="para"><>A creeping sensation travels down his spine.
<br>This cannot be.
<br>Oh, but it is. He cannot mistake that voice for any other.
<br>"I know you hear me."
<br>Salt in a wound.
<br>There is a joy in her tone, the kind that comes from toying with another.</p>
<p class="para">
<>His throat and tongue go dry.
<br>Despite the coolness of the morning, he begins to sweat.
<br>It is a symbol of his inescapable past—a shadow that pushes him further into the dark.
<br>He clenches his shaking hands and slowly turns around.
<br>When he sees her, his head falls.
</p>
<p class="para">It is the princess from the neighboring nation.
<br>She whose death sparked the flames of this war.
<br>It was supposed to be a ceremony where their two countries entered an era of peace,
<br>but she was killed under the suspicion of plotting something nefarious.
<br>The boy's own father—the king—had ordered her death.</p>
<p class="para">
That is why she cannot be here.
<br>This is a hallucination, the boy tells himself as he presses his hands to his eyes.
<br>Quiet footsteps echo through the silent room. Tap. Tap. Tap.
<br>The closer they get, the harder it is for him to breathe.
<br>The princess comes to his side, then leans close to peer at his face.
<br>"You've noticed. Haven't you?"
<br>Her small hand rests on his arm.</p>
<p class="para">"Whenever you get involved in things, they end in unnecessary tragedy.
<br>That's why things turned out the way they did."
<br>As her quiet voice comes to a stop, she turns to look at the paper on his desk.
<br>The paper. The number of souls sacrificed in his quest for peace.
<br>Lives that should never have been lost.</p>
<p class="para">He cannot bear to face her.
<br>His mind is filled with images from the day of the ceremony.
<br>White fabric stained red.
<br>Light snuffed from eyes.</p>
<p class="para">Soldiers killed the princess on the order of their king. And the reason for that order...
<br>The boy reels.
<br>What if he had turned down her invitation?
<br>What if he had not accompanied her to the courtyard?
<br>Her death lies on him.</p>
<p class="para">His thoughtless actions had wrought unnecessary tragedy.
<br>Nothing she said to him was wrong.
<br>He knows it still holds true—even now.
<br>Even if he ran from the room and dashed to the person in distress, he would not be able to save them.
<br>His heedless actions bring only misfortune, twisting any shred of hope into despair.
</p>
<p class="para">Had he understood this in earlier days, perhaps he could have saved the princess.
<br>As he continues to ask himself increasingly pointless questions, the strength in his body fades.</p>
<p class="para">"I'm not blaming you, you know. So why carry this burden by yourself?
<br>You would have been better off if you never got involved in the first place."
<br>Sweet whispers fill his ears—ones to which the boy has no answer.
<br>Finally, he turns from her, placing a hand on the windowsill.
<br>Outside, the argument continues.
<br>But instead of helping, he pulls the window closed.
<br>He will extend no hand. He will not permit himself to suffer that pain again.</p>
<p class="para">
He shuts the curtains, causing darkness to blanket the room once more.
<br>He lies on the bed and closes his stiff eyes, as though trying to shut out the world.</p>
<p class="para">
Once, he made a vow.
<br>As the boy who would one day ascend the throne, he vowed to create peace.
<br>It was a goal he would never turn from, no matter what.
<br>But now, for the first time in his life, he has turned his back on that dream.
<br>For the first time in his life, he has turned his back on another.
<br>And in so doing, he denies all that he was.
<br>The boy who wished for peace has become the boy whose
<br>naive ideals bring about only grave misfortune.</p>
<img src="https://i.imgur.com/ughmSK9.png">
<p class="title">Chapter 3</p>
<p class="para">
There comes a soft, timid knock at the door.
<br>The sound brings consciousness back to the boy.
<br>He slowly sits up on rumpled sheets.
<br>Though his mind is hazy, he looks at the door. The knocking continues, meek yet persistent.</p>
<p class="para">Finally, a voice calls out.
<br>"How do you feel, sire? I hear you have been unwell."
<br>Were he his usual self, the boy would immediately open the door and feign a smile.
<br>But now he finds himself unable to get up from bed. Unable to do more than stare at the door.</p>
<p class="para">"Pretty words, but is he truly on your side?"
<br>The princess stands next to his bed.
<br>Her phantasmic eyes bore straight through him.
<br>"Let me see your face, sire. Please. You must at least eat something."
<br>The voice is worried.
<br>But the princess speaks over it.
<br>"Do you really believe him?"</p>
<p class="para">"Of course not."
<br>"No one in this castle worries for you."
<br>"Everyone thinks you're a nuisance. Nothing more."
<br>The words of the princess are poison dripping through his ears.</p>
<p class="para">
<>As she says, he has no proof the voice behind the door does not wish him ill.
<br>As he learned in battle, there are people plotting betrayal within these very walls.
<br>He cannot trust anyone.
<br>Not even his own blood, for his brother is clearly after his life.
<br>He quiets his breathing and strains his ears.
<br>At last the knocks stop. The sound of footsteps grows distant.
</p>
<p class="para">
<>The silence in the room stings the boy's ears.
<br>The exhaustion that controls his entire being grows a bit lighter.
<br>How long did he sleep? He gets up from his bed in search of an answer.
<br>He blindly gropes about in the darkness, aiming for the curtained window.</p>
<p class="para">His metal staff lies on the ground where he carelessly discarded it.
<br>His foot catches it, causing him to stumble.
<br>Momentum slams his body into a nearby wall.
<br>He makes no cry. He simply sits on the ground, weakly rubbing his own back.
<br>He no longer has the willpower to reach the window, nor the strength to return to bed.</p>
<p class="para">
Yet his fingers latch onto something odd.
<br>The robust wall of the castle broke his fall, remaining unharmed by the impact.
<br>But there is a small, yet obvious gap in the wall.
<br>He knows there are hidden passages throughout the castle to be used in emergencies.
<br>But he did not know there was one in his room.
<br>Perhaps it had gone forgotten amidst the constant reconstruction.</p>
<p class="para">He reaches out, drawn in by the inky darkness that extends beyond the gap.
<br>It opens with a push, revealing a space wide enough for him to pass through.
<br>Beyond is a never-ending hallway.
<br>The walls are rotting, brittle enough to crumble under his touch.
<br>Holes here and there speak of the vast expanse of time it has sat forgotten.
</p>
<p class="para">He senses something in the darkness—something that
<br>makes goosebumps crawl across his skin.
<br>Yet he steps forward all the same.
<br>An opaque shadow blankets him.
<br>He feels suddenly defenseless. His steps grow unsteady.
<br>A voice from behind offers caution:
<br>"I wouldn't do that if I were you."
<br>It comes from his room behind the wall, where
<br>the girl shows no intentions of joining him on his journey.</p>
<p class="para">
The prince turns back to the corridor and continues to walk.
<br>He hears small objects scraping against one another from somewhere ahead.
<br>He rubs his eyes and sees the darkness writhe.
<br>But it is neither human nor beast.
<br>When he finally sees what is coming, his breath catches in his chest.</p>
<p class="para">Suddenly, a swarm of insects assails him from all directions.
<br>They crawl across him, scratching at his skin.
<br>Buzzing fills his ears. Stingers pierce his flesh.
<br>Hundreds of legs carry dozens of bodies into his throat, and he utters a hapless cry.
<br>Yet he continues on.</p>
<p class="para">
For he has seen the faint light of an exit beyond the swarm.
<br>He uses every ounce of effort to move forward,
<br>tearing apart the darkened mass that weighs on him.
<br>He seeks only the light, even though he knows not what it may be.</p>
<p class="para">Finally, he batters his way through the horrifying torrent of
<br>insects and passes through the exit.
<br>The moment the light touches them, they scuttle back into the gloom.
<br>His vision opens up before him.
<br>He has found what the rotting corridor led to.
<br>The moment he lays eyes upon it, an odd sensation fills his heart.
<br>For this is a place buried deep within his memory.</p>
<img src="https://i.imgur.com/0XnM10p.png">
<p class="title">Chapter 4</p>
<p class="para">
A familiar scene waits beyond the corridor of writhing insects.
<br class="">Moonlight floods the room through a small window near the ceiling.
</p>
<p class="para">The furnishings are similar to the prince's own room.
<br>But they have sat here untouched and forgotten for an age,
<br>and are now covered in a thick layer of dust.
<br>Yet somehow, he knows this place.
<br>In the distant past, he once knew the moonlight pooling through that little window.
<br>He once knew how the edges of everything glittered in the lamplight.
<br>He remembers.</p>
<p class="para">Seeking answers, he reaches out and takes a photograph off the desk.
<br>A shaking finger lightly skims the glass, revealing a faded image of a smile long since lost.
<br>This is the queen's bedroom. His mother's bedroom.
<br>It had been built behind his own.
<br>After her death, it was sealed up and locked away; the castle staff did not even come here to clean.</p>
<p class="para">Sitting atop the small desk is an empty glass, a fountain pen,
<br>and a bottle of ink that was never put away.
<br>His mother's life remains here, frozen in time. It feels as though she was present mere moments ago.
<br>The boy gazes fondly on the chair as he slowly runs his hand across its back.
<br>A moment later, his eye catches a discolored piece of paper.
<br>It rests on the edge of the desk, as if it was meant to be concealed and then forgotten.
<br>He takes it in his hand.</p>
<p class="para">The writing is gentle, just as it is in his memory.
<br>It is his mother's hand.
<br>Written before she passed from illness, the letter never found its intended recipient,
<br>and was lost to time along with her room.
<br>Guilt washes over him in waves.
<br>The letter sat here long enough for the color to change, yet he never found it.</p>
<p class="para">Now that he has, he feels obligated to deliver it.
<br>He looks for the name of the addressee and is shocked to see his own.
<br>The letter is an apology.
<br>His mother apologizes for shouldering him with the heavy burden of being first in line for the throne.
<br>She apologizes for passing to him a weak constitution that makes him more susceptible to illness.</p>
<p class="para">The more he reads, the more his joy turns to despair.
<br>The letter serves as proof of the pain he caused his mother.
<br>If only he had not found the hidden passageway.
<br>If only he had never ventured down it.</p>
<p class="para">His thoughtless actions have once again wrought unnecessary tragedy.
<br>The cruel words of the princess begin to ring out again in his mind.
<br>Determined to read no more, the prince moves to place the letter back on the desk.
<br>But then he notices a second page, one folded perfectly in with the first.
<br>Though he does not want more hurt, he yearns to know what else his mother said.
<br>He carefully peels the second page from the first and begins to read.</p>
<p class="para">But it is because I know weakness and pain that
<br>I have the strength to provide company to others.
<br>No one can avoid hardship. Many cannot bear through it, and ultimately lose heart.
<br>But...
<br>Finding someone who understands their pain is
<br>the help they need to carry on to another tomorrow.
<br>If ever you see someone hurting, I pray you might go to them and be that understanding ear.
<br>You may even lose heart yourself.
<br>But if that ever happens, someone you have aided in their time of need will do the same for you.
<br>I gave you your name in the belief you will find blessings and hope in your path.
<br>After all, what name could inspire more hope for the future than one that means "tomorrow"?</p>
<p class="para">The boy's eyes snap open to reveal a familiar ceiling.
<br>He feels as though someone just called his name.
<br>He looks around, confused. Once again, he has collapsed on the floor of his room.
<br>A strange feeling overcomes him, and he hurriedly climbs to his feet.
<br>The spiteful image of the princess is nowhere to be seen.
<br>The knife wound on his arm is gone.
<br>Perhaps it had all been a dream?
<br>In which case...</p>
<p class="para">
Once on his feet, he goes to the spot in the wall where he found the hidden passageway.
<br>It has clearly been moved recently.
<br>But no matter how hard he pushes, the door does not open.
<br>He knows not what is dream and what is reality.
<br>But there is an invigorated feeling in his heart.
<br>He feels a breeze on his cheek; the window has been left open.</p>
<p class="para">He remembers now.
<br>People were arguing outside. Was that real?
<br>People were arguing outside. Was that real?
<br>He is yet to forgive himself for his own mistakes. His own failures.
<br>But if he were to lose heart over that and give up on others, he would ever remain a failure.
<br>So if the arguing is real, he knows what he must do.</p>
<p class="para">
He picks up his staff, unlocks the door, and moves boldly into the outside world.
<br class="">The white curtains flutter in the breeze, as though seeing him off.​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/rion">Back</a></p>