---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Record: Seat of Shadow</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    #costume{
        -webkit-filter: brightness(100%);
        padding: 0%;
        max-width: 192px;
        max-height: 192px;
        min-width: 192px;
        min-height: 192px;
    }
    #costume:hover{
        -webkit-filter: brightness(70%);
        transform: scale(98%);
    }


div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
@media screen and (min-width: 1921px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 3%;
}
}
</style>

<p style="margin-top: 1cm; font-size: 300%;">Record: Seat of Shadow</p>
<p style="margin-top: 1cm; font-size: 300%;">This is an event.</p>
<p class="title"><a href="https://www.youtube.com/watch?v=iNlD-V24RyY"><u>Video</u></a></p>
<img src="https://i.imgur.com/k7XEKtD.png">
<p class="title">Chapter 1</p>
<p class="para">The boy stirs to wakefulness in an unfamiliar room. Beside him sits a silent clockwork<br>man and a woman with a gentle smile. The boy had traveled countless unforgiving lands in an<br>attempt to halt the cruel war staged by his own kingdom. Yet he now finds himself in the<br>comfortable bed of a civilian.<br>"What happened?" he asks.<br><br>The man apologizes for acting on his own discretion. He explains how the woman<br>came to their aid when the boy fell victim to a mighty seizure. As the boy begins to thank his<br>rescuer, he silently curses the inadequacy of his frail and sickly body. But irony rules the day,<br>and he launches into a coughing fit before he can finish speaking. The woman gently lowers<br>the hacking boy back onto the bed. Sleep comes to claim him once more. Perhaps this is<br>because illness has worn him to the bone, or perhaps it is due to the radiant warmth of her<br>hands. As he drifts away, he takes a moment to appreciate the brief moment of respite.</p>
<img src="https://i.imgur.com/7KAAUjS.png">
<p class="title">Chapter 2</p>
<p class="para">Several days have passed since the boy began his treatment in the woman's humble<br>abode. He occasionally hears commotion erupt outside. The townsfolk talk of nothing save<br>the war. The fires of battle spread daily across the land, and they fear their town will soon be<br>set to burn. Eventually, their unease grows so great that a guard is dispatched to keep watch<br>over the boy and man. <i>I have to form my alliance as quickly as possible</i>, thinks the boy.<br><br><i>I must forge a peace among these warring nations.</i><br><br>Despite the boy's conviction, his weakened body fights him at every turn. Instead of helping the<br>people, he finds himself increasingly reliant on their aid. The pain of his fever and cough is soon<br>joined by the endless throb of a guilty conscience. The woman tends him briskly and efficiently.<br>Despite the raging war, her words are soft and kind. Despite her abject poverty, her food is<br>warm and hearty. The situation begins to remind the boy of his childhood.<br><br>As his thoughts spin, they finally alight on a particular memory: One from his earliest<br>days as a child. It is the face of his mother—a woman who departed this world long, long ago.</p>
<img src="https://i.imgur.com/qhCqv08.png">
<p class="title">Chapter 3</p>
<p class="para">Slowly but surely, the boy progresses in his recovery. One day, a thought occurs to him:<br><i>Why is this woman working so hard for me?</i> <i>And why does she remind me of my mother?</i><br>The boy asks his clockwork companion if he knows anything of her circumstances. The man<br>nods and reaches for a nearby picture frame that is turned face-down. He flips it over to reveal<br>a family photograph.<br><br>The man then begins to speak of the room's history. This country keeps a database of<br>all citizens, one he had been able to access. He continues speaking, his voice dry and emotionless.<br>He tells the boy what he found in the records of the woman's family. The room in which they rest<br>once belonged to her child. The same child who smiles so brightly in the photo. But the fires of<br>war had claimed him some time ago. And just as the boy sensed his late mother in the woman,<br>so too did she sense her late child in him.<br><br>A time of respite. A woman's devotion. A veiled love. Pain shoots through the boy's heart.<br>But it does not come from his illness. Instead, it comes from a realization. A realization that his<br>own homeland is responsible for all of this.</p>
<img src="https://i.imgur.com/HGSbXxQ.png">
<p class="title">Chapter 4</p>
<p class="para">The woman's endless devotion stems from her conflating the boy with her own dead<br>child. A child that was killed by the very war the boy's homeland had started. This truth lay<br>heavily on the boy's heart.<br><br>"Enough," he says to the clockwork man.<br>"I can stay here no longer."<br>He dresses himself and uses his staff to rise from the bed.<br><br>As the man reaches to steady the boy, the distant rumble of cannon fire rings out. It is<br>the sound of lives being lost. The familiar footsteps of tragedy march ever closer. They threaten<br>to engulf the house at any moment. The woman suddenly leaps from her bed and rushes to the<br>pair, begging them not to leave.<br><br>"Let me go," says the boy.<br>"I am not your son; I am from the kingdom, and royal blood flows in my veins."<br><br>Shock breaks out across the woman's face before slowly morphing into hatred. <br><br>"It's your fault," she growls.<br>"Your fault."<br>"My son is dead and it's <i>all your fault!</i>"<br><br>She lets forth an agonized howl—the pain of a mother tormented by an immutable past.<br><br>"Yes," replies the boy "I am responsible."<br>He bows his head deeply. He knows he is the target of her hatred—and he knows that it is<br>earned.<br><br>As they abandon the house, the boy's fever spikes and the pain threatens to blot out<br>his consciousness. But he continues stumbling on. He will protect the woman and her house.<br>He will stop the war. He will bear the burden of hate for as long as he must. That is why he<br>walks on.... And why he never looks back.</p>
<p class="line"></p>
<p class="title">Associated Costume:</p>

<p class="title"><a href="/stories/reincarnation/characters/s1/rion/costumes/guardian-exile"><img id="costume" src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-002.png?updatedAt=1756124582644">Guardian Exile</a></p>

<p class="menu"><a href="/stories/reincarnation/characters/s1/rion">Back</a></p>