---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout><style>    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}                                               
@media (prefers-color-scheme: light)
{
    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
}
</style>
<title>Record: Seat of Shadow</title><nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img style="width: 100%; height: 100%;" src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>

            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>
    .img-special{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    #costume{
        -webkit-filter: brightness(100%);
        padding: 0%;
        max-width: 192px;
        max-height: 192px;
        min-width: 192px;
        min-height: 192px;
    }
    #costume:hover{
        -webkit-filter: brightness(70%);
        transform: scale(98%);
    }


div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
@media screen and (min-width: 1921px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 3%;
}
}
</style>

<p style="margin-top: 1cm; font-size: 300%;">Record: The Cage of Rebirth</p>
<p style="margin-top: 1cm; font-size: 300%;">This is an event.</p>
<p class="title"><a href="https://www.youtube.com/watch?v=93t5o4TA-ck"><u>Video</u></a></p>
<img src="https://i.imgur.com/p6NnNQV.png">
<p class="title">Chapter 1</p>

<p class="para">Stone towers stand tall beneath dark clouds.<br>Here, in this place on the brink of collapse, stands a lone boy, quietly staring straight ahead.<br>His gray eyes gaze upon scenery clouded by static.<br>The Cage is on a one-way path to destruction.<br>The enemy's attacks are relentless.<br>"It will be all right. Let's keep going."<br>A strange creature, known only as Mama, speaks. The boy nods and begins to walk.<br>The attacks are causing the memories of the stories stored in The Cage to warp.<br>The boy's own memories, also stored somewhere here, are no exception.<br>His immediate goal is to find his memories and restore them to their proper form.<br>After proceeding along the stone path for some time, Mama and the boy stop.<br>Two enormous dark moose stand against the hazy sky.<br>The boy stands perfectly still, watching them.<br>They might even be bigger than the stone towers themselves.<br>The boy stands, stunned by the sight.<br>The two moose bellow.<br>The flagstones beneath the boy's feet rumbles. His ears ache.<br>He doesn't realize he's losing his balance, but Mama supports him.<br>Suddenly, another tremble rolls through The Cage.<br>The two moose begin a fierce battle.<br>Their clashing horns create a deep rumble.<br>Human-like screams rings out.<br>The shockwave from the impact whips painfully against Mama and the boy.<br>The flagstones at their feet shake and groan.<br>It's only a matter of time before this place falls.<br>"This is bad. We have to hurry!"<br>Luckily, the moose haven't noticed the two. <br>Mama's voice urges him onward, and he runs.<br>The stone path collapses. Debris falls from the sky.<br>Mama and the boy encourage one another as they cross<br>over obstacles and cut through The Cage.<br>Their running feels endless, but at last, they arrive at a quiet place.<br>They are finally free from the threat.<br>But they can only rest for a moment. Mama gives a short, quiet cry.<br>From beneath her white sheet, she pulls out a pocket watch.<br>"The hand has ticked forward."<br>The hand on the clock signifies the countdown to the end.<br>There isn't much time left before The Cage is destroyed.<br>They may not be able to avoid the fate of destruction...<br>But the boy at least wants to preserve the memories he created<br>with those he holds most dear in the form they're meant to be.<br>And so he walks again, all to realize his final wish.</p>

<img src="https://i.imgur.com/9D7d9rD.png">
<p class="title">Chapter 2</p>
<p class="para">The end of The Cage draws near. Its fate of destruction is all but inevitable now.<br>Despite it all, the boy continues his journey with Mama.<br>He hopes to at least restore his own memories in the end.<br>The boy holds his breath at the sight that greets him atop the long spiral staircase.<br>It is an endless marble corridor. Laying beyond the windows is a beautiful courtyard.<br>The sight is exactly that of the castle the boy once lived in.<br>Or perhaps it truly is the same castle?<br>Perhaps it is proof that his memories are stored nearby.<br>As Mama explains this to him, mixed emotions color his expression.<br>The memories that seeped into these walls and floors are not all happy ones.<br>His father—the king—waged war after war, causing their people a great deal of pain.<br>The boy was unable to stop him...and the boy was the one who created the spark for war.<br>This castle is the very symbol of his sins.<br>Yet the two press forward.<br>Eventually, they arrive at a room covered with thick layers of dust.<br>It's a somber place that was quietly forgotten.<br>The bright light pouring through the window near the ceiling illuminates the dirtied furniture.<br>This room once belonged to the boy's mother, who passed when he was young.<br>It is a place of dear memories to the boy, a place that remains<br>vivid to him no matter how much dust clings to it.<br>But now is hardly the time for reminiscing.<br>He and Mama leave the room.<br>And when they exit into the corridor...<br>The boy sees several writhing shadows in the distance.<br>They are weapons in the form of people—clockwork soldiers.<br>They wander, searching the halls for intruders.<br>Once they notice the boy's presence, they ready their weapons.<br>Neither the boy nor Mama are strong enough to push them back.<br>As the boy considers their options, a memory comes back to him.<br>Somewhere in this corridor is a hidden passageway for emergencies.<br>His mother once told him about this, he recalls.<br>He presses a spot on the wall, and a small gap forms.<br>Pushing the gap open, the two throw themselves into the darkness.<br>On the other side is a long hallway.<br>The boy runs ahead, leading Mama.<br>But eluding the elite weapons wouldn't be so simple. Glancing over their shoulders,<br>they see the clockwork soldiers following close behind.<br>"What should we do!?" Mama cries.<br>But the boy is not afraid.<br>In the past, much like this, he escaped pursuers with his attendant.<br>His attendant gave him the courage to seek his own freedom.<br>Thinking back on that moment, he no longer feels fear.<br>The boy gropes along the wall in the darkness.<br>His fingers brush over the sensation of dried earth.<br>Then, he finds a cold, metallic protrusion—a lever.<br>He pulls it with all his might.<br>And then, the floor behind the boy suddenly gives out.<br>The clockwork soldiers fall straight down into the depths of the abyss and vanish.<br>At last, Mama and the boy arrive at the castle's great hall.<br>In the center stands a darkened statue.<br>Mama calls it a scarecrow—a world of other people's memories lay on the inside.<br>Perhaps the boy's memories are among them.<br>The boy closes his eyes and thinks back on the path he's taken.<br>His mother, who gave him something precious.<br>His attendant, who walked alongside him on the same path.<br>He couldn't bear to lose such dear memories.<br>And so he makes his decision anew.<br>He will return his warped memories to the way they're meant to be.<br>With a gallant hue on his face, he reaches to touch the scarecrow.</p>

<img src="https://i.imgur.com/ninZEgv.png">
<p class="title">Chapter 3</p>
<p class="para">The enemy assaults The Cage.<br>Stories from memories are destroyed.<br>The boy continues his journey through The Cage alongside<br>Mama so that he may restore his own memories.<br>Mama sees him off as he ventures into the scarecrow alone.<br>The world within the scarecrow is that of a vast, lush field.<br>Trees rustle in the wind. The scent of clear water hangs in the air.<br>The tranquil sight fills the boy's chest.<br>Where could this possibly be? He observes his surroundings.<br>The mountain range against the clear sky is familiar to him.<br>This may be near his home country.<br>There's a conspicuous rustle from a nearby tree.<br>The boy tenses when he senses the presence of another.<br>Suddenly, two faces peek out from behind the tree—two sisters,<br>both with beautiful black hair.<br>The younger sister brushes away the leaves<br>stuck in her hair and blinks curiously at the boy.<br>"Are you alone?" she asks.<br>"Come play with me and my sister."<br>The boy is taken aback by the sudden invitation.<br>The more mature elder sister gently admonishes the younger.<br>"Don't bother the nice young man," she says.<br>The young girl's head droops.<br>The boy must hurry and restore the memory,<br>but he doesn't want to hurt the girl's feelings.<br>Perhaps for just a bit.<br>"Sounds like fun. Let's play."<br>The three then played together.<br>They chased one another around and played hide and seek.<br>The boy was born weak, but in this world,<br>he can run around as much as he likes.<br>The young girl then grabs the boy's hand and takes<br>him to a field full of blooming wildflowers.<br>He weaves a flower crown for them.<br>They cheer with joy when they see his deft skill.<br>The sight is one of peace, the sort of world the boy once wished for.<br>The younger girl has completely taken with the boy. She asks his name.<br>And so he tells them.<br>His is a blessed name.<br>But when the sisters hear it, they go pale.<br>The younger's voice trembles as she speaks.<br>"Isn't that...the name of an evil king?<br>The king with gray eyes who wages wars?"<br>What is the meaning of this? The boy is at a loss for words and falls silent.<br>"We have to go now... Thank you for playing with us," says the elder sister.<br>She takes her sister's hand and quickly leaves.<br>The woven flower crown falls from the boy's hands.<br>His gray eyes watch as the frightened sisters leave him.<br>To him, it is a sign of unbearable cruelty.<br>Beside himself, he shuts his eyes.<br>Perhaps it's because he rejected the world,<br>but the next thing he knows, he's returned to outside the scarecrow.<br>"Welcome back."<br>Mama speaks to the haggard boy.<br>They discuss what they learned about the scarecrow.<br>The memories within did not belong to the boy.<br>They are the memories of another who lived in his world.<br>The enemy warped the world, leading the boy to become a king<br>who led his country into countless wars.<br>Those memories should not exist.<br>The enemy has corrupted the story, and the story has lost its true form.<br>No matter how cruel it may be, he cannot look away.<br>Broken memories must be repaired to their proper state.<br>The boy restrains himself and curls his hand into a fist.<br>Mama tells him that she observed another reaction in the scarecrow.<br>With hope in their hearts, they press forward once more.<br>Tick, tock...<br>The countdown clock ticks forward one notch again.<br>But the two won't stop walking<br>until the final moment comes.</p>

<img src="https://i.imgur.com/ULwYXjU.png">
<p class="title">Chapter 4</p>
<p class="para">The hands draw ever closer.<br>The clock shows the countdown until the destruction of The Cage.<br>There's no time left.<br>The boy continues his journey with Mama so that he may<br>restore the memories of his own story.<br>And now...<br>The two stand before another scarecrow.<br>This scarecrow is a broken, crumpled heap on the ground.<br>Their last hope has shattered into tiny, brilliant pieces.<br>They follow the reading Mama had picked up and arrive at the throne room.<br>This place was always going to be out of the boy's reach, whether he liked it or not.<br>His father's room is steeped in gloomy shadows and filled with silence.<br>This scarecrow holds the boy's memories, without a doubt. The boy knows this well.<br>However...<br>The scarecrow, washed in light from the stained glass window,<br>vanishes as though the darkness is being swept away.<br>The dream he had for his journey's end will never come true.<br>The hands draw ever closer.<br>The clock shows the countdown until the destruction of The Cage.<br>There's no time left.<br>The boy continues his journey with<br>Mama so that he may restore the memories of his own story.<br>And now...<br>The two stand before another scarecrow.<br>This scarecrow is a broken, crumpled heap on the ground.<br>Their last hope has shattered into tiny, brilliant pieces.<br>They follow the reading Mama had picked up and arrive at the throne room.<br>This place was always going to be out of the boy's reach, whether he liked it or not.<br>His father's room is steeped in gloomy shadows and filled with silence.<br>This scarecrow holds the boy's memories, without a doubt. The boy knows this well.<br>However...<br>The scarecrow, washed in light from the stained glass window,<br>vanishes as though the darkness is being swept away.<br>The dream he had for his journey's end will never come true.<br>"There might still be a way," Mama says.<br>But the boy shakes his head.<br>He knows that her words are little more than empty comfort.<br>He knows that all hope has been shattered.<br>The proof is in her clock, which already signals the end.<br>If anything, he'd rather cherish the miracles he has<br>now than chase ones that will never come to pass.<br>He tells her this.<br>Slowly, he sits down upon the throne from which his father once led<br>their people and caused them great suffering.<br>He gestures for Mama to approach, and he cradles her on his lap.<br>He thinks back on his journey thus far.<br>All the fun time he spent with Mama.<br>He has a feeling that it's similar to the time he spent traveling with his attendant.<br>As the memories come back to him, his lips curl into a smile.<br>"Mama... Thank you for leading me here."<br>He has been given the time to think back on those precious to him.<br>His attendant. His family. His people.<br>And that, to him, is a miracle in itself.<br>Even though his path was filled with many failures.<br>And even if he is to lose all his memories.<br>He knows that the truly precious things will never vanish.<br>Of that, he is certain.<br>And yet...<br>After all this time, there is still one wish he simply cannot let go of.<br>And that is—<br>"I wish I could've seen him again."<br>Even if it was in a world of memories, he wanted to see him.<br>His lone attendant. The one who walked with him.<br>......<br>............<br>..................<br>......<br>............<br>..................<br>All he can hear are the gears of the clock turning.<br>Hand rests upon hand. A light rushes toward the boy's gray eyes.<br>His dreams that never came true. The journey he walked with his attendant.<br>The boy's memories<br>Vanish in the light of the end.<br>The Cage's destruction has been confirmed.<br>We could not stop the enemy's attacks in this branch.<br>But I have no doubt we will destroy the enemy in the branch you observe.<br>But you know what?<br>You will encounter so many memories from here on out...<br>And I'm sure everyone will find a way to overcome any hardship.<br>Also... I'm sorry.<br>I put him through so much pain.<br>But...I'll carry forward the torch of his will.<br>So, please. I'd like you to help as well.<br>In your branch, I want you to make sure he gets to see the one so dear to him.</p>

<p class="line"></p>
<p class="title">Associated Costume:</p>

<p class="title"><a href="/stories/reincarnation/characters/s1/rion/costumes/festive-exile"><img id="costume" src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-014.png?updatedAt=1756124583633">Guardian Exile</a></p>

<p class="menu" id="backButton"><a href="/stories/reincarnation/characters/s1/rion">Back</a></p>