---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Record: Bridge of Supplication</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    #costume{
        -webkit-filter: brightness(100%);
        padding: 0%;
        max-width: 192px;
        max-height: 192px;
        min-width: 192px;
        min-height: 192px;
    }
    #costume:hover{
        -webkit-filter: brightness(70%);
        transform: scale(98%);
    }


div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
@media screen and (min-width: 1921px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 3%;
}
}
</style>

<p style="margin-top: 1cm; font-size: 300%;">Record: Bridge of Supplication</p>
<p style="margin-top: 1cm; font-size: 300%;">This is an event.</p>
<p class="title"><a href="https://www.youtube.com/watch?v=0DQZ1A9E2s0"><u>Video</u></a></p>
<img src="https://i.imgur.com/QrABS07.png">
<p class="title">Chapter 1</p>
<p class="para">A boy of royal blood wanders the land after being exiled from the kingdom of his birth.<br>His clockwork attendant is forever at his side.<br>On this particular day, they come across a small village.<br>But as they move to enter it, trouble begins to brew.<br>Villagers emerge from their homes and immediately surround the pair.<br><i>Pursuers from the kingdom</i>, thinks the boy. <i>But how did they manage to find us in such an out-of-the-way place?</i><br>As the boy shifts nervously, the clockwork man drops a hand to the revolver at his side. But after a moment, it becomes clear the villagers have no idea who they are.<br><i>Then why do they seem so worried? What are they afraid of?</i><br>The boy asks the villagers to tell him of their problems, and quickly learns he is in the "Red" area of the village—an area eternally at war with the "Green."<br>They do not know when this conflict started.<br>They do not know why this conflict started.<br>They know only that it <i>is</i>.<br>This war is an unending legacy passed down from one generation to the next.<br>"We should go," the attendant says to the boy. "This is not our fight."<br>Yet the boy does not move.</p>
<img src="https://i.imgur.com/1V621QJ.png">
<p class="title">Chapter 2</p>
<p class="para">The Red villagers mill about with weapons in hand, ready to attack their Green foes at a moment's notice.<br>But just when it seems conflict is inevitable, the boy speaks:<br>"I know of a foreign ritual which can guarantee victory in any battle."<br>"It is a secret rite passed down from a people who have never known defeat."<br>"If we were to conduct this ritual, the gods would surely grant victory."<br>Though the Reds are skeptical at first,<br>the boy's charismatic speech and demeanor strike a powerful chord,<br>and they are soon chattering away excitedly.<br>"How do we conduct this ritual?"<br>"Will you teach it to us?"<br>"We must do it at once!"<br>"Calm, my friends," says the boy. "While I am willing to show you this ritual,<br>I see none of the special green wood required for the ceremony."<br>"Alas, such wood grows only in the area of the village where the Greens live."<br>With no other choice, the Reds reluctantly don disguises and head off to trade for the wood they need.<br>As the boy watches them scurry away, he exchanges a glance with his clockwork companion.<br>The man stares at him for a moment, confused.<br>For there is a faint smile on the boy's face.<br>It is an expression he has never seen before.</p>
<img src="https://i.imgur.com/ciLK1lS.png">
<p class="title">Chapter 3</p>
<p class="para">As the Reds make their way back with the wood,<br>the boy slips away to the Green section of the village and begins his speech anew.<br>"I know of a foreign ritual which can guarantee victory in any battle..."<br>"But alas, I see none of the special red silk required for the ceremony."<br>Though the Greens are skeptical at first, the boy's fine words and confident speech soon convince them.<br>With no other choice, the Greens reluctantly don disguises and head off to trade for the silk they need.<br>As the boy watches them scurry away, his companion turns to him.<br>"I know not of this ritual, my prince. Where did you hear of it?"<br>The boy rubs at his cheek and chuckles.<br>Then he leans over to the man and whispers:<br>"I do not know of it either."<br>The boy sounds positively delighted at this admission, which confuses the man even further.<br>And as he gazes at his companion's bewildered expression, the boy's smile grows even larger.</p>
<img src="https://i.imgur.com/x9b3mQT.png">
<p class="title">Chapter 4</p>
<p class="para">The boy and his companion have been in the village for a week.<br>The entire town is now festooned with bright, festive decorations.<br>Red silk and green wood form a rich interplay of color and shape.<br>It is enough to make even the coldest heart leap with joy.<br>From a distance, the boy and his companion watch the village's transformation.<br>"This is the true victory I promised them," says the boy.<br>Once the intermingling of red and green is wrought, the ritual will be complete.<br>"Then this was your goal all along," replies the man.<br>The boy chuckles softly and nods his head.<br>"It is so much more beautiful this way, don't you think?"<br>But then, the Reds and Greens begin to quarrel.<br>"Our decorations are the finest," says a Red.<br>"No," replies a Green. "Ours are clearly the most beautiful of all."<br>Though voices are raised, it does not lead to violence, for neither side carries a weapon.<br>Instead of warring, the argument turns to a discussion about how both sides can make the decorations even better.<br>As they confer, a pair of smiling children race past, shrieking with delight at some invented game.<br>One Red. One Green. Yet both enjoying the ritual with their newfound friend.<br>And though the boy caused all this to happen, not a single person comes to offer him thanks for his actions.<br>"Are you all right with this, my prince?" asks the clockwork man.<br>The boy nods in the gathering dusk, his mind awhirl with possibility.<br>Perhaps he can replicate what happened here within his own kingdom.<br>This is his sweet and painful hope.<br>After a moment, he turns his back on the village and begins to walk. His attendant silently follows.<br>The clockwork man ponders the future of the village.<br>He knows they may once again pick up their weapons and war with one another.<br>But their children now know a world where colors blend.<br>And those children will live on.</p>
<p class="line"></p>
<p class="title">Associated Costume:</p>

<p class="title"><a href="/stories/reincarnation/characters/s1/rion/costumes/yuletide-exile"><img id="costume" src="https://ik.imagekit.io/closesttopurple/nier-rein-costume-icons/rion/rion-c-012.png?updatedAt=1756124583704">Yuletide Exile</a></p>

<p class="menu"><a href="/stories/reincarnation/characters/s1/rion">Back</a></p>