---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Dimos's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Dimos's Character Story</p>
<p class="title"><a href="https://www.youtube.com/watch?v=cmY6TIClMXc"><u>Video</u></a></p>
<p class="title">Chapter 1</p>
<p class="para">Wind rustles in the trees. Crows caw softly in the gloaming. As I scan the quiet forest
in search of any possible threat, the prince at my side murmurs, "It's so peaceful here."</p>
<p class="para">
He is here in search of a way to lead our country out of war. And as he travels from
nation to nation preaching his message of peace, I walk at his side to protect him from those
who refuse to listen. But I am a clockwork man created for war, and no matter how much time
we spend together, the truth of his message continues to elude me. I draw close to the prince
as he contemplates the setting sun. I wonder why he would think this place to be "peaceful."
<br>Perhaps it has something to do with the red hues of dusk?
</p>
<p class="title">Chapter 2</p>
<p class="para">As the prince's disease worsened, so did grow his impatience. It would seem he desires
to achieve peace as quickly as possible. So when I suggest we rest in a church until he feels
better, it takes a good deal of effort to get him to agree.</p>
<p class="para">Today again, the prince's condition is poor, so we wait for nightfall in the church. I take
this opportunity to ask him: "What is a peaceful world?"
<br>He looks at me with surprise, but a willful flame burns in his eyes. After a moment, a thin smile
crosses his lips. He reaches out, puts a hand on my chest, and says,
<br>"It means you never have to hurt <i>here</i>."
<br>It must be a different sort of pain from wounds as I know them. He does not notice my lack
of understanding and continues to talk. I simply nod my head, hoping it will bring him energy.</p>
<p class="title">Chapter 3</p>
<p class="para">The disease spreads. The prince's body withers and fades. When he can no longer stand, I travel alone to nearby villages in search of any food or medicine they can spare. In the villages,
I see people driven mad by the horrors of war. They grieve for lost family.  They curse their empty
bellies. And they all turn their weapons on me—the clockwork man.</p>
<p class="para">One day, I find a single apple in the woods. My prince lacks the strength to eat it on
his own, so I chew small bites and feed it to him as a mother bird would its own young. As I
see his haggard cheeks and hear his final, gasping breath... I feel a pain deep within my chest
and finally realize the truth of everything that my prince has been fighting for.
</p>
<p class="para"><i>It means you never have to hurt here,</i>
    <br>he had said. Oh, but why did it take such loss for me to finally understand?</p>
<p class="title">Chapter 4</p>
<p class="para">My bODy is RAvaGeD bY RuSt. mY meMOrIes GrOw DeFEcTIve. YEt I stAy by hIS SIdE:
    <br>MY PriNCe, wHo TImE eROdED. THerE is A gAPinG, EmpTY hOLE iN mY cHEst. ThE pAiN I feLT
    <br>jUSt BeFOrE hE DieD... iS GOnE. I wILL PAinT tHIS ChurCH ReD. I wILL uSE THe BloOd OF
    <br>HUmANs WHo DEniED HiS SalVATioN ANd nOW InTRuDE oN hIS SLuMBeR. IN ACcORDaNCE
    <br>WiTH thE PROMiSE We MAdE ThAT Day, I WiLL CONTInuE to ProTECt HIm... aNd ThE PEaCE he
    <br>dESiRed FOReVER...
</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/dimos">Back</a></p>