---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Dimos's Dark Memory</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Dimos's Dark Memory</p>
<p class="title"><a href="https://www.youtube.com/watch?v=2gFqZhbaF4c"><u>Video</u></a></p>
<img src="https://i.imgur.com/Cu4OIQy.png">
<p class="title">Chapter 1</p>
<p class="para">A sudden flash of light streaks out toward the city clock tower. A moment later, a cannon ball
makes contact with a thundering crash and a portion of the tower collapses, raining debris everywhere.</p>
<p class="para">"Estimating landing points and dispersion range. 5.34 seconds until falling debris impacts ground."</p>
<p class="para">
At the base of the tower, a man performs rapid calculations, then takes ten quick paces back. When he
stops, the debris strikes the very spot where he had stood just moments before, creating a billowing
bloom of dust. But the man pays it no mind. Instead, he focuses on the enemy base that fired the cannon.</p>
<p class="para">
This battle unfolds in a technologically-advanced city of an enemy country. A city where smoke
now rises from every corner. The king the man serves has a reputation as a tyrant, and has conquered
many other nations through force of arms. This war was sparked when he severed diplomatic ties. And
like many sparks, it has turned into a raging inferno. Whenever the man spies an enemy unit, he
silently pulls his gun from the holster. One bullet. One kill. The enemy never knows what hits them.
<br>His is a supernatural, inhuman precision.</p>
<p class="para">He is a mechanical soldier—a clockwork man without life—developed expressly for the purpose
of fighting in war. The man dashes out across the battlefield, staying low. He has orders to scout out
the enemy forces. It has long been assumed that both armies are of equal strength. But the enemy has
developed a new weapon, one that can launch massive artillery shells over great distances. Their front
line has been losing ground, and it is now only a matter of hours before the main base comes into range
of the enemy's guns. Having finished his scouting mission and dispatched what enemy soldiers he can
find, the man returns to the base.</p>
<p class="para">"Base" is a generous term—in truth it is little more than a large tent set up to temporarily house
their commanders. Inside the tent, a map of the city is spread across a large table. Pawns have been
placed on it to show the state of various units. The lead commander is a boy—one too young to even
serve in battle.</p>
<p class="para">"Your decision, Highness?"
    <br>The "Highness" spoken of is the boy: the kingdom's eldest prince. It is he who sent the clockwork man
on his scouting mission. And though the prince volunteered for this command, he now finds himself with
the unenviable task of making decisions that hold sway over the fate of the entire war. Eventually,
one of his generals suggests using some of their own men as a distraction in order to get the drop on
the enemy. The prince frowns at this proposal before rejecting it. He is still clearly a boy in thought
as well as appearance. He is unable to sacrifice any of his own men, even when it might lead to the
survival of many times that number. It is naivety—and it is on clear display for all to see. The general
who made the suggestion scoffs at this decision.
</p>
<p class="para">"Your hesitation will kill us all!" he cries.
    <br>He slams both hands on the table to better illustrate his point. Then he announces his intention to take
his men and fight as he sees fit before storming out of the tent in disgust. Such division amongst the
ranks only worsens the situation. Yet the prince continues to issue commands. It is unclear what so
spurs him to action
</p>
<p class="para">
The clockwork man stands to one side of the tent and watches the prince from the corner of his
eye. Though he says nothing, he knows the lack of leadership will eventually lead the enemy right to
their door. And all too soon, this comes to pass.</p>
<p class="para">"The base is lost, My Prince," says the clockwork man.
<br>"You must flee and save your own life."
<br>"No," replies the prince.
<br>"I'll not leave while my men are still out there fighting and dying."
</p>
<p class="para">Though the man calmly explains that the prince has no choice but retreat, his young charge does not
seem to understand. There is a flash. A cannonball explodes into the tent, blowing it apart.
<br>All that remains is a massive crater and a few scraps of fabric. The man hears harsh breathing and
turns his head. The young prince is running behind him. Just before the cannonball struck, he grabbed
the prince and forcibly removed him from the tent. Now, the two of them run through an underground
tunnel that leads outside the main part of the city. Behind them, the sounds of war gradually diminish.</p>
<img src="https://i.imgur.com/a2GMgjM.png">
<p class="title">Chapter 2</p>
<p class="para">War still raged in every corner of the city. This is why the clockwork man is leading the
prince away. As he runs, he examines every corner for danger; looks in every shadow for possible
ambush. The prince follows, gasping for breath. Eventually, the prince loses his footing and falls to
the ground with a cry. The man stops. Part of his orders are to protect the prince. Though they gave
him information on a need-to-know basis, he was told the prince suffers from a congenital disease.
<br>If he forced him to run further, it might cause serious harm.</p>
<p class="para">The man quickly scans the area. The tunnel is massive, stretching on without end in
both directions. The tracks that run under his feet speak to its use as a train tunnel during better times.
<br>After a brief search, he locates a door in the wall. It is half-buried in debris, but when the man peers
inside, he finds a small storage room behind it. Slumbering within are battered lanterns, picks, and
shovels. It is a storage place for tools used to maintain the tunnel. Thinking it the perfect spot to lie low,
the man brings his young charge inside.</p>
<p class="para">"This is all because I took command," says the prince sadly.
    <br>With his ragged breaths now steadied, he is able to turn a critical eye upon his earlier actions.
</p>
<p class="para">As his kingdom commits to a cycle of endless war, soldiers and citizens alike are growing
increasingly weary. The prince chose to take on the burden of command so he might be able to save
them all. But in the end, things did not transpire as he wanted. He never considered having to place
the lives of his own soldiers on the scales. But he now sees that what he thought of as kindness had
instead brought death and pain to multitudes. The man stares at the boy and considers his words.</p>
<p class="para">"You did well," he says finally.
    <br>As the words leave his mouth, they feel strange. Off. He cannot grasp the intention behind what he said.
    <br>It is simply the natural phrase he arrived at when he saw the prince's grieved expression. The boy stares
at the man blankly. They wait that way for a bit, alone in the darkness. But then, a small glimmer of
brightness returns to his face. With an awkward, unpracticed smile, the boy thanks the man for saving
his life during the recent battle.
</p>
<p class="para">"If I am ever in danger again," he says, "maybe you can help me out. "</p>
<p class="para">His words come with a hint of jest, but also a touch of joy.</p>
<p class="para">The clockwork man continues his conversation with the prince,
but as they do so, the boy's coughs come more frequently. He eventually produces a medicine bottle
from his pocket. The man surmises it is used to suppress the cough. But the bottle is empty. A pained
look moves across the prince's face, one that he tries and fails to hide.</p>
<p class="para">"The royal family cannot show weakness around others," he says.
    <br>"This is a lesson my father taught me again and again."
</p>
<p class="para">He had not coughed once at the base because the medicine was able to disguise his symptoms.
    <br>But now...
</p>
<p class="para">"That is why what you see here must remain a secret."
    <br>His speech complete, the boy raises a pinky finger and extends it to the clockwork man.
    <br>The man's database tells him this is a human ritual of promise. Though he intertwines his finger with
the prince's, the action makes him somehow uneasy.
</p>
<p class="para">The man suddenly hears the distant sound of footsteps. He concentrates his aural apparatus on
the noise. Enemy soldiers, most likely. He estimates a dozen or so. He fixes his eyes on the gap in the
door, half-buried in rubble. A thin, wavering line of light passes through it. He will never outrun the men
with the sickly prince in tow. So both man and prince still their breaths, stay put, and wait. The man
places his hand over the boy's mouth so he will not give them away. The light through the door grows
brighter, then brighter still.</p>
<p class="para"><i>*cough*</i></p>
<p class="para">The prince's body betrays them both.</p>
<img src="https://i.imgur.com/hMOADy1.png">
<p class="title">Chapter 3</p>
<p class="para">They sit in the darkened room. The man presses a hand against the prince's mouth, to still his
breathing. Men—most likely enemy soldiers—are approaching their position. But as they wait for them to
pass, the prince's cough rips through the silence.</p>
<p class="para">"Here!" yells a soldier.
<br>"They're here!"</p>
<p class="para">The room surrounded, the man knows he has no choice but to destroy every last soldier in order to keep
the prince safe. He kicks open the door and pulls his weapon from his holster. But he does not fire.</p>
<p class="para">"Highness, you live!" says the general from before.
<br>Sensing the turning tide of battle, he had taken his men and abandoned the base before seeking shelter
in the tunnel. The prince is clearly relieved to see his rescuers arrive.</p>
<p class="para">But as he approaches the soldiers, the general raises a hand and his men point their
swords at him. The prince stops moving and confusion spreads across his face. This sight causes the
general to snicker. He then explains a shocking truth: A plot has been unfolding behind the scenes.
<br>The prince is to be murdered, and his death blamed on the war. The plan was set in motion by his
younger brother, who sought to eliminate his competition for the throne. During the previous battle,
they had set their units in inferior positions in order to tilt the battle in favor of the enemy. After their
position was overrun, they would use the ensuing chaos as cover to eliminate the prince. Once this was
accomplished, the kingdom would send reinforcements to win back all the ground they had lost.</p>
<p class="para">"This can't be happening..." murmurs the prince.
<br>The general grins wide.</p>
<p class="para">Suddenly, the clockwork man turns to the general, who immediately barks an order:
    <br>
</p>
<p class="para">"You there! Machine! Stand down at once!" The man is a mechanical soldier manufactured by the
kingdom. He is programmed to follow any order from a superior officer. So at the general's command,
he freezes. He watches dispassionately as the general approaches the boy with his sword unsheathed.
<br>The prince does not yield ground, but instead stares blankly in the shock of his own country betraying
him. But rather than strike the killing blow, the general takes the chance to berate his prey.</p>
<p class="para">"You're a useless worm—an unthinking coward who put all of us in danger in a sad attempt to earn your daddy's approval."
    <br>"I've lost men because of you. Good men. Friends."
</p>
<p class="para">Tears begin to spill down the prince's cheeks, but he does not deny the truth of these words.
    <br>His piece said, the general raises his sword above his head and prepares to strike.
</p>
<p class="para">The clockwork man cannot accept what he is seeing.</p>
<p class="para"><i>
I must protect the prince.
<br>I must stop the general.
<br>I must reach for my gun.</i></p>
<p class="para">But because of the general's orders, he can do nothing. Instead, in the face of the prince's last moments,
he accesses records of the boy in his memory banks. He sees how the prince desperately issued
commands in an attempt to keep his soldiers safe. He sees how the prince showed weakness—and
trusted him. Suddenly, his records find a phrase the prince said moments before: </p>
<p class="para"><i>If I am ever in danger again...</i></p>
<p class="para">The man draws iron, his hand fast as blue blazes, and blows the general's sword arm from his body.
    <br>He fires again. And again. And again. The general's men, caught off-guard, fall one after the other.
    <br>The prince had said the line in passing jest: <i>If I am ever in danger again, maybe you can help me out.</i>
    <br>But the clockwork man chooses to take these words as royal orders that demanded absolute
obedience—orders that override even those of a senior military officer. The wounded general snarls
and draws his own weapon. The clockwork man shoots it out of his hand.
</p>
<p class="para">In the blink of an eye, the tables have turned. The ground is painted red. The general begins to
plead for his life, but it means nothing to the man, who presses his barrel against the general's temple.</p>
<p class="para">"Stop!" cries the prince.
    <br>Despite the general's actions, the prince still seeks to save his life. Though he did not speak his feelings
aloud, the man understands the reason behind the request, and so lowers his weapon. A moment later,
more footsteps ring out. This time, it is not traitors, but the enemy army. The man has a choice: Save the
general...or save the boy. He lifts the prince up and begins to run.
</p>
<p class="para">"I couldn't save him," says the prince as the general's cries grow weaker.
    <br>"I tried, but I...I couldn't..."
</p>
<img src="https://i.imgur.com/4kG9gOI.png">
<p class="title">Chapter 4</p>
<p class="para">In the middle of a wasteland where the wind blows dry stands a kingdom surrounded by walls.
    <br>The contours of an enormous castle waver as the sun sets behind it. The clockwork man and the prince
approach the kingdom with a sigh. They are home. They stand before a thick metal door at the castle
gate that leads to the town beyond. A guard sees the two and approaches.

</p>
<p class="para">"Y-Your Highness? Uh, I see you are safe..."
    <br>Everyone assumed the prince had met his end in battle, and the guards are unable to hide their shock.
<br>The guards respectfully place the prince on a carriage headed for the castle. But as he watches the
prince go, the clockwork man is presented with a false warrant for his alleged crimes.
</p>
<p class="para">The first charge: Abandoning his post.
<br>The second charge: Betraying his unit.
<br>The third charge: Murder of a superior officer.</p>
<p class="para">The man did what he did to save the life of the prince. Though the accusations are willful mistruths at
best, he has no way to combat them. And even if they were completely true, he still believes what he
did was right.</p>
<p class="para">The clockwork man is taken to a laboratory. A researcher orders him into a mechanical chair
and places alloy fixtures on his limbs and torso. His "treatment" will be a complete memory wipe.
<br>The man's consciousness drifts in darkness. It is a strange sensation, almost like floating. This is his
memory space. In the darkness, images begin to form. He sees men blasted to bits by his own steel.
<br>Memories of war. The face of every man he's ever killed is recorded here. Next, he sees a conversation
he had with the general. He is being ordered to protect the prince at all cost.</p>
<p class="para">Images appear.
<br>Images flicker.
<br>Images disappear.</p>
<p class="para">But finally, he comes to memories of the prince himself. He sees him desperately issuing orders at the
base. He sees his pained expression as he spoke of his weakness. He sees him shed tears at hearing the
truth behind the war.</p>
<p class="para">
"That is why what you see here must remain a secret."
<br>He sees the secret promise and ritual they shared. Compared to his other memories, these almost
seem to...glow.</p>
<p class="para">
Suddenly, a sound—a single, insistent buzz. His memories of the prince begin to fade.
<br>He cannot stop it; they vanish one after the other. He should not be bothered by this. After all, he is
a mechanical soldier designed for war. The memory-reset program whirs inside him. Though he should
be accepting the procedure without pause, the man resists the deletion of any memories of the prince.
<br>He reaches out to them with his mind. But he will never find them. The deletion accelerates. The buzzing
grows louder. A pained groan slips from his lips. What was the meaning behind his own feelings?
<br>Why did he resist the procedure?</p>
<p class="para">The man's eyes spring open. He does not know why he is in the laboratory. He knows only that he is a
mechanical soldier created for war. One researcher looks at the results and shakes his head.</p>
<p class="para">"Looks like there was an error in the reset process. You're going to be discarded."
    <br>After being informed of his fate, the man is taken away and placed in an underground storehouse.
    <br>His only companion is the hiss of steam escaping from pipes. Mixed in among similarly discarded
scraps of junk, the man attempts to sleep. But an alien sensation in his chest prevents it. Even after he
searches all parts of his memory, he cannot locate the cause. He realizes that thinking about it will
accomplish nothing. All he can do is wait as he slowly rots away.
</p>
<p class="para"><i>There is someone I must see.</i></p>
<p class="para">What comes to mind at the very end is nonsense.
    <br>But the man ignores it, and instead slowly closes his eyes.
</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/dimos">Back</a></p>