---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Frozen Heart</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Frozen Heart</p>
<p class="title"><a href="https://www.youtube.com/watch?v=PY-5IFB3GWA"><u>Video</u></a></p>
<p class="title">Chapter 1</p>
<img src="https://i.imgur.com/qvW124s.png">
<p class="para">The man's consciousness is suspended in darkness.
<br>He is consumed utterly by the sensation of floating. Motionless. Adrift. Alone.
<br>Here in this space do his memories lie.
<br>Though the engineers refer to it as "storage," the name matters not.
<br>Hovering about him are images covered in layers of static and indecipherable noise.
<br>Once, perhaps, they were things he had seen and heard,
but now they are damaged beyond all meaning, barely worthy of the name of "memory."
<br>The man absently watches images pass by in the dark.</p>
<p class="para">From whence do they come? To where are they headed?
<br>He does not know the answer to these questions, so he simply...drifts.
<br>But then, in that eternal moment, a voice.</p>
<p class="para"><i>Once this world finds peace, I want you to search for the reason you live.</i>
<br>The voice is soft. A caress.
<br>Though the image is damaged and the sound grows indistinct as it continues to play,
the man somehow knows these words were spoken to him.</p>
<p class="para">
He desperately wants to hear the voice again.
<br>Over. And over. And over.
<br>He does not understand what the words mean, nor the circumstances in which they were said.
<br>But for some reason, a powerful need to make another's wish come true holds him in its fist.</p>
<p class="para">
<i>Once this world finds peace, I want you to search for the reason you live.</i>
<br>But his body is gone to rot now.
<br>There can be no reason to live in a stygian world such as this.
<br>Feebly, he attempts to halt his thought process.</p>
<p class="para">Static abruptly rips through his consciousness, causing bewilderment to overtake him.
<br>The static spreads, swallowing both the space and his data entire.
<br>He reaches out, attempting to save that one snippet of voice...
<br>But all is engulfed by the black.
<br>His consciousness remains. It grows clearer. Focused.</p>
<p class="para">He can hear now. Smell. Touch.
<br>Moments earlier, he'd not even been certain of the presence of his own body,
but now all his senses return in a rush.
<br>Sight arrives last.
</p>
<p class="para">It comes in the form of a brilliant light that engulfs his very being.
<br>"What...?"
<br>The word escapes his lips as confusion settles in his chest.
<br>He feels a vibration in his throat, unaware the word is his own.</p>
<p class="para">"You're awake," says an unfamiliar voice.
<br>As his eyes slowly grow used to the light, a form wobbles into shape before him.
<br>It is a woman with bright red hair, clad in a crisp labcoat.</p>
<p class="para">
"Your storage was really old, so I wasn't sure if this was going to work. But hey, it did! Good thing I went for it, huh?"
<br>She can barely contain the excitement in her voice as she drags a nearby mirror over.
<br>"Oh, and I freshened up your look while I was at it. Might as well, right? Here, take a look."
<br>She draws him up from his spot on the ground and makes him stand straighter.
<br>"Look at you!" she cries, pointing at the mirror.
</p>
<p class="para">
The sight is beyond the man's comprehension.
<br>He tilts his head and blinks once, slowly.
<br>A sense of unease buzzes as he watches the boy in the mirror copy his movements.
<br>"Do you get it? You've been reborn!"</p>
<p class="para">
He looks at his hands.
<br>They are small. Soft. A child's. It almost seems as though natural blood flows through them.
<br>Such hands could not even grasp a gun—how can they possibly be his?
<br>"So? What do you think?" asks the woman with red hair.
<br>As she begins to giggle, the man trapped in the false body of a boy looks back at her in confusion.</p>
<p class="title">Chapter 2</p>
<img src="https://i.imgur.com/Uy2jLat.png">
<p class="para">Parts fill the boxes: cables, circuit boards, integrated circuits.
<br>The man—no, the boy—does not know their purpose.
<br>Following the woman's instructions, he carries the goods,
separates the parts, and polishes that which can be used.
<br>The juvenile body lacks muscular tissue, and cannot carry much.
<br>It cannot reach for items in high places, nor physically exert beyond the capabilities of any human child.</p>
<p class="para">The boy does not recall his previous body, exactly.
<br>But he remembers it was not this small, nor this powerless.
<br>Faint fragments of memory slumber in a far corner of his mind.
<br>The hands on his previous body were large enough to hold a gun of deadly caliber.
<br>He does not know if they were used to protect, or to destroy.
<br>But he knows his previous orders were all ones of slaughter.</p>
<p class="para">As such, he finds indescribable discomfort at being
placed in the body of one meant to meld seamlessly into human society.
<br>Suddenly, his hands cease their work. His head snaps up.
<br>The woman who had been so engrossed in her work has fallen asleep at her desk.
<br>The boy drapes a blanket over her shoulders with a practiced hand.</p>
<p class="para">The woman calls herself a researcher, and collects pieces of abandoned machines from the world over.
<br>She has a particular interest in those produced by a kingdom that fell many, many years ago.
<br>Apparently, his new young body was crafted from parts created in that kingdom.
<br>The storage incorporated in his chassis is old,
but the woman claims it is compatible with wireless communication, and therefore of great value.
<br>She has also found indications it was once used as a kind of backup storage.</p>
<p class="para">She is a master of machinery; It is her life's work to turn discarded parts into incredible robots.
<br>But she does not let the boy go, instead keeping him by her side so he might aid in her work.
<br>The humans of the city respect her.
<br>And because he keeps so close to her, they immediately accept him as well.
<br>They even call out to the boy whenever he walks through the city.</p>
<p class="para">"You're with the researcher, right? There's a good lad."
<br>"If you ever need help with anything, just let me know."
<br>"You and me should go play sometime!"
<br>Whenever they do this—treating him like a human
child—the boy is forced to quietly calculate an appropriate response.
<br>His life now is one of peace and ease.
<br>And each time such pleasant sensations come to him, the voice fragment replays in his mind.</p>
<p class="para"><i>Once this world finds peace, I want you to search for the reason you live.</i>
<br>Most of the data in his memory has been destroyed.
<br>He does not know from whence he came, nor where he is headed.
<br>Why would someone ask a thing like him—a machine—to search for the reason he lives?</p>
<p class="para">As he ponders this, the young baker's son notices him and tilts his head curiously.
<br>"What's the matter?"
<br>"I am searching for an answer. Please inform me the reason why I live."
<br>The baker's son's eyebrows furrow.
<br>"Uh, I dunno. That sounds complicated."
<br>"Yes. My apologies."</p>
<p class="para">"But I think we live so we can do fun stuff!"
<br>"Fun...stuff?"
<br>"Yeah! I have lots of fun playing with friends from school, so that's probably why I'm alive."
<br>The boy now has one more piece of data to analyze.
<br>After that, wherever he goes,
he poses the same question to any townsperson or robot capable of communication.</p>
<p class="para">"The reason I'm alive is to work hard, get tons of money, and look reeeal good."
<br>Taking the florist's words to heart, the boy attempts to find meaning in her purpose.
<br>He paints his face in various colors, decorates his hair, and bedecks himself in finery.
<br>But he does not understand what purpose these actions serve.</p>
<p class="para">"I EXIST TO KEEP EVERY CORNER OF THE CITY NICE AND CLEAN."
<br>The words of the city's cleaning robot are easier to understand than those of the florist.
<br>Its is a simple existence:
<br>It sweeps dust from crevices in flagstone and places rubbish in the basket on its back.</p>
<p class="para">The boy follows the cleaning robot and tries to aid in these tasks.
<br>Though it is repetitive, endless work, it poses little trouble for the boy.
<br>But while he finds a sense of pleasure in keeping the city clean, he does not know if it is a reason to live.
<br>As the cleaning robot was created for that sole purpose,
it makes sense the task would be its reason for existence.
<br>But the boy feels it is not quite right for him.
<br>What <i>is</i> a reason for living, anyway? Can one find it simply by being ordered to be a certain way?</p>
<p class="para">As the boy helps the researcher with her work,
he asks more townsfolk his question and attempts to emulate their purpose.
<br>"You've been tackling complicated stuff lately,huh?"
she asks him one day. "Asking why people live and all that?"
<br>A curious smile crosses the researcher's face.
<br>In response, he poses the question to her.</p>
<p class="para">
"Me? Oh, that's easy. I make people's lives better and more peaceful by building robots."
<br>When people speak of their purpose, their eyes shine.
<br>Even the robots speak with a hint of pride and duty.</p>
<p class="para">But for some reason, the boy cannot find the same emotions in himself.
<br>None of the answers given to him quite line up with the reason the boy lives.</p>
<p class="title">Chapter 3</p>
<img src="https://i.imgur.com/F05w1gb.png">
<p class="para">Easy days pass amidst the peace.
    <br>Though the boy continues to assist the researcher, he remains unable to find the reason he lives.
<br>But simply living among the people gives him ample opportunity to see them smile.
<br>He assumes it to be a vastly different experience from when he was a tool of slaughter.
</p>
<p class="para">Machines were made to serve people.
<br>Like the other robots, he knows that fulfilling his prescribed task will count as a reason for living.
<br>But that does not sit well with him. His thoughts—his circuits—reject the notion.</p>
<p class="para">
And then, a fateful day arrives.
<br>The woman, who always wore comfortable clothes while engaged in research,
appears before the boy in a beautiful dress, her hair tied neatly back.
<br>The pale green of the dress reminds him of the first buds of spring.
<br>"I'll be wearing this to the commendation ceremony," she informs him.
<br>"So am I looking good or what?"
<br>The boy can only tilt his head in response.</p>
<p class="para">"The king is presenting me with a medal," the woman says shyly.
<br>There is a faint blush on her cheeks, as well as a brilliant shine in her eyes.
<br>The robots she created had improved the lives of many,
and the king wished to reward her contribution to the peace.
<br>"You know, this medal belongs to you as much as me."
<br>"I do not understand. I only worked in accordance to your orders."
<br>"Yeah, but you were such a HUGE help! And in fact..."</p>
<p class="para">With that, she begins to tell him a story.
<br>She spins the tale of what inspired her to start building robots.
<br>In her hands, she holds an old picture book.
<br>It tells the story of a prince who traveled the land preaching peace,
accompanied by a clockwork attendant.
<br>The story left a strong impression on her when she read it as a young child.</p>
<p class="para">That fabled kingdom of yore had become embroiled in the fires of war.
<br>In that tragic time where many people lost their lives, machines were used not to support, but to kill.
<br>But amidst the war and strife, one person stood up for others.
<br>He was the eldest prince of the selfsame kingdom that started the wars,
and he had a singular companion: a clockwork man slated for disposal.
<br>Together, this pair avoided the kingdom's pursuers, traveling the land while they advocated for peace.</p>
<p class="para">But the prince was born sickly, and did not live to see the world he strove so hard to create.
<br>Yet people had been so moved by his ideals that
they became the foundation for peace in the current times.
<br>"So that's basically it," the woman concludes. "I just wanted to be like the
prince who was good with machines—I never really understood
the significance of what he accomplished."</p>
<p class="para">
The robots she now creates to help people are built from parts salvaged from old clockwork soldiers.
<br>At the thought of all the people she's helped, a smile crosses her face.
<br>It is brilliant, amicable, and gentle.
<br>At its appearance, a thought occurs to the boy: He has seen this smile before.</p>
<p class="para">His memories should have broken down long ago.
<br>Yet those fragments now begin to bind together in a way he can only think of as significant.
<br>The kingdom. Wars. Clockwork soldiers. A prince.</p>
<p class="para">Images drift within his memory.
<br>Though muddled by static, he beholds the face of a boy.
<br>A boy around the same age as his current body.
<br>The boy is looking directly at him.
<br>Though his eyes are gentle, there is an unyielding light shining behind them.
<br>His thin lips part.
<br>When he next speaks, he says the same words which first came from the darkness:
<br><i>Once this world finds peace, I want you to search for the reason you live.</i></p>
<p class="para">As the voice fades, countless memories flicker through his mind.
<br>Blending with the crowds of a city. Hiding in a shop near a battlefield.
<br>Walking a road in the rain. An empty forest. A shattered church.
<br>The images twinkle like stars in the darkness of his memory.
<br>Images of days spent protecting <i>him</i>.
<br>Though worn and riddled with static, they remain surprisingly fresh in his mind.
<br>And to the very end, they hold a powerful grip on his heart.</p>
<p class="title">Chapter 4</p>
<img src="https://i.imgur.com/1Cc73CS.png">
<p class="para">Faded images. Voices in static.
<br>The memories that endure within the boy are missing much,
but now he finally recalls what is most important to him.
<br>He remembers who beseeched him to find the reason he lives.
<br>"There's someone I must see."
<br>This he says to the researcher.
<br>It is the day after she received the medal from the king.</p>
<p class="para">Unable to hide her curiosity, she asks him question after question.
<br>But he is prepared with ready explanations to them all.
<br>Finally, she sets her kind eyes on him. "Safe travels," she says.</p>
<p class="para">Perhaps she has known all along. Perhaps she has known
about the memories that drift in his storage.
<br>This would explain why she kept him by her side all this time.
<br>Instead of saying anything in return, the boy simply nods.
<br>But he does so with thanks.
<br>Thanks for awakening him—and for allowing him to remember what matters.</p>
<p class="para">As he leaves the city, people turn to him with smiles.
<br>"Where are you going?"
<br>"You should take some flowers!"
<br>"GREETINGS. I ENGAGE IN ANOTHER DAY OF KEEPING THE CITY CLEAN."
<br>The city is calm. Peaceful.
<br>Anyone can find the happiness they desire in this place.</p>
<p class="para">But the boy does not think twice.
<br>He now knows from whence he came. He now knows to where he goes.
<br>He has remembered it all.
<br>He will retrace the steps of his broken memory.</p>
<p class="para">The world beyond the city is vastly different than the one he once knew.
<br>Yet he follows the trail of his recollections, letting
long-forgotten names and vague echoes of the past guide him.
<br>He walks as though following another boy's footsteps.</p>
<p class="para">He passes through lively towns and wide fields.
<br>Past cheery groves and silent lakes. Eventually, the boy finds himself in a deep, dark wood.
<br>There is nothing particularly special about these woods.
<br>But the boy is certain it is <i>the place</i>.
<br>As he ventures deeper into the forest, he finds a ramshackle church long fallen into disrepair.
<br>The moment he sees it, a thin voice rises from his sandworn memories.</p>
<p class="para">"My Prince..."
<br><i>I want you to search for the reason you live.</i>
<br>The soldier did not understand why the prince told him so at the time.</p>
<p class="para">
The prince had likely been worried what would become of the soldier after he passed.
<br>He often spoke of the future between troubled, delicate breaths.
<br>Perhaps he hoped to offer his guardian the faintest
<br>guidance for the time after he passed from the world.</p>
<p class="para">Once the robot boy—<i>the man</i>—passes through the church,
he arrives at the spot he has been searching for.
<br>The ground is slightly raised. Sticking from it is a metallic staff eaten away by rust.
<br>It is a grave.</p>
<p class="para">From beneath the earth, he senses a faint signal.
<br>If his memory can be trusted, this is where the prince and his clockwork attendant are buried.
<br>The clockwork soldier's original body had been laid to rest at this grave uncountable years ago.
<br>What the man now carries is his backup memory.
<br>Though his adolescent form is weak, it can still exist in a peaceful world.
<br>For he is no longer a tool of slaughter, but a being that exists to help others.</p>
<p class="para">Yet he still cannot find a reason to live in that life.
<br>That reason exists in only one place: here.
<br>The man aligns his signal with the body slumbering beneath the earth.
<br>He then begins transferring his memories to his original self.
<br>Strength leaves his body. Light flickers and fades.
<br>His boyish form crumples to the earth.</p>
<p class="para">At long last, the clockwork man awakens.
<br>The dark is perfect.
<br>His sight has long since broken down.
<br>Though he would not be able to see anything from his position beneath the earth regardless.
<br>His hearing is dim. His body still.
<br>He feels a terrible heat emanating from deep within his form—likely
due to broken machinery being forced to life once more.
<br>But here, in this dark and quiet place, he is buried with his master.
<br>The one person the man willingly chose to serve—and the one he sought to protect.</p>
<p class="para">The reason for living he had been so desperately searching for.
<br>All he ever wanted was to stay by the prince's side.
<br>Even if the prince himself no longer lived.
<br>Faulty memories produce error after error.
<br>Images and sounds crumble like castles of sand.
<br>Yet the man recalls all the humans and robots who spoke of their purposes in life.</p>
<p class="para">The shining eyes of the humans. Their happy smiles.
<br>The inorganic voices of the robots. Their sense of pride and duty.
<br>Only now, in this place, does the man understand.
<br>He knows how they felt and what they think, for he feels and thinks the same.</p>
<p class="para">A sense of relief eases into his heart.
<br>Even though clockwork men are not meant to have such things.
<br>Slowly, his consciousness leaves him.
<br>He lays quiet and still beside the one for whom he risked his everything.
<br>With spring emerging far above him, he slips into a deep and dreamless slumber.
<br>One from which he will never wake.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/dimos">Back</a></p>