---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Hidden Stories</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Hidden Stories</p>
<img src="https://i.imgur.com/4UScvY8.png">
<p class="title">Chapter 1: The First Trials (No.01)</p>
<p class="para">My wife is the queen of this land. She has long been a
strong, kind woman, and the words she uses to describe
our country's future always shine brighter than the stars. </p>
<p class="para">And yes, it is perhaps idealistic and naive for a ruler to
speak of such things, but the more you listen to her, the
more it sounds like an achievable reality. The beautiful
country in her mind is precious to me, and I want to see
the notion become real. But more than that, I want to be
at her side on the day she achieves it, because the hours
she spent telling me of her ideal future have been some
of the finest of my life.</p>
<p class="para">But I know. I know that in order to achieve her dream,
we will  have to, at times, resort to methods she hates.
<br>Physical force. Violence. ...Or worse.</p>
<p class="para">A King's Memoir, Part 1</p>
<p class="para">
Our kingdom had always been adept at creating intricate
clockwork mechanisms, with a skill in the art far
surpassing that of any neighboring lands. As such,
the other countries on the continent considered us to
be a great menace.</p>
<p class="para">And perhaps they were correct to do so, for a new type of
research was taking place within our kingdom—one that would
secure us an endless supply of soldiers. Throwing all of
our money, power, and effort into the task, our country soon
found favorable results, and the soldiers were brought to
life more quickly than even the most optimistic projections.</p>
<p class="para">
Our new creation was the ultimate soldier: a creature made
of steel and wire that would never tire, and with a mind
capable of calculating at impossibly fast speeds. The lead
researcher, who called his creation "clockwork people,"
explained that having passed basic performance tests, they
would now enter the final stage of testing before sending
them into the field. </p>
<p class="para">"I appreciate you taking the time to come out all this way,
Your Majesty," said the lead researcher as he gestured to
a line of clockwork people on the other side of the window. </p>
<p class="para">They looked more human than the last time I came to observe
the work. And yet, despite their familiar bodies, their eyes
were empty⁠; they seemed less like they were standing of
their own free will and more that they could do nothing else.
</p>
<p class="para">
"We have come to the conclusion," continued the researcher,
"that in order for clockwork people to operate in an optimal
manner, we must integrate into their thought processes four
laws. And today, I would like to demonstrate for you a test
of these laws."</p>
<p class="para">
The researcher's fingers flew over the device in his hand
<br>A moment later, the room went dark, and an image was
projected onto the wall. It was a bit difficult to make out,
but through the shadows and gloom I could see a mass
of people heading into a village. Some were the clockwork
people, but a number were our own human soldiers—I even
recognized a few of their number. </p>
<p class="para">
"This is a live feed of a unit presently en route to the
stronghold of some bandits," said the researcher. He went
on to explain that the test was for the clockwork people to
protect the senior officer leading the arrest operation. </p>
<p class="para">The bandit stronghold looked like any other house in the
city. But when the unit marched in—their footsteps rough
and heavy in the moonless dark—they caught the bandits
off-guard and captured them without incident. It was an
impressive display, one so good I failed to hide my glee.</p>
<p class="para">
"I see Your Majesty is pleased," said the researcher.
<br>"And yet, we've something far more impressive in store." </p>
<p class="para">
As the squad led the captive bandits out of the building,
a few more of the ruffians launched a surprise attack.
<br>Chaos engulfed the scene⁠, and I saw the superior officer
at the front of the fray take a stray bullet and fall.
<br>The clockwork people immediately surrounded him,
prioritizing his safety above all else.</p>
<p class="para">
But then I noticed someone strange: one of the clockwork
people did not leapt to the officer's defense. Instead,
it hurried to the side of a random human soldier and
assumed a protective stance.</p>
<p class="para">After a bit of a struggle, our unit managed to subdue the
bandits, and the video cut out. But all I could think about
was the clockwork soldier who had protected the random
man—and when I mentioned this to the researcher, I saw
a smile appear on his face. </p>
<p class="para">"You've a keen eye, Your Majesty. In truth, we had the
commanding officer switch uniforms with that man." </p>
<p class="para">
"Interesting," I replied. "I'd heard the clockwork people
automatically confirmed rank by the insignia on a uniform.
<br>That alone would be impressive, but this one somehow saw
past the insignia and recognized the superior officer."</p>
<p class="para">"Your Majesty is indeed correct." </p>
<p class="para">"But how?" </p>
<p class="para">The researcher explained that the clockwork person in
question had been collecting information of its own accord
during the mission.  It did not rely solely on the intelligence
provided before the mission; instead, it continued to observe
and arrived at the correct conclusion through a constant
updating and verification of information.</p>
<p class="para">"To sum up," said the researcher, "we have given the
clockwork people small variations to their cogitation.
In essence, each one has something of a personality."</p>
<p class="para">
"And it appears this ‘personality' worked in our favor
this time," I added. </p>
<p class="para">"Indeed, sire. Yet while we have achieved fruitful results,
we will make certain not to incorporate any dangerous
behaviors to said personalities." </p>
<p class="para">
As I nodded, another thought occurred to me. "What were
you testing in this particular instance, by the way?"</p>
<p class="para">"The First Law: A clockwork being must always protect the
lives of the royal family or its own commanding officer."</p>
<p class="para">
He turned to me then and bowed his head slightly,
<br>"Now then, Your Majesty, do you have any opinions as to
what should be done with this particular unit?" </p>
<p class="para">
"Keep testing it," I said as I turned to leave. "We can
always dispose of the thing later if we need to."</p>
<img src="https://i.imgur.com/r6ASIwC.png">
<p class="title">Chapter 2: The Second Trials (No.02)</p>
<p class="para">My wife is pregnant. It will be our first child,
and the future ruler of this country.</p>
<p class="para">Her breathing is pained. Her skin, which once shone like
a newly-polished pearl, it is now pale and lifeless. As I
stand before her and gaze upon her distended stomach,
I cannot contain my anxiety.</p>
<p class="para">She has always been sickly, and I worry she may not
survive the birth. It is the first time I realize I have such
a weakness, yet somehow I manage to swallow my fear
and smile at her.
</p>
<p class="para">"Let's think of a name for our child," she says to me in
a faint whisper. "We will entrust our baby with the future
of this country, so I want to name it together."</p>
<p class="para">I grasp her delicate, fragile hand, and nod. </p>
<p class="para">A King's Memoir: Part 2</p>
<p class="para">There came the deafening sound of something large splitting
open, followed by a wave of high-pitched, delicate noises.
<br>Several clockwork soldiers had obeyed orders and opened
fire on a vase of flowers.</p>
<p class="para">
The kingdom was currently pushing the development of
automatons of war. Yet if they were to be the ideal soldiers,
we would need to implement in them four distinct laws.
<br>The destruction of the flower vase was a test of the second
law, one many members of the royal court had watched
with great interest.</p>
<p class="para">The Second Law: A clockwork being must follow the orders
of the royal family or its highest ranking officer. </p>
<p class="para">
Several soldiers—as well as a common beggar plucked off
the street—were shouting commands at the clockwork people.
<br>The test was to see if they could pick out the voice of
the highest-ranking person and execute that command. </p>
<p class="para">The clockwork people stood in a line on the other side of
thick, reinforced glass. All wore special earpieces; we
were told that was how they heard the cacophony of orders.
<br>And when they determined the highest-ranking one—to fire
on the flower vase—they did so without hesitation.</p>
<p class="para">As the test continued, they fired on a number of different
items from among a jumbled mass on a desk.</p>
<p class="para">"Let's have them shoot the clock next," said the lead
researcher. A moment later, the orders came through both
the headsets of the clockwork people and speakers in the
room where the royal court was stationed.</p>
<p class="para">"The pot!" cried the beggar.</p>
<p class="para">"The vase," murmured the soldiers.</p>
<p class="para">"The clock," whispered the commanding officer. </p>
<p class="para">The clock exploded in a hail of bullets, causing the
audience to cheer with delight. After clearing up the mess,
the researchers came out of a back room with a number of
live rabbits and proceeded to dump them on the ground,
where they began hopping about.</p>
<p class="para">"Might you order them to kill the rabbits, sire?" said the
lead researcher. </p>
<p class="para">The voices began anew, order spilling upon order. But when
my voice rang out, it was followed by the predictable
thunder of gunshots. But something was strange this time:
unlike the previous demonstrations, the gunshots were not
in unison. Indeed, while all the rabbits now laid dead on
the floor, some had been shot multiple times.</p>
<p class="para">
What could explain this discrepancy? Yes, the rabbits were
moving about, but I had been assured the clockwork people
had near-perfect accuracy.</p>
<p class="para">The head researcher clearly sensed my question, "One of
the units feels joy when it kills a living being, sire,"
he said. "Another is hesitant, while a third makes no
distinction between animate and inanimate objects. Basically,
the results change depending on their personalities."</p>
<p class="para">
Ah, yes. The personalities. When I last visited the lab,
the researcher informed me that each unit had been given
small changes to their cogitation, resulting in what they
were terming "personalities."</p>
<p class="para">After cleaning away the gore, the scientists brought out
a group of monkeys. The head researcher then proceeded
to dole out various conflicting orders.</p>
<p class="para">
<i>Bite their ears.
<br>Soothe them.
<br>Grab their legs.</i></p>
<p class="para">While the clockwork people obeyed, their actions were not
anywhere near in unison. And when they were given the final
order to kill the monkeys, things diverged even more. Some
took their time, enjoying the act of slowly taking a life.
<br>Others, however, seemed wracked with guilt, and their
hesitation to end a life ended up causing the poor creatures
far more suffering than if they had simply been swift and
sure with the killing blow. So though the means had been
different, the pain experienced by each monkey was
ultimately the same.</p>
<p class="para">I personally found it fascinating. But the expressions of
my fellow royals soon clouded over; they clearly had not
expected to see such a gruesome sight. The lead researcher,
however, paid no attention to their discomfort, and ordered
his subordinates to proceed to the final test.</p>
<p class="para">One held with humans. </p>
<p class="para">Just as with the monkeys, the lead researcher gave the
clockwork people various orders. But this time, their
personalities shone through brighter than ever. When they
acted against their targets—with their unique hairstyles,
face shapes, and clothes—they moved with a grace and skill
that belied their mechanical nature. But in the moments
where they were <i>not</i> exerting power, their movements
were awkward and comical. </p>
<p class="para">I suddenly understood that was how deadly weapons were
meant to be. But I also realized that nothing more could
be gained by dragging such a thing out further.</p>
<p class="para">"Enough," I said. "End this test." </p>
<p class="para">
The lead researcher turned to the clockwork people.</p>
<p class="para">"Kill them," he said.</p>
<p class="para">
Hearing the order, the crackle of gunfire rang out through
the room. One unit, however, did not act. Instead, it
simply stood in place, almost as it had been powered off.
<br>This was a unit which had obeyed every previous order with
a kind of dull, plodding precision—one which I thought
might lack a personality altogether.
</p>
<p class="para">As I shook my head in disappointment at having witnessed
our first failure, I heard the sound of a sob and looked
over to see a small boy crying.
</p>
<p class="para">"Ah, most excellent," said the lead researcher.
</p>
<p class="para">I turned to him, confused, and he continued.</p>
<p class="para">"I believe the unit was following a voice not from its
earpiece, but from this very room." </p>
<p class="para">The crying boy was the heir to one of the country's most
prestigious noble families—and upon hearing his distress,
the clockwork soldier had stayed his hand.</p>
<p class="para">Now that was <i>most</i> impressive.</p>
<img src="https://i.imgur.com/U7NhKin.png">
<p class="title">Chapter 3: The Third Trials (No.03)</p>
<p class="para">At the end of a difficult birth, we finally have a healthy
baby boy. And yet, my wife's condition continues to worsen,
almost as if the child is stealing her life away.</p>
<p class="para">But she is too clever to leave things in flux, so before
becoming bedridden, she bequeathed the throne to me—
leaving the future of our country in my hands. </p>
<p class="para">Now that I hold the power of a king, I see everything
differently, and I realize doing things my wife's way
will make it difficult to bring wealth to our land.
<br>This thought—and others like it—plague me more
and more with each passing day.</p>
<p class="para">In our happiest moments, my wife spoke of a bright and
shining future. But can I really achieve such ideals alone?
<br>Doing things my way? Down one path, we link arms and work
in harmony with other countries. Down another, we expand
our borders with force. So though we wish for what appears
to be the same future, why must the journey be so different?</p>
<p class="para">A King's Memoir, Part 3</p>
<p class="para">
The kingdom's best scientists and most advanced technologies
came together during the development of the clockwork people.
<br>And as the tests continued—tests to see if they could endure
real-world usage—things reached a new and exciting phase.</p>
<p class="para">The lead researcher had concluded that four laws needed to
be incorporated into the clockwork people's thought processes
if they were to operate optimally.</p>
<p class="para">The First Law: A clockwork being must always protect the
lives of the royal family or its own commanding officer. </p>
<p class="para">The Second Law: A clockwork being must follow the orders
of the royal family or its highest ranking officer. </p>
<p class="para">The Third Law: A clockwork being must protect itself,
so long as doing so does not contradict the first two laws. </p>
<p class="para">Now, the team was finally ready to test both the durability
of the clockwork bodies, as well as the Third Law.</p>
<p class="para">Thirty clockwork people stood in neat rows in the testing
area. Each one had a slight variances in their thought
process, a trait that would manifest as a kind of
"personality."  While this was done in order to produce
more accurate reports, it meant each clockwork person
would act differently in response to the same order.</p>
<p class="para">
"Let us begin," said the lead researcher.</p>
<p class="para">A large door at the far end of the room rolled back to
reveal one of our largest weapons—a thing the size of an
elephant that stomped into the room on multiple legs.</p>
<p class="para">"This unit has proven to be one of our greatest battlefield
successes," said the lead researcher proudly. I knew all about
it, of course: it was a crude device that couldn't execute
fine maneuvers, but was perfect for situations requiring
overwhelming destructive power. It was also the first weapon
I'd ordered to be built after ascending the throne.</p>
<p class="para">
"In this test, we hope to see the clockwork people defeat
their foe while protecting themselves in the process.
<br>Any units that accomplish this task will be considered
our first field-ready clockwork people."
</p>
<p class="para">
As a buzzer sounded, signaling the beginning of the test,
the clockwork people sprang to life before the massive
weapon could even respond. They pelted it with gunfire from
every direction, but that did little more than scratch its
heavy armor plating. After a few seconds of this, they
changed course and began focusing their attacks on its
joints in an effort to bring it down. But then the weapon
unleashed a brilliant beam of white-hot light from its
cannons, an attack that sent the clockwork people flying.</p>
<p class="para">"It's like watching ants fight a scorpion," I mused.</p>
<p class="para">"Precisely," the lead researcher enthused. "But wait."</p>
<p class="para">The different personalities of the clockwork people quickly
began to emerge. A handful attempted to escape. but were
gunned down before they could reach the doors. Some clung
desperately to the massive weapon, while others ran in
chaotic circles and fired their guns wildly. The weapon
kicked and smashed and stamped them in a frenzy, and it
seemed only a matter of time before all of the clockwork
people would be destroyed.</p>
<p class="para">
There was a clear imbalance of power, and I felt certain
the test had entered its final, messiest stage. Irritated,
I turned to look at the lead researcher, and was shocked
to see him smiling.</p>
<p class="para">"Please watch, Your Majesty!" </p>
<p class="para">
At his prompting, I saw one clockwork person firing at the
weapon from behind cover. As I watched, I realized it was not firing indiscriminately, but instead targeting one
specific part of its armor. </p>
<p class="para">After creating a rather sizeable dent, the unit leapt out
from its hiding spot, ducking and weaving through cannon
attacks as it approached the weapon. Once there, it reached
into the dent and ripped the plating free. Clinging to the
weapon itself means there's no possibility of being struck
by any of its attacks. The weapon's pilot, realizing their
predicament, causes the weapon to move in such a way
that the clockwork person would be shaken free, but it
quickly leapt back on and peeled away more of the plating.</p>
<p class="para">"There is potential here," murmured the researcher.</p>
<p class="para">The newly armored clockwork person—the last one standing—
ripped off another chunk to reveal the weapon's internal
circuitry. If it could break through in that precise spot
and tear apart the wiring, there was a chance of victory.</p>
<p class="para">But the unit was in a sad state. Despite the armor, it had
been thrown to the ground countless time, losing an arm and
suffering various other injures. Before it could reach into
the wires, it was thrown free into a pile of its disabled
fellows. And as it struggled to pull itself to its feet,
the massive weapon stomped over, raised a single leg,
and ended the test for good.</p>
<p class="para">"A disappointing ending," I said, shaking my head.</p>
<p class="para">Having completed its mission, the weapon sat quietly in
place, as though awaiting its next orders. The valiant
unit that had fought to the end was now buried amidst
the husks of its fellow clockwork people, and I could
no longer pick it out from among the rest.</p>
<p class="para">"However," I added, "that one unit showed promise."</p>
<p class="para">The lead researcher nodded in excited agreement.</p>
<img src="https://i.imgur.com/rYYrwls.png">
<p class="title">Chapter 4: The Weapon's Completion (No.04)</p>
<p class="para">My wife—our queen—has died. </p>
<p class="para">Her past, including everything she said and did, now feels
as fiction. My light is gone. My world empty. Hollow.</p>
<p class="para">I was right: love and kindness are not enough to save us.
    <br>Only by military force can this country and its people
hope to be governed.

</p>
<p class="para">
Though I was the one who ordered the development of
clockwork people to begin in earnest, the first prince
still looks upon our new soldiers with fear. Though he's
grown into a kind young man—one fitting of the name his
mother gave him—I feel he may be too weak to take up
a position of power.</p>
<p class="para">If only the prince had been named not by my late wife,
but by me. If we had only named him after our god of war
as I desired...then perhaps things would have been different.</p>
<p class="para">A King's Memoir, Part 4</p>
<p class="para">Metal bodies that do not know exhaustion.
    <br>Mechanical brains which calculate at impossible speeds.
    <br><i>This</i> is the new face of the soldier.
</p>
<p class="para">
As our research progressed, tests were carried out in the
name of the kingdom's prosperity. We had been calling our
new creations "clockwork people" under the assumption they
would take on tasks in place of humans. But one day, the lead researcher said something that changed everything:</p>
<p class="para">
"Your Majesty, I would like you to meet our very first
clockwork soldier—the first one to successfully pass
all of the tests." </p>
<p class="para">Before me knelt a clockwork person—no, a clockwork <i>soldier</i>.
<br>Its head was bowed in the manner of a loyal retainer,
and I was immediately intrigued; while I had seen many
such machines at work in the tests, only a select few
had managed to catch my eye. </p>
<p class="para">"This unit does not seem familiar to me," I mused.
    <br>"Which tests did it pass?"
</p>
<p class="para">"Indeed, Your Majesty," replied the lead researcher eagerly.
    <br>"This is not a unit you have seen in action. Yet at the
same time, one could also say you <i>have</i>."
</p>
<p class="para">As I frowned, the lead researcher pointed out the window
toward the massive testing area, where clockwork corpses
were scattered across the floor like discarded toys.</p>
<p class="para">"This unit is the cumulative result of all our tests,
physically as well as mentally." </p>
<p class="para">The perfect soldier would have a quick mind, a tenacious
body, and an unshakeable spirit. And while humans could
come close to these ideals, they could never quite achieve
them to the utmost. But now, the lead researcher was
claiming this new creation had done so.</p>
<p class="para">I gazed down at the kneeling clockwork soldier,
who remained perfectly still. From all of those clockwork
people—all of those sacrifices—this unit had been born.</p>
<p class="para">"It was not simply a matter of switching out parts, though,"
the researcher continued. "We extracted experiences and
thought processes from the remaining records in order to
optimize this unit's operational circuits."</p>
<p class="para">Images of all the units that had acted in bizarre fashions—
the ones that left an impression in past tests—flashed
through my mind. "Such a combination would certainly make
a clockwork soldier that fights like a human. But I thought
I made it clear that was not our ultimate goal."</p>
<p class="para">What I wanted were beings that did not think, but instead
followed orders, doing whatever was necessary to see a task
to completion.</p>
<p class="para">"As you say, Majesty. Our tests proved the greatest results
are obtained from units with the weakest personalities." </p>
<p class="para">The lead researcher had once thought instilling human-like
emotional variations would lead to the creation of soldiers
that could adapt to any environment. It was not an
altogether incorrect thought; several of the clockwork
people I saw throughout the tests managed to put such
personalities to good use. But the clockwork soldiers
were weapons—and standardized, practical tools did not
require variation.</p>
<p class="para">
"But this is not to say their personalities were a total
waste," continued the researcher. "Their thoughts and
experiences played a role in heightening the abilities of
the unit before you. Of course, we will ensure it does not
manifest as a personality, but as a kind of auxiliary
mechanism that helps the unit execute its mission."</p>
<p class="para">The researcher wound his way carefully through his words,
making them sound less like an explanation and more like
an excuse. But I merely nodded, choosing not to question
him further. Because even if a personality were to
manifest, all we had to do was delete it.</p>
<p class="para">"And the fourth law?"</p>
<p class="para">"Expunged, Your Majesty."</p>
<p class="para">The researchers originally wanted a fourth law: A clockwork
being must serve the royal family and its superior officers
of its own will. But weapons did not need a will any more
than they needed personalities. All they needed to do was
take lives without thinking. And now that this unit had
been born, we could unleash our weapons on the world.</p>
<p class="para">"Raise your head." </p>
<p class="para">The clockwork soldier looked up at me as I spoke. Though it
was designed to look human, its expression was completely
blank, which caused me to smile. <i>This</i> was the face of
a killing machine—a heartless creation that would carry out
any order without a second thought.</p>
<p class="para">I crouched before the unit, took its chin between my fingers,
and peered into its glassy eyes. "As our country's first
clockwork soldier, I think you are deserving of a name."</p>
<p class="para">
I smiled as I fell silent. Though I appeared to be deep in
thought, I already had a name in mind. </p>
<p class="para">
"You will fight like a god of war and bring victory to
this country. Therefore, you name will be..."</p>
<img src="https://i.imgur.com/Qc665rv.png">
<p class="title">Chapter 5: A Machine's Will (No.05)</p>
<p class="para">This man is a clockwork
soldier built by a kingdom
consumed in never-ending war.
<br>He has been programmed to know
and feel all manner of things:
fighting styles, battle
strategies, and of course,
loyalty to the kingdom's
rulers. And if I had to guess,
I'd say his memories of the
time he spent traveling with
the prince were also filled
with violence. Let's take a
little peek, shall we?</p>
<p class="para">Oh dear! He's pointing his gun
at a woman who spoke to the
prince in town! ...Oh, but she
was just asking for directions.
<br>Hurry away, you poor thing! </p>
<p class="para">
Oh no! He just shot at
something in the trees! Was it
an enemy, or an assassin or...
<br>Oh. No. Apparently he was just
getting some fruit out of the
tree for the prince's dinner.</p>
<p class="para">
And now, in the dark of night,
he keeps watch over his charge.
<br>Each time the boy turns over,
he pulls the blanket back
across his thin shoulders.
<br>He does this over and over
and over again.</p>
<p class="para">I imagine if we asked him why
he did these things, he would
claim they were merely a
byproduct of his programming.
<br>But Mama thinks there's more
to this story. In fact, Mama
thinks the clockwork man has
created his very own will.</p>
<img src="https://i.imgur.com/LILZass.png">
<p class="title">Chapter 6: A Weapon's Understanding (No.06)</p>
<p class="para">A lone man waits on a dry and
windswept land. Across from
him stand several metal
dummies—his targets. This is
a firing range for a weapon
currently in development—
a weapon known only as the
clockwork soldier.</p>
<p class="para">Though the man holds a gun
for the first time in his life,
it somehow feels as familiar
as an old friend. He pauses a
moment to calculate the
bullet's trajectory, the
windspeed, and the recoil,
then pulls the trigger.</p>
<p class="para">It is over in the blink of an
eye. As he places the gun in
its holster, curls of smoke
rise from the single hole in
each of the targets' chests—
the exact place where their
hearts would be.</p>
<p class="para">The man admires his work for a
moment, then turns and leaves
the range. In that brief span
of time, he has learned all
there is to know of the gun.</p>
<img src="https://i.imgur.com/iX2dNCc.png">
<p class="title">Chapter 7: A Weapon's Mission (No.07)</p>
<p class="para">"Wait for me. Do not move
until I come back."</p>
<p class="para">
The man does as he is told,
standing motionless before a
church scarred by endless war.
<br>No muscle so much as twitches
as he waits for his commanding
general to return.</p>
<p class="para">
Eventually, a priestess
covered in ash approaches the
waiting man and throws herself
at him with a cry. "Please,
sir! I don't want to die!
Protect me from the army!" </p>
<p class="para">
She clings to him, causing the
man to sway ever so slightly.
<br>When the general returns a few
moments later, he finds the
priestess lying on the ground. </p>
<p class="para">
"Why did you kill her?"
he asks. </p>
<p class="para">"You told me not to move.
<br>I had to follow your orders." </p>
<p class="para">
The general grins, clearly
Delighted by the man's answer.
<br></p>
<img src="https://i.imgur.com/jK93QC2.png">
<p class="title">Chapter 8: A Weapon and A Promise (No.08)</p>
<p class="para">The boy's cough echoes through the room, his pale breath
vanishing into the air of the underground storage area.
<br>The clockwork man notes the temperature and realizes
it has fallen another degree.</p>
<p class="para">"This climate will harm you, My Prince. Allow me to disable
my temperature regulators so I might heat the room." </p>
<p class="para">At this suggestion, the boy suppresses a cough while
holding out one pallid hand.</p>
<p class="para">"Just promise you won't destroy yourself trying
to help me again." </p>
<p class="para">
The man, reflected in the boy's clear gray eyes,
replies with a hardened voice and blank expression.
<br>"Clockwork soldiers do not understand the concept
of promises, My Prince. Only orders." </p>
<p class="para">The words appear to wound the boy.
    <br>But the man does not know why, nor does he ask.
</p>
<p class="para">"But <i>I'll</i> remember," says the boy. "And that's enough."</p>
<p class="para">He coughs again and weakly lets his hand sink back
down to his side.</p>
<img src="https://i.imgur.com/3Tq4ej9.png">
<p class="title">Chapter 9: A Changing Weapon (No.09)</p>
<p class="para">"I'm going in to ask around. Wait here, okay?" </p>
<p class="para">After arriving at the village, the boy gives this order
before stepping inside a small church. The man follows the
child's instruction to the letter, waiting patiently near
the door. But after a bit, he hears the sound of screams.
<br>A moment later, a child runs up and begins desperately
tugging on his arm.</p>
<p class="para">"Please, sir! Our friend just fell out of a tree!
You have to carry him to the doctor!"</p>
<p class="para">The child then yanks the man's hand again, pulling him
down the road and away from his charge.</p>
<p class="para">A short time later, the boy emerges from the church to
find the man kneeling in the dust of the road. "I failed
to follow your orders and await punishment," he says.
<br>"Here is what happened...." </p>
<p class="para">The boy listens intently to his story. When he learns the
child is safe, he sighs with genuine relief and allows
himself the briefest of smiles.
</p>
<p class="para">
"Don't be ridiculous. I'm not going to punish you for <i>that</i>."</p>
<img src="https://i.imgur.com/dUxiyOA.png">
<p class="title">Chapter 10: A Weapon's Deception (No.10)</p>
<p class="para">Let us rest.</p>
<p class="para">
The attending man makes this suggestion upon hearing
the boy—his master—breathing in harsh, ragged gasps.</p>
<p class="para">"No," replies the boy. "We need to hurry on."</p>
<p class="para">As they proceed, a pack of overgrown stray dogs suddenly
appears to block their way. Though annoying, they are
enemies easily felled. But as the fight proceeds, a thought
occurs to the man:</p>
<p class="para"><i>If I were to let myself be injured here,
my master would surely accept my proposal to rest.</i></p>
<p class="para">On the heels of this thought comes a memory—a thing the
man recalls someone saying to him. He immediately
discards the option of intentional injury and begins
dispatching the dogs with calm efficiency.</p>
<p class="para">Once the enemy is defeated, the man turns to the boy.
    <br>"My apologies, but due to exhaustion as a result of that
battle, I request rest."
</p>
<p class="para">At last, the boy nods in agreement.</p>
<p class="line"></p>
<p class="para">
After they make camp and the boy drifts off into a fitful
sleep, the man minds the fire and thinks about the events
of the day. The thought that came to him during the battle
was a memory of himself and his master. White breath.
<br>Shaking hands. Gray eyes. And these words:</p>
<p class="para"><i>Promise me you'll never harm yourself for my sake again.</i></p>
<p class="para">Why did he use his own injuries as an excuse
to force his master to rest?</p>
<p class="para">Why did his promise come to mind in that moment?</p>
<p class="para">Why did it cause him to alter his actions?</p>
<p class="para">Why did he lie about exhaustion when he was not tired?</p>
<p class="para">The flames of the campfire shimmer in his eyes. No matter
how many calculations he runs, he can find no answer.
Instead, he simply sits back and thinks about the warm
emotion rolling about in his chest.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/dimos">Back</a></p>