---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Levania's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Levania's Character Story</p>
<p class="title"><a href="https://www.youtube.com/watch?v=cspRF8ID2wM"><u>Video</u></a></p>
<p class="title">Chapter 1</p>
<p class="para">Images of outlandish scenery race through my mind. Where am I? Why am I here?
I can't remember anything. My memory has abandoned me. I had something I needed to do, right?
I <i>definitely</i> had something I needed to do. I find it difficult to gather my thoughts. Suddenly, a
voice appears in my consciousness.</p>
<p class="para">"I'm afraid this all comes at a cost. You're going to lose your voice, your senses, your—"
<br>"Are you certain?" A voice...</p>
<p class="para">That's right. I lost it all. My will. My speech. My hope. <i>Everything</i>. This girl in white...
Pain constricts my chest. Stirs my empty memory. I know that girl. She was... She was my...
Argh, I can't remember! Who <i>am</i> I, anyway!?</p>
<p class="title">Chapter 2</p>
<p class="para">These hands. These legs. This body. Am I... human? No. I'm not human. <i>I wasn't</i> human.
I got this body when I accomplished my objective. In this bleak world, I ate the dreams of people
and desired to become human above all else.... But why is it so damn <i>painful</i>? I'm finally the
human I wished to be, so why?</p>
<p class="para">"You need to collect more dreams, dear."
<br>That voice echoes in my head again.Now that I'm human, why do I have to do this? Fragments of
memories pierce my heart like thorns. An impatience I don't understand drives me forward. The
girl in white. Me, a human. I have to do something. Otherwise there's no turning back. That's
all I know.</p>
<p class="title">Chapter 3</p>
<p class="para">I want to be human. I want to be human. I want to be human. That should have been
my only goal in life. But now that I've accomplished it, not only am I not happy... I don't even
understand these feelings of guilt roiling inside me. I wander the darkness with no destination.
<br>I have no way to tell what happened to my face. But this slender physique... This fluffy hair...
<br>The collar and manacles that clamp down on me... Oh, yes. I know <i>exactly</i> who I am. The girl in
white—I can't get her out of my head. Who is she? Why do I look like her? What did I do to her?
<br>What did she do to <i>me</i>? I hear the sound of water splashing in the darkness.</p>
<p class="para">
"Hey, Mr. Monster?"
<br>"When you become human, will you still be my friend?"</p>
<p class="para">
I know she said... Yes! She <i>did</i> say something! My scattered fragments of memories
slowly come together...</p>
<p class="title">Chapter 4</p>
<p class="para">How long have I been asleep? I sit up in discomfort and stand on the cold stone floor.
<br>I dreamt of the girl over and over again. What precious times we spent together. All my memories
came back in my long sleep. Once again, I stand in The Cage. I need to go back to her as soon
as I can; I need to give back what I have stolen.
</p>
<p class="para">"Well! Look who's finally up."
<br>An odd object floats up and speaks to me, pretending it has no idea what's happening.
<br>I can't imagine anything more audacious, but I will have to rely on the thing for now. I've lost
so much—so much—but at least I have my memories. I retrace my steps through The Cage in
order to save her. Once she's back to normal, I will reply to the question I had left unanswered.
<br>And I will say...<i>Yes. I will be your friend.</i></p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/levania">Back</a></p>