---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>The Distant Peak</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">The Distant Peak</p>
<p class="title"><a href="https://www.youtube.com/watch?v=ns8TQYuxLTo"><u>Video</u></a></p>
<img src="https://i.imgur.com/YtHSYr9.png">
<p class="title">Chapter 1</p>
<p class="para">A creature named Mama leads the monster through his own world—one vastly
different from that of humans. The sand beneath the monster's feet is oddly heavy.
<br>Fragments of unidentified objects lie scattered about. Strange, gear-shaped things
float against an eerily colored sky. But perhaps most unusual of all, there are
beings that look just like him everywhere.</p>
<p class="para">
When the other monsters notice him, they declare that they will not give
him their dreams. These are dream eaters—creatures that can become human by
eating their nighttime imaginings—and the monster is the same. He battles
dark foes as he presses on, never letting go of his own desire to become human.</p>
<p class="title">Chapter 2</p>
<p class="para">After a while, Mama claims they have reached the deepest part of the
monster's memory. By moving on and restoring his memory, he will be able to
regain himself. But Mama also has a warning: He must be careful not to be
swallowed up by his original self.
</p>
<p class="para">
Though the dark foes that infiltrate his memory take all manner of forms, some are
exactly like him: drowning in instincts and dirtying their hands for the sake of
the dreams. Mama explains that the dark foes have snuck into the gap between the
part of him that wants to be human and the part that rejects the idea.
<br>She then finishes with a single question:</p>
<p class="para">"What is it you truly wish for?"</p>

<p class="title">Chapter 3</p>
<p class="para">A dream eater's instincts tell them to eat human dreams in order to take on
a human form. It is difficult for anyone to deny their instincts; doing so would
be the same as denying oneself. Yet the monster waivers, and dark foes appear
before him as he does. Most are birds, but there is also a guard.</p>
<p class="para">"Who cares about the child." they say as they slither between the gaps in
his shaken emotions and try to destroy his memory.
<br>"You want to be human, don't you?"</p>
<p class="para">Finally, he eliminates the foes and passes through the gate. When he does so,
Mama explains the truth: "You met a human and devoured her dreams whole, then
took her body and <i>became</i> human."</p>
<p class="para">The end of the dream is nigh.</p>
<img src="https://i.imgur.com/RNXs58Q.png">
<p class="title">Chapter 4</p>
<p class="para">There are mirrors in the deepest part of the memory. As he passes in front of
them, he sees a girl dressed in white reflected back at him and recognizes her
instantly. He knows he devoured her and became the girl in black, but that was
never what he truly wanted.</p>
<p class="para">"You were going to be friends," Mama says. "Instead, she took on the form of
a monster and continues to wander The Cage even now."</p>
<p class="para">When he takes back the final fragment of Speech, his memory is repaired.
<br>He then realizes exactly what it is he needs to do and screams to the sky,
<br>"I will make her human once more!"</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/levania">Back</a></p>