---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Time to Rela[X]</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
.title{
    font-weight: 465;
}
    @media screen and (orientation: landscape)
{
  #over1{
  margin: 0px auto;
  max-width: fit-content;
}
}
    @media screen and (orientation: portrait)
{
  #over1{
  margin: 0px auto;
}
}
</style>

<p style="margin-top: 1cm; font-size: 300%;">Time to Rela[X]</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/barry-esmail"><u>Barry Esmail</u></a></p>
<p class="title"><a href="https://www.youtube.com/watch?v=XlRmJPE2t2Q"><u>Video</u></a></p>
<div id="over1"><p class="title">9S:</p>
<p class="para">How long will I continue to fight on this
endless bloody battlefield?
<br>How long will I continue to pray
for the high glory and the hateful?
</p>
<p class = "para">How long will I continue to pursue that
sublime back that I yearn for?</p>
<p class="para">It's almost time to start
the operation, huh.</p>
<p class="para">If I follow the simulation, there should be no problem. If I fail, it'll be all over.
<br>I have to make sure it succeeds.</p>
<p class="para">Here it is, the after-school chime.</p>
<p class="title">2B & 9S (narration)</p>
<p class="title">Time to Rela[X] Yankii Acadmy YoRHa</p>
<p class="title">9S:</p>
<p class="para">This is it. I've already researched that she'll be going home after school at exactly 16:35 through this back of the school building.
<br>She's not in any clubs or committees, so her schedule shouldn't change.</p>

<p class="para">T-T-Today is the day I'll give her this letter to convey my feelings.
<br>But if she were to turn me down...
<br>I mean, she's the idol of the whole acadmy and has the best grades.
<br>Compared to her, I'm...
</p>
<p class="para">H-Here she comes.
I've got to steel myself.</p>
<p class="para">2B...senpai...!</p>
<p class="title">2B:</p>
<p class="para">You're 9S. What are you doing here?</p>
<p class="title">9S:</p>
<p class="para">Th-There is something I must give you.
<br>Please accept this.</p>
<p class="title">2B:</p>
<p class="para">This letter is...?</p>
<p class="title">9S:</p>
<p class="para">I wrote my honest feelings.
<br>These are my true feelingstowards you, 2B-senpai.</p>
<p class="title">2B:</p>
<p class="para">Alright, I have certainly received
your feelings.</p>
<p class="title">9S:</p>
<p class="para">Huh?</p>
<p class="title">2B:</p>
<p class="para">That's why, I, too, will answer
your feelings with seriousness.</p>
<p class="title">9S:</p>
<p class="para">Then...</p>
<p class="title">2B:</p>
<p class="para">I'll start now.</p>
<p class="title">9S:</p>
<p class="para">Right, 2B-senpai, today I will surpass you,
the Bancho (delinquent leader) of this academy!</p>
<p class="title">2B:</p>
<p class="para">YoRHa Acadmy Restrictions Article 1:
Fights are limited to one-on-one.</p>
<p class="title">9S:</p>
<p class="para">Restrictions Article 2: Weapons are
forbidden. Only fight with fists.</p>
<p class="title">2B:</p>
<p class="para">-Glory to...</p>
<p class="title">9S:</p>
<p class="para">-These fists!</p>
<p class="title">9S:</p>
<p class="para">I'll take the top spot at YoRHa Academy
as the blade that flows through the night!</p>
<p class="line"></p>
<p class="title">21O:</p>
<p class="para">The sight of him sprawled out
on the ground is truly pitiful.</p>
<p class="title">6O:</p>
<p class="para">I feel super bad for him. it's like,
so pathetic how he took the hit, right?</p>
<p class="title">9S:</p>
<p class="para">I...I....</p>
<p class="title">21O:</p>
<p class="para">How do you feel after waking up
from your defeat?</p>
<p class="title">9S:</p>
<p class="para">De...feat...
That's right, I challenged 2B-senpai
to fight one-on one.</p>
<p class="title">6O:</p>
<p class="para">We were watching you and it was like
a knockout with one punch.
<br>It really felt like a one-sided game.</p>
<p class="title">9S:</p>
<p class="para">With just one punch? I knew all along, but 2B-senpai
is really strong.
<br><br>
She's strong and dignified,
and on top of that, always cool.
<br><br>
You truly are the best, 2B-senpai.</p>
<p class="title">6O:</p>
<p class="para">This boy is happy about being beaten up?
<br><br>
It's like he's a total pervert.</p>
<p class="title">21O:</p>
<p class="para">Lewdness is forbidden, as per restrictions.</p>
<p class="title">9S:</p>
<p class="para">You're mistaken.
My thoughts are more pure.
<br><br>
O-Or rather, who are you two?</p>
<p class="title">21O:</p>
<p class="para">You are extremely ignorant
for not recognizing us.</p>
<p class="title">9S:</p>
<p class="para">Uh-huh, sorry.</p>
<p class="title">21O:</p>
<p class="para">I am the student council president
of YoRHa Academy, 21O.</p>
<p class="title">6O:</p>
<p class="para">I'm the vice president, 6O.
Peace.</p>
<p class="title">9S:</p>
<p class="para">The student council...?
Or rather, Vice-president-san
<br><br>
I'm not sure if you're just cheerful,
or if you're simply a gyaru.</p>
<p class="title">6O:</p>
<p class="para">If you look down on gyarus,
you'll get the bat, okay?</p>
<p class="title">9S:</p>
<p class="para">Hey, where did you take out
that nail bat from?!</p>
<p class="title">6O:</p>
<p class="para">I'll operate you all the way to hell.</p>
<p class="title">9S:</p>
<p class="para">She's an unreasonable, violent gyaru!</p>
<p class="title">21O:</p>
<p class="para">In this YoRHa Academy,
strength is justice.
<br><br>
Those who succeed, get to stand at
the top, and get the title of Bancho.
<br><br>
The current Bancho, 2B have the ability to
surpass the former Bancho
<br><br>
Tsundere Berserker, A2, which
was hailed as the strongest.</p>
<p class="title">6O:</p>
<p class="para">Apparently other challengers are aiming
for her title as the strongest.</p>
<p class="title">21O:</p>
<p class="para">The naked mad dog brothers, Adam and Eve,
from the Machine Life Form Industrial High School.
<br><br>
The hard-working Lily at the top of
Resistance Commercial High School.
<br><br>
And many others.</p>
<p class="title">9S:</p>
<p class="para">That many people are after 2B-senpai?</p>
<p class="title">21O:</p>
<p class="para">Do you now understand? A child like you, no,
a wimp yankii like you can't hope to win.</p>
<p class="title">9S:</p>
<p class="para">Please stop treating me like a child.
I've been training hard for today too.</p>
<p class="title">21O:</p>
<p class="para">However, please don't worry,
we're here to support you.</p>
<p class="title">9S:</p>
<p class="para">Huh?</p>
<p class="title">21O:</p>
<p class="para">To the student council president,
students are like family and family members support each other.</p>
<p class="title">9S:</p>
<p class="para">S-Student council president!</p>
<p class="title">21O:</p>
<p class="para">This is for you.</p>
<p class="title">9S:</p>
<p class="para">What is this flimsy thing?</p>
<p class="title">6O:</p>
<p class="para">It's a CQC physical attack
up +8 transdermal patch (shippu).</p>
<p class="title">9S:</p>
<p class="para">-Chip (chippu)?</p>
<p class="title">21O:</p>
<p class="para">-No, transdermal patch (shippu).
<br><br>
It's a transdermal patch. By applying it to your body,
your physical abilities will be greatly enhanced.
<br><br>
There are also Shock Wave +8 patch,
Offensive Heal +8 patch and Reset patch.</p>
<p class="title">9S:</p>
<p class="para">No, wait, that's doping!
isn't it cheating?!</p>
<p class="title">21O:</p>
<p class="para">Normally, the set costs 50,000 gold.
<br><br>
But you can now purchase it
for just 45,000 gold.</p>
<p class="title">9S:</p>
<p class="para">And you charge money for them?
They're so expensive I don't need such things.</p>
<p class="title">6O:</p>
<p class="para">In this school, the weak have
no right to refuse.</p>
<p class="title">9S:</p>
<p class="para">This is just full-on extortion!</p>
<p class="title">21O:</p>
<p class="para">It's up to you whether you
actually use them or not.
<br><br>
You can also strengthen your will
by not using them!
<br><br>
Understood?</p>
<p class="title">9S:</p>
<p class="para">Yeah, yeah, I get it.
I just need to buy it, right?</p>
<p class="title">21O:</p>
<p class="para">-You have to affirm three times.</p>
<p class="title">9S:</p>
<p class="para">-Wait, shouldn't it be once?</p>
<p class="title">21O:</p>
<p class="para">Three affirmations are enough to compensate
for your weakness. Understood?</p>
<p class="title">9S:</p>
<p class="para">Yeah, yeah, yeah.</p>
<p class="title">21O:</p>
<p class="para">Then, thank you for your purchase.
We look forward to serving you again!</p>
<p class="title">6O:</p>
<p class="para">See ya.</p>
<p class="title">9S:</p>
<p class="para">I...I was extorted.</p>
<p class="line"></p>
<p class="title">9S:</p>
<p class="para">I lost the duel and got extorted by
a strange duo. What a rough day.
<br><br>
At this rate, I'll never reach
2B-senpai's level...</p>
<p class="title">White:</p>
<p class="para">Are you still on campus, 9S?</p>
<p class="title">9S:</p>
<p class="para">You're Commander...
No, I mean, White-sensei.</p>
<p class="title">White:</p>
<p class="para">I was just looking for you to tell you
something as your homeroom teacher.</p>
<p class="title">9S:</p>
<p class="para">Huh, w-what is it?</p>
<p class="title">White:</p>
<p class="para">It's about your grades. You were at the top
of your class when you enrolled.
<br><br>
You must have been preoccupied with
something recently. What happened?</p>
<p class="title">9S:</p>
<p class="para">Well, um, it's something more
important than studying.</p>
<p class="title">White:</p>
<p class="para">Let me make this clear now.
<br><br>
9S, you are not suitable for this school.
Transfer immediately.</p>
<p class="title">9S:</p>
<p class="para">Transfer? That can't be...</p>
<p class="title">White:</p>
<p class="para">YoRHa Academy is not a proper school.
<br><br>
A highly-skilled individual like you should go to the famous new school, Square Enix school.
<br><br>
They have the world-famous Dragon Quest and Final Fantasy departments there.</p>
<p class="title">9S:</p>
<p class="para">I'm not interested in such things.
<br><br>
It has to be here, it has to be YoRHa
where she is. That's why...</p>
<p class="title">White:</p>
<p class="para">Ah, here we go, this again.</p>
<p class="title">9S:</p>
<p class="para">Um, Sensei...?</p>
<p class="title">White:</p>
<p class="para">Every last one of you just won't
listen to me at all.</p>
<p class="title">White:</p>
<p class="para">Seriously, I really can't take this.</p>
<p class="title"><i>Gulping noises, followed by a metal can hitting the ground</i></p>
<p class="title">9S:</p>
<p class="para">Huh, no way. Are you drunk?</p>
<p class="title">White:</p>
<p class="para">Yeah, that's right, I'm drunk.
<br><br>
And what of it, is a teacher drinking
alcohol bad now?</p>
<p class="title"><i>A can opens, followed by more gulping noises</i></p>
<p class="title">9S:</p>
<p class="para">Of course you can't!
This is a school, you know.
<br><br>
Ugh, you reek of alcohol.</p>
<p class="title">White:</p>
<p class="para">How can I go through all this and not drink?
<br><br>
The students don't listen to what I say. And the PTA and Mon-Par are always complaining.</p>
<p class="title">9S:</p>
<p class="para">Are you talking about Monster Parents?</p>
<p class="title">White:</p>
<p class="para">Yeah, the one especially noisy is the PTA's Council of Humanity.</p>
<p class="title"><i>A phone ringing, followed by a click</i></p>
<p class="title">The Council of Humanity:</p>
<p class="para">What's going on, the masu?
<br><br>
My children's grades have not
improved at all, the masu.
<br><br>
Is it possible that your teaching is bad?</p>
<p class="title">White:</p>
<p class="para">No, your 22B-san, 64B-san, and 8B-san
keep leaving class.
<br><br>
No, slacking kids is causing me
trouble too.</p>
<p class="title">The Council of Humanity:</p>
<p class="para">Well, you're not saying that my kids
are at fault, are you, the masu?
<br><br>
This must be the habit of imperial
teachers in these imperial schools.</p>
<p class="title">9S:</p>
<p class="para">Wha...?</p>
<p class="title">White:</p>
<p class="para">Are you fucking kidding me?
<br><br>
Always, always, always
just talking one-sidedly.
<br><br>
You always just talk nonsense and
never do anything yourself.
<br><br>
I'm the one who's having a harder
time than anyone else here.
<br><br>
Ah, jeez, I can't do this
without a drink.</p>
<p class="title"><i>Yet another can clinks open, followed by gulping noises</i></p>
<p class="title">9S:</p>
<p class="para">It's tough being a teacher, huh?</p>
<p class="title">White:</p>
<p class="para">Dammit...</p>
<p class="title">9S:</p>
<p class="para">If it's that difficult, why don't you just
move to another school, Sensei?</p>
<p class="title">White:</p>
<p class="para">I'm not going, I'm staying here.</p>
<p class="title">9S:</p>
<p class="para">Huh?</p>
<p class="title">White:</p>
<p class="para">You're the only one going.
<br><br>
Although I reek, I'm still a teacher
of this YoRHa Academy.
<br><br>
Let me at least fulfill my duty
as a teacher to the end.</p>
<p class="title">9S:</p>
<p class="para">Sensei.</p>
<p class="title">White:</p>
<p class="para">Go, 9S!</p>
<p class="title"><i>White starts vomitting</i></p>
<p class="title">9S:</p>
<p class="para">The moment is ruined!
<br><br>
She's sleeping?</p>
<p class="title">White:</p>
<p class="para">Screw the Council of Humanity.</p>
<p class="title">9S:</p>
<p class="para">Ahh, jeez, don't sleep at the gate.
<br><br>
At least lie down on this bench.
</p>
<p class="title"><i>A loud noise can be heard from the distance, coming closer</i></p>
<p class="para">This loud noise...?</p>
<p class="title">Adam:</p>
<p class="para">Eyesore YoRHa, we're here today
to collect the tribute.</p>
<p class="title">Eve:</p>
<p class="para">Nii-chan, what's the tribute?</p>
<p class="title">Adam:</p>
<p class="para">It's white rice.</p>
<p class="title">Eve:</p>
<p class="para">Nii-chan, you sure know everything.
Oi, time to deliver the white rice!</p>
<p class="title">9S:</p>
<p class="para">You guys are from the Machine Life Form
Industrial High School...
<br><br>
The naked mad dog brothers, Adam and Eve!</p>
<p class="title">Adam:</p>
<p class="para">That's old information, you know?!</p>
<p class="title">9S:</p>
<p class="para">You left the old group?</p>
<p class="title">Adam:</p>
<p class="para">Hahaha, now we are the long and short uniforms mad dogs.
<br><br>
We become stronger through
self-evolution every day.</p>
<p class="title">Eve:</p>
<p class="para">Nii-chan, why do I have to wear
such a short gakuran uniform?
<br><br>
Can I take it off?</p>
<p class="title">Adam:</p>
<p class="para">Delinquents either shorten or lengthen
their gakuran uniforms to an extreme,
<br><br>
Don't talk too much and keep quiet.</p>
<p class="title">Eve:</p>
<p class="para">Okay. If you say I should, then I will.
But will you play with me later?</p>
<p class="title">Adam:</p>
<p class="para">Yeah.</p>
<p class="title">Eve:</p>
<p class="para">That's a promise, Nii-chan.</p>
<p class="title">9S:</p>
<p class="para">Why don't you go home and
play now instead of later?</p>
<p class="title">Adam:</p>
<p class="para">That I can not do.
We're here today to beat 2B.
<br><br>
We brothers will receive the title
of strongest Bancho.</p>
<p class="title">Adam:</p>
<p class="para">I knew it, so you're after 2B-senpai.</p>
<p class="title">Adam:</p>
<p class="para">Bring her here.</p>
<p class="title">9S:</p>
<p class="para">No.</p>
<p class="title">Adam:</p>
<p class="para">What was that?</p>
<p class="title">9S:</p>
<p class="para">I told you no,
<br><br>
I won't let you lay a finger
on 2B-senpai.</p>
<p class="title">Adam:</p>
<p class="para">That's fine. I'll start by grilling you.</p>
<p class="title">Eve:</p>
<p class="para">Nii-chan, what does grilling mean?</p>
<p class="title">Adam:</p>
<p class="para">I'm going to beat him up.</p>
<p class="title">Eve:</p>
<p class="para">Nii-chan, you sure know everything.
Oi, I'll beat you up!</p>
<p class="title">9S:</p>
<p class="para">2B-senpai, give me power!</p>
<p class="title">Adam:</p>
<p class="para">That's a good mentality.
Will it come true though?</p>
<p class="title"><i>Adam yells as you can hear the sound of an engine revving up, followed by 9S's scream</i></p>
<p class="title">9S:</p>
<p class="para">U-Using a motorbike in a fight
is cowardly...</p>
<p class="title">Adam:</p>
<p class="para">What's wrong with industrial high school
students using machines?</p>
<p class="title">Eve:</p>
<p class="para">That's right, that's right!</p>
<p class="title">Adam:</p>
<p class="para">Now, it's your sleep time!</p>
<p class="title">2B:</p>
<p class="para">No, it's too early for bed.</p>
<p class="title">Adam:</p>
<p class="para">That voice...</p>
<p class="title">2B:</p>
<p class="para">YoRHa Acadmy Restrictions Article 1:
Fights are limited to one-on-one.</p>
<p class="title">9S:</p>
<p class="para">No way.</p>
<p class="title">2B:</p>
<p class="para">Restrictions Article 2: Weapons are
forbidden. Only fight with fists.</p>
<p class="title">Adam:</p>
<p class="para">So you've come.</p>
<p class="title">2B:</p>
<p class="para">Restrictions Article 3: Those who violate
the rules are to be shut down by the Bancho.</p>
<p class="title">9S:</p>
<p class="para">2B-senpai, why are you here?
You should've been home.</p>
<p class="title">2B:</p>
<p class="para">I forgot my bag behind after our duel.</p>
<p class="title">9S:</p>
<p class="para">Huh, ah, so you only came back
to pick it up?</p>
<p class="title">2B:</p>
<p class="para">But thanks to that, I was able to make it
in time. It's all okay now, 9S.</p>
<p class="title">9S:</p>
<p class="para">2B-senpai!</p>
<p class="title">Adam:</p>
<p class="para">2B!
<br><br>
I've been waiting for this moment for so long.</p>
<p class="title">Eve:</p>
<p class="para">For so long.</p>
<p class="title">2B:</p>
<p class="para">Unforgivable, you guys...</p>
<p class="title">Adam:</p>
<p class="para">YES! That's it! That's the feeling! PURE HATE!
<br><br>
That is exactly what I have been seeking.</p>
<p class="title">Adam:</p>
<p class="para">Eve, let's do it.</p>
<p class="title">Eve:</p>
<p class="para">Yeah, Nii-chan!</p>
<p class="title">9S:</p>
<p class="para">The two motorbikes surrounding
2B-senpai have burst into flame!</p>
<p class="title">Adam:</p>
<p class="para">No one has ever escaped our 750cc.</p>
<p class="title">Eve:</p>
<p class="para">This is our special move,
the Double 750cc Death Star!</p>
<p class="title">9S:</p>
<p class="para">The name is so lame!
<br><br>
They're kicking using the bikes?
Wow!</p>
<p class="title">Adam:</p>
<p class="para">Yes, students' true nature is to
run, fight, steal, and kill each other.
<br><br>
-THIS is students in their purest form!</p>
<p class="title">Eve:</p>
<p class="para">-Students in their purest form.</p>
<p class="title">Adam:</p>
<p class="para">However, there's no sense of living
in an endless life.
<br><br>
That's why I severed my connection
to the boring classes.</p>
<p class="title">9S:</p>
<p class="para">You'll end up repeating the year.</p>
<p class="title">Adam:</p>
<p class="para">This is our eighth year!</p>
<p class="title">Eve:</p>
<p class="para">Our superiors are at a loss as to what to do with us!</p>
<p class="title">Adam:</p>
<p class="para">They were simple. Infantile. Almost like plants.
So, we destroyed them!</p>
<p class="title">9S:</p>
<p class="para">How could you?</p>
<p class="title">Adam:</p>
<p class="para">2B, I'll make you suffer the same fate!</p>
<p class="title">2B:</p>
<p class="para">Too slow.</p>
<p class="title">Eve:</p>
<p class="para">Your back is wide open!</p>
<p class="title">9S:</p>
<p class="para">At this rate, 2B-senpai will...
What should I do?
<br><br>
Ah, that's right.
Use this, 2B-senpai!</p>
<p class="title">2B:</p>
<p class="para">9S? Alright.</p>
<p class="title">Adam:</p>
<p class="para">Whatever you're doing, it's pointless.
All will be go..ne....</p>
<p class="title">9S:</p>
<p class="para">2B-senpai.
<br><br>
No problem.</p>
<p class="title">Adam:</p>
<p class="para">Impossible. Our 750cc was torn apart
in one hit. What is this power?!</p>
<p class="title">9S:</p>
<p class="para">This is the power of the CQC
physical attack up +8 tail!
<br><br>
There are also Shock Wave +8 tails,
Offensive Heal +8 tails, and Reset tails.
<br><br>
All for the price of just 45,000 gold!</p>
<p class="title">Adam:</p>
<p class="para">Are you fucking kidding me?</p>
<p class="title">Eve:</p>
<p class="para">Nii... chan.</p>
<p class="title">Adam:</p>
<p class="para">Eve, hang in there.</p>
<p class="title">Eve:</p>
<p class="para">When we get back home,
let's play again, okay?</p>
<p class="title">Adam:</p>
<p class="para">Yeah, I'll always play with you.
That's why...</p>
<p class="title">Eve:</p>
<p class="para">I love seeing your happy face, Nii-chan
<br><br>
Come on... smile.
Nii...chan...</p>
<p class="title">Adam:</p>
<p class="para">Eve!</p>
<p class="title">9S:</p>
<p class="para">Wait, you're making a huge fuss
a little knee injury...</p>
<p class="title">Adam:</p>
<p class="para">You bastards, how dare you...?</p>
<p class="title">Pascal:</p>
<p class="para">That's far enough.</p>
<p class="title">9S:</p>
<p class="para">You're...</p>
<p class="title">Pascal:</p>
<p class="para">I am Pascal, the head of Machine
Lifeform Industrial High School.</p>
<p class="title">9S:</p>
<p class="para">You're their school head? Compared to them,
you have a very gentle demeanor.</p>
<p class="title">Pascal:</p>
<p class="para">My daily routine is to take care
of my children.
<br><br>
and before I knew it, I was in this position.
<br><br>
Please forgive these children for my sake.</p>
<p class="title">9S:</p>
<p class="para">Forgive them?
They came here and attacked us.</p>
<p class="title">Pascal:</p>
<p class="para">These kids just wanted to interact
with the Octopus students.
<br><br>
So I taught them that
the only way to understand
things is through dialogue.</p>
<p class="title">9S:</p>
<p class="para">No, dialogue is good and all,
but it is communicated through body language.</p>
<p class="title">Pascal:</p>
<p class="para">Yes, the most important thing is to
instill FEAR in the other person.
<br><br>
and then they will do what you say.</p>
<p class="title">9S:</p>
<p class="para">This guy is the culprit,
he's the worst of them all!</p>
<p class="title">Pascal:</p>
<p class="para">We will back off for now, but if you continue
to lay hands on my children, then...
<br><br>
We have decided to use "DIALOGUE" to achieve "MUTUAL UNDERSTANDING."</p>
<p class="title">9S:</p>
<p class="para">Another one who can't be
taken literally.</p>
<p class="title">Pascal:</p>
<p class="para">Well then, if you'll excuse us.
Come on, kids, let's head home.</p>
<p class="title">Adam:</p>
<p class="para">Let's go, Eve.</p>
<p class="title">Eve:</p>
<p class="para">Okay, Nii-chan.</p>
<p class="title">9S:</p>
<p class="para">Looks like it's finally over.</p>
<p class="title">2B:</p>
<p class="para">Let's head home, 9S.</p>
<p class="title">9S:</p>
<p class="para">Yeah, and also, um,
thank you for saving me.</p>
<p class="title">2B:</p>
<p class="para">I'm the Bancho, so it's only natural.</p>
<p class="title">9S:</p>
<p class="para">I want to get stronger and one day
surpass you, 2B-senpai.
<br><br>
No, I want to at least stand shoulder
to shoulder with you.</p>
<p class="title">2B:</p>
<p class="para">-I see.</p>
<p class="title">9S:</p>
<p class="para">-Right, 2B-senpai!</p>
<p class="title">2B:</p>
<p class="para">Also, you don't need to use senpai.</p>
<p class="title">9S:</p>
<p class="para">Huh?</p>
<p class="title">2B:</p>
<p class="para">My name doesn't need an honorific.
You and I are in the same grade.</p>
<p class="title">9S:</p>
<p class="para">Okay, 2B!</p>
<p class="title">2B:</p>
<p class="para">Alternatively, I will call you Nines.</p>
<p class="title">9S:</p>
<p class="para">Huh? S-Sure, that's what my close
friends call me so I'd be happy if you
call me that, 2B.</p>
<p class="title">2B:</p>
<p class="para">Then, can I call you Nines-chan?</p>
<p class="title">9S:</p>
<p class="para">Nines...chan?
<br><br>
Um, well, that's a bit.</p>
<p class="title">2B:</p>
<p class="para">Can I call you Nine-chan?</p>
<p class="title">9S:</p>
<p class="para">N-Nine-chan, hey, 2B,
aren't you acting a little strange?</p>
<p class="title">2B:</p>
<p class="para">Did you say something, Na-chan?</p>
<p class="title">9S:</p>
<p class="para">It's getting really weird.
What's going on?</p>
<p class="title">Pod-153:</p>
<p class="para">Analysis: Projection of deep consciousness involves fatal
contradictions and errors of self-identification</p>
<p class="title">9S:</p>
<p class="para">That voice...Pod!</p>
<p class="title">Pod-153:</p>
<p class="para">Negative: I'm not a pod, but the first Bancho
of YoRHa Academy, 153, aight?</p>
<p class="title">Pod-042:</p>
<p class="para">And, I'm the legendary Sukeban
(delinquent girl,) 042, ya hear?</p>
<p class="title">Pod-153:</p>
<p class="para">If ya look down on us, you'll get it.
<br><br>
I openly decided to have an impure opposite sex interaction in school.
<br><br>
Are ya ready to dance with
misfortune and hard luck?</p>
<p class="title">Pod-042:</p>
<p class="para">We'll never forgive ya.
<br><br>
Close-range fire power
output maximum, aight?</p>
<p class="title">9S:</p>
<p class="para">It's strange, it's absolutely strange,
this is impossible!
<br><br>
Yes, this can't be possible.
<br><br>
Then, could this perhaps be...</p>
<p class="line"></p>
<p class="title">2B:</p>
<p class="para">Have you woken up, 9S?</p>
<p class="title">9S:</p>
<p class="para">2B...senpai...</p>
<p class="title">2B:</p>
<p class="para">Senpai?
What do you mean?</p>
<p class="title">9S:</p>
<p class="para">Ah no, it's nothing.
Thank goodness, you're back to the usual 2B.</p>
<p class="title">2B:</p>
<p class="para">Are you still half asleep?</p>
<p class="title">9S:</p>
<p class="para">Ah, no, how can I say this, um,
I had a strange dream.</p>
<p class="title">2B:</p>
<p class="para">We do not dream.</p>
<p class="title">9S:</p>
<p class="para">Hmm, maybe I had an error in my visual
processing system while sleeping.</p>
<p class="title">2B:</p>
<p class="para">Regardless, what's is this place?</p>
<p class="title">Pod-153:</p>
<p class="para">Analysis: It's the roof of a building.
This building was once used as a school building.</p>
<p class="title">9S:</p>
<p class="para">A school?</p>
<p class="title">2B:</p>
<p class="para">Is there a problem?</p>
<p class="title">9S:</p>
<p class="para">That must be what caused the error...
Ah, no, it's nothing.
Sorry, I fell asleep during the journey.
How long have I been sleeping?</p>
<p class="title">2B:</p>
<p class="para">Pod, how much did I wait?</p>
<p class="title">Pod-042:</p>
<p class="para">Analysis: 116 minutes 56 seconds.</p>
<p class="title">9S:</p>
<p class="para">Nearly two hours?
Why didn't you wake me up then?</p>
<p class="title">2B:</p>
<p class="para">Because you looked like you were
sleeping comfortably.</p>
<p class="title">9S:</p>
<p class="para">Huh?
<br><br>
Rest is necessary once in a while.</p>
<p class="title">2B:</p>
<p class="para">2B. Ah,..but, wait a second.</p>
<p class="title">9S:</p>
<p class="para">Does that mean you were watching
my sleeping face this whole time?</p>
<p class="title">2B:</p>
<p class="para">-I decline to answer.</p>
<p class="title">9S:</p>
<p class="para">-Doesn't that mean you were watching?!
How embarrassing.</p>
<p class="title">2B:</p>
<p class="para">It wasn't weird, you were smiling the whole
time, like you're having fun.</p>
<p class="title">9S:</p>
<p class="para">Fun? It was certainly an incredibly strange scene but I think that's exactly why it was such a noisy and fun dream.
<br>Ah, no, not a dream.</p>
<p class="title">2B:</p>
<p class="para">We do not dream.
<br><br>
But we can still envision a dream.</p>
<p class="title">9S:</p>
<p class="para">Envision a dream?</p>
<p class="title">2B:</p>
<p class="para">Our mission is to restore peace.
<br><br>
Maybe you envisioned the scene of
peace you were hoping for.</p>
<p class="title">9S:</p>
<p class="para">I think the chances of that scene
coming true are close to zero, though.
<br><br>
But no matter what kind of world it is...
<br><br>
As long as I can be with you, 2B,
that's enough for me.</p>
<p class="title">2B:</p>
<p class="para">9S.</p>
<p class="title">9S:</p>
<p class="para">Even when the world becomes peaceful someday,
please let me be by your side, 2B.</p>
<p class="title">2B:</p>
<p class="para">Time to get back to our mission, 9S.</p>
<p class="title">9S:</p>
<p class="para">Alright, let's go, 2B-senpai!</p>
<p class="title">2B:</p>
<p class="para">Senpai?</p>
<p class="title">9S:</p>
<p class="para">Sorry, that was a mistake!</p>
</p></div>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/blu-ray">Back</a></p>