---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Time to Rela[X]</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
.title{
    font-weight: 550;
}
</style>

<p style="margin-top: 1cm; font-size: 300%;">Time to Rela[X]</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/barry-esmail"><u>Barry Esmail</u></a></p>
<p class="title"><a href="https://www.youtube.com/watch?v=XlRmJPE2t2Q"><u>Video</u></a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/blu-ray">Back</a></p>