---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Time to Rela[X]</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
.title{
    font-weight: 465;
}
    @media screen and (orientation: landscape)
{
  #over1{
  margin: 0px auto;
  max-width: fit-content;
}
}
    @media screen and (orientation: portrait)
{
  #over1{
  margin: 0px auto;
}
}
</style>

<p style="margin-top: 1cm; font-size: 300%;">Time to Rela[X]</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/barry-esmail"><u>Barry Esmail</u></a></p>
<p class="title"><a href="https://www.youtube.com/watch?v=XlRmJPE2t2Q"><u>Video</u></a></p>
<div id="over1">
<p class="title">A2:</p>
<p class="para">The words and the thoughts entrusted
to me are etched into my memory.
<br><br>
Even though they have no form,
they are certainly there.
<br><br>
And yet, sometimes I feel uneasy
because they have no form.
<br><br>
That one day, I'll forget about them and
they'll suddenly fade from my memory.</p>
<p class="title">A2 (narration)</p>
<p class="para">fa[T]al error<br>
Letter</p>
<p class="title">Resistance Camp Member:</p>
<p class="para">Captain Lily, weapon maintenance is complete.</p>
<p class="title">Lily:</p>
<p class="para">Yeah, good job.</p>
<p class="title">Resistance Camp Member:</p>
<p class="para">Captain Lily, about the next operation...</p>
<p class="title">Lily:</p>
<p class="para">Yeah, leave it to me.</p>
<p class="title">Resistance Camp Member:</p>
<p class="para">Captain Lily!</p>
<p class="title">Lily:</p>
<p class="para">Yeah.</p>
<p class="title">Resistance Camp Member:</p>
<p class="para">Captain Lily, A2-san is here.</p>
<p class="title">Lily:</p>
<p class="para">Yeah...
<br><br>
You're sooner than I thought.</p>
<p class="title">A2:</p>
<p class="para">What are you doing after
making me come here?</p>
<p class="title">Lily:</p>
<p class="para">I was writing a letter.</p>
<p class="title">A2:</p>
<p class="para">A letter?</p>
<p class="title">Pod-042:</p>
<p class="para">Explanation: Letters are a form of
communication that humans have used primarily on physical media
such as paper.</p>
<p class="title">A2:</p>
<p class="para">Isn't communication via physical
media inefficient?</p>
<p class="title">Pod-042:</p>
<p class="para">Agreed. Data communication is faster
and more accurate.
<br><br>
Query: What is the reason behind
writing this letter?</p>
<p class="title">Lily:</p></div>
<p class="para">It's true that it's less convenient than communicating by data, however, the time spent writing letters while thinking of the recipient helps calm the spirit that has become strained by daily battles.
<br><br>
And the fact that there is someone
waiting for a reply gives you energy to live on
the battlefield.
<br><br>
Well, half of that is just me repeating
what I was once told.</p><div id="over1">
<p class="title">A2:</p>
<p class="para">Repeating?</p>
<p class="title">Lily:</p>
<p class="para">I had that conversation with
No. 21 a long time ago.
<br><br>
In her own way, she was trying to
figure out why mankind was doing such an inefficient
job of correspondence.</p>
<p class="title">A2:</p>
<p class="para">I see. That diligence sounds like her.</p>
<p class="title">Lily:</p>
<p class="para">A few months ago, a letter arrived
at the resistance camp.
<br><br>
It reminded me of her, so I started
writing letters ever since.
<br><br>
Wanting to find the answer to
my conversation with No. 21.</p>
<p class="title">A2:</p>
<p class="para">I see. And? What did you write?</p>
<p class="title">Lily:</p>
<p class="para">That's... a secret.</p>
<p class="title">Pod-042:</p>
<p class="para">Report: Elevated heart rate.</p>
<p class="title">Lily:</p>
<p class="para">Be quiet.
<br><br>
However, the person I correspond with
is a great person, like No. 21.</p>
<p class="title">A2:</p>
<p class="para">Then why did you call me?</p>
<p class="title">Lily:</p>
<p class="para">I would like you to mail
this letter for me.</p>
<p class="title">A2:</p>
<p class="para">Mail it?</p>
<p class="title">Pod-042:</p>
<p class="para">Analysis: The act of storing letters in
a mailbox to get delivered by post.
<br><br>
In the old world, mail carriers would collect the letters
and deliver them to their recipients.</p>
<p class="title">A2:</p>
<p class="para">Why me?
You can do it yourself.</p>
<p class="title">Lily:</p>
<p class="para">I have some work to do and
it's not like I can leave the camp.
<br><br>
Besides...</p>
<p class="title">A2:</p>
<p class="para">Besides?</p>
<p class="title">Lily:</p>
<p class="para">If I were to meet the person I'm sending it to,
it would ruin a bunch of stuff.
<br><br>
I'm counting on you, A2.</p>
<p class="title">A2:</p>
<p class="para">If that's the reason, I refuse.</p>
<p class="title">Lily:</p>
<p class="para">Won't you do it for me?</p>
<p class="title">A2:</p>
<p class="para">Don't wanna.</p>
<p class="title">Lily:</p>
<p class="para">Please, No. 2-san?</p>
<p class="title">A2:</p>
<p class="para">Fine.</p>
<p class="title">Lily:</p>
<p class="para">Thank you.
<br><br>
Ah, and definitely don't look
at the contents, No. 2-san.</p>
<p class="title">A2:</p>
<p class="para">Don't use me for your convenience.</p>
<p class="line"></p>
<p class="title">Pod-042:</p>
<p class="para">Query: Why did you accept Lily's request?</p>
<p class="title">A2</p>
<p class="para">It doesn't matter.</p>
<p class="title">Pod-042:</p>
<p class="para">Negative. The accompanying support unit
has the right to ask for reasons.</p>
<p class="title">A2</p>
<p class="para">No. 21...
<br><br>
Maybe I mellowed out a little when
I heard a nostalgic name.</p>
<p class="title">Pod-042:</p>
<p class="para">A2's intrusive remarks are largely consistent
with A2's recorded personality data.</p>
<p class="title">A2</p>
<p class="para">Shut up!
One day, I'll break you for good.
<br><br>
More importantly, isn't the point Lily
specified around here?</p>
<p class="title">Pod-042:</p>
<p class="para">Affirmative. The coordinates given by Lily
point to the postbox visible ahead.</p>
<p class="title">A2</p>
<p class="para">So I just put the letter in here?</p>
<p class="title">Pod-042:</p>
<p class="para">That is how humanity operated this post.</p>
<p class="title"><i>A piece of metal plops open, as you hear paper ruffle and the metal squeaking shut</i></p>
<p class="title">A2</p>
<p class="para">That should do it.
Rather, is this post still functional?</p>
<p class="title">Pod-042:</p>
<p class="para">Unknown.</p>
<p class="title">A2</p>
<p class="para">Hmph.</p>
<p class="title">Pascal</p>
<p class="para">Oh, A2-san, why are you here?</p>
<p class="title">A2</p>
<p class="para">Same to you, why are you here?</p>
<p class="title">Pascal</p>
<p class="para">I've come to collect a letter from that
post. Excuse me for a moment.</p>
<p class="title">A2</p>
<p class="para">Are you perhaps the one Lily is
writing the letter to?</p>
<p class="title">Pascal</p>
<p class="para">Uh-huh, so you came here to deliver
Lily-san's letter, right?
<br><br>
I'm not Lily-san's pen friend.
I merely deliver the letters.</p>

<p class="title">Pod-042</p>
<p class="para">Request: Disclosure of reason
for delivering letters.</p>
<p class="title">Pascal</p>
<p class="para">Ah, that's because Lily-san's
pen friend is in my village.</p>
<p class="title">A2</p>
<p class="para">In other words, she's writting letters
to a machine lifeform?</p>
<p class="title">Pascal</p>
<p class="para">That's right.</p>
<p class="title">A2</p>
<p class="para">Take me to it.</p>
<p class="title">Pascal</p>
<p class="para">Well, according to human records,
we shouldn't intervene.</p>
<p class="title">Pod-042</p>
<p class="para">Agreed. Unnecessary intervention...</p>
<p class="title">A2</p>
<p class="para">Just do it.</p>
<p class="title">Pascal</p>
<p class="para">I understand. Your concerns
are valid, A2-san.
<br><br>
Please follow me.</p>
<p class="line"></p>
<p class="title">Machine Children:</p>
<p class="para">Wah, it's Onee-chan.
Let's play! Let's play!
<br><br>
No fair!
<br><br>
Me too! Me too!
<br><br>
Let's play tag (Onigokko)
<br><br>
Then, you'll be the Oni (demon), Onne-chan.
<br><br>
Onne-chan is the Oni!
Onne-chan is the Oni!
Onne-chan is the Oni!</p>
<p class="title">A2</p>
<p class="para">Hey.</p>
<p class="title">Machine Children:</p>
<p class="para">Wah, scary!
Onee-chan is a scary demon!
<br><br>
Scary!
Scary!</p>
<p class="title">A2</p>
<p class="para">I'll play with you next time,
so go over there for now.</p>
<p class="title">Machine Children:</p>
<p class="para">Yay, next time!
Yay, next time!</p>
<p class="title">Pascal</p>
<p class="para">I'm sorry for their trouble, as always.
Right this way.</p>
<p class="line"></p>
<p class="title">Pascal</p>
<p class="para">Ah, there you are, there you are.
This one is Lily's pen friend.</p>
<p class="title">A2</p>
<p class="para">This big guy...?</p>
<p class="title">Tall Machine:</p>
<p class="para">Pascal, could that be...?
<br><br>
Hmm, that can't be...
<br><br>
Is this old lady, who doesn't seem to have a shred of Venus, my pen friend?</p>
<p class="title">Pascal</p>
<p class="para">Ahh wait, A2-san,
please put away your sword!</p>
<p class="title">Tall Machine:</p>
<p class="para">Those hands that look like
they were covered in oil
produced such delicate
sentences?
<br><br>
That can not be! That can not be!
It is unfathomable!</p>
<p class="title">Pascal</p>
<p class="para">A2-san, please don't raise your sword!</p>
<p class="title">Tall Machine:</p>
<p class="para">A2-san?
<br><br>
Ah, then my pen friend is...?</p>
<p class="title">Pascal</p>
<p class="para">Did you get it?
That's right. Your pen friend is...</p>
<p class="title">Tall Machine:</p>
<p class="para">My pen friend is a rude, old girl, who
doesn't have a shred of Venus. But, despite her appearance,
she has a sweet pen name like Lily.</p>
<p class="title">Pascal</p>
<p class="para">This person is not Lily-san.
<br><br>
Her name is A2-san and she's here to
deliver Lily-san's letter.</p>
<p class="title">Tall Machine:</p>
<p class="para">Is that so?
<br><br>
I see.</p>
<p class="title">Pascal</p>
<p class="para">A2-san, I ask you, please
quench your anger.
<br><br>
He always uses letters, so he's not used to
face-to-face communication.</p>
<p class="title">A2, <i>under her breath</i></p>
<p class="para">In what way is it similar to No. 21?</p>
<p class="title">Tall Machine:</p>
<p class="para">Ah Lily-san, I'm sure you are a person who is
as lovely as your name suggests.
<br><br>
Hurry up, hurry up, I want to read the words she has written.</p>
<p class="title">Pascal</p>
<p class="para">You're right.
Here.</p>
<p class="title">Tall Machine:</p>
<p class="para">Oh, then I will read it right away.
<br><br>
Hmm, hmm, Lily-san, your character seems to
exude your dignity and gentle nature.
<br><br>
Ah, I want to meet you.
You must be such a wonderful
wonderful machine lifeform.</p>
<p class="title">A2:</p>
<p class="para">Wait, Lily is...</p>
<p class="title">Pascal:</p>
<p class="para">A2-san, come here please.</p>
<p class="title">A2:</p>
<p class="para">What is it?</p>
<p class="title">Pascal:</p>
<p class="para">He doesn't know that Lily-san is an android,
nor does Lily-san know that he's a machine lifeform.</p>
<p class="title">A2:</p>
<p class="para">Wouldn't it be better if you told them?</p>
<p class="title">Pascal:</p>
<p class="para">Can't we just quietly watch the love between
a Machine Lifeform and an Android?</p>
<p class="title">A2:</p>
<p class="para">Love?</p>
<p class="title">Pascal:</p>
<p class="para">They will never be together, but that's why
they love each other.
<br><br>
Oh, how wonderful!</p>
<p class="title">A2:</p>
<p class="para">Do they love each other?</p>
<p class="title">Pascal:</p>
<p class="para">I don't know that much.</p>
<p class="title">A2:</p>
<p class="para">Well, whatever, it'll be a hassle,
so I'll just keep quiet.</p>
<p class="title">Pascal:</p>
<p class="para">Thank you very much.</p>
<p class="line"></p>
<p class="title">Pod-042:</p>
<p class="para">Query: Why won't you tell Lily the true
identity of her pen friend?</p>
<p class="title">A2:</p>
<p class="para">Like I said, it'll be a hassle.
<br><br>
He was a weird one, but as a pen friend,
he seems harmless.</p>
<p class="title">Pod-042:</p>
<p class="para">Then why are you heading to
the resistance camp?</p>
<p class="title">A2:</p>
<p class="para">I haven't reported that I posted
the letter yet.
<br><br>
Wait, that sound...</p>
<p class="title"><i>Gunfire and explosions can be heard from a distance</i></p>
<p class="title">Pod-042:</p>
<p class="para">Report: There is a skirmish up ahead between
the Resistance and the Machine Lifeforms.
<br><br>
Proposal: Swift assistance.</p>
<p class="title">A2:</p>
<p class="para">You don't have to tell me that.</p>
<p class="lin"></p>
<p class="title">Resistance Camp Member:</p>
<p class="para">This way.
<br>
Shit, those damned machines.
<br><br>
Captain Lily!</p>
<p class="title">Lily:</p>
<p class="para">The injured should withdraw.
<br><br>
Those who can still move,
maintain the front line without advancing.</p>
<p class="title">Resistance Camp Member:</p>
<p class="para">Copy that.
<br><br>
Hey, something is coming.</p>
<p class="title">Lily:</p>
<p class="para">A2.</p>
<p class="title">A2:</p>
<p class="para">Are you okay, Lily?</p>
<p class="title">Lily:</p>
<p class="para">For now.</p>
<p class="title">A2:</p>
<p class="para">Where did they come from?</p>
<p class="title">Lily:</p>
<p class="para">I don't know. Before I knew it, the camp was being attacked.</p>
<p class="title">A2:</p>
<p class="para">I'll hold them off.</p>
<p class="title">Lily:</p>
<p class="para">That would be great.</p>
<p class="title"><i>Gunfire and explosions still rage on all around</i></p>
<p class="title">A2:</p>
<p class="para">I'll wipe you all out.</p>
<p class="title">Lily:</p>
<p class="para">Standing side by side like this
reminds me of our old battle.</p>
<p class="title">A2:</p>
<p class="para">Focus on the one in front of you right now.</p>
<p class="title">Tall Machine:</p>
<p class="para">What in the world...
I, too, will help.</p>
<p class="title">A2:</p>
<p class="para">You're the letter guy...
Did you follow me?</p>
<p class="title">Tall Machine:</p>
<p class="para">I just can't contain these
overflowing feelings anymore.</p>
<p class="title">Lily:</p>
<p class="para">That's...</p>
<p class="title">A2:</p>
<p class="para">This big guy is from Pascal's village...
<br><br>
Anyway, he's not an enemy.
Right now, just focus on defeating
the other machine lifeforms.</p>
<p class="title">Lily:</p>
<p class="para">Got it.</p>
<p class="title">Resistance Camp Member:</p>
<p class="para">Captain Lily, are we going to fight machine lifeforms
together with a machine lifeform?
<br><br>
That doesn't feel right, does it?
<br><br>
Can we really trust it?</p>
<p class="title">Lily:</p>
<p class="para">Machine lifeforms can't be trusted, but we
can trust the ones from Pascal's Village.</p>
<p class="title">Tall Machine:</p>
<p class="para">Don't worry, I just want to....
<br><br>
I will help you all.
<br><br>
If I make any strange movements,
feel free to attack me.
<br><br>
I will accept that as fate too.</p>
<p class="title"><i>You can hear something rushing through the wind very quickly</i></p>
<p class="title">Resistance Camp Member:</p>
<p class="para">It's a guided missile!
<br><br>
Captain!
<br><br>
Captain, are you okay?</p>
<p class="title">Lily:</p>
<p class="para">I'm okay, this one shielded me.</p>
<p class="title">Tall Machine:</p>
<p class="para">I'm glad you're safe.
<br><br>
I am fine.
<br><br>
I'm glad I have a big body.
<br><br>
This level of damage can be easily fixed by
returning to the village and replacing the parts.
<br><br>
No need to worry.</p>
<p class="title">Lily:</p>
<p class="para">You have my thanks.</p>
<p class="title">Resistance Camp Member:</p>
<p class="para">Um... I'm sorry about what I said earlier.</p>
<p class="title">Tall Machine:</p>
<p class="para">No, it's only natural that you would be
wary of the Machine Lifeforms.</p>
<p class="title">Lily:</p>
<p class="para">I'm fine.
<br><br>
The situation has changed due to A2's
assault. Push them back at once!</p>
<p class="title"><i>Everyone yells in unison, displaying their desire to win, followed by many explosions and gunfire</i></p>
<p class="line"></p>
<p class="title">Lily:</p>
<p class="para">It's over. A2, I'm glad you came.<br>
If you didn't, we would have...
<br><br>
I should thank you too.<br>
Thank you very much.</p>
<p class="title">Tall Machine:</p>
<p class="para">No, I only blocked the rain of sins
of my foolish companions and acted as an umbrella.
<br><br>
And yet, I wasn't able to
protect everything and everyone.</p>
<p class="title">Lily:</p>
<p class="para">It's not something you should
worry about.
<br><br>
We are warriors, ready to die
on the battlefield.
<br><br>
You should hurry back to
the village and get fixed.</p>
<p class="title">Tall Machine:</p>
<p class="para">Right. One last thing.
<br><br>
Are you Lily-san?</p>
<p class="title">Lily:</p>
<p class="para">Yes, I am.</p>
<p class="title">Tall Machine:</p>
<p class="para">Ah, I see. Now,
if you'll excuse me...</p>
<p class="title">A2:</p>
<p class="para">Are you okay with that?</p>
<p class="title">Tall Machine:</p>
<p class="para">Yeah, yeah, that's fine by me.
<br><br>
Now, I am...
<br><br>
I...I...
<br><br>
am...</p>
<p class="title">A2:</p>
<p class="para">What's wrong?!</p>
<p class="title"><i>The tall machine begins to scream, cutting out intermittently</i></p>
<p class="title">A2:</p>
<p class="para">Did this guy get infected?</p>
<p class="title">Resistance Camp Member:</p>
<p class="para">Captain, please stay back.</p>
<p class="title">Lily:</p>
<p class="para">No, I'll be the one to do it.</p>
<p class="title">Tall Machine:</p>
<p class="para">I will slaughter all androids!</p>
<p class="title">Lily:</p>
<p class="para">We have to kill those who are infected,
that's the rule here.</p>
<p class="title"><i>Gunfire begins pouring into the tall machine</i></p>
<p class="title">Lily:</p>
<p class="para">Sorry.</p>
<p class="title">Resistance Camp Member:</p>
<p class="para">Captain...
<br><br>
Let's head back.</p>
<p class="line"></p>
<p class="title">A2:</p>
<p class="para">You...</p>
<p class="title">Tall Machine:</p>
<p class="para">If a machine lifeform and an android can never be together...
<br><br>
If they are destined to hate each other...
<br><br>
Then at least I got to meet my end at
the hands of my loved one.</p>
<p class="title">A2:</p>
<p class="para">I see.</p>
<p class="title">Tall Machine:</p>
<p class="para">Although I had imagined Lily-san to be
a flower-like person...
<br><br>
She was much braver and more
powerful than I imagined.
<br><br>
She was a much, much sweeter person.</p>
<p class="title">A2:</p>
<p class="para">Is there anything you want to tell Lily?</p>
<p class="title"><i>You can hear the machine lifeform power down</i></p>
<p class="title">Pod-042:</p>
<p class="para">Report: The pen friend machine lifeform
has stopped functioning.</p>
<p class="title"><i>Footsteps approach</i></p>
<p class="title">Pascal:</p>
<p class="para">There you are.<br><br>
A2-san, is he...?</p>
<p class="title">A2:</p>
<p class="para">Yeah.</p>
<p class="title">Pascal:</p>
<p class="para">I see.
<br><br>
Was he able to meet Lily-san?</p>
<p class="title">A2:</p>
<p class="para">He protected Lily, then chose to be
killed by her hands.</p>
<p class="title">Pascal:</p>
<p class="para">Oh no.</p>
<p class="title">A2:</p>
<p class="para">That was his choice.
<br><br>
That's all there is to it.</p>
<p class="title">Pascal:</p>
<p class="para">You're right. Yes, you're right.
<br><br>
A2-san, I will never forget about him.
<br><br>
That's the only thing I can do for him.</p>
<p class="title">A2:</p>
<p class="para">You're right.</p>
<p class="title">Pascal:</p>
<p class="para">It would be so sad to die without being
remembered by anyone.
<br><br>
Alternatively, if they are remembered, they keep on living within
the one remembering them.
<br><br>
That's what I believe in.</p>
<p class="title">A2:</p>
<p class="para">There's no way I could ever forget.</p>
<p class="title">Pod-042:</p>
<p class="para">Query: By that, do you mean the information
about YoRHa unit 2B that is stored in A2's memory?</p>
<p class="title">A2:</p>
<p class="para">Not just 2B.</p>
<p class="title">Pod-042:</p>
<p class="para">Unable to comprehend.<br><br>
Saved as a record for later analysis.</p>
<p class="title">A2:</p>
<p class="para">Do as you like.</p>
<p class="title">Pascal:</p>
<p class="para">That's right. A2-san, here, take this.</p>
<p class="title">A2:</p>
<p class="para">A letter? For me?</p>
<p class="title">Pascal:</p>
<p class="para">Yes, among Lily-san's letters was one
addressed to you, A2-san.</p>
<p class="title">A2:</p>
<p class="para">A letter from Lily to me?<br><br>
She could have just talked directl...
<br><br>
No, that's probably not it.
<br><br>
I'll take my time reading it later.</p>
<p class="title">Pascal:</p>
<p class="para">Yes. Now, if you'll excuse me,
I'll leave now.</p>
<p class="title">Pod-042:</p>
<p class="para">Request: Disclosure of the letter's contents.</p>
<p class="title">A2:</p>
<p class="para">I. Refuse. To. Do that.<br><br>
There's no way I'm gonna tell you.</p>
<p class="title">Pod-042:</p>
<p class="para">YoRHa unit A2 should share the information
with her accompanying support unit.
<br><br>
And the more information shared,the smoother the operation will proceed.
<br><br>
So, it is important to actively disclose
information to the unit...</p>
<p class="title"><i>Pod's voice slowly faded away, until you couldn't hear him anymore</i></p>
<p class="line"></p>
<p class="title">A2:</p>
<p class="para">The letter included memories of the
Pearl Harbor Descent Mission.
<br><br>
Lily's words told the story of
her former companions.
<br><br>
Lily's view of No. 4, No. 16, and No. 21,
and her fellow resistance members.
<br><br>
They felt different from the girls I knew.
<br><br>
Somehow, I felt like I was able to
meet them again.
<br><br>
At the end of the letter it said:
<br><br>
Thank you for staying alive...
<br><br>
Thank you for staying alive, No.2-san</p>
<p class="title">Pod-042:</p>
<p class="para">Confirmation: Who should YoRHa unit A2
communicate its feelings to?</p>
<p class="title">A2:</p>
<p class="para">Why?</p>
<p class="title">Pod-042:</p>
<p class="para">I will support A2 in exchanging letters
if she wishes.</p>
<p class="title">A2:</p>
<p class="para">I don't have anyone to send it to, anymore.</p>
<p class="title">Pod-042:</p>
<p class="para">Affirmative.</p>
<p class="title">A2:</p>
<p class="para">No.
<br><br>
Thank you.</p></div>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/blu-ray">Back</a></p>