---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>To the Unseen You</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
.title{
    font-weight: 550;
}
</style>

<p style="margin-top: 1cm; font-size: 300%;">To the Unseen You</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/barry-esmail"><u>Barry Esmail</u></a></p>
<p class="para">A beast eating on grass ran away, its antlers shaking in fear.
<br><br>
"I wonder if I scared it," 9S thought as he got off the flying unit. The cervidae family of the mammalia class are known to be very cautious. It must have been very surprised to see an unknown object with a loud noise flying towards it.
<br><br>
Of course, Meese sometimes try to fight back against a threat with their antlers. They are not just timid herbivores. What's more, they are fast. If those antlers had come at him at that speed, he wouldn't have gotten away with it. He was actually glad that it ran away.
<br><br>
"That aside, the weather is nice today."
<br><br>
Just as he stretched his body, he heard a voice from behind him say "Alert."
<br><br>
"One hundred and fifty-four seconds have passed since landing. Despite this, 9S is still in place."
<br><br>
Pod 153 circled around in front of 9S. The golden rule for field surveys is to begin work immediately after disembarking the flight unit.
<br><br>
"Query: Reason for waiting."
<br><br>
"There's no particular reason. I was just thinking about something."
<br><br>
Even though it was only 154 seconds, 9S just stood there doing nothing, so perhaps the pod was concerned about him in its own way.
<br><br>
"Recommendation: Promptly complete the mission."
<br><br>
"I've got it already. Let's see, I've finished checking for hostile reactions, so next is the terrain data."
<br><br>
As he visually scanned his surroundings, a long, dark brown structure caught his eye. When he first saw a "steel tower" made of regularly spaced steel members stacked together, he thought it was interesting, as it looked like a tall building with its walls stripped away, leaving only the framework. Now he was used to seeing them, though.
<br><br>
Humans have built steel towers for various purposes, such as power transmission, communication, and surveillance, so he could use them to observe his surroundings. It seemed that some steel towers were even built for the purpose of enjoying the view from high up. The one in front of him was a type intended for communication or surveillance. In other words, it appears that he could climb to the top of the tower and use its platform.
<br><br>
"If I'm going to work, I'd rather work up there."
<br><br>
Visibility and communication are good at high altitudes. Above all, the breeze is pleasant. Unlike near the ground, there aren't many dead leaves or debris flying around up there, so the filters don't get clogged with dust. It seems that the "pollen" that has plagued a certain number of humans also flies up to high altitudes, but fortunately, it is said that YoRHa units, including his own, are unlikely to be affected by inhaling the pollen.
<br><br>
As he pushed his way through the knee-high grass to get closer, He realized that the dark brown color was actually rust. The ladder that extended to the top was white, with the paint still relatively intact. However, looking closely, he could see rust poking out in places.
<br><br>
"If it's covered in this much rust, won't it snap off if I shake it a little while climbing?"
<br><br>
"Negative. Although red rust has a tendency to deteriorate the strength of iron, there is currently no problem with the integrity of the structure in question."
<br><br>
"For example, what if I were to enter a state of combat with multiple machine lifeforms up there?"
<br><br>
"Answer: No problem."
<br><br>
"Can it withstand a pod attack?"
<br><br>
"Answer: Absolutely no problem."
<br><br>
"Even if a B-Type slashes it? Even if they kick it with all their might?"
<br><br>
"Quary: What is the meaning behind assuming that a B-Type has slashed or kicked the building?"
<br><br>
"Like maybe they were trying to land a spin kick on multiple machine lifeforms but misjudged the distance and ended up kicking the pylon instead, or maybe their weapon went out of control while they were swinging it around. That kind of thing seems possible, right?"
<br><br>
"Negative. The probability of a situation occurring in which the combat-specialized B-Type misjudges their opponent's distance or loses control of their sword is low. Even taking into account the poor footing at the location in question, the probability is estimated to be less than 1.000012%. Conclusion: This assumption is meaningless."
<br><br>
"That's not.... how can I say this?"
<br><br>
He thought it was a little different from the image he had heard. According to the S-Type, who operated alongside a B-Type, there were frequent incidents where they got carried away and slashed a large tree along with the machine lifeform, or misjudged the distance and kicked a building, causing it to collapse...that kind of thing.
<br><br>
"I guess they were exaggerating, huh?"
<br><br>
9S has never accompanied a B-Type on any missions up to now. The missions given to him were always solo field investigations. It is true that scanner types, which specialize in information gathering and analysis, often undertake such missions, but that is "most of them," but not exclusively. Some missions involve pairing with other types, and there are also cases where they are deployed as part of a platoon. However, 9S simply has no experience with such missions.
<br><br>
He couldn't help but wonder why other S-Types wanted to talk about their B-Type partners to him. Wouldn't it be more beneficial for them to talk to each other if they had experience? Since he barely knew any other B-Types, he is not the right person to exchange information with or ask for advice. Then why ask him?
<br><br>
The answer became clear at once. At the same time, he let out a sigh.
<br><br>
"Because I won’t find out if they lie, huh?"
<br><br>
Even if they added extra details to the story, 9S wouldn't know where the real parts ended, and where the lies began. Taking advantage of that, they must have exaggerated a lot.
<br><br>
But things will be different from now on. The mission this time is to back up a B-Type as they infiltrate the enemy's base. Today is the first time 9S will be working with a B-Type. So, in order to avoid holding them back, he put more effort into preliminary research.
<br><br>
The reason he landed here before heading to the rendezvous point was to check the vacant lot that had been selected as a waiting area in case of an emergency. Surveys and measurements had already been completed at this location, but the local situation was constantly changing. He needed to update the map data to reflect the differences from the previous survey, such as whether the shapes of structures or the distribution of enemies had changed.
<br><br>
"Yeah. I have to do my best."
<br><br>
He put his foot on the ladder, which had rust spots in some places. If he can get to the top of the tower, he can visually check the surroundings. At the same time, he can check whether the ladder is damaged or not.
<br><br>
B-Types are heavy because they have powerful artificial muscles. This ladder only met the strength standards of human civilization, so it was unclear whether it could withstand the use of B-Type, which is nearly twice the weight of an adult male and more than three times the weight of an adult female.
<br><br>
He listened carefully for any unusual noises as he kicked the ladder hard while climbing, when suddenly he heard a voice from behind his head.
<br><br>
"Report: The ladder's strength has already been analyzed. No deterioration or damage that would impede its use was found. Recommendation: Trust the analysis of the accompanying support unit and cease any unnatural movements."
<br><br>
"It's not like I don't trust you or anything. Still, calling it unnatural movements is... whoa."
<br><br>
One of his feet was in the air. He had accidentally slipped off the ladder. He put all his strength into gripping the ladder and supported himself. That was a close call.
<br><br>
"Recommendation: Seize all unnatural movements. Falling from a great height may cause serious damage to 9S's bodily functions."
<br><br>
"I know that."
<br><br>
A little while ago, he tried to jump from the roof of a building to the next one, but failed, and was saved and pulled up by the pod. At that time, he was warned with the same words, "Don't fall from heights."
<br><br>
As he began to climb the ladder while being careful not to slip off again, the pod that had been floating closely behind him suddenly moved away. He thought it was flying too close to him, but it was actually positioning itself in case of an accident, closing the distance so it could instantly grab 9S by the collar with its arm. He wished it would trust him a little more, but didn't say anything.
<br><br>
When he got to the top, the view was as good as he expected. Looking around, he could see the rooftops of many buildings. Some of them were taller than this tower, but they were few in number and far away, so they didn't block the view.
<br><br>
"Report: Multiple machine lifeforms detected within a one-kilometer radius. However, no hostile reactions observed."
<br><br>
"Oh. you mean the type that doesn't attack and has been everywhere recently? Those ones that just stand there and space out, right?"
<br><br>
"Positive."
<br><br>
It has been observed recently that there are some individual machine lifeforms that do not show any hostile reaction unless attacked by the other party. Although they are not dangerous, it is better to take a detour route to avoid provoking them unnecessarily. This will also reduce unnecessary battles.
<br><br>
"The visibility is good, there's little hostile signal, and the pylon serves as a landmark. This place meets all the requirements for a waiting area in an emergency..."
<br><br>
He looked around again. Plants were growing and entangling themselves around the buildings, which had deteriorated to the point of collapsing. It was as if the trees were devouring the buildings. In the distance, he could see a particularly tall building. According to the map data, beyond the slightly tilted building was an elevated road, and the junction was even further beyond that.
<br><br>
"It's a little far, but still."
<br><br>
Command may have chosen this location because they thought it would be a good place to escape the enemy base unscathed and prepare for a re-entry. Or perhaps it was just a backup place.
<br><br>
"Pod, search for passable roads in the area. Any and all shortcuts. Once we have the data, we'll share it with the Bunker immediately."
<br><br>
"Acknowledged."
<br><br>
The pod rose to higher altitudes to retake survey data. After leaving the work to the pod, it was time for a short break. As usual, the wind was neither too strong nor too weak, making it comfortable. 9S sat down on the spot. Suddenly, his eyes fell on his knees.
<br><br>
"I wonder if it's true that some B-Types would stroke your knees."
<br><br>
Apparently, many B-Types tend to treat S-Types like children. He had heard stories from other S-Types of B-Types patting their heads, hugging them, poking their cheeks, and the like.
<br><br>
However, the S-Type who talked about getting their knees stroked pretended to be "complaining about their partner" but spoke in a somewhat boastful tone. I think the closest expression in human civilization would be "bragging."
<br><br>
"But why the knee, though? It doesn't make sense."
<br><br>
Again, this may have been an exaggeration, taking advantage of the fact that 9S didn't know much about B-Types. Although he had intended to talk to himself, the pod descended as if it was obligatory for it to answer.
<br><br>
"Considerations: Since the appearance of an S-Type corresponds to that of a human being who is under the age of 18, B-Types, who are equipped with AI equivalent to adult women, recognize S-Types as objects of protection and preservation. Also, although there are some exceptions, as a clothing characteristic of human males, exposure of the knees is generally only tolerated in childhood or adolescence. Speculation: Touching the knees is a presentation of the fact that the other person is a subject of protection. On the other hand, this behavior has only been confirmed in some B-Types. It is by no means a universal phenomenon, even among humans..."
<br><br>
" I get it! I get it already!"
<br><br>
He couldn't help but interrupt the pod. The explanation was longer than usual. Besides...
<br><br>
"That's not what I meant though."
<br><br>
He didn't care about the knee thing. He just thought it would be a little unpleasant if the B-Type who was joining him soon treated him like a child. Regardless of appearance, they were equals when it came to carrying out their mission. If they ever patted his head, he was going to tell them clearly to stop. Yes, with a firm attitude.
<br><br>
"Let's head to the next place. There are other places we need to investigate before the meet up."
<br><br>
9S stood up and told the pod, who still seemed to want to say something, that they were finished here.
<br><br>

As soon as he landed in the clearing, he heard the sound of rustling branches from the trees nearby. He looked over and saw a bird flying away. It looked black because of the backlight, but it might actually be a bird of a completely different color.
<br><br>
When he saw the birds flying, he couldn't help but stop and look up. They can fly even though they don't have what could be called a power plant. When he read the documents that explained how birds flap their wings, he was amazed at how they use their wings and the structure of their bodies, which are made as light as possible.
<br><br>
Not only birds, but the ground is also full of surprises. Grass that takes root and bloom even in the small concrete ribs, small insects that glide on the water... Even now, a white-winged insect was resting on the blade of grass where he landed. 9S couldn't help but stare at it, but he quickly turned his gaze upwards. He was trying to focus on work now.
<br><br>
"This place is smaller than I thought. Or rather, does it feel cramped? Has it always been like this?"
<br><br>
This vacant lot was surrounded by buildings on all sides, and the grey concrete surrounding what little blue sky there was gave it an oppressive feeling.
<br><br>
However, the place being small also meant that it was easy to keep an eye on every nook and cranny. That was probably why this place was chosen. Looking around again, the surrounding buildings all have broken windows and cracks in the walls, so it seems like it could be used to hide in case of an enemy attack.
<br><br>
"The question is, will it be okay for multiple B-Types to fight? In a space this small, there's a risk of them killing each other..."
<br><br>
He heard that there were three B-Types in the force that was descending to the ground this time. However, 9S immediately shook his head and said, "No."
<br><br>
"I will actually only work with just one B-Type, so it's fine."
<br><br>
The order to 9S was to disable the enemy base's defense system and support one of the three B-Types that were descending. It was not explained how the other two would act after arriving on the ground. In other words, it was not necessary to take them into consideration. Perhaps another S-Type like him will support them.
<br><br>
That being said, he had not been told that they would be acting separately from the other two. Since 9S had been informed that there were three B-Types, it would be best to keep in the back of his mind the possibility that they might encounter each other.
<br><br>
"Supporting three B-Types all of a sudden might be a bit much. But no, it's obvious I can do that much."
<br><br>
9S re-read the data on the B-Type joining him.
<br><br>
"Huh? Why? There's barely any information about this unit..."
<br><br>
Just as he tilted his head, 9S stopped thinking when the pod said, "Report: Hostile activity confirmed within a fifty-meter radius."
<br><br>
"This close?... Oh, wait? On the other side of the building? A flying type?"
<br><br>
In terms of straight-line distance, it's close, but since there was a structure between them, it was a different story.
<br><br>
"Estimated: Medium-sized biped. AKA. Small Fries"
<br><br>
That nickname was what 9S and the Pod called them. They used it as a memo for themselves. Either way, they were not a big deal.
<br><br>
"This one has poor reconnaissance capabilities, right? As long as we don't get in its field of vision, it's fine."
<br><br>
"Affirmative: If you are spotted even from a long distance, it will become hostile, but if there is cover, you will not be detected. Conclusion: The possibility of an encounter is extremely low at this time. Recommendation: Ignore it."
<br><br>
"Okay. I get it. Let's get on with it..."
<br><br>
9S's mutterings were interrupted again, this time by a call from the Bunker
<br><br>
[Operator to 9S. Please respond.]
<br><br>
Each YoRHa unit operating on the ground has a dedicated operator who provides support. They back up the unit in every way, conveying orders from headquarters and instructions from each department in the bunker, and answering inquiries. During ground operations, the operators are often thought of as a lifeline.
<br><br>
"This is 9S."
<br><br>
[Is your work going smoothly?]
<br><br>
"Of course. Everything is going according to plan."
<br><br>
The operator in charge of 9S is 21O. 9S thinks that she is kind, even though she speaks matter-of-factly.
<br><br>
"Did you perhaps contact me because you were worried about me?"
<br><br>
[No.]
<br><br>
"You don't have to deny it so easily."
<br><br>
Yes, her words may seem a little cold at times, but she is kind at heart...he thought.
<br><br>
[We don’t have the luxury of even a second to waste on nonsense.]
<br><br>
"As mean as ever..."
<br><br>
Although she may be ruthless, she certainly didn't mean any harm by it. Probably.
<br><br>
[I said earlier that you were on schedule, but in reality, you're 142 seconds behind schedule.]
<br><br>
"Well, that much is fine."
<br><br>
[Make sure you make up for the delay before you meet up with the person you are supporting. Even if it's only by a few seconds, being late is still being late...]
<br><br>
"AH."
<br><br>
He wasn't trying to interrupt 21O's "nagging" or anything. It's just, when he heard that he was a support target, he remembered a question that had come to mind just a moment ago.
<br><br>
[What's the matter?]
<br><br>
"Operator-san, I've heard that there are three B-Types in the descending force, but there's very little information on one of them. Why is that? Did you perhaps forget to attach the data?"
<br><br>
Units assigned to the same mission share a certain amount of information with each other. However, the only thing he knew about this unit was its name. No. 2 Type B. Nothing else is known.
<br><br>
[The data attached is complete. Nothing has been overlooked.]
<br><br>
"Is that so?..... Still, it's inconvenient not knowing her face..."
<br><br>
[There's an identification signal, remember? There shouldn't be any problems.]
<br><br>
"Yeah, but I still want to know more about things like her appearance and personality."
<br><br>
[Both of these things will become clear once you work together on-site. Data on appearance or personality is not necessary for this mission in the first place.]
<br><br>
21O's words were absolutely correct and there was no room for him to argue.
<br><br>
[More importantly, please return to your operations as soon as possible. This conversation is only causing further delays. Can you do that? Do you understand everything?]
<br><br>
She spoke to him like she's talking to a child. Maybe she was treating him like a child?
<br><br>
[Where's your reply?]
<br><br>
He was probably being treated like a child. He was not interested and ended up replying in a rushed manner.
<br><br>
"Yeah, yeah."
<br><br>
[You only need to affirm once.]
<br><br>
"Yeaaaah."
<br><br>
As soon as the call was cut off, 9S sighed loudly.
<br><br>
"That's right. B-Types aren't the only ones who treat S-Types like kids... I mean, she always treats me like that."
<br><br>
His shoulders involuntarily slumped.
<br><br>
"I don't think she needs to treat me like a kid this much."
<br><br>
"Observation: The role of O-Types is to communicate between the bunker and the ground, and to support other units. For O-Types, understanding the personalities and behavioral tendencies of the units they are responsible for is essential to providing more efficient and effective support. 21O is no exception and is well aware of 9S's fickle and volatile side which tend to manifest in human children..."
<br><br>
"I got it! I got it already!"
<br><br>
He didn't need to ask. Pod was trying to say that 21O sees 9S as a human being in his infancy. In other words, she treats him like a child. He knew that without even being told.
<br><br>
"In reality, I rely on her all the time."
<br><br>
So, instead of relying on her all the time, he wanted her to rely on him sometimes. Although he couldn't imagine the normally calm and collected 21O relying on him.
<br><br>
"... I don't have time to think about that."
<br><br>
He could almost hear 21O's voice in his ears saying, [being late is still being late, even if it's only for a few seconds.]
<br><br>
"Let's just go to the next one, next!"
<br><br>
9S rushes off to prevent further delays.
<br><br>
It looked like a tilted bridge or a huge stone slab placed at an angle. It was said to be a trace of a "highway" from human civilization.
<br><br>
The documents said that by building the road elevated and off the ground, it was possible to avoid obstacles, create a route that was nearly straight, and dramatically increase travel speed. It was probably once a road that continued into the distance. Now it has been cut off and is no longer of any use as a road.
<br><br>
"The last candidate location is on a broken road? There's no need to choose a location like that..."
<br><br>
He disembarked from his flying unit and looked around. The blue sky was vast, incomparable to the vacant lot he had been in earlier.
<br><br>
If he lowered his gaze a little, he could see leaning buildings looming on both sides of the road.
<br><br>
"No, the visibility is good. There are no wild animals, and no enemies..."
<br><br>
"Affirmative: No hostile signals within a 100-meter radius. However, a small number of machine lifeforms have been detected."
<br><br>
Beyond the collapsed road surface is a structure with a completely different shape from a building.
<br><br>
"Is that the enemy's base?"
<br><br>
The building had many attachments that are not often seen elsewhere, such as a chunky cylindrical tank, something even thinner and cylindrical - perhaps it's something called a "chimney" - and a wire mesh fence.
<br><br>
"Pod, update the terrain and weather data. And the weather forecast data, as well. Let's see, give me those details from the scheduled rendezvous time to six hours from now."
<br><br>
"Acknowledged."
<br><br>
"Huh? Is the communication bandwidth around here low?"
<br><br>
To be precise, the communication bandwidth had suddenly narrowed a few meters from where 9S was currently standing, right around the point where the road was cut off. Half of this was due to enemy interference, and the other half was due to weather and geomagnetic influences.
<br><br>
"So that's why this place was selected. I see."
<br><br>
If it was an emergency escape, they might need to request help, and in some cases, they would need to upload a large amount of data for backup. This was the place where all of this was possible, and where it was closest to the enemy base. On the other hand, they had to be careful, as there was a possibility of communication problems from this point onwards.
<br><br>
"Well, it's best not to get into that situation."
<br><br>
If the operation was completed without any problems, there would be no need for an emergency evacuation, and there would be no need to use this place. There was a saying in the literature of human civilization that "better safe than sorry" and this is exactly what it was like. It would be best to prepare something just in case, but it would be best not to use it. It would be best for the B-Types who were scheduled to join up to complete their mission and return to the bunker without knowing the details of 9S's preliminary investigation.
<br><br>
"By the way... What kind of person is No. 2... I mean 2B-san? Operator 21O said that information about appearance and personality is not necessary for operational operations, but I'm curious..."
<br><br>
He had heard that even though they're all called B-Types, their personalities vary. That's only natural when you consider the difference in personality between him and other S-Types.
<br><br>
However, there are certainly characteristics and tendencies that are common to the types. S-Types, who are in charge of investigations and information processing, are very curious and can't help but be interested in the unknown. H-Types, who treat wounded soldiers on the front lines, are generally calm and gentle... something like that.
<br><br>
B-Types are for combat, so they probably have a temperament that suits it. When it comes to close combat, they have to get close to the enemy, so they're not suited to timid or sensitive types. They must be endowed with a bold and courageous nature that doesn't fear even when facing the enemy up close. Even if they look calm at first glance, they have a strong core.
<br><br>
The question is the level of boldness and bravery. Are they just a little strong-willed, or do they tend to solve everything by force?
<br><br>
"What if she's a scary person?"
<br><br>
He recalled that ancient documents from human civilization described kitchen utensils such as pots and kettles being thrown during fights between men and women. Human non-combatants would use nearby objects as throwing tools, but in the case of B-Type, those nearby objects are swords or spears. Moreover, Types B and S correspond to the "adult women" and "boys" of humans. This establishes a "fight between men and women" using throwing tools.
<br><br>
"Fighting her would be no good. I should definitely avoid it."
<br><br>
In the first place, there is no way that an S-Type could win a physical fight against a B-Type, no matter what the personality of the other B-Type might be.
<br><br>
"I have no intention of starting a fight, but what if she's the type of person who gets violent when something displeases her?"
<br><br>
If she was simply being violent, then he shouldn't approach her, but what if she had a more troublesome personality? For example, she might keep her dissatisfaction or discomfort bottled up inside without showing it, and if it exceeded a certain level, she would suddenly explode.
<br><br>
"It's a problem when you don't know where the landmines are buried..."
<br><br>
Just imagining a situation where he could anger someone with high combat aptitude without realizing it made him shudder.
<br><br>
"Like she could be quiet for some reason, and when I turn around, I would see 2B-san brandishing her sword… No, no, no! That can’t be. No matter what! Even if she was by far the most violent of the B-Types, there’s no way she’d suddenly start slashing at me like that."
<br><br>
"Inadvisable: unfounded speculation"
<br><br>
The Pod descended nearby, likely having finished transferring the differences in the survey data.
<br><br>
"Report: There is no record of No. 2 Type B committing any unreasonable acts of violence. There is no mention of No. 2 Type B in the list of past rewards and punishments. Conclusion: It is unlikely that No. 2 Type B has any extreme traits or tendencies. Rather, it is assumed that she is average, and do not stand out among other B-Types..."
<br><br>
"I got it! I got it already! It's not like I want to know anything about that."
<br><br>
So, what did he want to know? What exactly did he want to learn? No, it wasn't the same as wanting to know.
<br><br>
"There's so little information about 2B-san, so I was just curious. That's all."
<br><br>
"Negative. The reason 9S continues to make unfounded assumptions is due to anxiety about unknown environments and relationships."
<br><br>
"Huh..................?"
<br><br>
"Conclusion: Unrelated to the lack of information on No. 2 Type B."
<br><br>
"Oh, I see. Now that you mention it, I guess that's true."
<br><br>
Teaming up with a B-Type, who he had never been close to before, to carry out a mission is certainly an "unknown environment." He was confused because he didn't know how to interact with this B-Type. He felt uneasy about this "unknown relationship." He thought he would feel more at ease if he knew the other person beforehand. So, he let his imagination run wild and tried to create his own image of "No. 2 Type B"...
<br><br>
"I guess your hypotheses are half right, and half wrong, Pod,"
<br><br>
"Question: Probability of a 'wrong' hypothesis."
<br><br>
"Sorry, sorry. Maybe I exaggerated a little. But you're more than half right. But it's not just anxiety. Seriously. How can I put it, I'm looking forward to it... I guess that's what I'd call it."
<br><br>
It's fun to encounter something unknown. S-Types are endowed with that quality. But that's not all. There is something else inside of him. Something he had never felt before.
<br><br>
"I wonder what this feeling is called. I can't really put it into words. There's something strange inside me. Is it fluffy? Is it buzzing? Something like that."
<br><br>
He pressed his palms to his chest and Pod said "hypothesis" again. He felt like Pod was making an awful lot of "hypotheses" today.
<br><br>
"A feeling of discomfort in the left chest that is not due to injury or illness is a phenomenon frequently observed among humans. It occurs when a specific event, an unknown event, or some other extraordinary situation is predicted in the future. It is said to be particularly frequent among young children, boys and girls. Source: Ancient documents of human civilization."
<br><br>
"I'm being treated like a child again, huh?"
<br><br>
"Negative. The phenomenon in question is not limited to children. The difference is limited solely to the frequency of occurrence. However, when the phenomenon occurs in adults or elderly people, a disclaimer such as 'like a child on the day before a school trip' is added, suggesting that the frequency of occurrence differs significantly depending on age..."
<br><br>
"I got it! I got it already!"
<br><br>
Once again, the pod was about to begin a lengthy explanation, but he quickly interrupted it.
<br><br>
"I don't care anymore. It's better to get angry when someone calls me a child because I'm a child."
<br><br>
He didn't want to be treated like a child because he wanted to be on an equal footing. He just didn't want to be thought of as useless, even though they were working together. That was all.
<br><br>
"Even if I'm treated like a child, even if 2B-san is a scary person, even if she's incredibly violent... I think it's still nice to have someone to hang out with."
<br><br>
Two people can do things that one person couldn't do alone. If that's the case, then this mission will be full of "firsts."
<br><br>
Just imagining it is fun.
<br><br>
"So, it doesn't matter who 2B-san is."
<br><br>
When he put out my fist, the pod lightly hits him with the tip of its arm. Ever since he learned that fist-to-fist contact is an act of affection in human civilization, he had occasionally imitated it.
<br><br>
"I hope we can get along."
<br><br>
Even if they couldn't make fist-to-fist contact like this, he hoped they could enjoy chatting and laughing together over little jokes.
<br><br>
"Report: The previously resolved delay has reoccurred. Recommended: Move quickly."
<br><br>
"Yeah. Let's hurry."
<br><br>
9S ran towards the flying unit.
</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/blu-ray">Back</a></p>