---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>To You With a Smile</title>
<style>
.title{
    font-weight: 550;
}
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
<p style="margin-top: 1cm; font-size: 300%;">To You With a Smile</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: closesttopurple</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Scans provided by: <a href="/credits/people/seviryn"><u>Seviryn</u></a></p>
<p style="margin-top: 0.4cm; font-size: 200%;">This is the short story included in the anime's second volume.</p>
<p class="line"></p>

<p class="Line"></p>
<p class="menu"><a href="/stories/nier-automata/blu-ray">Back</a></p>