---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>To You With a Smile</title>
<style>
.title{
    font-weight: 550;
}
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
<p style="margin-top: 1cm; font-size: 300%;">To You With a Smile</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Written by: Jun Eishima</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: closesttopurple</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Scans provided by: <a href="/credits/people/seviryn"><u>Seviryn</u></a></p>
<p style="margin-top: 0.4cm; font-size: 200%;">This is the short story included in the anime's second volume.</p>
<p class="line"></p>
<p class="para"><i>From the elevated building, which appeared as if it had been abruptly torn, there was a clearly visible structure. It was a cylindrical building, with vines wrapping around it functioning as an external staircase with pipes sticking out everywhere ruggedly. I jumped down, onto a loft of grass. Despite how high up I was, the tall grass absorbed the impact from my jump. Although, because this artificial body weighs 148.8 kilograms, there was an impact. It's not a hindrance, though.</i></p>
<p class="para">"2B to Operator 6O. Arrived in the target's vicinity. The map has arrived as well. Moving in."</p>
<p class="para">"This is Operator 6O. 2B... the area... communication... cutting out... stay..."</p>
<p class="para">The staticky voice had been cut short. 6O probably said something similar to, "In the area, communication signals frequently cut out. Stay safe out there."</p>
<p class="para">"Report: Communication suspension. It's a temporary network disturbance, caused by something on the ground."</p>
<p class="para"><i>Pod 042's input wasn't necessary. I received prior intel that the area near the target had low bandwidth.</i></p>
<p class="para">"Proposal: Move swiftly, and make attempts to restore communication."</p>
<p class="para">"Understood. Moving in."</p>
<p class="para">Fortunately, this doesn't require the usual constant correspondence. There's no need to make a request for use of the flight units or heavy artillery, because this mission's goal is to search for "lost items".</p>
<p class="para">Encountering the enemy isn't unlikely, but searching for the target is prioritized. To put it clearly: It wouldn't be an issue if the next transmission were to be upon completion of the mission.</p>
<p class="para"><i>The start of this mission dates back 3,602 seconds ago. A scouting unit in the area had come under attack. Despite eliminating the opponent, they had lost a piece of equipment during retreat. The Type B guard they were with had serious injuries, so it seems it was a fierce battle. Due to caring for the injured unit, there were unforeseen issues while retreating.</i></p>
<p class="para">It would be better if the missing item were to have been destroyed during the confusion of the battle. It will become a problem if it was left unscathed or with little damage at the site, as YoRHa equipment is highly classified. If the enemies obtained it, then it would be an issue. Because the item must be found and retrieved as soon as possible, any units already deployed in the area were assigned to this mission. As such, 2B was the closest in the area.</p>
<p class="para"><i>Due to the enemy having already been defeated, and the terrain being relatively simple along with good weather, it was determined that the mission could be finished alone. I've been paired with 9S many times, so this is the first time in a while that I've operated independently.</i></p>
<p class="para">"Pod, have you searched for the enemy?"</p>
<p class="para"><i>Looking over my shoulder, I see Pod 042 floating over my shoulder slightly higher than usual. It looks like it's getting slightly higher and higher while looking for a suitable spot to raise the signal.</i></p>
<p class="para">"Machine lifeforms are scattered around within a half-kilometer. Hostile signatures not detected."</p>
<p class="para">"Understood."</p>
<p class="para">That's right. Borrowing 9S's words, the machine lifeforms in this area are "in a daze". If we discover them first, we can take a detour to avoid unnecessary combat.</p>
<p class="para">"Continue to stay alert while around the vicinity."</p>
<p class="para">"Understood."</p>
<p class="para"><i>Referencing the map, I move into the location. According to the map, the location of the battle is very near. In reality, several buildings block my path. A detour will be necessary.</i></p>
<p class="para">Near the premises, I went up the nearest staircase. The suffocating scent of grass dimmed, as it was replaced by the strange smell of oil and dust. I can feel the vibrations of the ground through my heels, it's harsh and grating, unlike soil.</p>
<p class="para"><i>I want to keep detours to a minimum as much as I can, so I search the easy spots as I keep moving. Because of good visibility, I can easily avoid encounters as long as I don't make any mistakes. The report only stated that the enemies were wiped out. Whether or not there were reinforcements is unclear, and the situation inside the building wasn't mentioned. Along the exterior passageway, there are rust covered steel beams and boxes piled up for an unknown purpose. When humans were around, these likely had some sort of meaning. Now, they're just obstacles. Casually looking around, I see grass stretching across one of the steel beams. Concrete and Iron are unfit for plants, so why are they blooming? It's tiny, so it would be easily overlooked, but it's by pure chance that there's a flower. They're small, white flowers that remind you of a star. Suddenly, 9S's face comes to mind.</i></p>
<p class="para"><i></i></p>
<p class="para">"A seed fell onto the soil, gently lifted by a small breeze. No, perhaps they fell together? Either way, it's amazing how they survive and bloom in such a cramped area, huh, 2B?"</p>
<p class="para"><i>Without a doubt, that's something 9S would say. I can recall his cheerful voice echoing through my ears. It was as if 9S was right here, next to me. Before I knew it, I had stopped walking. And so, I hurriedly made a move on. Just then, a transmission with headquarters had begun to ring out.</i></p>
<p class="para">"This is Operator 6O. 2B, can you hear me?"</p>
<p class="para"><i>6O's voice, whilst sufficiently clear, was louder than usual. Due to this being directly after a network disturbance, I think they were compensating for possible issues.</i></p>
<p class="para">"This is 2B. I can hear you. You don't have to be that loud..."</p>
<p class="para">An even louder voice had drowned out 2B's reply.</p>
<p class="para">"Ah, great! I was worried because your voice abruptly cut off, 2B. Is everything alright?"</p>
<p class="para">"There's no problems."</p>
<p class="para">"It was a temporary network disturbance, then. How is the weather over there? Are the winds strong?"</p>
<p class="para">"It's sunny, and there's no wind."</p>
<p class="para"><i>While I answer, I looked up to the sky. Overhead, it's a deep blue. As it reaches the ground, the color fades. The saturation and brightness is very complex. It's incredible that the black expanse visible from the bunker and the sky you see from the ground, are one and the same.</i></p>
<p class="para">"So it's a cloudless, blue sky?"</p>
<p class="para">"No, there are still clouds...""</p>
<p class="para">"What shape are they? Is there only one? Or are there a lot of them? What color is the sky? I've heard it's blue from the ground, but there has to be all sorts of differentiations in the brightness, right?"</p>
<p class="para"><i>I'm taken aback, from 6O's rapid-fire questions.</i></p>
<p class="para">"The recordings from the ground should be transferred to the bunker, so watch them..."</p>
<p class="para">"I know. But, I want to hear it from you directly, 2B."</p>
<p class="para"><i>6O sounded like she was pouting. The Operators support the troops who get sent to Earth. You could say they're a lifeline. I've always been grateful. I want her to stay in a good mood as much as possible.</i></p>
<p class="para">2B quickly casts her gaze to the sky.</p>
<p class="para">"The clouds... In the south-southwest, elevated about 30 degrees, there are two elliptical shapes. In the northwest, around 54-72 degrees up, I see a thin stripe. As for the color of the sky... It's nothing but light blue."</p>
<p class="para"><i>Even if someone were to say there were many various shades of light an dark, I found "light blue" as the only apt description. Even so, 6O found that it was a pleasing answer. She sounded lively, replying with a "thank you".</i></p>
<p class="para">"Pure white clouds floating in a clear sky! How lovely! In the past, mankind used to share pretty pictures of the sky on computers to appreciate them too. To be able to look at the same view, despite being great distances apart, it's amazing!"</p>
<p class="para">"Maybe so."</p>
<p class="para">"If you see a particularly pretty image, you have to shout Ba-ehhh!<sup id="editor-1a"><a href="#editor-1b"a style="color:rgb(190, 247, 255);"><small>[1]</small></a></sup>"</p>
<p class="para">"Is that so?"</p>
<p class="para">"It's an expression that shows how much you loved something!"</p>
<p class="para"><i>It's a strange word. What could the etymology be?</i></p>
<p class="para">6O spoke faster than 2B could even ask.</p>
<p class="para">"The etymology is unknown, though."</p>
<p class="para"><i>Expectedly, androids couldn't easily understand the customs of mankind, the creator.</i></p>
<p class="para">"Ah! I didn't mean to interfere with your mission, sorry!"</p>
<p class="para"><i>Hurriedly, she wished me well as communications were cut.</i></p>
<p class="para">"So it's that sort of thing... What is it?"</p>
<p class="para"><i>A toppled over steel beam had come into my vision, along with a blooming flower to the side of it. "To be able to look at the same view, despite being great distances apart, it's amazing!"—6O's words came to mind.</i></p>
<p class="para">"Pod, record an image of this flower.""</p>
<p class="para">"This flower doesn't appear to affect operation or tactical efforts for either the mission or war in any meaningful way, or at all. Query: What is the meaning of preserving this image?"</p>
<p class="para">"...Can't say."</p>
<p class="para"><i>I answered "Can't say.", because I couldn't explain it accurately, but it would be more accurate to say "I don't know". I don't understand what meaning there would be in recording this tiny flower. But... I think 9S would like this if I showed it to him.</i></p>
<p class="para">"I can't say, but... Record it."</p>
<p class="para">There was a delay in acknowledgement, indicating Pod's dissatisfaction.</p>
<p class="line"></p>
<p class="para">As the sword sliced horizontally, the machine lifeform's head flew in an arc. The metal sphere tumbled on the ground, the red fading from both eyes. On trampled grass, 5 bodies were laid waste to. Of the remaining bodies, none of the heads were found. They had been knocked a great height, and it seems they're now buried in the grass.</p>
<p class="para">"2B to Operator 6O. All visible enemies eliminated."</p>
<p class="para"><i>Immediately after retrieving the equipment, because I was in the area, another mission was assigned to me. The enemy seems to be strong, and destruction of the individual is necessary due to an access point in very close range. The enemy has learned that disrupting our transmission equipment hinders us, and as such, an uptick in attacks on access points has been observed.</i></p>
<p class="para">"This is Operator 6O. 2B, thank you."</p>
<p class="para">"I will check the surrounding area for any survivors."</p>
<p class="para">"Please be careful. Return to base as soon as you're done."</p>
<p class="para">"Understood."</p>
<p class="para">Closing her communication screen, 2B once again surveys her surroundings. The grass and weeds have been growing unchecked, with a few trees around. Weathered square stones cover the ground, cracked and damaged from the wind and rain. A few of them have formed into unnatural shapes. The weeds are growing through the gaps in the stone, causing progressively more damage.</p>
<p class="para">"Report: All surrounding enemies have been eliminated."</p>
<p class="para"><i>Pod seemed like it wanted to say visual confirmation was unnecessary, but held its tongue. No, Pod doesn't have a mouth, though... 9S likes to use mankind's idioms, I think he's influencing me.</i></p>
<p class="para">"This building is somewhat abnormal, so I wanted to be sure. The infrastructure makes it possible to conceal your attacks and eliminate an enemy one by one."</p>
<p class="para">The building itself is comprised of a combination of cubes. It's not at all a rare case, and has a large courtyard with which one could see the sky through a metal lattice. Now rusted, and damaged in some areas, it looks like it could have been a ceiling, part of a framework, or mere decoration. </p>
<p class="para">The pathways facing the courtyard were made spacious. Despite that, the handrails below are tight, and serve as a barrier. As such, one could shoot atop the railing while staying hidden.</p>
<p class="para">Furthermore, unlike the upper floors, the ground floor has few hiding spots. Although trees and grass now grow there, it seems it was spacious in the past. If someone took refuge here, the barriers have fallen, and it's now easy to invade.</p>
<p class="para"><i>Outside entry is simple, but it may have been harder in the past. For example, as of now, at the back of the courtyard lies an iron gate that prevents advancement. It resembles the entrance, right? But it's gone now. It was made to trap an enemy within, and prevent escape.</i></p>
<p class="para">"This facility is for ambushing and eliminating enemies, right?"</p>
<p class="para">"Negative: There are no records of this structure being used for combat."</p>
<p class="para">"If combat isn't the purpose, then what is?"</p>
<p class="para"><i>Unconsciously, I tilt my neck. Given that this structure is so well suited for combat, what could this have even been designed for?</i></p>
<p class="para">"Report: This facility was a large-scale retail district which mankind used to exchange currency for goods or food and drink. Records state the the population density had risen dramatically on specific days."</p>
<p class="para"><i>So, this courtyard a large amount of humans coming and going, where they exchanged currency for goods. That is to say, shopping or dining...</i></p>
<p class="para">"Perhaps the barriers upstairs were originally left open?"</p>
<p class="para">"Affirmative: Late at night, or early in the morning, this facility ceased operation. During those times, the barrier was up to prevent trespassing."</p>
<p class="para">"I see."</p>
<p class="para">"For smooth coming and going, and an easily visible interior, tempered glass was commonly chosen as a material. There was also the practice of placing goods in the passageways near the glass as decoration."</p>
<p class="para">"Decoration? What use is that?"</p>
<p class="para">"Decorations placed near the transparent, tall wall were called 'display glass'. During periods of drastically increased exchange rate for goods, a red piece of paper was pasted on. In addition to that, the act of observing the goods from the outside is called 'window shopping'."</p>
<p class="para">"I already understand."</p>
<p class="para"><i>9S would like this kind of explanation. No, 9S would have interrupted and said "I already know", as he laughed.</i></p>
<p class="para">9S has a particularly strong interest in mankind, as he doesn't hold back in his search of knowledge and research. 9S has the utmost respect mankind, the creator. Although, it's not restricted to just him. There aren't any androids that feel indifferently. 2B herself doesn't think searching for mankind's culture is useless, as long as it doesn't become an obstacle to the mission.</p>
<p class="para"><i>Although, in 9S's case, he tends to veer off the mission to search for or think about humanity's civilization. It doesn't actually cause any problems, it just makes me worry. That's how much of a strong interest in humanity he has.</i></p>
<p class="para"><i>Without a doubt in my mind, 9S would have a keen interest in this facility, where large crowds of people passed by. That, and he'd use the excuse of "searching for the enemy" to scrouge every last corner of this place, all in search of the remnants of mankind.</i></p>
<p class="para">"And what about this?"</p>
<p class="para"><i>At my feet, there was a small, round object. As I pick it up, I notice that it's a metallic, disc-shaped object. It also has ornate engravings on the surface.</i></p>
<p class="para">"Report: It's a coin. Mankind often used it as a kind of currency. It's also known under the alias, 'pocket change'."</p>
<p class="para">After rubbing away the mud, a ray of sunlight fell onto the coin, causing it to shine silver.</p>
<p class="para">"Pod. Record an image."</p>
<p class="para"><i>I place the coin on the palm of my hand, extending it towards Pod.</i></p>
<p class="para">Query: What is the meaning of preserving this image?</p>
<p class="para">Pod offered the exact same query as before, and as such, 2B's reply was also identical.</p>
<p class="para">"...Can't say."</p>
<p class="para"><i>Why am I hesitating to say that I want to show it to 9S?</i></p>
<p class="para"><i>Despite that it's not prohibited... I don't understand it, so I can't talk about it.</i></p>
<p class="para">"Understood."</p>
<p class="para">Differing from the previous time, Pod recorded the image immediately. It understood that expression dissatisfaction in regards to the lack of an explanation was useless. Another very similar conversation, a little bit before, had already occurred.</p>
<p class="para">Once Pod finished recording, 2B put the coin back where she found it.</p>
<p class="para"><i>The Council of Humanity has established strict rules regarding restoration and control of mankind's traces. You can't just take it home on a whim. Although, I would rather show 9S the real thing than an image.</i></p>
<p class="line"></p>
<p class="para"><i>I heard the shrieks of a swan, as the waves continued roaring alone.</i></p>
<p class="para">Past the long, sandy beach, there are submerged buildings everywhere. It’s eerily quiet, even though just a little while ago, the pair were engaged in a loud battle.</p>
<p class="para">This time, the mission is to eliminate one flying-type machine lifeform, and several machine lifeforms on the ground. Eliminating them was 2B's job, while 9S accompanied her to collect data. The bi-pedal types were far more common, while the flying types, which were shaped like a long line of spheres, were rarer to see. After destroying the flying type, 9S withdrew ahead. He's collecting a few parts from them to study.</p>
<p class="para">2B was working alone to confirm that there were no remaining enemies, and to then return to base.</p>
<p class="para"><i>I stop, once again checking my surroundings. I'm looking for visual confirmation of the enemy, of course, but also any abnormal movements.</i></p>
<p class="para"><i>There are no bodies. There's a rift in the clouds, allowing the sunlight to shine through and reflect off of the water's surface; it's shining radiantly. Before I knew it, I walked across the water's shore for a considerable distance.</i></p>
<p class="para">After finishing its search, Pod began descending towards ground-level.</p>
<p class="para">"Report: No machine lifeform signals detected within a half-kilometer."</p>
<p class="para"><i>Muttering "Mission complete.", I notice something shining at my feet. When it comes to things that shine near the shore, the fish-type machine lifeforms. The small medaka<sup id="editor-2a"><a href="#editor-2b"a style="color:rgb(190, 247, 255);"><small>[2]</small></a></sup> or common carp, which can only be found in fresh water, come to mind. Regarding that, they're about the size of a horse mackerel at best, enough to stick out from the palm of your hand. It's hard to imagine it's that kind of fish, though.</i></p>
<p class="para"><i>Perhaps it's a cherry blossom shell?<sup id="editor-3a"><a href="#editor-3b"a style="color:rgb(190, 247, 255);"><small>[3]</small></a></sup>A while ago, 9S told me about these beautiful seashells that were akin to translucent flower petals. It wasn't expensive, like jewelry, but humanity prized it nonetheless. If you found one on the beach, it was just like a present—I think so, anyway...</i></p>
<p class="para"><i>I picked it up, but it wasn't a seashell; nor was it a machine lifeform. It was a broken shard of glass. It's been exposed to the waves for a long time, so it lost a key characteristic of glass, a sharp edge. It was extraordinarily smooth, and had a strange shape akin to a flattened sphere that was slightly stretched. If the water droplets trickling off of the edge were to freeze, it would look like this.</i></p>
<p class="para">"Proposal: Quickly return to base."</p>
<p class="para">"Understood."</p>
<p class="para"><i>Pod's tone feels disapproving, and I can tell because I'm guilty about wasting time, too.</i></p>
<p class="para">Even so, 2B couldn't let go of the rounded glass. At first glance, it was transparent, but when the light shines through it... It was a pale shade of green.</p>
<i><p class="para">"It's beautiful, huh, 2B?"</p></i>
<p class="para">If 9S was here, he would definitely say that. A little bit ago, when he picked up the feather of a white bird, he said the same thing. When plucking a pink petal, or even when catching a rainbow insect, he said the exact same thing. He always wanted to hear 2B's agreement. He was visibly proud, albeit with a hint of embarrassment.</i></p>
<p class="para">When 9S finds something's color or shape beautiful, why does he seek her approval? Each time, 2B would give an ordinary nod, or only reply "Yes." It was inevitable, but each time it happened, 9S had visible disappointment on his face. In other words, 9S was hoping for a different answer. However, 2B didn't understand that.</p>
<p class="para">"I don't get it..."</p>
<p class="para">"Query: What are you having difficulty understanding?"</p>
<p class="para">"Nothing."</p>
<p class="para">"Negative: This pod's duty is to aid unit 2 type B. I cannot disregard this."</p>
<p class="para">"I'm not in poor condition."</p>
<p class="para">"Hypothesis: The floating debris you caught is the cause. There's a possibility that contact in any way is a negative influence. Quick disposal is recommended."</p>
<p class="para"><i>The flotsam is the fragment of glass in my hand. While staring at the glass, I was reminded of my conversations with 9S. It's surprising, but Pod really does pay attention to my body language and facial expressions.</i></p>
<i><p class="para">"Isn't it beautiful, 2B?"</p></i>
<p class="para">Yet again, 9S's face of disappointment upon hearing a simple "Yes", had come to mind. Every time, he looks like he wants to say something—but cuts himself short.</p>
<p class="para"><i>Ah, I see.</i></p>
<p class="para">Their conversations end when 2B replies, "Yes". In that case, did 9S regret it when they didn't continue, hoping for a different answer?</p>
<p class="para"><i>If that's why he's disappointed, then... It can't be helped, because I consciously restrain myself to keeping my words brief. Just before this, while we were working together, 9S had a lot to say about strategy, or the mission as a whole.</i></p>
<p class="para">9S even wanted to talk about the birds, and their habits, among other things. 2B had to stop him from talking, and focus on the mission.</p>
<p class="para"><i>And so, I mentioned neither of the two images I had recorded during my previous mission.</i></p>
<p class="para"><i>I don't wan't to start conversation, or respond suitably in fear of growing intimacy. Emotions are prohibited. Moreover...</i></p>
<p class="para">"Proposal: Expedient disposal. Contact is a negative influence, and a possible risk."</p>
<p class="para">"Understood. Before, record an image."</p>
<p class="para">"Understood."</p>
<p class="para"><i>I extend my hand towards Pod, the transparent shard of glass between my fingers as the sun shines through it. 9S would prefer this sort of photography.</i></p>
<p class="para"><i>Despite choosing not to engage in conversation, I don't understand why I continue to record images like these.</i></p>
<i><p class="para">"It's beautiful, right 2B?"</p></i>
<p class="para"><i>Perhaps... Because I want to see his smile? Or, is it compensation for his disappointed face? I'm unsure.</i></p>
<p class="para">"Report: Record finished."</p>
<p class="para">This time, the object of recording was a "hazardous material". And so, Pod didn't ask why.</p>
<p class="line"></p>
<p class="para">"Yes, settings are finished."</p>
<p class="para"><i>As I heard 9S's voice, I opened my eyes to a familiar ceiling. I had seen it countless times, my own room, as I lay on my own bed. It's the location where I always go to sleep, and I always wake up.</i></p>
<p class="para"><i>During maintenance, relaxation is necessary for proper data. There weren't any issues, so I was able to properly relax. I wasn't shaking, and went without unrest.</i></p>
<p class="para">"Good morning."</p>
<p class="para"><i>While in maintenance, I keep my eyes closed, even though I'm not actually sleeping. While 9S works, I can occasionally hear his instructions, changing settings myself.</i></p>
<p class="para">So, 9S knows 2B isn't sleeping. Even so, he always says "Good morning".</p>
<p class="para"><i>I sit up, as I see 9S in front of me. It's safe in my own bed, so I had shut my eyes. After lying down and waiting an amount of time, I sit up, open my eyes, and get out of the bed. 9S finds mankind's mannerisms interesting, so a scene like this makes him want to say, "Good morning".</i></p>
<p class="para"><i>I suddenly wondered about how many times 9S had done my maintenance.</i></p>
<p class="para">"From the Commander's order, I'm in charge of 2B's maintenance. From now on, this is apart of the regular routine. There's no need to worry, we 9S models are well-known for our intellect! I shouldn't say it myself, though."</p>
<p class="para">"That's not how you do it. Please turn it on."</p>
<p class="para">"Ah! Please don't make things harder. I'm just following rules."</p>
<p class="para">9S's words keep rushing past, because he's so talkative. Even when there's no business between them, 9S continues chattering to 2B. Despite 2B resolving to keep her input to a minimum, their conversations didn't decline. You can't have a conversation alone, but you can't intend to end one alone either.</p>
<p class="para">"What's wrong?"</p>
<p class="para"><i>Carrying confusion on his face, 9S noticed that I had been motionless, staring at him.</i></p>
<p class="para">"Is there anything wrong? No, you just finished maintenance, so I doubt it."</p>
<p class="para"><i>9S looked anxious, as he narrowed his eyebrows. If I showed him the image of the glass I found on the beach, I'm sure his face would immediately clear up, twinkling with joy. The same would happen if I showed him the coin from the mall, or the flower that bloomed next to the steel beam.</i></p>
<p class="para"><i>When we returned to the Bunker, and I came face-to-face with 9S, I tried to show him the images I had Pod record. I just couldn't do it. Right after returning to the Bunker, it's always busy, so I changed my mind and wanted to show him after we finished maintenance in my room. But... Even now, I couldn't say it.</i></p>
<p class="para"><i>That it would make 9S happy, it's just conjecture. It might not even really please him. No... He very likely would be. I know him very well, but..</i></p>
<p class="para"><i>But making 9S happy, seeing the happiness on his face, I now know that it's selfish.</i></p>
<p class="para"><i>If 9S has a happy look on his face, then I'm happy. When 9S laughs, I get a warm feeling in my chest. On the ground, I've heard that flowers bloom for sunlight, and that insects fly towards light during the night. Looking at 9S, I understand why flowers and insects find meaning in chasing the light. No, maybe there isn't any reason. The light is there, and that is all.</i></p>
<p class="para"><i>I don't want 9S to change. Joy when he finds something rare, his eyes lighting up when he sees something strange... That 9S... He's my light.</i></p>
<p class="para"><i>Even though it's temporary, even though I know it won't last forever. This is just self-satisfaction. That's the way it is; a lie...</i></p>
<p class="para">"2B?"</p>
<p class="para">"Nothing."</p>
<p class="para"><i>I put on my visor, and stand up. First of all, emotions are prohibited. I can't allow myself to feel happiness when 9S talks to me. More than anything, "making someone happy" is an act that produces prohibited emotions.</i></p>
<p class="para">"Ah, the Commander was calling for you, right?"</p>
<p class="para">"Before that, I have someplace to drop by. Go ahead."</p>
<p class="para">"Roger."</p>
<p class="para"><i>As I left the room, I walked the direction opposite of 9S. I think Pod should discard the images. Acts that encourage prohibited things are outrageous. I of all people can't do that to 9S—Especially him.</i></p>
<p class="para">"Emotions are prohibited."</p>
<p class="para"><i>Because it's prohibited, it would be for the better to do nothing. As soon as I felt like it was useless to think about, I felt a touch of loneliness—and strangely relived. As I thought, forgetting about everything but my mission is better.</i> But then... <i>Ah, I can't. This emotion is prohibited. And then, as I thought, it's a lie...</i></p>
<p class="para"><i>I had been walking down the corridor at a fast pace, as I looked back to see that 9S was already gone.</i></p>
<p class="line"></p>
<p style="margin-top: 0.4cm; font-size: 165%;" id="push">Notes:<br><br></p>
    <p class="para"><sup id="editor-1b" style="color:rgb(190, 247, 255);"><a href="#editor-1a">[1]</a></sup>In Japanese, the sound "バエーッ" is written. It's one of those things you see in manga, where Japanese characters are written next to a character as a sound effect. A famous example is JoJo's Bizarre Adventure and its "Menacing" sound effect. In this story, it's a joke in reference to how these androids think this was an actual phrase. 
</p>
    <p class="para"><sup id="editor-2b" style="color:rgb(190, 247, 255);"><a href="#editor-2a">[2]</a></sup>In Japanese, the characters "メダカ" are written. View the wikipedia article <a href="https://en.wikipedia.org/wiki/Japanese_rice_fish"><u>here</u></a>.
</p>
    <p class="para"><sup id="editor-3b" style="color:rgb(190, 247, 255);"><a href="#editor-3a">[2]</a></sup>In Japanese, the two kanji used are "桜貝". It's pronounced sa-ku-ra-ga-i (さくらがい), and translates to "Cherry blossom shell". That's the normal name, but it's also known as Nitidotellina hokkaidoensis (the scientific name).
</p>
<p class="Line"></p>
<p class="menu"><a href="/stories/nier-automata/blu-ray">Back</a></p>