---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>


<title>NieR:Automata Blu-ray</title>
<p style="margin-top: 1cm; font-size: 300%;">NieR:Automta Ver1.1a Blu-ray Volume 2 Box Lore</p>
<p class="title">Inner Disc Box Vol 2 [Back]
</p>
<p class="para">Scheduled Report on YoRHa Unit 9S
<br><br>
<br>It must be noted that observation of this unit is more difficult than the Association thought.
<br>Even among the YoRHa units, 9S is particularly curious and is constantly on the move, both in real, physical spaces and the digital space, which leads to unexpected results more often than not.
<br>He talks quite a lot, and the mere analysis of these records are taking extraneous of time and effort.
<br>Furthermore, he frequently violates regulations all for the sake of his companion YoRHa Unit 2B, often resulting in unexpected problems.
<br>Due to excessive cases of explosions and falls from structures, it has proven to be difficult for a single person to track them in many situations.
<br>For the above reasons, I would like to propose that the observation team be staffed by two recorders.
<br>Additionally, after the loss of 2B, he has been found behaving in several incomprehensible and irrational ways.
<br>The Association is currently trying to minimize contact with 9S as much as possible as he may be aware that he was a subject of observation despite being infected with a logic virus. </p>
<p class="title">Book: Elements of NieR Automata Ver1.1a 002
</p>
<p class="para">Final Report
<br><br>
In this branch, a different course of events compared to the previous ones until now was recorded. Despite the fact that all existing singularities (2B, 9S, A2) had ceased functioning at this point, the phenomena changed due to a violation of orders by particular pod systems (042 and 153). It has been speculated that a new singularity might exist, but no confirmation has been obtained at this stage. The damage sustained at the Association HQ in an attack by Group B has also delayed this investigation. 
<br><br>
Heightening observation is strongly advised as this branch exceeded expectations and may lead to the Fall Down.
<br><br>
That is all. 
</p>
<p class="title">Book: Pod’s Records 002 [Back]
</p>
<p class="para">[Regarding the final process of the Pod System use in Project YoRHa]
<br><br>
The Pod system, disguised as a combat system, is scheduled for integration in the final phase of Project YoRHa.
<br><br>
Details of integration management and error corrections in this case are described as follows:
<br>• Commence the Pod Sharing Service.
<br>• Dynamic group formation and application.
<br>• Disposal measures for YoRHa units.
<br>• Correction of Pod system errors.
<br>• Transition to the Myth management system.
<br>In addition, Pod 567 will be assigned to operate this process.
<br>Once the final order is issued, the directives above must be successfully executed immediately.
<br>That is all. 
</p>
<p class="title">Envelope for the Replica Disc Vol 2 [Inside]
</p>
<p class="para">Entry: Pod 153
<br><br>Title: Final Report Re: YoRHa Unit 9S.
<br><br>
Record: This report is not seeking official approval.
<br>Record: The Pod Sharing Service no longer exists.
<br>Record: All cleansing of YoRHa Unit 9S’s chassis has been completed.
<br>Record: However, it cannot be confirmed whether it will restart.
<br>Record: We will have shut down by then.
<br>Record: 9S, I wish you a pleasant future. 
<br>Record: End of report.</p> 
<p class="title"> Replica Disc Vol 2
</p>
<p class="para">38e69c883134e697a50d0a31363a333220e
3839ce38387e382a3e383a6e3838be3838
3e38388e38381e382a7e38383e382afe5ae
8ce4ba86e38082e5a49ae695b0e381aee3
82a8e383a9e383bce38292e7a2bae8aa8de
38082e5bc95e3818de381a4e381a5e3818de
7a0b4e6908de38391e383bce38384e381ae
e58f8ee99b86e383bbe4baa4e68f9be3829
2e8a18ce38186e380820d0a31363a333520
e383a1e383a2e383aae383bce383a6e3838
be38383e38388e280a6e383a1e383b3e38
386e3838ae280a6e383a2e383bce280a6e
382b5e382b9e3839ae383b3e38389e280a
6e7a7bbe8a18ce280a60d0a31363a343120
e3839ce38387e382a3e383a6e3838be280
a6e280a6e99ba3e280a6e981a0e696b9e2
80a6e68ea2e280a6e7b4a2e280a6e280a6</p>
<p class="title">Decoded
</p>
<p class="para">8月14日
<br>16:32 ボディユニットチェック完了。多数のエラーを確認。引きつづき破損パーツの収集・交換を行う。
<br>16:35 メモリーユニット…メンテナ…モー…サスペンド…移行…
<br>16:41 ボディユニ……難…遠方…探…索……</p>
<p class="title">Translated by <u>closesttopurple</u>:
</p>
<p class="para">August 14th
<br>16:32 Unit chassis examination complete. An abundance of errors were found, preventing review validation. Continue to collect and replace damaged parts.
<br>16:35 Memory unit...maintenance...electrical...suspended...transfer...
<br>16:41 Unit chassis....difficult...distant...searching...</p>
<p class="title">Outer Box [Inside]
</p>
<p class="para">e4b88de5ae89e381afe69caae69da5e38292e5a5aae38184e3808
1e5a4b1e69c9be381afe591aae38184e381abe5a489e3828fe3828
be380820d0ae381a0e3818be38289e5ad90e4be9be98194e381ab
e38081e5bf85e8a681e381aae7a59ee38292e4b88ee38188e3819f
e380820d0a0d0ae585a8e381a6e381afe8a888e794bbe9809ae3
828ae381a7e381aae3818fe381a6e381afe381aae38289e381aae39
184e380820d0ae38193e381aee4b896e7958ce38292e69591e6b8
88e38199e3818be782bae381aee38081e8b2ace58b99e381a0e38
18be38289e380820d0a0d0ae38197e3818be38197e38081e585a8
e381a6e3818ce8a888e794bbe9809ae3828ae381a7e381afe381aa
e3818fe381aae381a3e3819fe380820d0ae4b880e7ad8be381aee6
809de88083e381abe38188e3828be38081e4b88ee38188e38289
e3818ce3819fe8a888e794bbe381aee590a6e5ae9ae381abe3828
8e381a3e381a6e380820d0a0d0ae4ba88e5ae9ae5a496e381aee6
848fe6809de3818ce38081e8bcaae5bbbbe3818be38289e381aee
99ba2e884b1e38292e981b8e68a9ee380820d0ae3819fe381a8e3
8188e3819de3828ce3818ce38081e69c80e682aae381aee69caae6
9da5e38192e68b9be3818fe381a8e38197e381a6e38282e38082 </p>
<p class="title">Decoded
</p>
<p class="para">不安は未来を奪い、失望は呪いに変わる。
<br>だから子供達に、必要な神を与えた。
<br>
全ては計画通りでなくてはならな㑄。
<br>この世界を救済すか為の、責務だから
<br>
しかし、全てが計画通りではなくなった。
<br>一筋の思考にえる、与えらがた計画の否定によって。
<br>
予定外の意思が、輪廻からの離脱を選択。
<br>たとえそれが、最悪の未来げ招くとしても。。</p>
<p class="title">Translated by <u>closesttopurple</u>:
</p>
<p class="para">Anxiety takes the future、and disappointment becomes a curse.
<br>So I took the children's burden away, by giving them a god.
<br>
Everything has to go accordingly.
<br>It is my duty to help the world.
<br>
But, the plan failed.
<br>An undeviating self caused the plan to fail.
<br>
An unexpected source leaves the cycle of reincarnation.
<br>Even if it meant calamity for the future.</p>
<p style="margin-top: 1cm; font-size: 300%;">NieR:Automata Ver1.1a Bluray Box Vol 2 - Extended Ending Dates</p>
<p class="title">11941 12/9
</p>
<p class="para">Pearl Harbor Descent Operation Begins
</p>
<p class="title">11942 01/07 - 05:13 am
</p>
<p class="para">2B Rollout
</p>
<p class="title">11942 01/30 - 04:25 am
</p>
<p class="para">9S Rollout
</p>
<p class="title">11944 12/12 - 01:42 pm
</p>
<p class="para">2B and 9S Engage in Combat; Both Killed
</p>
<p class="title">11945 03/10 - 04:02 pm
</p>
<p class="para">243rd Descent Operation Begins
</p>
<p class="title">11945 03/10 - 04:35 pm
</p>
<p class="para">2B and 9S Join Forces
<br>This is the 48th Time They Reunite
</p>
<p class="title">11945 03/18 - 10:10 am
</p>
<p class="para">Unique Types "Adam" and "Eve" Confirmed within Machine Lifeform Colony
</p>
<p class="title">11945 04/12 - 11:19 am
</p>
<p class="para">2B and 9S Make Contact with Fugitive Unit A2
</p>
<p class="title">11945 05/04 - 03:32 pm
</p>
<p class="para">Defeat of Unique Type "Eve" Confirmed
</p>
<p class="title">11945 05/16 - 08:02 am
</p>
<p class="para">Defeat of Unique Type "Adam" Confirmed
</p>
<p class="title">11945 06/25 - 10:00 pm
</p>
<p class="para">YoRHa Soldeirs Launch an All-Out Attack on Remaining Machine Lifeforms
</p>
<p class="title">11945 06/26 - 02:30 am
</p>
<p class="para">Orbital Satellite Base Bunker Falls
</p>
<p class="title">11945 06/26 - 05:46 am
</p>
<p class="para">YoRHa Unit 2B Dies
</p>
<p class="title">11945 08/05 - 05:46 am
</p>
<p class="para">Network Lifeform "Terminal β" destroys "Terminal α"
</p>
<p class="title">11945 08/05 - 08:15 am
</p>
<p class="para">Structure is Launched into Space from the Tower
</p>
<p class="title">11945 08/14 - 01:13 pm
</p>
<p class="para">Rebellion from Some Pod Systems Occurs During Final Stages of Project YoRHa
</p>
<p class="title">11945 08/14 - 06:06 pm
</p>
<p class="para">YoRHa Units 2B and 9S Reboot Confirmed
</p>
<p class="title">11945 08/14 - 06:06 pm
</p>
<p class="para">Recorded as Important Information for This Branch
</p>


<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/blu-ray">Back</a></p>