---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>


<title>NieR:Automata Blu-ray</title>
<p style="margin-top: 1cm; font-size: 300%;">NieR:Automta Ver1.1a Blu-ray Volume 1 Box Lore</p>
<p class="title">Outer Box Vol 1 [Bottom]
</p>
<p class="para">Descent No. 243
<br>Date: March 10 11945
<br>Objective: Destroy Goliath-class weapon (details unknown)
<br>Units: 1D (Leader), 2B, 7E, 4B, 11B, 12H
<br><br>
Mission Outline: Intel has revealed that machine lifeforms have been creating a large-scale weapon at the abandoned factory. The analysis team has come to the conclusion that it is highly likely that are constructing a Goliath-class weapon. The goal of the mission is to investigate the enemy facility (the abandoned factory) with a team of 6, and to seek and destroy the Goliath-class weapon. All participating units are to rendezvous with support unit 9S at the premises.</p>
<p class="title">Inner Disc Box Vol 1 [Back]</p>
<p class="para">Scheduled Report on YoRHa Unit 2B.
<br><br>
2B, the subject of observation for this assignment, is relatively silent for typical YoRHa units. Due to the nature of this mission, she is often paired with 9S. Yet, 2B rarely speaks, responding to 9S's chatter only with “Sure,” “Um,” or,”yes.” However, her somber demeanor has captured 9S's heart. Throughout all ages and all cultures, it is said that when a man sees the mirage of a woman like this, he desires to pursue her. Let's remember that, if 2B is purposefully behaving as such, it is bad. And if she is doing it unconsciously, it is even worse.
<br><br>This will be added to the association's agenda for next time.
<br><br>
But if her behavior is out of guilt for her role, there is nothing we can do.
<br><br>
I feel very, very sorry for her.</p>
<p class="title">Book: Elements of NieR:Automata Ver1.1a 001 [Back]</p>
<p class="para">Progress Report (Interim)
<br><br>
A large-scale network of machine lifeforms was destroyed by the YoRHa Squadron to which the Singularity 2B  had belonged. However, regarding the abnormal machine lifeforms (Codenames: Adam and Eve), we have confirmed that Eve was destroyed first, followed by Adam. Since the phenomenon is different from what was planned, it is suspected that a divergence occurred in the past. A request for assistance with this investigation has been submitted to the Association.
<br><br>
In conjecture from the spatio-temporal distance, we suspect the Singularity 2B and the Singularity 9S had a significant impact.
<br>Since they have a complimentary relationship, simultaneous observation will continue going forward.
<br>That is all.</p>
<p class="title">Book: Pod's Records 001 [Back]
</p>
<p class="para">[Notice regarding the operations outlines of the Pod systems use in Project YoRHa]
<br>The pending Pod system in it's entirety will be divided and operated into five groups, A to E.
<br><br>
<br>A: Lunar Council of Humanity Group
<br>B: Machine Lifeform Counteraction Group
<br>C: Network Management Group
<br>D: Project Implementation Group
<br>E. Unit Record & Observation Group
<br><br>
<br>Pod 042 will serve as Group E to capture irregularities of YoRHa Unit 2B until further notice.
<br>This record will be disposed of after confirmation.
<br>
<br>That is all.</p>
<p class="title">Envelope for the Replica Disc Vol 1 [Inside]
</p>
<p class="para">Entry: Pod 042
<br>Title: Preliminary Records RE: YoRHa Unit 2B.
<br><br>
<br>Record: An unexpected error occurred while checking the action records of YoRHa Unit 2B from the duration of this pod's accompaniment and support.
<br>Record: An error occurred during the data deletion process. Complete deletion in no longer possible.
<br>Record: This data is comprised of daily conversation data with YoRHa Unit 2B.
<br>Record: The cause of error originates from the storage system or within the unit's judgement system_.
<br>Record: ----------------
<br>Record: This record will be set to “Read – Access Denied” after media storage is complete.
<br>Record: End of report.</p>
<p class="title">Replica Disc Vol 1
</p>
<p class="para">e7b7b4e7bf92efbc9ae280a6e280a60d0a
0d0ae7b7b4e7bf92efbc9ae3808ce3818ae
381afe38288e38186e38194e38196e38184e
381bee38199e3808d0d0a0d0ae3808ce38
18ae381afe38288e38186e3808d0d0a0d0a
e3808ce3818ae381afe38288e38186203242
e3808d0d0a0d0ae3808ce3818ae381afe38
288e38186e38194e38196e38184e381bee38
199e3808d0d0a0d0ae280a6e280a6e280
a6e280a60d0a0d0ae3808ce3818ae381afe
38288e38186e38194e38196e38184e381bee
38199e380823242e3808d0d0a0d0aefbc9
ce5a496e983a8e8a898e98cb2e383a1e38
387e382a3e382a2e4bd9ce68890e4b8ade
381abe58f97e4bfa1e38197e3819fe99fb3e5a
3b0e4bfa1e58fb7e383ade382b0efbc9e</p>
<p class="title">Decoded:
</p>
<p class="para">練習：……
<br>練習：「おはようございます」
<br>「おはよう」
<br>「おはよう 2B」
<br>「おはようございます」
<br>…………
<br>「おはようございます。2B」
<br>＜外部記録メディア作成中に受信した音声信号ログ＞</p>
<p class="title">Translated by <u>closesttopurple</u>:
</p>
<p class="para">Testing: ……
<br>Testing: Good morning.
<br>Morning.
<br>Morning, 2B.
<br>Good morning.
<br>…………
<br>Good morning, 2B.
<br>＜Signals intercepted during external media recording.＞</p>
<p class="title">Outer Box Vol 1 [Inside]
</p>
<p class="para">e7b7b4e7bf92efbc9ae280a6e280a60d0a
e6b0b8e981a0e381abe7b69ae3818fe688a6e38184e381aee4b8a  
de381a7e38081e587bae4bc9ae381a3e3819fe58589e380820d0a  
e584aae38197e38184e5b88ce69c9be381abe8a7a6e3828ce3828
be4ba8be381afe38081e7979be381bfe381b8e381a8e5a489e382  
8fe3828ae380820d0a0d0ae8a8b1e38195e3828ce381aae38184e  
6849fe68385e38082e98e96e7b89be38195e3828ce3819fe69ca  
ae69da5e380820d0ae38193e3828ce381afe7bdb0e381aae381ae  
e381a0e3828de38186e381a8e38081e5bdbce5a5b3e381afe6aeb  
ae38197e3819fe380820d0a0d0ae6b0b8e981a0e381abe7b69ae3  
818fe688a6e38184e381aee4b8ade381a7e38081e587bae4bc9ae  
381a3e3819fe591bde380820d0ae784a1e6848fe591b3e381aae7a  082e381aee4b896e7958ce381a7e38081e594afe4b880e381aee6  
848fe591b3e381a8e381aae3828ae380820d0a0d0ae4bb95e7b5  
84e381bee3828ce3819fe69caae69da5e38082e7b9b0e3828ae8  
bf94e38195e3828ce3828be59898e380820d0ae38193e3828ce3  
81afe59593e7a4bae381a7e38182e3828be381b9e3818de381a0e  
381a8e38081e5bdbce381afe7a588e381a3e3819fe38082  </p>
<p class="title">Decoded:
</p>
<p class="para">永遠に続く戦いの中で、出会った光。  
<br>優しい希望に触れる事は、痛みへと変わり。  
<br>許されない感情。鎖縛された未来。  
<br>これは罰なのだろうと、彼女は殺した。  
<br>永遠に続く戦いの中で、出会った命。  
<br>無意味な砂の世界で、唯一の意味となり。  
<br>仕組まれた未来。繰り返される嘘。  
<br>これは啓示であるべきだと、彼は祈った。</p>
<p class="title">Translated by <u>closesttopurple</u>:
</p>
<p class="para">During the eternal war, there emerged a light.
<br>The ray of hope had become griefful.
<br>Vulnerable emotions, and a future of locking them away.
<br>She wonders if this is the punishment for her violence.
<br>In the eternal war, was their first meeting.
<br>In the endless sameness, they alone stood out.
<br>An orchestrated future.
<br>An endless lie.
<br>Hoping for an answer, he prayed.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-automata/blu-ray">Back</a></p>