---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>The Gone Away</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>
<p class="title">The Gone Away</p>
<img src="https://i.imgur.com/GMOeaTk.png" width="60%" height="60%">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Seviryn</a></p>
<p class="para">When I think about it, there has always been a battle.</p>
<p class="para">I have always, always been struggling—<i>fighting</i>. A dragon <i>fights</i>. In sleep, in waking—even in my dreams, I fight. It started so very long ago that I cannot remember exactly when, nor how many enemies I have defeated, nor even my purpose for doing it. It has been forever.</p>
<p class="lime"></p>
<p class="para"><i>“Perish, you lowly Worms!” One tiny breath—a single puff of fire—and the slick, filthy-coloured thing I called “Worms” are reduced to ash. For all their numbers, they are frail and as unworthy a foe as ever a dragon could face, but scorching them at a go like this greatly improves my tempter. I roar gleefully, and after my tongues of flame have finished lapping at the earth, not a speck remains. Truly, I feel refreshed.</i></p>
<p class="para"><i>“My name is—” I stop.”</i> You shall know me as Michael! The mighty dragon who—aaah!” Pain has lanced through my wing. “Fie! Are there Pawns here, as well?”</p>
<p class="para"><i>Down amongst the worms, I espy the launchers. The Pawns must have a few wits more than the Worms, because they use some kind of weapon. In truth, I hate the things.
    <br>What are they called again?</i></p>
<p class="para"><i>“Bah! No matter! You earth-crawlers dare challenge an almighty dragon and expect to—owww!” Scalding pain nips at my wings, this time in multiple places. “Don’t interrupt me while I—aaagh!”</i></p>
<p class="para"><i>Suddenly, it seems as though the ground is awash with Pawns instead of Worms—no, I have simply flown too deep into the enemy ranks. Now I can see they have brought out a sizeable weapon: one so enormous it must take many of the Pawns to even move it. And worse yet, they are pointing it at me.</i></p>
<p class="para"><i>“Damn... Am I in trouble?” Can I still escape? No, no; a proud dragon would never turn his back on the enemy. But yes, I am very much in trouble.</i></p>
<p class="para"><i>“Get your head out of the muck!” An angry voice off to the side breaks me out of my trance. The large weapon has been engulfed in flames, along with several of the Pawns operating it. “How reckless can you be?”</i></p>
<p class="para"><i>Her tone is reproachful, her wings crimson. Is this what it feels like to be pulled from the jaws of danger? Two comrades joining forces would have made for a lovely tale. But to receive help and give nothing back? It would throw a dragon’s dignity into question.</i></p>
<p class="para"><i>“Move you slack-jawed fool! Do you want to die for nothing?”</i></p>
<p class="para"><i>“No one asked you! Kin-dragon or not, her arrogance is too much. It rankles me.”</i></p>
<p class="para"><i>“I said withdraw! Now!”</i></p>
<p class="para"><i>“A-All right.” And this is how I met the Red Dragon, who has been around just a trice longer than I.</i></p>
<p class="line"></p>
<p class="para"><i>“Wake up, Michael!” The voice rouses me. I must have been dreaming in the middle of battle. Why, of all things, did I have to dream of when I first met this red meddler?
    <br>“Dozing off in the middle of a fight? I marvel at your nerve.”</i></p>
<p class="para"><i>“N-No one asked you,” I stammer. “I can rout this rabble with my eyes half shut!” Red and I have fought together a number of times now. Or better put: she has swooped back into my life, uninvited, just to stick her nose in my affairs.</i></p>
<p class="para"><i>But despite that, she has yet to tell me her name—even though I have given her mine. I suppose Red isn’t alone there; any of the other stuck-up oldlings would treat me the same. The way Red puts it, “It is not our kind’s custom to announce ourselves.” Good for them. If my kind is the sort to withhold names, refuse to engage in proper conversation, and fight with the flaccid stare of a dead fish, then I have nothing to learn from them.</i></p>
<p class="para"><i>I feel elation when battle makes me stronger; pride when I get to show off that strength; fascination as I devise efficient ways to defeat as many foes as possible. The thought of losing to an enemy angers me, just as imagining a wounded comrade makes me sad.
    <br>Oughtn’t that be the way of it?</i>
</p>
<p class="para"><i>I don’t want to be like them: wordless in the face of victory or defeat; silent no matter what unfolds before me. How do they derive any pleasure out of life at all</i>?</p>
<p class="para"><i>“Hush, Michael,” says Red as she put an end to the matter. “Wait until you have lived as long, and you will understand.” How I loathe her know-it-all tone. Older or not, she has but two mere millennia on me at the very most.</i></p>
<p class="para"><i>Still, I have never liked savage old Black, either: the Black Dragon, who has lived as many years as Red. He cuts a fine figure. Like the other oldlings, he has little to say, but he is an exceptional fighter. I admire strong dragons, so I decided to approach him. But Black paid me no mind at all—the stuck up fart. “Thinking again? I have no qualms with you using your head, but you need to learn when and where.”</i></p>
<p class="para"><i>“No one asked you!” I should know better than to drift off in the midst of battle; clearly, it is dangerous. But being told as much ruins my fun, so I try changing the subject. “So, Red. When do you suppose the war will finally be over?”</i></p>
<p class="para"><i>I realize as I say it that it’s more than idle conversation; I have been desperate to ask this question for some time. We have taken countless lives—built mountain after mountain of corpses and rubble. But we are still going. It never ends; more foes spring forth as quickly as we dispatch them. What is our battle with? I know who our enemies are, but that’s not the same. It’s hard to explain. Maddening, even.</i></p>
<p class="para"><i>“Michael, even I do not know when the war began, let alone when it will finally—” All of a sudden the sentence stops, and everything goes white.</i></p>
<p class="line"></p>
<p class="para"><i>“Oh. Just a dream...” And a strange one at that. A dream within a dream. In the midst of one battle, I was dreaming of another.</i></p>
<p class="para"><i>“What’s wrong?” The voice comes from my back.</i></p>
<p class="para"><i>“Nothing,” I reply to the creature astride me. He belongs to a new race, Humanity, which presented itself in the wake of the other war.</i></p>
<p class="para"><i>That particular conflict, which I thought might go on forever, simply ... stopped. We were battling for the survival of our race, but even then the end was jarring—It was as if the war itself had been eradicated. This is the spectacle I was just reliving in my dream.</i></p>
<p class="para">It turned out what I had perceived as “everything going white” was an explosion wrought through some unknown art. I could not tell you specifics: whether it was our art or theirs, or whether it was due to some other force that had run amok. But it was tremendously powerful; it had to have been, to have eradicated the enemy hordes that had, until then, seemed endless. The blast was so huge it reshaped the very earth.</p>
<p class="para"><i>I imagine we dragons owe our survival to our tough bodies and the durable scales that protect them. That said, very few of us did survive; the bulk of our comrades were lost. At one time, the dragon legion filled the sky, but these days I rarely encounter one of my own. I miss the cramped skies that now feel far too vast. Red and Black survived, but I have not seen them for a long time.</i></p>
<p class="para"><i>No, it is the earth below that has grown crowded. All too soon, it was teeming with humans and demihumes. Astonishingly fertile, they have continued to proliferate faster than the Worms and Puppets ever did.</i></p>
<p class="para"><i>However, despite this, they are short-lived. And weak. They are crippled by the lightest mishap and expire in a trice. This human on my back will probably die in short order, too—just like the others I have fought with. And yes, feeble beings that they are, humans do still fight. They take up arms even if it means shortening their brief lives further. It is incomprehensible</i>—which may well be the reason I have done something as impulsive as take their side.</p>
<p class="para"><i>“Michael,” the voice coming from my back whimpers. Is he scared? Something has unmanned him. “I’m sorry I got you into this.”</i></p>
<p class="para"><i>“What delusion! I have not sunk so far that a mere human controls my fate. I chose this alliance. And besides your wars are just child’s play to a dragon. Who do you think I am? I have survived age-long wars and piled corpses upon rubble—”</i></p>
<p class="para"><i>Did I hear him say “sorry” again? Ah, humans.</i></p>
<p class="para"><i>“Come!” I swoop down towards the scrapheap they call a fortress and burn away the pathetic soldiers that cling thick to its walls ... </i></p>
<p class="line"></p>
<p class="para"><i>“Another dream?”</i></p>
<p class="para"><i>That last battle never sat well with me. No wonder it returns to me in my sleep like this. But then, none of my battles alongside humans have ever felt quite right. Could it be because they are certain to die before I do?</i></p>
<p class="para"><i>He was no different. “Sorry, sorry,” he kept saying right to the end, as if it were the only skill he had. I had already told him he had nothing to apologize for, to never speak the word to me again.</i></p>
<p class="para"><i>His corpse has gone cold by the time I laid it on the rocks. For a while, I stood there, bewildered. I knew full well that humans were quick to die; what threw me was that I felt a sense of loss all the same.</i></p>
<p class="para"><i>It was then, at that ill moment, that Black and I crossed paths for the first time in ages. He shot me one glance, then flew off as wordlessly as always. I saw both ridicule and pity in his eyes, as if he were saying: “This is what you get for taking stock in the likes of humans.” And I knew it, too. Whether we won or lost, the humans would die, all too soon. Any victory we achieved would be fleeting. In which case, how meaningless their struggles were!</i></p>
<p class="para"><i>But wait. Does that only hold true for humans? Can dragon struggles be called any less meaningless?</i></p>
<p class="para"><i>I have fought on for age after age and lost many comrades. In hindsight, I remember even the oldlings fondly. Had it not been for that one battle, they might all still be hanging around here somewhere, silent and sullen, having as little fun as possible.</i></p>
<p class="para">Hush, Michael. Wait until you lived as long, and you will understand.</p>
<p class="para"><i>Red’s words leap unbidden back into my mind. She had been around only a trice than I, but she knew. A long life means experiencing loss: we lose, we are left behind, and we wind up all alone, with nothing ever to show for it ... </i></p>
<p class="para"><i>Perhaps I have stood by the humans in their struggles because, somewhere in my heart, I hope to gain something from it. Perhaps these creatures who take up arms even if it means shortening their brief lives further possess some knowledge that has eluded us everlasting dragons.</i></p>
<p class="para"><i>But it has always turned out the same. Time and again, I find myself left with nothing.
    <br>Nothing at all.</i></p>
<p class="para"><i>“Huh? What is this place? Is anyone here?”</i></p>
<p class="para"><i>“Is anyone there at all?”</i></p>
<p class="para"><i>Hah. I must still be in the dream. No doubt I will wake up and find myself in the middle of some other war. Battle after battle... I’m so tired of it. I fight and I fight, but in the end I must watch it all go.</i></p>
<p class="para"><i>I see now. They’re the same, my battles and dreams. They will all go away.</i></p>
<p class="para"><i>And I am left with nothing. Nil. zero ... </i></p>
<p class="line"></p>
<p class="para">“Owww!” I feel something slam into my chin. This time, I really am awake. “Fie, must you always toss and turn?”</p>
<p class="para">The human who kicked me with all her might is a recent acquaintance. Her name is Zero, and she is callous, violent, loath to make any effort, a piggish eater, and insolent to boot. For a human, she seems completely unafraid of dragons, and even dares to call me “Shitbrain.” Charming.</p>
<p class="para">What’s more, the wench is a horrendously poor sleeper. She is constantly kicking me, and tried to use my wing as a blanket. My wing is certainly not a blanket.</p>
<p class="para">However, I find it all fascinating. This one is different than the other humans I have met.
    <br>Well, of course she is; there can’t be many women out there who seek to out their little sisters to the slaughter. And yet, our time together will be fleeting. Like the others before her, this woman will soon leave me behind. In that one sense, she will be no different than the other gone-away.
</p>
<p class="para">But I have to come to terms with that. I have decided to see this through, until the woman’s last dying moment. We made a promise, in fact. Today, after she has killed her sisters, I have my task...</p>
<p class="para">“I will see this promise through. A dragon never, ever goes back on his—<i>aaagh!</i> Stop kicking! How many times must I tell you not to interrupt...”</p>
<p class="para">Heh. So be it. At least it’s a change of pace. ​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/prelude-novellas">Back</a></p>