---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>A Rain to End and a Flower to Begin</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>
<p class="title">A Rain to End and a Flower to Begin</p>
<img src="https://i.imgur.com/5oYq7kf.png" width="60%" height="60%">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</a></p>
<p class="para"><i>Where did this flower come from?</i></p>
<p class="para"><i>Rainy days are never good,</i>I thought, as I stared through the rain pounding down relentlessly around me. I felt the rise of an unexpected laugh. As if sunny days were any better.</p>
<p class="para">“What is it?” a voice next to me asked, weakly. It was so frail that the rain threatened to wash it away.</p>
<p class="para">“What is <i>what?</i>” I replied, and wished I hadn’t. People who answered questions with questions disgusted me. I used to make sure they never answered anyone again. Every time.</p>
<p class="para">“I can hear you crying.”</p>
<p class="para">“You’re mistaken. That was a laugh.” I couldn’t blame her. How could she have read my expression? They had taken her sight; pried open both her lids and thrust needles into each eye. And that was not the only torture she had endured. Repeated burns from a branding iron had reduced her palms and the soles of her feet to rotted, reeking flesh, and the joints of all four limbs had been ruined to the point where she couldn’t even turn in her sleep.</p>
<p class="para">I won’t stop here and lament that people are willing to do something so brutal to a girl of so few years. I practically expect it from landed lords, or else why would she and her friends have tried to start a revolt in the first place? The damned fools.</p>
<p class="para">And it <i>was</i> foolish. They were found before they could even pick up their weapons, let alone revolt. Sold out by one of their own. That’s what you get for trusting other people. There is no such thing as a person incapable of betrayal.</p>
<p class="para">That said, the stubborn ones like her who held out were given the same mangling as the ones who confessed immediately, and all were laid out here, onto the cobblestones of the square. Being clever didn’t earn anyone a better </p>
<p class="para">That said, the stubborn ones like her who held out were given the same mangling as the ones who confessed immediately, and all were laid out here, onto the cobblestones of the square. Being clever didn’t earn anyone a better outcome. Their lord may not have treated them fairly, but he did treat them equally.</p>
<p class="para">If any one thing could be called unequal, it was that five fine souls who tried to strike down an oppressive lord were chained up here next to a common murderer like me. There was no making sense of that one. I wasn’t tortured the way they were. I had no grand scheme or friends to give up. Since I had nothing to confess, no one shattered my bones or ripped my fingernails off. All I got was a vicious lashing.</p>
<p class="para">The pain, which had felt like flames leaping across my back, was gone now. There was no sensation left. The cold rain must have been nipping at my back, but I felt no chill. Knowing it meant my death was near made it no less strange. “What a waste of life.” There was no stopping the laughter now. I couldn’t remember a single good day, rain or shine. My life had been hell from as far back as I could remember, and undoubtedly from the first moment I came into the world.</p>
<p class="para">My earliest memory is of my mother shouting, and the only other thing I remember from those days is being slapped around. I doubt I was fed well, either. After all, I learned to swipe a meal before I even learned to speak. If she’d been feeding me properly, I wouldn’t have been forced to steal.</p>
<p class="para">My mother shouldn’t be singled out as a bad person. Only a handful of kids were lucky enough to have warm food and a bed. Unless you were born into some fancy noble household, you could kiss any hope of a life like that goodbye. You wondered why the hell you were born, grew up knowing you were a thorn in the world’s side, turned into a shitty adult, and then unwittingly wound up with a bun in the oven. That was it for most women. My mother did nothing more than raise me the best way she knew.</p>
<p class="para">Once I reached an acceptable age, my mother sold me without a second thought—for a pittance, when I thought back on it later. As was the way, I was sold to a brothel, where women who looked a lot like my mother attended to men with tight purse strings.</p>
<p class="para">It wasn’t all older women; there were girls there my age. I became fast friends with one. She called me “Rose,” which was how I learned the color of my eyes. “Haven’t you ever looked in a mirror?” she asked in surprise when I told her. Of course not. I couldn’t have cared less what I looked like.</p>
<p class="para">I decided she should be called “Indigo.” As little as I cared about my own face, I realized her eyes were a pretty color. Rose and Indigo: they were names that belonged only to us.</p>
<p class="para">One day, Indigo suggested we steal some money and run away. I nodded, believing that together, the two of us could do anything. I never stopped to think about where we would run or what we would do after.</p>
<p class="para">The plan went off brilliantly; we took as much money as we could carry, and fled out of town and across the bridge to the far side of the river. There was a man waiting there with a horse. I had seen him before; he was a patron who hung all over Indigo. “If we make it across the river, everything will work out,” she had said, and now things were starting to click.</p>
<p class="para">I thought for certain they would take me with them; how utterly wrong I was. They had planned to kill me all along. Indigo could only carry so much money by herself; that was why she’d approached me. The only reason. “No hard feelings, Rose.” And then she grinned. It was the same smile as always, but then I knew. Underneath it had been a girl who was figuring out how to kill me. Took me long enough to see it.</p>
<p class="para">If the pursuers hadn’t come right then, my life would have been over. The other two galloped off in a hurry, and I alone was caught.</p>
<p class="para">I never resented Indigo for it. Rather, I was rankled by my own witlessness. Why did I trust another person? Of course it was my fault, for being fooled. If things had played out differently, Indigo and that man would be the ones lying dead by the river, and I’d have been the one to get away. <i>Next time</i>i, I thought, <i>I’ll do better.</i></p>
<p class="para">My chance came several months later. I took the gold and got away with ease; I might have even put Indigo to shame. To keep pursuers off my back, I slaughtered everyone: the procurers, their underlings, the women. It wasn’t hard. All I had to do was wait until they were sound asleep, then end them one by one.</p>
<p class="para">I killed the procurers first; next, the men they’d hired to do the dirty work. Thanks to the poison I’d thrown into the casks, they were half dead already. Even with my meager strength, it wasn’t hard to finish off men who had already ceased moving. Once the men were taken care of, work went fast. Women never smell blood. Torrents of the stuff were flowing right by their side, but not one opened her eyes or let out a scream before expiring.</p>
<p class="para">I took as much money as I could carry and left town before dawn. Of course, no pursuers came, but worse news did: bandits. They captured me handily and gleefully relieved me of every coin I had. And thought they spared my life, I again felt the sting of failure.</p>
<p class="para">I waited for my chance and escaped before they could sell me back into whoring. This time, thievery was out of the question. I knew I would be better off not trying to carry off their money. Any coin I had would just be stolen. If I needed something, I didn’t have to buy it; I could take it. No one could rob from me if I had nothing to steal.</p>
<p class="para">I did have one thing they wanted, though: myself. The bandits were ready to sell me, just as my mother had sold me; as a woman, I would always be someone’s spoil. But that was beyond my control; I could not discard my womanhood or leave it behind. I suppose I could have made Indigo’s choice and found a man to protect me. But people lie; people betray. I didn’t want their protection. I would protect myself.</p>
<p class="para">Wait. But I did live with a man. Just one, just once. I ran into one of that sleazy brothel’s patrons. It was some place far away, in some unfamiliar town. He remembered my face; I remembered his. <i>I have to kill him</i>, was my first thought. The procurers and the women were dead—all of them except for me. He wasn’t so witless that he couldn’t piece together what that meant. But, for whatever reason, I didn’t do it. Instead, we found a corner of that unfamiliar town and started a life.</p>
<p class="para">He wasn’t witless, but neither could you call him honest; he was a thief with a talent for picking locks. Together, we raked in the coin and passed the days with amusement. As a life, it wasn’t bad, and thoughts of killing him slipped away.</p>
<p class="para">The life didn’t last long, though. I got sick. A scourge was going around. Slowly but inexorably it eroded the body and killed you. Not only that, it was contagious. Fearing for his life, the man left me. I don’t blame him, and if it had ended there I would have let him go. But he was going to sell me out; a bounty had been placed on the “brigand” who had broken into the brothel.</p>
<p class="para">What a fool. I had only just caught the scourge and my symptoms were still mild. I struggled to get up in the morning, got chills in the evening, broke into fits of severe coughing... But that was it. Nothing that would interfere with me taking a life.</p>
<p class="para">Thus, I had no trouble reversing our fates when he came in my sleep to tie me up. The scourge had turned me into a light sleeper—and either way, I had a certain sensitivity to lethal intent. Before I could think, I had opened his gullet, and he died with the confusion still written on his face.</p>
<p class="para">It was only then that I realized I’d never really let him into my life. Despite sleeping and eating with him, telling myself I was over killing him, it wasn’t true. Otherwise, I wouldn’t have constantly kept a blade hidden within reach.</p>
<p class="para">And so, I was alone again. I journeyed aimlessly, filching food and clothes as I went. As I mentioned, the scourge was taking its time with me, so it was well within my ability to travel and plunder and kill. I murdered the owners of my spoils on the spot, women or elderly included.</p>
<p class="para">Again and again I would hear, “Take the food and the money. Just spare my life. Please.” It’s strange; everyone makes the same face when death is close. Did I look at Indigo the same way? No, I never begged.</p>
<p class="para">“Suppose I do spare you. You’re certain to hold this against me. You’ll come for me one day.”</p>
<p class="para">“I would never—”</p>
<p class="para">“Never let it go, right? I just butchered your mother right in front of you.” And unlike mine, this one must have been a good mother, considering she had thrust herself in harm’s way to protect her daughters. “Anyway, I’d apologize for this, but that would only serve to make myself feel better, and I’m not that deluded.” With that, I killed the two trembling sisters while they still clung to each other. No doubt they hated me in those last moments, but they would never come after me with a knife.</p>
<p class="para">There were <i>some</i> who didn’t beg. One was a girl a few years my junior. Rage flared in her eyes as she lay into me. “Why!?” Why would you do this?”</p>
<p class="para">“Maybe because I’m hungry.”</p>
<p class="para">“How dare you mock me!”</p>
<p class="para">“No one’s mocking anyone. I’m starving, and don’t have the coin for food.”</p>
<p class="para">“And you think that justifies <i>this!?</i>” Her father’s and brother’s bodies lay there in front of her. A bit further away was a woman who appeared to have been their cook. I always dealt with potential threats first, which meant I got stuck with children and elderly last.</p>
<p class="para">“You could have simply taken our gold and left!”</p>
<p class="para">“Yeah. You know, you’re right. I used to think it was about keeping people from seeking vengeance, but I’m starting to wonder if that’s really it. Why <i>do</i> I do it?” But I had already strangled her before I could finish expressing my reservations. Her eyes were still wide when she took her last breath, still red with anger. “I wish I could tell you.”</p>
<p class="para">I felt her gaze on my back as I took a loaf from the table. I hadn’t been lying when I said I was starving. The whole reason I had picked this house was because the family looked rich. And since it was suppertime, food would be waiting to filly my belly. I had a good reason. But again, I wondered aloud: “Why?” I took food from the plates with my bare hands and washed it down with a swig from the decanter. My compliments to the chef.</p>
<p class="para">“Why do I do it? Shouldn’t I know after this many?” I posed the question to the girl’s limp body on the floor. I hadn’t been keeping count; I didn’t think it mattered. All I knew was that I had killed a lot of people. And yet I couldn’t answer one simple question: <i>Why do I do it?</i></p>
<p class="para">“Maybe I kill to <i>find out</i> why.” The girl’s dead eyes continued to glare at me. I guess it wasn’t a good enough answer.</p>
<p class="para">I continued to live like that for some time. Before I knew it, I had stopped searching for reasons or answers; I robbed people and killed them as easily as I drew breath.</p>
<p class="para">The thing is, I entered public awareness around the time my kills reached triple digits. I had done my best to finish off everyone in the homes I breached and leave no evidence, but then again, I hadn’t gone out of my way to be secretive, so I suppose I got made at some point.</p>
<p class="para">My days became numbered once word got out about the young woman behind the merciless killings of young and old. Descriptions of my appearance circulated and merchants spread word during their travels. Soon every town in every land was searching for the “witch with eyes of rose.” The bounty for my capture would pay for a life at ease, and proper rewards were promised for even a decent lead.</p>
<p class="para">And so I was caught. They surrounded me while the scourge was doing its work on me. By then, the symptoms had started taking their toll, and I was unable to resist, let alone escape. Soldiers in grand armor made an even grander fuss of binding me hand and foot.</p>
<p class="para">My gamble—that the scourge would kill me first—had been wrong, and I was dragged off to the bastille. They condemned to the lash; I would be struck once for each life I took. Personally, I think I toughed it our rather well; they whipped me until my skin was in tatters and my flesh split, but I survived. Then again, if they had gotten my kill count right, I would have died for certain. Their tally came up woefully short, and so my punishment ended well before it could be called capital.</p>
<p class="para">Of course, that didn’t mean I was forgiven. They chained me up to die in the square, along with the five rebels. Directly next to me was the young girl I mentioned earlier. While the others no longer uttered so much as a groan, she continued her one assertion: “What we did was right.” But her voice was growing ever fainter. When the lot was dragged out here, she was in the most miserable state. I could tell that she was keeping herself alive through sheer power of will alone.</p>
<p class="para">I took advantage of her lack of sight and stared her up and down without reservation. Here was more or less my complete opposite: a girl whose sense of justice was hopelessly unswayable. The fact that we stood in this place shoulder to shoulder struck me as strange beyond words. Eventually, she inquired as to who I was. It was my fault for coughing; the scourge’s distinctive and disagreeable bark gave me away as not being one of her friends. “Who are you? What’s your name?”</p>
<p class="para">“I don’t have a name,” I answered. “I don’t have anything. No coin, no house, no family or friends or lover. Nothing at all. I give ‘nothing’ new depths. All I have is this life which is about to blink out along with everything else. I wound up with zero. Jack shit.”</p>
<p class="para">Because I <i>did</i> shit away my life. I lived empty day after empty day without purpose. It was so stupid in retrospect that I found myself laughing uncontrollably.</p>
<p class="para">“Don’t cry,” the voice said.</p>
<p class="para">“I told you ... I’m laughing.”</p>
<p class="para">I was struggling so hard to breathe that it must have come out as spasms. Like any of those next breaths could have been my last.</p>
<p class="para">“Really?”</p>
<p class="para">“Yes.”</p>
<p class="para">I heard what might have been a sigh. The rain had finally eased into a drizzle. A moment later, her body convulsed for a few fleeting seconds, and then she stopped moving entirely.</p>
<p class="para">“Hey...”</p>
<p class="para">No answer.</p>
<p class="para">“So, I guess it’ll be me.” It had been decided the last to survive would be burned alive with the bodies of the other five. One of the group bit her own tongue off when she heard. Another was dead by the time the bunch was dragged out to the square. Another died before the rain came, and a fourth during the downpour, leaving me and the girl.</p>
<p class="para"><i>Good luck burning me in this weather.</i> </p>
<p class="para"> Maybe they would try burying me alive with them instead. At least we can all take solace in the fact she wasn’t the last to go. It wouldn’t have been right if the one girl who had shown compassion for others right to the end had to die the worst.</p>
<p class="para">But what <i>was</i> right? <i>Who</i> was right?</p>
<p class="para">I could hear the girl’s voice again: <i>What we did was right.</i>. And it was. Only the world could be called wrong—this world full of lords who shit on their people, this world with smug murderers like me. This world where those who stand up on behalf of the weak are crushed like so many worms.</p>
<p class="para"><i>This is madness. It doesn’t make any sense! </i>Ire filled me all at once.</p>
<p class="para">No. It had always been there and I just hadn’t noticed. I hated the world. I had damned it in my mind since before I could remember. I could feel the tremor of a scream in my throat. <i>Glurp</i>. Something warm dribbled from my mouth. It was blood, not a scream. <i>This fucking world is trying to kill me. Fuck that. Fuck the world! Fuck you all! YOU fucking die! Fuck you, fuck you, fuck you!</i></p>
<p class="para">Then, all of a sudden, I noticed a flower. A rose-colored flower was blossoming right before my eyes, between me and the girl’s corpse.</p>
<p class="para">Where did it come from? I don’t remember seeing a flower there. It swayed beneath the rain’s blows. The flower must have been new to me, and yet I recognized it. Maybe because its color is so like my eyes. Or maybe I’m already dead, and this is one of those flowers that’s supposed to grow in Paradise.</p>
<p class="para">No. Heaven won’t have anything to do with me. I’m dying, and this is a hallucination. But that’s all right. I still want to see it up close. I want to touch it. No one has ever given me a flower, and I’ve never longed for one. But this flower, I love.</p>
<p class="para">I felt something constricting my sight. I wasn’t able to shut my eyes, so I kept gazing at the flower. It was so lovely... My life may have been wasted, but this was not such a terrible final thing to behold.</p>
<p class="para">As its widening petals filled my field of vision, I greeted the flower with a quiet smile.</p>
<p class="line"></p>
    <p class="menu"><a href="/stories/drakengard-3/prelude-novellas">Back</a></p>
