---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>kho-dazat</title>

<p class="title">kho-dazat</p>
<p class="line"></p>
<p style="font-size: 180%;">Worked on:</p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/drakengard-1/reading/novellas/the-song-of-fourteen-years"><u>The Song of Fourteen Years</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/drakengard-2/reading/novellas/the-garden-of-light"><u>The Garden of Light</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="/stories/nier/reading/novellas/the-fire-of-prometheus"><u>The Fire of Prometheus</u></a></p>
<p class ="menu" style="font-size: 180%;"><a href="https://drive.google.com/file/d/1jPdDeuN1Yvobt6Fz2aGOvme38JZYkAj9/view"><u>Witches Sabbath'</u></a></p>

<p class="line"></p>
<p class="menu"><a href="/credits/help">Back</a></p>