---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>NieR 12018</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
.title{
    font-weight: 465;
}

@media screen and (orientation: portrait) {

.title-box{
    background-color: transparent;
    border-color: transparent;
}
}

.title{
    margin-top: 1.5%;
        margin-bottom: 1.5%;

}
</style>

<p style="margin-top: 1cm; font-size: 300%;">NieR 12018</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: <a href="/credits/people/seviryn"><u>Seviryn</u></a></p>
<img src="https://i.imgur.com/5kzBa5o.jpeg">
<p class="title"><span class="title-box">1st Stage ‹NieR Gestalt & RepliCant›</span></p>
<p class="title"><span class="title-box">Emil's Words</span></p>
<p class="para">In the distant past, our world was on the brink of destruction.
<br>A deadly illness ran rampant, decimating the population.``
<br>And on the edges of towns, the number of terrifying monsters known as ‘Shades’ continued to rise.
<br>This story begins in a small village.
A young man’s little sister is infected with the illness, and he desperately struggles to save her.
<br><br>
A young man… with a very kind heart.
<br><br>
As time passes, memories scatter like sand in the wind.
<br>I might forget everything someday.
<br>But my memories of that journey are my most precious treasures.
<br><br>
We fought together.
<br>We laughed together.
<br>We cried together.
<br>They were kind, caring friends.
<br><br>
We came to know many truths on our journey.
<br>The truth of a society bound by rules.
<br>The truth of broken machines and people.
<br>And the truth that the Shades we thought were monsters had minds of their own.
<br><br>
Hey Kainé…?
<br>Were we right to do what we did?
<br><br>
At long last, we arrived at our final destination: the Shadowlord’s castle.
<br>There we learned the human race had already gone extinct—
<br>and we witnessed the solitude of those who safeguarded that truth.
<br><br>
At the end of our journey, all we found was a hollow, meaningless future.
<br><br>
Kainé, you’ve been gone for a really long time.
<br>My memories of those days are falling apart;
<br>I don’t remember much anymore.
<br><br>
But I… I miss everyone.
<br>I miss everyone so much...</p>
<p class="title"><span class="title-box">Concert Part.1</span></p>
<p class="para">(While most of the songs were performed, short text stories were shown on the screen)</p>
<p class="title"><span class="title-box">What I wanted to protect...and what I lost. (Snow in Summer)</span></p>
<p class="para">Cold show swirling on a summer’s day. The world was ending.
<br>In a town with no food to sate you or places to keep you safe.
<br>Nary a soul willing to save a pair of orphaned siblings.
<br>All I can do for my little sister is hold her small, cold hand.</p>
<p class="title"><span class="title-box">A predetermined fate, and a miscalculation. (Song of the Ancients)</span></p>
<p class="para">Long ago, there were two siblings who were the best of friends.
<br>The little sister came down with an incurable illness.
<br>The illness was called the Black Scrawl.
<br>The older brother swore to save his sister at any cost.
<br>At any cost.</p>
<p class="title"><span class="title-box">A landscape from an abandoned future (Hills of Radiant Winds)</span></p>
<p class="para">[There was no typed story for this, it was a series of snapshots of the various areas from the game]</p>
<p class="title"><span class="title-box">Irreplaceable friends (Emil)</span></p>
<p class="para">I had given up on everything.
<br>An unjust world that pours everything down on me.
<br>A magical weapon. Cursed Eyes. Eternal life.
<br>A dark old mansion. My big sister, sealed away.
<br>That’s when they arrived.
<br>Vulgar, violent, and pushy.
<br>But in their own way...also kind.
<br>They told me I had a reason to live.
<br>They told me I couldn’t just die.
<br>They showed me the light.
<br><br>
And so, I… I have to live.
<br>For the sake of those who fought with me.
<br>No matter what.</p>
<p class="title"><span class="title-box">The Story of a King and Queen (Gods Bound by Rules)</span></p>
<p class="para">[There was no typed story for this, it was a series of snapshots outlining the plot of Façade]</p>
<p class="title"><span class="title-box">A place for souls (The Wretched Automatons)</span></p>
<p class="para">A place for souls (The Wretched Automatons)</p>
<p class="title"><span class="title-box">A light with nowhere to go (Grandma)</span></p>
<p class="para">Estranged from the villages. Terrified of becoming a shade. Still awaiting the time for vengeance.</p>
<p class="title"><span class="title-box">A lie hidden in a castle for a thousand years (Shadowlord)</span></p>
<p class="para">There is no luxury of choice. If Yonah can be saved, it doesn’t matter if i have to wander the wastes of time for eternity. Even if… Even if our promise was a lie.</p>
<p class="title"><span class="title-box">There you were, bathed in light (Ashes of Dreams)</span></p>
<p class="para">[Here the screen just displayed the english lyrics to Ashes of Dreams]</p>
<p class="title"><span class="title-box">A scene from the journey’s end (Kainé)</span></p>
<p class="para">Hey, Emil. Sure it could be that everything we’ve done means squat.
<br>But even so…
<br>I treasure the time we all spent together more than anything else in the world.
<br>You feel the same way, right? So...don’t cry.
<br>Keep your chin up.
<br>Smile.
<br>I’m sure that...he’d tell you to do the same.</p>
<p class="line"></p>
<p class="title"><span class="title-box">2nd Stage ‹NieR:Automata›</span></p>
<p class="title"><span class="title-box">2B's Words</span></p>
<p class="para">We YoRHa were created to annihilate our enemies, the machine lifeforms.
<br>Yet what we encountered upon landing on Earth were machines that ignored their own nature as weapons and made no attempt to fight.
<br>9S and I made contact, trying all the while to figure out what was happening…
<br><br>
My mission with 9S was rigorous, but occasionally enjoyable.
<br><br>
The warm sun filtering into the ruins…
<br>The laughter of Pascal and the children…
<br>The whistling of the wind through the forest…
<br>Taking breaks at the Resistance Camp…
<br>Seeing the light of a beautiful ocean…
<br><br>
I wanted to remember those moments forever…
<br><br>
As I stifled the unease deep in my heart.
<br>Amidst that ceaseless killing, I realized something.
<br><br>
The aliens met their end at the hands of the machine lifeforms.
<br>Our beloved Council of Humanity was a lie.
<br>The machine lifeforms suffered… as they search for a reason to exist.
<br><br>
We were at a loss… as we pondered who we ought to fight for.
<br><br>
It was as if…we were praying to gods.
<br><br>
After everything was destroyed, I realized something. YoRHa was…
<br><br>
No, not just YoRHa. All things –including ourselves– were born for a reason.
<br>Even if our world is cursed and drowning in despair.
<br>Even then… I have a mission I must complete.
<br>That is why I met you.
<br><br>
Be it in the solitude after my birth, or in the darkness before my death,
you were always by my side… Weren’t you?
<br><br>
Thank you, Nines.</p>
<p class="title"><span class="title-box">Concert Part.2</span></p>
<p class="para">(While most of the songs were performed, short text stories were shown on the screen)</p>
<p class="title"><span class="title-box">There you were, in a paradise of scrap metal (City Ruins)</span></p>
<p class="para">In an almost unbelievably far-flung future.
<br>Machines fought against weapon-wielding puppets.
<br>Even after those who ordered them to war had died out, never once did they forget what they were told.
<br>Like an abandoned child.
<br>This is the story of souls with life.</p>
<p class="title"><span class="title-box">A forgotten place, filled with forgotten things (Amusement Park)</span></p>
<p class="para">[There was no typed story for this, it was a series of snapshots of the Amusement park]</p>
<p class="title"><span class="title-box">That which I truly desired (A Beautiful Song)</span></p>
<p class="para">He was far beyond the repulsive thing I am.
<br>Yet I couldn’t completely give up on him.
<br>If even these thoughts are a crime, then… please.
<br>Kill me. I don’t care if I lose everything.
<br>I truly love him.
<br>So please…
<br>Don’t ignore me…</p>
<p class="title"><span class="title-box">Remnants that are to be eliminated (Alien Manifestation)</span></p>
<p class="para">[There was no typed story for this, it was a series of snapshots of the industrial scenery and highways]</p>
<p class="title"><span class="title-box">A stack of ostentation (The Tower)</span></p>
<p class="para">[There was no typed story for this, it was a series of snapshots featuring The Soul/Meat/God Boxes, The Forest Kingdom, and the outside of The Tower]</p>
<p class="title"><span class="title-box">The cry of isolation is like a storm (Dependant weakling)</span></p>
<p class="para">[There was no typed story for this, The background became a styled version of the YoRHa logo, while a series of snapshots of the various Goliath Class and a few boss battles were shown]</p>
<p class="title"><span class="title-box">Revenge, meetings, and partings (Bipolar Nightmare)</span></p>
<p class="para">Revenge, meetings, and partings (Bipolar Nightmare)
<br><br>
December 7th, 11,941
<br><br>
The Pearl Harbour Descent was conducted by a squadron of new prototype “YoRHa” Models.
<br>Twelve units were destroyed during the descent from the orbital base known as the Bunker.
<br>Of the four that made it to the ground, three died honorably to destroy the enemy server.
<br>The mission was a success, but it came at a great cost.
<br>Only one prototype YoRHa unit survived the mission:
<br>Attacker Number 2.
<br><br>
You, as a YoRHa Executioner model, have one task:
<br>To purge all evidence, destroy the surviving YoRHa unit A2.</p>
<p class="title"><span class="title-box">Revenge, meetings, and partings (Bipolar Nightmare)</span></p>
<p class="para">
December 7th, 11,941

The Pearl Harbour Descent was conducted by a squadron of new prototype “YoRHa” Models.
Twelve units were destroyed during the descent from the orbital base known as the Bunker.
Of the four that made it to the ground, three died honorably to destroy the enemy server.
The mission was a success, but it came at a great cost.
Only one prototype YoRHa unit survived the mission:
Attacker Number 2.

You, as a YoRHa Executioner model, have one task:
To purge all evidence, destroy the surviving YoRHa unit A2.</p>
<p class="para">Brother… Where are you? It’s so dark… and cold… I’m so lonely…
<br><br>
I’m right here, Eve.
<br><br>
Brother! Brother! Brother!
<br><br>
Don’t be so silly, Eve. I told you we’d always be together, didn’t I?
<br><br>
Brother… Thank you…</p>
<p class="title"><span class="title-box">Our sins and deeds (The Sound of the End)</span></p>

<p class="title"><span class="title-box">Pod 042</span>
</p><p class="para">January 7th, 11,942. 5:13 AM.</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">YoRHa unit 2B deploys.</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">January 30th, 11,942. 4:25 AM.</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">YoRHa unit 9s deploys.</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">March 10th. 4:02 PM.</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">243rd descent operation begins</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">4:35 PM.</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">2B and 9S rendezvous.</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">It is their 48th contact.</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">June 26th. 2:30 AM.</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">The Bunker falls</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">The same day. 5:46 AM.</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">Signal lost for YoRHa unit 2B.</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">August 6th. 8:15 AM.</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">Collapse confirmed for the Tower and machine-lifeform network.</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">At that moment, Signal lost for YoRHa unit 9S.</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">Observing the above events, we…</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">…entered the final phase of Project YoRHa.</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">This entrails the expungement of records pertaining to the project…</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">as well as the destruction of all YoRHa units.</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">And we…</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">We refused the order.</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">We Pray.</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">We Shout.</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">We are trapped in the past.</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">Our future is cursed.</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">And that is why now…</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">Yet even so, now…</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">We Continue to fight.</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">We continue to resist.</p><p class="title"><span class="title-box">Pod 042
</p><p class="para">Until the day of our reckoning.</p><p class="title"><span class="title-box">Pod 153
</p><p class="para">Until the day of our reckoning.</p>
<p class="title"><span class="title-box">Song of a broken world (Weight of the World)</p>
<p class="para">[Here, while the song was performed in English, the screen displayed the Japanese Lyrics to Weight of the World]</p>
<p class="title"><span class="title-box">Emil & 2B's Words</p>

<p class="title"><span class="title-box">Emil
  ​</p><p class="para"><em>Maybe our wish didn’t come true.</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para"><em>Maybe our prayers went unheard.</em></p><p class="title"><span class="title-box">Emil
  ​</p><p class="para"><em>But I think I’d do the same thing all over again.</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para"><em>Even if I have to fail all over again.</em></p><p class="title"><span class="title-box">Emil
  ​</p><p class="para"><em>Across a thousand moments.</em> </p><p class="title"><span class="title-box">2B
  ​</p><p class="para"><em>Across a thousand places.</em></p><p class="title"><span class="title-box">Emil
  ​</p><p class="para"><em>We found each other.</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para"><em>I don’t know what fate is, but…</em></p><p class="title"><span class="title-box">Emil
  ​</p><p class="para"><em>I treasure the friends I made more than anything.</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para"><em>The memories I made are like pure light.</em></p><p class="title"><span class="title-box">Emil
  ​</p><p class="para"><em>So I will rise to my feet.</em></p><p class="title"><span class="title-box">2B
  ​</p><p class="para"><em>I will take my sword in hand.</em></p><p class="title"><span class="title-box">Emil
  ​</p><p class="para"><em>We will fight…</em></p><p class="title"><span class="title-box">2B &amp; Emil
  ​</p><p class="para"><em>So that all may end, and begin again.</em></p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-all/concerts">Back</a></p>