---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>NieR 12018</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
.title{
    font-weight: 465;
}

@media screen and (orientation: portrait) {

.title-box{
    background-color: transparent;
    border-color: transparent;
}
}

.title{
    margin-top: 1.5%;
}
</style>

<p class="title">The Two of Us</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/help/"><u>Dr_Mint</u></a></p>
<p class="line"></p>
<p class="title">A newly written short story for the official "NieR:Orchestra Concert" pamphlet.
<br>A story about the awakening of Devola and Popola. ​</p>
<p class="line"></p>
<p class="para">In the beginning, there was only light and sound.</p><p class="para">....n.....</p><p class="para">The voice continued, slowly, flowing steadily.</p><p class="para">...task execution...default...port</p><p class="para">She realized that the light and sound were part of a phenomenon called awakening. But she only understood this after the fact, as the extent of her consciousness grew.</p><p class="para">As basic data was written in the innermost regions of her memory, she felt her cognitive processes growing stronger and stronger.</p><p class="para">Popola</p><p class="para">Someone called her name. She felt happy, proud. She answered as best as she could, trembling with joy.</p><p class="para">Voice recognition and speech functions are normal.</p><p class="para">There definitely was a person. Popola got up and looked for whom the voice belonged to. There was a man wearing a white outfit. <em>He must be a scientist. The one who created me, an android being?</em></p><p class="para">Popola stood up and gazed at her surroundings, wondering if there might be other people around. The room was about 200 cubic meters in size. There were numerous equipment lined up in the room, but no one else in sight.</p><p class="para">Bodily function connected, nervous system stabilized</p><p class="para">The man was talking to a rectangular machine. The words "audio recording" came to her mind.</p><p class="para">He ordered her to sit down which she did, but she couldn't help but be curious about what was going on in this room.</p><p class="para"><em>Creations of mankind... I want to touch them. I want to learn more about them. What could this be? What about this? Or—</em></p><p class="para">The man asked the fidgety Popola questions in a terse manner. About humans, about time, about androids, about white birds, about death... It was like... yes, like a poem, a mysterious dialogue.</p><p class="para">Confirmation of self-awareness and logical thoughts</p><p class="para">The man then proceeded to install additional data. All the information she was so eager to learn was written at once. A huge amount of records about her beloved humans.
...however...</p><p class="para">The back of her throat trembled on its own. She realized, belatedly, that she had just screamed out of fear.</p><p class="para">People turning to salt. The end of the world. A red-eyed monster. A spreading disease. Screams. Flames. Lamentations. Scorched earth.</p><p class="para"><em>What is it? Who is it? Where is it? What happened? What's wrong? What is wrong? What should I do?</em></p><p class="para">She let out all the questions that came at once. The man continued to work silently. Just when she thought she couldn't take it any longer, one bit of data file caught her attention and instantly dissipated her confusion and fear.</p><p class="para">Souls. Vessels. Purification. A black book. A white book.</p><p class="para">She understood everything. She felt ridiculous for being so frightened, for underestimating the wisdom of mankind.</p><p class="para">“The Gestalt Project...”</p><p class="para">When she said it out loud, those words made her heart flutter. A plan to wipe out the plague covering the earth, and to make it a paradise for humans again. She was manufactured to be its "observer".</p><p class="para">“Ah. A noble task, isn't it?” said the man. “But it will take many years to complete.”</p><p class="para">“I understand.”</p><p class="para">It was a far-reaching project that will take hundreds, if not thousands, of years to complete. It would not be easy, but it would lead to a glorious future. She was thrilled, boiling with passion.</p><p class="para">“Is that so?” said the man as a somewhat distorted smile appeared on his lips. Popola tilted her head.</p><p class="para"><em>What is the meaning of behind his expression?</em></p><p class="para">It was not until much later that Popola realized that it was an expression called a wry smile.</p><p class="para">“At least you have a companion to make up for it.”</p><p class="para"><em>To make up for it?  What does that mean?</em>
Once again, the answer to that question would come much, much later.</p><p class="para">The man opened a door and led Popola to the adjacent room. She kept thinking about the meaning of the word “companion”. <em>One who accompanies. One who accompanies...</em></p><p class="para">The room also had various equipment, with a bunk bed in the center. A person was lying there: an android with red hair and the same face as hers.</p><p class="para">“Her name is Devola,” the man said.</p><p class="para">Something warm spreads deep in her chest.</p><p class="para">Devola. Her companion. Whatever happens, she will not let go of her hand. It will be a long journey.</p><p class="para">Popola smiled quietly at the sleeping Devola.
  ​</p>
<p class="menu"><a href="/stories/nier-all/concerts">Back</a></p>