---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>NieR 12022</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
.title{
    font-weight: 465;
}

@media screen and (orientation: portrait) {

.title-box{
    background-color: transparent;
    border-color: transparent;
}
}

.title{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
</style>

<p style="margin-top: 1cm; font-size: 300%;">NieR 12022 FAN FESTIVAL</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: <a href="/credits/people/seviryn"><u>Seviryn</u></a></p>
<img src="https://i.imgur.com/sTxWPDL.jpeg">
<p class="title"><span class="title-box">Voices from
the Verge</b></p>
<p class="menu"><a href="/stories/nier-all/concerts/12022/side-2b">Side: 2B (Read First)</a></p>
<p class="menu"><a href="/stories/nier-all/concerts/12022/side-9s">Side: 9S</a></p>

<p class="line"></p>
<p class="menu"><a href="/stories/nier-all/concerts">Back</a></p>