---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>NieR 12020</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
.title{
    font-weight: 465;
}

@media screen and (orientation: portrait) {

.title-box{
    background-color: transparent;
    border-color: transparent;
}
}

.title{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}
</style>

<p style="margin-top: 1cm; font-size: 300%;">NieR 12020</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: <a href="/credits/help"><u>Dr_Mint</u></a></p>
<img src="https://i.imgur.com/1jDFsP3.jpeg">
<p class="title"><span class="title-box">Introduction</span></p>
<p class="para">Hello everyone and thank you for coming to the NieR:Theatrical Orchestra 12020 concert. I’m Keiichi Okabe, the composer for the NieR series. At all of our past shows, I enjoyed seeing your faces and hearing your warm applause from the stage.
<br>
However, today I’m here in this gigantic hall talking to a camera, unable to see any of you, left to imagine you clapping on the other side of your monitors. The world is facing a serious crisis right now, and this morning it snowed really heavily in Tokyo—unusual for this time of year.
<br>
I truly believe we’ve only been able to overcome all these obstacles and hold this concert thanks to the hard work of our staff and the support of everyone watching right now. Thank you so much. The voice actors we heard from before the concert will reappear later on to perform various scenes. We will also get to hear the angelic voices of Emi Evans and J’Nique Nicole.
<br>
Today’s music will be performed by conductor Takeshi Ooi and the Tokyo Philharmonic Orchestra, with ~Barzz~ Chorus of a game music specialists handling chorus duties. Oh, and the footage you’ll see on the screen behind us was all made for this conceit by Yoko Taro, along with the scenes you’ll hear later. I really think all these elements will combine to make this a very special show. I’ve of course been looking forward to today, but I hope more than anything that those of you watching at home enjoy this unique concert, one that’s worthy of marking NieR’s tenth anniversary.
<br>
Anyway, that’s enough talking for now. It’s time for the NieR Thea-Theatrical… Let me give that another shot! It’s time for the NieR:Theatrical Orchestra 12020 concert.</p>
<p class="title"><span class="title-box">YoRHa Operation Uranus</p>
<p class="title"><span class="title-box">Section 1 (Crumbling Lies)</p>
<p class="line"></p>
<p class="title"><span class="title-box">[Investigative Operation Overview]
</p>
<p class="para">New machine-life form signatures detected in a previously neutralized enemy base. Said base is a large-scale facility located in the Pacific Ocean.
<br>
Communication from the squad stationed there has ceased, making the situation impossible to ascertain. Satellite photography is also impossible due to the base's location on the sea floor. The Council of Humanity is making preparations to retake the base, but understands it may be a trap created with a new type of enemy weapon.
<br>
For this reason, the Council of Humanity has decided to send a small team as an advance scout force. The task of investigating the base and ascertaining the safety of its personnel has been assigned to YoRHa units 2B and 9S.</p>
<p class="title"><span class="title-box">[Operation Details]
</p>
<p class="para">Operation Name: Uranus Advance Force Registered: YoRHa units 2B and 9S Specifications:
<br>
    <br>&#8226;Modified flight units (underwater-use)
    <br>&#8226;Close-combat assault armor
    <br>&#8226;Type-3 swords, pressure-resistant suits, anti-icing coating
    <br>&#8226;12 modified canaries, salvageable backup memory storage,
    reactive barriers</p>
<p class="title"><span class="title-box">[Escort Unit Details]</p>
<p class="para">Lead escort duties to be carried out by Hunter units K1 (8 flight units, 1 transport unit) and K2 (4 flight units, 1 Hummingbird aircraft carrier). Defensive radius: From 8,000 meters above the objective to the ocean’s surface.</p>
<p class="title"><span class="title-box">[Status of the Target Area]</p>
<p class="para">Depth: 1,200 meters Water temperature: 3 degrees centigrade Machine lifeform energy: 3,200 units Estimated machine lifeform count: 32 individuals Communication status: Unknown</p>
<p class="title"><span class="title-box">[Supplementary Information]</p>
<p class="para">Target is 32 km north of the hostile submerged facility that was destroyed on August 13th. According to the deep-sea patrol unit, there is no relation between that facility and the target. However, as there remains the possibility of attack by escaped machine lifeforms or rogue androids, all information pertaining to Operation Atlantis is to be disclosed beforehand.</p>
<p class="line"></p>
<p class="para">Time to Arrival at Objective: 00:00:00:00
<br>
This operation has been placed under direct control of the Council of Humanity.
<br>Any recording or other archival action is strictly forbidden.</p>
<p class="line"></p>
<p class="title"><span class="title-box"><span class="title-box">Section 2 (Copied City)</p>

<p class="title"><span class="title-box">2B
  ​</p><p class="para">So this is the machine lifeforms' advance base...</p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">The base we infiltrated was an expansive underground space with countless, intertwining support pillars.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Temperatures are low... Pod, scan the periphery.</p><p class="title"><span class="title-box">Pod042
  ​</p><p class="para">No machine lifeforms detected. No signals found on sensors or canary system.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Is that…a dead android?</p><p class="title"><span class="title-box">Pod042
  ​</p><p class="para">Affiliation unknown. Possibly a member of the unit stationed here. Fusion reactor non-functional. Heat analysis indicates it was destroyed more than 48 hours ago. No external wounding detected.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">No external wounding? Could it have been an EMP blast?</p><p class="title"><span class="title-box">Pod042
  ​</p><p class="para">Negative. No characteristics of EMP damage detected in circuits.</p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">As we looked around, we found more androids strewn across the room like a child’s forgotten toys.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">What on earth happened here...?</p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">The machine lifeforms that supposedly destroyed these units were nowhere to be found. All that remained was a chill, an eerie silence, and an android mass grave.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Access the Bunker database.</p><p class="title"><span class="title-box">Pod042
  ​</p><p class="para">Negative. Bunker communication is not possible.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Keep scanning the periphery and let me know if you find any irregularities.</p><p class="title"><span class="title-box">Pod042
  ​</p><p class="para">Affirmative.</p><p class="title"><span class="title-box">9S (narration)
  ​</p><p class="para">It was a gloomy place, untouched by the sun. The ceiling was a mass of cables tangled around interlocking steel. It was like being inside some kind of massive creature...</p>
<p class="title"><span class="title-box">Record Archivist: Pod153</p>
<p class="para">Analysis: Stationed friendly squad consisted of 36 individuals. Only eight individuals were confirmed in the target area.
<br><br>
Hypotheses for the other 28 individuals: Abduction. Predation. Desertion. Rebellion.
<br><br>
Proposal: Commence preparations for close combat.</p>
<p class="title"><span class="title-box">Record Archivist: Pod153</p>
<p class="para">Analysis: Target base consists of four strata.
<br>Current location: First stratum.
<br>Area: 32,000 square meters
<br>Temperature: 2 degrees centigrade
<br>Humidity: 88%
<br><br>
Scans indicate a high probability that this area is a hangar for machine lifeforms.</p>
<p class="title"><span class="title-box">Record Archivist: Pod153</p>
<p class="para">Alert: Examination of target’s first stratum complete. Cause of androids’ cease in function remains unclear. There is a high probability that neglecting to investigate this factor may cause impediments to the main force that follows us.
<br>
<br>Proposal: Investigate the target’s second stratum.
<br>
<br>Alert: Target’s second stratum reached.
<br>
<br>Alert: Android bodily fluids detected on nearby wall.
<br>The residual shape appears to form sequences of letters.
<br>
<br>Hypothesis: They are warning messages left by androids while still alive.
<br>
<br>Analysis: The messages are as follows:
<br>
<br>“The Bunker will fall”
<br>“Destroy Command”
<br>“Run”
<br>“They must be killed”
<br>“Help” “Help” “Help”
<br>“Help”
<br>
<br>Hypothesis: Thought circuitry of corresponding androids underwent some manner of attack.
<br>Analysis: There exists a weapon in the base that can cause a logic infection.
<br>Proposal: Hack the central cortex of the base.</p>
<p class="title"><span class="title-box">Section 3 (A Beautiful Song)</p>
<p class="para">Alert: Enemy thought center reached.
<br>Analysis: Protection of YoRHa unit 9S is top priority.
<br>Alert: Deploying virtual canary.
<br>
<br>Proposal: Encrypt channels to long-term memory areas.
<br>Proposal: Increase speed of thought-analysis region.
<br>
<br>Alert: Central memory space located. 82 hostile defense layers and 1,343 attack-type security systems detected.
<br>
<br>Alert: Virus employed by enemy defense layers.
<br>
<br>
<br>Executing sustained vaccine deployment.
<br>
<br>Commencing Assault…
<br>
<br>Analysis: Defensive layers of central memory space infiltrated.
<br>Data recovery and decoding complete.
<br>Initializing visualization and extraction of records.
<br>Visualization: 20%
<br>Visualization: 40%
<br>Visualization: 80%
<br>Visualization complete.
<br>Extracting…</p>
<p class="line"></p>
<p class="title"><span class="title-box">Stratagem Information 111029E</p>
<p class="para">Analysis of intercepted communications from the human army (Army of Humanity) over a period of time has yielded the following data:
<br>
   <br> &#8226;The majority of cargo bound for the human server on the moon consists of empty containers camouflaged as supplies.
 <br>   &#8226;Specific sequence patterns have been identified in video communications from
    the Council of Humanity.</p>
<p class="title"><span class="title-box">Stratagem Information 111029E
</p>
<p class="para">Multiple models of supposition have been created based on the results of the above analysis. Of these, the most probable conclusions are as follows:
<br>
    <br>&#8226;The existence of the Council of Humanity is a pretense.
    <br>&#8226;Humans are already extinct.</p>
<p class="lime"></p>
<p class="title"><span class="title-box">Section 4 (Mourning)</p>
<p class="title"><span class="title-box">9S
  ​</p><p class="para">The Council of Humanity on the moon... So mankind...doesn’t exist?
No, this is a trap. The enemy is trying to make us second-guess ourselves.
Pod, use laser measuring to reveal the structure of the enemy base.</p><p class="title"><span class="title-box">Pod153
  ​</p><p class="para">Affirmative.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">2B, I think there’s a good chance this base is some kind of tra…
2B? Huh? Where’d she go?</p><p class="title"><span class="title-box">Pod153
  ​</p><p class="para">Analysis complete. Displaying base structure.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">First we should figure out where 2B... Wait, this base is weird.
There’s one massive core at the center with a network of pathways for energy conveyance. It’s almost like it’s one big machine life form...</p><p class="title"><span class="title-box">Pod153
  ​</p><p class="para">Alert: High-frequency vibrations detected in lower levels.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">High fre—Agh!</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">As 9S’s vision fades out, a mysterious sound grows around him.
Crunch... Crunch... CRUNCH... The sound gets bigger every time.
9S turns toward the sound to see an android’s corpse.
A dark shadow sits atop it, its hands clamped around the android’s thin, white neck.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">No…</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">The shadow is 9S, and the corpse he’s strangling—with its slender fingers, black eye covering, all-too-familiar dress, and white hair—is none other than...</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">2B…</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">The sight playing out before 9S was one of his own twisted desires.</p>
<p class="line"></p>
<p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">9S’s deepest desires are laid bare. He wanted to kill her. Destroy her. Violate her.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">No! That’s not true! I don’t want that at all!
Wait, I get it… It’s the infection. That is what the enemy’s infection does.</p><p class="title"><span class="title-box">2B (narration)
  ​</p><p class="para">Using thoughts of denial as an opening, the curse spreads. He knew. He was aware she was trying to kill him. He concealed. He hid away his intimate, innermost desires. And there, in the never-ending spiral of massacre… filled with false hopes and prayers…was the pleasure of despair.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Please stop… 2B, I… I…</p>
  <p class="line"></p>
<p class="title"><span class="title-box">Section 5 (Bipolar Nightmare) </p>
<p class="title"><span class="title-box">Record Archivist: Pod153</p>
<p class="para">Alert: Vital signs declining for YoRHa unit 9S.
<br>Alert: Reverse-hacking by enemy machine lifeform detected.
<br>Alert: Defect detected in memory area.
<br>Alert: Shifting to consciousness-protection mode.
<br>Analysis: Increase in offensive enemy activity confirmed.
<br>
<br>Analysis: Maintaining consciousness-defense form is impossible. Due to the instability of YoRHa unit 9S’s consciousness, executing the recommended counterattack is impossible.
<br>
<br>Report: The decisions that follow constitute unauthorized support.
<br>
<br>Declaration: Commencing rescue of YoRHa unit 9S.</p>
<p class="title"><span class="title-box">[DECODED] January 30, 11942 (4:25 AM)
</p>
<p class="para">YoRHa unit 9S enters service.
<br>
Analysis: This Pod initiated recording of pre-determined monitoring subjects 9S and 2B.
<br>
Analysis: In the midst of collecting great volumes of data, this Pod ascertained that 9S is repeatedly destroyed by 2B.
<br>
Analysis: These acts were not delineated in any Project YoRHa implementation plans this Pod was informed of.
<br>
Analysis: Intervention in above acts is impossible for this Pod, as they are delineated processes for the core program of Project YoRHa.
<br>
However, this unit, in its continued recording of the activities of YoRHa unit 9S through a repeated cycle of combat and death, ultimately gained a sort of knowledge.
<br>
It is an internal command akin to emotion, far beyond any support assignment. The closest human analog would be the feeling called “maternity.”
<br>
As such, reporting unit Pod153 will abandon self-defense protocols and shift to launching an offensive against the enemy.
<br>
…I am glad to have met you, YoRHa unit 9S.
<br>
Farewell.</p>
<p class="line"></p>
<p class="title"><span class="title-box">Section 6 (Mourning)<p class="title"><span class="title-box">9S
  ​</p><p class="para">Ugh…
Okay... I set the trap in the central system, and the camouflage repair on the enemy banter is complete.</p><p class="title"><span class="title-box">Pod153 (narration)
  ​</p><p class="para">The remains of Pod 153—its circuits thoroughly fried—lie at his feet.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">My Pod…saved me, huh?</p><p class="title"><span class="title-box">Pod153 (narration)
  ​</p><p class="para">9S hears a sound.
He looks up to see 2B standing before him with a calm expression.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Oh, 2B! Glad you’re safe. 
I was just putting a logic virus in the enemy’s central...</p><p class="title"><span class="title-box">Pod153 (narration)
  ​</p><p class="para">9S realizes something.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Say, 9S…</p><p class="title"><span class="title-box">Pod153 (narration)
  ​</p><p class="para">Her eye covering is gone.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">It’s cold here, so…</p><p class="title"><span class="title-box">Pod153 (narration)
  ​</p><p class="para">She holds a weapon in her hand.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">I want you to warm me.</p><p class="title"><span class="title-box">Pod153 (narration)
  ​</p><p class="para">And her eyes…are crimson.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">She’s infected!?</p><p class="title"><span class="title-box">Pod153 (narration)
  ​</p><p class="para">Her white blade crashes down on 9S with the swiftness of lightning.
9S blocks the blow with his scabbard.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Damn it! How could this happen?</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">YoRHa’s existence in this world has no meaning.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Requesting access to 2B’s motor system! Administer emergency vaccine!</p><p class="title"><span class="title-box">Pod153 (narration)
  ​</p><p class="para">His request is denied. 2B swings her sword again, continuing her frenzied dance.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">We must stop the tragedy that recurs without end in this meaningless world.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">2B, stop!</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Tell me, 9S…</p><p class="title"><span class="title-box">Pod153 (narration)
  ​</p><p class="para">With the smallest of openings, 2B’s blade finds its mark.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Wouldn’t it be wonderful to fade away together?</p><p class="title"><span class="title-box">Pod153 (narration)
  ​</p><p class="para">The blade cuts into 9S’s armor. A bright red message appears in 9S’s vision: Proposal: Destroy YoRHa unit 2B.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">I could never do that!</p><p class="title"><span class="title-box">Pod153 (narration)
  ​</p><p class="para">2B’s sword swiftly pierces through the left side of 9S’s chest. 2B’s blood-red eyes draw close to his face. With defeat so close, 9S plays his final gambit...
He places his right hand on 2B’s cheek.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Commencing hack.</p></p>
<p class="para">Analysis: Commencing salvage of 2B’s consciousness data from the infected area.
<br>
The memories I have left aren’t all bad. Wind rolling through ruins. Light flickering on water. The sound of swaying trees. I cherish everything we saw together. This isn’t a curse. I...decided to be with her. I made a choice.
<br>
2B’s infection had spread to the deepest portions of her memory unit. It’s a troublesome virus—and an elegant trap. For if the infected section is removed, the individual becomes unable to maintain a consciousness.
<br>
As 2B’s consciousness grows more infected, 9S readies his final, desperate plan.
…It was the only way she could be saved.</p>

<p class="title"><span class="title-box">9S
  ​</p><p class="para">Hey, 2B?
The time we spent together holds eternal value for me.
Heh. I’m serious, you know.
I’m swapping your infected area with my memory storage.</p>
<p class="para">In a sea of collapsing emotions, I saw 2B’s light.
Even if I’ve lost everything, I have no regrets.
Because I chose to live…for her sake.</p>
<p class="line"></p>
<p class="title"><span class="title-box">Section 7 (Weight of the World)</p>
<p class="para">You’re 2B, right?
<br>
My name’s 9S. I’m here to provide support.
<br>
9S…the time I was able to spend with you…
<br>
It was like memories of pure light…
<br>
I’m glad I got to see you here. Truly I am.
<br>
Thank you…Nine…s.
<br>
I’ll tear you apart… Every last one of you!
<br>
Emotions are prohibited.
<br>
Ah… Sorry!
<br>
They’re infected…
<br>
I’ll kill you all…
<br>
We’re all expendable…
<br>
Oh… There you were…
<br>
The Commander, me, 2B…</p>

<p class="title"><span class="title-box">2B
  ​</p><p class="para">…Gya!</p><p class="title"><span class="title-box">Pod153
  ​</p><p class="para">YoRHa unit 2B activation verified. Good morning, 2B.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Pod… Where’s 9S!?</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Nnngh…</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">9S! Are you all right?</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">2B… I’m glad you’re okay.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">We’re withdrawing.
Pod, administer emergency maintenance to 9S and tell the Bunker—</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">No. I can’t go back. If the infection spreads, I may end up attacking you.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Stop talking nonsense, 9S!</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Commencing… self-reformatting…</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Stop!</p><p class="title"><span class="title-box">Pod153
  ​</p><p class="para">Alert: Infection critical in YoRHa unit 9S.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Please! Please don’t die on me!</p><p class="title"><span class="title-box">Pod153
  ​</p><p class="para">Sensor signals lost. Black box defensive standby-mode activation failed.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">I’m the one who should die!</p><p class="title"><span class="title-box">Pod153
  ​</p><p class="para">Temperature rising.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">What’s the point of my staying in this world?</p><p class="title"><span class="title-box">Pod153
  ​</p><p class="para">Proposal: Cool body and cerebral unit immediately.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Please don’t save me, 9S…</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Auditory sensors…down. My temperature regulators are at their limit… It’s so quiet…
So this is how it all ends... It’s sad that I’ll lose everything, but...the curse of my sins will disappear as well...

The time I spent with 2B was precious to me. There isn’t a single detail I don’t remember. ...Heh. I bet I sound so stupid right now. You know...I’d really like to... go back there with you again...2B... </p>
<p class="line"></p>

<p class="title"><span class="title-box">2B
  ​</p><p class="para">Our prayers were never heard.</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">Our future was closed off.</p><p class="title"><span class="title-box">2B
  ​</p><p class="para">Despite it all, the fact we’d fought together…</p><p class="title"><span class="title-box">9S
  ​</p><p class="para">…was a miracle that shined brightly. You were always with me…</p><p class="title"><span class="title-box">2B/9S
  ​</p><p class="para">Thank you, Nines. / Thank you, 2B.</p>
  <p class="line"></p>

<p class="title"><span class="title-box">Story of Two Siblings</p>
<p class="title"><span class="title-box">Section 1 (Ashes of Dreams)</p>
<p class="para">Snow is falling.
<br>It should be summer, but I see my breath.
<br>I rub my freezing hands together, and my little sister does the same.
<br>A little smile floats my way. She looks pale... We haven’t eaten in a while.
<br>All I could do for her back then was hold her fight.
<br>
<br>If there is a god, then I have a request:
<br>Give my sister some food and a warm place to sleep... and medicine to cure her sickness.
<br>If you do that, I promise I’ll never be selfish or say bad things about other people again.
<br>Please, God... You can do what you want to me.
<br>
<br>Now that it’s over, I curse my foolishness. Where did I go wrong?
<br>A little sister desperate to survive. A world destroyed so a promise might be kept.
<br>A thousand-year promise, sullied with lies. That form of life held no salvation. That path was corrupt.
<br>This is the story of a kind sister and her foolish brother... who tried to live in a world without meaning.</p>
<p class="line"></p>
<p class="title"><span class="title-box">Section 2 (Snow in Summer)</p>
<p class="title"><span class="title-box">Weiss (narration)
  ​</p><p class="para">I am Grimoire Weiss, a tome of profound wisdom. The story I impart to you is both a tale of times long past, and the fate of a far-flung future. I have known countless humans in my time, but... You lot were some I could never forget.</p><p class="title"><span class="title-box">Nier
  ​</p><p class="para">Hey, Yonah. Were you waiting long?</p><p class="title"><span class="title-box">Yonah
  ​</p><p class="para">Oh! Hi there.</p><p class="title"><span class="title-box">Nier
  ​</p><p class="para">A neighbor shared some vegetables with me, so I know what we’re eating tonight.</p><p class="title"><span class="title-box">Yonah
  ​</p><p class="para">Oooo! It’s gonna be a real feast!</p><p class="title"><span class="title-box">Nier
  ​</p><p class="para">Yeah, I think it will.</p><p class="title"><span class="title-box">Yonah
  ​</p><p class="para">Want me to whip something up?</p><p class="title"><span class="title-box">Nier
  ​</p><p class="para">Thanks, but that’s all right. You get some rest.</p><p class="title"><span class="title-box">Yonah
  ​</p><p class="para">Aw, you’re ALWAYS working!
I think a bowl of my special stew is just what you need to keep your spirits up!</p><p class="title"><span class="title-box">Nier
  ​</p><p class="para">It’s all right, Yonah. Don’t worry about making any stew.</p><p class="title"><span class="title-box">Yonah
  ​</p><p class="para">But you loved my stew! All you could talk about was how tasty it was.</p><p class="title"><span class="title-box">Nier
  ​</p><p class="para">It was delicious—SO delicious that just thinking about it makes me full!</p><p class="title"><span class="title-box">Yonah
  ​</p><p class="para">But… Hey, you’re not eating much lately, are you?</p><p class="title"><span class="title-box">Nier
  ​</p><p class="para">Sure I am.</p><p class="title"><span class="title-box">Yonah
  ​</p><p class="para">(An explosion can be heard)  What was that…?</p><p class="title"><span class="title-box">Nier
  ​</p><p class="para">Easy, Yonah. It’s going to be all right.</p><p class="title"><span class="title-box">Weiss (narration)
  ​</p><p class="para">Snow begins to fall. Black monsters writhe in a sealed city. With no home to return to, they lean their slim bodies on one another and begin to march...</p>
<p class="title"><span class="title-box">Hemelin Organization Report
</p>
<p class="para">ID: 45r0f
<br>2053/11/05
<br>
<br>A non-relapsed individual was discovered in Shinjuku Ward. Following some negotiation, said individual was contracted as the Original Gestalt. The main conditions are as follows:
<br>
    <br>Following admission to the designated facility, examine factors of the Original Gestalt.
    <br>Treatment of the subject’s accompanying family member will be discussed with the experimental medical unit of the Japan Self-Defense Force.
<br>
Pending confirmation with the Ministry of Health, Labour, and Welfare, information regarding the Grimoire Noir project will be transferred to the department overseeing Project Gestalt.
<br>
This document is to be destroyed following circulation among administrative vice-ministers.</p>
<p class="title"> <span class="title-box">Nier
  ​</p><p class="para">We exchanged a promise with our country.</p><p class="title"> <span class="title-box">Yonah
  ​</p><p class="para">My brother always pushes himself too hard.</p><p class="title"> <span class="title-box">Nier
  ​</p><p class="para">The black monsters and the white disease would be exterminated by Project Gestalt.</p><p class="title"> <span class="title-box">Yonah
  ​</p><p class="para">So I wanted to help him. I wanted to help…</p>
    <p class="line"></p>
<p class="title"><span class="title-box">Section 3 (Song of the Ancients)</p>

<p class="title"> <span class="title-box">Yonah
  ​</p><p class="para">My cough gets worse at night. But that’s when my brother tells me all sorts of stories. 
Yesterday he told me a story about the future. A bunch of ff tends showed up in it, and I had so much fun listening that my cough stopped. ...Thank you. </p>

<p class="line"></p>
<p class="para">One night, Yonah’s cough wouldn’t stop.
<br>So as usual, I decided to tell her a story.
<br>
<br>I always made up these stories in the moment.
<br>One day I’d tell her about a princess. Another day a dragon.
<br>
<br>They never had any endings;
<br>I’d just keep talking until she fell asleep.
<br>
<br>But one day, I told a story that seemed almost…
<br>like something I’d experienced myself.
<br>
<br>It entailed an unseen future with friends I had never met.
<br>
<br>This story… It was like a storm.</p>
<p class="para"><i>That’s right… He’s right! Kaine, we’re friends now!

    You want me to understand your sadness?

    I’ll tear out your goddamn eyes and piss in the sockets!

    You think I’m going to sympathize with you?

    Anything I look at gets turned to stone…

    I’m…scared. I don’t want to…die…

    Thanks for always being there for me.</i>
</p>
<p class="para">The vortex of my memories contains many different scenes.
<br>
<br>Friends I met in a far-off future.
<br>Blurred feelings of nostalgia and loneliness.
<br>
<br>An arrogant book that can use magic.
<br>A violent, tactless warrior.
<br>
<br>A kind boy with the powers of petrification.
<br>The twin redheads who raised me.
<br>
<br>And the sister I must protect.
<br>
<br>The memories of fighting alongside my friends stretch around me.
<br>This absurd fate is too painful to bear...
<br>
<br>But I knew.
<br>I knew these feelings were the one thing I could never part with.
<br>
<br>Even if all that waited at the end of the struggle was despair.</p>
<p class="line"></p>
<p class="title"><span class="title-box">Section 4 (Grandma)</p>
<p class="title"> <span class="title-box">Nier
  ​</p><p class="para">Ah!</p><p class="title"> <span class="title-box">Yonah
  ​</p><p class="para">Hmm? Are you okay?</p><p class="title"> <span class="title-box">Nier
  ​</p><p class="para">Yeah, I’m fine. I was just dreaming.</p><p class="title"> <span class="title-box">Yonah
  ​</p><p class="para">Oh, is that all? Was it a good dream?</p><p class="title"> <span class="title-box">Nier
  ​</p><p class="para">…Yeah. It was a really great dream.</p><p class="title"> <span class="title-box">Yonah
  ​</p><p class="para">(Another explosion from afar) I’m scared…</p><p class="title"> <span class="title-box">Nier
  ​</p><p class="para">It’s going to be fine, Yonah. I promise.</p><p class="title"> <span class="title-box">Weiss (narration)
  ​</p><p class="para">A sealed city is engulfed in a fiery blaze.
Countless black monsters lurk in the dark. There is nowhere to run. The older brother lifts an iron pipe and clutches it tight. To survive—and protect his sister—he will confront the monsters. He has no other choice.</p>
<p class="title"><span class="title-box">Hemelin Organization Report</p>
<p class="para">ID: fytjh5
<br>2053/12/24
<br>
<br>White chlorination syndrome first occurred in Japan in 2003—and despite the success of its initial containment, it made a resurgence in 2010 and spread across the world.
<br>
<br>In 2014, the technology underpinning the Gestalt process was established. Its purpose to thwart white chlorination syndrome by preserving body and soul separately, thereby preventing progression of the disease.
<br>
<br>In 2025, development of the Replicant System—a technology to preserve bodies for the purpose of restoring their souls—was concluded. The basic systems for Project Gestalt were now complete.</p>
<p class="title"><span class="title-box">Hemelin Organization Report</p>
<p class="para">ID: 320vsg
<br>2053/12/24
<br>
<br>In 2049, a flaw was found in Project Gestalt:
<br>
   <br>&#8226;Souls created With the Gestalt process possess a high probability of eventually losing their sense of self and growing violent, henceforth known as “relapsing.”
<br>
   <br>&#8226;Soon thereafter, the relapsed patient dies.
<br>
<br>The stabilization of a Gestalt’s self requires rnaso from a subject who has completed the Gestalt process and avoided relapse—known as a “stable individual.”</p>
<p class="title"><span class="title-box">Hemelin Organization Report</p>
<p class="para">ID: dgie;3
<br>2053/12/24
<br>
<br>In 2049, the World Purification Commission began providing clones of Grimoire Noir in order to locate stable individuals. The task of screening for individuals immune from relapse was handled by the Hamelin Organization. This year, a stable individual dubbed the “Original Gestalt” was located. He eventually entered into a contract to provide maso for the Grimoire Noir project. Per the contract, the individual’s compensation is “treatment of his accompanying family member” (a younger sister).</p>
<p class="title"> <span class="title-box">Weiss (narration)
  ​</p><p class="para"><p>White chlorination syndrome made human extinction a real possibility.<br>The disease beset both weak and strong, bringing death to all with perfect equality.<br>It was a shower of purifying lightning delivered in response to humanity’s ceaseless grievances.</p></p>
  <p class="line"></p>
<p class="title"><span class="title-box">Section 5 (Deep Crimson Foe)</p>
<p class="para">Shinjuku is sealed off. A salty snow drifts down from the sky. The howling of savage monsters can be heard in the distance.
<br>
<br>Fear of death causes people to close their hearts, leaving us with no one to help.
<br>
<br>There is no food-and no medicine for my sister. But I won’t give up.
<br>
<br>I will protect Yonah...Those were the feelings that shackled me.</p>
<p class="line"></p>
<p class="title"><span class="title-box">Section 6 (Kainé)</p>
<p class="title"> <span class="title-box">Nier
  ​</p><p class="para">Die, you freaks!</p><p class="title"> <span class="title-box">Weiss (narration)
  ​</p><p class="para">Under the snow of summer, a boy fought the black monsters.</p><p class="title"> <span class="title-box">Nier
  ​</p><p class="para">Stay away from Yonah!</p><p class="title"> <span class="title-box">Weiss (narration)
  ​</p><p class="para">He smashes them with an iron pipe.</p><p class="title"> <span class="title-box">Nier
  ​</p><p class="para">I’ll kill every last one of you!</p><p class="title"> <span class="title-box">Weiss (narration)
  ​</p><p class="para">Blood drips from his clenched hand.
The white ground is stained red.
He kills monster after monster in an unending rage.
Soon, he was surrounded by towering piles of corpses.
After defeating his foes, his strength fails him and he sinks to the ground.</p><p class="title"> <span class="title-box">Nier
  ​</p><p class="para">Yonah…will be safe now…</p><p class="title"> <span class="title-box">Weiss (narration)
  ​</p><p class="para">He glances at the weapon in his hand. It had killed countless monsters. And then...</p><p class="title"> <span class="title-box">Nier
  ​</p><p class="para">Oh no!</p><p class="title"> <span class="title-box">Weiss (narration)
  ​</p><p class="para">The hand gripping the weapon was as black as the monsters he had slain.</p><p class="title"> <span class="title-box">Nier (narration)
  ​</p><p class="para">Something felt wrong. Memories I shouldn’t have. Time that shouldn’t exist. But I ignored it all. For someone like me, who was trapped in darkness for a thousand years... For someone who had strived to save Yonah, it was...too bright.
Weiss (narration):    The blackness spread across his arm before enveloping his whole body. The wings that erupted from his back were unspeakably beautiful. This was the visage of the one called the “Shadowlord.” A soul prepared so humanity might be resurrected.</p><p class="title"> <span class="title-box">Nier (narration)
  ​</p><p class="para">But only when I was dreaming… did I feel like I’d found what I lost.</p>
  <p class="line"></p>
<p class="title"><span class="title-box">Section 7 (Shadowlord)</p>
<p class="para">In order to find a treatment for white chlorination syndrome, I became a monster called the “Original Gestalt.” I don’t care what happens to me. I don’t care what happens to the world. I will cure my sister’s illness, no matter what. And to that end...I cast everything aside. Choosing to believe in the promised resurrection a thousand years from now.</p>
<p class="title"><span class="title-box">Hemelin Organization Report</p>
<p class="para">ID: 4998fa
<br>2054/02/11
<br>
After a thorough examination, it has been determined that treatment for the Original Gestalt’s accompanying family member (a younger sister) is not possible. Following deliberation on the matter at the first meeting of the Hamelin Organization, it was decided to conceal this information from the Original Gestalt. This was due to concerns regarding the Original Gestalt’s mental health with respect to the execution of the Grimoire Noir project. The accompanying family member is to be transferred from a Japan Self-Defense Force facility to a Hamelin Organization facility for cryo-preservation.</p>
<p class="line"></p>
<p class="title"><span class="title-box">Section 8 (Grandma)</p>

<p class="title"> <span class="title-box">Nier
  ​</p><p class="para">I’ve waited a thousand years to save Yonah. I don’t care if humanity dies out or the whole world ends. Yonah is all that matters!</p><p class="title"> <span class="title-box">Weiss (narration)
  ​</p><p class="para">His will lost, the elder brother’s hand crumbles away like dust.</p><p class="title"> <span class="title-box">Nier
  ​</p><p class="para">…But it was all for nothing. All I did was make her suffer this entire time. I… I…</p><p class="title"> <span class="title-box">Yonah
  ​</p><p class="para">That…that’s not true! All you ever did was put me first. I never suffered at all.</p><p class="title"> <span class="title-box">Nier
  ​</p><p class="para">I couldn’t cure your illness, even though I promised I would.</p><p class="title"> <span class="title-box">Yonah
  ​</p><p class="para">But you were always with me, so I was never lonely.</p><p class="title"> <span class="title-box">Nier
  ​</p><p class="para">Yonah…</p><p class="title"> <span class="title-box">Weiss (narration)
  ​</p><p class="para">The two siblings were a fragile pair indeed. But their bond could not have been stronger, for not even a thousand-year lie could erase it.</p><p class="title"> <span class="title-box">Yonah
  ​</p><p class="para">And we’ll be together from now on, too. ‘Cause I love you!</p><p class="title"> <span class="title-box">Nier
  ​</p><p class="para">Yonah… Thank you…</p>
<p class="para"><br><b>3465</b>: The Original Gestalt (the Shadowlord) perishes.
<br><b>3467</b>: Production of the dysfunctional twin models is halted and all existing models executed.
<br><b>3631</b>: The Human Heritage Restoration Management Organization is founded.
<br><b>4198</b>: The last Replicant dies. Humanity goes extinct.
<br><b>5012</b>: War breaks out between aliens and androids.
<br>11937</b>: The autonomous infantry project known as “YoRHa” is completed.</p>
<p class="para">This is a story of the far, far future.
<br>Of a foolish end wrought by humanity’s own hand.
<br>Mutual hatred and wanton slaughter.
<br>Despondent at the pleasure of it.
<br>Cooperation and reciprocal love.
<br>Obsessed with the deceit of it.
<br>At the journey’s end, what the lonesome soul was drawn to was…
<br>a moment in time—and the light of salvation.</p>
<p class="line"></p>
<p class="title"><span class="title-box">Post-talk</p>
<p class="para">So, did you all enjoy that’?
<br><br>I truly believe it was a concert befitting the series’ tenth anniversary.
<br><br>I myself had a great time.
<br><br>Now, I’d like to invite all the singers and actors to the stage to share their thoughts with us. Come on out, everyone!
<br><br>Okay, let’s hear from J’Nique first.
<br><br>Sure. I’ll try my best to speak in Japanese!
<br><br>The tour-well, I wasn’t actually able to join the tour this time, but I’m super happy to be here today.
<br><br>Stay safe out there, everyone and thank you so much.
<br><br>A big thanks to everyone for supporting us all this time.
<br><br>I feel truly blessed to have encountered the world of NieR ten years ago.
<br><br>The series’ music is really important to me, so I’m eternally grateful I’ve been able to keep singing it for an entire decade.
<br><br>And I hope to keep doing so, with love in my heart, for all the series’ fans for a very long time to come.
<br><br>We were forced to perform in an empty venue today, but I truly feel like I was able to see all of your faces on the other side of your screens. Thank you so much for watching.
<br><br>It also looks like “NieR” is trending on Twitter right now, so I hope we can all celebrate the tenth anniversary all through the night. Thanks for everything.
<br><br>Thank you all for today. I sure screamed a lot.
<br><br>It was a bit embarrassing that 9S’s fetish was revealed, but I had lots of fun performing as him for the first time in a while.
<br><br>I also loved acting alongside the Replicants, and enjoyed the show both as an actor and a fan.
<br><br>And er, well, there’s no one in the audience today, but I still hope all of you at home enjoyed yourselves.
<br><br>Glory to mankind. Thanks so much.
<br><br>Thanks for today, everyone.
<br><br>It would’ve been amazing if we could have performed in front of you all—I bet a lot of people feel frustrated right now.
<br><br>But thanks to our hardworking staff we were able to set up 23 cameras and share the same time and space…
<br><br>well, maybe not space, but I’m really happy we were able to spend some time together.
<br><br>Well, maybe not space, but I’m really happy we were able to spend some time together.
<br><br>It’s been ten years since the first game, and only three since Automata,
<br><br>But I’m really happy I was able to be involved with a series that’s been loved by its fans for so long.
<br><br>I really hope the enhanced version of Replicant helps the NieR series to become even more popular. Thanks again for today.
<br><br>Well, things turned out the way they did today.
<br><br>But, and I think a lot of you know this, I’m both someone who appears in the NieR series as well as one of its fans—I guess I’m in this weird in-between space.
<br><br>Which is why I was really looking forward to today, while also feeling insanely nervous about performing as Weiss, which had me in another weird headspace.
<br><br>I appeared briefly as a pod at the beginning of the Automata section, but after that I watched the show on a monitor, listening to the music as I read your comments.
<br><br>It really hit me just how amazing modern life is because seeing how many people were watching online made me forget that there was no audience in the venue itself, and that inspired my performances later on.
<br><br>Also, there were a lot of things announced today, but we have to remember this has been going on for ten whole years.
<br><br>None of this would exist without the NieR fans who’ve loved the series for a decade, or the Automata fans who’ve loved it for three years.
<br><br>We’re in a tough situation right now that makes it hard to enjoy ourselves, but when we’re able to pull off shows like this, I hope that’ll help us all to stay excited, inspired, and prepared for anything that comes our way.
<br><br>We’ll be right there alongside you all.
<br><br>Anyway, congratulations on the tenth anniversary and thank you so much for letting me take part. Thanks for everything.
<br><br>This was my first time appearing at an event for NieR series,
<br><br>So I really wished you all could’ve been here to experience the orchestral performance and celebrate the tenth anniversary with us.
<br><br>But I know everyone was watching at home.
<br><br>I enjoyed acting today not as child NieR, or young-adult NieR, but as the NieR known as the Shadowlord.
<br><br>He didn’t have many scenes with Yonah in the game, so it was great performing alongside her today.
<br><br>I look forward to meeting all of you in the new version of NieR Replicant and seeing you all again someday.
<br><br>Yonah agrees!
<br><br>I’ll keep cheering on all the NieR fans and my brother forever.
<br><br>I love you all! Thank you so much.
<br><br>I reflected on a lot of stuff that happened during the past ten years while watching the concert today.
<br><br>And the prevailing feeling I had was one of gratitude for all the support we’ve received over the years.
<br><br>We announced a few things during the per-concert section of the show,
<br><br>So I’m looking forward to doing something that’s more in my wheelhouse as opposed to being a middle-aged, awkward MC.
<br><br>I’m already hard at work on new music and that’s how I want to pay all of you back, so I really hope you keep supporting us in the future.
<br><br>Now, it’s time for one last piece from the orchestra to express all of our thanks for the past decade.
<br><br>I hope you enjoy it. Thanks a lot for today.
<br><br>Pod042: This is Pod 042, addressing all attendees.
<br><br>I would like to extend my gratitude for attending the NieR:Theatrical Orchestra 12020 today.
<br><br>Thank you very, very-
<br><br>9S: Whoa, hold on! It’s too soon to end this thing!
<br><br>Pod153: Negative. Failure to promptly withdraw from the venue will incur overage charges, causing tremendous financial damage to Square Enix—
<br><br>2B: Acceptable. Anyway, Nines, who’s that over there?
<br><br>Hmm? Hey, you’re right. I’ve never seen ’em before, but I feel like I know them somehow.
<br><br>Same.
<br><br>Yonah: Oh wow! Those people over there look super gloomy!
<br><br>Nier: That’s not a nice thing to say, Yonah.
<br><br>Whoopsies! My bad.
<br><br>Grimoire Weiss: I am Grimoire Weiss, a tome of profound intellectual… Hmm? Something about this feels amiss.
<br><br>Well, whatever. Just roll with it.
<br><br>It should be I, the great and brilliant Grimoire Weiss, who utters the parting words in this-
<br><br>Hang on. You forgot someone.
<br><br>Yeah, not cool, Weissy.
<br><br>Hey, get up already! We’re almost done!
<br><br>Kainé: Yawn …Huh?
<br><br>Oh, so that’s where you were. Coulda spoken up earlier, you know?
<br><br>Gotta say, I don’t think I’ve ever seen so many rotten personalities in one place…Heh.
<br><br>Man, feels like I just had the longest dream.
<br><br>…Hmm? What kind of dream was it?
<br><br>It was a long and brutal fight, and I did a lot of killing.
<br><br>But the journey wasn’t half bad, and I met lots of people.
<br><br>If I close my eyes and think about it, it almost makes me feel warm.
<br><br>…That’s what kind of dream it was.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier-all/concerts">Back</a></p>