---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Arioch's Novella</title>
<p class="title">Despair transformed the lone housewife into a monstrous murderer</p>
<p class="line"></p>
<p class="para">News of the war seemed to be coming in every day, notifying them that danger was approaching the castle they currently resided in. It seemed the day was not far away that he and the goddess would be living a live of vagrancy together. I wonder if I will be able to protect the goddess when that time comes― "Oh God, give me strength!" He let out an involuntary prayer, but there was no response―.</p>
<p class="para">Recently the serial murderer that has so troubled society was captured—this news spread like wildfire across the kingdom of Niflheim. Moreover, the fact that the perpetrator was a perfectly ordinary elven housewife gave the people a great shock. Considering the fact that she'd aimed only at children, several victims had already come out, and so when the chance came to see this cruel figure, everyone gathered to see her profile.</p>
<p class="para">Word having spread that the criminal, named Arioch, was being transferred from the town jail to a prison in the desert, crowds of people lined the streets to catch a glimpse of this bizarre figure who had committed such an unprecedented crime.</p>
<p class="para">"I bet she's a monster woman that looks like an ogre."</p>
<p class="para">"Nah, I heard she looks like a 300-year-old granny."</p>
<p class="para">The crowd was filled with such irresponsible rumors. However, when the criminal appeared, led by soldiers of the Imperial Army, her figure completely defied their expectations. What appeared was not a monster nor a decrepit old witch, but an incredibly ordinary, yet beautiful young elven woman. The "hideously atrocious female cutthroat" that the crowd had been expecting was nowhere to be found. The previously raucous crowd went quiet one by one, as if they had all been caught in a still photograph, and the place was wrapped in a bizarre sort of silence. For these people, the criminal who had murdered defenseless innocents time and time again, and the elf woman before their eyes, were two beings they could not manage to connect no matter how hard they tried.</p>
<p class="para">There was nothing but the sound of soldiers' footsteps echoing as the crowd sent them off, swallowing their collective breaths. However, Arioch saw nothing of what was going on around her. Held by sturdy soldiers on both sides, walking as if she were being dragged, she muttered the same words over and over again.</p>
<p class="para">"My children...delicious children."</p>
<p class="para">―Even when her body was tightly bound, and she was placed into the prison, Arioch did not resist once, so docile that her jailers were unnerved. The girl did not seem to understand at all what was happening to her. Where is this place? Where did my adorable children go? Give me......give me back my children!</p>
<p class="para">Suddenly, Arioch let out a scream that seemed to resound throughout the entire prison. A jailer holding a gag rushed into the prison as fast as he could, at the hair-raising noise. He must have been negligent due to her meekness back then. When the jailer moved to place the gag in her mouth, Arioch snapped at him with blinding speed. And the next instant—she'd bitten his fingers off without the slightest hesitation. This time, it was the jailer's scream that echoed throughout the halls. The girl smiled as if satisfied, leisurely swallowing the object in her mouth.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-1/character-profiles/arioch">Back</a></p>