---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Seere's Novella</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}                                               
@media (prefers-color-scheme: light)
{
    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
}
    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}                                               
@media (prefers-color-scheme: light)
{
    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
}

</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img style="width: 100%; height: 100%;" src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/media">
          Media
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<p class ="title">Seere's Profile</p>
<img src="https://i.imgur.com/labAyF9.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/kestrel">Kestrel</a></p>
<p class="title">Characteristics</strong></p>
<p class="para">Sex: Male</p>
<p class="para">Age: 5</p>
<p class="para">Pact Partner: Golem</p>
<p class="para">Pact Price: Time</p>
<p class="para">Seal Location: Whole Body</p>
<p class="title">Mother killed by the Imperial Army</p>
<p class="para">Seere was raised with excessive love from his doting mother. However, the Imperial Army killed his mother, and he was left without family. When she was alive, Seere's mother often told him the story of "The Little Hero." After that, when Seere lost his time due to his contract with Golem, its similarity to the children's story seemed a curious coincidence. Perhaps, this "something" is the feelings she kept from her son―</p>
<p class="title">Long-lost younger sister Manah</p>
<p class="para">Seere had a younger twin sister by the name of Manah. Contrary to Seere who received all this mother's love, Manah received nothing but abuse. Although Seere felt pity for such a sister, with the comfort of having a monopoly of his mother's love, he could not bring himself to sympathize with Manah. Then one day, Manah disappeared. Seere did not speak of this, but he believed that the Manah his mother hated so much had been abandoned in the valley.</p>
<p class="title">The Golem whom Seere calls friend</p>
<p class="para">Following his mother's dying wish, Seere formed a pact with Golem. What led Seere, who felt no "negative emotions", to form a pact with Golem, who had low intelligence—you could say that was it. Normally, it would be impossible to form a pact with a monster without some sort of collateral, but because of Golem's poor judgment, an exceptional pact was formed. Golem tied this pact solely "to protect tiny weak Seere".</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-1/character-profiles/seere-novella">Seere's Novella</a></p>
<p class="menu" id="backButton"><a href="/stories/drakengard-1/character-profiles">Back</a></p>