---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>村</title>
<style>
        img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/oFAnUaI.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/qkzML5k.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/dZEXF6F.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/ola93Nz.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
}
</style>
<p class="title">Original link: <a href="https://www.jp.square-enix.com/nier-anniversary/15th-novel/"><u>NieR [U]ndecided Option</u></a></p>
<p class="title"><a href="https://youtu.be/LbJgN_LkD9U?si=nTolyV3c0Mlssq-i"><u>Video (English Translation)</u></a></p>
<p class="title">Resume after 3:30, if you followed the suggestion. Otherwise, carry on.</p>
<p class="menu"><a href="/nier-anniversary/15th-novel/e5ae8c/bud">Back</a></p>
