---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Priyet's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Priyet's Character Story</p>
<p class="title">Chapter 1</p>
<p class="para">I look nervously around the classroom, surrounded on all sides by other newly enrolled students. <br>With backs straight and eyes wide, they listen intently as our professor explains about life at the school.<br><br>Currently, the professor is talking about roles students can take on in order to show their independence. <br>Clever kids join the student council. Athletic kids take up sports. Good-looking kids are hall monitors. <br>Everyone around me has something they're good at, <br>and they volunteer for their new roles with enthusiasm.<br><br>As roles are chosen and students depart, I find myself growing increasingly sullen. <br>I'm not a fast thinker, you see, nor am I especially pretty or active. <br>Honestly, I don't know what role I <i>could</i> take.<br><br>Ultimately, I don't volunteer for anything—a choice <br>I attempt to justify by telling myself I don't have anything to be proud of anyway.</p>
<p class="title">Chapter 2</p>
<p class="para"><i>You're going to be last</i>, I think.<br> <i>You're going to be last because you're ALWAYS last. Always have been, always will be</i>. <br>Someone always stands in the center of the stage, but that someone is never me. I'm too dull. <br>Too plain. Whatever role I have in this world, I know it will be a minor one.<br><br>The next thing I know, I find myself sitting in an empty classroom with <br>an orange sunset illuminating the windows. <br>The clock hands tick, tick, tick, the moments away from my life, <br>and for some reason I cannot explain, I begin to panic. <br>I bolt out of my seat and throw open the classroom door, <br>only to realize I have absolutely nowhere to go.</p>
<p class="title">Chapter 3</p>
<p class="para">The school is a maze, and I wander its hallways without a clear destination. <br>After turning this way and that, I finally find myself standing in front of the library. <br>The room is empty. Silent. It's as if time has simply...stopped. After a long moment, <br>I slowly exhale and take my first steps inside.<br><br>I feel a deep affinity for the untouched, dusty books that line the shelves, <br>and without thinking, I reach up and take one of them down. I have time. <br>I have all the time in the world. So I begin to read—and as I do so, <br>I realize I have finally found my place of solace.</p>
<p class="title">Chapter 4</p>
<p class="para">Eventually, the library becomes my second home—one where I always take <br>the seat one removed from the window. <br>But one day, I'm startled from my familiar solitude when someone calling from across the room. <br>"Hey, you're that girl who's always here, right?" says the student, <br>either unaware or ignoring the shock and confusion on my face. "Well, I need your help."<br><br>It turns out the student is in my class, and has been having trouble with a particularly tricky assignment. <br>I pick out a few books that I think could help and think nothing more of it, but a few days later, <br>she sends me a thank-you letter. Almost without realizing it, <br>I become the go-to person for any and all things library-related. <br>The word was out: If you needed help finding any kind of book, <br>go ask the girl near the window.<br><br>Eventually, I became the school librarian. <br>And while I still don't have much in the way of confidence or pride, <br>so long as I can help other people with something, I feel like it gives me just the slightest bit of courage.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/priyet">Back</a></p>