---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Curse of the Rift</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Curse of the Rift</p>
<p class="title"><a href="https://www.youtube.com/watch?v=E8LizDpGtTg&list=PLcY8I1_IgLN4mHNwysEriap7YtnW3vF-x"><u>Video</u></a></p>
<img src="https://i.imgur.com/vVpfLaK.png">
<p class="title">Chapter 1</p>
<p class="para">There was once an incident at a school of magick that ended in one person's death and another's <br>disappearance. In a vast and misty wood not far from the city in which the school stood, <br>an unknown creature forges a path toward a ruin nestled deep among the trees. <br>There, it finds a single mirror standing sentinel within the wood. <br>Wishing to conceal the disgusting visage it sees reflected in the mirror, it dons a white cloth, <br>but its loathsome appearance lingers in the mirror. The shape in the mirror changes to a shadow, <br>which laughs at the creature. <br>The shadow named the creature a "werebeast"—a thing beyond comprehension—and <br>offers the beast a proposition. <br>"If you but fulfill my desires, I will make your every wish come true." <br>In response, the werebeast replied: <br>"I will do anything to become human. <i>Anything</i>."</p>
<p class="title">Chapter 2</p>
<p class="para">Having made a deal with the shadow, the werebeast heads to the city where magick users live. <br>The night is dark. The silence full. The people sleep easily in the protection of their homes. <br>As the werebeast takes in the sight, an indescribable feelings well up in its chest. <br>When it gazes into a dusty window, it sees the shadow staring back. <br>"You know what you must do, yes?" the shadow asks. <br>In response, the werebeast starts destroying everything in its vicinity. <br>Benches, barrels, windows... The shadow revels in the destruction caused by the werebeast, <br>for it is an existence that thrives on anger, sadness, and hatred. Woken up by the commotion, <br>the townsfolk emerge from the homes and loose howls of rage. <br>Frightened, the werebeast fled and made its way back to the wood. <br>The werebeast pleads the shadow to turn it human, and the shadow makes a final demand: <br>"Before I make you human, you must snuff out the lives of one hundred magick users."</p>
<p class="title">Chapter 3</p>
<p class="para">The air in the wood hands strangely ominous. <br>The werebeast trundles along, dragging a large and heavy sack behind it. <br>The sack contained a corpse—the 99th magick user killed as a sacrifice for the shadow. <br>As the shadow raises its voice in utter glee and delight, <br>animosity and rage seep out from the mirror and coat the werebeast in its sheen. <br>Memories race through the creature's mind. Memories of people it loved. <br>Memories of people it hated. Memories of regret, rejection, and pain... <br>When the werebeast regains consciousness, it finds a young witch standing before itself. <br>The shadow demands its 100th sacrifice, but the werebeast refuses, <br>for the witch was the wavy-haired girl the werebeast loved back when she was human. <br>The werebeast expresses her feelings, and when the witch heard the beast's voice, <br>she realized it was who she had been looking for—her bespectacled friend.</p>
<img src="https://i.imgur.com/9grDQfC.png">
<p class="title">Chapter 4</p>
<p class="para">The wavy-haired girl and the werebeast exchange words, and it comes to <br>light that the bespectacled girl was responsible for the death of their mutual best friend. <br>It is also revealed that she only killed the boy because his actions left her no choice. <br>However, even after hearing the werebeast's explanation, <br>the wavy-haired could not bring herself to forgive. <br>The wavy-haired girl brandishes her staff and attacks the werebeast. <br>The werebeast emerges triumphant, <br>and manages to reclaim her senses before finishing off the wavy-haired girl, <br>instead opting to extend a hand to her fallen opponent. The wavy-haired girl, <br>overcome with regret and blaming herself for everything that transpired, commits suicide by <br>plunging her staff into her own chest. The beast cries out in despair and clings to the mirror, <br>begging it to save her friend. <br>But the shadow does not appear, and the glass remains silent. <br>There had never been a shadow, much less one that could grant wishes. <br>It was never anything more than an illusion the werebeast conjured up to <br>justify its hatred and desire for revenge. But with her path to revenge at its end, <br>she discovered that it led...to nothing.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/priyet">Back</a></p>