---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Marie's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Marie's Character Story</p>
<p class="title">Chapter 1</p>
<p class="para">Okay, first question: Why did I start doing this?<br>Hmm. Well, I don't know how interesting the story is, but I suppose the idea came to me around the time<br>of my first online feature. I was really happy they were doing a story about me, but then I saw the<br>headline was "The Enigmatic Idol" and it confused me a little. I mean, because I wasn't <i>trying</i> to<br>be enigmatic, you know? That was just...me.<br>Please don't get me wrong; I was very happy the article came out. But the headline just made me think<br>I should create some opportunities for everyone to get to know me better.<br>And that's a very long explanation for why I started this podcast! Not sure how effective it's going to be<br>since lots of people still think I'm a big ol' mystery, but I suppose it's worth a shot.<br>Anyway, let's move on to the next message.</p>
<p class="title">Chapter 2</p>
<p class="para">This is from a user named Karl, who says: "Hello! Your last concert was incredible!"<br>Oh, you came to my concert! Thank you so much!<br>"I'm a huge fan, and while I'm glad people are realizing how awesome you are, I'm happy you're not already<br>so famous that I can't message you like this anymore. Ha ha ha."<br>Thank you for the wonderful message and all of your support, Karl. Fans like you are what keep me going,<br>and I'm <i>always</i> happy to hear from you. ...Still, it would be kinda weird, huh? Getting super famous,<br>I mean.</p>
<p class="title">Chapter 3</p>
<p class="para">It's like you said: If I was crazy famous, I probably couldn't respond to all your messages like I do now.<br>Oh wow. I've never thought about that before this very moment.<br>But I promise you this: I will <i>always</i> read each and every letter you send me, whether you're a<br>longtime fan like Karl or someone who just discovered my music.<br>I'm a super-fast reader, so it won't be a problem—plus, I want to hear everything you have to say anyway!<br>Oh geez, look at me. Here I am blabbing away, and now we're all out of time!<br>That went by really fast, huh? Well, make sure to tune in next week, all right? Bye, everybody!</p>
<p class="title">Chapter 4</p>
<p class="para">...With that, I exhale and stop the recording. But even though it's over, all I can think about is the message<br>I received from Karl.<br>It's true what I said: I really do read each and every letter I receive. I do it because it makes me genuinely<br>happy, and also because it helps to give my life a little bit of meaning. But none of that will change what I do.<br>I refuse to even consider that option.<br>I'm going to keep going and look everyone in the eye as I do. After all...I will never let myself forget<br>anyone else.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/marie">Back</a></p>