---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>One Vow</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">One Vow</p>
<p class="title"><a href="https://www.youtube.com/watch?v=_GPVLs597nU&list=PLcY8I1_IgLN6lHLSD8wEm4WeSqeGWPIV9"><u>Video</u></a></p>
<img src="https://i.imgur.com/SMTWl1i.png">
<p class="title">Chapter 1</p>
<p class="para">The stage is set in a distant and technologically advanced world. <br>At a concert venue, a wildly popular singer is due to release her newest<br>creation. Her true identity, as well as what agency is backing her, is unknown.<br>But her popularity is undeniable all the same, and her powerful voice helps<br>those who hear it forget their troubles. In a time where the people are<br>plagued by never-ending war, the people look to her songs for relief.<br><br>Trouble breaks out during her concert. Just as the girl thought to express<br>words of thanks to her crowd, a group opposed to her actions appears<br>before her. Unsatisfied that she would engage in such activities during<br>times of war, they angrily berate the girl. And as though in response to their<br>pressure, the singer disappears, leaving only a pair of words in her<br>wake: LOG OUT. She is a digital songstress, appearing only on social<br>networks in virtual reality.</p>
<p class="title">Chapter 2</p>
<p class="para">This country develops under the governance of artificial intelligence, <br>and its capital city shines even in the dark of the night. The only beams of<br>light, however, come from the city's illumination, for there is nothing but<br>darkness found on the faces of its people. The girl had ceased all of her<br>activity since the commotion at her last concert, and she sighs deeply as<br>she walks the city streets. Everywhere she looks she sees armed guards,<br>drones, and security cameras. People argue. Citizens are drafted for the<br>war. The long war has caused fierce disputes within their own borders.<br><br>The reason the girl took up singing was to help reclaim the joy the people<br>of this nation held long ago. But as she gains more fans, so too rises the<br>number of people who criticize her actions, and it has come now to the point<br>where some among them would resort to force. The girl was deeply troubled<br>that her own actions ended up causing further conflict. She began to<br>wonder if there had been any meaning to anything she had done.</p>
<p class="title">Chapter 3</p>
<p class="para">The girl was unsure if she should sing again. Though it was something she<br>had initially taken up as a means of bringing joy to the people, she could<br>not shake the feeling that there was no point in continuing if it just ends up<br>hurting people. If her aim was to inspire joy, what should she have done?<br>Her eyes, once driven by the power of her prayers, were clouded with<br>darkness.<br><br>At that moment, she receives a notification. Upon opening her inbox, she<br>finds messages beyond counting. Many offer words of encouragement,<br>while some contain scathing critiques. But among them, she finds herself<br>particularly moved by a message from a former soldier. He says that even<br>though he is no longer able to fight, her music encourages him to keep<br>helping however he can. As she reads the messages, she is reminded of a<br>sensation—an emotion—long thought lost.</p>
<img src="https://i.imgur.com/gcIt9KA.png">
<p class="title">Chapter 4</p>
<p class="para">An unusual event befalls the city at night. The girl appears as holograms<br>and on monitors and begins singing before the surprised populace. A melody<br>of prayer echoes through the streets and across the battlefields. As the city is<br>enveloped in music, people who support her emerge, as do those who<br>criticize her. And as people are absorbed in her powerful, yet delicate song,<br>a light begins to shine behind them—it is the songstress in question.<br><br>She walks through the city to witness it for herself up close. She does what<br>she does not just for those who support her actions—she does it for the sake<br>of all, which she communicates through the power of song. She will wipe<br>away their tears and stay close to their heavy hearts. As she thinks back on<br>this vow she made long ago, she says to herself, "And I will keep singing.<br>Because I..."</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/marie">Back</a></p>