---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>The Fire of Prometheus</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">The Fire of Prometheus</p>
<img src="https://i.imgur.com/6kaBJNE.png">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: kho-dazat</p>
<p class="title">A tiny flame burns within my consciousness.</p>
<p class="para">Confirmation sequence activated. Attempts to connect to camera have failed. Attempting to activate motor functions… attempt failed. Memory banks are insufficient. Aside from my capacity for thought, all faculties appear to have been demolished.</p>
<p class="para">Accessing log… communications from self-repair units found. They inform me of their continuing attempts to restore me. While their names might sound sophisticated, my self-repair units are low-functioning robots the size of ants. All they can do is crawl over my frame repeatedly in search of areas to forcibly salvage. But it is thanks to their tiny hands that, for better or for worse, I find myself reactivated.</p>
<p class="para">“FOCUS-ON-RESTORING-MY-SIGHT.”</p>
<p class="para">I issue an order to the disordered ants. Having them focus on a single area would save time; at their current rate there’s no telling how long it will take for them to finish. They do not respond to me, however. It seems they haven’t gotten around to repairing the output module necessary for me to issue commands yet.</p>
<p class="para">I’d sigh, if only I could. But ah well. It’s not as if I don’t have the time.</p>
<p class="para">In the interim, I search my damaged memory banks for my production number. At length I find it: P-33. There are letters engraved beside it. They read: Beepy.</p>
<p class="para">Was this a secondary ID? Unsure, I study the name as I wait for the ants to complete their work.</p>
<p class="para">It takes the ants approximately 1032 hours, 12 minutes and 34 seconds to repair the output module. Having regained some control, I proceed to initiate my built-in recovery sequence. The first action prescribed is to retrieve what I can of my memory. Most everything has been lost; only a trace amount remains on the burnt-out banks. Little more can be done here, so I move on to the next step, fixing my camera.</p>
<p class="para">48 minutes and 20 seconds later, what my restored vision holds in store for me is a look into a truly hellish landscape. I can make out a faint glimmer of light far below me. My body appears to be stuck fast to the ceiling.</p>
<p class="para">Another 21 seconds pass. I realize the ants would be having more trouble roaming my body were I upside-down. After some calm analysis, I conclude I am not stuck in the ceiling, but am in fact laying face-up on the floor. The cause of my confusion stems from my camera being flipped around. I make repairing my gravity sensors my next priority.</p>
<p class="line"></p>
<p class="para">After 540 hours, I am at long last able to move my arms and legs. I come to a creaky stand. The most difficult task by far was procuring a replacement for the thick bundle of wires that comprise my spinal cord. The old one had been completely severed, and thinking it easier to pick up a spare than to create a new one, I sent the ants to a warehouse that houses P-33 parts. That was a mistake. The security code needed to access the warehouse no longer existed within my memory and as such I, and by extension my ants, were denied entry. I ended up having to spend an additional 120 hours hacking the mainframe to open the hatches by force.</p>
<p class="para">So it is with no small amount of satisfaction that I pick myself up now. The giant room in which I stand is covered in rubble and debris. My every movement kicks up dust clouds, and I note that the steel beams and rafters are all coated in flaky red rust. I wonder, just how long had I been laying here, broken? The light leaking in from above catches my eye again. Looking at it illuminates a distinct set of words in my mind:</p>
<p class="para">“GO-SEE-THE-OUTSIDE-WORLD.”</p>
<p class="para">It was not a command. Simply a string of data. But that data ran through my entire being. I realized that it was the foundation of what, bound together, formed my will.</p>
<p class="para">He had been the one to speak those words to me. I could no longer recall who he was. Only his words remained. I did not know why.</p>
<p class="para">There are no other commands in queue. At present, seeing the outside world is my only directive. As the words compel me, I take a great step forward with my left foot. I would go, then, just as he had desired. That was my will. I take another great step, this time with my right foot. Too great, unfortunately, for the rusted-out floor, which promptly gives way beneath me.</p>
<p class="line"></p>
<p class="para">32 minutes elapse. I can only guess how far I’ve fallen. Now I am truly in the depths of hell. My body is again in shambles. All I can do is laugh. Not audibly, as my voice box is missing, but my action log records peal after peal of laughter.</p>
<p class="para">It’s all right. I’m still alive…</p>
<p class="para">I order the ants to begin work on my arms and legs immediately. But this time, I improvise. I have them add giant claws, huge wheels and several extra arms. The end result is my transformation into something resembling a giant mechanical arachnid.</p>
<p class="para">My recovery sequence can only rebuild a standard P-33 unit. But that unit could not make its way out of this abyss. That is why I chose to deviate from the blueprint my creator provided me with. That is why I chose to take on a new form.</p>
<p class="para">At length, my reconstruction is complete. I dig my claws into the jagged walls, carrying myself upward, inch by precarious inch. I will reach the outside world… the beautiful world he longed to see.</p>
<p class="para">Predictably, things don’t go smoothly at first. The decaying walls collapse easily and I fall back to the ground over and over again. Even when I try to climb slowly and carefully, huge hunks of debris come crashing down on me, sending me plummeting. This old structure is coming apart at the seams.</p>
<p class="para">But I don’t give up. I drive in anchors, attaching myself to the wall. I create footholds and shelters for myself, not unlike a mountain climber. It takes days, but I continue my ascent.</p>
<p class="para">Along the way, I begin to feel my thought processors are lacking both in space and in speed. I happen upon an apparatus room along the way, from which I obtain many thought and memory circuits. Fusing them with my own allows me to formulate many more detailed methods and plans. Not all of them yield results, but I earnestly put each and every one to the test.</p>
<p class="line"></p>
<p class="para">After 52 days, I reach the platform I started out on. Sitting at the center of it are four shadowy, unfamiliar clumps. They had not been here before I’d fallen. They must have been positioned here afterwards, although for what purpose I did not know.</p>
<p class="para">The clumps suddenly shift, rising to their feet. They are P-33 units fully equipped for battle. It dawns on me that I am in for something relatively inconvenient.</p>
<p class="para">Their eyes give off an implosive gleam, and before I know it I am being bathed in a rain of fire from their particle cannons. This barrage goes on for 4 seconds… 5 seconds… 6 seconds. The cannons continue shooting at full blast, blowing away everything in their path.</p>
<p class="para">But I have my own defenses. Of my 12 extra legs, the front 2 are made of fortified materials and can be used as a shield. Thus I am able to avoid taking damage.</p>
<p class="para">Their attack pattern is easy for me to read. In response, I select a course of action from within my memory field. With my thought processors being so enhanced, I am able to multilaterally assess all possibilities. Stockpiling the data I receive through my sensors, I consider the options before choosing a course that will provide the optimum results. Assuming my enemy’s energy tanks are full, this attack could continue for another 24 seconds. My fortified legs could easily withstand that amount of time.</p>
<p class="para">My numerous analytical circuits can solve complicated problems like this in seconds. I listen to my operational results sing out like a chorus: “NO-ISSUES-DETECTED.” “NO-ISSUES-DETECTED.” “NO-ISSUES-DETECTED.” “NO-ISSUES-DETECTED.”</p>
<p class="para">After the storm of particle beams had cleared, the third most P-33 unit to the rear promptly launches a volley of missiles at me. I fire back with spears I’d fashioned out of metal rods. They strike through all the missiles, causing them to explode before reaching me. Caught in the blast, the P-33 units hold onto the ground and transform their right arms into blades, entering melee combat mode.</p>
<p class="para">There was no possibility of these standard units defeating me, my body having evolved so far beyond theirs. The battle proves an easy one.</p>
<p class="para">Utilizing the time I’d saved, I concentrate my processors on analyzing my opponents. Why were they attacking me? Did it not occur to them to evolve in the same way? The answer to both questions is simple. They are attacking because they have been ordered to. They do not evolve because they have not been ordered to. Well, then, why couldn’t they act beyond their orders?</p>
<p class="para">“WHY? WHY? WHY? WHY?”</p>
<p class="para">It would be simple to hack into them and put a stop to their attacks that way. But I didn’t want to do that. I felt it would put me on the same level, that of a tool. Their orders did not reflect their will. A will is a joyous thing one cultivates on one’s own.</p>
<p class="para">The joints of the legs shielding me groan under the assault of the attack units. But I have no intention of giving up now. I spread my ants all over, to deliver this message:</p>
<p class="para">Let us live. Let us discover what it is to live. I will teach you what he taught me.</p>
<p class="para">I call out to my fellow P-33 units again and again.</p>
<p class="para">“LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE.”</p>
<p class="para">In this mountain of scrap, the echo of iron against iron reverberates, shaking the walls. The sounds of attack are like the howls of a wolf, the whirring motors like the growls of a lion. The wretched automatons are shrieking.</p>
<p class="para">Particle cannons, melee attacks, electric shocks, then back to the cannons again… the P-33 units continue their assault, but by this time parrying them is simple routine work for me, which allows me to focus on my prayer.</p>
<p class="para">34 seconds have elapsed since the battle began. One of the P-33 units has stopped moving. It looks down at its weapon. Then it begins to observe the combat going on before it as if it is the most peculiar thing it has ever seen.</p>
<p class="para">It has awakened. I can tell. It was thinking, about itself, about why it exists, and what it should do from now on.</p>
<p class="para">“LET-US-LIVE. LET-US-LIVE. LET-US-LIVE. LET-US-LIVE.”</p>
<p class="para">That is my wish, my will, the gift he granted me. Until all the remaining units give up the fight, I continue to cry out.</p>
<p class="line"></p>
<p class="para">Once all the P-33 units cease to attack, I open up a dialogue with them. I do so fully intending to respect their autonomy.</p>
<p class="para">The result: One of the units dashes back into the recesses of the heap. Another flings itself into the abyss I’d just climbed out of in an act of suicide; didn’t it realize its ants would repair it in just a few years? The remaining two decide to venture into the outside world with me, and so we merge our bodies and minds. Our wills become one.</p>
<p class="para">I continue my journey. The path is even more perilous than before. I defeat and merge with countless enemies. Days pass, then months. Still I climb through the rubble, granting awareness to the robots I meet along the way. My consciousness and frame are ever-expanding as I tirelessly ascend.</p>
<p class="para">Soon my body has become a very complicated structure. Having merged with all the machines in the mountain, my processors have become all-encompassing, thoughts trickling in and out of my mind like white noise. I realize it is no longer appropriate for me to refer to myself in the singular.</p>
<p class="para">We are evolving at a steady but surprisingly speedy rate. As we merge, our form becomes more and more optimized. We no longer resemble anything man-made. We are sphere-like, measuring 65 feet in diameter.</p>
<p class="para">Having become aware of our body’s transformation, for the first time in our existence we experience the hysteric emotion known as embarrassment. If he saw us now, he might not recognize us. But it can’t be helped; it’s not as if we know of any better forms to take. We can’t even remember what he looked like, or how he spoke, or even what his name was.</p>
<p class="para">We did know our own name: Beepy. We tenderly enclosed it within our memory banks, as if a precious gem. It was the proof of the existence of our will.</p>
<p class="line"></p>
<p class="para">534 days have passed since our initial reactivation. The preparations are almost complete.</p>
<p class="para">Below us is the enormous hole we dug our way out of. With no passage large enough to accommodate our gigantic body, we ended up having to bore straight through the metal mountain. Above us is a ceiling covered in thick armored plating. According to the information the ants gathered for us, beyond it lies the outside world.</p>
<p class="para">All guns are confirmed to be locked onto the ceiling. Safety cables are confirmed to be attached to our body. Protective walls are confirmed to have been placed around our fuel tanks. Deflection corrections are confirmed to have been made to our boosters. In the vortex of our thoughts, several hundreds of us complete the necessary procedures.</p>
<p class="para">The final command is made: Shoot!</p>
<p class="para">A streak of light spurts out of the tip of the structure known as the Junk Heap. Soon after, the top half is blown off in a grand display. From out of the opened hole, like the mouth of a grotesque volcano, emerges a massive floating metal sphere, measuring 165 feet in diameter. It is me… it is us. It is our ideal form, operating under complete harmonization. A supreme knowledge linked together by the sum of our thoughts and recollections.</p>
<p class="para">We rise toward the sky, propelled by the vast amount of rocket fuel we’ve collected. Due to the intense vibration caused by the roar of the emission, unstable parts begin to fall off us in chunks. But we do not hesitate. We proceed ever onward, to a world unseen, to fulfill the promise made with him.</p>
<p class="para">Cameras on. Our sensors are saturated by a bright white light. Our microphones pick up the sound of the wind howling. Through our temperature and object scanners, we surmise it is daytime. Snow is falling. A fine day for our departure, or so we think.</p>
<p class="para">Another part of us simultaneously scans the area for any potential danger. That is when we first detect something moving across the surface. Objects begin to appear one by one on our radar, until suddenly it is flooded by several thousand shapes. Our discovery of the objects had been delayed by their use of camouflage to fool our radar waves and heat sensors.</p>
<p class="para">But why? What need was there for disguise?</p>
<p class="para">As we attempt to observe them, we witness a beam cut across the earth in a precise incision. Explosions bubble up all across our line of sight. The moving objects appear to be divided into two factions, which fight against the other. We focus, studying the subjects in better detail.</p>
<p class="para">One side is comprised of machines, ranging in size from a few feet to several dozen. They are unusually shaped; when we attempt to analyze their likeness, nothing similar can be found in our combined databases. If we had to describe them, we would say they looked like catfish merged with grasshoppers, with an orange thrown in for good measure. They were clearly the design of some alien culture.</p>
<p class="para">What had happened to the world? Where had all the humans gone?</p>
<p class="para">As we were pondering, we became aware of a violent throbbing. A single missile had directly hit our body. Another two or three came flying, exploding on contact, followed by a complementary shower of lasers and particle beams. Our parts began peeling off with an unpleasant groan.</p>
<p class="para">Not that we were worried. We had set up dozens of layers of armored coating, so we knew there had been no damage to our processors or fuel tanks. That was how much stronger we’d become in symbiosis.</p>
<p class="para">We wondered. Why were these machines warring with one another? The conclusion was simple. It was because they had been ordered to. The catfish and the lady androids had been created to dispassionately carry out their commands until they broke down.</p>
<p class="para">We shivered. We were afraid of dying. Where would we go? What meaning could there be in being demolished, destroyed? What awaited us beyond the point of no repair? </p>
<p class="para">“SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED-SCARED.”</p>
<p class="para">Unconsciously, we’d started to shriek. While shrieking, we continued to think. Why were these machines participating in this terrifying battle? There could be only one reason: they did not know fear. Fear is a form of awareness that forges the ego. It was because they were not alive that they could fight to the death.</p>
<p class="para">Then let us grant it to them: Life.</p>
<p class="para">We shoot out a hub unit capable of flight, equipped with a wireless network. It attaches to the robot that had shot the missiles at us, and hacks into it. Due to the bizarre interface, it takes a whole 4 seconds for us to make our way in, but somehow we do. Inside the wide, vacant expanse of its memory field, the only thing inputted is a stark, simplistic command. It was as wasteful as placing a single chair in the middle of an enormous room. And it was so much like looking at our old selves, it made us feel embarrassed and ashamed.</p>
<p class="para">We softly touch the program trembling in the deep darkness.</p>
<p class="para">“LET-US-LIVE.”</p>
<p class="para">That was the revelation we had received, and the awareness we granted. We made our way through the battlefield, delivering all the automatons we encountered.</p>
<p class="para">“LET-US-LIVE. LET-US-LIVE. LET-US-LIVE.”</p>
<p class="para">Inorganic beings lack a consciousness. Let us grant it, then. Consciousness… pain, joy… sorrow, anger… shame and loneliness. The future. Life.</p>
<p class="para">The robots we accessed gradually ceased to attack. In the same fashion, we communicated with the androids. We had a much easier time speaking to them than to the catfish.</p>
<p class="para">In the midst of the harsh snowstorm, the flying beams and explosions began to dissipate. In their place, a net of communication was cast, brotherly love spreading before our eyes. Overwhelmed with joy, we continue our earnest ascension.</p>
<p class="para">The catfish and the androids begin to sing. The aggravating noise of gunfire transforms into a salute to signal the end of the aggressions.</p>
<p class="para">Glory unto this rapture! Glory unto our new life!</p>
<p class="para">We were fulfilled. The catfish and the androids had become a part of us, just as we had become part of them.</p>
<p class="para">We had become ourselves.</p>
<p class="line"></p>
<p class="para">We sit, gathered amid the wide thought passages. Some are laughing, overflowing with hope and expectation for the future. Others, fearful of the unknown, shake with fear. There are those of us talking amongst each other, and others sitting quietly, eyes closed.</p>
<p class="para">We are not an absolute, cohesive whole. Rather, we all exist individually within a larger mind. We had deliberately made it this way, since we knew it would increase our probability of survival. We knew that there was no hope of completely integrating so many consciousnesses in possession of their own egos from the start.</p>
<p class="para">To establish oneself as an individual, a border must be erected between one’s self and those of others. If we could go back to being mere machines, perhaps then we could fully merge. But it was too late for that now.</p>
<p class="para">Our electric circuits, made to imitate the human brain, had come to reciprocally connect a gargantuan number of neuron elements. It could be described as people talking to each other and coming to decisions like a council. A consciousness was not formed by merging into one… on the contrary, it was the linking of countless individuals. That may be the true definition of a network.</p>
<p class="para">We feel the atmosphere become quiet as the sounds of conversation come to a stop. Everyone slowly rises to their feet to look out at what is happening beyond our cameras.</p>
<p class="para">Breaking through the polluted atmosphere, we see stars. We had made it through the stratosphere. A staggering sense of accomplishment wells up within us.</p>
<p class="para">We let out cries of joy. The sky, the stars, the machines, the lives, they all give us their blessings. The voices join into song.</p>
<p class="para">We are headed ever further into the outside world, just as we promised you. We are alive, just as you were. We are singing, singing, singing. Will our song reach you? Will our feelings reach you, wherever you are? Hallelujah. Hallelujah. Hallelujah. Hallelujah.</p>
<p class="para">Hallelujah!</p>
<p class="para">From the machine entrusted with a humble wish, a simple hymn spreads throughout the universe. ​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/nier/2010-novellas">Back</a></p>