---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>死</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/D2s6LyC.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/SO5y9nS.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/3vlNFLq.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/f9vM51X.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
}
</style>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/lordpopo">Lord Popo</a></p>
<p class="title">Original link: <a href="https://www.jp.square-enix.com/nier-anniversary/15th-novel/"><u>NieR [U]ndecided Option</u></a></p>
<p class="line"></p>
<p class="para">When I—<i>when I</i> opened my eyes, there was a boy standing before me. A boy with the same face as mine—the one I had called the Shadowlord.</p>
<p class="para">"You remembered,"
    <br>the boy said.</p>
<p class="para">Yes, I had remembered.
    <br>Inside the antenna tower, I had seen my memories—reclaimed them.</p>
<p class="para">My name is Nier.</p>
<p class="para">And this kind boy who guided me through the darkness after I awoke, bereft of memory—he was the very one I had once called the Shadowlord.</p>
<p class="para">Once, I had hated him. But that feeling was gone now.
    <br>To forgive or to resent—perhaps we weren’t even meant to be bound by such things.</p>
<p class="para">Gestalt and Replicant.
    <br>We were mirror images of each other, nothing more and nothing less.</p>
<p class="menu"><a href="/nier-anniversary/e98193/sin">Next</a></p>
<p class="menu"><a href="/nier-anniversary/e98193/sinspecial">Special Limited Time Censor</a></p>
<p class="menu"><a href="/nier-anniversary/15th-novel/e6adbb/light">Back</a></p>
