---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---
<style>
    #number{
        font-size: 400%;
        margin-top: 1%;
    }
</style>
<TextLayout>
</TextLayout>
<title>Chapter Two</title>
<p style="margin-top: 1cm; font-size: 300%;">Chapter Two</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/mrkusabi">MrKusabi</a></p>
<p class="title">The Dragons' Chapter</p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>
1</b></font></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">The only thing she dreamt of was
falling.</p>
<p class="para">Having woken up screaming in the
dead of night, Four buried her face into her pillow with a sigh. The
feeling of her back—wet with sweat—was disgusting.</p>
<p class="para">But if she changed clothes now,
she’d be wide awake, and when she had the same dream, she’d just
have to change <i>again</i>. She’d change, and later, when she had
the same dream <i>yet again</i>, she’d change <i>yet again</i>…gah,
it never ended. Lately, she’d been having the same dream over and
over again at night.</p>
<p class="para">She’d never really leaned towards
pleasant dreams, but it hadn’t been <i>this</i> bad. It was only in
the last six months or so that her dreams had become exclusively
awful. It had reached the point where she was woken by her own
screams every night.</p>
<p class="para">But at first, the dream didn’t
repeat over and over. Once she changed her sweat-soaked nightclothes
and crawled back in bed, she could sleep through the rest of the
night. But the frequency was gradually increasing, and now she was
spending more time trapped in nightmares than resting.</p>
<p class="para"><i>Why is this happening to me? I
haven’t done anything bad! I only do proper things!</i> Four chewed
at her nails. It was a habit she had finally gotten rid of, but
recently she had started up again.</p>
<p class="para"><i>I thought the bad dreams started
six months ago, but they might’ve</i> really <i>started a year ago.
They must have. I’m having bad dreams because my sisters and I made
a mistake and tried to kill each other!</i></p>
<p class="para"><i>That’s why I told them to stop!
But Zero and One both wouldn’t listen to me…</i></p>
<p class="para">“Lady Four.”</p>
<p class="para">There was the sound of a timid
knock, and an even more timid voice. <i>…It’s about that time.</i></p>
<p class="para">“You seemed to be crying out in
your sleep.”</p>
<p class="para">Every night, the disciple Decadus
would remain outside her door, a bodyguard for the Intoner. After
hearing her shout, he must have hesitated on whether or not to call
out to her, but it seemed he had mustered up the courage to knock on
the door. Four hated his meekness.</p>
<p class="para"><i>Is it not the duty of a disciple
to protect their Intoner? That’s why you don’t ‘begrudge’
being the night guard in front of my door? Are you stupid? If that’s
the case, you should’ve called out immediately when you heard me
yell! No, you should wake me up</i> right <i>when you know I’m
having a nightmare! Better for you to watch over me by my bedside. If
you’re going to stay up all night anyways, it’s the same if
you’re inside or outside, right? Have some sense, why don’t you!</i></p>
<p class="para">Irritated, she smashed a pitcher on
the floor.</p>
<p class="para">“Lady Four?! Are you alright?!”</p>
<p class="para">The sound of the porcelain
shattering must have surprised him. Four was getting more and more
annoyed as she thought of him panicking in front of the door.</p>
<p class="para">“Shut up!”</p>
<p class="para"><i>You incompetent pervert! It’s
only your body that’s big! Your brains wouldn’t even fill the tip
of your pinky finger! Have you</i> ever, <i>for even a</i> moment,
<i>done anything</i> useful<i>? The only thing you can manage is
groveling when you get kicked!</i></p>
<p class="para">“Lady Four, um…”</p>
<p class="para">He was <i>finally</i> probably
trying to ask permission to enter. That just fanned Four’s fury.</p>
<p class="para">“Shut up! Shut up! Shut up!”</p>
<p class="para">She leapt out of bed and wrenched
open the door. There was a muted thud. The solid wooden door seemed
to have scored a direct hit to Decadus’s forehead, but she didn’t
care. The man was a pervert who loved being hurt anyways.</p>
<p class="para">“You waste of space!” She kicked
him in the groin. He groaned like a squashed frog as he fell to his
knees. “Lick the floor! You shitty impotent bastard!”</p>
<p class="para">She stomped on his head and sent him
flying with a kick to the ass as he crawled on all fours. He gave no
resistance. She was sure his face, pressed against the floor, was
slack with absolute delight.</p>
<p class="para">“Just drop dead already! Die!
Die!”</p>
<p class="para">As she kicked him relentlessly, a
sudden suspicion formed.</p>
<p class="para"><i>Could Decadus be deliberately
trying to provoke me? His goal couldn’t possibly be to get on my
nerves and make me lose my patience while acting as though he were
serving an Intoner, could it? Getting me exhausted, making me lose
control…was that the point?</i></p>
<p class="para"><i>Ah, that’s it. Decadus was an
enemy agent. I was careless. I truly didn’t think they’d involve
even disciples!</i></p>
<p class="para">She first discovered the “enemy”
right around when she began having the nightmares frequently. The
kitchen staff were trying to poison her. So she executed them all.
The reason no poison was found was no doubt because they disposed of
it just before they were discovered.</p>
<p class="para"><i>Even then, Decadus objected,
saying I was “worrying to much” and I should “re-evaluate.”
Basically, it looks like he was protecting his friends.</i></p>
<p class="para">It was the same when the maids were
planning some sort of conspiracy, and when the soldiers who served as
her security detail plotted a rebellion. Of course, no matter what
Decadus said, Four had no intention of allowing for enemy agents.</p>
<p class="para">“Lady Four?” Decadus looked up
at her, puzzled, probably because the kicks suddenly stopped. “Um…?”</p>
<p class="para">Normally, this was where Four would
suddenly fly into a rage, exhausting herself as she beat him even
more violently over and over, but she didn’t feel like it anymore.</p>
<p class="para">“Leave.”</p>
<p class="para">His eyes went wide.</p>
<p class="para">“Didn’t you hear me? I said
leave. From the Land of Mountains. Don’t show yourself in front of
me again. I won’t be tricked again. I <i>knew</i> something was
weird. Execution after execution, but enemy agents kept getting in.”</p>
<p class="para">“Lady Four, that’s…”</p>
<p class="para">“The reason I’m not killing you
is so you can give a message to the enemy: Leave this country. Good?
You’ll tell them for sure?”</p>
<p class="para">“This is a misunderstanding! I,
Decadus, would never…”</p>
<p class="para">“I said I won’t be tricked!”</p>
<p class="para">Decadus clung to her as he groveled
disgustingly. “Please, anything but that! If I were to leave your
side, Lady Four, there would be no one left to protect you!”</p>
<p class="para">She silently sent him flying to the
end of the hallway with a kick. Still, he rose with a desperate look.
Like vermin that tenaciously springs up even when squashed or driven
off.</p>
<p class="para">“And you cannot summon your daemon
alone, Lady Four! So you would be in danger if push came to shove…”</p>
<p class="para">“Shut up!”</p>
<p class="para">She struck his pleading face as hard
as she could and then kicked him down the stairs. His large body fell
awkwardly, noisily tumbling down the spiral staircase.</p>
<p class="para"><i>You thoroughly</i> frustrating
<i>man! There’ll be no one to protect me? I can’t do the
summoning alone? Are you stupid? When did I say I wanted your help?</i></p>
<p class="para">“Leave this country before the day
is out! If you appear before me from tomorrow, I’ll kill you!
Understand?!”</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">With this, there were no more enemy
agents. None. Because there was no one left in the fortress. She had
killed them all.</p>
<p class="para"><i>Should I hide somewhere? A place
that can’t be found by the enemy. Yes, it’s simple to hide if I’m
alone. No matter how many enemy eyes, I can fool them all.</i></p>
<p class="para"><i>The enemy? Who</i> is <i>the
enemy? No, the enemy is the enemy. Yes, the enemy.</i> Everyone’s
<i>the enemy. So that’s why I need to kill them. Everyone,</i>
everyone<i>, must be killed…</i></p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>
2</b></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">After disposing of Five, they left
the Land of Seas immediately. The soldiers and people of the country
were furious at the murder of the Intoner. Zero absolutely couldn’t
afford to deal with them all.</p>
<p class="para">“The Land of Mountains? Really,
the <i>farthest one</i>?”</p>
<p class="para">Dito was puzzled when he heard where
Zero had ordered Mikhail to go. The boy, Five’s disciple, had
followed Zero after his master’s death as though it were the
natural response.</p>
<p class="para">According to Dito, Zero was someone
he owed a great deal, as she had “saved him from the gross, slutty,
stupid Blubber Bags.” However, judging from his demeanor, it was
uncertain if he truly felt indebted or not. Was it just his own sort
of empty compliment, or some sort of play on words?</p>
<p class="para">“Well, so long as I can’t see
the ocean, anywhere’s fine with me. I’m sick of the ocean.”</p>
<p class="para">Maybe this was Dito’s true motive
for accompanying Zero. Or maybe he sensed he shouldn’t stop serving
an Intoner.</p>
<p class="para">Disciples are, by nature, beings
which serve Intoners. So what would happen if a disciple left an
Intoner? It didn’t seem likely Dito knew, but he might have
instinctively sensed something.</p>
<p class="para">As for Zero, she didn’t have to
worry about increasing her fighting force, and more than anything
else, it was good to have a partner for some sexual release nearby.
It would save her the trouble of procuring one.</p>
<p class="para">“At any rate, I didn’t think <i>all</i>
Intoners were damned sex-crazed sluts, yeah? I thought it was just
ol’ Blubber Bags.”</p>
<p class="para">Dito forced a huge yawn to show his
complaint about having to keep Zero company till late the previous
evening.</p>
<p class="para">The tremendous Power of Song was not
something that could be used without a price. Utilizing it increased
one’s sex drive. This was the reason behind the unusual lust that
plagued Intoners.</p>
<p class="para">The Flower really seemed to love
irony. She got so fed up with being forced to be with men from such a
young age that she turned to murder. And this body couldn’t be
without them.</p>
<p class="para">“But if I’m gonna do someone,
I’d rather it be you.”</p>
<p class="para">“Thanks. Really.”</p>
<p class="para">“Unlike ol’ Blubber Bags, you’re
slender and nice to hold. I don’t have to worry about being crushed
while we’re fucking. Even if it’s being compared to something
like that, it makes ya happy, right?”</p>
<p class="para">Mikhail interrupted before Zero
could give an exasperated reply. “Hey, hey, what are you talking
about? Aren’t you happy to get a compliment? I’m always happy
when I get compliments!”</p>
<p class="para">She thought he had been flying
rather quietly, but it seemed he had been listening attentively.</p>
<p class="para">“This conversation’s not for
kids,” Dito interjected.</p>
<p class="para">Mikhail voiced his discontent. Zero
couldn’t help the wry smile at the silly quarrelling between the
two children, born only a little apart. “You say that, but you’re
a kid, too.”</p>
<p class="para">Dito turned to her with a cheeky
expression. “What was that, ‘Grandma’?”</p>
<p class="para">In appearance, Dito seemed like a
charming youth, but his foul mouth spoiled it. When Five died, she
had assumed the vitriolic abuse was the result of all the pent-up
resentment that he couldn’t hold back any longer, and that he
wouldn’t be like that with others, but she was wrong. He spoke
mercilessly even towards those he held no grudge against.</p>
<p class="para">It seemed that Five had been using
the Power of Song to forcefully straighten out Dito’s speech and
behavior. The backtalk and impertinence were unnecessary for a
“decoration” kept nearby.</p>
<p class="para">Zero, however, had decided to leave
Dito as he was, no matter what he said or did. She had no desire for
“decorations,” nor did she have time to pay attention to every
word out of the kid’s mouth.</p>
<p class="para">“I <i>will</i> kill you, brat.”</p>
<p class="para">Besides, when she was really pissed,
a quick glare would shut him up. He was clever enough to know how far
was acceptable and what lines he shouldn’t cross.</p>
<p class="para">“Back to what I was saying,” he
shifted the subject.</p>
<p class="para">Like this. It would be hard to call
his talking cute, but it wasn’t hard to handle.</p>
<p class="para">“Why the hell the Land of
Mountains? There’s an Intoner in the Land of Sands, right, so why
not go to the closest one?”</p>
<p class="para">“If we fly over the ocean, it’s
not that far.”</p>
<p class="para">Plus, Five’s murder would reach
the ears of One in the Cathedral City within a day or two. So what
would One’s next move be? Wouldn’t she try to gather the
remaining sisters in one place? That was how she defeated Zero a year
ago. A win like that would be hard to forget.</p>
<p class="para">If that were the case, the Land of
Sands would be dangerous. Not only was it close to the Cathedral
City, but it was adjacent to both the Land of Forests <i>and</i> the
Land of Mountains. On the other hand, since the Land of Mountains was
the farthest from the Cathedral City, it was unlikely to be used as a
rendezvous point.</p>
<p class="para">Moreover, now that Five was dead,
the fleet from the Land of Seas, having lost its commander, was as
good as destroyed. There was no anti-air weaponry that could pose a
threat to Mikhail, at least not from the sea. If they continued
flying offshore from the Land of Seas, they would reach the Land of
Mountains without being attacked.</p>
<p class="para">“Well, either’s fine with me.
Sands or Mountains. I just wanna hurry up and get somewhere I can’t
see the ocean.”</p>
<p class="para">“You really hate the ocean that
much?”</p>
<p class="para">“I hate it. I don’t get how
people could say they like it. The stinking, sticky wind. Like Lady
Five. Stinking and <i>sticky</i>. Gah, I feel sick just remembering
it.” He mimed throwing up. “Gah, nope, nope!”</p>
<p class="para">Mikhail, listening in as always,
admonished him. “You’re a disciple, right? You shouldn’t talk
bad about your Intoner like that!”</p>
<p class="para">“Like I care. She already kicked
the bucket. Turned into a big mess. Nah, went back to normal, rather.
Those meatballs just turned back into minced meat.”</p>
<p class="para">“You shouldn’t talk bad about
the dead!”</p>
<p class="para">Though Zero didn’t teach him,
Mikhail occasionally said some respectable and sensible stuff. <i>Where
the heck did he pick</i> that <i>up?</i> she wondered, half-surprised
and half-amazed.</p>
<p class="para">“It’s just, I felt really bad
for Five, you know? She was crying ‘cause she didn’t wanna die.”</p>
<p class="para">“That was just an act.”</p>
<p class="para"><i>It doesn’t matter if they’re
crying or laughing, I’m gonna kill all my sisters. I</i> must <i>kill
them.</i></p>
<p class="para">“But I don’t think killing’s
good. I’m against killing your sisters!”</p>
<p class="para">“Michael wasn’t against it.”</p>
<p class="para">“Huh?”</p>
<p class="para">“Not once did he ever say shit
like ‘Don’t kill your sisters!’”</p>
<p class="para">It was an underhanded tactic,
referencing Michael to shut Mikhail up. And without revealing the
important part.</p>
<p class="para">The reason Michael never said not to
kill them was because he knew the whole story. Michael knew the other
Intoners were not really her “sisters,” just fakes created by the
Flower, seeds of a world-ending calamity. And that only dragons could
destroy the Flower.</p>
<p class="para">However, it had been barely a year
since Mikhail reincarnated. He was a child who barely understood even
half of <i>himself</i>. It was still too early to tell him
everything.</p>
<p class="para">“<i>After we deal with my sisters,
then…I want you to kill me.”</i></p>
<p class="para">Still too early to say the same
words.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para"><br/>
<br/>

</p>
<p class="para"><br/>
<br/>

</p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>3</b></font></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">Two years ago. After failing to
catch her sisters, the first thing Zero had to do was hunt down a
dragon. When she had only just barely begun to walk, she headed
towards the steep, inaccessible mountains. She had heard dragons,
disliking contact with humans, made their dens at the top.</p>
<p class="para">However, she did not encounter
Michael in the mountains, nor any other remote, inaccessible place.</p>
<p class="para">It was on a completely ordinary
beach. Zero—still a fugitive—was fighting pursuing soldiers. Out
of all the places, a dragon barged into the middle of that battle.
That was Michael.</p>
<p class="para">“How dare a lowly human loose an
arrow at one of the dragon race! Unforgiveable! Away with you!”</p>
<p class="para">It seemed he had been hit by a stray
arrow. The archers’ aim was Zero. Even if their shots had happened
to be wild, Michael must have been flying pretty low to be hit by an
arrow aimed at a ground target.</p>
<p class="para">“My name is Michael! A proud
dragon…Ow! Hey! You didn’t let me finish!”</p>
<p class="para">Given that he was getting angry at
being hit by an arrow as he was giving his pompous introduction, he
was pretty far from a “proud dragon.”</p>
<p class="para">Furthermore, the pissed off Michael
was breathing fire indiscriminately. Not just against the archers,
but Zero as well.</p>
<p class="para">“HEEY! Where the fuck are you
aiming, you stupid dragon?! That’s dangerous!”</p>
<p class="para">“Stupid? Stupid, you say?! Me?
…No, no, no. What crass language you direct towards me, one of the
dragon race!”</p>
<p class="para">This time the flames that rained
down were clearly targeting her. When she dashed to avoid them,
Michael shouted his ridiculously absurd command.</p>
<p class="para">“Woman! Stand still! I cannot hit
you!”</p>
<p class="para">“And let you hit me? Dumbass!”</p>
<p class="para">“WHAT DID YOU JUST—! You should
just quietly obey, but you keep saying ‘stupid, stupid’… Like a
human could face off against a dragon!”</p>
<p class="para">“No way in hell am I ‘quietly
obeying!’ Besides, what’s wrong with calling stupid ‘stupid’?!”</p>
<p class="para">“The stupid one is you!”</p>
<p class="para">It was a ridiculously pointless back
and forth. Michael hurled abuse and flames at Zero while Zero hurled
double the abuse back, on and on. When the surroundings were burned
and all the soldiers had been burned to crisps, Michael finally
halted his attack and spoke.</p>
<p class="para">“Woman. There is a Flower within
your body, is there not?”</p>
<p class="para"><i>Even a dumb-looking dragon is a
dragon</i>, Zero thought. He could sense the Flower devouring her
even without her saying anything.</p>
<p class="para"><i>If my sisters didn’t exist,
it’d be fine to just let this dragon kill me. But just that’s not
enough. After I take care of all of them, then I’ll get him to kill
me. I won’t budge on the order.</i></p>
<p class="para">But Michael was quicker than Zero to
start the conversation.</p>
<p class="para">“Woman! Overcome the trials I will
give you! If you do, I will accept you as a comrade!”</p>
<p class="para">“What?”</p>
<p class="para"><i>It doesn’t just look dumb. This
dragon is</i> actually <i>dumb. Quite a bit so.</i></p>
<p class="para">“The pinnacle of the proud dragon
race, I—Michael—am calling for you to become my comrade, crossing
the border between races.”</p>
<p class="para">“Nah, I didn’t really ask for
that.”</p>
<p class="para">“Show some gratitude, woman!”</p>
<p class="para">“Like I said, didn’t ask. Or
well, I want something else.”</p>
<p class="para">She anxiously wondered if relying on
him was actually okay. The power of his flames was certainly
considerable. As she didn’t know any other dragons, she couldn’t
say for certain if he was indeed the strongest or not, but it looked
like he had about that amount of power. Still, power or no, his
comprehension and judgement were sorely lacking…</p>
<p class="para">“Stop with the complaining! Have
some grace and just get on my back!”</p>
<p class="para">One of the reasons she, against her
better judgement, climbed up on that silvery back was that the
chances of encountering a dragon other than Michael were almost
nonexistent. Another reason was probably, “Why the hell not.”</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">However, Zero soon came to fiercely
regret her own hastiness. Michael’s “trials” were ridiculous.
They were nothing but stuff like suddenly being abandoned in a forest
full of roving monsters or being dropped on some unspeakably steep
mountaintop with an “Escape from here under your own power!”
Finally came “Prove your strength by besting me in combat!” It
was the most asinine bullshit.</p>
<p class="para">But while repeating that asinine
bullshit, Zero was talking to Michael about her life. Going from a
prostitute to a murderer; being arrested and left to the elements on
the execution grounds; dying while cursing the world; being infected
by the Flower. Her failure in destroying the Flower with her own
hands, and the accidental birth of her five sisters.</p>
<p class="para">And then she realized: it was the
first time she had told anyone of her past without uttering a single
lie. Since she didn’t trust anyone but herself, even had she had a
companion to talk to or the time to do so in the first place, she
hadn’t wanted to do anything that could tip her hand.</p>
<p class="para">That she would talk about her time
as a human after she no longer was one, and with a companion that
wasn’t human. She thought it quite strange. But not at all
unpleasant.</p>
<p class="para">On the other hand, Michael didn’t
try to talk about his past or himself much. Even when asked, he would
turn away, curtly responding “I forgot” or “Don’t know.” He
probably didn’t want to talk about it. Though he had lived far, <i>far</i>
longer than a human, Michael was still terrible at lies and secrecy.</p>
<p class="para">“…Well, that’s my story.”</p>
<p class="para">When Zero finished her tale,
Michael, having remained as motionless as a stone, suddenly spoke.
“Since time immemorial, dragons have been the natural enemy of the
Flower, and dragons must destroy it, or so I have heard. But…”</p>
<p class="para">“But?”</p>
<p class="para">“In the end, that’s just tales
from the elders. There’s not one bit of grounds for it, nor does
there seem to be any proof, either.”</p>
<p class="para">The “elders” Michael spoke of
were the dragons 10,000 years old and counting, to whom Michael, at
8,000, seemed young. Though from a human perspective, both were
pretty similar. Anything over a millennium was hard to imagine.</p>
<p class="para">“I have always had doubts. The
legends passed down about the Flower have always been questionable.”</p>
<p class="para">That was why, when Michael saw the
human that was host to the Flower before his eyes for the first time,
he was particularly curious and made the outlandish suggestion that
they become companions.</p>
<p class="para">“But you understand my story,
right? The Flower will bring disaster to the world. They’re not
wrong that dragons should destroy it.”</p>
<p class="para">Through being together with Zero
during the ridiculous “trials” he imposed, feeling the presence
of the Flower nearby, Michael must have begun to understand: the
“ancient legends” weren’t just shady crap.</p>
<p class="para">“But there are still so many
things that aren’t clear. I am still…not convinced.”</p>
<p class="para"><i>Why does the Flower exist? Why
can only dragons destroy it?</i> The “unclear things” Michael
spoke of probably referred to those questions. But for Zero, such
things didn’t matter. The Flower was clearly evil. And it was also
clear that it was <i>her</i> mistake that allowed that evil to
multiply.</p>
<p class="para">“I don’t have time for this.”</p>
<p class="para"><i>While this is happening, that
evil Power is growing. Both my own Flower, and my sisters’. There’s
not much time left where I can still be me and they can be the
“Intoners that brought peace to the world.”</i></p>
<p class="para">“So,” Zero said, fixing her gaze
on Michael. “I want you to help me kill my sisters that were born
from the Flower. And when we’ve dealt with my sisters…I want you
to kill me.”</p>
<p class="para">Silence followed. Michael closed his
eyes for a bit, as though remembering something, but finally, he
quietly replied, “Alright.”</p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>4</b></font></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">Zero’s judgment was correct, as
they did not get attacked while flying over the sea. Not to say they
didn’t encounter the fleet at all, but it seemed like the chain of
command wasn’t functioning anymore as the cannons didn’t so much
as twitch nor did the ships give chase. Other than the alternating
grumblings of Mikhail—bored of the monotony above the ocean—and
Dito—who hated the sea from the start—their flight was the very
picture of tranquility.</p>
<p class="para">“The Intoner of the Land of
Mountains is…Four, right?” Dito questioned as the view below
changed from the sea to the green of the land. Probably looking for
new fodder for his bitching.</p>
<p class="para">“What’s Four like?” Mikhail
jumped in, exceedingly interested in the subject. Out of sheer
curiosity, no doubt.</p>
<p class="para">“She’s a virgin.”</p>
<p class="para">Both Mikhail and Dito were silent.
Of course, their silence was for different reasons. Mikhail was
confused by the sudden appearance of a word he didn’t know, while
Dito wasn’t expecting the answer to the unexpected question to be a
single word and was waiting for a follow-up.</p>
<p class="para">However, Dito was the first to open
his mouth, growing impatient when Zero didn’t continue. “Is that
it?”</p>
<p class="para">“She’s a <i>virgin Intoner</i>.
Think about it.”</p>
<p class="para">“Ah, I see. No more explanation
needed. A <i>virgin</i>? When all Intoners are slutty sex maniacs?
Dear god, the repression! I bet she’s a real pain in the ass. Being
ol’ Blubber Bag’s disciple was tedious, but <i>that</i> one seems
like a different kind of annoying. My sympathy to Four’s disciple.
She’s probably making crazy demands of him knowing he can’t
disobey. Probably smarter than ol’ Blubber Bags. But I don’t
think there’s anyone in the whole world dumber than <i>her</i>.
Anyways, I get the feeling her being smarter makes her more of a
pain, right? Frustrated, persistent, crafty…What the hell is she?!
Someone like that exists?”</p>
<p class="para">Dito had always been chatty, but it
seemed when it came to bad-mouthing Intoners, he could yammer
endlessly.</p>
<p class="para">“An Intoner like that must be like
something from Hell. I can’t believe it. I mean, it boggles the
mind…”</p>
<p class="para">“Hey, hey. What’s a ‘virgin’?”
Mikhail blurted out.</p>
<p class="para">Appearing annoyed at the
interruption, Dito responded frankly in an unpleasant tone. “It’s
a bit early for you, kid.”</p>
<p class="para">Zero noticed Mikhail was about to
protest.</p>
<p class="para">“Hey! Head to the ground.”</p>
<p class="para">“Why?”</p>
<p class="para">“Listen, you can see the person
over there, right?”</p>
<p class="para">Even from a distance, they could see
it was a large man. Four’s disciple. “Ah,” Dito murmured. As
fellow disciples, they probably knew each other’s faces.</p>
<p class="para">“Land near that asshole over
there.”</p>
<p class="para">There was no sign of Four around,
but given her disciple was here, she couldn’t be far.</p>
<p class="para">“Can we not land nearby? He’s
gonna attack us, isn’t he? His Intoner’s still alive. This smells
like an obvious trap, right?”</p>
<p class="para">“Trap? What about it?”</p>
<p class="para"><i>If anything, it’s convenient.
We don’t know where Four is. If they’re setting traps for us,
we’ll at least catch their tail. If not, we’ll catch that
disciple and make him tell us all about Four.</i></p>
<p class="para">“Can we just be a bit cautious?”
Dito sighed as the ground rushed up. She could see the confused
expression on the face of Four’s disciple.</p>
<p class="para">“Then stay here!”</p>
<p class="para">She kicked off Mikhail’s back,
leaping down. She drew her sword as she landed. The man just stood
there, eyes wide, not drawing a weapon. It didn’t look like he had
any interest in fighting at all.</p>
<p class="para">“You’re Four’s
disciple…right?”</p>
<p class="para">She approached him, her sword still
drawn. He looked like a timid, middle-aged man, but his master was
Four. Just like her—black-hearted though she played the good
girl—couldn’t he also be brutal, despite the timid appearance?</p>
<p class="para">So when he lowered himself, Zero
immediately leapt back, bracing herself. She intended to strike back
right away. But her prediction was <i>way</i> off the mark.</p>
<p class="para">“I am known as Decadus.”</p>
<p class="para">He was lowering himself not to
attack, but to kneel. “You must be Lady Zero, correct?” Four’s
disciple—Decadus—spoke modestly.</p>
<p class="para">“Huh? This is the first time
you’ve met?” The voice came from behind her. Perhaps relieved to
know it wasn’t a trap, Dito jumped down from Mikhail’s back. A
look of immense curiosity was plastered on his face. “I thought you
two were acquaintances. After all, you took one look and knew the old
guy was a disciple, didn’t you?”</p>
<p class="para">“I knew his face. That’s it.”</p>
<p class="para">Just like with Dito, she hadn’t
known his name. Dito gave her a quizzical look, but she didn’t have
the time to spare to explain. She turned to face Decadus.</p>
<p class="para">“What’s a disciple doing in a
place like this? Did Four send you?”</p>
<p class="para">“Yes… Well…” Decadus
faltered.</p>
<p class="para">“Is Four nearby?”</p>
<p class="para">“Um…”</p>
<p class="para">Frustrated at the vague responses,
she shouted at him.</p>
<p class="para">“Answer me now!”</p>
<p class="para">“Y-yes, ma’am!” His spine
straightened like he had been struck by lightning. “I was driven
out by Lady Four!”</p>
<p class="para">“Driven out?”</p>
<p class="para">He hunched over again. The dejected
appearance of the large, middle-aged man was rather comical.</p>
<p class="para">“Yes. She said to leave this
country,” he continued, looking as though he would burst into tears
at any moment. “Lady Four has changed. One after another she has
accused all around her of being enemy agents… From her attendants
to her bodyguards, and even the servants…”</p>
<p class="para">“She killed them?”</p>
<p class="para">“Yes,” he replied in a trembling
voice. He didn’t know how many she had taken care of, but it was
surely an abnormally large number. “Lady Four did not kill me as I
thought she would. She merely instructed me to tell the ‘enemy’
to leave this land. I can’t make sense of it…”</p>
<p class="para">“Got any idea who these enemies
are?”</p>
<p class="para">“No! No! I haven’t the slightest
idea! Those executed were loyal to Lady Four above all else. People
who would never betray her even were they offered great sums of
money! And yet, Lady Four’s witch hunt bore fruit… No matter how
verbosely I protested, she would not deign to listen to me.”</p>
<p class="para">“I see.”</p>
<p class="para">Four must have been driven mad by
the Flower. It had been a year since the battle in the Cathedral
City. Long enough for the Flower to repair Zero’s mortally wounded
body.</p>
<p class="para">It was the same for the Flower
within her sisters. The Power had grown rapidly over the past year,
and the mind of Four, as a host for the Flower, couldn’t hold out.
Perhaps Five’s mind had begun to collapse as well and Zero hadn’t
noticed it. After all, her sisters were but pale imitations of her.
Imperfect hosts.</p>
<p class="para">“Take me to Four.”</p>
<p class="para">“A-anything but…please forgive
me. Though I have been cast out, I am still Lady Four’s disciple.
As you aim to take Lady Four’s life, I cannot accompany you, Lady
Zero.”</p>
<p class="para">“I’ll make is easy for you.”</p>
<p class="para">Decadus’s expression looked
pained. As he had served closer than anyone else, he knew there was
nothing he could do to help. He couldn’t restore Four to what she
once was.</p>
<p class="para">“If we leave her as she is, Four
will slaughter every human being in this country. Countless innocent
people will die. Is that okay with you?”</p>
<p class="para">Decadus, on his hands and knees,
hung his head for a while. He was a gentle, kind-hearted soul just as
he appeared. He mourned the innocents killed, and grieved for the
master that had lost her mind.</p>
<p class="para">Eventually, he stood and walked
away, a resigned look on his face. Though he remained silent, his
destination was clear.</p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>5</b></font></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">Four’s hiding place was just a
short walk away. It seemed Decadus had been wandering nearby even
though he had been cast out, probably finding it difficult to
separate himself from Four.</p>
<p class="para">Decadus just called it “the
mountain fortress,” but the sight of the multiple fortifications
extending along the mountains made Zero want to call it “the
Fortified City” instead. The Land of Mountains had excellent civil
engineering, with its strong castles making the most of its terrain.
And it took only one glance to see that expensive stone was used
liberally in their construction. The Land of Mountains produced a
wide variety of stone, from decorative gems to construction material.</p>
<p class="para">They climbed intently, alternating
between stairs made of those stones and the steep slopes. There were
no soldiers to question them, and they were not attacked.</p>
<p class="para">“It’s weirdly quiet.”</p>
<p class="para">There were no voices, and no signs
of animals. The only sounds were the echoes of their footsteps and
Mikhail’s wings.</p>
<p class="para">“Yes. Four killed every last one
of them, soldiers and all…”</p>
<p class="para">Even the birds and beasts had
disappeared—not because they had been killed by Four, but because
they had instinctively sensed the danger and fled. Like animals do en
masse before a natural disaster.</p>
<p class="para">“Afterwards, rumors of the
Intoner’s insanity spread like wildfire through the land, and now
no one approaches this fortress.”</p>
<p class="para">“Smart.”</p>
<p class="para">“Even so, I was prepared to remain
by her side till the end. Even when Lady Four kicked me or slashed my
body! Those long nails… would slash… my… The pain would…
ugh!”</p>
<p class="para">Before they knew it, Decadus’s
face was twisted in ecstasy. He was a completely different person
from the overly serious man before. Dito nudged Zero’s shoulder.</p>
<p class="para">“Hey, Zero. Isn’t this guy a bit
unreliable?”</p>
<p class="para">“‘A bit’ isn’t quite the
word for it.”</p>
<p class="para">Along the way, though they only
conversed a bit, they caught glimpses of his “unusual tastes”—or
more specifically his “love of being abused”—in everything he
said. She had thought it was due to serving a master who was the very
personification of repressed desire, but this much wasn’t Four’s
fault but rather Decadus’s innate disposition.</p>
<p class="para">“This guy’s a genuine pervert.”</p>
<p class="para">Dito retreated in obvious revulsion,
gagging. But then, Dito wasn’t normal either, though in a different
way than Decadus. Not like a fetish, but in that his sense of
aesthetics was off. It didn’t take being around him long for Zero
to pick up on it.</p>
<p class="para">That which was generally considered
“beautiful” was not at all lovely in Dito’s eyes. Instead, he
loved things considered “ugly” or “foul.” Dito—an
impeccably beautiful young man—would look spellbound at things like
excrement or vomit. It was truly a bizarre sight.</p>
<p class="para"><i>Well, it’s not like Dito’s
sense of beauty or Decadus’s fetish cause any trouble.</i> Zero
herself wasn’t particularly bothered by it, so she didn’t feel
like lodging any complaints.</p>
<p class="para">“Hey, hey, what’s a ‘pervert’?”</p>
<p class="para">Normally, that was where Dito would
make some comment about “kids” and Mikhail would complain, and
the back-and-forth would start up…but this time was different.</p>
<p class="para">Mikhail, about to repeat his
question, suddenly closed his mouth. She could see the base of his
wings trembling. He was neither surprised nor frightened. But she
knew he had sensed the presence of <i>something</i>.</p>
<p class="para">Dito too stopped his quips and shut
his mouth, noticing something was off with Mikhail.</p>
<p class="para">Zero surveyed the area, wary. It was
an open space. A wide paved plaza surrounded the castle walls,
perhaps for landing airships. Cannons lined the walls, probably for
dealing with enemies from the air. Near the cannons stood a figure.
Zero didn’t need to double check to know who it was.</p>
<p class="para">“Zero!” A familiar but somewhat
crazed voice came from above. And then a shrill laugh. “Zero! It’s
really you! Stronger and more beautiful than anyone else! The one
I’ve always looked up to!”</p>
<p class="para">On the ramparts, at the top of a
watchtower with its own cannon, stood Four. Zero couldn’t make out
her face since the light was behind her, but her tone was thoroughly
gleeful. She was standing on one foot with her arms outstretched, as
though she would break into dance at any moment. She suddenly spun in
place and then bent over laughing.</p>
<p class="para">“Lady Four! Please stop! It’s
dangerous!”</p>
<p class="para">Four’s laughter abruptly cut off
at the sound of Decadus’s plaintive cry.</p>
<p class="para">“Why’d you show up with that
waste of space?! It’s so sad. You’ve fallen into the hands to the
<i>enemy</i>.”</p>
<p class="para">“The enemy? Who’s that?”</p>
<p class="para">Zero knew there wasn’t one. It was
clear Four had completely fallen under the control of the Flower. If
that was the case, then what Four believe was the “enemy” was…</p>
<p class="para">“It’s obvious, isn’t it? This
world!”</p>
<p class="para">“Like I thought,” Zero muttered.
The time where her sisters could be “the Intoners that bring peace
to the world” had been short.</p>
<p class="para">“Everyone, everyone, <i>everyone</i>
but my big sister Zero and me are enemies! Ah, but that’s already
wrong. Zero’s become an enemy, too. Even though I thought Zero was
my only friend. Even though whenever I was crying, she always
comforted me. Even though whenever I was picked on, she always
protected me. Right? When we were living together, weren’t you
nicer to me than anyone else?”</p>
<p class="para">None of that was true. Not a bit.
They had never lived together, and Zero had never been kind to her.
Everything in Four’s memory was created by the Flower.</p>
<p class="para">“Even so, you fell into the
clutches of the enemy. My poor big sister. But don’t worry. I’ll
grant you death. I’ll grant <i>everyone</i> death. I’ll kill
everyone, <i>everyone!</i>”</p>
<p class="para">Her laughter echoed around them.
“Lady Four,” Decadus murmured sadly, his eyes downcast. And then—</p>
<p class="para">“Come! Zophiel!”</p>
<p class="para">Suddenly, the paving stones in the
plaza began glowing white. The light spread into a large circle. A
summoning circle.</p>
<p class="para">“How can this be?! No, truly, Lady
Four alone is…”</p>
<p class="para">Decadus’s eyes were wide as he
looked from Four to the summoning circle. His shock was
understandable; ordinarily, the summoning of a daemon is done by
two—the Intoner and her disciple. Such was the case when Five
summoned Phanuel. Through Five’s Song and Dito’s incantation, the
summoning circle opened and the daemon appeared. Though not
absolutely so, that method was the safest and most stable.</p>
<p class="para">But now, before his eyes, it was
being done by Four alone. To Decadus, who had assisted with countless
summonings up to that point, it was surely an unbelievable spectacle.</p>
<p class="para">Soon, the light from the circle grew
brighter, forming a silhouette. The daemon appeared, rising from the
ground.</p>
<p class="para">The daemon Four had called “Zophiel”
was a dragon. It was huge, compared to Mikhail it was one or two
times—no, even bigger than that.</p>
<p class="para">“Is that Lady One’s?”</p>
<p class="para">Decadus appeared more confused than
incredulous. Zophiel bore a striking resemblance to the dragon One
had summoned during the battle a year previously. A giant dragon by
the name of Gabriel.</p>
<p class="para">Zero’s defeat at the Cathedral
City was due in large part to that dragon. It had such powerful
offensive abilities and crazy defense.</p>
<p class="para">On that day a year ago, One had
meticulously reinforced the defenses of the Cathedral City. She had
deployed large numbers of weapons and monster troops to first
separate Michael from Zero. Then, she had the four sisters attack
Zero. If it had just been that, Zero might have still had a chance to
win. But then One summoned Gabriel.</p>
<p class="para">As dragons are the natural enemies
of the Flower, they pose a threat to Intoners. On top of that, a
magically enhanced dragon was not an enemy a lone Intoner could deal
with. Zero was swiftly defeated, suffering grievous wounds.</p>
<p class="para">If Michael hadn’t mustered the
last of his strength and gotten Zero out of there, she surely
would’ve died…</p>
<p class="para">“No! That’s not Gabriel! It’s
different!”</p>
<p class="para">There was no mistaking the form of
the enemy that stole her left arm and her partner. Despite the
similar armored appearance and towering bulk, Zophiel wasn’t
Gabriel.</p>
<p class="para">“Tch, that doesn’t matter! Dito!
Decadus! You two stay back!”</p>
<p class="para">Zero leapt onto Mikhail’s back. As
soon as she was on, he took off. No explanation was needed. Given
that dragons were natural enemies to the Flower, he shouldn’t have
any confusion on what to do here. <i>No matter how immature, a
dragon’s a dragon.</i></p>
<p class="para">“How the hell can Four summon a
daemon dragon?!”</p>
<p class="para">She hadn’t meant to distract
Mikhail, but she unconsciously spoke aloud. The fact that Four had
summoned a dragon without the aid of a disciple was certainly a
surprise, and above all illustrated the gravity of the situation.</p>
<p class="para">“Intoners can’t normally do
that?”</p>
<p class="para">“Not normally, no.”</p>
<p class="para"><i>The stronger the daemon you
summon, the stronger the Power of Song you need. It’s not that she
wouldn’t be</i> able <i>to summon it, but if she used Power beyond
her ability, she’d be asking for her mind to break.</i></p>
<p class="para"><i>If it were One, she’d have the
magic and willpower to use a dragon. But Four has neither. No,</i>
had<i>. But now, she has the Power to do that. It looks like the
Flower inside her is getting stronger.</i></p>
<p class="para">“But you can call me, right? Are
you not normal?”</p>
<p class="para">“Looks like it.”</p>
<p class="para">Though her sisters weren’t <i>normal</i>,
Zero—the one who brought them into existence—was nowhere near it.</p>
<p class="para">“But <i>you’re</i> not a
daemon.”</p>
<p class="para">Transformed dragons—that is to
say, daemons—have lost their ego—their “self”—in exchange
for strength. Even Gabriel, before transforming, was like other
dragons and could understand human speech and communicate. But after
becoming a daemon, all communication became impossible. It became a
beast, no words to speak, no emotions, merely following the commands
of its master One. In exchange, it had gained unparalleled strength.</p>
<p class="para">“I’m not a daemon?”</p>
<p class="para">“Never mind that, concentrate on
the enemy in front of you!”</p>
<p class="para">They’d be no match for their
opponent while chattering pointlessly. Even during that brief
exchange, Four’s mad laughter drew near. That terrible speed was
like a mass of insanity and loathing had grown wings to glide through
the air.</p>
<p class="para">“Zero! I looove you, Zero! How
would you like me to kill you?”</p>
<p class="para">Before Four finished speaking,
something that looked like a blade flew at them. Zophiel’s attack.</p>
<p class="para">“Dive!”</p>
<p class="para">There was the sound of wind overhead
right as Mikhail dropped. From the sound, had they ate that head on,
it would’ve finished them in one blow.</p>
<p class="para">“Ah, how unfortunate. We were
dodged.”</p>
<p class="para">Contrary to her words, Four was
delighted, like a cat chasing a fleeing mouse.</p>
<p class="para">“You hate being chopped up? Okay.
Hmm.”</p>
<p class="para">Right after Four’s coy head tilt,
they saw Zophiel whip its body around.</p>
<p class="para">“Fire’s coming!”</p>
<p class="para">Zero was familiar with the movements
dragons do before breathing fire. All that time spent with Michael
wasn’t for nothing. “To the side! Dodge to the side!”</p>
<p class="para">The flames ran past them. <i>On the
day we met, I ran around trying to escape Michael’s fire.</i> <i>I
can still remember the feeling of those flames near me. I remember
those days where we cursed at each other, argued, laughed together...</i>
So she knew: Michael’s flames were completely different from the
fire breathed by the dragon before her.</p>
<p class="para">“You hate being burned, too?
You’re very selfish, Zero. It’s bad girls who are selfish. And
bad girls must be punished!”</p>
<p class="para">“KYAHAHAHA!” The laughter
echoed. Zero whispered her instructions as though to hide them in
that sound.</p>
<p class="para">“Get right under that thing.”</p>
<p class="para">“Huh?” Mikhail questioned in
return.</p>
<p class="para">“Just do it.”</p>
<p class="para">His look of confusion was obvious,
but he still flew below Zophiel.</p>
<p class="para">“<i>Zero hates being sliced up.
Zero hates being burned up.</i>” Four laughed, waving her hands
like a child singing a nursery rhyme. The thoughts transmitted in the
breaks were so chaotic they didn’t even form words, but they were
dark. That pitch black malice was Four’s true meaning, what Four
herself was now.</p>
<p class="para">“If that’s the case, let’s do
it like this? Okay?”</p>
<p class="para">Zophiel’s huge body plummeted
straight down to crush Mikhail.</p>
<p class="para">“Dodge!”</p>
<p class="para">Mikhail accelerated, flying forward.
Zophiel crashed into the stone square with a tremendous rumbling. It
struggled, its body stuck in the ground and unable to take off
quickly due to its ridiculous weight.</p>
<p class="para">“Now!”</p>
<p class="para">Mikhail turned around and spewed
flames. Four screamed. Zophiel writhed in agony. As she thought: that
dragon wasn’t as strong as Gabriel. It was just show.</p>
<p class="para">Though the Flower had grown, Four’s
original Power was far beneath One’s. Even though she had managed
to summon a dragon, it appeared she hadn’t managed to summon a
<i>strong</i> one.</p>
<p class="para">“How mean, Zero! The one that’s
supposed to be cut up, burned up, and squashed is you! Not me, you!”</p>
<p class="para">The voice came from a corner of the
plaza. Four had vanished from Zophiel’s back. She must have jumped
off just before the flames approached. She wouldn’t have stood a
chance against a direct hit from dragon fire, but an Intoner wouldn’t
die from a high fall.</p>
<p class="para"><i>But it’s probably impossible to
bring down Four with flames</i>, Zero thought. <i>A dragon breathing
fire isn’t very fast. Watching for it’s not too hard.</i> Zero
herself knew it. And the sneaky, cautious Four was quickly escaping
on foot. <i>So like I thought—I’ve gotta take care of Four
myself.</i></p>
<p class="para">“Hey,” she called out to
Mikhail. “That asshole isn’t that tough. I’ll leave finishing
him off to you.”</p>
<p class="para">“Huh? Only me? I’m gonna beat
Zophiel?”</p>
<p class="para">Mikhail sounded worried. It was no
wonder; it was his first time fighting a dragon, and one bigger than
himself at that.</p>
<p class="para">“You said you wanted to become a
strong dragon, right?”</p>
<p class="para">“Yeah…but…”</p>
<p class="para">“A strong dragon is one that can
do anything all by himself. You sank a battleship by yourself,
right?”</p>
<p class="para">“Yeah. I sank a battleship all by
myself! I sank it!”</p>
<p class="para">“If that’s the case, then you
can finish off a not-very-strong dragon all by yourself, right?”</p>
<p class="para">“Y-yeah. I’ll try.”</p>
<p class="para">“Good.”</p>
<p class="para"><i>Can Mikhail finish off a daemon
dragon? No, even if he can’t, he should be able to buy some time.
If Four dies and the Power of Song disappears, the summoned daemon
will disappear, too. In other words, if I take care of Four quickly,
it doesn’t matter.</i></p>
<p class="para">She jumped down towards Four,
slashing as she landed.</p>
<p class="para">“You’re going to kill me no
matter what, aren’t you?” Four threw a kick as she evaded Zero’s
blade. “Do you want to kill me? Me?”</p>
<p class="para">Zero leapt to avoid it while keeping
her distance. Four’s moves hadn’t changed from a year ago. She
did only melee fighting with a gauntlet for hand-to-hand combat.
Zero’s advantage was just in the length of her sword.</p>
<p class="para">She slashed away. Four’s gauntlet
and Zero’s sword clashed with high-pitched clangs.</p>
<p class="para">“I consider you precious to me,
Zero. So much!”</p>
<p class="para">A roundhouse kick flew at her from
the side. <i>“Precious” things are dangerous, too,</i> she
thought, smiling wryly as she dodged.</p>
<p class="para">Four’s heel, its target not there,
lodged in the paving stones. The smashed stone turned into pebbles,
scattering around. It was an amazing kick. But though its power was
herculean, it wasn’t as swift as a year ago. <i>Probably because
she’s completely unhinged and just flailing around blindly.</i></p>
<p class="para">“I wanted to be just like the Zero
I admired: strong and beautiful and a woman every man in the world
would bow before, and one every woman in the world would envy, and
every woman in the world should fucking die, and every man that
wouldn’t look at me should fucking die, and EVERYONE SHOULD <i>FUCKING
DIE!</i>”</p>
<p class="para">Face ugly and contorted, Four
uttered the words like curses, but all the while, she kept laughing.
The laughter was filled with the resentment and sense of inferiority
she had been suppressing.</p>
<p class="para"><i>This is me. This</i> thing <i>was
inside me…</i></p>
<p class="para">While she was alive, Zero, too, had
hated, cursed, and envied the world. Like Four before her, she must
have worn an ugly expression and had a darkness in her eyes.</p>
<p class="para">She thrust her sword straight out.
Perhaps having lost every shred of her mind already, Four didn’t
even try to avoid it.</p>
<p class="para">The sword stuck right between her
eyes. Her eyes widened as she realized what had happened.</p>
<p class="para">Waving her arms around like she was
trying to get rid of a gnat, she then gripped the blade with her bare
hands. Blood streamed from her tightly clenched fists. Even so, she
clutched the sword, refusing to let go. She was desperate to pull it
free somehow.</p>
<p class="para">“No… No… NOOOOOOOOOO!” Four
screamed as she writhed around on the spot. <i>A sword between the
eyes isn’t enough to kill an Intoner. I’ve gotta finish her off,</i>
Zero thought.</p>
<p class="para">She heard a roar. One she had never
heard before. It took her a moment to realize it was Mikhail. She
instinctively turned, seeing him spread his wings.</p>
<p class="para">A gust of wind blinded her. Almost
blown away, Zero frantically braced her legs. She heard the sound of
meat and bone crunching.</p>
<p class="para">“What the hell?”</p>
<p class="para">When she opened her eyes, Four was
gone. There was the sound of a sword falling from Mikhail’s mouth
to the paving stones. Zero’s sword, which had been stuck between
Four’s eyes till now.</p>
<p class="para">“You ate Four? What the hell?!”</p>
<p class="para">Mikhail’s eyes shined brightly.
From the movement of his throat, she knew he had gone from chewing to
swallowing.</p>
<p class="para">The next moment, his body changed.
His head, his horns, his wings—everything had grown. No, rather
than change or growth, it would be more accurate to call it
evolution. It was such a clear transformation that with one glance
she could tell he had become tougher as a dragon.</p>
<p class="para">Michael had said dragons were the
natural enemy of the Flower. And the woman called Accord had said
only dragons could destroy the Flower.</p>
<p class="para">“So this was what they meant…”</p>
<p class="para"><i>How much did Michael understand?
Did he know dragons prey on the Flower?</i></p>
<p class="para">“I promise you: after you slay
your sisters, I will kill you. I will see it through to the end.”</p>
<p class="para"><i>Did he make that promise knowing
everything? Despite knowing—no,</i> because <i>he knew?</i></p>
<p class="para">Suddenly, an image of Michael
appeared in her mind. His body riddled with arrow wounds, but still
spreading his wings to protect her.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">That day, though Michael had been
struck by Gabriel’s hellfire, he gathered all of his strength to
fly from the Cathedral City. With Zero—on the verge of death—in
his mouth.</p>
<p class="para"><i>Enough, forget the stupid
promise, just leave me and escape!</i> Zero had screamed in her head.
But her voice couldn’t reach Michael’s ears. She was too
grievously wounded to make even a single moan.</p>
<p class="para">At the far end of a secluded cove,
he finally set her down, laughing out a “Don’t worry.” He
might’ve been trying to explain away the pained breathing.</p>
<p class="para">“I will not die… I will see it
through without fail. I will fulfill…my promise…to…you…”</p>
<p class="para">She had been unable to tell him
anything. No apologies, no thanks, not even a goodbye. Instead of
words, only tears fell. In her blurry vision, she thought she saw him
slowly close his eyes.</p>
<p class="para">And then Michael reincarnated as
Mikhail. What had he thought, in his last moments as Michael? That
was a mystery that would never be solved…</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">“Huh? What was I doing?”</p>
<p class="para">Mikhail’s voice brought Zero back
to her senses. The strange light had disappeared from his eyes, and
even though his appearance had changed somewhat, he was the same old
Mikhail. Since he was staring at her blankly, it seemed his
consciousness had flown off somewhere while he was devouring Four.</p>
<p class="para">“Uwah!” he cried out wildly.
“What’s going on?! What’s going on?!”</p>
<p class="para">He was surprised at the changes to
his body. If he didn’t remember eating Four, it was impossible for
him to know what had caused it. But it was better that way.</p>
<p class="para">“It’s okay. Don’t worry.”</p>
<p class="para">“But…”</p>
<p class="para">Zero nodded to the anxious Mikhail.
“It’s fine. That’s normal for dragons.”</p>
<p class="para">If the dragons destroyed the Flower
through eating it, and at the same time it functioned as food that
increases a dragon’s strength, everything was working out well.</p>
<p class="para">Mikhail’s predatory behavior
didn’t show when she killed Five, but that was probably due to the
difference in Power between their Flowers. Five’s behavior was
still normal. Four had clearly gone insane. So that meant if the
Power reached a certain level, would a dragon instinctively move to
devour it?</p>
<p class="para"><i>If so, that’s good. If he eats
on instinct, we can finish this without causing Mikhail any needless
suffering. We can end it all without the cruel request to kill me…</i></p>
<p class="para">“Three more, then.”</p>
<p class="para"><i>Four, if you count me,</i> she
thought. <i>Still a way to go.</i></p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>6</b></font></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">She heard a voice. At first, she
didn’t know whose voice it was. She couldn’t remember anything.
But it was a pleasant voice. It made her feel happy, nostalgic, and
sad.</p>
<p class="para"><i>I want to hear more,</i> she
thought. <i>I want to meet the owner of that voice. One more time.</i>
The moment she wished for that strongly, her consciousness surfaced.
It got bright, like she was being pulled from the depths of the sea.</p>
<p class="para">When he called her “Two,” she
remembered that was her name. And she remembered a name more
important than her own.</p>
<p class="para">“Cen…t…?”</p>
<p class="para"><i>Ah, it’s Cent. My dear, dear
Cent. Why is he crying? Why is he smiling while crying?</i></p>
<p class="para">“Lady Two! Ah!”</p>
<p class="para">In his tight embrace, her memories
surged back in a torrent. <i>Oh,</i> Two mumbled to herself.</p>
<p class="para">The days that she lived with her
disciple and lover, Cent. They had taken in children who lost their
parents, caring for them like family. And the impoverished and
kind-hearted people of the Land of Sands, and the reliable soldiers
that swore to protect the Intoner with their lives. Those days were
so happy it was scary.</p>
<p class="para">“…I banned you…from calling
me…‘Lady’…”</p>
<p class="para">“Yeah, yeah,” he nodded, still
crying. <i>I must’ve been asleep for a very long time,</i> Two
thought. <i>Or did I lose my mind?</i> Either way, Cent must have
despaired that Two would never be the same again. Not after such a
tragedy.</p>
<p class="para"><i>How long ago was it? When Cent
talked about wanting to use the Power of Song to strengthen the
soldiers of our land? When he said it could treat the illnesses and
injuries of the children, too?</i></p>
<p class="para">Anything and everything for Two. The
enhancement of the soldiers was to protect Two. The treatment of the
children was to lighten the burden on Two, who cared for them
throughout the night without sleep.</p>
<p class="para">But each and every one of those
soldiers and children became monsters. Profaned by the Power of Song.</p>
<p class="para">Because of her, because of her
Power, the people she loved were no longer human. The shock had
broken Two’s mind. <i>…That must have been where Cent
misunderstood. It was only half right.</i></p>
<p class="para"><i>I’m not broken,</i> Two
grumbled in her head. <i>Because I was able to come back like this.
Although only for a short time.</i></p>
<p class="para">“Thank you… It’s thanks
to…you, Cent…”</p>
<p class="para"><i>Because Cent kept calling to me.
Because in that pitch black emptiness, I could hear my beloved Cent’s
voice.</i></p>
<p class="para">“Let’s get you something to eat.
No, first a drink.”</p>
<p class="para">“No. Already…out of time.” She
held Cent’s hand when he started to stand. “L…ist…en…”</p>
<p class="para"><i>It’s irritating that I can’t
talk properly.</i></p>
<p class="para">“It’s not…your…fault.
I’ve…never…”</p>
<p class="para">“Two?”</p>
<p class="para">“I’ve…been fighting…my own
Power… It was…always terrible. Like I…was being swallowed up…”</p>
<p class="para"><i>At first, I didn’t doubt my
Power was good. I had been given tremendous power for the sake of
bringing peace to this world. Power used for protecting those you
love couldn’t possibly be a bad thing, I thought.</i></p>
<p class="para"><i>At some point, the Power started
growing quickly. It got harder to control. Still, I desperately tried
to push it down.</i></p>
<p class="para"><i>I told myself that this wasn’t
a bad thing, that it was just my weak will keeping me from using it
properly. If I got stronger, I would be able to use it. Besides, if I
suppressed my Power completely, what would become of Cent, of the
children, of the people of the Land of Sands?</i></p>
<p class="para"><i>When everyone in the world is
smiling and my loved ones are all happy, my duty will be over. If I
can just hold on till then, I desperately kept telling myself.</i></p>
<p class="para">That was why, on that day, the
moment she—by her own hand—killed the soldiers and children who
had become monsters, Two couldn’t hold on any longer. She let
herself be swallowed up by that pitch black Power. She was supposed
to have been swallowed up and never come back.</p>
<p class="para"><i>But it was because Cent was here.
Because he kept calling to me. Because I wanted to see him just one
more time.</i></p>
<p class="para">As she hadn’t eaten since that
day, her body was at its limit. So the Power within her should be
weakened as well. Then she heard Cent’s voice. When she heard his
voice, she remembered those she wanted to protect, even at the cost
of her own life.</p>
<p class="para">“This Power…shouldn’t…exist.”</p>
<p class="para"><i>It has to be now. While both my
body and the Power are weak.</i></p>
<p class="para">“If I die, my Power…will also
disappear. So—”</p>
<p class="para">“No! Lady Two!”</p>
<p class="para"><i>I’m sorry, Cent. I’m sorry
for making you sad, for hurting you. But I want you to keep on
living.</i></p>
<p class="para">“This is…an order…from…your
Intoner.”</p>
<p class="para">“Two! Don’t! Not that!”</p>
<p class="para">“To protect everyone, it has to
be…me instead…”</p>
<p class="para"><i>There’s no time. Quickly. I’ve
got to hurry. While I’m still me.</i></p>
<p class="para">“So… You mustn’t die, Cent.”</p>
<p class="para"><i>The voice calling for me is far
away. But I won’t give up. I will protect Cent and everyone.</i></p>
<p class="para">“This is…a request…as your
girl.”</p>
<p class="para"><i>I love you, Cent. I’m glad I
met you. I’m glad I could see you one more time.</i></p>
<p class="para">Fighting the Power trying to swallow
her up, holding back the consciousness trying to overwrite her, Two
smiled as best she could. <font face="Arial, sans-serif">​</font></p>
<p class="para"><br/>
<br/>

</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/story-side/chapter-one">Previous Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/story-side/chapter-three">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/story-side">Back</a></p>