---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---
<style>
    #number{
        font-size: 400%;
        margin-top: 1%;
    }
</style>
<TextLayout>
</TextLayout>
<title>Chapter Four</title>
<p style="margin-top: 1cm; font-size: 300%;">Chapter Four</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/mrkusabi">MrKusabi</a></p>
<p class="title">The Flowers' Chapter</p>
<p class="title"><br/>
<br/>

</p>
<p class="title" id="number"><b>1</b></p>
<p class="title"><br/>
<br/>

</p>
<p class="para"><i>This is where it will end.</i></p>
<p class="para">When he heard those words from his
sister, he looked around the cathedral, seized by some kind of
strange emotion.</p>
<p class="para">It was open space from the door to
the altar, and the ceiling was high. It was so vast a single cough
would echo many times. And the feeling of strong magic filled the
place.</p>
<p class="para">“What’s wrong? What are you
looking at?”</p>
<p class="para">“No, it’s nothing.”</p>
<p class="para">For him, the cathedral of the
Cathedral City was the place where it all began. In this silence and
magic, he was created. Without a mother, without a name, without a
past, One, who had made him, was his everything.</p>
<p class="para">“Sister…”</p>
<p class="para">“What is it?”</p>
<p class="para">“This is where you’ll kill Zero,
isn’t it.”</p>
<p class="para">Zero would bring disaster to this
world. Therefore, she must be killed. That was the duty of the
Intoners who bring peace and order to the world.</p>
<p class="para">He had been told that many times. <i>To
protect the world, to protect the people, to defend the weak…</i>
Those were One’s favorite phrases. He even felt that the only thing
on his sister’s mind seemed to be protecting something.</p>
<p class="para">But that was the righteous thing to
do. So killing Zero was righteous. Zero must be killed.</p>
<p class="para">“But why the cathedral?”</p>
<p class="para"><i>There are places more suited to
battle, so why choose this peaceful place?</i></p>
<p class="para">“If I use the magic here, I can
create a powerful barrier.”</p>
<p class="para">“To keep Zero from escaping?”</p>
<p class="para">“Yes. First, I’ll make sure she
can’t escape, then I’ll fight.”</p>
<p class="para"><i>A year ago, she got away,</i> One
had said with bitterness. Even though they were so close—had driven
Zero into a corner—she escaped. Or more precisely, a dragon had
carried off the mortally wounded Zero.</p>
<p class="para">“That’s not the only reason I
chose this place.” One slowly turned, looking around the cathedral.
“I’m going to poison it. You remember the fog in the Land of
Forests, right?”</p>
<p class="para">“Yes…” He vividly recalled the
intense choking and discomfort. The strange poisonous mist wasn’t
from magical beasts, plants, or monsters, nor was it due to magic or
the Power of Song. If it weren’t for Gabriel’s wings carrying
them to the safety of the skies, he didn’t know <i>what</i>
would’ve happened to them.</p>
<p class="para">“Zero is a formidable foe. So I’ll
weaken her with poison. It won’t kill her, but even as an Intoner,
if she keeps inhaling it, her body won’t be able to move as she
wants, and her senses will be impaired. Naturally, her attentiveness
and judgement will also decline.”</p>
<p class="para">“That’s right. Your face was
pale then. I felt really sick, too.”</p>
<p class="para">“Above all, the poison poses a
threat to dragons. Unlike Intoners that can handle it.”</p>
<p class="para"><i>It seems like she doesn’t plan
to make the same mistakes as a year ago. Both Zero and her dragon
trapped in the barrier, unable to escape, breathing the poison…</i>
Thinking about it, he realized something terrible.</p>
<p class="para">“Wait. You’re going to fight
inside the barrier, aren’t you, Sister? In the poison? It’ll
weaken Zero and the dragon, but won’t it hurt you as well?”</p>
<p class="para">“Don’t worry. I’ll bring them
down before that.”</p>
<p class="para">“Really?”</p>
<p class="para"><i>Can she do it? She said Zero was
a formidable foe.</i></p>
<p class="para">“Besides, it doesn’t matter if
my senses are dulled a bit. I’ll just be like a normal person.”</p>
<p class="para">It was then he finally understood.
<i>She plans for both of them to kill each other. Since she wasn’t
thinking about surviving from the start, since she’s planning to
die after killing Zero, she’s not worried at all…</i></p>
<p class="para">As if reading his mind, One mumbled,
“That’s right.”</p>
<p class="para">“It’s fine, but it’s not
perfect. Because nothing’s perfect or absolute in this world.
Everything is subject to failure or miscalculation. So…” One
pulled out a sword. “If I fail to bring her down, kill Zero with
this.”</p>
<p class="para">“Is this sword…?”</p>
<p class="para">She handed it to him. The blade was
quite slender for such a terribly heavy sword. “It’s a sword made
from a dragon’s fang. You need the power of a dragon to kill an
Intoner.”</p>
<p class="para">“Gabriel’s fang?”</p>
<p class="para">“No. I made it from one Gabriella
gave me.”</p>
<p class="para">Before Gabriel had become an angel,
he had been a dragon named Gabriella. She had been the only one who
knew about One creating her brother, and…had been One’s absolute
best friend.</p>
<p class="para">When Gabriella became an angel, One
could use Gabriel, but not converse with him. He didn’t know why
Gabriella gave up her ego to become an angel. At the very least, One
must not have wanted that. After Gabriella became Gabriel, One spoke
much less.</p>
<p class="para">“<i>You should laugh more. You
were the kind of girl to laugh a lot before, right? C’mon, laugh!”</i></p>
<p class="para">Maybe because she no longer had
anyone to say such things to her, he hadn’t seen One genuinely
laugh since that day. She would laugh sarcastically or scornfully, or
even fake a laugh along with someone, but it never reached her eyes…</p>
<p class="para">“I’m going to kill Zero…with
this sword?”</p>
<p class="para">“Yes. You can, right? Just do it
like your training.”</p>
<p class="para">He had been taught to use a sword so
he could kill Zero. One had taken him out on monster hunts as well.
He wouldn’t lose to ordinary enemies. He had acquired enough skill
to at least be able to say that.</p>
<p class="para"><i>But Zero’s strong. Even if I
saw a chance and attacked her from behind, I wonder if I would be
able to take her out.</i></p>
<p class="para">Perhaps sensing his worry, One
gently placed her hand on his shoulder and said, “Don’t worry. I
<i>will</i> defeat Zero. I’m just saying this in the one in a
million chance I fail to finish her off.”</p>
<p class="para">And then One began to explain the
plan.</p>
<p class="title"><br/>
<br/>

</p>
<p class="title" id="number"><b>2</b></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">“It’s just us again, huh…”
Mikhail said, alone, as he stared at the bonfire. Until only a few
days ago, there had been four disciples as well as Zero and Mikhail
around this bonfire.</p>
<p class="para">The annoyingly chatty Cent; Dito,
with his constant quips; Decadus, lost in ridiculous and unrelated
fantasies in the middle of conversations; and Octa, always seizing
every opportunity to steer the conversations to his lower half.</p>
<p class="para">After the battle in the Land of
Forests, the disciples had all turned back into birds.</p>
<p class="para">“Do you miss them, Zero?”</p>
<p class="para">“Not particularly.”</p>
<p class="para"><i>From the beginning, this was the
journey of two people—no, a person and a corpse. Those four had
just been fellow travelers for a little while. And even the journey
with Mikhail has only been a bit over a year. Compared to the long
lives of dragons, I’ll only be a brief companion as well,</i> Zero
thought.</p>
<p class="para">“I’m lonely. <i>Really</i>
lonely.”</p>
<p class="para">“I see…”</p>
<p class="para">Casually looking up at him, she saw
Mikhail absentmindedly waving his tail. After devouring Three, his
body had evolved once again, and he had become the spitting image of
Michael.</p>
<p class="para">But only in appearance. When she
spoke to him, his tone was clearly Mikhail’s, and the way he would
tilt his head in confusion or wave his tail around was still very
childish. But if he were to remain still and silent, she might not be
able to tell him apart from Michael.</p>
<p class="para">He looked so much like Michael, but
his mannerisms were completely different. It was both terribly
heartbreaking and yet somehow a relief.</p>
<p class="para">Unlike with Four, when he devoured
Three, he was aware. It wasn’t that Three’s Power of Song was
weaker than Four’s; she had summoned and controlled an ancient
dragon, so if anything, she was stronger. But Mikhail did not attack
her on instinct—it had been the act of a predator identifying prey.</p>
<p class="para">When he had attacked Four, he had
still been immature, in both appearance and ability. But after eating
Four, he grew not only in how he looked but also his capabilities.
That he was no longer controlled by his instincts to the point he
would lose consciousness showed that.</p>
<p class="para">He developed even further due to
devouring Three. The current Mikhail was in no way inferior to
Michael, who had lived up to the title of “strongest.”</p>
<p class="para"><i>In other words, he’ll no longer
act on his predatory instincts and devour me without realizing…</i></p>
<p class="para">“Zero, Zero, what’s wrong?” He
looked at her with concern. It seemed she had had a gravely serious
expression on her face. “Does the flower in your eye hurt?”</p>
<p class="para">“…You noticed that, huh?”</p>
<p class="para">The Flower within her had rapidly
been increasing in Power lately. Though she could control it, it was
with no small effort. Her remaining time was running out.</p>
<p class="para">“You clench your fist real tight
sometimes. You don’t show it, but it must really hurt. You even
stop breathing. Like now…”</p>
<p class="para">“I’m fine. Don’t worry.”</p>
<p class="para">She knew not only from the signs
from herself, but the feeling of the Flower: it was blooming. The
time had come to say the same words she had said to Michael.</p>
<p class="para">“Do me a favor.”</p>
<p class="para">Mikhail went quiet, sensing
something unusual. He didn’t even move. Until a short while ago,
she had thought if he were still and silent, she wouldn’t be able
to tell him apart from Michael, but no. Even stone-still, she knew
him to be Mikhail. At least, that was how she saw him.</p>
<p class="para">“Kill me.”</p>
<p class="para">Mikhail remained silent. Though she
hadn’t ever said the words before, he couldn’t have <i>not</i>
guessed what was happening. Dragons were the natural enemies of the
Flower, and that Flower was within her.</p>
<p class="para">That wasn’t all. Its increasing
power had driven her sisters to madness, turning them into murderous
destroyers. Mikhail had seen it as well. At first, he had hated
fighting them, but at some point, he had stopped saying anything. He
no longer asked why she wanted to kill them.</p>
<p class="para">He had already come to understand
what Zero and Michael had been trying to accomplish. And why Michael
had been willing to reincarnate in order to keep his promise to Zero.</p>
<p class="para">“When we kill One in the Cathedral
City. After that.”</p>
<p class="para">If they flew at dawn the next day,
they would reach the Cathedral City before it got dark.</p>
<p class="para">“…Alright.”</p>
<p class="para">Though the voice was different, the
words were the same as Michael’s.</p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>3</b></p>
<p class="title"><br/>
<br/>

</p>
<p class="para">Cathedral City was called the
birthplace of magic. It was said that all magic—commonplace in this
world—had its origin there. But no one knew who it was that first
said it, or when.</p>
<p class="para"><i>Whoever said it first must’ve
been either a genius or an idiot. They named this place “Cathedral
City” and came up with such a grandiose backstory.</i></p>
<p class="para">“Hey, Zero, there’s so many
buildings!” Mikhail shouted in surprise as they flew over the
Cathedral City. The ground below was packed with gigantic stone
structures.</p>
<p class="para">“I’m not sure I’d call them
<i>buildings.</i>”</p>
<p class="para">Those structures were ridiculously
huge and strangely shaped. They were either absurdly tall, squared
off, and completely uniform, or weirdly overdecorated. Moreover, all
were broken and crumbling.</p>
<p class="para">“What kinda people live here, you
think?”</p>
<p class="para">“No one.”</p>
<p class="para">She didn’t know what purpose the
buildings in this ruin once served, but she could guess it wasn’t
housing. The pointlessly tall and spacious buildings were unsuited to
daily life. The transfer magic just to move around them would be
horribly inefficient.</p>
<p class="para">“This place has been dead for a
long time.”</p>
<p class="para">People didn’t settle there, nor
was it overgrown or overrun with wild animals. The only ones that set
foot in there were, at most, scholars interested in the “academic
value of the ruins.”</p>
<p class="para">“But…One’s here, right?”</p>
<p class="para">One, who had chosen this as her
headquarters, was of the same ilk as these eccentric scholars. In the
Cathedral City were vestiges of the ancient civilization called the
“Old World.” Zero had heard rumors that One was shut up in a
library—one of these vestiges—engrossed in reading.</p>
<p class="para">It was said that, at one time,
people with advanced knowledge and technology existed here. It seems
the buildings of the Cathedral City were strangely shaped because
they were built by people of the Old World using Old World
technology.</p>
<p class="para">They could only say “it seems”
because, though there were vestiges of the people of the Old World,
their whereabouts could not be traced. They supposedly appeared
suddenly and vanished with the same abruptness. Leaving behind the
vast ruins of the so-called Cathedral City.</p>
<p class="para"><i>What’s the point in studying
that shit now?</i> she wondered. <i>It’s not like learning about it
would bring back a vanished civilization, or let anyone meet people
from the Old World.</i></p>
<p class="para"><i>Yep, it’s just One I can’t
figure out. I didn’t get Three much either, but she still seemed to
be a part of me. But One’s different. Hard to believe she was born
from a piece of me…</i></p>
<p class="para">“Can you sense One?”</p>
<p class="para">The Cathedral City was extremely
large and full of obstacles, making it easy to hide in and difficult
to search. She had no choice but to rely on the dragon race’s
ability to sense the presence of Intoners.</p>
<p class="para">“Yeah. It’s really clear. Much
more than your other sisters. Is it because her Power’s so strong?”</p>
<p class="para">“No, suppressing her presence is
as easy for One as breathing.”</p>
<p class="para">Even the others could suppress their
presence. With her much stronger magical power, One could not only
eliminate her presence completely, but would also be able to fake it.
But Zero was confident the presence Mikhail was feeling now wasn’t
a decoy but the real deal.</p>
<p class="para">“So why? Why’s she not hiding
it?”</p>
<p class="para">“She’s trying to provoke me.”</p>
<p class="para"><i>She’s saying, “I’m not
gonna run and hide, so hurry up and let’s settle this.”</i></p>
<p class="para">“She’s pretty confident.”</p>
<p class="para"><i>She’s just a failed host, but
she talks big about “protecting the world,” acting like some
hero. Even though she’ll bring disaster to humanity when she’s
taken over by the Flower. I wonder if she’d act so cocky if she
knew?</i></p>
<p class="para">“Zero! It’s close! Really
close!” yelled Mikhail. She didn’t need to ask if he was talking
about One’s presence. Suddenly, from behind a building, came a huge
shadow. It was the dragon One used, Gabriel.</p>
<p class="para">“One!” Though she wasn’t close
enough to see her riding, Zero could sense One as well. That was just
how powerful One was. “I’ll finish this right here!”</p>
<p class="para">The dragon, covered in armor-like
plating, rapidly approached. This time she could clearly make out One
riding on its back.</p>
<p class="para">“Be quiet. You don’t need to
shout. I can hear you.”</p>
<p class="para">That was right. One’s senses were
abnormally keen. Even from a distance where Zero couldn’t clearly
make her out, One could see every hair on Zero’s head. She probably
heard her chatting with Mikhail as well.</p>
<p class="para">One’s eyes could see much farther
than ordinary people, and her ears could pick up sounds much more
minute than others could hear. In addition, Zero had heard her sense
of smell, touch, and taste were abnormally acute. Her overly powerful
senses were naturally a hinderance to daily life, bringing nothing
but pain. There was no doubt One had incredible mental fortitude to
be able to suppress that pain so completely.</p>
<p class="para">And that wasn’t the only thing One
was keeping in check.</p>
<p class="para">“That dragon… Where’s the
disciple you used to summon it hiding?”</p>
<p class="para">Gabriel bore a strong resemblance to
Zophiel, the daemon summoned by Four, but there was a vast difference
in ability. Even with the support of a disciple, to summon such a
strong daemon…she wondered just how much Power was needed. It was
no wonder One’s Power was on the verge of going out of control.</p>
<p class="para">“There is no disciple. It is
unnecessary for me.”</p>
<p class="para">Zero wasn’t about to just take her
word for it. She had made four disciples. There were four going
berserk in the Cathedral City—Two, Three, Four, and Five—so she
had turned four white birds into the disciples. She hadn’t made one
for One.</p>
<p class="para">But there was no way an Intoner
could summon such a powerful dragon alone. In that case, she must’ve
made a disciple herself. With her strong Power, it was possible.</p>
<p class="para">“A thing only to be used as a tool
for an Intoner… I do not need such a sad creature.”</p>
<p class="para">“Why don’t you just tell the
truth and say you didn’t know how to make one?”</p>
<p class="para">Of course One didn’t rise to the
bait. Besides, it probably wasn’t that she didn’t know how. Even
Zero hadn’t been taught. Just as a human child would learn to stand
and walk without anyone, and eventually begin to run, she had come to
know how to use her Power as it grew. So once she had the power to
make a disciple, she knew how.</p>
<p class="para">Conversely, Zero couldn’t do
things that she wouldn’t know without being taught. Just like
how—unlike walking and running—a person couldn’t learn how to
swim without being taught or imitating another.</p>
<p class="para">In any case, One had enough Power to
rival Zero. She should at least know how to make a disciple, and
above anything, understand the danger of using her Power without the
aid of one.</p>
<p class="para"><i>Naturally she made one, so where
would he be…?</i></p>
<p class="para">“Zero! They’re coming! They’re
coming! What do I do?!”</p>
<p class="para"><i>So much for all the unnecessary
thinking.</i></p>
<p class="para">“What do you mean ‘what do I
do?’ Shit, hurry up and shoot ‘em down!”</p>
<p class="para">Instead of replying, Mikhail
inhaled. The feeling that followed was different from usual; she saw
not mere flames but a huge fireball growing. With his evolution as a
dragon, Mikhail had learned a new way of fighting.</p>
<p class="para">The fireball grazed Gabriel’s
wing, blowing the building below into tiny pieces. Its destructive
power was tremendous. Had it been a direct hit, no matter how strong
Gabriel was, he wouldn’t have survived.</p>
<p class="para">But even though Gabriel had lost his
ego, he hadn’t lost his judgment. As he evaded, flames shot from
his mouth.</p>
<p class="para">“It’s coming! Intercept it!”</p>
<p class="para">Mikhail’s fireball met Gabriel’s
flames. They collided, exploding in the air.</p>
<p class="para">“Don’t stop! Again!”</p>
<p class="para">The fire from the two dragons met in
the sky over and over again. Each time, a blast and a wave of heat
would surge out. After repeatedly evading and attacking one another,
the one that struck home first was Mikhail’s.</p>
<p class="para">Gabriel fell, One still on his back.
Zero was about to cheer when, right near the ground, Gabriel spread
his wings.</p>
<p class="para">“She’s trying to run!”</p>
<p class="para">It was a retreat disguised as a
fall. Regaining his bearings, Gabriel glided low.</p>
<p class="para">“After them!”</p>
<p class="para">Right when Mikhail moved to swoop
down, something obstructed their view, as if to protect Gabriel. A
swarm of winged creatures. Mikhail shouted in irritation. “Dammit!
Lowly wyverns!”</p>
<p class="para">The swarm came at them at once.
Mikhail breathed fire. Zero didn’t need to give the order.</p>
<p class="para">“I’m gonna crush ‘em like
bugs!”</p>
<p class="para">Not only didn’t need to, but if
she tried to give any orders, he wouldn’t have listened to them.</p>
<p class="para">“Die! Die! DIE!”</p>
<p class="para">“You really are a completely
different person when it comes to wyverns. Well, a dragon, not a
person.”</p>
<p class="para">Mikhail was absorbed in burning the
wyverns. Gabriel had fled, but his destination was easy enough to
gauge. One didn’t intend to escape; she was just trying to change
the location.</p>
<p class="para">“Take that! And that! Low-class
creatures! Hurry up and die!”</p>
<p class="para">She decided to go along with
Mikhail’s wyvern hunt for a while. It wasn’t bad to let him play
a bit rather than forcing him to stop.</p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>4</b></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">Mikhail’s wyvern hunt lasted more
than just “a bit.” Ultimately, he didn’t move from that spot
until he had exterminated the entire swarm.</p>
<p class="para">One may have only deployed them as a
barrier to aid in her retreat, but as a result, they had expended
extra energy and worn themselves out. Furthermore, it had given One
enough time to prepare and recover Gabriel.</p>
<p class="para"><i>What a cheap fucking trick,</i>
Zero cursed to herself.</p>
<p class="para">“Hurry up and go after One,
dummy!”</p>
<p class="para">Like before, One made no attempt to
hide her presence. Mikhail flew without the slightest hesitation.
Where he was going was a strikingly large, conspicuous building. It
must have been the cathedral of the Cathedral City.</p>
<p class="para">“Alright. Bust through that
window.”</p>
<p class="para">She pointed at a large stained-glass
window. The building’s structure was familiar, not at all like the
Old World style.</p>
<p class="para">“It’ll smash, you know? Is it
okay? Is it okay?”</p>
<p class="para">“It’s too much trouble to go
down there and open every door.”</p>
<p class="para"><i>Besides, with Mikhail’s huge
body, we’d have to break the doors anyways. If we’re gonna have
to break something either way, it’s easier to break the window than
a bunch of sturdy doors.</i></p>
<p class="para">“You’re really violent, Zero…”</p>
<p class="para">“Just go!”</p>
<p class="para">After a halfhearted <i>okaaay</i>,
Mikhail hurled himself through the window. The multicolored shards
sparkled as they scattered. Of course, he didn’t sustain even a
single scratch, and he flung the shards away with just a shake of his
head.</p>
<p class="para">When he smashed his way in, they
found the interior to be quite spacious. There was more than enough
room from the ceiling to the floor to prevent Mikhail from smacking
into the ground with his excess momentum.</p>
<p class="para">Moreover, there was quite the
distance from where they landed to where One was. “Great Hall”
wasn’t even close to a good enough term to describe the space.</p>
<p class="para">Leaping from Mikhail’s back, Zero
strode towards One. A moment later, Mikhail slowly followed.</p>
<p class="para">One, sitting in a chair with an open
book, raised her eyes. Three stone golem statues were lined up nearby
as if to protect her. <i>Monster statues aren’t very fitting
decorations for a church,</i> Zero thought.</p>
<p class="para">“Whatcha readin’?”</p>
<p class="para">Her voice echoed together with her
footsteps.</p>
<p class="para">“It’s a record of life in the
Cathedral City.”</p>
<p class="para"><i>Seems like the rumor that One’s
playing scholar is true. What the hell’s so interesting about
studying the Cathedral City—or rather, Old World ruins and stuff?
I’ve got no idea.</i></p>
<p class="para">“A Flower was once sealed in this
place. You remember, don’t you?” One looked at Zero. “It was
none other than you and Michael that destroyed that Flower.”</p>
<p class="para">“Who sealed it away? Why here?
What <i>was</i> this place to begin with? If I understood that, I may
be rid of these questions about the Power of Song and we Intoners.
What <i>are</i> we? Why were we given this Power…”</p>
<p class="para">“Why you gotta know that? It’s
not necessary, right? Shit like that’s just called ‘a waste of
time.’”</p>
<p class="para">Shutting the book, One let out a
small sigh. “Perhaps it should be called ‘foolishness.’ You’re
right. To ask if it’s necessary or not…it’s certainly just so.”</p>
<p class="para">“But,” One continued, “I
wanted to know. From the moment I noticed the discrepancies in our
memories.”</p>
<p class="para">They had been implanted with false
memories by the Flower. One was no exception. Until they took over
their respective countries, the five sisters had been working
together, and it seemed there had been times when they would
“reminisce.” So One had noticed the inconsistencies in their
memories.</p>
<p class="para">“Two had memories of loving
parents, while Three hated them. Four loathed both, Five had only the
memory of Father’s death, and as for me…I was supposedly the
second eldest, yet I had no memories of parents at all. Despite
remembering the six of us living together.”</p>
<p class="para">Zero steadily approached One, her
stride constant. The sound of her footsteps resounded harshly.</p>
<p class="para">“So I researched. I read every
single volume left behind in the Cathedral City. Who we are, where we
came from, the meaning of our existence, what duties we should
accomplish in this world, what the world needs from us, the world—”</p>
<p class="para">“So,” Zero interrupted. She had
come close to One. “You understand?”</p>
<p class="para">“I did not attain an acceptable
answer. But,” she stood, “one thing is certain: this world
doesn’t need us.”</p>
<p class="para">“If that’s the case, say no
more.” She drew her sword and pointed it at One. “How ‘bout you
die for me?”</p>
<p class="para">One’s expression didn’t change.
She didn’t get angry, laugh, cry… Only her lips moved, calmly.</p>
<p class="para">“Sing, Abdiel.”</p>
<p class="para">As if on cue, the three golems lit
up. A summoning circle appeared on the floor. The monstrous statues
that Zero had thought so out of place in a church turned out to be
Abdiel, a daemon One was using.</p>
<p class="para">A huge fist came at her. Zero
quickly leapt back, and the fist sank into the spot where she had
been standing. <i>Looks like that’s her answer.</i></p>
<p class="para">“Zero! Hurry, get on!”</p>
<p class="para">The moment she jumped on Mikhail’s
back, a crimson light fired by the golems cut through the air nearby.
Mikhail countered it with flames. They had fought golems many times,
but this was the first time they had seen one deployed as a daemon.</p>
<p class="para">Mikhail’s flames completely
engulfed them. The stones, exposed to the tremendous heat, glowed
red, swelled, and exploded.</p>
<p class="para">“We…did it?”</p>
<p class="para">The limbs of the statues, which had
been blown to bits, were being drawn back in and were once again
taking shape. She hadn’t thought it would be so easy, so she wasn’t
particularly surprised.</p>
<p class="para">If anything, she was more shocked by
the sturdiness of the cathedral. Even with several golems and a
dragon battling—and being exposed to the flames and the shock
waves—not a single pillar had broken, nor had the ceiling or the
walls crumbled. She suspected there was probably some form of magical
protection against impacts from within. It had been easy enough to
bust in through the window from outside.</p>
<p class="para">“I beat you! Getting back up’s
not fair! Not fair!”</p>
<p class="para">Before Zero could say a word,
Mikhail breathed fire again, frustrated that the golems he thought
defeated had been restored to their original forms. Once again, their
limbs broke and scattered. As they reformed once more, Zero saw
it—the scattered stones were being drawn toward something glowing
red in the center of them.</p>
<p class="para">“Aim at that core!”</p>
<p class="para">“Huh? Which one? Which one?”</p>
<p class="para">“Just break ‘em again! You’ll
see it then!”</p>
<p class="para">The red core was hidden within one
of the three stone statues. She was certain that was Abdiel’s true
form, the source of the magic moving them.</p>
<p class="para">Over and over, the hellfire
shattered the golems. The scattered limbs glided through the air,
swirling like a maelstrom.</p>
<p class="para">“That! Smash it!”</p>
<p class="para">This time, Mikhail noticed the red
core as well. Before the limbs could gather, he rammed it. He was
repelled, but the limbs had nowhere to return to and stopped moving
in midair.</p>
<p class="para">“Burn it!”</p>
<p class="para">Mikhail aimed at the red core and
shot a fireball. The huge flames engulfed it, pressing down on it.
But then the floating stone limbs surrounded it like a barrier.
Immediately after, they gathered again, attempting to reform the
golems.</p>
<p class="para">“Stronger! Burn it to the ground
before they can recover! Hurry!”</p>
<p class="para">Mikhail fired successive shots. The
limbs were blown off. Once there were no more obstacles around the
red core, he attacked with a particularly powerful blast. This time,
it shattered into pieces.</p>
<p class="para">The summoning circle on the floor
disappeared. After destroying Abdiel’s true form, the lumps of
stone just lay scattered on the ground. A surprisingly underwhelming
end, but right after making use of Gabriel, this was probably the
remaining magic One had available to use.</p>
<p class="para">“One! Next, it’s—”</p>
<p class="para">Zero, about to finish with “your
turn,” was shocked. A summoning circle had spread out near the
ceiling before she had realized it.</p>
<p class="para">“Give me your blessing, Raphael!”</p>
<p class="para">One raised her right arm high. The
circle opened.</p>
<p class="para">“Idiot!” Zero screamed the word.
It was impossible. An Intoner could summon at most one daemon.
Without a disciple’s chant, even that one runs the risk of an ego
collapse. <i>That</i> was how heavy a burden the summoning of a
daemon placed on the Intoner. Four, for instance, couldn’t bear the
burden and the careful balance in her mind was destroyed in one fell
swoop.</p>
<p class="para">One had summoned Abdiel alone while
keeping her mental stability normal. That was amazing as it was, but
to summon another daemon on top of that?</p>
<p class="para">“One’s a monster…”</p>
<p class="para">The daemon that appeared from the
light of the summoning circle took the form of a spider. Its hairy
legs scuttled across the floor. It didn’t move quickly by any
means, but Zero’s instincts screamed <i>danger</i>.</p>
<p class="para">“Dodge it!”</p>
<p class="para">Mikhail slid through the air. At the
same time, she saw something being spit out of Raphael’s mouth.
With an unpleasant sound, a white net-like thing stuck to the wall.</p>
<p class="para">“Webbing, huh?”</p>
<p class="para"><i>Real spiders use webs to capture
their prey. So that means the webbing of a daemon spider must be
strong enough to stop even a dragon.</i></p>
<p class="para">“Don’t get in front of it! Stay
beside or behind it!”</p>
<p class="para">“Okay!”</p>
<p class="para">Mikhail flew side to side so he
could get around it, all the while breathing fire. Since its form and
behavior were so much like a real spider, it should share the same
weakness to flames.</p>
<p class="para">He didn’t miss, and when the
flames hit Raphael’s torso, it let out a shrill scream. It spit
gobs of white webbing as it writhed in pain.</p>
<p class="para">“Good! If we keep it up…”</p>
<p class="para">But, though it was slow to advance,
it was unexpectedly quick to rotate. While the flames grazed it
several times, Mikhail was unable to score a direct hit. Plus, when
he tried to get behind it, it would rapidly change direction. It took
all he had just to avoid being in front of it, and even getting to
the sides was difficult.</p>
<p class="para">In addition to the white webbing, it
sometimes emitted something like looked like a black mist. <i>Real
spiders don’t cough up fog. So what the hell is that?</i></p>
<p class="para">“It dodged again! That’s not
fair! Not…faaaiur?” Mikhail’s speech suddenly slurred.</p>
<p class="para">“What’s wrong?”</p>
<p class="para">“For some reason…my
body…feels…weird…”</p>
<p class="para">Zero’s vision wavered and her body
felt bad as well.</p>
<p class="para">“Shit! Poison!”</p>
<p class="para">The black mist that Raphael was
occasionally spouting was apparently poison. Mist-emitting spiders
may not exist in reality, but there <i>are</i> plenty of venomous
ones.</p>
<p class="para">“Hey! You okay?”</p>
<p class="para">“Yeah…ya’…’kay…Z’ro…?”</p>
<p class="para"><i>That answer wasn’t even a
little bit “okay.” We should leave for now and recover.
Thankfully Raphael can’t fly. If we leave through the window we
broke to get in, it shouldn’t be able to get in the way or follow
us.</i> Thinking along those lines, Zero looked towards the
ceiling—and was stunned.</p>
<p class="para">The broken window was blocked off by
some sort of barrier. When they had been fighting Abdiel, she had
been amazed at the interior’s durability, but its purpose wasn’t
simply the building’s protection. Its particular goal was to keep
them from escaping.</p>
<p class="para">“Hurry up and kill this small fry!
Stop dawdling!”</p>
<p class="para"><i>If a retreat is impossible, we
just have to take out the source of the poison.</i></p>
<p class="para">“Yeah… O…kay…”</p>
<p class="para">His voice sounded weak. Had this
been before he had eaten Four and Three, he may have been killed by
now. Thankfully, his stamina and defensive power had dramatically
improved. <i>If we hurry, we can still make it.</i></p>
<p class="para">“Go, dummy!”</p>
<p class="para">Zero wrung out every bit of the
Power of Song from her body alongside Mikhail’s flames. Her throat
vibrated violently, and she could tell the magic was merging with
him.</p>
<p class="para"><i>We’ll take it out with this
shot. No matter what.</i></p>
<p class="para">Flames filled her blurry vision. In
the midst of the raging fire, Raphael could be seen burning.</p>
<p class="para">Mikhail landed and flopped down. The
summoning circle lost its light and the figure of Raphael
disappeared.</p>
<p class="para">She slipped clumsily off his back.
She wanted to ask if he was okay, but all that came out was ragged
breathing. The Flower may have extraordinary regenerative abilities,
but if it hurts, it hurts.</p>
<p class="para">“Zero…!” One wheezed. She
stood in a corner of the room. Her face was pale; she had probably
been breathing the same poison within the barrier. “You’re the
only one…I’ll never forgive.”</p>
<p class="para">Zero couldn’t believe her eyes. A
summoning circle was spreading behind One once again. First Abdiel,
then Raphael, and it looked like she planned to summon <i>another</i>
daemon.</p>
<p class="para">“Come to me, Gabriel!”</p>
<p class="para"><i>What the hell kinda strain is she
holding back?</i> She didn’t feel anything off in One’s thoughts.
The only thing that was coming through was absolute, intense
determination. She was suppressing the flower by the sheer force of
her strong will and using the Power while maintaining her reason.</p>
<p class="para"><i>She’s a monster,</i> Zero
thought. One, who didn’t seem at all like she had been born from
Zero, was an incomprehensible monster. She felt her steps waver.
Whether due to shock or the poison, she couldn’t stand up straight.</p>
<p class="para">Her back hit Mikhail’s body.
<i>That’s right. I’ve gotta get Mikhail to safety,</i> she
thought.</p>
<p class="para">“Zero… I’ll do my best.”
Slowly, he rose. “Leave Gabriel to me. You…get One…”</p>
<p class="para">Mikhail spread his wings as though
to protect Zero from Gabriel. Suddenly, Michael’s voice
overshadowed the figure. “Zero! Go kill your sisters!”</p>
<p class="para">Her eyes widened. Her waning
strength returned. <i>I can’t afford to do this again. I don’t
wanna fail like a year ago. Never again. This time.</i></p>
<p class="para"><i>Mikhail has a future. A long
life, more than a thousand years ahead of him. I will not allow him
to be robbed of that.</i></p>
<p class="para">Gripping her sword tightly, she
strode powerfully ahead.</p>
<p class="para">“Okay, dummy! Hurry up and finish
this so we can get out of here! Got it?!” She ran towards One,
sword aloft. All so she could get Mikhail somewhere safe as soon as
possible.</p>
<p class="para">She saw a chakram fly from One’s
hands. She, like Octa, was a chakram user. Though difficult to
handle, it was probably the best weapon to make up for her short
stature.</p>
<p class="para">It hummed as it spun, and she
stopped the blow with her blade. She had wanted to repel it but was a
bit slow. It arced back to One’s hand.</p>
<p class="para">Holding the chakram at the ready,
One spoke. Her feet were unsteady due to the poison, but her eyes
were colored with rage. “‘Hurry up and finish this’? Don’t
make me laugh! You’re the one that created us!”</p>
<p class="para"><i>So she knew,</i> Zero thought.
But she wasn’t all that surprised. She had already surmised that
One, shut up in the Cathedral City’s library reading every
volume—absorbing countless bits of information—would have already
come to that conclusion. That they were beings born from the Flower,
made of things that existed within Zero—the one they <i>thought</i>
was their older sister.</p>
<p class="para">“Even if they <i>were</i>
manufactured existences, my sisters were alive! Two, Three, Four,
Five—they lived!” She released the chakram, aiming to slam it
into Zero. “I swear by my murdered sisters’ souls, I will never
forgive you!”</p>
<p class="para">Zero used the entire length of her
sword to catch the spinning blade. The power was enormous, so much
that if she hadn’t braced herself well, she would’ve been mowed
down. Such was One’s fury.</p>
<p class="para">“I will <i>not</i> just <i>let</i>
you kill me! To be arbitrarily created and then just as arbitrarily
murdered… How could I possibly accept that?!”</p>
<p class="para"><i>Can’t accept it…</i></p>
<p class="para"><i>Ah, that’s it. Earlier, she
said she hadn’t found an “acceptable answer.” She’s always
been looking for that “acceptable answer.” She doesn’t want to
know the</i> truth<i>. She just wants to be able to</i> accept <i>it.
Accept herself, her fate, and her death.</i></p>
<p class="para"><i>There I am. One is me,</i> Zero
felt for the first time.</p>
<p class="para">When she—a convicted criminal—had
been on the verge of death on the execution grounds, she had cursed
the whole world and thought, <i>I can’t accept it.</i> She couldn’t
accept her lifetime of betrayal and deprivation. She couldn’t
accept a world where the righteous are not always rewarded and only
the cunning profit. She couldn’t accept a world where the noblest
and kindest of girls was killed like an insect.</p>
<p class="para"><i>Why? Someone tell me! Give me an
answer!</i></p>
<p class="para">Such was her wish, on the threshold
between life and death. What she kept screaming soundlessly. As she
cursed the world, she questioned it with the same intensity. <i>That</i>
was the true nature of One, the sister she had thought she couldn’t
understand.</p>
<p class="para">Once she understood that, One was an
easy puzzle to solve. It wasn’t that she had a strong sense of
justice, she just didn’t <i>accept</i> things that weren’t
righteous. That was all. She eliminated the oppressive lords and the
corrupt nobles because she “couldn’t accept” the reasoning
behind them.</p>
<p class="para">She was earnest about everything
because she wanted to accept herself, and devoured books because she
wanted to accept all the things around her. Even her personality and
actions that seemed hard to grasp had that single motive behind them.</p>
<p class="para">“Yep. I’m the culprit.”</p>
<p class="para">Zero could see the fire in One’s
eyes. Her red eyes were burning with indignation and hatred. Red
eyes, as though they had collected the blood of everyone Zero had
killed. Those flames, seeking to burn Zero to ashes…</p>
<p class="para"><i>Atone,</i> One’s lips spelled
out. <i>Atone for those lives.</i> The blade that demanded Zero’s
atonement attacked her. Using her sword as a shield, Zero stopped it.
She wasn’t about to just let One kill her either.</p>
<p class="para">Again and again, they clashed. Over
and over, One’s chakram and Zero’s sword met. The chakram,
humming, returned to strike, and Zero swung her sword down as she
dodged.</p>
<p class="para">“I made you all. Me. So—” The
caught the blow as it came straight at her, repelling it. Without a
moment’s hesitation, she thrust her sword out. Directly ahead.
Through the piece of herself. “I had no intention of getting your
fucking forgiveness in the first place!”</p>
<p class="para">She could feel a strong resistance
through the grip she was clutching. The sword had plunged into One’s
forehead. One screamed. It turned into the Power of Song, a shockwave
that shook the entire cathedral.</p>
<p class="para">At the same time, Zero unleashed her
own Power. She drove the sword through One’s skull and into her
body.</p>
<p class="para">From behind her, she heard Gabriel’s
roar. And then the sound of something crashing.</p>
<p class="para">The force transmitted through the
sword disappeared. The Song stopped, and there was silence. One
slowly collapsed, a black mist rising from her body before
dissipating. Her motionless corpse remained.</p>
<p class="para">“It’s over.”</p>
<p class="para">Zero froze as she turned. She
couldn’t believe it. It wasn’t just Gabriel that had crashed;
Mikhail had fallen alongside him.</p>
<p class="para">“You’re kidding…right?”</p>
<p class="para">Gabriel was charred from his chest
to his head, apparently having received a direct hit from the flames.
Mikhail, on the other hand, had had his throat gouged out. She had
only heard the one crash. So it had been a draw.</p>
<p class="para"><i>No, it can’t be a draw.
Mikhail’s not dead. He’s just unconscious.</i> She ran to his
side, putting her hand on his chest. But…</p>
<p class="para">“No…”</p>
<p class="para">She lifted her hand from his
chest—silent and cold as stone—and touched his closed eyelids.</p>
<p class="para">“Wake up! You can’t just keep
laying around!”</p>
<p class="para">She punched him in the jaw. The
place he hated getting kicked when he was half-asleep. She hit him
repeatedly. Again and again and again.</p>
<p class="para">“I said get up, dummy! You can’t
just go and decide…decide to…die on your own!”</p>
<p class="para">His eyes remained shut, unmoving.
Even when she hit him, or kicked him, or shook him. There was only
silence.</p>
<p class="para">“I can’t believe you’re
leaving me again! Leaving me…again…! Why…”</p>
<p class="para">Images of Mikhail and his voice
flashed through her mind. The days that they had spent together flew
by.</p>
<p class="para">Right when he had just reincarnated,
he had been no different than a baby, knowing nothing all. He could
say a few words, but just kept repeating <i>why?</i>, <i>how?</i>,
and <i>what’s this?</i> Everything was new to him, and the world
seemed full of wonder. Every sentence he spoke was a question.</p>
<p class="para">Almost every day, he would get all
caked in mud while playing around, making Zero angry. Once, trying to
wrestle with Zero, he destroyed a path, sending them careening into
the ocean. There were even some times when he’d go off in search of
food for the injured Zero.</p>
<p class="para">Just a year. Looking back, it was
just a brief span. She’d been cruel to him. She could count the
number of times she’d been kind. And yet, like a duckling following
its mother, he never tried to leave her. He had no memories of
Michael, so it wasn’t like he remembered the promise, and yet he
stayed by her side.</p>
<p class="para">They had faced down the ancient
dragon together. He had overcome his instinctive fear at a few words
from her. That was how much he believed in her. She was confused by
the weight of that, however, it also felt pleasant.</p>
<p class="para">He had never betrayed her. Not only
Mikhail. Michael, too. For Zero, who had been deceived and betrayed
for so long, the first person she had been able to trust wasn’t a
human at all, but a dragon—a completely different species.</p>
<p class="para">“Mikhail…”</p>
<p class="para">Regret that she hadn’t called him
by his name in the end smoldered in her heart. It hadn’t been
malice. She was just scared. To call him by name like Michael, to let
down her guard like with Michael, and then lose him.</p>
<p class="para">“Why the <i>fuck</i> wasn’t it
me?!”</p>
<p class="para"><i>Why is it only I survive, while
everyone important to me leaves? Why is it the one who should be dead
always,</i> always<i>, survives?</i></p>
<p class="para">“It’s this thing’s fault!”</p>
<p class="para"><i>Because of this Flower, I can’t
die even if wanted to. Because of this Flower’s stupid
regeneration!</i></p>
<p class="para">“This…this flower!”</p>
<p class="para">The hand that went to rip the Flower
from her right eye stopped. “The flower…”</p>
<p class="para"><i>If I used this Power, couldn’t
I bring Mikhail back to life? If it was that crazy regenerative
power…</i></p>
<p class="para"><i>I know how to do it. If I’ve
got the Power, I don’t need anyone to teach me. Like a child will
learn to walk, then run, and then jump, and then control its body in
various ways.</i></p>
<p class="para"><i>As I am now, I can do it.</i></p>
<p class="para"><i>It’s just… If I use this
Power to bring him back, that’d mean dragging him into the Flower’s
curse, too. Would he want that?</i></p>
<p class="para"><i>I know. This is a mistake,
selfishness on my part…a sin. I’m scared of being left behind
again, I don’t want to be left alone, and I’m dragging Mikhail
along with me.</i></p>
<p class="para">“…I’m sorry.”</p>
<p class="para"><i>Even so, I don’t want to let
him die. Never have I wished for someone to live more.</i></p>
<p class="para">“I command it!”</p>
<p class="para">She put her hand against the chest
that had lost its heartbeat.</p>
<p class="para">“With the Power of Song, for the
sake of saving this dragon…”</p>
<p class="para">She knew the exact way to use the
Power. Just like when she made the disciples. Even though it was the
first time she was doing it, she knew the procedure.</p>
<p class="para">“I hereby form a pact!”</p>
<p class="para">The magic within the cathedral and
the Power of Song mingled, swirling together. A summoning circle
appeared.</p>
<p class="para">“God of the East, Goddess of the
West…”</p>
<p class="para">The light erupted. The Power sent.</p>
<p class="para">“I offer the fire of this life. In
return, he is to be bound by the accursed flower.”</p>
<p class="para">Power surged through her, becoming a
torrent. It was directed at just one point.</p>
<p class="para">“Mikhail…”</p>
<p class="para">Pure whiteness sucked away her
consciousness.</p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>5</b></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">The air in the cathedral was pure.
The poison emitted by the spider and the barrier created by the Power
of Song had vanished without a trace. Sunlight illuminated the broken
stained glass. It must have been evening already. The light was soft
and tinged with red.</p>
<p class="para">Zero, standing on her toes, put her
ear to Mikhail’s chest. There was a slow but powerful pounding
sound. As she sighed in relief, her clothes slipped from her body to
the floor. She quickly grabbed them, wrapping them around herself.
The clothes of an adult were a bit much for a child’s body.</p>
<p class="para">She had certainly never expected her
body to revert back to that of a child. When the Flower took all the
Power from her and created her sisters, her body hadn’t changed,
she had just been unable to move. So she had thought this time would
be similar.</p>
<p class="para">Apparently, giving your Power to
revive someone alters your appearance.</p>
<p class="para">“Heeey!”</p>
<p class="para">The voice that called out sounded
quite young, which was for some reason terribly embarrassing. It may
have been her lowered point of view, but Mikhail looked ridiculously
big. That annoyed her a little, and she kicked him. But with a
child’s strength, he surely felt no more pain than being bitten by
a mosquito.</p>
<p class="para">Still, he must have felt something.
He jerked awake.</p>
<p class="para">“Zero?” Mikhail’s head, which
was in a <i>much</i> higher position than hers, lowered. He blinked
his left eye, confused, when he saw Zero’s appearance. “Um…
You’re Zero, right?”</p>
<p class="para">A flower was blooming in his right
eye. She had known, but she felt a dull ache in her chest. The joy
she had felt at his revival withered, and bitter regret spread.</p>
<p class="para">“Zero!” Mikhail shouted. She
didn’t know what had happened; before she knew it, she was lying on
the floor. “How… How could you…!”</p>
<p class="para">She saw Mikhail raising his claws.
It was a move filled with rage. The one at the end of that swing
swiftly jumped back.</p>
<p class="para">Her mouth was strangely dry when she
went to ask what the hell was going on. When she swallowed, she
tasted blood. Right then she realized she was in so much pain she
couldn’t even breathe.</p>
<p class="para">It was then she finally
understood—she had been stabbed. She saw the blood spurting out.
She saw Mikhail, his huge chest puffed out to breathe fire.</p>
<p class="para"><i>Who? Who stabbed me? Who is it
Mikhail’s trying to burn?</i></p>
<p class="para">Searching for the answers to those
questions, she frantically looked around, straining her eyes.</p>
<p class="para">“O…ne…?!”</p>
<p class="para"><i>My eyes</i> are <i>open. So why’s
Mikhail about to burn One?</i></p>
<p class="para">But the flames never came for One.
Mikhail lurched over. Zero felt the vibration from the fall through
her entire body.</p>
<p class="para"><i>Why’s Mikhail dying? Why am</i>
I <i>dying? Why? I don’t understand. My mind’s a mess. Why’s
One—who should be dead—standing, while Mikhail—who should’ve
been revived—falling?</i></p>
<p class="para">“You’re wrong. I’m not One.”
It was a male voice. “I’m her younger brother. One’s brother.”</p>
<p class="para"><i>Shut up, that’s not what I
wanted to know!</i> she wanted to scream. But not even a word would
come, and again, the man threw back only irrelevant replies.</p>
<p class="para">“In the same way you created your
sisters, One created me.”</p>
<p class="para">She didn’t want to hear it, but
she understood. In an instant, her head cooled.</p>
<p class="para"><i>One said she hadn’t made a
disciple. It wasn’t a lie. She used a piece of herself—in the
form of this ‘brother’—in place of one.</i></p>
<p class="para"><i>It’s just my guess, but I
suspect One felt opposed to using another living creature to control
her Power. If it were a piece of herself, it wouldn’t matter. So
instead of a disciple, she decided to make this ‘brother’…</i></p>
<p class="para">The man who called himself One’s
brother released something nearby. That dry sound was probably a
sword. The sword that had just stabbed Zero.</p>
<p class="para">“I was a failsafe in case you
managed to kill her.”</p>
<p class="para">“Zero. Zero,” came an anguished
voice. The rough breathing was that of someone on the verge of death.</p>
<p class="para">She had expected to bring him back
to life. With the single-minded determination not to let Mikhail die,
she had used the Flower’s regenerative ability to forge a new kind
of magic—a “pact.” By dividing her Power and combining the two
of them, Mikhail—dragged into the curse of the Flower—had been
revived.</p>
<p class="para">But it had backfired. Since she had
reverted to a child, she had been swiftly cut down and was about to
meet her end. Since he was a part of her, Mikhail hadn’t even been
able to counterattack, and was about to lose the life she had worked
so hard to get back.</p>
<p class="para">The man that looked like One was
still saying something, but Zero could no longer hear him.</p>
<p class="para">“Mik…hail…sorr…”</p>
<p class="para">She couldn’t even manage a
satisfactory apology. Suddenly, everything became dim. Trying to at
least see Mikhail one last time, she summoned all of her remaining
strength to shift her gaze. And in the edge of her vision, she saw
something unbelievable.</p>
<p class="para">That woman. Accord, the one she had
killed on the cliff overlooking the sea, was standing near a pillar,
staring at her.</p>
<p class="para">Zero had never expected that Accord
lived. After a fall into the ocean from <i>that</i> height, she had
been sure Accord had died.</p>
<p class="para"><i>The woman I had planned to kill
didn’t die, while the friend I had wanted to live so badly did. I
hate the cold words “fate” and “destiny,” but what other
words would best describe my life and afterlife, both filled to the
brim with only ironic happenstances?</i></p>
<p class="para">She saw Accord turn. It looked as
though she had only come to witness Zero’s death. Her back was soon
swallowed by the darkness. And then that darkness took the fallen
Mikhail, the cold cathedral floor, and everything.</p>
<p class="para"><i>This is the end,</i> she thought.
<i>Forgiven or not. Saved or not. In the end, everything returns to
nothing.</i></p>
<p class="para">Zero knew there was no peace in the
darkness of death, and yet, she earnestly awaited that moment.</p>
<p class="para">Even now, I sometimes dream about
it. About the moment Zero murdered my sister. Yes, I saw it all.</p>
<p class="para">My sister’s plan should’ve been
perfect. She had lured Zero and the dragon into the cathedral and
then erected the barrier. She used her life to create a barrier not
even <i>she</i> could break. It could only be lifted with her death.</p>
<p class="para">She had probably been thinking about
what would happen if she couldn’t die. If she didn’t die and the
Flower took control, she could be comfortable in the knowledge that
the world would not face disaster so long as she was trapped within.</p>
<p class="para">Within that powerful barrier, she
first summoned Abdiel to tire out Zero and her dragon. Because that
wouldn’t be enough to kill them, she then called the poison-spewing
Raphael. Zero and the dragon suffered from the poison, but that
wasn’t enough to bring them down either.</p>
<p class="para">At last, she summoned Gabriel,
though she herself was poisoned as well. She had not summoned him
until the very end so that he would inhale the least amount of poison
possible. Between the dragon weakened by poison and Gabriel who was
not, the outcome was clear. After all, the dragon had been defeated
by Gabriel a year prior, before it had reincarnated.</p>
<p class="para">Besides, since Gabriel is a special
angel, there wasn’t much burden on my sister. Even exhausted by the
previous summons, he could be called without problems.</p>
<p class="para">But the reincarnated dragon was
stronger than she predicted. Even weakened by the poison, it fought
with Gabriel on equal footing.</p>
<p class="para">Zero was strong as well. Gabriel and
the dragon fought to a draw, but my sister lost. Outside the barrier,
I watched as my sister was murdered. The moment Zero’s sword
pierced her forehead, till the moment she fell and died. Everything.</p>
<p class="para">And then the barrier vanished. I had
to kill Zero. But my sister had miscalculated. I was a weakling. My
heart had been too weak to accept her death. For a time, I wasn’t
able to move from that spot. Her death was lamentable, and her
murderer terrifying.</p>
<p class="para">While I was frozen, Zero used the
restorative ability of the Flower to save the life of her dragon. It
was the first “pact” in this world.</p>
<p class="para">Zero probably didn’t fully
understand what would become of her as a result of this, or what
would happen. If she had known everything, I think she wouldn’t
have made the pact.</p>
<p class="para">But she revived the dragon through a
pact. The Intoner Zero and the white dragon became this world’s
first pact-partners.</p>
<p class="para">When I saw it, I was truly stunned.
After all, the devilish Zero had become a small child. If that were
the case, even I could kill her, I thought. I regained the courage I
had lost after my sister’s murder.</p>
<p class="para">Zero and the dragon were completely
oblivious to my approach. The dragon was probably shocked to see Zero
as a child, while the child-Zero’s abilities had completely
degraded. Thus, they were unable to pick up on the approaching
bloodlust.</p>
<p class="para">I easily circled around behind her
and killed her with the sword made of Gabriella’s fang. There was
no counterattack at all. She died with no resistance. The dragon
fought back, but not in time. It had become one with Zero due to the
pact, and so ran out of strength before it could breathe its flames.</p>
<p class="para">Ironic, isn’t it? The dragon had
been revived, but only for a mere moment. No matter what Zero did,
she couldn’t change the outcome—the dragon’s death.</p>
<p class="para">If she hadn’t become a child, I
may not have been able to kill her. I may have remained quivering
behind the pillar, clutching the sword.</p>
<p class="para">Trying to save someone as an
accursed Intoner turned out to be her downfall…</p>
<p class="para">Come to think of it, when Zero
called its name as she was dying, the dragon looked delighted. It’s
a strange topic to be happy about as you’re dying, so I may have
been mistaken.</p>
<p class="para">After I killed Zero and the dragon
died, I stood there dumbfounded for a while. I was overwhelmed beyond
anything I had ever experienced. Sister and Gabriel were dead. Who
would protect the world—protect <i>me?</i></p>
<p class="para">I might’ve gone a bit crazy then.
I was so terrified of anything and everything that I ran without
thinking.</p>
<p class="para">I think my sister had probably
expected me to die there. When the barrier lifted and I killed Zero,
I would breathe the remaining poison and die. There would be no one
left who was affected by the Flower…</p>
<p class="para">She probably never imagined that
Zero making a pact would purify the poison from the air in the
cathedral. The pact was a miscalculation for both of them.</p>
<p class="para">From there, you know the story. I
took refuge in my room in the tower, and after hiding myself away for
a long time, I was found by the people of the Church. I claimed to be
One, and masquerading as my sister, built a new church. The Church of
Angels, in honor of my sister One, Gabriel—the dragon that died for
her—and Gabriella—the dragon that became an angel for her.</p>
<p class="para">Then—quite by chance—you
discovered my true identity. No, I’m not criticizing you. I’m
grateful. It wasn’t a secret I could have kept alone. You saved me
by becoming my accomplice. If you hadn’t helped me, I don’t know
if I could have acted as the church’s suzerain for so long.</p>
<p class="para">Speaking of which, I left the
Cathedral City once. You were curious, but after what I’ve said
now, you know the reason, don’t you? Why I was so anxious to go to
the Land of Forests.</p>
<p class="para">It’s because I had to find out.
After all was said and done, what happened to the forest?</p>
<p class="para">Surprisingly, the forest had
completely gone back to how it had been before. The poisonous mist
was nowhere to be found, and the fairies and elves had returned. I
wondered if my sister and I had been dreaming.</p>
<p class="para">But that wasn’t the case. There
<i>had</i> been something going on. It wasn’t some sort of dream.</p>
<p class="para">How did I know, you ask? Because the
same disaster struck the Cathedral City. You remember, right? It was
no more than five years ago.</p>
<p class="para">It was the year 1012. That day, the
same disaster occurred in the cathedral. Everyone thought the end of
the world had come. I was the only one who knew it was the same as
the outbreak of poison in the Land of Forests. Its strength was a bit
different, but the sensation was the same, so I recognized it
immediately.</p>
<p class="para">When the believers that had
congregated there began collapsing, I knew I had to do something. I’m
not a true Intoner so I can’t use the Power of Song. But I’m not
an ordinary human, so I can use a bit stronger magic.</p>
<p class="para">I would draw the poisonous mist to
me, and in the meantime, everyone could escape. I thought if it were
just that, even I could manage.</p>
<p class="para">It was pride, now that I think about
it. I was posing as my sister One, and people revered me as the Holy
Suzerain, so I felt I should save the world. I was conceited,
thinking I had that much Power.</p>
<p class="para">Even my sister had been unable to
stop the disaster in the forest. It had spontaneously begun, spread,
and vanished. It wasn’t something a person could do anything about.
I should’ve known that, and yet…</p>
<p class="para">Unable to stop it, I was about to
get swallowed up when I was rescued by a believer. The girl, her
faith so strong, risked her life to save the “Holy Suzerain.” And
thus she was swallowed up instead.</p>
<p class="para">Amazingly, that stopped it. My
incomplete magic and a woman willing to sacrifice herself combined,
accomplishing some sort of transformation.</p>
<p class="para">Ah, that’s right. You were there,
too. But even though you saw the whole thing, you don’t completely
understand what happened, do you? Me neither. I had no clue what was
going on.</p>
<p class="para">I didn’t understand why, but
regardless, the disaster ceased. Unlike when it happened in the Land
of Forests, that’s not to say it <i>vanished</i>. It just <i>stopped</i>.
No, maybe the phenomenon hadn’t vanished from the Land of Forests
either, but just moved somewhere else. Like from deep in the forest
to the cathedral of the Cathedral City.</p>
<p class="para">One thing was certain: the only
thing stopping it was a living human. After that believer died in
agony, it started up again. Yes, unless someone sacrificed
themselves, it couldn’t be stopped. That was learned through her
sacrifice and death.</p>
<p class="para">So when you stepped forward,
everyone was relieved. With this, everyone would be safe until your
death, they said. Selfish, right?</p>
<p class="para">Why did I object to it? You’re
saying you don’t understand? That my catchphrase is that my sister
put her life on the line to try to save the world, so I want to
protect it instead?</p>
<p class="para">That’s just lip service. I…as
long as my sister was alive, I didn’t care either way about the
world. But she’s not here anymore. The only thing she left me was
the world she tried to protect. Just that. So to me, the world is
just a stand-in for her, so to speak.</p>
<p class="para">…Sorry. That wasn’t very kind of
me. I shouldn’t have said such things in front of you. But that’s
why I didn’t think you needed to be sacrificed. There’s no reason
for you alone to suffer for the sake of something like the world. So
I objected.</p>
<p class="para">But my opposition alone didn’t
change anything. Though the suzerain of the Church of Angels was
against it, it was covered up. They just pretended it wasn’t the
case. Everything was decided without my knowledge and carried out in
my name. Before I knew it, I had become a mere figurehead with no
real authority.</p>
<p class="para">A handful of priests held the real
power, and they were squeezing the believers—the people—dry
without anybody knowing it. I had inadvertently created a group that
did the same things as the lords my sister so despised. Within this
Church.</p>
<p class="para">They exaggerate and embellish
everything, manufacture authority, and twist things to their
advantage. As far as <i>they’re</i> concerned, righteousness,
truth…those things don’t matter one way or another.</p>
<p class="para">As for the disaster, well, even
though nothing at all had been clarified yet, they started talking
about the “Great Era” or some such, acting like they knew
anything. It was just luck that it stopped, but they spread it as
their own achievement.</p>
<p class="para">You know what they plan to call you?
The Goddess of the Seal. You’re to be the second goddess, with the
one who stopped the disaster five years ago being the first. “Seal”
is a bit of an exaggeration, because it’s my faulty magic if you
trace it back. It makes me laugh.</p>
<p class="para">After this, I wonder how many
goddesses will die in pain for the sake of this world. I wonder if
their families and lovers will mourn them. If they’ll curse their
fate. If they’ll hate the world. The goddesses that should protect
the world will give rise to so much hatred and tragedy…</p>
<p class="para">Besides, I can’t help but feel the
word “goddess” itself is a rather ominous coincidence. Here, the
usual legend: “Long ago, five goddesses descended on this land.”
Ultimately, the goddesses—the five Intoners—didn’t save the
world. Led around by that mighty Power, they died.</p>
<p class="para">Perhaps it’s a dangerous decision
to entrust the world to those that bear the moniker of “goddess.”
But that’s a cruel thing to say to you.</p>
<p class="para">Well, with this, my story comes to
an end. There’s nothing more I can do for your suffering.</p>
<p class="para">Oh, there is one thing. A way to end
your suffering. Yes, by my own hands. By getting these hands dirty. I
told you, right? The value of this world to me. It’s certainly not
heavier than someone suffering right before my eyes.</p>
<p class="para">Come on, how about it? You want
that, don’t you? <font face="Arial, sans-serif">​</p>
<p class="para"><br/>
<br/>

</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/story-side/chapter-three">Previous Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/story-side">Back</a></p>