---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---
<style>
    #number{
        font-size: 400%;
        margin-top: 1%;
    }
</style>
<TextLayout>
</TextLayout>
<title>Chapter Three</title>
<p style="margin-top: 1cm; font-size: 300%;">Chapter Three</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/mrkusabi">MrKusabi</a></p>
<p class="title">The Disciples' Chapter</p>
<p style="margin-bottom: 0.11in"><br/>
<br/>

</p>
<p class="title" id="number"><b>1</b></p>
<p style="margin-bottom: 0.11in"><br/>
<br/>

</p>
<p class="para"><i>Since long ago, demons have
dwelled in the forest. Therefore, people should not try to live
there.</i> Such was written in a book that she remembered.</p>
<p class="para">She had forgotten the title of the
book, but it was not so long ago that she had read it. It was after
she had led her four sisters in overthrowing the lords of the
countries and they had returned triumphant to the Cathedral City, a
bit over a year ago at most.</p>
<p class="para">Though it may not have been recorded
in books, a great majority of the inhabitants of the Land of
Forests—where over half the land was covered in a dense growth of
trees and plants—were not human. There were fairies, elves, and
numerous monsters. The human settlement was located at the very
entrance to the vast forest.</p>
<p class="para">“Are you still going in, Sister?”</p>
<p class="para">Her brother’s voice trembled
anxiously from where he walked beside her. Probably because they were
so far from the village. Not because they had no guards and it was
just the two of them. She did not allow anyone to accompany her when
her brother was there, no matter where they were going.</p>
<p class="para">She was keeping her brother’s
existence a secret from those around her. Even her sisters didn’t
know. She had created him as a trump card to ensure Zero was brought
down. If anyone found out, he wouldn’t <i>be</i> a trump card
anymore.</p>
<p class="para">“Hey, let’s go home already.”</p>
<p class="para">Timid, passive, overly dependent.
Her brother’s behavior was so very different from hers, though his
appearance was her mirror. <i>Created from myself, and yet…</i> One
couldn’t help but wonder frequently.</p>
<p class="para">“Don’t worry. There’s nothing
to be scared of.”</p>
<p class="para">“But this forest is a bit weird.”
His footsteps stopped. He looked around with a frightened expression.</p>
<p class="para">“…You think so?”</p>
<p class="para">He nodded. That meant her own
concerns weren’t groundless. She had been feeling a strange
presence for a while.</p>
<p class="para">“Alright. After we look around a
bit more, we’ll go home.”</p>
<p class="para">“Really?”</p>
<p class="para">“Mmhmm.”</p>
<p class="para">She had intentionally omitted “a
bit more” meant “until she located Three.” She hadn’t
explained to him what the purpose of her investigation was in the
first place.</p>
<p class="para">There had been repeated reports of
strange happenings in the forest recently. Monsters and beasts not
native to the forest had been appearing frequently, people were going
missing one after another from the village, the fairies had vanished…</p>
<p class="para">The final straw had been a rumor
that someone had poisoned the forest. Though only a rumor, it was
quite credible, as convoys of elves had been spotted fleeing the
forest.</p>
<p class="para">If the livelihood of the elves was
being threatened, there wasn’t a moment to spare. If it were found
that the culprit spreading poison was a human, the elves would
absolutely retaliate. She needed to take action before that happened.</p>
<p class="para">She couldn’t allow the elves—or
anyone else—to learn who the culprit was. Because—</p>
<p class="para">“Three…”</p>
<p class="para">—it was the ruler of the Land of
Forests, one of the Intoners who bring peace and order to the world.
There was no doubt that was who had poisoned the forest.</p>
<p class="para"><i>That Three caused such a dire
situation! It was a mistake to leave the Land of Forests to her,</i>
One recalled with bitter regret. She had already known of Three’s
“dangerous tendencies.”</p>
<p class="para">But in the sparsely populated Land
of Forests, there should’ve been few chances to encounter people,
and even if a few mistakes happened, they wouldn’t lead to anything
serious. But that had been naïve. She hadn’t foreseen that people
and soldiers that admired the Intoners would approach Three.</p>
<p class="para"><i>I am responsible. Therefore, I
must pass judgment with my own hands…</i></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">“Sister? Sister! Are you
listening?”</p>
<p class="para">Her brother’s voice shook her from
her thoughts.</p>
<p class="para">“Sorry. I was lost in thought. Is
something wrong?”</p>
<p class="para">“The sky’s a weird color.”</p>
<p class="para">He pointed at the sky peeking
through the gaps in the thick canopy. She hadn’t needed to be told
to have noticed it. The sky was tinged a dull yellow color. Proof
they were approaching the source of the anomaly.</p>
<p class="para">Though her brother hadn’t noticed,
the color of the sky wasn’t the only sign of something strange.
Since they had left the village, the animals had vanished. Due to her
superhuman hearing, One knew. She couldn’t hear any sign of
creatures bustling about, or birds chirping and flapping their wings.
Typically, the farther from the village they went, the <i>more</i>
signs of animals there would be. Though the reason for their absence
from the forest was…</p>
<p class="para">“The color of the sky is so wrong.
We should go back now!”</p>
<p class="para">“It’s not so strange. It’s a
fairly common phenomenon this time of year,” One lied. Normally,
her brother stayed in his deserted one-room tower. As she had few
opportunities to take him out, he had relatively little knowledge of
the outside world.</p>
<p class="para">“Is that so? So the sky can be
that sort of color…”</p>
<p class="para">He never doubted her words. She felt
a pang in her conscience at the sight, but there was no other way.
The source of the anomaly was close, so that meant Three’s location
was nearby. They couldn’t go back.</p>
<p class="para"><i>To get rid of the poison, I have
to know about it. What kind is it, and how was it spread? Only the
one that did it knows. When I catch Three and make her cough up the
details of the poison, then…I must mete out punishment with my own
hands.</i></p>
<p class="para"><i>Punishment? Such a simple word
isn’t suiting. Kill. My sister, with my own hands.</i></p>
<p class="para">It was ironic. The reason she had
fought her older sister Zero was because Zero had tried to kill her
younger sisters. And now she was planning to do the same thing. <i>No,
this is different. Completely different,</i> One tried to persuade
herself. <i>I’m different from Zero, trying to hog all the Intoner
Power to herself.</i></p>
<p class="para"><i>I even warned Three over and
over. But still, I couldn’t stop her. Taking her life is the only
way left to stop her. It’s not in the slightest for my own benefit.
Unlike Zero.</i></p>
<p class="para">Suddenly, she had doubts. <i>How can
I be sure I’m really different from Zero? What if Zero was lying
about her goals? What if she was acting not to take all the Power for
herself, but for another goal, one not entirely selfish? What if my
original assumption was wrong…</i></p>
<p class="para"><i>A stupid fantasy. Shake off the
doubts. I should be thinking of Three right now, not Zero. And the
crisis in front of me.</i></p>
<p class="para">The crisis. Something had smelled
off since a bit before. Not a “stink,” but something more like a
“presence.” A <i>something</i> she had never smelled before was
drifting from within the depths of the forest.</p>
<p class="para">“What’s that smell, Sister? It’s
been coming for a while…”</p>
<p class="para">“Do you recognize it?!”</p>
<p class="para">Her uncharacteristic shout was due
to her brother sensing the faint “something” as well. If that was
the case, it wasn’t a “smell.” His sense of smell shouldn’t
have been any different than an average human.</p>
<p class="para"><i>What the hell is it? It’s not
the presence of a monster, nor is it a magical effect. It’s not the
Power of Song. What is this phenomenon that even my brother can pick
up with his normal senses?</i></p>
<p class="para">When she carefully surveyed the
surroundings, she caught sight of someone collapsed at the base of a
tree. She rushed over, lifting them up: a woman and a young child.
The woman was holding the child tightly, probably her own she was
trying to protect.</p>
<p class="para">Her brother cautiously peeked over.
“Are they dead…?”</p>
<p class="para">“No. They’re both still
breathing. If we get them out of the forest quickly and get them
treatment—”</p>
<p class="para">“They’ll be saved?”</p>
<p class="para">“Yes.”</p>
<p class="para">Her question about why they were so
far into the forest vanished swiftly. There were rope marks on the
woman’s arms and legs. It seemed the ropes had been forcibly
removed, as there were awful scrapes. As for the child, rope still
hung from its arms. That meant they had been held somewhere.</p>
<p class="para">“Was this Three’s doing as
well?”</p>
<p class="para">Before, when she had heard rumors of
people vanishing one after another and investigated, the culprit had
been Three. She had been abducting her own people at random and
remodeling them.</p>
<p class="para">Three liked to play with dolls. But
not normal dolls. When she had come across a doll made by the lord of
the Land of Sands—one made of human skin and bones—Three had gone
astray.</p>
<p class="para">At first, it seemed she had dug up
corpses from cemeteries and used those as ingredients to make the
dolls. Eventually, in search of “fresher materials,” she went to
battlefields. For the bodies of those who had died in battle.</p>
<p class="para">Finding those unsatisfactory as
well, she finally turned to living humans. She learned that not only
could she simply use the living humans, but she could also mix them
with monsters. The things made like that had gone from the category
of “dolls” and become grotesqueries.</p>
<p class="para">When One had learned the truth, she
had still been unable to kill her own sister, stopping at a harsh
reprimand. She made Three dispose of the creatures herself and
promise to never again make her dolls. She had thought she had made
her promise.</p>
<p class="para"><i>I should have known. Her promise
was nothing more than peace of mind. In fact, the villagers continued
being abducted after that.</i></p>
<p class="para"><i>Now, not only are there no humans
in the forest, but no sign of animals either. What the hell has Three
done?</i></p>
<p class="para">“Sister, I feel a bit…sick.”</p>
<p class="para">When she looked, her brother’s
face was pale. Sweat beaded on his forehead.</p>
<p class="para">“Hold your breath! Don’t breathe
in anymore!”</p>
<p class="para">She had known the “something”
that wasn’t a smell or a presence was harmful. Or more
specifically, her estimation was that it was the “poison” someone
had spread. But she herself was an Intoner. There was no way she
would die from mere poison, so she had prioritized tracking down
Three. No way had she ever thought her brother—her other self—so
weak to poison.</p>
<p class="para"><i>No, I myself am an imitation of
Zero. My brother is an imitation of an imitation. He may be stronger
than a mere human, but I made a mistake in expecting him to have the
same strength as an Intoner.</i></p>
<p class="para">Besides, the mother and child were
on the verge of death now. Saving those two took priority over
tracking down Three.</p>
<p class="para">“Gabriel!”</p>
<p class="para">Calling for the dragon, she carried
the limp, motionless mother. The child was carried by her brother.
They escaped to the sky on the back of Gabriel, who came flying in
from above.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">“What was that?”</p>
<p class="para">While breathing on her shoulder, her
brother turned to watch the forest fade in the distance. From the
sky, no one would have any idea of what was happening.</p>
<p class="para">“It must have been…some sort of
poison.”</p>
<p class="para">One herself felt quite unwell. Even
as a superhuman Intoner, she had dizziness, ringing ears, and nausea.
If she kept breathing the poison for a long enough time, she might
become so weak she couldn’t move.</p>
<p class="para">“Was it some monster that breathes
poison?”</p>
<p class="para">“No, not that.”</p>
<p class="para"><i>The poisons from monsters have
specific properties, and there aren’t many kinds. So I knew right
away the poisonous fog in the forest was different.</i></p>
<p class="para">“Well, is it because a lot of
poisonous plants grew?”</p>
<p class="para">“Not that either.”</p>
<p class="para"><i>Naturally propagating plant
poisons don’t manifest like that. The poisonous fog might have been
made by cutting poisonous plants and burning them or dissolving them
in water, but that’s only possible through someone’s actions, not
“because a lot of poisonous plants grew.”</i></p>
<p class="para">“Hmm. Well, what is it? Oh, maybe
that? You know, the thing you told me about the other day… Um, the
poison that comes from the cracks in the rocks of fire mountains.”</p>
<p class="para"><i>Volcanoes. A book he had been
reading to kill time contained a reference to “mountains of
fire”—that is, volcanoes. So I told him about eruptions and lava.</i></p>
<p class="para">“I don’t think it’s that. I’ve
heard the poisons from mountains of fire have strong, noxious smells.
The poison earlier had a smell, but it wasn’t that strong. Besides,
strictly speaking it wasn’t quite a smell.”</p>
<p class="para">“What do you mean?”</p>
<p class="para">“A presence that feels like a
smell, perhaps.”</p>
<p class="para"><i>Either way, we probably won’t
figure out the truth about the poison until we ask Three herself.</i></p>
<p class="para">“That’s enough talk of poisons.
Right now, the more important thing is getting the people of the Land
of Forests to a safe place.”</p>
<p class="para"><i>I need to hurry back to the
Cathedral City and dispatch a rescue team. If that poisonous fog
spreads, the villagers will be in danger, too. They can take refuge
in the Land of Sands—no, the Land of Mountains would be better.</i></p>
<p class="para"><i>Protect the world, hunt down and
pass judgement on my younger sister, fight my traitorous older
sister… Not just those. I got word that Five was killed in the Land
of Seas. I need to do something about that quickly as well. Speaking
of, I haven’t been able to get in touch with Four…</i></p>
<p class="para">She was almost dizzy at the thought
of the numerous heavy tasks before her.</p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>2</b></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">After Four was eaten by Mikhail,
Decadus didn’t move from the spot.</p>
<p class="para">“Please kill me as well. Now that
my master Lady Four has passed on, my duty is—”</p>
<p class="para">“—not over.” Zero interrupted
him forcefully. Decadus, back hunched and on his knees, lifted his
face in confusion. “I still have use for you.”</p>
<p class="para"><i>This should’ve ended much
earlier. If I hadn’t failed to kill my sisters, the disciples
would’ve been freed a while ago. This is entirely my own fault
because I was too weak.</i></p>
<p class="para"><i>Here, too, is a seed I have sown…</i></p>
<p class="para"><i>With that in mind, I should be
the one to take in the disciples that lost their masters. There’s
still the question of where to release them, but I can worry about
that later. At least it’s better for the both of us than just
abandoning them here.</i></p>
<p class="para">“But I have no value…”</p>
<p class="para">“Don’t you?” Dito interjected
from off to the side. “As a late-night companion. It’s not like
you can’t, right? You’re a disciple, after all. Oh, hey! When
Zero’s in a pissy mood, you’d even be a good candidate for her to
take it out on. Like getting pummeled, yeah?”</p>
<p class="para">“S-such…mmm. Punched and
kicked…Uuugh!”</p>
<p class="para">“Hey, hey, how’s it feel to be
forced into servitude right after your Intoner was killed?”</p>
<p class="para">Dito looked like he was having the
time of his life as he looked at Decadus’s expression. If it were
anyone else, such words would be like rubbing salt in the wound. But—</p>
<p class="para">“You’ve got a hard-on even with
such a serious expression on your face, you know?”</p>
<p class="para">“MMMMM!”</p>
<p class="para">“Stop looking so excited!”</p>
<p class="para"><i>The two of them seem to get along
pretty well. Seems like there won’t be an issue with Decadus coming
along.</i></p>
<p class="para">“Well, let’s hurry up and get
him to guide us. We’re going to the Land of Forests. There’s a
way, right? Some safe, quick shortcut to get there?”</p>
<p class="para">“Ah! Not only was I forbidden from
dying with my master Lady Four, but such a cruel order! Such…
Such….. I will guide you.”</p>
<p class="para">Even though he looked as he did, she
wondered as she looked at his prostrating form if he were mourning
his master’s death in his own way.</p>
<p class="para">But it was just that even the pain
in his heart was delightful to him.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">When they passed through the tunnel,
they found themselves in the scorching desert.</p>
<p class="para">“So, where exactly is this
shortcut?”</p>
<p class="para">Everything was fine as they
descended from the mountain fortress and, with Decadus’s guidance,
entered what seemed to be a hidden passage dug underground. How the
hell was she to know it opened up into the desert?</p>
<p class="para">“Weren’t we headed to the Land
of Forests? Isn’t that what you said, Zero?”</p>
<p class="para">“Yes, I did.”</p>
<p class="para">“But no matter how you swing it,
this is the Land of Sands.”</p>
<p class="para">“So it is. I can see it, too.”</p>
<p class="para">In contrast to the foul moods of
Zero and Dito, Mikhail was gleefully rolling about in the sand. He
loved playing in mud and water, so sand wasn’t an exception. Every
time he cheered and flapped his wings, a great burst of sand would
rain down on the group. It was extremely unpleasant.</p>
<p class="para">“Hey! Dummy! Knock it off!”</p>
<p class="para">Mikhail froze in place when Zero,
unable to hold it in anymore, shouted at him. Before, this was where
he would’ve pissed himself in shock, but that didn’t happen.
Human or dragon, kids grow up day by day.</p>
<p class="para">“Lady Zero, please calm yourself.
This is the route…”</p>
<p class="para">“Calm? In this goddamn gritty-ass
fucking heat?! What?” Zero’s temper had hit its limit as the
blazing sun beat down on their heads.</p>
<p class="para">“My apologies, but this is the
shortcut to the Land of Forests. Your orders were to take the safest
and quickest route.”</p>
<p class="para">If they tried to take the
straightest path from the Land of Mountains to the Land of Forests,
they would be forced to take a detour due to the high mountains
blocking the way. Moreover, Four had deployed a large number of
troops near the border between the two countries. It had been to
prevent entry by non-humans. Even though the distance was shorter, it
would be suicidal to charge into that sort of place—hardly what
they could call a “safe route.”</p>
<p class="para">“Conversely, there are almost no
troops on the border of this country and the Land of Sands. An
invasion from the Land of Sands would be virtually unthinkable.”</p>
<p class="para">Also, Decadus explained, the border
of the Land of Sands jutted quite far in between the Land of Forests
and Land of Mountains, so in actuality it was not really a detour at
all.</p>
<p class="para">“It’s as you say: this heat is
quite taxing. But the way it burns and the way the sand stings the
skin makes it the best part…”</p>
<p class="para">“Say anything else and I’ll kill
you.”</p>
<p class="para">Like Dito, Decadus got quiet with a
single glare. But unlike Dito, he had a somewhat unsatisfied look on
his face. Seems he wanted more abuse than just a glare.</p>
<p class="para">“I don’t feel like ‘playing’
with you.”</p>
<p class="para">She spoke over her shoulder,
striding away. From behind her, a voice whispered, “Neglect play!”</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">Like he had said, heading south
along the edge of the desert toward the forest was—other than the
heat—a safe and quick route. Along the way there were oases for
relief and ruins that could be used for camping.</p>
<p class="para">Other than coming across the
creatures living in the sand, they encountered neither troops nor
monster forces. Not only were there no soldiers, but they didn’t
see any travelers or traders either. The area between the Land of
Mountains and the Land of Forests was remote even for the Land of
Sands. It was far from the temple guarded by the Intoner as well.
Therefore, it seemed there was scant foot traffic.</p>
<p class="para">They were about to leave the desert
without having met anyone. So was it an accident or an inevitability
that a chance meeting with that person awaited them?</p>
<p class="para">Since it had been so long since they
had seen anyone but themselves, she thought it was an optical
illusion at first. The shimmering heat making something look like a
person, she supposed.</p>
<p class="para">Zero wasn’t the only one who
thought so, as Dito and Decadus didn’t say anything when they saw
the figure. But Mikhail was different.</p>
<p class="para">“Hey, hey! Someone’s there!
Someone’s there!”</p>
<p class="para">“So it <i>wasn’t</i> just my
imagination…”</p>
<p class="para">Had Mikhail not kicked up a fuss,
the three of them surely would’ve written it off as their
imaginations. The other two hadn’t said anything, after all. From
the mouths of babes. In both fairy tales and reality.</p>
<p class="para">“Doesn’t really look like a
person. Not walking like that.”</p>
<p class="para">Dito shrugged. It was definitely
more like drifting than walking. It was the way they swayed. And the
way the black hair covered their face made them look more and more
like a shadow.</p>
<p class="para">“That’s…” Zero squinted. The
figure walking unsteadily, swaying left and right, seemed somehow
familiar. “Hey! You over there!”</p>
<p class="para">The man who had been looking down
lifted his head. He was haggard, but handsome. “Is that one half of
the desert lovebirds?” Dito mumbled in amazement. That made it
certain.</p>
<p class="para">“He’s Two’s disciple, isn’t
he?”</p>
<p class="para">The man approached slowly. He was
swaying strangely, seeming unsteady on his feet. When he got close,
they could see he was terribly weak. He must have been wandering the
desert for a while.</p>
<p class="para">“What happened to Two?”</p>
<p class="para">“That’s a <i>seeeecret</i>.”</p>
<p class="para">His tone was mocking, but she didn’t
get angry. It was clear that he had been separated from Two for quite
some time. And there was Dito’s comment about the “desert
lovebirds.” Two’s personality was the complete opposite of hers.
It wasn’t that hard to guess what had happened.</p>
<p class="para">She whispered quietly in his ear so
the others couldn’t hear her. “…Didn’t you think about
following her?”</p>
<p class="para">For a brief moment, dismay colored
his dark eyes. But it quickly vanished, replaced with a joking
expression. “Whaaa? No idea what you’re talking about. ‘Cuz I’m
just a <i>biiig</i> idiot.”</p>
<p class="para">“I see…”</p>
<p class="para"><i>Like I thought, Two’s dead.
Probably suicide.</i></p>
<p class="para">It was ridiculous to think she died
of natural causes, and with her strength it was highly unlikely she
had been murdered. Zero had failed to kill herself, but her sisters
were imperfect hosts. If it were before the Flower took over, and the
conditions were right, she supposed it wouldn’t be impossible for
her to kill herself.</p>
<p class="para">“What’s your name?”</p>
<p class="para">“The name’s Cent.”</p>
<p class="para">All Zero knew was what the disciples
looked like. She didn’t know their names, their personalities, or
their relationships with their masters. But she could guess some
things from his behavior.</p>
<p class="para">“So what are you going to do? Come
with me? Or stay Two’s disciple?”</p>
<p class="para">The reason she asked instead of
ordered was because she thought it might be better to leave him as he
was. Contrary to his words, it seemed like he wanted to sacrifice
himself for Two. But Cent shook his head.</p>
<p class="para">“So long as it’s an Intoner, I
don’t really care which one. Yeah. ‘Cuz I’m a big idiot.”</p>
<p class="para">The remark was flippant and yet it
sounded somehow lonely. She nodded.</p>
<p class="para">“And so, the magnificently
handsome Cent shall be serving Lady Zero next, riiight?”</p>
<p class="para">In a sudden change, he gave an
exaggerated bow. She wondered what expression was on his downturned
face.</p>
<p class="para">“Gah. Calling himself
‘magnificent.’ You really gonna let this idiot join us, Zero?”</p>
<p class="para">If Cent had decided not to follow
Two to the grave, she could only bring him along. Because disciples
can’t exist away from Intoners.</p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>3</b></p>
<p style="margin-bottom: 0.11in"><br/>
<br/>

</p>
<p class="para">Right after joining up with Cent,
they crossed the border. As the dry, gritty path became moist earth,
Dito sighed in relief.</p>
<p class="para">“Are we finally done with that
desert? We’re actually in the Land of Forests this time, right?
Shortcut my ass, old man! ‘Not all that much of a detour’—that
was a fucking lie! Fuck. There’s sand everywhere—my shoes, my
clothes, even in my hair!”</p>
<p class="para">There had been surprisingly little
grumbling from Dito during their walk through the desert, she
thought, but it seemed he had just been too hot to open his mouth. As
soon as the heat let up, his chatter increased dramatically.</p>
<p class="para">Then, as if he had been waiting for
that, Cent spoke as he combed his bangs back theatrically.</p>
<p class="para">“So there are those out there like
that, huuuh? People who blame their lack of ability on the
environment and circumstances, yeaaah?”</p>
<p class="para">Dito gawped. “I’ll kill you! I’m
gonna fucking kill you, you idiot!”</p>
<p class="para">From the moment he joined them, Dito
had been on the warpath against Cent. The way he would drag out his
words like he was mocking them managed to strike a nerve with Dito.
Even the mild-mannered Decadus was frequently driven to sullen
silences.</p>
<p class="para">When he was with Two, he had surely
spoken more respectably, but it was close to impossible to guess that
from Cent now. The loss he felt at Two’s passing must’ve been
that great.</p>
<p class="para">“<i>Sooorry</i>. My keen insights
so often strike the soft spots of idiots—I mean, everyone, yeaaah?”</p>
<p class="para"><i>But whatever the reason, I’m
getting annoyed.</i></p>
<p class="para">“Shut up!” With that
declaration, she turned to Decadus. “So, where do we go from here?”</p>
<p class="para">“My humblest apologies,” he
said, prostrating himself on the spot. “I am only capable of
guiding you this far.”</p>
<p class="para">“Well, whatever. And don’t
grovel every time.”</p>
<p class="para"><i>He’s definitely enjoying it,
but for everyone watching it’s just irritating.</i></p>
<p class="para">“I may be merely unfamiliar with
the paths within the forest., but…”</p>
<p class="para">“But?”</p>
<p class="para">“N-no. I am not certain, but the
forest looks different from before. But as I visited the Land of
Forests over a year ago with Lady Four, I may be misremembering.”</p>
<p class="para">According to Decadus, Four had been
ordered by One to report on the situation in the Land of Forests. In
short, she was Three’s keeper. One must have had concerns as well
about putting the eccentric Three in charge.</p>
<p class="para">“Hey, hey. Is Three way back
inside this forest?” Mikhail interrupted, stamping around happily
and swinging his tail. Contrary to her belief that he would be upset
at leaving the sand he was playing in behind, it looked like his
interest had already shifted to the forest.</p>
<p class="para">“I think so. But you look awfully
happy.”</p>
<p class="para">“That’s because we can meet your
sister. I’m excited! I’m excited!”</p>
<p class="para">“We can kill each other, too! I’m
excited! I’m excited!”</p>
<p class="para">When she mimicked his words, he
stopped, looking uncomfortable. But that was all. Unlike before, he
didn’t say he was “against her killing her sisters.”</p>
<p class="para">Perhaps he had learned the world
isn’t moved by righteous arguments alone, or he had picked up that
saying anything to Zero was futile. Or maybe both.</p>
<p class="para">“Come to think of it, Zero, have
things always been rough with your sisters?” Dito, asked as though
the question had suddenly occurred to him. “Ol’ Blubber Bags was
probably born stupid and slutty and greedy, so it makes sense that
things with her were an issue. But what kind of kids were Three and
the others when they were little? Were they little shits that made
you wanna kill ‘em?”</p>
<p class="para">Dito and Mikhail both looked curious
in different ways. Their eyes shined with expectation as they looked
at Zero. Unaware that those expectations were about to be dashed in
an instant.</p>
<p class="para">“Actually, I don’t know.”</p>
<p class="para">“What the? Their own sister says
she <i>doesn’t know?</i> Now I’m starting to feel a bit bad for
Three.”</p>
<p class="para"><i>I don’t know what I don’t
know. I saw them as little girls, but they ran away without saying
anything, so I have no way to answer the question of what kind of
kids they were. Since Dito doesn’t know the circumstances, it
probably sounds like the words of a callous older sister towards her
own younger sisters.</i></p>
<p class="para"><i>And he doesn’t know there
wasn’t a “when he was little” for him either…</i></p>
<p class="para">“That’s enough chatting. Here
come enemies.”</p>
<p class="para">She could see soldiers running from
within the forest. But something wasn’t right. Even from a
distance, the running looked unnatural. Right as she wondered why,
she knew the answer. The smell of decay was wafting through the air.</p>
<p class="para">“Zero! Look! Those guys! Maggots
are coming out of them!”</p>
<p class="para">The soldiers raising their swords
were corpses. Their bodies were already decomposing. That was why
they were running so strangely. Since their flesh was rotting away,
their limbs wouldn’t lift properly. Despite that, they were trying
to move about as they had while they were alive.</p>
<p class="para">“They’re dripping with rot! This
is the best!”</p>
<p class="para"><i>Not the best, the worst,</i> she
wanted to correct him, but in light of his tastes, “best” was
probably not a misnomer. Dito, leading the charge against the undead
soldiers, looked like he was going to start dancing at any moment.</p>
<p class="para">“Look, look, look! Their guts are
turning to mush! It’s so gross!”</p>
<p class="para">Probably feeling no pain from the
slashes, the undead soldiers—scattering rotting flesh and entrails
from their gaping wounds—still came at them.</p>
<p class="para">Calling it nauseating wouldn’t be
nearly enough for the spectacle. Above all else, the stench was
dreadful. Even Decadus, who found agony rewarding, grew pale, and the
irritatingly chatty Cent had become positively laconic.</p>
<p class="para">In the midst of it all, Dito alone
was swinging his sword with glee. Although unlike living soldiers,
cutting them down wasn’t the end of it. The undead wouldn’t stop
moving until their bodies were completely destroyed. In other words,
there was no end in sight.</p>
<p class="para">“Dummy! Burn ‘em all in one go!”</p>
<p class="para">Dito looked back with an expression
that seemed to say, “Don’t get in the way of my fun,” but Zero
ignored him. <i>We can’t waste time here.</i></p>
<p class="para">Looking unhappy, Dito stepped back
from the corpses, and Mikhail’s flames engulfed the area, purging
it of the whole group. <i>Frankly, we’re lucky it happened before
we got into the forest.</i> At that thought, she had a bad feeling
for some reason.</p>
<p class="para"><i>Looking at it from the other way,
we can’t use fire in confined spaces or inside the forest, so it
would be trouble if those corpses surrounded us…</i></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">Her fears unfortunately came true.
There were undead soldiers wandering everywhere in the forest. And
not just soldiers. There were also undead monsters. Large monsters
like ogres and gigas that had become undead attacked them. Even as
undead, large monsters are strong and they take time to bring down.
And as undead, they can’t be brought down with the usual methods.
It was more than just a nuisance.</p>
<p class="para">“Ah, there’s no end to it! It’s
annoying! And depressing!”</p>
<p class="para">That Dito was happily swinging his
sword around was making her quite irritated.</p>
<p class="para">“As you can see, since I’ve been
blessed with a very handsome body and a very gorgeous face, honestly,
I could beat this sort of enemy in an instant, <i>buuut</i>…”</p>
<p class="para">“Then do it!”</p>
<p class="para">“Naaah. Right now iiis…”</p>
<p class="para">“And your face is irrelevant!”</p>
<p class="para">Cent’s dragged-out words were
making her more irritated.</p>
<p class="para">“Lady Zero, please calm yourself…”</p>
<p class="para">“Shut up!”</p>
<p class="para">Decadus’s timid protests were
making her <i>even more</i> irritated.</p>
<p class="para">“Hey! Dummy! You look for Three in
the air! Find her right now! As fast as you can!”</p>
<p class="para">“But I don’t know what she looks
like?”</p>
<p class="para">“If you’re a dragon, you’ll
recognize an Intoner! Now go!”</p>
<p class="para">“Okay! Okay!”</p>
<p class="para">“Stop repeating yourself!”</p>
<p class="para">Mikhail flew off in a panic when she
shouted at the top of her lungs. He must really have been panicking
as branches rained down after a moment.</p>
<p class="para">“Zero’s so <i>nice</i>. Taking
the trouble to let the kid get somewhere safe,” Dito spoke
teasingly as he stomped the limbs of the dismembered corpses.</p>
<p class="para">“The right tool for the right job.
In a narrow place like this, that huge body’s just in the way.”</p>
<p class="para">“<i>Oooh?</i> Well, if you say
so.”</p>
<p class="para">By then she didn’t have the energy
to snap back at his cheeky jabs. She was completely exhausted from
the endless task of slashing, smashing, and stomping wave after wave
of undead.</p>
<p class="para">“If you’d just deal with them
<i>properly</i>, we’ll hurry up and move on! If we take on all of
them, we’re not gonna last.”</p>
<p class="para">Her nose had gotten used to the
smell of rot, and she didn’t notice it much anymore. <i>That means
that awful reek has probably transferred to me.</i> She felt
depressed just thinking about if it would come off with some washing.</p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>4</b></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">They advanced deeper into the
forest, scattering, evading, and at times destroying the corpses.
However, she had completely lost track of which way “deeper”
actually was. As they had randomly moved about, she had lost all
sense of direction. To make matters worse, the sky that peeked
through the canopy was overcast, making navigation by the sun
impossible.</p>
<p class="para">“That bitch…has made her home in
<i>such</i> an annoying place. Really, I’m gonna kill her.
Completely fucking <i>murder</i> her.”</p>
<p class="para">Finally, the swarm of corpses came
to an end, and they reached a place where they could rest. As her
heavy breathing eased, she wanted to complain. <i>But if we stay in
one spot, the undead will gather again. Even if we’re not sure the
direction—even if it’s a total guess—we have to keep going.</i></p>
<p class="para">Something swooped down nimbly in
front of them. She went to brace herself, but then stopped. Instead,
as she saw her opponent, she lost interest.</p>
<p class="para">The figure that had alighted before
them was a small old man. He was wearing odd shoes, clad in strange
clothing, and had a face that was rather comical.</p>
<p class="para">The old man gave a polite bow as
Zero looked about rudely.</p>
<p class="para">“My name is Octa.”</p>
<p class="para"><i>Never heard the name. Who is he?</i></p>
<p class="para">“I am the disciple of Lady Three,
the Intoner who dwells in the forest.”</p>
<p class="para">“You?”</p>
<p class="para">Zero stared unblinking at the old
man who called himself Octa. She had known Dito, Decadus, and Cent by
face alone. She should have known the remaining one as well. <i>But
the face I remember was that of a much younger man.</i></p>
<p class="para">“Isn’t Three’s disciple still
young?”</p>
<p class="para">“Just so,” the old man nodded.
“Though I appear as I do, I am still in my twenties.”</p>
<p class="para">“Bullshit!” Dito shouted from
behind her. Zero wanted to shout the same thing. His hair was solid
white, and deep wrinkles were carved into his features. No matter
which way they looked at it, he was an old man.</p>
<p class="para">“Making all that exists in this
world cum day in and day out has extinguished my youthful essence.”</p>
<p class="para">She stared at his face again. <i>If
you erase the wrinkles from his face, tighten up his skin, add some
color to his white hair…Yep, that’s the face of the disciple I
know.</i></p>
<p class="para">“Your ‘youthful vigor’ was
extinguished, you say… Just how much fucking would that take?
That’s gotta be impossible.”</p>
<p class="para">“No, no. My sexual prowess is my
only redeeming quality. It is my raison d'être. It is—”</p>
<p class="para">Zero interrupted him, feeling like
she was losing energy just listening to him. “I got it, I got it.
Enough.”</p>
<p class="para">His master Three may have been
eccentric, but he was no slouch in that category either.</p>
<p class="para">“So what does Three’s disciple
want with me?”</p>
<p class="para"><i>Is Three lurking somewhere
nearby, watching us? This might be a warning. Convenient, if that’s
the case.</i></p>
<p class="para">“I’ve been sick of these shitty
corpses for a while.”</p>
<p class="para">“Hohoho!” Octa laughed, raising
weapons in both hands. It looked like this disciple wielded circular
blades called chakrams. They were weapons that could attack both
close-range and from a distance, but were said to be rather difficult
to wield.</p>
<p class="para">“Interesting. You wanna go?” She
pointed her sword at his face.</p>
<p class="para">“Yes. I surrender.” Octa opened
his hands that he had raised above his head. The chakrams fell to the
ground with a harsh clang.</p>
<p class="para">“Huh?”</p>
<p class="para">She didn’t understand what had
happened.</p>
<p class="para">“I surrender.”</p>
<p class="para">If it were Mikhail, she would’ve
told him not to repeat himself, but this time, even after he said it
twice, she couldn’t make sense of it. <i>No, I understand the
words, I just don’t get the motive.</i></p>
<p class="para">“I rushed to visit as I wanted to
join you and your companions, Lady Zero.”</p>
<p class="para">“Ah. I see.”</p>
<p class="para">She still didn’t understand his
motive, but she did understand the goal. She had no reason to refuse
his request to join them.</p>
<p class="para">“W-wait a minute!”</p>
<p class="para">It was Dito that raised an
objection.</p>
<p class="para">“This <i>has</i> to be a trap,
right? I mean, it’s obviously suspicious. After all, we’re still
in the Land of Forests, right? It’s Three’s turf, right? Isn’t
it weird that we’re right in the middle of enemy territory and the
enemy’s disciple surrenders?”</p>
<p class="para">“I welcome all men. I’ll worry
about everything else after I bed them.”</p>
<p class="para">“After you bed…this old geezer?”</p>
<p class="para">“That’s how it works with me.”</p>
<p class="para"><i>Besides, after I kill Three, I
would take Octa, since he’s a disciple. The timetable’s just been
bumped up a bit.</i></p>
<p class="para">Dito let out a small sigh—whether
in exasperation or resignation, she wasn’t sure—but did not offer
up any more resistance. Just mumbled, “I’m not convinced.”</p>
<p class="para">“That guy was kicked out by his
Intoner, the idiot broke up with his Intoner, and the geezer
double-crossed his Intoner. How the hell’s everybody just doing
whatever they want? Why was I the only one that lost my free will to
ol’ Blubber Bags? It’s so unfair!”</p>
<p class="para">“It’s not really all that
different. The path, maybe, but the result is the same. I’m going
to kill all the Intoners and take all their men.”</p>
<p class="para">“It’s as you say.” The reply
came not from Dito—who had sunk into sullen silence—but Octa.
“And so, everyone, I am counting on you.”</p>
<p class="para">“If you’re done with the
introductions, hurry up and show us the way to Three.”</p>
<p class="para"><i>I don’t want to waste any more
time wandering around. I’ve had enough of playing around with
corpses in this forest.</i></p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>5</b></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">Not many undead appeared along the
route Octa took them. Not that there were none at all, but the route
had clearly been chosen for ease of walking; overall encounters were
few and when there were many of them, they were able to run past them
before they were surrounded.</p>
<p class="para">For Zero and the others, the forest
was like a maze, and they had no clue as to what direction they were
travelling in. But for Octa, it was like his own garden.</p>
<p class="para">According to their chat along the
way, Three was either shut up in the shrine making dolls, or napping
the day away.</p>
<p class="para">“Lady Three is fond of gloomy
places. It would be best if she did a little sunbathing, but she is
completely uninterested. I told her as things are, it would damage
her body…”</p>
<p class="para">“Worried?”</p>
<p class="para">Octa shook his head, looking
panicked. It seemed he was worried Zero would be suspicious of him if
he talked about being concerned for his former master, considering he
had deserted.</p>
<p class="para">“Oh, that <i>was</i> the case. And
she also prefers wielding scissors, you know.”</p>
<p class="para">“She’s as annoying as ever.”</p>
<p class="para">“But she’s a very sensitive
lady.”</p>
<p class="para">“So why’d you betray her?”</p>
<p class="para">From what she had heard, it didn’t
sound like Three was insane like Four, nor did she unreasonably
oppress her disciple like Five.</p>
<p class="para">“Like I said before, my sexual
prowess is my only redeeming quality, it is—”</p>
<p class="para">“Shut up about your sexual
prowess! I get it, so get to the point!”</p>
<p class="para">“Therefore, I want to make sweet
love every day! Over and over again! And yet, Lady Three has eyes
only for her dolls, and will not oblige me…”</p>
<p class="para">“Enough. Got it.”</p>
<p class="para">In short, it looked like he switched
sides because she wouldn’t keep him company. <i>Like a frustrated
married woman,</i> she quipped in her head.</p>
<p class="para">“By the way, is the forest full of
undead another of Three’s hobbies?”</p>
<p class="para">“No, she would never do such a
thing. Lady Three hasn’t shown any particular interest in rotting
corpses.”</p>
<p class="para">“So what’s going on?”</p>
<p class="para">“That is a mystery to me as well.”</p>
<p class="para">“How long’s it been like this?”</p>
<p class="para">“It is only recently that the
situation here has become so strange. Until just a short time ago,
this verdant forest was a place for rest and relaxation, the ideal
place for carnal action in the great outdoors…”</p>
<p class="para">The fact that it was recent made it
reasonable to assume it was due to Three’s Flower.</p>
<p class="para">“But even before that there were
signs of something amiss, like the poison and the fairies
disappearing.”</p>
<p class="para">“Poison? In the forest?”</p>
<p class="para">“Yes. It was spread near the elven
village, forcing them to abandon it.”</p>
<p class="para">There were many powerful mages among
the elves, and layers upon layers of wards around their village.
Naturally, a bit of poison shouldn’t be able to get anywhere close,
and yet they were forced to abandon it.</p>
<p class="para">“Who the hell could’ve pulled
<i>that</i> off?”</p>
<p class="para">“About that…I am unsure.”</p>
<p class="para">She was positive his rather evasive
reply was because he suspected it was Three’s doing. It was
unlikely a poison powerful enough to penetrate elven wards could be
anything but the work of the Flower.</p>
<p class="para">“Just gotta kill Three as fast as
I can. She’s a real pain in the ass.”</p>
<p class="para">“Not to me.”</p>
<p class="para">It was a rare kind word from Dito.</p>
<p class="para">“She’s pretty cute compared to
ol’ Blubber Bags. Plus, it’s not often I see places where I can
just endlessly slaughter a bunch of rotten bastards. If Three’s the
cause of it, I’m all for her.”</p>
<p class="para">Zero dismissed his opinion. “You’re
the only one.”</p>
<p class="para"><i>But that’s beside the point.
It’s hard to imagine it’s just Three behind all the strange
happenings in such a huge forest. There’s a possibility another
Intoner is involved.</i></p>
<p class="para">She had killed Five and Four. Two
had already died. So the rest was simple subtraction: One and Three
were colluding, doing <i>something</i> in the forest.</p>
<p class="para">The problem was that this way of
doing things seemed completely out of character for One. Her sense of
justice was remarkable for a host of the Flower. <i>Would she do
anything that would threaten the people?</i></p>
<p class="para">“Lady Zero. Are you alright? We’re
almost at the shrine.”</p>
<p class="para">Octa’s voice brought her back from
her thoughts.</p>
<p class="para">“Huh? Oh, sorry. I was thinking
about something.”</p>
<p class="para">“If we pass through the clearing
right over there, the shrine where Lady Three lives is but a stone’s
throw away—” Octa suddenly stopped talking. “Well, isn’t this
strange?” He noticed at the same time as Zero—no, as everyone
present.</p>
<p class="para">“What’s that smell?”</p>
<p class="para">Beyond the trees, they could see the
clearing Octa had mentioned. An off smell drifted from there. It
resembled the rotting smell of the undead but was also strangely
saccharine. Not only Octa but also Decadus and Cent frowned,
wrinkling their noses. Only Dito showed no sign of discomfort.</p>
<p class="para">As they quickly entered the
clearing, they found it packed with poisonous-looking yellow flowers.
But not just ordinary flowers—giant ones, the size of an ogre’s
head.</p>
<p class="para">“Oh my! How strange. I have never
seen flowers like this…” Octa mumbled, confused. Of course he
was. They weren’t flowers that bloomed in the forest. Zero knew at
first glance: they were flowers made to bloom by an Intoner. Yellow
flowers emitting the scent of corpses.</p>
<p class="para">Beyond the blooming flowers was a
figure, approaching shakily. It walked the same way as the undead,
dragging along its rotting flesh. But that undead wasn’t a soldier.</p>
<p class="para">“Should’ve just stayed nice and
dead.”</p>
<p class="para">It was Five. The sister that
should’ve been dead after being stabbed over and over by Zero and
mangled by Dito at the coliseum in the Land of Seas. She must have
been very attached to her life. She had used the Flower to forcibly
regenerate herself.</p>
<p class="para">But Five’s Power was the weakest
among the sisters, and her suitability as a host was low. Ultimately,
all she was able to restore was a darkened carcass.</p>
<p class="para">“But why is Lady Five in the Land
of Forests?” The mumbling wasn’t just from Decadus—Octa, too,
was wracking his brain.</p>
<p class="para">“Maybe she followed me. Still
obsessed with me even after death. How flattering.”</p>
<p class="para">According to Octa, it was only
recently that the undead had begun appearing in the forest. In other
words, after Five’s death. From there is just speculation, but
there was a chance Five—undead in tow—came after Zero. Thus, this
forest reeking of death.</p>
<p class="para">No, it may have been the other way
around. Something strange happened in the forest first and Five—as
an undead—was drawn to it. Then by chance Zero came along, chasing
after Three…</p>
<p class="para">After all, there was no way One—the
very personification of justice—would threaten the lives of the
people. The one that had teamed up with Three and exacerbated the
current situation had been Five.</p>
<p class="para">Five staggered forward. A wet sound
began escaping her lips. Given how her mouth and throat were rotting,
it was probably the only sounds she could make.</p>
<p class="para">“Arise…Galgaliel.”</p>
<p class="para">Numerous summoning circles appeared
on the ground. The undead Intoner was summoning undead daemons.
Several of them gathered around her.</p>
<p class="para">Suddenly Dito began laughing madly.
He spread his arms and arched his back, convulsing with laughter.</p>
<p class="para">“You’re looking better than
ever, Five! Way, <i>way</i> better than when you were just keeping up
appearances!”</p>
<p class="para">He rushed over to her. Just like
when he was battling the undead, his gait looked like he would break
into dance at any moment. And just like when he was gazing at
excrement and vomit, he had an expression of ecstasy.</p>
<p class="para">“I wouldn’t mind being held by
you now, Five!” His fingers touched her reeking flesh. The way he
stroked it was the most loving of gestures. “This is exactly the
kind of insane world I’ve always wanted! A world full of the things
I want, the things I love!”</p>
<p class="para">“Zero,” Dito turned to her.
“Let’s kill!”</p>
<p class="para">It was the moment that Dito, after
gaining his freedom from being bound by Five’s Power of Song, chose
to restore her status as his master. Perhaps it was difficult for a
disciple to separate from their designated Intoner after all.</p>
<p class="para">“Phanuel, arise!”</p>
<p class="para">A summoning circle appeared above
Dito. He had been present when Four summoned a daemon by herself. He
knew that summoning was possible without having to have both the
Intoner and the disciple. <i>He’s probably trying to summon it
himself. But he still doesn’t know the price of that…</i></p>
<p class="para">“Cent! Come join me!” Dito gaily
called out.</p>
<p class="para">“<i>Meee?”</i></p>
<p class="para">“Yeah! You’re on our side,
right? You hate that world, don’t you? You fucking loathed that
excessively normal, boring world, right? I knew it!”</p>
<p class="para">“That obvious? Well, I <i>suppooose</i>.
But even if I <i>weeere</i> to join you…” A shadow suddenly
appeared on Cent’s face. “It wouldn’t revive Lady Two.”</p>
<p class="para">His tone was uncharacteristically
serious. His quiet expression was also something they were seeing for
the first time. This must’ve been how he was in front of Two. One
glimpse showed Cent and Two loved one another beyond disciple and
Intoner.</p>
<p class="para">Two, born from Zero but made of all
that Zero lacked, had obtained what Zero never had. Even so, the
result was the same. In the end, it was lost. Everything.</p>
<p class="para">“What the hell is that? No way,
<i>true love?</i> Makes me wanna hurl!” Dito grimaced as he spat
the words.</p>
<p class="para">However, Cent continued voicing his
true thoughts, unconcerned. “My place was by her side. It’s
really all I ever had…”</p>
<p class="para">As if to drown out Cent’s words,
light poured from the gate and Phanuel appeared. It was exactly the
same size it had been when she had fought it in the Land of Seas.
Then, she had brought it down with Mikhail, but unfortunately, he
wasn’t here this time. She was thinking about how to kill it, when—</p>
<p class="para">“Lady Zero.” Cent looked back at
her. His face had returned to the usual joking expression. “I can
handle <i>these</i> guys, Lady Zero. Maybe <i>you</i> can take care
of Five?”</p>
<p class="para">“Cent, wait—!” She tried to
stop Cent as he stepped forward but was too late.</p>
<p class="para">“Egregori, dance!”</p>
<p class="para">Two giants shrouded in light
appeared from circles. There was no longer any way to stop it. No,
she didn’t even consider stopping it. <i>If this is what they’ve
chosen, I have nothing to say. I’m well aware I don’t have the</i>
right <i>to say anything.</i></p>
<p class="para">The giants moved in tandem as they
rushed Phanuel. The fact that they were two equal daemons was
probably a projection of Two’s wish, she thought.</p>
<p class="para">Zero drew her sword, running towards
Five. Decadus and Octa defeated the nearby undead, clearing a path.</p>
<p class="para">“That a beauty like Lady Five
should become something like this. Such a tragedy.” Octa lamented
the situation as he brandished his chakrams to cut through the
undead.</p>
<p class="para">Decadus, standing at his back,
nodded, kicking an attacking corpse. “It truly is. How
heartbreaking.”</p>
<p class="para">A year ago, when the sisters
gathered at the Cathedral City, the disciples must have met each
other. The Flower had not yet taken the Intoners over at that time.
Remembering that, it seemed Decadus and Octa couldn’t help feeling
sympathy towards the transformed Five. Even if she had become their
enemy now.</p>
<p class="para">Zero, of course, had no sympathy for
her. Not once had she had pity for herself. She just thought it was
stupid. The piece of herself that was a slave to her obsession with
life, and her, who was trying to kill that piece…they were both
just so <i>stupid.</i></p>
<p class="para">Over and over, Five called her name.
Her voice didn’t sound human. Zero heard the word “sad.” It
didn’t seem likely it was just her imagination. <i>Making any sense
out of a bunch of words spat out of that rotten mouth is impossible.
Even</i> she <i>probably doesn’t know what she’s saying anymore.</i></p>
<p class="para">It wasn’t particularly difficult
to slash the unsteady Five. But like the undead soldiers, just
slashing normally wasn’t enough to stop her. Not unless she swung
her sword over and over again, chopping that body up until no trace
of its original form remained.</p>
<p class="para">Zero chopped off Five’s legs to
keep her from escaping. Even then, Five chased her, using her arms
and the stumps of her knees. Then Zero went to cut her arms off at
the shoulder.</p>
<p class="para">Suddenly, Five leapt. It was a move
unthinkable for a human. She thrust her arms out and used that to
spring over Zero’s head.</p>
<p class="para">“Shit!”</p>
<p class="para">Chasing her, Zero raised her sword.
But it was there she almost dropped it.</p>
<p class="para">“Wha—?!”</p>
<p class="para">Five had landed before an undead.
She knocked it over and was devouring its flesh and entrails. She was
on all fours like a carnivorous beast, her face buried in the stomach
of the writhing corpse. It must have been so she could regenerate her
severed legs, but even knowing the reason, the scene made Zero want
to look away.</p>
<p class="para"><i>Would I go so far because I
wanted to stay alive? Was I this obsessed, too? Calling this endless
desire an “obsession” isn’t nearly enough…</i></p>
<p class="para">Zero came back to her senses when
she saw the legs grow back from their stumps. This wasn’t the time
for absentminded spectating.</p>
<p class="para">She sliced off the newly grown legs
and, in quick succession, both the arms. She stabbed the body that
was trying to head towards the corpse meat. Over and over again, she
stabbed. Over and over again, until that body stopped moving
completely.</p>
<p class="para">“Zero…my dear…big sister…”</p>
<p class="para">Ignoring the voice, she kept
cutting. She just kept slicing up the chunks of rotting flesh. Five’s
mouth moved like she still wanted to say something, but she couldn’t
even use her voice anymore. Only an unpleasant squelching sound came
out of her blue-black lips, and then, silence.</p>
<p class="para">“See ya in hell.”</p>
<p class="para">When she extracted her sword, Five’s
body slowly crumbled and dissolved. It was nothing like when Dito
chopped her up. This time, there would be no regenerating.</p>
<p class="para">Another battle was about to
conclude. Dito and Cent stood opposite the grappling giants, Phanuel
and the two Egrigori. Zero looked towards them. It was almost time.</p>
<p class="para">“What…? What the hell is this?”</p>
<p class="para">Dito was the first to speak, his
voice like a scream. His hands had taken on a white light. The light
quickly spread to his whole body. He turned his confused gaze on
Zero, as if to ask what was happening.</p>
<p class="para">“You summoned a daemon without the
aid of an Intoner. Gonna have to pay for it somehow.”</p>
<p class="para">Dito’s eyes widened at her words.
His expression crumbled. “Why they hell?!”</p>
<p class="para">With the mighty Power of an Intoner,
it was possible to summon alone. Though there was the risk of that
Power going haywire or her ego collapsing. But what would happen if a
disciple—who doesn’t possess the Power of Song—performed a
summoning alone? Where exactly would he get the Power to summon? He
could only pull it from himself. From that Power that made him human.</p>
<p class="para">“It’s not fair! I finally found
the world I’ve been waiting for! Finally, a world I can love…”</p>
<p class="para">Dito’s body, enveloped in light,
began to lose definition. No more explanation was necessary. Even so,
Zero kept talking, as she had not yet told him the most important
thing.</p>
<p class="para">“Without the Power of Song, you
disciples can’t maintain your human forms. That’s what you are.
It’s how you were made. How <i>I</i> made you.”</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">It was a year and some months ago.
Her sisters’ Powers were on a huge rampage. They had released the
sealed Flower in the Cathedral City without realizing it.</p>
<p class="para">The Flower that was devouring Zero
wasn’t the only one; there were others. She didn’t know who the
hell it had been, but someone had sensed the threat the Flowers posed
and sealed one deep in the Cathedral City. And that had been a <i>long</i>
time ago.</p>
<p class="para">She suspected when the Flower
escaped from her, it had planted false information—in the same way
it had fabricated their memories—in order to release the sealed
Flower.</p>
<p class="para">Controlled by the Flower they had
released, four of them lost themselves, each summoning a daemon and
devoting themselves to destruction. Of the five, only One—with the
strongest magic—remained sane, though she wasn’t able to stop the
others.</p>
<p class="para">When Zero rushed to the Cathedral
City with Michael, it was in a terrible state. Her sisters’ rampage
far exceeded her expectations, and there was nothing she could do.
Until she actually saw it, she had thought she would be able to kill
them, but it wasn’t so simple. It was impossible to even get <i>close</i>
to them, much less <i>kill</i> them.</p>
<p class="para">To put a stop to the rampage, Zero
created the disciples on the spur of the moment. Using the disciples’
bodies as receptacles, the rampaging Power would be caught, absorbed,
and returned in a controllable state. Any living creature could serve
as a receptacle, but the only ones that could be procured at once in
that place were white birds.</p>
<p class="para">At that point, she had planned to
just borrow the birds’ bodies for a short while. It would just be
like putting them in a birdcage for an hour. If they could just stop
her sisters’ rampage and get them into a killable state, the
disciples’ duty would be done. The four birds would fly off into
the sky again, never realizing what had been done to them. …They
were supposed to fly away.</p>
<p class="para">Her miscalculation came in the fact
that she was unable to dispose of her sisters then. Her Power was
simply insufficient. When the Flower became the five sisters and ran
away, it took all her Power with it, and as she had only just
recovered, she could hardly say she was her usual self. After
creating the disciples, stopping her sisters’ rampage, and
destroying the freed Flower, Zero’s Power was spent.</p>
<p class="para">Despite it being the perfect
opportunity to bring down her sisters, she was forced to withdraw
after failing. She had been so exhausted she hadn’t even realized
they had retreated. When she opened her eyes, she was being carried
in Michael’s mouth as he flew through the sky.</p>
<p class="para">The four sisters continued to live
as though nothing had happened. The disciples stayed by their side,
continuing to function as devices to control their Power.</p>
<p class="para">She didn’t know at what point the
disciples changed their forms, but she had known if they continued to
receive the Power of Song, sooner or later they would grow into
humans. While she was making them, she had briefly “seen” what
they looked like as humans. That was the reason she had known their
faces even though they were meeting for the first time.</p>
<p class="para">The disciples, changed into human
form, were to serve and be used by her sisters. This, too, was a
miscalculation on Zero’s part. Though it hadn’t been her
intention to take the birds’ freedom, she had kept them locked up
in that cage.</p>
<p class="para">Furthermore, they had gained a sense
of self as humans. To return them to birds would be to kill that
sense of self. For them, the situation wasn’t fair. Though they
didn’t become people because they wished it, now they couldn’t
remain as they were.</p>
<p class="para">She had decided to take them on as
companions after killing her sisters because otherwise, they could
not remain human.</p>
<p class="para"><i>If I had killed my sisters before
the disciples turned into human forms, none of this would’ve
happened. Everything is my fault, my sins…</i></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">“So that’s how it is, huh? I
honestly had no idea. I am just an idiot after all, right?” Cent
mumbled as he watched the bird that had been Dito spread its wings
and fly into the sky. His body was enveloped in white light as well.</p>
<p class="para">“But it’s fine.” Cent smiled
as if to stop Zero from calling to him. “There’s no point in
living in a world without Lady Two anyway. This way it’s easier to
keep my promise to her.”</p>
<p class="para">“Your promise?”</p>
<p class="para">“Yeah. Lady Two told me not to
die.”</p>
<p class="para"><i>So that was it,</i> she
remembered. When she had asked why he didn’t follow Two, he
couldn’t hide his agitation. He himself had certainly wanted to die
for her, but Two hadn’t wished for that. Stifling his own desire,
he kept following her last words. When Zero had guessed his true
feelings during their first meeting, he could only dodge the question
with jokes. That was it.</p>
<p class="para">She started to apologize but stopped
mid-sentence. She didn’t want to erase her mistake with a simple
apology.</p>
<p class="para">Cent’s radiant smile vanished into
the light. A white bird flew past Zero.</p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>6</b></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">After Five’s body returned to the
earth, the flowers that had filled the clearing rapidly wilted and
died. The sweet scent of decay that had permeated the area dissipated
as well. <i>It’s probably because Three’s still alive that
something still feels off.</i></p>
<p class="para">“Mikhail will probably be upset
when he learns that Dito and Cent are gone.”</p>
<p class="para">Decadus agreed, hanging his head,
but there wasn’t time for sentimentality.</p>
<p class="para">“Look for Three. At the
shrine…right?”</p>
<p class="para">As she began walking, her heels
clicking on the ground, Mikhail’s voice came from the sky. “Zero!
Zero! I found her! I’m sure it’s Three!”</p>
<p class="para">He swooped down into the clearing.
Normally, this is where a voice would’ve interrupted with a “Aren’t
you just jumping to conclusions like a little kid?”</p>
<p class="para">“I sensed the Power of Song! I
sensed it!”</p>
<p class="para">“Where?”</p>
<p class="para"><i>If Mikhail’s picked up on the
Power of Song, there’s no doubt it’s Three. The regenerated
Five’s been dealt with. There’s only two Intoners left. One’s
probably in the Cathedral City, so by process of elimination, it can
only be Three.</i></p>
<p class="para">“Over there!” Mikhail flapped
his wings, indicating up.</p>
<p class="para">“The sky? I didn’t think Three
could fly.”</p>
<p class="para">“But it was the Song! She’s
here, I know it!”</p>
<p class="para">Zero shot a sidelong glance at Octa.
“Didn’t Three like gloomy places?”</p>
<p class="para">“Yes. However, Lady Three is also
partial to high places.”</p>
<p class="para">“So the sky, huh?”</p>
<p class="para"><i>Three may not be able to fly, but
it’s possible she’s on an airship.</i></p>
<p class="para">“Alright. Lead the way.”</p>
<p class="para">Leaving Decadus and Octa there, Zero
hopped onto Mikhail’s back. Luckily, Mikhail was so excited at
sensing Three’s presence that he didn’t notice Dito and Cent
weren’t there.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">Though she hadn’t seen them from
the forest, when they took to the skies, there were wyverns flying
about. Though they were pterosaurs like dragons, wyverns flocked
together, unlike dragons that acted alone. There was quite the swarm
before them.</p>
<p class="para">“What the hell? You managed to fly
over all this?”</p>
<p class="para">“Wyverns are a buncha low-class
dragon wannabes! They’re so stupid they can’t even talk! And
don’t get me started on their dumb flying! Let’s roast ‘em!
Let’s roast ‘em ALL!”</p>
<p class="para">“You’re like a different beast
when you’re talking about wyverns.”</p>
<p class="para">To Zero, dragons and wyverns were
pretty similar creatures, the only difference being whether or not
they talked, but apparently not to Mikhail. For some time, he had
been merciless with his flames whenever they encountered wyverns.</p>
<p class="para">It was both astonishing and
unexpected that Mikhail, who hated even killing humans, would be
shouting “roast ‘em all” towards living creatures that so
resembled his own kind.</p>
<p class="para">Even now, if it weren’t for their
pursuit of Three, he probably would’ve been diligently
exterminating them. Maybe it had just been sheer chance that he had
sensed the Power of Song in the sky, simply due to his devotion
towards chasing wyverns.</p>
<p class="para">“Wait! Over there!”</p>
<p class="para">Amongst the swarm of wyverns was
Three. It was unmistakable. She was flying using chains hanging down
from several of the wyverns.</p>
<p class="para">“Three’s using such low-class
creatures?”</p>
<p class="para">Though probably unable to hear
Mikhail grumbling in disappointment, Three turned towards them.</p>
<p class="para">“Zero!”</p>
<p class="para">The voice was lively, unbelievable
for the ever listless Three. What’s more, even from a distance they
could see the radiant smile on her face. While Zero was wondering
what the hell was going on, the wyverns—with Three suspended
between them—approached. And Three raised her arms high into the
air.</p>
<p class="para">“Redeem thyself, Ezrael!”</p>
<p class="para">Light shined from the space just
below Three. The summoning circle expanded with astonishing speed,
like a gigantic fireball exploding. It was a strong Power far beyond
that of Four and Five.</p>
<p class="para">“Zero… That’s…”</p>
<p class="para">The light pouring from the circle
formed a silhouette. It looked like a dragon, but <i>much</i> more
massive than Mikhail. It was obviously not a wyvern. As Zero strained
to see what would appear, Mikhail’s trembling voice announced its
name.</p>
<p class="para">“An ancient…dragon? Really?”</p>
<p class="para">She felt strong magical energy. The
next moment, the ancient dragon wasn’t there, as if it had been
erased. Then, it suddenly appeared in a completely different place.
<i>It must’ve moved instantly with its magic.</i></p>
<p class="para">“What a pain in the ass.” She
clicked her tongue. Just the thought of having to fight something
with such irregular movements annoyed her.</p>
<p class="para">But she was the only one; Mikhail’s
reaction was completely different. “Zero… That dragon’s scary!”</p>
<p class="para">She could tell he was terrified.</p>
<p class="para">“His eyes are really, REALLY
scary!”</p>
<p class="para">This wasn’t a young child’s
fear. It was a panic that conveyed even were he to age, he would
tremble before an ancient dragon.</p>
<p class="para">“Fighting them is bad… We
dragons, we can’t fight them…”</p>
<p class="para">Just like his scorn of wyverns as
lowly creatures, something instinctual—unrelated to personality or
preference—must have been firing off a warning. Even though it was
the first time he was witnessing an ancient dragon, he felt dread.</p>
<p class="para"><i>It’s not like I can just say,
“Oh, okay” and turn back!</i> Zero was blunt in her response:
“Don’t worry about it.”</p>
<p class="para">But Mikhail objected with
uncharacteristic stubbornness. “But! But Zero! He’s…!”</p>
<p class="para">“It’s gonna be fine!”</p>
<p class="para">He was still vehemently shouting
“But!” to which she again countered with “It’s gonna be
fine.” She lightly patted his silver scales. Afterwards, she
realized it was quite similar to what mothers would do for their
babies. “Have I ever lied to you?”</p>
<p class="para">There was a brief silence before he
answered, “No. You’re all stabby and angry and stuff, but… You
never lied to me.”</p>
<p class="para">“See? So trust me. I said it’s
gonna be fine, so it’s gonna be fine.”</p>
<p class="para">The silence was shorter than before.</p>
<p class="para">“Okay.”</p>
<p class="para"><i>Suppressing those instincts with
reason. No, not even reason. I’m cajoling him with vague,
unreliable shit like believing in me. I would’ve been disgusted
with this method before, but for some reason, I’m not feeling much
resistance now. I wonder why?</i></p>
<p class="para">Putting away such questions for the
time being, she spoke as cheerfully as she could. “Repeat it!”</p>
<p class="para">“Okay! Okay!”</p>
<p class="para">“Good!”</p>
<p class="para">When she saw the strength return to
Mikhail’s wings, she felt something well up in her chest. But she
didn’t go looking for a name for it. She felt hesitation at giving
it one. So she stopped thinking and set her gaze on the ancient
dragon with Mikhail. For now…it was probably better that way.</p>
<p class="para">But the ancient dragon’s magic was
endless. It kept teleporting, shooting fireballs whenever it popped
back in. It took every bit of Mikhail’s flying ability to dodge the
attacks, leaving no room for counterattacks.</p>
<p class="para">“Shit. For something so big, it’s
fucking <i>fast</i>…”</p>
<p class="para"><i>Isn’t there some way to stop it
from moving? At this rate, Mikhail’s just going to exhaust himself.</i></p>
<p class="para">“Lady Zeroooo!”</p>
<p class="para">Suddenly, a shout came from a
completely different direction. Mikhail let out an <i>ouch!</i> as
something landed on his back with a thud. But he must have
immediately realized what the falling object was. His cry became
questions. “How?! How?! How in the heck did you get here?!”</p>
<p class="para">What had fallen onto Mikhail’s
back was Decadus, who should’ve been waiting on the ground. “I
had Octa give me a boost. Lady Zero appeared to be in some trouble.”</p>
<p class="para"><i>It’s no mean feat to toss the
giant Decadus into the air. I didn’t know that self-proclaimed sex
savant had such skill. Even though I made them, there’s a lot I
don’t know about the disciples.</i></p>
<p class="para">“Would it be alright if I were to
seal its movement? With the magical beast I summon, it should be no
trouble…”</p>
<p class="para">The meaning of that was not lost on
Zero.</p>
<p class="para">“Sounds great. Get on with it.”</p>
<p class="para">That was why she responded so
frankly. Not with any stupid validations like, “Is that okay?”</p>
<p class="para">“Err. But if I use such power,
I’ll go back to being a bird. What pitiless words!
What…what…<i>pleasure!</i>”</p>
<p class="para">“You wanna call it off?”</p>
<p class="para">“You would deny me this pleasure?
Mmm. h-how unbearable… No! No, I will do it! This is my reward!”</p>
<p class="para">He spread his arms wide.</p>
<p class="para">“Armaros, uphold!”</p>
<p class="para">It was more of a huge fortress than
a magical beast. It seemed Four—hyper-focused on protecting
herself—used a daemon that specialized in defense.</p>
<p class="para">Armaros’s magical barrier spread,
catching the ancient dragon. Maybe its seemingly bottomless well of
magic had been drained, or maybe Armaros’s magic was stronger, but
its movements were clearly different.</p>
<p class="para">But the Power needed for that was
equivalent. In contrast to Dito and Cent, who had a bit of time after
they summoned before they returned to being birds, she was unable to
exchange even a single word with Decadus.</p>
<p class="para"><i>It doesn’t matter,</i> she
thought. <i>What could I say by now? That I have the right to be
unwilling to let go? That it hurts to lose my friends? What the hell
am I saying? They’re not my friends. I can’t call things</i> <i>I</i>
<i>just made, let my sisters use, then stole back “friends.” So
no matter what, I won’t feel sad.</i></p>
<p class="para"><i>But…shouldn’t I be allowed
just one word? Just one word, even if it never reaches anyone but me.</i></p>
<p class="para">“Goodbye,” she murmured to the
sound of flapping wings behind her.</p>
<p class="para">“…Let’s go!” Pulling herself
together, she faced forward. They needed to bring it down before the
barrier faded.</p>
<p class="para">Mikhail breathed fire. It was a
direct hit. But that amount wasn’t enough to take out an ancient
dragon. It wasn’t for nothing that dragons feared it.</p>
<p class="para">“Zero… Hello…”</p>
<p class="para">Three, riding atop the ancient
dragon, spoke in her typical languid manner. Unlike Four—who jumped
down and ran off the moment Mikhail attacked—Three was calm. <i>But
maybe she just lacks any awareness of danger.</i></p>
<p class="para">“You’re able to coexist with the
Flower without going crazy?”</p>
<p class="para">“Yeah…somehow.”</p>
<p class="para">Mikhail’s flames hit the mark
again. The ancient dragon swayed unsteadily but didn’t fall. Three
still wore a faint smile.</p>
<p class="para">The ground was significantly farther
away than when they fought Four. Even if Three wanted to jump, at
this height she’d have to hold herself back. <i>Well, with this
sister, I get the sense if she wanted to jump, she’d jump without
even considering the height.</i></p>
<p class="para">“I guess you were kinda crazy to
begin with.”</p>
<p class="para">Three laughed, and her tone changed.
“Zero! Look, look! I can summon an ancient dragon! With the help of
the Flower! I’m like you!”</p>
<p class="para">It wasn’t just her tone; even her
expression was like a completely different—cheerful—person.</p>
<p class="para">“Hey, hey. You weren’t this
cheery, right?”</p>
<p class="para">Though in the middle of battle, Zero
couldn’t help but throw the quip in. Then Three’s expression
changed once again.</p>
<p class="para">“Oh? I’m just…?”</p>
<p class="para">She thought Three was going back to
her usual self, but that wasn’t the case.</p>
<p class="para">“Just kidding! Die, Zero!”</p>
<p class="para">As if Three’s strangely
high-pitched voice—like a damaged musical instrument—were a cue,
the ancient dragon spat out a fireball. <i>The barrier must be
weakening and its movement coming back. I need to hurry,</i> Zero
thought.</p>
<p class="para">“Hurry up and finish it off,
dummy!”</p>
<p class="para">“I’m trying! I’m trying!”</p>
<p class="para">He breathed fire in quick
succession. If the barrier had broken even a little earlier, he may
not have made it. But just before the ancient dragon started to
teleport again, a blow gouged out a wing. Its gigantic body shook
violently in the air.</p>
<p class="para">“Zeeeeeeroooooo!” Three’s
smiling face didn’t waver in the slightest as she cried out. Even
though the ancient dragon had already begun to fall. Though Zero
could see Three’s behavior and mental state were the same as
normal, the deleterious effects of the Flower must have been
intensifying after all.</p>
<p class="para">“Again! Aim at that giant
bastard’s back!”</p>
<p class="para"><i>If we can burn them both to a
crisp together, it’ll be over.</i></p>
<p class="para">Mikhail took a deep breath. A blaze
that could rival Michael’s assaulted the ancient dragon. But—</p>
<p class="para">“Zerooo! Zerooo! AHAHAHAHA!”</p>
<p class="para">Three jumped just before the flames
could strike. Spreading her limbs wide like a bird, she laughed.</p>
<p class="para">The ancient dragon, enveloped in
fire, exploded. Whether Three ordered it to self-destruct or
something within it from the start had exploded, she didn’t know.
But that explosion became quite the protective barrier for Three. Cut
off by the shock wave and the heat, Mikhail was unable to pursue her.</p>
<p class="para">A cool wind blew, and Zero’s
vision cleared. She could see the charred remains of the ancient
dragon falling. Eventually it broke apart in the sky and scattered on
the ground like rain.</p>
<p class="para">“Where’s Three?”</p>
<p class="para">“Ah! She’s over there! Over
there!”</p>
<p class="para">Though she had jumped from that
height, Three was still moving. Zero could see her stand and walk,
her back hunched over. The stance wasn’t due to injury; Three had
always had terrible posture.</p>
<p class="para">“Hurry! Don’t let her get away!”</p>
<p class="para">Mikhail nosedived towards Three,
about to breathe fire. But someone had come into Three’s path. It
was Octa. Flustered, Mikhail halted his flames. If he used them
there, Octa would get caught in them as well.</p>
<p class="para">Octa, who didn’t seem to notice
Mikhail at all, began to speak. “Lady Three. Please stop this
already.”</p>
<p class="para">Even from Mikhail’s back, she
could clearly see the heartbreak on his face. Three halted.</p>
<p class="para">Without any prompting from Zero,
Mikhail descended.</p>
<p class="para">“Stop? What? What are you talking
about? I don’t understand.” Three shook her head, her back still
hunched over, causing her body to sway back and forth. “Why are you
here? Why’d you come with Zero?”</p>
<p class="para">“Because I betrayed you. Turning
innocent people into dolls to play with in such a cruel manner…I’ve
grown weary of it, my lady!”</p>
<p class="para"><i>So that was it?</i> Zero
muttered. <i>Those were Octa’s true feelings? He might’ve been a
bit frustrated, but defecting because he wasn’t getting to fool
around was just talk.</i></p>
<p class="para">Though their time together had been
short, Zero had a good idea of Octa’s character. Apart from his
lower half’s complete lack of faithfulness, he was quite the
sensible person. He even had the kindness to be concerned with the
health of the master he had deserted. That was precisely why he must
have been deeply troubled by Three “turning people into dolls to
play with them.”</p>
<p class="para">When she had asked him if he had any
idea who had poisoned the forest, the look on his face had said it
all. He didn’t betray Three because he wanted to; faced with his
own powerlessness, he was unable to endure remaining. So he left
Three’s side.</p>
<p class="para">“If I cannot stop you, my lady,
I’d rather…I’d rather…”</p>
<p class="para">Zero heard a soft giggle. From
behind, she didn’t know what kind of face Three was making as she
laughed.</p>
<p class="para">“You seem to be somewhat confused
about something: a disciple doesn’t <i>choose</i> his Intoner.”</p>
<p class="para">“Ugh!” Octa groaned. Three
must’ve been trying to control Octa with the Power of Song.</p>
<p class="para">“Right, Zero?” Three looked over
her shoulder at Zero. The corners of her mouth were turned up and
there was an odd light in her eyes, well beyond her “usual
strangeness.”</p>
<p class="para">But, though only for a moment,
turning to address Zero distracted Three from Octa. He did not miss
that moment. His pained but resolute voice rang out.</p>
<p class="para">“Armisael, invade!”</p>
<p class="para">It was not a summoning performed
with Three. He used his Power alone. It was clear from the light that
enveloped his body.</p>
<p class="para">A summoning circle deployed, and a
doll with a profusely large head appeared. Just a bit smaller than an
ogre, it attacked Three with unexpected swiftness, pinning her down.
Mikhail charged in without a moment’s delay.</p>
<p class="para">“Lady Zero! Please take care of
the rest!”</p>
<p class="para">“Octa…”</p>
<p class="para">“If I could, just once more, I
wanted to make sweet love to you, Lady Ze—”</p>
<p class="para">His words were cut off as the light
vanished. After the bird circled around—as if to ensure Three was
being devoured by Mikhail—it flew away.</p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number"><b>7</b></p>
<p class="para"><br/>
<br/>

</p>
<p class="para"><i>I can’t remember anymore when I
started to like dolls. I liked them from</i> that <i>long ago. I
liked them before I knew the word “doll.”</i></p>
<p class="para"><i>When I first saw dolls made of
human skin and bones, my body trembled.</i> This world has such
amazing things, <i>I thought. I was also amazed that a person had
made them.</i></p>
<p class="para"><i>If others could make them,</i> I
<i>can, too…</i></p>
<p class="para"><i>I made dolls out of corpses from
cemeteries. I made dolls out of corpses from battlefields. I made
dolls out of the corpses of those I killed on the spot. I made dolls
out of still-living humans. I made dolls out of multiple humans. I
made dolls out of humans and beasts. I made dolls out of humans and
monsters. Many, many, many, many, many, many, many, many, many, many,
many, many, many, many, many, many, many kinds of bodies!</i></p>
<p class="para"><i>But One said she didn’t
approve. She said I could never make them again. She said I had to
get rid of the dolls I worked so hard to make.</i></p>
<p class="para"><i>She doesn’t understand! Even
though my dolls are good dolls! Even though they’re so strong and
cute!</i></p>
<p class="para"><i>One is always trying to take my
dolls away from me. Always getting in my way. She’s so mean!</i></p>
<p class="para"><i>She poisoned my forest. She
plunged my forest into a poisonous fog so I could never make my dolls
again. I tried to neutralize it, but it was no use. I just couldn’t
figure out what the poison was in the end. Hurt by the poison, the
ogres died, and the gigases, and the trolls. And the humans. All the
ingredients for my dolls were dead.</i></p>
<p class="para"><i>So that’s why I thought about
killing One. I thought about luring her into the forest and killing
her. I thought that if I killed One, I could make dolls again. I
wanted to make a lot of strong and cute dolls. I was excited to think
about what to mix with humans.</i></p>
<p class="para"><i>What could be stronger and bigger
than a troll, or an ogre, or a gigas?</i></p>
<p class="para"><i>What could it be? A dragon? Yeah,
a dragon would be good. The next doll I make will be a mix of human
and dragon! I’ll make a doll</i> much <i>stronger and bigger, one
that can fly anywhere!</i></p>
<p class="para"><i>That’s what I thought.</i></p>
<p class="para"><i>Hate, hate, HATE! Oh, how I hate
One! Give me back my dolls! Give me back my doll ingredients!</i></p>
<p class="para"><i>I hate Zero, too! She should’ve
hurried up and killed One! And I hate the ancient dragon! It
should’ve killed Zero quicker! And I hate dragons! Because…</i></p>
<p class="para">A bright red maw and white teeth.
Those were the last things Three saw. ​</p>
<p class="para"><br/>
<br/>

</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/story-side/chapter-two">Previous Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/story-side/chapter-four">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/story-side">Back</a></p>