---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---
<style>
    #number{
        font-size: 400%;
        margin-top: 1%;
    }
</style>
<TextLayout>
</TextLayout>
<title>Chapter One</title>
<p style="margin-top: 1cm; font-size: 300%;">Chapter One</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translators: <a href="/credits/help">Dr.Mint, </a> <a href="/credits/help/emily"> Emily, </a> <a href="/credits/people/mrkusabi">and MrKusabi</a></p>
<p class="title">The Sisters' Chapter</p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number">
<b>1</b></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">Looking out over the ocean had never
stirred any feelings inside her, not even once.</p>
<p class="para">The ocean, whose beauty poets had
struggled to put into words for centuries, was nothing more than a
bunch of salty water to her. However, every now and then, she’d
ponder something strange. Water has no color, yet the sea is a
vibrant blue.</p>
<p class="para">Something where there should be
nothing. Nothing where there should be something. It was all very
specious. How some people could waste their days marveling at this
nonsense, she had no idea.</p>
<p class="para">That’s why she decided to chuck
that woman into the ocean after she’d killed her. She’d been
standing on a cliff overlooking the sea, at a place much like this.
If she peeked over the edge of the cliff, she could see the very same
rocks and churning waves that had swallowed the woman’s body. She
didn’t look pained or surprised or confused or anything really. She
just kept on smiling like they were holding a pleasant conversation.</p>
<p class="para">That woman who’d prance around
with her cutesy little bullshit act, spewing nothing but taunts and
lies. Surely the sea would be a suitable graveyard for her.</p>
<p class="para">She’d called herself Accord,
though there was no knowing if that was the truth or not.</p>
<p class="para">She wasn’t the type to trust
anyone, but she trusted that woman least of all. It would be easiest
to brush off everything she’d said as pure lies, just put her down
as some lunatic and just move on. If even one of a hundred lies
turned out to be true, it could start making the other 99 lies look
downright plausible, an idea she was not eager to consider.</p>
<p class="para">Killing the woman the first time had
only gotten her hopes up for nothing. Since then, she’d pop up all
over the place, vanishing just as quickly. She really couldn’t
fucking stand that woman. Though, she’d be hard-pressed to think of
a single person she could put up with.</p>
<p class="para">“Zero.”</p>
<p class="para">She could remember every word she’d
said in that infuriatingly calm voice.</p>
<p class="para">“The Flower has taken root inside
you.”</p>
<p class="para">Like she really needed some stranger
to tell her that. She’d figured as much out on her own. It was her
own damn body; she could tell when something was off, when merely
being alive felt wrong.</p>
<p class="para">She knew she was dead for sure. She
could even remember dying. The darkness, the pain, she could remember
it all like it happened yesterday. And then, something moved. She was
too numb to notice at first, but even through the darkness she could
sense some part of her that didn’t belong to her, something
foreign.</p>
<p class="para">She knew the Flower was real too. It
wasn’t just any “Flower” either. It was the last thing she’d
laid her eyes on while she was still a genuine living human being.
She remembered that Flower, how its pale pink petals had slowly grown
to dominate her vision as her life slipped away.</p>
<p class="para">“That Flower is feeding off your
body. Before long, this entire world will—’</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">Someone was yelling her name. It
shook her from her thoughts, banishing Accord’s voice from her
mind.</p>
<p class="para">“Zero! Hey, Zero!”</p>
<p class="para">The chipper voice was accompanied by
the heavy beating of wings that whipped up a pungent gust strong
enough to throw her hair into disarray. How on earth could a dragon,
a creature revered as a “Messenger of the Gods”, carry such an
unholy stench?</p>
<p class="para">Well, Zero knew that the dragon race
as a whole wasn’t like this, not the ones she could remember
anyway. It was only Mikhail. Put lightly, he smelled like nothing but
drool and baby puke. Fitting, seeing as he was hardly a year old.</p>
<p class="para">A dragon’s lifespan can easily
stretch over thousands of years, and they mature much faster than
humans as well. When a human child would only just start walking, a
dragon of the same age would be soaring through the sky, breathing
fire, and even know enough words to hold a simple conversation. She
had thought the time for a creature to reach maturity would be
proportional to its longevity, but it seems that the dragons are an
exception to this rule.</p>
<p class="para">“Look! Look at all those ships
over there!”</p>
<p class="para">Having her hair blown into her face
was annoying enough, but it was starting to get tangled in the flower
in her right eye. As if having a flower sprouting out of your eye
socket wasn’t bad enough, the damn thing was always getting in the
way.</p>
<p class="para">Zero clawed at her hair, but the
blasts of wind from Mikhail’s wings caused the white strands to
slip from her fingers and billow wildly behind her.</p>
<p class="para">“Whoa, there sure are a lotta
soldiers out there! There’s so many!”</p>
<p class="para">Hair still whipping at her cheeks,
Zero snapped back. “Quit repeating yourself.”</p>
<p class="para">With that, she began walking. White
wings shimmering in the sunlight, Mikhail landed by her side. He
followed close behind, each massive footstep shaking the earth and
stirring little clouds of dust.</p>
<p class="para">“Zero?”</p>
<p class="para">“What?”</p>
<p class="para">Mikhail paused for a moment before
continuing.</p>
<p class="para">“Are you really gonna kill all
your sisters?”</p>
<p class="para"><i>Ugh, not this again.</i> Zero
drew her sword as she answered; the soldiers of the Land of Seas were
just ahead.</p>
<p class="para">“Every last one.”</p>
<p class="para">She knew what had to be done. She
didn’t need anyone’s guidance.</p>
<p class="para">“I... I just don’t think that’s
very nice. I mean, they’re your family, right? Families are
supposed to be real important to humans—”</p>
<p class="para">“Not to me.”</p>
<p class="para">Zero broke into a run, interrupting
Mikhail’s words. He was still young. His view of the world was
still so simple, like all problems could really be solved just by
being “nice.” Try telling that to her mother, a woman cold enough
to sell off her own child, or her murderous, squabbling sisters. Some
“family” she had.</p>
<p class="para">Zero shook off those unpleasant
thoughts. There was no use wasting her time crying about her shitty
life, her enemies were quickly approaching. She focused all her
attention on the soldiers gathered before her.</p>
<p class="para">“Heh, these guys look like they’d
be good for a little warm up.”</p>
<p class="para">Zero knew everything she needed to
know in just one look. The first wave was mostly armed with
broadswords, not a shield bearer among them. As if being weak wasn’t
enough, they were completely defenseless as well.</p>
<p class="para">Killing them would hardly take any
effort, she could swing her sword with her eyes closed and they’d
fall one by one. Just the warm-up she needed after recovering from
her injuries.</p>
<p class="para">A soldier, who was clearly
unexperienced, raised his sword overhead and charged at her. His
bravery mattered little when he didn’t even have the sense to
protect himself. Zero’s sword pierced his neck with no resistance.
Kicking him aside, she brought her blade down upon another soldier
approaching from her side, this time beheading him completely.</p>
<p class="para">Her sword felt heavier than she
remembered and her limbs slower to heed her commands. Must be this
arm, she thought.</p>
<p class="para">After losing her left arm a year
ago, she’d fitted herself with a prosthetic replacement. The
difference in weight between a flesh and blood limb and one made of
metal was enough to throw off her movement. Zero continued her bloody
rampage, kicking a screaming man off a cliff, beheading another,
slashing through yet another.</p>
<p class="para">“Whatever,” she grumbled. With
some time and a couple hundred soldiers slaughtered, she’d get used
to it.</p>
<p class="para">She kicked one of them into the sea.
Meanwhile, a soldier to her left attempted to take her by surprise,
but his blade instead met the metal of her left arm. After a
deafening clang, one swift movement sent his sword flying.</p>
<p class="para">“The prosthetic hand has its own
advantages. I’ll make good use of it.”</p>
<p class="para">The first wave of soldiers lay at
her feet, but the second wave was quickly advancing. There were
spearmen among their ranks and even a few equipped with heavy
shields. The nearby sea was swarming with nearly a dozen battleships,
each armed to the teeth with heavy artillery.</p>
<p class="para">Looking out towards the sea, she saw
several ships equipped with turrets, perhaps more than a dozen.</p>
<p class="para">“They sure know how to make a girl
feel welcome,” she gestured behind her to her companion.</p>
<p class="para">“What should I do Zero?”</p>
<p class="para">“Take to the skies,” she
answered, pointing her sword at the approaching fleet.</p>
<p class="para">“Sink those battleships.”</p>
<p class="para">“But I—”</p>
<p class="para">“Move it!”</p>
<p class="para">She only needed to raise her voice
once for Mikhail to utter a meek “okay” and take off in a gust of
wind. Without a stinking dragon over her shoulder, Zero could finally
smell the brisk sea air. As the soldier drew ever nearer, their
voices carried along that ocean breeze.</p>
<p class="para">“There she is! Kill the traitor!”</p>
<p class="para">“Traitor? That same old line? At
least come up with something original,” she spat, a bitter smile on
her face. It was the same insult they hurled at her one year ago.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">“Do you hear that Zero? They call
you a traitor.”</p>
<p class="para">“I can hear ’em fine, thank you
very much!”</p>
<p class="para">“Ah yes, and they treat me as if I
am some common beast.”</p>
<p class="para">With but one flap of his majestic
white wings, an entire battalion of soldiers was sent sprawling. It
felt like only a few days ago he was there, standing at her side.</p>
<p class="para">It was one year ago that she
infiltrated the Cathedral City with intent to end the Intoners once
and for all, and one year ago that she was utterly defeated. She’d
foolishly thought she could best all five of her sisters at once and
paid for her folly with her left arm and her dear companion.</p>
<p class="para">She had no excuse for her poor
judgment. She was never one for battlefield strategy or tactics, all
she knew how to do was kill.</p>
<p class="para">And then, a year had passed. Her
wounds were deeper than expected and she knew it’d be a long while
before she could take up her sword again. Thus, she was left plenty
of time alone with her thoughts. If fighting her sisters all at once
resulted in her defeat, then the only solution was to hunt them down
one by one.</p>
<p class="para">First on her list was Five, ruler of
the Land of Seas and Zero’s youngest sister. Ironically, Zero had
been holed up right under her nose for the past year and she seemed
none the wiser. It was a poor choice for a hideout, but it was as far
as she could travel considering the extent of her injuries.</p>
<p class="para">For a while, Zero tried to stay one
step ahead of her sister by switching hideouts and covering her
tracks. After a while, it got to be kind of a pain in the ass, so she
settled in an abandoned shack and figured that if Five was even smart
enough to send troops to look for her, she’d just run.</p>
<p class="para">Her plan, or lack thereof, seemed to
work. Maybe she got lucky and with no white dragon sightings reported
back to her sisters, they chose to believe Zero was really dead.</p>
<p class="para">Five was probably far too busy
whiling away her days living her life of luxury. If the thought of
searching for Zero had even crossed her mind, her very next thought
would be, “Oh, why bother troubling myself with such unpleasant
business.” Zero vaguely knew that the previous ruler of the Land of
Seas had been a woman of a similar caliber, spending money like there
was no tomorrow and living in perfect comfort while her people toiled
and were subjected to outrageous taxation. Looks like all they did
was trade one tyrant for another.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">“Block the road! Don’t let her
escape!”</p>
<p class="para">The soldiers shouted with enough
fury that the ground seemed to tremble. It looked like they were
attempting to block her path by dropping a boulder on the road. Zero
merely clicked her tongue in disapproval. Of course they’d go about
this in the most obnoxious way possible.</p>
<p class="para">“Defend Lady Five with your
lives!”</p>
<p class="para">“Don’t let her reach the
temple!”</p>
<p class="para">While the people reviled the
previous ruler, they had nothing but adoration for their precious
Lady Five. These soldiers too would gladly fight and die for their
Lady’s sake. Not because she was a good or just ruler, but because
she was an Intoner.</p>
<p class="para">An Intoner, one who wields the Power
of Song. Only six such beings exist, that being Zero and her five
sisters. The people of this world looked upon the Intoners in
reverent awe, worshiping them as goddesses.</p>
<p class="para">Once, these lands were the
playthings of lords and nobles. Now they had fallen under the rule of
the Intoners. The youngest sister—Five—ruled the Land of Seas,
Four ruled the Land of Mountains, Three ruled the Land of Forests,
and Two ruled the Land of Sands. And then there was One, the eldest
sister who oversaw the other Intoners from her stronghold beneath the
Cathedral City. The same city where the mighty Church resided.</p>
<p class="para">Zero, however, still hesitated to
call these Intoners “sister.” A sister is someone who shares a
mother or father, someone you’ve shared life experiences or a
childhood with. By any of those definitions, they shared no
relationship with her at all.</p>
<p class="para">Rather, Zero thought of them as mere
fragments of herself. Like in the old myths where monsters would
split and multiply into a rampaging horde. The kind of thing that
didn’t happen to normal humans.</p>
<p class="para">Although, calling herself a “normal
human” would be terribly misleading. Zero didn’t need Accord to
tell her that having a parasitic Flower growing in her body was a bad
thing. The memory of her own death was still fresh in her mind, how
could she not know that something was very wrong?</p>
<p class="para">Day by day the malignant Flower
flourished within her. When she awoke one morning to see a pale pink
bloom sprouting from her chest, she knew it was time to end it. The
method by which she’d destroy it was another issue. This was no
common plant after all; pulling it out and letting it wither, even
chopping it to pieces was not likely to be enough. If such a species
must be eradicated at the root, then the most sensible thing would be
to kill its energy source.</p>
<p class="para">Ridiculous as it sounded to try to
“end her life” when she was long dead. She’d heard once that
dragons were natural enemies of the Flower and had the power to
destroy it but, how the hell was she supposed to find a dragon? Even
if she had the luxury of time, she didn’t have the first clue where
to start searching for one. No, this was something she’d have to do
on her own. If there was even the slightest chance of success, she
had to try.</p>
<p class="para">It was with this sober conviction
that Zero gripped the hilt of her sword and thrust it through the
Flower growing in her chest. She could feel the blade pierce her
heart, sending pain shooting through every inch of her body. Where a
normal human would have fallen, Zero stood, still gripping her sword
with shaking hands and she tried to forcibly dig the parasite from
her flesh. Its roots ran deep and each movement only served to
prolong her agony.</p>
<p class="para">Suddenly, the Flower began
screaming. It unleashed an ear-splitting shriek, more horrifying than
anything she’d ever heard before. It filled her head so completely
that it concealed the sound of her sword hitting the ground and
rolling away. In an instant, the all-consuming pain began to subside
and her legs gave out beneath her. She could still feel the impact of
hitting the ground, but her senses were growing numb.</p>
<p class="para">She had trouble wrapping her mind
around what she saw. The dainty blossom that had sprouted from her
had begun to swell to a massive size. It was sapping the last bit of
strength from her body, leaving her able only to watch. The unholy
screaming continued. A fountain of blood burst forth from the swollen
flower, staining the earth red.</p>
<p class="para">But something else had been ejected
among the viscera. Bodies. Children? No, girls. Five of them. They
looked about three or four years old. Each had different colored eyes
and hair. Some looked vaguely familiar. Some she didn’t recognize
at all.</p>
<p class="para">One of them, a girl with azure hair
and eyes, stared down at Zero with wide, curious eyes.</p>
<p class="para">“Ze...ro. My...sist...er?”</p>
<p class="para">Her speech was halting, her mouth
unused to forming sound. So, these children thought of her as their
elder sister? Convenient. If they thought of her as family, then she
had an opening. She could slaughter them while they were still young.
Still weak. Abominations born from a calamitous Flower had no place
in this world.</p>
<p class="para">“Stop!”</p>
<p class="para">A girl with piercing red eyes
screamed. She glared at Zero with a hate-filled gaze. Traitor, her
face seemed to say. Shaken by the sudden order, the blue-haired girl
took a step back.</p>
<p class="para">“W-wait...”</p>
<p class="para">Zero tried desperately to reach out,
but her body could not move. The girls fled.</p>
<p class="para">Just as an invasive species divides
and proliferates, the Flower had split itself. As if the damn thing
had known she planned to kill it. It had bided its time, slowly
draining her strength, waiting for just the right time to create new
hosts and escape. Those five little girls that had called Zero
“sister.”</p>
<p class="para">In the end, it was clear that only a
dragon could even hope to vanquish the Flower. And because she’d
neglected to seek one out, now she was burdened with reaping the
seeds she had sown.</p>
<p class="para">Long after the little girls had
vanished, Zero slowly regained control of her body. She could still
sense the Flower within her, which regained its vigor in an equal
manner. It was as stubborn as a weed: no matter how much you plucked
it, it keeps coming back, vigorous as ever...</p>
<p class="para">The Flower nested in her newly born
sisters had also grown at an astonishing rate. In less than three
months, the young girls, who looked only a couple years old, had
reached adolescence, and when they were reunited at the Cathedral
City, they looked no different from Zero. It all happened within a
year.</p>
<p class="para">But it wasn’t merely their
appearance that had undergone a spectacular transformation. The Power
of Song given to them by the Flower had also strengthened.
Surprisingly, the sisters began to use that power for the sake of
“world peace”. They wanted to defeat the oppressive lords and
become rulers themselves.</p>
<p class="para">The Power of the Flower, a calamity
which would only bring misfortune to the world, was now used to bring
“peace and harmony”. What an ironic turn of events.</p>
<p class="para">But it did not matter whether the
sisters’ deeds were good or evil. The entire world could worship
the five Intoners and see her as a traitor for all she cared... She
had to take matters into her own hands and finish what she had
started.</p>
<p class="para">This was her only truth.</p>
<p class="para"><br/>
<br/>

</p>
<p class="title" id="number">
<b>2</b></p>
<p class="para">The path was blocked by a large
boulder, forcing her to take a detour. The hindrance was annoying,
but not all bad—such an obvious blockade suggested this path was
probably a shortcut to the shrine where Five was.</p>
<p class="para">Although Zero had been hiding out in
the Land of Seas, that didn’t mean she knew the area. She had an
idea of Five’s whereabouts based on the positioning of the soldiers
and the conversations she had overheard, but her precise location was
unknown. With this, she could grasp the direction of the shrine. Even
if she had to take a little detour, it was better than wasting time
going the wrong direction.</p>
<p class="para">She turned off the road, heading
down the beach. Since the mountains approached the coastline in the
Land of Seas, though she had to take a detour, sooner or later the
path would descend seaward.</p>
<p class="para"><i>Sooner or later? There wasn’t a
choice? In other words, I’m being led here?</i></p>
<p class="para">Her instincts shouted a warning. She
advanced slowly, examining her surroundings for archers on the cliffs
or spearmen hidden in the shadows. It would suck to get sniped while
stuck in the sand.</p>
<p class="para">Fortunately, it appeared that there
were no archers, spearmen, or even sword-wielding grunts nearby.
However, something that looked like a flood gate ahead drew her
attention. A flood gate near the mouth of a river wouldn’t be
strange, but this one was set along the cliffs. There wasn’t any
sort of river anywhere that would need to be kept separate from the
seawater.</p>
<p class="para"><i>What’s there…I wonder?</i></p>
<p class="para">Then she stopped thinking about it.
If something happened, she’d worry about it then. Pondering wasn’t
in her nature. It was a waste of time more than anything else.</p>
<p class="para">She began striding over.</p>
<p class="para">“Open it!”</p>
<p class="para">With that command, the flood gate
opened noisily. At the same time, something huge rushed out with a
howl. A gigas. A bipedal monster twice—no, probably three times as
tall as Zero. It couldn’t be called intelligent by any standard,
but it was smart enough to handle bludgeoning weapons.</p>
<p class="para">The gate wasn’t to hold back a
river or the seawater but this savage monster. The demon was locked
up in a cave created by erosion, and the door was disguised as a
flood gate. All to lure Zero to this place. As she had thought: the
road wasn’t blocked <i>just</i> to keep her from the shrine.</p>
<p class="para">Annoyed at being locked up the cave,
the gigas came at her with its club raised.</p>
<p class="para">“Bring it on!”</p>
<p class="para">Heading towards the gigas, she
slashed with all her might. She’d teach the pricks who’d set this
underhanded trap that this sort of shit was pointless. She wasn’t
pissed at herself for falling for such an obvious trick. Not at all.</p>
<p class="para">She easily dodged the club as it
swung down. The gigas moved <i>slow</i>. The weapon sank into the
ground with a resounding thud and a cloud of sand. Due to its dumb
strength, the club appeared to be buried quite deep. She went around
its huge body as it struggled to extract its weapon.</p>
<p class="para">She thrust her sword at the back of
its neck, pushing hard as she twisted.</p>
<p class="para">The gigas yowled. Regardless, it was
still a monster. It seemed slicing its neck wasn’t fatal.</p>
<p class="para">The gigas, enraged, swung its
weapon. Of course, its movement was the same. Still so full of
openings. She approached, evading the club at the last moment. It
sank into the sandy beach in exactly the same stupid way as before.
She circled around its back and slashed. It was an absurdly simple
refrain.</p>
<p class="para">“Pathetic. It just never learns.”</p>
<p class="para">Nevertheless, as expected, she
quickly grew bored of the monotonous repetition, and so she decided
to settle it in one go. Zero arched her body rigidly, letting out the
Power of Song. The powerful demonic ability reverberated in her
throat. Even though it was called a ‘song,’ she herself thought
it more a noise than a beautiful sound.</p>
<p class="para">Her vision shifted and the gigas
halted as though made of stone. In truth, it hadn’t stopped—Zero
was just moving faster. An Intoner wields magic using her voice. Now
she had enhanced her physical ability to an absurd degree through the
Power of Song.</p>
<p class="para">With a single swing, Zero gouged a
large swathe of meat from its rock-hard neck. Up till a bit ago,
though she had slashed at it time and time again, the wounds hadn’t
been fatal, but unbelievably, the gigas breathed its last.</p>
<p class="para">She took a breath and was about to
wipe the stinking blood when there was a loud noise and something hot
burst nearby. Her body was lifted up and slammed back. From her back
she saw the battleships.</p>
<p class="para">She watched their turrets fire one
after another. Springing up, she ran behind the rocks.</p>
<p class="para">It seemed like part of the fleet had
approached while she had been preoccupied with the gigas battle. She
clicked her tongue.</p>
<p class="para">She had assumed they would shell
from the ocean. Unlike other countries, the Land of Oceans had an
excellent navy. They did thriving trade with the East, and she had
even heard rumors that they bought powerful gunpowder. So she had
made the first move and had Mikhail sink the warships.</p>
<p class="para">That had been the plan, but
apparently Mikhail had missed a few.</p>
<p class="para">“Zero! Are you okay? Are you
okay?” Mikhail swooped down. He must have realized she was in
danger as the shoreline was bombarded.</p>
<p class="para">“Hey! Dummy! I told you to sink
those ships already!”</p>
<p class="para">“I was saving it for you, Zero! I
was saving it for you!”</p>
<p class="para">“That shit’s not necessary!”</p>
<p class="para">As soon as she spoke, there were
impacts sending clouds of sand whirling all over. Staying there would
just make her a target. Even the rocks she tried to hide behind were
being blown to smithereens before she knew it. Her opponents weren’t
idiots.</p>
<p class="para">“Come here!” she shouted to
Mikhail. But he didn’t seem to understand the situation, as he
tilted his head with curiosity, replying, “What? What’re you
doing?”</p>
<p class="para">“Just move!”</p>
<p class="para">“Okaaay.”</p>
<p class="para">He finally landed. She nimbly leapt
onto his back.</p>
<p class="para">“Fly up.”</p>
<p class="para">“You got it.”</p>
<p class="para">The sand exploded where Zero had
just been standing. Just in the nick of time. Mikhail beat his wings
and they suddenly began to climb. There was no follow-up attack in
the sky, so the turrets probably needed more time to change
direction.</p>
<p class="para">“We should’ve done this from the
start, huh?”</p>
<p class="para">“I didn’t feel like it.”</p>
<p class="para">“Why?”</p>
<p class="para">“Because you stink.”</p>
<p class="para">“That’s mean,” he protested,
but Zero ignored him, looking at the sea. Looking down from the sky,
she could clearly see the positioning of the fleet. <i>Which
direction’s being protected most?</i> Even if it wasn’t obvious,
she could take a stab.</p>
<p class="para">It looked like the turrets had
finally turned around as the fleet resumed shelling. But Mikhail had
already flown out of range. <i>An immature dragon is still a dragon;
human weapons just can’t compare.</i></p>
<p class="para">“Uwaaah!” Mikhail screamed and
lost altitude. It seemed like a shell came from a ship in a different
direction.</p>
<p class="para">“Hey! Don’t squirm like that!”</p>
<p class="para">“But they hit my tummy!”</p>
<p class="para">“You just got grazed!”</p>
<p class="para">“It’s hot! It’s hot!”</p>
<p class="para">“Suck it up!”</p>
<p class="para">She retracted her previous thought.
Human weapons were a sufficient threat to dragons.</p>
<p class="para">“If you’re scared of the shells,
fly higher!”</p>
<p class="para">“I am!”</p>
<p class="para">“Higher!”</p>
<p class="para">Mikhail’s body was bucking up and
down. He must have been flapping his wings frantically. <i>His
flying’s just another example of how much of a kid he is,</i> she
thought once again.</p>
<p class="para">“I don’t like it when you
compare me to when I was Michael.”</p>
<p class="para">Zero felt a bit confused, like he
had read what she was feeling. But only a little.</p>
<p class="para">“I’m not comparing. You’re not
Michael.”</p>
<p class="para">Michael. The dragon that lost his
life protecting Zero in battle a year ago. He had been reincarnated
as Mikhail. But Mikhail had no memory of his time as Michael.</p>
<p class="para">Right after his reincarnation into
the ridiculously defenseless Mikhail, she had wondered if any trace
of Michael’s memory remained, but it seemed not. He was like a
newly hatched chick, recognizing the first thing he saw as his
mother.</p>
<p class="para">After living together for a year,
she understood quite well: in personality, speech, bearing, and
everything else, Michael and Mikhail were completely different
individuals.</p>
<p class="para">“Hey, was Michael scared of
anything?”</p>
<p class="para">Zero didn’t get it, but Mikhail
wanted to know about Michael. He pestered her for Michael stories
over and over like a child begging for the next part of a fairy tale.</p>
<p class="para">“No. At least not as far as I
know.”</p>
<p class="para">“Awesome. He wasn’t afraid of
<i>anything?</i> Or did he just stay brave even when things were
really scary?”</p>
<p class="para">“Don’t know. Hey, we’re losing
altitude!”</p>
<p class="para">His wings rose and fell as he
panicked.</p>
<p class="para">“I wanna become a strong dragon
like Michael, too!”</p>
<p class="para">For Mikhail, Michael might as well
be the hero of a fairy tale.</p>
<p class="para">“Will you praise me then, Zero? Be
really nice, pat my head, give me presents…”</p>
<p class="para">“That’s a bit much!”</p>
<p class="para">“And then gimme a biiig circle!”</p>
<p class="para">“Circle?”</p>
<p class="para">“You know, like that one!”</p>
<p class="para">Mikhail pointed his nose to the
surface of the sea. The fleet covered the water, all except for one
spot. Like the ships were avoiding it.</p>
<p class="para">“I see.”</p>
<p class="para">The color of the sea was different
there. Like a ‘biiig circle’ had been painted on. In other words,
there was something huge and round in the sea...</p>
<p class="para">“Fly towards that big circle. It’s
yours from now on.”</p>
<p class="para">“Really? Yaaay!”</p>
<p class="para">Mikhail’s wings sliced through the
air. It was amazing how swiftly he could fly. Along the way, several
shells flew by, some even grazing his wings, but he paid no attention
to them. Probably only thinking about the ‘biiig circle.’ A
child’s train of thought is simple, regardless of the species.</p>
<p class="para">The ‘circle’ on the ocean was
getting closer. Mikhail shouted as he flapped his wings.</p>
<p class="para">“Something’s floating! It’s
floating!”</p>
<p class="para">“I told you, don’t squirm
around!” Zero clung to Mikhail’s back so she wouldn’t be thrown
off. It seemed like he hadn’t heard her command, as he expressed
his surprise by flailing his wings, his tail, and anything else he
could.</p>
<p class="para">“Hey, hey, what’s that? What’s
that?”</p>
<p class="para">The huge, circular thing that had
been submerged started to rise. A stadium with stone walls, and seats
arranged along those walls like staircases.</p>
<p class="para">“A coliseum, huh? That’s just
too cliché. So much posturing.”</p>
<p class="para">“What’s a ‘call-uh-see-uhm’?”</p>
<p class="para">“A place for fighting. From a long
time ago.”</p>
<p class="para">The stage was typical of Five, who
loved everything—actions, speech, attire, or anything else—garish
and theatrical.</p>
<p class="para">But such posturing was probably
quite the curiosity in Mikhail’s eyes. He circled above the area,
shouting gleefully.</p>
<p class="para">“Heeey, can we go down there?”</p>
<p class="para">“If you want.”</p>
<p class="para">“Yay!” Mikhail cheered as he
went to land in the center of the ring.</p>
<p class="para">“Do you like it?”</p>
<p class="para">The voice came from a conspicuously
tall balcony seat in the stands. Five appeared, brushing back her
golden hair that glittered in the sunlight. Nearby, a young boy with
charming features waited upon her.</p>
<p class="para">“I’ve prepared the best stage
for you, Zero, my dear big sister. Or would you rather I await you in
bed?”</p>
<p class="para">The vulgar way she thrust her
breasts out and writhed her body was no different than a year ago.
But even that vulgarity was from Zero.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">The sisters were made by copying
Zero herself. A year ago, the moment she saw the five grown, she
understood they were beyond a doubt made from her. It was as though
unsightly, twisted parts of herself had grown and been thrust before
her eyes.</p>
<p class="para">Five’s appearance was that of a
woman she had killed in the past. It was when she was alive, when she
had just been stealing and killing over and over again. She had
broken into a convent, stolen food, and then slaughtered the nuns.
Among them was a woman with the same face as Five. Amidst the
average-looking nuns, hers was the only face that stood out, so Zero
remembered it clearly.</p>
<p class="para">Of course, that woman begged for her
life in a much more refined manner. She was most likely not as greedy
as Five. The Flower merely created Five’s form from Zero’s
memories, and her personality was just from Zero’s thoughts.</p>
<p class="para">Four—who played the good girl and
adhered to propriety—was herself from long, long ago. The self who
was frantically protecting her tiny bit of pride after being sold to
a brothel.</p>
<p class="para">Three was crazy, but it would be a
lie to say she didn’t have any crazy parts. She had bits of herself
that were insane as well, they just didn’t pop out unexpectedly.
Such was life.</p>
<p class="para">The spoiled, naïve, good-natured
Two was the complete opposite of who Zero was now, but Zero felt Two
might be the person Zero could have been, had she been born and
raised differently.</p>
<p class="para">During her lifetime, Zero had been
sold off by her mother, betrayed by a friend, cast away by a man…
She kept losing everything she had. In order to survive those days
where she was stepped on and robbed, she couldn’t allow for even a
shred of sweetness. Two’s goodness was the first load chucked out
of the sinking ship, so to speak.</p>
<p class="para">It was just One she didn’t
understand. She didn’t have any of that strong sense of justice,
that earnestness, that self-control, that thirst for knowledge, none
of it. Even if, for arguments’ sake, she had been born to a family
without want, she was sure she wouldn’t have been like One.</p>
<p class="para">She couldn’t help but feel One’s
voice and hair color were similar to the girl who was beside her when
she died. But that girl had been blinded, so Zero didn’t even know
the color of her eyes. What the hell part of her did the Flower use
to make One? That was the only mystery she had yet to solve……</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">“I’ve been longing for you,
honest. Night after night. I’ve wanted to meet with you, Zero, my
dear big sister. I’ve wanted to get madly entangled with you. Like
a year ago.”</p>
<p class="para">“Yes, isn’t that right, Dito?”
Five asked the boy nearby. It seemed his name was Dito. Zero knew he
was a disciple that served an Intoner of course, but she hadn’t
known his name.</p>
<p class="para">“I was thinking perhaps you were
getting done by one of the others or something. You haven’t
forgotten all about me, have you?”</p>
<p class="para">“Unfortunately, no. But I’d very
much like to hurry up and do so.”</p>
<p class="para">“Aah, I’ll help you forget soon.
Everything. <i>Forever</i>.”</p>
<p class="para">Five looked as though she were on
the verge of licking her lips in anticipation. It was annoying that
her youngest sister was getting pleasure from even this pointless
chatter right in front of her. Zero was pissed.</p>
<p class="para">“Drop the stupid talk. Hurry up
and die!”</p>
<p class="para">“My dear sister, what are you
talking about? Is this not an arena? Battles are between fighters. I
am an <i>Intoner</i>.”</p>
<p class="para">She seemed to be implying she was a
princess who would watch the battle. Five smiled, then her lips
opened to a different shape. She raised her voice, the sound
resembling a shrill shriek. No matter who sang the Song, it was a
grating noise.</p>
<p class="para">The Power of Song covered the arena.
The disciple began the summoning chant.</p>
<p class="para">“Behold, the Fifth Song, Grand
Light of Antiquity!</p>
<p class="para">The great power made manifest, the
ceremony of glorious arrival,</p>
<p class="para">Burn into thine eyes the punishing
lance of divine retribution!</p>
<p class="para">I, Dito, summon thee in my name…”</p>
<p class="para">A summoning circle erupted with a
powerful light, filling the sky above the arena. The summoning of
these “daemons” was the true power of the Intoners. In order to
use the devastating Intoner summoning ability, the Intoner alone
wasn’t enough; she needed the assistance of a disciple. It wasn’t
that she couldn’t perform the summoning alone, it was just that the
Power was difficult to control. You could say it was like supporting
a boulder with one hand compared to supporting it with both. In fact,
the sisters had lost control before.</p>
<p class="para">Five’s Song echoed, rising high
and falling low. The light emitted by the circle grew more vivid.</p>
<p class="para">“Phanuel, arise!”</p>
<p class="para">The portal opened. What appeared,
enveloped in light, was a daemon that looked just like a beetle. The
main part of its body resembled a lustrous black shield, and its
multiple limbs seemed clad with gauntlets. Despite all that, its body
was larger than Mikhail’s.</p>
<p class="para">Zero leapt onto Mikhail’s back.
She knew she wouldn’t be able to achieve her goal without first
taking out that daemon. And that wasn’t the only opponent her sword
could take out.</p>
<p class="para">“Burn it!”</p>
<p class="para">“Yeah, I kno—” A streak of
white light shot towards them as if to drown out Mikhail’s
response.</p>
<p class="para">“Watch out!”</p>
<p class="para">Mikhail dodged to the side. The
light grazed his wing. It smelled of burning mochi.</p>
<p class="para">“That beam thingie hurts! It
really, really hurts!” Mikhail’s voice sounded like he was about
to cry. It was a good thing they had escaped a direct hit.</p>
<p class="para">“It’s an attack, dummy. It’s
supposed to hurt.”</p>
<p class="para">“Uh, yeah, I guess...”</p>
<p class="para">“Good, so stop letting it bother
you!”</p>
<p class="para">“Okaaay.” His response seemed to
say he didn’t agree. But there wasn’t time at the moment to be
considerate of his feelings.</p>
<p class="para">“Fire! Hurry up and use fire!”</p>
<p class="para">“I know!”</p>
<p class="para">Mikhail slid low through the air,
aiming his flames at Phanuel. If it was a daemon summoned from the
Land of Seas, it should hate fire just like the aquatic monsters…</p>
<p class="para">They could see the flames envelop
Phanuel’s huge body.</p>
<p class="para">“Ah! That’s cheating!” Mikhail
shouted in indignation. Phanuel hid underwater to avoid the blaze.
Before they knew it, nearly half the seats in the arena were
submerged. “Hiding in the water’s no fair! No fair!”</p>
<p class="para">But that meant Zero’s prediction
had been right: Phanuel wasn’t good with fire after all. That was
why Five had built the arena out at sea, where it could be submerged
immediately. Or perhaps Phanuel itself had the ability to submerge
its surroundings.</p>
<p class="para">Either way, so long as Phanuel was
underwater, Mikhail’s attacks wouldn’t work.</p>
<p class="para">“Drag it out!”</p>
<p class="para">“What?”</p>
<p class="para">“I said, drag the chickenshit out
and slam it against the walls!”</p>
<p class="para">“Um. That’s…”</p>
<p class="para">“You can’t do it?”</p>
<p class="para">“Uhhh…”</p>
<p class="para">“I don’t have time for whining!
Hurry up and do it!” Zero kicked hard with her heel at the gap
between Mikhail’s scales. She really didn’t think she was suited
for dealing with kids. No matter how hard she tried, she just
couldn’t find the patience to deal with backtalk.</p>
<p class="para">“I’ll do it! I’ll do it!”</p>
<p class="para">Mikhail swooped down towards the
surface of the water.</p>
<p class="para">“When you drag it out, throw it
over there!”</p>
<p class="para">She pointed at the balcony seats,
where Five continued the Song and Dito knelt respectfully beside her.</p>
<p class="para">Mikhail’s talons caught onto
Phanuel. The strain in his wings conveyed how heavy it was.</p>
<p class="para">“Now, do it!”</p>
<p class="para">Mikhail’s back shook violently.
Phanuel’s enormous mass lifted into the air and then crashed into
the center of the seats. Not the balcony seats where Five and Dito
were.</p>
<p class="para">“What the hell are you doing?!
More to the right! Right!”</p>
<p class="para">“I heard you!”</p>
<p class="para">She heard giggling.</p>
<p class="para">“Oh Zero, my dear big sister,
you’re violent as ever. But that’s what I <i>love</i> about you.
Won’t you please do it harder?”</p>
<p class="para">She could feel Five’s thoughts. It
felt like it was rotting her brain, and she was fucking tired of it.
This too was an ability of Intoners, but the thoughts echoing
directly in her mind were close to violence and harassment. It was
impossible to plug her ears or ignore them.</p>
<p class="para">Phanuel, whose body had lodged in
the seats, had begun to squirm around. It wasn’t the time to get
distracted by Five’s thoughts.</p>
<p class="para">“It’s going to run again! Hurry
up and burn it!”</p>
<p class="para">“I know! I know!”</p>
<p class="para">“Stop repeating yourself!”</p>
<p class="para">Mikhail’s flames licked at
Phanuel. But that only lasted for a moment, and soon Phanuel’s
figure vanished into the water.</p>
<p class="para">“Again! Drag it out, smash it, and
turn it into charcoal!”</p>
<p class="para">“You’re so violent, Zero…”
Mikhail echoed Five with a sigh.</p>
<p class="para">“Just do it!”</p>
<p class="para">“Okaaay.”</p>
<p class="para">The reply was half-hearted, but
Mikhail seemed to have gotten the point the second time around.
Though he was incompetent when it came to destroying the balcony,
Phanuel—engulfed in flames—struggled, flailed, and made a huge
hole in the arena before escaping into the water. It must have been
wounded pretty severely because there was no counterattack at all.</p>
<p class="para">“Do it again?”</p>
<p class="para">“Of course.”</p>
<p class="para">Phanuel had sustained more than a
few wounds, and as the summoner, Five’s Power was weakening as
well. The Song was becoming discordant. If this continued, Zero would
be able to achieve her goal: killing one of her sisters.</p>
<p class="para">Third time’s the charm, and
Mikhail finally managed to toss Phanuel and destroy the balcony. His
flames rushed towards Phanuel without a moment’s delay. A roar
shook the air.</p>
<p class="para">The water that had filled the arena
ran out a fissure. Phanuel struggled violently.</p>
<p class="para">“Finish it off!”</p>
<p class="para">Zero belted out the Song alongside
Mikhail’s flames. Their vision shifted, and Phanuel’s movement
slowed as if time had been stopped.</p>
<p class="para">The Power of Song could extend not
only to Zero herself but also those she fought with. A blaze, strong
enough to be called hellfire, spewed forth from Mikhail’s maw.
Phanuel’s gigantic black body burst into flames before crumbling
into pieces and disappearing.</p>
<p class="para">The water was receding. <i>This
time,</i> she thought in a corner of her mind, <i>time seems to be
moving faster.</i> Both Zero’s and Five’s Songs ceased
simultaneously, and there was silence.</p>
<p class="para">Five stood where Phanuel should have
been. No suggestive words, no theatrical movements, just standing
there, white-faced.</p>
<p class="para">“N…no… The Song…… My Power
of Song……”</p>
<p class="para">She fell like a marionette whose
strings had been cut. Zero thought she looked like herself when the
Flower had stolen all her Power. It seemed Five had used up the Power
of Song and now couldn’t even move a finger.</p>
<p class="para">Zero jumped from Mikhail’s back
and strode briskly towards Five.</p>
<p class="para">“No……save…me……”</p>
<p class="para">There was no use arguing. Zero
raised her sword.</p>
<p class="para">“Plea…se……”</p>
<p class="para">She swung it down. The tip of the
sword pierced Five’s trembling stomach as she tried to rise, and
then the blade stopped up her screaming mouth. She pierced the left
side of her chest with the sword, then slit her throat. Again and
again and again. Flesh, bone, and blade clashed, making dull, wet
sounds. Blood spurted out, staining the stones of the arena.</p>
<p class="para">“You’re still going? Stop
already!”</p>
<p class="para">Ignoring Mikhail’s tear-filled
voice, she single-mindedly kept mangling Five. Her arms grew tired as
she repeated the same movements with all her strength. At some point,
the screaming had stopped.</p>
<p class="para">“Zero! Zero, come on!”</p>
<p class="para">“Shut up!”</p>
<p class="para">“But…”</p>
<p class="para">Mikhail didn’t understand the
tenacity of the Flower. Even tearing it out or slicing it up, it
would grow like a weed.</p>
<p class="para">“You didn’t have to go that
far.”</p>
<p class="para">The pain in her arms and shoulders
began to dull. With the sword rammed deep within Five’s body, Zero
finally stayed her hand. She was totally exhausted from swinging the
sword with all her strength.</p>
<p class="para">“Didn’t have to go that far? If
you want to kill an Intoner, you’ve gotta really—”</p>
<p class="para">She looked back at Mikhail as she
was explaining how those monsters were different. He gasped. Was he
scared of her blood-spattered appearance? No. He was looking past
her.</p>
<p class="para">There was the sound of a sword
falling. <i>The sword was stuck in Five. It’s falling? Why?</i></p>
<p class="para">She could feel a presence rising
behind her. She looked back. Five—or the thing that had been
Five—was standing there. Her lips were moving as though she were
trying to speak, but Zero couldn’t make anything out. Instead,
there was the sound of air leaking out of her bloody throat.</p>
<p class="para">Her right foot moved forward with a
slap. A barely connected arm, looking like it would fall off at any
moment, swayed. White bones and entrails could clearly be seen since
her chest and stomach had been pierced and slashed so many times. And
yet, she was standing, walking.</p>
<p class="para">“This is an Intoner…”
Mikhail’s voice was hoarse and trembling. He was probably petrified
by the ghastly scene before him.</p>
<p class="para">Just as she was thinking she
couldn’t let it go on any longer and she’d grab her sword to
finish Five off, Five stopped moving. An arm, sliced off, fell with a
sound. Then her head. And then her entire body.</p>
<p class="para">“She’s dead?”</p>
<p class="para">Dito laughed, sword in hand. The
face of the disciple who had served under the Intoner was colored
with glee at putting her to the sword.</p>
<p class="para">“She’s dead, she’s dead, she’s
dead!” Dito, wearing a beautiful smile, shouted as he stomped on
her body. They could hear the sound of meat being crushed.</p>
<p class="para">“You sure loved working me to the
bone, didn’t you, you old hag!”</p>
<p class="para">Dito trampled on Five’s stomach
and face, kicked her into the air, and hurled the most vile and
vitriolic curses. It seemed like he had completely missed Zero and
Mikhail standing there.</p>
<p class="para">“I may be a disciple, but I’m
gonna say and do what I want!”</p>
<p class="para">It seemed Five’s treatment of her
disciple had been unimaginable. The depth of his pent-up resentment
could be seen in her corpse, stomped beyond recognition.</p>
<p class="para">“Night and day! In bed! Outside!
‘I love you’? How could you get that out of your mouth when you
relentlessly toyed with people? You make me sick!”</p>
<p class="para">Sweaty and out of breath, Dito
continued destroying Five’s corpse. Zero didn’t need to do
anything about it anymore.</p>
<p class="para"><br/>
<br/>

</p>
<p  class="title" id="number">
<b>3</b></p>

<p class="para"><i>I don’t want to die.</i></p>
<p class="para">She kept screaming “I don’t want
to die!” right up until she was about to lose consciousness. Even
when she couldn’t speak, even when she didn’t remember who she
was, her fervent desire was not to die.</p>
<p class="para"><i>I still want to live. I want to
keep living so much longer.</i></p>
<p class="para"><i>After all, I’m still not
satisfied. It’s still not enough. I want more. I want even more.
More and more.</i></p>
<p class="para">Even though the body called “Five”
had disappeared without a trace, that feeling, like an obsession,
remained.</p>
<p class="para"><i>I will not die. I will</i> never
<i>die. There are so many more things I want……</i></p>
<p class="para">Power was drawn from desire and
attachment to the world. From the Flower—relentlessly trying to
propagate—came the Power to live again.</p>
<p class="para"><i>Zero. My dear sister, where might
you be now? Yes, I will always find you. Soon you’ll be mine. You,
your dragon, everything, everything will be mine…</i></p>
<p class="para">Slowly but steadily, the thing that
had once been Five regained its form.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/story-side/prologue">Previous Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/story-side/chapter-two">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/story-side">Back</a></p>