---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Character Introductions</title>
<p style="margin-top: 1cm; font-size: 300%;">Character Introductions</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/mrkusabi">MrKusabi</a></p>
<p class="title">Zero</p>
<p class="title">“I
welcome all men. I’ll worry about everything else after I bed
them.”</p>
<p class="para">The protagonist
of the story. Of those called Intoners—sisters with unique
powers—she is the oldest. Her morality is inhumane, and on top of
being sexually liberal, she is the type to find most things extremely
bothersome.</p>
<p class="title">Mikhail</p>
<p class="title">“Will you praise
me then, Zero?”</p>
<p class="para">A dragon reborn
from Michael, the partner mortally wounded while protecting Zero a
year ago. He has no memories of when he was Michael, and as his
mental age has reverted to that of a child, he frequently irritates
Zero.</p>
<p class="title">One</p>
<p class="title">“I swear by my
murdered sisters’ souls, I will never forgive you!”</p>
<p class="para">The second
Intoner. She is the most intelligent and cool-headed among the
sisters. Why was I born? What is the truth of this world? She prefers
to read books to obtain knowledge, her inquisitive spirit the exact
opposite of her older sister Zero.</p>
<p class="title">One
(Brother)</p>
<p class="title">“Do you know
what they intend to call you?”</p>
<p  class="para">An existence made as a
counterpart to his older sister One. He is the one who triggered the
events that changed the course of this world.</p>
<p class="title">Two</p>
<p class="title">“So… You
mustn’t die, Cent.”</p>
<p  class="para">The third Intoner. A cheerful,
carefree girl. She and the disciple Cent love each other sincerely
and have a relationship of mutual trust. She discovered the secret
and makes an unexpected choice, but…</p>
<p class="title">Cent</p>
<p class="title">“I wooon’t.
Right now iiis…”</p>
<p  class="para">One of the disciples. Usually a
vexing pretty boy but takes action because he genuinely loves Two.</p>
<p class="title">Three</p>
<p class="title">“Just kidding!
Die, Zero!”</p>
<p class="para">The fourth
Intoner. An eccentric girl who loves playing with dolls. Paranoid and
delusional, she’s always giving the appearance of listlessness,
but…</p>
<p class="title">Octa</p>
<p class="title">“No, no. My
sexual prowess is my only redeeming quality.”</p>
<p class="para">A disciple who
looks like a doddering old man but is actually in his 20s. He boasts
of his unparalleled sexual stamina and has the longest and largest
cock of the disciples. He also has a sensible side.</p>
<p class="title">Four</p>
<p class="title">“Everyone,
everyone, everyone but my big sister Zero and me are enemies!”</p>
<p class="para">The fifth
Intoner. Her personality is that of a composed honor student. She
acts intelligently, and ordinarily even lends an ear to others, but
speaks childishly when she loses her temper. She is the only virgin
amongst the sisters.</p>
<p class="title">Decadus</p>
<p class="title">“No,
I will do it! This is my reward!”</p>
<p class="para">Four’s
Disciple, and the type to fight with his well-trained body. At first
glance, his personality seems sensible and gentlemanly, but he’s an
extreme masochist who derives pleasure from adversity and ordeals. He
tries to hide it, but it’s obvious to those around him.</p>
<p class="title">Five</p>
<p class="title">“Violent as
always, Zero.”</p>
<p class="para">The youngest
Intoner. She is brimming with greed and lust but is easily bored. The
most vulgar of the six sisters, her desires know no bounds, and she
tenaciously clings to life till the end.</p>

<p class="title">Dito</p>
<p class="title">“At any rate, I
didn’t think ALL Intoners were damned sex-crazed sluts, yeah?”</p>
<p class="para">He looks young
and beautiful, but doesn’t bother to hide his cruel nature. He has
a bottomless mean streak, and cleverly ascertains his opponents’
weaknesses.</p>
<p class="title">Accord</p>
<p class="title">“The Flower has
taken root inside you.”</p>
<p class="para">An unidentified
woman who operates a weapons shop. She sometimes appears before Zero
and leaves mysterious words.</p>

<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/story-side/world-map">Previous Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/story-side/prologue">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/story-side">Back</a></p>