---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Prologue</title>
<p style="margin-top: 1cm; font-size: 300%;">Prologue</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/help/emily">Emily</a></p>
<p class="para">You've heard the stories, haven't
you?</p>
<p class="para">Although, it’s been quite some
time since a single soul dared utter the word “Intoner”...</p>
<p class="para">You don’t remember? Ah, but of
course. Such things occurred far before your time.</p>
<p class="para">“Long ago, in an age tarnished by
endless conflict, five beautiful goddesses descended upon the land.
The goddesses sang mystical songs that restored peace and harmony to
our broken world. The people began to worship these holy
songstresses, and came to refer to them as ‘Intoners.’”</p>
<p class="para">Though, I suppose it really wasn’t
that long ago at all. This legend is but a tool, a story created to
legitimize the Intoners’ rule once they had seized power. It didn’t
even matter in the end, their reign ended almost as quickly as it
began. Like a fleeting dream.</p>
<p class="para">Over the course of two years, the
Intoners set out to vanquish the oppressive lords who ruled over the
land, conquering their territory and splitting the four greatest
countries among themselves.</p>
<p class="para">But even after the lords had fallen,
life was still hard for the people. Even today, the strong always
persecute those weaker than themselves. They fight, they steal, they
sow hatred, they kill. Humanity marches ever forward, trapped forever
in its sorrowful ways and forgetting even those who sought to pull
them from their despair. In time, the Intoners fell as well, cut down
by one of their own.</p>
<p class="para">You see, despite what the legends
told, there were six Intoners. Six sisters, bound by ties of blood.</p>
<p class="para">The youngest sister, Five, ruled
over the Land of Seas. Four ruled over the Land of Mountains. Three
ruled the Land of Forests and Two ruled the Land of Sands. Then there
was One, the second-oldest sister and the head of The Church. She
established a stronghold in the Cathedral City, where she led her
four sisters in the governing of their lands.</p>
<p class="para">And finally, Zero, the oldest of the
Intoner sisters and a traitor to them all. She was a savage woman.
Riding atop a pure white dragon, she sliced her way through countless
battlefields, aiming to take the lives of her five sisters. A
blood-soaked Intoner.</p>
<p class="para">Why did Zero want to kill her
sisters? Why did the Intoner’s rule come to an end in less than a
year? What fate befell these goddesses?</p>
<p class="para">Indeed, I daresay there’s not a
living soul who could answer such questions but myself. Seventeen
long years and still not one person speaks of those days.</p>
<p class="para">So, would you care to hear the
sisters’ story? Of course you do, you’re the one who brought it
up in the first place. Though I must admit, it has been a great many
years since the word “Intoner” passed my own lips. I’ve not
spoken it once, not since my sister died.</p>
<p class="para">Hmm? Sister? Ah, of course I shall
tell you of my sister as well. My dear sister was named One, the very
same One who led the Intoners to bring peace and order to the world.</p>
<p class="para">Wouldn’t that make Zero my sister
as well? If you recall, I did mention that the Intoner sisters were
not bound by blood.</p>
<p class="para">My apologies, I seem to be confusing
you already. Yes, this story does get quite a bit complicated. And
it’s rather long as well.</p>
<p class="para">But if you’re able to follow this
tale of suffering and heartbreak, I do believe you’ll enjoy it.</p>
<p class="para">Now then, let us begin. This tale
begins much like the fairy tales of yore, those full of princes and
princesses and happily ever after. But I’m afraid this is not that
kind of story.</p>
<p class="para">Once upon a time, in a land far
away, there were six sisters… <font face="Arial, sans-serif">​</font></p>
<p class="para"><br/>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/story-side/character-introductions">Previous Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/story-side/chapter-one">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/story-side">Back</a></p>