---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<title>World Map</title>
<p style="margin-top: 1cm; font-size: 300%;">World Map</p>
<img src="https://i.imgur.com/ZUHl4lz.png" width="60%" height="60%">
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/mrkusabi">MrKusabi</a></p>
<p class="line"></p>
<p class="title"><b>The Land of
Forests</b></p>
<p class="para">The country ruled by the fourth
Intoner, Three.</p>
<p class="para">A densely forested land blessed with
an abundance of nature. A place where many non-human races, such as
fairies and elves, live in great numbers. From the beautiful forests
filled with many kinds of trees to fog-enshrouded locations that seem
to refuse outsiders, everywhere one looks the view changes.</p>
<p class="title"><b>The Land of
Mountains</b></p>
<p class="para">The country ruled by the fifth
Intoner, Four.</p>
<p class="para">A region of steep mountains. Atop
the summit lies an impregnable fortress. With frigid, snowy mountains
and canyons between sheer cliffs, the landscape is harsh for human
habitation.</p>
<p class="title"><b>The Cathedral City</b></p>
<p class="para">Ruled by the second Intoner, One.</p>
<p class="para">Buildings erected by an ancient,
advanced civilization stand in ruins like tombstones. The
headquarters of this world’s most prestigious church exists there.</p>
<p class="title"><b>The Land of Sands</b></p>
<p class="para">The country ruled by the third
Intoner, Two.</p>
<p class="para">A region of desert, the climate of
this country is so harsh that even standing is exhausting. Legends
say a civilization once flourished there, the ruins of which spread
out underground.</p>
<p class="title"><b>The Land of Seas</b></p>
<p class="para">The country ruled by the sixth
Intoner, Five.</p>
<p class="para">A country surrounded by the vast
ocean. Zero hid herself for a year at a place within this land. The
story begins here. A country that boasts a vast fleet alongside the
submerged cities of a former civilization.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/story-side/character-introductions">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/story-side">Back</a></p>