---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Akeha's Costumes</title><style>    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}                                               
@media (prefers-color-scheme: light)
{
    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
}
</style>
<style>  
    #icon{
display:inline-block;
    }
.title{
    margin-bottom: 0.1cm;
    font-size: 85%;
}
.title-1{
  font-size: 130%;
}
#title-sub{
  margin-top: 0%;
  margin-bottom: 0.1cm;
    font-size: 50%;
    margin-top: -0.5cm;
}

#top-right{
    font-size: 65%;
    margin-top: 0%;
}

.para{
    font-size: 65%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  border: thick solid rgb(58, 58, 58);
  background-color:rgb(70, 70, 70);
  padding: 10px;

}
    @media screen and (orientation: landscape)
{
  .para-1{
    font-weight: 400;
    letter-spacing: 1.5px;
    margin-right: 25%;
    margin-left: 25%;
    text-align:left;
    font-size: 110%;
    margin-top: 0.6cm;
      border: thick solid rgb(58, 58, 58);
  background-color:rgb(70, 70, 70);
  padding: 10px;
}
  .para-2{
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align:left;
    font-size: 100%;
  padding: 10px;
  margin-left: 2%;
  margin-right: 2%;
        border: thick solid rgb(58, 58, 58);
  background-color:rgb(70, 70, 70);
    padding: 10px;
}
}


    @media screen and (orientation: portrait)
{
  .para-1{
    margin-right: 8%;
    margin-left: 8%;
    text-align:left;
    font-size: 130%;
    margin-top: 0.2cm;
    border: thick solid rgb(58, 58, 58);
    background-color:rgb(70, 70, 70);
    padding: 10px;
    letter-spacing: 1.5px;

}
  .para-2{
    font-weight: 400;
    letter-spacing: 1.5px;
    text-align:left;
    font-size: 100%;
  padding: 10px;
  margin-left: 2%;
  margin-right: 2%;
  }
    h2{
    font-weight: 520;
    margin-bottom: -0.4%;
  }
  hp{
    margin-bottom: -5%;
  }
    #atk{
    display:none;
  }
  #def{
    display:none;
  }
  #agi{
    display:none;  }
    #hp{
        display:none;
    }
    .below{
        padding: 5%;
    }
}
  @media screen and (prefers-color-scheme: light){
    .para-1{
  border: thick solid rgb(165, 164, 164);
  background-color:rgb(224, 224, 224);
    }
      .para{
  border: thick solid rgb(165, 164, 164);
  background-color:rgb(224, 224, 224);
    }
    .container > div.content {
  background-color: rgba(207, 207, 207, 0.8);
}
    .container > div.source {
  background-color: rgba(207, 207, 207, 0.8);
}
div{
    text-align: center;
    margin: 0 auto;
}
  }
  h2{
    font-weight: 520;
    margin-top: 1.2%;
  }
  #atk{
    color: #f9a5a5;
  }
  #def{
    color: #93c5ea;
  }
  #agi{
    color: #86efac;
  }
</style>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img style="width: 100%; height: 100%;" src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/media">
          Media
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<img src="https://i.imgur.com/8LGKv0F.png">
    
<h2>Costume Story</h2><p class="para-1">
Seasons change. Spring to summer, summer to autumn,<br>
autumn to winter, and winter to spring once more.<br>
<br>
As the colors change, so, too, do we grow old.<br>
<br>
Was I ever able to feel the days?<br>
In spring? Summer? Autumn? Winter?<br>
I can't tell. Maybe I couldn't <i>ever</i> tell.<br>
<br>
Could someone tell me, what is the color of my heart?</p>
<p class="line"></p>
<p class="menu" id="backButton"><a href="/stories/reincarnation/characters/s1/akeha/costumes">Back</a></p>