---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>

.para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
</style>
<title>NieR Re[in]carnation</title>
<p class="para">Warning: Refinement incoming, The stories are just up right now.</p>
<div class="over">
<div class="Guide">
<div><p class="title"><a href="/stories/reincarnation/characters/s1/rion">
    Rion<img class="art" src="https://i.imgur.com/LFQz2pP.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/gayle">
    Gayle<img class="art" src="https://i.imgur.com/RK4kzXN.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/dimos">
    Dimos<img class="art" src="https://i.imgur.com/BaWdu1d.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/akeha">
    Akeha<img class="art" src="https://i.imgur.com/kQOEC5W.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/argo">
    Argo<img class="art" src="https://i.imgur.com/vdoXmL1.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/levania">
    Levania<img class="art" src="https://i.imgur.com/aQ2FeEz.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/063y">
    063y<img class="art" src="https://i.imgur.com/qVlW4rz.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/f66x">
    F66x<img class="art" src="https://i.imgur.com/JMWrP3c.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/lars">
    Lars<img class="art" src="https://i.imgur.com/gdWhuOO.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/griff">
    Griff<img class="art" src="https://i.imgur.com/yjJj5EG.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/noelle">
    Noelle<img class="art" src="https://i.imgur.com/ruwsCLf.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/fio">
    Fio<img class="art" src="https://i.imgur.com/HIm8CKd.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/saryu">
    Saryu<img class="art" src="https://i.imgur.com/ysZh3FC.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/priyet">
    Priyet<img class="art" src="https://i.imgur.com/EFSvnyk.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/marie">
    Marie<img class="art" src="https://i.imgur.com/fJQ3RzU.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/yurie">
    Yurie<img class="art" src="https://i.imgur.com/1Kr1VJr.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/yudil">
    Yudil<img class="art" src="https://i.imgur.com/D4hbMld.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/sarafa">
    Sarafa<img class="art" src="https://i.imgur.com/ttOqBI1.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/hina">
    Hina<img class="art" src="https://i.imgur.com/Q4QLGLo.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/yuzuki">
    Yuzuki<img class="art" src="https://i.imgur.com/WFuTTVG.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s3/10h">
    10H<img class="art" src="https://i.imgur.com/wmwjRVG.png"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/crossovers">
    Crossovers<img class="art" src="https://i.imgur.com/rEkq24e.png"></a></p></div>
</div>
</div>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/stories">Back</a></p>

<link rel="preload" href="https://i.imgur.com/Pl1Cboq.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/fBBtPq9.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/faMAe1Z.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ZcdgM8t.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/UH3r8gP.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ThKdF8L.png" as="image" type="image/png" />
<!--Above is for rion preloading-->
<link rel="preload" href="https://i.imgur.com/PKv8ACG.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/CFgmrMO.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/PVsVY67.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/EtSbiMG.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/Rjo2ahw.png" as="image" type="image/png" />
<!--Above is for gayle preloading-->
<link rel="preload" href="https://i.imgur.com/mqPWjt0.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/hpBsDT5.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/hicg9De.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/VEq8K47.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/sLSKE4b.png" as="image" type="image/png" />
<!--Above is for dimos preloading-->
<link rel="preload" href="https://i.imgur.com/xir84xH.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/0fpu4c8.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/yjZ9wcW.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/XvwerDw.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/GMq7heA.png" as="image" type="image/png" />
<!--Above is for akeha preloading-->
<link rel="preload" href="https://i.imgur.com/fGliHxq.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/HXiLWCm.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/K9H4Ugy.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/EBq7qC2.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/zl3GWQ1.png" as="image" type="image/png" />
<!--Above is for argo preloading-->
<link rel="preload" href="https://i.imgur.com/9XLxVhS.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/a5cma0v.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/fS3T2dB.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/dA2Ym8k.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/uzrayvJ.png" as="image" type="image/png" />
<!--Above is for levania preloading-->
<link rel="preload" href="https://i.imgur.com/pda2nxa.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/Vm6lb1w.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/0gQs7kG.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/jvLSnlM.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/Q7SqMpZ.png" as="image" type="image/png" />
<!--Above is for 063y preloading-->
<link rel="preload" href="https://i.imgur.com/M67M63p.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/SFvU3N1.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/UT0sCQX.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/chvRmbT.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/cEfwtI6.png" as="image" type="image/png" />
<!--Above is for f66x preloading-->
<link rel="preload" href="https://i.imgur.com/TDUyOdp.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/otQRDnL.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/GqHquaa.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/56Ez47x.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/Jf4VD3K.png" as="image" type="image/png" />
<!--Above is for lars preloading-->
<link rel="preload" href="https://i.imgur.com/dolkq05.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/anSQ1oT.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/h6562k0.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/rQLrVc2.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/omRWK79.png" as="image" type="image/png" />
<!--Above is for griff preloading-->
<link rel="preload" href="https://i.imgur.com/msUDdLy.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ufAuKNc.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/p1gbJXB.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/tCfo3AI.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/3R4FcZW.png" as="image" type="image/png" />
<!--Above is for noelle preloading-->
<link rel="preload" href="https://i.imgur.com/DT7y2v0.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/fJ1vXwi.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/2tMl7Mq.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/8wBcUde.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/RmfRiyg.png" as="image" type="image/png" />
<!--Above is for fio preloading-->