---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img style="width: 100%; height: 100%;" src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/media">
          Media
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}                                               
@media (prefers-color-scheme: light)
{
    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
}
</style>
<style>

.para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
</style>
<title>NieR Re[in]carnation</title>
<p class="para">Warning: Refinement incoming, The stories are just up right now.</p>
<div class="over">
<div class="Guide">
<div><p class="title"><a href="/stories/reincarnation/characters/s1/rion">
    Rion<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/rion.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/gayle">
    Gayle<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/gayle.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/dimos">
    Dimos<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/dimons.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/akeha">
    Akeha<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/akeha.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/argo">
    Argo<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/argo.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/levania">
    Levania<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/levania.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/063y">
    063y<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/063y.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/f66x">
    F66x<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/f66x.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/lars">
    Lars<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/lars.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/griff">
    Griff<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/griff.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/noelle">
    Noelle<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/noelle.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s1/fio">
    Fio<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/fio.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/saryu">
    Saryu<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/saryu.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/priyet">
    Priyet<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/priyet.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/marie">
    Marie<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/marie.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/yurie">
    Yurie<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/yurie.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/yudil">
    Yudil<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/yudil.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/sarafa">
    Sarafa<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/sarafa.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/hina">
    Hina<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/hina.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s2/yuzuki">
    Yuzuki<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/yuzuki.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/s3/10h">
    10H<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/10H.avif"></a></p></div>
<div><p class=title><a href="/stories/reincarnation/characters/crossovers">
    Crossovers<img class="art" src="https://ik.imagekit.io/closesttopurple/avif/crossovers.avif"></a></p></div>
</div>
</div>

<div class="over-text"><p class="menu" id="backButton"><a href="/stories/reincarnation/stories">Back</a></p></div>

<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/his-body-rust.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/record-bridge-of-supplication.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/record-seat-of-shadow.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/record-the-cage-of-rebirth.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/character-story.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/frozen-heart.avif" as="image" type="image/avif" />
<!--Above is for rion preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/gayle/what-was-lost-thumb.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/gayle/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/gayle/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/gayle/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/gayle/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/gayle/character-story-thumb.avif" as="image" type="image/avif" />
<!--Above is for gayle preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/dimos/character-story.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/dimos/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/dimos/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/dimos/determined-hearts.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/dimos/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/dimos/hidden-stories.avif" as="image" type="image/avif" />
<!--Above is for dimos preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/akeha/this-violent-fleeting-world.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/akeha/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/akeha/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/akeha/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/akeha/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/akeha/character-story.avif " as="image" type="image/avif" />
<!--Above is for akeha preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/argo/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/argo/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/argo/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/argo/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/argo/character-story.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/argo/the-distant-peak.avif" as="image" type="image/avif" />
<!--Above is for argo preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/levania/character-story.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/levania/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/levania/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/levania/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/levania/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/levania/redemption-black.avif" as="image" type="image/avif" />
<!--Above is for levania preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/063y/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/063y/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/063y/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/063y/hidden-story.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/063y/priSOner.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/063y/character-story.avif" as="image" type="image/avif" />
<!--Above is for 063y preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/f66x/character-story.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/f66x/liberator.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/f66x/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/f66x/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/f66x/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/f66x/costumes.avif" as="image" type="image/avif" />
<!--Above is for f66x preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/lars/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/lars/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/lars/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/lars/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/lars/charactger-story.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/lars/a-cold-and-hollow-silence.avif" as="image" type="image/avif" />
<!--Above is for lars preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/griff/the-reluctant-hero.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/griff/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/griff/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/griff/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/griff/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/griff/character-story.avif" as="image" type="image/avif" />
<!--Above is for griff preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/noelle/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/noelle/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/noelle/echoes-in-the-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/noelle/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/noelle/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/noelle/character-story.avif" as="image" type="image/avif" />
<!--Above is for noelle preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/fio/redemption-white.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/fio/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/fio/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/fio/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/fio/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/fio/character-story.avif" as="image" type="image/avif" />
<!--Above is for fio preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/saryu/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/saryu/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/saryu/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/saryu/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/saryu/character-story.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/saryu/binding-magick.avif" as="image" type="image/avif" />

<!--Above is for saryu preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/priyet/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/priyet/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/priyet/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/priyet/curse-of-the-rift.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/priyet/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/priyet/character-story.avif" as="image" type="image/avif" />

<!--Above is for priyet preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/marie/one-vow.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/marie/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/marie/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/marie/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/marie/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/marie/character-story.avif" as="image" type="image/avif" />

<!--Above is for marie preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yurie/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yurie/character-story.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yurie/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yurie/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yurie/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yurie/proof-of-zero.avif" as="image" type="image/avif" />

<!--Above is for yurie preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yudil/one-thousand-moons.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yudil/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yudil/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yudil/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yudil/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yudil/character-story.avif" as="image" type="image/avif" />

<!--Above is for yudil preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/sarafa/one-sun.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/sarafa/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/sarafa/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/sarafa/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/sarafa/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/sarafa/character-story.avif" as="image" type="image/avif" />

<!--Above is for sarafa preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/hina/hina.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/hina/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/hina/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/hina/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/hina/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/hina/character-story.avif" as="image" type="image/avif" />

<!--Above is for hina preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yuzuki/yuzuki.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yuzuki/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yuzuki/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yuzuki/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yuzuki/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/yuzuki/character-story.avif" as="image" type="image/avif" />

<!--Above is for yuzuki preloading-->
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/10h/hidden-stories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/10h/frozen-heart.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/10h/dark-memory.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/10h/costumes.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/10h/cherished-memories.avif" as="image" type="image/avif" />
<link rel="preload" href="https://ik.imagekit.io/closesttopurple/avif/650px/rein/10h/character-story.avif" as="image" type="image/avif" />

<!--Above is for 10H preloading-->
