---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>NieR Re[in]carnation</title>

<h1><a href="/stories/reincarnation/characters/s1/rion">
    Rion<img class="art" src="https://i.imgur.com/LFQz2pP.png"></a></h1>
<p class="line"></p>   
<h1><a href="/stories/reincarnation/characters/s1/gayle">
    Gayle<img class="art" src="https://i.imgur.com/RK4kzXN.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s1/dimos">
    Dimos<img class="art" src="https://i.imgur.com/BaWdu1d.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s1/akeha">
    Akeha<img class="art" src="https://i.imgur.com/kQOEC5W.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s1/argo">
    Argo<img class="art" src="https://i.imgur.com/vdoXmL1.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s1/006levania">
    Levania<img class="art" src="https://i.imgur.com/aQ2FeEz.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s1/007_063y">
    063y<img class="art" src="https://i.imgur.com/qVlW4rz.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s1/008f66x">
    F66x<img class="art" src="https://i.imgur.com/JMWrP3c.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s1/009lars">
    Lars<img class="art" src="https://i.imgur.com/gdWhuOO.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s1/010griff">
    Griff<img class="art" src="https://i.imgur.com/yjJj5EG.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s1/011noelle">
    Noelle<img class="art" src="https://i.imgur.com/ruwsCLf.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s1/012fio">
    Fio<img class="art" src="https://i.imgur.com/HIm8CKd.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s2/001saryu">
    Saryu<img class="art" src="https://i.imgur.com/ysZh3FC.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s2/002priyet">
    Priyet<img class="art" src="https://i.imgur.com/EFSvnyk.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s2/003marie">
    Marie<img class="art" src="https://i.imgur.com/fJQ3RzU.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s2/004yurie">
    Yurie<img class="art" src="https://i.imgur.com/1Kr1VJr.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s2/005yudil">
    Yudil<img class="art" src="https://i.imgur.com/D4hbMld.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s2/006sarafa">
    Sarafa<img class="art" src="https://i.imgur.com/ttOqBI1.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s2/007hina">
    Hina<img class="art" src="https://i.imgur.com/Q4QLGLo.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s2/008yuzuki">
    Yuzuki<img class="art" src="https://i.imgur.com/WFuTTVG.png"></a></h1>
<p class="line"></p>  
<h1><a href="/stories/reincarnation/characters/s3/00110h">
    10H<img class="art" src="https://i.imgur.com/wmwjRVG.png"></a></h1>
<p class="line"></p>  
<p class="menu"><a href="/stories/reincarnation/stories">Back</a></p>
