---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>NieR Re[in]carnation</title>
<style>
    @media screen and (orientation: portrait){
        #sidenav {
            display: none;
        }
    }


    </style>
<div id="sidenav">
    <a href="/ths"><img class="slogo" src="https://i.imgur.com/AJWylNV.png"></a>
    <p class="line"></p>
    <a href="/stories">
        <p class="menu">Stories</p>
    </a>
    <p class="line"></p>
    <a href="/credits">
        <p class="menu">Credits</p>
    </a>
    <p class="line"></p>
    <a href="https://k.closesttopurple.org/post/list/-karis/1">
        <p class="menu">Gallery</p>
    </a>
    </div>
<h1><a href="https://www.youtube.com/playlist?list=PL-LuSjfJbNGT0nRqSD7LHRLFlE8qXBbv_">
    Season 1<img class="art" src="https://i.imgur.com/SJjae5N.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://www.youtube.com/watch?v=oVpKAbnRUBY&list=PL-LuSjfJbNGTFjGxxHWJW1MjbkROx_De7">
    Season 2 Route A<img class="art" src="https://i.imgur.com/ht22PE0.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://www.youtube.com/watch?v=7JWXeO6gll8&list=PL-LuSjfJbNGR9sDQ5kSZRj6KejPIOg9C3">
    Season 2 Route B<img class="art" src="https://i.imgur.com/cKZxSbf.png"></a></h1>
<p class="line"></p>
<h1><a href="https://www.youtube.com/watch?v=hhH2OSaRLAY&list=PL-LuSjfJbNGRndPHWb-VEb8xfV8J7Xig2">
    Season 3<img class="art" src="https://i.imgur.com/cMGmp9q.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://nierrein.com/">
    Interactive Experience<img class="art" src="https://i.imgur.com/y8B0Of3.png"></a></h1>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/stories">Back</a></p>
