---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/ths" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://k.closesttopurple.org/post/list/-karis/1" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>NieR Re[in]carnation</title>

<h1><a href="https://www.youtube.com/playlist?list=PL-LuSjfJbNGT0nRqSD7LHRLFlE8qXBbv_">
    Season 1<img class="art" src="https://i.imgur.com/SJjae5N.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://www.youtube.com/watch?v=oVpKAbnRUBY&list=PL-LuSjfJbNGTFjGxxHWJW1MjbkROx_De7">
    Season 2 Route A<img class="art" src="https://i.imgur.com/ht22PE0.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://www.youtube.com/watch?v=7JWXeO6gll8&list=PL-LuSjfJbNGR9sDQ5kSZRj6KejPIOg9C3">
    Season 2 Route B<img class="art" src="https://i.imgur.com/cKZxSbf.png"></a></h1>
<p class="line"></p>
<h1><a href="https://www.youtube.com/watch?v=hhH2OSaRLAY&list=PL-LuSjfJbNGRndPHWb-VEb8xfV8J7Xig2">
    Season 3<img class="art" src="https://i.imgur.com/cMGmp9q.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://nierrein.com/">
    Interactive Experience<img class="art" src="https://i.imgur.com/y8B0Of3.png"></a></h1>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/stories">Back</a></p>
