---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>Music</title>
<p class="title">Recommended music to listen to while you read.</p>
<p class="line"></p>
<p class="title">YouTube Music</p>
<p class="para"><a href="https://music.youtube.com/playlist?list=OLAK5uy_lJbiLReBRTTxFBDyoebBPPbJDDUhcMYvI&si=CPJRdQuAdWOynync"><u>NieR Re[in]carnation Original Soundtrack</u></a></p>
<p class="para"><a href="https://music.youtube.com/playlist?list=OLAK5uy_lZwTf2oU2TaRKGb_bEwBi_5tbxk6zAXF0&si=zTNSHbfclHGcpPmA"><u>NieR Re[in]carnation Original Soundtrack: The Sun and The Moon</u></a></p>
<p class="para"><a href="https://music.youtube.com/playlist?list=OLAK5uy_k-URRUx3aOqgahuzjfgr82SRHyr80h7Xc&si=AbkFaEhPb6Jcz5Nn"><u>NieR Re[in]carnation Chill Out Arrangement Tracks</u></a></p>
<p class="line"></p>
<p class="title">Spotify</p>
<p class="para"><a href="https://open.spotify.com/album/6ofjs6Fpyb7hPEF4HDu8iS?si=T2B5TIYnT8KIb6UfhY1_FA"><u>NieR Re[in]carnation Original Soundtrack</u></a></p>
<p class="para"><a href="https://open.spotify.com/album/2rgu7Bqtd76OdAFZEgBeOD?si=SbcVBvUlQTOmyZuX7mQ98AA"><u>NieR Re[in]carnation Original Soundtrack: The Sun and The Moon</u></a></p>
<p class="para"><a href="https://open.spotify.com/album/5gBZ0NMJQlQq40GAYwYFF6?si=K61zhrGWTPKcxOcCHvtJYg"><u>NieR Re[in]carnation Chill Out Arrangement Tracks</u></a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation">Back</a></p>