---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>NieR Re[in]carnation</title>

<p class="menu"><a href="/stories/reincarnation/main-story">Main Story</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters">Character Stories (W.I.P.)</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation">Back</a></p>
<link rel="preload" href="https://i.imgur.com/SJjae5N.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ht22PE0.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/cKZxSbf.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/cMGmp9q.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/y8B0Of3.png" as="image" type="image/png" />
<!--Above is for main-story preloading-->
<link rel="preload" href="https://i.imgur.com/LFQz2pP.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/RK4kzXN.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/BaWdu1d.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/kQOEC5W.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/vdoXmL1.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/aQ2FeEz.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/qVlW4rz.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/JMWrP3c.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/gdWhuOO.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/yjJj5EG.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ruwsCLf.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/HIm8CKd.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ysZh3FC.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/EFSvnyk.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/fJQ3RzU.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/1Kr1VJr.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/D4hbMld.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ttOqBI1.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/Q4QLGLo.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/WFuTTVG.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/wmwjRVG.png" as="image" type="image/png" />
<!--Above is for characters preloading-->
<link rel="preload" href="https://i.imgur.com/QwCjTCE.png" as="image" type="image/png" />
