---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img style="width: 100%; height: 100%;" src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/media">
          Media
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(0,0,0,.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(0,0,0,.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}                                               
@media (prefers-color-scheme: light)
{
    body {
  background-color: $bgColor;
  background-size: 6px 6px;
  background-image: linear-gradient(90deg, transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px),
    linear-gradient(transparent, transparent 3px, rgba(213, 213, 213, 0.07) 4px);
  color: $color;
  margin: 0;
  min-height: 100vh;
  box-shadow: inset 0 0 150px rgba($color, .4), inset 0 0 150px rgba($color, .3);
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
}
</style>
<title>NieR Re[in]carnation</title>

<p class="menu"><a href="/stories/reincarnation/main-story">Main Story</a></p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters">Character Stories (W.I.P.)</a></p>
<p class="line"></p>
<p class="menu" id="backButton"><a href="/stories/reincarnation">Back</a></p>
<link rel="preload" href="https://i.imgur.com/SJjae5N.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ht22PE0.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/cKZxSbf.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/cMGmp9q.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/y8B0Of3.png" as="image" type="image/png" />
<!--Above is for main-story preloading-->
<link rel="preload" href="https://i.imgur.com/LFQz2pP.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/RK4kzXN.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/BaWdu1d.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/kQOEC5W.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/vdoXmL1.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/aQ2FeEz.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/qVlW4rz.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/JMWrP3c.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/gdWhuOO.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/yjJj5EG.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ruwsCLf.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/HIm8CKd.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ysZh3FC.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/EFSvnyk.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/fJQ3RzU.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/1Kr1VJr.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/D4hbMld.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/ttOqBI1.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/Q4QLGLo.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/WFuTTVG.png" as="image" type="image/png" />
<link rel="preload" href="https://i.imgur.com/wmwjRVG.png" as="image" type="image/png" />
<!--Above is for characters preloading-->
<link rel="preload" href="https://i.imgur.com/QwCjTCE.png" as="image" type="image/png" />
