---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<title>Weapon Tales</title>
<p class="title">Weapon Tales</p>
<img src="https://i.imgur.com/4Q4WuEK.png" width="60%" height="60%">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Seviryn</a></p>
<p class="para">Sigh, busy, busy, busy, busy.</p>
<p class="para">These are truly busy times. It’s
almost unbearable. As if I’m not busy enough running a weapon shop
with stocking, maintaining, and repairing weapons, now it’s the day
before the grand reopening! There’s just so much to do. Not even
having a clone would help! Sigh, I’m so busy.</p>
<p class="para">Well, hello there. My name’s
Accord. I run the weapons shops. Whom am I speaking to, you ask?
Don’t sweat the small stuff.</p>
<p class="para">In any case, I need to inspect my
inventory, price, and then stock the shop by the end of the day. I
wouldn’t be able to open the shop tomorrow otherwise. I’d be
simple old Accord and not Shopkeeper Accord if I couldn’t open up
shop, you know.</p>
<p class="para">Now then, let’s start by
inspecting my inventory. Let’s take a look at the account...</p>
<p class="para">Oh, all distinguished weapons come
with an “account.” It’s a document with various details like
how the weapon was forged and how it’s been used in the past.
They’re actually quite interesting. Take the account of this sword
with the jagged blade:</p>
<p class="para">“A sword whose jagged blade easily
shreds an enemy’s limbs and armaments. Extended use of the blade
leads to wild vibrations, causing one’s fingers to become numb and
one’s body as pale as wax...</p>
<p class="para">A dark-skinned knight used this
sword to accomplish great feats in battle. Eventually, the
once-jet-black knight’s body turned as white as the clouds above...</p>
<p class="para">Time passed until a great war
erupted. With his country’s honor on the line, the black knight
took the head of the enemy general, sealing his country’s victory.
However, the knight’s body had turned transparent, leaving him
invisible to all.”</p>
<p class="para">My, what a frightful tale. I wonder
if it’s true. I mean, how can one’s body turn invisible? Don’t
you think this tale’s a little too fishy…? Wait... What!? Ah!
It’s gone! It’s gone! My right arm’s invisible! It’s turned
invisible along with the sword! I can’t believe it! The tale was
true, after all! Bah, enough about the story! This sword’s cursed!
I-I-I need to get away from this thing!</p>
<p class="para">Hmph, my apologies. That wasn’t
like me. But this sword is too dangerous to possibly use. Maybe it’ll
be useful if I remove the curse? What should I do? Oh, it’s going
to take time to remove a curse this strong... How many years do you
think it’d take? Oh well, this isn’t the only sword in my
inventory. I’ll just take my time working on it, I guess.</p>
<p class="para">All right, then, on to our next
item.</p>
<p class="para">Well, this weapon has a rather
unique design. It’s strange enough to have a round weapon with a
handle, but this has several spikes on the round blade. How are you
supposed to store this thing, anyway? I have a feeling it’d be a
hassle just to carry it around. You could poke a friend’s eye out
with this. I wouldn’t want to be with someone wildly swinging such
a dangerous piece of equipment. I guess it’s a different story if
you like punishment, though.</p>
<p class="para">Now then, for that account... Huh?
Where’d it go? Oh, here it is.</p>
<p class="para">“Once, there was a girl and two
boys who were friends...”</p>
<p class="para">Hm? Is that some blood I see on the
ring? Having bloodstains on a weapon like this is rather ominous,
don’t you think? It’s a rather discomforting combination. And
blood can cause rust to form. I’ll need to give this a thorough
cleaning before selling it.</p>
<p class="para">Well then, I’ll just have to put
this up for sale at a later date. It wouldn’t be right to sell a
weapon with bloodstains on it, especially for the store’s grand
reopening.</p>
<p class="para">Let’s take a look at the next
item.</p>
<p class="para">Ah, a spear. Spears are the best
looking of all weapons, if I do say so myself. Don’t get me wrong,
it’s not that swords and melee weapons are boring or anything. It’s
just that spears are very flashy. I mean, they’re long and stick
out, don’t they?</p>
<p class="para">Take this spear, for example. Just
look at it. What wonderful craftmanship. It’s a masterpiece. Oh,
and the account is so dramatic too. It says something about there
being a dragon that couldn’t fly or something. Doesn’t that just
stir your imagination?</p>
<p class="para">My, oh my, this is nice. Just
holding it in your hands makes you feel like a warrior and want to
strike something. Like giving out a war cry and lunging at an enemy.
Hiya! Aaah!</p>
<p class="para">Uh-oh... I’ve gone and done it
now. I’ve jammed the spear through the wall. It’s gone in awfully
deep. Hmmm. This is going to be tricky to pull out without damaging
it. Maybe if I try this ... and..! Nnngh! There, got it! But ... oh
my. Oh, no. The spear’s tip is cracked. And the workmanship on it
is extraordinarily fine, so I couldn’t possibly fix it myself even
if I wanted to. I’ll need an expert...</p>
<p class="para">Ugh! I can’t believe I just did
that! I go and punch a hole in the wall and beak a perfectly good
spear, and all at a time like this... I really can’t stand myself
right now. Okay, calm down. Calm down and let’s check out the next
sword...</p>
<p class="para">“The blacksmith has sworn
vengeance against the ogre that has slaughtered his family and...”</p>
<p class="para">Stop! Stop! Stop! I thought I
recognized that handwriting from somewhere. This is the account I
wrote! How embarrassing!</p>
<p class="para">Oh my, the seal seems to be wearing
off. The spirit of that mage will appear if the seal is broken...
This is not good. I’ll need to place a new seal on this before I
put it up for sale. I hope I can seal it properly... This is going to
take time, as well.</p>
<p class="para">Next!</p>
<p class="para">“The captain confirmed the
‘death,’</p>
<p class="para">his senses transformed into the
rain,</p>
<p class="para">his flowing blood from darkness to
light,</p>
<p class="para">the teachings had taken his life,
and in its place, gave birth to a new one.”</p>
<p class="para">... That makes no sense at all! What
was the author thinking? We’re talking about an “Account” here.
Accounts should be written so that anyone can understand.</p>
<p class="para">On top of that, the top of this
spear seems to be bent. You do need to look very closely to see it,
but a defect is a defect. I couldn’t possibly sell this in its
current state. I’ll just send it out for repairs along with that
other spear.</p>
<p class="para">Speaking of awkward accounts, the
one for this broadsword takes the cake! I mean, what kind of account
is “ironironironironiron”? Who the heck wrote this stuff!? I hope
the author repents for this absurdity!</p>
<p class="para">Be that as it may, I probably can’t
put this weapon up for sale either; it is broken, after all. But this
has some charm just the way it is, or maybe it just looks that way?
It’s like a nice decoration, don’t you think? I <i>could</i> put
this up for sale without fixing it... No, no, damaged goods are
damaged goods. Wait a second... If I tried to sell it specifically
based on its ornamental appearance... Oh, what to do? Let’s put
this one off for the time being, shall we?</p>
<p class="para">And this one won’t do either. It’s
rusted. This one’s also no good. That means ... huh?</p>
<p class="para">So this large chef’s knife-looking
sword is the only thing I can put up for sale!? One sword doesn’t
make for much of a weapon shop. Hmmm...</p>
<p class="para">I guess it all depends on
perspective. This might be fine for starters. Weapons generally
aren’t cheap anyway. It might be better to just have one
easy-to-use item for sale rather than several in questionable
condition.</p>
<p class="para">Besides, what’s the point in
having a weapon unless you use it? It’d be sad and a little
depressing as a shopkeeper to have a client buy weapons in bulk only
to store most of them away without use.</p>
<p class="para">Don’t get me wrong—I’m
definitely a fan of making a profit. What merchant isn’t? But in
the grander scheme of things, I’d say what makes me happiest is the
sight of a client fully appreciating the whole of his purchase—using
a weapon with care. Even if it means the purchase is limited to one
item. That might be old-fashioned of me, but that’s just how I see
it.</p>
<p class="para">It’s decided, then. I’ll have a
customer use this sword with care. The repairs on the other weapons
should be done by the time whoever ends up with this thing gets the
hang of it. And by then, I may even get some new items in.</p>
<p class="para">Let’s put this “Sinful Scream”
sword out for display. It has a strange name and unique design, but
that’ll have to do. Next, let’s have some healing items out, too.
Okay, all done.</p>
<p class="para">Look at the time, I need to get
going. I have other matters to attend to besides preparing the shop.
I know it’s strange to be away from the shop while it’s open, but
it can’t be helped. It should be fine if I leave a memo or a sign
out.</p>
<p class="para">Let’s see... “Dear Customers...
Welcome to the weapon shop! Unfortunately, the owner is away...”
This should do. Now I just need to post this by the entrance.</p>
<p class="para">Done. I really should get going.
That person should be coming along at any moment.</p>
<p class="para">Sigh, busy, busy, busy, busy... <font face="Arial, sans-serif">​</font></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/prelude-novellas">Back</a></p>