---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>The Jewel Within My Palm</title>
<p class="title">The Jewel Within My Palm</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</a></p>
<p class="para">“Are you all right, Cent? You’re
not hurt, are you?”</p>
<p class="para">My master, Lady Two, is referring to
the monster we just split in half with a sword. Though I knew what
she was about to say. It’s only natural for a disciple of my
caliber to be of one mind with matters.</p>
<p class="para">“I am completely fine. But, Lady
Two...”</p>
<p class="para">I need her to worry about herself
first and foremost. We had just slain several minotaurs two to three
times her size, after all. In the middle of this desert, no less. We
had slain the minotaurs while battling against the scorching rays of
the sun and the sandstorms to boot. I feel that there is no
battlefield the world over that compares to the ferocity found here.
I’m certain of it.</p>
<p class="para">Yet, Lady Two’s next words are a
bit of a surprise.</p>
<p class="para">“Don’t call me ‘Lady Two’!
You promised you’d call me ‘Two’ when we’re alone!”</p>
<p class="para">Now she’s make a pouty face.
Ummm... I was going to ask if she was all right, but I think this
issue takes precedence. However, seeing her pouty face makes me want
to forget everything and just poke those puffy cheeks with my
fingers. She’s so cute.</p>
<p class="para">“Understood. Well then, Two, are
you hurt?”</p>
<p class="para">Her face instantly changes to a grin
from ear to ear. And, oh, how her puffy cheeks relax! It’s not that
I had forgotten our little promise, you know. I pretended to forget
to see those expressions of hers: her adorable pouty face and that
wide grin that surpasses even her pouty face. I’m able to see her
cute expressions twice. I am a brilliant schemer, you see.</p>
<p class="para">Trivia time—there are two reason
to refer to someone using a title, the first being proper etiquette.
We must draw a line between our public and private interactions,
after all. It wouldn’t be prudent for me to refer to her simply as
“Two” in some occasions. That’s why I suggested referring to
her as “Lady Two” why in the presence of others.</p>
<p class="para">As for the other reason? It’s
simple, really. You do so when the person you’re talking to is more
important than you. People naturally refer to an important person
with a title like “Sir” or “Lady.”</p>
<p class="para">Lady Two is vastly more important
than I, the handsome and skilled disciple, Cent. There aren’t many
people I regard as being above me, you know? That is why Lady Two is
so unique. I would still think of her that way even if she weren’t
an Intoner. Yes, that’s right. Our relationship as Intoner and
disciple matters not.</p>
<p class="para">Let’s say my master were another
Intoner. I would merely serve her as a subordinate, nothing more. I
gather it’d be the same regardless if I were serving Lady One, Lady
Three, Lady Four, or Lady Five. It would merely be a job, a task. I
would not spend every second of every day by the side of my master if
it were any other Intoner. I would simply carry out the tasks given
to me and then spend the rest of the day as I pleased. Is there
anything more to ask of a disciple?</p>
<p class="para">Lady Two is not important because
she is an Intoner; she is important because she is Lady Two. That is
why I refer to her as Lady Two at all times, at least in my mind.</p>
<p class="para">However, her face becomes glum
whenever I refer to her as “Lady Two,” you see. Her pouty face is
adorable, indeed, but I hate to see her depressed. That’s why I
occasionally pretend to forget our promise and call her “Lady Two,”
but I don’t get too carried away with the charade.</p>
<p class="para">Now, then... Two, Er... Lady Two?
What should I call her now? Darn it, I really seem to have forgotten
where I was at in our conversation...</p>
<p class="para">“Cent?”</p>
<p class="para">She gazes at me in wonder, her eyes
busily scouring about. From glee, to anger, to surprise—her
expressions constantly change. She may be a better schemer than I! It
is not as though she has a plan or uses the power of her song to
enthrall me so. She captures my heart by merely changing her
expression ever so slightly.</p>
<p class="para">“Come on, Cent. Stop playing
around with my cheeks! Stop it. My cheeks’ll fall off if you poke
them so much.”</p>
<p class="para">“You’re mistaken, my lady. I am
not playing. This is an exercise to maintain your lovely complexion
by stimulating the muscles in your face and improving blood flow.”</p>
<p class="para">“Really…? That’s amaaazing! Do
it some more, please!”</p>
<p class="para">That’s an obvious lie. My
apologies, Lady Two. I couldn’t help myself. Your cheeks are so
cute and soft.</p>
<p class="para">“N-No! No grinning like that!”</p>
<p class="para">The way she prances about in that
flustered manner makes my heart flutter. Everything she says and does
is adorable. It’s no wonder that everyone adores the Lady Intoner.
Everyone in this land wishes to please our beloved Intoner in some
way. However...</p>
<p class="para">“Our soldiers would seem out of
work with how easily you conquer these beasts.”</p>
<p class="para">The majority of our troops wish to
protect Lady Two, and so they volunteered to serve as soldiers,
but...</p>
<p class="para">“Huh? Why, I couldn’t possibly
let everyone handle such a dangerous task! What if someone got hurt?”</p>
<p class="para">I knew you’d say that. You did
slay several minotaurs all by yourself. I did lend a hand, of course.</p>
<p class="para">Whatever the case, all of our troops
combined would pale in comparison to Lady Two’s might. Our troops
must first train and become stronger if they wish to realize their
aspirations of protecting an Intoner.</p>
<p class="para">“But what a surprise. Who would
have thought that minotaurs would nest in a place like this?”</p>
<p class="para">“True. However, there is a
watering hole nearby; so it’s not all that surprising for monsters
to nest here.”</p>
<p class="para">“I guess. Now that I think about
it, we’re close to a path, so it makes sense.”</p>
<p class="para">A caravan from the east came rushing
in dismay after they had spotted the nest. However, they lacked
communication skills, so we weren’t able to decipher what kind of
monster had nested. But the results would have been the same, even
had they been articulate. Lady Two stormed off as soon as she heard
the news of the monster’s nest being found. I’m certain she
couldn’t sit idly by with the thought of someone possibly being
attacked.</p>
<p class="para">“Those minotaurs sure were tough,
weren’t they? Let’s see ... one, two, three, four... There were
seven of them, after all. I guess I got caught up in the fight. I
wasn’t myself since I was so worried you’d get hurt.”</p>
<p class="para">“Do not worry. A scratch here and
there wouldn’t be a problem, if it were while protecting you.”</p>
<p class="para">You have that look as if you want to
say I’m wrong. I know what to say:</p>
<p class="para">“But that would sadden you. As you
can see, I am perfectly fine. Not a scratch.”</p>
<p class="para">It is my duty as a disciple to
protect my Intoner. I would be a failure if I did not fulfill that
duty.</p>
<p class="para">“So, what should we do with
these?”</p>
<p class="para">“You mean the minotaur carcasses?”</p>
<p class="para">“We couldn’t possibly carry
seven of them by ourselves. I could carry two, and then you could
carry one... So we could only carry three back in one trip. Hmmm...
What to do with the rest?”</p>
<p class="para">As you can tell, Lady Two has no
intention of leaving the carcasses behind. Minotaur meat is edible,
after all. It actually tastes similar to buffalo. I’m sure those
who reside in bountiful lands would never dream of eating a monster,
but things are different here. Obviously, there are those who lose
their appetite when it comes to gigas or goblins, but Lady Two
strives to create unique recipes and serve rare foods on occasion to
familiarize everyone with these options.</p>
<p class="para">“You’re right. For starters, why
don’t we move the carcasses back into the nest?”</p>
<p class="para">Unlike sandworms, minotaurs can’t
dwell under the sands of the desert. That’s why they use cracks in
the rocks as dens. That means this location provides some shelter
from the blazing heat.</p>
<p class="para">“Since this is a shaded area, the
meat should keep for about half a day. What about having the troops
transport the meat back home during that time?”</p>
<p class="para">“What a great idea! You really are
a genius, Cent! Okay, let’s get this done quickly!”</p>
<p class="para">One of Lady Two’s strong suits is
her quick take to action once a decision’s been made. And just like
that, Lady Two lifts the minotaurs with ease and throws them back
into the nest. I had to hand it to her.</p>
<p class="para">“Are you tired, my lady?”</p>
<p class="para">“Nope, not at all. Oh, could you
do that thing again?”</p>
<p class="para">“That thing?”</p>
<p class="para">“Remember? You massaged my
shoulders after we played with the kids.”</p>
<p class="para">“As you wish.”</p>
<p class="para">That’s right. I had given her a
massage the other day to relieve the tension in her shoulders after
we had played with the children outside. I don’t think she realized
that her shoulders and arms were as stiff as bricks. To put it
simply, Lady Two’s muscles are more developed than an average
person. It’s no surprise, seeing as how easily she was able to lift
those minotaur carcasses. It’s not uncommon for her to
underestimate her strength and break doors or snap doorknobs. That’s
why she gives the utmost care when playing with the children, to
ensure that they don’t get hurt. She unconsciously tenses up
whenever she handles something fragile. She never relaxes her arms or
shoulders the entire time, so I’m not all that surprised that she
gets tired.</p>
<p class="para">Yet, the thought of spending less
time with the children never crosses Lady Two’s mind. She is always
busy fulfilling her duties as an Intoner, but never lets them become
an impediment. In fact, the busier she gets, the more she wants to
spend time with them so that they don’t feel lonely. That is how
precious those children are to Lady Two. To her, they are family.</p>
<p class="para">Furthermore, Lady Two loses her
appetite worrying if even one child gets a fever or a stomach ache.
Children often suffer such maladies; it’s only natural. I’ve
reminded her on countless occasions that she herself will grow weak
if she doesn’t rest or eat while tending to the children, but she
never seems to listen.</p>
<p class="para">I’m sure Lady Two understands, but
she just can’t seem to stop herself. To her, that’s the only way
to nurse a sick or injured child back to health quickly. Though it is
frustrating to think that the only thing I can do for Lady Two is to
relieve her of her fatigue.</p>
<p class="para">“Good as new! That was perfect.
Thank you, Cent.”</p>
<p class="para">“You’re welcome, my lady.”</p>
<p class="para">“All right! Let’s go home.”</p>
<p class="para">She picks herself up off the ground
with a small leap, like that of a small animal. I sometimes worry
that she’ll just wander off like a wild rabbit or squirrel. Of
course, my fears are unfounded. There is no way she would abandon a
vital country such as this.</p>
<p class="para">“I’m glad we were able to deal
with those monsters before leaving for our trip.”</p>
<p class="para">As you can see, the well-being of
the people is always on her mind.</p>
<p class="para">“It wouldn’t feel right to be
away if those things had settled here in the desert.”</p>
<p class="para">“True. Especially having been
summoned by Lady One, we have no idea of how long our absence will
last.”</p>
<p class="para">“That’s ... true...”</p>
<p class="para">I may have misspoken. She must have
thought of her upcoming battle and the person she must face. That
must be why she seemed depressed. Even if for only a split second.
The upcoming battle will no doubt be a difficult one, even with my
assistance.</p>
<p class="para">Please, do not make such a face.
Sadness does not suit you, my lady.</p>
<p class="para">“Don’t worry. The world Lady One
strives for is one where everyone will live happily. Therefore, the
world is our ally. Defeat is impossible.”</p>
<p class="para">“That’s better. Now that awful
frown is gone.”</p>
<p class="para">“You’re right. Everyone can live
happily if we do our best.”</p>
<p class="para">“Always remember that I will be by
your side. I will protect you at all times, Lady Two.”</p>
<p class="para">“I know. Please stay with me, no
matter what.”</p>
<p class="para">“I swear it.”</p>
<p class="para">She’s finally smiling again. Yes,
that suits you much better than a frown.</p>
<p class="para">“How about taking a little trip
once the battle in the Cathedral City is settled?”</p>
<p class="para">That way, you can always be smiling.</p>
<p class="para">“Really? Oh, but, I don’t know.
I don’t think it’d be right for just the two of us to go on a
trip.”</p>
<p class="para">“Then what about a journey to rid
the world of monsters? It seems we’re close to eradicating monsters
from this country, so why don’t we do the same for the other
countries?”</p>
<p class="para">“That’s a great idea! Then
everyone would be happy!”</p>
<p class="para">Yes, that’s exactly what I wanted
to see—that pure, childlike smile of yours. I want to always see
you smiling like that. I will do anything to keep you smiling,
absolutely anything to protect that wonderful smile.</p>
<p class="para">“But I’m worried about leaving
the little ones alone...”</p>
<p class="para">You’re such a worrywart.
Especially, when it comes to those children. But I guess that’s
what makes you who you are.</p>
<p class="para">“Then what about leaving them in
the care of Lady One? The Cathedral City is the safest place in the
world.”</p>
<p class="para">“You’re right! I didn’t even
think about that!”</p>
<p class="para">“We could have several of our
soldiers accompany them to lessen the burden on Lady One, as well.”</p>
<p class="para">“Yeah! I’ll ask One about it!
I’ll check out the cathedral while I’m there, too.”</p>
<p class="para">What a relief. This should relieve
you of the anxiety you had over your upcoming battle. There shouldn’t
be anything clouding your judgment anymore.</p>
<p class="para">“It’s set, then. We’ll travel
the world and eradicate monsters—wherever they may be hiding. You
mentioned wanting to travel the world, just the two of us.”</p>
<p class="para">“You remembered!?”</p>
<p class="para">“A disciple as smart as I may
forget things that transpired five minutes ago, but I never forget
the words my precious Lady Two speaks.”</p>
<p class="para">There’s no doubt. I’d remember
your smile even if my memory was wiped. I’ll hold onto those
memories no matter what.</p>
<p class="para">“Oooh, you said ‘Lady Two’
again!”</p>
<p class="para">And that adorable pouty face as
well.</p>
<p class="para">“We are in the presence of
others.”</p>
<p class="para">“What?”</p>
<p class="para">I see our soldiers in the distance
behind Lady Two’s shoulders, kicking up sand as they approach. I
told them we’d be fine. I’m with Lady Two, after all. They were
probably worried about her and followed us. I guess it can’t be
helped. I do understand how they feel.</p>
<p class="para">“Perfect timing. Let’s have them
carry the minotaur carcasses back.”</p>
<p class="para">“I see! We can use the meat for
dinner if we carry it back now. Hmmm... What should I make? Would
shish-kebob be good? Or maybe something grand, like a roast?”</p>
<p class="para">My how your expressions change.
Everything about you is wonderful. Truly.</p>
<p class="para">“Lady Two.”</p>
<p class="para">“What is it?”</p>
<p class="para">I just wanted to say your name,
really. I wanted to see you turn around. No, that’s not it.</p>
<p class="para">“Let’s go home. Lend me your
hand.”</p>
<p class="para">I want to hold your hand. I won’t
let go. Ever.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/prelude-novellas">Back</a></p>