---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Everything is For You</title>
<p class="title">Everything is For You</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</a></p>
<p class="para">“Would you sacrifice your life for
me?”</p>
<p class="para">Those were the first words I
received from my master, Lady Four. I remember every detail of that
day. The expressions, the glimmer in her eyes, the way she stared at
me, everything. Yet before Lady Four spoke, she stared at me as if
she were looking at a strange creature. I wager seeing a disciple in
person for the first time perplexed Lady Four greatly.</p>
<p class="para">Of course, I was well aware of my
duties as a disciple. A disciple must constantly accompany his
Intoner and meet her every demand. Disciples must protect their
Intoner at all times and even throw themselves into fire or dive into
the depths of the oceans if their Intoner desires it! ... Into fire.
Fire... Such magnificent, blazing flames... Ungh.</p>
<p class="para">Err... I mean ... that was my
understand of my duties. However, I was at a loss as to how to best
serve Lady Four’s desires at that time. It was our first meeting,
after all.</p>
<p class="para">With all those thoughts floating
through my mind, I did not immediately respond to Lady Four’s
inquiry. But she did not punish me for my hesitation. In fact, she
continued as if she were the one to blame.</p>
<p class="para">“Oh, I’m sorry. That was
inappropriate, wasn’t it? Let me rephrase my question. Could you
sacrifice yourself for an Intoner tasked with protecting the world?
Could you sacrifice yourself for this world? It’s not about me.”</p>
<p class="para">“Of course, my lady. I, Decadus,
shall bear any punishment, any torment, if you so wish it.
Punishment... Such immaculate pain... Ungh.”</p>
<p class="para">“Decadus? Are you all right?”</p>
<p class="para">“Oh, pardon me. It’s nothing.
I’m quite all right, my lady.”</p>
<p class="para">This is but an example of Lady
Four’s gentle nature. She continued:</p>
<p class="para">“I’m sure we can overcome any
obstacle, no matter how difficult, with the two of us. I think that’s
why an Intoner is paired with a disciple.”</p>
<p class="para">Moreover, she is extremely
intelligent and noble. It gives me great pride as a disciple to be
able to serve such a remarkable songstress.</p>
<p class="para">“ ... Oh, but don’t take it the
wrong way. I didn’t mean anything weird with that ‘two of us’
bit. I know there are those who misconstrue everything to mean
something profane. My younger sister is a perfect example. Even if
I...”</p>
<p class="para">“I completely understand, my lady.
I shall serve you in that regard to the best of my abilities, as
well!”</p>
<p class="para">Yes. We disciples are also tasked
with attending to an Intoner’s nightly desires. But am I worthy
enough to serve Lady Four in such matters? I am but a mere pebble,
trash in the presence of her magnificence. Trash only worthy of being
steeped on and kicked about... Kicked? Kicked... Ungh. How amazingly
wonderful!</p>
<p class="para">“Th-That’s not what I meant! Are
you some kind of idiot!? I-I’m not like she is! E-Even if we are
sisters, I’m not some simpleton whose only saving grace is her
overdeveloped bosom! We’re nothing alike! She only thinks with her
skirt! That ... that’s right! It’s what’s on the inside that
counts! I couldn’t care less about physical attraction! Got it!?”</p>
<p class="para">“Yes! My apologies, my lady!”</p>
<p class="para">I bowed before Lady Four and begged
for forgiveness repeatedly. It’s the least I could do, having
caused her such undue stress.</p>
<p class="para">“A thousand apologies, my lady!
Words do not suffice! I, Decadus, shall bear any punishment! Yes, any
punishment whatsoever! You can kick and whip me to death if you so
desire!” Kicking ... and whipping... How exquisite... Uuungh. “Now,
Lady Four, please dole out my punishment! Punish meee!”</p>
<p class="para">“H-Hold on. Raise your face,
Decadus. Look at me. Punishment? That’s a little extreme, don’t
you think?”</p>
<p class="para">“No, my lady! You are mistaken! To
displeasure you, my master, is most unacceptable indiscretion! Now,
be on with it!”</p>
<p class="para">“That’s enough! There will be no
punishment!”</p>
<p class="para">“None!?” No kicking or
whipping!? Postponing my punishment after all this is too much! Hm?
Postponement? Oh! Can this be!? Is that it, Lady Four? Postponement!
This is ... such ... such a delectable game!</p>
<p class="para">“Now, that’s enough. Hey? Are
you listening?!”</p>
<p class="para">Ah, Lady Four. Although this was our
first meeting, you quenched my greatest desires as if we’ve known
each other for ages! Oh, how blessed am I to be allowed to serve such
an amazing Intoner as yourself.</p>
<p class="para">“Would you sacrifice your life for
me?”</p>
<p class="para">Lady Four posed that same question
to me a second time not long after she had been tasked with ruling
over the Land of Mountains. We were to depart shortly on an excursion
to slay some fiends. Although the despotic lords had been overthrown,
the Land of Mountains was still littered with ferocious beasts
roosting in every corner of the realm. The rugged terrain must be
ideal for monsters to nest.</p>
<p class="para">It goes without saying that Lady
Four could not sit idly by and let those fiends torment the people.
She even volunteered to slay the monsters herself. However, the
soldiers were much opposed to this. Their apprehension is well
warranted, for what would we do if our precious Intoner were to be
injured?</p>
<p class="para">“Thank you for your concern. But
I’ll be fine. I have the power of my song and a disciple to protect
me.”</p>
<p class="para">Lady Four turned to face me just as
she had smiled at the soldiers. And then she asked me that question
again.</p>
<p class="para">“Would you sacrifice your life for
me?”</p>
<p class="para">I knew she asked this time in order
to assuage the soldiers’ fears. This was to be expected of my lady,
and I understood all too well.</p>
<p class="para">“But of course! I, Decadus, shall
protect you from all my might! No matter what fiend may cross our
path, I shall be your wall, a shield to protect you... Yes, a shield
... to be slashed and pierced by the sharpest of blades... Nnngh...”</p>
<p class="para">“ ... Decadus?”</p>
<p class="para">For a moment, I thought Lady Four
had frowned. Perhaps I was not clear. Believing that my words had not
been enough to quell the undercurrent of worry concerning my lady’s
well-being, I continued:</p>
<p class="para">“I shall take on any role to
protect you, Lady Four. From a shield to protect you against any
assault, gloves to keep you warm, boots to traverse any terrain, or
even the soles of your boots! There is nothing I would not do!”</p>
<p class="para">“That’s a little extreme...”</p>
<p class="para">It sounded as though Lady Four was
not pleased with the proposition of me becoming the soles of her
boots.</p>
<p class="para">The monsters had frequently been
spotted along a steep and treacherous mountain path, where landslides
and rock falls were common. Suffice it to say, this made our trek an
interesting one. It appears that the old lords gave no consideration
to improving the comfort or safety of their subjects.</p>
<p class="para">“I think we need to have the
soldiers improve the roads in this land. Neither the old nor the
young would be fit enough to navigate this area. Have the soldiers go
on patrols routinely. Oh, but make sure to leave the path leading to
the shrine overrun with vegetation and difficult to traverse. That
should prevent it from receiving any unwelcome guests.”</p>
<p class="para">Lady Four came up with various plans
to improve the Land of Mountains as she observed the terrain while on
our journey to eradicate fiends. The well-being of her subjects is
always on her mind. Lady Four has unparalleled skill as a ruler.</p>
<p class="para">“But you know...”</p>
<p class="para">Lady Four suddenly stopped in her
tracks, shrugged, and continued:</p>
<p class="para">“You really have to hand it to
those old rulers. I mean, the way they could just neglect the land to
this point is unbelievable.”</p>
<p class="para">“Neglect...”</p>
<p class="para">“What is it? Is something wrong,
Decadus?”</p>
<p class="para">“ ... play. Ungh”</p>
<p class="para">“Huh?”</p>
<p class="para">“U-Uh, it’s nothing.”</p>
<p class="para">Lady Four looked perplexed but said
nothing more. Before she had a chance to consider the matter further,
monsters jumped at us and we were quickly thrust into battle.</p>
<p class="para">I protected Lady Four just as I had
sworn to the soldiers. Though in this case, I was able to act as Lady
Four’s sword as well as her shield, as I slew my fair share of the
fiendish hoard.</p>
<p class="para">I have to admit that I am not
skilled with swords. Instead, I excel in hand-to-hand combat,
preferring to use my fists and kicks to dispatch my foes. The benefit
to using one’s body as a weapon in close quarters combat comes down
to the direct feedback received when landing a blow, making it easier
to gauge how much damage you have inflicted, unlike with swords and
spears.</p>
<p class="para">The same can be said of the impact
you feel yourself. A wild sensation ripples from the back of your
hand to your brain with every punch... The intense pain you feel with
every jab or kick, especially against powerful foes... Take pummeling
the rock-hard body of a golem for instance. The pain in my hands is
... is... Aaahhh! Just thinking about it... I... I can’t…!</p>
<p class="para">“You seem to be enjoying yourself,
Decadus.”</p>
<p class="para">“There is no greater pleasure than
to be able to protect you with my life, Lady Four! Yes, even if my
body were to be torn to pieces protecting you... Torn to pieces...
Ungh. It’s absolutely delectable~”</p>
<p class="para">“Really? Weren’t you saying
something about your hands hurting?”</p>
<p class="para">“Wh-What?! My hands? H-How did
you—”</p>
<p class="para">“Try to be quiet when you talk to
yourself, okay?”</p>
<p class="para">Lady Four’s words seemed eerily
cold.</p>
<p class="para">I feel as though Lady Four speaks to
me less than ever since that excursion. Her eyes seem colder now, as
if they’re full of disdain. It’s not that I’m complaining. Oh
no, it’s actually quite the opposite. Those chilly eyes! Her
piercing glares! Piercing... Oh, how they pierce... Ungh. It’s
enthralling. It’s amazing how she can punish me so without laying
so much as a finger on me... What ... what luscious play!</p>
<p class="para">Oh, ahem. Getting back to my point,
I think Lady Four averts her eyes from me. Or could it just be my
imagination?</p>
<p class="para">Never mind. It couldn’t possibly
be a figment of my imagination. Lady Four said it herself when we
first met. It’s what’s on the inside that counts. Therefore, Lady
Four wishes for me to become a disciple capable of understanding her
intuitively, even if we do not clearly exchange words or make eye
contact. I would be a complete failure as a disciple if I were not
able to understand her wishes.</p>
<p class="para">Lady Four acts as though she is
alone even when I accompany her. This is to be expected. Disciples
are essentially an Intoner’s shadow, nothing more.</p>
<p class="para">I must crawl on the ground and be
stepped on ... like a shadow…!? A shadow to be stomped on... Nnngh.
Ah, Lady Four, how is it that you understand my greatest desires so
easily? The joy it brings me to serve such a perfect master such as
yourself. The pleasure can be absolutely frightful!</p>
<p class="para">“Would you sacrifice your life for
me?”</p>
<p class="para">The third time she asked me that
question was just the other day. It was the first time she had
directly addressed me in some time. Words are unnecessary now. My
life is yours, my lady. I exist solely for you.</p>
<p class="para">“But of course! I would endure any
torment, any punishment ... to the death for you! To the <i>death</i>…!
Nnngh.”</p>
<p class="para">“ ... I see”</p>
<p class="para">Lady Four gave a curt reply and
turned her back to me. I thought I heard her say, “Then die.” But
it did not sound like Lady Four’s voice. It was too low to be hers.
And it was the first time I had heard that voice. Maybe I imagined
things. Or maybe I mistook the creaking of the door hinges for a
voice. The door is quite old. I should lubricate the hinges before
Lady Four awakens tomorrow.</p>
<p class="para">I face the door that had made the
sounds and bow.</p>
<p class="para">“Good night, Lady Four. Sweet
dreams...”</p>
<p class="para">Then I sat down in front of the
door, keeping guard. This is where I usually rest.</p>
<p class="para">Not only is this door old and poorly
made, but the soundproofing is also shoddy. How could I put it? You
can hear every sound coming out of the room. It’s especially
noticeable in the middle of the night when it’s absolutely quiet.</p>
<p class="para">I can hear the sheets moving or Lady
Four’s breathing as I sit on my heels in front of this paper-thick
door. A sense of guilt would overcome me whenever I heard Lady Four
talking in her sleep, like when she called out for her sisters.</p>
<p class="para">Some of the soldiers go on with
their insolent gossip about how... “She’s clearly trying to
entice him. She has to be seducing him, right?” They are absolutely
mistaken! That is not the case!</p>
<p class="para">Having me sit in front of such a
flimsy door that could easily be kicked down, one without a lock no
less, is by no means seduction. She simply has me sit outside for a
purpose and with easy access to the room. Furthermore, she has me sit
on my heels on this cold, hard floor. My legs eventually go numb and
I lose all feeling in them on this cold floor... Every once in a
while I hear some moaning and rumbling of the sheets from the room.</p>
<p class="para">Oh, what fantastic ... magnificent
... frustration! Oh, how I love to be frustrated! Such delectable ...
pleasure!</p>
<p class="para">Shortly after I began serving Lady
Four, I would indulge myself in hours of self-pleasure delusions of
her trampling me with the soles of her boots or tearing me apart with
her long, sharp nails. But looking back on those days now, I see how
shallow I was.</p>
<p class="para">Boots? Nails? Such things are
meaningless to Lady Four and me. Lady Four needs no such tools in
order to punish me ... to please me. That’s it! This is what she
must have meant about “overcoming any obstacle with two of us”!
We have formed a mystical bond!</p>
<p class="para">This insatiable urge continues even
though we never caress, never touch one another. No ... no, it is
because we never caress that this feeling continues! My body burns
with the growing excitement, the continued frustration, the
neglect... If only time would stand still, this sensation would
continue for eternity... Oh, just the thought... Aaahhh... I-I
can’t... Aaahhh!</p>
<p class="para">Oh, what ... what magnificent ...
games! What a supreme game! No, that’s not it! This is pleasure!
Sitting here and doing nothing is pleasure incarnate!</p>
<p class="para">Truly, there could be no greater
bliss!</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/prelude-novellas">Back</a></p>