---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>This Ugly World</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<p class="title">This Ugly World</p>
<img src="https://i.imgur.com/qhj0ei5.png" width="60%" height="60%">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</a></p>
<p class="para">I hear the roar of the waves. I
breathe in the pungent, salty air.</p>
<p class="para">They follow you everywhere you go in
the Land of Seas. Except for, thankfully, in your sleep.</p>
<p class="para">My mind is still in a haze as I
realize that morning has come again. I wish it hadn’t. If only
mornings never came, I would never have to deal with the dreadful
days, or the even more dreadful nights.</p>
<p class="para">Though, if mornings never came, then
it would be night all the time. That would be absolutely devastating.
I <i>hate</i> the nights. Because it’s at night when...</p>
<p class="para">Brr. Just thinking about it makes me
shiver like a dog. Oh, shit. I hope she didn’t see me—</p>
<p class="para">“Dito?”</p>
<p class="para">Damn it. That voice. I wish I could
have pretended to sleep a little longer. The ditzy swine is clueless
about everything else, but she just <i>has</i> to notice when I’m
at a disadvantage.</p>
<p class="para">“Mmff... Five? You up already?”</p>
<p class="para">I rub my eyes as if I had just woken
up, even though I have been awake for a while now.</p>
<p class="para">“You can go back to sleep, Dito.”</p>
<p class="para">How I wish I could. Sometimes I wish
I never had to wake up again. Like every night when I’m being
crushed by this giant, greasy meatball.</p>
<p class="para">“Not with the fuss you’re
making.”</p>
<p class="para">Seriously, how much quality sleep
could I get when there’s no telling what she might do to me in my
sleep? But then again, there’s no telling what she might do to me
even when I’m awake.</p>
<p class="para">“Oh. So sorry.”</p>
<p class="para">“No worries.”</p>
<p class="para">I know that you’re never really
sorry. You’re all talk and no walk. All you do is line up pretty
words. All you are is superficial and cosmetics. Like those gaudy
dresses.</p>
<p class="para">“You’re playing with your
dresses again? So early in the morning? You’re such a dork, Five.”</p>
<p class="para">“I have to get up as early as I
can. A day goes by so fast.”</p>
<p class="para">Well, of course you’d run out of
time when you’re changing your clothes four times a day. Why can’t
you just wear the same clothes until nighttime?”</p>
<p class="para">All the glitter in the world isn’t
going to change what you are inside. And what you are inside is
blubber. A pig decorated with ribbons and lace is still a pig.</p>
<p class="para">But she is unfazed.</p>
<p class="para">“Perish the thought! With so many
dresses, how could I wear but one a day?”</p>
<p class="para">The thing is, she has all these
dresses, and not one looks good on her. It’s almost comedic. Or is
it tragic?</p>
<p class="para">“Tell me, Dito: which dress do you
think I should wear?”</p>
<p class="para">“I don’t care. They’re your
damned clothes.”</p>
<p class="para">And none of them flatter you. Don’t
you know they make you look even fatter than you already are? All
those layers of garments only add to your girth.</p>
<p class="para">As for your favorite lacy dress ...
nothing else looks worse on you. You look like a parboiled pork butt
strung up in twine. It’s not just gross-looking. It’s ridiculous.</p>
<p class="para">“You just don’t like dresses
because they’re a hassle to take off of me,” she says, as if
she’s figured something out.</p>
<p class="para"><i>Wrong! You just gross me out!
Don’t touch me!</i></p>
<p class="para">... Is what I think. Of course, I
could never say that to my Intoner. She would not be pleased. Whether
I like it or not, I am her disciple, and I must adhere to my lady’s
wishes.</p>
<p class="para">See, I know what you like. You like
the confused, awkward guy that hems and haws. So I say:</p>
<p class="para">“No, that’s not exactly—”</p>
<p class="para">“You’ve been trying to tell me
that you’d rather I wore nothing at all!”</p>
<p class="para"><i>I would never!</i></p>
<p class="para">“Not really, I just—”</p>
<p class="para">“But I don’t mind doing it fully
clothed, you know.”</p>
<p class="para">“Now, wait a minute!”</p>
<p class="para">Hey I don’t care if you re clothed
or not. I don’t want to do a pig!</p>
<p class="para">“I’ll just get on top. Or should
I stand while you take me from behind?”</p>
<p class="para">“Will you stop, please!?”</p>
<p class="para"><i>I don’t want to take you! Where
you are hardly matters!</i></p>
<p class="para">“There is no need to be shy, you
know.”</p>
<p class="para"><i>I’m not being shy! I’m
honestly refusing you!</i></p>
<p class="para">... Well, a disciple could
definitely not say <i>that</i> to his Intoner. I need to redirect
this conversation.</p>
<p class="para">“This one! You wanted to me to
pick out a dress for you, right? Right!?”</p>
<p class="para">My face feels flushed. I gesticulate
wildly as though I am flummoxed before dramatically pointing at the
dress. I produce a falsetto on purpose.</p>
<p class="para">“I like this one! The shiny
number!”</p>
<p class="para">Just the way you like it, you
pathetic sow.</p>
<p class="para">“Forget the dress, Dito. Lets—”</p>
<p class="para">“Oh, wait, wait! There’s one you
haven’t tried yet. Remember, with the embroidery? The blue, flowery
one?”</p>
<p class="para">I manage to slip myself away from
her. I thought her tentacles would pull me back and pin me down, but
I succeeded in getting away.</p>
<p class="para">Huh. So you <i>also</i> like it when
a guy slips through your arms like a cat? I guess it’s the
so-called thrill of the chase, letting them go on purpose just to
enjoy cornering them later. Sheesh.</p>
<p class="para">I run into the wardrobe and let out
a huge sigh.</p>
<p class="para">I don’t know how the other
disciples do it. Do they have it easier with Intoners who are more
decent? Is it just <i>my</i> Intoner that is intolerably gross,
greedy, and grating on the nerves?</p>
<p class="para">At least the pair living out in the
desert seems happy, even absurdly blissful. They’re like a walking
basket of flowers.</p>
<p class="para">And they make out <i>everywhere</i>.
As far as I know, the role of the disciple has always been to satisfy
the sexual urges of his Intoner. At least I’m sure it’s <i>not</i>
to pretend being lovebirds with her. That moron’s got some nerve,
openly displaying affection with an Intoner of all people. Just
watching him makes me gag from embarrassment.</p>
<p class="para">Then again, he <i>is</i> a moron.
Maybe it can’t be helped.</p>
<p class="para">Still, it seems like such a waste—to
be halfway good-looking, but just not all there in the noggin. I
suppose it’s better than being sharp-witted but butt-ugly. Or is
it? How did that old proverb go? “Heaven blesses not one man
twice”? Whoever came up with that was a clever dude. But maybe <i>he</i>
was ugly.</p>
<p class="para">Never mind all that. I should at
least pretend to be busy looking for that dress. Lest Blubber Bags
comes checking in on me.</p>
<p class="para">I’m not even looking as I throw
around any old dress my hands happen to grab. I make lots of rustling
noise so that she can hear that I’m being a busy bee. But I’m
careful so as not to rip any garments by accident. I pull out another
one. Rinse. Repeat.</p>
<p class="para">She might get suspicious if I keep
making the same noise over and over, so I flip one dress inside out.
A really shiny, garish one with a ton of glittering stuff.</p>
<p class="para">I am about to let out another sigh
from the stupidity of it all, when my eyes catch the inside of this
dress. The garment is dull, with the designs all backwards, and
covered in stitches. This is refreshing. No, this is downright
beautiful.</p>
<p class="para">I guess I’ve always liked turning
things inside out. I wish I could do that with people, too. IfI could
just stick my hand into their mouths and <i>floop</i>! Pull their
insides out! Imagine that. All the membranes and organs exposed in
one flick of the wrist! It would really be neat if I could do this
right after they ate, so I could see all the half-digested food come
oozing out. Ohhh, now, that would be <i>fun</i>.</p>
<p class="para">I think I could like Blubber Bags
just a tiny bit more if I could turn her inside out. Instead of that
snooty little mug of hers, how about we see ribbons of flesh in red,
white, and pink streaks? Yeah. And all the shiny intestines just
flapping about. Wouldn’t that be a sight to see? I wonder what her
moans would sound like with her throat turned inside out.</p>
<p class="para">... Heh, I’m getting aroused just
thinking about it.</p>
<p class="para">But enough daydreaming. I’d better
head back. I can only waste so much time pretending to look for a
frigging dress.</p>
<p class="para">I grab the dress I had just recently
bought from a merchant from the East, and I exit the wardrobe.</p>
<p class="para">My Intoner loves drama. I hold the
folded dress up high above my head. Like a good servant should. What
kind of a sick mind draws pleasure from seeing this?</p>
<p class="para">Sure enough, my lady seems
enormously pleased. It’s too bad that her cackles are so unrefined.</p>
<p class="para">“This is pretty. But that doesn’t
mean the other ones aren’t. What’s a girl to do?”</p>
<p class="para">How the hell should I know? I don’t
even know what to do with myself as I watch a self-absorbed sow
wonder aloud about which dress to wear when none of them look good on
her.</p>
<p class="para">“I wish I had three or four
bodies. Then I could wear them all at once!”</p>
<p class="para">“Three or four bodies? Of YOU? Are
you serious?”</p>
<p class="para">“Of course I am.”</p>
<p class="para">“ ... That would be a nightmare.”</p>
<p class="para">No acting there. I was being my
honest self. Three or four of this woman would be like the end of the
world. I’d rather hang myself by my tongue than face that horror.</p>
<p class="para">“I think it’s a fabulous idea.
Let’s ask One if she knows any spells that can create three bodies
of me.”</p>
<p class="para">Ask <i>One</i>? You mean she of the
inhumanly fast and perceptive mind? I don’t like her. I haven’t
met her many times, but I feel in my gut that she and I could never
get along. Besides, wasn’t she the one who told Blubber Bags to
“rule” the Land of Seas? Thanks to that brilliant idea, my life’s
gone downhill ever since.</p>
<p class="para">“If I had three bodies, I wouldn’t
have to ponder over which dress to wear. Why, I could even eat three
times more.”</p>
<p class="para">“You already eat three times what
you should.”</p>
<p class="para">“What? That’s not true.”</p>
<p class="para">Okay, maybe more like five or six
times what you should. The cooks have to work their tails off every
day to feed you, almost like they would an army.</p>
<p class="para">“Whenever the cooks ask you if you
want meat or fish, you always answer both.”</p>
<p class="para">“But, Dito, that would only be two
times as much, not three.”</p>
<p class="para">“How about if they offered broiled
meat, stewed meat, or steamed meat? You would say all of them.”</p>
<p class="para">“Well, yes, if that’s the way
they phrased the question.”</p>
<p class="para">“What if they asked you if you
wanted broiled fish, steamed fish, or fried fish?”</p>
<p class="para">“All of them, I guess. And now
you’re making me hungry. I wonder if breakfast is ready yet.”</p>
<p class="para">“See? Your appetite is <i>more</i>
than triple the norm, Five.”</p>
<p class="para">A spell to make three bodies? No
thanks. I’d rather have the brainy sister come up with something
that would completely eliminate this woman’s bottomless stomach.</p>
<p class="para">“I can’t wait for springtime.
Then we can go on one of our gourmet trips again.”</p>
<p class="para">Gourmet trips? Yeah, right. That’s
not what I would call them.</p>
<p class="para">“You mean the nasty beasty
feasts?”</p>
<p class="para">“But in Two’s hands, any beast
can turn into a scrumptious meal.”</p>
<p class="para">“Aha! Then you don’t deny them
being beasts?”</p>
<p class="para">You can’t. Trolls, orcs, goblins,
sandworms... That’s not looking for food—that’s hunting for
monsters.</p>
<p class="para">“Oh, there’s no doubt they re
beasts. But only Two can turn goblin brains into a silky pâté.
Sting lizard in aspic, pickled six-eyed catfish... You can’t eat
these things just anywhere.”</p>
<p class="para">Of course not. Who in their right
mind would even think about coming up with so many outlandish
concoctions, much less consider eating them? That’s another thing
about Intoners. It’s not just their logic and sex drive. Their
taste buds are messed up, too.</p>
<p class="para">“They are rare, um, delicacies, I
suppose.”</p>
<p class="para">“Exactly. it’s not every day you
have to risk your life for a meal. I certainly wish I never have to.”</p>
<p class="para">I also wish I didn’t have to be so
roundabout in my expressions. I wish I could just tell off all these
Intoners once and for all: “Enough with the bad eats! You witches
might be able to keep a whole patch of poisonous mushrooms down in
your ungodly stomachs, but I’m not like you!”</p>
<p class="para">My eyes accidentally lock with hers
... and suddenly, my thought process comes to a complete halt. Oh no.</p>
<p class="para">“Um... Five?”</p>
<p class="para">My eyes give Blubber Bags the
up-from-under look like a small animal.</p>
<p class="para">“You’re not having any ...
wicked thoughts, are you, now?”</p>
<p class="para">Not that I have to ask. I know
what’s on your filthy mind.</p>
<p class="para">“Wicked? Heavens, no.”</p>
<p class="para">Yep. I know <i>exactly</i> what you
want. I’s time for <i>that</i> again.</p>
<p class="para">“D-Didn’t you say you were
hungry? H-How about some b-breakfast?”</p>
<p class="para">“Yes. I’ll have some right now.”</p>
<p class="para">“Wait. Please wait, Five—”</p>
<p class="para">How tragic it is to have to play out
this farce. Every. Single. Time.</p>
<p class="para">“No. I can’t wait. Don’t you
know me by now?”</p>
<p class="para">You can bet your fun bags I know
you. In fact, I know that you and your sister Intoners are all
nymphomaniacs. I know that you are cursed to live with insatiable
lust in exchange for the power of song.</p>
<p class="para">Do I feel sorry for you? Not one
bit. Regardless of the circumstances that brought this upon you,
there is no way I can sympathize with a sex maniac who’s in
constant heat night and day.</p>
<p class="para">“Why does this have to happen so
early in the morning?”</p>
<p class="para">Why I even bother saying this, I
have no idea. Sometimes I just want to punch <i>myself</i> in the
mouth.</p>
<p class="para">“It’s because of those sleepy
eyes of yours, Dito.”</p>
<p class="para">“What you’re saying doesn’t
match up with what you’re doing.”</p>
<p class="para">“But don’t you enjoy snoozing in
my bosom?”</p>
<p class="para">Zzz. Whatever.</p>
<p class="para">... Oh, God. Do you <i>have</i> to
lick me everywhere? You’re not even that <i>good</i> at it. It just
makes me feel gross.</p>
<p class="para">The smell of your saliva and bodily
fluids makes me nauseous. I swear it would make me feel so much
better if I could just puke it all out on the spot. But that would
upset my lady something really fierce.</p>
<p class="para">But your annoying voice. You sound
like a hen getting her wings ripped out. Cease with the squawks!</p>
<p class="para">Could there be a method of torture
crueler than this? My body is sticky everywhere, my ears are about to
fall off from the noise, and still, the mighty bags of blubber keep
pounding away on my lap.</p>
<p class="para">I wish that wild-looking old man
would trade places with me. I hear he’s hung like a horse and that
he’d hump anything with a hole. I bet he wouldn’t mind banging
the brains out of Blubber Bags at all. Hmph, in that respect, maybe
he’s the perfect disciple. How about we ask the brainy sister for
some magic to make three or four of him? That would be really useful.</p>
<p class="para">... Dammit, are you still riding me?
Are you trying to pulverize my pelvis or something? Get it over with!
God, I just wanna kill you!</p>
<p class="para">... Not that I ever could. I
actually tried once. With sword in hand, I attempted to strike her
from behind. But the moment she said:</p>
<p class="para">“What are you doing, Dito? Naughty
boy.”</p>
<p class="para">... my sword was on the ground with
a clang. Just that one utterance from her, and I couldn’t even
maintain a grip. It was the moment I leaned the hard way that a
disciple could NEVER cross his Intoner. EVER.</p>
<p class="para">Every time I remember that moment, I
just want to kill myself.</p>
<p class="para">Why did I have to be her disciple?
Why did she have to be my Intoner?</p>
<p class="para">I wish I could have served another
Intoner. Not that I know any of them very well. But none of them can
be worse than Blubber Bags. Just look at the moron in the Land of
Sands, or the wild old man. Why do they get to be so happy? It’s
not fair that I had to get the short end of the stick.</p>
<p class="para">Wait, wasn’t there one more? The
moron, the old man, and... I can’t remember. Oh well.</p>
<p class="para">... Is it over yet? I’ve gotten
tired of counting the spots on the ceiling a long time ago. I don’t
want to have to move on to counting the spots on the walls.</p>
<p class="para">“No, wait... Not yet…!”</p>
<p class="para">Not yet? What difference does it
make when you’re frigid? You could keep humping for hours and it
still wouldn’t feel good for you. Ha! How ironic is it to be a
frigid nymphomaniac? I almost feel sorry for you. Almost.</p>
<p class="para">“Sweet Dito. There’s no need to
make such a face.”</p>
<p class="para">Huh. I wonder what kind of face I’m
making. Whatever my expression, I’m sure you like it.</p>
<p class="para">“Five, you have the appetite of
three people, but the libido of thirty.”</p>
<p class="para">“Why, thank you for the wonderful
compliment.”</p>
<p class="para">“ ... it wasn’t a compliment.”</p>
<p class="para">“Such a good little man. You
deserve a reward. Where do you want it?”</p>
<p class="para">“Sounds more like I’m about to
be punished than rewarded.”</p>
<p class="para">“Oh! So is that what you’re
into?”</p>
<p class="para">No, it’s not, but it doesn’t
matter. If it’s coming from you, it’s torture.</p>
<p class="para">“Why do you have to be so greedy?”</p>
<p class="para">“Greedy? Me?”</p>
<p class="para">You weren’t aware of it until now?
Of course, “greedy” doesn’t even begin to tell half of the
story. And it’s not even just that the Intoners are sexually
insatiable.</p>
<p class="para">The reason you try every smattering
you read and hear, and would try and try for hours on end, is because
you want to believe that it would feel good if you could just get it
right one of these days.</p>
<p class="para">The reason you take one guy after
another to bed is because you hope that it’s going to feel good if
you could just find the right partner.</p>
<p class="para">The reason you keep wanting more
dresses, despite your wardrobe being already packed, is because
you’re well aware that you don’t look good in any of them.</p>
<p class="para">The reason you continue to brainwash
every person around you and enslave them is because you know that
nobody likes you.</p>
<p class="para">You know all this, don’t you?
Well, tough shit! None of that is going to cure your frigidity. None
of that is going to make you look better in any dress. And you’re
never going to find a schmuck who loves you, no matter how far and
wide you search the face of the earth.</p>
<p class="para">Oh, my poor lady Intoner... NOT!</p>
<p class="para">Serves you right, you sorry sack of
swine spit.</p>
<p class="para">... Hey. Was I scowling just now?</p>
<p class="para">I feel in between my eyebrows. Yeah,
they’re furrowed. I feel my cheeks and mouth. Yeah, I’m
grimacing.</p>
<p class="para">Hey! You don’t like it when I
scowl. Why aren’t you saying anything?</p>
<p class="para">“Five? Are you all right?”</p>
<p class="para">“Huh ...”</p>
<p class="para">“This is new. I’ve never seen
you so lost in thought while in bed.”</p>
<p class="para">You surprised me there for a second.
But you’re back. The greedy, domineering, haughty mug is back. And
just like that, I lose control of the muscles in my own face. As
always.</p>
<p class="para">“Well, isn’t that rude? I’ll
have you know I am perfectly capable of having deep thoughts.”</p>
<p class="para">“Did I make you mad?”</p>
<p class="para">“Not at all.”</p>
<p class="para">You’re lying. If you’re really
not mad, why has my voice become so faint, as if I’m trying to
guess your mood? Why has my expression become frightened like a
hunted animal?</p>
<p class="para">You’ve got to be angry with me for
interrupting your train of thought. And you must be enjoying watching
my scared reactions.</p>
<p class="para">A disciple cannot cross his Intoner.
Not one finger is within my realm of control when she is in front of
me. Everything I do and say is exactly to her liking. I am the
perfect servant.</p>
<p class="para">I remember you telling one of your
nicer sisters: “I find him absolutely irresistible. Even the way he
mouths off. Even if he can be mean sometimes.”</p>
<p class="para">Yeah, I bet I’m irresistible. How
could any woman resist a younger male that can be controlled
according to your every little whim? But you can actually tolerate
only so much insolence. So any lip you get beyond the threshold of
your tolerance, you act as though it never happened.</p>
<p class="para">The way you take control to the
point that telling you my true feelings is impossible? Some might
call it extreme opportunism.</p>
<p class="para">Not that you’d care.</p>
<p class="para">“Now, where were we?”</p>
<p class="para">“What? Again!?”</p>
<p class="para">I’m not even really surprised. In
fact, I’m not doing anything out of my own volition. The surprised
voice and face just happen. Just the way you like it.</p>
<p class="para">“I’m only kidding.”</p>
<p class="para">I know. I know all about your lies,
your delusions, your vanities, your fixations. I know about your
uncontrollable desire to dominate. I know the viscous blackness
inside your heart. And if the truth be told, your filthy, rotten core
is one thing I don’t hate about you.</p>
<p class="para">I am your disciple, after all.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/prelude-novellas">Back</a></p>