---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<title>My Favorite Things</title>
<p class="title">My Favorite Things</p>
<img src="https://i.imgur.com/qhj0ei5.png" width="60%" height="60%">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</a></p>
<p class="para">This world is made up of things that
I want, and things that I <i>really</i> want.</p>
<p class="para">... As one of my big sisters, Two,
might put it.</p>
<p class="para">What Two had actually said was,
“This world is made up of things that I like, and things that I
really like.”</p>
<p class="para">That got me thinking about my
version of what this world could be made up of. I don’t have as big
a heart as Two does; I could never claim that the world is full of
things that I like. Honestly, there are too many things that I
dislike. Nasty foods, ugly clothes, boring people...</p>
<p class="para">But just because I don’t like it
doesn’t mean I don’t want it. I mean, what if that food isn’t
tasty because it isn’t being cooked right? One time, Two wrestled
with the stomach of a sandworm to make me an unbelievably delectable
soup. I think she said she had to cure it in salt first before drying
it in the sun, and then spent days stirring the pot as it stewed.
Now, that was far more complicated a process than I would be willing
to go to, but it proves that it’s worth wanting.</p>
<p class="para">You can make ugly clothes
presentable with enough accessories. And boring people can turn out
to be quite useful as servants. You have to make something your own
to determine its true worth. Wouldn’t you agree?</p>
<p class="para">So I don’t think there is anything
in the world that I don’t want. But there are things that I want
just a little bit. And then there are things that I want <i>badly</i>.</p>
<p class="para">What I want the most, of course, are
pretty accessories, clothes, and shoes. I prefer gold over silver in
my accessories. And lots of sparkling jewels! Like a walnut-sized
sapphire brooch studded with tiny aquamarine and diamond pieces. Or
an emerald-encrusted gold work necklace.</p>
<p class="para">I like lace in the clothes that I
wear. I almost passed out one time while trying on a robe made
entirely of lace! I love lace in detachable collars, shawls, even
handkerchiefs.</p>
<p class="para">Apparently, it takes a lot of time
and effort to make lace. Four told me that prices hike up with even
just a little bit of lace around the edges.</p>
<p class="para">“You could feed a poor family for
days with the money you would spend on just one of these frilly
things. Do you still want to keep playing dress-up like a little
girl?”</p>
<p class="para">Four always speaks the truth, as an
older sister should. So I replied:</p>
<p class="para">“You’re right, Four. I don’t
need this dress anymore.”</p>
<p class="para">I was getting tired of that holey
rag anyway.</p>
<p class="para">My favorite right now is the one
with lots of ribbons. Layered bow ties made of fine thin silk, all
over the sleeves and torso! Isn’t it adorable? I think I should
make a decorative belt out of ribbon and squeeze it tight around my
waist to highlight my magnificent bosom. Wouldn’t that be a feast
for the eyes?</p>
<p class="para">I bet this dress covered in ribbons
is expensive, too. How many days could this feed a poor family, I
wonder.</p>
<p class="para">But it’s not as though these poor
people would be able to stuff themselves if I stopped dressing up.
Those issues are unrelated. Besides, I didn’t pay for these dresses
out of my pocket. They just <i>became</i> mine after we offed our
former lord.</p>
<p class="para">It was that lord that extorted money
from people and then squandered it. It wasn’t me.</p>
<p class="para">Anyway, what should I wear today?
The one with the ribbons? I love this dress with the damask folded
in, too. The gold and silver threads really complement the color of
my hair. Or maybe I should wear this one with sable fur around the
hem and cuffs—</p>
<p class="para">“Mmff... Five? You up already?”</p>
<p class="para">Whose voice do I hear from directly
behind me? My disciple’s, of course. So cute. I love him so much.
Poor thing, he sounds groggy.</p>
<p class="para">“You can go back to sleep, Dito.”</p>
<p class="para">Young’uns need lots of sleep.
Especially Dito because he stays up late every night.</p>
<p class="para">“Not with the fuss you’re
making.”</p>
<p class="para">“Oh. So sorry.”</p>
<p class="para">“No worries.”</p>
<p class="para">I love the way he yawns and
stretches loudly. He is so beautiful that I can barely contain
myself. His face is like a doll.</p>
<p class="para">And by doll, I don’t mean like the
toy soldiers that Three makes. I mean normal dolls. Cute girl dolls.</p>
<p class="para">But Dito is so much cuter. Skin as
white as snow, eyes twinkling like the brightest stars. His soft
curls feel so airy through my fingers I could rub my hands over his
head forever. I like Dito the most. Dito is my favorite toy.</p>
<p class="para">“You’re playing with your
dresses again? So early in the morning? You’re such a dork, Five.”</p>
<p class="para">I even like the way he mouths off.
Maybe it’s the element of surprise in hearing such venom being
spouted from such an angelic face. I firmly believe that the key to
every relationship between a man and a woman is unpredictability. I
mean, wouldn’t you rather your lover take on a completely different
persona in bed?</p>
<p class="para">But I digress.</p>
<p class="para">“I have to get up as early as I
can. A day goes by so fast,” I say.</p>
<p class="para">“Well, of course you’d run out
of time when you’re changing clothes four times a day. Why can’t
you just wear the same clothes until nighttime?”</p>
<p class="para">“Perish the thought! With so many
dresses, how could I wear but one a day?”</p>
<p class="para">It’s not as though circumstances
don’t allow me to change because I’m traveling, or because there
is nothing else to wear. To keep the same clothes on when I have so
many is simply unthinkable!</p>
<p class="para">“Tell me, Dito: which dress do you
think I should wear?”</p>
<p class="para">I take the one with the ribbons, the
one with the gold and silver threads, and the one with the fur edges,
and place all three in front of him. But all he does is yawn.</p>
<p class="para">“I don’t care. They’re your
damned clothes.”</p>
<p class="para">The disinterest in his voice sounds
almost convincing. It doesn’t match his cherubic face. What could
be eating at him? Oh, I get it!</p>
<p class="para">“You just don’t like dresses
because they’re a hassle to take off of me.”</p>
<p class="para">“No, that’s not exactly—”</p>
<p class="para">“You’ve been trying to tell me
that you’d rather I wore nothing at all!”</p>
<p class="para">“Not really, I just—”</p>
<p class="para">“But I don’t mind doing it fully
clothed, you know.”</p>
<p class="para">“Now, wait a minute!”</p>
<p class="para">“I’ll just get on top. Or should
I stand while you take me from behind?”</p>
<p class="para">“Will you stop, please!?”</p>
<p class="para">“Are you being coy with me? Or is
that a backward invitation?”</p>
<p class="para">Maybe he really is hesitating. Dito
is my disciple, after all. A disciple is enslaved by his Intoner. He
is forbidden to go against my word. A disciple must perpetually serve
the Intoner, day and night.</p>
<p class="para">“There is no need to be shy, you
know.”</p>
<p class="para">“This one! You wanted me to pick
out a dress for you, right? Right!?”</p>
<p class="para">Oh, Dito. His face is all red. Is he
blushing? So adorable! Makes me want to squeeze him tight and pin him
down on the floor.</p>
<p class="para">“I like this one! The shiny
number!”</p>
<p class="para">“Forget the dress, Dito. Let’s—”</p>
<p class="para">“Oh, wait, wait! There’s one you
haven’t tried yet. Remember, with the embroidery?<br/>
The blue,
flowery one?”</p>
<p class="para">He’s right. There was a rather
unique blue one with flowers stitched in. And I hadn’t tried it on
yet.</p>
<p class="para">“Stay here, Five! I’ll go get
the dress!”</p>
<p class="para">He slips out of my arms like a cat.
But why does have to leap off the bed and dash like one? I’m not
the type of master that gets upset just because you’re slow to
fetch a dress.</p>
<p class="para">I thought I heard a heavy sigh from
the wardrobe, but that couldn’t have been Dito. Like he is an
impeccable disciple to me, I am an impeccable Intoner to Dito.</p>
<p class="para">Dito walks back in, dutifully
carrying the blue dress. I open it up in front of the mirror. A
form-fitting glossy blue garment with finely embroidered flowers. So
exotic. So bold!</p>
<p class="para">Yes, I like this, too! With every
step, my legs show from the deep cuts up the sides. Definitely not to
Four’s liking. She would probably call it tasteless.</p>
<p class="para">“This is pretty. But that doesn’t
mean the other ones aren’t. What’s a girl to do?”</p>
<p class="para">I already had the one with the
ribbons, the one with the damask, and the one with the fur to choose
from. And now this flowery blue dress, too? There is no way I can
choose just one!</p>
<p class="para">“I wish I had three or four
bodies. Then I could wear them all at once!”</p>
<p class="para">“Three or four bodies? Of YOU? Are
you serious?”</p>
<p class="para">“Of course I am.”</p>
<p class="para">“ ... That would be a nightmare.”</p>
<p class="para">Dito looks as though the world is
coming to an end. I wonder what could have crossed his mind.</p>
<p class="para">“I think it’s a fabulous idea.
Let’s ask One if she knows any spells that can create three bodies
of me.”</p>
<p class="para">Big sister One is always holed up in
the vault underneath the church reading difficult books. I wouldn’t
be surprised at all if she knew a spell or two of the sort.</p>
<p class="para">“If I had three bodies, I wouldn’t
have to ponder over which dress to wear. Why, I could even eat three
times more.”</p>
<p class="para">“You already eat three times what
you should.”</p>
<p class="para">“What? That’s not true.”</p>
<p class="para">Sure, I have a hearty appetite. I
don’t like feeling hungry. Hunger makes me feel lonely. That’s
why I eat before I start feeling hungry.</p>
<p class="para">But that doesn’t mean I eat three
times as much as a normal person. Dito has that mischievous grin.
Mmm, I love that look on him.</p>
<p class="para">“Whenever the cooks ask you if you
want meat or fish, you always answer both.”</p>
<p class="para">“But, Dito, that would only be two
times as much, not three.”</p>
<p class="para">Besides, if they ask me to choose
one of two dishes, it has to mean they’re ready either way. They
wouldn’t ask me that way if they weren’t. Which leads me to
think, if they’re both available, why not have both?</p>
<p class="para">“How about if they offered broiled
meat, stewed meat, or steamed meat? You would say all of them.”</p>
<p class="para">“Well, yes, if that’s the way
they phrased the question.”</p>
<p class="para">“What if they asked you if you
wanted broiled fish, steamed fish or fried fish?”</p>
<p class="para">“All of them, I guess. And now
you’re making me hungry. I wonder if breakfast is ready yet.”</p>
<p class="para">“See? Your appetite is <i>more</i>
than triple the norm, Five.”</p>
<p class="para">I really don’t think my appetite
is to blame. It’s the pure fact that there is so much deliciousness
in existence. As much as a gourmet as I am, I couldn’t possibly ask
for something that doesn’t even exist.</p>
<p class="para">But if I <i>do</i> know it exists,
and it’s out of my reach, I would chase it to the edges of the
world.</p>
<p class="para">Oh, I do love going on trips in
search of good eats. It’s far more thrilling than having to go hunt
down some evil man, or to vanquish a monster or some other nasty
thing. I tell Dito:</p>
<p class="para">“I can’t wait for springtime.
Then we can go on one of our gourmet trips again.”</p>
<p class="para">“You mean the nasty beasty
feasts?”</p>
<p class="para">“But in Two’s hands, any beast
can turn into a scrumptious meal.”</p>
<p class="para">“Aha! Then you don’t deny them
being beasts?”</p>
<p class="para">“Oh, there’s no doubt they’re
beasts. But only Two can turn goblin brains into a silky pâté.
Sting lizard in aspic, pickled six-eyed catfish... You can’t eat
these things just anywhere.”</p>
<p class="para">“They are rare, um, delicacies, I
suppose.”</p>
<p class="para">“Exactly.”</p>
<p class="para">“It’s not every day you have to
risk your life for a meal. I certainly wish I never have to.”</p>
<p class="para">Oh, my. Dito. That cocky look. And
the way those shoulders go up when you shrug. Now you’ve done it.
Bad, bad boy.</p>
<p class="para">“Um... Five?”</p>
<p class="para">And <i>that</i> look. The
uncomfortable look. It just makes me want to make him even more
uncomfortable.</p>
<p class="para">“You’re not having any ...
wicked thoughts, are you, now?”</p>
<p class="para">“Wicked? Heavens, no.”</p>
<p class="para">The way he looks up at me with those
frightened pupils. He’s almost like a little bunny. Mmm, and
there’s another fine delicacy. Rabbit meat. Stewed for hours until
it’s so tender it melts in your mouth. Serve it with a sweet sauce
made of fruit.</p>
<p class="para">“D-Didn’t you say you were
hungry? H-How about some b-breakfast?”</p>
<p class="para">“Yes, I’ll have some right now.”</p>
<p class="para">“Wait. Please wait, Five—”</p>
<p class="para">“No. I can’t wait. Don’t you
know me by now?”</p>
<p class="para">He looked like he had more to say,
but what he says doesn’t really matter. Not when I’m <i>on</i>. I
can’t hold it back anymore. My sweet, sweet disciple. My one and
only hunny-bunny. Where should I start eating?</p>
<p class="para">“Why does this have to happen so
early in the morning?”</p>
<p class="para">“It’s because of those sleepy
eyes of yours, Dito.”</p>
<p class="para">“What you’re saying doesn’t
match up with what you’re doing.”</p>
<p class="para">“But don’t you enjoy snoozing in
my bosom?”</p>
<p class="para">Even his moans are lovely. Though
one could mistake them for sighs. They can’t be sighs.</p>
<p class="para">For all the effort and creativity I
put into this, I see no reason to tolerate complaints. I try a great
many things not just for my own pleasure, but for the pleasure of my
partners, too.</p>
<p class="para">I believe one should put in an
honest effort before blaming others for an unsatisfactory experience.
You can read books or talk to people. You name it, I’ve done it.</p>
<p class="para">You can even try different partners.
Luckily for me, I have plenty of partners to choose from. Men and
women, even multiple partners in one night. It could very well be
that there’s nothing wrong with you, but that it’s just a matter
of chemistry.</p>
<p class="para">But chemistry can be tricky. It is
awfully hard to find someone who can truly impress. But I am not
about to give up. Because this can’t be as good as it gets. It has
to be so much better.</p>
<p class="para">And when I learn something really
good, I’m going to share it with Dito. Because he is my precious
disciple.</p>
<p class="para">“No, wait... Not yet…!”</p>
<p class="para">Oops. I guess I got a bit
distracted. I’m sorry, Dito. Don’t sigh like that. It’s okay,
really.</p>
<p class="para">“Sweet Dito. There’s no need to
make such a face.”</p>
<p class="para">We can just have another go at it!
As many times as we want. Right?</p>
<p class="para">“Five, you have the appetite of
three people, but the libido of thirty.”</p>
<p class="para">“Why, thank you for the wonderful
compliment.”</p>
<p class="para">“ ... It wasn’t a compliment.”</p>
<p class="para">“Such a good little man. You
deserve a reward. Where do you want it?”</p>
<p class="para">“Sounds more like I’m about to
be punished than rewarded.”</p>
<p class="para">“Oh! So is that what you’re
into?”</p>
<p class="para">I had no idea. To each his own, as
they say. That explains why he looks so bored sometimes. Why didn’t
he tell me sooner? I don’t mind putting in the effort and
creativity, but I also think it is wiser to avoid wasting time on
detours.</p>
<p class="para">With the world so full of things
that I want, I don’t have a moment to spare. So many beautiful
clothes to try on! So much delicious foods to sample! I don’t want
to even waste time sleeping.</p>
<p class="para">“Why do you have to be so greedy?”
asks Dito.</p>
<p class="para">Greedy? Me?</p>
<p class="para">I don’t think that’s entirely
accurate. I think my desire for things reflects the need to feel how
powerful I am.</p>
<p class="para">In those moments where I finally
wrap my hands around something I have really wanted, the euphoria is
instant and orgasmic. Feelings like superiority and omnipotence rush
out in waves from the deepest parts of my being. <i>Nothing</i> feels
better than having the power to obtain what I desire.</p>
<p class="para">If I didn’t have that power, I
don’t know if I would want anything. How sad would it be to want
something but not be able to get it? Why, I imagine life would be a
miserable waste to pursue something that is impossible to obtain.</p>
<p class="para">But one does wonder... What if there
is such a thing? I can’t even imagine what it might be, but I
supposed there could be something that I could never, ever have.</p>
<p class="para">With my hand on my heart, I begin to
think ... maybe there is. Something I have not noticed until now. I
don’t even know whether I want it or not, but it’s something
devoid of excess or grandeur.</p>
<p class="para">What could it be?</p>
<p class="para">It can’t be food. And it’s
probably not jewelry or clothing. If it were any of those things, I
could easily get my hands on it.</p>
<p class="para">Is it a person? But I have plenty of
servants and handmaids at my beck and call. I even have soldiers who
would risk their lives for me. Men? No shortage there, either. I know
of no man who could resist my advances. Unless he were my own father
or something. Father... Daddy…?</p>
<p class="para">“Five? Are you all right?”</p>
<p class="para">“Huh…?”</p>
<p class="para">Gone. I could almost make it out ...
but it’s gone.</p>
<p class="para">“This is new. I’ve never seen
you so lost in thought while in bed.”</p>
<p class="para">“Well, isn’t that rude? I’ll
have you know I am perfectly capable of having deep thoughts.”</p>
<p class="para">“Did I make you mad?”</p>
<p class="para">“Not at all.”</p>
<p class="para">In fact, maybe he did me a favor by
chasing away <i>that</i> particular silhouette.</p>
<p class="para">There is no way I could remember my
father. He died not long after I was born. To try to recall something
that I have no way of knowing would be an utter waste of time.</p>
<p class="para">So no more losing myself in deep
thoughts. Who cares about what I can’t get? I just want to keep
thinking about all the things that I love. The sapphire brooch, and
the emerald and gold work necklace. The dress with the ribbons, and
the dress with the flowers. The robe and shawl and the detachable
collar with lace.</p>
<p class="para">“Now, where were we?”</p>
<p class="para">And my sweet, sweet disciple.</p>
<p class="para">“What? Again!?”</p>
<p class="para">“I’m only kidding.”</p>
<p class="para">I really am hungry now. Let’s have
breakfast. How about some soft-boiled eggs on toasted bread, with
smoked fish and pickled vegetables? And the dried fruits preserved in
honey. Oh, but I must decide on what to wear before that. Speaking of
which, I think there was a dress with the cuffs as long as drapes.
And where did the red woolen one go?</p>
<p class="para">These are the things that make me
happy! I just need to keep thinking about the things that I want, and
things that I really want. And not think about anything else.</p>
<p class="para">How could anybody be happier?</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/prelude-novellas">Back</a></p>