---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Our Mistake</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<p class="title">Our Mistake</p>
<img src="https://i.imgur.com/dkFAYjZ.png" width="60%" height="60%">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</a></p>
<p class="para">“Rrragh!”</p>
<p class="para">The scream startles me awake, though
I’m still tired and want to keep sleeping. Something hurt.
Something hit my chin really hard. Oh, it’s Zero’s foot.</p>
<p class="para">“Zero? Hey, Zero. What’s the
matter?”</p>
<p class="para">I nudge Zero with my nose.</p>
<p class="para">“Are you okay? Does it hurt?” I
bet she’s hurting a lot if she’s making this much noise while
sleeping. I bet it hurts so much that she can’t lie still. Zero’s
been hurt bad. It must hurt in her dreams, too.</p>
<p class="para">“Zero! Hey, Zero!”</p>
<p class="para">“I’m tired. Shut up.”</p>
<p class="para">“But you were screaming. You were
screaming a lot.”</p>
<p class="para">“Shut it. And stop repeating
yourself.”</p>
<p class="para">She sounds really grumpy. She must
be hurting a lot... She’s not grumpy because she’s tired, is she?</p>
<p class="para">“What’ll make you better? Tell
me.”</p>
<p class="para">I hope to see Zero in pain like
this. My chest tightens up just watching her.</p>
<p class="para">“Come on, Zero, tell me what’d
make you feel better.”</p>
<p class="para">“Huh? I figure eating meat and
sleeping should do the trick.”</p>
<p class="para">“Eating meat will make you
better?”</p>
<p class="para">“Yeah, so shut up and let me
sleep.”</p>
<p class="para">“Okay, you got it.”</p>
<p class="para">I get it. Eating meat will make Zero
all better. I feel great after I eat a lot of meat, so that makes
sense.</p>
<p class="para">“I’m gonna go get tons of meat,
okay? I’m gonna get you lots of meat.”</p>
<p class="para">“All right already... Stop
repeating ... yourself...”</p>
<p class="para">“Um, Zero?”</p>
<p class="para">She doesn’t answer.</p>
<p class="para">“Did you pass out from the pain?
Are you okay? Are you okay?”</p>
<p class="para">She starts snoring. Looks like she
fell asleep.</p>
<p class="para">I leave the cave as quietly as I
can, so I don’t wake Zero up. It’s still the middle of the night,
but it’s surprisingly bright outside because of the moon. There’s
a moon in the sky and one on the water.</p>
<p class="para">I need to find some meat before Zero
wakes up. I want to give her the meat as she wakes up, a nice little
breakfast. I hope I can find some yummy meat. A super-duper-yummy
meat that’ll make Zero all better in a jiff! You know, the type
where a light shines down when you take a bite, or where Zero powers
up.</p>
<p class="para">Okay! I’m gonna look for some
<i>legendary meat!</i> Let’s go!</p>
<p class="para">I took off all excited, but I have
no idea where to go. Where can I find some meat that’ll fix Zero
right up?</p>
<p class="para">I thought for a long time while
looking at the moon on the water. I thought real hard. Meat ... meat
... meat... The water ... meat ... water...</p>
<p class="para">Water? Wow, there’s plenty of fish
near the surface of the water. The moon’s making them look all
shiny and special. I wonder if they’ll make Zero better. Maybe I
should catch some.</p>
<p class="para">Wait, fish won’t do. Zero said she
hates fish. I remember a time when I brought back some fish with blue
scales and Zero didn’t look too happy. I asked her if she didn’t
like them and she said, “I don’t like mackerel...” while
looking away.</p>
<p class="para">She said something about how they
reminded her of something, but what could that be? Did she get sick
from eating them before?</p>
<p class="para">Anyway, fish won’t do. Eating
something you don’t like only makes you feel worse. That means I
need to look somewhere besides the ocean.</p>
<p class="para">I fly away from the ocean. I fly and
fly and fly until my wings feel like they’re gonna fall off. Before
I knew it, it was morning. Then, when I looked below... I was in the
desert.</p>
<p class="para">It looks like I made it to the Land
of Sands without thinking. Sand, sand, sand everywhere you look! I
wonder if the Land of Seas would look like this if all the sand dunes
got bigger and bigger to the point where they fill up the oceans.</p>
<p class="para">The Land of Sands is huge but
there’s no sign of meat anywhere. I could’ve at least found a
crab if this were a sea shore. I flew around and around and only saw
humans, so maybe the animals here all like clams that dig into the
sand or something.</p>
<p class="para">I guess humans are technically meat,
so I can’t really say that I didn’t find any meat. But I don’t
like the idea of seeing Zero eat something that looks like her. I’m
sure Zero wouldn’t like it either...</p>
<p class="para">I’ll just have to fly farther to
find some meat that’s not fish or human. I bet I need to go waaay
out there to find some <i>legendary meat</i>, I’m sure of it. I’m
looking for legendary meat. How could meat be “legendary” if it
were easy to find, anyway?</p>
<p class="para">I fly and fly and fly until I’m
completely tired and look down...</p>
<p class="para">“Ow!”</p>
<p class="para">I flew full force into a boulder.
Head first. I didn’t know I was getting so close. I was looking
down the whole time. I need to keep my eyes forward while flying...</p>
<p class="para">Oh, I must be in the Land of
Mountains, then. Hey, now that I look around, there’s plenty of
meat here! There’re cows, sheep, and goats all over the place! Wow!
Wow! I should’ve come here first.</p>
<p class="para">I’ll just catch a cow... Just you
watch! It’ll be easy to catch a cow with so many around! Hehe. I
caught the biggest cow. I’m amazing, aren’t I?</p>
<p class="para">Now that I think about it, I haven’t
had anything to eat since morning. I’m really hungry ... and I
really like beef!</p>
<p class="para">“Time to eat!”</p>
<p class="para">Wow, this is really good! The meat’s
soft and just melts in your mouth. And it’s not too greasy It’s
so tasty. It’s really tasty. This might be the best beef I’ve
ever had!</p>
<p class="para">“Ah, I ate it...”</p>
<p class="para">I’m not supposed to eat it! I’m
not! I’m supposed to give it to Zero to make her feel better!</p>
<p class="para">“Okay, one more! I won’t eat
this one. I’ll catch the next biggest cow and take it back to Zero.
Yeah, I’m gonna take it back... Huh?”</p>
<p class="para">I was gonna catch the second biggest
cow, but then I realize there are people behind me. I turn around to
see a grandpa and grandma on the verge of tears...</p>
<p class="para">Now I remember! Zero said there are
things called “farms” all over the Land of Mountains. She said
they raise cows since they can’t grow wheat here. Could this be a
“farm”? And could those cows be ... theirs? That has to be it...</p>
<p class="para">“Awww! I’m soooorrryyy! I’m
really sooorrryyy!”</p>
<p class="para">I shouldn’t steal things! Ever!</p>
<p class="para">I fly off to another country to find
some meat; not fish, not human, and definitely not somebody else’s
meat.</p>
<p class="para">Somewhere where there aren’t a lot
of people would be good. That way, I wouldn’t have to worry about
accidentally stealing something. I hate causing problems or troubling
people. Somewhere with very few houses, but not like the Land of
Sands where there’re no animals around...</p>
<p class="para">So, I head to the Land of Forests. I
should be able to find some meat here without stealing. I hear birds
chirping here and there, so I think there’s plenty of animals
nearby. I think I’ll land and take a look around. The trees get in
the way, so I can’t see anything from up here anyway.</p>
<p class="para">But, boy, it’s tough flying around
the Land of Forests. The tree branches get in my way and make
terrible sounds when I break them.</p>
<p class="para">“Hey! Don’t come down without
permission!”</p>
<p class="para">Huh? Was that a voice? Was it saying
I can’t land? Must be my imagination.</p>
<p class="para">“Hey! I’m talking to you, ass
face!”</p>
<p class="para">Oh, he must not be talking to me.
I’m not an ass face, I’m a dragon.</p>
<p class="para">“Can you hear me? You smelly,
stinky, unsightly dragon!”</p>
<p class="para">“What!? There’s another dragon?
Where? Where?”</p>
<p class="para">“I’m talking about you, stupid!”</p>
<p class="para">Something small floats in front of
me. Wait a second! He was talking to me?!</p>
<p class="para">“Hey, that’s not nice! I’m not
unsightly! I’m really not!”</p>
<p class="para">“Hmmm, you have a point. Let me
rephrase that, then. You’re an abhorrent, repulsive, slack-jawed,
dumbass dragon!”</p>
<p class="para">“Ab ... abhor…? Um ... are you
making fun of me? And who are you, anyway?”</p>
<p class="para">“Oh, this is rich! You’re a
dragon and don’t know what a faerie is!? On top of being abhorrent,
repulsive, slack-jawed, and a dumbass, you’re clueless and
ignorant? Why don’t you do us all a favor and just die?”</p>
<p class="para">“You shouldn’t say things like
that. You really shouldn’t.”</p>
<p class="para">“What? Ever heard of ‘once a
fool, always a fool?’ Huh? The only way to cure your stupidity is
for you to die. So hurry up and die already!”</p>
<p class="para">I’m sure of it now; he’s making
fun of me.</p>
<p class="para">“Stop it. He’s right, you know?
You shouldn’t use the word ‘die’ so easily.”</p>
<p class="para">Is that a girl? It’s a girl
faerie.</p>
<p class="para">“And as for you, what are you
doing here?”</p>
<p class="para">What a relief. This faerie seems
nice.</p>
<p class="para">“I’m looking for some legendary
meat.”</p>
<p class="para">“I see. If that’s the case, you
can find some over there.”</p>
<p class="para">I look over to where the faerie is
pointing to, and there’s some round thing near the top of a large
tree. I think it’s about the same size as Zero’s head. Maybe it’s
a little bigger, but it’s definitely different from what I
imagined.</p>
<p class="para">“That’s the legendary meat? It’s
awfully small.”</p>
<p class="para">It’s so small, I don’t think
it’d fill Zero’s tummy up at all. She’d finish it in one bite.</p>
<p class="para">“No matter how small, a legend is
a legend. Now, go on and take it.”</p>
<p class="para">“Oh, really? So a legend’s a
legend, huh?”</p>
<p class="para">“I forgot to mention that the
legendary meat is firmly stuck to the tree. You’ll need to give it
a strong and firm tug to pull it off. Got it?”</p>
<p class="para">“Okay, I got it. Thank you.”</p>
<p class="para">I never knew legendary meat grew on
trees. Huh? I think I hear a buzzing sound. Or am I imagining things?</p>
<p class="para">“Hurry! Hurry! Hurry!”</p>
<p class="para">The faerie nags me on, so I bite on
the legendary meat and pull really—</p>
<p class="para">“Owww!!”</p>
<p class="para">Something’s stinging my mouth!
It’s stinging me!</p>
<p class="para">“He fell for it! I can’t believe
he really fell for it! What a pitiful dragon!”</p>
<p class="para">Something’s buzzing! Ow, ow, ow,
ow!</p>
<p class="para">“So how’s a beehive taste? Does
it taste good? Huh, does it? Hahahahahaha!”</p>
<p class="para">They tricked me! That’s mean!
That’s really mean! At least that’s what I wanted to say, but I
can’t with all these bees in my mouth.</p>
<p class="para">“Oh, poor little dragon. You’re
so dumb and ugly, it’s pitiful. You’re just so disgraceful and
stupid, it’s sad. Hahahahaha!”</p>
<p class="para">Ow, ow, ow, ow! The bees are coming
after me! It wasn’t my fault, I swear! Stop it! Stop it!</p>
<p class="para">I decide to run away.</p>
<p class="para">I ran and ran and ran, and flew and
flew and flew ... until I realized I was back at the ocean. The bees
aren’t after me anymore. Phew, that was a close call.</p>
<p class="para">But why did the faeries do such a
mean thing? How can they be so mean when they’re so small and cute?
They acted like a bunch of big ol’ bullies. No, they can’t be
bullies. Maybe it’s because I broke all those tree branches in the
forest. Maybe they just wanted to teach me a lesson for breaking all
those branches. That’s it. That’s got to be it. There’s no way
they’d do such mean things without a reason.</p>
<p class="para">At any rate, the sky and water are
all red, so that means it’s already sunset.</p>
<p class="para">“I’m sure Zero’s worried about
me, so I should head back.”</p>
<p class="para">I wasn’t able to find the
legendary meat after all that searching. I guess it was just too
tough for me to find on my own. But I wanted Zero to get better
quick. I let out a big sigh and look down. There’s something
splashing in the water. That’s way too big to be a fish ... right?
It has big silvery scales, a long body, and a big tail.</p>
<p class="para">“It’s a sea serpent!”</p>
<p class="para">It’s not a fish, a human, or
someone else’s right!? But, wait a minute. Sea serpents are a type
of sea snake, so it’s a fish? Nah, that’s not right. They’re
snakes of the sea. They’re monsters, not fish!</p>
<p class="para">“I wonder if I can take on a big
one like that.”</p>
<p class="para">Could it be bigger than me? Nah,
that’s impossible. It’s impossible. Aaagh! It’s hissing at me!
It’s hissing!</p>
<p class="para">“I-I’m not scared! Not one bit!”</p>
<p class="para">I am for the sea serpent and let out
some fireballs. I can attack without getting close this way. But
then...</p>
<p class="para">“Hey, no fair!”</p>
<p class="para">The sea serpent dived into the
water. I guess fire won’t work. I’m gonna need to kick it or bite
it. But that means I need to get close enough to touch it. It might
fight back and hit me...</p>
<p class="para">“No... I’m gonna do this for
Zero! It’s for Zero!”</p>
<p class="para">I need to try really hard so Zero
can get better. I’m gonna get some meat for Zero! I take a deep
breath and fly towards the sea serpent.</p>
<p class="para">“Rrragh!”</p>
<p class="para">I kick the sea serpent’s head with
everything I have, causing water to splash. I feel my claws hit
something heavy.</p>
<p class="para">“Take this! And this! And this!”</p>
<p class="para">I kick, and again, and again.</p>
<p class="para">“Ah! It’s wrapping me up! It’s
wrapping me up!”</p>
<p class="para">I was so focused on kicking the sea
serpent that I didn’t notice it wrapping its tail around my belly.</p>
<p class="para">“That hurts! It hurts! Lemme go!
Stop it!”</p>
<p class="para">It’s trying to pull me under with
everything it’s got. I shake my body around trying to fight back.</p>
<p class="para">“Why, you!”</p>
<p class="para">I bite through its scales and my
fangs slowly pierce the sea serpent’s head. I swallowed some sea
water and almost choked, but I didn’t let go.</p>
<p class="para">Zero! Zero! Just you wait! I’m
gonna bring you some meat.</p>
<p class="para">The sea serpent was a lot tougher
than I thought it’d be and it was dark by the time I finally killed
it. It was the middle of the night by the time I got back to our
hideout.</p>
<p class="para">Zero was mad at me for leaving
without saying anything... No, she wanted to get mad at me, but then
she saw the sea serpent I brought back and I guess that didn’t
matter anymore.</p>
<p class="para">“Did you kill this?”</p>
<p class="para">“I sure did! Praise me, Zero!
Praise me a lot!”</p>
<p class="para">Zero opens her eyes wide and stares
at the sea serpent. Uh-huh, it’s amazing, isn’t it? I beat a
monster bigger than me!</p>
<p class="para">“Let’s eat! You’ll get better
in a jiff if you eat lots of meat, right?”</p>
<p class="para">Hm? Did I just hear something
splash?</p>
<p class="para">“Hey ... are you sure this thing
is dead? You <i>did</i> finish it off, didn’t you?”</p>
<p class="para">“Finish it off?”</p>
<p class="para">“I knew it. This thing’s just
been faking it the entire ti—”</p>
<p class="para">Whoa! The sea serpent just knocked
Zero back with its tail! It was dead just a second ago! It was all
limp and stuff!</p>
<p class="para">“Shut up, stupid dragon!”</p>
<p class="para">Ah! The sea serpent’s getting up!
It’s hissing! So it was alive!? I guess that’s obvious now,
but...</p>
<p class="para">“Can’t you see that it’s not
dead, you idiot!?”</p>
<p class="para">“I ... I’m sorry!”</p>
<p class="para">I need to do something. I need to
beat it up again...</p>
<p class="para">“I’m sorry! It’s strong, Zero!
It’s really strong!”</p>
<p class="para">It’s strong even though we’re
not in the water. And it’s using its tail to hit us! Oooh, our
hideout’s gonna fall apart! Ah! The tail hit me again!</p>
<p class="para">“Goddammit! I fucked up. I
should’ve never told you such a bullshit lie that eating meat would
make me feel better!”</p>
<p class="para">“What!? You lied to me!?”</p>
<p class="para">That was mean. I tried real hard to
find the legendary meat for you! I searched all over the desert and
forests even!</p>
<p class="para">“That’s mean! You’re mean,
Zero! You big fat liar!”</p>
<p class="para">“Shut up and fight already!”</p>
<p class="para">“I got it. I got it.”</p>
<p class="para">“You don’t have to say it
twice!”</p>
<p class="para">Owww! Zero kicked me in the chin
again! But ... it looks like Zero’s feeling better, right? I mean,
she’s going wild in here. So the sea serpent really was the
legendary meat, after all.</p>
<p class="para">I felt a slight sense of joy in
between getting kicked by Zero and getting hit by the sea serpent’s
tail.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/prelude-novellas">Back</a></p>