---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>The Joy of...</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<p class="title">The Joy of...</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</a></p>
<p class="para">Octa is the name. Disciple to Lady
Three, Intoner of the woods.</p>
<p class="para">Today, I have accompanied Lady Three
on a long journey from the Land of Forests to the Cathedral City. It
seems there was a rather urgent summons from Lady One, Intoner and
older sister to Lady Three.</p>
<p class="para">In deference to the vaults of
old-world knowledge and skills stored here, this city is where magic
is said to have been born. These vaults are magnificent indeed, with
books from east and west, ancient and recent. Most are, as a matter
of course, written in foreign tongues, but some of them are
decipherable even to one such as I.</p>
<p class="para">Take this one, for instance... By
Diogene Laërtius? Who? <i>Lives and Opinions of Eminent... </i>What?
This looks as ancient as ancient can be. Hmmm... Could this be a
record of some historical freak show? I see that it is about some
people from old times, but what it is trying to tell me about them,
I’m afraid I cannot begin to speculate.</p>
<p class="para">Compared to that, <i>this</i> book,
describing customs from a country in the Orient, is easier to read in
terms of both prose and content.</p>
<p class="para">It says there is apparently a “land
of gold” comprised of islands the Farthest East. There is so much
gold to be found there that even their palaces are golden.
Fascinating! And it is there that they recorded forty-eight
techniques of joy passed down through generations.</p>
<p class="para">... Hm. Only forty-eight? I must say
it is a rather unimpressive number for skills of old from the land of
gold. I imagine some may have been lost in the process of passing
them down, hand to hand, mouth to mouth. Perhaps the original number
was forty-eight <i>thousand</i>.</p>
<p class="para">With all humility, I myself can
demonstrate six hundred sixty techniques in the ways of joy. My
stamina cannot be beaten. Indeed, endurance is my raison d’être.
And I continue to study day and night in the ways of joy; aiming to
add six thousand and six more! A man has no time to rest on his
laurels.</p>
<p class="para">Now, let us take a look at this
book. Some writings on health? No, beauty tips... Ah, yes, this is
for the ladies. Hm... Joy enhances beauty, you say? Oh ho! Another
fascinating topic!</p>
<p class="para">Staying beautiful is, of course, a
matter of great interest to the female species ... though I must say
it seems to be of no interest whatsoever to Lady Three, who is
naturally beautiful. But providing joy to the female species is of
even greater interest to me.</p>
<p class="para">I must give this book a thorough
read. My pyrotechnics have given much heavenly joy to many a lady.
Two seconds flat is my record for leading one lady to a joyous
frenzy. But there are obviously many other attributes to joy than
speed. I must forever be one to strive for a higher and higher apex
in my pursuit of joy.</p>
<p class="para">It is of enormous import, therefore,
to continue learning. And books are the mother of learning. And
learning is the mother of joy. Thus books are the grandmother of joy!
All roads lead to joy, do they not? Ho ho!</p>
<p class="para">Let us move on to the next book.
This looks like some writings on another matter of health. <i>The
Function and Benefits of Woods Bathing!</i> A subject not to be
missed by one who resides in the Land of Forests.</p>
<p class="para">As one might assume from the name,
the Land of Forests is almost entirely covered by dense woods,
providing a peaceful place for any need. One can seek walks in the
woods. One can take naps in the woods. And of course, one can have
joy in the woods! Whatever you may want, you can get in these
almighty woods.</p>
<p class="para">It is always slightly dark even
during the day, and giant trees and low bushes provide an additional
layer of privacy. Enjoy yourself, or enjoy a party of three—whatever
suits your fancy. Or perhaps you would like a bit of nighttime joy
under the moonlight. I can think of no better place for some outdoors
enjoyment.</p>
<p class="para">Well, how could I not have known the
healing properties of being in the woods? To be embraced by nature
for both health and enjoyment? Brilliant!</p>
<p class="para">I must share this with Lady Three.
She has been hard at work making her dolls of late. I do worry that
she may be focusing too hard for her own good and not attending to
her health as she should. Not seeing the woods for the trees, as it
were.</p>
<p class="para">Lady Three has always been able to
concentrate with the kind of intensity that made her completely
forget to eat or sleep. Her hair grows at an unusually fast rate,
and, for a time, it spread across the whole floor of her room when
she neglected to cut it. She had apparently always liked cutting her
own hair, even as a wee toddler, but ever since she discovered her
hobby for doll making, that is where her heart has been. She <i>does</i>
still like those scissors of hers, but she vastly prefers her dolls.
And it is thus that I have recently taken on the responsibility of
trimming Lady Three’s hair myself.</p>
<p class="para">What do we have next? A book on
socializing, it seems. <i>Conversation Skills to Enchant</i>. How to
give a good first impression, even if you’re shy... The weather and
food are safe subjects... Avoid politics and religion... Hmmm, I see.
These are helpful pointers for people who are not good at talking.</p>
<p class="para">The weather is indeed a good topic
no matter who you talk to, and the same can be said about food. But
nothing makes for a livelier conversation than talking about joy. Joy
talk is the lubricant for all social situations.</p>
<p class="para">Granted, it is true that not
everyone is comfortable with the topic, so one must consider the
company. For the most part, however, soldiers love joy talk,
especially as a way to keep themselves awake during night watch duty.
Ho ho ho!</p>
<p class="para">It is not rare for me to accompany
Lady Three to the front lines, for her powers as an Intoner are
needed in the battlefield. But Lady Three usually takes her rest
early in the evening, so I am left with naught to do after dark. On
such nights, I usually engage in giving myself joy, but there are
some nights where I partake in conversing with the soldiers until
dawn breaks.</p>
<p class="para">I remember one night where I
mentioned that I once did the deed with a female faerie. All the
soldiers widened their eyes at once! That in itself was a sight to
see. Oh ho!</p>
<p class="para">“Wait, but... <i>how</i>!?”</p>
<p class="para">“The size difference had to be too
great...”</p>
<p class="para">“Oh, come on! There’s just no
way!”</p>
<p class="para">“Did <i>you</i> shrink? Or did <i>she</i>
stretch?”</p>
<p class="para">Indeed, faerie folk are the size of
my palm, whereas my joy-stick is of cosmic proportions. The soldiers’
queries were understandable.</p>
<p class="para">Only one of them seemed unimpressed,
simply nodding quietly at what I said. When the others questioned him
as to why he wasn’t reacting with surprise, he calmly replied:</p>
<p class="para">“I just assumed the good sir had
stuck the faerie up his own ass.”</p>
<p class="para">That caused everyone’s eyes to
widen once more.</p>
<p class="para">The plausibility of the act
notwithstanding, one must commend the flexibility of this soldier’s
imagination. I rest easy knowing that we are blessed with men of such
intellect to defend the land. One must keep the joy parts rigid, but
the mind flexible!</p>
<p class="para">And I cannot deny my affection for
all manners of holes this whole wide world has to offer. That of the
fair lady faerie was no exception. Putting my joy parts to good use
was only the most sincere and neighborly thing to do. And yet:</p>
<p class="para">“So, Sir Octa... What is the
truth?”</p>
<p class="para">I could not help but be amused at
the looks of intense curiosity I was getting from all the faces
around me. So how did I reply?</p>
<p class="para">“Suppress the self, and even fire
is cool.” I spoke, giving a fine proverb from the Far East that
encapsulated my philosophy. In the pursuit of joy, and with an iron
will, a mere difference in size is no obstacle. In other words...</p>
<p class="para">“’Tis a secret.”</p>
<p class="para">What was done in private shall
remain private. ’Tis the essence of wondrous joy. Ho ho ho.</p>
<p class="para">Perhaps I have blathered too long
with an old story. Let us return to browsing through these books.</p>
<p class="para">And here we have a collection of
historical words of wisdom from all over the world.</p>
<p class="para"><i>Labor amnia vincit.</i></p>
<p class="para">“Labor conquers all,” from a
poet of the distant past. Joy is labor, and joy conquers all. I
wholeheartedly concur.</p>
<p class="para">“The hand is a tool of tools.”</p>
<p class="para">Indeed! Wise words from one of the
wisest philosophers that ever lived. Hands are most useful in the
pursuit of joy. Any and all pyrotechnics are nothing without
masterful use of the hands and fingers!</p>
<p class="para">And here is yet another:</p>
<p class="para">“Heaven makes not one man above or
below another.”</p>
<p class="para">Truer words were never spoken; the
same applies in the matter of holes. Wealth and class matter not with
holes. No hole is above or below another. Well, one is usually in
front or behind another, but that’s another matter altogether...</p>
<p class="para">The point is that discriminating
against holes based on gender, species, or even animate or inanimate,
would be tantamount to deliberately choosing a poorer quality of
life. There is beauty and strength to be beheld in every hole. Let us
cast away or prejudices, and embrace all holes for a life full of
joy! Ho ho.</p>
<p class="para">Now then, maybe we should take a
look at one more book before we go. It is almost time for Lady Three
to wake from her nap. That is, I must wake her up. She might forget
to eat and sleep when she is making her dolls, but when she actually
does fall asleep, she sleeps so soundly that sometimes I fear she may
forget to wake up at all.</p>
<p class="para">It would be nice to find a book that
could stimulate Lady Three’s curiosity. The difference in how
lively she is when she is making her dolls, and when she is not, can
be rather steep to a disturbing degree. I would like for her to have
some other interests, but I have yet to find anything to her
liking...</p>
<p class="para">Hm? Wait... What is <i>this</i> book
about!?</p>
<p class="para">Could this be on the subject of
geography? No ... and it is not about mathematics or philosophy.
Astrology, perhaps? In any case, I just read the most amazing passage
on the topic of the night skies.</p>
<p class="para">It says, far beyond what the eye can
see, there exists an enormous hole that devours any and all things
around it ... that it could easily swallow giant animals, boulders,
mountains, this very land, and even any of the heavenly bodies above
our skies!</p>
<p class="para">I, Octa, have loved many holes in my
life. How could I have missed a hole as magnificent as this!?</p>
<p class="para">This is one hole that I simply must
meet. It would be a duel of sorts—the hole that swallows all,
versus my joy parts that love all holes! I shall go to the ends of
the earth, even beyond the skies, if it means reaching this heavenly
hole someday!</p>
<p class="para">And it shall be that day that I
continue my training. This night, I shall give Lady Three special
joy. No, I shall employ all of my techniques to give her extra joy!</p>
<p class="para">The journey of a thousand joys
starts with one joy. Oh ho!</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/prelude-novellas">Back</a></p>