---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Mirror, Mirror</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>
<p class="title">Mirror, Mirror</p>
<img src="https://i.imgur.com/EkJJDqs.png" width="60%" height="60%">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Seviryn</a></p>
<p class="para" align="center"><i>I
needed to be here.</i></p>
<p class="para" align="center"><i>I
needed to be there.</i></p>
<p class="para" align="center"><i>I
needed to stay.</i></p>
<p class="para" align="center"><i>I
needed to go.</i></p>
<p class="para" align="center"><i>And
I did it all for you, sister.</i></p>
<p align="center" class="para"><br/>
<br/>

</p>
<p align="center" class="para"><i>I
needed to be here.</i></p>
<p class="para">My room in the tower: I could see
stone walls and an iron door. Just one window, way up high. A small
bed. A small chair. I could walk from wall to wall in thirteen steps.
That was my world: the inside of a tower where the colour of the sky
was beyond the eye’s reach.</p>
<p class="para">Only you knew of the place, elder
sister. No one else. No others came to my room, so you were the only
human I had ever spoken with. My conversations were with you and your
dragon, Gabriella. Well, Gabriella talked mostly to you. She said
malicious things and was a little mean to me. But I didn’t hate
her, if only because you loved her.</p>
<p class="para">Sometimes, you and I would climb
onto Gabriella’s back and fly. We were going into battle. This was
back when the world was still in decay, and you had lots of enemies
to defeat. I helped you, although I can’t say how much good I did.</p>
<p class="para">And I needed to get stronger—strong
enough to kill Zero. If you lost to her, I would have to kill her
instead.</p>
<p class="para">“Don’t worry, brother. I know
you can do it.” I know you were trying to reassure me. But you had
missed the whole point: why would I be killing Zero unless she had
killed you first? I hated the thought; the idea that you could die.
Without you, who could come to see me? Without you, who would I have
to talk to? Without you...</p>
<p class="para">And that’s why my expression was
always dour—not because I hated battle, but because I dreaded
having to use some stupid sword made from a dragon’s fang. I prayed
the day for it never came. I wanted to stay in my tiny room forever,
where you would come to me and embrace me sweetly.</p>
<p class="para">That was what I prayed for, but...</p>
<p class="para"><br/>
<br/>

</p>
<p class="para"><i>I needed to be there.</i></p>
<p class="para">The day came anyway. When you
arrived to get me, your expression was terribly grim. I knew at once
what it meant: you and Zero were about to fight to the death.</p>
<p class="para">“Don’t worry. I’ll get it done
just like you told me.” The look on your face! <i>I haven’t even
said a word yet, so how did you know?</i> I just did. That much I
could sense on my own.</p>
<p class="para">I wasn’t as smart as you, so I
struggled with the more difficult things, but I always knew what you
were feeling: whether you were happy or sad or angry; whether you
felt lonely or fulfilled. Just by being close to you, I knew. After
all, we were twins.</p>
<p class="para">So yes, I knew the truth: that
whether you defeated Zero or not, I would never see you again. You
intended to die no matter what. And because I knew, I tried, just
that one time, to stop you. I pouted and begged you through tears not
to go.</p>
<p class="para">“Come on, now. I’m not going to
lose.” I could see I was affecting you a little. That wasn’t my
intention. I just needed you to know that I understood: this was it
and I wasn’t ever going to see you again. <i>It’s all right,
because I get it. All of it. I knew so much more about you than you
realize.</i></p>
<p class="para">And then, Zero killed you. Then I
killed her like you’d told me to, and the last Intoner was wiped
from the earth.</p>
<p class="para">But you never explained to me what
would come next: what I was supposed to do; where I was supposed to
go. And I was so preoccupied with losing you and killing her that I
hadn’t given it any thought myself. I wished I had asked you, but
it was too late. You were dead, and I would never know the answer.</p>
<p class="para">While I stood there, lost, the
Cathedral’s stained glass danced before my eyes. It had been
shattered, but all I saw was shining beauty.</p>
<p class="para">That was it! I would build a church
for you, sister—a new church that praised your name. At the time,
it seemed like such a wonderful idea. I was doing it for you. <i>For
you.</i> I rode the thought right out of the Cathedral and into the
world at large.</p>
<p class="para">But the world was <i>too</i> large,
and, without you, too lonely. It was frightening beyond all measure.
So I ran away. I retreated here, to my room, where it was safe and
comfortable and I didn’t have to do anything at all.</p>
<p class="para"><i>I needed to stay.</i></p>
<p class="para">No one knew about the room. I was
your trump card, and my existence has to be kept secret from
everyone. You probably never told your other sisters about me,
either. The door to my room was invisible from the outside, because
you had made it that way. You put a spell on it so no one would open
it by accident and find their way in. No one had any way of knowing
it was here.</p>
<p class="para">The room has no lock. After all, you
had never intended to imprison me. But I had never stepped outside,
nor did I want to—not until that time you came to get me.</p>
<p class="para">Now you would never come, so the
first I did after returning here was make it so the door could never
be opened again. I wrecked it from the inside, so I could never be
able to leave again.</p>
<p class="para">There was no purpose for me out
there. Nothing at all. I might have made a good helper to you, but I
couldn’t do anything on my own, except kill Zero. I had spent my
days waiting for you to come, reading the books you brought me to
stave off boredom, doing sword practice. Did you really think someone
like me could do out into the world and survive all alone? Is that
what you believed?</p>
<p class="para">So I came back. Here, I didn’t
have to do anything. This was the one place a person like me could
stay...</p>
<p class="para">But no matter how long I waited, you
weren’t going to come visit. I would never see you again. I hated
it. I missed you. <i>I missed you, I missed you, I missed you ... </i>
</p>
<p class="para">Oh, I knew—even if I couldn’t
see you I could look at you. I was made from you. I had the same
figure, the same face. All I had to do was wear your clothes and look
in the mirror. <i>See, I’m your spitting image. It’s like you’re
standing right here.</i></p>
<p class="para"><i>I wish it really was you ... </i>
</p>
<p class="para">“I wish it really was me, too.”</p>
<p class="para">The resemblance was striking. You
were <i>right ... there</i>. If I reached out, I ought to be able to
touch you. But my fingers met with cold glass. All that separated us
was the one border. Why couldn’t I cross it? Why was I even here?</p>
<p class="para">Why was I all alone? Why did you
leave me behind?</p>
<p class="para">No, that’s not right. You never
meant to leave me behind. You had wanted me to go with you.</p>
<p class="para">You needed to kill Zero—and once
you did, you needed to die, too. The Intoners were flowers that would
destroy the world, flowers that had to be eradicated. But the flowers
would try to escape; they didn’t want to be eradicated. That was
where it all went wrong for Zero. You were determined not to repeat
her mistake, so you created a safeguard to ensure the last of you
would die.</p>
<p class="para">I was the safeguard. In this very
room, you made me practice killing Zero. You drew a person’s
outline on the wall and put an X where the heart would be, and I
practiced driving my sword through it. I couldn’t mess up; I had to
stab Zero through the heart in one go. You even made a whole where X
was so my sword would pass through it just like it would a person. I
stabbed swiftly, surely, again and again—exactly like you told me.</p>
<p class="para">But I wasn’t just practicing
taking Zero’s life, was I? I was also practicing killing you. If
you were the one to survive, and the flower had refused to let you
die, you were ready to be that person in the wall. Yet when you told
me to stab, I still did it. It was practice, but I killed you all the
same.</p>
<p class="para">If I had really had to kill you, I
wouldn’t have been able to go on. I would have turned the sword
upon myself right there. The flower’s power wasn’t as strong in
an offshoot like me, so I could have done it. And with me dead, none
under the flower’s influence would remain.</p>
<p class="para">So you see, I know you never
intended for me to be alone. You believed I would follow you. The
reason you never told me what to do after I killed Zero was because
you didn’t think you had to.</p>
<p class="para">I’m the one who betrayed <i>you</i>.
This was all my mistake.</p>
<p class="para">After I killed Zero, I was supposed
to follow you. I had the weapon to do it right there in my hand! Even
though I wasn’t a real Intoner, ordinary swords couldn’t kill me.
I know because I tried as soon as I came back. All I had was an
ordinary sword, because I had left the one I killed Zero with in the
Cathedral. What an idiot I was. The door was ruined because of me and
would never open again. So I couldn’t retrieve the sword, and had
no weapon to end myself with. I would have to stay here forever,
powerless. Here in my room, where it was safe and comfortable and I
didn’t have to do anything at all.</p>
<p class="para"><i>This was my mistake. It’s all
my fault. You should yell at me. Reprimand me, because I’ve been
bad. Step out of the mirror and scold me silly. Why won’t you say
anything? You’re right there. What’s stopping you?</i></p>
<p class="para">But there in the mirror, you didn’t
scold me. You just stared back to me looking as though you might cry.</p>
<p class="para">I knew this face. I remembered it.
You made that face whenever we lay together. I always thought it was
so strange. Why did you look like that? It made me feel good. Did you
not feel good? Why not? We were both doing it, so why were you always
on the verge of tears?</p>
<p class="para"><i>Because it’s wrong, you told
me. Sisters and brothers shouldn’t do this. It’s wrong; I know it
but I just can’t stop.</i> You sounded so hurt and sad when you
said it.</p>
<p class="para">It didn’t make sense to me.
Sisters and brothers weren’t supposed to do it, but other people
could? That seemed so much worse to me.</p>
<p class="para">Even more anguish filled your face,
but then your expression turned frighteningly gentle, and you said,
“You’re right. Don’t ever change.”</p>
<p class="para"><i>You’re making the same exact
face.</i></p>
<p class="para">“Really?”</p>
<p class="para"><i>Yes, really. Just a hint of a
frown. You don’t know you’re doing it?</i></p>
<p class="para">“No.”</p>
<p class="para"><i>Well, that’s because I didn’t
want to tell you.</i></p>
<p class="para">“Why not?” Yes, this was the
look she gave when she was puzzled. She made this face when she asked
you something. I liked it so much I wished no one else could see it.</p>
<p class="para"><i>I know you even better than you
know yourself, sister. You couldn’t see what you looked like when
you smiled, but I could. I saw it all: every expression, every little
tic you didn’t know you had. And not just your face—I know every
corner of your body. I know what to do to you, where to do it, what
face you’ll make. The sounds you’ll make, the way you’ll
pant...</i></p>
<p class="para">“Stop it...” Your eyes wandered.
Flustered, you shook your head and pouted the way I might when I
wanted something. You looked fetching when you did that. <i>Heh heh.
No one else has seen this side of you. Only me. Yes, keep making that
face ... </i>
</p>
<p class="para">So, it turned out I could see you
anytime I wanted. We were twins; it was easy.</p>
<p class="para">“I’ll never leave you.” Yes,
that’s what you promised me. I forget when exactly, but I had been
crying after a bad dream. You wee planning to go somewhere while I
was asleep—you had finished packing and everything. But instead,
you stayed with me all night. You held my hand until dawn. “I’ll
always be right by your side.”</p>
<p class="para"><i>You mean it? You’ll never leave
me again? We can be together?</i></p>
<p class="para">“Yes. Forever and ever.” Of
course we can. No weapon here can kill me. I can’t die, and neither
will you.</p>
<p class="para">This wasn’t a mistake; I hadn’t
died because, by living, I could keep you alive, too. There was
nothing I hated more than the thought of losing you. I didn’t care
who else died—I didn’t care if every last person in the world
died—as long as you were still there for me.</p>
<p class="para"><i>I’m not wrong, am I? Am I being
bad?</i></p>
<p class="para">“No, you’re good.”</p>
<p class="para"><i>Sister, listen. I’ve decided to
build a new church in your name. It’ll be for you and ... yes, for
Gabriella, too. I know how much you loved her.</i></p>
<p class="para">“Don’t forget Gabriel. I always
loved Gabriella, even after she became Gabriel.”</p>
<p class="para"><i>Yes, that’s perfect. I’ll
build a church that worships you and the angel Gabriel.</i></p>
<p class="para">“Tell me all about it.”</p>
<p class="para"><i>All right. Well, the Cathedral
City is a mess because of Zero. So we’ll fix that up. We can start
over from scratch. First, we’ll build our new church, and then we
can gather lots of people... Here, I came up with a symbol that shows
it’s ours. What do you think?</i></p>
<p class="para">“It could work.”</p>
<p class="para"><i>You see? This is your cheek
pressed to mine. We’ve become one. It’s like a mirror has been
placed right in the middle.</i></p>
<p class="para">“From this angle, it looks like a
third eye.”</p>
<p class="para"><i>It does! What I really, really,
really wish was that we could be even closer. I wish the lines
between us would go away so we could melt together and never come
apart again. So we could stop being two people, and be one.</i></p>
<p class="para">But...</p>
<p class="para"><br/>
<br/>

</p>
<p class="para"><i>I needed to go.</i></p>
<p class="para">Someone found the room that no one
was supposed to know about. I had undone the spell you put on the
door when I wrecked it. And a broken door that doesn’t open is hard
for anyone to resist. A door like that had to be smashed down just so
they could see what’s inside. Holes had to be poked in the wall
just so they could get a glimpse.</p>
<p class="para">“Lady One!” a voice cried. “Have
you been here all along?” I didn’t know the people on the other
side of the crumbled wall. They must have been with the church if
they had access to this tower.</p>
<p class="para">“You’re safe...” Everyone
there was crying loudly. So I—</p>
<p class="para"><i>We</i> said this: “I am very
sorry to have worried you, but I’m fine now; my wounds are healed.”</p>
<p class="para">You and I would be together always.
I and you were one. “It’s time,” we said. And then you and I, I
and you, put this place behind us and set out into the world at
large.</p>
<p class="para">“I intend to start a new church.”</p>
<p class="para">“What sort of church, my lady?”</p>
<p class="para">You and I, we, would preside over
it: “The Church of Angels.” <i>It’s a good name, isn’t it?</i>
The kind that would draw countless believers. Our church would give
praise to the Intoners. It would give praise to the angels they
summoned...</p>
<p class="para"><i>And I did it all for you, sister.</i>
<font face="Arial, sans-serif">​</font></p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/prelude-novellas">Back</a></p>