---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Visitors</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<p class="title">Visitors</p>
<img src="https://i.imgur.com/PhydXuW.png" width="60%" height="60%">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</a></p>
<p class="para"><b>1 JANUARY AD 999</b></p>
<p class="para">It was the first day of the New
Year, and joy filled the faces of the people gathered in the
Cathedral City.</p>
<p class="para">By virtue of my uncanny vision, I
knew their smiles were genuine. There was the twinkle in their eyes;
I could see their cheeks draw as laughter formed on their lips... Not
a single brow was furrowed, nor did the corners of any mouths turn up
awkwardly to indicate they were faking it.</p>
<p class="para">The Intoners had defeated the lords
in each of the lands—the Sands, the Forests, the Mountains, and the
Seas; the remnants of those regimes had been wiped from each land and
the masses freed from tyranny. Today, an Intoner returned in triumph,
and the people had been looking forward to it for some time now.</p>
<p class="para">If anyone was feigning a smile, it
was I. The only person there beating back a frown and fighting the
urge to crouch down and cover her ears was the Intoner—me.</p>
<p class="para">For a moment, I wished I had brought
my younger sisters along, but I quickly brushed the thought away. All
five Intoners entering the Cathedral together might have been best
for appearances, but my sisters each had obligations of their own. We
would be less than good rulers if we left vacant the lands we had
only just brought under control.</p>
<p class="para">And I would have to summon my
sisters here soon anyway; I know the appointed time was growing
closer.</p>
<p class="para">I smiled from my horse and waving to
the throng lining the sides of the road. Their cheers grew louder,
and I could tell my horse was uneasy. He wasn’t used to this kind
of commotion. I was not fond of my horse, whose stench was
intolerable, but I understood how he felt. He wasn’t the only one
who had to suffer through the long ride all the way from port to
church. I would have returned here secretly if I could—after dark
and unnoticed. I wanted to be alone; my mind and body were exhausted
from day after day of battle without rest. But that was me being
selfish and nothing more; it was best the great Intoners make a
spectacular return and impress upon the people that peace and order
had been restored to the world.</p>
<p class="para">It didn’t matter that my keen
senses caused their simple cheers to bring me skull-splitting pain
and displeasure.</p>
<p class="para"><b>27 JANUARY</b></p>
<p class="para">I spent all my days after my return
to the Cathedral City holed up in the library. I loved it there. The
thick books packing the shelves shut out sounds and voices alike,
making it quieter than anywhere else. There was no helping the dust
or the fusty odor, but it was significantly more tolerable than the
stink of man or beast.</p>
<p class="para">Sight and hearing were not my only
heightened senses. All five were extraordinary: smell and touch and
taste included. It hadn’t been as pronounced when I was little. If
you went all the way back, my senses used to be only slightly sharper
than other people’s. But as I got older, those senses advanced at
an absurd rate. Noise and odors became a constant irritation; being
touched, even through my clothes, brought me displeasure; no matter
what I ate, I was not able to relish it; excessive visual information
battered my nerves.</p>
<p class="para">But right from birth, the Intoners’
bodies all grew too quickly in their own way; in my case, it was my
senses. What business did I have hoping for a normal life when I
could wield greater power than normal people?</p>
<p class="para">Footsteps broke the silence: one
person was running toward me; a second person followed at a brisk
pace. Before they reached me, however, they jerked to a halt. I
sensed then that they were tiptoeing to avoid making even the
slightest noise.</p>
<p class="para">Eventually, there was a hesitant
knock at the library door. I already knew who it was: someone
cheerful and fully of energy, and yet kind enough to be considerate
of my heightened sense of hearing. Just as I was about to greet Two,
the door made a disagreeable noise and I heard a tiny shriek.</p>
<p class="para">“I’m so sorry. I broke it.”
The oldest of my younger sisters was on the verge of tears when she
emerged from behind the door. The doorknob she had ripped off was
still clenched in her hand.</p>
<p class="para">Just like I had my keen senses, Two
grew in her own prominent way: her muscles. You wouldn’t have known
it by looking at her; if anything, she had a delicate frame. But her
arms and legs were tremendously powerful—strong enough to twist a
brass knob right off the door when she tried to open it like the next
person.</p>
<p class="para">It could have been that she had
gotten stronger. She was always careful with her movements to avoid
injuring those around here, and only broke things after a sudden
burst of brawn, which cost her the ability to control her muscles by
tactile sense. Her growth was erratic; just when you thought it had
leveled out, the next spurt caught you off guard.</p>
<p class="para">Still, Two grew on the inside, which
was more than could be said for my other sisters. Three’s hair grew
several times faster than normal, to the point she had to carry
around scissors for her frequent trims. And poor Four had really
struggled with her endless fingernails. Hair, you can ignore
somewhat, but nails get caught on everything; they chip and they
break. Before long, she had taken to biting them off, which had
apparently been a tough habit to break. Even still, Four’s nails
ate away at her self-esteem; it pained me whenever I saw her
frantically trying to cover her hands.</p>
<p class="para">At the other end of the spectrum was
my youngest sister, Five, who loved to flaunt her overdeveloped
chest. Four would savage Five behind her back, saying that no one her
age ought to have that full a bosom, that it was sick and obscene. In
retrospect, I think it was envy talking—she felt inferior. The fact
that Five was happy with what she had only rankled Four all the
more...</p>
<p class="para">“Oh no! One, what should I do?”
Two’s voice pulled me back into the moment.</p>
<p class="para">“Don’t worry about it. It was
old and already half broken.”</p>
<p class="para">“Really?”</p>
<p class="para">“Yes.” Once I’d told her I
would get someone to fix it, she brightened right up. Two’s face
could be on the verge of tears and instantly turn into a smile. That
simple side of her hadn’t changed one bit since she was little.</p>
<p class="para">“Anyway, it’s so good to see you
again, One! How have you been?” She made it sound as if we’d been
apart for a while, but hardly any time had passed since I had taken
Two and her disciple to put down the nobles’ rebellion. “Wait. I
guess it hasn’t been that long, huh?”</p>
<p class="para">The man standing next to her shook
his head. The way he ran his hand through that raven hair of his
struck me as hopelessly pretentious, but it never seemed to bother
Two. If anything, she liked it. Every Intoner had a disciple—a man
to help and serve her—and this was Two’s.</p>
<p class="para">“Don’t tell me we’re the first
to arrive?” When I informed her they were, Two’s eyes sparkled.
“Yes! Number one!”</p>
<p class="para">“You’re always number one to me,
Lady Two.”</p>
<p class="para">“Oh, Cent, stop it. <i>You’re</i>
number one, and I love you more than anyone else in the whole world!”</p>
<p class="para">Two’s cheeks reddened as she
professed her feelings. It felt embarrassing to watch these
exchanges, which they had kept at year in and year out, but it was
good for an Intoner and her disciple to be bound together by so
fierce a love.</p>
<p class="para">That said, the two of them could
flirt until the end of time if left unchecked, so I decided to step
in early and get the conversation back on track. “And how are
things in your land?”</p>
<p class="para">“Oh. Well, a huge monster—like,
<i>this big</i>—built a nest in the desert and caused all kinds of
trouble, but I got rid of it.” I wanted to know what the nobility
had been doing since we stripped them of their lives of privilege, or
if there was any indication they were up to no good. But Two’s mind
was elsewhere; she wanted to talk about monster attacks and the
harvest this year.</p>
<p class="para">Still, the fact she could stay
interested in crops at all was arguably why the Land of Sands was
doing so well on the whole. The people around her must have been
dedicated; I had heard her soldiers were willing to lay down their
lives for her and that she was loved by the commoners. The greater
part of the Land of Sands’ soil was occupied by deserts and
wastelands. The earth there was poor, and its people struggled to
live. I had chosen Two to rule because I thought she might bring
light to their lives, and it had proven to be a sound judgment.</p>
<p class="para">“Hey, do you mind if I explore the
inside of the Cathedral until the others get here? Can I, can I?”
Before I could even nod, Two had done an about-face. I realized it
had been over half a year since she had lived in the Cathedral City.
She had wanted to explore the place then, too, but never got the
chance; our stay had been chaotic. So I could understand why, after
coming all this way, Two didn’t want to miss out again.</p>
<p class="para">As she left with the same childlike
spring in her step she’d always had, her raven-haired disciple
bowed and followed her out. Again, the library fell quiet, and I got
back to work reading the spines of the books.</p>
<p class="para">I hadn’t just holed up in the
library because it was quiet. I was looking for something. I had
heard the Cathedral library housed tomes from every age and culture.
Perhaps I would find it here: a book that told everything about the
Intoners; a book that could answer my question:</p>
<p class="para">“Why do we exist?”</p>
<p class="para"><b>14 FEBRUARY</b></p>
<p class="para">Four, who ruled the Land of
Mountains, arrived with her disciple Decadus much sooner than I
expected. Hers was the farthest nation from the Cathedral City.</p>
<p class="para">“I asked Three if she wanted to
make the journey together, but she refused to leave until she
finished her dolls.” Four signed deeply. Three’s domain, the Land
of Forests, was the Land of Mountains’ neighbor.</p>
<p class="para">“Nothing new there. Don’t let it
bother you.” It was unlikely that Four had been turned down so much
as ignored outright. Three was the strangest of my sisters. Ever
since she was a child, she had loved dolls, and everything went in
one ear and out the other while she was making them. She even forgot
to eat or sleep. Poor Four must have approached Three just as her
doll-making was reaching its climax. “Anyway...”</p>
<p class="para">“You want the latest.”</p>
<p class="para">“You know me too well, Four.” My
sister beamed with pride and launched into her report on the Land of
Mountains.</p>
<p class="para">“Everything is on track. As you
now, the land is thinly populated. Neither the farms nor the towns
are very large, making it an easy land to rule over. Why lord after
lord wanted to lay waste to it, I’ll never know. It makes you
marvel at their incompetence.” Of course, if the place had been any
different, I wouldn’t have let Four near it. She was smart and
meant well, but she was also poor at dealing with unforeseen
circumstances. They caused her to panic and shut down—or lash out.
In other words, she just wasn’t suited for ruling a vast, populated
nation.</p>
<p class="para">“I’m not worried about the Land
of Mountains. Tell me about the Land of Forests.” There was a
reason Four went through the trouble to approach Three; I asked her
to keep an eye on her neighbor. Even I knew entrusting leadership to
someone as odd as Three was a gamble.</p>
<p class="para">“Well, surprisingly enough, Three
is doing all right. Considering she’s up against those repugnant
faeries and stuck-up elves, maybe I wasn’t giving her enough
credit.” Humans were not the Land of Forests’ only dwellers; if
anything, between the faeries’ abodes and elven retreats, humans
were outnumbered. This was exactly why I decided Three was right for
the job.</p>
<p class="para">The non-human races detested human
intervention. How well you got along with them came right down to how
well you could leave them alone. The Land of Forests’ previous
rulers couldn’t do it; they tried time and again to subjugate the
other races and failed. But Three lacked even a shred of territorial
ambition, and would therefore never repeat their mistakes.</p>
<p class="para">Moreover, the fewer humans Three had
to interact with, the better...</p>
<p class="para">“One?”</p>
<p class="para">“Sorry, it’s nothing. Go ahead.”</p>
<p class="para">“Well, that’s it. So, all is
well with the Land of Mountains and Land of Forests. The nefarious
lords that ruled them are no more, and the people can get back to
living without worrying that every last grain of their newly
harvested crops will be stolen.”</p>
<p class="para">“So that’s the end of being
forced into unpaid labor.” Four nodded. But even though her report
seemed to be finished, she made no move to leave. “Is something
wrong?”</p>
<p class="para">It was plain as day she had
something to get off her chest. “Do you really want us to go
through with this?”</p>
<p class="para">“That’s why I summoned you.”</p>
<p class="para">But Four pressed on, reluctantly.
“We have nothing to gain from this fight.”</p>
<p class="para">“So we should just lie down and
wait to get murdered?”</p>
<p class="para">“No. You’re twisting my words.”</p>
<p class="para">“I’m telling you what your words
mean.”</p>
<p class="para">Four let out a meek sigh and looked
down at the floor; perhaps she was done trying to argue. “You’ve
changed, One.”</p>
<p class="para">“Yes, I have. But not just me.”
Like it or not, we all had. We couldn’t stay children forever. We
had to change; we were Intoners, and change was the only way to keep
our songs’ power in check as it grew mightier with each passing
day. At some point, it hit me that our bodies all had something wrong
with them for a reason.</p>
<p class="para">What <i>was</i> my song’s power? I
understood from my first moments that it was meant to preserve
harmony in the world, but where did I learn it? Who taught it to me?</p>
<p class="para">Four looked like she had more to
say, but she eventually left the library in silence. Her disciple,
Decadus, followed her out quietly. At some point, the two had stopped
looking each other in the eye. Was she unhappy to be stuck with a
timid middle-aged man? Compared to Two, Four was cold to her
disciple. And yet her disciple accepted the treatment without a word
of complaint, aggravating Four all the more.</p>
<p class="para">Once the pair’s footsteps could be
heard no more, I resumed my research. I had been searching for a
record of the Intoners ever since returning to the City, but had yet
to find anything. Nothing about the disciples, either.</p>
<p class="para">Perhaps I had been going about it
wrong. Instead of “Intoners” or “songstresses”, I wondered if
they might appear under a different name. Beings with magic as potent
as ours couldn’t possibly have escaped mention entirely. On top of
that, our songs were invoked through an entirely different method
than so-called spellcasting. Scholars of magic wouldn’t have been
able to resist making note of it.</p>
<p class="para">And yet: nothing. Why not? Had
someone deliberately concealed it? Expunged it? And if so, to what
end?</p>
<p class="para"><b>22 FEBRUARY</b></p>
<p class="para">“I thought we would be the last
ones. Two tells me Three isn’t here,” said Five with a look of
surprise. “Two tells me Three isn’t here.”</p>
<p class="para">I wasn’t surprised. If anyone was
going to arrive late, I knew it would be either Three, because she
lost track of time making her dolls, or Five, because her land was
closest to the Cathedral City and she assumed she had all the time in
the world.</p>
<p class="para">“See? Told you there was no
hurry.” Five’s disciple could have been mistaken for a fragile
young man, but the image was ruined the moment he opened his mouth.
Once, when Four was lashing out, she had denounced him as a “rotten
little shit”. I was more or less inclined to agree. “You don’t
listen to a damn word I say.”</p>
<p class="para">“What? How can you say that?”</p>
<p class="para">“All right. How about last night,
when I said, ‘hey, let’s just go to sleep’, and you kept me up
who <i>knows</i> how long just so you could—”</p>
<p class="para">I cleared my throat to put his
sentence out of its misery. “Let’s keep this brief. Any news from
your land?”</p>
<p class="para">The lord of the Land of Seas had
more power than the others; she and the rabble that flocked to her
were at the center of wealth and power of every kind. So of course
they were going to hate us for taking it all away. Of course, they
themselves had leeched it away from their own people, so it was silly
for <i>them</i> to accuse <i>us</i> of taking anything.</p>
<p class="para">In any case, their land had more
troublemakers than the others by far. I had expected Five to have her
hands full keeping them in line, but my fears were apparently
misplaced. Five giggled and winked. “Don’t you worry. The old
lord’s followers have all entered my service.”</p>
<p class="para">With a wan smile, the disciple next
to her made a quip about all the servicing she needed. Five had never
been able to cope with not getting what she wanted. She was
insatiable. Once she set her mind on something, she just had to have
it. And while her pushiness sometimes invited dark looks from those
around her, she was the perfect ruler for an unruly nation.</p>
<p class="para">“By the way, did you manage to
restore the ports?” I remembered that, despite our best intentions,
we had destroyed several of the Land of Seas’ ports while routing
the last of its dissidents. Even when we exercised the utmost of
care, it was difficult to wield our power without damaging the
surroundings; it had just grown too strong.</p>
<p class="para">“That’s been going smoothly,
too. We’ve even started receiving merchant ships from the eastern
lands.”</p>
<p class="para">“Which gave Five the perfect
excuse to go on a shopping spree. She sold every last one of those
jewels the old lords saved up!” The castle of the previous lord, a
woman, had been full of wardrobes and treasuries. Five was delighted,
and insisted on keeping the abundant dresses and jewelry. But even
though they were the people’s to begin with, I let Five do as she
pleased. As greedy as she was, she quickly grew tired of things. She
obsessed over what she didn’t have and lost interest in it as soon
as she did.</p>
<p class="para">And sure enough, Five had grown
weary of her flamboyant trappings and tossed them aside in order to
get her hands on rare goods from the eastern lands instead. No doubt
she would soon tire of those as well and try to trade them for
something else. The end result: a healthy boost to the Land of Seas’
commerce.</p>
<p class="para">There wasn’t enough arable land
there to support the population, nor was the weather conducive to
farming. And while the ocean could be counted on for resources, it
left much to be desired. But through an exchange of people and
products, the Land of Seas would grow prosperous.</p>
<p class="para">“Not just the jewels—I sold the
dresses, too. They had gotten so tight I couldn’t wear them
anymore! Being a fast grower isn’t all it’s cracked up to be.”</p>
<p class="para">Next to her, her disciple shrugged
dramatically. His malicious smile seemed all wrong for such a sweet
face. “Say that in front of Four and she’ll kill you.”</p>
<p class="para"><i>Says the man who has set Four off
how many times now?</i> I started to ask, then stopped. Something
else was nagging my mind.</p>
<p class="para">Two had clearly gotten stronger. And
while Four wore weapons to cover her hands, I could hear her clipping
her nails day and night, which meant they must be growing the same as
always. Slowly but surely, my senses were getting sharper, too. I
found more and more that sounds and voices felt loud, even from
inside the library. And now Five was saying her clothes had gotten
too tight to wear.</p>
<p class="para">These grotesque physical changes
meant our songs’ power was still continuing to grow. When I had the
body of a child, I longed to be stronger. But now, part of me was
frightening of just how strong I might become.</p>
<p class="para">“All right. We’re done.” I
told them I had research to do and hurriedly walked away. I wasn’t
lying. I wanted to get back to work at once. For all my searching, I
still hadn’t found a single account of Intoners. I was losing my
patience. What if there <i>was</i> no such account? I flipped through
the pages impetuously, wishing it could brush my fears away.</p>
<p class="para"><b>4 MARCH AD 999</b></p>
<p class="para">Three showed up no sooner than the
morning of the day it happened.</p>
<p class="para">I had been stacking dusty tomes
since the crack of dawn, still fuming over the utter lack of progress
with my research. I heard the scissors before anything else. Then I
heard footsteps: one person walking erratically, another at a regular
rhythm. It was Three and her disciple.</p>
<p class="para">“I walk on two legs in the
morning, twelve legs at noon, and one leg in the evening...” The
door opened suggestively. “What <i>am</i> I?”</p>
<p class="para">I ignored Three’s question and
simply shot back, “What took you?” Some of Three’s riddles had
a point, others didn’t. Most were just meaningless plays on words.
When she was little, Three hardly spoke, but ever since learning to
make dolls she had become a garrulous talker. Perhaps playing with
dolls and playing with words weren’t so different. “Your hair...
Don’t tell me it’s stopped growing?”</p>
<p class="para">Ordinarily, Three’s hair reached
knee length, but at the moment it ended along the curve of her back.
She had a terrible stoop. “Certainly not, my lady,” said the
disciple next to her. “A short while ago, I took it upon myself to
coiffure my lady Three’s hair.” He let out a jocund laugh. Octa
tried to present himself as a sly old goat with a few quirks. In
fact, his quirks were anything <i>but</i> few.</p>
<p class="para">“I see.” So Three’s hair was
growing as fast as always. And why wouldn’t it? There was no reason
for her to be the sole exception.</p>
<p class="para">We needed as much power as we could
get in the fight that was now at hand. But what about after that?
After our last enemy had fallen, what would stop that power from
becoming more than we could handle?</p>
<p class="para">“I’m tired.” Instead of
stretching, Three slouched even lower as she yawned. <i>I’m tired</i>
had been Three’s mantra ever since she was a child. She would start
to droop whenever she wasn’t making dolls, and could sit down just
about anywhere and fall asleep.</p>
<p class="para">“Don’t sit on the books. The old
things will topple over and you’ll get hurt.” She was moments
from sitting on them already. I watched her lunch to the side to
avoid them. “Why don’t you go sleep in your room a while?”</p>
<p class="para">The Land of Forests was just as far
as the Land of Mountains. Both Three and her disciple must have been
tired from their long journey. Four had already reported on the Land
of Forests, so there was no need to talk about it right now.</p>
<p class="para">“What’s wrong?” I had expected
Three to do an about-face on the spot, but she made no effort to
leave. Instead, she was playing with her scissors with a dead
expression. I could never tell what she was thinking. And it wasn’t
just me; the disciple next to her couldn’t have had a clue either.</p>
<p class="para">Still, every now and then I felt
like my weird little sister saw everything. Like she understood
things far better than I. I wondered if Three hadn’t already found
the answer I’d been seeking ages ago.</p>
<p class="para">“I won’t be able to sleep.”</p>
<p class="para">“Aren’t you tired?”</p>
<p class="para">A pause. “Snow.”</p>
<p class="para">I felt like we were having two
different conversations, but it wasn’t the first time. I shot the
disciple next to her a look. “I’m busy. Go ahead and do whatever
you like.”</p>
<p class="para">“Yes, my la—” He had hardly
gotten a word out before Three abruptly cut him off.</p>
<p class="para">“A great serpent whiter than snow
carries the rose fang.”</p>
<p class="para">“Huh?”</p>
<p class="para">“But where is the fang <i>going?</i>”
Three was staring right at me. This was no play on words; I already
knew the answer to this riddle.</p>
<p class="para">A serpent whiter than snow... A
white dragon. It was carrying someone with rose-colored eyes. And the
fang: the weapon in her hand. Three was trying to tell me she had
seen our fated adversary on the way here. Today was going to be the
day.</p>
<p class="para">I sighed deeply. “I guess I’m
out of time.” I never did find any record of Intoners. Nothing
about our songs, about the disciples—nothing at all. So be it. I
wouldn’t have been able to look through everything in a library
this vast anyway.</p>
<p class="para">“Who’s right? Is it you? Is it
Two? Is it Four? Is it Five?” Another pause. “Is it Zero?”
Three said it all without so much as a smile.</p>
<p class="para">“We’re <i>all</i> right. In our
own minds.”</p>
<p class="para">I wouldn’t be able to do this if I
didn’t believe <i>I</i> was. People aren’t strong enough to go
into a fight knowing they’re wrong. That’s why I needed my
answer. I needed to be able to shout at the top of my lungs that <i>no,
this isn’t a mistake ... </i>
</p>
<p class="para">Was I that unsure?</p>
<p class="para">“One?” Three’s puzzled tone
made me realize I’d been laughing.</p>
<p class="para">“It’s nothing. I’m fine.”
Whether I had my answer or not, it didn’t change what I had to do.
So what if I didn’t know what Intoners were? So what if I didn’t
know the reason for our power? I could still fight. What did I have
to be uncertain about? I closed my book and stood up. The faint roar
of a dragon reached my ears. There was no mistake, then. The traitor
would be here soon.</p>
<p class="para">“Come on. It’s time to keep that
promise we made.” And with Three and her disciple in tow, I left
the library.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/prelude-novellas">Back</a></p>