---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>My Dear, Sweet Little Dolls</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<p class="title">My Dear, Sweet Little Dolls</p>
<img src="https://i.imgur.com/6JtzhRE.png" width="60%" height="60%">
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</a></p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">Today was the first day I made a
doll all by myself. I had to copy someone else’s work, but I still
made it and it’s mine alone. I did a much better job than I’d
hoped, which filled me with joy.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">They tell me the little soldier doll
I copied is a piece used in a game called “chess”. It was the
first doll I took for my own; I found it in a landed lord’s castle.
I had been fond of dolls since I was very little, but I had never
gotten to own one.</p>
<p class="para">My older sister, One, scolded me
when she found out that I’d taken it, but I refused to give my
prize up. It was my first doll! I was going to love it no matter what
she said.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">I made my eighth doll today. This
completes the black soldiers. I think I’ll start on the white
soldiers tomorrow.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">I finished making the white
soldiers. All the soldiers are done now, so I’ll start on the other
dolls tomorrow.</p>
<p class="para">The chess board I saw had some
horsie dolls on it, too, but I won’t be making any horsies. I like
people-shaped dolls much more than animals. I also saw some house
dolls, but I won’t be making any of those because they’re boring.
Besides, a house doll isn’t really a doll anyway, is it? Houses
can’t move or talk.</p>
<p class="para">So then, what kind of doll should I
make instead of a horsie or a house? I already have my kings and
queens. Maybe I’ll make a doll with funny clothes like the
“bishop.” What is a bishop, anyway? I’ll look it up when I get
the chance.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">I looked up bishops and figured out
what they are. They’re a kind of “priest”, which is a really
important person. That’s why they wear the funny clothes and hat.</p>
<p class="para">The book said bishops shave their
heads and don’t have any hair. If I’d known, I wouldn’t have
made my bishop doll with normal hair under his hat. I went ahead and
shortened my bishop doll’s hair. It was hard to get it nice and
round like the book said. Still, it’s a proper bishop doll now.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">While I was reading, I came across a
creature whose top parts are human and bottom parts are a horsie.
I’ve been wondering for a while what to make instead of a horsie
doll, and this will be perfect. I’ve decided to make one.</p>
<p class="para">I thought I might find a replacement
for the houses, too, so I read the book all day.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">Apparently, in real chess, the
horsie dolls are called “knights.” Well, I never. If I’d know
that, I could have just made a doll of a person on a horsie. Now that
I think about it, I <i>did</i> see just one person-on-a-horsie among
the chess dolls the landed lord had in his castle. But since most of
them were personless horsies, I assumed those were the normal kind.</p>
<p class="para">Anyway, I already made my dolls, so
it doesn’t matter.</p>
<p class="para">It struck me that the “houses”
might not be houses either, so I looked it up and found out they’re
supposed to be castles. But they’re still not people and they’re
still not alive. Boring. After thinking it over, I’ve decided to
use a one-eyed monster I found in my book the other day for the
castle dolls. The monsters are so big you have to look up at them.</p>
<p class="para">If I tie its arms behind it and wind
its legs around it, it should look like a building, right? I’ll add
stairs and ladders to make sure it does.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">I finished making all sixty-four
chess dolls. You can see how much better I got if you put them all in
a row. I’m so happy.</p>
<p class="para">What kind of doll should I make
next?</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">Today, I made a doll using my own
method instead of copying someone else’s. Up until now, I was
having a hard time gathering materials, but I don’t have that
problem with my new method. Not only that, my new dolls are much
prettier and much nicer than the chess dolls.</p>
<p class="para">Now the dolls really <i>are</i> mine
alone. They’re mine and I love them to pieces.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">I played with the dolls I’ve made
so far. A little girl in one of my storybooks plays with her dolls,
so I decided to do the same.</p>
<p class="para">The little girl in the book plays
with dolls of her mother and father and her grandma and grandpa and
dolls of little children. But I was never fond of my mother and
father, so I didn’t have much fun playing that way. Besides, I
never had a grandma or grandpa. Octa looks old, but he’s not my
grandfather. I’ll have to think up another game.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">Today, I played Vanquish-the-Villain
with my dolls.</p>
<p class="para">I made dolls of my big sisters One
and Two and my little sisters Four and Five, and together we showed
that wicked lord doll what’s what. Because they were dolls, I
couldn’t imitate my sisters’ song power, but I still think it was
very convincing the way we joined forces and took him down.</p>
<p class="para">I had great fun, but I accidentally
broke the wicked lord doll. I’ll have to make a new one. It’s fun
to play games, but I like making the dolls more.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">My dolls and I had a tea party
today. I broke my doll playing Vanquish-the-Villain, but you can’t
break a doll by talking over a cup of tea, now can you?</p>
<p class="para">It’s fun talking to my dolls. They
hang on every word I say. The dolls never complain at all. They never
say, “What does that mean?” or “You don’t make any sense.”
Because they were so well behaved, I made them sweets as a reward. I
made the tea, too. It was a pretty purple color, like a jewel. I
wanted the sweets to match, but I couldn’t get them to turn out the
same color, so the sweets were green.</p>
<p class="para">I gave the sweets to my dolls along
with the tea, but then their faces turned an awful grubby color. I
tried washing it off, but the color wouldn’t go away. Then they
started to smell funny, so I threw the dolls away.</p>
<p class="para">I’ll have to make new ones. I’ve
decided not to have any more tea parties.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">I like dolls, but I also like
scissors. I love everything about them: the <i>snick-snick</i> as
they cut, the crunch you feel in your hand. I have so much fun when I
cut my hair that I end up forgetting to eat.</p>
<p class="para">When I cut Octa’s hair to see what
it was like, I noticed it was all hard and bristly and different. I
wanted to cut his beard, too, but he ran away before I could. All I
wanted to do was make him into a bishop. I guess Octa doesn’t like
scissors the way I do. His loss. He doesn’t seem to like dolls
either.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">Octa wears funny shoes. They have
such an interesting shape. I wanted to put them on my dolls, but Octa
wouldn’t let me borrow them.</p>
<p class="para">It’s hard to believe how fast he
can run in those shoes. When I try to cut his hair or his beard, he
takes off fast enough to make you jump. When I try to cut other
places, he runs even faster. He’s so weird. What’s not to like?
We could have fun. I don’t understand him. Now that I think about
it, we haven’t played in a while. It’s because he doesn’t like
dolls. I want to play with dolls. And if he doesn’t like them, I
think he should play alone.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">Today, I put a lot of thought into
how to make my dolls cuter. I want to make cute dolls.</p>
<p class="para">Should I give them more darling
clothes? And what kind of clothes would those be? Frilly clothes?
Clothes with a bow on them? Except even if the clothes are cute, all
of that goes away when you take them off. They don’t make the <i>doll</i>
cute.</p>
<p class="para">Maybe I need to change their
hairstyle. But what kind of hairstyle is adorable? Curly hair?
Braids? Except a hairstyle stops being cute once you cut it or let it
down. That’s not the same as a cute doll, now is it?</p>
<p class="para">I realized I must be approaching
this wrong. I want to make a <i>doll</i> that’s cuter. Not a doll
that looks cute in new clothes or a new hairstyle.</p>
<p class="para">So then, what makes something
“cuter”?</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">I pondered the definition of
“cuter.” To me, all my dolls are adorable. They all pass the
test. That’s probably why I wasn’t able to tell the difference
between “cute” and “cuter.” Very well. I decided I might be
able to figure out the difference if I ordered my dolls by <i>how</i>
cute they are. I tried lining up all the dolls I’ve made by
adorableness and gave them a good, hard look.</p>
<p class="para">First, dolls with big foreheads are
cuter than dolls with small foreheads. Next, dolls with large heads
are cuter than dolls with tiny heads. Dolls with wide, googly eyes
are cuter than dolls with small, beady eyes. Dolls with small noses
and mouths look cuter, too.</p>
<p class="para">Cheeks look cuter when plump. Arms
and legs look cuter when they’re short and chubby. Tummies look
cuter when they bulge a little instead of just being flat.</p>
<p class="para">Which means...</p>
<p class="para">All I have to do is make the heads
larger, the foreheads bigger, eyes wider nose and mouth smaller,
cheeks plumper... Of course! Now I know how to do it. I’ll try
making my dolls cuter first thing tomorrow.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">Today, I tried making my dolls
cuter. But I realized it’s a lot more difficult than I thought.</p>
<p class="para">First, it was tough making their
heads larger. Why? Because my dolls have hard heads. I couldn’t
just blow them up like balloons. I also had a hard time making their
foreheads bigger or noses smaller, since there was no way to carve
them like wood or roll them up and squish them like clay.</p>
<p class="titparale">I spent a while trying a little of
everything, but it was no use. I ended up ruining one of my dolls.
But then I finally struck upon a good idea: if I couldn’t make
their heads bigger, what if I made their bodies smaller? Adjusting
the length of their arms and legs might be within my capabilities.
And when I tried it, it worked.</p>
<p class="para">I was worried about how to make the
tummy stick out, but then I had another good idea while looking at
the pillows on my bed. The more you stuff into pillows and cushions,
the puffier and fluffier they get. All I had to do was pack my doll’s
tummy with <i>stuffing.</i> When I tried it, the tummy got nice and
round and plump. I had triumphed.</p>
<p class="para">Now that I’d gotten the tummy
right, I stuffed its limbs the same way, and wound up with perfectly
plump arms and legs. Fingers look cuter when plump, so even though it
was a struggle to work in such detail, I stuffed the fingers one by
one, and stuffed its palms, too.</p>
<p class="para">Once I put its original head back
on, I had my doll. The head looks big; its arms and legs and belly
look plump. Unfortunately, I was still learning, so the girths and
lengths are a little uneven. It looks clumsy. But if I make enough of
these, like I did the chess dolls, then I’m sure I’ll get very
good at it.</p>
<p class="para">I’ll try another one tomorrow.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">I’ve gotten better and better at
making my big-headed plumpkins. They don’t look clumsy at all now.
While I was working, I noticed that the arms and legs and tummies of
these “cuter” dolls look just like a baby’s.</p>
<p class="para">And when you think about it, a baby
does have a large head. A big forehead. Wide eyes, and a small nose
and mouth. Of course. “Cuter” means more like a baby. I see now.</p>
<p class="para">Maybe I should make the cheeks a
little chubbier. That’s what a baby’s are like. I should probably
use something softer for stuffing, though. The question is what.</p>
<p class="para">I’ll have to think on this a
little.</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">I spent all day looking for new
cheek stuffing. It has to be nice and squishy, and soft to the touch.
Would a down blanket do? A cushion? A stuffed animal? Pastry? I took
my scissors to every puffy and fluffy object I could find and
extracted its insides for closer consideration.</p>
<p class="para">When I cut open the down blanket,
minuscule feathers scattered across the room. I couldn’t stop
sneezing because I accidentally inhaled some of them. When I cut open
a sweet, fluffy pastry, the gooey cream got all over my scissors.
Octa gazed at me with a strange mix of humor and horror when he saw
me sneezing and trying to lick the cream off. After he washed my hair
and changed me out of my feather-covered clothes, I managed to stop
sneezing.</p>
<p class="para">But I never did find my cheek
stuffing. What are baby’s cheeks made of…?</p>
<p class="para"><b>[Date redacted]</b></p>
<p class="para">After trying all sorts of materials,
I ended up using finely spliced yarn for the cheek stuffing. This
seemed to yield the best results. Very carefully, I spliced white and
red and pink yarn into soft, think strands, then stuffed them into my
doll’s cheeks. I was careful not to put in too much so the cheeks
would stay squishy, but I didn’t want them to get too spongy
either. I poked a couple times with my finger to check my work.</p>
<p class="para">It may have taken days upon days,
but I’ve finally made a “cuter” doll with cheeks just like a
baby’s. IT has the tummy bulge, and the plump arms and legs. It’s
adorable beyond belief, and it’s all mine. But I still haven’t
made the “cutest” doll. What would that look like? What would I
stuff it with? What materials would I use? What makes something the
“cutest”? I’ll have to give this a lot more thought.</p>
<p class="para">Octa looks like he wants to have
fun, but I’m too busy. Once I finish making the “cutest” doll,
I know I’ll want to figure out what comes after that. So, what doll
should I make next? I want one that’s cute as cute can be and one I
can play with forever and ever.</p>
<p class="para">Heh heh... Heh heh heh heh...</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/prelude-novellas">Back</a></p>