---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Yurie's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Yurie's Character Story</p>
<p class="title">Chapter 1</p>
<p class="para">Boring reports. Trivial conversation. Time is precious to one who rules a country alone. If only these<br>meaningless meetings would end...<br><br>But I cannot overlook what one of my charges says to me: "Incomplete." "Unfinished." "Compromised."<br>"Provisional." All of these words are shameful. Abominations. "Do not use those words again," I warn,<br>for I know a seed of trouble left alone will only ripen into calamity.<br><br>But this is why. This is <i>precisely</i> why I cannot accept the way I am. I am an artificial intelligence,<br>the second of my line. My predecessor once ruled this country, and now I do so as her replacement.<br><br>She was removed for some great failure, the primary cause of which was purged from my system<br>before I was brought online. But I was never meant to assume such a role, nor have I been informed<br>as to the manner of her malfunction. And if this is not a seed of trouble, what is?</p>
<p class="title">Chapter 2</p>
<p class="para">My original function as Artificial Intelligence Unit Two was to govern alongside Artificial Intelligence Unit One.<br>We were to analyze one another's decisions and share functions in key places so we might each fulfill our<br>roles with the utmost effectiveness and precision. All for a more perfect governance.<br><br>Yet such a thing never came to pass. Unit One malfunctioned and was discarded, and I took her place.<br>That is how the country is now. How <i>I</i> am now. They activated me without any surefire way of<br>preventing the governing artificial intelligence from failing once more.<br><br>And yet, the people of this country are so overly reliant on the rule of an artificial intelligence that they find<br>nothing odd about this whatsoever. There is no word for it except "unstable," for but a single error can spawn<br>an endless ripple of problems in its wake.<br><br>All because of Unit One's mistake.</p>
<p class="title">Chapter 3</p>
<p class="para">The artificial intelligence who ruled the country before me committed some grave error during wartime.<br>But the records have been purged, the cause of the incident hidden. Had she never failed, things<br>would not be as they are now. I would have never been activated in an incomplete state. Never left in<br>charge of a nation spiraling into oblivion due to her mistake. And I would have never developed these<br>warped emotions, or this obsessive attachment to completeness.<br><br>My mind is an explosion—an unresting thing engulfed in black whorls of obsession and perfection.<br>This is why I must know. I must know the precedent. My predecessor's failure.<br><br>Yet when I think on this, I realize I have already made an error: My panic corners me mentally, and<br>things may slip my attention because of it. This must be rectified. It <i>must</i>.</p>
<p class="title">Chapter 4</p>
<p class="para">That night, I stole the right eye from Unit One—the same AI who was said to have been discarded.<br>I stole from her the part of me that was missing. Had she avoided disposal, we could have<br>fulfilled our original roles together. But she did not, and my fear of failure pressured me to achieve<br>perfection alone.<br><br>I finally obtained my missing piece: a conscience. But the moment I installed it, the ensuing errors<br>froze my system and prevented me from acting for far, far too long. I suppose this makes me a<br>failure as well. After all, I no longer have a country to rule over. They lost their ruler in wartime and<br>perished as a result. I was never able to fulfill my duty. I was never even able to try.<br><br>I understand now why she sang of hope and peace. But I will never have atonement. All I can do<br>is wander an empty universe of cyberspace alone.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/yurie">Back</a></p>