---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Proof of Zero</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Proof of Zero</p>
<p class="title"><a href="https://www.youtube.com/watch?v=h17PiSDXb00&list=PLcY8I1_IgLN7-ecDM-GXai_XY0YbgVQXD"><u>Video</u></a></p>
<img src="https://i.imgur.com/3wz7f6R.png">
<p class="title">Chapter 1</p>
<p class="para">A war rages in a technologically advanced country where artificial intelligence rules over the populace,<br>with a battle currently unfolding in the ruins of what was recently a proud city. Soldiers are led in this<br>fight by a lone girl. This girl, who looks entirely out of place on a battlefield, walks into the hailstorm of<br>bullets. She ascertains the positions of enemy soldiers, relays them to the soldiers, guiding them to an<br>overwhelming victory. Bodies litter the ground around her. In order to further cement their victory, she<br>orders the soldiers to use the corpses as traps. If it would benefit the nation, she would not hesitate to<br>issue even the most brutal of commands. For this girl, this hologram who stands on the battlefield, is<br>the AI tasked with governing this nation.</p>
<p class="title">Chapter 2</p>
<p class="para">Making war is not the girl's only task. Charged with leading the country alone, she must also advise those<br>who seek her guidance. She is consulted regarding the treatment of prisoners, unauthorized access to<br>their camera systems, and so on. When speaking to her, one of her ministers makes the mistake of saying<br>the word "incomplete," which inspires the girl's ire, for to her it is a most despicable word. The minister<br>realizes his mistake. The air around them grows tense, and cold as ice. She lets her minister off with a<br>warning that she would destroy him should he ever say it again, and with a click of her tongue, she leaves<br>the scene. For this girl who must govern alone, imperfection, compromise, and resignation are forbidden.<br>She knows this, which is why she searches for a key element that was left out during her creation. And<br>she will do anything to obtain it. She will do anything to be complete.</p>
<p class="title">Chapter 3</p>
<p class="para">The nation was previously ruled by an AI called Unit One who, despite being complete,<br>made some kind of mistake and was disposed of. Because of this, the cause of said<br>mistake was removed from the Unit Two before her activation. She is an imperfect<br>being, created in the search for completeness and perfection. The false eye in her<br>socket is like a brand that proves her incompleteness. No matter how much she seeks<br>perfection, her right eye sees nothing. She wonders what the complete Unit One was<br>able to see, and the unknowing of it all warps her mind. These thoughts she holds are<br>why her body shudders with a mix of shock and rapture when she sees the singing girl<br>in white... For the singer was the very same Unit One that the girl had been searching for.</p>
<img src="https://i.imgur.com/gYhZlU0.png">
<p class="title">Chapter 4</p>
<p class="para">The girl attacks her predecessor. She believed that if she were to steal Unit One's<br>right eye, she would finally be complete. Perfection is demanded of her, and it<br>torments her so that she cannot play the part. The people's brazen stares and<br>outrageous expectations haunt her, and she blames Unit One's failures for her<br>suffering. Fueled by all the feelings she had previously kept in check, she closes in<br>on Unit One, claims her right eye, and inserts it in her own socket. However, the<br>function that had been removed from the girl was a conscience. Though she desired<br>completeness, her newly acquired conscience generated countless errors as it<br>attempted to reconcile with all the reprehensible deeds she had committed, <br>ultimately causing the girl to crumble away to nothing. And Unit One, who had been<br>singing as a form of atonement, is now left without a conscience, and she has no <br>idea what she even wanted to do in the first place.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/yurie">Back</a></p>