---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Rion's Character Stories</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Rion's Character Stories</p>
<p class="title"><a href="https://www.youtube.com/watch?v=SS4qZz3ebrI"><u>Video</u></a></p>
<p class="title">Chapter 1</p>
<p class="para">"How do you fare, My Prince?" He asks about my condition as we walk through the
forest toward the wasteland.</p>
<p class="para">"Well enough," I say as I glance in his direction.</p>
<p class="para">"But shouldn't you stop and conduct some maintenance? This forest air can't be good for
clockwork bodies like yours."</p>
<p class="para">"All is in good order, My Prince. Do not trouble yourself."</p>
<p class="para">I know he only says this because he worries about my illness. I stop our progress for a
moment and turn to him.</p>
<p class="para">"And what if a fight finds us? We should check to be sure."</p>
<p class="para">He nods slowly before taking a seat. Then he powers down, causing the eyes behind his
bandages to go dark.</p>
<p class="title">Chapter 2</p>
<p class="para">It's so much easier to start a war than stop one. Once the fighting starts, violence leads
to distrust, creating a vicious circle where peace seems impossible. This is why we are
currently traveling from country to country: To create a third power which might mediate
negotiations and find a way to lead us out of this bloody war. But my status and bloodline
mean there are many who wish me ill. Thankfully, my companion has saved my life time and
again. He is a clockwork man, and there is little I can offer him. The best I can do is assist in
his maintenance.</p>
<p class="title">Chapter 3</p>
<p class="para">I feel a tightness in my chest. My body grows heavy. Sweat slicks my hair against my
head. It's clear my illness plans to claim me one way or the other. Stifling a cough, I retrieve
a bottle from an inner pocket. I snap off the seal and drink it down. It is the last of the
medicine that holds my illness at bay. Once it wears off, I will know how bad my condition
truly is.</p>
<p class="para">My breathing steadies. It is but a temporary reprieve, but it will do.</p>
<p class="title">Chapter 4</p>
<p class="para">I return the empty bottle to the same pocket I took it from and wait for my guardian to
wake up. He won't worry now—at least for a while. The medicine will see to that. I can't afford
to show him my true pain. And besides, it's not like I'm going to get better. Suddenly, my
companion wakes with a whirr.</p>
<p class="para">"I'm operating well," he says.</p>
<p class="para">"Thank you."</p>
<p class="para">"Glad to hear it," I reply softly.</p>
<p class="para">"Let's keep going."</p>
<p class="para">"Yes, My Prince."</p>
<p class="para">We have no time to waste and no time to stop. That is why I decided to continue with the
lie. It's the right thing to do—I know it is.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/rion">Back</a></p>