---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Rion's Dark Memory</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Rion's Dark Memory</p>
<img src="https://i.imgur.com/nB2mi4N.png">
<p class="title">Chapter 1</p>
<p class="para">Gray eyes scan the page.</p>
<p class="para">"A king is not a conqueror."
    <br>"A king is the symbol of a nation."
    <br>"A king is the representative of his people."
</p>
<p class="para">
Row upon row of words about how a king should be. Yet the eyes in which these words are
reflected showed no hint of admiration or discovery. The boy exhales in tedium; these things are already
known to him. As a prince, he has been striving to develop all manner of wisdom in order that he might
prepare for his future as a king.</p>
<p class="para">"All these books say the same things."</p>
<p class="para">
Annoyed, the prince closes the book and makes to return to his quarters.</p>
<p class="para">
When he reaches the exit, he notices that the guards all seem a bit more on-edge than normal.
<br><i>Ah, yes,</i> he thinks. <i>The signing ceremony</i>. Today, his father was signing a trade
agreement with a neighboring country, supplying them with clockwork soldiers in exchange for large
amounts of their natural resources. The neighboring kingdom desired these clockwork soldiers greatly,
for they were of small population and thus lacked in troops. But clockwork men who would fight eternally
without grumble or pause were a breakthrough solution to this particular problem. And as for the prince's
kingdom, they needed natural resources to further their own research and development, much of which
was dedicated to these very same clockwork soldiers.</p>
<p class="para">His footsteps echo across the marble floor. The castle is large, and it is quite a distance to his
chambers. He thinks about the ceremony as he greets another set of guards. Though he is a prince, he
has yet to witness such an international affair for himself.</p>
<p class="para">
<i>It would be good for me to know about such things.<br>
Maybe I should take a quick peek and see what it's like.<br>
It can only benefit me in the future, after all.</i></p>
<p class="para">
Thus having rationalized it, he decides to walk past the drawing room where the ceremony is being held
on the way back to his chambers.</p>
<p class="para">
The group from the neighboring country has already arrived, and there is quite a large crowd
gathered. There are numerous guards from the prince's kingdom, as well as ones from the opposing side.
<br>There are ministers and clerks and advisors and lawyers, and in the center of it all, the two kings.
<br>But then, at the edge of the crowd, the prince spies a young girl. She lifts the hem of her white skirt
and curtseys at the room, seemingly at ease amidst all the murmuring adults. After gazing at her for a
bit, realization finally dawns.
<br><i>She's the daughter of the other king—a princess</i>.</p>
<p class="para">He recalled what he had just been reading in his book.<br>
<i>She is not a king herself, but she seems to understand how a royal family member should act.</i><br>
As he stares, the prince reflects on his own position. <i>Will I ever be that confident? That composed?</i></p>
<p class="para">
As if sensing his attention, the princess suddenly turns around. He immediately hides his face behind the
book in his hand, but it is a useless gesture. Before he knows it, the princess is approaching him. He tries<br>
to pull himself together and fails miserably, but the princess either doesn't notice or doesn't care.<br>
Instead, she stands right in from of him and says:<br>
"You seem pretty weak for a prince."<br>
"Whaaa?"<br>
he responds. The prince immediately rejects his earlier thoughts.<br>
<i>She's not acting like royalty at all—she's just RUDE.</i></p>
<p class="para">"Y-you're the daughter of the king!" he stammers.<br>
"You should be ashamed to treat a fellow royal in such a way!"</p>
<p class="para">
He thinks his argument came out rather well, all in all, but it is a wasted effort. The princess is wholly
uninterested in what he has to say.</p>
<p class="para">"Right, whatever. Listen..."<br>
"<i>Whatever!?</i> What do you—"</p>
<p class="para">
The girl suddenly places a finger on his mouth, cutting off his argument. Her lips, which are the color
of early spring blossoms, break into a smile as she says: "Want to go play?"<br>
His gray eyes widen in bewilderment.</p>
<img src="https://i.imgur.com/OmVw7nE.png">
<p class="title">Chapter 2</p>
<p class="para">A bead of sweat drips through the prince's white hair and down his ashen face.</p>
<p class="para">
"A-all right. But if we get in trouble, don't blame me."</p>
<p class="para">
The pair dodges their way through a web of security. Though the princess wanted to leave the castle
entirely, the guards at the entrances were far too numerous—so they would have to content themselves
with the castle courtyard.</p>
<p class="para">
"You see?" she says.<br>
"Everything is fine. I'm a perfect angel when we're on official business."</p>
<p class="para">
Her eyes glow with an inner flame as she surreptitiously watches the guards, causing him to think she
must be his complete opposite. And yet, he cannot deny the truth of her words. Tales of her flawless
decorum had reached his ears as well. However, such tales often took the form of comments implying she
was strangely unhuman—almost like a perfect doll. This is why the prince considered the meaning behind
her attitude. Even if all of her famous good conduct was merely an act to impress foreign powers, why
was she not acting like that now?</p>
<p class="para">"That guard is such a nuisance. We need to get by him to get through here." she growls.<br>
"Well? What do YOU think we should do? You live here, after all."</p>
<p class="para">But the prince does not respond; he is staring down at his pocket watch, lost in thought. The princess
grabs his wrist and pulls him close.</p>
<p class="para">"Hey! Are you even LISTENING to me!?"<br>
"Gya!" he cries.<br>
"I'm sorry, I didn't mean to... Um..."</p>
<p class="para">The prince trails off; now it is his counterpart's turn to be lost in thought.</p>
<p class="para">"Oh," she says, as another smile slowly emerges on her face.<br>
"What a pretty watch..."<br>
"There's a banquet tonight, right?"
</p>
<p class="para">
Her tone is high-pitched and playful, but there is a touch of something else creeping in around the edges.
<i>She must mean the formal dinner after the signing ceremony</i>. Before he can respond, she continues:</p>
<p class="para">
"In that case, the castle will be heavily guarded all night. Which means <i>that</i> soldier must have a
shift change coming up."</p>
<p class="para">Suddenly, the prince understands what she is driving at. But just because he understands, it doesn't
mean he likes it.</p>
<p class="para">
"He's going to be anxious for his relief to come, which means he's going to be staring at his watch."<br>
"And...you want to slip by while he's distracted?"</p>
<p class="para">The princess winks, clearly pleased that he's finally caught up.</p>
<p class="para">
"Y-yeah, but it doesn't matter if he's looking at his watch, because he'll hear us when we run past him."<br>
"Then we just have to run <i>quietly</i>. Right?"<br>
"But..."</p>
<p class="para">
The princess turns away as he speaks, her mind already made up. As he trails off, she watches the soldier
and waits for her moment. <i>There's no reasoning with this girl. Words and logic are meaningless</i>.</p>
<p class="para">
Suddenly, the princess tenses. The guard takes one hand off an automatic rifle and brings his wrist
to his face. A yawn breaks out. Then another. It happens in a moment—not even ten seconds in all. But it
is all the princess needs; she grabs her reluctant new friend by the scruff of his neck and makes a break
for it. The two race down the corridor and out of the guard's sight. The prince, feeling yanked in all
directions, only prays his feet won't betray him with a fall.</p>
<p class="para">"Yesss!" cries the delighted princess as they come to the door that leads to the courtyard. The prince
tries to slow his ragged breathing as the princess reaches for the handle...
</p>
<p class="para">
And suddenly stops. </p>
<p class="para">"What the hell? <i>Seriously!?</i>"</p>
<p class="para">
Windows line the courtyard, each with a guard behind it. Though they will be able to enter the outdoor
area, they'll have to move carefully to stay out of sight. </p>
<p class="para">
"Dammit! We can't play like this!"<br>
"Shhh! You're too loud!"</p>
<p class="para">
In the end, they sit down in the shade of a shrub and use its leaves to stay out of sight. The rays of<br>
the midday sun cast their shadows on the grass, but it seems unlikely such a thing will be noticed.<br>
The princess mutters in discontent as she looks up at an opening in the courtyard roof.</p>
<p class="para">"Well, this has been an extraordinary waste of effort."</p>
<img src="https://i.imgur.com/OmVw7nE.png">
<p class="title">Chapter 3</p>
<p class="para">The princess reaches down and plucks a handful of grass from the perfectly manicured green
lawn. She stays silent, and the prince is too winded from their run to the courtyard to strike up a
conversation. Perhaps out of pity for his weakened physical state, the princess seems willing to set
aside her desire for play.</p>
<p class="para">
"Hey, so..." begins the prince.<br>
"What did you want to do, anyway?"<br>
"Huh? Oh, that."</p>
<p class="para">She places her hand on her forehead in a clear display of thinking—or perhaps she is only <i>pretending</i>
to think—and responds with a sigh.</p>
<p class="para">
"I don't know. I didn't plan that far ahead."<br>
"So this was all a spur of the moment thing?"<br>
"Yeah. I mean, I figured we'd come up with something."</p>
<p class="para">
The prince laughs dryly.<br>
<i>I'm a sad, scrawny introvert who treasures careful thought, and she is a lighthearted dynamo who
shoots from the hip. We couldn't be more different.</i><br>
Though the prince was worried their conversation would be stilted, it quickly proves to be anything but.</p>
<p class="para">
"You know, there's stuff you can't learn from books."<br>
"True. There are some things you cannot know without experiencing them yourself."<br>
"Oh, so you <i>do</i> know that! How delightful."<br>
"It has been especially true today."<br>
"Hee hee! And what does that mean, hmmm?"</p>
<p class="para">The prince smiles with her.</p>
<p class="para">"You are a rather strange princess."<br>
"And you are a very odd prince."</p>
<p class="para">Above them, a bird with black tail feathers chirps merrily away. The princess peers at the prince.</p>
<p class="para">
"So talk to me. You've studied lots of subjects, right?"<br>
"I suppose?"<br>
"Well, what kind of king do you want to be? What kind of country do you want to build?"</p>
<p class="para">
She stares at him, waiting for a response.<br>
"Well, you have to promise not to laugh, but..."
</p>
<p class="para">He holds the book in front of his face again, as if to ward off her inevitable scorn.</p>
<p class="para">
"I want to make this a country without war."<br>
"There are many people in this world, and it is filled with so many wonderful things..."<br>
"But I believe all of us working together could create even more wonderful things."<br>
"If everyone was working toward the same goals, no one would be harmed at the expense of another."<br>
"Anyway, um... That's my wish."<br>
"So what about you?"<br>
"Me? Hmmm..."</p>
<p class="para">Before she can respond, a shrill ring interrupts them. It's coming from the prince's pocket.</p>
<p class="para">
"Sorry," he says with a bow.<br>
"It's my father."</p>
<p class="para">
The princess shrugs.<br>
"Eh, don't worry about it."</p>
<p class="para">
He apologizes again before leaving their shady spot and bringing the communicator up to his ear.<br>
The voice on the other end is most familiar.</p>
<p class="para">
"Where are you? What are you doing?"<br>
"F-Father, I was just..."</p>
<p class="para">
The prince's expression stiffens as his voice turns hoarse. He had tricked his own guards to reach an<br>
off-limits courtyard. He was cavorting about with the princess of a neighboring country. The truth
would only lead to trouble. But his father was not a man who could be led astray with lies.<br>
<i>There's no choice. You have to tell him.<br>
You have to take responsibility for your actions.</i></p>
<p class="para">
"I am in the courtyard, Father."<br>
"Are you alone?"</p>
<p class="para">His father's tone is unemotional: a simple request for information. And that terrifies the prince.<br>
"...No. The princess is here."</p>
<p class="para">As he squeezes out his answer, he doesn't notice his new friend's worried gaze from across the yard.<br>
"I see."</p>
<p class="para">Father and son fall quiet—but the weight of that silence could not have been more different for the two.<br>
<i>He is furious with me. Punishment will be swift.</i> But the next thing he hears defies all
expectations:</p>
<p class="para">
"Very well."<br>
The king pauses a moment.</p>
<p class="para">"I'll be there soon. The two of you stay put."<br>
The call ends as quickly as it began. When he returns, the princess peers at him worriedly.</p>
<p class="para">
"You okay there?"<br>
"Er, yes,"</p>
<p class="para">he replies nervously.</p>
<p class="para">"Everything is fine."<br>
"So, um, what were we talking about again?"</p>
<p class="para">
His words couldn't have sounded more hollow to his ear. But the princess makes no more mention of it.<br>
"Oh, that? I dunno. I've totally forgotten."</p>
<img src="https://i.imgur.com/omO4kH5.png" alt="">
<p class="title">Chapter 4</p>
<p class="para">"Hey, so...why did you invite me to play?"</p>
<p class="para">This question has been on the prince's mind. But his true concern is about the call from his father.<br>
Something about the instruction to stay put gnawed at him. Perhaps because he expected his father
would be angry with him; regardless, he can't help but feel something ominous about it. Across from
him, the princess squirms.</p>
<p class="para">
"Um..."<br>
"Well, see..."</p>
<p class="para">Unlike her rapid-fire banter from earlier, she seems to be choosing her words carefully.</p>
<p class="para">
"I think you probably feel the same way, but my circumstances are sort of...unique."<br>
She stares off into space as she talks, looking at nothing.</p>
<p class="para">
"My parents are always too busy for me—all the adults are.<br>
The only other kid I ever see is the one in the mirror."<br>
"Maybe it would be different if I wasn't an only child, but..."<br>
"It's just that, I've always felt like I had to act a certain way around other people, you know?"</p>
<p class="para">
Once she says that, she turns back to look at the prince. And he looks at her in return.<br>
"That's why I thought maybe I could find someone who—"</p>
<p class="para">
Her sentence would never be finished. It has been blotted out. He feels the shadow of his
father. Smells the aroma of gunpowder. And stares at a white dress quickly turning red. It is too late
to stop it. Military boots thunder around him. Her spring-blossom lips are as lush as ever. And he
understands that his father's men have shot the princess.... He wishes he didn't. </p>
<p class="para">
"Well done, my son."<br>
A low voice rumbles in his ears.</p>
<p class="para">The soldiers lower their guns at the king's approach. His face twists in a bitter scowl as he speaks. </p>
<p class="para">
"What a disgusting nation."<br>
"To think they would use a young girl in such a way. To think they would scheme to kidnap my own son!"</p>
<p class="para">
The prince sits absolutely still. Not a breath stirs.<br>
"We shall have no agreements with such a country."
</p>
<p class="para">The prince finds it hard to believe she could have had such plans. But he doesn't have definite proof,
and his father's shadow now looms over his heart, chiding him.</p>
<p class="para">"What could you possibly know about someone you've just met?" it seems to say. <br class="">
    "I could not leave this matter unattended," continues the king.
</p>
<p class="para">"Dangerous buds must be quickly plucked." <br class="">
He turns to his men as if seeking agreement. The soldiers all nod heartily. At the sight, the prince feels both relief and a disturbing fear that seems to crawl across his body. </p>
<p class="para">"Come, Rion. We must be off." <br class="">
Turning to leave, the king calls out to him. </p>
<p class="para">"Y-yes, Father."<br class="">
He responds firmly, as if to push aside his jumbled thoughts. It was his father, the king of this country, who had spoken, which means it must be true. <br class="">
<i>You heard the stories. She was "strangely unhuman," remember? </i><br class="">
As he follows his father, clutching his book to his chest, he does all he can to convince himself. <br class="">
The blood splashed across the cover drips onto his sleeves. </p>
<p class="para">The next morning... <br class="">
Clad in ceremonial dress, the prince stands before his people. His clothes speak his station to all the world. By wearing them, he plays a role as his country's symbol. His legs quake as he stands on the platform. His father has given him a single order: "Tell the people of the fear you experienced." </p>
<p class="para">She had never scared him. Yet he has no choice but to say it. His own assassination has just been foiled...which is the perfect justification for war. His mouth, dry as a desert, struggles to form words. </p>
<p class="para">"..." </p>
<p class="para"> He does not know what he is going to say. Perhaps she was an assassin. Perhaps she was innocent. <br class="">
He does not know. But there is one thing he does know: His words will spark a war. With a shaking voice, he begins to tell his tale. A chill alights on his fingertips before spreading across his body. But he balls his hand into a fist and fights to ignore it.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/rion">Back</a></p>