---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>F66x's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">F66x's Character Story</p>
<p class="title"><a href="https://www.youtube.com/watch?v=DjUBLc_0DCM"><u>Video</u></a></p>
<p class="title">Chapter 1</p>
<p class="para">I think back on the past. On memories of the boy who will never come home. And on
the happy family in the photo. My husband embraces me. His warmth is the only constant in
my life, and as he holds me, my chilly heart slowly melts. <i>I never want to lose him,</i> I think. <i>Never</i>.</p>
<p class="para">A deafening rumble suddenly reverberates throughout the base, along with a siren.
<br>The announcement that follows tells us what we never wanted to hear: Flowers have invaded
the base itself for the very first time. Cradling the photo, my husband and I dash for the exit.
<br>It would be folly to fight the Flowers unarmed, so we decide to evacuate instead.</p>
<p class="title">Chapter 2</p>
<p class="para">The base is already a stage of tragedy. Our fellow prisoners, unable to fight the sudden
army of Flowers, have been decimated. Among the bodies, we hear a voice calling for help.
<br>But we know that stopping means death. So we run...and don't look back. As we do, we offer
a silent apology.</p>
<p class="para">We run for our lives, but the Flowers are everywhere. Eventually, they corner us and
launch their assault. <i>This is it</i>, I think—but the expected pain never comes. Instead, my husband
leaps in front of me and takes the attack in my place. Somehow, he is still alive—but he will not
survive another strike. He screams at me to run, but instead, I grip the photo and step forward.
<i>Our child will protect us, my darling. And if not, at least I will die at your side.</i></p>
<p class="title">Chapter 3</p>
<p class="para">Just as the Flower's next attack is about to land, armed prisoners appear with our
commander and cut it down. The defense operation has been put in motion—and somehow,
the two of us are still alive. My husband's wounds look painful, but he just chuckles and says
he's proud to have such badges of honor. I'm relieved to see he's in good enough shape to joke.
<br>The two of us retreat with the commander. My husband's wounds are deep and he is taken
to the infirmary for surgery. I pray fervently that he will make a full recovery. I hand the photo
to my husband as a good-luck charm. <i>Our boy is looking down on you; everything will be all right.</i>
<br>My husband clutches it to his chest as they wheel him away.</p>
<p class="title">Chapter 4</p>
<p class="para">My heart grows cold. How much time has passed since he went in? He'd been joking
around, so surely he's going to be okay. <i>But what if...</i>? I feel like the uncertainty will crush
me under its weight.</p>
<p class="para">Finally, my husband emerges from the infirmary. Seeing him safe, I let out a small gasp
of relief. However, he has no memory of the recent past...and the photo has also disappeared.
<br>The memory loss is due to shock, and only temporary—but no one can explain where the photo
went. My husband, as if sensing my unease, wraps me up in another tight embrace. As I feel his
warmth, my concerns melt away once more.</p>
<p class="para"><i>So long as you are safe, that's all that matters. It is the only thing that matters...</i></p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/f66x">Back</a></p>