---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Hina's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Hina's Character Story</p>
<p class="title">Chapter 1</p>
<p class="para">We were a perfectly average family leading a perfectly average life.<br>I used to love Sundays when I was little.<br>It was the one day of the week I got to spend with<br>Mom, Dad, and my little brother.<br>We'd always make lunch together.<br>And cooking is <i>such</i> an adventure for a little kid.<br>I'd try to copy the cooking video playing on the tablet,<br>but every time I went to crack an egg, things got...interesting.<br>I'd go through an entire carton trying to get it right, and<br>Dad would laugh each time I didn't.<br>One day, I <i>finally</i> got my egg in the<br>pan with a minimal amount of shell.<br>I whispered the magic word for my secret flipping technique and...<br>"EEEEEK!"<br>My brother poked the ticklish spot on my side,<br>causing the egg to smear all over the pan.<br>He was always such a little jerk...<br>Anyway, I draped the remains of the egg over<br>some golden rice and called it good.<br>Then I drew a smiling sun on it with ketchup and gave it to Dad.<br>"This looks just like you," he said. And just like a sun, I beamed.</p>
<p class="title">Chapter 2</p>
<p class="para">It was the first parents' visiting day of my elementary school life.<br>The unusual prospect of a family visit set the class abuzz.<br>Even our teacher—who was terrifying when angry—seemed nervous.<br>Dad even took off work so he could come.<br>Our first class of the day was social studies, followed by science and math.<br>Whenever the teacher asked who knew an answer, I waved my hand over<br>my head like a crazy person and screamed, "Me, me, me!"<br>Dad watched as I breezily wrote the answer down on the blackboard.<br>In our final class, the students had to give a<br>presentation about the origins of our names.<br>Everyone seemed embarrassed by their parents'<br>reasons for choosing names.<br>But I was ready. The day before, Dad said they named me<br>Hina because it means "sunshine."<br><i>We wanted you to smile as brightly as the sun</i>, he'd said.<br>When I was finished, my teacher told me my name suited me perfectly.<br>"You <i>do</i> have a very bright smile! It always cheers me up."<br>My friends all agreed, and I felt like I was going to explode with pride.</p>
<p class="title">Chapter 3</p>
<p class="para">When I got to high school, our family underwent a seismic shift.<br>My parents got divorced.<br>We used to cook together on the weekend.<br>Go on trips together. Now everything was different.<br>I thought happy families like ours only got ripped apart in TV shows.<br>I ended up living with Dad.<br>He was mentally and emotionally broken,<br>and no longer smiled like he used to.<br>He'd just lay down and stare into space.<br>Even breathing seemed to cause him pain.<br>The people around me all worried about him.<br>Teachers. Counselors. Friends.<br>They constantly asked if I was doing okay,<br>and seemed to be searching for a way to connect with me.<br>But I just smiled and said everything was fine.<br>Even if it wasn't. Even if I was miserable.<br>Because as long as I kept smiling...<br>I thought there was a chance Dad would go back to his old self.</p>
<p class="title">Chapter 4</p>
<p class="para">The days following the divorce turned into weeks. Months.<br>I tried everything I could think of to get our<br>lives back, all while going to school.<br>I just wanted a life like everyone else.<br>But if Dad and I ever wanted to get there,<br>I was going to have to put in some serious work.<br>And I had no idea just how far we'd actually fallen.<br>One day, I was having a mindless chat with a friend on the phone.<br>We were gossiping about random things at school.<br>Near the end of the call, she got serious<br>and asked if everything was okay at home.<br>"Everything's fine!" I replied in a chipper voice.<br>I ended the call.<br>The screen went black.<br>I could see my reflection in its surface,<br>my face strained under the weight of a false smile.<br>And in that moment, I understood everything.<br>My parents chose my name because they<br>wanted me to smile as brightly as the sun.<br>But it quickly became a curse that bound me.<br>Because no matter how hard or painful my life...<br>Everyone expected me to have a brilliant, beaming smile on my face.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/hina">Back</a></p>