---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Hina</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Hina</p>
<p class="title"><a href="https://www.youtube.com/watch?v=kWhUsikaP7Y"><u>Video</u></a></p>
<img src="https://i.imgur.com/C6KBHQD.png">
<p class="title">Chapter 1</p>
<p class="para">In a metropolitan high school, there is a girl who is sociable, popular,<br>and a star student. While she may seem to enjoy the very picture of<br>an ideal youth, all that awaits her when she returns home to a rented<br>apartment is her unemployed father, and days of crushing poverty<br>as she struggles to make ends meet. Her mother,<br>whom her father is now divorced from,<br>was an extravagant spender and saddled him with<br>impossible debts that have left him a spiritually broken man.<br><br>Caring for her father, she starts cleaning the apartment.<br>Picking a photo off the floor and looking at it, she sees her<br>younger brother, who now lives with their mother.<br>She remembers a time when the family was together.<br>Happy. She crushes the photo in her fist and returns to her father's side.<br>No matter how difficult things get, she will<br>continue to smile for the sake of the father she loves so much.</p>
<p class="title">Chapter 2</p>
<p class="para">The girl runs down a city street. Though night,<br>the streets are bright with neon lights.<br>Her hood pulled over her eyes in an attempt to hide her face,<br>she enters a dingy alleyway away from any main streets.<br>There, she meets her client—a young man of college age.<br>After taking his money, she hands him a small bag containing illegal drugs.<br>Though it harms her conscience greatly, this is the secret<br>profession she has assumed so she might repay her family's<br>massive debt. All she wants is to live a quiet life with her<br>father, and she will risk everything for this one small wish.<br><br>Upon returning home, her father breaks into tears and speaks of the<br>shame he feels at not being able to provide his daughter<br>with the higher education she deserves.<br>As she offers her father words of comfort, cold rage accumulates in her<br>heart as she thinks about the person who shoulders the<br>blame for their terrible misfortune—her mother.</p>
<p class="title">Chapter 3</p>
<p class="para">The girl works a secret job to protect the life she has with her father.<br>Bearing the weight of her crimes in solitude she continues to go to school<br>as normal, but one day not long before graduation,<br>her school finds out about her secret job.<br>She is berated by her teachers, her offer to join an upstanding<br>company is rescinded, and she has been suspended.<br>All of her hard work has blown away like chaff in the wind, and on top of it all,<br>rumors about what she's done are spreading through the school like wildfire.<br>Having lost everything, she turns her mind over to darkness.<br>What keeps her going in this difficult time is thoughts of her father,<br>who has always been on her side no matter what.<br>Driven by a desire to continue smiling by her father's side,<br>she makes her way home.<br><br>However, what she sees upon returning home is beyond<br>her worst nightmares. The empty shell of her father swings<br>slowly in the gloom—he has taken his own life.<br>Her last ray of sunlight flickers and dies.<br>And as tears begin to form around the corner of her eyes,<br>she finds herself tumbling into an endless dark.</p>
<p class="title">Chapter 4</p>
<p class="para">The girl wakes from a strange dream in which she journeyed through<br>towers made of stone in order to change the past. Looking around,<br>she realizes that she is in her home in the real world.<br>Suddenly hearing a familiar voice, she hurries to the entrance and sees<br>her father with a kind smile on his face. And after she does,<br>she cannot help but bury her face in his chest and sob.<br>As her father gently stroked her hair,<br>she surrenders herself to this brief moment of happiness.<br><br>Having regained a normal life with her father, she enjoys the<br>kind of brilliant youth any high-schooler would aspire to...but it all<br>comes to a sudden end due to the actions of her younger brother.<br>She finally learns the truth: No matter how many times she rewrites the past,<br>her father will always be killed by her brother, and she herself<br>will always kill her mother due to the hatred she holds for her.<br>No matter how much she may pray, she wish to live<br>with her father will never come true. In order to bring<br>about her earnest wish for revenge, she once again makes for The Cage.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/hina">Back</a></p>