---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>DOD1 Story Side</title>
<!---DO NOT REMOVE LINE BELOW, WILL CRASH (I know it's framgent) - Karis-->
<framgent></framgent>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Drakengard Story Side</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/lordpopo">Lord Popo</a></p>
<p class="title">Chapter 2</p>
<p class="title">Angels feast upon blood.</p>
<img src="https://i.imgur.com/nQD5Xfs.png">
<p class="title">W.I.P.</p>
<p class="title">1</p>
<p class="para">It was no unforeseen disaster.<br>
Everyone in the village had long anticipated that this day would come.<br>
From the moment word spread on the wind — tales of soldiers with eerie red eyes ravaging the kingdoms, and of a mysterious group calling itself the “Church of the Angels” (“Cult of the Watchers”) settling in the nearby canyon — they had known.</p>
<p class="para">Their preparations had been thorough.<br>
Elves, by nature, were a gentle race, disinclined to conflict, and they would never wage war upon another nation by their own will. But when invaded, it was another matter entirely. They would yield to no one. Every villager, from the youngest child to the eldest, would stand together and fight.<br>
Such was the natural price of preserving neutrality among the warring nations that surrounded them.<br>
Those born in the elven village were taught the ways of the blade before they learned to read or write.</p>
<p class="para">Thus, when her husband seized his bow and, without hesitation, barked “To the forest!” before rushing out, Arioch did not panic.<br>
Flee deep into the woods.<br>
We will hold the bridges.<br>
Protect the children.<br>
That was what he meant.<br>
Quickly, she belted on her well-worn sword and thrust a bow into the hands of her young daughter.</p>
<p class="para">Yet still—<br>
She could not help but wish the attack had come just six months later.<br>
Her daughter had only just begun to learn the bow; she was far from ready to strike down an enemy, or even to defend herself.<br>
Arioch herself carried another child within her, her body ill-suited now for battle.<br>
If only they had had another six months—</p>
<p class="para">By then, her daughter would surely have been able to bring down an enemy soldier without difficulty.<br>
And she herself—she would have already given birth to the child she now carried.</p>
<p class="para">But it was pointless to dwell on what might have been.<br>
Arioch shook off the clinging threads of fear and seized her daughter's hand.<br>
The girl started to speak—"Mother..."—but quickly fell silent.<br>
Once a weapon was placed in your hands, you must not waste words.<br>
This too was something every child of the village was taught from the moment they could understand.</p>
<p class="para">“You’ll be fine.”<br>
Arioch forced a smile and began to walk briskly, pushing her way through the trees rather than using the paved paths.<br>
There were secret trails, known only to the villagers.<br>
Deep in the forest lay a labyrinthine network of caves, and the trails led there.</p>
<p class="para">Though the bridges were far behind them, a harsh, burning stench drifted on the wind.<br>
Arioch felt her daughter gasping for breath at her side, but even so, she quickened her pace.<br>
Beyond the two bridges that led into the village, countless magical wards had been placed, and the village men would not surrender them so easily.<br>
She knew this.<br>
And yet, the gnawing anxiety would not leave her.</p>
<p class="para">Suddenly—<br>
The sharp crack of a branch breaking.</p>
<p class="para">Arioch froze.<br>
Dull steel armor.<br>
Eyes the color of spilled blood.</p>
<p class="para">—Impossible.<br>
How could they be coming from the front?<br>
And four of them, no less.</p>
<p class="para">“Run! Now!”</p>
<p class="para">The panic lasted only an instant.<br>
Arioch shoved her daughter behind her and drew her sword in one fluid motion.<br>
She swept the blade before her.<br>
Thrust.<br>
Smash.</p>
<p class="para">One armored figure collapsed into the dirt.<br>
Three left.<br>
It wasn’t an impossible number to bring down.<br>
Another fell, staggering sideways.<br>
Arioch swung her sword downward, pressing her back against the thick trunk of an ancient tree.<br>
Two left.</p>
<p class="para">It happened then.<br>
A dull pain tore through her lower belly.<br>
Arioch’s hand faltered—only for an instant.<br>
But that instant was fatal.
</p>
<p class="para">A shock, almost like numbness, jolted through her arms.<br>
The sword was knocked from her grasp, flying from her hands.<br>
She twisted her body instinctively, but she was too slow.<br>
A searing pain flared along her left arm.</p>
<p class="para">Her hair was seized.<br>
Arioch struggled, trying to break free from the tightening grip.<br>
A sharp crack rang out—not the dry snap of a branch breaking, but something far uglier.<br>
She thought her arm had been broken.<br>
Even so, she thrashed, wrenching her head backward.</p>
<p class="para">And then—Arioch froze.</p>
<p class="para">Through her upside-down vision, she saw it.<br>
The arm of dull steel, clutching the child who should have fled.<br>
It wasn’t her own arm that had been broken.</p>
<p class="para">The little neck bent at an unnatural angle.<br>
The limp arms and legs dangling without strength.</p>
<p class="para">A scream shook the forest.</p>
<p class="para">—How much time had passed?<br>
How far she had run?<br>
Arioch could not remember a thing.</p>
<p class="para">"My... my child... where...?"</p>
<p class="para">The words slipped out between ragged breaths.<br>
The silence terrified her.</p>
<p class="para">"I have to find her... I have to..."</p>
<p class="para">Each step sent a dull throb through her belly.<br>
Blood ran down her legs.<br>
Still, Arioch stumbled forward.</p>
<p class="para">At some point, she realized she was clutching a sword in her right hand—a sword she didn’t recognize.<br>
<i>Where had it come from?</i></p>
<p class="para">"Where...? Where are you?"</p>
<p class="para">She must be scared, crying somewhere.<br>
She was a strong-willed girl—too strong for her own good, some said—but she was still far too young to bear separation from her mother without fear.</p>
<p class="para">"I'm coming.<br>
Don't cry. I'm coming."</p>
<p class="para">The dull pain sharpened, becoming a twisting agony, but she couldn’t afford to stop.<br>
Holding her abdomen with her left hand, using the unfamiliar sword as a cane, Arioch forced herself onward.</p>
<p class="para">"Where... am I?"</p>
<p class="para">It wasn’t the forest.<br>
It wasn’t her village.</p>
<p class="para">The land around her was nothing but fields, trampled and ruined.
It seemed she had wandered into a human settlement.</p>
<p class="para">She had to hurry.<br>
Her daughter had never stepped outside the village before, had never even seen a human merchant.<br>
To her, humans must seem no different from ogres.</p>
<p class="para">"Hurry... I have to hurry..."</p>
<p class="para">Ahead, a figure appeared in the road.<br>
A human.<br>
Maybe she could ask them.<br>
An elf child would be rare in a human village—<br>
surely they would know something.</p>
<p class="para">Staggering, yet still pushing herself to move faster, Arioch approached the figure.<br>
It was a woman.<br>
A human woman.<br>
Cradling a child.</p>
<p class="para">A child—?</p>
<p class="para">"A child..."</p>
<p class="para">Yes.<br>
That’s right.<br>
I’m looking for my child.</p>
<p class="para">"Give me... back my child..."</p>
<p class="para">The woman recoiled, fear flashing in her eyes.<br>
That was all Arioch needed to understand.<br>
This woman had stolen her child—</p>
<p class="para">"Give her back!"</p>
<p class="para">Arioch swung the sword down onto the woman’s shoulder.<br>
Still, the woman refused to let go of the child.</p>
<p class="para">"She's my child!"</p>
<p class="para">Tearing the small body from the woman’s arms,<br>
Arioch plunged the sword into the now unguarded chest.<br>
The woman fell backward, as if wanting to say something—<br>
but the words never came.</p>
<p class="para">The child let out a wail.</p>
<p class="para">"It’s all right now. You don't have to cry."</p>
<p class="para">But the child would not stop crying.</p>
<p class="para">"You poor thing... You must have been so scared."</p>
<p class="para">She hugged the child tightly.<br>
Tighter.<br>
Tighter still—<br>
with all the strength she had.</p>
<p class="para">There was a sickening sound.<br>
The sound of something breaking.<br>
She had heard that sound somewhere before—<br>
when her daughter had been killed.<br>
No—!<br>
She hadn’t been killed!<br>
She had just gotten a little lost.<br>
See?<br>
Here she was, safe in Arioch’s arms.</p>
<p class="para">"I won't let anyone kill you... I'll protect you."</p>
<p class="para">But how?<br>
This was no longer the forest.<br>
They were surrounded by enemies.<br>
How could she protect her?</p>
<p class="para">"I'll protect you."</p>
<p class="para">At some point, the child had gone quiet.</p>
<p class="para">"Good girl... That’s right.<br>
Mother is here.<br>
There's nothing to worry about."</p>
<p class="para"><i>That’s right.<br>
Go back into Mother’s belly.<br>
There, no one will ever be able to touch you.</i></p>
<p class="para">"Let’s become one.
My sweet baby."</p>
<p class="para"><i>I’ll never give birth to you again.<br>
Stay inside me, forever.<br>
The outside world is far too dangerous.</i></p>
<p class="para">She sank her teeth into the child's soft, white throat.<br>
Warm drops of life flooded into her.<br>
<i>I’ll protect you.<br>
I’ll never let you go.<br>
We will become one.</i></p>
<p class="para"><i>Soft flesh.<br>
Sweet—so sweet.<br>
Melt-in-your-mouth sweet.</i></p>
<p class="para"><i>Oh...</i><br>
<i>What was it I had been eating again?</i></p>
<p class="para">Eventually, Arioch rose to her feet.<br>
She wiped the blood from her mouth with the back of her hand, murmuring:</p>
<p class="para">Laughing aloud, Arioch began to walk again.</p>
<p class="title">2</p>
<p class="para">A dense forest stretched on without end. The trees, their leaves more black than green, seemed to block not only sunlight but all sound as well. No matter how far they walked, silence reigned over everything. There wasn’t even the presence of beasts—no cries of birds, not even a rustle of wings.</p>
<p class="para">Those who lived nearby found the stillness of this forest unsettling, and rarely dared to set foot inside.</p>
<p class="para">And yet, this forest path was the safest route to the elven village. Unlike open plains, the thick growth of the forest made it easy to stay hidden. If they were to encounter a large force, it would also be easier to fight back or flee. With only a limited number of soldiers assigned to guard them, the darkness and eeriness of the forest didn’t matter anymore.</p>
<p class="para">In fact, it had been several days since they left the castle, and there had been no sign of an Imperial attack. With about five days left in the journey, it was fair to say that Inuart’s choice had been the correct one.</p>
<p class="para">These past few days, Inuart had shown Caim a closeness reminiscent of their childhood.
    <br>Perhaps reuniting amidst enemies had turned out to be a blessing. Had they met again in a place untouched by war, they might not have been able to hide their awkwardness.
</p>
<p class="para">Caim’s silence, too, had helped maintain a calm atmosphere. With one side speaking and the other listening, there was no chance for an argument. The dragon could relay anything important. All in all, it felt like a light price to pay.</p>
<p class="para">Even Furiae, who had hardly spoken a word after fleeing the castle, now seemed to have regained at least a bit of her voice. Perhaps she had been soothed by the harp that Inuart played each night. That said, her expression remained unchanged. Whenever Caim recalled the shy, hesitant smile she had worn when they left their homeland together, he was struck with a sense of helpless sorrow.</p>
<p class="para">But then, he was no different. He couldn’t even remember the last time he’d laughed out loud. The rage he had never once let go of had devoured all other emotions. Even with the three of them together again just like old times, that rage still hadn’t faded.</p>
<p class="para">He and his sister had changed. They had forgotten how to laugh. Lost the words to speak to one another. More than the joy of reunion, it was the pain of what had been lost that weighed heavier now.</p>
<p class="para">“…Hey, Caim. If the Goddess dies, the world’s supposed to end, right? But for me… now that Furiae has ended up like this, it feels like the world has already ended.”</p>
<p class="para"><i>For me, it ended a long time ago.</i></p>
<p class="para">Even so, Caim gave a silent nod. Even peaceful conversation like this felt painful now. He wanted to return to the battlefield. He longed for those days of slaughter. Once Furiae was brought somewhere safe, he would head for the front lines. He would never see Inuart again. They no longer lived in the same world.</p>
<p class="para">As Inuart’s words passed by his ears, Caim’s thoughts were fixed entirely on war.</p>
<p class="para">It was when they were camping near a wide marsh. The dragon, which had been circling overhead, came down and landed.</p>
<p class="para">The soldiers all looked up at once. No one said anything—perhaps out of respect for Caim—but the fear of having a dragon so close was plain to see.</p>
<p class="para">“Is something wrong?”</p>
<p class="para">Inuart asked, a puzzled look on his face. Perhaps because she was Caim’s pact partner, he treated the dragon with extreme friendliness. As a result, speaking with her directly had become Inuart’s role.</p>
<p class="para"><strong><i>“The elven village was attacked.”</i></strong></p>
<p class="para">Inuart’s eyes widened. But Caim didn’t feel much surprise. It wasn’t unexpected. He knew too well the strength of the Empire. And more than that, he knew they were not bound by logic or reason. Even a neutral village—eternally neutral or not—was unlikely to be spared.</p>
<p class="para"><strong><i>“They are likely annihilated.”</i></strong></p>
<p class="para">“That’s absurd!”</p>
<p class="para"><strong><i>“We can feel the voices.”</i><strong></p>
<p class="para">“No way. If an eternally neutral village was attacked, it would throw the world’s balance into chaos… wouldn’t it?”</p>
<p class="para">Inuart looked at him, seeking agreement. But Caim quietly shook his head. He couldn’t hear them—but if the dragon had heard the voices, then it must be true. The elven village had been attacked by the Empire, and destroyed.</p>
<p class="para"><strong><i>“What now?”</i></strong> the dragon asked, gazing down at Caim.</p>
<p class="para">With the elven village already lost, he knew going there was pointless. But then—where else could they go?</p>
<p class="para">“I don’t believe it!”</p>
<p class="para">Inuart shouted.</p>
<p class="para">“It’s not like you actually went and saw it, right? I don’t care if it’s pact powers or whatever—until I see it with my own eyes, I’m not believing it!”</p>
<p class="para">Watching him, Caim thought—<i>it had always been like this. The more things turned against him, the more stubborn he got.</i></p>
<p class="para"><strong>——“What will you do?”</strong></p>
<p class="para">The dragon’s question was for Caim alone.</p>
<p class="para"><i>Let Inuart do as he likes. It’s not like we have anywhere else to go.</i></p>
<p class="para"><i><strong>——“Then do as you please.”</strong></i></p>
<p class="para">With a loud rustle, the dragon spread her wings. If Inuart had heard that condescending tone, he likely would have flown into a rage.</p>
<p class="para">“…Did something happen?”</p>
<p class="para">Furiae’s quiet voice came from behind. She must have heard Inuart shouting.</p>
<p class="para">“No, it’s nothing,”</p>
<p class="para">Inuart rushed over to her. The anger had already faded from his face.</p>
<p class="para">“You don’t need to worry. More importantly, shouldn’t you be lying down?”</p>
<p class="para">“No, I’m fine.”</p>
<p class="para">Her answer was calm, but her face was pale as paper.<br>
The agony brought on by the Seal followed her no matter where she went—<br>
as long as those letters clung to the body of the Goddess.</p>
<p class="para">“Don’t push yourself. You should rest.”</p>
<p class="para">He gently wrapped an arm around her and began to walk, but then paused and murmured:</p>
<p class="para">“I just want to take her somewhere she can finally rest easy…”/p>
<p class="para">The words seemed more for himself than for Furiae.</p>
<p class="para">“If I keep pushing her like this… Furiae will…”</p>
<p class="para">Caim gave a nod of understanding.<br>
Indeed, they couldn’t keep dragging Furiae along like this forever.<br>
With each passing day, the toll it took on her became more obvious.<br>
Even if she wasn’t walking, she was still like a critically ill patient.<br>
Traveling on horseback couldn’t be easy on her body.</p>
<p class="para">If only the skies were safe—it was hard not to think that.<br>
Flying with the dragon was incomparably faster than traveling by land.<br>
But in return, the danger was far greater.<br>
Imperial aerial units showed up with maddening frequency.<br>
For Caim alone, that wouldn’t be a problem, but flying with Furiae would be reckless.</p>
<p class="para">Before long, the sound of Inuart’s harp began drifting from the tent.</p>
<p class="para">The exact location of the blind elves’ village was, surprisingly, not well known.<br>
The cautious elves had surrounded their home with magical barriers<br>
and layered it with countless illusions.<br>
The forest wrapped around the village, and beyond that,<br>
two fast-flowing rivers encircled the area.<br>
Only two bridges led into the village, each guarded so strictly it was almost excessive.<br>
Merchants and peaceful travelers were allowed to cross and guided into the village—<br>
but it was said that none ever remembered the path afterward.</p>
<p class="para"><strong><i>“A strong barrier has been erected. I can no longer discern the voices.”</i></strong></p>
<p class="para">The dragon muttered this as she looked down on the forest below.<br>
After wiping out a unit of Imperial airships,<br>
they had taken the opportunity to scout the area from above.<br>
Even if they couldn’t see anything unusual,<br>
they figured they might locate it by following the voices.<br>
But the moment they neared the elves’ village,<br>
the dragon said she could no longer sense their direction.</p>
<p class="para">Caim strained his eyes, hoping to catch sight of scorched remains.<br>
The Empire’s attacks were always loud and crude.<br>
They overwhelmed their targets with sheer numbers,<br>
slaughtering everyone and burning everything to the ground—<br>
with no thought or strategy.<br>
Every town and village attacked became the same charred wasteland.</p>
<p class="para"><strong>
    <i>
“If I could see it, I’d not be struggling like this<br>
As long as the barrier remains active, no matter how hard you look<br>
it’s nothing more than a forest to the eye. If  the village were still ablaze, it might be another matter entirely”,</i></strong></p>
<p class="para">the dragon spat.<br>
The elves were said to be powerful magic users.<br>
And this was the barrier they had created.</p>
<p class="para"><strong><i>“…No. A small tear in the barrier near the ground.”</i></strong></p>
<p class="para">It was likely a breach caused when the Empire launched its assault.<br>
Though the idea of using a hole opened by Imperial soldiers was galling,<br>
circling in the sky was getting them nowhere.<br>
Caim couldn’t see it at all,<br>
but the dragon suddenly began descending straight down.</p>
<p class="para">What had looked like a mere line slowly thickened and turned into a river.<br>
A bridge came into view.<br>
Naturally, there were no guards to be seen.</p>
<p class="para"><strong><i>“It seems my wings won’t carry us any further.”</i></strong></p>
<p class="para">After several passes above the bridge, the dragon finally gave up and spoke.</p>
<p class="para">"Still, there’s definitely something lurking out there. Most likely Imperial soldiers."</p>
<p class="para">Caim’s gaze drifted across the bridge without much thought—then he frowned.<br>
Arrows stuck out everywhere, bloodstains were still fresh...<br>
and yet, not a single elf corpse was in sight.<br>
The bodies strewn along the riverbank were all Imperial soldiers.<br>
The elven guards should have been the first to fall—<br>
or had they abandoned their posts and fled?</p>
<p class="para">Suddenly, something darted across the edge of his vision.<br>
Imperial soldiers.<br>
The dragon banked slowly in the air and unleashed a breath of flame.<br>
They were well within range.<br>
Caim expected to see nothing but charred remains left behind.<br>
But—he thought he saw a figure moving within the blaze.</p>
<p class="para">He blinked in disbelief—<br>
and in the next instant, the impact struck.</p>
<p class="para"><strong><i>"Elven blood...!"</i></strong></p>
<p class="para">A green light came hurtling toward them.
The dragon twisted sharply and flapped her wings, soaring higher to evade it.</p>
<p class="para"><i>What the hell was that?</i></p>
<p class="para"><strong>
    <i>
"Elven blood can repel my flame.<br>
Smeared on armor, it renders all magic and spells useless."</i></strong></p>
<p class="para"><i>That must explain why there were no elf bodies on the bridge...</i></p>
<p class="para"><strong>
<i>
"They must have butchered the corpses on the spot,<br>
smeared their blood onto their armor—<br>
and dumped the remains into the river.<br>
If that’s the case, there’s almost no chance any survivors remain beyond this bridge."
</i>
</strong></p>
<p class="para">"Should we turn back?"</p>
<p class="para"><i>No. I'm heading for the village.</i></p>
<p class="para"><strong><i>"Pointless,"</strong></i><br>
the dragon scoffed, though she understood what Caim was thinking.<br>
She tilted her wings and began a steep dive once more.</p>
<p class="para">Inuart wasn’t going to listen to reason.<br>
Not until he saw the devastation with his own eyes.</p>
<p class="para">In that case, they needed to clear the danger first.<br>
They couldn’t charge in with Furiae and risk running into Imperial patrols.</p>
<p class="para">Up ahead, he spotted a suit of crimson-black armor.<br>
If flame and magic wouldn’t work, then he’d simply cut them down—armor and all.
Simple enough.</p>
<p class="para">It had been days since Caim fought on the ground.<br>
Feeling his hands ache for blood and flesh, he plunged straight into the enemy ranks.</p>
<p class="para">After crossing the bridge, finding the road to the village wasn’t difficult.<br>
Imperial corpses lay scattered like signposts along the way.<br>
Fortunately, the Empire didn’t bother clearing their dead.</p>
<p class="para">Still, the thought of Furiae following this same bloodstained path soured his mood.<br>
He didn’t want his frail sister to see this—<br>
to breathe the stench of death already beginning to rot the corpses.<br>
Even if she closed her eyes, the stench alone would be overwhelming.<br>
No, Furiae would walk this road without so much as a twitch of her brow—<br>
and imagining that was almost worse.</p>
<p class="para">He kept moving forward, scattering the occasional enemy soldier who leapt out to attack.<br>
Then, without warning, his body was hurled backward.</p>
<p class="para">He scrambled to his feet, still unsure what had happened.<br>
His left shoulder tingled, numb.<br>
Something else came flying at him—<br>
he dove to the ground and narrowly dodged it.</p>
<p class="para">Springing up into a defensive stance,<br>
he scanned the direction the attack had come from—<br>
but it wasn’t a soldier waiting for him.</p>
<p class="para">A figure in white stood there.</p>
<p class="para">The white figure raised its right hand—<br>
and a ball of fire shot toward him with a crackling sound.</p>
<p class="para"><i>So that’s what hit me earlier...</i></p>
<p class="para">This time, he dodged it easily, watching carefully.<br>
The caster needed time to gather power—<br>
there was a pause before they could fire again.</p>
<p class="para">Another fireball came.<br>
He dodged and closed the distance.<br>
The white figure lifted its hand once more—he slipped past it and struck.</p>
<p class="para">The white cloth fluttered into the air—<br>
and with another slash, the figure crumpled to the ground.<br>
The white robe darkened rapidly, soaking in blood.</p>
<p class="para">Most likely another Imperial pawn.<br>
It seemed the Empire had even recruited sorcerers now.</p>
<p class="para">Feeling gradually returning to his left arm, Caim allowed himself a bitter thought:<br>
he was lucky there had only been one.<br>
If he'd been surrounded by sorcerers, he might not have made it out alive.</p>
<p class="para">He scanned his surroundings,<br>
straining to catch the faintest hint of movement, of sound.<br>
Then he spotted it—<br>
a stone-paved path beginning a little ways ahead.</p>
<p class="para">It had to lead to the village.<br>
The sorcerer must have been posted here to guard the entrance.</p>
<p class="para">As expected, the village beyond was utterly destroyed.<br>
Just like always—the Empire’s method was slaughter first, then fire.<br>
The houses, the trees—everything had been burned to ash.</p>
<p class="para">It looked almost like a clearing carved into the heart of the dense forest.</p>
<p class="para">If the village’s illusions hadn’t been in place,<br>
the carnage would have been visible even from the skies.</p>
<p class="para">And yet—<br>
not a single elf body, not even a scrap of flesh, could be seen.</p>
<p class="para">Apparently, they hadn’t hacked apart the villagers here.</p>
<p class="para">Some buildings still remained, charred but standing—<br>
though every door and window had been smashed open.<br>
There was no sign of Imperial soldiers lying in wait.<br>
It seemed the enemy had finished their slaughter and pillaging, then moved on.</p>
<p class="para">But if that were true, why had a sorcerer been left behind at the entrance?</p>
<p class="para">"...Help me."</p>
<p class="para">A faint voice.</p>
<p class="para">Caim tensed, ears straining.<br>
The voice had come from a scorched building nearby.<br>
He heard something heavy fall to the floor.</p>
<p class="para">A blackened, soot-streaked hand peeked out from the stone hearth.</p>
<p class="para">There was a survivor.</p>
<p class="para">“The villagers... they were all taken…”</p>
<p class="para">Caim dragged the bloodied elf out from the fireplace and turned him onto his back. It was clear at a glance—this elf would soon no longer be the sole survivor.</p>
<p class="para">“A ravine nearby... the Church... of the Angels (Cult…of the Watchers)…”</p>
<p class="para"><i>The Church of the Angels (Cult of the Watchers)?</i> It had been the Empire that attacked the elves. Then it must have been the Empire that took them as well. But he could get no further answers. The dying elf convulsed once, twice—and then moved no more.</p>
<p class="para"><strong><i>——“What happened here? The barrier disappeared…”</i></strong></p>
<p class="para">The dragon’s voice echoed in his mind. Apparently, the reason the barrier had remained intact despite the devastation was because someone had survived. With the death of that last soul, its power was lost.</p>
<p class="para">Ignoring her voice, Caim continued searching the burned remains of the buildings. Perhaps sensing his intent, the dragon said nothing more.</p>
<p class="para">It was when he reached the edge of the village that he stopped. The area had likely once been a plaza. The corpse of an Imperial soldier lay sprawled across the ground. That alone was nothing unusual—but the body had been slashed into a cross, a sword rammed down through its open mouth. It wasn’t the work of a villager’s desperate resistance. It looked more like punishment... from his own comrades.</p>
<p class="para">As he turned to leave, something on the ground caught his eye—words written in blood. He remembered the strange blood markings that had surrounded the place where the dragon had been imprisoned. Those had been unreadable. But these—these, just barely, he could make out.</p>
<p class="para">Speak not of angels (watchers).<br>
Draw not the angels (watchers).<br>
Write not the angels (watchers).<br>
Sculpt not the angels (watchers)<br>
Sing not the angels (watchers).<br>
Call not the angels’ name (watchers’ name).</p>
<p class="para"><strong><i>——“What is this...?”</i></strong></p>
<p class="para">The dragon’s voice again. She had heard him reading it in his mind. Though she had recently learned not to “screech needlessly,” seeing something this strange had apparently drawn a reaction.</p>
<p class="para">This eerie chant was undoubtedly connected to the “Church of the Angel” that the elf had mentioned. But what did it mean? Why was it written here? He had no answers—only a visceral unease, a thick, oppressive sense of wrongness.</p>
<p class="para">Caim stood for a long time, staring down at the bloody scrawl.</p>
<p class="para">He reunited with Inuart and the others not long after. Watching his grim predictions come true, Caim found himself with a complicated mix of feelings.</p>
<p class="para">“It’s hell... It’s hell... I never thought... it could be like this…”</p>
<p class="para">Inuart fell to his knees, speechless. Beside him, Furiae stood in a daze. Both reactions had been exactly what Caim expected.</p>
<p class="para">“What are we supposed to do now…”</p>
<p class="para">Hearing Inuart mumble in shock, Caim couldn’t help but think—what a fortunate man he was. To live in a world like this and still preserve such childlike honesty and vulnerability... Perhaps that, too, was a kind of miracle.</p>
<p class="para"><strong><i>“A voice... from High Priest (Hierarch) Verdelet.”</i></strong></p>
<p class="para">The dragon’s voice drifted down from above. Perhaps because he’d only just started getting used to this manner of “speaking,” Caim—like with the voice from the elven village—could not hear the High Priest’s words himself.</p>
<p class="para">Inuart looked up at the sky, startled.</p>
<p class="para">“A voice...? Wait, is the High Priest a pact-partner too?”</p>
<p class="para"><strong><i>“His dragon has already turned to stone.”</i></strong></p>
<p class="para">A nightmare from five years ago resurfaced in Caim’s mind. Back then, he had left the town without waiting for the High Priest’s arrival. He hadn’t wanted to see the faces of the people who came to take away his only living relative. And to think—<i>that very High Priest was a pact-partner….</i></p>
<p class="para">The High Priest, sensing the crisis, has offered to take the Goddess into his protection.</p>
<p class="para">Now, however, the fact that the High Priest was a pact-partner came as something of a relief. He could entrust Furiae to him without worry.</p>
<p class="para">It was unfortunate that his contracted dragon had already turned to stone—but even so, the man would still possess strength on par with a battalion of the Union army. And as the highest-ranking member of that army, the High Priest would surely have a secure location suited for sheltering the Goddess.</p>
<p class="para">“I suppose… I really can’t protect you after all.”</p>
<p class="para">Inuart muttered bitterly, self-deprecating.</p>
<p class="para">“No. Your songs heal me.”</p>
<p class="para">“Songs are useless! I… I want strength.”</p>
<p class="para"><i>Do you want strength that badly? Even if it meant giving up that beautiful singing voice of yours?</i></p>
<p class="para">Caim loathed the way he looked at Inuart—his old friend—with such spiteful eyes. Perhaps it was envy. Envy toward someone who lived in a world so far removed from his own.</p>
<p class="para"><strong><i>“The High Priest is in the desert. Go there—quickly.”</i></strong></p>
<p class="para">“...Understood.”</p>
<p class="para"><i>I'm not going. From here on, we move separately.</i></p>
<p class="para"><strong><i>——“Are you certain of that?”</i></strong></p>
<p class="para"><i>Yeah. Tell Inuart for me. Furiae… I’m entrusting her to him.</i></p>
<p class="para">It wouldn’t take many days to reach the desert from here. The journey through the forest had proven relatively safe thus far. There was no need for him to accompany them. And besides—<i>that “Church of the Angels” still weighs on my mind.</i></p>
<p class="para"><strong><i>——“More angels, is it?”</i></strong></p>
<p class="para"><i>It’s said to lie in the canyon ahead. Not far. Should be easy to spot from above, right?</i></p>
<p class="para">——“Assuming there’s no barrier hiding it.”</p>
<p class="para"><i>Then I’ll search on foot. The ones who captured the elves are there. Fire probably won’t work on them anyway. Either way, I’ll have to fight on the ground.</i></p>
<p class="para">“Caim? You’re not coming?”</p>
<p class="para">Inuart turned, confused.</p>
<p class="para"><strong><i>“We’re going to investigate the area a bit more. Caim says he’s leaving Furiae in your care… <i>Don’t fail him.</i>”</i></strong></p>
<p class="para">Caim gave a wry smile inwardly. You didn’t need to say that. Well, fine. The dragon probably thought she was being considerate in her own way. She missed the mark, but it was almost endearing.</p>
<p class="para">“Brother…”</p>
<p class="para">Furiae slipped free from Inuart’s grasp and turned back.</p>
<p class="para">“Please take care.”</p>
<p class="para">Her gaze, directed at him without hesitation, pierced deeply. Their parting six years ago. The day of his journey. That accursed eighteenth birthday. All of it surged up at once—memories threatening to overwhelm him. He looked away without thinking.</p>
<p class="para"><i>Don’t look at me like that…</i></p>
<p class="para">Caim abruptly turned on his heel. Inuart could handle the rest. To keep facing those tied to his past—<i>that</i> was what pained him most.</p>
<p class="para">The dying elf had spoken of a “palace,” but what lay hidden deep in the canyon was nothing more than ruins. Long ago it may have been a temple or palace, but now only massive stone pillars remained.</p>
<p class="para"><strong><i>“The tastes of humans are incomprehensible. That they would shamelessly call this a palace…”</i></strong></p>
<p class="para">It was probably just that elf’s mistake. To have that error misunderstood as representative of all human taste would be… troublesome.</p>
<p class="para">Still, he couldn’t bring himself to argue. He felt it—that presence behind him. A fireball, surging close. He barely dodged in time and wheeled around.</p>
<p class="para">A white-robed figure stood before him, just like the ones he’d seen in the elf village. He already knew—aside from magic, they had nothing else.</p>
<p class="para">He charged and struck.</p>
<p class="para">That was the end of it. Just like last time, the white robe flared, and the body collapsed with the same sound. Eyes wide open in bitter regret. <i>Eyes? Red eyes?</i></p>
<p class="para">Caim leaned in to look at the corpse.</p>
<p class="para"><strong><i>“You noticed something about the eyes?”</i></strong></p>
<p class="para">He hadn’t realized it when he cut one down in the elf village—but they were the same as the Imperial soldiers’. This confirmed it: the Church of the Angels and the Empire were connected. The nature of that connection, though, he couldn’t begin to guess.</p>
<p class="para">He wandered through the ruins, but there was no sign of the captured elves. Nor of the enemy.</p>
<p class="para"><i><strong>“Too late…?”</strong></i></p>
<p class="para">There had been a token force of Imperial soldiers posted at the canyon’s entrance, but here, there was nothing. Not after taking down that sorcerer. No signs of people. No foul presence, either. All that remained were dark stains—blood, most likely belonging to the elves.</p>
<p class="para"><strong><i>“The blood is still fresh.”</i></strong></p>
<p class="para">That meant the elves had been here, but had been moved elsewhere not long ago. But why? Why would the Church of the Angels—or rather, the Imperial Army—go through such effort?</p>
<p class="para"><i>What do you think their goal is?</i></p>
<p class="para"><i><strong>“Why would I know? The thoughts of humans are so petty, so small, I cannot even begin to imagine them.”</strong></i></p>
<p class="para"><i>Should’ve known better than to ask this one…</i></p>
<p class="para">In any case, it was no cause for celebration that the group capturing elves was connected to the Empire. It meant that armor capable of repelling fire and magic would start appearing on battlefields in greater numbers.</p>
<p class="para"><i><strong>“A wasted trip.”</strong></i></p>
<p class="para">If only more Imperial soldiers had been left behind, it wouldn’t have ended in complete futility. Caim shook his head and started walking. But he stopped almost immediately.</p>
<p class="para">Someone was approaching. Not an enemy. Not one of his allies either. Even from a distance, it was clear the man was injured—staggering, but desperately trying to run. A civilian, probably a local. He didn’t appear to be armed.</p>
<p class="para">“Help… please, help me!”</p>
<p class="para">Once he got close enough for Caim to see his face, the man collapsed. Whether from exhaustion or relief, it was hard to say.</p>
<p class="para">“Our village…”</p>
<p class="para">The man forced his body upright, his face twisted in panic, and dragged himself toward Caim.</p>
<p class="para">“…was attacked—“</p>
<p class="para"><i>By the Empire?</i> At those words, Caim rushed over to him. That meant Imperial troops were nearby.</p>
<p class="para">“Help… me…”</p>
<p class="para">The man clung to his leg.</p>
<p class="para">“Three days east… from here… Faerie… Valley…”</p>
<p class="para">That was all he needed to know. But the man clung to Caim’s leg persistently. He must’ve taken the silence as a refusal.</p>
<p class="para">“Please…”</p>
<p class="para">Caim kicked the man off. He was in the way. There was no need to be asked—if it was the Empire, he was more than happy to oblige.</p>
<p class="para"><strong><i>——“Are you going to save them…? Or to kill them?”</i></strong></p>
<p class="para"><i>Obviously. Don’t ask questions you already know the answer to.</i></p>
<p class="para">He felt a smile tug at his lips. The man behind him seemed to say something more, but Caim no longer heard it.</p>
<p class="title">3</p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
<p class="para"></p>
