---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>DOD1 Story Side</title>
<!---DO NOT REMOVE LINE BELOW, WILL CRASH (I know it's framgent) - Karis-->
<framgent></framgent>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Drakengard Story Side</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/lordpopo">Lord Popo</a></p>
<p class="title">Chapter 2</p>
<p class="title">Angels feast upon blood.</p>
<img src="https://i.imgur.com/nQD5Xfs.png">
