---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Gayle's Costumes</title>
<style>
    img{
        -webkit-filter: brightness(100%);
        padding: 0%;
        max-width: 192px;
        max-height: 192px;
        min-width: 192px;
        min-height: 192px;
    }
    img:hover{
        -webkit-filter: brightness(70%);
        transform: scale(98%);
    }

  .para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
@media screen and (min-width: 1921px) {
  .Guide {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto auto;
  gap: 3%;
}
}
</style>
<p style="margin-top: 1cm; font-size: 300%;">Rion's Costumes</p>

<div class="over">
<div class="Guide">
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/wounded-hunter"><img src="https://i.imgur.com/E1fL1L8.png">Wounded Hunter</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/dissenting-hunter"><img src="https://i.imgur.com/vTWQkSS.png">Dissenting Hunter</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/guardian-hunter"><img src="https://i.imgur.com/VNoZ1Xo.png">Guardian Hunter</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/summer-hunter"><img src="https://i.imgur.com/usIwqzY.png">Summer Hunter</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/yuletide-hunter"><img src="https://i.imgur.com/3LeRTOS.png">Yuletide Hunter</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/abstract-hunter"><img src="https://i.imgur.com/E9FkYeX.png">Abstract Hunter</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/bloody-hunter"><img src="https://i.imgur.com/Kf2LVcX.png">Bloody Hunter</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/festive-hunter"><img src="https://i.imgur.com/wPjhXMw.png">Festive Hunter</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/celebratory-hunter"><img src="https://i.imgur.com/WORLS7n.png">Celebratory Hunter</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/fractured-hunter"><img src="https://i.imgur.com/zWeb7sG.png">Fractured Hunter</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/new-years-hunter"><img src="https://i.imgur.com/wID2HTh.png">New Year's Hunter</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/abyssal-hunter"><img src="https://i.imgur.com/PwLq3II.png">Abyssal Hunter</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/mechanical-hunter"><img src="https://i.imgur.com/GpKKs3r.png">Mechanical Hunter</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/reborn-contractor"><img src="https://i.imgur.com/4VPoenV.png">Reborn Contractor</a></p>
<p class="title"><a href="/stories/reincarnation/characters/s1/gayle/costumes/f-h-contractor"><img src="https://i.imgur.com/K7eVDf5.png">F-H Contractor</a></p>
</div>
</div>
<br><br><br><br>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/rion">Back</a></p>