---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Gayle's Dark Memory</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Gayle's Frozen Heart</p>
<p class="title"><a href="https://www.youtube.com/watch?v=SgXyAzF1MzY"><u>Video</u></a></p>
<img src="https://i.imgur.com/r58GBMa.png">
<p class="title">Chapter 1</p>
<p class="para">Once, there was a pair of beautiful sisters who lived in the woods.
<br><br>They supported one another after the death of their parents,
and spent their days in happiness and peace.
<br><br>The younger lived for the elder, and the elder for the younger.</p>
<p class="para">......
<br>.........
<br>............</p>
<p class="para">A town burns with the crimson fires of war.
<br><br>The woman marches through the flames in search of her younger sister.
<br><br>Each step causes her body—which is half-machine—to shudder with pain.
<br><br>The kingdom wars to make the world its own.
<br><br>When they capture citizens from opposing countries,
they modify their bodies into mechanized weapons of slaughter
they then use to feed their own endless ambitions.
<br><br>The sisters were made fodder for a process called "the sorting."
<br><br>The elder proved more compatible,
and has now obtained great power from the machinery grafted onto her body.
<br><br>Her sister, however⁠...
<br><br>"HEE HEE! KILL! KILL! I WANT TO KIIIIIILL!"
<br><br>Unable to withstand such cruel experimentation,
the girl's mind shattered, leaving behind a weapon
that indiscriminately killed everything in sight.
<br><br>"Bah! A despicable failure!"
<br><br>Eventually, the blade of a kingdom soldier ended
the girl's experiment—and her life.
<br><br>This is how the kingdom took everything from the elder sister.
<br><br>Her home. Her forest. ...Her family.
<br>After barely escaping with her life, the woman managed to drag herself back to the
char<br>red remains of her home, where she secreted herself away to mourn.
<br><br>So much time has passed since that day.
<br><br>Seeking revenge on the kingdom, she hones her power,
hunting their soldiers everywhere they can be found.
<br><br>Any small moment of respite in this bloody life is filled with thoughts of the sister she has lost.
<br><br>The face in her memory does not smile. Nor does she cry.
<br><br>She only lies in a pool of her own blood as a town burns,
passing from this life in endless moments of horrific agony.
<br><br>The woman could do nothing that day save escape;
even her sister's body was left behind.
<br><br>And while she doubts the body is still there, the thought of it consumes her.
<br><br><i>She deserves a funeral. A proper burial. I can at least do that much for her.
</i><br><br>And so, she decides to return to that dreadful place once more.</p>
<p class="para">......
<br>.........
<br>...........</p>
<p class="para">A solemn air hangs over the town.
<br><br>Traces of battle are everywhere.
<br><br>With the citizens all dead or fled, the kingdom now uses it as a military base.
<br><br>Soldiers swagger about. Rotting bodies lie motionless in dark corners.
<br><br>The woman leaves no trace as she ventures through the town's gruesome battle scars.
<br><br>Her objective is the place where her sister lost her life.
<br><br>Though her body is likely gone, she hopes to find at least one memento of her.
<br><br>She makes her way slowly, avoiding patrols, until arriving at her destination.
<br><br>Until this point, the town has been exactly as she remembered it. But then...
<br><br>"...No. Oh no."
<br><br>In that moment, panic becomes her world.
<br><br>Before her is a sight that does not match her memories.
<br><br>What was once the ruins of regular civilian homes is now a pure
<br><br>white structure seemingly hewn from a single piece of material.
<br><br>And it sits precisely on the spot where her sister's body fell.
<br><br>It is as though a tower from an alien civilization
has suddenly sprouted on the site of her tragedy.
<br><br>The structure's streamlined walls make it the most awe-inspiring thing
she has ever seen. It is a foreign sight in this place—a single
moment of beauty amidst a world of death.
<br><br>With great caution, she glances around.
<br><br>She spies two soldiers emerging from what looks to be a crevice in the building.
<br><br>An entrance.
<br><br>Without a second thought, she begins to follow, straining to overhear their words.
<br><br>"Analysis of...corpse...well. Best case...kingdom's
military strength will...leaps and bounds..."
<br><br>Their words are a horror. If the kingdom was to find
more power, the fires of war would only spread.
<br><br>The woman would do anything to stop that.
<br><br>But what worries her more is the word "corpse."
<br><br>Perhaps it is no coincidence this facility sits atop
many corpses—including her sister's.
<br><br>As she watches the two soldiers depart, she considers her next move.
<br><br>Sneaking inside the structure would be a massive risk.
<br><br>And yet, the soldiers mentioned a corpse.
<br><br>She cannot ignore this possibility.
<br><br>So she steels her resolve and makes her way
into the dim interior of the amazing building.</p>
<img src="https://i.imgur.com/lEkRkzR.png">
<p class="title">Chapter 2</p>
<p class="para">A terrible human experimentation known as "the sorting"
has turned prisoners into modified killing machines.
<br><br>The woman, a survivor of the sorting, harbors one sole regret:
<br><br>She abandoned the corpse of her sister in a town consumed by the fires of war.
<br><br>The woman now finds herself back in the place where her sister fell,
hoping to reclaim her so she might offer up a proper burial.
<br><br>Yet when she reaches her sister's resting place, she encounters a bizarre building.
<br><br>A building she now makes her way through.
<br><br>The inside is cluttered with complicated dials and gauges.
<br><br>It is clearly some manner of research facility.
<i><br><br>But what kind of research, exactly? the woman wonders.
<br><br>The corpse.</i>
<br><br>The words of the kingdom soldier replay in her mind.
<br><br>She knows not what sort of corpse it is, but thinking of it creates an odd buzz in her chest.
<br><br>She avoids the watchful gaze of kingdom soldiers as she ventures into the deepest part of the building.
<br><br>At the end, she discovers a long, narrow room that stretches so far away she cannot see the end.
<br><br>While the room is too dark to make anything out clearly,
she notes that numerous tall structures line either side.
<br><br>She examines one of the structures and sees it is a water tank with a small window on the front.
<br><br>Inside is a woman, sleeping as though in a cradle.
<br><br>Half of her is covered in machinery; she has been sorted.
<br><br>Dull, silver limbs glint in dim light as the body gently sloshes back and forth in the tank.
<i><br><br>This is impossible.... There's so many.
</i><br><br>Each tank contains a person who has been subjected to the sorting.
<br><br>Most are children⁠ not much older than her sister.
<br><br>And though the woman knows it would be wise to leave them be,
her hand drifts to the tank of its own accord.
<br><br>She grasps the handle on the tank door, but not even the power of her prosthetic arm can budge it.
<br><br>As she searches high and low for some other way to open it, a new thought crosses her mind:
<i><br><br>Wait. Are they...dead?
</i><br><br>Each of the sorted bears what appears to be a fatal wound.
<br><br>The wounds are so deep—so horrendous—it is doubtful the
bearers could live even with mechanical bodies.
<br><br>Extracting them from the tanks may not save them.
<br><br>As the woman considers this, a loud, sudden beep rings out.
<br><br>The tanks begins to glow a bright red, flooding the room with color.
<br><br>Understanding this to be an emergency, the woman hides herself in the shadows.
<br><br>Either she has been discovered, or something is wrong in the facility.
<br><br>Her eyes scan the room with great caution when she suddenly hears something:
<br><br>"Help me..."
<br><br>It is an impossible voice.
<br><br>One that should have been lost after going through sorting and being abandoned in this burning town.
<i><br><br>No. You're losing it. This isn't happening.
</i><br><br>And yet, the woman leaves her hiding place and moves toward the voice's siren call.
<br><br>The tank in the center of the room glows brighter than the rest.
<br><br>The woman still sees flashes of her sister whenever she closes her eyes. But now they are open.
<br><br>And yet, her beloved sister—looking just as she did on her final day—is suspended within the tank.
<br><br>"Help me..."
<br><br>The girl's pleading words emerge from an acoustic device fitted on the tank.
<br><br>Dazed, the woman begins to speak.
<br><br>"I thought...you died."
<br><br>The sister's voice is faint. She speaks slowly. But it is her.
<br><br>"Heya, Sis... I knew...you'd come for me..."
<br><br>This is enemy territory.
<br><br>The woman must be alert—must doubt everything she sees and hears.
<br><br>Yet her sister's voice punches vast holes in her usually unshakable guard.
<i><br><br>Why is she alive? Why is she being held here?
</i><br><br>As if answering these questions, the girl begins to speak.
<br><br>Those who failed the sorting have been gathered here
for further experiments of almost unfathomable cruelty.
<br><br>They are abused. Tortured. Mutilated. Treated no better than a rat in a cage.
<br><br>All so the kingdom might have the soldiers it so greedily desires.
<br><br>And now, her sister is set to go through a process called a "soul transfer."
<br><br>Some people had their bodies broken by the sorting. Others, their spirits.
<br><br>Though each of these cases are considered failures,
the kingdom believes there might be a way to match a compatible
body with another compatible soul.
<br><br>The kingdom does not treat these people as such. Rather,
they intend to dismantle their bodies and souls and rearrange them to their own liking.
<br><br>It is a <i>horror</i>.
<br><br>"They're trying to brainwash me," continues the girl. "And once
<br><br>I'm completely loyal to the kingdom, they'll put my soul in someone else's body."
<br><br>The thought creates such fury in the woman that she begins to tremble.
<br><br>"It's all right," she says. "I'm going to get you out of there."
<br><br>If the door to the tank will not open, she will simply destroy it.
<br><br>She takes weapon in hand and prepares to strike, but then...
<br><br>"Thanks, Sis... Now I can finally rest..."
<br><br>The woman freezes. She pries into the meaning behind her sister's
ominous words while the younger girl waits quietly. No fear. No sadness. Simply a moment in time.
<br><br>Her sister is being kept alive by a combination of mechanical parts and the tank.
<br><br>If she is removed, she will not live out the day.
<br><br>Anger and sadness overwhelms the woman as she bites into her lip.
<br><br>To finally be reunited only to be torn away again is a fate beyond words.
<br><br>And yet, she cannot give up. Her sister is here.
<br><br>She is right here—and the woman would give <i>everything</i> to save her.
<br><br>As that thought crosses her mind, so does a flash of inspiration.
<br><br>If she can utilize the experiments taking place in this facility and transfer
her sister's soul into her own body, she might yet be saved.
<br><br>But the younger sister instantly rejects this idea.
<br><br>Only one soul can exist in a body.
<br><br>If her sister's soul is transferred, the woman will cease to exist.
<br><br>"Also," continues the girl weakly, "they haven't even made a successful transfer yet.
<br><br>If we try it, we'll probably both end up dead."
<br><br>And yet, the woman cares not; she gently places her hand on the tank and nods once.
<br><br>"But Sis... Why would you⁠...?"
<br><br>"Because you are my sun," whispers the woman.
<br><br>After losing their parents, the sisters supported each other through thick and thin.
<br><br>The elder sacrificed her own happiness to watch after the
younger like a mother—a choice many others found pitiable.
<br><br>And yet, the woman knows that without her sister,
she would have surrendered to the dark long ago.
<br><br>Her sister is her entire reason for living.
<br><br>"Let me do this, Sis. Please."
<br><br>For the woman knows this above all else:
<br><br>Sacrificing her own life is an acceptable price to save the person she holds most dear.</p>
<img src="https://i.imgur.com/aasABPD.png">
<p class="title">Chapter 3</p>
<p class="para">A strange building stands in the middle of a kingdom military compound.
<br><br>The woman snuck inside only to find her beloved little sister suspended in a tank.
<br><br>The girl has been kept alive so she might be used as a subject for kingdom experiments.
<br><br>"Use my body," pleads the woman. <i>"Please."</i>
<br><br>If her little sister were to be removed from the tank, she would perish within the day.
<br><br>So the woman devises a plan.
<br><br>The kingdom has been conducting inhuman experiments⁠:
moving souls into bodies that are not their own.
<br><br>She seeks to use this technology to bring her sister's soul into herself.
<br><br>Yet two souls cannot exist in one body. If she accepts her sister,
the woman will disappear. She knows this.
<br><br>And yet, she would rather die than abandon her again.
<br><br>"Please say yes," the woman pleads quietly. "Please."
<br><br>The light on the machine shifts, changing its hue.
<br><br>A bowl-shaped apparatus the size of a human skull appears.
<br><br>Numerous wires stretch from the device, connecting it to the tank.
<br><br>Giving in to her elder sister's persistence, the younger has finally opened the input to her mind.
<br><br>"I might be able to use this to put my soul into your body," says the sister.
<br><br>"But once I do, you will—"
<br><br>"I know," says the woman.
<br><br>"I know. And it's fine."
<br><br>The woman operates the apparatus according to her sister's instructions,
<br><br>which are delivered in a quivering voice.
<br><br>She places it atop her head and activates the transfer program.
<br><br>Slowly, her consciousness begins to fade.
<br><br>"Leave the rest to me," says the younger sister.
<br<br>>Her sister's voice is fleeting, but kind.
<br><br><i>I would give my everything for her,</i> thinks the woman as she slowly slips into the dark.</p>
<p class="para">......
<br>.........
<br>............</p>
<p class="para">As consciousness returns to the woman, she snaps into a seated position.
<br><br>Cautious, she scans her surroundings.
<br><br>"I'm..."
<br><br>What she sees before her is not the strange room filled with tanks. Instead,
she is in her forest home—the selfsame one the kingdom put to the torch.
<br><br>It looks just as it did during the days she would go hunting with her sister.
<br><br><i>Am I dead?</i>, the woman wonders.<i> Is this the afterlife?</i>
<br><br>"Hey, Sis."
<br><br>A voice from behind sends a shiver down her spine.
<br><br>It is a <i>real</i> voice—one without the tinny quality that comes from a speaker.
<br><br><i>This can't be happening.</i>
<br><br>For as many times as she has imagined their reunion, it was never like <i>this</i>.
<br><br>She turns around and sees her sister standing before her, her hair as dark as night.
<br><br>She looks just as she did before the sorting.
<br><br>And her body is unmodified.
<br><br>"I'm dead," says the woman. "Right?"
<br><br>By transferring her sister's soul into her body, her very existence should have vanished. And yet...
<br><br>"No. Not yet. This is the inside of your consciousness. My soul's trying to make its way into your body."
<br><br>Not dead, then. Hanging on. Sharing a few final moments before surrendering herself utterly.
<br><br>The woman grasps tight to whatever she can of this miraculous moment.
<br><br>"I'm so glad you're alive," the woman says.
<br><br>"Yeah."
<br><br>"Now use my body and get out of that building."
<br><br>"Okay."
<br><br>The woman doesn't care what happens so long as her sister can escape.
<br><br>And yet, the girl's responses are...troubling.
<br><br>At first, the woman figures she's just bewildered by the strange situation,
but that thought quickly shakes free.
<br><br>"I'm okay," says the woman. "Don't worry about me."
<br><br>She hopes comforting her sister in this way will ease her troubled look.
<br><br>But her expression only clouds further.
<br><br>"Is there something you want to tell me?" asks the woman.
<br><br>Her sister slowly nods.
<br><br>"The girl you were talking to earlier? That <i>was</i> me...and yet it wasn't.
<br><br>I'm beingcontrolled—and I'm acting to prioritize my own survival as a weapon."
<i><br><br>Weapon. Controlled. My own survival.</i>
<br><br>The words instantly cause ripples through the woman's heart.
<br><br>The girl goes on to tell her that she was forced to speak and act as she
did so the weapon part of her—the sorted part—could claim her sister's body.
<br><br>The code incorporated into that side of her prioritizes survival above all else—including her will.
<br><br>Her sister mentioned the kingdom brainwashing test subjects
before attempting to move their souls into compatible bodies.
<br><br>In that moment, the woman realizes her sister has fallen under their sway.
<br><br>All she said earlier—every word—was naught but a way for her to use the woman for her own survival.
<br><br>"But I can think straight here," says the girl.
<br><br>"For just this small moment, I can say what I really think."
<br><br>Grief passes across her face, a ripple in a pond.
<br><br>"I don't want this," continues the girl. "Because if I come back to life..."
<br><br>She doesn't want to sacrifice her older sister in order to survive.
<br><br>And yet, there is another reason why she cannot come back.
<br><br>For if the girl's soul does find a new home, it means the kingdom's
experiment is a success—and that will only lead them to increase the sorting.
<br><br>The casualties from such an event would be unspeakable.
<br><br>For two sisters who have been torn apart by war, such a thing cannot come to pass.
<br><br>"So kill me, Sis. Kill me and burn this horrible place to the ground."
<br><br>Does she bring her little sister back to life?
<br><br>Or does she sacrifice her to stop the kingdom?
<br><br>The choice is extreme. Agonizing. Impossible.
<br><br>The woman cannot stand seeing her sister beg for death.
<br><br>She cannot lose her again.
<br><br>And yet, she has already made up her mind.
<br><br>Memories flash before her eyes. Running across fields.
<br><br>Dashing through forests. Carefree days spent in the love and comfort of each other.
<br><br>She will never lose her sister. <i>She cannot.</i>
<br><br>For she is her other half—a thing more precious than her own self.
<br><br>With this thought in her mind, she wraps the smaller girl with ebon hair into a fearsome embrace.</p>
<img src="https://i.imgur.com/Ev06wh6.png">
<p class="title">Chapter 4</p>
<p class="para">A kingdom research facility stands proud.
<br><br>Inside, a woman reunited with her sister—a girl trapped in a
tank and subjected to horrible experiments.
<br><br>The woman thought to transfer her sister's soul into her
own body in order to save her.
<br><br>She cared not that the process would result in her own death.
<br><br>But when they reunite in the realm of subconsciousness,
the younger pleads for her to do otherwise.
<br><br>"Kill me," she says. "Destroy the facility. Prevent the fires of war from spreading.
<br><br>And kill every last kingdom soldier you can find."
<br><br>With that, the woman bids farewell to her sister and her memory,
and leaves the subconscious world behind.
<br><br>When she awakens, she finds herself in the middle of a long room lined with tanks.
<br><br>It resembles little more than a dim and dusty graveyard.
<br><br>She distractedly wipes away the tears streaming down her cheeks and takes blade in hand.
<br><br>Her mission is to lay her sister to eternal rest.
<br><br>And to do so, she must destroy the facility and everything in it.
<br><br>It is a mission she wants desperately to refuse.
<br><br>But she cannot permit the tragedy bestowed upon her family to visit anyone else.
<br><br><i>"Thanks, Sis..."</i>
<br><br>Her sister's last words—and the sensation of their final
embrace—etch themselves on the woman's heart.
<br><br>These things are strands of a gossamer web
that will lead her free of the hell which is to come.
<br><br>"Why, Sis?! Why!?"
<br><br>A voice from the speaker cuts off her thoughts.
<br><br>It comes from the tank where her sister floats.
<br><br>"I thought you were going to save me!"
<br><br>But the woman knows why she says these things.
<br><br>For she has heard her sister's true voice within her subconsciousness.
<br><br>These are false words spoken on behalf of the kingdom.
<br><br>The woman knows this. She knows it.
<br><br>And yet, her heart quivers all the same.
<br><br>Her sister says something else, then—a plea to be kept safe as she always has been.
<br><br>The woman presses both of her hands to her ears so she cannot hear.
<br><br>Then she quietly pierces the tank with her blade.
<br><br>"Thank you..."
<br><br>The girl's final words are not electronic. Not tainted.
<br><br>They reach the woman's heart in their purest state.
<br><br>Or at least, she feels it to be so.
<br><br>"I'm sorry," whispers the woman.
<br><br>Her face is frozen. Ice. But the apology is so, so real.
<br><br>With the destruction of the first tank, the others flash a sympathetic red as an alarm begins to wail.
<br><br>The quiet space is soon filled with kingdom soldiers.
<br><br>They had been lying in wait until the younger sister's soul was successfully transferred.
<br><br>But now that it has failed, there is no reason for secrecy.
<br><br>The prosthetic woman uses every ounce of her power to fight them,
knowing it will all be for naught should she lose.
<br><br>One by one, she strikes them down.
<br><br>With each body that falls, pieces of the complicated feelings regarding her actions begin to break away.
<br><br>As the lives of her enemies are snuffed out, so too is her sadness and pain.
<br><br>And once the final soldier is no more, all that remains is <i>rage</i>.
<br><br>The facility soon finds itself engulfed in those flames.
<br><br>Researchers desperately attempt to flee for their lives,
dancing merry jigs of death as fire clings to their clothes.
<br><br>It is unlikely the sorting technology will improve
now—at least until another attempts to revive the research.</p>
<p class="para">......
<br>.........
<br>............</p>
<p class="para">Days after the woman fled the facility with her sister's
body cradled in her arms, she finally arrives home.
<br><br>Her mother. Her father. Her sister. All are gone now. All are slain.
<br><br>She is all that remains.
<br><br>The dirt that lies atop her sister's freshly buried body is
darker than the rest of the surrounding earth.
<br><br>Her mother's hairpin gently sways in the wind atop the grave.
<br><br>As the prosthetic woman sits beside her slumbering sister, she begins to speak.
<br><br>"You don't have to watch over me."
<br><br>The path she will embark upon is one stained with
blood—and something she would rather her sister not see.
<br><br>"So just rest now. Okay?"
<br><br>Until that moment, the woman has worn a calm expression.
<br><br>But when she finishes speaking, she unleashes a wail that startles birds into flight.
<br><br>It is a sound borne not of grief, but of fury.
<br><br>And as it echoes and vanishes around her, she makes a vow.
<br><br>She will bury all her love along with her sister. All her joy. All her heart.
<br><br>The only thing she will take with her is the anger she needs to destroy the kingdom.
<br><br>She looks up and lets small droplets fall on her cheeks.
<br><br>The sky is shedding the tears which she cannot.
<br><br>The earth covering the fresh grave begins to blend with the soil around it,
until it is impossible to tell anything new is even there.
<br><br>By the time the rain stops, the woman is gone.
<br><br>And she will not return until her rage has been satisfied.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s1/gayle">Back</a></p>