---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
import TextLayout from "@/layouts/TextLayout.astro"
---

<TextLayout>
</TextLayout>
<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Bug Report
        </a>
      </li>
    </ul>
  </div>
</nav>
<style>
  .para{
  display: inline-block;
  height:auto;
  text-size-adjust: auto;
  margin-bottom: 1%;
    margin-top: 0.6cm;
  margin-left: 8%;
  margin-right: 8%;
  letter-spacing: 0.17rem;
  font-size: 115%;

}
div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
}
}
</style>

<div class="over">
<div class="Guide">
<p class="title"><a href="/stories/drakengard-2/creator-commentary/looking-back-2">
    Looking Back<img class="art" src="https://i.imgur.com/OSxdGkN.png"></a></p>
<p class="title"><a href="/stories/drakengard-2/creator-commentary/questions-and-answers-2">
    Questions & Answers<img class="art" src="https://i.imgur.com/i6O3Iub.png"></a></p>
</div>
</div>

    <p class="line"></p>
    <p class="menu"><a href="/stories/drakengard-2">Back</a></p>