---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Seven Words</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Seven Words</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<p class="line"></p>
<p class="title">Foreword</p>
<p class="para">My sisters, the lords that have exploited these lands are no more, and I understand the quest to root out stragglers is going well. However, you must remain ever watchful, for the defeat of our foes does not end our work. We must prevent new lords from rising up, and we must defeat the traitorous Zero. To do this, we must build—and then nurture—our powers. And since I am putting thoughts to paper now, I wanted to write out the seven words we Intoners must know.</p>
<p class="line"></p>
<p class="title">The first word we must know is "cooperation."</p>
<p class="para">We Intoners possess immeasurable power. This, I am afraid, may lead you to place too much trust in yourselves. (And as we know, there is no power that does not fail its owner sooner or later.) But if we five combine our powers, I believe we can overcome anything. And if our own power is not enough, we can call on the strength of our allies, of the people who amass at our side. They may be singularly weak, but combined, they can blaze a trail to the future.</p>
<p class="line"></p>
<p class="title">The second word you must know is "strength."</p>
<p class="para">No matter what you believe or how just such belief may be, it cannot come to fruition without the power to make it so. Never cease polishing your skills with sword and song. Never cease inventing new strategies to battle. Think about how to make your nation stronger as a whole. Develop weaponry and train your soldiers. Above all, always be ready to wage war for what you believe.</p>
<p class="line"></p>
<p class="title">The third word we must know is "wealth."</p>
<p class="para">Powerful though you may be in battle, your people cannot survive without a prosperous nation to rely upon. Retain always a bountiful supply of the food and resources needed for life, for they are vital in developing your nation. Remember that true wealth cannot be taken—it must be grown. Tend crops. Raise animals. Find new lands. Engage in trade. And above all, do not concentrate your wealth in one area, but instead share it with everyone in your land.</p>
<p class="line"></p>
<p class="title">The fourth word we must know is "wisdom."</p>
<p class="para">We must study writings of the past, for the collected wisdom of those who came before lies within. And we must also study our world and the people we share it with, so as to be ever mindful of how little we truly understand of it. As the leaders of this world, we must establish houses of learning across the land. Wisdom is a powerful tool that enables people to consider the future, and laying the groundwork for it is among an Intoner's most sacred duties.</p>
<p class="line"></p>
<p class="title">The fifth word we must know is "law."</p>
<p class="para">The world is not filled with one kind of spirit. Some of the more foolish ones commit crimes, and there is a need to judge them for it. But we must not allow people to condemn others based on passing fancies—instead, the rule of law must be fitting and proper. The ability to judge all on equal footing is the only basis on which we can guide the world to its proper destiny. And finally, remember that all can choose the wrong path from time to time—even Intoners.</p>
<p class="line"></p>
<p class="title">The sixth word we must know is "justice."</p>
<p class="para">This is vital. As leaders and Intoners, we must build a palpably improved world. And to achieve that, we must have resolute and unshakable faith in our sense of justice. We must not give in to our own selfish interests. We must not ignore those who are suffering. We must not overlook the elderly, the young, or the weak. We must never forget that we exist for our people's sake. And we must carry these resolves with us always.</p>
<p class="line"></p>
<p class="title">The final word we must know is "love."</p>
<p class="para">You may not understand what it means yet, my sisters, but I implore you to remember it. All of the other words are but empty air without the concept of love behind them. Love is what this world needs, and it is what WE need. It is altogether possible, my dear Five, Four, Three, and Two, that I may die before you and thus I have written down these seven words. For while I want you to save this world, I also want you to be happy. I love you all.</p>
<p class="line"></p>
<p class="title">Postscript</p>
<p class="para">It has been three months since I wrote the words. My sisters are dead—killed by Zero, the betrayer. And yet, I do not feel the fault is hers alone. My sisters were tossed and twisted by the power of their songs, and now the world once again spins toward its own destruction. ...Where did I go wrong? ...Were my motives not pure? It matters not. Zero is coming for me, and it seems my punishment will be to die with such doubts in my mind.
    <br>Please forgive me, my sisters. I will go to join you now. ​
</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/short-stories">Back</a></p>