---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>The Recipe Book</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">The Recipe Book</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<p class="line"></p>
<p class="title">Sweet and Sour Ogre Meatballs</p>
<p class="para">Today I wanted to jot down notes on my new fancy meat dish!</p>
<p class="para">First, find the freshest ogre meat you can. (Any type is fine, so long as it's not too grisly!) Tenderize it for a while, then mix in diced onions, ginger, breadcrumbs, eggs, and salt and pepper to taste. Form the mix into balls, fry them in oil, then pop 'em in the oven. For the sauce, mix tomatoes, vinegar, and sugar, then spice it up!</p>
<p class="para">PS - Five's gonna LOVE these! :)</p>
<p class="line"></p>
<p class="title">Sea Serpent With Apple Sauce</p>
<p class="para">I was bored this morning, so I tried out a new recipe.</p>
<p class="para">First, get a sea serpent. (They're omnivorous and tend to get stinky really quickly, so yank the innards ASAP!) Cut it into bite-sized chunks, cover'em in flour, and cook both sides lightly in olive oil and garlic. For the sauce, pluck out the eyes (make sure to get all the goo!), mix in grated apple, salt, and pepper, then simmer until it thickens.</p>
<p class="para">Pour the sauce over the cutlets, and bon appétit.</p>
<p class="line"></p>
<p class="title">Two's Special Love Potion</p>
<p class="para">This morning I made a nutritious drink for my beloved Cent!</p>
<p class="para">Take 100 datura seeds, 50 khat leaves, and four mandrake roots (be careful picking those!). Mash'em into a fine powder, then simmer in oil. Wait for the color to change, then strain it so only the nutrients remain in the oil. Then add milk, eggs, and honey, pour into a jug, and shake like crazy!</p>
<p class="para">PS - Cent drank the whole thing in one go! He probably won't sleep for a week, which is fine by me! :)</p>
<p class="line"></p>
<p class="title">Homemade Noodles in Tomato Sauce</p>
<p class="para">The five of us are together for the first time in ages, so I'm making a heaping helping of my hand-kneaded noodles!</p>
<p class="para">Take a pile of flour and knead in some salt water (REALLY get into it!). Stretch it into long strands, then boil until pliable. While you're waiting, get some ground ogre meat and fry it with tomato, garlic, sesame seeds, salt, and pepper. It makes a lot, but that's okay—Five INHALES the stuff! :o</p>
<p class="para">PS - I actually saw One SMILE! I'll have to make this again!</p>
<p class="line"></p>
<p class="title">Wow'em With Raspberry Cake!</p>
<p class="para">This cake recipe is just the ticket for a sweet treat!</p>
<p class="para">First, kill a troll and scrape out the fat (there's LOTS!). Render it into lard, add sugar and eggs, and mix until it forms a cream. Then throw in flour, crushed walnuts, and fresh-picked raspberries from the trolls' forest. Mix it up, juuust a little, then bake it in a stone oven until a dagger inserted in the middle comes out clean.</p>
<p class="para">PS - I'm totally making this for the orphans. They'll LOVE it!</p>
<p class="line"></p>
<p class="title">Raspberry Cake for Lady Two</p>
<p class="para">Lady Two has had very little appetite since that day. I fear it will affect her health before long, so I decided to follow her example and bake a raspberry cake. Sadly, I don't know the exact recipe. I asked around, but no one has heard of such an exotic dessert before. I finally started throwing things together, and after a few hundred tries, I finally got something slightly cake-like.</p>
<p class="para">Unfortunately, it wasn't much to Lady Two's liking, as it just drooled out from her delicate lips. I must get better.</p>
<p class="line"></p>
<p class="title">Oatmeal for Lady Two</p>
<p class="para">It pains me to see Lady Two growing so thin.</p>
<p class="para">Today, I cooked some gruel and mixed it with honey, so it would be easy to swallow. I think—THINK—we managed to get two whole spoons down, which is fantastic. But I didn't want to force it on her, so I brought her back to bed. That's when I noticed—Lady Two's heart isn't beating. She breathes and she blinks, but there's nothing from her chest. It's almost as if she's...</p>
<p class="line"></p>
<p class="title">Water for Lady Two</p>
<p class="para">For the past week, Lady Two has consumed only water.</p>
<p class="para">My days blur into each other as I spend dawn to dusk speaking with my lady. I talk about all the special times we spent together, and yet she never answers.</p>
<p class="para">Tonight, after I laid her down, I found my hands around her beautiful neck. It would have been so easy. Just a little bit of pressure, and she could finally have peace. Such terrible thoughts. Ah, my love. Please forgive me...</p>
<p class="line"></p>
<p class="title">Blood for Lady Two</p>
<p class="para">Today, I diluted red wine in water, mixed in my blood, and used my own mouth to give it to my lady.</p>
<p class="para">Lately, something dwells in my mind. Lady Two almost never asked me for anything, but her one insistence was that I not, as she put it, "Die on her." What could I say to that? Have I succeeded in returning her kindness?</p>
<p class="para">Zero is on her way. But until then, we will lay in this shrine and huddle together to ward off the oncoming chill. ​</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/short-stories">Back</a></p>