---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Deliveries</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Deliveries</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Transcriber: Dr_Mint</p>
<p class="line"></p>
<p class="title">Delivery: Gourmet Packs</p>
<p class="para">Dear Lady Five,</p>
<p class="para">It's because of dedicated customers like you that we are able to provide our trademark customer service.</p>
<p class="para">This notice is to confirm delivery of the following order:</p>
<p class="para"><strong>&bull;</strong>Seafood Gourmet Pack (with sea serpent eggs) x 200</p>
<p class="para"><strong>&bull;</strong>Mountain Gourmet Pack (with troll liver sauce) x 200</p>
<p class="para">Do not hesitate to contact us if there are any concerns. We look forward to your continued patronage.</p>
<p class="line"></p>
<p class="title">Delivery: Fancy Golden Dress</p>
<p class="para">Dear Lady Five,</p>
<p class="para">Thank you for trusting us with your delivery needs. We hope this early summer has been a fruitful one for you.</p>
<p class="para">This notice is to confirm delivery of the fancy Golden Dress you ordered. This dress, made with beautiful silks imported from the east and lavishly festooned with pure gold leaf, is one of our finest products. We hope that it meets your exacting standards.</p>
<p class="line"></p>
<p class="title">Delivery: Secret Toys</p>
<p class="para">Dear Lady Five,</p>
<p class="para">Thank you for trusting us with your delivery needs. This notice is to confirm delivery of the "Secret Toy • Ultimate Pack<sup><a href="#editor" style="color:rgb(190, 247, 255);">[1]</a></sup>" you ordered. This set, one of our company's hallmark products, combines truly captivating toys from the exotic east with a selection of all-natural, water-soluble performance enhancers. Please feel free to contact us with any questions or concerns that may arise.</p>
<p class="para" id="editor"><sup style="color:rgb(190, 247, 255);">[1]</sup>This product is meant for adults only</p>
<p class="line"></p>
<p class="title">Dedication of Storage Vault</p>
<p class="para">Dear Lady Five,</p>
<p class="para">Thank you as always, for continuing to use our service. We trust all remains well with your glorious reign.</p>
<p class="para">This notice is to confirm that your treasure storage vault has been officially dedicated as of last Sunday. As requested, it is equipped with a variety of traps to ensure that our Lady's valuables will lie unmolested by invaders. We'll happily demonstrate them if you provide a volunteer.</p>
<p class="line"></p>
<p class="title">Delivery: Roman Empire Publications</p>
<p class="para">Dear Lady Five,</p>
<p class="para">We trust your spirits are as bright and sunny as the blessedly warm weather of late.</p>
<p class="para">This notice confirms reception of your request for "books to learn about ruling." Our scholars feel that Roman Empire is fitting, and have thus prepared a fine selection. Additionally, it gladdens us to see that My Lady, already a wielder of great authority, wishes to learn more.</p>
<p class="line"></p>
<p class="title">Delivery: 200 Art Pieces</p>
<p class="para">Dear Lady Five,</p>
<p class="para">We hope that you and yours are enjoying a joyful winter season.</p>
<p class="para">This notice serves to inform you of the impending delivery of 200 works of art. Your order—"What's beauty"—was difficult, but our experts amassed a carefully-selected collection of masterpieces. None, of course, could ever surpass the beauty of Our Lady, but we still look forward to receiving any feedback about the collection's quality.</p>
<p class="line"></p>
<p class="title">Delivery: Philosophy Books</p>
<p class="para">Dear Lady Five,</p>
<p class="para">We hope a bountiful harvest awaits you and yours this fall.</p>
<p class="para">This notice confirms delivery of ten philosophy books you ordered. We pray they answer your questions "What is humanity?" and "What is happiness?" However, your recent order is on a smaller scale than previous, and when combined with the recent disposal of your treasure vault, we are worried. Please tell us if we have erred in any way.</p>
<p class="line"></p>
<p class="title">Notice of unpaid invoice</p>
<p class="para">Dear Lady Five,</p>
<p class="para">Thanks you for your continued patronage as we enter spring.</p>
<p class="para">This notice serves to inform you that your invoice for the delivery of food to poor children has yet to be paid. We apologize for having to contact you multiple times, but our company's finances is a precarious situation and Dito no longer replying to our messengers, we are in the dark on your status. Please supply payment when you can.</p>
<p class="line"></p>
<p class="title">Notice of closure</p>
<p class="para">Thank you for your continued loyalty.</p>
<p class="para">Ever since our founding the year after the Cataclysm, we have prided ourselves on serving both the customers and the community at large. But half a year after the end of the Intoners' rule, the downturn in deliveries means we are no longer able to sustain our business. This, our company will cease operations effective May 31. Thank you for your understanding in these extraordinary times.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/short-stories">Back</a></p>