---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>The Weekly Omore!</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 75%%;
    height: 75%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 60%;
    height: 60%;
}
    }
</style>
<p class="title">The Weekly Onore!</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/barnabism">Barnabism</a></p>
<p class="title">Not canon.</p>
<img src="https://i.imgur.com/lnO8Xyf.png">
<img src="https://i.imgur.com/koISMrV.png">
<img src="https://i.imgur.com/QD55iGn.png">
<img src="https://i.imgur.com/D7hyl4Y.png">
<p class="line"></p>
<p class="menu"><a href="/stories/misc">Back</a></p>
