---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<style>


div{
  text-align: center;
}
@media screen and (orientation: portrait) {
  .line{
  margin-top: 6.5%;
}
.para u a{
  margin-top: 5%;
  margin-bottom: 30px;
}
.para{
    font-size: 135%;
        text-indent: 0em;
}
}

  @media  (prefers-color-scheme: dark){

  .special-color{
  border: thick solid rgb(58, 58, 58);
  background-color:rgb(70, 70, 70);
}
}
  @media  (prefers-color-scheme: light){
  
  .special-color{
    width: fit-content;
    margin-right: auto;
  border: thick solid rgb(201, 201, 201);
  background-color:rgb(253, 253, 253);
  padding: 10px;
    margin: 0 auto;
}
}
#no-indent{
  text-indent: 0em;
}
</style>


<nav class="menu-container">
  <!-- burger menu -->
  <input type="checkbox" aria-label="Toggle menu" />
  <span></span>
  <span></span>
  <span></span>

  <!-- logo -->
  <a href="/" class="menu-logo">
    <img src="https://i.imgur.com/2WGRL3v.png" alt=""/>
  </a>

  <!-- menu items -->
  <div class="menubar">
    <ul>
      <li>
        <a href="/stories">
          Stories
        </a>
      </li>
      <li>
        <a href="/series-guide/ths-guide">
          Series Guide
        </a>
      </li>
      <li>
        <a href="/credits">
          Credits
        </a>
      </li>
      <li>
        <a href="https://archive.thehumanserver.org" target="_blank" rel="noopener noreferrer">
          Gallery
        </a>
      </li>
            </li>
            <li>
        <a href="https://reader.thehumanserver.org/" target="_blank" rel="noopener noreferrer">
          Reader
        </a>
      </li>
            <li>
        <a href="https://github.com/closesttopurple/THE-HUMAN-SERVER" target="_blank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="/bug-report">
          Contact
        </a>
      </li>
    </ul>
  </div>
</nav>
<title>THS's Guide</title>

<p style="margin-top: 1cm; font-size: 250%;">Grimoire NieR</p>
<p class="para">Everything here is sourced from <u><a href="/series-guide/ths-guide/grimoire-nier">this guidebook.</a></u></p>
<p class="title-special title-box">Investigation Reports</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>11/04/2003</b> 22:53</span><br>I'm about to get briefed on the project. Extremely top-secret stuff. They wouldn't take no for an answer, so I'm doing this entirely against my will. I can't begin to imagine why they need a particle physicist in the first place, but here I am.</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>11/09/2003</b> 23:05</span><br>I saw the specimens that are the purported cause of the incident. The whole thing sounds like a bad joke: a dragon and a giant appearing over Shinjuku? Who could take any of this seriously? That said, the energy characteristics of the samples are undeniably strange, so I'm going to begin a detailed analysis tomorrow. I now understand why they involved me in this.
</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>12/04/2003</b> 23:05</span><br>The food here is awful; I think the cook's only skill is to dump MSG on everything to try to cover up the taste. Sure, it's free, so I probably shouldn't complain. But if they want to keep their research team motivated, they really should put in a little more effort.</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>02/08/2004</b> 23:17</span><br>Another worker in the facility came down with that strange disease, and now I'm hearing disquieting rumors that the particles we're studying may be the cause. There's still a lot we don't know about them, so I'm not surprised people would believe such a thing. I worry this may slow our research.</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>02/22/2004</b> 23:43</span><br>I heard from Watanabe. Just as we feared, there's a high probability the particles we're researching are the cause of the disease. As a result, we've been forbidden from coming into direct contact with them, which is only going to make our work more difficult.<br><br>
We've almost confirmed the particles that made up the Giant change their energy levels in response to observation, but we have no idea what they're reacting to. Variations in the observer's brain waves? Body temperature? Differences in atmospheric humidity caused by sweat? Some people believe the particles are reacting to the observer's feelings, but that's no longer science at that point.</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>02/25/2004</b> 23:07</span><br>They brought in cadavers so we can study the connection between the particles and the disease. They look more like statues than bodies, and give an impression similar to the videos we've been shown of the Giant. At first, I attributed their white color to protein denaturation, but we soon discovered they were composed entirely out of sodium chloride—in other words, they turned to salt. Considering how little sodium there is in the human body, it's a mystery as to where they absorbed it all from.<br><br>One final note: Reports of auditory hallucinations among the infected suggest the damage begins in the brain and spreads from there, but I'll leave that kind of thing to the neuroscientists.
</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>07/04/2004</b> 02:18</span><br>Today wore me out. Is there no way to eliminate all these pointless meetings and conferences? Such a waste of time.</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>02/24/2005</b> 01:15</span><br>I heard from Kobayashi. He says they've succeeded in cultivating D tissue using the Sea of Origin, and that as expected the density of G particles is an important factor. This should lead to rapid progress in D tissue research. Apparently the tissue is quite resistant to extremes of temperature and pressure, and they'll be arranging experiments to study its resilience on a much grander scale.</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>03/08/2005</b> 00:45</span><br>No matter how many times we run the tests, the energy level fluctuations accompanying the cultivation of D tissue defy the law of conservation of energy. If it were observed only at the quantum mechanical level, that'd be one thing, but I can't begin to account for such macro-level energy deviation. The source of the excess energy has to be these mysterious G particles.</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>11/15/2005</b> 02:11</span><br>It appears there was some sort of incident with the D tissue resilience tests, and the lack of information makes me suspect it's been classified. It feels like pressure to show results has been leading to a lot of ill-advised experimentation lately. I wonder what happened to light such a fire under the facility directors?</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>12/24/2005</b> 01:45</span><br>It's Christmas Eve, but I can't leave because we've been on permanent red alert ever since the incident. I had to instruct my husband to buy our daughter's Christmas present—I sure hope he doesn't forget. Also, I worry she may be too old for teddy bears now. Statistically, she should be within the target demographic for such things, but matters of personal preference always have high levels of deviation above the norm. Next time I should just ask her directly.</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>01/08/2006</b> 01:33</span><br>Rumors are flying about some sort of black monster, but I suspect it's just group hysteria brought on by our recent stressful circumstances. The ill-conceived experiments are continuing, as is our red-alert status. Whatever's going on, I assume it has something to do with the total blackout on research results related to D tissue.</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>04/15/2006</b> 02:22</span><br>Can't say I've felt very good lately. So tired now. We devised a theoretical revision to the law of conservation of energy based on the now-accepted multi-origin theory. It's holding up mathematically, but it still feels so far-fetched. Factor in the concept that our Dragon and Giant are supposedly otherworldly beings, and it's like I'm living in the pages of a science-fiction novel. As a scientist, it's just so difficult to accept these findings.<br><br>
Ugh. This buzzing in my ears is driving me dizzy.
</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>104/19/2006</b> 03:11</span><br>Physical health deteriorating. Ear buzzing sounds like bells. Can't sleep anymore.</p>
<p class="para"><span style="color: rgb(194, 0, 0);"><b>04/22/2006</b> 06:24</span><br>I<br>
ca n<br><br>
hear
<br><br>
sou </p>
<p class="title-special title-box">Timeline</p>
    <p class="title">Key Concepts of Project Gestalt</p>
    <p class="para">With humanity teetering on the brink of extinction due to the spread of
the mysterious white chlorination syndrome, Project Gestalt is launched
as a last-ditch effort to ensure humanity's survival. Using the same Maso
particles that cause the infection, scientists develop a process that extracts
the human soul and turns it into a "Gestalt." The physical body is then
preserved as data so that artificial "Replicant" copies can be created and
managed while a means of eradicating the disease is pursued.</p>

<div class="title-box"><p class="title"><span style="color: #bababa;">Supplementary Details</span><ul><li><b>Gestalts</b>: Human souls that have been separated from their bodies in
order to protect them from white chlorination syndrome. A vulnerability
to sunlight is one defect of the process.<br><br></li>
<li><b>Replicants</b>: Empty shells left behind after the Gestalt process. Though
magically implanted with pseudo personalities, they lack free will, as well
as the ability to reproduce.<br><br></li>
<li><b>Androids</b>: Artificial humans created to manage Replicants. Their mission
is to use Replicants to eradicate both the Legion and white chlorination
syndrome, then restore Gestalts to their original bodies once that task
is complete.<br><br></li>
<li><b>Legion</b>: Former humans driven to rampant brutality by white chlorination
syndrome. Their skin is white due to calcification caused by the disease.
While they have reduced intelligence, they also possess increased
physical abilities.<br><br></li>
</ul></p></div>
  <p class="title">Connections</p>
  <img src="https://i.imgur.com/PxZZY9s.png">
<div class="title-box"><p class="title"><span style="color: rgb(235, 78, 78);">Key Concepts</span></p><p class="para"><b>THE DRAGON AND THE GIANT:</b><br><br>After the fall of the red dragon, the mysterious white chlorination syndrome begins to spread. The infected either turn to salt and die, or go berserk and begin attacking others. Out of fear of further proliferation, the Japanese government seals off the Shinjuku ward of Tokyo—the virus's epicenter. As a result, Nier and his sole living relative, Yonah, are left to wander the Shinjuku dead zone.<br><br></p>
<p class="para"><b>WHITE CHLORINATION SYNDROME:</b><br><br>A disease transmitted through the inhalation of the red dragon's Maso particles. The skin of most infected individuals calcifies, causing death within weeks. Those who survive, however, turn incredibly violent and begin attacking the uninfected. To ensure humanity's survival and stop the spread of the disease, berserk individuals (known as "Legion") are hunted down and eradicated without mercy.</p></div>
            <p class="title">2003<br></p>
            <p class="para"><b>June 12:</b><br>
            The 6/12 Incident
Occurs: A Mysterious Giant and a
Red Dragon Appear</p>                                                                                                    <p class="title">Events<br></p>

    
            <p class="para">&#8226;Around 3 p.m. on June 12, a massive white figure (henceforth called the "Giant") suddenly appears in Shinjuku.</p>
            <p class="para">&#8226;At the same time, a red, dragon-like life-form (henceforth called the "Dragon") appears and battles the Giant. The nature and effects of their various attacks
remain unclear.</p></li>
              <p class="para">&#8226;The Japanese Self-Defense Force (JSDF) begins researching means of attack. The Bureau of Emergency Countermeasures is established within the
government.</p>
              <p class="para">&#8226;Around 4 p.m., the Giant is destroyed by the Dragon. No mass is detected from the Giant, and damage dealt to the surrounding area by its fall is light.</p></li>
              <p class="para">&#8226;After the Giant is destroyed, the Dragon is shot down by Scarface of the Air Self-Defense Force's 6th Air Wing, 303rd Squadron. Its remains are taken to a
top-secret government research facility.</p></li>
<p class="para">&#8226;The final toll of the incident that would come to be known as 6/12 is 56 dead, 320 wounded, and over 60 billion yen in damages.</p>
              <p class="para">&#8226;The media is placed under a gag order concerning the strange events of 6/12, but information and images are widely circulated online. Conspiracy
theories and rumors of terrorism swirl.</p>

            <p class="para"><b>September:</b><br>International Summit Held
              </p>                                                                                                    <p class="title">Events<br></p>

              <p class="para">&#8226;Three months later, Japan, the United States, China, and Russia hold a summit to discuss the
events of 6/12.</p>
               <p class="para">&#8226;The U.S. determines 6/12 to be an act of terrorism, and plans to vigorously defend itself
against potential subsequent attacks. The Japanese government hints at the possibility of vastly
increasing their own military spending.</p>

                <p class="para"><b>December:</b><br>First Victims of Unidentified Diseases Appear
              </p>                                                                                                    <p class="title">Events<br></p>

               <p class="para">&#8226;A strange ailment that gradually calcifies victims emerges in Shinjuku. It has a 100 percent
fatality rate.</p>
               <p class="para">&#8226;Research into the disease begins. Scientists are initially optimistic, believing it to be extremely
rare and transmissible only under very specific conditions.</p>

            <!-- 2003 above. -->
                <tr>
            <p class="title">2004<br></p>
             <p class="para"><b>February:</b><br>Deaths from Disease Soar</p>                                                                                                    <p class="title">Events<br></p>

               <p class="para">&#8226;Infections of the new disease begin to surge, with patients heavily clustered in Shinjuku.</p>
 <p class="para"><b>April:</b><br>First Cases of Infected
Going Berserk</p>                                                                                                    <p class="title">Events<br></p>

               <p class="para">&#8226;Some of the infected grow pathologically violent. Shinjuku is soon filled with both dead bodies
and berserk infected, and the ward is largely abandoned.</p>
               <p class="para">&#8226;The rest of the world presses Japan to find a solution quickly.</p>

             <p class="para"><b>May:</b><br>Berserk Infected Rampage Through Shinjuku</p>
               <p class="para">&#8226;The disease continues to spread throughout Shinjuku. Researchers begin classifying cases as
belonging to one of two distinct courses: death or psychosis.</p>

             <p class="para"><b>June:</b><br>Disease Officially Named
"White Chlorination Syndrome"
(WCS)</p>                                                                                                    <p class="title">Events<br></p>

                              <p class="para">&#8226;A group researching white chlorination syndrome establishes that the disease can result in
either death or the berserk state, but it remains unclear what causes a victim to have one
outcome over the other.</p>
                              <p class="para">&#8226;The government of Tokyo relocates. The National Diet of Japan discusses relocating as well.
Relocation of the royal family is proposed, but the Imperial Household Agency rejects it.</p>
                              <p class="para">&#8226;Despite the absence of many legislators, the Diet announces that it will remain in Tokyo.</p>

                                           <p class="para"><b>July:</b><br>Shinjuku Reaches Threat Level 4</p>
                              <p class="para">&#8226;Shinjuku reaches the highest possible threat level. Public transportation is shut down and roads
are blockaded.</p>
<p class="para"><b>September:</b><br>Shinjuku Blockade
Announced</p>                                                                                                    <p class="title">Events<br></p>

                              <p class="para">&#8226;After receiving a report about how the disease is transmitted, the Japanese government
announces that Shinjuku will be physically blockaded on a temporary basis.</p>
                              <p class="para">&#8226;Public opinion is mostly negative. Humanitarian groups denounce the move, and large-scale
protests begin. (Online, however, the blockade is met with a fair amount of support.)</p>
                              <p class="para">&#8226;A well-known figure is killed by a mob of berserk infected. This widely reported incident leads
to increased public support for the Shinjuku blockade.</p>

<p class="para"><b>October:</b><br>&#8226;Shinjuku Blockade Implemented<br>&#8226;Wall of Jericho Erected</p>                                                                                                    <p class="title">Events<br></p>

                              <p class="para">&#8226;A massive wall is constructed around Shinjuku, sealing off the district. It quickly becomes
known as the Wall of Jericho.</p>
                              <p class="para">&#8226;Japan's continuing efforts to eliminate berserk victims of WCS are denounced by the
international community. Protests are held worldwide.</p>
                              <p class="para"><b>December:</b><br>Final Broadcast from Shinjuku</p>                                                                                                    <p class="title">Events<br></p>

                                                            <p class="para">&#8226;A journalist who chose to stay behind the blockade makes a final transmission. In the footage,
a large white creature appears, causing the journalist to scream before being abruptly cut off.
Though the footage is never broadcast, it quickly leaks online.</p>
<div class="title-box"><p class="title"><span style="color: rgb(235, 78, 78);">Key Concepts</span></p><p class="para"><b>WALL OF JERICHO:</b><br><br>A massive wall built to contain the uncontrolled spread of WCS in Shinjuku, presumably named after the wall around the biblical
city of Jericho. In that story, God told the
Israelites to walk around the city for seven
days, after which the priests blew horns and
the wall collapsed. It is unknown if the wall
around Shinjuku was built in anticipation of a
similar fate, or if its collapse is a coincidence.<br><br></p>
<p class="para"><b>THE LEGION:</b><br><br>Those who escape death at the hands of
white chlorination syndrome go berserk.
Referred to as the Legion, these infected
become physically stronger, but less intelligent. They attack the uninfected at random
and pass on the WCS infection-at which
point the victims either die or go berserk
themselves. As the infection progresses,
Legion members become less human in
appearance, in some cases swelling to abnormally large sizes. It is speculated that the
Legion's goal is to spread WCS in order to
destroy the world.
<br><br>In the game's secret backstory, WCS is a
curse from otherworldly gods. Those who fail
to resist the curse become part of the Legion
and are divinely ordered to destroy our
world. Those who do resist turn to salt and
die. Such "otherworldly gods" sound a lot like
the ones from Yoko Taro's <i>Drakengard</i> series...</p>
<p class="para"><b>RED EYES:</b><br><br>In certain cases, victims infected with high
levels of Maso retain their intelligence after
going berserk, permitting them to organize
large, aimless groups of Legion and attack the
uninfected more effectively. Such entities are
called "Red Eyes" due to the crimson color of
their eyes. Red Eyes are more in tune with the
otherworldly gods, and proactively pursue
divine orders to destroy the world.
<br><br>In <i>Drakengard</i>, Manah-a tool of that
game's gods-had similar red eyes, as did the
Empire soldiers who served her.</p>
<p class="para"><b>MULTI-ORIGIN THEORY:</b><br><br>The study of the Dragon's remains provides
evidence for the existence of extra-dimensional worlds, as well as the discovery of
the Maso particles that cause WCS. Further
study into Maso leads to the development of
magic-a breakthrough for human civilization
that sadly arrives too late.</p>
<p class="para"><b>GESTALTS:</b><br><br>Magic makes it possible to separate the
human soul from the body. Such extracted
souls, called Gestalts, cannot be infected by
WCS. Though Gestalts eventually relapse,
losing both sentience and intelligence, this
is deemed a problem to be solved at a later
time. At first, the process is only available
to those with enough wealth to keep their
bodies preserved indefinitely, and most
people are horrified at the idea of having
their souls extracted.</p></div>
        <!-- 2004 above. -->
                     <p class="title">2005<br></p>

                                       <p class="para"><b>December:</b><br>WCS Infections Decline</p>                                                                                                    <p class="title">Events<br></p>

                                       <p class="para">&#8226;Eradication efforts by the JSDF and militias reduce the numbers of berserk infected.</p>
                                       <p class="para">&#8226;As research continues, Japan announces a decline in white chlorination syndrome cases.</p>
        <!-- 2005 above. -->
                     <p class="title">2006<br></p>

         <p class="para"><b>May:</b><br>More Learned About WCS</p>                                                                                                    <p class="title">Events<br></p>

                                                <p class="para">&#8226;Researchers learn that the course of death or psychosis from a WCS infection is determined at
a genetic level, and that patients with minor chromosomal abnormalities are more likely to go
berserk. These findings are presented to the government.</p>
                                       <p class="para">&#8226;The findings are not released, and further research is conducted in a state of intense secrecy. (It
would later be discovered that the findings were incorrect and based on falsified data.)</p>
         <p class="para"><b>Date Unknown:</b><br>Facility Holding
Dragon Remains Attacked</p>                                                                                                    <p class="title">Events<br></p>

                                       <p class="para">&#8226;An attack aimed at reclaiming the Dragon's remains is repelled by guards, police, and the JSDF.</p>
                                       <p class="para">&#8226;Rumors claim the attack was backed by either a group of religious zealots or elements within
North America. After the incident, the JSDF begins to take more radical measures.</p>
                                               <!-- 2006 above. -->
                                                            <p class="title">2007<br></p>

                                                         <p class="para"><b>October:</b><br>Anomalies Detected by
Satellite Imaging</p>                                                                                                    <p class="title">Events<br></p>

                                       <p class="para">&#8226;Unexplained black spots appear in satellite photos of Shinjuku. While this is disclosed, it is not
widely reported or deemed particularly significant.</p>

                                       <!-- 2007 above. -->
                                                                                                    <p class="title">2008<br></p>
                                      <p class="para"><b>February:</b><br>
&#8226;Wall of Jericho Falls<br>
&#8226;The Legion is Formed<br>
&#8226;First Sighting of a Red Eye<br>
&#8226;Self-Defense Forces Begin
Campaign Against the Legion</p>
                                                                                                    <p class="title">Events<br></p>

                                       <p class="para">&#8226;The Wall of Jericho surrounding Shinjuku is destroyed from within. At the time of its fall, a
sound identical to one made by the Giant on 6/12 is heard.</p>
                                       <p class="para">&#8226;A large group of violent, white-colored monsters (henceforth called the "Legion") pour out of
Shinjuku and begin slaughtering people indiscriminately.</p>
                                       <p class="para">&#8226;Red-eyed monsters (henceforth called "Red Eyes") are seen leading the Legion. The JSDF begins
a campaign focused on eradicating the Legion and Red Eyes.</p>
                                       <p class="para">&#8226;Red Eyes effectively organize the Legion and thwart the eradication campaign.</p>
                                      <p class="para"><b>May:</b><br>
WCS Resumes Rapid Spread</p>
                                                                                                    <p class="title">Events<br></p>

                                       <p class="para">&#8226;WCS infections surge throughout Japan's Kanto region, centered around Tokyo (Shinjuku).</p>
                                      <p class="para"><b>August:</b><br>
Dragon Researchers Decamp</p>
                                                                                                    <p class="title">Events<br></p>
                                       <p class="para">&#8226;The organization studying the Dragon's remains secretly leaves Japan and reestablishes their
facilities in a foreign country. (Though never confirmed, the location is widely believed to be
the United States.)</p>
                                                                             <p class="para"><b>September:</b><br>
Central Government Relocates</p>
                                                                                                    <p class="title">Events<br></p>
                                       <p class="para">&#8226;Japan's central government and Imperial Family move to Kyushu, which is mostly free of WCS.</p>
<p class="para"><b>October:</b><br>
Honshu Descends Into Chaos</p>
                                                                                                    <p class="title">Events<br></p>
                                       <p class="para">&#8226;Cases of death and psychosis from WCS continue to surge. The war between the JSDF and the
Legion consumes Japan's central island of Honshu with chaos and infighting.</p>
                                       <p class="para">&#8226;Many Japanese citizens evacuate to the islands of Kyushu and Hokkaido. Some attempt to
escape overseas, but other nations move to block the entry of anyone from Japan.
</p>
                                       <p class="para">&#8226;Crime rises amidst the chaos. Increased foreign interference constrains the Japanese
government.</p>
                                       <p class="para">&#8226;The U.S. offers military assistance, but on terms that are extremely unfavorable to Japan. Other
nations urge Japan to refuse.</p>
                                       <!-- 2008 above. -->
 <p class="title">2009<br></p>

<p class="para"><b>January:</b><br>
Japan and United States Form Military Alliance</p>
                                                                                                    <p class="title">Events<br></p>
                                       <p class="para">&#8226;Running low on weaponry and resources, the Japanese government decides to ally with the
United States-which joins the fight in hopes of securing Legion captives and corpses for
military purposes.</p>
                                       <p class="para">&#8226;The U.S. military arrives in Japan. Working with the JSDF, they tilt the war in humanity's favor.</p>
                                       <p class="para"><b>March:</b><br>
Allies Resolve to Destroy Shinjuku</p>
                                                                                                    <p class="title">Events<br></p>
                                       <p class="para">&#8226;With endless swarms of Legion emerging from Shinjuku, the decision is made to destroy it.</p>
                                       <p class="para">&#8226;Heavy bombardment of Shinjuku begins, but the impact on the Legion population is minimal.</p>
                                       <p class="para">&#8226;Anti-Legion research continues in the U.S., but no optimal means of fighting them can be found.</p>
                                                                              <p class="para"><b>April:</b><br>
Decision Made to Use Nuclear Weapons</p>
                                                                                                    <p class="title">Events<br></p>
                                       <p class="para">&#8226;After studying the proposal, the U.S. and Japanese governments agree to a nuclear strike on
Shinjuku.</p>
                                       <p class="para">&#8226;The announcement is controversial within Japan but received more positively overseas.</p>
                                                                                                                     <p class="para"><b>August:</b><br>
Nuclear Assault Begins with Shinjku</p>
                                                                                                    <p class="title">Events<br></p>
                                       <p class="para">&#8226;A nuclear strike is conducted against Shinjuku on August 6. It is the same day the first atomic
bomb was dropped on Hiroshima, which inspires tragic memories of the past.</p>
                                       <p class="para">&#8226;The bombing of Shinjuku becomes the start of a full-scale nuclear attack across Japan,
devastating the land.</p>
                                       <p class="para">&#8226;Shinjuku is obliterated. It comes to be known as Ground Zero.</p>
                      <p class="para"><b>November:</b><br>
Legion Eradicated in Japan</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;All available methods, scientific and otherwise, find no signs of surviving Legion in Japan.</p>
<!-- 2009 above. --> <p class="title">2010<br></p>

                       <p class="para"><b>February:</b><br>
Berserk Humans Found in China</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;China reports incidents of Legion attacks, marking the first WCS infections outside Japan.</p>

                       <p class="para"><b>March:</b><br>
Worldwide Outbreak of WCS</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;WCS infections occur across the globe. Research begins advancing worldwide.</p>
                       <p class="para"><b>April:</b><br>
Survival of Red Eyes Confirmed</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;Deaths and psychosis spread throughout the world, hastening the collapse of the world order.</p>
<p class="para">&#8226;Red Eyes, thought to be extinct, are found to exist still.</p>
                       <p class="para"><b>June:</b><br>
Dragon Research Proves Multi-Origin Theory</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;Continued top-secret research on the Dragon's remains substantiates the multi-origin theory, establishing the existence of worlds outside our dimension.</p>
<p class="para">&#8226;This research leads to the discovery of particles that do not naturally exist in our world.</p>
<p class="para">&#8226;These particles, called Maso, are traced to the disintegration of the Giant's body on 6/12.</p>
<p class="para">&#8226;It is announced that Maso particles are the original source of white chlorination syndrome, and that they cannot be destroyed by physical means-
including atomic blasts. Tragically, the Shinjuku nuclear strike only served to disperse the particles across the world.</p>
<p class="para">&#8226;It is further revealed that Maso particles are spread through bodily fluids such as saliva and phlegm, making WCS effectively an airborne disease.</p>
<p class="para">&#8226;The discovery of Maso particles leads to breakthroughs in a number of technological fields.</p>
<p class="para">&#8226;Continued research into multi-origin theory substantiates the idea that energy is contained within alternate worlds.</p>
<!-- 2010 above. -->
 <p class="title">2011<br></p>
                        <p class="para"><b>October:</b><br>
Research Facility Attacked</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;The research facility where the Dragon's body had been moved is attacked by unknown assailants and destroyed. The Dragon's remains are lost.</p>
<p class="para">&#8226;Speculation again points to religious groups and elements within North America. Media reports about the incident are initially vague, then cease
completely.</p>
<!-- 2011 above. -->
  <p class="title">2014<br></p>
                        <p class="para"><b>March:</b><br>
Project Gestalt Launched</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;Project Gestalt is launched as a means to fight white chlorination syndrome. Research into the Gestalt process-the removal of human souls-progresses.</p>
<p class="para">&#8226;Successful human trials of the Gestalt process are conducted. Experiments on restoring Gestalts to their human bodies also prove successful.</p>
                        <p class="para"><b>May:</b><br>
Magic Research Advances</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;By using Maso to harvest energy from other worlds, it becomes possible to create "something
from nothing." This ability comes to be referred to as "magic."</p>
<p class="para">&#8226;Unfortunately, magic can only be used by Gestalts who have gained the power to cross
between worlds, a method that requires the use of tissue cultures from the Dragon.</p>
                        <p class="para"><b>November:</b><br>
Magic Used Against Legion</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;The most magically proficient of the Gestalts are trained for war, but trial battles against the
Legion mostly end in failure when the Gestalts experience mental breakdowns. This is likely
due to identifying with the enemy: former humans whose souls had been meddled with just
like their own.</p>

<!-- 2014 above. -->
 <div class="title-box"><p class="title"><span style="color: rgb(235, 78, 78);">Key Concepts</span></p><p class="para"><b>LUCIFERASE:</b><br><br>A drug that prevents WCS infections. The
earlier it is administered, the more effective it is. Children who receive the drug are
pushed to join Crusades and fight the Legion.
The United Nations and Hamelin Organization hide the fact Luciferase doesn't actually
prevent WCS, but merely slows the onset
of symptoms.</p>
<p class="para"><b>THE HAMELIN ORGANIZATION:</b><br><br>A group formed to find physically capable
children and train them to fight the Legion.
Just like the World Purification Commission
that oversees Project Gestalt, it is affiliated
with the United Nations-but mysteries
surround the many corporations which
actually fund it. Its existence is initially classified, but comes to light as the war with the
Legion expands.</p>
<p class="para"><b>NATIONAL WEAPONS LABORATORY:</b><br><br>Possessing little influence within the United
Nations, Japan founds this research facility to strengthen its own military. The NWL
repeatedly flouts laws prohibiting human
experimentation in a mission to develop
a magic-based weapon that can harm the
Legion. Emil and Halua are among the first
experimental weapons raised and infused
with magic at the NWL.</p>
<p class="para"><b>REPLICANTS:</b><br><br>Replicants are vessels created with data
taken from a Gestalt's former body. When a
Gestalt enters its corresponding Replicant,
the entirety of their human self is restored.
At first, Replicants are implanted with simple
personalities that leave them unable to take
independent action. But as the cycle of dying
and being remade from their Gestalt data
continues, they begin to develop free will.
The Black Scrawl that corrupts them is an
unexpected defect caused by the relapsing of
their corresponding Gestalts.</p>
<p class="para"><b>PROJECT GESTALT:</b><br><br>Project Gestalt is the umbrella term for the
World Purification Commission's various
plans to protect humanity by turning them
into Gestalts, having their Replicants eradicate the Legion and WCS, then reuniting
Gestalts and Replicants.</p>
<p class="para"><b>GRIMOIRE NOIR PROGRAM:</b><br><br>Project Gestalt is the umbrella term for the
World Purification Commission's various
plans to protect humanity by turning them
into Gestalts, having their Replicants eradicate the Legion and WCS, then reuniting
Gestalts and Replicants.</p>
</div>
   <p class="title">2015<br></p>
                        <p class="para"><b>Date Unknown:</b><br>
Gestalt Plan Fails to Gain Traction</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;The Gestalt process fails to gain ground with the public at large, who widely abhor the concept.</p>
<p class="para">&#8226;Research is now largely focused on the problem of Gestalts who have lost their bodies.</p>
<!-- 2015 above. -->
    <p class="title">2016<br></p>
                        <p class="para"><b>February:</b><br>
Luciferase Developed</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;The new drug "Luciferase" is developed, which slows the progress of white chlorination
syndrome.</p>
                        <p class="para"><b>May:</b><br>
Luciferase Unit Formed</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;A carefully selected group of humans are given Luciferase and organized into a military force.</p>
<p class="para">&#8226;The force is sent into battle against the Legion and achieves victory, causing the strategy to be
used throughout the world.</p>
<p class="para">&#8226;In what would be come to be known as the "First Crusade," military forces are dispatched to
Brazil to exterminate the Legion. At the end of a fierce battle, they are ultimately routed.</p>
                        <p class="para"><b>December:</b><br>
Hamelin Organization Founded</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;It is discovered that Luciferase is most effective on young subjects. Physically capable children
are given priority access to the drug and urged into military service.</p>
<p class="para">&#8226;A Fifth Crusade is organized, one to be fought primarily by teenage soldiers.</p>
<p class="para">&#8226;The Hamelin Organization is founded to recruit capable children from across the world and
raise them to fight.</p>
<!-- 2016 above. -->
    <p class="title">2018<br></p>
                        <p class="para"><b>National Weapons Laboratory Established</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;Japan's government strives to strengthen its own military in response to the Hamelin
Organization.</p>
<p class="para">&#8226;The National Weapons Laboratory is founded to focus Maso research on military applications,
with a primary goal of developing superior humans through experimentation on people.</p>
<p class="para">&#8226;The existence of the laboratory is classified. Its government codename is "Murasaki" (Purple).</p>
 <!-- 2018 above. -->
    <p class="title">2019<br></p>
                        <p class="para"><b>Crusade Battles Legion to a Stalemate</p>
                                                             <p class="title">Events<br></p>
                                                            
<p class="para">&#8226;The battle between Crusaders and the Legion ends at an impasse with little hope of a
breakthrough. (Nevertheless, the world's militaries maintain their strategy of continuous
crusades.)</p>
<p class="para">&#8226;Nations with the most children gain power and influence within the Hamelin Organization.</p>
<p class="para">&#8226;Japan is left economically weakened, with most of its surviving population now living in
Kyushu.</p>
 <!-- 2019 above. -->
    <p class="title">2023<br></p>
                        <p class="para"><b>World Descends into Panic Over
Widening Poverty Gap</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;Factors such as repeated battles with the Legion exacerbate the poverty gap worldwide,
causing widening panic as slums expand throughout the world.</p>
 <!-- 2023 above. -->
      <p class="title">2025<br></p>
                        <p class="para"><b>January:</b><br>
Replicants Developed</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;Researchers succeed in developing vessels into which Gestalts can be reimplanted.</p>
<p class="para">&#8226;Dubbed "Replicants," these vessels are designed using data taken from the body of a source
human.</p>
<p class="para">&#8226;The new Replicant technologies are developed as an offshoot of Project Gestalt.</p>
 <!-- 2025 above. -->
      <p class="title">2026<br></p>
                        <p class="para"><b>June:</b><br>National Weapons
Laboratory Loses Control of a New Weapon</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;The National Weapons Laboratory's Experimental Weapon Number 6 runs amok before being
hastily sealed away.</p>
<p class="para">&#8226;Due to the risks of human experiments involving Maso, research is halted, and the laboratory
staff and funding are reduced.</p>
 <!-- 2026 above. -->
      <p class="title">2030<br></p>
                        <p class="para"><b>Red Eyes Exterminated</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;The commander of the 13th Crusade kills the last of the Legion's Red Eye leaders in Jerusalem
before perishing from his wounds.</p>
<p class="para">&#8226;Now bereft of intelligent commanders, the Legion's movements become chaotic and
disorganized.</p>
 <!-- 2030 above. -->
        <p class="title">2031<br></p>
                        <p class="para"><b>White Chlorination Syndrome
Infections Surge</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;Though the eradication of the Red Eyes diminishes the Legion as a physical threat, white
chlorination syndrome continues to spread rapidly.</p>
 <!-- 2031 above. -->
      <p class="title">2032<br></p>
                        <p class="para"><b>February:</b><br>Replicants Unveiled</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;The Gestalt system and Replicant technologies are unveiled to the public. (A portion of the
world's elite have already undergone the process.)</p>
<p class="para"><b>March:</b><br>Project Gestalt Enters
Final Stage</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;A majority of people now have positive feelings about the Gestalt process, and individuals
throughout the world have begun creating Replicants and undergoing the procedure.</p>
<p class="para">&#8226;A process called the "Replicant System" is developed to continue the creation of Replicants
indefinitely.</p>
<p class="para">&#8226;Researchers manage to subconsciously implant Replicants with the goals of defeating the
Legion and maintaining the Replicant System</p>
<p class="para">&#8226;Project Gestalt proceeds to its final phase. Replicants are entrusted with the task of subjugating
the Legion and freeing the world from WCS while Gestalts sleep.</p>
<p class="para">&#8226;To manage the Replicant System, androids capable of functioning indefinitely are deployed
throughout the world.</p>
<p class="para">&#8226;Replicants are directed by androids to gather the Maso that causes WCS. This collected Maso is
then sent to another dimension by android priests during a ritual called the Festival.</p>
<p class="para">&#8226;Because of the high costs involved, only a portion of the wealthy elite can afford to undergo
the Gestalt process at this point in time.
White chlorination syndrome continues to spread rapidly.</p>
 <!-- 2032 above. -->
        <p class="title">2033<br></p>
                        <p class="para"><b>Grimoire Noir Program Begins</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;Using otherworldly technology, researchers succeed in implanting a Gestalt into a book-like vessel known as a Grimoire. Thirteen such vessels are
created, beginning with Grimoires Noir and Weiss.</p>
<p class="para">&#8226;A plan is drafted to use the vast amounts of energy created by simultaneously activating Grimoires Noir and Weiss to forcibly return each Gestalt to its respective Replicant. This system is intended to be utilized once the Legion and WCS are eliminated.</p>
 <!-- 2033 above. -->
          <p class="title">2049:<br></p>
                        <p class="para"><b>Father Nier and Yonah Go Gestalt (NieR Gestalt)</p>
<p class="title">2053:<br></p>
                        <p class="para"><b>Brother Nier and Yonah Go
Gestalt (NieR Replicant ver. 1.22...)</p>
                                                             <p class="title">Events for both:<br></p>
<p class="para">&#8226;Gestalt souls are discovered to have a high chance of losing their sentience and relapsing over time, which causes them to become violently deranged and eventually die.
</p>
<p class="para">&#8226;Research reveals that maintaining a Gestalt's sentience requires Maso from a subject who has undertaken the Gestalt process without becoming
destabilized.</p>
<p class="para">&#8226;At the behest of the World Purification Commission, the Hamelin Organization distributes clones of Grimoire Noir to the poor. Their goal is to sharply increase the Gestalt population in the hopes some might avoid relapse-an indication they possess stable Maso.</p>
<p class="para">&#8226;A poverty-stricken Nier is tricked into thinking the Hamelin Organization can cure his sister (or daughter) Yonah's illness. But when he sees others relapsing around him, he realizes the danger and flees.</p>
<p class="para">&#8226;On the run, Nier and Yonah are attacked by relapsed Gestalts in the ruins of a Shinjuku market. Nier chooses to go Gestalt in order to protect her, managing to keep his sentience intact in the process. But Yonah also goes Gestalt during the incident and immediately begins to relapse.</p>
<p class="para">&#8226;The Hamelin Organization contacts Nier and offers to put Yonah into cold sleep for a thousand years until the world is free of disease. In exchange, Nier will provide them with his stable Maso.</p>
<p class="para">&#8226;Nier agrees, becoming the "original Gestalt" who provides stabilizing Maso to all the others.</p>
 <!-- 2049 & 2053 above. -->

        <p class="title">2764<br></p>
                        <p class="para"><b>Replicants Begin to Develop Free
Will</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;As the Replicants maintain the system and collect Maso, some gradually begin to develop free will.</p>
<p class="para">&#8226;At first, this manifests as childlike stubbornness, but it rapidly develops into mature human thinking.</p>
   <!-- 2764 above. -->
            <p class="title">3000 (approx.)<br></p>
                        <p class="para"><b>Replicants Begin to Create
Culture</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;Most Replicants now possess free will. They grow and develop in response to environmental
stimuli, developing personalities that are unconnected to their former Gestalt selves.</p>
<p class="para">&#8226;Different civilizations develop in each region, most comparable to those of the late Middle
Ages. Science and culture progress rapidly, largely revolving around ruins and relics of the past.</p>
   <!-- 3000 above. -->
     <div class="title-box"><p class="title"><span style="color: rgb(235, 78, 78);">Key Concepts</span></p><p class="para"><b>RELAPSE:</b><br><br>Souls that have gone Gestalt eventually experience mental breakdowns, go berserk, and
begin attacking Replicants. To prevent these
so-called relapses, they must continuously
receive Maso from Nier, who has been designated as the original Gestalt. Nier provides
this Maso to the Gestalts in order to protect a
relapsed Yonah, but after a thousand years of
doing so without any progress, he walks away
from his role in the plan. At the same time,
Gestalts who had been receiving his Maso
begin to relapse anyway-a problem Project
Gestalt failed to foresee.
Devola and Popola hypothesize that Nier's
change of attitude is hastening the relapses,
and decide to activate the Grimoire Noir
Program as soon as possible in order to complete the fusion of Gestalts and Replicants.
(Another theory, however, posits that relapses
are actually the result of intentional coding
by a Project Gestalt programmer who preferred to see Replicants rule the world.)</p>
</div>
                <p class="title">3276<br></p>
                        <p class="para"><b>A Red Eye Reborn</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;Replicants continue purifying the world. After the Legion has been largely wiped out, a young
Replicant enters the forbidden land of Jerusalem in search of a way to resurrect his dead lover,
who is also a Replicant.</p>
<p class="para">&#8226;When he wishes for her return, she suddenly emerges from the white, cocoon-like mass of the
last Red Eye's corpse.</p>
<p class="para">&#8226;The resurrected lover has red eyes and little sentience. She brutally murders the young man,
then goes on to lead the Legion as a new Red Eye.</p>
   <!-- 3276 above. -->
                <p class="title">3287<br></p>
                        <p class="para"><b>Legion Destroyed</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;With a Red Eye's rebirth, the Legion is once again a powerful force, and the world the
Replicants have been protecting finds itself in peril once more.</p>
<p class="para">&#8226;An android and four Replicants challenge the Red Eye to battle and destroy her. The entire
Legion is annihilated, and all remaining Maso returned to its world of origin. The world is
finally purified.</p>
   <!-- 3287 above. -->
                    <p class="title">3288<br></p>
                        <p class="para"><b>Gestalts Begin to Awaken</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;With the world purified, Gestalts begin to awaken. But the Replicants, who now possess wills of
their own, see them as monsters-who they dub "Shades"-trying to steal their bodies.</p>
<p class="para">&#8226;Replicants begin fighting Gestalts in multiple regions. In areas where androids are in firm control,
however, Replicants are ordered to accept their Gestalts, and the pairs are safely combined into
humans.</p>
   <!-- 3288 above. -->

                    <p class="title">3300<br></p>
                        <p class="para"><b>Gestalt-Replicant War Begins</p>
                                                             <p class="title">Events<br></p>
<p class="para">&#8226;In order to return to their Replicant bodies, Gestalts attempt to perform the ritual of revival by
executing the Grimoire Noir Program.</p>
<p class="para">&#8226;Some Gestalts begin relapsing and going berserk despite being stabilized with Gestalt Nier's
Maso.</p>
<p class="para">&#8226;Gestalt Nier, who has been providing his Maso for over a thousand years, begins to realize that
unless something changes, Yonah will never be revived.</p>
       <!-- 3300 above. -->
          <p class="title">3361:<br></p>
                        <p class="para"><b>Father Nier's Replicant Acquires
Grimoire Weiss</p>
<p class="title">3454:<br></p>
                        <p class="para"><b>Brother Nier's Replicant Acquires
Grimoire Weiss</p>
                                                             <p class="title">Events for both:<br></p>
<p class="para">&#8226;Gestalt Nier obtains the original Grimoire Noir in order to return Yonah's soul to her Replicant body.</p>
<p class="para">&#8226;In accordance with their World Purification Commission programming, androids Devola and Popola recognize Gestalt Nier as the lord of the Gestalts
and begin advising him.</p>
<p class="para">&#8226;Also under Devola and Popola's guidance, Replicant Nier obtains Grimoire Weiss. The androids then have him gather the Sealed Verses so Weiss can fuse
with Noir and initiate the Grimoire Noir Program.</p>
<p class="para">&#8226;Having no faith in the Grimoire Noir Program, Gestalt Nier kidnaps Replicant Yonah and inserts Gestalt Yonah into her. He also makes plans to claim
Replicant Nier's body for his own.</p>
<p class="para">&#8226;At the Shadowlord's Castle, Replicant Nier defeats Gestalt Nier, while Replicant Yonah returns after Gestalt Yonah chooses to destroy herself.</p>
<p class="para">&#8226;Due to the death of Gestalt Nier-the original Gestalt-the Gestalt Project can no longer proceed. Humanity's destruction is now inevitable.</p>
<!-- 3454 & 3361 above. -->
 <img src="https://i.imgur.com/6zRvRt6.png">
<p class="line"></p>
<p class="menu"><a href="/series-guide/ths-guide-main">Back</a></p>