---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>友</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/D2s6LyC.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/SO5y9nS.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/3vlNFLq.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/f9vM51X.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
}
img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>
<p class="title">Original link: <a href="https://www.jp.square-enix.com/nier-anniversary/15th-novel/"><u>NieR [U]ndecided Option</u></a></p>
<p class="title"><a href="https://youtu.be/0S3JmmAyQxQ?si=ZTqy6mPvaOquJzuM"><u>Video (Part 1) (English Translation)</u></a></p>
<p class="title"><a href="https://youtu.be/pxKMM0CfQG0?si=gppG8RwPuuxzIe3d"><u>Video (Part 2) (English Translation)</u></a></p>
<p class="title"><a href="https://youtu.be/Eg4BIdStZwE?si=C0Stcf51MKpLr_t6"><u>Video (Part 3) (English Translation)</u></a></p>
<p class="menu"><a href="/nier-anniversary/15th-novel/e99bb7/anxiety">Next</a></p>
<p class="menu"><a href="/nier-anniversary/15th-novel">Back</a></p>
