---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>死</title>
<style>
    body{
@media screen and (orientation: portrait) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/D2s6LyC.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: landscape) and (prefers-color-scheme: dark)
{
    background-image: url("https://i.imgur.com/SO5y9nS.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: portrait) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/3vlNFLq.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
@media screen and (orientation: landscape) and (prefers-color-scheme: light)
{
    background-image: url("https://i.imgur.com/f9vM51X.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}
}
</style>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/lordpopo">Lord Popo</a></p>
<p class="title">Original link: <a href="https://www.jp.square-enix.com/nier-anniversary/15th-novel/"><u>NieR [U]ndecided Option</u></a></p>
<p class="line"></p>
<p class="title">Chapter 7 - Record of Transmigration: Turning Point</p>
<p class="para">The tragic end of the man who, in order to save his beloved sister, drove her to death by his own actions. This was the man’s miserable fate, the choice he made to destroy the world. The memories stored within the antenna.</p>
<p class="para">...The light was completely extinguished.</p>
<p class="para">The boy who shared my face—the Shadowlord, says:</p>
<p class="para">“Actually, the world branches into many possibilities. What was recorded in that antenna is just one of those branches. It was a terrible life, wasn’t it?”</p>
<p class="para">One of the branches. I repeated this, not quite understanding.</p>
<p class="para">“...So, there’s a branch where Yonah doesn’t have to suffer like that?”</p>
<p class="para">The boy shook his head.</p>
<p class="para">“We are bound by every branch to commit the sin that leads to the world’s destruction, and to make Yonah unhappy.”</p>
<p class="para">Such a thing... I whispered, and the back of my throat grew sour.
    <br>The vague, hopeless feeling that had been lingering began to return, now with more clarity.</p>
<p class="para">I remembered the sensation of touching Yonah’s lifeless body. At first, she had been soft, but gradually, she turned stiff and cold, like a doll.
    <br>It became hard for me to even stand, and I knelt before the antenna.</p>
<p class="para">“But there is one way to change fate,”
    <br>The boy reached out his hand to me.
    <br>“Once I made a contract with the Black Book, and you, with the White Book… We have special magic. So, if we combine our powers, we should be able to create a new branch.”</p>
<p class="para">“Really, can such a thing happen?”</p>
<p class="para">Could such a convenient thing really happen for free?</p>
<p class="para">“Of course, there will be a price. But it’s not such a bad thing.”</p>
<p class="para">The boy spoke as if he could see through my thoughts.
    <br>Then there was the sound of a crash.
    <br>Countless antennas in the space around us turned to face me.</p>
<p class="para">“The price is one thing. The memories of the people you’ve seen up until now... The eras that follow will disappear.”</p>
<p class="para">As soon as the boy said that, a torrent of words from countless antennas surged, surrounding me as if to crush me.</p>
<p class="para">—I can see them. The memories of the people.</p>
<p class="para">Like the light seen when drowning in the sea, gasping for air.</p>
<p class="para">Those are... my companions.
    <br><i>Kainé, who had been shunned by humanity and lost her place.</i>
    <br><i>Weiss, who had been burdened with a mission he never desired... The White Book.</i>
    <br><i>Emil, who had been left behind and fought alone for thousands of years.</i>
    <br><i>And then there were the machine lifeforms who the aliens that had invaded Earth left behind.</i>
    <br><i>And then the ones they fought: the androids who humanity had left behind.</i>
    <br>Though humanity and the aliens had long since vanished, they continued to fight.
    <br>They fought because they needed to fight.
    <br>So, they hid the truth, and in a world full of lies, they killed each other, regardless of whether they were enemies or allies.
    <br>To preserve the shape of this ruined world, many lives, many hearts, were shattered.
    <br>Who had ever truly wished for conflict?
    <br>Who had ever truly wished for peace?
    <br>Perhaps the truth is that no one ever truly wished anything at all.
    <br>Such memories were being watched from within the ‘Cage’ by the girl and the monster.
    <br>The history of humanity was the history of sin.
</p>
<p class="para">No one understood anything. In the world that had already perished, with only the shells remaining, the reason for their existence still lingered. And so, they could only hold hands.</p>
<p class="para">Hands—
    <br>The hands of someone next to you.</p>
<p class="para"><i>The android boy who desired the truth, and the android girl who kept killing him.</i>
    <br><i>The machine lifeform who loved peace, and the android trapped by vengeance.</i>
    <br><i>The girl who had been persecuted, and the starving monster.</i>
    <br><i>The uniformed siblings who gave everything for their parents, hating and killing each other.</i>
    <br><i>The ‘She’ and ‘He’ who watched humanity’s downfall, over and over, throughout time.</i></p>
<p class="para"><i>And us.</i>
    <br><i>Weiss, Kainé, and Emil, who journeyed with me to save Yonah.</i></p>
<p class="para">We all held hands.
    <br>Even if we lost our lives tomorrow, we wouldn’t let go of each other’s hearts.
    <br>That was the only way to struggle against the world.</p>
<p class="para">Suddenly, I felt warmth in my hand.
    <br>Before I knew it, Yonah was standing next to me, holding my hand.
    <br>She was watching the waves of memory with eyes that glowed with light.</p>
<p class="para">The distorted memories left behind in the world I destroyed.</p>
<p class="para">But in Yonah’s eyes, as she gazed at those memories, there was light.
    <br>She smiled without saying anything, and slowly disappeared from my side.
    <br>She didn’t even let me reach out to her and beg her to stay.</p>
<p class="para">“Have you decided on your answer?”</p>
<p class="para">The voice of the boy—Shadowlord—brought me back to consciousness from the world of memories.
    <br>He reached out to me, waiting for me to give my answer.</p>
<p class="para">...What should I do?</p>
<p class="para">The fact that I destroyed the world.
    <br>If I accept that sin, I can’t save Yonah from her sad fate.
    <br>But if I confront it, I’ll at least spare Yonah from misery. However, it will come at the cost of the people who will follow.</p>
<p class="para">Then, my answer is—</p>
<p class="menu"><a href="/nier-anniversary/15th-novel/e98083/brother">Confront our Sin</a></p>
<p class="menu"><a href="/nier-anniversary/15th-novel/e5ae8c/bud">Accept our Sin</a></p>
<p class="menu"><a href="/nier-anniversary/15th-novel/e6adbb">Back</a></p>
