---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<TextLayout>
</TextLayout>
<title>A_0010</title>
<p style="margin-top: 1cm; font-size: 300%;">A_0010</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/barnabism">Barnabism</a></p>
<p class="title">Drafted by: Yoko Taro<br>
Written by: Eishima Jun</p>
<p class="title">A_0010</p>
<p class="title"><i>A
man hates and seeks power.<br/>
There, he finds the crimson bond of
fate.</i></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">I
had heard my sister’s voice.</p>
<p class="para">“Caim!”
It called, sounding terribly young. It immediately dawned on me then
that I was hearing things — It had been over a decade since Furiae
spoke anything coherently. On a mountain steep enough that people
didn’t even dare to climb it in the summer, it was practically
impossible for Furiae to be here to begin with. It went without
saying people wouldn’t dare enter in the winter, when they mourned
the loss of all living things. From birds to beasts, even as much as
a single plant…. The only exception being the dragon, said to live
on the top of the mountain.</p>
<p class="para">I
was beginning to think that challenging the snowy mountain with my
simple human body was recklessly extreme, now that I was hearing her
voice — The voice of my sister, when she was young. <i>She
wasn’t even here.</i></p>
<p class="para">I
knew well that this excessive cold would not only sap away the
temperature from my body, but the clarity in which I thought with it.
At this point, a number of soldiers had already fallen off — Some
were screaming and grieving, others laughed hysterically and bawled.
Inevitably, they collapsed not long after and stopped moving.</p>
<p class="para">In
these frigid regions, it seemed that <i>madness</i>
was the common precursor to death. And as I recounted that knowledge,
my sister's voice softened. Death didn’t frighten me, it was the
idea that it all ended without anything being accomplished that did.</p>
<p class="para">What
would come next after the illusion? Hallucinations?<br/>
“Please,
wait… Lord Caim….”</p>
<p class="para">I
wasn’t mishearing it that time. The voice of a soldier who should
have been walking right behind me was distant. It sounded like his
lips were too frozen to speak correctly, the words that had been
squeaked out were unnaturally broken up. I realised that <i>this</i>
was the voice I had heard earlier. There must have been times where
that trembling voice had been caught up in the wind, and made it come
out as if it were the muddle call of a young girl. I was still okay.
I was still sane.</p>
<p class="para">“Do
not stop walking!”<br/>
Caim’s voice rang out harshly behind him
while he faced forward. If any of them stopped, they would never be
able to move. That was how one soldier was lost, two soldiers were
lost, and where over twenty soldiers were, now only five remained.
Perhaps <i>that</i>
was the only way he and the soldiers following behind him had managed
to survive thus far. He hadn’t heard the voices of the other three
for a while, now.</p>
<p class="para">That
said, it was impossible to check for their safety; to look back, let
alone <i>turn</i>
back. Even the slightest turn of his body would result in losing his
sense of direction.</p>
<p class="para">… No.
He had <i>already</i>
lost sight of the direction.</p>
<p class="para">Caim
was merely moving his legs to what felt like “Forward” from the
start. Really, it was difficult to tell if he was <i>truly</i>
moving forward or if he was just walking circles in the same place.</p>
<p class="para">His
field of view was entirely white; not to mention the surroundings, so
much as the tip of an extended arm vanished in the white hue. Each
step on the mountain trail felt like a miracle that he managed to
climb without slipping down.</p>
<p class="para">This
snow was completely different than that of the kind he saw in the
country he had been raised in. Caerleon was an <i>inland</i>
country. It did snow in the winter, but the weather was only mild.
Perhaps in recent years, there <i>was</i>
a heavy snowfall that made it difficult for the carriages to come and
go, but even so, the snow was nothing more than snow; and no matter
how strong or cold it was, wind was simply wind.</p>
<p class="para">…But
for the first time, he had learned there on that mountain that the
snow could be a flame that burned the skin, and the wind could be a
blade that pierced and tore out limbs.</p>
<p class="para">How
much longer could he stay sane? How much further could he walk?</p>
<p class="para">Could
he really reach the cave where the dragon dwelled? And even if he did
get there, could he retain his ability to think clearly?</p>
<p class="para">He
had to attempt to talk and negotiate with a dragon of high
intelligence. It wasn’t just about getting there.</p>
<p class="para">He
had thought it was more foolish to try striking a deal with a dragon
with a mere human’s body than it was to scale the snowy mountain
with a human body, but now that he had witnessed such strong soldiers
fluttering down, who had turned out to be the foolish one?</p>
<p class="para">“<i>It
may be the pinnacle of recklessness, but we have no tomorrow if it is
not accomplished. The Empire is gaining too much momentum.”</i></p>
<p class="para">The
pompous words that flowed from the face of a low-ranking priest
flashed through his mind. That man’s face, the beginning of the
matter and quite possibly the cause.</p>
<p class="line"></p>
<p class="para">The
Empire. It was not a name given to themselves, but they were called
so for the sake of convenience by the Union.<br/>
The Union called
the army led by “The Cult of the Watchers” the Empire — Their
enemy, an evil empire built up by the hands of a ruthless dictator.</p>
<p class="para">…Actually,
it was unclear if there really <i>was</i>
a dictatorship… The inner workings of the Imperial Army and the
Cult of the Watchers was completely unknown. They didn’t know the
temperament of its leader, not even their gender. The possibility
that it was a system made up from several <i>other</i>
leaders couldn’t be denied, either.</p>
<p class="para">However,
in order to promote their own image of justice, it was more
convenient to call it a “Dictatorship” or an “Evil
Empire”.<br/>
But, even if the Union was the “Image of Justice”,
the power of the Empire was undoubtedly increasing day by day. While
the territory belonging to the Union had only dwindled, the
lower-ranked priest in question had said “There is no tomorrow for
us”. Such words were no exaggeration, nor even that pessimistic a
thing to say.</p>
<p class="para">Recently,
the Union had been having debacle after debacle. Morale had been
declining on every front. Rumours ran wild that the Empire soldiers
were monsters.<br/>
Eyes red like blood, and bodies that got up even
after they were defeated. Even if their arm was cut off, or if they
sustained wounds that were clearly fatal, they never let go of their
swords and went on for what seemed like forever.<br/>
It was no
wonder why the soldiers were frightened by their ghostly appearance;
Many of them tried to escape while in front of the enemy.</p>
<p class="para">“What
we need is power. To inspire the weakened soldiers; if we had the
power to change the course of the war, it would lift their
spirits!”<br/>
“And why tell me that?”<br/>
Caim was starting
to get tired of the arrogant ramblings of the low-priest Verdelet.</p>
<p class="para">“I
have heard tales of a commander who stands on the front lines against
the red-eyed Empire soldiers, and never retreats. He battled like a
war god of old, and it was his fearlessness that greatly improved the
spirits of the Union.”<br/>
“You overestimate me. I am no
commander.”</p>
<p class="para">It
was true that those who knew his lineage would begin to revere him,
going: “Lord Caim! Lord Caim!”, but he had no intent of leading
them. Now that his country was gone, his status as royalty was a
thing of the past.</p>
<p class="para">But
still, for better or for worse, Caim was known as “The survivor of
Caerleon”. Five years ago, a black dragon had murdered the king and
his wife, and the red-eyed monsters flooded from the palace,
attacking anyone near them indiscriminately.<br/>
If one were lucky
enough to survive a disaster great enough to cause an entire country
to collapse, it would have been tempting to take advantage of that
luck; it was for that reason that one couldn’t help but understand
why the soldiers wanted to go under Caim. Even if he wasn’t as
lucky as they thought, the scale of life or death could be tipped by
something like a little luck or a single match on the battlefield.</p>
<p class="para">Caim
didn’t want to lead them, but he couldn’t be bothered to drive
away the soldiers, so eventually they had begun to flock around him
on the battlefield. From the sidelines, it <i>seemed</i>
as if he was the commander.<br/>
The soldiers had faith they could
survive with Caim — There was no questioning the fact that he
seemed to have “Greatly improved the spirits of the Union”.</p>
<p class="para">It
was right to say that Caim did not step back in front of the Imperial
soldiers, the reason behind Caim’s choice to treat himself as a
soldier was simply to kill the red-eyed monsters. To <i>destroy</i>
the monsters that took his homeland.</p>
<p class="para">Caim
chose not to let a single one get away. He didn’t feel like
stepping aside no matter what, as long as there were Empire soldiers
in front of him — Even if the entire army was ordered to withdraw.</p>
<p class="para">It
was for that reason that he felt he couldn’t lead the soldiers, why
he didn’t wish to be in the regular army. He was more than aware
that his actions were not just “Doing Battle”, but rather,
“Committing Slaughter''. Caim simply stood on the battlefield with
the desire to kill people. Even if the idea of a crazed murderer
being entrusted with the lives of soldiers was some kind of joke, it
was beyond bad in nature.</p>
<p class="para">“You
need not become commander, should you undertake this task.”</p>
<p class="para">The
answer had already been decided from the start, he didn’t even need
to ask beyond that.</p>
<p class="para"><i>Absolutely
not.</i></p>
<p class="para">He
had no time or effort to spare outside of killing Imperial Soldiers,
but…<br/>
“Our intention is to form an alliance with the
dragons.”</p>
<p class="para">He
didn’t immediately understand what he had said. Caim thought those
words sounded ridiculous.<br/>
“If the Imperial soldiers are
monsters that do not seem to bear semblance to human beings, then it
shall remain so until they are countered with a power that is inhuman
as well.”<br/>
“That’s too bad. Ask another.”</p>
<p class="para">He
didn’t have enough time to waste chasing a <i>pipe
dream</i>. An alliance
with dragons? How utterly foolish.<br/>
“It is said that there are
dragons who live on the tops of steep mountains to turn humans away.
Have you not seen it for yourself?”</p>
<p class="para">Verdelet
walked and cut in front of him. At first glance, he seemed to be a
small-minded man, but now Caim was starting to think of him as a
rather conscientious sort.</p>
<p class="para">“I
know not of the sort of dragon it is. Could it be a dragon with wings
as blue as the sky, or perhaps, one with silver scales like the snow?
Even so…”<br/>
Caim saw a cunning glint in his eyes.<br/>
“Perhaps
if it were a black dragon that resided there, you would find it worth
your time.”</p>
<p class="para"><i>The
black dragon.</i> Five
years ago, it was that dark calamity landed in the courtyard of the
royal palace and murdered his parents. He <i>hated</i>
that black dragon, he hated it with the same strength he hated the
red-eyes. Just like the Imperial soldiers, he wanted to mince that
dragon.</p>
<p class="para">“We
may bring knights of your choosing to follow as your subordinates.
Defeat this black dragon with them, and avenge your parents.”<br/>
“And
suppose if there was another dragon?”<br/>
“If that be the case,
then I would like you to approach it as a negotiator. Is the black
dragon not the one target to which you owe your revenge?”</p>
<p class="para">Caim
was familiar with the name of the mountain that Verdelet had given
him. While not adjacent to Caerleon, the mountain wasn’t far,
either. It was a place that was easily accessible to anything with
<i>wings</i>.
If that was the case, then it may just have been possible that none
other than <i>that</i>
dragon was living there.</p>
<p class="para">“If
you kill the black dragon, other members of the dragon race may very
well become our enemies. I cannot say if they truly do possess a
sense of companionship, but should they turn against us, we will no
longer have an alliance. Is that clear?”<br/>
“There is no other
way. To challenge that snowy mountain is akin to giving up half of
one’s life! What other reward would you have that would be worth a
mission as reckless as this?”<br/>
“.... I understand.”</p>
<p class="para">Kill
the black dragon. Should it have been another dragon, negotiate an
alliance with it. It was a simple and straightforward transaction.
“Will you accept it….? Ah, thank you! On the evening of the
alliance with the dragons, I shall have you honoured and titled as a
knight…”</p>
<p class="para">Once
again, Verdelet began to ramble on boisterously, to which Caim just
turned his heels while listening to him go on…</p>
<p class="l"></p>
<p class="para">He
no longer heard anything outside of the wind. All answers from the
soldier walking behind him had ceased — No matter how many times
Caim had called for him, there was no reply.</p>
<p class="para">Verdelet
had said he could bring the knights of his choice, but it seemed that
none had survived. The soldiers that were chosen were among the first
to drop early, and instead, it was those who had volunteered to
follow that had held out to the end. They were from the same
mercenary corps as he was, soldiers with no title. Knight or not,
titles had no meaning to this snowy mountain.</p>
<p class="para">When
they were halfway up the mountain, those who were falling behind had
begun to stand out, and the weather had worsened.</p>
<p class="para">Caim
had ordered that those who were falling behind or had fallen down be
left behind — As those who tried to help would end up collapsing
themselves. The mountain was not a charitable place; it didn’t
allow the hands of the people to be used for anyone but themselves.</p>
<p class="para">This
was where that small sacrifice had gotten him. Was it possible to
defeat the black dragon without a single ally?</p>
<p class="para">….
Could he even reach the dragon’s lair at all?</p>
<p class="para">Caim’s
head felt as if it had been split open; he couldn’t even think
anymore. His ears rang. He couldn’t hear the droning sound of the
wind anymore. White spots flashed in his field of view like stars, to
the point he thought it strange it wasn’t night. His consciousness
was dragged off somewhere.</p>
<p class="para">This
was <i>bad</i>.
He didn’t know what was going on, but it was a bad sign.</p>
<p class="para">He
moved his limbs blindly, feeling only numbness. The feeling in his
fingertips was long gone, and that same nothingness had spread to all
his limbs as well.</p>
<p class="para">He
hadn’t lost his power, yet; he could still move. <i>I
have to do something while I can still move.</i><br/>
It
was at that time that he moved on by the sheer sense of irritable
impatience that had caught him, forcing himself forward one step at a
time.</p>
<p class="para">Caim
heard a sound like rumbling thunder. Shock flooded through his body,
shattering all prior feelings of vagueness that had clouded him
earlier. Everything had been overridden with fear: Caim immediately
realised that he was caught in an avalanche.</p>
<p class="para">“Death”.
That word called to him.<br/>
<i>I
do not want to die.</i><br/>
He
could only struggle desperately. He thought how imperative it was to
him; to escape the hands of death <i>at
all costs.</i></p>
<p class="para"><i>I
do not want to die…….</i></p>
<p class="para"><br/>
<br/>

</p>
<p class="para">…Suddenly,
his body became lighter. Caim hurled himself out from the snow,
throwing his body violently to the ground. He was unable to breathe
as he pushed desperately through the snow in front of him; in the
back of his mind, he thought the sensation felt similar to what it
must have been like to drown. The suffocating feeling was
overwhelming, the ringing in his ears back again. Still, Caim pushed
through the snow and continued his crawl.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">He
had noticed what felt like soil under his body.<br/>
There wasn’t
any snow. It smelled like <i>soil</i>.</p>
<p class="para">Caim
attempted to get up, but his body refused to listen. It seemed
instead to go lax, relaxing itself after such exhaustion. He had
never arrived in an area that had felt so safe.</p>
<p class="para">He
had to pry off the body that felt as if it was sewn to the ground,
raising the upper half to come face-to-face with a rock wall —
Though it was dim, it was enough for him to tell he was in a cave.
From the bottom of his heart, Caim felt more grateful beyond anything
that it hadn’t yet reached nightfall.</p>
<p class="para">When
he looked to the light, he saw an entrance. However, that entrance
was almost entirely buried under the falling snow. If it wasn’t
moved, then it would more than likely end up being completely blocked
off.<br/>
…He didn’t care. Not now, anyways. Caim turned back
towards the inside of the cave. From it’s darkest reaches, he <i>felt
something.</i></p>
<p class="para">“<i>....
A human?”</i></p>
<p class="para"><i>Just
as he thought.</i>
While the words were understandable to Caim, they carried a sound
with them that made him quick to realise that this was no human
being.<br/>
Caim stood fully now, supporting his swaying body with
his hands on the wall. The palm that had pressed up against the wall
held no feeling at all. The foot that had moved forward in what was
going to be a strong stride felt as if it had been borrowed, and felt
<i>terribly</i>
unreliable. Still, he was managing to walk <i>somehow</i>.</p>
<p class="para">“Leave
this place.”He went further in defiance of those words, well aware
the authority that voice had over him — A supreme creature that
preferred not to show it’s presence to mere humans, yet had
intelligence high enough to speak fluently their language…
Creatures powerful enough to be called “God’s Mistake”.<br/>
“A
<i>dragon….</i>”</p>
<p class="para">The
outline that hovered in the dim light was <i>huge</i>.
Caim made sure to keep his eyes on it, and slowly did they become
accustomed to the bright colour of crimson — A feeling of both
immense disappointment and relief spread through his body.
Disappointment that he hadn’t found what he was looking for, and
relief that this dragon wasn’t even aware of his parent’s deaths.</p>
<p class="para">Though,
he didn’t need to check for the colour of the dragon’s body in
front of him to know that it wasn’t the black dragon from five
years ago. Had it been the black dragon, it would have known it was
him the moment he stepped into that cave; he could recognise that
feeling of ill-omened violence to the bitter end.</p>
<p class="para">Above
anything else though, this dragon couldn’t have attacked any human
beings in such close proximity to it. All those years ago, the black
dragon had slaughtered his father and mother like a carnivorous beast
with its prey.</p>
<p class="para">Instantly
had his father’s arms been torn from his body as he went to protect
his family, his head bitten straight from its shoulders. His
shrieking mother snatched from her feet, the dragon shook her body in
it’s jaws before crushing it completely.</p>
<p class="para">Caim
had stood there. He stood there frozen, at a loss for what to do, as
his mother’s arms, legs, shapeless viscera and head fell in front
of him with a warm downpour of blood.</p>
<p class="para">“What
are you doing? Hurry now and go.”<br/>
There was more annoyance in
its tone than before. However, it showed no sign of attacking.</p>
<p class="para">It
seemed that dragons also varied from individual to individual, just
as humans did — The red dragon that he stood before was clearly
different from the black dragon. The feeling he had gotten from it
was intimidating, but certainly not murderous. Did it intend to pay
no mind to humans?</p>
<p class="para">“Speak
to me.”<br/>
One step, two steps closer. Caim couldn’t help but
keep his composure, but he was surprised at himself for that calmness
in his heart when set before the abominable dragon species.</p>
<p class="para">He
still loathed dragonkind as a whole, regardless of the colour of
their scales. If he was to tell the truth, he truly was wondering if
they could have a discussion at all. Caim supposed he should have,
due to his promise with Verdelet.</p>
<p class="para">Black
dragon or not, a dragon was still a dragon. He wouldn’t hesitate to
kill one.<br/>
…But, he had changed his mind.</p>
<p class="para">“Listen
to me.”<br/>
“You do not concern me. Leave.”<br/>
The crimson
dragon closed its eyes as if to say that was the end of the
conversation.</p>
<p class="para">“I
want your power.”<br/>
He didn’t dare use the word “Alliance”.
On this snowy mountain, everyone else had died save for <i>himself</i>.
Not just the “Knights of his selection”, but the strong soldiers
who had countless battles on the field as well. That dragon in front
of him was living on this snowy mountain — There was now a clear
answer as to how far its power surpassed that of a human’s.</p>
<p class="para">Naturally
he knew that even if humans <i>did</i>
approach with the intention of forming an alliance, they would be
promptly brushed aside. Still, it was because of that power that he
wanted it on his side. He wanted them to fight together. Just
imagining the sight of trampling down a flock of Empire soldiers with
that great power was enough to make him tremble in delight.</p>
<p class="para">Now,
Caim didn’t care the slightest about Verdelet’s request. He was
fascinated by the thought of such overwhelming power. <i>He
wanted that power,</i>
even if it was of the same species that slaughtered his parents.</p>
<p class="para">“Fight
by my side. So that we may defeat the Empire.”</p>
<p class="para">The
dragon’s eyes remained closed. Caim didn’t know whether it was
listening to him or not, but he continued to speak. Of the war that
had divided the world in two, the ever-expanding reach of the Empire,
and the predicament of the Union….</p>
<p class="para">…Even
after he had finished talking, the silence remained. The dragon’s
eyes were still shut. Had it fallen asleep? Growing impatient, Caim
opened his mouth to speak once more.<br/>
“You would be doing a
favour for the likes of humankind.”</p>
<p class="para">The
dragon was slowly lifted out of its silence, eyelids slightly lifted.
However, those half-lifted eyes did not seem to reflect Caim’s
figure within them.</p>
<p class="para">“You
wish to use me to fight? Even if they do not bother to kill each
other, human lives are ephemeral.”<br/>
There was clear mockery in
its voice as it continued to say things of little use to the
situation.<br/>
“We dragons have no such practice of flocking
together like <i>birds</i>.
To fight with you… Is out of the question.”</p>
<p class="para">Both
eyelids fell shut once more. It was as if it was trying to block
everything out, keep everything terrible at bay.</p>
<p class="para">“You
say that fighting is futile? That your species cares not for flocking
together? What of it!?”<br/>
He had kept climbing that mountain, a
mountain which had turned away all living creatures. The road was too
steep to have just been <i>looking
for a dragon</i>. What
was wrong with wanting proper compensation in exchange for that?</p>
<p class="para">“If
that is your answer, <i>then
I shall end your life here!!</i>”<br/>
It
was what he had intended to do from the beginning. He had only been
captivated by the thought of such power, and for it, had changed his
mind. If he couldn’t have that in his grasp, then he would carry
out his original objective.Caim reached for his sword. Both thought
they felt the cave begin to tremble, and what followed was the sound
of a crash.</p>
<p class="para">Caim
let out a groan as his line of vision was abruptly overturned. <i>….What
had just happened?</i>
It took him quite a bit of time before he realised his back had just
been hit up against a wall.</p>
<p class="para">Suddenly,
a white gust of wind rushed in. Why…. Had he been thrown out into
the snowstorm again?</p>
<p class="para">Caim
heard a roar — One that <i>wasn’t</i>
of the crimson dragon. Though he couldn’t make it out in the middle
of the snowstorm, it was that of another dragon.</p>
<p class="para">It
was then he had noticed it: Caim hadn’t been thrown out of the
cave… The cave had been <i>destroyed</i>.
That mysterious dragon had smashed the entrance and broke into it.</p>
<p class="para">The
dragon spread its large wings wide. When he looked closely, he saw
that it was a slightly dirtied colour, neither grey nor brown. It
attacked the crimson dragon; claws flashed and red splattered against
the snow.</p>
<p class="para">The
dragon, bathed in blood, let out an even shriller shriek of a roar;
yet the crimson dragon remained still.</p>
<p class="para">“A
mad dragon….?” Caim muttered in a low voice.<br/>
He couldn’t
help but shout.<br/>
“What are you doing!?”</p>
<p class="para">Why
wasn’t it trying to fight back!? Even though it was in danger, it
didn’t want to fight back?<br/>
“Do you wish to die!?”</p>
<p class="para">The
sword fell over with a noise. It seemed it had been unintentionally
pulled out from its hilt. But his fingers, left black-and-blue,
swollen and immobile in the freezing weather, were unable to grasp
it…</p>
<p class="para">The
dragon’s eyes turned to Caim, shining in the exact same vein a
title like “Mad dragon” would suggest. The shimmering glint in
those eyes had seemed as if they had overlapped exactly with that of
the black dragon.</p>
<p class="para"><i>Those
eyes.</i> It was those
eyes. Those same eyes that shone with the vicious glint from that
day. The fingers on his left hand were still barely capable of
movement. Caim numbly held the handle of the sword in his right hand,
kicked the ground from underneath him with his unsteady feet, and
swung the sword up overhead.</p>
<p class="para">Since
that day five years ago, he could only think about defeating the
black dragon in hopes of putting an end to it in their next
encounter.</p>
<p class="para">Whenever
he had heard the rumour of a dragon sighting, no matter how far away,
he had always gone in search of it. He researched endlessly what
dragons were said to dislike and what the weaknesses of their species
were, continuing to think on how to defeat a dragon by gathering
together various myths and fairy stories.</p>
<p class="para">As
time passed, the war spread and there was no longer a place he could
approach the dragon — But he never forgot. Even if he eased his
anxieties by killing Imperial after Imperial, Caim’s hatred for the
species of dragons had never disappeared.</p>
<p class="para">Caim
slipped past the claws that swung down at him, leaping within reach
of the dragon. Its back was covered with hardened scales with no weak
points, but he <i>could</i>
pierce the sword through its stomach.</p>
<p class="para">The
terrible stench of blood. He immediately took notice of the metallic
scent, and that of flesh. Ah… He expected that much from such a
filthy colour. This dragon must have laid carnage to any living thing
that had happened to catch its eye, whether a predator or one of even
its own species.</p>
<p class="para">Even
despite his extremely dangerous situation, Caim began to laugh. That
dragon may just have been similar to himself cutting down whatever
Empire soldiers he could get his hands on.</p>
<p class="para">Dragon
killing dragon, human being killing human being. Perhaps it certainly
was just useless... But was that so wrong? Didn’t he have to kill
to survive?</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">…And
right now, which of the two would survive?</p>
<p class="para">Caim
aimed towards the dragon’s throat and thrust forward his sword.
Yet, he had missed his aim. The dragon bent its upper body back to an
astounding degree.</p>
<p class="para">Before
the misstruck tip of the blade had lost its place completely, he laid
eye upon a scale that had a single horizontal crack running straight
through it. Perhaps an old wound? Caim immediately slammed his sword
into it. The dragon screamed, flames burning the snow that fluttered
gently from the sky. <i>Once
more...</i> Once more
did he gouge into the same place with his sword.</p>
<p class="para">In
the next moment, he felt his body floating. The dragon was rampaging.
Immediately after he realised he had been hit, Caim had been sent
flying. He couldn’t breathe. His lungs felt tight with pain and
burned in his chest.</p>
<p class="para"><i>Hurry.
Hurry, get up, and grab my sword. If I waste any time, it will be my
life. I have to hurry.</i></p>
<p class="para">As
the crazed dragon’s tail, wings, and claws swung wildly in its
rampage, Caim was immediately thrown off in his approach, his body
slammed against the ground. Still he stood up once more, and drove
his sword into the beast several times over.</p>
<p class="para">It
seemed that even the sensation of pain had diminished then, and he
couldn’t tell whether he was walking on the ground, or floating in
the air.</p>
<p class="para">The
howling suddenly stopped. He heard a rumble in the earth, and the
giant dragon disappeared from sight.</p>
<p class="para">He
didn’t know he was even holding his breath. The body of the dragon
tumbled down the side of the cliff, leaving the scent of blood
sprinkled through the air.</p>
<p class="para">“Can
it be? The likes of a human defeating a dragon… A dragon such as
<i>that…</i>!”<br/>
The
crimson dragon was surprisingly close nearby.<br/>
<i>“You
would be correct…”</i>
He muttered to himself.</p>
<p class="para"><i>In
the middle of such a pressing discussion, I….</i></p>
<p class="para">He
felt like his feet were stuck in the ground, and his right shoulder
was greatly displaced. Caim supported his body with his sword,
stunned. The right hand, dirtied with blood, had no fingers. The
fingers on the other hand he used to hold his right hand with were
discoloured to black.</p>
<p class="para"><i>I
knew it.</i><br/>
It
was from the time he lost the pain in his fingertips from the cold.
Perhaps his legs looked similar.</p>
<p class="para">He
thought that <i>he</i>
was the one who had survived….</p>
<p class="para">Caim’s
knees folded from underneath him. As soon as he attempted to get up
again, he broke out into a coughing fit. His spine screamed in pain,
red flowers bloomed in the snow at his feet.<br/>
“An injury like
this….”</p>
<p class="para">….<i>I
shall not die. </i><i><b>I
shall not die here!!</b></i></p>
<p class="para">“Do
you wish to live?”<br/>
“Is that…. Not… Obvious….?”</p>
<p class="para">Didn’t
all creatures exist for the <i>purpose</i>
of living? If one didn’t want to live, what was the point of being
alive to begin with?</p>
<p class="para">“Dragon…..”<br/>
He
stood, using his sword as a sort of cane.<br/>
“We have yet to
finish our talk.”</p>
<p class="para">A
fingerless hand pressed up against the handle and dragged up his
immobile right foot. If he fell here, it would be over. Everything
would be over.</p>
<p class="para">“Do
you still try to go that far in attempt to live, human?”<br/>
The
voice was filled with both suspicion and doubt.</p>
<p class="para">Perhaps
the dragons had forgotten. Dragons, being given such a long span of
life, had forgotten the natural desire to <i>live</i>.</p>
<p class="para">“Why?”<br/>
“Are
you aware of it, dragon? I merely… I merely wish to live!”</p>
<p class="para">He
thought he spotted some odd glint in the dragon’s eyes. Was Caim
seeing things? Surely. His vision had been dark for a while, now, and
was only further diminishing — <i>Rapidly</i>,
at that.</p>
<p class="para">“Should
you sustain such serious injuries, you shall never be able to wield
that sword again. And yet, you still wish to live?”<br/>
“Yes.
Even so…”</p>
<p class="para">His
spine quivered irregularly. Caim didn’t even recognise the pain
anymore.</p>
<p class="para">“<i>I….
I choose to LIVE!”</i></p>
<p class="para">The
crimson dragon slowly lifted its neck. Near its throat was a scar; a
wound inflicted by the claws of the crazed dragon.</p>
<p class="para">Though
the drops of blood should have been enough to dye the snow red, the
crimson dragon had stopped bleeding, the wounds were already
closing…. A showcase of its miraculous vitality. Caim dreamed of
being able to possess even one piece of that power to where it was
enough.</p>
<p class="para">“Then,
let us both partake in the way of life.”<br/>
It was as if it had
stated his thoughts exactly. The crimson dragon suddenly tilted back
its neck. The wound that had been closing opens up again, and blood
begins to drip down once more.</p>
<p class="para">“This
blood shall prolong your life and return your limbs to as they were.
Their prior state. From it you shall also receive a power <i>beyond</i>
that of normal humans… But be warned… This power shall become a
curse that wears the body, heart, and soul. Do you still wish to do
it?”</p>
<p class="para">Caim
nodded immediately, no questions asked. A curse or whatever else it
had brought, he was willing to accept it. If he could live, then he
would take it.</p>
<p class="para">He
showed no signs of collapsing as he eagerly stepped forward, heading
towards the blood that flowed from the dragon’s throat to its
chest. His lips were placed against the red drops, the same crimson
red as the dragon itself.</p>
<p class="para">It
felt like drinking fire, the blood of the dragon instantly turned
into a power within him — However, that <i>curse</i>
certainly came with it.</p>
<p class="para">A
sound between an ear-piercing scream and a powerful shout burst from
the depths of his throat, splotches of snow dancing in his vision.</p>
<p class="para">Even
through the pain, he was <i>alive.</i></p>
<p class="para">Caim
felt both pain and strength surge through his body. He felt the
<i>power</i>.
<i>The power of the
dragon’s blood.</i>
Now wielding strength beyond the reach of ordinary humans, he could
take the sword once more…..</p>
<p class="para">Caim
could only tremble with that delight.</p>
<p class="line"></b></p>
<p class="para">
<p class="para">A
room enclosed between cold stone walls.</p>
<p class="para">It
was damp, filled with mould, moisture, and an unpleasant odour that
permeated the air. There seemed to be no noise from the outside, only
the faint sound of something wriggling in the corner of the room. It
was dark and hard to make out, but it was probably a sort of
poisonous grub.</p>
<p class="para">There
were no windows, only a single door fitted with an iron grille. From
that alone, it was clear what purpose that room served, not to
mention the girl chained to the wall.</p>
<p class="para">In
one way or another, she was a rather mysterious girl. While her hair
and eyes weren’t the most uncommon of colours, to an outsider, her
attire was rather… Odd.</p>
<p class="para">The
girl simply stared at the man in front of her; a man neither opposed
to her nor one mourning her captivity. The dim light provided by the
candles was not enough to read what emotion she held on her face.</p>
<p class="para">“....
That is why we had obtained the “Power of the dragon”. An
unstoppable power desired by we.”<br/>
The voice of a man who
seemed to be in the priesthood echoed through the small room, perhaps
keeping back the enthusiasm in his voice as he played with locks of
golden hair streaked with grey.</p>
<p class="para">Judging
from his attire, the man seemed rather content with being in such a
low position for his age. Even so, there was no denying the
glimmering light he held in both eyes. Even as he stepped into old
age, he wasn’t giving up his ambitions.</p>
<p class="para">“....
Is that so... But, Verdelet,”<br/>
The girl slightly frowns.<br/>
“Isn’t
there anything satisfactory in that future?”</p>
<p class="para">The
girl’s words didn’t reach his ears at all. The man lifted his
hands high into the air, weaving an endless web of joyous
words.<br/>
“With this, we have assured the Union’s victory! The
high priest shall certainly be pleased. And perhaps I, too…”</p>
<p class="para">The
girl let out a small sigh, and from her mouth let slip a faint
grumble.</p>
<p class="para">But,
those words never reached anyone’s ears.</p>
<img src="https://i.imgur.com/KpZoSen.jpeg">
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3/outline">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3/A_2040">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3">Back</a></p>