---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<TextLayout>
</TextLayout>
<title>A_2040</title>
<p style="margin-top: 1cm; font-size: 300%;">A_2040</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/barnabism">Barnabism</a></p>
<p class="title">Drafted by: Yoko Taro<br>
Written by: Kikuchi Hana</p>
<p  class="para"><i>Human
to inhuman, Overflowing light,</i><br/>
<i>The
other side of despair, Growing fresh wings.</i>
<p class="para">This
was not war.<br/>
This was <i>slaughter</i>.</p>
<p class="li"></p>
<p class="para">The
wind slowly stroked the swaying grass that spread across the plain
full of greenery. In contrast to the peaceful scenery, the sky had
grown filled with the screams and shouts of soldiers.<br/>
A corps of
dozens of armoured soldiers were ruthlessly assaulted, cut down like
grass by one man unarmoured: <i>Caim</i>.
Even the soldiers with heavy enough armour to be rendered null to the
blade of an ordinary sword were nothing more than straw bundles for
that man now. A unit of not just one or two, but many was cut down
and discarded, though no mountain of bodies came of it — The
majority of enemies were broken into, scattered and blown away.</p>
<p class="para">The
sword glowed blue with a magical power; no matter how fierce the
fight it went without chipping, and human fat did little to dull the
sharpness. The blood of the dragon spread throughout his entire body,
bringing forth dozens of times more strength than any normal human
would find capable.</p>
<p class="para">The
red dragon looked fondly at the sight below it as it’s wings
flapped through the sky. It was <i>overwhelming</i>.
Caim’s speed didn’t slow in the slightest, whether he was running
or holding his sword. His sword, his shoulders, his elbows, his arms,
his knees and feet…. He ran at full speed while crushing everything
he touched. The soldiers repelled by the mighty blade were blown away
as if caught up in an explosion, no longer maintaining the shape of a
human. A whirlwind of blood seemed to make its way across the
battlefield.</p>
<p class="para">The
dragon checked to see where Caim had rushed off to — Towards the
end of her line of sight, she caught the sight of heavily-armoured
soldiers waiting in a diamond-shaped formation. Over <i>one-hundred</i>
of them. A vigilant growl rose through the gaps in her fangs.</p>
<p class="para">The
number of soldiers wasn’t that big, but the problem lay in the
crimson-painted armour — paint made by draining the blood of an
elf. Such armour halved the damage from magic powers. It was a cursed
concoction, one obtained through the slaughter of a minority race…
But it was the most effective countermeasure for opponents who made
full use of magic power.</p>
<p class="para">The
dragon plunged down from the sky to support Caim — The number of
soldiers would be burdensome for one person to take alone, and the
blood-armour would reflect even the flames of the dragon had it
supported him from the sky. <i>The
most effective tactic was to crush them in it’s claws.</i></p>
<p class="para">The
moment it began to descend, a strong thought from the battlefield
loosened the wings of the dragon.</p>
<p class="para">“Don’t
go!”</p>
<p class="para">“These….
These are <i>MY</i>
game!”</p>
<p class="para">But
by the time the words had left the dragon, Caim had already leapt
into combat against the red soldiers. It was the <i>fifth</i>
time he had refused support — He fought in such a way that it was
as if he were in a hurry to die.</p>
<p class="para">The
magic which enhanced the blade didn’t work. It meant that he had no
choice but to use the strategy of “Defeating them with sheer force
alone”. No matter how the blood of the dragon strengthened those
muscles, Caim was left to struggle before the thick iron armour. He
had crushed about eight people from momentum alone, but as expected,
the speed of his rush was slowed by the steel armour.</p>
<p class="para">The
enemy didn’t miss the opportunity. Several heavily armoured
soldiers slammed into his body, swinging down their red-painted
swords. Caim managed to parry the attack with his own, the light
equipment he wore having paid special attention to the capability of
movement. The danger made it <i>impossible</i>
to see what was going on… Though the standard attacks were all
repelled from off the soldiers by the magical barrier, it was a
different story if the opponent’s weapon happened to have magic
powers applied to it itself.</p>
<p class="para">One
body, two bodies more…. The first few made were staved off by the
sword, but there eventually came too many attacks to keep up. The
moment his feet had wavered they had aimed, and at last his body had
been stuck by the blade — Blood flowed from where he had been
wounded, and Caim’s face grew twisted.<br/>
“Are you not able to
see the elegance in giving chase to your prey?”<br/>
“Be <i>quiet</i>.”</p>
<p class="para">The
enemy that had delivered the blow attempted to take the opportunity
to push the blade further and cut him down, however… There was no
sign it had struck or broken through his skin. The blade had been
forcibly put to a stop by the flesh strengthened by dragon’s blood.</p>
<p class="para">Caim
grabbed the blade, his face twisted into a fury that rivalled that of
a demon’s. He pushed the sword back, and conversely twisted it into
the soldier’s armour. The sword pierced through the soldier’s
organs, pulling away to the right and crushing the next one’s
skull. Screams rose one after another. The dragon scowled in
disapproval at the sight of the high-handed battle.</p>
<p class="para">Twisting
bodies, slashing down enemies, heads falling, armour stripping, and
soldiers splitting into eight pieces. Even if the blade that pierced
their heart was what decided their demise, he would thrust his
fingers in their eyes, and rip off their face.</p>
<p class="para"><i>Demon</i>.</p>
<p class="para">The
word wasn’t enough to describe that terrible sight.<br/>
The dragon
began to regret giving Caim its blood.</p>
<p class="line"></p>
<p class="para">It
had been one month since the man and the dragon had met.</p>
<p class="para">The
Imperial Army had organised around the ecstatic “Cult of the
Watchers”, the nations ruled by the lords conquered by an army
which manipulated magic and used monsters. These nations, fearing for
their safety, formed an alliance and came to be known as “The
Union”. However, these were countries that were originally in
conflict with each other. The fragile alliance that came from such a
shaky assembly was unable to stop the momentum of the Empire, and
three-quarters of the allied nations were set to be destroyed.</p>
<p class="para">The
way the Empire did war was different from just general aggression —
They were merciless, killing not only soldiers, but women and
children with them. They held no interest in land, people, or
resources… Only their advance. It was a war of thorough
annihilation.</p>
<p class="para">There
spread a confused panic from within the Union. From it, emerged a man
named Verdelet — In the end, his plan had resulted in making
contact with the dragon race, and he had gained the position of
Hierarch. Since becoming the de facto leader of the Union, Caim, and
the red dragon that accompanied him, could seek out all the blood
they could ask for.</p>
<p class="para">It
could be said that Caim’s strength was a match for a thousand, and
with the power of the Union by his side, they could overpower the
Empire. Verdelet’s aim was to organise a dragoon unit using dragon
blood. At first the red dragon had refused, but, after growing
frustration with the repeated requests and Caim’s appeals doing no
good, it had eventually given up some of its blood.</p>
<p class="para">But…
This attempt would only end in failure.</p>
<p class="para">Around
ten strong warriors were selected by the Union to drink the blood of
the dragon, but none succeeded. Some met their end screaming, some
ended their own life, and others simply went mad. Even after the
failure became an issue within the army, Verdelet continued to
experiment in secret using sinners. However, when the number of
victims had exceeded 100, the sinners used as fodder were running
dry. Finally, the experiment was deemed a failure.</p>
<p class="para">The
red dragon didn’t understand why it’s blood only affected Caim.
Was he only the first person for it to have that effect? Or….. Did
Caim have something special?</p>
<p class="para">Verdelet,
left impatient after having failed the experiment, decided to change
his strategy. The goal was to have a decisive battle with the Empire.
While guiding away the continuous advance of the enemy army with a
diversion unit, the remnants of the enemy would be defeated
individually. Additionally, the main units from each country would
carry out a pincer operation
against the invading core units of the Empire. After the enemy army
was defeated, the plan was to move in an immediate counter-offensive
attack to the Cathedral City, where the Cult of the Watchers dwelled…
At first glance, the plan seemed decent; but when the number of
remaining forces of the Union was taken into consideration, it was a
reckless operation.</p>
<p class="para">… Even
so, there was no other way.</p>
<p class="para">Instead
of making him fight on his own in over half the fields of battle,
Caim happened to be the centre focus of this operation — Since he
moved with the dragon, ordinary soldiers were unable to keep up with
the speed of his advance. Because of this, he was best fit to engage
in harsh battles in most places without food or medical assistance.
Drinking water from streams, repeatedly pillaging from private homes,
and even so the dragon and the human kept fighting. It seemed that he
was in no state to claim his loyalty to the army anymore, but it
hardly bothered Caim, who threw himself into the days of battle.</p>
<p class="para">The
great plain was concentrated with a vast amount of enemy troops.
Caim, having finally joined in with the mass of Union soldiers,
prepared for a fight to the death in the battle that could turn the
tide for the Union in one foul swoop.</p>
<p class="para">Though
he was unaware of it, Caim had gradually been growing more barbaric.
The blood of the dragon did not simply just take his life — Rather,
it had been steadily eroding at his body and mind. When he fought,
the smile vanished from his tough appearance, and instead was
replaced with enraged and twisted laughter. The dragon stared at the
swordfighter, drowning in the whirlpool of revenge — his original
intention — turned to the pleasurable impulse of slaughter with
mixed thoughts.</p>
<p class="para">She
had never intended to stay by Caim’s side for this long —
Originally, she had never taken interest in the battles of humans.
She knew they were foolish creatures, and it didn’t matter which
ones had died.</p>
<p class="para">But
this man, Caim, for some reason she could not take her eyes off
him.<br/>
She wasn’t sure <i>why</i>.<br/>
The
dragon had never had such feelings.</p>
<p class="para">Perhaps
she had wanted to see the fate of the man who had survived by her
shared blood, to see how the dice she shook would land. Or perhaps,
she had already given up on finding an answer. She knew the reason
and meaning of her <i>own</i>
life…… Perhaps she had expectations about his own.</p>
<p class="l"></p>
<p class="para">There
came a thundering noise from the distance.</p>
<p class="para">None
other than the calls of the charging knights, the whinnies of horses,
and the screams of soldiers being hacked in two. The war had been
brought to the great plains, surrounded with noise and full of the
stench of death. Thirty minutes had passed since the clash between
the Union and the Empire. A sound came to the stalemated battlefield.</p>
<p class="para"><i>Thump…
Thump…</i></p>
<p class="para">A
low noise. A growing sound from the distance. Everyone on the
battlefield had simply attributed it to thunder. On a harsh
battlefield with soldiers competing for their lives, no one could be
bothered to care about it. But as the sound grew ever louder, the
soldiers had started to grow suspicious. The sound was too much to
simply be passed off as thunder…. No, it was a <i>vibration</i>.
The Union soldiers began to feel unease.</p>
<p class="para">The
vibration gradually turned into a strong tremor, becoming so intense
that they could no longer stand.<br/>
“What’s going on!?”</p>
<p class="para">The
shift in the air brought upon by the sound also fell on the dragon,
who had made no contact with the shaking of the ground beneath her.
Her wings cut through the air. The dragon roared at the unpleasant
feeling.</p>
<p class="para">“Silence!
<i>SILENCE</i>!”<br/>
From
the ground, the commanders were trying to calm the panic of the
soldiers under their command. While the soldiers did not try to make
escape, the horses, shaken up by the sound, began to run. Though, it
wasn’t the calm that kept the soldiers there — They didn’t know
from where the shaking in the sky and on the earth came from, and
they hadn’t a clue <i>what</i>
direction to escape.</p>
<p class="para">The
fear came from their heads, not their eyes. The soldiers were
panicked by the impact brought upon by the invisible bombardment at
such a close range, but there was no escaping it. There was no choice
but to panic, scream, throw down their weapon and crouch on the
ground.</p>
<p class="para"><i>Thump!</i></p>
<p class="para">A
large tremble pushed its way through the ground. Soldiers and horses
were shot up many metres, causing large cracks in various places.
Long trails of clouds of dirt rose from the bottom of the earth, and
the violent shaking seemed as if it were the end of the world. As the
screams and roars swirled from below, the first person that had
noticed was Caim, who braved the shock from the sky.</p>
<p class="para">“What…
Is that <i>thing</i>!?”</p>
<p class="para">A
shadow slowly spread over the distant hazy mountain.</p>
<p class="para">It
was some large, large…. Very large “human”. Seeing “That”
over the haze of fog in the mountains, something too huge, something
too unrealistic, something that made it feel like they were trapped
within a dream. “That” had the form of a large human, but
possessed nothing that could be called a head. Instead, a large
hump-like mass was positioned on its neck.</p>
<p class="para">As
the soldiers of the Union looked up in a daze, the centre of the
giant’s hump slowly opened. Blood and liquid flowed forth from the
crevice, but the high altitude caused it to turn into a red mist in
the middle of its fall. The rift widened, and a large eye appeared
from inside — One large, golden eye that stared eerily up at the
sky.</p>
<p class="para">The
distance from the battlefield to the giant was far enough that they
heard no sound from it, the haze in the air making the figure look as
if it were two-dimensional. The soldiers on the ground forgot to even
scream while they looked up. All that could be heard on the
battlefield was the sound of the wind and the occasional neigh of
horses.</p>
<p class="para">The
golden eye of the giant slowly looked down. It was looking <i>there</i>.
Caim felt a cold sweat break down across his spine; an instinctive
fear that was unable to be suppressed no matter how wrathful he may
have been.<br/>
“Those fools! Running away!”</p>
<p class="para">A
thin beam of light reached the ground from the eye of the giant, a
ray that shone with the same intensity as the sun. The soldiers all
immediately shielded their eyes, the light grew even <i>stronger</i>.
Though they attempted to scream at the painful heat, their voices had
become steam and evaporated before it even had the chance to escape
them.<br/>
“That ray….!?”</p>
<p class="para">The
giant’s golden eye was wide open. Just when Caim thought he saw the
central pupil momentarily expand, the thickness of the ray suddenly
swelled up tens of times. Within the next moment, both Caim and the
red dragon were left open to sweltering heat.</p>
<p class="para">“<i>AAAAAAAHH!!”</i></p>
<p class="para">The
dragon instantly flipped around to protect Caim. The light shone
mercilessly, burning into the skin with a roaring sound. As a
tailspin was made in order to escape from the heat, the dragon took
notice in something spectacular.</p>
<p class="para">“<i>Fool!</i>”</p>
<p class="para">A
sphere of pure white was generated around the place where the light
had reached; if one looked closely enough, they would see it was a
giant explosion. The surrounding forest was torn up with the ground
and shattered into pieces. All soldiers of the Union in sight, and
the battlefield where they stood, was swallowed.</p>
<p class="para">The
dragon flew into one of the cracks that had opened on the ground. As
the earthquake unfolded, she tried to move away from its centre by
following the crevice and avoiding the falling rocks.</p>
<p class="para">“A
situation such as this requires us to make our escape… ”</p>
<p class="para">A
terrible shock wave passed through the surface of the earth before
Caim could even cry out. The air in the cracks was suddenly sucked
out from beneath them, the storm overwhelming the two and knocking
them back into the sky.</p>
<p class="para">“<i>HOLD
ON!”</i></p>
<p class="para">The
dragon skillfully manoeuvred its wings to regain its standing at
once. After taking a breath in, Caim looked behind him and saw what
could only be described as the spreading image of hell. As far as the
eye could see, the ground had been scooped out and rocks were
burning. A fierce wave of heat attacked them, as if to catch up. He
couldn’t stand it the further they rose, having been given a full
bird’s-eye view of the situation.</p>
<p class="para">There
was a great depression in the ground at the explosion point. The air
burned; a bright red flame swirled and climbed up to the ends of the
sky. She… Had never seen destruction with such great <i>impact</i>,
before. A groaning voice was heard from the back of the surprised
dragon.</p>
<p class="para">“What
is it?”<br/>
The dragon looked back, and saw Caim… His skin had
begun to peel from the heat wave and was dyed a bright red. While the
power of the dragon’s blood was doing its part, the degree of the
injury was far too severe. If left untreated, it was likely to be
fatal. However, his mouth… It seemed to be <i>laughing</i>.</p>
<p class="para">“.....
Go.”<br/>
“You fool! Sustain an injury such as that, and fighting
shall be impossible!”</p>
<p class="para">Caim
went to speak in ignorance of the dragon.<br/>
“Pay it no mind,
<i>fly!</i>
What right do you dragons have to call yourself a proud race, I
wonder… Do you wish to be known as a coward among even the most
craven for the rest of your life!?”<br/>
“<i>What….!?</i>”<br/>
The
red dragon bared its fangs and growled like a beast.<br/>
“I don’t
recall any human <i>ever</i>
saying such a thing to me! Insolent fool!”<br/>
“Is that so!?
Good!”</p>
<p class="para">Caim
fixed his gaze on the giant.<br/>
“Don’t let it fire again!”</p>
<p class="para">As
the dragon twisted it’s neck, she saw the giant’s eye slowly
closing. Caim yelled down to the dragon.<br/>
“That giant can’t
shoot it multiple times in a row!”<br/>
“If what you say is true,
we have a clear opportunity! However, there is no certainty that it
will not fire once more…”</p>
<p class="para">It
was a monster neither had seen before. Neither Caim nor the dragon
knew the make-up or attack method at all.<br/>
“In any case, if we
allow it to fire again, the both of us shall die. We haven’t a
choice!”</p>
<p class="para">The
red dragon prepared herself for the worst, taking a sharp turn and
turning its nose towards the giant.<br/>
“Very well… Hold on!”</p>
<p class="para">Though
the height of the giant made it look like it was close, looking at
its feet they saw it was close to the two mountains. They couldn’t
fly fast enough to reach it with the dragon’s wings. Magic power
was concentrated on them, and they folded so they were half thinner
than before. The built-up magic flowed into the tips of her wings,
the air sounding as they cut through it with ease. After the magic
had been built to its limit, all of it was released at once, a sound
of explosive impact was heard as the dragon’s body became like a
sharpened arrow heading straight for the giant.<br/>
“Gh…!!”</p>
<p class="para">Caim
clung desperately onto the dragon’s back, blood lost from the
immense acceleration, and his vision grew dark. Moisture and dust in
the air cut through his skin like sharp needles in a violent wind, a
shock which would have broken most humans. It was only by the blood
of the dragon and Caim’s fixation on the task that he could
withstand it.</p>
<p class="para">“TEN
SECONDS LEFT!” The dragon shouted. As Caim clenched his teeth and
opened his eyes, he saw the giant gradually approaching.</p>
<p class="para">“SEVEN
SECONDS!”</p>
<p class="para">The
giant’s eye began to open, as if noticing something. The dragon
sped up.</p>
<p class="para">“FIVE….
No, <i>FOUR SECONDS!</i>”</p>
<p class="para">The
giant’s golden eye was approaching. They couldn’t grasp the
distance well enough in such an unfamiliar landscape; the pupils <i>at
least</i> seemed to be
the size of a small village. Light began to gather again in its
centre. A high-pitched noise was heard, and the temperature around
the dragon took a sharp spike upwards.<br/>
<i>“DAMN!!”</i></p>
<p class="para">The
dragon changed the direction of its magic power, and shifted into an
ascending orbit.</p>
<p class="para">“GO
OVER THE BEAST’S HEAD!”<br/>
“UNDERSTOOD!”</p>
<p class="para">They
flew over the giant’s head to avoid being in it’s large line of
sight, sensing everything from behind them growing hot. As the first
signs of the beam begin to show, they could feel the air burning.</p>
<p class="para">“<i>AAAAAAAAAAAAAGGGGHHHH!!!”</i></p>
<p class="para">Below
the eyes of a dragon which flew with all its strength and power, the
giant tried to bend back to aim at them. The moment after it’s
figure was confirmed below them, the dragon’s body was forcibly
pulled up into the sky — Following the second’s worth of
confusion at what had just happened, the dragon looked down, and the
moment it did, everything became clear.</p>
<p class="para"><i>It
was</i> <i>Caim.</i>
He had used the dragon’s body as a stepping stone and rushed
straight down.<br/>
“Is he <i>mad!?</i>”</p>
<p class="para">Caim
pulled all the magic power he could into his sword, falling straight
down to the giant’s head. His eyes weren’t open anymore. He
didn’t need to see — With such a huge figure, he could hit it
without looking. His mouth opened in an odd way, and a voice slipped
out from him.</p>
<p class="para">“Ah…
Haha… Fufu…. <i>HAHAAHAHAAHAHAHAHA!!</i>”</p>
<p class="para">With
laughter in his voice, Caim, who had turned into a high-speed magic
bullet, hit directly into the giant’s skull.</p>
<p class="line"></p>
<p class="para">The
dragon was utterly dumbfounded.</p>
<p class="para">A
human facing up against <i>giants</i>
who cut through mountains and shatter open the ground!?<br/>
Even if
he had grown stronger by the powers of her blood, <i>such
a small human….!?</i></p>
<p class="para">However,
no matter how strong the attack was that landed on the giant……
When he thought to draw his blade back up from it, blood and shock
waves sprang up from the place where he had landed. It was then that
he came to his senses.<br/>
<i>“!!”</i></p>
<p class="para">The
dragon made a sharp turn towards the nearest landing point for him.
As it passed through the gushing blood from the giant, she could see
a large hole placed at the top of its head, a hallowed trace of the
explosive impact Caim had left behind — Without any hesitation, she
dove into the large hole. She thought it would have been blocked up
by flesh right away, but instead, she felt something completely
different and… <i>Unexpected</i>.</p>
<p class="para">It
was water… No, <i>hot</i>
water. The dragon immediately understood: This liquid, just below its
skull, was the inside of the giant’s eye.</p>
<p class="para">“Where!?
Where is he!?”<br/>
She looked for any signs she could while
diving; the temperature of the hot water increasing and starting to
boil. She searched desperately for Caim, but to no avail… It was
horrifying to think what that rise in temperature could mean.</p>
<p class="para">“Show
yourself <i>now!!</i>
You <i>fool!!</i>”<br/>
She
yelled out for him, and something touched the tip of her opened
mouth. A bloodied up Caim drifted, while holding his sword. Though
she didn’t know if he was alive or dead, he flipped over in her
mouth. The dragon had lost her sense of direction in the boiling
water, but she could see that the upper part was brightening.</p>
<p class="para">“<i>UUURAAAAAAAAGGHHH!!”</i></p>
<p class="para">The
last of the magic power was released from her wings, and she leapt
into the light with all her might.</p>
<p class="line"></p>
<p class="para">The
giant was looking straight up at the sky, its large pupil pointed
straight up. Something broke through its centre — A red dragon. In
its mouth lay Caim, unconscious. The giant, in immense pain, tried to
hold it’s eye with its left hand, at the same time reaching to the
dragon that had leapt out. The dragon kept flying while evading arms
and fingers the size of a grand castle, managing to make her escape.
However, the magic that had built up inside of it was long used up,
and finally, she had lost her boosted power.</p>
<p class="para">The
dragon eventually slowed, and then crashed. Looking at the giant with
hazy eyes, the wounds that Caim had left on its head were almost
closed. The surface of the eye that they had just broken through was
starting to regenerate.</p>
<p class="para"><i>Mon…ster….</i></p>
<p class="para">If
they were to strike back at its eye again <i>now</i>,
there lay a chance they <i>could</i>
be able to defeat it. But… That was impossible. There was no power
for magic left, not to mention the fact that she couldn’t move her
wings. The temperature of their surroundings began to rise again.</p>
<p class="para">Her
eyes began to fall as she thought to herself.<br/>
Perhaps this was a
<i>good</i>
thing.<br/>
The long battle had finally reached its end.<br/>
Relief
slowly filled her body……</p>
<p class="para">‘<i>.........’</i></p>
<p class="para">She
heard something.</p>
<p class="para">‘<i>.........!’</i></p>
<p class="para">The
dragon tried to turn in the direction of the voice, but her neck
wouldn’t move — How bothersome… She decided to leave it alone,
letting it go. However, the sound grew into a clear voice that jumped
to the dragon’s ears.</p>
<p class="para">‘<i>....The
rest is up to we!’</i><br/>
It
was a dragon communicating through thought.</p>
<p class="para"><i>Why
were there other dragons here….?</i>
She couldn’t sort out her exhausted thoughts. The dragon felt
something gentle on her back, a sort of soft crash. When she looked
closely, she saw the back of a large dragon. What was going on?</p>
<p class="para">‘<i>Begin
the first wave!! Attack!!’</i></p>
<p class="para">She
finally noticed it. The surroundings were full of many dragons —
dozens? <i>Hundreds?</i>
There was a horde that turned the sky black. It had been thousands of
years since she had seen so many…</p>
<p class="para">She
could see the dragons, empowered with magic, busting into the giants
eyes one after another without giving them the chance to regenerate.
The skull of the giants cracks, and blood spurts out. Light flashes
from within, and a burst of flames begins to burn up their body.
Their thoughts resonate once more.</p>
<p class="para">‘<i>If
we attack as one from the inside, then even this mighty giant shall
not be able to keep itself standing!’</i></p>
<p class="para">She
managed to look up, following the sound of that thought.<br/>
Just
overtop of her flew a black dragon.</p>
<p class="para">‘I
have seen you in battle.
Your power, your bond with that human… You have done enough to
remind we dragons of the precious pride our species had lost. That is
a wonderful thing.’</p>
<p class="para">The
understanding of the black dragon’s words had flown over her head,
likely due to fatigue. However, she knew for a fact that they were
reinforcements. Many of the red dragon’s brethren were eating the
giant from the inside. She saw them attacking the Empire soldiers
left on the ground as well, tearing them limb from limb with claws
and fangs.</p>
<p class="para">Where
had all these dragons been lurking when she searched so much for
them? And… Why were they <i>now</i>
willing to help save the humans of the Union? The red dragon wonders
this as she faded in and out of her pained consciousness.<br/>
And
then she remembered.<br/>
Caim’s target of revenge was that black
dragon.</p>
<p class="para">As
it’s brethren danced, the red dragon closed its eyes, as if sinking
into darkness.</p>
<img src="https://i.imgur.com/KpZoSen.jpeg">
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3/A_0010">Previous Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3/A_3010">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3">Back</a></p>