---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<TextLayout>
</TextLayout>
<title>A_3010</title>
<p style="margin-top: 1cm; font-size: 300%;">A_3010</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/barnabism">Barnabism</a></p>
<p class="title">Drafted by: Yoko Taro<br>
Written by: Natori Sawako</p>
<p class="para">I
have met a red dragon only once.</p>
<p class="para">I
had met it by chance, while pushing my way deep through a forest in
chase of a rabbit.</p>
<p class="para">The
red dragon had a human companion. When I saw the man with shining
dark hair, I quickly realised that he was none other than the
“Legendary Captain of the Knights” — A dark-haired knight
captain who had survived up in the snowy mountains by drinking the
blood of a dragon. It is said that two years ago, in the decisive
battle with the Empire, that through his partnership with the red
dragon he had acquired the help of many dragons to destroy the Empire
led by the Cult of the Watchers. The heroic tale, the victory of the
Union that was called the “Miracle of the Great Plains”, was
always told to people like me who had never been on the battlefield.</p>
<p class="para">I
shook in embarrassment as the dark-haired man’s gaze had settled on
my rather messy clothes, and told him I was taking care of a dragon
kept in the grounds by myself.</p>
<p class="para"><i>Care?
Does a dragon need a </i><i><b>human’s</b></i><i>
care?’</i></p>
<p class="para">The
dragon gave me a sharp glare, and I flinched in fear.</p>
<p class="para">The
humans did not let the dragons that followed in the Union’s side
during that war escape. When the war was over, powerful and
influential people had begun coming into contact with the dragons,
took advantage of the dignity of their species with their own
righteousness, and enslaved them. The dragons were made into “Tools”
for the sake of expanding their own power.</p>
<p class="para">Yes…
Tools. Now, dragons are no longer even treated as creatures. Being
subject to human desire, they were forced to be used as tools for
farming and construction, pushed into freak shows, sold off as items
to be traded, and often were driven into war as a powerful force that
surpassed even canons. The unsuspecting dragons willingly swallow the
human’s words and give themselves out, saying “I want to help
humanity.”</p>
<p class="para">Because
of the dragons retaining their same strength and vitality, their
treatment is getting worse and worse by the day.</p>
<p class="para">“Humans
should respect and value dragons more, coexist as good partners and
equal companions… As you both do!”</p>
<p class="para">When
the words of what I had always felt left my mouth, the dark-haired
man let out a breath. Just now, did he sneer? Goodness.</p>
<p class="para">The
dark-haired man no longer looks at me, and adjusts himself on the
back of the red dragon. It waited for him to settle down, turned its
face to the sky, and spread its wings. The trees of the branches
shake, the grass is swept away, and the man and the red dragon fly
away. Seeing the form of the red dragon’s powerful flying form, the
bent back, the gentle swing of its long tail, I am reminded — I am
reminded of the nobility and majesty of the creatures called dragons.
The words uttered by the red dragon as they left clung to my ears
like an ominous prophecy.</p>
<p class="para"><i>To
use dragons for menial labour… Foolish human beings.’</i></p>
<p class="line"></p>
<p class="para">In
the least sunny part of the grounds was the dragon’s keep. Though
it was supposed to be a building, it was really just a shack with a
straw roof set over pillars with walls made from scrap wood. The only
thing I could give it credit for was its high ceiling and the
spacious room.</p>
<p class="para">A
strong stench like thousands of rotten fish tails was <i>constantly</i>
leaking from the dragon’s keep.</p>
<p class="para">I
stop to cough a bit and push the wheelbarrow of hay to feed the
dragon. The tears flow by themselves, the body odour and smell of
filth from the filthy dragons near weaponous. The job of a dragon
caretaker was said to be the hardest labour in the world, hence why
even a lower-class person like me could get a job.</p>
<p class="para">I
couldn’t say it to the red dragon, but the treatment from the
Union’s rising lords to the dragons was many times worse than what
I had said. As per the saying, “Dragons are disposable”, they are
forced into hard labour all day and night. And if they happen to get
sick from that? They’re sold to an organisation. And using the
money you obtain from that, you can get a lively dragon again. The
supply of water and food was limited to just one time a day, and it
was considered that leftovers for the other livestock were
sufficient.</p>
<p class="para">As
soon as I passed through the doorless dragon’s keep, flies
immediately swarmed around my face. A large amount of maggots were
found gushing forth from the dragon’s filth and vomit that had been
scattered everywhere. Swallowing back the nausea, I silently push the
hay into the food tray.</p>
<p class="para">The
dragons that were “Owned” by the Lord of the estate were squeezed
into cages lined up into the keep. In a cramped cage where they are
unable to stand straight, their freedom is deprived by iron bars,
maggots flood your wounds and flies crawl through every orifice,
there you didn’t know if you were dead or alive. And even so, the
dragons did not show any sign of dissatisfaction, and whether they
were starved or uncomfortable, they never cried out… Let alone
roar. The light in their eyes was dull, but there was always a shine
of light when they followed the figure of a human. That faint light
was nothing but proof of the dragon’s hope and trust they placed in
humans.</p>
<p class="para">When
I came to the innermost cage in the dragon’s keep, the first thing
I heard was a weak cry — It was a baby dragon the lord had just
gotten. Dragons become adults quickly, yet they lived long, so
younger dragons were quite valuable. The lord had told his guests at
his dinner party that it had cost him four adult dragons who had
overworked, perhaps as a way to show his power in the light that it
wouldn’t bother or be too hard a hit on him for letting go of four
dragons.</p>
<p class="para">“Hey
there…. Here’s your food. Hungry?”<br/>
The food tray, full of
the soft hay in advance, was brought closer to the mouth of the baby
dragon.</p>
<p class="para">“I
had tried to catch a rabbit, but you should know it’s quite
difficult…”<br/>
The baby dragon’s eyes held my reflection. The
look is ferocious, a particular trait of the dragonic species, yet I
feel innocence in how it tilts its neck. While it was like other
dragons in how it’s grey scales smelled and were covered in faeces,
those same scales were neatly shaped and rather transparent.</p>
<p class="para">It
cleared out the food tray in the blink of an eye, and began to hurt
within a couple of minutes — Suddenly it began to go back and forth
in front of me, making a pitifully high-pitched cry, and looked up
towards the ceiling as if bending back. Its white underbelly heaved,
and it continued the unsettling <i>squeak,
squeak, squeak</i> in
the back of its throat. At once, the hay I had just given it flowed
back at once. The amount and force was tremendous, the hay mixed in
with gastric fluids immediately overflowing from the cage.</p>
<p class="para">Soaking
up to my knees in the terrible bile, I click my tongue. And, perhaps
sensitive to the change in my emotions, the baby dragon shed tears
from both eyes and lowered its head.</p>
<p class="para"><i>You
are giving it too much hay. It cannot be digested by the stomach of a
dragon.’</i></p>
<p class="para">I
looked over, surprised to see what had delivered those thoughts close
to a voice. In the cage next to the baby dragon, a black dragon was
crouching on top of a cold nest. This black dragon, which always
keeps its eyes closed and remains still as a statue, led a horde of
dragons in the decisive battle two years ago. The lord of the house
had always bragged about it, but I had never seen the black dragon
helping or engaging with other dragons in the keep. In my eyes, it
was only one of the broken dragons.</p>
<p class="para">But
now, both the stern dragon’s eyes were shining brightly… And it
was <i>certainly</i>
talking to me.</p>
<p class="para"><i>Be
that as it may, it is true that you have increased your efforts. I
will apologise to the young dragon on your behalf.’</i><br/>
“A-Ah…”</p>
<p class="para">As
I nodded, the black dragon let out a slow breath and closed its
eyes.<br/>
Even as I tried to get my voice to utter something in
response, the dragon stayed unmoving.</p>
<p class="para">It
seemed as if the black dragon had seen through the prejudice, and it
felt a bit awkward. Now that it was feeling rather difficult to stay
inside the dragon’s keep, I decided to take out the baby dragon to
wash its dirty body of the filth and vomit.</p>
<p class="para">It
was so dirty that the pond had been dyed brown, but after a few
hours, the grey scales had been polished one by one till they gave
off a smoky look, and it stood in front of me in a proud manner. The
odour had disappeared, and its expression was clear.<br/>
“How
lovely!”</p>
<p class="para">The
baby dragon was too busy to hear my simple comment of admiration,
distracted by the butterflies fluttering around its nose, tilting its
head and shaking its body to scatter the excess water droplets. I
yelped at the feeling of the cold water hitting up against me, and
the dragon chirped in a similar high-pitched voice… <i>As
if it were imitating me.</i>
Unable to help but laugh, the baby dragon happily swung its tail and
splashed in the water from the pond.</p>
<p class="line"></p>
<p class="para">In
the end, it seemed that washing the baby dragon’s body wasn’t for
nothing… After that, the lord of the house told me to keep the
dragon clean, as he was going to be having a feast.</p>
<p class="para">This…
“Banquet” of his, I knew, was nothing but an excuse for him to
show off his leverage and power.</p>
<p class="para">… When
I arrived at the courtyard of the lord’s residence alongside the
young dragon, I was met with many guests sitting around a long,
U-shaped table. On the table a dish was being arranged that had not
yet been cooked.</p>
<p class="para">Following
the instructions of the lord, I raised the baby dragon on the stage
that was in the middle of the U-shaped table. In such a rugged
courtyard made from reddened clay and rocks, the vermillion stage
that had been adorned with golden, leaf-shaped pillars looked quite
out of place.</p>
<p class="para">“Hurry
and tie the dragon to the chain. Don’t forget the muzzle,” The
lord ordered curtly.</p>
<p class="para">As
usual, he had a longsword adorned to his waist — It seemed to me
like the longsword he had been using since his days as a soldier.
Even after becoming a powerful lord far from the field of battle, he
still carried his sword with him, though it just seemed like he did
so to strike his servants with the pommel whenever he was in a
bad-tempered mood.</p>
<p class="para">Just
so I don’t risk getting him upset and striking me like that, I’ll
do as he says. While it was easy enough to hammer in the iron
restraints to the sides of the stage, the muzzle seemed to frighten
the baby dragon a bit, being the first tool it saw. It shook its head
around in a refusing manner, crying out in a high-pitched voice.</p>
<p class="para">“<i>Attendant!”</i><br/>
Hearing
the lord shout from beneath the stage, I carried the heavy muzzle
over, twisted over the neck of the dragon, and pleaded in a desperate
whisper.</p>
<p class="para">“<i>Hey!
Be quiet, or I’ll get upset at you!”</i><br/>
Perhaps
under the thought it shouldn’t try shaking me off it’s neck, it
stopped moving and gave a small chirp in reply.</p>
<p class="para">“Good
job….” I put on the muzzle.</p>
<p class="para">It
seemed the iron muzzle was too big for a baby dragon, as every time
it moved its face, the scales made a gritty and unpleasant sound.
Though I felt sorry for the poor young dragon, I stepped away from
its back.</p>
<p class="para">It
was then that the lord had handed me a claw-shaped sword from under
the stage, turned to the guests and began to address them with a
smile.<br/>
“I would like to thank you for joining me today. For
those with a discerning tongue, I have prepared an exceptional
delicacy.”</p>
<p class="para">Hearing
his words, the guests stood and cheered.<br/>
“That… What on
earth…. Am I….?”</p>
<p class="para">He
twisted his beard as he sized up both me, who was holding the sword
with unfamiliarity, and the young dragon, who was waving its tail in
the centre of the stage. The eyes that harbour a cold light grow
narrower, and his voice becomes louder.<br/>
“What’s this? It
seems as if the servant doesn’t know. It is a delicacy that those
with fine tastes have been wishing for, a fritter made from the fried
brains of a dragon.”</p>
<p class="para">His
line of sight is focused on the young dragon.<br/>
I staggered. The
sword in my hands suddenly felt much heavier.<br/>
“Eating a
dragon’s brains….? Such… <i>A
horrid thing …</i>”</p>
<p class="para">The
lord lowered his voice so only I could hear it.</p>
<p class="para">“What
are you giving me that eye for? Fritters are heat-treated, so there
is no need to worry about getting infected with toxins. Do not be
like that man who drank the blood of a dragon in search of power.”</p>
<p class="para">“..........
Is this why you bought the baby dragon?”<br/>
“Naturally. Is
there any other reason to bother storing the dragon?”<br/>
After
those words, the man smiled at the guests with a friendly laugh.</p>
<p class="para">“Come,
see here! The dismemberment of the dragon will soon begin!”</p>
<p class="para">“I
cannot <i>do</i>
such a thing….”<br/>
I stand on the stage and beg for
forgiveness, tears beginning to flow down my face. The lord’s
whispers to me, his lips pressing up against my ear.<br/>
“If you
don’t do this, I am cutting your job as a caretaker off here. Pack
your luggage out now and get off of my land. How much is something
like that worth compared to you? A job like this is a dime in a
dozen!”</p>
<p class="para"><i>How
much is something like that worth compared to you?</i>
Those words hunted me down.</p>
<p class="para">Both
my parents had passed away from illness, and I went with my sister,
who had become a plaything for the soldiers. At just nine years old,
I had been alone for seven years. I did whatever I could to live.
When I was asked to lick clean the shoes of the rich, I licked them.
When the soldiers told me to push out my hips, I pushed them out. I
did the work I did as a caretaker for the current dragon while being
pushed away, trampled on, and was treated like less of an insect out
of nothing but sheer desperation. I had no prominent appearance, no
talent, no wealth, and no education. But, there were people I could
use to work for instead. So if I wanted to live, I knew I had to work
with my body until I vomited blood. I felt it was an evil way of
life, spending each day fearing joblessness more than getting killed.
Either way, the destination was all the same — <i>“Death”.</i></p>
<p class="para">I
reaffirmed my grasp on the uncomfortable-feeling sword and slowly
stood back up. The guests sitting around the long table stirred and
talked around the empty plate; the unsightly flesh dangled down, and
only the eyes still shone brightly. No longer did they try to hide
their excitement of being witness to the brutal acts that were about
to begin, everyone starting to jeer and call out without reservation.</p>
<p class="para"><i>These
were human beings.</i></p>
<p class="para">I
clench my teeth. I see the baby dragon looking at me through clouded
vision, it’s expression unchanging. The dragonic species is one
that does not psychically show a change in expression, but if you
took care of them for a long enough time, they would transmit their
emotions to you. I knew that.</p>
<p class="para">The
baby dragon was asking me what we were going to play.</p>
<p class="para">It
tries desperately to open its mouth while being kept back by the
stiff muzzle. I <i>wanted</i>
to laugh. I wanted to make <i>it</i>
laugh. Trying not to throw away the sword, I stare ahead with clear
eyes, and tilt the dragon’s small neck back as usual. I devoted
everything I could into my role as a caretaker, and was left with the
small young dragon that was completely relaxed.<br/>
<i>“Ahhh….
I’m sorry….”</i></p>
<p class="para">Trembling
hands clench tighter onto the sword.<br/>
A grudge began to grow
against the lord and his guests. I hated them, I hated those monsters
who never got their hands dirty, the monsters that would take the
life of a baby dragon out of sheer <i>boredom</i>.</p>
<p class="para">But,
I didn’t have a choice.</p>
<p class="para">I
turned towards the dragon, and without wasting any time, brandished
the sword and broke through in one go.<br/>
<i>“Uaaaagghh!”</i></p>
<p class="para">The
sword is swung, making a dull sound and sticking into the neck of the
dragon. Fresh blood sprayed fiercely into my eyes.<br/>
<i>“Hhhhigh…!
Hihhhgh…!”</i></p>
<p class="para">I
didn’t know if the screams that echoed through the courtyard were
my own or the dragon’s. I closed my eyes and tried to pull out the
sword, but the tip of the hook seemed to dig into its bones, and
didn’t seem to budge.</p>
<p class="para">“Ah-!?
I’m sorry! I’m so sorry!”</p>
<p class="para">I
wanted to get it over with as quickly and comfortably as possible,
but it seemed I had moved my sword a bit too blindly. When I finally
wiped the blood from my eyes, I saw the sword buried deeply into the
young dragon’s neck. But even so, it was still alive, bleeding in
agony.</p>
<p class="para">The
dragon’s scales broke with each pained writhe of its body, making a
gritty noise, and the sword dug deeper and deeper into its flesh. The
overflowing blood began to form a pool on the stage.</p>
<p class="para">The
smell of rotted fish spread from the stage to the courtyard. The
guests began to break out into a coughing fit, and others stood up
looking pale.</p>
<p class="para">“<i>A
… Ah… I… It hurts, it hurts, it hurts, it hurts it hurts! …
urts … it hurts-!”</i><br/>
Suddenly,
the muzzle broke off of the young dragon as it screamed out, having
gone past its breaking point. It was a scream that signalled an
agonising end, no different than that of a human being’s. A
heartrending, sad, repulsive, never-ending scream.</p>
<p class="para">The
lord’s expression changed, and his voice raised towards me in a
shout.<br/>
“Hurry up and end it already!”<br/>
“I can’t. The
sword… Won’t move….”<br/>
“What!? Let me do it!!”</p>
<p class="para">I
was kicked back from the stage, falling back into the blood puddle.
The lord faced the dragon in my place, ripping out the longsword from
his waist and yelled, slashing at the half-torn neck of the dragon.</p>
<p class="para">The
deathly screaming of the baby dragon had stopped, but still, it
hadn’t collapsed. The strong vitality of the dragonic species was
no comfort to it now.</p>
<p class="para">The
guests who had been laughing in front of the corpse-looking dragon
gradually fell quiet, and it could be clearly inferred the
uncomfortable and constrained spectacle they were reluctantly pulling
through. Still, the lord did not read the air. He eagerly grabbed
hold of the dragon’s head and attempted to pull it off with his
bare hands. After the sight of blood, the use of his sword for the
first time in such a long while, his tone had returned to that of his
crude days as a soldier.</p>
<p class="para">“Damn
it! Die!! DIE!! <i>DIE
ALREADY!!</i>”</p>
<p class="para">After
a long struggle, the lord finally ripped off the dragon’s neck.<br/>
It
continued to stand even after its head was removed, continuously
stabbed until the blade had pierced its heart. Once the sword was
finally driven through its chest, the baby dragon’s body convulsed
and toppled over with a rumble.</p>
<p class="para">The
young dragon had died.</p>
<p class="para">He
slowly ran his hands through his clothes, hands and face, stained
with blood and pus, and let out a loud laugh.<br/>
“Well, what’s
this? Where is everyone going off to now? Are you going to eat now
that I went through the trouble of killing the beast?”</p>
<p class="para">Just
then, a deafening sound came from the sky, followed by an explosion
in the distance.<br/>
“What!?”</p>
<p class="para">The
guests who still sat at the table looked around. The lord sputtered,
having picked up on the sound as well.<br/>
“Did the Union start
fighting again?”<br/>
“No!” I shouted, pointing in the
direction of the flames. The dragon’s keep was <i>burning</i>.<br/>
“The
dragons…. They seem to have escaped.”</p>
<p class="para">A
flock of dragons flew in the sky over the lord’s territory where
the grey clouds hung down. From their body colour, I could tell
immediately that they were the dragons from the dragon’s keep.</p>
<p class="para">The
dragons roar and flap their wings powerfully, twirling in the sky.
The weak and dirty figures we had grown so used to seeing were not
there. The frail walls of the dragon keep, let alone the iron
shackles and cages were no obstacle to dragons if they had the will
to break them.</p>
<p class="para">I
knew they’ve always been patient. They struggled to endure their
bad treatment at the hands of humans, no matter how severe, trying to
keep their faith in humankind… Till they reached their limit.</p>
<p class="para">It
was human sin that had driven the dragons to despair. It was the
humans’ turn to be paid back.</p>
<p class="para">I
fall on my back. My teeth come together, I don’t have the strength
anymore. It was barely possibly to crawl to an unoccupied space in
the courtyard while being kicked by fleeing guests.</p>
<p class="para">In
the distance, I hear many screams of confusion.</p>
<p class="para">“Fire!
The dragons are breathing fire!”<br/>
“The manor is burning!”<br/>
<i>“It
burns! It burns!!”</i></p>
<p class="para">Thick
clouds began to look the same colour as the sunset, blazes and flames
rose in random areas; the air was difficult to breathe, and many
plots of grass had fallen dry. It was only a matter of time before
the entire area became a burnt-up field.</p>
<p class="para">The
number of circling dragons in the sky steadily increases, likely
gathering allies. I had an easy time believing that the dragons who
had been used by humans from around the world would regain their
freedom and soar into the sky.</p>
<p class="para">The
dragons were rebelling. They had turned their backs on the humans.</p>
<p class="para">I
turned around, feeling the heat on my back. The flames crawled on the
ground like a great snake and approached me.<br/>
“Ah-!”<br/>
I
still haven’t stood up, dragging my hips in retreat. There is a
strong feeling of discomfort in the lower half of my body. I was
incontinent before I knew it.<br/>
“Someone…. <i>SOMEONE
HELP ME!</i>”</p>
<p class="para">I
look towards the heavens and scream for my life. I can only see the
stomachs of the dragons who fly leisurely overhead.<br/>
“It’s
me! I’m the caretaker!! Come save me! Someone…. Carry me on your
back and fly me away from here!!”</p>
<p class="para">On
the back of my eyelids, the profile of a dark-haired man riding on
the back of a dragon appears.<br/>
How I envied that man and the red
dragon, how they saw each other as irreplaceable. It was beautiful.
One day, that would be nice. I also want to live a life as someone
irreplaceable.</p>
<p class="para">As
I waved madly towards the sky, one particular dragon caught my eye. A
black colour like darkness… <i>It
was the black dragon from the dragon keep.</i><br/>
“Please
save me!! I’m here! Just below you!!”<br/>
Perhaps my voice had
reached it — The neck of the black dragon tilted slightly. Our eyes
must have met. The moment I thought I had been saved, a hot shock ran
down my back.</p>
<p class="para">What?
Was that… <i>Fire?</i><br/>
I
let out a pained moan and put my hand on my back. It felt slimy… <i>It
was blood.</i> My own
blood was gushing out. The lord with a longsword, wet with blood,
stands in front of me, screaming in shock, pain and fear.<br/>
“Idiot!
Don’t speak in such a loud voice! If the dragons blow fire now,
I’ll get caught up in it!”</p>
<p class="para">It
seemed that he pointed the blade at me, rather than the handle. In a
daze, I raised my hands towards the black dragon.<br/>
“Wai….. t
… Choose me…. Ple … ase…?”</p>
<p class="para">The
black dragon slowly flaps its wings and flies away. Didn’t it hear
me? I struggled to speak.<br/>
“Wait… Only me…. I…. I
am….”<br/>
“So, that’s why you are so noisy! You’ve managed
to escape death!”</p>
<p class="para">The
longsword glistens, and cuts my hands from my elbows.<br/>
“‘Only
you’, you say? Do you mean to say that you are righteous, unlike
other human beings? Do you mean to say that you can understand
dragons?? Hahah! Nonsense! You are a human who simply abandoned that
young dragon to keep your job and survive. You are one of the most
dirty-looking people alive. A worthless human being, with plenty of
other alternatives.”</p>
<p class="para">His
merciless words shatter me. I collapsed on my back and stared up at
the sky, feeling the blood dripping from my mouth and ears.</p>
<p class="para">Now,
seeing the form of those dragons flying freely in the sky, surrounded
by flames, I saw the same nobility and majesty of that red dragon.</p>
<p class="para">“How….
Beautiful….”<br/>
That blood-coated murmur slipped from my lips,
and I closed my eyes.</p>
<img src="https://i.imgur.com/LM2wvaZ.jpeg">
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3/A_2040">Previous Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3/A_4010">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3">Back</a></p>