---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<TextLayout>
</TextLayout>
<title>A_4010</title>
<p style="margin-top: 1cm; font-size: 300%;">A_4010</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/barnabism">Barnabism</a></p>
<p class="title">Drafted by: Yoko Taro<br>
Written by: Matsuhita Ayaki</p>
<p class="title"><i>I
have lost everything, but my heart is not at all sullied by it.</i><br/>
<i>It
is clear, it is clear that I am simply diseased.</i>
​</p>
<p class="para"><b>TRIGGER
WARNING:</b></p>
<p class="para"><b>This work contains many
mature themes such as: Child death, castration, implied child
grooming, forced birth, eye trauma, cannibalism, and graphic
depictions of gore. Enjoy!</b></p>
<p class="line"></p>
<p class="para">From
its centre, the large forest is as vast as the sea. With its heaps of
branches and thick leaves buzzing in the wind, you find that when you
stay for a long enough time, it begins to sound like waves. And if
you were to stay even still enough, those waves begin to sound like a
voice in song. That’s why I like the forest; it is away from my
family and covers and hides everything about me.</p>
<p class="para">Pushing
yourself through trails left by animals, silently picking nuts and
mushrooms, and hunting isn’t even bothersome in the least, either.
Even smaller things like birds and rabbits were prepared well enough
that my family was pleased after waiting for a return. Though I’m
far from good looking with my freckles and pimples, I found it better
to chase a deer covered in mud than mix in with the other women
washing things in a well.</p>
<p class="para">Perhaps
I <i>should</i>
have looked more like my beautiful elven mother, rather than my
rugged human father — My bearded father, who slept with a big snore
every night, always told me in annoyance how I was still a young girl
and coming of age, whether I had few female friends or not.</p>
<p class="para">I
didn’t really know what it was about him that made my mother love
him so much.</p>
<p class="para">“If
we take this road, we should be able to see the spring. Mother, can
you still walk? Should we rest a little?”</p>
<p class="para">“I
am in good condition, still alright. Thank you.&quot;</p>
<p class="para">Even
as I paid mind to care for my mother, I never broke my alertness to
my surroundings. If anything, I hoped to get out of this dense animal
trail before sunset. It seemed that my younger brothers, who walked
behind us in order to protect our mother, were finally getting used
to walking in the mountains and holding weapons in their hands. A
lamentable sight it may have been, to see children so young forced
into such a position, but everyone needed all the power they could
muster to survive… No matter how hard it may have been.</p>
<p class="para">I
begin to speak with my two younger brothers. “How are you doing?”</p>
<p class="para">“You
worry yourself, sister. If there’s an emergency, you can leave it
to me!”</p>
<p class="para">“I’ll
also do my best, big sis!”</p>
<p class="para">“That’s
good. If you exhaust yourselves, you’ll have trouble staying alert,
so take care not to overdo it.”</p>
<p class="para">Our
hometown was burned to the ground. It all started when a woman with a
docile dragon stayed at the inn one night. She was a young woman, one
with shiny dark hair and <i>gorgeous</i>
features. It wasn’t a complete surprise for someone so refined to
stay in a village such as ours — It had always seemed our village
stood out to travelers with an unignorable noble air to them, after
all. After seeing them off, the innkeeper had picked up what looked
like a silver scale that had fallen off the dragon. “Silver brings
good luck. It is a talisman for prosperity”, he had said — He
hung it on the shop sign, but that was as far as his luck would run.</p>
<p class="para">Though
there had been rumours heard around the area in regard to “Dragon
Hunters”, people sent from the Union who used dragons in order to
drive out others that did not obey, no one had ever dreamed of them
visiting a remote village where such targets lived.</p>
<p class="para">The
town was mobbed, burned down overnight by the orders of a dragon
hunter because it was a sin for an inn to offer hospitality to a
woman with a dragon and not report it. <i>No
one should know a woman’s whereabouts, even if she was asked to
tell of where she was heading. It was such a gentle dragon; it didn’t
cause any harm to humans. I didn’t know anything — I wanted to
help.</i></p>
<p class="para">Father,
who had always been proud of his loud voice, kept screaming. In the
end he was cut down all the same, all as he begged them to overlook
only the woman and children.</p>
<p class="para">“<i>Run
away.”</i></p>
<p class="para">Those
were the last words my father spoke, spitting out crimson blood as he
was thoughtlessly slashed aside. Though I hadn’t heard his voice, I
<i>saw</i>
how those dirtied lips moved from the distance — It was then my
amber eyes were <i>proud</i>
to have been able to see farther than other people's.</p>
<p class="para">“Sister,
up there…!”</p>
<p class="para">As
I had been caught up in the memories of that image of hell, I was
late to notice the sound of wings passing through the sky. With
tongue-in-cheek, I hurriedly gathered my mother and younger brothers
behind a tree and squinted through the gaps of the overlapping
coniferous leaves…</p>
<p class="para">The
large shadow that covered the sky was much larger than that of an
eagle or hawk.</p>
<p class="para">“A
dragon… Someone is on it.” The dragon flew straight ahead without
attacking, its large wings looking like a light that pointed to where
it would start going. “Let’s go! Mother, we’re almost there.
The village of the Green Dragon is near.”</p>
<p class="para">I
didn’t notice it then, but for the first time in a long time, I was
<i>smiling.</i>
I just couldn’t help but feel happiness being able to see my mother
and younger brothers smile with relief as well.</p>
<p class="line"></p>
<p class="para"><br/>
<i>The
village of the green dragon…</i>
I never thought that we could really reach it. Until we had actually
reached it, I had only brushed it off as a rumour from merchants who
visited our town, though it was just as true that we had no choice
but to follow blindly and pray. They had said that the small village
was created by a green-scaled dragon and a priest who shared a tight
bond with each other as a way to help those who had lost their way.</p>
<p class="para">… Yet,
when we actually arrived at it, we were quick to realise that it
could hardly be called a <i>village</i>
— It was more of a campsite, with simple tent huts lined up by the
spring and surrounded by the forest. Even so, it was rather clean,
and me and my family were grateful to have been provided a place away
from the wind and rain for free. Many of the villagers had lost their
homes and relatives due to the tyranny of the Union, and stood in
agreement with the priest’s philosophy of “Coexisting with
dragons”. While collecting armour in secret, they saw an
opportunity to rescue a dragon that was being used by the Union.</p>
<p class="para">“Dragons
are creatures just like we are. But those Union scum… They treat
them like tools of war, oppress them, and hunt those that don’t
obey.”</p>
<p class="para">“I
can see the priest’s green dragon from here. It’s watching over
us so quietly… Such a harmless thing. It can do no wrong.”</p>
<p class="para">“To
kill both humans and dragons so indiscriminately… That Union is the
incarnation of evil. They are no different than the former Empire!
Beasts without a heart.”</p>
<p class="para">They
had no money, and food was scarce, but the abundant water of the
spring saved them. Above all, the eyes of the people shone with
determination and the light of hopeful resistance dwelled within
them. This village had the green dragon and the priest by its side.
<i>One day, we’ll
settle the score with the Union, free the dragons from enslavement,
and build a community where</i>
<i><b>everyone</b></i>
<i>can live together.</i>
After losing my father, such an ideal thought warmed my heart.</p>
<p class="para">“Hello.
Are you well?”</p>
<p class="para">“Over
there! Over there! It’s the priest!”</p>
<p class="para">… A
blanket is spread out, and my resting mother wakes up with a smile. I
hurriedly stood to prepare the hot water.</p>
<p class="para">“Ah,
the tea is almost ready. Please, sit back down carefully. …As I
have said many times before, I am neither a priest nor a minister.
Please, call me by my name instead. It is most common here.” “Thank
you for taking such care of my mother… Father Leonard.”</p>
<p class="para">The
village guardian that was accompanied by the green dragon at his side
had a much sturdier body than what the rumours said. It was a strong
and dignified form, so much so that the steel armour was unbelievably
reminiscent of a monk soldier’s, rather than a priest. Each and
every day, I occasionally snoop from the shade of a tree to watch him
caring for the ageing body of the dragon. “Father Leonard…”</p>
<p class="para">He
had eyes that sometimes shone in a forest green colour, reflective of
the dragon’s scales. They were beautiful to me, who had only
ordinary amber eyes. There was a rumour going about that the dragon
was compelled to save humans and other dragons, and devotedly went
about driving out dragon-hunting soldiers. I also knew the beauty of
those strong muscles hidden under his clothes. How dependable that
disciplined figure was wielding such heavy and thick clubs and chains
in the morning mist, and with such ease….</p>
<p class="para">….Suppose
— Suppose I could have a <i>special</i>
relationship with him. I wished that I could be the only one who was
irreplaceable to him.</p>
<p class="para">“If
that is the case, then no formal titles are necessary, you may call
me Leonard. Just use only my name…” I hide myself in the forest
behind the dragon’s keep, the delusions of chasing after him
setting my body aflame.</p>
<p class="para">“Leonard…”
Leonard’s lips touch my small chest, his rugged fingers slipping
into the gap between my legs for a sweet moment. I chased the area
with my fingers over and over again. Even if such a day would never
come, I can’t help but dream about it, biting my wet lips so that
no one can hear.</p>
<p class="para">… One
day, after I returned from hunting, I visited the simple, small home
where Leonard lived. He greeted me with a smile.</p>
<p class="para">“I
see you have hunted rabbits; an admirable skill. A young lady such as
yourself did this?”</p>
<p class="para">“Yes.
You have always shared with me and my mother so much, so…”</p>
<p class="para">“It
is fine, you must look after your mother. To bring new life is to
bring hope to our village, it is for that which we must only be
considerate.”</p>
<p class="para">Leonard
smiled and gently touched the corner of my right eye. Though the
indescribably soft, childlike fragrance from his fingertips had left
me bewildered; the colour of the tongue that licked away the dirtied
dark red on his thumb I burned strongly, <i>strongly</i>
onto the backs of my eyes.</p>
<p class="para">“The
rabbit’s blood… It is a waste how it dirties your amber eyes.”
With the sound of my heart beating out of my chest, I hurriedly
turned on my heels and ran down the road to the forest. The young
scent that was so unexpected of his body never left my mind. Even if
I hadn’t been invited to his room, I felt elated just being able to
feel his touch.</p>
<p class="para"><i>One
day with him, surely with him.</i>
My dreams grow more and more. Even so… I am no more than a
villager. I could only softly gaze at Leonard when he visited my
mother. I’m very glad my mother is pregnant. If it wasn’t for
that, he wouldn’t visit us every two days, and I wouldn’t be able
to stare at his dignified smile.</p>
<p class="para">“Please
come to the town’s clearing tomorrow. When the sun is set and a
fire is lit, the children’s choir shall perform a new song.&quot;</p>
<p class="para">“Oh,
most certainly.”</p>
<p class="para">The
choir was the village’s only pastime, and alongside Leonard’s
presence, it was a large comfort to the people. It was a rule that
only boys would make up the choir because it was ominous when a girl
sang; it was believed it would awaken the former ruler’s evil
spirit. All the previous rulers were women, and it was said that they
had a mysterious power to kill by singing songs. The populace loathed
these rulers, and called them “Intoners”.</p>
<p class="para">Others
would laugh if they heard it, but I think Leonard’s strong
obsession with superstitions and legends is one the reasons he is
called a priest amongst the village… Such a serious, steadfast
person. But even such a thing as that was absolutely beautiful. We
both looked shabby, yet he resided in a completely different world
than a lustful half-elf like me. My precious, shining hero.</p>
<p class="para">“Oh
yes, one more thing, Father Leonard. My sons have recently begun to
learn and sing songs from the choir.”</p>
<p class="para">“I
am glad to hear it. Both people and dragons are all the same precious
creatures. If everyone can smile and live peacefully, then that is
the best kind of happiness one could have. Recently, it seems as if
the trend of dragon hunting has begun to fall. Please rest at ease
here and give birth to a strong child. If you can, a boy is good.”</p>
<p class="para">“Oh
my, I most certainly will have to try to deliver one then!”</p>
<p class="para">Those
gentle words are broken down, piece by piece, and written down within
my heart. The sun had already begun to set by the time I saw off
Leonard, and, having begun to clean up around the house, my little
brothers returned just as I took a jug of water from the tent. The
branches and leaves of the forest trees rustle slightly in the cold
wind. “Goodness, how far did you go off to play?” “.... Not too
far. You have nothing to do with it.”</p>
<p class="para">My
brother, who looked similar to me and my father, left me with nothing
more than a blunt reply and went into the tent. My youngest brother,
who ran up from behind me, smiled and pulled at the hem of my
clothes. “Sister, sister! We asked to join Mister Leonard’s
choir. I won and got in, brother lost.”</p>
<p class="para"><i>I
told him not to go to Leonard or the dragon and bother him without me
or my mother’s permission…</i>
Even after that remark earned him a small hit on the head, my little
brother laughed jovially and still kept his good mood. He seemed very
happy to have beaten his older brother. Honestly… Men were such
troublesome creatures when young. But, it was true that seeing my
youngest brother’s smiling face, cute and so similar to my
mother’s, filled me with a sweet sort of feeling. “I know why
brother lost~! Wanna hear? Wanna hear?”</p>
<p class="para">“It
can’t be helped, I’ll listen.”</p>
<p class="para">I
crouched down and my brother whispered in my ears, still innocent and
blowing warm breath.</p>
<p class="para">“So~
Mister Leonard said my brother lost because his thing was too dirty
to be cut properly. Mine is smooth. Do you know what that means?
‘Dirty’?”</p>
<p class="para">The
wind blew through the forest. The dusk-coloured branches and leaves
shook in the breeze, and with an angelic smile, my young little
brother laughed, and laughed, and laughed.</p>
<p class="line"></p>
<p class="para">A
group of young boys line up in front of the fire. The large body of
the green dragon lies beyond the burning flames, giving the
appearance as if it, too, had a dedicated stage. Is it listening to
the choir’s singing voice just like we are, in the audience? The
dragon simply sat there with its eyes closed. Gazing at each of the
scales that glittered off the fire, I then turned it to the broad
back of Leonard, who was conducting the choir. The melody grew
peaceful, blending with the moist air from the spring that blew
downwards.</p>
<p class="para">“Hey,
did you know? Dragons only form bonds with lonely and strong humans.
You see, that must mean Mister Leonard is all alone in this world…”</p>
<p class="para">I
heard a similar thing mentioned in the morning when those
gossip-loving women were wandering about and doing laundry by the
spring. If that really was the truth, then I couldn’t expect to
form a bond with any green dragon for the rest of my life. Like
Leonard, whose entire family was slaughtered by the Union, like a
knight who drank the blood of a dragon while dying in the winter
mountains, it is unlikely to end up alone no matter how far you fall.</p>
<p class="para">“Hey
sister, I get to start practising in the choir tomorrow~!”</p>
<p class="para">“Shhh.
Don’t speak in the middle of the song.”</p>
<p class="para">“Okaaay~”</p>
<p class="para">I
held my brother in my lap even more firmly. The warmth that came from
such a young body was high, part of his hair stuck to his nose. Was
it because he had tired himself out from playing? He smelled grossly
sweaty.</p>
<p class="para">The
beautiful singing voices seemed to strike something inside my heart,
and I felt the urge to protect them well up within me.</p>
<p class="para"><i>I
can never be alone.</i></p>
<p class="para"><i>No
one is ever alone.</i></p>
<p class="para">To
protect my youngest brother in my arms, my mother next to me, my
pouting brother next to her, the younger sibling in my mother’s
stomach, for my father who wasn’t here, I decided. And by Leonard’s
side, I made a decision to be helpful to him, too.</p>
<p class="para">“Sister,
why are you crying?”</p>
<p class="para">“....
Be quiet.”</p>
<p class="para">By
the time I had wiped away my tears, the crowd had broken out into
applause. Leonard cast a deep bow to the audience after the requiem
was finished, but suddenly lifted his gaze towards someone. My heart
skipped a beat, but his honest eyes weren’t looking at me. In a
quiet voice, he called the name of my younger brother who I held
close to my chest. “Please, come here.”</p>
<p class="para">My
brother’s face quickly brightened as he was beckoned over, I let
him out from under my arms and he ran up to Leonard. Leonard leaned
down to his level and held him in his arms, my brother proudly
puffing his chest to the villagers before them.</p>
<p class="para">“A
new member has joined the choir. Everyone, I ask you watch over his
efforts for a long time yet, and…”</p>
<p class="para">A
beautiful voice flows from his mouth, my brother’s proudly flushed
cheeks illuminated by the bonfire. In the moment that I squinted
against the dazzling glow, I heard a slight movement in the wind. It
took me some time to recognise where it came from since the scene in
front of me was so…</p>
<p class="para">…<i>.Unrealistic.</i></p>
<p class="para">My
brother's small stomach was pierced by a large arrow, and behind the
frozen villagers stood a man with a slightly dirtied crossbow and a
deceitful look. Fresh, red blood fell from my brother’s mouth, the
drops illuminated by the fire looking like a vibrant red flower. The
commands from the large soldiers roared at the same time the
deafening screams began to erupt from the villagers.</p>
<p class="para">“<i>NOW!
AIM FOR THE PRIEST AND THE DRAGON!”</i></p>
<p class="para"><i>Dragon
hunters.</i> Someone
had told them. The afterimage of my father and my town aflame floats
through my head. The arrows are fired. Crushing the resurrected
nightmare back with my teeth, I kick the ground out from under my
feet and run towards Leonard and the others as if something inside me
had snapped completely.</p>
<p class="para">“Please,
take care of mother!” I yelled over my shoulder without looking
back at my younger brother and ran forward as if in a daze. Soldiers
rushed in from the forest behind the audience in such a vast amount
it could almost be wondered where they were lurking, the tents and
small homes set ablaze. Arrows fell like rain on the green dragon who
was only now sluggishly getting up, and I saw those which did not
reach it drive themselves one after another into the brains and backs
of the young boys who had scattered in attempt of escape. In a
sprint, I called out the name of my brother, and then that of my
hero’s—</p>
<p class="para">“FATHER
LEONARD!!”</p>
<p class="para">I
rushed over to Leonard, who had curled up to protectively around my
brother — And drew in a breath at the sight up close. The iron head
of the arrow that had passed through my brother’s body had pierced
Leonard’s as well. However, the light that dwelled in his eyes
resembled nothing more than anger.</p>
<p class="para">“This
child’s life… <i>What
significance could the life of a child have to them….!?!?”</i></p>
<p class="para">The
weaponry he carried on his waist was removed, and when it seemed the
five sections of the staff were connected, it immediately took the
form of a large spear.</p>
<p class="para">“<i>HAAAAAGH!”</i>
Leonard stands up while still holding the body of my young brother,
swinging the steel spear with one hand and knocking back an enemy,
his appearance like a demon’s. All the arrows that flew towards him
were swept away before they could even hit, and the surrounding
soldiers were blown away like dolls one after another.</p>
<p class="para">…<i>What
strength, what anger.</i></p>
<p class="para">The
wings of the green dragon slowly unfurled like a large canopy over
me, who was left too shocked to crouch down, Leonard slipping under
the wings as well at the last second before they made a full cover.
An expression of sheer exasperation and rage had remained on my face
as I forcibly ripped away my brother’s body from his arms. “Father
Leonard!!”</p>
<p class="para">There
came the sound like a sickle tearing flesh. However, despite the
blood gushing from his wounds, he does not move. “They have missed
the vital points of both me and this child. You mustn’t pull out
the arrow, as it stands it is the one thing keeping the blood inside.
He can surely still be saved... He, as well as the other children who
are still breathing under these wings.” “But with everything as
it is… It is better you take the dragon and get away from here!”</p>
<p class="para">As
I cried, holding the tortured body of my younger brother, Leonard
only averted his gaze downwards with a mutter. “.... I cannot. This
dragon has no power to fly.”</p>
<p class="para">“<i>But
that-!</i> Did it not
fly to you the day we arrived at the village!?”</p>
<p class="para">“That
must have been you seeing wrong, then. This dragon is not capable of
flight, nor is it capable of breathing fire. It was for that reason
that it had been abandoned by the Union.”</p>
<p class="para">I
looked up at the wings as he said that, and only then did I
understand it: The peaceful dragon that followed Leonard was not just
dignified and quiet. The large number of scales that seemed ready to
fall off, the wrinkled and dirtied skin on the back of its wings, the
loose fangs that trembled slightly in its mouth, and the eyes that
were somehow dull — I didn’t notice because I was just staring at
Leonard. Everything was so <i>different</i>
from the silver dragon I saw. This green dragon hardly even had an
easy time moving at this point.</p>
<p class="para">“And
even still… It’s trying to protect us…?”</p>
<p class="para">Beyond
the wings of the silent green dragon, Leonard continued to struggle
fiercely by himself against the advancing army’s forces. Somehow,
his powerful cries came as an inspiration to me. For him to fight for
us, to <i>protect</i>
us, I knew I <i>had</i>
to help him. I pulled the boys who were still breathing under the
dragon's wings and tried to stop the bleeding as much as possible.</p>
<p class="para">But…
It hardly made any difference.</p>
<p class="para">“It
hurts, it huurts…! It hurts, please don’t! <i>IT
HUUURTS!!</i>”</p>
<p class="para">“Wait…
Wait, wait, <i>WAIT...!!”</i></p>
<p class="para">The
crying screams of my youngest brother were enough to break the
remaining innocence in my spirit. The choir boy drags himself to his
feet, distorts his face into a scream, his body twisting, and then
dies. The dragon lets out a pained shriek. Had it been shot with a
flaming arrow? I tried to block the sound from my ears. I wanted to
just close my eyes, crouch down, and cry. “Father Leonard….
Leonard….”</p>
<p class="para">I’ve
been left tarnished, holding a dagger rather than the sword that’s
always at my waist. I tore at my clothes, using the strips of cloth
as bandages, knowing how imminent the threat of death was if I were
to leave these wings. <i>What
should I do? What should I do? What should I do?</i>
Was mother safe? Was my little brother with her already…?</p>
<p class="para">I
couldn’t find a way out. My arms trembled in the midst of the chaos
and wouldn’t stop. A large body stumbled under the dragon's wings.</p>
<p class="para">“Ah…!?”</p>
<p class="para">Hunched
over a young boy’s dead body was an adult woman with an arrow stuck
in her leg. Given her groans and struggles, she was clearly still
alive, but…</p>
<p class="para">It
was my <i>mother</i>,
the countless number of arrows stuck in her back worn like a cloak.
The boy beneath her, my brother. “Mother!? Mother!!”</p>
<p class="para">Something
swayed behind me. A shadow falls over me, and calls towards me.
“Ahaha…. There’s such a great feast here… So I have to help…
I’ll give you my help….”</p>
<p class="para">It
was the reason my mother had fled here — A strange elf woman who
was unfamiliar to me. I had never seen such a mysteriously beautiful
woman among the villagers, but she wasn’t wearing Union armour,
either. The crooked swords she held in her hands dripped with blood.
The woman gave me a dark smile, turned around and went to stand next
to Leonard.</p>
<p class="para">“The
soldiers here… Soooo many, do you think you can beat them all?”</p>
<p class="para">“Arioch…
What are you doing back here? You must leave!”</p>
<p class="para">Leonard’s
harsh tone didn’t seem to bother the woman called Arioch in the
slightest. Rather, she turned her sword over in her hands as if she
were a lady invited to a dance, and looked comfortably around the
world of blood and flames. “Do you need assistance? Then… You’ll
allow me a part in this feast, won’t you?” “Kgh… If there is
no other way to go about this without making a fair share of
sacrifices on our path… We must focus our efforts on saving only
the life that remains unscathed!”</p>
<p class="para">What
could have happened between them? I knew nothing. With no choice
other than to hold my breath, I watched the two battle with such
skill that it hardly seemed to be the work of simple human beings,
all while I myself hid in the protective shadow of the green dragon’s
wings.</p>
<p class="para">Crooked
as it was, Arioch brought her sword to pierce through the soldier’s
vitals and slash through their necks with incredible ease. Leonard’s
spear broke the tendons of the soldier’s arms and legs to keep them
from using their weapons, and though not lethally, smashed their
bones with his fists. The way they fought almost completely
differently, but were both of the same breath to annihilate the enemy
together, made it as if I were watching them dance around each other.
The way the blood scattered was <i>beautiful.</i>
Little by little, I feel the trembling in my body subside. Perhaps
these two <i>could</i>
save us.</p>
<p class="para">Just
then, the feeling of hot air had blown in from a distance. Bright red
flames hurled towards the side of the spring. I instantly recognize
the clear unnatural shift in the air as the result of a fireball
fired by a dragon.</p>
<p class="para">“Is
that… A <i>yellow</i>
dragon…!?”</p>
<p class="para">Beyond
the spring, a Union troupe was blocked off from their advance by a
particularly large dragon with yellow scales. The sharp shape of the
yellow dragon’s wings struck me as familiar — That day, when I
thought we were being led to the village, it was <i>those</i>
wings that flew over the forest like an arrow.</p>
<p class="para">And
then I remember <font face="Tahoma, sans-serif">⸻
That dragon-slaying army that had burned down my hometown was looking
for a woman. There was a dragon responsible for gruesome slaughter,
and a woman that followed it. I had heard that the colour of the
scales of the dragon, neither good nor evil, were a beautiful yellow,
like a flower that chased the sun… If you wiped away the blood.</p>
<p class="para">“<i>A
dragon gone mad…”</i></p>
<p class="para">A
chill crept down my spine. With Arioch’s laughter overlapping with
the roars of the yellow dragon, I inadvertently hugged around my
shoulders. It was then, something touched under my feet. No longer
able to hold in my fear, I look over my shoulder defenselessly.</p>
<p class="para">In
all truth, I didn’t know who or what it was. The tortured body of
my mother suddenly spread her legs, a red fluid that dragged behind
her feet continuisly streaming out. Something was hidden between the
exposed legs that looked like a lump. “I need…. Help…..”</p>
<p class="para">“<i>Mother—!”</i></p>
<p class="para">Finally
a voice had come forth that I knew belonged to me. <i>The
Gods do exist,</i> I
immediately thought to myself; but snap out of it quickly. In such a
hell, life still exists, and my mother was struggling desperately to
create that new life. I could say this much without calling it “The
will of the Gods”. Ah, how beautiful was the concept of life! I
felt as if I had heard a voice whispering to me, telling me to live.
Live, live, <i>live.</i>
Because, you are not alone. I am not alone. You could not ever be
alone, no matter what.</p>
<p class="para">At
that moment, my eyes opened to pure red. I saw the sky. The smell of
air grows stronger. The canopy that was supposed to protect us <font face="Tahoma, sans-serif">⸻</p>
<p class="para"><i>One
of the green dragon’s wings had fallen off.</i>
The roar of the shaking ground drowned out the groan of the powerless
dragon. The red eyes of the yellow dragon which had destroyed the
other shone brightly as it’s fangs thrust into the flesh of the
green dragon.</p>
<p class="para">“I
knew I would have it even when I was driven out… The day when
delicious food gathers here. That man is hogging it all to himself.”</p>
<p class="para">I
noticed that Arioch stood behind me, the crimson blood that covered
her hands would have looked beautiful on the lips that sat against
white teeth.</p>
<p class="para">“Arioch,
please, stop this!” Leonard rushed to place himself between me and
Arioch, but she was quick to thrust the point of a sword stolen from
one of the Dragon Hunters towards me, and with her right hand, placed
the tip of the crooked sword on the stomach of my younger brother
lying next to me.</p>
<p class="para">“If
you move any further, then should I kill one and take them for
myself~?”</p>
<p class="para">“To
behave so foolishly… We were <i>both</i>
robbed of our family and children at the hands of the Union. Why are
you doing this?”</p>
<p class="para">“If
I kill them, then I can protect them. I can take care of them, I
won’t lose them anymore… So then, which one? Which one would you
like?”</p>
<p class="para">I
tremble, crying and staring at Leonard. For the first time, I call
out his name and beg with amber eyes full of tears. <i>“Leonard…
Help me…”</i></p>
<p class="para">But,
he hesitates. Between me and my little brother, he can’t decide.</p>
<p class="para">“Which
one will it be~?” Arioch hummed in a sing-song tune, both swords
brandished in her hands. At the moment the tears overflowed from my
tightly closed eyes, the unpleasant sound of a faint groan reached my
ears. <i>“Father.....
Leonard…”</i></p>
<p class="para">Leonard
rushes to protect my brother, the blade of the twisted sword sunk
deep into the back that covered his body. Arioch tosses away the
sword that was pointed at me, and with a loud laugh, pushes the
twisted sword further into Leonard’s body.</p>
<p class="para">“<i>AHAHAHAHAHAHAHA!!</i>
Just as I thought! He’ll be together with me! You couldn’t give
up one of those sweet, sweet children! Sweet, so sweet, even dead on
the ground!! The beautiful children, we both seek to protect them…~!”</p>
<p class="para">Leonard
had chosen not me, who was alive, but my younger brother, who had
been exposed to the sweet death at the hands of the poison applied to
the arrowhead that struck him down. The blade thrust through
Leonard’s heart and cut down his back. Still, the man who was my
hero held onto my brother and never let go. “................”</p>
<p class="para">In
his last moments, he muttered my younger brother’s name, and that
was the end of his life.</p>
<p class="para">I
was stunned, unable to even blink. My mother still groaned from
behind me. It was Arioch who gently wiped away the tears that welled
up in my eyes, smiling as she licked away the drops on her
fingertips.</p>
<p class="para">“Don’t
you cry. You must be a strong woman… See, the smell of blood… The
smell of life… The smell of a woman… What a splendid scent.”</p>
<p class="para">The
same smile remained on her face as she tossed away her swords and
without hesitation, pushed my mother on her back, put her right hand
between her legs, and began to push her stomach hard with her left
hand.</p>
<p class="para">“<i>AHHHHHHHH!!!”</i>
My mother screamed. Arioch laughed. “Ahahahahaha, that <i>warmth!</i>
What a pretty colour, look at that pretty head! Look, look at those
small hands!!” <i>“Stop….”</i></p>
<p class="para">I
spoke out in a desperate voice. I tried to get closer to her, but my
legs felt as if they were glued to the floor. No matter how I tried,
they wouldn’t move... <i>They
wouldn’t move.</i></p>
<p class="para">“How
delicious!! Ah, come! Hurry inside, my sweet child, and we’ll
become one. Mhmhmhmhmhm… Ahahahaha, look! Yes, come out! Come
out!!”</p>
<p class="para">“<i>Stop,
stop, stop, sto… o…p…”</i></p>
<p class="para">My
teeth do not bite. I can only make out a fuzzy voice. Even if I
wanted to bite off my tongue, <i>I
didn’t have the power.</i>
Before my own unfocused eyes, I saw my mothers chest grow wet, and
the faint smell of milk drifted in. Behind Arioch, dragon devours
dragon. The sound of bones crushing under sharp fangs creates an
eerie, percussion-like rhythm. In front of me, a woman laughs in
delight, her arms dyed red with blood as she prepares to dig into her
feast. Her lips rested on the thread of life that connected mother
and child.</p>
<p class="para">“So
delicious…. So sweet, <i>so
sweet,</i> so good...!
I’ll protect you… You’ll be born again… I’m your mother,
your mother… I’ll protect you…”</p>
<p class="para"><b>What
is this?</b></p>
<p class="para"><b>What
should I do?</b></p>
<p class="para">Suddenly
there was a dull sound, and the warm, wet baby slipped and fell out
from under her hands. “What….~? Do you also…. Want to join me….
In this feast…?”</p>
<p class="para">“...........................”</p>
<p class="para">The
tip of the large sword was thrust into the woman’s stomach. It
crushed her spine and pierced through her womb, where I left the
blade. Like a swordsman, I took the twisted sword that had been left
in the back of Leonard’s corpse, and with it I mercilessly struck
down Arioch. The brandish of the sword was so light I wondered where
it got such power. One after another, I destroy Arioch’s
fingertips, wrists, her upper arms... Even with the blood that
splattered across my face, even with her head completely detached
from her body, I couldn’t stop attacking.</p>
<p class="para">“....
You may leave it at that. She is already long dead.”</p>
<p class="para">“...........................”</p>
<p class="para">A
beautiful voice echoed from somewhere. It was a mysterious voice,
like the sound of the trees in the forest.</p>
<p class="para">“This
village was bait for that maddened elf woman and her yellow
dragon.... What a foolish scheme. I will take care of the rest.”</p>
<p class="para">“...........................”</p>
<p class="para">“Do
the mad tend to naturally flock to one another? How laughable. I
cannot abide such foolishness...”</p>
<p class="para">The
man with hollow eyes fell quiet, simply standing still in the blood
of both my mother’s womb and that from the crazed woman’s body.
With the shadow of a burning fire flickering behind me, I felt a
strong wind blow, and a new dragon came down from the sky. For a
moment, I had thought the man had grown wings. The colour of the
dragon’s scales were crimson, a crimson brighter than even the
surrounding flames. The ground shook as it’s flames hit the
maddened yellow dragon that was absorbed in sucking on the green
dragon’s bones. With each flap of the crimson wings came a powerful
gust of wind, and the surrounding trees sway, and sway, <i>and
sway.</i></p>
<p class="para">The
tune of the swaying leaves, however, didn't bother me. In the end, I
couldn't hear anything.</p>
<p class="para">Mother
had stopped moving a long time ago. The baby didn’t make a single
cry. My body swayed as I stood up, and a hand pressed to my abdomen,
feeling a dull pain. The black blood was thick, it had looked as if I
had never seen the white inner thigh underneath.</p>
<p class="para">That
was the last colour I ever saw.</p>
<p class="para">The
red dragon's display of power in slaughtering the crazed yellow
dragon was immense, and the lips of the knight had distorted into a
faint laugh as he watched it.</p>
<p class="para">That
voice was the last thing I ever heard.</p>
<p class="para">Beyond
the spring, in front of the dense forest, the eyes of a black dragon
shimmered softly; a momentary, dull glow with jet-black scales that
reflected in the moonlight. That is what I saw — …No, perhaps it
was only an illusion. My amber eyes didn’t show anything right.</p>
<p class="para">I
didn’t see anything. Anything. <i>Anything.</i></p>
<p class="para">I
blinked slowly, opened my dampened eyes wide, and thrust my nails
into those amber eyes.</p>
<img src="https://i.imgur.com/ZXAbmhv.jpeg">
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3/A_3010">Previous Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3/A_4030">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3">Back</a></p>