---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<TextLayout>
</TextLayout>
<title>A_4030</title>
<p style="margin-top: 1cm; font-size: 300%;">A_4030</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/barnabism">Barnabism</a></p>
<p class="title">Drafted by: Yoko Taro<br>
Written by: Shiromoto Nao</p>
<p  class="title"><i>It
is thicker than water, but there are no tears.</i><br/>
<i>If
washed away, it will disappear and will be lost forever.</i>
</p>
<p class="line"></p>
<p class="para">Her
eyes suddenly awoke to the nostalgic scent of grass that tickled her
nostrils. A small piece of stitched up cloth shook in the wind in
front of her, an instant tent made by tying a piece of fabric to a
tree branch. Though it was only a cloth, it was better than choosing
just the shade of a tree, and turned the rays of the noontime sun
into an oddly gentle light. Soft grass wrapped around her body. The
moment she closed her eyes again for that comforting
feeling...<br/>
“You’re awake?”<br/>
The face of a boy peered
through the tent, and, surprised by the voice, Furiae suddenly got
up.<br/>
“I was told by the deputy captain to come wake you.”She
looked up and blinked several times at the laughing boy, who said she
had gotten up at just the right time, and Furiae’s eyes drew to the
sword on his hip, a tough weapon to make up for the boy’s lean
body. Her mind cleared as soon as she remembered the significance of
those words, and their current situation.</p>
<p class="para">That’s
right. Soon she would have to pick up the sword just the same, and
fight those people.<br/>
Furiae thanked the boy, got dressed and went
outside of the tent. She stretched out her sleepy, stiff muscles, and
sucked in a breath.<br/>
Hopeless... She had intended to take a short
break, but ended up falling asleep for a long time instead.</p>
<p class="para">The
surroundings were surprisingly quiet... There was a reminiscent,
gentle flow of time and scenery in the afternoon of a peaceful
village far from the war.<br/>
The sky was a perfectly clear blue,
and white, thin clouds extended and floated overhead. Plants were
caught between the crevices of the rocky mountains spread around the
area, and occasionally a pleasant breeze drifted through. Furiae
inhaled the refreshing air to her chest.</p>
<p class="para">However,
no matter how nice and refreshing the scenery was, it was certain
that war was spreading in each region of the country. If she looked
around, she could see people laying still in the shade of the trees
so they wouldn’t be found by enemies in the sky, and the dragon’s
large bodies curled up to rest in the shadow of a rocky mountain.<br/>
A
scene where humans and dragons live together. It seemed as if it were
a lie that humans and dragons once lived without crossing paths with
each other.</p>
<p class="para">The
boy happened to be standing nearby for some time, having been waiting
for Furiae’s weapon. She looked at him in worry, as he had a very
serious face.<br/>
“I’m going to see what the silver dragon looks
like.”<br/>
She
gave him a smile of reassurance to reassure the boy before she began
walking, greeting the surrounding soldiers who returned it with a
large smile.</p>
<p class="para">A
dragon and a human meeting together to form an alliance. Before
Furiae had joined as leader of the group, it was nothing more than a
great disorderly gathering of people. It was she herself who had
taken the information gathered from the various allied countries in
the Union and analysed the amount of danger in the surrounding area
to give as much advice as possible, albeit in a few words. The advice
was accurate and saved the camp from crisis many times, and so she
had been appointed commander. As for why Furiae, who was once a
low-ranking farmer for the soldiers, had knowledge of unit operations
was because she had kept watching her brother, who was a captain for
the knights...</p>
<p class="para">“Miss
Furiae, it missed you.”<br/>
Furiae
walked over to a soldier, a dog at his feet and shaking its tail. The
reddish-brown lump of hair gives an expectant look towards
Furiae.<br/>
“... Don’t follow me.”<br/>
The dog tilted its
head, not understanding her words. The dog had stayed in the Union
before she knew it, and it was surprisingly easy for Furiae to grow
attached and start stroking its fur on a whim. And whenever Furiae
started walking, it always ran up to her from somewhere and started
to follow her.<br/>
“I’ll end up trampling on you.”<br/>
The
dog still didn’t understand her words and played happily at
Furiae’s feet.<br/>
“Come on...”<br/>
It was hopeless. She was
heading to the dragon. One wrong step, and the little dog would
easily be crushed. That said, she was a little hesitant to treat the
dog so cruelly, as it was reminiscent of her childhood chasing her
brother.</p>
<p class="para">Furiae
looked down to the dog at her feet. Then, she extended her palm in
front of it to settle it down.<br/>
“Inuart, stay!”<br/>
It
seemed the dog understood the command after it had been repeated, and
immediately stopped moving.<br/>
“It only listens to Miss Furiae’s
orders.”<br/>
“We are the same as the dog. Miss Furiae always
dares to stand on the frontlines of the cruel battlefield, so let’s
stand by her side!”<br/>
The soldiers around her laughed at the dog
who obediently obeyed, and smiled when Furiae called it a good
boy.<br/>
“Inuart, right here. Stay.”</p>
<p class="para">It
was worth the training, as the dog did not follow Furiae who passed
on by with her palm outstretched. At times, it was easy to forget
about battles and the fact they were soldiers stationed in a camp
when playing with the dog. However, the heart that it had given
Furiae was quietly held within limits as she approached the dragons.</p>
<p class="para">There
were a number of dragons resting in the shade of the rocks. Furiae
eyes squinted at the reflection off the dragon’s silver scales. A
growl came from the large silver dragon, and it stretched its head
towards Furiae. Furiae waved her hand to the dragon and spoke in a
gentle voice.</p>
<p class="para">“How
are you?”<br/>
There
was no reply. When she touched the cold scales, she heard a low,
thundering growl as if it were an answer. There were quite a few
dragons capable of using language, however…. It seemed as if this
silver dragon had never spoken.<br/>
“... At this point it’s life
is already done for.”<br/>
She leans against the silver dragon’s
body, depositing her weight onto it.<br/>
<i>“Almost
done for….”</i></p>
<p class="para">The
children who had finished arranging the weapons were frolicking in
the background. Furiae looked towards the shrill voice of the chief.
The children in the Union were war orphans, who she decided to take
care of under the condition they worked at the base; the mixed union
between dragons and humans lacked the power to undertake the chores,
likely due to their prejudice against dragons.</p>
<p class="para">Five,
six boys ran around in Furiae’s line of sight, though the girls in
the camp couldn’t keep up. Waiting for them to run ahead, the girl
called out in a young voice, “Brother”. One of the boys stopped
in his tracks. He waited for her with a slightly annoyed look, took
her hand, and the two started running again.</p>
<p class="para">This
time he slowed down for her.</p>
<p class="para">Furiae
began to follow the brother and sister from a distance; there used to
be a period of time where <i>she</i>
was desperately chasing the back of a person and having him withdraw.
Just like that girl, just like that dog, she just wanted him to turn
around. The elder brother’s hand, which grabbed onto the young
Furiae’s hand, had remained young itself all the same. The number
of wounds from his sword training had healed with discipline, but her
brother’s hands were broken. Even so, he softly wrapped them around
the smooth, young hands of little Furiae.</p>
<p class="para">She
looked at her palms. The flesh that chose to hold the sword with has
become completely hardened... There was nothing left of the hand that
knew nothing of hardship.</p>
<p class="para"><i>Still,
if one day I can regain his gentle hand with this hand ...</i></p>
<p class="para">“Brother...”<br/>
Her
older brother, her older brother Caim. He was broken, my dear older
brother….</p>
<p class="para">“It
will be alright. I’m sure….”</p>
<p class="para">She
leans against the body of the silver dragon and squeezes her eyes
shut. Beneath her eyelids she remembered her brother’s gentle
smile, the same one from that time... And as usual, his smile he wore
on the back of her eyelids had been stained red and disappeared...</p>
<p class="para">...
Just like that day.</p>
<p class="line"></p>
</p>
<p class="para">Brother.<br/>
Her
brother always turns around, even if the call is unspoken... Like
when she ran through the castle, like when she fell.<br/>
“Furiae!”<br/>
Her
brother turned around, called her name, and extended his hand. Her
brother was serious and spoke little, though he was not a cold
person. On the contrary, the voice that called Furiae’s name was
kinder than anyone else’s.</p>
<p class="para">That
was enough for her. Her brother’s kindness warmed her heart, the
feel of her brother’s hand was more important than anything else in
the world. Though she was born into the royal family of a small
kingdom called Caerleon, it was a humble life. When she thought about
it, those peaceful, happy days remained dear to her heart.</p>
<p class="para">Now
that he was grown, Caim was absorbed in practising the sword. Once he
had also been serious about his academic studies, but it seemed like
swordsmanship suited him very well, his immersion bordering
obsession.</p>
<p class="para">While
he cluelessly swings his sword, Furiae does not call for him.</p>
<p class="para">She
wasn’t getting in the way of her brother. She couldn’t bear when
she spoke to Caim when he was concentrating, the feeling as if she
was hated came like a tsunami. She tells herself she’s good as long
as she only watches, and looks over him. <i>I
should have been able to put up with the fact that I don’t get as
much attention as I used to. Even if our bodies grow, our
relationship should not change.</i></p>
<p class="para"><i>No
matter how kind my brother is, do not hinder him. Do not do anything
that could result in indecent thoughts.</i><br/>
Those
indecent thoughts always happened when Furiae thought back to the
conflict in the past... When she had those bad dreams.</p>
<p class="para">It
was nearing her brother’s birthday celebration. A maid ran around
preparing for the feast, but by the time she had realised something
was wrong, it was already too late. The disturbingly quiet air that
had settled in the castle had been torn apart by a sudden rampage.
One after another, the people in the castle grew violent, and by the
time their eyes had been dyed red, their humanity had already been
lost. They began to attack and kill others in a maddened state; the
kind people, the acquainted people, the strict people, the women in
the kitchen, the trustworthy soldiers, everyone’s eyes had been
dyed red as the last, and the tragic murders spread in the blink of
an eye.</p>
<p class="para"><i>Slaughter</i>.
A metallic smell. Blood. A black dragon. Someone was being eaten by
the dragon... Who was it? Red eyes. Blood spill. Someone’s strewn
limbs. Scattered fingers. Someone’s splattered entrails. Who did
they belong to? <i>Blood</i>.
Crimson blood. <i>Someone’s</i>
blood.</p>
<p class="para">That
day, their vision and world were all dyed red.</p>
<p class="para"><br/>
<p class="line"></p>
</p>
<p class="para">Her
throat was sore, her fingertips were cold and her knees trembled. Her
breathing was ragged, sweat flowing down her body, and a groan left
her chest in pain. And though she was unaware of it, a smile
stretched its way across her face.<br/>
She tried to remember the
tragedy that happened in the past, but no memories came to mind. It
was always like that when she tried to think back on that day. Furiae
struggled to think about something else while she adjusted her
breathing.</p>
<p class="para">About
six years have passed since then. The Empire, led by the “Cult of
the Watchers”</a></u>
was destroyed in the war with the Union, and her brother was named
Caerleon’s representative. The red eyes have been eradicated. A new
era of coexistence with the dragons led by the Union had begun, and
it seemed like both sides had been waiting for that peace to pervade.
... But behind the scenes, the lords, who had lost a common enemy of
the Empire, were overwhelmed with the rising political strife and
began treating the once proud dragons as if they were less than
livestock, with excessive greed.</p>
<p class="para">The
dragons obediently submitted to the human’s orders were worked in a
hard environment and continued to be slaughtered.</p>
<p class="para">...
As a result, the dragon species finally raised the flag of rebellion
against the Union…. They were called by the title of “The
Anti-Allied Forces”.
The uprising dragons defeated the Union’s powers one after another,
and the lords were unprepared for the sudden rebellion. Though they
had lost many soldiers, the Union eventually launched a brutal
counterattack that evened the number. War once again broke out in
various parts of the country, and once again it was filled with
murder and chaos.</p>
<p class="para">What
came as a surprise, though, was that after they learned of the
situation, some humans actually took the side of the dragons. The
reasons varied from person to person; those who were upset with the
current political state of things, those who believed the dragons
were justified, those who wanted to change the world for the
better... People with various ideas who chose to fight with the
dragons did just that. Furiae was one of those people.</p>
<p class="para">The
Anti-Allied Forces of humans and dragons were divided into several
parts, and they fought with the Union in various places. The Union
would not forgive any human or dragon, as long as they rebelled. The
lords’ horrendous discrimination, murder, and merciless attacks
upon those from the Anti-Allied Forces continue even now.</p>
<p class="para">And
not only that…. Her brother…. Her brother and the red dragon that
followed him were still in the Union.<br/>
“My brother has
changed...”</p>
<p class="para">A
long time ago, after Caerleon was destroyed... At that time her
brother was still living with her, to <i>protect</i>
her. Whether he was simply making a living as a mercenary or had an
obsessive desire for revenge inside his heart, he only sometimes
remembered Furiae and barely seemed to stay by her side.</p>
<p class="para">But
her brother, who was noble and dignified, has loved her since he went
to that snowy mountain. Her older brother, who returned with the red
dragon, gained terrifying strength. After that, her brother had been
absorbed in battle. Eventually, it reached a point where Furiae
didn’t know who her murderous brother was fighting for, and her
calls would not reach him.</p>
<p class="para">Even
after the battle with the Empire and the Union was over, her brother
was fighting in various places in search of a battle. Even after the
start of the war, when the dragon species began their uprise, there
were rumours of her brother that had reached Furiae’s ears as “The
berserker on the battlefield”.</p>
<p class="para">A
mistaken world. Her brother made a mistake somewhere. Even the humans
of the earth and the dragons are unable to fix the world. However,
his only relative, his sister, can correct that mistake her brother
made.<br/>
<i>“I am
the only one.”</i></p>
<p class="para">Furiae
strokes the silver dragon, determined to keep that wish in her heart.
Then, she straddled the saddle that the soldiers had provided.</p>
<p class="para">The
fronts of both the Union and the Anti-Allied Forces had expanded, and
sporadic battles were taking place in various parts of the country.
She heard that the Union was at a disadvantage in the battle taking
place not far from her base, and from the flag the enemy raised, she
found that the unit on the field was under direct control from the
royal family from a certain kingdom.</p>
<p class="para">The
unit was led by one of the younger brothers of the prince of the
kingdom, Furiae once met him face to face — He was a cowardly man
with a narrow mind, and was incomparable to Caim. Even so, he was
still the prince of a country... He could not be killed, and will
have been withdrawn should the tide of war grow unfavourable. If he
were to withdraw, they would have to take a road that crosses through
the rocky mountains in the west. Reinforcements were to be sent from
the Union’s main force to aid in the withdrawal…. It was the
perfect operation.</p>
<p class="para">...
If it hadn’t been leaked by insiders.</p>
<p class="para">The
unit with Furiae, who was based near the withdrawal route, intended
to destroy the unit of the young prince that planned to withdraw
before the reinforcements arrived.</p>
<p class="para">This
operation was expected to be risky. Perhaps some of the Union’s
reinforcements... No, there was a nine out of ten chance her brother
would be there... It was the role of the bloodthirsty to serve in the
at the back of such a harsh battle for withdrawal. However... If the
troops of the young prince are destroyed before her brother arrives,
Furiae would have a chance to correct and save her brother from the
path he was on...</p>
<p class="para">“Hurry,
I want to see my brother!”</p>
<p class="para">Furiae
let out a breath and clung to the silver dragon.</p>
<p class="para">The
wind blew. The other dragons that rested in the shade of the rock
raised their heads to look at the sky, slowly they spread their wings
and stood up.</p>
<p class="para">“<i>COME!!”</i></p>
<p class="para">Using
the dragon’s reaction as a signal, a soldier’s voice echoed. The
base began to move in a sudden rush, the patrol was reporting to
their leader, the dog yelped. The children carried a load of baggage
and began to run towards the shade of the rocks, and the soldier
standing watch yelled.</p>
<p class="para">They
confirmed what they saw with their own eyes; the unit of the young
prince. The Union was withdrawing.</p>
<p class="para">The
smoke signal to sound the beginning of battle rose.</p>
<p class="line"></p>
</p>
<p class="para">“Everyone,
advance!”</p>
<p class="para">The
dragons of the Anti-Allied Forces who flew overhead shot down the
flying ships of the Union in flames, and both cavalry and infantry of
the Anti-Allied Forces ambush from front and rear the Union troops
withdrawing on the ground — The Union was quick to fight back,
however, and their attacks were extraordinarily fierce. The sound of
an explosion was heard, craters formed in the ground with each
cannonball shot from the flying ships, and human bodies scattered
limb from limb. The ships release a devastating number of arrows in
an attempt to shoot down the attacking dragons, however, they
skilfully dodged it and spewed flames from their mouths which
mercilessly burned the Union soldiers alive.</p>
<p class="para">“Do
not back down! We will annihilate the enemy before reinforcements
arrive, and cut down their troops at once!”</p>
<p class="para">The
silver dragon glides over the battlefield with Furiae on it’s back
as the soldier’s ferocious cries echo down below. By the time the
reinforcements were to arrive, the troops of the young prince ought
to have been annihilated.</p>
<p class="para">“Brother...”</p>
<p class="para">The
battlefield looked like <i>hell</i>
already. Clouds of dust, gunpowder, the smell of blood and burning
skin, the sound of explosions and ripping flesh, the final voice of a
person burning into a lump of meat. Furiae flies close to the ground
with the silver dragon as cannonballs fire from the Union’s ships
one after another. The silver dragon moved swiftly to avoid the
bombs, twisting itself and aiming for the flying ships before it
released a fireball. A sluggish ship was unable to avoid the attack,
and was directly bombarded by the attack. Enemy soldiers were wrapped
in flames, breaking into a mad dance and rolling off the side of the
ship.</p>
<p class="para">The
silver dragon was brilliantly agile, capable of making small turns
even in the sky; while avoiding bombs and arrows, it fell the flying
ships one after another. It even seemed like the other dragonbacked
soldiers of the Anti-Allied Forces were struggling to catch up with
the determined fight of the silver dragon. At this point, it was safe
to leave low altitude.</p>
<p class="para">“Now,
while we still have time...”</p>
<p class="para">The
control of the ground was left to the other soldiers, and the dragon
shook its head slightly the moment she pulled the reins to head
towards the ship flying further overhead.</p>
<p class="para">“What
is it? We must head towards the sky….”<br/>
Furiae put her hand
on the dragon’s neck, looking into its face.</p>
<p class="para">...
What followed was the rising sound of cheers and screams throughout
the battlefield. <i>What
happened?</i> Just as
Furiae raised her head, another young soldier on dragonback
approached the silver dragon’s side. Furiae called over to ask
about the soldier’s unusual behaviour.<br/>
“What happened!? What
on earth is going on!?”<br/>
“Please turn back now! There is a
red…!”</p>
<p class="para">Both
the soldier and the dragon were massacred in an explosion of flame
before they could reach the end of the
message.<br/>
<i>“AAAAAAAGGGGGHHH!!!”</i><br/>
“Wh-What
in the name of the Gods <i>was</i>
that….!?”</p>
<p class="para">“Up
there!”<br/>
“A dragon, it’s a dragon!!”<br/>
“A Union
dragon!!”</p>
<p class="para">There
was a <i>dragon</i>
in the Union’s forces. Furiae looked up to the sky with the other
soldiers.</p>
<p class="para">High
in the sky was the shadow of a dragon. The shadow swooped down at a
tremendous speed and released a fireball from its mouth, the fellow
dragons shot down again and again under flames that fell like
rain.<br/>
“That is the Union’s dragon... Is that the berserker
of the battlefield!?”</p>
<p class="para">The
red dragon broke through the centre of a group of other dragons
flying nearby Furiae and the others with a roar during its plummet
downwards, shooting back up a moment before it hit the ground.</p>
<p class="para">Her
eyes widened. <i>A red
dragon.</i> A <i>Union</i>
dragon. There was only one in the Union’s forces. When her brother
went to the snowy mountains, he only brought back <i>a
red dragon</i>.<br/>
“Broth
... er...?”<br/>
“Hm? Wh… <i>What
...</i>? Furiae!!
Go!!”</p>
<p class="para">Shaking
off the voices of her soldiers, Furiae and the silver dragon began to
chase after the red dragon. The wings of the silver dragon flapped to
the point it felt as if they would tear, but it was still having
trouble catching up to the distant red shadow.<br/>
“CAIM!”</p>
<p class="para">She
finally found him! Brother... How many years has it been since then?
How long has it been since she’s last seen her brother’s figure?
How long has it been since <i>he’s</i>
last seen Furiae?<br/>
“Caim! Caim!”</p>
<p class="para">Her
brother didn’t stop looking over his shoulder to her, dragons
dropping one after another. Following them deeper into the sky,
Furiae steadily ascends. Occasionally a Union ship would fire bombs
towards them, but Furiae’s silver dragon dodged all of them.</p>
<p class="para">“...
BROTHER!!”</p>
<p class="para">She
didn’t know if her voice reached his ears. Caim flew upwards,
downwards, left and right through the sky and shot down Anti-Allied
Force dragons one after another. The odd trajectory seemed as if it
was... <i>Deliberately</i>
moving away from Furiae.<br/>
<i>“Caim!!”</i></p>
<p class="para">The
red dragon stopped attacking with its flames and began to ram into
the rebelling dragons, Caim using his sword to cut away closer ranged
enemies. A soldier riding a dragon is ripped in half with a single
blow, and their arms and neck rain down in front of Furiae. She
couldn’t keep her emotions from overflowing just then, as if
invited to by the smell of blood.</p>
<p class="para">“Brother,
look, brother! This is wrong! Because I <i>never</i>
had a brother like this!” She screamed at the top of her lungs, not
caring in the slightest if her throat was crushed doing it. She
<i>finally</i>
met her brother. So after everything, Caim would <i>have</i>
to—</p>
<p class="para">“Brother,
please! Why have you changed!? I never wanted this! Me and brother
were always together...”</p>
<p class="para">Sparks
flew right next to her, and Caim flew farther away. Furiae
desperately reached her hand out to him.<br/>
“Brother, please………”</p>
<p class="para">Furiae’s
vision was clouded by smoke and clouds as she chased Caim even
further up into the sky.<br/>
“Please... Turn around….”</p>
<p class="para">Caim
soars through the sky at terrifying speed in search of more enemies.
The red dragon glanced back at their desperate pursuit, and made a
sudden reversal as if it were in an attempt to shake them off. With
the silver dragon unable to keep up, Caim went to drop another enemy
dragon.<br/>
“Brother….. <i>Look
at me</i>….”</p>
<p class="para">Furiae
still kept after them. Since then, she had only gone on the
battlefield and killed people the sake of finding her brother again.
And finally, she was here... But...<br/>
“Brother…. I was
separated from you, brother, but I wanted to see you again. I wanted
to see you and so I got closer to the battlefield where I knew you
would be!! I am your only little sister, you must stop!!”</p>
<p class="para">As
soon as she reached the same altitude as her brother, the red dragon
took off again. Furiae gripped tightly onto the reins and soared
after them.<br/>
“I knew my brother would be on the cruel
battlefield because I was always with him, all the time. So it was
simple... It was better to have gone to the worst battlefields from
the soldier’s information and guide them little by little. I did
not make it in time for them, but I got to see you, brother! I WAS
ABLE TO SEE YOU, BROTHER!”</p>
<p class="para">The
red dragon turns, changes direction, and starts to glide towards the
ground.<br/>
“Brother...”</p>
<p class="para">She
couldn’t reach him. No matter where she went, she couldn’t reach
him.</p>
<p class="para">Furiae
clutched tightly onto the reins with one hand, and desperately
extended her other towards her brother on the red dragon. Her
outstretched hand couldn’t reach him, either. The head of a soldier
that Caim had cut off fell right next to Furiae, who hopelessly
reached out to him. Furiae had become attached to him like the dog
the soldiers often laughed at. Flying limbs. Red blood. Protruding
entrails. Somehow, an uplifted feeling of exhilaration erupts in
Furiae.<br/>
“Ha…. Hahaha….”</p>
<p class="para">Furiae
begins to laugh. Her heart had grown discomposed with the scent of
blood. Red innards... Her brother didn’t turn around. Her feelings
went past mere frustration and irritation, and violence deprived from
Furiae’s heart and mind.<br/>
“Hahaha!! <i>Brother!</i>”</p>
<p class="para">She
couldn’t get her brother.</p>
<p class="para">“......
BROTHER! Brother, Caim, my brother, look at me, won’t you look at
me!? Look at me, LOOK AT ME!!! Brother, hey, I’ve always been
watching you! When I was young, after I grew up, even now! I’ve
always been watching you for a long time, brother!”<br/>
The red
dragon pretended to land on the ground before shooting back into the
sky and toying with the silver dragon, clearly attempting to once
again distance itself from Furiae. Finally, she got to see him...
Furiae also shoots up after them.</p>
<p class="para">Those
happy days. It was nice just to look back on them. Because she was
his little sister, she was always by his side. But today was
different... She couldn’t get him back unless she reached towards
it with force.</p>
<p class="para">“I
always watched when you were absorbed in your sword practice, Caim.
When you swung your sword with your arms that built up muscle bit by
bit, I’ve been watching them grow more and more prominent, your
toned abs, your broad back, all the time I’ve been looking at your
strong body. You never paid any mind to the sweat that flowed while
you were invested in your training. But I was <i>watching</i>,
I was watching the flowing sweat that rolled down your nape, down
your forehead, how it would scatter when you moved your arm. The way
it made your bangs stick to your forehead was so commanding! And I
saw when your swings exceeded five hundred, one thousand, your rough
breathing and your low voice. Brother~! Caim, my brother, look at me!
Look, look! Touch me, touch me!!”</p>
<p class="para">Another
Anti-Allied dragon stood in the path of the red dragon from afar.</p>
<p class="para">“Brother...
I ... I’m filthy. I was always thinking about you, brother, do you
not think that’s filthy? I’m just like a whore, aren’t I? It’s
okay to hold me in contempt, just please look at me! Brother! Look at
me, please?? Look at me, LOOK AT ME!! <i>BROTHER
...</i>.”</p>
<p class="para">The
silver dragon pushed its wings and speeds up towards the red dragon.
Furiae and the silver dragon caught up and had the red dragon within
range while it was busy shooting down the Anti-Allied dragon in their
path with flames. Furiae slowly reaches for the sword on her waist.</p>
<p class="para">If
he couldn’t go back to being the brother he was, <i>if
she couldn’t have him ...</i></p>
<p class="para">“BROTHER
BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER
BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER
BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER
BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER
BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER
BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER
BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER
BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER
BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER BROTHER
BROTHER BROTHER BROTHER BROTHER BROTHER CAIM……. <i>CAIM,
MY BROTHER!!!</i>”Broken
and screaming, Furiae removed the sword from its sheath.</p>
<p class="para">From
the beginning, she was going to fix everything and finish it with
that hand, as she had been chasing him until now...</p>
<p class="para">At
that distance, it was impossible to avoid coming into range of her
brother and the red dragon. The red dragon in particular held Furiae
in a slightly pitiful regard, but it was no matter
now.<br/>
“BROTHEEEEEEEEERRRRR!!!”</p>
<p class="para">The
silver dragon nearly rammed into its body, the red dragon barely
dodging the attack. The enchanting flight of the two dragons was as
if they were tangled together, the silver dragon spitting a fireball
from its mouth. Once again the red dragon avoided the attacks, though
the continuous stream of fire attacks made for a small break in space
between them. Furiae raised her sword towards the red dragon and...</p>
<p class="para"><i>Rip!</i></p>
<p class="para">Furiae
suddenly lost her balance. The sword she had been waiting to use, her
arm waiting to use that sword flew through her distorted field of
view. The silver dragon loses its stance, and is instantly pushed
aside by the red dragon.</p>
<p class="para">An
arm with no elbow reaches for her brother. A red dragon. Blood
splattered from the nub of her arm. The smell of blood filled their
nostrils. Finally, she was able to feel Caim, her <i>brother’s</i>
touch again.</p>
<p class="para">In
both pain and joy, Furiae sees it. Her brother’s mouth moves in a
small cry, “No!”</p>
<p class="para">“.........No...”</p>
<p class="para">She...
Didn’t see any feelings in her brother’s dark eyes.<br/>
“Th...
Those eyes...”</p>
<p class="para">The
red dragon flaps its wings and flies away from Furiae, as if
differing itself from Caim’s order. Furiae attempted to cover her
face with her stubbed arm.<br/>
<i>“....
Don’t look…. At me..”</i></p>
<p class="para">At
the moment she had reached the climax of her shame, both Furiae and
the silver dragon’s bodies were wrapped in flames. The silver
dragon shrieked, their vision shook violently.</p>
<p class="para">There
came a splatter of blood as their bodies hit part of a surviving
airship, whether it was her own or that of the silver dragon’s she
didn’t know... It was a deep, crimson red.</p>
<p class="para">Furiae
and the silver dragon fell from the sky, and though the silver dragon
struggled desperately, Caim flew steadily away; both the shadows of
he and the red dragon became nothing more than black shadows.<br/>
“Still,
no matter what...”</p>
<p class="para">Blood
spouted from her mouth. <i>Wait.</i>
It dances in the sky, <i>and
the earth is covered in flames. Wait. I’m still not enough.</i>
The silver dragon struggles. An outstretched arm that no longer has
fingertips cuts through the air, and several arrows are shot through
Furiae’s body as she approaches the ground.</p>
<p class="para">“Ah!
It’s a silver dragon!! And a commander of the Anti-Allied
Forces!!”<br/>
A voice calls from somewhere. Furiae tries to speak,
but nothing comes out. Her throat, clogged with blood, just <i>moved</i>.
Furiae squeezed out a single word.</p>
<p class="para">“.....
Broth ... er...”</p>
<p class="para">…<i>.
Why, Furiae? Why did you turn out like this?</i></p>
<p class="para"><i>Brother
laughs like I couldn’t help it, and he grabs and holds the hand I
so desperately chased. What is it, brother? After all, he did not
change. My…. Gentle, loving brother Caim.</i></p>
<p class="para">My
vision is dyed red, like that day.<br/>
On that day, I saw the
crimson-coloured bodies of my parents who had been ripped apart by
the dragon.<br/>
In my red-stained vision, my brother was not
there.<br/>
My desperately choked out voice never reached his ears.</p>
<p class="para">...
Furiae never called for her brother again.</p>
<img src="https://i.imgur.com/hMqkAwh.jpeg">
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3/A_4010">Previous Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3/A_5040">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3">Back</a></p>