---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<TextLayout>
</TextLayout>
<title>A_5040</title>
<p style="margin-top: 1cm; font-size: 300%;">A_5040</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/barnabism">Barnabism</a></p>
<p class="title">Drafted by: Yoko Taro<br>
Written by: Eishima Jun</p>
<p class="title"><i>The
dragon is enlightened, and seeks out power.</i><br/>
<i>That
is the dark chain of fate.</i>
<p class="line"></p>
<p class="para">“Be
strong, Manah. Mother... She’s already dead.”</p>
<p class="para">He
found that his voice was trembling badly, perhaps that being the
reason why his sister Manah stopped to tilt her head and look up at
Seere. However, while she had a strange look on her face, her clear
red eyes immediately took on a look of anger.</p>
<p class="para">“Liar!”<br/>
“Manah...”<br/>
“Mother!
Seere is a liar. He’s a bad child.”</p>
<p class="para">A
tone that was a little elated and a little prideful, and rottenly so.
Manah used that voice whenever she told her mother something. And, as
always, Manah wrapped her hands around her mother’s neck and stuck
her cheek to her mother’s cheek.</p>
<p class="para">There
was only one thing that was different than usual — There was
nothing below their mother’s neck.</p>
<p class="para">Seere
knew that their mother had been killed by Union soldiers, and if they
were found, <i>they</i>
would be killed as well. Even if he was just six years of age, he
could understand well what the adults were saying in their
conversations.</p>
<p class="para">That
aside, the cathedral was littered with corpses as far as his eyes
could see — They were soldiers, having died protecting Seere and
the others. They were, without a doubt, on their side, though they
were always silent and somehow... Creepy.</p>
<p class="para">“Manah,
we need to hurry and run away...”</p>
<p class="para">Though
the extended hand was violently slapped away, Seere still grabbed
onto Manah’s hand. For the sake of keeping the promise he had made
with his mother.</p>
<p class="para">...<br/>
“Alright?
Neither of you two should leave this place. If you hear people’s
voices or any sounds, you mustn’t make any noise.”<br/>
Their
mother spoke quickly, pushing on one of the strong cathedral walls.
Seere stared at the darkness with his mouth agape, immediately he
knew that it was a secret door.</p>
<p class="para">He
stepped into the darkness as he was hurried along, and desperately
embraced the Manah he hated and raged against. His mother, pleading
for Manah’s safety, seemed ready to start crying at any moment.</p>
<p class="para">His
mother relied on him. <i>Only
him ...</i></p>
<p class="para">He
was so proud of that, he was <i>overjoyed</i>.
So, it was then he had decided to protect Manah.</p>
<p class="para">...<br/>
“I
hate you, Seere! Get away from me!”<br/>
Manah resisted fiercely as
Seere held on to that hand, dragging her along by force. It was an
impossible thought from the start, trying to drag someone with the
same physique.</p>
<p class="para">But,
they couldn’t stay here forever. The soldiers couldn’t protect
them anymore. If they didn’t run away, and quickly, the Union would
come for them. Even so... Manah wasn’t listening to him at all.</p>
<p class="para">It
was when Seere was at a complete loss what to do that he wanted to
just sit down and start crying.</p>
<p class="para">“Lady
Manah! Lord Seere! What are you doing here!?”<br/>
Seere heard a
familiar-sounding voice — It was a person from the cult, alongside
several armed soldiers.<br/>
“What a terrible sight...”<br/>
The
person got choked up on their words. After giving their first glance,
they likely realised the weight of the situation.<br/>
“I was told
to run and flee. But, I hated the thought of Lady Manah becoming
separated from her mother, so I...”</p>
<p class="para">There
was no further explanation needed. The adult lifted the curled up
Manah gently, but with compelling strength.<br/>
“This place is
dangerous. Those berserkers and demonic dragons of the Union are
heading to the cathedral as we speak.”</p>
<p class="para">Manah’s
red eyes glanced around anxiously.<br/>
“Do not worry about the
priestess. We will certainly bring you to her.”<br/>
<i>To
where? To where would we be taken?</i></p>
<p class="para">As
he grew sceptical, Seere was also hugged like Manah was. Instead of
playing with Manah in the courtyard and corridor, adults continued to
run through the dimmed off stairs and passages he had never seen
before.</p>
<p class="para">When
they escaped from the cathedral and came to the outskirts of the
Cathedral City, the adults suddenly drew near the shadows of a
building; Seere took a casual glance to the sky, and was met with the
sight of dark red wings. It was a red that was too similar to the
blood which flowed from his mother.</p>
<p class="para">“A
dragon…?”</p>
<p class="para">He
knew it from the tense, whispered voices that had met his ears. Seere
had immediately recognised it as the dragon from the Union, called
“The Devil’s Dragon”.<br/>
It could spit out flames so hot, it
burned whole villages in an instant; its claws were so powerful they
could crush rocky mountains in a single swipe. And on it’s back
there rode a madman who killed everything within his sight.</p>
<p class="para">It
was scary, but on the contrary, Seere couldn’t peel his gaze away.
It was a terribly long time before those blood-coloured wings had
disappeared from his sight. When it seemed like it was over he found
his body trembling, though he didn’t feel the least bit cold.</p>
<p class="para">Fortunately,
the red dragon had flown away without noticing the party. Together,
they headed back towards the cathedral where they had just escaped.</p>
<p class="para">The
adults exhaled a breath of relief, and silently did they begin to run
once more.</p>
<p class="line"></p>
<p class="para"><br/>
The
Cathedral City had turned into a sea of fire.</p>
<p class="para">She
heard a scream. Whether it was a young girl who was too late in
escaping, or a soldier who was left immobile from a serious wound, or
something of that nature, there was no one left to fight. The Empire
had collapsed long ago.</p>
<p class="para">It
was only in the early days she felt even a little emotion burning
non-resisting human beings, but now... She didn’t feel <i>anything</i>.
She never had any strong feelings for humans from the start — It
wasn’t to say there weren’t exceptions, but the dragon race was
generally of that nature.</p>
<p class="para">On
the contrary, while it didn’t have any sort of particular emotional
attachments or such things to humans, the red dragon thought there
was no need to bother in burning down the Cathedral City, where even
those who could be called soldiers were gone. So when Caim had
returned from the empty shell of the cathedral, she had spread her
wings with the intention of taking leave.</p>
<p class="para">However,
as soon as Caim mounted her back, he told her to burn it down.<br/>
...
No, he didn’t “tell” her. All that was transmitted was through
thoughts — A bare urge of sheer destructive impulse, not even put
into words.</p>
<p class="para">“Nothing
shall come of burning it down. After all, have you not cut down all
the survivors?”</p>
<p class="para">Caim
did not answer, simply kicking her back a number of times in an
ill-humoured mood. <i>Hurry,
burn it down now,</i>
was all he said.</p>
<p class="para">Lately,
no answer was returned whether she spoke in human tongue or called
out in thought. It had been a long time since anything that could be
called conversation had disappeared.</p>
<p class="para">Though,
she knew the reason for Caim’s agitation. Simply put: It wasn’t
enough to just <i>kill</i>.</p>
<p class="para">According
to a report made from the advance team, the remaining Empire soldiers
in the Cathedral City had been wiped out. However, the report had not
made its way to Caim — He couldn’t comprehend a single word of
the messenger.</p>
<p class="para">Whether
it was an enemy that stood before him or not, it was all the same
reaction.</p>
<p class="para">It
was likely just that — What was understandable to Caim now? It was
simply doubtful whether or not he could distinguish what was an
enemy, whether they were human or non-human. After all, this man
didn’t even show the slightest bit of hesitation when it came to
laying his hands on his <i>own</i>
flesh and blood — <i>His
sister.</i></p>
<p class="para">“Caim,
my brother!”* She remembered her screams. At that moment, the red
dragon knew that the young girl riding on the silver dragon was
related to Caim. While the dragon race did not have families
themselves, they were aware of the special feelings humans shared
among their own families.</p>
<p class="para">It
was for that reason she tried to distance herself from the silver
dragon. As Caim didn’t recognise that it was his own <i>sister</i>
in front of him, it was the only way. Once they were out of his
sight, he didn’t even remember the girl riding the back of the
silver dragon.</p>
<p class="para">However,
the other dragon was relentless in its chase. Perhaps his <i>sister</i>
wasn’t sane, either. The way she screamed for her brother, over and
over again, was so abnormal it was as if she was possessed.</p>
<p class="para">In
the end, the crazed brother killed his crazed sister.</p>
<p class="para">As
one would probably expect, she looked down on human beings as foolish
creatures. They drew lines between those who they shared their blood
with and those who didn’t, at times they were unabashedly
discriminatory towards others, and sat by hating on some people more
than others. The existence of humans was an unreasonable one.</p>
<p class="para">But
now, the dragon knew she had no place to jeer at humans. It was none
other than her <i>own</i>
blood that had driven Caim to madness.</p>
<p class="para">Perhaps,
if Caim hadn’t been gripped by that madness, or maybe if that girl
had retained her sanity, it would have ended differently for her. It
wouldn’t have been a necessarily <i>happy</i>
ending, but it was better than brother killing sister.</p>
<p class="para">But
the red dragon couldn’t imagine how those siblings could be happy
in such a case. She couldn’t imagine any kind of good ending for
them, whatsoever.</p>
<p class="line"></p>
<p class="para">Little
by little, he couldn’t help but admit that Manah was starting to
act strangely.</p>
<p class="para">“<i>Mother!”</i><br/>
There
is no one who stands where Manah laughs and waves her hands to. But,
perhaps she was able to see their mother.</p>
<p class="para">“Together
with mother!”<br/>
Manah laughs happily. Every time she laughed,
Seere wanted to cry.</p>
<p class="para">“But,
Manah is my sister... I can’t...”<br/>
It was always because of
that Seere thought he shouldn’t cry — Even if Manah said things
he didn’t understand. Even if she behaved as if she could see their
mother, who should have been dead.</p>
<p class="para">Even
so, since their mother had died, Seere had grown tired of the days
spent walking, frightened of the Union’s pursuit. Their escape with
the adults from the cult was supposed to last another month.</p>
<p class="para">Whenever
Seere spoke of how many people had been chased down by the Union, the
adults always sadly said: “Only we are remaining.”</p>
<p class="para">It
was said that the Cult of the Watchers had many more believers, and a
vast number of strong soldiers until the “Devil’s Dragon” had
joined the side of the Union.</p>
<p class="para">Now,
everyone was injured or ill, and they could barely walk. Others had
gone insane and couldn’t even speak coherently. Still, it
encouraged Seere to see the increase in the number of adults.</p>
<p class="para">From
the looks of it, it seemed that <i>Seere
and Manah</i> were
supposed to lead the believers, rather than be led around by the
adults. Seere and Manah, the high priest and priestess of the “Cult
of the Watchers”, were to lead their follows to “The Land of
Rest” ... at least, that’s what the adults seemed to believe.</p>
<p class="para">Two
of the grown-ups had chosen to head back to their hometowns, isolated
stone villages hidden away from the world. Others chose to go on
trails in the mountains that were well hidden from sight. However,
not one of them said a word about it.</p>
<p class="para">Though
they were only six years of age, Seere and Manah were revered as
“Holy Twins”.<br/>
According to the adults, Manah was a living
copy of the woman of the first suzerain who saved the people from
suffering, creating the “Cult of the Watchers” long ago. Indeed,
when he first looked at the portrait in the Cathedral City, he was
surprised to see an adult Manah standing there. She truly <i>did</i>
seem to be an ancestor of Seere and his twin.</p>
<p class="para">Seere
had shared similar facial features to her, but the colour of their
eyes were different. The first suzerain had <i>red</i>
eyes, just like Manah did. But not just her and Manah had them —
There wasn’t a single person in the cult who <i>didn’t</i>
have those same red eyes. His mother also had red eyes. Seere’s
were the only ones that were different.</p>
<p class="para">...
But red eyes were ominous, and looked like blood — That’s why his
mother hated them. He would have liked to have the same colour as his
mother, but she was glad his eyes were green.</p>
<p class="para">He
wondered, what if the people from the Cult of the Watchers <i>didn’t</i>
come to pick them up that day?</p>
<p class="para">Mother
wouldn’t have been called “The Holy Mother”.<br/>
Mother
wouldn’t have been killed by the Union.<br/>
Mother would have
still hated those red eyes.<br/>
Mother would surely... <i>Only
me….</i></p>
<p class="para"><i>...
No. I have to stop that.</i>
Seere’s head clouded with thoughts he shouldn’t have had, so he
quickly cleared them away.</p>
<p class="para">“The
Watchers, the Watchers, the Watchers sing! Lalalalala~!”<br/>
Suddenly,
Manah began to sing. She spread her arms wide while laughing,
spinning round and round, dancing.</p>
<p class="para">Manah
was completely out of her head, and Seere was sad. It wasn’t normal
to be able to laugh like that, even when everyone looked so tired —
Even Manah should have been exhausted and hungry by now. But...</p>
<p class="para">Even
if it was odd, it was the right thing to do... Wasn’t it? Hearing
Manah’s voice, an elderly man who was sitting nearby stood up. A
woman who was about ready to collapse started walking again. Surely,
they were empowered by the <i>joy</i>
in Manah’s voice.</p>
<p class="para">Even
if she grew to lose her mind, Manah was doing something for everyone.
Seere truly did believe that she was the reincarnation of the first
suzerain, that she truly <i>was</i>
the high priestess of the Cult of the Watchers, that she truly <i>was</i>
a Holy Twin.</p>
<p class="para"><i>...
But, I can’t do anything. Even if we are twins. I... I don’t want
to be a high priest or “Holy Twin”. All I really wanted to be was
...</i></p>
<p class="para">“Lalalalala!
Lalalalala!” While she sang, Manah danced and weaved between
people. Their expressions seemed to be brighter only when they were
around Manah.</p>
<p class="para">At
that moment, there came a loud and sudden noise from behind them —
The sound of armour and swords, yelling and shrieking.</p>
<p class="para">“THE
UNION! THEY BROUGHT PURSUING TROOPS FROM THE UNION!” He heard a
voice scream.</p>
<p class="para">It
finally dawned on him. <i>The
Union.</i> A beast more
frightening than a swarm of monsters.</p>
<p class="para">Seere
heard a roaring sound. He thought the mountain had collapsed—</p>
<p class="para"><i>...
No.</i> It wasn’t a
mountain, it was <i>people</i>.
Union soldiers rushing in. Their footsteps and yelling, the sound of
people being cut down, falling, and the sound of screams from those
who fled. All of them mixed together to make a sound like roaring,
shaking the ground.</p>
<p class="para">If
they didn’t run away now... He knew he had to hide himself with
Manah. But he <i>couldn’t
move.</i> Seere no
longer knew if it was the earth that was trembling or himself.</p>
<p class="para">He
smelt blood. He saw people being slaughtered. Manah was still
singing.</p>
<p class="para">How
long would this nightmare last?<br/>
<i>He
didn’t want to see this anymore.</i>
When he tried to shut his eyes closed tightly, a large shadow fell
over him. He looked up and the sight of wings covered his vision.
<i>Dragon</i>
wings.</p>
<p class="para">And
what was more beyond the chaos, a dragon was there... Seere was
speechless. He was done for. The “Devil’s Dragon” and its
associates had appeared, and those words were the despair of Seere in
and of itself.<br/>
He stared in shock at those jet-black wings. A
huge claw plummeted. He and Manah would be torn piece to piece by
that claw and die.</p>
<p class="para">Rising
splatters of blood met his eyes, a scream ripping through the air
that neither a man nor a woman could make.</p>
<p class="para">“...Huh?”</p>
<p class="para">Seere
didn’t know what happened. Indeed, the dragon’s claws tore <i>easily</i>
through the human body. However, it wasn’t Seere, or Manah, or the
believers of the Cult of the Watchers those claws tore through — It
was the bodies of Union Soldiers.</p>
<p class="para">The
black dragon repeatedly ascended and descended, raising the soldiers
up to the bloodbath. No adults from the Cult of the Watchers were
among those it claimed; the dragon attacked only those of the Union
forces. It didn’t seem to be allied with the red dragon at all.</p>
<p class="para">“Is
it... <i>Helping</i>
us…?”</p>
<p class="para">The
black dragon looked back, as if to answer Seere’s words. It had
brilliantly shining eyes. Seere felt his legs tremble again. He knew
it wasn’t an enemy that it saved him in a dangerous place, but for
some reason, he was <i>scared</i>.</p>
<p class="para">“<i>A
dragon!”</i><br/>
Manah
rushed towards the black dragon.</p>
<p class="para">“DON’T!
Manah!”<br/>
Seere tried to stop her, but was blown away by an
unexpectedly strong force. Having fallen on his back, Seere had no
choice but to watch from behind Manah as she neared the dragon.</p>
<p class="para">“A
tool of the Gods. My servant….”<br/>
Manah spread her arms wide
as she approached the dragon. The surviving followers all kneel at
once to her figure.<br/>
“The saviour has descended!” They
shouted.<br/>
“It is the return of the first suzerain!” Their
voices cried out.</p>
<p class="para"><i>WHY!?</i>
Did no one find this strange!? Manah was just out of her mind!!
Dragons were supposed to be terrifying creatures!!</p>
<p class="para">Only
one person stood with wide eyes of a differing colour. Seere stared
at that odd-looking scene.</p>
<p class="line"></p>
<p class="para">Today
as well was spent chasing the black dragon.</p>
<p class="para"><i>Defeat
the black dragon that had slaughtered his parents and drove the
kingdom of Caerleon into collapse.</i>
To Caim, it seemed that only that desire was unwavering.</p>
<p class="para">He
didn’t answer when he was called for and showed no emotion, though
it all changed whenever he saw a dragon. She felt the strong
murderous intent and the urge for destruction swell on her back.</p>
<p class="para">It
was only then that it dawned on her — She realised that this man
<i>still</i>
wasn’t dead yet, that he was <i>still</i>
surviving.</p>
<p class="para">If
it wasn’t for that, she couldn’t even be sure if it really even
was a human being on her back. It was true she felt the warmth from
his body, but how different was it from that of beasts and monsters?
What was the difference in appearance between him when he swung his
sword down to the Earth, and that of a puppet controlled by strings?</p>
<p class="para">“<i>Come!
These are... These are MY game!”</i><br/>
Even
the voice that refused her support was nostalgic now. At that time,
there was still words exchanged between them. From all odds and ends,
the red dragon was able to see and understand the past of that man,
Caim.</p>
<p class="para">He
had lost his parents, his country, killed his own sister by his
hands, and finally, Caim had let go of his intellect and emotions
completely.</p>
<p class="para">“And
even so... <i>No</i>.
That <i>is why</i>
you fight.”</p>
<p class="para">Even
if the dragon’s blood chipped away at him and destroyed the
contents of his being to the point he no longer retained even his
original shape, his hatred of the black dragon would remain
unchanged.</p>
<p class="para">Revenge.
That was all that the man was made of.</p>
<p class="para">….<br/>
However,
finding the black dragon was extremely difficult; the sky was too
vast to encounter even a single dragon. Not only that, but if it was
the same species of dragon, it would move quickly. No matter how fast
they would have flown, the other would have flown at just the same
speed.</p>
<p class="para">“Would
it not be best if we strike back at the herd of dragons, taking them
one at a time and using the full extent of our power? As the black
dragon leads the flock, you may reach it one day or another.”
Verdelet said with a cunning smile. Every time she saw the man, the
red dragon felt bitter.</p>
<p class="para">Were
the dragons striking back at <i>them</i>,
as well? The lowliness of the humans showed tremendously. It wasn’t
that she had turned against them — Her compatriots were only
reminding her of common decency, weren’t they? That reminder of
common courtesy was a useful tool in differentiating the haughty
humans from one another...</p>
<p class="para">She
stowed away her irritation in her stomach for now, accompanying the
Union with full consciousness of the crimes she was
committing.<br/>
Although he was no more than a human, she
accompanied him to the end of life and death, to a fate of utter
insanity. An insanity that was undeniably a mistake of her own
hands... So then, it fell on her to see him to that fate of madness.</p>
<p class="para">In
the end, she let Caim chase after her brethren as he wished. She tore
to pieces and scattered the humans who sided with the dragons. When
asked to set fire to a town, she set fire to it.</p>
<p class="para">She
saw many dragons go after them in pursuit — Some dragons spoke no
words. Some dragons were old and couldn’t fly. There were some
dragons that ate other dragons. There were also various humans who
had concerned themselves with them, but all of them seemed to be
afflicted with some kind of disease.</p>
<p class="para">Perhaps...
Human and dragonkind <i>shouldn’t</i>
act together. If they concerned themselves with each other, something
would be twisted along the way. That’s what seemed most likely.</p>
<p class="para">But
then, why were humans and dragons trying to grow closer? Why was the
dragon species that once gave up on humans trying to be by their side
again, once more?</p>
<p class="para">The
red dragon thought and thought, but she couldn’t figure it out.</p>
<p class="para">It
was only a while ago that the information was provided that the black
dragon had sided with the remnants of the Cult of the Watchers.</p>
<p class="para">When
the words “Black dragon” left the mouth of the messenger sent by
Verdelet, Caim’s expression changed completely. The murderous man
hurried away with almost animalistic haste when he was told the name
of a mountain where a black dragon had appeared.</p>
<p class="para">Wasn’t
it said that the enemy of an enemy is an ally? The flock of black
dragons joined together with the Cult of the Watchers, the remnants
of the Empire.</p>
<p class="para">But,
it was odd. The Empire had already collapsed. Many soldiers were
killed in repeated hunts for remnants; they had heard that women and
children were the only church officials that had managed to escape.
There was no <i>benefit</i>
to the dragons bothering to form an alliance with them.</p>
<p class="para">Did
they decide to help the non-resisting ones because they couldn’t
stand the thought of them being killed?</p>
<p class="para">...
No, there was a different motivation. They should have already
exhausted all their love on those sweet-faced human beings who were
so quick to take advantage of their kindness — The red dragon would
never forget the wrath of her brethren who all took flight from
humankind that day.</p>
<p class="para">………
Strange. Why did the black
dragon not eradicate the humans at that time?</p>
<p class="para">Humans
were, by nature, vulnerable creatures, no matter how many of them
there were. She had forgotten after so much time with Caim, whose
strength was far beyond that of a normal human’s.</p>
<p class="para">It
wouldn’t be impossible to make a hard hit on the number of humans
if a herd of dragons tried seriously enough. But, the black dragon
still didn’t do it. No, it didn’t <i>allow</i>
itself to do it.</p>
<p class="para">On
the contrary, after that the black dragon set up its little game of
“Rebellion” against the Union.</p>
<p class="para">Why?
Why would it do such confusing things? All it had to do was just burn
those humans altogether, all together into a large bundle. Didn’t
it work that way for armour painted with elf blood? ... No, if one
had that many compatriots, there were many ways to do it.</p>
<p class="para"><i>Why?</i>
What was the black dragon thinking?</p>
<p class="para">The
unease of that question made the wings of the red dragon grow
restless, flying straight ahead towards the mountain where the flock
of dragons had gathered.</p>
<p class="para">Something
was happening. But, perhaps the Union couldn’t see it. Even if they
couldn’t see it, however, it was clear that this “Something”
was creeping closer……</p>
<p class="line"></p>
<p class="para">Seere
had no idea what was happening. He didn’t know anything other than
that he had to run away. He didn’t want to be there.</p>
<p class="para">Having
grown scared of Manah, his sister of which he shared his blood with,
and the adults who were supposed to be protecting her, Seere had
secretly slipped away.</p>
<p class="para">None
of the adults who had grown obsessed with Manah, nor the crazed Manah
herself, had noticed Seere. Under the protection of the black dragon,
the party climbed up a rocky mountain near a hidden stone village.</p>
<p class="para">Seere
had run towards the spires of a castle he saw in the distance. There
were <i>always</i>
towns and villages near castles; if he went there, surely there would
be someone to help him.</p>
<p class="para">He
could only run, repeating to himself like an incantation that this
was for the best. Because...</p>
<p class="para">*I
don’t want to be a leader of the Cult of the Watchers. I don’t
want to be a “Holy Twin”.<br/>
What I wanted to be was the
“Little Hero” in the picture book that mother read. I wanted to
be mother’s “Only one baby”.*</p>
<p class="para">But
the adults from the Cult... Ruined <i>everything</i>.</p>
<p class="para">That
day, Seere’s mother hated her red eyes until the people from the
Cathedral City had come for her. He avoided looking into mirrors, as
when he did he was coldly hit with Manah, who had the exact same
features and eyes as he did.</p>
<p class="para">Seere’s
mother only accepted Manah as her daughter when she was informed by
the revered priest to be a living copy of the first suzerain, and she
was called “The Holy Mother” among the people.</p>
<p class="para">For
Manah, it was a dream-like day when she finally got her mother’s
love, and for Seere, it was a day when he was deprived of half of the
love he had been given for himself.</p>
<p class="para">He
tried to tell himself that Manah was his sister. That he had to put
up with it because he was her brother. Even so, somewhere in his
heart he still hated Manah and resented the people from the cult.</p>
<p class="para">Perhaps
such an evil wish had found its way to heaven, as the happy days of
Manah ended earlier than expected.</p>
<p class="para">He
was terribly sad when his mother was killed, but it just didn’t
make him quite as upset to think that Manah had lost that love again.
Actually, he thought it was good.</p>
<p class="para">That’s
why he had said it to Manah, who just couldn’t accept her mother’s
death — <i>“Mother...
She’s already dead.”</i>,
he had said.</p>
<p class="para">With
that one word, he could clearly see Manah’s heart break. Her
mother’s love that she had finally gotten after craving for it for
such a long time... But... It would never belong to him. It was a
terribly cruel fact.</p>
<p class="para">“It’s
all my fault... It’s my fault that Manah became like that.”</p>
<p class="para">Behind
everything however, the guilt was heavier than Seere had expected.
Everytime the word “Mother” left Manah’s lips, regret burned in
his chest. He expected that there would certainly come punishment for
it someday...<br/>
Especially if Manah was the reincarnation of the
first suzerain, who had mysterious powers.</p>
<p class="para">He
had to run away. No one could blame him if he ran far enough that
neither Manah nor the adults in the cult could find him. After all,
he didn’t have a mother anymore...</p>
<p class="para">He
couldn’t think of where to go or how far he had to escape, but
Seere ran. And he <i>kept</i>
running.<br/>
He ran and ran until the sky turned to twilight.</p>
<p class="line"></p>
<p class="para">It
was an evening after continuous flight by the time the red dragon had
reached the mountain they were heading towards.</p>
<p class="para">This
mountain was different than the one it had met Caim on; rather than
being covered with snow, it was a smaller mountain with rocks and
boulders both small and large piled upon it. There was little
vegetation, likely due to the area, and the bare surface of the rocks
formed the ridgeline of the mountain as it stood. The sun had already
set to the west, dyeing the sky red.</p>
<p class="para">A
flock of dragons flew around the top of the mountain that was by no
means high, and stuck to the slopes were the figures of a few humans,
as well. Were they the remnants giving orders?</p>
<p class="para">It
was the humans who noticed the red dragon and raised their voices
first. She could hear the cries of the “Devil’s Dragon” and
“Berserker”, among other things. It was only a little later that
a voice rang out, calling the others to be quiet. It was a young
voice, and somewhat lispy as well.</p>
<p class="para">If
she were to look closely enough, she could see a child standing at
the top of the mountain. The dragon had heard lately that the leader
of the Cult of the Watchers was a young twin, but it was surprising
to see that it was such a <i>small</i>
young person.</p>
<p class="para">The
child’s eyes turn straight up towards the red dragon. And, as if in
response, the flock of dragons began to move. Among them, there stood
out a colour of jet black.</p>
<p class="para">She
felt the murderous intent swelling from behind her. It seemed that
Caim as well had caught eye of the black dragon.</p>
<p class="para">“It
is no matter if the words do not leave you. I understand what I must
do.”</p>
<p class="para">The
only target was the black dragon. Yet... There were so many other
dragons; she knew that reaching the single one would be no simple
task.</p>
<p class="para">“Hold
on, <i>tightly</i>!”<br/>
As
soon as the words left her mouth, the dragon tried to thrust forward
with her wings with all her strength, the flock of dragons moving in
such an unexpected direction that it had caused the dragon to
involuntarily turn itself around. She began to feel suspicious that
she had fallen into a trap.</p>
<p class="para">...
But, it wasn’t.</p>
<p class="para">“Wha….!?”</p>
<p class="para">The
child had disappeared from the top of the mountain. Blood and bits
and pieces of organs and entrails were scattered across the surface
of the rock. The dragon did not hear the young screams, perhaps the
young child had been stuffed into the dragon’s stomach before they
could even become aware of their death. Instead of the child, it was
the kneeling believers who were screaming. It soon became quiet,
however — Before even being given a moment’s time to escape, the
believers were chewed up by the dragon’s fangs.</p>
<p class="para">All
that remained was the sound of chewing bones and meat. Immediately,
the top of the mountain had turned into hell.</p>
<p class="para">The
red dragon’s brethren fought a greedy battle against one another
for human flesh, like beasts crawling on the ground.</p>
<p class="para">“This...
<i>What in the name of
the Gods *is</i>
this…!?*”</p>
<p class="para">Didn’t
the black dragon, the leader of the flock of the dragons and its
multitude of compatriots, <i>support</i>
the Cult of the Watchers? Wasn’t the Union’s red dragon and the
commander going after the ones they bared their fangs at?</p>
<p class="para">She
felt the sound of a laugh.</p>
<p class="para">‘<i>Everything
is as I had expected! All that I had planned to befall on this day,
at this time!’</i><br/>
The
thought that had been transmitted, along with the loud laughter, was
that of the black dragon’s.</p>
<p class="para">‘<i>I
have been waiting for this time... Humans bowed their heads, forcing
our brethren into obedience until the hatred which rests within them
devours all reason... It has all been for the sake of this moment!’</i></p>
<p class="para">The
laughter, put together with the sight of the jet-black dragon’s
bent back figure, was like a formation of darkness and evil.</p>
<p class="para">She
understood. Somewhere in her heart, she felt this malice herself.
That day, when the black dragon appeared as an aide to her in the
Great Plains... She was not completely unfamiliar with the black
dragon — That was why she didn’t understand it.</p>
<p class="para">Was
he doing it to help his companions? Was he content with being used by
humans? <i>Impossible.</i>
The idea of “rebelling” and “living alongside” humans both
nothing more than a faerie story, wasn’t it…? It was all staged
from the beginning. All of it.</p>
<p class="para">‘<i>The
disease of humans devours the dragon, and the madness of the dragon
devours this world.’</i></p>
<p class="para">Disease?
Madness? The red dragon was beginning to ask what he was saying, but
the words were quickly lost.</p>
<p class="para">The
eyes of the red dragon were dyed red. Just like the soldiers of the
Empire, just like the priestess of the Cult of the Watchers, that
same colour. It was as if one were to take in the colour of the blood
that flowed in the evening sky and across the surface of the rocks,
those red eyes.</p>
<p class="para">...
No, the black dragon wasn’t the only one with them. Looking closer
now, the eyes of its brethren who had devoured the humans had also
been red since before she was even aware of it, the darkness of the
night had merely distracted her from noticing. When was it that their
eyes had changed colour?</p>
<p class="para">‘<i>From
when…? From when happened ... this!? What has the foolishness of
these times grown into!?’</i></p>
<p class="para">“<i>The
disease of humans devours the dragon”</i>,
the black dragon had said. Those red eyes... Were <i>they</i>
the disease? The eyes of the Empire’s soldiers were dyed red as
blood, violent people who had no humanity. Was that madness because
of this “disease”?</p>
<p class="para">If
<i>that</i>
was the case, then... It was certainly a foolish question to ask
“When”. It was at most three or four years ago since the Empire’s
power had spread at the alarming rate that it did, but red-eyed
fanatics had existed long before that, since ancient times, when the
Cult of the Watchers was first created.</p>
<p class="para">It
had been quiet at first, though the momentum began to grow, and the
number of red-eyed people had increased with it. With that... It
meant it was an infectious disease. Even if the Empire and the Cult
of the Watchers was destroyed, the disease would still remain,
spreading from person to person.</p>
<p class="para">...
And this spreading illness seemed to have changed its direction...
From vulnerable humans, to the strongest creatures in the <i>world</i>.</p>
<p class="para">She
didn’t know when or where the black dragon had learned this
terrifying truth, or why he wanted the disease to spread...</p>
<p class="para">...
All that was certain was that if dragonkind were allowed to lose
their sense of reason and descend into madness, the world would be
destroyed without a trace. There were <i>no</i>
creatures that were capable of stopping dragonkind with force.</p>
<p class="para">It
was exactly right, the world would have been “Devoured”. <i>By
those mad dragons.</i></p>
<p class="para">Laughter
echoes in the sky. The black dragon turned around and flew away. Caim
let out an exclamatory shout from her back, wanting to tell her to
give chase, and quickly.</p>
<p class="para">His
brethren, who had devoured all the meat and bones, all took off at
once. But even then, the red dragon felt unable to move from its
current place.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">The
darkness of the night was <i>burning</i>.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">Neither
humans nor dragons wish for anything.<br/>
They are starved and
desiccated, and if sated, they cease.</p>
<p class="para">After
devouring the followers of the Cult of the Watchers, the dragons took
off in search of more prey, the flames that spewed from their mouths
burning across the dark sky. Even though it was far from daybreak,
everything was as bright as daytime.</p>
<p class="para">It
was still evening when she had caught up with her brethren that
surrounded the top of the mountain. At that same time, Verdelet had
arrived unexpectedly to the Union soldiers. In less than half a day,
all of them would be devoured and killed.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">It
was just as she had feared — This was no more than a sort of game
to the dragons, just like their “Rebellion” against the Union.
The Union battalion, which had been marching on their way to hunt
down the remnants of the Cult of the Watchers, was destroyed in an
instant. Archers had turned into balls of fire with only a spit of
flames, and large anti-aircraft weapons had been turned into charcoal
without even needing to exert their power.</p>
<p class="para">Having
lost all means of attacking the sky, The Union immediately began
their retreat — But they were not in time. One unit was engulfed in
flames. Another was eaten up by the crazed dragons.</p>
<p class="para">“Now,
only you and I are remaining...”</p>
<p class="para">It
had taken them longer than expected for them to join back to the main
corps, having to use a great deal of time in effort fighting against
dragons that seemed to come from nowhere. Yet even after that...
After dealing with the maddened dragons attacking one after another,
they had found that the main corps of the army itself had
disappeared.</p>
<p class="para">It
wasn’t just the army that had disappeared — The neighbouring
towns and villages had vanished as well. Once towns and villages, and
now a mere feeding ground for dragons. How many humans were enough to
satiate them? The slurping blood and devouring of meat wouldn’t
stop.</p>
<p class="para">After
eating the humans there, they would attack another town or village.
If it was already wiped out, then they would go to the next. Then...</p>
<p class="para">It
seemed likely that it would continue until every human was wiped from
the Earth.</p>
<p class="para">She
thought she felt an indication of laughter.</p>
<p class="para">“Caim?”</p>
<p class="para">She
looked back. Caim was <i>laughing</i>.
He held a bloodied sword in one hand, kneeling down on one knee and
looking for his next prey. By the time he had reached that point, a
number of dragons had already attacked — Some of them had been
killed by Caim.</p>
<p class="para">He
had jumped on the back of the red dragon as if it were a stepping
stone, swinging his sword in the momentum of the fall…….</p>
<p class="para">The
red dragon hurried in the sky as fast as it could to serve as a
landing point for Caim, half amazed and half disgusted at the battle
that seemed as if there was no need at all for the earth beneath
them.</p>
<p class="para">A
crazed dragon flew in from the side with a loud shriek, and Caim
leapt back. While wrapping around them, the red dragon spit fire at
another which attacked from the opposite direction. She didn’t
allow herself to distract Caim.</p>
<p class="para">The
crazed dragon screamed, its eyes struck by Caim’s sword. While
pulling out the blade that had been dug into the hilt, Caim kicked
his foot off from between the dragon’s eyes and jumped. One would
have expected there to be no place to land after jumping.</p>
<p class="para">“Your
actions are absurd...”</p>
<p class="para">...
Still, the red dragon did not miss Caim, who leapt and swung his
sword just as his instinct commanded.</p>
<p class="para">It
was this day that the red dragon had killed many of its own brethren.
But Caim had also done off with an unprecedented number of the
dragons himself.</p>
<p class="para">She
felt that he would be satisfied with this. Caim was the only one left
among the soldiers who had died in horror, crying and screaming.</p>
<p class="para">“You
may be the right person for this world today.”</p>
<p class="para">A
sudden switch of temperament seemed to strike the dragon, and she
chased after Caim with a playful joke. If this was their final
destination, then that was fine.</p>
<p class="para"><br/>
<br/>

</p>
<p class="para">In
the midst of the flames and roars, the red dragon and Caim rushed
through. A dragon with a cut throat, a dragon that was wrapped in
flames, a dragon with a smashed skull, their life came to its end and
they all fell from the sky.</p>
<p class="para">Be
that as it may, how <i>had</i>
that number of the dragons been faring? Even though she was killing
from one end, there was no sign that the dragons were decreasing at
all. <i>Where on Earth
were all of them coming from….!?</i></p>
<p class="para">...
Something happened then. Something unexpected.</p>
<p class="para">Suddenly,
something warm was scattered all over her back. Something crossed her
eyes. Something red, that dripped from the dragon’s ankles.</p>
<p class="para">What
was…. <i>That?</i></p>
<p class="para"><i>Something</i>
had slipped off her back. A cold wind blew on her back where the
warmth had remained.</p>
<p class="para"><i>What?</i>
What was happening? Why did she feel so light?<br/>
Why was she
bathed in Caim’s blood?<br/>
Why was she chasing after him?<br/>
Why
wasn’t he on her back?<br/>
Why...</p>
<p class="para"><i>Why
was Caim falling?</i></p>
<p class="para">He
shouldn’t have been falling. Caim never thought she wouldn’t be
there when he jumped. He had thought she would always be there to
catch him, <i>and yet
...</i><br/>
She wasn’t
reaching him. He was falling, she had to put an end to it. <i>Caim.</i><br/>
<i>She
didn’t want him to fall.</i></p>
<p class="para">Wholeheartedly
did she reach out a hand to him, holding Caim’s weakened body.<br/>
...
A <i>hand?</i>
Why?</p>
<p class="para">She
didn’t care about that. She could only be left in muted shock at
the coldness of the body she held in her arms.</p>
<p class="para">Her
throat trembled. A loud sound left it. Whether it was a scream or a
roar, she didn’t know... It just <i>left
her.</i> For a long,
long time. The wind fanned her hair as her rage began to boil.</p>
<p class="para">Something
flashed before her — The way it had blocked her view infuriated
her, and so she was quick to get rid of it. It had felt as light as
cutting grass, and her field of vision was cleared once more to the
sight of two large, falling bodies.</p>
<p class="para"><i>...
Ah, it wasn’t them ...</i></p>
<p class="para">The
moment she noticed that, her throat stopped trembling. That wasn’t
the dragon. The one who had killed Caim.</p>
<p class="para">“I
will <i>never</i>
forgive….”<br/>
There came a sound of wings, taking flight to the
dragon whose fangs and ankles had been dyed red with the blood of
Caim. Seizing it, forcefully tearing it apart, crushing the
blood-dyed fangs and ripping off the ankles with its limbs alongside
it.</p>
<p class="para">It
wasn’t enough. It still wasn’t enough. Even if she killed the
maddened dragon that had killed Caim. Even if she had torn it into
thousands of pieces. It wasn’t enough.</p>
<p class="para">Claws
were raised against another dragon. While grey matter scattered
round, she slammed its struggling body against the earth.</p>
<p class="para">It
wasn’t enough. Something like this wasn’t enough in the
<i>slightest</i>.</p>
<p class="para">“<i>I
will slaughter you ALL!!”</i></p>
<p class="para">Her
claws outstretched towards their next prey. The back of her throat
began to tremble again. But this time, it wasn’t a cry that left
it.</p>
<p class="para"><i>A
</i><i><b>laugh?</b></i>
<i>Was I laughing?</i></p>
<p class="para">She
didn’t know. With no way to name the feelings inside of her, the
red dragon continued to seek out the blood of her compatriots.</p>
<p class="line"></p>
<p class="para">“Dragons?
... Why?”</p>
<p class="para">Seere,
trembling from his hiding place in the cave of a giant tree, had
forgotten about his tears as he looked up to the sky. The “Devil’s
Dragon”, who had been fighting against the dragons with eyes dyed
red, had suddenly changed its appearance.</p>
<p class="para">Seere
saw the outline of the red dragon shift as it chased the falling
berserker, and in the next moment, it was a <i>human’s</i>
hand that was embracing the body of the madman. The figure, with red
hair fluttering in the wind, was unmistakably <i>human</i>-shaped.</p>
<p class="para">The
only thing that differentiated it from humans were its wings, they
were wings that were reminiscent of that of a bird of prey’s.</p>
<p class="para">Spreading
those ferocious, non-human wings, the once-red dragon held the
berserker’s in one hand.</p>
<p class="para">“Is
that... An angel…?”</p>
<p class="para">When
he was much smaller, Seere had seen an angel in a picture book that
looked just like that. To follow after God, to bless many people.</p>
<p class="para">Was
that red-haired angel there to save him? Or...<br/>
The long hair
fluttered violently in the wind.</p>
<p class="para">“It
disappeared?”</p>
<p class="para">...
No. It was moving. It was flying at a speed he couldn’t imagine
possible with such wings.</p>
<p class="para">Suddenly,
the body of a crazed dragon was split in two. Unsure of what just
happened, Seere stared at the rain of blood that poured from the sky.
The body of the dragon, now in two, made a thundering sound as it
fell before him.</p>
<p class="para">In
the sky, another dragon had been painted with blood. This time,
instead of just two, the other dragon was ripped into chunks of meat.</p>
<p class="para">When
he looked, he saw that the right hand of the red-haired angel had
been dyed with blood. It was then he understood what he was seeing —
With its bare hands, it was tearing apart the crazed dragons
singlehandedly.</p>
<p class="para">Red
hair rushed through the air, the man’s body still held in one arm.</p>
<p class="para">What
a terrifying creature... Tearing apart a <i>dragon</i>,
what was called the strongest creature in the world, with bare hands
like it was nothing more than paper. Would the dragons who were
trying to kill all the humans be reduced to creatures like that?</p>
<p class="para">It
seemed like they were becoming <i>something</i>.
The contours of the other dragons suddenly began to shift, just like
when the red dragon changed shape.</p>
<p class="para">After
a moment, all the dragons had transformed into humans. Just like the
red dragon, they too had wings that grew from their body and
colourful hair which fluttered in the wind. The only difference was
their shining red eyes.</p>
<p class="para">There
came a rise in the sound of the human-shaped monster’s voices. They
were odd voices, ones that seemed as if they didn’t belong to this
world.</p>
<p class="para">The
earth rumbles, and cracks run everywhere. The monster’s flapping
wings form a wind that blows on its surface. Buildings and trees
collapse, boulders tumble down, and dust rushes into a sandstorm.</p>
<p class="para">“I
need to run away...”</p>
<p class="para">There
was nowhere for him to hide anymore. Even knowing that, his legs were
frozen and he couldn’t move.</p>
<p class="para">Where
could he even escape to in the first place? He knew that his being
alive now was only the result of miraculous luck.</p>
<p class="para">“<i>Hgh..!”</i><br/>
Seere
began to cry.</p>
<p class="para">Before
he knew it, two glowing red eyes were staring directly at him. A
mouth, split to its ears, and a face as smooth as a mask grew
immediately closer.<br/>
He saw long nails flash before him. Those
same, sharp claws that tore the dragon’s bodies like paper...<br/>
Seere
couldn’t run away.</p>
<p class="para">“The
Watchers do not laugh!”</p>
<p class="para">Somewhere,
he heard Manah’s voice.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3/A_4030">Previous Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3/Ending-A">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3">Back</a></p>