---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
    
</style>
<TextLayout>
</TextLayout>
<title>Ending A</title>
<p style="margin-top: 1cm; font-size: 300%;">Ending A</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/barnabism">Barnabism</a></p>
<p class="title">Written and Drafted by: Yoko Taro ​</p>
<p class="title"><i>Olu
Olu Olu Olu</i><br/>
<i>La
La La La</i><br/>
<i>Olu
Olu Olu Olu</i><br/>
<i>La
La La La</i> <br/>
<br/>
<br/>

</p>
<p class="line"></p>
<p class="para">Low-hung shadows
and high-pitched screams were meshed together within the darkness. A
roar as deep as thunder, and a scream as sharp as lightning... Though
where the voice had come from was left unclear. Thick and overlapping
clouds mix smoothly together like watercolours, muddying the rays of
the sun. Once and again, lighting hurried to illuminate the dimmed
out earth below, but the gift of such light was thwarted by the thick
fog from beneath.</p>
<p class="para">The world was
about to end. The maddened dragons, having taken human form, first
began with eating humankind. They attacked every village, town and
castle, repeatedly slaughtering and preying. The humans had resisted;
fighting well in several battles, however... In the end they were
unable to compete with the might of the world’s strongest creatures
— Dragons — And within a short period of time, the humans were
deprived of their title of “Champions of Earth”.</p>
<p class="para">The dragons that
devoured humans had children, gave birth, and increased their
numbers. Two times, four times, eight times, sixteen... The large
number of dragons swelled, and filled the sky till it was black,
ever-expanding and never waning. They searched, found, and killed all
those who had hidden in caves or forests. It was hopeless holding
them back, like a black tsunami. All the humans were devoured.</p>
<p class="para">When the dragons
had made humans disappear from the Earth, they began to prey on the
animals of the earth, the trees in the forest, and more. After that,
their mouths grew to fit in all the foggy forests, the hard rocky
mountains, the dirtied mud, and the water of the sea. They no longer
retained the shape of humans, but a large, whiling, organ-like
object.</p>
<p class="para">The lumps of meat
grew eerily after repeated consumption, moulting ever further. They
grew to the size of a towering mountain, and yet they <i>still</i>
grew. The meat filled the horizon, singing incomprehensible songs,
and gradually, it took on the form of a baby. Their fingers erase the
earth beneath them as they cry, and the black miasma that came
exhaled from their mouth robs the sky of the sun. The temperature
shifts suddenly, and the miasma formed a large tornado, destroying
what little bits of life was left on Earth.</p>
<p class="para">The forests, the
seas, the streets, were all destroyed... But perhaps that star alone
wasn’t enough. One of the babies opened its mouth, and began to eat
the other babies.</p>
<p class="para">The red dragon,
in human form, sat from a high place in the ruins of the Earth and
looked down at the infant’s maddened feast. She already knew how it
would end.</p>
<p class="para">After everything
had been reduced to nothing, the babies eventually began to
disappear, themselves. The disease was “Made” to develop in such
ways, after all... Now that she had taken the form of a human, it was
clear — The crazed dragons became people, transforming from person
to baby... And continued to change as time went on. The babies
gathered together, beginning to gradually form a large sphere. A
seed. A device to make this world “Unborn”, to restore everything
to its original state. To end it.</p>
<p class="para">The battle
between the crazed dragons and humankind had come to a close, ending
with the defeat of the human race.</p>
<p class="para">The last-minute
pain spread to the limbs of the red dragon, the poison that had been
sprinkled from the black dragon nearly about to take over her body.
With clenched teeth, her eyes dropped to her lap where she found the
remains of Caim, his eyes quietly closed. The sadness, the anger, and
other such intense emotions no longer bursting forth. Indeed, that
quiet, dead face instinctively made her want to berate and curse at
him, a soldier who even after death, still held his sword in his left
hand. His fingers tied themselves tightly to the grip, blood leaking
through the gaps. Even though his hands were skinned and his nails
were gone, it was still as though he was fighting something...</p>
<p class="para">“... Hmph. You
did your best...”</p>
<p class="para">Spreading each
finger out one by one, she heard a dry and crisp sound of blood.
Eventually, the sword was peeled from the man’s palm, and fell
away... The blade that was lacking in chips or damage, and the handle
that had grown completely soiled with the fat and blood of dragons.
Such a dirty little thing was the only remaining proof left behind
from this man.</p>
<p class="para">The wind blew.
She slowly bundled her red hair in the fingers of his left hand.</p>
<p class="para">“After all this
time, I had not told you. My name...”</p>
<p class="para">Picking up the
man’s sword with her right hand, she placed the blade to her hair
and slowly, she cut it off. A bundle of red threads, like a roll of
tiny golden scales. She placed her hair on his palm, crawling slowly
over the man’s body.</p>
<p class="para">His body looked
horrible. His right arm was torn off with the shoulder, and the
remaining entrails and organs hung down from his abdomen. More than
half had been eaten by dragons. Long hair wrapped around that injured
body.</p>
<p class="para">Eventually, as
the red hair shimmered, the man’s body began to burn.</p>
<p class="line"></p>
<p class="para"><font size="4" style="font-size: 14pt">When
I was desperate and set to disappear from this world, feeling
lethargic and misanthropic, I met him on that snowy mountain.</p>
<p class="para"><font size="4" style="font-size: 14pt">At
first, I couldn’t understand that man at all. Generally, humans
that encountered dragons tended to take two kinds of actions —
Would he stand in awe and subordination? Or leave himself to anger
and attack? It would be one of those two.</p>
<p class="para"><font size="4" style="font-size: 14pt">But,
this man behaved completely differently. He had no consideration for
his own life; all this man wanted was the power of a dragon. The man
didn’t think of himself, but only of the darkness of the revenge
that lay beyond him.</p>
<p class="para"><font size="4" style="font-size: 14pt">It
was a complex emotion that rested between justice and hatred. And
those days of slaughter gave birth to hatred, which eroded the spirit
of the man.</p>
<p class="para"><font size="4" style="font-size: 14pt">One
time, he burned down all the harmless natives of the forest, and
enemy soldiers with them. Another time, he sacrificed all his
companions just to get a powerful weapon. Every time, he didn’t
hesitate to throw something away in order to get something else.</p>
<p class="para"><font size="4" style="font-size: 14pt">But,
through it all... How was I? At that time, I had given up on
everything and spent all my time in a rock hole, a land of loneliness
I had arrived at after being left exhausted from war.</p>
<p class="para"><font size="4" style="font-size: 14pt">At
first, I held no interest in this man…. No, humans had made me grow
tired of this world. But, this man had dragged me from the cave and
threw me back into the war.</p>
<p class="para"><font size="4" style="font-size: 14pt">In
harsh battles and gritty situations, I felt the fire light up in my
heart again, shaking the cruel thoughts I had held that said it made
no sense to live. As the man gradually broke and lost his soul, I, in
turn, had regained my own.</p>
<p class="para"><font size="4" style="font-size: 14pt">And,
now…. Now, I feel like I’ve finally realised the darkness Caim
was trapped in.</p>
<p class="line"></p>
<p class="para"><font size="4" style="font-size: 14pt">Her
body was in deep pain. She wanted to immerse herself in the afterglow
a little more. She wanted to share this time with him, the time when
all mankind turned to ash. …. But, there wasn’t much left.</p>
<p class="para"><font size="4" style="font-size: 14pt">She
undid the last lock left in her body.</p>
<p class="para"><font size="4" style="font-size: 14pt">A
black pattern spread from the tips of her fingers, and the urge to
devour everything erupted from the depths of her heart. The sensation
of her instinct being forcibly rewritten made her nauseous. She had
to do it while she was still <font size="4" style="font-size: 14pt"><i>herself</i><font size="4" style="font-size: 14pt">.</p>
<p class="para">“<font size="4" style="font-size: 14pt">Shall
we go, now….?”</p>
<p class="para"><font size="4" style="font-size: 14pt">She
gently laid the burnt remains of Caim on the ground. The huge sphere,
made from the cluster of oddly shaped babies, swayed ahead of the
soaring sparks.</p>
<p class="para"><font size="4" style="font-size: 14pt">Farewell,
humans.</p>
<p class="para"><font size="4" style="font-size: 14pt">Farewell,
dragons.</p>
<p class="para"><font size="4" style="font-size: 14pt">This
was the end of the world.</p>
<p class="para"><font size="4" style="font-size: 14pt">She
grasped the sword, and slowly spread her wings. Her whole body was
wrapped within black flames.</p>
<p class="para"><font size="4" style="font-size: 14pt">Farewell,
my friend.</p>
<p class="para"><font size="4" style="font-size: 14pt">The
red dragon took off, heading towards the end of the storm. A twisted
smile was stuck to her face.</p>
<p class="para"><font size="4" style="font-size: 14pt">It
was a smile like that man’s, burning with revenge.</p>
<img src="https://i.imgur.com/srLsDVR.jpeg">
<p class="line"></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3/A_5040">Previous Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3">Back</a></p>