A---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---
<style>
        img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
        img.wow{
        @media screen and (orientation: landscape)
{
    width: 100%;
    height: 100%;
}
    }
    
</style>
<TextLayout>
</TextLayout>
<title>Outline</title>
<p style="margin-top: 1cm; font-size: 300%;">Outline</p>
<p style="margin-top: 0.4cm; font-size: 200%;">Translator: <a href="/credits/people/barnabism">Barnabism</a></p>
<p class="para">Derived from the Ending A branch of Drakengard 3, Drakengard 1.3 is a different perspective… A never before-seen Drakengard 1. A story of Caim, the Red Dragon, and others, conceptualised by Drakengard 3’s creative director, Yoko Taro. The scale of the project will be told through novels, chronological tables, and illustrations. ​</p>
<p class="line"></p>
<p class="para">An introduction of information you should know in advance to reading the novels. It will explain the timeline of Drakengard 1.3 in the Drakengard series while looking back on the original “Drakengard” videogame.</p>
<p class="title">The world of Drakengard 1.3</p>
<p class="para">A new battle for Caim, the Red Dragon, and more continues in the world created from Branch A of Drakengard 3!
    <br><br>The Drakengard series has been found to depict the story of a branching multidimensional world due to the branching phenomenon caused by singularities. In the words of creative director Yoko taro, it has been revealed that the story of Drakengard 3 does not have a direct connection to the world of Drakengard 1. Then, what kind of future would Caim, the Red Dragon, and their comrades have in a world where the battle of the Intoners was fought? One answer to such a question rests in the form of a novel — Drakengard 1.3.
    <br><br>The story’s stage is set in a world that continues from Branch A of Drakengard 3. About 100 years have passed since the battle of Zero and her allies reached its end. The current world is torn by a fierce battle between the Empire, a force leading a ferocious army and expanding its power, and the Union that opposed it. The Empire is held strongly together by a religious organisation known as The Cult of the Watchers, and is expanding its reach. Though outnumbered by the Union, the power of the red-eyed soldiers is immense, and the battle is slowly growing in their favour. Meanwhile Caim, a young man whose homeland was destroyed in an attack by red-eyed humans and a black dragon, joined the Union in his quest for revenge and became a mercenary. The story of Drakengard 1.3 begins when the priest Verdelet, taking notice of Caim’s power, divulges in him a plan…
    <br><br>Additionally, this “Drakengard 1.3” is one of the remake ideas for Drakengard 1 that was submitted by Yoko Taro when developing Drakengard 3. This project was once sealed, but the flowcharts and character settings that had been considered at that time can finally be given the chance to see the light of day in this novel project.
</p>
<p class="title">Drakengard 1.3 Flowchart</p>
<img src="https://i.imgur.com/KF5sg7T.png">
<p class="title">Drakengard World Connection</p>
<p class="para">The diagram below shows the connections between the main entries in the Drakengard series. Note that Drakengard 1.3 is a continuation of Branch A of Drakengard 3 and takes place after the comic “Shi Ni Ataru Aka”.</p>
<img class="wow" src="https://i.imgur.com/OHJTd49.png">
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3/A_0010">Next Chapter</a></p>
<p class="menu"><a href="/stories/drakengard-3/drakengard-1.3">Back</a></p>