---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/karist.css'
---

<BaseLayout>
</BaseLayout>
<title>Drakengard 1.3</title>
<h1><a href="https://drive.google.com/file/d/1wkOiEr3TOMmKPVAmK2QeHTapncGFk2xx/view">
    A_010<img src="https://i.imgur.com/3Gqen2I.png" alt="Drakengard 1.3 Chapter 1"></a></h1>
<h1><a href="https://drive.google.com/file/d/1I5b68kSbPu-xIIJMK2RsIiiZQteZssb7/view?usp=sharing">
    A_2040<img src="https://i.imgur.com/MGz3qD7.png" alt="Drakengard 1.3 Chapter 2"></a></h1>
<h1><a href="https://drive.google.com/file/d/1cNmfoYiohHargqe1EqGGg48f6PABeNBr/view?usp=sharing">
    A_3010<img src="https://i.imgur.com/I3mbcIj.png" alt="Drakengard 1.3 Chapter 3"></a></h1>
<h1><a href="https://drive.google.com/file/d/1yIBbaJRsIhdYzBXG1Q_Df1z1n5ONAsi-/view?usp=sharing">
    A_4010<img src="https://i.imgur.com/s8vVa73.png" alt="Drakengard 1.3 Chapter 4"></a></h1>    
<h1><a href="https://drive.google.com/file/d/186wFRb9O8mGCuEedWjUxuZXhgxKEIJdU/view?usp=sharing">
    A_4030<img src="https://i.imgur.com/5Kfdkoj.png" alt="Drakengard 1.3 Chapter 5"></a></h1>
<h1><a href="https://drive.google.com/file/d/1amwE1DcqbyoG3Bqnc6Vf_8RVQxO_PQ7T/view?usp=sharing">
    A_5040<img src="https://i.imgur.com/jHxHBfa.png" alt="Drakengard 1.3 Chapter 6"></a></h1>   
<h1><a href="https://drive.google.com/file/d/1DZ9ohhfNhdJLbQfoJuHVZhWl2h5Cnsm7/view?usp=sharing">
    Ending A<img src="https://i.imgur.com/fKFknIK.png" alt="Drakengard 1.3 Chapter 7"></a></h1>        
<p><a href="/stories/dr1">Back</a><a href="/ths">&nbsp&nbspHome</a></p>
