---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>Drakengard 1.3</title>
<h1><a href="https://drive.google.com/file/d/1wkOiEr3TOMmKPVAmK2QeHTapncGFk2xx/view">
    A_010<img class="art" src="https://i.imgur.com/3Gqen2I.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1I5b68kSbPu-xIIJMK2RsIiiZQteZssb7/view?usp=sharing">
    A_2040<img class="art" src="https://i.imgur.com/MGz3qD7.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1cNmfoYiohHargqe1EqGGg48f6PABeNBr/view?usp=sharing">
    A_3010<img class="art" src="https://i.imgur.com/I3mbcIj.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1yIBbaJRsIhdYzBXG1Q_Df1z1n5ONAsi-/view?usp=sharing">
    A_4010<img class="art" src="https://i.imgur.com/s8vVa73.png"></a></h1>    
<h1><a href="https://drive.google.com/file/d/186wFRb9O8mGCuEedWjUxuZXhgxKEIJdU/view?usp=sharing">
    A_4030<img class="art" src="https://i.imgur.com/5Kfdkoj.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1amwE1DcqbyoG3Bqnc6Vf_8RVQxO_PQ7T/view?usp=sharing">
    A_5040<img class="art" src="https://i.imgur.com/jHxHBfa.png"></a></h1>   
<h1><a href="https://drive.google.com/file/d/1DZ9ohhfNhdJLbQfoJuHVZhWl2h5Cnsm7/view?usp=sharing">
    Ending A<img class="art" src="https://i.imgur.com/fKFknIK.png"></a></h1>        
    <p class="menu"><a href="/stories/dr3">Back</a></p>
