---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/karist.css'
---

<BaseLayout>
</BaseLayout>
<title>Stories</title>
<h1><a href="https://drive.google.com/file/d/1epSnGG0T9n0g1Gam7A_dUI3WrbsBgG6S/view?usp=sharing">
    Zero's DLC<img src="https://i.imgur.com/hg3q00y.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1M8IRxMLaq2GXtz-l6rsYWahLpxJeSaPR/view?usp=sharing">
    One's DLC<img src="https://i.imgur.com/unQ4CbG.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1YGF_FiEQJIR9sckqeQlVvpFOccMUVzLU/view?usp=sharing">
    Two's DLC<img src="https://i.imgur.com/LNFrdIV.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1hOswI5kC9rOWHtMfpQqeGE9WlTz0LUZo/view?usp=sharing">
    Three's DLC<img src="https://i.imgur.com/aeFBIcP.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1DlfFshqTIX1d1CK9jNwKNINoUUkwleAI/view?usp=sharing">
    Four's DLC<img src="https://i.imgur.com/M7GfK03.png"></a></h1>
<h1><a href="https://drive.google.com/file/d/1y0JsUi1WEhhlIBTRFJlvDA-pIFxL_anO/view?usp=sharing">
    Five's DLC<img src="https://i.imgur.com/RUvLvU1.png"></a></h1>
<p><a href="/stories/dr3">Back</a><a href="/ths">&nbsp&nbspHome</a></p>