---
import BaseLayout from "@/layouts/BaseLayout.astro"
import '@/styles/text.css'
---

<BaseLayout>
</BaseLayout>
<title>Prelude Novellas</title>
<h1><a href="https://drive.google.com/file/d/1IuZ6cX-rCnkqdTG0oO-dGP_6c7w7IWcl/view?usp=sharing">
    A Rain to End and a Flower to Begin<img class="art" src="https://i.imgur.com/LK5nDGe.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1fN1ymDEEkhoGKfjMNXhcwJcStLI_17og/view?usp=sharing">
   The Gone-Away<img class="art" src="https://i.imgur.com/uyhdLJV.png"></a></h1>
   <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1VawUvGHA1cQ6_tr814_uGf86s73Ll1g6/view?usp=sharing">
    Our Mistake<img class="art" src="https://i.imgur.com/oIw7jLn.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1yp1uXJ5OVa_HTyfml67M_8GgbYoLN1PU/view?usp=sharing">
    Visitors<img class="art" src="https://i.imgur.com/i9TStrR.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1s1bvvf0A2EMIDmTWlU5Qc0gNz9X4okRh/view?usp=sharing">
    Mirror, Mirror<img class="art" src="https://i.imgur.com/fwl17CI.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1kMtD8FMg_rsYTv-JS5eN6ROVLHC1xrO_/view?usp=sharing">
    Today's Meal<img class="art" src="https://i.imgur.com/qXy2Y3f.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1_N0Ta5o6p_ClkXG95rkWeEAhViVasQdk/view?usp=sharing">
    The Jewel Within My Palm<img class="art" src="https://i.imgur.com/BQqyORq.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1ttXtDAO4gYDBUMYoQkwvhoR3Gx-7CEvf/view?usp=sharing">
    My Dear, Sweet Little Dolls<img class="art" src="https://i.imgur.com/1kDuvds.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1EobpoBNp6TQKMpMhUhCl0pu9_H5UWTbX/view?usp=sharing">
    The Joy of...<img class="art" src="https://i.imgur.com/6WKV5qQ.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1oZ8oaqSM6aBCB3e2St9Jm66-Q4KfVH4n/view?usp=sharing">
    Family Portrait<img class="art" src="https://i.imgur.com/1RTDYeR.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1Fc4OQRdItv0MkQimWWr6vitF1v9VJPIa/view?usp=sharing">
    My Favourite Things<img class="art" src="https://i.imgur.com/oVSMKDl.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/1cBV8IfFDLeg8DLQDbj0fSofFF7FG9Lvf/view?usp=sharing">
    This Ugly World<img class="art" src="https://i.imgur.com/y13URiv.png"></a></h1>
    <p class="line"></p>
<h1><a href="https://drive.google.com/file/d/18lX8PSE4k63scb1VpSnYgJNXqMM4Jp-c/view?usp=sharing">
    Weapon Tales<img class="art" src="https://i.imgur.com/SGapjwC.png"></a></h1>
    <p class="line"></p>
    <p class="menu"><a href="/stories/dr3">Back</a></p>