---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Yuzuki's Character Story</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Yuzuki's Character Story</p>
<p class="title">Chapter 1</p>
<p class="para">It happened when I started elementary school.<br>I used to come home crying every day.<br>I was extremely shy, and my classmates saw<br>that weakness and took to bullying me.<br>I'd try to wipe the tears away and put on a<br>brave face, but Mom always knew.<br>She'd ask if something happened, and I would just nod.<br>She never said anything else; she'd just sit there and quietly stroke my hair.<br>I remember moonlight pouring in through a window.<br>I used to lie in her bed while she sang me a lullaby.<br>I don't remember the words exactly, but it went something like this:<br>"Though the moon stands alone in the night sky,<br>its gentle light shows the way for everyone else."<br>Part of my name means "moon"—<br>Mom apparently named me after the lullaby.<br>She wanted me to be the kind of person who helped others.<br>Even if no one sought me out specifically. Even if I didn't fit in.<br>The moment she told me this, I swore to become the moon.</p>
<p class="title">Chapter 2</p>
<p class="para">I was shy as ever when I started middle school.<br>Everyone else could just strike up conversations with perfect strangers,<br>and they all had tons of new friends within the first week.<br>I couldn't begin to fathom how their brains worked.<br>But I was used to being alone.<br>Around that time, I saw a boy in glasses<br>being bullied in a secluded staircase.<br>The bullying was typical—even cliche.<br>Like something you'd see in a bad movie.<br>The timid boy was surrounded by a group of larger classmates.<br>They were pushing him around. Demanding his money.<br>It was painful to watch.<br>The boy in glasses eventually pulled out a<br>thousand-yen note from his wallet.<br>But the moment he did, a bucket of water came<br>crashing over the bullies' heads.<br>They were soaked from head to foot.<br>"We'll get you for this!" they shouted as they ran away.<br>It was me, of course. I'm the one who threw the water.<br>And then I watched as they scurried up<br>the stairs and escaped to the floor above.</p>
<p class="title">Chapter 3</p>
<p class="para">After I helped the boy in glasses escape his tormentors,<br>I was reminded of Mom's lullaby.<br>Maybe I really <i>could</i> help others.<br>After that, I made a point of stopping bullying whenever I saw it.<br>Like that day in science class...<br>When the classroom skeleton with limbs attached<br>to string suddenly started dancing.<br>Or the day on the landing...<br>Where a wave of ping pong balls came clattering down the stairs.<br>Each time, the bullies ran away howling with their tails between their legs.<br>I loved seeing that; it was such a hilarious<br>contrast to their usual invincible air.<br>But the last time I stood there laughing as the<br>bullies scattered, I heard a voice behind me:<br>"Was that you?"<br>It was the boy in glasses. Though I'd helped him from the shadows<br>again and again, that was the first time he'd spoken to me.<br>Unsure what to say in response, I could only bring myself to nod.</p>
<p class="title">Chapter 4</p>
<p class="para">That day, the hum of cicadas provided a comforting<br>background noise as the sun set over the school.<br>I stood waiting at the gates.<br>The boy with glasses had asked me to walk home with him.<br>When was the last time I left school with someone else?<br>Brilliant orange light reflected off the windows of<br>skyscrapers as we made our way home.<br>We walked in perfect silence.<br>Honestly, I had no idea what to say.<br>But though I felt somewhat lost, I also felt a strange sense of comfort.<br>We passed through the busy part of town and came to an empty street.<br>When we did, the boy with glasses finally spoke:<br>"Please don't bother me anymore.<br>Things are easier when I'm being bullied.<br>I don't want to be a loner like you."<br>We parted ways after that, and I took my usual route home.<br>The moon shone lonely against the pitch-black curtain of night.<br><i>Can I ever be like the moon, Mom?</i><br>I stared at the sky the entire way home.<br>The sharp edges of the beautiful moon blurring beneath my tears.</p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/yuzuki">Back</a></p>