---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Yuzuki's Frozen Heart</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Yuzuki's Frozen Heart</p>
<p class="title"><a href="https://www.youtube.com/watch?v=jwHqgtAfSbU&list=PLVYSdObKcnDI8ybAtl4EiXA04VmyATLMA"><u>Video</u></a></p>

<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/yuzuki">Back</a></p>