---
import TextLayout from "@/layouts/TextLayout.astro"
import '@/styles/text.css'
---

<TextLayout>
</TextLayout>
<title>Yuzuki</title>
<style>
    img{
        @media screen and (orientation: portrait)
{
    width: 80%;
    height: 80%;
}
    }
    img{
        @media screen and (orientation: landscape)
{
    width: 35%;
    height: 35%;
}
    }
</style>

<p style="margin-top: 1cm; font-size: 300%;">Yuzuki</p>
<p class="title"><a href="https://www.youtube.com/watch?v=J-Mk5bQfyZg"><u>Video</u></a></p>
<img src="https://i.imgur.com/Hd8UERM.png">
<p class="title">Chapter 1</p>
<p class="para">In the library of a metropolitan high school,<br>a boy is reading over a complicated technical manual.<br>A place apart from the usual bustle of youth, this<br>library is like a sanctuary to him. But unfortunately,<br>on this day, the chatter of other students is an<br>annoyance too great for him to bear, causing him<br>to abandon his study earlier than expected.<br>After getting teased for always being alone,<br>the boy heads to the hospital where his mother is admitted.<br><br>Naturally frail, his mother lost even the ability to stand<br>due to the abuse she suffered at the hands of her ex-husband—the<br>boy's father. He finds a photograph on the floor of his mother's<br>hospital room. It shows his big sister, who went to live their father,<br>and captures a moment in time when his parents were happy together.<br>The boy now devotes himself to his studies so he might<br>one day save his dear mother, and he<br>doesn't care if he has to walk that path in solitude.</p>
<p class="title">Chapter 2</p>
<p class="para">The boy devotes his entire life to becoming a doctor<br>so he might save his bedridden mother.<br>He feels intense stress whenever confronted with the<br>absurdities of modern society, but he does his best all the same.<br>One day, he is called upon by his mother's physician and confronted<br>with a devastating truth: His mother's congenital heart condition has<br>worsened, and she very little time left. The boy pleads with the doctor,<br>insisting there must be some way to save her, and the doctor<br>says a heart transplant is her only hope.<br>There would be many hurdles to overcome, including finding a suitable<br>donor and paying for the costly procedure. Thinking on how it's his<br>father's fault that his mother's life is in danger, he feels a hot rage<br>accumulating in his heart. In his mother's hospital room,<br>the boy agonizes as he holds her hand in his own...but then an idea<br>comes to him. Noticing his own heart beating in his chest,<br>he wonders if he could offer it up to save his mother.</p>
<p class="title">Chapter 3</p>
<p class="para">The boy wanders the darkness of his own mind.<br>In doing so, he is reminded that there is no place for him in this world.<br>The only thing that keeps him going despite it all is thoughts of his mother,<br>who has always been on his side no matter what. He steels his resolve to<br>sacrifice his own life to save his mother's. He will use poison purchased<br>on a shady website to cause his brain to die while leaving his heart intact for<br>his mother. The boy brings the poison to his mouth, and his final moments<br>feel as though they will last into eternity...but then his phone rings.<br><br>After rushing to the hospital, he is greeted by the sight of his<br>mother dead in her hospital bed. The boy then remains by her side,<br>weeping at the loss of his last remaining beam of moonlight.</p>
<p class="title">Chapter 4</p>
<p class="para"></p>
<p class="line"></p>
<p class="menu"><a href="/stories/reincarnation/characters/s2/yuzuki">Back</a></p>